openapi: 3.0.1
info:
  description: The Private DNS Management Client.
  title: PrivateDnsManagementClient
  version: 2018-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/privatedns/resource-manager/Microsoft.Network/stable/2018-09-01/privatedns.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: privatedns
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/privateDnsZones:
    get:
      description: Lists the Private DNS zones in all resource groups in a subscription.
      operationId: private_zones_list
      parameters:
      - description: "The maximum number of Private DNS zones to return. If not specified,\
          \ returns up to 100 zones."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - PrivateZones
      x-ms-examples:
        GET Private DNS Zone by Subscription:
          parameters:
            api-version: 2018-09-01
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Network/privateDnsZones?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com
                  location: global
                  name: privatezone1.com
                  properties:
                    maxNumberOfRecordSets: 5000
                    maxNumberOfVirtualNetworkLinks: 100
                    maxNumberOfVirtualNetworkLinksWithRegistration: 50
                    numberOfRecordSets: 1
                    numberOfVirtualNetworkLinks: 0
                    numberOfVirtualNetworkLinksWithRegistration: 0
                    provisioningState: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.Network/privateDnsZones
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup2/providers/Microsoft.Network/privateDnsZones/privatezone2.com
                  location: global
                  name: privatezone2.com
                  properties:
                    maxNumberOfRecordSets: 5000
                    maxNumberOfVirtualNetworkLinks: 100
                    maxNumberOfVirtualNetworkLinksWithRegistration: 50
                    numberOfRecordSets: 1
                    numberOfVirtualNetworkLinks: 0
                    numberOfVirtualNetworkLinksWithRegistration: 0
                    provisioningState: Succeeded
                  type: Microsoft.Network/privateDnsZones
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_zones_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones:
    get:
      description: Lists the Private DNS zones within a resource group.
      operationId: private_zones_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - PrivateZones
      x-ms-examples:
        GET Private DNS Zone by Resource Group:
          parameters:
            api-version: 2018-09-01
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com
                  location: global
                  name: privatezone1.com
                  properties:
                    maxNumberOfRecordSets: 5000
                    maxNumberOfVirtualNetworkLinks: 100
                    maxNumberOfVirtualNetworkLinksWithRegistration: 50
                    numberOfRecordSets: 1
                    numberOfVirtualNetworkLinks: 0
                    numberOfVirtualNetworkLinksWithRegistration: 0
                    provisioningState: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.Network/privateDnsZones
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone2.com
                  location: global
                  name: privatezone2.com
                  properties:
                    maxNumberOfRecordSets: 5000
                    maxNumberOfVirtualNetworkLinks: 100
                    maxNumberOfVirtualNetworkLinksWithRegistration: 50
                    numberOfRecordSets: 1
                    numberOfVirtualNetworkLinks: 0
                    numberOfVirtualNetworkLinksWithRegistration: 0
                    provisioningState: Succeeded
                  type: Microsoft.Network/privateDnsZones
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_zones_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}
  : delete:
      description: "Deletes a Private DNS zone. WARNING: All DNS records in the zone\
        \ will also be deleted. This operation cannot be undone. Private DNS zone\
        \ cannot be deleted unless all virtual network links to it are removed."
      operationId: private_zones_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The ETag of the Private DNS zone. Omit this value to always delete
          the current zone. Specify the last-seen ETag value to prevent accidentally
          deleting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Private DNS zone has been deleted.
        "202":
          content: {}
          description: The Private DNS zone delete operation has been accepted and
            will complete asynchronously.
        "204":
          content: {}
          description: The Private DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - PrivateZones
      x-ms-examples:
        DELETE Private DNS Zone:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01
                Location: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01
                Retry-After: "60"
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.private_zones_controller
    get:
      description: "Gets a Private DNS zone. Retrieves the zone properties, but not\
        \ the virtual networks links or the record sets within the zone."
      operationId: private_zones_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - PrivateZones
      x-ms-examples:
        GET Private DNS Zone:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com
                location: global
                name: privatezone1.com
                properties:
                  maxNumberOfRecordSets: 5000
                  maxNumberOfVirtualNetworkLinks: 100
                  maxNumberOfVirtualNetworkLinksWithRegistration: 50
                  numberOfRecordSets: 1
                  numberOfVirtualNetworkLinks: 0
                  numberOfVirtualNetworkLinksWithRegistration: 0
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/privateDnsZones
      x-openapi-router-controller: openapi_server.controllers.private_zones_controller
    patch:
      description: Updates a Private DNS zone. Does not modify virtual network links
        or DNS records within the zone.
      operationId: private_zones_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The ETag of the Private DNS zone. Omit this value to always overwrite
          the current zone. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateZone'
        description: Parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: The Private DNS zone has been updated.
        "202":
          content: {}
          description: The Private DNS zone update operation has been accepted and
            will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - PrivateZones
      x-ms-examples:
        PATCH Private DNS Zone:
          parameters:
            api-version: 2018-09-01
            parameters:
              tags:
                key2: value2
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com
                location: global
                name: privatezone1.com
                properties:
                  maxNumberOfRecordSets: 5000
                  maxNumberOfVirtualNetworkLinks: 100
                  maxNumberOfVirtualNetworkLinksWithRegistration: 50
                  numberOfRecordSets: 1
                  numberOfVirtualNetworkLinks: 0
                  numberOfVirtualNetworkLinksWithRegistration: 0
                  provisioningState: Succeeded
                tags:
                  key2: value2
                type: Microsoft.Network/privateDnsZones
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01
                Location: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.private_zones_controller
    put:
      description: Creates or updates a Private DNS zone. Does not modify Links to
        virtual networks or DNS records within the zone.
      operationId: private_zones_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The ETag of the Private DNS zone. Omit this value to always overwrite
          the current zone. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new Private DNS zone to be created, but\
          \ to prevent updating an existing zone. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateZone'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: The Private DNS zone has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: The Private DNS zone has been created.
        "202":
          content: {}
          description: The Private DNS zone upsert operation has been accepted and
            will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - PrivateZones
      x-ms-examples:
        PUT Private DNS Zone:
          parameters:
            api-version: 2018-09-01
            parameters:
              location: Global
              tags:
                key1: value1
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com
                location: global
                name: privatezone1.com
                properties:
                  maxNumberOfRecordSets: 5000
                  maxNumberOfVirtualNetworkLinks: 100
                  maxNumberOfVirtualNetworkLinksWithRegistration: 50
                  numberOfRecordSets: 1
                  numberOfVirtualNetworkLinks: 0
                  numberOfVirtualNetworkLinksWithRegistration: 0
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/privateDnsZones
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com
                location: global
                name: privatezone1.com
                properties:
                  maxNumberOfRecordSets: 5000
                  maxNumberOfVirtualNetworkLinks: 100
                  maxNumberOfVirtualNetworkLinksWithRegistration: 50
                  numberOfRecordSets: 1
                  numberOfVirtualNetworkLinks: 0
                  numberOfVirtualNetworkLinksWithRegistration: 0
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/privateDnsZones
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01
                Location: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.private_zones_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/ALL
  : get:
      description: Lists all record sets in a Private DNS zone.
      operationId: record_sets_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name to be used to filter\
          \ the record set enumeration. If this parameter is specified, the returned\
          \ enumeration will only contain records that end with \".<recordsetnamesuffix>\"\
          ."
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        GET Private DNS Zone ALL Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/ALL?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda
                  name: recorda
                  properties:
                    aRecords:
                    - ipv4Address: 1.2.3.4
                    fqdn: recorda.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/A
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/CNAME/recordcname
                  name: recordcname
                  properties:
                    cnameRecord:
                      cname: contoso.com
                    fqdn: recordcname.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/CNAME
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/MX/recordmx
                  name: recordmx
                  properties:
                    fqdn: recordmx.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    mxRecords:
                    - exchange: mail.contoso1.com
                      preference: 0
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/MX
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks
  : get:
      description: Lists the virtual network links to the specified Private DNS zone.
      operationId: virtual_network_links_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: "The maximum number of virtual network links to return. If not\
          \ specified, returns up to 100 virtual network links."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLinkListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - VirtualNetworkLinks
      x-ms-examples:
        Get Private DNS Zone Virtual Network Links:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/virtualNetworkLinks?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1
                  location: global
                  name: virtualNetworkLink1
                  properties:
                    provisioningState: Succeeded
                    registrationEnabled: false
                    virtualNetwork:
                      id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
                    virtualNetworkLinkState: Completed
                  tags:
                    key1: value1
                  type: Microsoft.Network/privateDnsZones/virtualNetworkLinks
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink2
                  location: global
                  name: virtualNetworkLink2
                  properties:
                    provisioningState: Succeeded
                    registrationEnabled: true
                    virtualNetwork:
                      id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
                    virtualNetworkLinkState: InProgress
                  type: Microsoft.Network/privateDnsZones/virtualNetworkLinks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_links_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks/{virtualNetworkLinkName}
  : delete:
      description: "Deletes a virtual network link to the specified Private DNS zone.\
        \ WARNING: In case of a registration virtual network, all auto-registered\
        \ DNS records in the zone for the virtual network will also be deleted. This\
        \ operation cannot be undone."
      operationId: virtual_network_links_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The name of the virtual network link.
        in: path
        name: virtualNetworkLinkName
        required: true
        schema:
          type: string
      - description: The ETag of the virtual network link to the Private DNS zone.
          Omit this value to always delete the current zone. Specify the last-seen
          ETag value to prevent accidentally deleting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The virtual network link to the Private DNS zone has been deleted.
        "202":
          content: {}
          description: The operation to delete virtual network link to the Private
            DNS zone has been accepted and will complete asynchronously.
        "204":
          content: {}
          description: The virtual network link to the Private DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - VirtualNetworkLinks
      x-ms-examples:
        DELETE Private DNS Zone Virtual Network Link:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
            virtualNetworkLinkName: virtualNetworkLink1
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01
                Location: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01
                Retry-After: "60"
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_network_links_controller
    get:
      description: Gets a virtual network link to the specified Private DNS zone.
      operationId: virtual_network_links_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The name of the virtual network link.
        in: path
        name: virtualNetworkLinkName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - VirtualNetworkLinks
      x-ms-examples:
        GET Private DNS Zone Virtual Network Link:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
            virtualNetworkLinkName: virtualNetworkLink1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1
                location: global
                name: virtualNetworkLink1
                properties:
                  provisioningState: Succeeded
                  registrationEnabled: false
                  virtualNetwork:
                    id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
                  virtualNetworkLinkState: Completed
                tags:
                  key1: value1
                type: Microsoft.Network/privateDnsZones/virtualNetworkLinks
      x-openapi-router-controller: openapi_server.controllers.virtual_network_links_controller
    patch:
      description: Updates a virtual network link to the specified Private DNS zone.
      operationId: virtual_network_links_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The name of the virtual network link.
        in: path
        name: virtualNetworkLinkName
        required: true
        schema:
          type: string
      - description: The ETag of the virtual network link to the Private DNS zone.
          Omit this value to always overwrite the current virtual network link. Specify
          the last-seen ETag value to prevent accidentally overwriting any concurrent
          changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink'
        description: Parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: The virtual network link to the Private DNS zone has been updated.
        "202":
          content: {}
          description: The operation to link virtual network link to Private DNS zone
            has been accepted and will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - VirtualNetworkLinks
      x-ms-examples:
        PATCH Private DNS Zone Virtual Network Link:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                registrationEnabled: true
              tags:
                key2: value2
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
            virtualNetworkLinkName: virtualNetworkLink1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1
                location: global
                name: virtualNetworkLink1
                properties:
                  provisioningState: Succeeded
                  registrationEnabled: true
                  virtualNetwork:
                    id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
                  virtualNetworkLinkState: Completed
                tags:
                  key2: value2
                type: Microsoft.Network/privateDnsZones/virtualNetworkLinks
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01
                Location: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_links_controller
    put:
      description: Creates or updates a virtual network link to the specified Private
        DNS zone.
      operationId: virtual_network_links_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The name of the virtual network link.
        in: path
        name: virtualNetworkLinkName
        required: true
        schema:
          type: string
      - description: The ETag of the virtual network link to the Private DNS zone.
          Omit this value to always overwrite the current virtual network link. Specify
          the last-seen ETag value to prevent accidentally overwriting any concurrent
          changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new virtual network link to the Private\
          \ DNS zone to be created, but to prevent updating an existing link. Other\
          \ values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: The virtual network link to the Private DNS zone has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: The virtual network link to the Private DNS zone has been created.
        "202":
          content: {}
          description: The operation to upsert virtual network link to the Private
            DNS zone has been accepted and will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - VirtualNetworkLinks
      x-ms-examples:
        PUT Private DNS Zone Virtual Network Link:
          parameters:
            api-version: 2018-09-01
            parameters:
              location: Global
              properties:
                registrationEnabled: false
                virtualNetwork:
                  id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
              tags:
                key1: value1
            privateZoneName: privatezone1.com
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
            virtualNetworkLinkName: virtualNetworkLink1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1
                location: global
                name: virtualNetworkLink1
                properties:
                  provisioningState: Succeeded
                  registrationEnabled: false
                  virtualNetwork:
                    id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
                  virtualNetworkLinkState: Completed
                tags:
                  key1: value1
                type: Microsoft.Network/privateDnsZones/virtualNetworkLinks
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1
                location: global
                name: virtualNetworkLink1
                properties:
                  provisioningState: Succeeded
                  registrationEnabled: false
                  virtualNetwork:
                    id: /subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName
                  virtualNetworkLinkState: Completed
                tags:
                  key1: value1
                type: Microsoft.Network/privateDnsZones/virtualNetworkLinks
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01
                Location: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_links_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}
  : get:
      description: Lists the record sets of a specified type in a Private DNS zone.
      operationId: record_sets_list_by_type
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The type of record sets to enumerate.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name to be used to filter\
          \ the record set enumeration. If this parameter is specified, the returned\
          \ enumeration will only contain records that end with \".<recordsetnamesuffix>\"\
          ."
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        GET Private DNS Zone A Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: A
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/A?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda1
                  name: recorda1
                  properties:
                    aRecords:
                    - ipv4Address: 1.2.3.4
                    fqdn: recorda1.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/A
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda2
                  name: recorda2
                  properties:
                    aRecords:
                    - ipv4Address: 5.6.7.8
                    fqdn: recorda2.privatezone1.com.
                    isAutoRegistered: false
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/A
        GET Private DNS Zone AAAA Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: AAAA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/AAAA?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/AAAA/recordaaaa1
                  name: recordaaaa1
                  properties:
                    aaaaRecords:
                    - ipv6Address: ::1
                    fqdn: recordaaaa1.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/AAAA
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/AAAA/recordaaaa2
                  name: recordaaaa2
                  properties:
                    aaaaRecords:
                    - ipv6Address: ::1
                    fqdn: recordaaaa2.privatezone1.com.
                    isAutoRegistered: false
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/AAAA
        GET Private DNS Zone CNAME Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: CNAME
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/CNAME/recordcname
                  name: recordcname
                  properties:
                    cnameRecord:
                      cname: contoso.com
                    fqdn: recordcname.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/CNAME
        GET Private DNS Zone MX Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: MX
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/MX?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/MX/recordmx1
                  name: recordmx1
                  properties:
                    fqdn: recordmx1.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    mxRecords:
                    - exchange: mail.contoso1.com
                      preference: 0
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/MX
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/MX/recordmx2
                  name: recordmx2
                  properties:
                    fqdn: recordmx2.privatezone1.com.
                    isAutoRegistered: false
                    mxRecords:
                    - exchange: mail.contoso2.com
                      preference: 0
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/MX
        GET Private DNS Zone PTR Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: 0.0.127.in-addr.arpa
            recordType: PTR
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/PTR?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/0.0.127.in-addr.arpa/PTR/1
                  name: "1"
                  properties:
                    fqdn: 1.0.0.127.in-addr.arpa.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ptrRecords:
                    - ptrdname: localhost
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/PTR
        GET Private DNS Zone SOA Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: SOA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/SOA/@
                  name: '@'
                  properties:
                    fqdn: privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    soaRecord:
                      email: azureprivatedns-hostmaster.microsoft.com
                      expireTime: 2419200
                      host: azureprivatedns.net
                      minimumTtl: 300
                      refreshTime: 3600
                      retryTime: 300
                      serialNumber: 1
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/SOA
        GET Private DNS Zone SRV Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: SRV
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/SRV?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/SRV/recordsrv
                  name: recordsrv
                  properties:
                    fqdn: recordsrv.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    srvRecords:
                    - port: 80
                      priority: 0
                      target: contoso.com
                      weight: 10
                    ttl: 3600
                  type: Microsoft.Network/privateDnsZones/SRV
        GET Private DNS Zone TXT Record Sets:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: TXT
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/TXT?api-version=2018-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/TXT/recordtxt
                  name: recordtxt
                  properties:
                    fqdn: recordtxt.privatezone1.com.
                    isAutoRegistered: false
                    metadata:
                      key1: value1
                    ttl: 3600
                    txtRecords:
                    - value:
                      - string1
                      - string2
                  type: Microsoft.Network/privateDnsZones/TXT
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}/{relativeRecordSetName}
  : delete:
      description: Deletes a record set from a Private DNS zone. This operation cannot
        be undone.
      operationId: record_sets_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The type of DNS record in this record set. Record sets of type
          SOA cannot be deleted (they are deleted when the Private DNS zone is deleted).
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The ETag of the record set. Omit this value to always delete
          the current record set. Specify the last-seen ETag value to prevent accidentally
          deleting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The record set has been deleted.
        "204":
          content: {}
          description: The record set was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        DELETE Private DNS Zone A Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: A
            relativeRecordSetName: recordA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
        DELETE Private DNS Zone AAAA Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: AAAA
            relativeRecordSetName: recordAAAA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
        DELETE Private DNS Zone CNAME Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: CNAME
            relativeRecordSetName: recordCNAME
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
        DELETE Private DNS Zone MX Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: MX
            relativeRecordSetName: recordMX
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
        DELETE Private DNS Zone PTR Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: 0.0.127.in-addr.arpa
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
        DELETE Private DNS Zone SRV Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: SRV
            relativeRecordSetName: recordSRV
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
        DELETE Private DNS Zone TXT Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: TXT
            relativeRecordSetName: recordTXT
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
    get:
      description: Gets a record set.
      operationId: record_sets_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The type of DNS record in this record set.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        GET Private DNS Zone A Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: A
            relativeRecordSetName: recordA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda
                name: recorda
                properties:
                  aRecords:
                  - ipv4Address: 1.2.3.4
                  fqdn: recorda.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/A
        GET Private DNS Zone AAAA Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: AAAA
            relativeRecordSetName: recordAAAA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/AAAA/recordaaaa
                name: recordaaaa
                properties:
                  aaaaRecords:
                  - ipv6Address: ::1
                  fqdn: recordaaaa.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/AAAA
        GET Private DNS Zone CNAME Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: CNAME
            relativeRecordSetName: recordCNAME
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/CNAME/recordcname
                name: recordcname
                properties:
                  cnameRecord:
                    cname: contoso.com
                  fqdn: recordcname.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/CNAME
        GET Private DNS Zone MX Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: MX
            relativeRecordSetName: recordMX
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/MX/recordmx
                name: recordmx
                properties:
                  fqdn: recordmx.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  mxRecords:
                  - exchange: mail.privatezone1.com
                    preference: 0
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/MX
        GET Private DNS Zone PTR Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: 0.0.127.in-addr.arpa
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/0.0.127.in-addr.arpa/PTR/1
                name: "1"
                properties:
                  fqdn: 1.0.0.127.in-addr.arpa.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ptrRecords:
                  - ptrdname: localhost
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/PTR
        GET Private DNS Zone SOA Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: SOA
            relativeRecordSetName: '@'
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/SOA/@
                name: '@'
                properties:
                  fqdn: privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  soaRecord:
                    email: azureprivatedns-hostmaster.microsoft.com
                    expireTime: 2419200
                    host: azureprivatedns.net
                    minimumTtl: 300
                    refreshTime: 3600
                    retryTime: 300
                    serialNumber: 1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/SOA
        GET Private DNS Zone SRV Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: SRV
            relativeRecordSetName: recordSRV
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/SRV/recordsrv
                name: recordsrv
                properties:
                  fqdn: recordsrv.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  srvRecords:
                  - port: 80
                    priority: 0
                    target: contoso.com
                    weight: 10
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/SRV
        GET Private DNS Zone TXT Record Set:
          parameters:
            api-version: 2018-09-01
            privateZoneName: privatezone1.com
            recordType: TXT
            relativeRecordSetName: recordTXT
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/TXT/recordtxt
                name: recordtxt
                properties:
                  fqdn: recordtxt.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                  txtRecords:
                  - value:
                    - string1
                    - string2
                type: Microsoft.Network/privateDnsZones/TXT
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
    patch:
      description: Updates a record set within a Private DNS zone.
      operationId: record_sets_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The type of DNS record in this record set.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The ETag of the record set. Omit this value to always overwrite
          the current record set. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        PATCH Private DNS Zone A Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: A
            relativeRecordSetName: recordA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda
                name: recorda
                properties:
                  aRecords:
                  - ipv4Address: 1.2.3.4
                  fqdn: recorda.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/A
        PATCH Private DNS Zone AAAA Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: AAAA
            relativeRecordSetName: recordAAAA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/AAAA/recordaaaa
                name: recordaaaa
                properties:
                  aaaaRecords:
                  - ipv6Address: ::1
                  fqdn: recordaaaa.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/AAAA
        PATCH Private DNS Zone CNAME Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: CNAME
            relativeRecordSetName: recordCNAME
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/CNAME/recordcname
                name: recordcname
                properties:
                  cnameRecord:
                    cname: contoso.com
                  fqdn: recordcname.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/CNAME
        PATCH Private DNS Zone MX Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: MX
            relativeRecordSetName: recordMX
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/MX/recordmx
                name: recordmx
                properties:
                  fqdn: recordmx.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  mxRecords:
                  - exchange: mail.privatezone1.com
                    preference: 0
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/MX
        PATCH Private DNS Zone PTR Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: 0.0.127.in-addr.arpa
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/0.0.127.in-addr.arpa/PTR/1
                name: "1"
                properties:
                  fqdn: 1.0.0.127.in-addr.arpa.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  ptrRecords:
                  - ptrdname: localhost
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/PTR
        PATCH Private DNS Zone SOA Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: SOA
            relativeRecordSetName: '@'
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/SOA/@
                name: '@'
                properties:
                  fqdn: privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  soaRecord:
                    email: azureprivatedns-hostmaster.microsoft.com
                    expireTime: 2419200
                    host: azureprivatedns.net
                    minimumTtl: 300
                    refreshTime: 3600
                    retryTime: 300
                    serialNumber: 1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/SOA
        PATCH Private DNS Zone SRV Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: SRV
            relativeRecordSetName: recordSRV
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/SRV/recordsrv
                name: recordsrv
                properties:
                  fqdn: recordsrv.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  srvRecords:
                  - port: 80
                    priority: 0
                    target: contoso.com
                    weight: 10
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/SRV
        PATCH Private DNS Zone TXT Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            privateZoneName: privatezone1.com
            recordType: TXT
            relativeRecordSetName: recordTXT
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/TXT/recordtxt
                name: recordtxt
                properties:
                  fqdn: recordtxt.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key2: value2
                  ttl: 3600
                  txtRecords:
                  - value:
                    - string1
                    - string2
                type: Microsoft.Network/privateDnsZones/TXT
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
    put:
      description: Creates or updates a record set within a Private DNS zone.
      operationId: record_sets_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Private DNS zone (without a terminating dot).
        in: path
        name: privateZoneName
        required: true
        schema:
          type: string
      - description: The type of DNS record in this record set. Record sets of type
          SOA can be updated but not created (they are created when the Private DNS
          zone is created).
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The ETag of the record set. Omit this value to always overwrite
          the current record set. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new record set to be created, but to prevent\
          \ updating an existing record set. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        PUT Private DNS Zone A Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                aRecords:
                - ipv4Address: 1.2.3.4
                metadata:
                  key1: value1
                ttl: 3600
            privateZoneName: privatezone1.com
            recordType: A
            relativeRecordSetName: recordA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda
                name: recorda
                properties:
                  aRecords:
                  - ipv4Address: 1.2.3.4
                  fqdn: recorda.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/A
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/A/recorda
                name: recorda
                properties:
                  aRecords:
                  - ipv4Address: 1.2.3.4
                  fqdn: recorda.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/A
        PUT Private DNS Zone AAAA Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                aaaaRecords:
                - ipv6Address: ::1
                metadata:
                  key1: value1
                ttl: 3600
            privateZoneName: privatezone1.com
            recordType: AAAA
            relativeRecordSetName: recordAAAA
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/AAAA/recordaaaa
                name: recordaaaa
                properties:
                  aaaaRecords:
                  - ipv6Address: ::1
                  fqdn: recordaaaa.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/AAAA
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/AAAA/recordaaaa
                name: recordaaaa
                properties:
                  aaaaRecords:
                  - ipv6Address: ::1
                  fqdn: recordaaaa.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/AAAA
        PUT Private DNS Zone CNAME Record Set:
          parameters:
            api-version: 2018-09-01
            parameters:
              properties:
                cnameRecord:
                  cname: contoso.com
                metadata:
                  key1: value1
                ttl: 3600
            privateZoneName: privatezone1.com
            recordType: CNAME
            relativeRecordSetName: recordCNAME
            resourceGroupName: resourceGroup1
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/CNAME/recordcname
                name: recordcname
                properties:
                  cnameRecord:
                    cname: contoso.com
                  fqdn: recordcname.privatezone1.com.
                  isAutoRegistered: false
                  metadata:
                    key1: value1
                  ttl: 3600
                type: Microsoft.Network/privateDnsZones/CNAME
            "201":
              body:
[...]
