openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/expressRouteGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-expressRouteGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways:
    get:
      description: Lists ExpressRoute gateways under a given subscription.
      operationId: ExpressRouteGateways_ListBySubscription
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGatewayList'
          description: Request successful.
      tags:
      - ExpressRouteGateways
      x-ms-examples:
        ExpressRouteGatewayListBySubscription:
          parameters:
            api-version: 2018-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName
                  location: westus
                  name: expressRouteGatewayName
                  properties:
                    autoScaleConfiguration:
                      bounds:
                        min: 2
                    expressRouteConnections:
                    - id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                      name: connectionName
                      properties:
                        authorizationKey: f28e9c99-78d8-4248-a855-c54cf6beb99d
                        expressRouteCircuitPeering:
                          id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                        provisioningState: Provisioned
                        routingWeight: 1
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName
                  type: Microsoft.Network/expressRouteGateways
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways:
    get:
      description: Lists ExpressRoute gateways in a given resource group.
      operationId: ExpressRouteGateways_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGatewayList'
          description: Operation successful.
      tags:
      - ExpressRouteGateways
      x-ms-examples:
        ExpressRouteGatewayListByResourceGroup:
          parameters:
            api-version: 2018-08-01
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName
                  location: westus
                  name: expressRouteGatewayName
                  properties:
                    autoScaleConfiguration:
                      bounds:
                        min: 2
                    expressRouteConnections:
                    - id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                      name: connectionName
                      properties:
                        authorizationKey: f28e9c99-78d8-4248-a855-c54cf6beb99d
                        expressRouteCircuitPeering:
                          id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                        provisioningState: Provisioned
                        routingWeight: 1
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName
                  type: Microsoft.Network/expressRouteGateways
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}
  : delete:
      description: Deletes the specified ExpressRoute gateway in a resource group.
        An ExpressRoute gateway resource can only be deleted when there are no connection
        subresources.
      operationId: ExpressRouteGateways_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ExpressRouteGateways
      x-ms-examples:
        ExpressRouteGatewayDelete:
          parameters:
            api-version: 2018-08-01
            expressRouteGatewayName: expressRouteGatewayName
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Fetches the details of a ExpressRoute gateway in a resource group.
      operationId: ExpressRouteGateways_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
          description: Operation succeeded. The operation returns the ExpressRoute
            gateway.
      tags:
      - ExpressRouteGateways
      x-ms-examples:
        ExpressRouteGatewayGet:
          parameters:
            api-version: 2018-08-01
            expressRouteGatewayName: expressRouteGatewayName
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName
                location: westus
                name: expressRouteGatewayName
                properties:
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName
                type: Microsoft.Network/expressRouteGateways
      x-accepts:
      - application/json
    put:
      description: Creates or updates a ExpressRoute gateway in a specified resource
        group.
      operationId: ExpressRouteGateways_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteGateway'
        description: Parameters required in an ExpressRoute gateway PUT operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
          description: Update successful. The operation returns the resulting ExpressRoute
            gateway resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
          description: Create successful. The operation returns the resulting ExpressRoute
            gateway resource.
      tags:
      - ExpressRouteGateways
      x-ms-examples:
        ExpressRouteGatewayCreate:
          parameters:
            api-version: 2018-08-01
            expressRouteGatewayName: gateway-2
            putExpressRouteGatewayParameters:
              location: westus
              properties:
                autoScaleConfiguration:
                  bounds:
                    min: 3
                virtualHub:
                  id: /subscriptions/subid/resourceGroups/resourceGroupId/providers/Microsoft.Network/virtualHubs/virtualHubName
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/gateway-2
                location: westus
                name: gateway-2
                properties:
                  autoScaleConfiguration:
                    bounds:
                      min: 3
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName
                type: Microsoft.Network/expressRouteGateways
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/gateway-2
                location: westus
                name: gateway-2
                properties:
                  autoScaleConfiguration:
                    bounds:
                      min: 3
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName
                type: Microsoft.Network/expressRouteGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: putExpressRouteGatewayParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections
  : get:
      description: Lists ExpressRouteConnections.
      operationId: ExpressRouteConnections_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnectionList'
          description: Request successful.
      tags:
      - ExpressRouteConnections
      x-ms-examples:
        ExpressRouteConnectionList:
          parameters:
            api-version: 2018-08-01
            expressRouteGatewayName: expressRouteGatewayName
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                  name: connectionName
                  properties:
                    authorizationKey: authorizationKey
                    expressRouteCircuitPeering:
                      id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                    provisioningState: Provisioned
                    routingWeight: 1
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections/{connectionName}
  : delete:
      description: Deletes a connection to a ExpressRoute circuit.
      operationId: ExpressRouteConnections_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: The name of the connection subresource.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: "Accepted, and the operation will continue asynchronously."
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ExpressRouteConnections
      x-ms-examples:
        ExpressRouteConnectionDelete:
          parameters:
            api-version: 2018-08-01
            connectionName: connectionName
            expressRouteGatewayName: expressRouteGatewayName
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified ExpressRouteConnection.
      operationId: ExpressRouteConnections_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute connection.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnection'
          description: Request successful. The operation returns the ExpressRouteConnection.
      tags:
      - ExpressRouteConnections
      x-ms-examples:
        ExpressRouteConnectionGet:
          parameters:
            api-version: 2018-08-01
            connectionName: connectionName
            expressRouteGatewayName: expressRouteGatewayName
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                name: connectionName
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                  provisioningState: Provisioned
                  routingWeight: 1
      x-accepts:
      - application/json
    put:
      description: Creates a connection between an ExpressRoute gateway and an ExpressRoute
        circuit.
      operationId: ExpressRouteConnections_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoute gateway.
        in: path
        name: expressRouteGatewayName
        required: true
        schema:
          type: string
      - description: The name of the connection subresource.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteConnection'
        description: Parameters required in an ExpressRouteConnection PUT operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnection'
          description: Update successful. The operation returns the ExpressRouteConnection.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnection'
          description: Create successful. The operation returns the ExpressRouteConnection.
      tags:
      - ExpressRouteConnections
      x-ms-examples:
        ExpressRouteConnectionCreate:
          parameters:
            api-version: 2018-08-01
            connectionName: connectionName
            expressRouteGatewayName: expressRouteGatewayName
            putExpressRouteConnectionParameters:
              id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
              name: connectionName
              properties:
                authorizationKey: authorizationKey
                expressRouteCircuitPeering:
                  id: /subscriptions/subid2/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                routingWeight: 2
            resourceGroupName: resourceGroupName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                name: connectionName
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid2/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                  provisioningState: Provisioned
                  routingWeight: 2
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                name: connectionName
                properties:
                  authorizationKey: authorizationKey
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid2/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                  provisioningState: Provisioned
                  routingWeight: 2
      x-ms-long-running-operation: true
      x-codegen-request-body-name: putExpressRouteConnectionParameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    ExpressRouteCircuitPeeringId:
      description: ExpressRoute circuit peering identifier.
      example:
        id: id
      properties:
        id:
          description: The ID of the ExpressRoute circuit peering.
          type: string
      type: object
    ExpressRouteConnection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: ExpressRouteConnection resource.
      example:
        name: name
        properties:
          authorizationKey: authorizationKey
          expressRouteCircuitPeering:
            id: id
          routingWeight: 1
          provisioningState: Succeeded
      properties:
        name:
          description: The name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteConnectionProperties'
      required:
      - name
    ExpressRouteConnectionId:
      description: The ID of the ExpressRouteConnection.
      properties:
        id:
          description: The ID of the ExpressRouteConnection.
          readOnly: true
          type: string
      type: object
    ExpressRouteConnectionList:
      description: ExpressRouteConnection list
      example:
        value:
        - name: name
          properties:
            authorizationKey: authorizationKey
            expressRouteCircuitPeering:
              id: id
            routingWeight: 1
            provisioningState: Succeeded
        - name: name
          properties:
            authorizationKey: authorizationKey
            expressRouteCircuitPeering:
              id: id
            routingWeight: 1
            provisioningState: Succeeded
      properties:
        value:
          description: The list of ExpressRoute connections
          items:
            $ref: '#/components/schemas/ExpressRouteConnection'
          type: array
      type: object
    ExpressRouteConnectionProperties:
      description: Properties of the ExpressRouteConnection subresource.
      example:
        authorizationKey: authorizationKey
        expressRouteCircuitPeering:
          id: id
        routingWeight: 1
        provisioningState: Succeeded
      properties:
        authorizationKey:
          description: Authorization key to establish the connection.
          type: string
        expressRouteCircuitPeering:
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringId'
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        routingWeight:
          description: The routing weight associated to the connection.
          type: integer
      required:
      - expressRouteCircuitPeering
      type: object
    ExpressRouteGateway:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ExpressRoute gateway resource.
      example:
        etag: etag
        properties:
          autoScaleConfiguration:
            bounds:
              min: 6
              max: 0
          provisioningState: Succeeded
          expressRouteConnections:
          - name: name
            properties:
              authorizationKey: authorizationKey
              expressRouteCircuitPeering:
                id: id
              routingWeight: 1
              provisioningState: Succeeded
          - name: name
            properties:
              authorizationKey: authorizationKey
              expressRouteCircuitPeering:
                id: id
              routingWeight: 1
              provisioningState: Succeeded
          virtualHub:
            id: id
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteGatewayProperties'
    ExpressRouteGatewayList:
      description: List of ExpressRoute gateways.
      example:
        value:
        - etag: etag
          properties:
            autoScaleConfiguration:
              bounds:
                min: 6
                max: 0
            provisioningState: Succeeded
            expressRouteConnections:
            - name: name
              properties:
                authorizationKey: authorizationKey
                expressRouteCircuitPeering:
                  id: id
                routingWeight: 1
                provisioningState: Succeeded
            - name: name
              properties:
                authorizationKey: authorizationKey
                expressRouteCircuitPeering:
                  id: id
                routingWeight: 1
                provisioningState: Succeeded
            virtualHub:
              id: id
        - etag: etag
          properties:
            autoScaleConfiguration:
              bounds:
                min: 6
                max: 0
            provisioningState: Succeeded
            expressRouteConnections:
            - name: name
              properties:
                authorizationKey: authorizationKey
                expressRouteCircuitPeering:
                  id: id
                routingWeight: 1
                provisioningState: Succeeded
            - name: name
              properties:
                authorizationKey: authorizationKey
                expressRouteCircuitPeering:
                  id: id
                routingWeight: 1
                provisioningState: Succeeded
            virtualHub:
              id: id
      properties:
        value:
          description: List of ExpressRoute gateways.
          items:
            $ref: '#/components/schemas/ExpressRouteGateway'
          type: array
      type: object
    ExpressRouteGatewayProperties:
      description: ExpressRoute gateway resource properties.
      example:
        autoScaleConfiguration:
          bounds:
            min: 6
            max: 0
        provisioningState: Succeeded
        expressRouteConnections:
        - name: name
          properties:
            authorizationKey: authorizationKey
            expressRouteCircuitPeering:
              id: id
            routingWeight: 1
            provisioningState: Succeeded
        - name: name
          properties:
            authorizationKey: authorizationKey
            expressRouteCircuitPeering:
              id: id
            routingWeight: 1
            provisioningState: Succeeded
        virtualHub:
          id: id
      properties:
        autoScaleConfiguration:
          $ref: '#/components/schemas/ExpressRouteGatewayProperties_autoScaleConfiguration'
        expressRouteConnections:
          description: List of ExpressRoute connections to the ExpressRoute gateway.
          items:
            $ref: '#/components/schemas/ExpressRouteConnection'
          readOnly: true
          type: array
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        virtualHub:
          $ref: '#/components/schemas/VirtualHubId'
      required:
      - virtualHub
      type: object
    VirtualHubId:
      description: Virtual Hub identifier.
      example:
        id: id
      properties:
        id:
          description: The resource URI for the Virtual Hub where the ExpressRoute
            gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute
            gateway resource reside in the same subscription.
          type: string
      type: object
    ExpressRouteGatewayProperties_autoScaleConfiguration_bounds:
      description: Minimum and maximum number of scale units to deploy.
      example:
        min: 6
        max: 0
      properties:
        max:
          description: Maximum number of scale units deployed for ExpressRoute gateway.
          type: integer
        min:
          description: Minimum number of scale units deployed for ExpressRoute gateway.
          type: integer
      type: object
    ExpressRouteGatewayProperties_autoScaleConfiguration:
      description: Configuration for auto scaling.
      example:
        bounds:
          min: 6
          max: 0
      properties:
        bounds:
          $ref: '#/components/schemas/ExpressRouteGatewayProperties_autoScaleConfiguration_bounds'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

