openapi: 3.0.0
info:
  description: Random sentences from the complete works of H.P. Lovecraft. CORS-enabled.
  title: Random Lovecraft
  version: "1.0"
  x-apisguru-categories:
  - text
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/dekadans/randomlovecraft.com/master/public/openapi.yaml
    version: "3.0"
  x-providerName: randomlovecraft.com
servers:
- url: https://randomlovecraft.com/api
tags:
- name: Sentences
- name: Books
paths:
  /books:
    get:
      description: ""
      operationId: get-books
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_books_200_response'
          description: ""
      summary: List all books
      tags:
      - Books
      x-accepts:
      - application/json
    summary: ""
  /books/{id}/sentences:
    get:
      description: ""
      operationId: get-sentences-from-book
      parameters:
      - description: Book ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_sentences_from_book_200_response'
          description: ""
      summary: Random sentences from a specific book
      tags:
      - Sentences
      x-accepts:
      - application/json
    summary: ""
  /sentences:
    get:
      description: ""
      operationId: get-sentences
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_sentences_from_book_200_response'
          description: ""
      summary: A random sentence
      tags:
      - Sentences
      x-accepts:
      - application/json
    summary: ""
  /sentences/{id}:
    get:
      description: ""
      operationId: get-specific-sentence
      parameters:
      - description: Sentence ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_specific_sentence_200_response'
          description: ""
      summary: A specific sentence
      tags:
      - Sentences
      x-accepts:
      - application/json
    summary: ""
components:
  schemas:
    book:
      example:
        year: "1934"
        name: The Shadow Out of Time
        id: afd6
      properties:
        id:
          example: afd6
          type: string
        name:
          example: The Shadow Out of Time
          type: string
        year:
          example: "1934"
          type: string
      type: object
    sentence:
      example:
        sentence: Around the first week in July I developed an unaccountable set of
          mixed emotions about that general northeasterly region.
        book:
          year: "1934"
          name: The Shadow Out of Time
          id: afd6
        id: d75b3350
      properties:
        book:
          $ref: '#/components/schemas/book'
        id:
          example: d75b3350
          type: string
        sentence:
          example: Around the first week in July I developed an unaccountable set
            of mixed emotions about that general northeasterly region.
          type: string
      type: object
    get_books_200_response:
      example:
        data:
        - year: "1934"
          name: The Shadow Out of Time
          id: afd6
        - year: "1934"
          name: The Shadow Out of Time
          id: afd6
      properties:
        data:
          items:
            $ref: '#/components/schemas/book'
          type: array
      type: object
    get_sentences_from_book_200_response:
      example:
        data:
        - sentence: Around the first week in July I developed an unaccountable set
            of mixed emotions about that general northeasterly region.
          book:
            year: "1934"
            name: The Shadow Out of Time
            id: afd6
          id: d75b3350
        - sentence: Around the first week in July I developed an unaccountable set
            of mixed emotions about that general northeasterly region.
          book:
            year: "1934"
            name: The Shadow Out of Time
            id: afd6
          id: d75b3350
      properties:
        data:
          items:
            $ref: '#/components/schemas/sentence'
          type: array
      type: object
    get_specific_sentence_200_response:
      example:
        data:
          sentence: Around the first week in July I developed an unaccountable set
            of mixed emotions about that general northeasterly region.
          book:
            year: "1934"
            name: The Shadow Out of Time
            id: afd6
          id: d75b3350
      properties:
        data:
          $ref: '#/components/schemas/sentence'
      type: object

