openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides validation information for email addresses to aid\
    \ in deliverability. Syntax, existence of mail servers, and other tests are run\
    \ to ensure delivery. Additional demographics are provided for the email address\
    \ as well, including identifying generic, vulgar, education, government, or other\
    \ entity type email addresses."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Email Information API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getemailinfo.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getemailinfo
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getemailinfo
servers:
- url: https://api.interzoid.com
paths:
  /getemailinfo:
    get:
      description: Get email validation information and other demographics for an
        email address.
      operationId: getemailinfo
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Email address to retrieve validation information
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getemailinfo_200_response'
          description: Email validation and demographic information
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: email address not valid
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets email validation information for an email address
      tags:
      - Email Address Information
      x-openapi-router-controller: openapi_server.controllers.email_address_information_controller
components:
  schemas:
    getemailinfo_200_response:
      example:
        Response: Response
        IsGeneric: IsGeneric
        Credits: Credits
        Email: Email
        IsGovernment: IsGovernment
        IsVulgar: IsVulgar
        Geolocation: Geolocation
        IsOrganizational: IsOrganizational
        IsEducational: IsEducational
        Info: Info
        Code: Code
        IsDisposable: IsDisposable
      properties:
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        Email:
          title: Email
          type: string
        Geolocation:
          title: Geolocation
          type: string
        Info:
          title: Info
          type: string
        IsDisposable:
          title: IsDisposable
          type: string
        IsEducational:
          title: IsEducational
          type: string
        IsGeneric:
          title: IsGeneric
          type: string
        IsGovernment:
          title: IsGovernment
          type: string
        IsOrganizational:
          title: IsOrganizational
          type: string
        IsVulgar:
          title: IsVulgar
          type: string
        Response:
          title: Response
          type: string
      title: getemailinfo_200_response
      type: object
