openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Accesses your bidding-account information, submits creatives for validation,\
    \ finds available direct deals, and retrieves performance reports."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Ad Exchange Buyer API
  version: v1.3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/adexchangebuyer/v1.3/rest
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: adexchangebuyer
externalDocs:
  url: https://developers.google.com/ad-exchange/buyer-rest
servers:
- url: https://www.googleapis.com/adexchangebuyer/v1.3
tags:
- name: accounts
- name: billingInfo
- name: budget
- name: creatives
- name: directDeals
- name: performanceReport
- name: pretargetingConfig
paths:
  /accounts:
    get:
      description: Retrieves the authenticated user's list of accounts.
      operationId: adexchangebuyer_accounts_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /accounts/{id}:
    get:
      description: Gets one account by ID.
      operationId: adexchangebuyer_accounts_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    patch:
      description: Updates an existing account. This method supports patch semantics.
      operationId: adexchangebuyer_accounts_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
    put:
      description: Updates an existing account.
      operationId: adexchangebuyer_accounts_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /billinginfo:
    get:
      description: Retrieves a list of billing information for all accounts of the
        authenticated user.
      operationId: adexchangebuyer_billing_info_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfoList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - billingInfo
      x-openapi-router-controller: openapi_server.controllers.billing_info_controller
  /billinginfo/{accountId}:
    get:
      description: Returns the billing information for one account specified by account
        ID.
      operationId: adexchangebuyer_billing_info_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfo'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - billingInfo
      x-openapi-router-controller: openapi_server.controllers.billing_info_controller
  /billinginfo/{accountId}/{billingId}:
    get:
      description: Returns the budget information for the adgroup specified by the
        accountId and billingId.
      operationId: adexchangebuyer_budget_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to get the budget information for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The billing id to get the budget information for.
        explode: false
        in: path
        name: billingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - budget
      x-openapi-router-controller: openapi_server.controllers.budget_controller
    patch:
      description: "Updates the budget amount for the budget of the adgroup specified\
        \ by the accountId and billingId, with the budget amount in the request. This\
        \ method supports patch semantics."
      operationId: adexchangebuyer_budget_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id associated with the budget being updated.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The billing id associated with the budget being updated.
        explode: false
        in: path
        name: billingId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - budget
      x-openapi-router-controller: openapi_server.controllers.budget_controller
      x-codegen-request-body-name: body
    put:
      description: "Updates the budget amount for the budget of the adgroup specified\
        \ by the accountId and billingId, with the budget amount in the request."
      operationId: adexchangebuyer_budget_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id associated with the budget being updated.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The billing id associated with the budget being updated.
        explode: false
        in: path
        name: billingId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - budget
      x-openapi-router-controller: openapi_server.controllers.budget_controller
      x-codegen-request-body-name: body
  /creatives:
    get:
      description: Retrieves a list of the authenticated user's active creatives.
        A creative will be available 30-40 minutes after submission.
      operationId: adexchangebuyer_creatives_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "When specified, only creatives for the given account ids are\
          \ returned."
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "When specified, only creatives for the given buyer creative\
          \ ids are returned."
        explode: true
        in: query
        name: buyerCreativeId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Maximum number of entries returned on one result page. If not\
          \ set, the default is 100. Optional."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "A continuation token, used to page through ad clients. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response. Optional."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "When specified, only creatives having the given status are returned."
        explode: true
        in: query
        name: statusFilter
        required: false
        schema:
          enum:
          - approved
          - disapproved
          - not_checked
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativesList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - creatives
      x-openapi-router-controller: openapi_server.controllers.creatives_controller
    post:
      description: Submit a new creative.
      operationId: adexchangebuyer_creatives_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Creative'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - creatives
      x-openapi-router-controller: openapi_server.controllers.creatives_controller
      x-codegen-request-body-name: body
  /creatives/{accountId}/{buyerCreativeId}:
    get:
      description: Gets the status for a single creative. A creative will be available
        30-40 minutes after submission.
      operationId: adexchangebuyer_creatives_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The id for the account that will serve this creative.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: integer
        style: simple
      - description: The buyer-specific id for this creative.
        explode: false
        in: path
        name: buyerCreativeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - creatives
      x-openapi-router-controller: openapi_server.controllers.creatives_controller
  /directdeals:
    get:
      description: Retrieves the authenticated user's list of direct deals.
      operationId: adexchangebuyer_direct_deals_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDealsList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - directDeals
      x-openapi-router-controller: openapi_server.controllers.direct_deals_controller
  /directdeals/{id}:
    get:
      description: Gets one direct deal by ID.
      operationId: adexchangebuyer_direct_deals_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The direct deal id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDeal'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - directDeals
      x-openapi-router-controller: openapi_server.controllers.direct_deals_controller
  /performancereport:
    get:
      description: Retrieves the authenticated user's list of performance metrics.
      operationId: adexchangebuyer_performance_report_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to get the reports.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: The end time of the report in ISO 8601 timestamp format using
          UTC.
        explode: true
        in: query
        name: endDateTime
        required: true
        schema:
          type: string
        style: form
      - description: The start time of the report in ISO 8601 timestamp format using
          UTC.
        explode: true
        in: query
        name: startDateTime
        required: true
        schema:
          type: string
        style: form
      - description: "Maximum number of entries returned on one result page. If not\
          \ set, the default is 100. Optional."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "A continuation token, used to page through performance reports.\
          \ To retrieve the next page, set this parameter to the value of \"nextPageToken\"\
          \ from the previous response. Optional."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReportList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - performanceReport
      x-openapi-router-controller: openapi_server.controllers.performance_report_controller
  /pretargetingconfigs/{accountId}:
    get:
      description: Retrieves a list of the authenticated user's pretargeting configurations.
      operationId: adexchangebuyer_pretargeting_config_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to get the pretargeting configs for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PretargetingConfigList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - pretargetingConfig
      x-openapi-router-controller: openapi_server.controllers.pretargeting_config_controller
    post:
      description: Inserts a new pretargeting configuration.
      operationId: adexchangebuyer_pretargeting_config_insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to insert the pretargeting config for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PretargetingConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PretargetingConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - pretargetingConfig
      x-openapi-router-controller: openapi_server.controllers.pretargeting_config_controller
      x-codegen-request-body-name: body
  /pretargetingconfigs/{accountId}/{configId}:
    delete:
      description: Deletes an existing pretargeting config.
      operationId: adexchangebuyer_pretargeting_config_delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to delete the pretargeting config for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The specific id of the configuration to delete.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - pretargetingConfig
      x-openapi-router-controller: openapi_server.controllers.pretargeting_config_controller
    get:
      description: Gets a specific pretargeting configuration
      operationId: adexchangebuyer_pretargeting_config_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to get the pretargeting config for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The specific id of the configuration to retrieve.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PretargetingConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - pretargetingConfig
      x-openapi-router-controller: openapi_server.controllers.pretargeting_config_controller
    patch:
      description: Updates an existing pretargeting config. This method supports patch
        semantics.
      operationId: adexchangebuyer_pretargeting_config_patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to update the pretargeting config for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The specific id of the configuration to update.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PretargetingConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PretargetingConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - pretargetingConfig
      x-openapi-router-controller: openapi_server.controllers.pretargeting_config_controller
      x-codegen-request-body-name: body
    put:
      description: Updates an existing pretargeting config.
      operationId: adexchangebuyer_pretargeting_config_update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The account id to update the pretargeting config for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The specific id of the configuration to update.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PretargetingConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PretargetingConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - pretargetingConfig
      x-openapi-router-controller: openapi_server.controllers.pretargeting_config_controller
      x-codegen-request-body-name: body
components:
  parameters:
    alt:
      description: Data format for the response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    userIp:
      description: Deprecated. Please use quotaUser instead.
      explode: true
      in: query
      name: userIp
      required: false
      schema:
        type: string
      style: form
  schemas:
    Account:
      description: Configuration data for an Ad Exchange buyer account.
      example:
        numberActiveCreatives: 5
        maximumTotalQps: 5
        bidderLocation:
        - maximumQps: 0
          region: region
          url: url
        - maximumQps: 0
          region: region
          url: url
        kind: adexchangebuyer#account
        maximumActiveCreatives: 1
        cookieMatchingNid: cookieMatchingNid
        id: 6
        cookieMatchingUrl: cookieMatchingUrl
      properties:
        bidderLocation:
          description: Your bidder locations that have distinct URLs.
          items:
            $ref: '#/components/schemas/Account_bidderLocation_inner'
          title: bidderLocation
          type: array
        cookieMatchingNid:
          description: The nid parameter value used in cookie match requests. Please
            contact your technical account manager if you need to change this.
          title: cookieMatchingNid
          type: string
        cookieMatchingUrl:
          description: The base URL used in cookie match requests.
          title: cookieMatchingUrl
          type: string
        id:
          description: Account id.
          format: int32
          title: id
          type: integer
        kind:
          default: adexchangebuyer#account
          description: Resource type.
          title: kind
          type: string
        maximumActiveCreatives:
          description: "The maximum number of active creatives that an account can\
            \ have, where a creative is active if it was inserted or bid with in the\
            \ last 30 days. Please contact your technical account manager if you need\
            \ to change this."
          format: int32
          title: maximumActiveCreatives
          type: integer
        maximumTotalQps:
          description: The sum of all bidderLocation.maximumQps values cannot exceed
            this. Please contact your technical account manager if you need to change
            this.
          format: int32
          title: maximumTotalQps
          type: integer
        numberActiveCreatives:
          description: The number of creatives that this account inserted or bid with
            in the last 30 days.
          format: int32
          title: numberActiveCreatives
          type: integer
      title: Account
      type: object
    AccountsList:
      description: An account feed lists Ad Exchange buyer accounts that the user
        has access to. Each entry in the feed corresponds to a single buyer account.
      example:
        kind: adexchangebuyer#accountsList
        items:
        - numberActiveCreatives: 5
          maximumTotalQps: 5
          bidderLocation:
          - maximumQps: 0
            region: region
            url: url
          - maximumQps: 0
            region: region
            url: url
          kind: adexchangebuyer#account
          maximumActiveCreatives: 1
          cookieMatchingNid: cookieMatchingNid
          id: 6
          cookieMatchingUrl: cookieMatchingUrl
        - numberActiveCreatives: 5
          maximumTotalQps: 5
          bidderLocation:
          - maximumQps: 0
            region: region
            url: url
          - maximumQps: 0
            region: region
            url: url
          kind: adexchangebuyer#account
          maximumActiveCreatives: 1
          cookieMatchingNid: cookieMatchingNid
          id: 6
          cookieMatchingUrl: cookieMatchingUrl
      properties:
        items:
          description: A list of accounts.
          items:
            $ref: '#/components/schemas/Account'
          title: items
          type: array
        kind:
          default: adexchangebuyer#accountsList
          description: Resource type.
          title: kind
          type: string
      title: AccountsList
      type: object
    BillingInfo:
      description: The configuration data for an Ad Exchange billing info.
      example:
        accountId: 0
        billingId:
        - billingId
        - billingId
        accountName: accountName
        kind: adexchangebuyer#billingInfo
      properties:
        accountId:
          description: Account id.
          format: int32
          title: accountId
          type: integer
        accountName:
          description: Account name.
          title: accountName
          type: string
        billingId:
          description: "A list of adgroup IDs associated with this particular account.\
            \ These IDs may show up as part of a realtime bidding BidRequest, which\
            \ indicates a bid request for this account."
          items:
            type: string
          title: billingId
          type: array
        kind:
          default: adexchangebuyer#billingInfo
          description: Resource type.
          title: kind
          type: string
      title: BillingInfo
      type: object
    BillingInfoList:
      description: A billing info feed lists Billing Info the Ad Exchange buyer account
        has access to. Each entry in the feed corresponds to a single billing info.
      example:
        kind: adexchangebuyer#billingInfoList
        items:
        - accountId: 0
          billingId:
          - billingId
          - billingId
          accountName: accountName
          kind: adexchangebuyer#billingInfo
        - accountId: 0
          billingId:
          - billingId
          - billingId
          accountName: accountName
          kind: adexchangebuyer#billingInfo
      properties:
        items:
          description: A list of billing info relevant for your account.
          items:
            $ref: '#/components/schemas/BillingInfo'
          title: items
          type: array
        kind:
          default: adexchangebuyer#billingInfoList
          description: Resource type.
          title: kind
          type: string
      title: BillingInfoList
      type: object
    Budget:
      description: The configuration data for Ad Exchange RTB - Budget API.
      example:
        accountId: accountId
        billingId: billingId
        budgetAmount: budgetAmount
        kind: adexchangebuyer#budget
        id: id
        currencyCode: currencyCode
      properties:
        accountId:
          description: The id of the account. This is required for get and update
            requests.
          format: int64
          title: accountId
          type: string
        billingId:
          description: The billing id to determine which adgroup to provide budget
            information for. This is required for get and update requests.
          format: int64
          title: billingId
          type: string
        budgetAmount:
          description: The daily budget amount in unit amount of the account currency
            to apply for the billingId provided. This is required for update requests.
          format: int64
          title: budgetAmount
          type: string
        currencyCode:
          description: The currency code for the buyer. This cannot be altered here.
          title: currencyCode
          type: string
        id:
          description: The unique id that describes this item.
          title: id
          type: string
        kind:
          default: adexchangebuyer#budget
          description: "The kind of the resource, i.e. \"adexchangebuyer#budget\"."
          title: kind
          type: string
      title: Budget
      type: object
    Creative:
      description: A creative and its classification data.
      example:
        disapprovalReasons:
        - reason: reason
          details:
          - details
          - details
        - reason: reason
          details:
          - details
          - details
        vendorType:
        - 1
        - 1
        HTMLSnippet: HTMLSnippet
        agencyId: agencyId
        adTechnologyProviders:
          hasUnidentifiedProvider: true
          detectedProviderIds:
          - detectedProviderIds
          - detectedProviderIds
        advertiserName: advertiserName
        buyerCreativeId: buyerCreativeId
        videoURL: videoURL
        attribute:
        - 6
        - 6
        height: 5
        sensitiveCategories:
        - 1
        - 1
        filteringReasons:
          date: date
          reasons:
          - filteringStatus: 1
            filteringCount: filteringCount
          - filteringStatus: 1
            filteringCount: filteringCount
        kind: adexchangebuyer#creative
        clickThroughUrl:
        - clickThroughUrl
        - clickThroughUrl
        impressionTrackingUrl:
        - impressionTrackingUrl
        - impressionTrackingUrl
        version: 6
        advertiserId:
        - advertiserId
        - advertiserId
        restrictedCategories:
        - 1
        - 1
        accountId: 0
        productCategories:
        - 7
        - 7
        corrections:
        - reason: reason
          details:
          - details
          - details
        - reason: reason
          details:
          - details
          - details
        nativeAd:
          advertiser: advertiser
          image:
            width: 9
            url: url
            height: 7
          appIcon:
            width: 2
            url: url
            height: 5
          clickTrackingUrl: clickTrackingUrl
          price: price
          impressionTrackingUrl:
          - impressionTrackingUrl
          - impressionTrackingUrl
          logo:
            width: 2
            url: url
            height: 3
          body: body
          starRating: 4.145608029883936
          headline: headline
          callToAction: callToAction
        apiUploadTimestamp: 2000-01-23T04:56:07.000+00:00
        width: 7
        status: status
      properties:
        HTMLSnippet:
          description: "The HTML snippet that displays the ad when inserted in the\
            \ web page. If set, videoURL should not be set."
          title: HTMLSnippet
          type: string
        accountId:
          description: Account id.
          format: int32
          title: accountId
          type: integer
        adTechnologyProviders:
          $ref: '#/components/schemas/Creative_adTechnologyProviders'
        advertiserId:
          description: "Detected advertiser id, if any. Read-only. This field should\
            \ not be set in requests."
          items:
            format: int64
            type: string
          title: advertiserId
          type: array
        advertiserName:
          description: The name of the company being advertised in the creative.
          title: advertiserName
          type: string
        agencyId:
          description: The agency id for this creative.
          format: int64
          title: agencyId
          type: string
        apiUploadTimestamp:
          description: "The last upload timestamp of this creative if it was uploaded\
            \ via API. Read-only. The value of this field is generated, and will be\
            \ ignored for uploads. (formatted RFC 3339 timestamp)."
          format: date-time
          title: apiUploadTimestamp
          type: string
        attribute:
          description: All attributes for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          title: attribute
          type: array
        buyerCreativeId:
          description: A buyer-specific id identifying the creative in this ad.
          title: buyerCreativeId
          type: string
        clickThroughUrl:
          description: The set of destination urls for the snippet.
          items:
            type: string
          title: clickThroughUrl
          type: array
        corrections:
          description: Shows any corrections that were applied to this creative. Read-only.
            This field should not be set in requests.
          items:
            $ref: '#/components/schemas/Creative_corrections_inner'
          title: corrections
          type: array
        disapprovalReasons:
          description: "The reasons for disapproval, if any. Note that not all disapproval\
            \ reasons may be categorized, so it is possible for the creative to have\
            \ a status of DISAPPROVED with an empty list for disapproval_reasons.\
            \ In this case, please reach out to your TAM to help debug the issue.\
            \ Read-only. This field should not be set in requests."
          items:
            $ref: '#/components/schemas/Creative_disapprovalReasons_inner'
          title: disapprovalReasons
          type: array
        filteringReasons:
          $ref: '#/components/schemas/Creative_filteringReasons'
        height:
          description: Ad height.
          format: int32
          title: height
          type: integer
        impressionTrackingUrl:
          description: The set of urls to be called to record an impression.
          items:
            type: string
          title: impressionTrackingUrl
          type: array
        kind:
          default: adexchangebuyer#creative
          description: Resource type.
          title: kind
          type: string
        nativeAd:
          $ref: '#/components/schemas/Creative_nativeAd'
        productCategories:
          description: "Detected product categories, if any. Read-only. This field\
            \ should not be set in requests."
          items:
            format: int32
            type: integer
          title: productCategories
          type: array
        restrictedCategories:
          description: All restricted categories for the ads that may be shown from
            this snippet.
          items:
            format: int32
            type: integer
          title: restrictedCategories
          type: array
        sensitiveCategories:
          description: "Detected sensitive categories, if any. Read-only. This field\
            \ should not be set in requests."
          items:
            format: int32
            type: integer
          title: sensitiveCategories
          type: array
        status:
          description: Creative serving status. Read-only. This field should not be
            set in requests.
          title: status
          type: string
        vendorType:
          description: All vendor types for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          title: vendorType
          type: array
        version:
          description: The version for this creative. Read-only. This field should
            not be set in requests.
          format: int32
          title: version
          type: integer
        videoURL:
          description: "The URL to fetch a video ad. If set, HTMLSnippet and the nativeAd\
            \ should not be set."
          title: videoURL
          type: string
        width:
          description: Ad width.
          format: int32
          title: width
          type: integer
      title: Creative
      type: object
    CreativesList:
      description: The creatives feed lists the active creatives for the Ad Exchange
        buyer accounts that the user has access to. Each entry in the feed corresponds
        to a single creative.
      example:
        kind: adexchangebuyer#creativesList
        nextPageToken: nextPageToken
        items:
        - disapprovalReasons:
          - reason: reason
            details:
            - details
            - details
          - reason: reason
            details:
            - details
            - details
          vendorType:
          - 1
          - 1
          HTMLSnippet: HTMLSnippet
          agencyId: agencyId
          adTechnologyProviders:
            hasUnidentifiedProvider: true
            detectedProviderIds:
            - detectedProviderIds
            - detectedProviderIds
          advertiserName: advertiserName
          buyerCreativeId: buyerCreativeId
          videoURL: videoURL
          attribute:
          - 6
          - 6
          height: 5
          sensitiveCategories:
          - 1
          - 1
          filteringReasons:
            date: date
            reasons:
            - filteringStatus: 1
              filteringCount: filteringCount
            - filteringStatus: 1
              filteringCount: filteringCount
          kind: adexchangebuyer#creative
          clickThroughUrl:
          - clickThroughUrl
          - clickThroughUrl
          impressionTrackingUrl:
          - impressionTrackingUrl
          - impressionTrackingUrl
          version: 6
          advertiserId:
          - advertiserId
          - advertiserId
          restrictedCategories:
          - 1
          - 1
          accountId: 0
          productCategories:
          - 7
          - 7
          corrections:
          - reason: reason
            details:
            - details
            - details
          - reason: reason
            details:
            - details
            - details
          nativeAd:
            advertiser: advertiser
            image:
              width: 9
              url: url
              height: 7
            appIcon:
              width: 2
              url: url
              height: 5
            clickTrackingUrl: clickTrackingUrl
            price: price
            impressionTrackingUrl:
            - impressionTrackingUrl
            - impressionTrackingUrl
            logo:
              width: 2
              url: url
              height: 3
            body: body
            starRating: 4.145608029883936
            headline: headline
            callToAction: callToAction
          apiUploadTimestamp: 2000-01-23T04:56:07.000+00:00
          width: 7
          status: status
        - disapprovalReasons:
          - reason: reason
            details:
            - details
            - details
          - reason: reason
            details:
            - details
            - details
          vendorType:
          - 1
          - 1
          HTMLSnippet: HTMLSnippet
          agencyId: agencyId
          adTechnologyProviders:
            hasUnidentifiedProvider: true
            detectedProviderIds:
            - detectedProviderIds
            - detectedProviderIds
          advertiserName: advertiserName
          buyerCreativeId: buyerCreativeId
          videoURL: videoURL
          attribute:
          - 6
          - 6
          height: 5
          sensitiveCategories:
          - 1
          - 1
          filteringReasons:
            date: date
            reasons:
            - filteringStatus: 1
              filteringCount: filteringCount
            - filteringStatus: 1
              filteringCount: filteringCount
          kind: adexchangebuyer#creative
          clickThroughUrl:
          - clickThroughUrl
          - clickThroughUrl
          impressionTrackingUrl:
          - impressionTrackingUrl
          - impressionTrackingUrl
          version: 6
          advertiserId:
          - advertiserId
          - advertiserId
          restrictedCategories:
          - 1
          - 1
          accountId: 0
          productCategories:
          - 7
          - 7
          corrections:
          - reason: reason
            details:
            - details
            - details
          - reason: reason
            details:
            - details
            - details
          nativeAd:
            advertiser: advertiser
            image:
              width: 9
              url: url
              height: 7
            appIcon:
              width: 2
              url: url
              height: 5
            clickTrackingUrl: clickTrackingUrl
            price: price
            impressionTrackingUrl:
            - impressionTrackingUrl
            - impressionTrackingUrl
            logo:
              width: 2
              url: url
              height: 3
            body: body
            starRating: 4.145608029883936
            headline: headline
            callToAction: callToAction
          apiUploadTimestamp: 2000-01-23T04:56:07.000+00:00
          width: 7
          status: status
      properties:
        items:
          description: A list of creatives.
          items:
            $ref: '#/components/schemas/Creative'
          title: items
          type: array
        kind:
          default: adexchangebuyer#creativesList
          description: Resource type.
          title: kind
          type: string
        nextPageToken:
          description: "Continuation token used to page through creatives. To retrieve\
            \ the next page of results, set the next request's \"pageToken\" value\
            \ to this."
          title: nextPageToken
          type: string
      title: CreativesList
      type: object
    DirectDeal:
      description: The configuration data for an Ad Exchange direct deal.
      example:
        advertiser: advertiser
        dealTier: dealTier
        fixedCpm: fixedCpm
        kind: adexchangebuyer#directDeal
        sellerNetwork: sellerNetwork
        allowsAlcohol: true
        buyerAccountId: buyerAccountId
        privateExchangeMinCpm: privateExchangeMinCpm
        accountId: 0
        publisherBlocksOverriden: true
        name: name
        startTime: startTime
        endTime: endTime
        id: id
        currencyCode: currencyCode
      properties:
        accountId:
          description: The account id of the buyer this deal is for.
          format: int32
          title: accountId
          type: integer
        advertiser:
          description: The name of the advertiser this deal is for.
          title: advertiser
          type: string
        allowsAlcohol:
          description: Whether the publisher for this deal is eligible for alcohol
            ads.
          title: allowsAlcohol
          type: boolean
        buyerAccountId:
          description: The account id that this deal was negotiated for. It is either
            the buyer or the client that this deal was negotiated on behalf of.
          format: int64
          title: buyerAccountId
          type: string
        currencyCode:
          description: The currency code that applies to the fixed_cpm value. If not
            set then assumed to be USD.
          title: currencyCode
          type: string
        dealTier:
          description: The deal type such as programmatic reservation or fixed price
            and so on.
          title: dealTier
          type: string
        endTime:
          description: End time for when this deal stops being active. If not set
            then this deal is valid until manually disabled by the publisher. In seconds
            since the epoch.
          format: int64
          title: endTime
          type: string
        fixedCpm:
          description: "The fixed price for this direct deal. In cpm micros of currency\
            \ according to currency_code. If set, then this deal is eligible for the\
            \ fixed price tier of buying (highest priority, pay exactly the configured\
            \ fixed price)."
          format: int64
          title: fixedCpm
          type: string
        id:
          description: Deal id.
          format: int64
          title: id
          type: string
        kind:
          default: adexchangebuyer#directDeal
          description: Resource type.
          title: kind
          type: string
        name:
          description: Deal name.
          title: name
          type: string
        privateExchangeMinCpm:
          description: "The minimum price for this direct deal. In cpm micros of currency\
            \ according to currency_code. If set, then this deal is eligible for the\
            \ private exchange tier of buying (below fixed price priority, run as\
            \ a second price auction)."
          format: int64
          title: privateExchangeMinCpm
          type: string
        publisherBlocksOverriden:
          description: "If true, the publisher has opted to have their blocks ignored\
            \ when a creative is bid with for this deal."
          title: publisherBlocksOverriden
          type: boolean
        sellerNetwork:
          description: The name of the publisher offering this direct deal.
          title: sellerNetwork
          type: string
        startTime:
          description: Start time for when this deal becomes active. If not set then
            this deal is active immediately upon creation. In seconds since the epoch.
          format: int64
          title: startTime
          type: string
      title: DirectDeal
      type: object
    DirectDealsList:
      description: A direct deals feed lists Direct Deals the Ad Exchange buyer account
        has access to. This includes direct deals set up for the buyer account as
        well as its merged stream seats.
      example:
        directDeals:
        - advertiser: advertiser
          dealTier: dealTier
          fixedCpm: fixedCpm
          kind: adexchangebuyer#directDeal
          sellerNetwork: sellerNetwork
          allowsAlcohol: true
          buyerAccountId: buyerAccountId
          privateExchangeMinCpm: privateExchangeMinCpm
          accountId: 0
          publisherBlocksOverriden: true
          name: name
          startTime: startTime
          endTime: endTime
          id: id
          currencyCode: currencyCode
        - advertiser: advertiser
          dealTier: dealTier
          fixedCpm: fixedCpm
          kind: adexchangebuyer#directDeal
          sellerNetwork: sellerNetwork
          allowsAlcohol: true
          buyerAccountId: buyerAccountId
          privateExchangeMinCpm: privateExchangeMinCpm
          accountId: 0
          publisherBlocksOverriden: true
          name: name
          startTime: startTime
          endTime: endTime
          id: id
          currencyCode: currencyCode
        kind: adexchangebuyer#directDealsList
      properties:
        directDeals:
          description: A list of direct deals relevant for your account.
          items:
            $ref: '#/components/schemas/DirectDeal'
          title: directDeals
          type: array
        kind:
          default: adexchangebuyer#directDealsList
          description: Resource type.
          title: kind
          type: string
      title: DirectDealsList
      type: object
    PerformanceReport:
      description: The configuration data for an Ad Exchange performance report list.
      example:
        cookieMatcherStatusRate:
        - ""
        - ""
        inventoryMatchRate: 5.962133916683182
        kind: adexchangebuyer#performanceReport
        bidRate: 0.8008281904610115
        latency95thPercentile: 7.061401241503109
        successfulRequestRate: 1.0246457001441578
        bidRequestRate: 6.027456183070403
        latency85thPercentile: 2.3021358869347655
        pixelMatchResponses: 4.145608029883936
        calloutStatusRate:
        - ""
        - ""
        latency50thPercentile: 5.637376656633329
        creativeStatusRate:
        - ""
        - ""
        quotaThrottledLimit: 1.2315135367772556
        noQuotaInRegion: 9.301444243932576
        filteredBidRate: 1.4658129805029452
        pixelMatchRequests: 2.027123023002322
        quotaConfiguredLimit: 7.386281948385884
        region: region
        unsuccessfulRequestRate: 1.4894159098541704
        outOfQuota: 3.616076749251911
        hostedMatchStatusRate:
        - ""
        - ""
        timestamp: timestamp
      properties:
        bidRate:
          description: The number of bid responses with an ad.
          format: double
          title: bidRate
          type: number
        bidRequestRate:
          description: The number of bid requests sent to your bidder.
          format: double
          title: bidRequestRate
          type: number
        calloutStatusRate:
          description: Rate of various prefiltering statuses per match. Please refer
            to the callout-status-codes.txt file for different statuses.
          items: {}
          title: calloutStatusRate
          type: array
        cookieMatcherStatusRate:
          description: Average QPS for cookie matcher operations.
          items: {}
          title: cookieMatcherStatusRate
          type: array
        creativeStatusRate:
          description: Rate of ads with a given status. Please refer to the creative-status-codes.txt
            file for different statuses.
          items: {}
          title: creativeStatusRate
          type: array
        filteredBidRate:
          description: The number of bid responses that were filtered due to a policy
            violation or other errors.
          format: double
          title: filteredBidRate
          type: number
        hostedMatchStatusRate:
          description: Average QPS for hosted match operations.
          items: {}
          title: hostedMatchStatusRate
          type: array
        inventoryMatchRate:
          description: The number of potential queries based on your pretargeting
            settings.
          format: double
          title: inventoryMatchRate
          type: number
        kind:
          default: adexchangebuyer#performanceReport
          description: Resource type.
          title: kind
          type: string
        latency50thPercentile:
          description: The 50th percentile round trip latency(ms) as perceived from
            Google servers for the duration period covered by the report.
          format: double
          title: latency50thPercentile
          type: number
        latency85thPercentile:
          description: The 85th percentile round trip latency(ms) as perceived from
            Google servers for the duration period covered by the report.
          format: double
          title: latency85thPercentile
          type: number
        latency95thPercentile:
          description: The 95th percentile round trip latency(ms) as perceived from
            Google servers for the duration period covered by the report.
          format: double
          title: latency95thPercentile
          type: number
        noQuotaInRegion:
          description: Rate of various quota account statuses per quota check.
          format: double
          title: noQuotaInRegion
          type: number
        outOfQuota:
          description: Rate of various quota account statuses per quota check.
          format: double
          title: outOfQuota
          type: number
        pixelMatchRequests:
          description: Average QPS for pixel match requests from clients.
          format: double
          title: pixelMatchRequests
          type: number
        pixelMatchResponses:
          description: Average QPS for pixel match responses from clients.
          format: double
          title: pixelMatchResponses
          type: number
        quotaConfiguredLimit:
          description: The configured quota limits for this account.
          format: double
          title: quotaConfiguredLimit
          type: number
        quotaThrottledLimit:
          description: The throttled quota limits for this account.
          format: double
          title: quotaThrottledLimit
          type: number
        region:
          description: The trading location of this data.
          title: region
          type: string
        successfulRequestRate:
          description: The number of properly formed bid responses received by our
            servers within the deadline.
          format: double
          title: successfulRequestRate
          type: number
        timestamp:
          description: The unix timestamp of the starting time of this performance
            data.
          format: int64
          title: timestamp
          type: string
        unsuccessfulRequestRate:
          description: "The number of bid responses that were unsuccessful due to\
            \ timeouts, incorrect formatting, etc."
          format: double
          title: unsuccessfulRequestRate
          type: number
      title: PerformanceReport
      type: object
    PerformanceReportList:
      description: The configuration data for an Ad Exchange performance report list.
      example:
        kind: adexchangebuyer#performanceReportList
        performanceReport:
        - cookieMatcherStatusRate:
          - ""
          - ""
          inventoryMatchRate: 5.962133916683182
          kind: adexchangebuyer#performanceReport
          bidRate: 0.8008281904610115
          latency95thPercentile: 7.061401241503109
          successfulRequestRate: 1.0246457001441578
          bidRequestRate: 6.027456183070403
          latency85thPercentile: 2.3021358869347655
          pixelMatchResponses: 4.145608029883936
          calloutStatusRate:
          - ""
          - ""
          latency50thPercentile: 5.637376656633329
          creativeStatusRate:
          - ""
          - ""
          quotaThrottledLimit: 1.2315135367772556
          noQuotaInRegion: 9.301444243932576
          filteredBidRate: 1.4658129805029452
          pixelMatchRequests: 2.027123023002322
          quotaConfiguredLimit: 7.386281948385884
          region: region
          unsuccessfulRequestRate: 1.4894159098541704
          outOfQuota: 3.616076749251911
          hostedMatchStatusRate:
          - ""
          - ""
          timestamp: timestamp
        - cookieMatcherStatusRate:
          - ""
          - ""
          inventoryMatchRate: 5.962133916683182
          kind: adexchangebuyer#performanceReport
          bidRate: 0.8008281904610115
          latency95thPercentile: 7.061401241503109
          successfulRequestRate: 1.0246457001441578
          bidRequestRate: 6.027456183070403
          latency85thPercentile: 2.3021358869347655
          pixelMatchResponses: 4.145608029883936
          calloutStatusRate:
          - ""
          - ""
          latency50thPercentile: 5.637376656633329
          creativeStatusRate:
          - ""
          - ""
          quotaThrottledLimit: 1.2315135367772556
          noQuotaInRegion: 9.301444243932576
          filteredBidRate: 1.4658129805029452
          pixelMatchRequests: 2.027123023002322
          quotaConfiguredLimit: 7.386281948385884
          region: region
          unsuccessfulRequestRate: 1.4894159098541704
          outOfQuota: 3.616076749251911
          hostedMatchStatusRate:
          - ""
          - ""
          timestamp: timestamp
      properties:
        kind:
          default: adexchangebuyer#performanceReportList
          description: Resource type.
          title: kind
          type: string
        performanceReport:
          description: A list of performance reports relevant for the account.
          items:
            $ref: '#/components/schemas/PerformanceReport'
          title: performanceReport
          type: array
      title: PerformanceReportList
      type: object
    PretargetingConfig:
      example:
        configName: configName
        billingId: billingId
        languages:
        - languages
        - languages
        vendorTypes:
        - vendorTypes
        - vendorTypes
        kind: adexchangebuyer#pretargetingConfig
        maximumQps: maximumQps
        userLists:
        - userLists
        - userLists
        mobileCarriers:
        - mobileCarriers
        - mobileCarriers
        placements:
        - type: type
          token: token
        - type: type
          token: token
        isActive: true
        excludedPlacements:
        - type: type
          token: token
        - type: type
          token: token
        verticals:
        - verticals
        - verticals
        platforms:
        - platforms
        - platforms
        excludedVerticals:
        - excludedVerticals
        - excludedVerticals
        excludedContentLabels:
        - excludedContentLabels
        - excludedContentLabels
        creativeType:
        - creativeType
        - creativeType
        configId: configId
        mobileOperatingSystemVersions:
        - mobileOperatingSystemVersions
        - mobileOperatingSystemVersions
        geoCriteriaIds:
        - geoCriteriaIds
        - geoCriteriaIds
        mobileDevices:
        - mobileDevices
        - mobileDevices
        supportedCreativeAttributes:
        - supportedCreativeAttributes
        - supportedCreativeAttributes
        excludedGeoCriteriaIds:
        - excludedGeoCriteriaIds
        - excludedGeoCriteriaIds
        dimensions:
        - width: width
          height: height
        - width: width
          height: height
        excludedUserLists:
        - excludedUserLists
        - excludedUserLists
      properties:
        billingId:
          description: "The id for billing purposes, provided for reference. Leave\
            \ this field blank for insert requests; the id will be generated automatically."
          format: int64
          title: billingId
          type: string
        configId:
          description: The config id; generated automatically. Leave this field blank
            for insert requests.
          format: int64
          title: configId
          type: string
        configName:
          description: The name of the config. Must be unique. Required for all requests.
          title: configName
          type: string
        creativeType:
          description: List must contain exactly one of PRETARGETING_CREATIVE_TYPE_HTML
            or PRETARGETING_CREATIVE_TYPE_VIDEO.
          items:
            type: string
          title: creativeType
[...]
