openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/bastionHost.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-bastionHost
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts:
    get:
      description: Lists all Bastion Hosts in a subscription.
      operationId: bastion_hosts_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHostListResult'
          description: Success. The operation returns a list of Bastion Host resources.
      tags:
      - BastionHosts
      x-ms-examples:
        List all Bastion Hosts for a given subscription:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant'
                  location: West US
                  name: bastionhost'
                  properties:
                    dnsName: bst-9d89d361-100e-4c01-b92d-466548c476dc.bastion.azure.com
                    ipConfigurations:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant/bastionHostIpConfigurations/bastionHostIpConfiguration
                      name: bastionHostIpConfiguration
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/BastionHostSubnet
                      type: Microsoft.Network/bastionHosts/bastionHostIpConfigurations
                    provisioningState: Succeeded
                  type: Microsoft.Network/bastionHosts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.bastion_hosts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts:
    get:
      description: Lists all Bastion Hosts in a resource group.
      operationId: bastion_hosts_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHostListResult'
          description: Success. The operation returns a list of BastionHost resources.
      tags:
      - BastionHosts
      x-ms-examples:
        List all Bastion Hosts for a given resource group:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant'
                  location: West US
                  name: bastionhost'
                  properties:
                    dnsName: bst-9d89d361-100e-4c01-b92d-466548c476dc.bastion.azure.com
                    ipConfigurations:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant/bastionHostIpConfigurations/bastionHostIpConfiguration
                      name: bastionHostIpConfiguration
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/BastionHostSubnet
                      type: Microsoft.Network/bastionHosts/bastionHostIpConfigurations
                    provisioningState: Succeeded
                  type: Microsoft.Network/bastionHosts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.bastion_hosts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}:
    delete:
      description: Deletes the specified Bastion Host.
      operationId: bastion_hosts_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Bastion Host.
        in: path
        name: bastionHostName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist.
      tags:
      - BastionHosts
      x-ms-examples:
        Delete Bastion Host:
          parameters:
            api-version: 2019-08-01
            bastionHostName: bastionhosttenant
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.bastion_hosts_controller
    get:
      description: Gets the specified Bastion Host.
      operationId: bastion_hosts_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Bastion Host.
        in: path
        name: bastionHostName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHost'
          description: Request successful. The operation returns an BastionHost resource.
      tags:
      - BastionHosts
      x-ms-examples:
        Get Bastion Host:
          parameters:
            api-version: 2019-08-01
            bastionHostName: bastionhosttenant'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant'
                location: West US
                name: bastionhost'
                properties:
                  dnsName: bst-9d89d361-100e-4c01-b92d-466548c476dc.bastion.azure.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant/bastionHostIpConfigurations/bastionHostIpConfiguration
                    name: bastionHostIpConfiguration
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/BastionHostSubnet
                    type: Microsoft.Network/bastionHosts/bastionHostIpConfigurations
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/bastionHosts
      x-openapi-router-controller: openapi_server.controllers.bastion_hosts_controller
    put:
      description: Creates or updates the specified Bastion Host.
      operationId: bastion_hosts_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Bastion Host.
        in: path
        name: bastionHostName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BastionHost'
        description: Parameters supplied to the create or update Bastion Host operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHost'
          description: Update successful. The operation returns the resulting Bastion
            Host resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHost'
          description: Create successful. The operation returns the resulting Bastion
            Host resource.
      tags:
      - BastionHosts
      x-ms-examples:
        Create Bastion Host:
          parameters:
            api-version: 2019-08-01
            bastionHostName: bastionhosttenant'
            parameters:
              properties:
                ipConfigurations:
                - name: bastionHostIpConfiguration
                  properties:
                    publicIPAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/BastionHostSubnet
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant'
                location: West US
                name: bastionhost'
                properties:
                  dnsName: bst-9d89d361-100e-4c01-b92d-466548c476dc.bastion.azure.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant/bastionHostIpConfigurations/bastionHostIpConfiguration
                    name: bastionHostIpConfiguration
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/BastionHostSubnet
                    type: Microsoft.Network/bastionHosts/bastionHostIpConfigurations
                  provisioningState: Succeeded
                type: Microsoft.Network/bastionHosts
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant'
                location: West US
                name: bastionhost'
                properties:
                  dnsName: bst-9d89d361-100e-4c01-b92d-466548c476dc.bastion.azure.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/bastionHosts/bastionhosttenant/bastionHostIpConfigurations/bastionHostIpConfiguration
                    name: bastionHostIpConfiguration
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/BastionHostSubnet
                    type: Microsoft.Network/bastionHosts/bastionHostIpConfigurations
                  provisioningState: Succeeded
                type: Microsoft.Network/bastionHosts
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.bastion_hosts_controller
components:
  schemas:
    BastionHost:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Bastion Host resource.
      example:
        etag: etag
        properties:
          ipConfigurations:
          - name: name
            etag: etag
            type: type
            properties:
              subnet:
                id: id
              privateIPAllocationMethod: Static
              provisioningState: Succeeded
              publicIPAddress:
                id: id
          - name: name
            etag: etag
            type: type
            properties:
              subnet:
                id: id
              privateIPAllocationMethod: Static
              provisioningState: Succeeded
              publicIPAddress:
                id: id
          dnsName: dnsName
          provisioningState: Succeeded
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/BastionHostPropertiesFormat'
      title: BastionHost
    BastionHostIPConfiguration:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: IP configuration of an Bastion Host.
      example:
        name: name
        etag: etag
        type: type
        properties:
          subnet:
            id: id
          privateIPAllocationMethod: Static
          provisioningState: Succeeded
          publicIPAddress:
            id: id
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/BastionHostIPConfigurationPropertiesFormat'
        type:
          description: Ip configuration type.
          readOnly: true
          title: type
          type: string
      title: BastionHostIPConfiguration
    BastionHostIPConfigurationPropertiesFormat:
      description: Properties of IP configuration of an Bastion Host.
      example:
        subnet:
          id: id
        privateIPAllocationMethod: Static
        provisioningState: Succeeded
        publicIPAddress:
          id: id
      properties:
        privateIPAllocationMethod:
          description: IP address allocation method.
          enum:
          - Static
          - Dynamic
          title: privateIPAllocationMethod
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPAllocationMethod
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        publicIPAddress:
          $ref: '#/components/schemas/BastionHostIPConfigurationPropertiesFormat_publicIPAddress'
        subnet:
          $ref: '#/components/schemas/BastionHostIPConfigurationPropertiesFormat_publicIPAddress'
      required:
      - publicIPAddress
      - subnet
      title: BastionHostIPConfigurationPropertiesFormat
      type: object
    BastionHostListResult:
      description: Response for ListBastionHosts API service call.
      example:
        value:
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            dnsName: dnsName
            provisioningState: Succeeded
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            dnsName: dnsName
            provisioningState: Succeeded
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of Bastion Hosts in a resource group.
          items:
            $ref: '#/components/schemas/BastionHost'
          title: value
          type: array
      title: BastionHostListResult
      type: object
    BastionHostPropertiesFormat:
      description: Properties of the Bastion Host.
      example:
        ipConfigurations:
        - name: name
          etag: etag
          type: type
          properties:
            subnet:
              id: id
            privateIPAllocationMethod: Static
            provisioningState: Succeeded
            publicIPAddress:
              id: id
        - name: name
          etag: etag
          type: type
          properties:
            subnet:
              id: id
            privateIPAllocationMethod: Static
            provisioningState: Succeeded
            publicIPAddress:
              id: id
        dnsName: dnsName
        provisioningState: Succeeded
      properties:
        dnsName:
          description: FQDN for the endpoint on which bastion host is accessible.
          title: dnsName
          type: string
        ipConfigurations:
          description: IP configuration of the Bastion Host resource.
          items:
            $ref: '#/components/schemas/BastionHostIPConfiguration'
          title: ipConfigurations
          type: array
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      title: BastionHostPropertiesFormat
      type: object
    BastionHostIPConfigurationPropertiesFormat_publicIPAddress:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: BastionHostIPConfigurationPropertiesFormat_publicIPAddress
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
