openapi: 3.0.1
info:
  description: Provides operations for working with resources and resource groups.
  title: ResourceManagementClient
  version: 2019-05-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers:
    get:
      description: Gets all resource providers for the tenant.
      operationId: providers_list_at_tenant_scope
      parameters:
      - description: The number of results to return. If null is passed returns all
          providers.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The properties to include in the results. For example, use &$expand=metadata\
          \ in the query string to retrieve resource provider metadata. To include\
          \ property aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: OK - Returns an array of resource providers.
      tags:
      - Providers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get all the deployments for a management group.
      operationId: deployments_list_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The filter to apply on the operation. For example, you can use\
          \ $filter=provisioningState eq '{state}'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to get. If null is passed, returns all\
          \ deployments."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "A template deployment that is currently running cannot be deleted.\
        \ Deleting a template deployment removes the associated deployment operations.\
        \ This is an asynchronous operation that returns a status of 202 until the\
        \ template deployment is successfully deleted. The Location response header\
        \ contains the URI that is used to obtain the status of the process. While\
        \ the process is running, a call to the URI in the Location header returns\
        \ a status of 202. When the process finishes, the URI in the Location header\
        \ returns a status of 204 on success. If the asynchronous request failed,\
        \ the URI in the Location header returns an error-level status code."
      operationId: deployments_delete_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: No Content
      summary: Deletes a deployment from the deployment history.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    get:
      description: Gets a deployment.
      operationId: deployments_get_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    head:
      description: Checks whether the deployment exists.
      operationId: deployments_check_existence_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    put:
      description: You can provide the template and parameters directly in the request
        or link to JSON files.
      operationId: deployments_create_or_update_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "Created - Returns information about the deployment, including\
            \ provisioning status."
      summary: Deploys resources at management group scope.
      tags:
      - Deployments
      x-ms-examples:
        Create deployment at management group scope.:
          parameters:
            api-version: 2019-05-10
            deploymentName: mg-dep01
            groupId: tiano-group1
            parameters:
              location: eastus
              properties:
                mode: Incremental
                parameters: {}
                templateLink: "{templateUri}"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Resources/deployments/mg-dep01
                location: eastus
                name: mg-dep01
                properties:
                  correlationId: "{correlationId}"
                  dependencies:
                  - dependsOn:
                    - id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyDefinitions/policy2
                      resourceName: policy2
                      resourceType: Microsoft.Authorization/policyDefinitions
                    id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyAssignments/location-lock
                    resourceName: location-lock
                    resourceType: Microsoft.Authorization/policyAssignments
                  duration: PT1.2970875S
                  mode: Incremental
                  parameters: {}
                  providers:
                  - namespace: Microsoft.Authorization
                    resourceTypes:
                    - locations:
                      - null
                      resourceType: policyDefinitions
                    - locations:
                      - null
                      resourceType: policyAssignments
                  - namespace: Microsoft.Resources
                    resourceTypes:
                    - locations:
                      - eastus
                      resourceType: deployments
                  provisioningState: Accepted
                  timestamp: 2019-04-24T22:52:38.7895563Z
                type: Microsoft.Resources/deployments
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Resources/deployments/mg-dep01
                location: eastus
                name: mg-dep01
                properties:
                  correlationId: "{correlationId}"
                  dependencies:
                  - dependsOn:
                    - id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyDefinitions/policy2
                      resourceName: policy2
                      resourceType: Microsoft.Authorization/policyDefinitions
                    id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyAssignments/location-lock
                    resourceName: location-lock
                    resourceType: Microsoft.Authorization/policyAssignments
                  duration: PT1.2970875S
                  mode: Incremental
                  parameters: {}
                  providers:
                  - namespace: Microsoft.Authorization
                    resourceTypes:
                    - locations:
                      - null
                      resourceType: policyDefinitions
                    - locations:
                      - null
                      resourceType: policyAssignments
                  - namespace: Microsoft.Resources
                    resourceTypes:
                    - locations:
                      - eastus
                      resourceType: deployments
                  provisioningState: Accepted
                  timestamp: 2019-04-24T22:52:38.7895563Z
                type: Microsoft.Resources/deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel:
    post:
      description: "You can cancel a deployment only if the provisioningState is Accepted\
        \ or Running. After the deployment is canceled, the provisioningState is set\
        \ to Canceled. Canceling a template deployment stops the currently running\
        \ template deployment and leaves the resources partially deployed."
      operationId: deployments_cancel_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Cancels a currently running template deployment.
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate
  : post:
      description: Exports the template used for specified deployment.
      operationId: deployments_export_template_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations
  : get:
      description: Gets all deployments operations for a deployment.
      operationId: deployment_operations_list_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}
  : get:
      description: Gets a deployments operation.
      operationId: deployment_operations_get_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
      tags:
      - DeploymentOperations
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/validate:
    post:
      description: Validates whether the specified template is syntactically correct
        and will be accepted by Azure Resource Manager..
      operationId: deployments_validate_at_management_group_scope
      parameters:
      - description: The management group ID.
        in: path
        name: group_id
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Parameters to validate.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /providers/Microsoft.Resources/calculateTemplateHash:
    post:
      description: Calculate the hash of the given template.
      operationId: deployments_calculate_template_hash
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The template provided to calculate hash.
        required: true
        x-body-name: template
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHashResult'
          description: OK - Returns the hash.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-examples:
        Calculate template hash:
          parameters:
            api-version: 2019-05-10
            template:
              $schema: http://schemas.management.azure.com/deploymentTemplate?api-version=2014-04-01-preview
              contentVersion: 1.0.0.0
              outputs:
                string:
                  type: string
                  value: myvalue
              parameters:
                string:
                  type: string
              resources: []
              variables:
                array:
                - 1
                - 2
                - 3
                - 4
                bool: true
                int: 42
                object:
                  object:
                    location: West US
                    vmSize: Large
                string: string
          responses:
            "200":
              body:
                minifiedTemplate: "{\"$SCHEMA\":\"HTTP://SCHEMAS.MANAGEMENT.AZURE.COM/DEPLOYMENTTEMPLATE?API-VERSION=2014-04-01-PREVIEW\"\
                  ,\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"STRING\":{\"TYPE\"\
                  :\"STRING\"}},\"VARIABLES\":{\"STRING\":\"STRING\",\"INT\":42,\"\
                  BOOL\":TRUE,\"ARRAY\":[1,2,3,4],\"OBJECT\":{\"OBJECT\":{\"VMSIZE\"\
                  :\"LARGE\",\"LOCATION\":\"WEST US\"}}},\"RESOURCES\":[],\"OUTPUTS\"\
                  :{\"STRING\":{\"TYPE\":\"STRING\",\"VALUE\":\"MYVALUE\"}}}"
                templateHash: "695440707931307747"
      x-codegen-request-body-name: template
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /providers/Microsoft.Resources/operations:
    get:
      description: Lists all of the available Microsoft.Resources REST API operations.
      operationId: operations_list
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /providers/{resourceProviderNamespace}:
    get:
      description: Gets the specified resource provider at the tenant level.
      operationId: providers_get_at_tenant_scope
      parameters:
      - description: "The $expand query parameter. For example, to include property\
          \ aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers:
    get:
      description: Gets all resource providers for a subscription.
      operationId: providers_list
      parameters:
      - description: The number of results to return. If null is passed returns all
          deployments.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The properties to include in the results. For example, use &$expand=metadata\
          \ in the query string to retrieve resource provider metadata. To include\
          \ property aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: OK - Returns an array of resource providers.
      tags:
      - Providers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get all the deployments for a subscription.
      operationId: deployments_list_at_subscription_scope
      parameters:
      - description: "The filter to apply on the operation. For example, you can use\
          \ $filter=provisioningState eq '{state}'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to get. If null is passed, returns all\
          \ deployments."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "A template deployment that is currently running cannot be deleted.\
        \ Deleting a template deployment removes the associated deployment operations.\
        \ This is an asynchronous operation that returns a status of 202 until the\
        \ template deployment is successfully deleted. The Location response header\
        \ contains the URI that is used to obtain the status of the process. While\
        \ the process is running, a call to the URI in the Location header returns\
        \ a status of 202. When the process finishes, the URI in the Location header\
        \ returns a status of 204 on success. If the asynchronous request failed,\
        \ the URI in the Location header returns an error-level status code."
      operationId: deployments_delete_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: No Content
      summary: Deletes a deployment from the deployment history.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    get:
      description: Gets a deployment.
      operationId: deployments_get_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    head:
      description: Checks whether the deployment exists.
      operationId: deployments_check_existence_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    put:
      description: You can provide the template and parameters directly in the request
        or link to JSON files.
      operationId: deployments_create_or_update_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "Created - Returns information about the deployment, including\
            \ provisioning status."
      summary: Deploys resources at subscription scope.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel:
    post:
      description: "You can cancel a deployment only if the provisioningState is Accepted\
        \ or Running. After the deployment is canceled, the provisioningState is set\
        \ to Canceled. Canceling a template deployment stops the currently running\
        \ template deployment and leaves the resources partially deployed."
      operationId: deployments_cancel_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Cancels a currently running template deployment.
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate:
    post:
      description: Exports the template used for specified deployment.
      operationId: deployments_export_template_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations:
    get:
      description: Gets all deployments operations for a deployment.
      operationId: deployment_operations_list_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Gets a deployments operation.
      operationId: deployment_operations_get_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
      tags:
      - DeploymentOperations
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/validate:
    post:
      description: Validates whether the specified template is syntactically correct
        and will be accepted by Azure Resource Manager..
      operationId: deployments_validate_at_subscription_scope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Parameters to validate.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}:
    get:
      description: Gets the specified resource provider.
      operationId: providers_get
      parameters:
      - description: "The $expand query parameter. For example, to include property\
          \ aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register:
    post:
      description: Registers a subscription with a resource provider.
      operationId: providers_register
      parameters:
      - description: The namespace of the resource provider to register.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister:
    post:
      description: Unregisters a subscription from a resource provider.
      operationId: providers_unregister
      parameters:
      - description: The namespace of the resource provider to unregister.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
      tags:
      - Providers
      x-openapi-router-controller: openapi_server.controllers.providers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources:
    get:
      description: Get all the resources for a resource group.
      operationId: resources_list_by_resource_group
      parameters:
      - description: The resource group with the resources to get.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: "The filter to apply on the operation.<br><br>The properties\
          \ you can use for eq (equals) or ne (not equals) are: location, resourceType,\
          \ name, resourceGroup, identity, identity/principalId, plan, plan/publisher,\
          \ plan/product, plan/name, plan/version, and plan/promotionCode.<br><br>For\
          \ example, to filter by a resource type, use: $filter=resourceType eq 'Microsoft.Network/virtualNetworks'<br><br>You\
          \ can use substringof(value, property) in the filter. The properties you\
          \ can use for substring are: name and resourceGroup.<br><br>For example,\
          \ to get all resources with 'demo' anywhere in the name, use: $filter=substringof('demo',\
          \ name)<br><br>You can link more than one substringof together by adding\
          \ and/or operators.<br><br>You can filter by tag names and values. For example,\
          \ to filter for a tag name and value, use $filter=tagName eq 'tag1' and\
          \ tagValue eq 'Value1'<br><br>You can use some properties together when\
          \ filtering. The combinations you can use are: substringof and/or resourceType,\
          \ plan and plan/publisher and plan/name, identity and identity/principalId."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The $expand query parameter. You can expand createdTime and\
          \ changedTime. For example, to expand both properties, use $expand=changedTime,createdTime"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The number of results to return. If null is passed, returns\
          \ all resources."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: OK - Returns an array of resources
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources:
    post:
      description: "The resources to move must be in the same source resource group.\
        \ The target resource group may be in a different subscription. When moving\
        \ resources, both the source group and the target group are locked for the\
        \ duration of the operation. Write and delete operations are blocked on the\
        \ groups until the move completes. "
      operationId: resources_move_resources
      parameters:
      - description: The name of the resource group containing the resources to move.
        in: path
        name: sourceResourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: Parameters for moving resources.
        required: true
        x-body-name: parameters
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      summary: Moves resources from one resource group to another resource group.
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resources_controller
  /subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/validateMoveResources:
    post:
      description: "This operation checks whether the specified resources can be moved\
        \ to the target. The resources to move must be in the same source resource\
        \ group. The target resource group may be in a different subscription. If\
        \ validation succeeds, it returns HTTP response code 204 (no content). If\
        \ validation fails, it returns HTTP response code 409 (Conflict) with an error\
        \ message. Retrieve the URL in the Location header value to check the result\
        \ of the long-running operation."
      operationId: resources_validate_move_resources
      parameters:
      - description: The name of the resource group containing the resources to validate
          for move.
        in: path
        name: sourceResourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: Parameters for moving resources.
        required: true
        x-body-name: parameters
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        "409":
          content: {}
          description: Conflict
      summary: Validates whether resources can be moved from one resource group to
        another resource group.
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resources_controller
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      description: Gets all the resource groups for a subscription.
      operationId: resource_groups_list
      parameters:
      - description: "The filter to apply on the operation.<br><br>You can filter\
          \ by tag names and values. For example, to filter for a tag name and value,\
          \ use $filter=tagName eq 'tag1' and tagValue eq 'Value1'"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to return. If null is passed, returns\
          \ all resource groups."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
          description: OK - Returns an array of resource groups.
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/ResourceGroupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    delete:
      description: "When you delete a resource group, all of its resources are also\
        \ deleted. Deleting a resource group deletes all of its template deployments\
        \ and currently stored operations."
      operationId: resource_groups_delete
      parameters:
      - description: The name of the resource group to delete. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
      summary: Deletes a resource group.
      tags:
      - ResourceGroups
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    get:
      description: Gets a resource group.
      operationId: resource_groups_get
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the resource group.
      tags:
      - ResourceGroups
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    head:
      description: Checks whether a resource group exists.
      operationId: resource_groups_check_existence
      parameters:
      - description: The name of the resource group to check. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      tags:
      - ResourceGroups
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    patch:
      description: "Resource groups can be updated through a simple PATCH operation\
        \ to a group address. The format of the request is the same as that for creating\
        \ a resource group. If a field is unspecified, the current value is retained."
      operationId: resource_groups_update
      parameters:
      - description: The name of the resource group to update. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupPatchable'
        description: Parameters supplied to update a resource group.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the resource group.
      summary: Updates a resource group.
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
    put:
      description: Creates or updates a resource group.
      operationId: resource_groups_create_or_update
      parameters:
      - description: "The name of the resource group to create or update. Can include\
          \ alphanumeric, underscore, parentheses, hyphen, period (except at end),\
          \ and Unicode characters that match the allowed characters."
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the create or update a resource group.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the new resource group.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: Created - Returns information about the new resource group.
      tags:
      - ResourceGroups
      x-ms-examples:
        Create or update a resource group:
          parameters:
            api-version: 2019-05-10
            parameters:
              location: eastus
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup"
                location: eastus
                name: myResourceGroup
                properties:
                  provisioningState: Succeeded
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup"
                location: eastus
                name: myResourceGroup
                properties:
                  provisioningState: Succeeded
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations:
    get:
      description: Gets all deployments operations for a deployment.
      operationId: deployment_operations_list
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Gets a deployments operation.
      operationId: deployment_operations_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
      tags:
      - DeploymentOperations
      x-openapi-router-controller: openapi_server.controllers.deployment_operations_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate:
    post:
      description: Captures the specified resource group as a template.
      operationId: resource_groups_export_template
      parameters:
      - description: The name of the resource group to export as a template.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
        description: Parameters for exporting the template.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupExportResult'
          description: OK - Returns the result of the export.
      tags:
      - ResourceGroups
      x-ms-examples:
        Export a resource group:
          parameters:
            api-version: 2019-05-10
            parameters:
              options: "IncludeParameterDefaultValue,IncludeComments"
              resources:
              - '*'
            resourceGroupName: myResourceGroup
            subscriptionId: eaee6a92-e973-4922-9471-3a0a6abf81cd
          responses:
            "200":
              body:
                error:
                  code: ExportTemplateCompletedWithErrors
                  details: []
                  message: Export template operation completed with errors. Some resources
                    were not exported. Please see details for more information.
                template:
                  $schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
                  contentVersion: 1.0.0.0
                  parameters:
                    myResourceType_myFirstResource_name:
                      defaultValue: myFirstResource
                      type: String
                    myResourceType_myFirstResource_secret:
                      type: SecureString
                    myResourceType_mySecondResource_name:
                      defaultValue: mySecondResource
                      type: String
                  resources:
                  - apiVersion: 2019-01-01
                    location: West US
                    name: "[parameters('myResourceType_myFirstResource_name')]"
                    properties:
                      secret: "[parameters('myResourceType_myFirstResource_secret')]"
                    type: My.RP/myResourceType
                  - apiVersion: 2019-01-01
                    location: West US
                    name: "[parameters('myResourceType_mySecondResource_name')]"
                    properties:
                      customProperty: hello!
                    type: My.RP/myResourceType
                  variables: {}
        Export a resource group with filtering:
          parameters:
            api-version: 2019-05-10
            parameters:
              options: SkipResourceNameParameterization
              resources:
              - /subscriptions/eaee6a92-e973-4922-9471-3a0a6abf81cd/resourceGroups/myResourceGroup/providers/My.RP/myResourceType/myFirstResource
            resourceGroupName: myResourceGroup
            subscriptionId: eaee6a92-e973-4922-9471-3a0a6abf81cd
          responses:
            "200":
              body:
                template:
                  $schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
                  contentVersion: 1.0.0.0
                  parameters:
                    myResourceType_myFirstResource_secret:
                      type: SecureString
                  resources:
                  - apiVersion: 2019-01-01
                    location: West US
                    name: myFirstResource
                    properties:
                      secret: "[parameters('myResourceType_myFirstResource_secret')]"
                    type: My.RP/myResourceType
                  variables: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resource_groups_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get all the deployments for a resource group.
      operationId: deployments_list_by_resource_group
      parameters:
      - description: The name of the resource group with the deployments to get. The
          name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: "The filter to apply on the operation. For example, you can use\
          \ $filter=provisioningState eq '{state}'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to get. If null is passed, returns all\
          \ deployments."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "A template deployment that is currently running cannot be deleted.\
        \ Deleting a template deployment removes the associated deployment operations.\
        \ Deleting a template deployment does not affect the state of the resource\
        \ group. This is an asynchronous operation that returns a status of 202 until\
        \ the template deployment is successfully deleted. The Location response header\
        \ contains the URI that is used to obtain the status of the process. While\
        \ the process is running, a call to the URI in the Location header returns\
        \ a status of 202. When the process finishes, the URI in the Location header\
        \ returns a status of 204 on success. If the asynchronous request failed,\
        \ the URI in the Location header returns an error-level status code."
      operationId: deployments_delete
      parameters:
      - description: The name of the resource group with the deployment to delete.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: No Content
      summary: Deletes a deployment from the deployment history.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    get:
      description: Gets a deployment.
      operationId: deployments_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    head:
      description: Checks whether the deployment exists.
      operationId: deployments_check_existence
      parameters:
      - description: The name of the resource group with the deployment to check.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
    put:
      description: You can provide the template and parameters directly in the request
        or link to JSON files.
      operationId: deployments_create_or_update
      parameters:
      - description: The name of the resource group to deploy the resources to. The
          name is case insensitive. The resource group must already exist.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "Created - Returns information about the deployment, including\
            \ provisioning status."
      summary: Deploys resources to a resource group.
      tags:
      - Deployments
      x-ms-examples:
        Create a deployment that will redeploy another deployment on failure:
          parameters:
            api-version: 2019-05-10
            deploymentName: exampleDeploymentName
            parameters:
              properties:
                mode: Complete
                onErrorDeployment:
                  deploymentName: "{nameOfDeploymentToUse}"
                  type: SpecificDeployment
                parameters: {}
                templateLink: "{templateUri}"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourcegroups/myResourceGroup/providers/Microsoft.Resources/deployments/exampleDeploymentName"
                name: exampleDeploymentName
                properties:
                  correlationId: "{correlationId}"
                  mode: Complete
                  onErrorDeployment:
                    deploymentName: "{nameOfDeploymentToUse}"
                    type: SpecificDeployment
                  provisioningState: Accepted
                  timestamp: 2019-03-01T00:00:00.0000000Z
                type: Microsoft.Resources/deployments
            "201":
              body:
                id: "/subscriptions/{subscriptionId}/resourcegroups/myResourceGroup/providers/Microsoft.Resources/deployments/exampleDeploymentName"
                name: exampleDeploymentName
                properties:
                  correlationId: "{correlationId}"
                  mode: Complete
                  onErrorDeployment:
                    deploymentName: "{nameOfDeploymentToUse}"
                    type: SpecificDeployment
                  provisioningState: Accepted
                  timestamp: 2019-03-01T00:00:00.0000000Z
                type: Microsoft.Resources/deployments
        Create a deployment that will redeploy the last successful deployment on failure:
          parameters:
            api-version: 2019-05-10
            deploymentName: exampleDeploymentName
            parameters:
              properties:
                mode: Complete
                onErrorDeployment:
                  type: LastSuccessful
                parameters: {}
                templateLink: "{templateUri}"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourcegroups/myResourceGroup/providers/Microsoft.Resources/deployments/exampleDeploymentName"
                name: exampleDeploymentName
                properties:
                  correlationId: "{correlationId}"
                  mode: Complete
                  onErrorDeployment:
                    deploymentName: "{nameOfLastSuccesfulDeployment}"
                    type: LastSuccessful
                  provisioningState: Accepted
                  timestamp: 2019-03-01T00:00:00.0000000Z
                type: Microsoft.Resources/deployments
            "201":
              body:
                id: "/subscriptions/{subscriptionId}/resourcegroups/myResourceGroup/providers/Microsoft.Resources/deployments/exampleDeploymentName"
                name: exampleDeploymentName
                properties:
                  correlationId: "{correlationId}"
                  mode: Complete
                  onErrorDeployment:
                    deploymentName: "{nameOfLastSuccesfulDeployment}"
                    type: LastSuccessful
                  provisioningState: Accepted
                  timestamp: 2019-03-01T00:00:00.0000000Z
                type: Microsoft.Resources/deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel
  : post:
      description: "You can cancel a deployment only if the provisioningState is Accepted\
        \ or Running. After the deployment is canceled, the provisioningState is set\
        \ to Canceled. Canceling a template deployment stops the currently running\
        \ template deployment and leaves the resource group partially deployed."
      operationId: deployments_cancel
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Cancels a currently running template deployment.
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate
  : post:
      description: Exports the template used for specified deployment.
      operationId: deployments_export_template
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
      tags:
      - Deployments
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate
  : post:
      description: Validates whether the specified template is syntactically correct
        and will be accepted by Azure Resource Manager..
      operationId: deployments_validate
      parameters:
      - description: The name of the resource group the template will be deployed
          to. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deployment_name
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Parameters to validate.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}
  : delete:
      description: Deletes a resource.
      operationId: resources_delete
      parameters:
      - description: The name of the resource group that contains the resource to
          delete. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to delete.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    get:
      description: Gets a resource.
      operationId: resources_get
      parameters:
      - description: The name of the resource group containing the resource to get.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to get.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
      tags:
      - Resources
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    head:
      description: Checks whether a resource exists.
      operationId: resources_check_existence
      parameters:
      - description: The name of the resource group containing the resource to check.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The resource provider of the resource to check.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to check whether it exists.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      tags:
      - Resources
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    patch:
      description: Updates a resource.
      operationId: resources_update
      parameters:
      - description: The name of the resource group for the resource. The name is
          case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource to update.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to update.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Parameters for updating the resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
        "202":
          content: {}
          description: Accepted
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.resources_controller
    put:
      description: Creates a resource.
      operationId: resources_create_or_update
      parameters:
      - description: The name of the resource group for the resource. The name is
          case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource to create.
        in: path
        name: resourceType
        required: true
[...]
