openapi: 3.0.1
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/scriptActions.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-scriptActions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions
  : post:
      description: Executes script actions on the specified HDInsight cluster.
      operationId: clusters_execute_script_actions
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clusters_ExecuteScriptActions_request'
        description: The parameters for executing script actions.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: Accepted response definition.
        "202":
          content: {}
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_ExecuteScriptActions_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Execute script action on HDInsight cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              persistOnSuccess: false
              scriptActions:
              - name: Test
                parameters: ""
                roles:
                - headnode
                - workernode
                uri: http://testurl.com/install.ssh
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions
  : get:
      description: Lists all the persisted script actions for the specified cluster.
      operationId: script_actions_list_by_cluster
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptActionsList'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_ExecuteScriptActions_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ScriptActions
      x-ms-examples:
        List all persisted script actions for the given cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - applicationName: app
                  name: app-Install
                  parameters: ""
                  roles:
                  - edgenode
                  uri: https://app.com/azure/app_install.sh
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.script_actions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions/{scriptName}
  : delete:
      description: Deletes a specified persisted script action of the cluster.
      operationId: script_actions_delete
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the script.
        in: path
        name: scriptName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_ExecuteScriptActions_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ScriptActions
      x-ms-examples:
        Delete a script action on HDInsight cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptName: scriptName
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.script_actions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory
  : get:
      description: Lists all scripts' execution history for the specified cluster.
      operationId: script_execution_history_list_by_cluster
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptActionExecutionHistoryList'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_ExecuteScriptActions_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ScriptExecutionHistory
      x-ms-examples:
        Get Script Execution History List:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptExecutionId: "391145124054712"
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - applicationName: app1
                  endTime: 2017-03-22T21:34:39.293
                  executionSummary: []
                  name: Test
                  operation: PostClusterCreateScriptActionRequest
                  parameters: ""
                  roles:
                  - headnode
                  - workernode
                  scriptExecutionId: 391145124054712
                  startTime: 2017-03-22T21:34:39.293
                  status: ValidationFailed
                  uri: http://testurl.com/install.ssh
                - applicationName: app2
                  endTime: 2017-03-22T21:34:39.293
                  executionSummary: []
                  name: Test
                  operation: PostClusterCreateScriptActionRequest
                  parameters: ""
                  roles:
                  - headnode
                  - workernode
                  scriptExecutionId: 391144597342127
                  startTime: 2017-03-22T21:34:39.293
                  status: ValidationFailed
                  uri: http://testurl.com/install-script.ssh
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.script_execution_history_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}
  : get:
      description: Gets the script execution detail for the given script execution
        ID.
      operationId: script_actions_get_execution_detail
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The script execution Id
        in: path
        name: scriptExecutionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptActions_GetExecutionDetail_200_response'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_ExecuteScriptActions_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ScriptExecutionHistory
      x-ms-examples:
        Get script execution history by script id:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptExecutionId: "391145124054712"
            subscriptionId: subid
          responses:
            "200":
              body:
                applicationName: app1
                debugInformation: ""
                endTime: 2017-03-22T21:34:39.293
                executionSummary: []
                name: Test
                operation: PostClusterCreateScriptActionRequest
                parameters: ""
                roles:
                - headnode
                - workernode
                scriptExecutionId: 391145124054712
                startTime: 2017-03-22T21:34:39.293
                status: ValidationFailed
                uri: http://testurl.com/install.ssh
      x-openapi-router-controller: openapi_server.controllers.script_execution_history_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}/promote
  : post:
      description: Promotes the specified ad-hoc script execution to a persisted script.
      operationId: script_execution_history_promote
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The script execution Id
        in: path
        name: script_execution_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_ExecuteScriptActions_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Promote
      x-ms-examples:
        Promote a script action on HDInsight cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptExecutionId: "391145124054712"
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.promote_controller
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ScriptExecutionIdParameter:
      description: The script execution Id
      in: path
      name: scriptExecutionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ScriptNameParameter:
      description: The name of the script.
      in: path
      name: scriptName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ClusterListRuntimeScriptActionDetailResult:
      description: The list runtime script action detail response.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of persisted script action details for the cluster.
          items:
            $ref: '#/components/schemas/ClusterListRuntimeScriptActionDetailResult_value_inner'
          readOnly: true
          type: array
      type: object
    ScriptAction:
      description: Describes a script action on role on the cluster.
      properties:
        name:
          description: The name of the script action.
          type: string
        parameters:
          description: The parameters for the script provided.
          type: string
        uri:
          description: The URI to the script.
          type: string
      required:
      - name
      - parameters
      - uri
      type: object
    ScriptActionExecutionHistoryList:
      description: The list script execution history response.
      example:
        value:
        - roles:
          - roles
          - roles
          debugInformation: debugInformation
          name: name
          scriptExecutionId: 6
          startTime: startTime
          endTime: endTime
          parameters: parameters
          uri: uri
          operation: operation
          applicationName: applicationName
          executionSummary:
          - instanceCount: 0
            status: status
          - instanceCount: 0
            status: status
          status: status
        - roles:
          - roles
          - roles
          debugInformation: debugInformation
          name: name
          scriptExecutionId: 6
          startTime: startTime
          endTime: endTime
          parameters: parameters
          uri: uri
          operation: operation
          applicationName: applicationName
          executionSummary:
          - instanceCount: 0
            status: status
          - instanceCount: 0
            status: status
          status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of persisted script action details for the cluster.
          items:
            $ref: '#/components/schemas/ClusterListRuntimeScriptActionDetailResult_value_inner'
          readOnly: true
          title: value
          type: array
      title: ScriptActionExecutionHistoryList
      type: object
    ScriptActionPersistedGetResponseSpec:
      description: The persisted script action for cluster.
      properties:
        applicationName:
          description: The application name for the script action.
          type: string
        name:
          description: The name of script action.
          type: string
        parameters:
          description: The parameters for the script provided.
          type: string
        roles:
          description: The list of roles where script will be executed.
          items:
            type: string
          type: array
        uri:
          description: The URI to the script.
          type: string
      type: object
    ScriptActionsList:
      description: The persisted script action for the cluster.
      example:
        value:
        - roles:
          - roles
          - roles
          debugInformation: debugInformation
          name: name
          scriptExecutionId: 6
          startTime: startTime
          endTime: endTime
          parameters: parameters
          uri: uri
          operation: operation
          applicationName: applicationName
          executionSummary:
          - instanceCount: 0
            status: status
          - instanceCount: 0
            status: status
          status: status
        - roles:
          - roles
          - roles
          debugInformation: debugInformation
          name: name
          scriptExecutionId: 6
          startTime: startTime
          endTime: endTime
          parameters: parameters
          uri: uri
          operation: operation
          applicationName: applicationName
          executionSummary:
          - instanceCount: 0
            status: status
          - instanceCount: 0
            status: status
          status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of persisted script action details for the cluster.
          items:
            $ref: '#/components/schemas/ClusterListRuntimeScriptActionDetailResult_value_inner'
          title: value
          type: array
      title: ScriptActionsList
      type: object
    Clusters_ExecuteScriptActions_request_scriptActions_inner:
      description: Describes a script action on a running cluster.
      properties:
        applicationName:
          description: "The application name of the script action, if any."
          readOnly: true
          title: applicationName
          type: string
        name:
          description: The name of the script action.
          title: name
          type: string
        parameters:
          description: The parameters for the script
          title: parameters
          type: string
        roles:
          description: The list of roles where script will be executed.
          items:
            type: string
          title: roles
          type: array
        uri:
          description: The URI to the script.
          title: uri
          type: string
      required:
      - name
      - roles
      - uri
      title: Clusters_ExecuteScriptActions_request_scriptActions_inner
      type: object
    Clusters_ExecuteScriptActions_request:
      description: The parameters for the script actions to execute on a running cluster.
      properties:
        persistOnSuccess:
          description: Gets or sets if the scripts needs to be persisted.
          title: persistOnSuccess
          type: boolean
        scriptActions:
          description: The list of run time script actions.
          items:
            $ref: '#/components/schemas/Clusters_ExecuteScriptActions_request_scriptActions_inner'
          title: scriptActions
          type: array
      required:
      - persistOnSuccess
      title: Clusters_ExecuteScriptActions_request
      type: object
    Clusters_ExecuteScriptActions_default_response:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: Clusters_ExecuteScriptActions_default_response
      type: object
    ScriptActions_GetExecutionDetail_200_response_allOf_executionSummary_inner:
      description: The execution summary of a script action.
      example:
        instanceCount: 0
        status: status
      properties:
        instanceCount:
          description: The instance count for a given script action execution status.
          format: int32
          readOnly: true
          title: instanceCount
          type: integer
        status:
          description: The status of script action execution.
          readOnly: true
          title: status
          type: string
      title: ScriptActions_GetExecutionDetail_200_response_allOf_executionSummary_inner
      type: object
    ScriptActions_GetExecutionDetail_200_response:
      allOf:
      - description: Describes a script action on a running cluster.
        properties:
          applicationName:
            description: "The application name of the script action, if any."
            readOnly: true
            type: string
          name:
            description: The name of the script action.
            type: string
          parameters:
            description: The parameters for the script
            type: string
          roles:
            description: The list of roles where script will be executed.
            items:
              type: string
            type: array
          uri:
            description: The URI to the script.
            type: string
        required:
        - name
        - roles
        - uri
        type: object
      - properties:
          debugInformation:
            description: The script action execution debug information.
            readOnly: true
            type: string
          endTime:
            description: The end time of script action execution.
            readOnly: true
            type: string
          executionSummary:
            description: The summary of script action execution result.
            items:
              $ref: '#/components/schemas/ScriptActions_GetExecutionDetail_200_response_allOf_executionSummary_inner'
            readOnly: true
            type: array
          operation:
            description: The reason why the script action was executed.
            readOnly: true
            type: string
          scriptExecutionId:
            description: The execution id of the script action.
            format: int64
            readOnly: true
            type: integer
          startTime:
            description: The start time of script action execution.
            readOnly: true
            type: string
          status:
            description: The current execution status of the script action.
            readOnly: true
            type: string
        type: object
      description: The execution details of a script action.
      example:
        roles:
        - roles
        - roles
        debugInformation: debugInformation
        name: name
        scriptExecutionId: 0
        startTime: startTime
        endTime: endTime
        parameters: parameters
        uri: uri
        operation: operation
        applicationName: applicationName
        executionSummary:
        - instanceCount: 0
          status: status
        - instanceCount: 0
          status: status
        status: status
      title: ScriptActions_GetExecutionDetail_200_response
    ClusterListRuntimeScriptActionDetailResult_value_inner:
      allOf:
      - description: Describes a script action on a running cluster.
        properties:
          applicationName:
            description: "The application name of the script action, if any."
            readOnly: true
            type: string
          name:
            description: The name of the script action.
            type: string
          parameters:
            description: The parameters for the script
            type: string
          roles:
            description: The list of roles where script will be executed.
            items:
              type: string
            type: array
          uri:
            description: The URI to the script.
            type: string
        required:
        - name
        - roles
        - uri
        type: object
      - properties:
          debugInformation:
            description: The script action execution debug information.
            readOnly: true
            type: string
          endTime:
            description: The end time of script action execution.
            readOnly: true
            type: string
          executionSummary:
            description: The summary of script action execution result.
            items:
              $ref: '#/components/schemas/ScriptActions_GetExecutionDetail_200_response_allOf_executionSummary_inner'
            readOnly: true
            type: array
          operation:
            description: The reason why the script action was executed.
            readOnly: true
            type: string
          scriptExecutionId:
            description: The execution id of the script action.
            format: int64
            readOnly: true
            type: integer
          startTime:
            description: The start time of script action execution.
            readOnly: true
            type: string
          status:
            description: The current execution status of the script action.
            readOnly: true
            type: string
        type: object
      description: The execution details of a script action.
      example:
        roles:
        - roles
        - roles
        debugInformation: debugInformation
        name: name
        scriptExecutionId: 6
        startTime: startTime
        endTime: endTime
        parameters: parameters
        uri: uri
        operation: operation
        applicationName: applicationName
        executionSummary:
        - instanceCount: 0
          status: status
        - instanceCount: 0
          status: status
        status: status
      title: ClusterListRuntimeScriptActionDetailResult_value_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
