openapi: 3.0.0
info:
  contact:
    email: software@scideas.net
    name: scideas software
    url: https://scideas.net
  description: This data processing api uses regression analysis to allow you to find
    out which contributing variables have the most effect on an outcome. For example
    does buyer location or price most effect sales ?
  termsOfService: https://scideas.net/terms
  title: Regression analysis api
  version: "1.0"
  x-logo:
    url: https://scideas.net/media/logos/favicon/apple-touch-icon-57x57.png
  x-origin:
  - format: openapi
    url: https://services.scideas.net/regression/resources/openapi3.0.0-regression-1.0.json
    version: "3.0"
  x-providerName: scideas.net
  x-serviceName: regression
externalDocs:
  url: https://services.scideas.net/regression
servers:
- url: https://services.scideas.net
paths:
  /regression/api:
    post:
      operationId: regression_api_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/regression_api_body'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: A JSON array of data
      summary: Returns regression analysis.
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas:
    error:
      properties:
        error:
          description: an error description
          example: invalid key
          title: error
          type: string
      title: error
      type: object
    inline_response_200:
      oneOf:
      - $ref: '#/components/schemas/result'
      - $ref: '#/components/schemas/error'
      title: inline_response_200
    regression_api_body:
      properties:
        convert_date_to:
          description: convert dates to either month (1-12) or week (1-52)
          example: month
          title: convert_date_to
          type: string
        data:
          example:
          - "25,female,30.2,0,yes,southwest,33900.65"
          - "19,female,20.6,0,no,southwest,1731.677"
          items:
            description: "array of comma separated variable strings, one element from\
              \ each line of the csv file"
            format: string
            type: object
          title: data
          type: array
        ignore_variables:
          example:
          - VAT
          - post code
          items:
            description: array of variable names to ignore when processing
            format: string
            type: object
          title: ignore_variables
          type: array
        key:
          description: api key
          example: abc123
          title: key
          type: string
        outcome_variable:
          description: name of the desired outcome variable
          example: sales
          title: outcome_variable
          type: string
      required:
      - data
      - key
      - outcome_variable
      title: regression_api_body
      type: object
    result:
      example:
        summary:
        - state has a negligible (0) influence.
        - discount has a small (2) influence. More discount makes sales higher
        dates_converted_to: week
        footer: acme products ltd
        tested_variables:
        - state
        - date
        - discount
        number_observations: 9000
        prediction_mean_accuracy: 106
        standardized_coefficients:
        - coefficient: 0
          variable: state
        - coefficient: 2
          variable: discount
        pdf: https://scideas.net/services/regression/api/pdf/abc123-1641901999.9268.pdf
        calls":
          this_month: 47
          limit_reached: false
          limit: 100
        number_tests: 500
        outcome_variable: sales
        paid: "true"
        header: sales regression analysis
        data_count: 9500
      properties:
        calls":
          $ref: '#/components/schemas/result_calls'
        data_count:
          description: number of data rows processed
          example: 9500
          title: data_count
          type: integer
        dates_converted_to:
          description: either month or week
          example: week
          title: dates_converted_to
          type: string
        footer:
          description: text for pdf footer
          example: acme products ltd
          title: footer
          type: string
        header:
          description: text for pdf header
          example: sales regression analysis
          title: header
          type: string
        number_observations:
          description: number of data rows used for analysis
          example: 9000
          title: number_observations
          type: integer
        number_tests:
          description: number of data rows used to test model accuracy
          example: 500
          title: number_tests
          type: integer
        outcome_variable:
          description: the name of the variable processed as the outcome
          example: sales
          title: outcome_variable
          type: string
        paid:
          description: "yes if paid subscriber, otherwise no"
          example: "true"
          title: paid
          type: string
        pdf:
          description: url of pdf summary
          example: https://scideas.net/services/regression/api/pdf/abc123-1641901999.9268.pdf
          title: pdf
          type: string
        prediction_mean_accuracy:
          description: percentage accuracy of model created
          example: 106
          title: prediction_mean_accuracy
          type: integer
        standardized_coefficients:
          example:
          - coefficient: 0
            variable: state
          - coefficient: 2
            variable: discount
          items:
            $ref: '#/components/schemas/result_standardized_coefficients'
          title: standardized_coefficients
          type: array
        summary:
          example:
          - state has a negligible (0) influence.
          - discount has a small (2) influence. More discount makes sales higher
          items:
            description: "array of text summaries, one per contributing varible"
            format: string
            type: object
          title: summary
          type: array
        tested_variables:
          example:
          - state
          - date
          - discount
          items:
            description: array of variable names included in the analysis
            type: string
          title: tested_variables
          type: array
      title: result
      type: object
    result_calls:
      example:
        this_month: 47
        limit_reached: false
        limit: 100
      properties:
        limit:
          description: number of api calls allowed per month
          example: 100
          title: limit
          type: integer
        limit_reached:
          description: true if monthly limit has been reached
          example: false
          title: limit_reached
          type: boolean
        this_month:
          description: number of api calls this month
          example: 47
          title: this_month
          type: integer
      title: result_calls
      type: object
    result_standardized_coefficients:
      properties:
        coefficient:
          description: standardized regression coefficient for variable
          title: coefficient
          type: integer
        variable:
          description: name of variable
          title: variable
          type: string
      title: result_standardized_coefficients
      type: object
