openapi: 3.0.1
info:
  title: App Store Connect API
  version: 1.4.1
  x-apisguru-categories:
  - developer_tools
  x-origin:
  - format: openapi
    url: app-store-connect-openapi-specification.json
    version: "3.0"
  x-platform: app_store_connect_api
  x-providerName: apple.com
  x-serviceName: app-store-connect
externalDocs:
  description: App Store Connect API Documentation
  url: https://developer.apple.com/documentation/appstoreconnectapi
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
paths:
  /v1/ageRatingDeclarations/{id}:
    patch:
      operationId: age_rating_declarations_update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeRatingDeclarationUpdateRequest'
        description: AgeRatingDeclaration representation
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
          description: Single AgeRatingDeclaration
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AgeRatingDeclarations
      x-openapi-router-controller: openapi_server.controllers.age_rating_declarations_controller
      x-codegen-request-body-name: body
  /v1/appCategories:
    get:
      operationId: app_categories_get_collection
      parameters:
      - description: filter by attribute 'platforms'
        explode: false
        in: query
        name: "filter[platforms]"
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by existence or non-existence of related 'parent'
        explode: false
        in: query
        name: "exists[parent]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: "limit[subcategories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoriesResponse'
          description: List of AppCategories
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppCategories
      x-openapi-router-controller: openapi_server.controllers.app_categories_controller
  /v1/appCategories/{id}:
    get:
      operationId: app_categories_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: "limit[subcategories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Single AppCategory
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppCategories
      x-openapi-router-controller: openapi_server.controllers.app_categories_controller
  /v1/appCategories/{id}/parent:
    get:
      operationId: app_categories_parent_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppCategories
      x-openapi-router-controller: openapi_server.controllers.app_categories_controller
  /v1/appCategories/{id}/subcategories:
    get:
      operationId: app_categories_subcategories_get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoriesResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppCategories
      x-openapi-router-controller: openapi_server.controllers.app_categories_controller
  /v1/appEncryptionDeclarations:
    get:
      operationId: app_encryption_declarations_get_collection
      parameters:
      - description: filter by attribute 'platform'
        explode: false
        in: query
        name: "filter[platform]"
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'app'
        explode: false
        in: query
        name: "filter[app]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'builds'
        explode: false
        in: query
        name: "filter[builds]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: "fields[appEncryptionDeclarations]"
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationsResponse'
          description: List of AppEncryptionDeclarations
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppEncryptionDeclarations
      x-openapi-router-controller: openapi_server.controllers.app_encryption_declarations_controller
  /v1/appEncryptionDeclarations/{id}:
    get:
      operationId: app_encryption_declarations_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: "fields[appEncryptionDeclarations]"
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationResponse'
          description: Single AppEncryptionDeclaration
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppEncryptionDeclarations
      x-openapi-router-controller: openapi_server.controllers.app_encryption_declarations_controller
  /v1/appEncryptionDeclarations/{id}/app:
    get:
      operationId: app_encryption_declarations_app_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppEncryptionDeclarations
      x-openapi-router-controller: openapi_server.controllers.app_encryption_declarations_controller
  /v1/appEncryptionDeclarations/{id}/relationships/builds:
    post:
      operationId: app_encryption_declarations_builds_create_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEncryptionDeclarationBuildsLinkagesRequest'
        description: List of related linkages
        required: true
        x-body-name: body
      responses:
        "204":
          description: Success (no content)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEncryptionDeclarations
      x-openapi-router-controller: openapi_server.controllers.app_encryption_declarations_controller
      x-codegen-request-body-name: body
  /v1/appInfoLocalizations:
    post:
      operationId: app_info_localizations_create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoLocalizationCreateRequest'
        description: AppInfoLocalization representation
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
      x-openapi-router-controller: openapi_server.controllers.app_info_localizations_controller
      x-codegen-request-body-name: body
  /v1/appInfoLocalizations/{id}:
    delete:
      operationId: app_info_localizations_delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
      x-openapi-router-controller: openapi_server.controllers.app_info_localizations_controller
    get:
      operationId: app_info_localizations_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: "fields[appInfoLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appInfo
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfoLocalizations
      x-openapi-router-controller: openapi_server.controllers.app_info_localizations_controller
    patch:
      operationId: app_info_localizations_update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoLocalizationUpdateRequest'
        description: AppInfoLocalization representation
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
      x-openapi-router-controller: openapi_server.controllers.app_info_localizations_controller
      x-codegen-request-body-name: body
  /v1/appInfos/{id}:
    get:
      operationId: app_infos_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appInfos
        explode: false
        in: query
        name: "fields[appInfos]"
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appInfoLocalizations
            - appStoreAgeRating
            - appStoreState
            - brazilAgeRating
            - kidsAgeBand
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type ageRatingDeclarations
        explode: false
        in: query
        name: "fields[ageRatingDeclarations]"
        required: false
        schema:
          items:
            enum:
            - alcoholTobaccoOrDrugUseOrReferences
            - contests
            - gambling
            - gamblingAndContests
            - gamblingSimulated
            - horrorOrFearThemes
            - kidsAgeBand
            - matureOrSuggestiveThemes
            - medicalOrTreatmentInformation
            - profanityOrCrudeHumor
            - seventeenPlus
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - unrestrictedWebAccess
            - violenceCartoonOrFantasy
            - violenceRealistic
            - violenceRealisticProlongedGraphicOrSadistic
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: "fields[appInfoLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: maximum number of related appInfoLocalizations returned (when
          they are included)
        explode: true
        in: query
        name: "limit[appInfoLocalizations]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
          description: Single AppInfo
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
    patch:
      operationId: app_infos_update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoUpdateRequest'
        description: AppInfo representation
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
          description: Single AppInfo
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
      x-codegen-request-body-name: body
  /v1/appInfos/{id}/ageRatingDeclaration:
    get:
      operationId: app_infos_age_rating_declaration_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type ageRatingDeclarations
        explode: false
        in: query
        name: "fields[ageRatingDeclarations]"
        required: false
        schema:
          items:
            enum:
            - alcoholTobaccoOrDrugUseOrReferences
            - contests
            - gambling
            - gamblingAndContests
            - gamblingSimulated
            - horrorOrFearThemes
            - kidsAgeBand
            - matureOrSuggestiveThemes
            - medicalOrTreatmentInformation
            - profanityOrCrudeHumor
            - seventeenPlus
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - unrestrictedWebAccess
            - violenceCartoonOrFantasy
            - violenceRealistic
            - violenceRealisticProlongedGraphicOrSadistic
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/appInfoLocalizations:
    get:
      operationId: app_infos_app_info_localizations_get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: filter by attribute 'locale'
        explode: false
        in: query
        name: "filter[locale]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfos
        explode: false
        in: query
        name: "fields[appInfos]"
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appInfoLocalizations
            - appStoreAgeRating
            - appStoreState
            - brazilAgeRating
            - kidsAgeBand
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: "fields[appInfoLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appInfo
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/primaryCategory:
    get:
      operationId: app_infos_primary_category_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/primarySubcategoryOne:
    get:
      operationId: app_infos_primary_subcategory_one_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/primarySubcategoryTwo:
    get:
      operationId: app_infos_primary_subcategory_two_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/secondaryCategory:
    get:
      operationId: app_infos_secondary_category_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/secondarySubcategoryOne:
    get:
      operationId: app_infos_secondary_subcategory_one_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appInfos/{id}/secondarySubcategoryTwo:
    get:
      operationId: app_infos_secondary_subcategory_two_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppInfos
      x-openapi-router-controller: openapi_server.controllers.app_infos_controller
  /v1/appPreOrders:
    post:
      operationId: app_pre_orders_create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreOrderCreateRequest'
        description: AppPreOrder representation
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
      x-openapi-router-controller: openapi_server.controllers.app_pre_orders_controller
      x-codegen-request-body-name: body
  /v1/appPreOrders/{id}:
    delete:
      operationId: app_pre_orders_delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
      x-openapi-router-controller: openapi_server.controllers.app_pre_orders_controller
    get:
      operationId: app_pre_orders_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreOrders
        explode: false
        in: query
        name: "fields[appPreOrders]"
        required: false
        schema:
          items:
            enum:
            - app
            - appReleaseDate
            - preOrderAvailableDate
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreOrders
      x-openapi-router-controller: openapi_server.controllers.app_pre_orders_controller
    patch:
      operationId: app_pre_orders_update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreOrderUpdateRequest'
        description: AppPreOrder representation
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
      x-openapi-router-controller: openapi_server.controllers.app_pre_orders_controller
      x-codegen-request-body-name: body
  /v1/appPreviewSets:
    post:
      operationId: app_preview_sets_create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetCreateRequest'
        description: AppPreviewSet representation
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
          description: Single AppPreviewSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
      x-openapi-router-controller: openapi_server.controllers.app_preview_sets_controller
      x-codegen-request-body-name: body
  /v1/appPreviewSets/{id}:
    delete:
      operationId: app_preview_sets_delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
      x-openapi-router-controller: openapi_server.controllers.app_preview_sets_controller
    get:
      operationId: app_preview_sets_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: "fields[appPreviewSets]"
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: "fields[appPreviews]"
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: maximum number of related appPreviews returned (when they are
          included)
        explode: true
        in: query
        name: "limit[appPreviews]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
          description: Single AppPreviewSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviewSets
      x-openapi-router-controller: openapi_server.controllers.app_preview_sets_controller
  /v1/appPreviewSets/{id}/appPreviews:
    get:
      operationId: app_preview_sets_app_previews_get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: "fields[appPreviews]"
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: "fields[appPreviewSets]"
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviewSets
      x-openapi-router-controller: openapi_server.controllers.app_preview_sets_controller
  /v1/appPreviewSets/{id}/relationships/appPreviews:
    get:
      operationId: app_preview_sets_app_previews_get_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetAppPreviewsLinkagesResponse'
          description: List of related linkages
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviewSets
      x-openapi-router-controller: openapi_server.controllers.app_preview_sets_controller
    patch:
      operationId: app_preview_sets_app_previews_replace_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetAppPreviewsLinkagesRequest'
        description: List of related linkages
        required: true
        x-body-name: body
      responses:
        "204":
          description: Success (no content)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
      x-openapi-router-controller: openapi_server.controllers.app_preview_sets_controller
      x-codegen-request-body-name: body
  /v1/appPreviews:
    post:
      operationId: app_previews_create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewCreateRequest'
        description: AppPreview representation
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
      x-openapi-router-controller: openapi_server.controllers.app_previews_controller
      x-codegen-request-body-name: body
  /v1/appPreviews/{id}:
    delete:
      operationId: app_previews_delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
      x-openapi-router-controller: openapi_server.controllers.app_previews_controller
    get:
      operationId: app_previews_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: "fields[appPreviews]"
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPreviews
      x-openapi-router-controller: openapi_server.controllers.app_previews_controller
    patch:
      operationId: app_previews_update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewUpdateRequest'
        description: AppPreview representation
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
      x-openapi-router-controller: openapi_server.controllers.app_previews_controller
      x-codegen-request-body-name: body
  /v1/appPricePoints:
    get:
      operationId: app_price_points_get_collection
      parameters:
      - description: filter by id(s) of related 'priceTier'
        explode: false
        in: query
        name: "filter[priceTier]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'territory'
        explode: false
        in: query
        name: "filter[territory]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - priceTier
            - territory
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointsResponse'
          description: List of AppPricePoints
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppPricePoints
      x-openapi-router-controller: openapi_server.controllers.app_price_points_controller
  /v1/appPricePoints/{id}:
    get:
      operationId: app_price_points_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - priceTier
            - territory
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointResponse'
          description: Single AppPricePoint
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPricePoints
      x-openapi-router-controller: openapi_server.controllers.app_price_points_controller
  /v1/appPricePoints/{id}/territory:
    get:
      operationId: app_price_points_territory_get_to_one_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryResponse'
          description: Related resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPricePoints
      x-openapi-router-controller: openapi_server.controllers.app_price_points_controller
  /v1/appPriceTiers:
    get:
      operationId: app_price_tiers_get_collection
      parameters:
      - description: filter by id(s)
        explode: false
        in: query
        name: "filter[id]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPriceTiers
        explode: false
        in: query
        name: "fields[appPriceTiers]"
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum number of related pricePoints returned (when they are
          included)
        explode: true
        in: query
        name: "limit[pricePoints]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceTiersResponse'
          description: List of AppPriceTiers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
      tags:
      - AppPriceTiers
      x-openapi-router-controller: openapi_server.controllers.app_price_tiers_controller
  /v1/appPriceTiers/{id}:
    get:
      operationId: app_price_tiers_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPriceTiers
        explode: false
        in: query
        name: "fields[appPriceTiers]"
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum number of related pricePoints returned (when they are
          included)
        explode: true
        in: query
        name: "limit[pricePoints]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceTierResponse'
          description: Single AppPriceTier
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPriceTiers
      x-openapi-router-controller: openapi_server.controllers.app_price_tiers_controller
  /v1/appPriceTiers/{id}/pricePoints:
    get:
      operationId: app_price_tiers_price_points_get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: "fields[appPricePoints]"
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPriceTiers
      x-openapi-router-controller: openapi_server.controllers.app_price_tiers_controller
  /v1/appPrices/{id}:
    get:
      operationId: app_prices_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPrices
        explode: false
        in: query
        name: "fields[appPrices]"
        required: false
        schema:
          items:
            enum:
            - app
            - priceTier
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - priceTier
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceResponse'
          description: Single AppPrice
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppPrices
      x-openapi-router-controller: openapi_server.controllers.app_prices_controller
  /v1/appScreenshotSets:
    post:
      operationId: app_screenshot_sets_create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotSetCreateRequest'
        description: AppScreenshotSet representation
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetResponse'
          description: Single AppScreenshotSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
      x-openapi-router-controller: openapi_server.controllers.app_screenshot_sets_controller
      x-codegen-request-body-name: body
  /v1/appScreenshotSets/{id}:
    delete:
      operationId: app_screenshot_sets_delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
      x-openapi-router-controller: openapi_server.controllers.app_screenshot_sets_controller
    get:
      operationId: app_screenshot_sets_get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: "fields[appScreenshotSets]"
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: "fields[appScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: maximum number of related appScreenshots returned (when they
          are included)
        explode: true
        in: query
        name: "limit[appScreenshots]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetResponse'
          description: Single AppScreenshotSet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshotSets
      x-openapi-router-controller: openapi_server.controllers.app_screenshot_sets_controller
  /v1/appScreenshotSets/{id}/appScreenshots:
    get:
      operationId: app_screenshot_sets_app_screenshots_get_to_many_related
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: "fields[appScreenshotSets]"
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: "fields[appScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotsResponse'
          description: List of related resources
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshotSets
      x-openapi-router-controller: openapi_server.controllers.app_screenshot_sets_controller
  /v1/appScreenshotSets/{id}/relationships/appScreenshots:
    get:
      operationId: app_screenshot_sets_app_screenshots_get_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetAppScreenshotsLinkagesResponse'
          description: List of related linkages
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
      tags:
      - AppScreenshotSets
      x-openapi-router-controller: openapi_server.controllers.app_screenshot_sets_controller
    patch:
      operationId: app_screenshot_sets_app_screenshots_replace_to_many_relationship
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotSetAppScreenshotsLinkagesRequest'
        description: List of related linkages
        required: true
        x-body-name: body
      responses:
        "204":
          description: Success (no content)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
      x-openapi-router-controller: openapi_server.controllers.app_screenshot_sets_controller
      x-codegen-request-body-name: body
  /v1/appScreenshots:
    post:
      operationId: app_screenshots_create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotCreateRequest'
        description: AppScreenshot representation
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotResponse'
          description: Single AppScreenshot
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshots
      x-openapi-router-controller: openapi_server.controllers.app_screenshots_controller
      x-codegen-request-body-name: body
  /v1/appScreenshots/{id}:
    delete:
      operationId: app_screenshots_delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (no content)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
[...]
