openapi: 3.0.1
info:
  contact:
    email: apisupport@mastercard.com
    name: Mastercard API Support
  description: This API provides our Issuer partners with resources to help resolve
    consumer queries about payment accounts enabled through our digitization platform.
  title: MDES Customer Service
  version: 2.0.7
  x-artifactId: mdes-customer-service
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/mdes-customer-service
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: MDES
servers:
- url: https://api.mastercard.com/mdes/csapi/v2
paths:
  /accountholdermessaging:
    post:
      description: |
        Allows issuers to display customized messages per token within the Apple Pay wallet, below the digitized image of the card.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountHolderMessagingRequest'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolderMessagingResponseSchema'
          description: Contains the details of the response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Account Holder Messaging
      x-samples:
      - name: account_holder_messaging
        request:
          application/json: |-
            {
             "AccountHolderMessagingRequest": {
            "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
            "MessageText": " You have earned a statement credit ",
            "MessageExpiration": "2020-06-18T18:04:35-06:00",
            "MessageLanguageCode": "en",
            "MessageIdentifier": "6598123486451346764616431064",
            "IssuerApplicationMessageDisplay": "FALSE",
              "AuditInfo": {
                "UserId": "A1435477",
                "UserName": "John Smith",
                "Organization": "Any Bank",
                "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
             "AccountHolderMessagingResponse": {
               "Token": {"TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"}
               }
             }
      x-codegen-request-body-name: AccountholderMessagingRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /search:
    post:
      description: "Provides the ability to search for tokens based on Account PAN,\
        \ Alternate Account Identifier, Token Unique Reference, Token, Payment App\
        \ Instance Id or Comment Id. Returns all of the tokens associated with an\
        \ account according to the scope of the indicated search request criteria.\
        \ The response includes key state and informational data for each token, including\
        \ the Token Unique Reference which is needed for subsequent token lifecycle\
        \ management activities.<br><br>_Notes:_ The Search API request MUST include\
        \ only one of the available search methods Account PAN, Token Unique Reference,\
        \ Token, Payment App Instance Id, Comment Id, or Alternate Account Identifier.\
        \ They cannot be used together in a single request.<br> Moreover, this function\
        \ only retrieves results if the search criteria matches a current value from\
        \ the token vault. In other words, if the search criteria is a PAN that has\
        \ been replaced, the system will not retrieve any data. \n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Search
      x-samples:
      - ignoreAsserts:
        - "SearchResponse.Accounts.Account[0].AlternateAccountIdentifierSuffix"
        - "SearchResponse.Accounts.Account[0].Tokens.Token[0].AccountPanSequenceNumber"
        - "SearchResponse.Accounts.Account[0].Tokens.Token[0].TokenDeletedFromConsumerApp"
        name: example_mdes_search_token_unique_ref
        request:
          application/json: |-
            {
                "SearchRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
        response:
          application/json: |-
            {
              "SearchResponse": {
                "Accounts": {
                  "Account": [{
                    "AccountPanSuffix": "1234",
                    "ExpirationDate": "1215",
                    "AlternateAccountIdentifierSuffix": "",
                    "Tokens": {
                      "Token": [{
                        "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                        "PrimaryAccountNumberUniqueReference": "FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3",
                        "TokenSuffix": "7639",
                        "ExpirationDate": "0216",
                        "AccountPanSequenceNumber" : "02",
                        "DigitizationRequestDateTime": "2015-01-20T18:04:35-06:00",
                        "TokenActivatedDateTime": "2015-01-20T18:04:35-06:00",
                        "FinalTokenizationDecision": "A",
                        "CorrelationId": "101234",
                        "CurrentStatusCode": "A",
                        "CurrentStatusDescription": "Active",
                        "ProvisioningStatusCode": "S",
                        "ProvisioningStatusDescription": "Provisioning successful",
                        "TokenRequestorId": "00212345678",
                        "WalletId": "103",
                        "PaymentAppInstanceId": "92de9357a535b2c21a3566e446f43c532a46b54c46",
                        "TokenType": "S",
                        "LastCommentId": "2376",
                        "Device": {
                          "DeviceId": "3e5edf24a24ba98e27d43e345b532a245e4723d7a9c4f624e93452c92de9357a535b2c21a3566e446f43c532d34s6",
                          "DeviceName": "John Phone",
                          "DeviceType": "09",
                          "SecureElementId": "92de9357a535b2c21a3566e446f43c532a46b54c46"
                        },
                        "TokenDeletedFromConsumerApp" : false
                      }]
                    }
                  }]
                }
              }
            }
      - name: example_mdes_search_account_pan
        request:
          application/json: |-
            {
                "SearchRequest": {
                  "AccountPan": "5412345678901234",
                  "ExcludeDeletedIndicator": "false",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
        response:
          application/json: |-
            {

            }
      - name: example_mdes_search_token
        request:
          application/json: |-
            {
              "SearchRequest": {
                "Token": "5598765432109876",
                "AuditInfo": {
                  "UserId": "A14354773",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5551234658"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      - name: example_mdes_search_comment_id
        request:
          application/json: |-
            {
              "SearchRequest": {
                "CommentId": "123456",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      - name: example_mdes_search_payment_app_id
        request:
          application/json: |-
            {
              "SearchRequest": {
                "PaymentAppInstanceId": "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e",
                "AuditInfo": {
                  "UserId": "A14354773",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5551234658"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      x-codegen-request-body-name: SearchRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /systemstatus:
    get:
      description: Returns the overall system status of the Mastercard Digital Enablement
        Service.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatusResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - System Status
      x-samples:
      - name: example_mdes_system_status
        request:
          application/json: |-
            {

            }
        response:
          application/json: |-
            {
              "SystemStatusResponse": {
                "CommentText": "<p><b>The MDES Customer Service Application has been updated as follows:</b><br>&#160;&#8226;&#160;&#160;The text 'UTC' (Coordinated Universal Time) will be displayed next to each date/time stamp to make date/time stamp more obvious.</p>"
              }
            }
      x-accepts:
      - application/json
  /token/activate:
    post:
      description: |
        Used to activate a token for a digitization that has been approved and provisioned, but requires additional cardholder authentication prior to activation. If the provisioning was not completed successfully, activation cannot be accomplished using Customer Service API. It is expected that a cardholder will complete the authentication process using an issuer's call center or using an issuer-supplied mobile application, and only then should the issuer use this API to activate the token.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenActivateRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenActivateResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Activate
      x-samples:
      - name: example_mdes_token_activate_token_unique_ref
        request:
          application/json: |-
            {
             "TokenActivateRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "CommentText": "Confirmed cardholder identity.",
                "ReasonCode": "C",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenActivateResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentId": "1234"
                }
              }
            }
      - name: example_mdes_token_activate_pan_payment_app
        request:
          application/json: |-
            {
              "TokenActivateRequest": {
                "AccountPan": "5412345678901234",
                "PaymentAppInstanceId": "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e",
                "CommentText": "Confirmed cardholder identity.",
                "ReasonCode": "A",
                "AuditInfo": {
                  "UserId": "A14354773",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5556789876"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      x-codegen-request-body-name: TokenActivateRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/activationmethods:
    post:
      description: |
        Used to retrieve the available Activation Methods for a token that is awaiting activation. Activation Methods are the means by which a cardholder may complete cardholder authentication with the issuer beyond the scope of MDES. It is possible that there are no Activation Methods for a token when an issuer did not provide any cardholder-specific information with the Tokenization Authorization Request (TAR) pre-digitization network message response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenActivationMethodsRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenActivationMethodsResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Activation Methods
      x-samples:
      - name: example_mdes_token_activation_methods
        request:
          application/json: |-
            {
              "TokenActivationMethodsRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenActivationMethodsResponse": {
                "ActivationMethods": {
                  "ActivationMethod": [
                    {
                      "ActivationMethodType": "EMA",
                      "ActivationMethodValue": "AXXXXXXD@mc.com",
                      "ActivationMethodId": "123123122",
                      "ResendIndicator": "FALSE"
                    },
                    {
                      "ActivationMethodType": "CLC",
                      "ActivationMethodValue": "(555)123-4567",
                      "ActivationMethodId": "123123123",
                     "ResendIndicator": "FALSE"
                    }
                  ]
                }
              }
            }
      x-codegen-request-body-name: TokenActivationMethodsRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/comments:
    post:
      description: |
        Used to retrieve all comments associated with a token. Typically the response includes comments created earlier by Issuer Customer Service representatives detailing additional information about a particular inquiry or event. There may also be comments with warnings of potential fraud. These comments are created automatically by the MDES system when a Token requestor indicates a high risk of fraud during digitization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCommentsRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCommentsResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Comments
      x-samples:
      - name: example_mdes_token_comments
        request:
          application/json: |-
            {
              "TokenCommentsRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenCommentsResponse": {
                "Comments": {
                  "Comment": [
                    {
                      "CommentId": "1648",
                      "CommentText": "Cardholder lost phone. Suspending device.",
                      "CommentDateTime": "2015-01-21T18:04:35-06:00",
                      "AuditInfo": {
                        "UserId": "A14354774",
                        "UserName": "Jade Mark",
                        "Organization": "Any Bank",
                        "Phone": "5555558888"
                      }
                    },
                    {
                      "CommentId": "1647",
                      "CommentText": "Cardholder called to activate their digital card.",
                      "CommentDateTime": "2015-01-19T11:02:25-06:00",
                      "AuditInfo": {
                        "UserId": "A14354773",
                        "UserName": "Tom Smith",
                        "Organization": "Any Bank",
                        "Phone": "5555559999"
                      }
                    }
                  ]
                }
              }
            }
      x-codegen-request-body-name: TokenCommentsRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/delete:
    post:
      description: |
        Used to delete a token so that it may not initiate any new transactions. All authorizations for a deleted token will be declined. A deleted token may not be returned to an active state.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenDeleteRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDeleteResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Delete
      x-samples:
      - name: example_mdes_token_delete
        request:
          application/json: |-
            {
              "TokenDeleteRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "CommentText": "Fraudulent transactions confirmed.",
                "ReasonCode": "T",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenDeleteResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentId": "1234"
                }
              }
            }
      x-codegen-request-body-name: TokenDeleteRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/resendactivationcode:
    post:
      description: |
        Used to trigger the process of generating and sending a new Activation Code (for a specific token) to the cardholder via the requested Activation Method. When successful, a new Activation Code Expiration Date Time period will begin, and a new Activation Code will be sent to the issuer using the Activation Code Notification (ACN) pre-digitization network message. It can only be used to do this for Activation Methods that involve the external distribution of an Activation Code to the cardholder. For example, via email or SMS. It cannot be used to send a new activation code via the "Mobile Application" activation method, for instance. A new Activation Code can be sent even if the previous code has not expired. A new Activation Code can also be sent even after the previous code has expired; however, it can only be done up to 30 days after the token was created  (the number of days is subject to change at the discretion of Mastercard).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenResendActivationCodeRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResendActivationCodeResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Resend Activation Code
      x-samples:
      - name: example_mdes_token_resend_activation_code
        request:
          application/json: |-
            {
              "TokenResendActivationCodeRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "ActivationMethodId": "123123122",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenResendActivationCodeResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
                }
              }
            }
      x-codegen-request-body-name: TokenResendActivationCodeRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/resetmobilepin:
    post:
      description: |
        Used to request that the Mobile PIN for a Mastercard Cloud-Based Payment token in a single issuer wallet is reset. The request is passed to the Credential Management System for processing. When the Mobile PIN is a token-level PIN (as opposed to a wallet-level PIN), the cardholder must choose a new PIN within 10 minutes of a Reset Mobile PIN action. Otherwise, the reset will need to be re-requested.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenResetMobilePinRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResetMobilePinResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Reset Mobile PIN
      x-samples:
      - name: example_mdes_token_reset_mobilepin
        request:
          application/json: |-
            {
              "TokenResetMobilePinRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "CommentText": "Confirmed cardholder identity.",
                "ReasonCode": "N",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenResetMobilePinResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentId": "2356"
                }
              }
            }
      x-codegen-request-body-name: TokenResetMobilePinRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/statushistory:
    post:
      description: |
        Used to retrieve the historical statuses and lifecycle events for a token, such as when it was initially activated, subsequently suspended or resumed, and finally deleted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenStatusHistoryRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenStatusHistoryResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Status History
      x-samples:
      - name: example_mdes_token_status_history
        request:
          application/json: |-
            {
              "TokenStatusHistoryRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenStatusHistoryResponse": {
                "Statuses": {
                  "Status": [
                    {
                      "StatusCode": "D",
                      "StatusDescription": "Deleted",
                      "StatusDateTime": "2014-12-16T13:04:35-06:00",
                      "Initiator": "C",
                      "ReasonCode": "L"
                    },
                    {
                      "StatusCode": "A",
                      "StatusDescription": "Active",
                      "StatusDateTime": "2014-12-15T11:05:35-06:00",
                      "Initiator": "I",
                      "ReasonCode": "A",
                      "AuditInfo": {
                        "UserId": "AI145530",
                        "UserName": "John Smith",
                        "Organization": "Any Bank",
                        "Phone": "6362205555"
                      }
                    },
                    {
                      "StatusCode": "S",
                      "StatusDescription": "Suspended",
                      "StatusDateTime": "2014-12-14T12:04:35-06:00",
                      "Initiator": "I",
                      "ReasonCode": "L",
                      "AuditInfo": {
                        "UserId": "AI145530",
                        "UserName": "John Smith",
                        "Organization": "Any Bank",
                        "Phone": "6362205555"
                      }
                    },
                    {
                      "StatusCode": "A",
                      "StatusDescription": "Active",
                      "StatusDateTime": "2014-12-13T11:05:35-06:00",
                      "Initiator": "I",
                      "ReasonCode": "A",
                      "AuditInfo": {
                        "UserId": "AI145530",
                        "UserName": "John Smith",
                        "Organization": "Any Bank",
                        "Phone": "6362205555"
                      }
                    },
                    {
                      "StatusCode": "U",
                      "StatusDescription": "Unmapped",
                      "StatusDateTime": "2014-12-12T10:04:35-06:00",
                      "ReasonCode": "Z"
                    }
                  ]
                }
              }
            }
      x-codegen-request-body-name: TokenStatusHistoryRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/suspend:
    post:
      description: |
        Used to suspend an active token so that it may not initiate any new transactions. All authorizations for a SUSPENDED token will be declined. Tokens may be suspended by multiple parties (suspenders) concurrently. The token status is updated from ACTIVE to SUSPENDED when the first suspender triggers a suspend action. Additional suspenders can add their suspend action to the list of suspenders. Suspenders can unsuspend only their own suspend action. All suspenders need to perform an unsuspend action to move a token from SUSPENDED to ACTIVE. The token status will only change when the last suspender has unsuspended the token. <br>For CoF tokens, the only two supported suspenders are issuer and token requestor. <br>For Apple Pay tokens, there are some differences in behavior versus the general principles. An issuer may add themselves as a suspender to a token already suspended by a cardholder, as above. However, a cardholder cannot suspend a token already suspended by the issuer. As a special case for Apple Pay, an issuer may unsuspend (override) a token already suspended by a cardholder. However, a cardholder cannot unsuspend a token already suspended by the issuer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenSuspendRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSuspendResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Suspend
      x-samples:
      - name: example_mdes_token_suspend
        request:
          application/json: |-
            {
              "TokenSuspendRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "CommentText": "Suspected fraudulent transactions reported.",
                "ReasonCode": "T",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenSuspendResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentId": "1234"
                }
              }
            }
      x-codegen-request-body-name: TokenSuspendRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/unsuspend:
    post:
      description: |
        Used to unsuspend or resume a suspended token and return it to the active state where it may initiate new transactions. Tokens may be suspended by multiple parties (suspenders) concurrently. The token status is updated from ACTIVE to SUSPENDED when the first suspender triggers a suspend action. Additional suspenders can add their suspend action to the list of suspenders. Suspenders can unsuspend only their own suspend action. All suspenders need to perform an unsuspend action to move a token from SUSPENDED to ACTIVE. The token status will only change when the last suspender has unsuspended the token. <br>For CoF tokens, the only two supported suspenders are issuer and token requestor.<br>For Apple Pay tokens, there are some differences in behavior versus the general principles. An issuer may add themselves as a suspender to a token already suspended by a cardholder, as above. However, a cardholder cannot suspend a token already suspended by the issuer. As a special case for Apple Pay, an issuer may unsuspend (override) a token already suspended by a cardholder. However, a cardholder cannot unsuspend a token already suspended by the issuer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenUnsuspendRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenUnsuspendResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Unsuspend
      x-samples:
      - name: example_mdes_token_unsuspend
        request:
          application/json: |-
            {
              "TokenUnsuspendRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "CommentText": "Transactionsc confirmed as not fraudulent.",
                "ReasonCode": "T",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenUnsuspendResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentId": "1234"
                }
              }
            }
      x-codegen-request-body-name: TokenUnsuspendRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /token/update:
    post:
      description: |
        Used to update Account PAN Mapping Information or Issuer Product Configuration ID associated to a provisioned token. To update a specific token, the API should be requested using the Token Unique Reference. To update all tokens mapped to a specific Account PAN, the API should be requested using the Account PAN. In either case, updates will only be applied to tokens in ACTIVE or SUSPENDED state, not those in IN PROGRESS or DELETED state. When updating Account PAN Mapping Information, the Account PAN, Expiration Date and Sequence Number, may be updated individually or in any combination. Only information provided will be updated. The account mapping will only update an Account PAN for a new Account PAN when they are both in the same Account Range.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenUpdateRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenUpdateResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Token Update
      x-samples:
      - name: example_mdes_token_update_pan_exp_token_unique_ref
        request:
          application/json: |-
            {
              "TokenUpdateRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "NewAccountPan": "5412345678908888",
                "ExpirationDate": "0125",
                "AccountPanSequenceNumber": "1",
                "UpdateWalletProviderIndicator": "1",
                "CommentText": "Confirmed cardholder identity.",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TokenUpdateResponse": {
                "Tokens": {
                  "Token": [{
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "2345"
                  }]
                }
              }
            }
      - name: example_mdes_token_update_pan_exp_current_pan
        request:
          application/json: |-
            {
              "TokenUpdateRequest": {
                "CurrentAccountPan": "1234567890123456",
                "NewAccountPan": "5412345678908888",
                "ExpirationDate": "1219",
                "AccountPanSequenceNumber": "1",
                "CommentText": "Cardholder has a new Account Pan.",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "555 1234"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      - name: example_mdes_token_update_issuer_prod_config_single_token_by_token_unique_ref
        request:
          application/json: |-
            {
              "TokenUpdateRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "IssuerProductConfigurationId": "ANYGOLD101",
                "CommentText": "Update gold artwork",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "555 1234"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      - name: example_mdes_token_update_issuer_prod_config_token_by_pan
        request:
          application/json: |-
            {
              "TokenUpdateRequest": {
                "CurrentAccountPan": "1234567890123456",
                "IssuerProductConfigurationId": "ANYGOLD101",
                "CommentText": "Update gold artwork",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "555 1234"
                }
              }
            }
        response:
          application/json: |-
            {

            }
      x-codegen-request-body-name: TokenUpdateRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /transactions:
    post:
      description: |
        Used to retrieve transactions performed by a token. It only returns transactions performed within the last 30 days, to help identify a particular token, or to identify a particular recent transaction. It is not intended to provide the full transaction history of a token or Account PAN.<br><br>_Notes:_ The Transaction History API response is not supported for static Card on File (CoF) tokens.<br>If a set of tokens has been re-mapped to a new FPAN, all digital transactions will be made available before or after the FPAN has been updated. MDES does not return the value of the FPAN which was mapped to the particular token at the time of the transaction. However, MDES will return the history of all transactions performed on that particular token in the last 30 days, based on old and/or new FPAN.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Transactions
      x-samples:
      - name: example_mdes_transactions
        request:
          application/json: |-
            {
              "TransactionsRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "TransactionsResponse": {
                "Transactions": {
                  "Transaction": [
                    {
                      "CurrencyCode": "USD",
                      "TransactionAmount": "123.45",
                      "TransactionTypeCode": "PURCH",
                      "TransactionTypeDescription": "Purchase",
                      "TransactionStatusCode": "AUTH",
                      "MerchantName": "FOODMART",
                      "MerchantCategoryCode": "1234",
                      "MerchantCategoryDescription": "GROCERY STORES, SUPERMARKETS",
                      "POSEntryMode": "90"
                    },
                    {
                      "CurrencyCode": "USD",
                      "TransactionAmount": "29.47",
                      "TransactionTypeCode": "PURCB",
                      "TransactionTypeDescription": "Purchase with Cashback",
                      "TransactionStatusCode": "COMP",
                      "MerchantName": "RXMART",
                      "MerchantCategoryCode": "5678",
                      "MerchantCategoryDescription": "DRUG STORES, PHARMACIES",
                      "POSEntryMode": "91"
                    },
                    {
                      "CurrencyCode": "USD",
                      "TransactionAmount": "-16.30",
                      "TransactionTypeCode": "REFND",
                      "TransactionTypeDescription": "Refund",
                      "TransactionStatusCode": "COMP",
                      "MerchantName": "AUTOMART",
                      "MerchantCategoryCode": "9012",
                      "MerchantCategoryDescription": "AUTOMOTIVE PARTS, ACCESSORIES STORES",
                      "POSEntryMode": "07"
                    },
                    {
                      "CurrencyCode": "USD",
                      "TransactionAmount": "41.89",
                      "TransactionTypeCode": "AFD",
                      "TransactionTypeDescription": "Purchase Pre-Auth AFD",
                      "TransactionStatusCode": "PAUTC",
                      "MerchantName": "GASMART",
                      "MerchantCategoryCode": "3456",
                      "MerchantCategoryDescription": "FUEL DISPENSER, AUTOMATED",
                      "POSEntryMode": "90"
                    }
                  ]
                }
              }
            }
      x-codegen-request-body-name: TransactionsRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /updatetokenassurance:
    post:
      description: |
        Used after an issuer has performed additional cardholder authentication to indicate an increased level of token assurance. It will only be applied to tokens that actually have a Token Assurance Level, and those that are in ACTIVE or SUSPENDED state.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTokenAssuranceRequestSchema'
        description: Contains the details of the request message.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTokenAssuranceResponseSchema'
          description: Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: unexpected error
      tags:
      - Update Token Assurance
      x-samples:
      - name: example_mdes_update_token_assurance
        request:
          application/json: |-
            {
              "UpdateTokenAssuranceRequest": {
                "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                "CommentText": "Updating assurance.",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                }
              }
            }
        response:
          application/json: |-
            {
              "UpdateTokenAssuranceResponse": {
                "Token": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentId": "12345"
                }
              }
            }
      x-codegen-request-body-name: UpdateTokenAssuranceRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Account:
      example:
        AlternateAccountIdentifierSuffix: "4300"
        ExpirationDate: "1225"
        AccountPanSuffix: "1234"
        Tokens:
          Token:
          - ProvisioningStatusCode: P
            AccountPanSequenceNumber: "59"
            ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
            Suspenders:
              Suspender:
              - I
              - I
            CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
            ProvisioningStatusDescription: Provisioning successful
            FinalTokenizationDecision: A
            LastCommentId: ABC123456
            TokenSuffix: "7890"
            PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
            TokenType: S
            CurrentStatusDescription: Active
            PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
            TokenRequestorConsumerFacingEntityName: Sunday Store
            CorrelationId: "98765432101234"
            TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
            TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
            StorageTechnology: S
            Device:
              DeviceType: "14"
              DeviceId: C2ZBY14310005664
              SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
              DeviceName: John's phone
            TokenRequestorId: "212345678"
            CurrentStatusCode: A
            TokenAssuranceLevel: "1"
            ExpirationDate: "1026"
            DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
            WalletId: "123"
            TokenDeletedFromConsumerApp: "false"
            TokenRequestorName: Popular High Street Merchant
          - ProvisioningStatusCode: P
            AccountPanSequenceNumber: "59"
            ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
            Suspenders:
              Suspender:
              - I
              - I
            CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
            ProvisioningStatusDescription: Provisioning successful
            FinalTokenizationDecision: A
            LastCommentId: ABC123456
            TokenSuffix: "7890"
            PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
            TokenType: S
            CurrentStatusDescription: Active
            PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
            TokenRequestorConsumerFacingEntityName: Sunday Store
            CorrelationId: "98765432101234"
            TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
            TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
            StorageTechnology: S
            Device:
              DeviceType: "14"
              DeviceId: C2ZBY14310005664
              SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
              DeviceName: John's phone
            TokenRequestorId: "212345678"
            CurrentStatusCode: A
            TokenAssuranceLevel: "1"
            ExpirationDate: "1026"
            DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
            WalletId: "123"
            TokenDeletedFromConsumerApp: "false"
            TokenRequestorName: Popular High Street Merchant
      properties:
        AccountPanSuffix:
          description: Last 4 digits of Account PAN mapped (or to be mapped) to Token(s).
          example: "1234"
          maxLength: 4
          type: string
        AlternateAccountIdentifierSuffix:
          description: Alternate Account Identifier is a cardholder friendly reference
            to a bank account. It is typically used to identify associated tokens
            when the cardholder is unaware of their Account PAN. The Alternate Account
            Identifier Suffix exposes just the last few characters of the full identifier
            in order to protect the full identifier from possible fraud.
          example: "4300"
          maxLength: 4
          type: string
        ExpirationDate:
          description: Expiration date of Account PAN mapped (or to be mapped) to
            Token(s). 'MMYY' Format.
          example: "1225"
          maxLength: 4
          type: string
        Tokens:
          $ref: '#/components/schemas/Tokens'
      type: object
    AccountHolderMessagingRequest:
      example:
        AccountHolderMessagingRequest:
          TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          MessageExpiration: 2020-06-18T18:04:35-00:00
          AuditInfo:
            Organization: Solid Bank Inc
            UserName: John Smith
            Phone: "5555551234"
            UserId: A1435477
          IssuerApplicationMessageDisplay: "FALSE"
          MessageLanguageCode: en
          MessageIdentifier: 6.598123486451347E27
          MessageText: You have earned a statement credit.
      properties:
        AccountHolderMessagingRequest:
          $ref: '#/components/schemas/AccountHolderMessagingRequestSchema'
      type: object
    AccountHolderMessagingRequestSchema:
      example:
        TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        MessageExpiration: 2020-06-18T18:04:35-00:00
        AuditInfo:
          Organization: Solid Bank Inc
          UserName: John Smith
          Phone: "5555551234"
          UserId: A1435477
        IssuerApplicationMessageDisplay: "FALSE"
        MessageLanguageCode: en
        MessageIdentifier: 6.598123486451347E27
        MessageText: You have earned a statement credit.
      properties:
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
        IssuerApplicationMessageDisplay:
          description: This is the indicator if the message can be viewed in the Issuer
            Application using the MessageIdentifier. <br>Please refer to the Apple
            Card Notification Specification for Notification Deep Linking. Mandatory
            field.  Valid values are;<br>TRUE ? The message can be viewed in the issuer
            application<br>FALSE ? The message cannot be viewed in the issuer application.
          example: "FALSE"
          maxLength: 5
          minLength: 4
          type: string
        MessageExpiration:
          description: Date and time after which the message is no longer valid.  Maximum
            value of 30 days in the future. Mandatory field.  __ISO 8601 format ?
            YYYY-MM-DDThh:mm:ssTZD__
          example: 2020-06-18T18:04:35-00:00
          type: string
        MessageIdentifier:
          description: This is the message identifier. This could be used for linking
            into the issuer application. Mandatory field.
          example: 6.598123486451347E27
          maxLength: 64
          type: string
        MessageLanguageCode:
          description: The language of the message.  Only messages with the requested
            language code will be presented to the account holder. Mandatory field.  <br>__ISO
            639-1 format__
          example: en
          maxLength: 3
          type: string
        MessageText:
          description: This is the message which will be displayed to the cardholder.
            Mandatory field.
          example: You have earned a statement credit.
          maxLength: 128
          type: string
        TokenUniqueReference:
          description: "When present, the search will return one specific matching\
            \ token. Cannot be used together with any of the following search request\
            \ parameters; AccountPan, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.\
            \ Mandatory field."
          example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          maxLength: 48
          type: string
      required:
      - AuditInfo
      - IssuerApplicationMessageDisplay
      - MessageExpiration
      - MessageIdentifier
      - MessageLanguageCode
      - MessageText
      - TokenUniqueReference
      type: object
    AccountHolderMessagingResponse:
      example:
        Token:
          TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
      properties:
        Token:
          $ref: '#/components/schemas/TokenResponse'
      type: object
    AccountHolderMessagingResponseSchema:
      example:
        AccountHolderMessagingResponse:
          Token:
            TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
      properties:
        AccountHolderMessagingResponse:
          $ref: '#/components/schemas/AccountHolderMessagingResponse'
      type: object
    Accounts:
      example:
        Account:
        - AlternateAccountIdentifierSuffix: "4300"
          ExpirationDate: "1225"
          AccountPanSuffix: "1234"
          Tokens:
            Token:
            - ProvisioningStatusCode: P
              AccountPanSequenceNumber: "59"
              ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - I
                - I
              CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: Sunday Store
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                DeviceName: John's phone
              TokenRequestorId: "212345678"
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
              WalletId: "123"
              TokenDeletedFromConsumerApp: "false"
              TokenRequestorName: Popular High Street Merchant
            - ProvisioningStatusCode: P
              AccountPanSequenceNumber: "59"
              ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - I
                - I
              CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: Sunday Store
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                DeviceName: John's phone
              TokenRequestorId: "212345678"
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
              WalletId: "123"
              TokenDeletedFromConsumerApp: "false"
              TokenRequestorName: Popular High Street Merchant
        - AlternateAccountIdentifierSuffix: "4300"
          ExpirationDate: "1225"
          AccountPanSuffix: "1234"
          Tokens:
            Token:
            - ProvisioningStatusCode: P
              AccountPanSequenceNumber: "59"
              ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - I
                - I
              CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: Sunday Store
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                DeviceName: John's phone
              TokenRequestorId: "212345678"
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
              WalletId: "123"
              TokenDeletedFromConsumerApp: "false"
              TokenRequestorName: Popular High Street Merchant
            - ProvisioningStatusCode: P
              AccountPanSequenceNumber: "59"
              ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - I
                - I
              CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: Sunday Store
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                DeviceName: John's phone
              TokenRequestorId: "212345678"
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
              WalletId: "123"
              TokenDeletedFromConsumerApp: "false"
              TokenRequestorName: Popular High Street Merchant
      properties:
        Account:
          description: "When searching by Account PAN or by Payment App Instance Id,\
            \ the search response may contain more than one token. Each individual\
            \ token can be updated during its lifetime and associated to a different\
            \ Account PAN, or given a new Expiration Date. Different tokens within\
            \ a single search response may therefore have different Account PANs and/or\
            \ Expiration Dates. Account objects are used to group tokens that have\
            \ exactly the same Account PAN and Account PAN Expiration Date."
          items:
            $ref: '#/components/schemas/Account'
          type: array
      type: object
    ActivationMethod:
      example:
        ActivationMethodType: CLC
        ResendIndicator: "false"
        ActivationMethodValue: 555-123-4567
        ActivationMethodId: "123123122"
      properties:
        ActivationMethodId:
          description: Unique identifier of the activation method.
          example: "123123122"
          maxLength: 0
          type: string
        ActivationMethodType:
          description: Type of activation method. Valid values:<br />    "SMS" ? Activation
            code sent in text message to masked mobile phone number<br />    "EMA"
            ? Activation code sent in email to masked email address<br />    "ACC"
            ? Cardholder to call automated call center phone number<br />    "CLC"
            ? Cardholder to call Call Center phone number<br />    "WEB" ? Website<br
            />    "BAP" ? Mobile application<br />    "OBC" ? Activation code spoken
            via call to cardholder on masked voice call phone number.
          example: CLC
          maxLength: 3
          type: string
        ActivationMethodValue:
          description: Activation method details value.
          example: 555-123-4567
          maxLength: 0
          type: string
        ResendIndicator:
          description: Whether the activation method can be used to re-send an activation
            code. Valid values are TRUE and FALSE.
          example: "false"
          maxLength: 5
          minLength: 4
          type: string
      type: object
    ActivationMethods:
      example:
        ActivationMethod:
        - ActivationMethodType: CLC
          ResendIndicator: "false"
          ActivationMethodValue: 555-123-4567
          ActivationMethodId: "123123122"
        - ActivationMethodType: CLC
          ResendIndicator: "false"
          ActivationMethodValue: 555-123-4567
          ActivationMethodId: "123123122"
      properties:
        ActivationMethod:
          items:
            $ref: '#/components/schemas/ActivationMethod'
          type: array
      type: object
    AuditInfo:
      example:
        Organization: Solid Bank Inc
        UserName: John Smith
        Phone: "5555551234"
        UserId: A1435477
      properties:
        Organization:
          description: Name of the Issuer or Processor to which the Customer Service
            Representative who triggered the API request belongs.
          example: Solid Bank Inc
          maxLength: 200
          type: string
        Phone:
          description: Phone Number of the Customer Service Representative who triggered
            the API request.
          example: "5555551234"
          maxLength: 20
          type: string
        UserId:
          description: User ID (as assigned by the Issuer/Processor) of the Customer
            Service Representative who triggered the API request.
          example: A1435477
          maxLength: 50
          type: string
        UserName:
          description: User Name of the Customer Service Representative who triggered
            the API request.
          example: John Smith
          maxLength: 200
          type: string
      required:
      - Organization
      - UserId
      - UserName
      type: object
    Comment:
      example:
        AuditInfo:
          Organization: Solid Bank Inc
          UserName: John Smith
          Phone: "5555551234"
          UserId: A1435477
        CommentText: Cardholder called to activate their digital card.
        CommentDateTime: 2015-01-21T00:04:35.000Z
        CommentId: ABC123456
      properties:
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
        CommentDateTime:
          description: Date and time that the comment was updated. Format - YYYY-MM-DDThh:mm:ssTZD
            .
          example: 2015-01-21T00:04:35.000Z
          type: string
        CommentId:
          description: Identifier for the comment.
          example: ABC123456
          maxLength: 0
          type: string
        CommentText:
          description: Comment text.
          example: Cardholder called to activate their digital card.
          maxLength: 500
          type: string
      type: object
    Comments:
      example:
        Comment:
        - AuditInfo:
            Organization: Solid Bank Inc
            UserName: John Smith
            Phone: "5555551234"
            UserId: A1435477
          CommentText: Cardholder called to activate their digital card.
          CommentDateTime: 2015-01-21T00:04:35.000Z
          CommentId: ABC123456
        - AuditInfo:
            Organization: Solid Bank Inc
            UserName: John Smith
            Phone: "5555551234"
            UserId: A1435477
          CommentText: Cardholder called to activate their digital card.
          CommentDateTime: 2015-01-21T00:04:35.000Z
          CommentId: ABC123456
      properties:
        Comment:
          items:
            $ref: '#/components/schemas/Comment'
          type: array
      type: object
    Device:
      example:
        DeviceType: "14"
        DeviceId: C2ZBY14310005664
        SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
        DeviceName: John's phone
      properties:
        DeviceId:
          description: "Serial number of the device provisioned with the token. May\
            \ be masked. Conditional field, not present for CoF tokens, and only present\
            \ when provided by a Wallet Provider. May be masked (by the Wallet Provider).<br\
            \ />Example (unmasked) \"C2ZBY14310005664\". Example (masked) \"xxxxY1431xxxxxxx\"\
            ."
          example: C2ZBY14310005664
          maxLength: 0
          type: string
        DeviceName:
          description: "Nickname of the device provisioned with the token. Conditional\
            \ field, not present for CoF tokens, and only present when the Payment\
            \ App Provider has implemented the 'Get Device Info' MDES API."
          example: John's phone
          maxLength: 0
          type: string
        DeviceType:
          description: "Type of the device provisioned with the token. Valid values:<br\
            \ />    \"03\" - Watch<br />    \"09\" - Mobile Phone or Smartphone with\
            \ a fixed (non-removable) secure element not controlled by the mobile\
            \ network operator<br />    \"13\" - Tablet or e-reader with a fixed (non-removable)\
            \ secure element not controlled by the mobile network operator<br /> \
            \   \"14\" - Mobile phone or Smartphone with a payment application running\
            \ in a host processor<br />    \"15\" - Tablet or E-Book with a payment\
            \ application running in a host processor<br />    \"16\" ? Mobile Phone\
            \ or Smartphone with a payment application running in the TEE of a host\
            \ processor<br />    \"17\" ? Tablet or E-Book with a payment application\
            \ running in the TEE of a host processor<br />    \"18\" ? Watch with\
            \ a payment application running in the TEE of a host processor<br /> \
            \   \"19\" ? Watch with a payment application running in a host processor.<br\
            \ />    \"21\" ? Phone.<br />    \"22\" ? Tablet. <br />    \"23\" ? Watch.<br\
            \ />    \"24\" ? Sticker.<br />    \"25\" ? Personal Computer.<br /> \
            \   \"26\" ? Device Peripheral.<br />    \"27\" ? Tag.<br />    \"28\"\
            \ ? Jewelry.<br />    \"29\" ?  Fashion Accessory.<br />    \"30\" ? \
            \ Garment.<br />    \"31\" ?  Domestic Appliance.<br />    \"32\" ?  Vehicle.<br\
            \ />    \"33\" ?  Media or Gaming Device.<br />    \"99\" ?  Undefined.<br\
            \ />Conditional field, not present for CoF tokens, and only present when\
            \ supplied by the Payment App Provider."
          example: "14"
          maxLength: 2
          type: string
        SecureElementId:
          description: "Identifier of the secure element provisioned with the token.\
            \ Conditional field, not present for CoF tokens, and only present when\
            \ the token is provisioned to a secure element."
          example: 92de9357a535b2c21a3566e446f43c532a46b54c46
          maxLength: 128
          type: string
      type: object
    Error:
      example:
        Description: The date field is missing.
        ErrorCode: DATE
        ReasonCode: EMPTY_RESULT
        Source: Atms.Atm.Location.Address.Line1
        Recoverable: "true"
      properties:
        Description:
          description: A textual description of the error that is appropriate for
            logging and may communicate additional details related to the reason code.
          example: The date field is missing.
          type: string
        ErrorCode:
          description: An identifier that represents additional detail for the reason
            of the error.
          example: DATE
          maxLength: 0
          type: string
        ReasonCode:
          description: Indicator that identifies the reason for the error.
          example: EMPTY_RESULT
          maxLength: 0
          type: string
        Recoverable:
          description: An indicator stating whether it is reasonable to retry a failed
            request.
          example: "true"
          maxLength: 5
          minLength: 4
          type: string
        Source:
          description: "Unique identifier that attempts to define the field in error\
            \ when available.  If a specific field can't be identified, \"System\"\
            \ will be returned."
          example: Atms.Atm.Location.Address.Line1
          maxLength: 0
          type: string
      type: object
    Errors:
      example:
        Error:
        - Description: The date field is missing.
          ErrorCode: DATE
          ReasonCode: EMPTY_RESULT
          Source: Atms.Atm.Location.Address.Line1
          Recoverable: "true"
        - Description: The date field is missing.
          ErrorCode: DATE
          ReasonCode: EMPTY_RESULT
          Source: Atms.Atm.Location.Address.Line1
          Recoverable: "true"
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    ErrorsResponse:
      example:
        Errors:
          Error:
          - Description: The date field is missing.
            ErrorCode: DATE
            ReasonCode: EMPTY_RESULT
            Source: Atms.Atm.Location.Address.Line1
            Recoverable: "true"
          - Description: The date field is missing.
            ErrorCode: DATE
            ReasonCode: EMPTY_RESULT
            Source: Atms.Atm.Location.Address.Line1
            Recoverable: "true"
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
    SearchRequest:
      example:
        TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        AuditInfo:
          Organization: Solid Bank Inc
          UserName: John Smith
          Phone: "5555551234"
          UserId: A1435477
        PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
        ExcludeDeletedIndicator: "true"
        Token: "5598765432109876"
        AlternateAccountIdentifier: NL91ABNA0417164300
        AccountPan: "5412345678901234"
        CommentId: "123456"
      properties:
        AccountPan:
          description: "When present, the search will return tokens for the Account\
            \ matching this Primary Account Number (PAN), for any Wallet Provider\
            \ or device. Cannot be used together with any of the following search\
            \ request.  parameters:TokenUniqueReference, Token, PaymentAppInstanceId,\
            \ CommentId, or AlternateAccountIdentifier."
          example: "5412345678901234"
          maxLength: 19
          minLength: 9
          type: string
        AlternateAccountIdentifier:
          description: "When present, the search will return tokens matching this\
            \ Alternate Account Identifier, for any Wallet Provider or device. Space\
            \ characters are not allowed. Cannot be used together with any of the\
            \ following search request parameters; AccountPan, TokenUniqueReference,\
            \ Token, PaymentAppInstanceId, or CommentId."
          example: NL91ABNA0417164300
          maxLength: 64
          minLength: 9
          type: string
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
        CommentId:
          description: "When present, the search will return one specific token linked\
            \ to the comment. Cannot be used together with any of the following search\
            \ request parameters; AccountPan, TokenUniqueReference, Token, PaymentAppInstanceId,\
            \ or AlternateAccountIdentifier."
          example: "123456"
          maxLength: 0
          type: string
        ExcludeDeletedIndicator:
          description: "Indicates whether deleted tokens should be excluded from the\
            \ search results. When omitted, deleted tokens are included in the results.\
            \ \"true\" indicates deleted tokens are excluded from the search results.\
            \ \"false\" means deleted tokens are included in the search results."
          enum:
          - "true"
          - "false"
          example: "true"
          type: string
        PaymentAppInstanceId:
          description: "When present, the search will return tokens already present\
            \ or to be provisioned to the specified Payment App instance.<br><br>_Note:_\
            \ This may contain the identifier of the Secure Element or a mobile device\
            \ for some programs. Cannot be used together with any of the following\
            \ search request parameters; AccountPan, TokenUniqueReference, Token,\
            \ CommentId, or AlternateAccountIdentifier."
          example: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
          maxLength: 48
          type: string
        Token:
          description: "When present, the search will return one specific token. Cannot\
            \ be used together with any of the following search request parameters;\
            \ AccountPan, TokenUniqueReference, PaymentAppInstanceId, CommentId, or\
            \ AlternateAccountIdentifier."
          example: "5598765432109876"
          maxLength: 19
          minLength: 9
          type: string
        TokenUniqueReference:
          description: "When present, the search will return one specific matching\
            \ token. Cannot be used together with any of the following search request\
            \ parameters; AccountPan, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier."
          example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          maxLength: 48
          type: string
      required:
      - AuditInfo
      type: object
    SearchRequestSchema:
      example:
        SearchRequest:
          TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          AuditInfo:
            Organization: Solid Bank Inc
            UserName: John Smith
            Phone: "5555551234"
            UserId: A1435477
          PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
          ExcludeDeletedIndicator: "true"
          Token: "5598765432109876"
          AlternateAccountIdentifier: NL91ABNA0417164300
          AccountPan: "5412345678901234"
          CommentId: "123456"
      properties:
        SearchRequest:
          $ref: '#/components/schemas/SearchRequest'
      type: object
    SearchResponse:
      example:
        Accounts:
          Account:
          - AlternateAccountIdentifierSuffix: "4300"
            ExpirationDate: "1225"
            AccountPanSuffix: "1234"
            Tokens:
              Token:
              - ProvisioningStatusCode: P
                AccountPanSequenceNumber: "59"
                ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - I
                  - I
                CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: Sunday Store
                CorrelationId: "98765432101234"
                TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                StorageTechnology: S
                Device:
                  DeviceType: "14"
                  DeviceId: C2ZBY14310005664
                  SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                  DeviceName: John's phone
                TokenRequestorId: "212345678"
                CurrentStatusCode: A
                TokenAssuranceLevel: "1"
                ExpirationDate: "1026"
                DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                WalletId: "123"
                TokenDeletedFromConsumerApp: "false"
                TokenRequestorName: Popular High Street Merchant
              - ProvisioningStatusCode: P
                AccountPanSequenceNumber: "59"
                ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - I
                  - I
                CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: Sunday Store
                CorrelationId: "98765432101234"
                TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                StorageTechnology: S
                Device:
                  DeviceType: "14"
                  DeviceId: C2ZBY14310005664
                  SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                  DeviceName: John's phone
                TokenRequestorId: "212345678"
                CurrentStatusCode: A
                TokenAssuranceLevel: "1"
                ExpirationDate: "1026"
                DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                WalletId: "123"
                TokenDeletedFromConsumerApp: "false"
                TokenRequestorName: Popular High Street Merchant
          - AlternateAccountIdentifierSuffix: "4300"
            ExpirationDate: "1225"
            AccountPanSuffix: "1234"
            Tokens:
              Token:
              - ProvisioningStatusCode: P
                AccountPanSequenceNumber: "59"
                ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - I
                  - I
                CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: Sunday Store
                CorrelationId: "98765432101234"
                TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                StorageTechnology: S
                Device:
                  DeviceType: "14"
                  DeviceId: C2ZBY14310005664
                  SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                  DeviceName: John's phone
                TokenRequestorId: "212345678"
                CurrentStatusCode: A
                TokenAssuranceLevel: "1"
                ExpirationDate: "1026"
                DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                WalletId: "123"
                TokenDeletedFromConsumerApp: "false"
                TokenRequestorName: Popular High Street Merchant
              - ProvisioningStatusCode: P
                AccountPanSequenceNumber: "59"
                ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - I
                  - I
                CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: Sunday Store
                CorrelationId: "98765432101234"
                TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                StorageTechnology: S
                Device:
                  DeviceType: "14"
                  DeviceId: C2ZBY14310005664
                  SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                  DeviceName: John's phone
                TokenRequestorId: "212345678"
                CurrentStatusCode: A
                TokenAssuranceLevel: "1"
                ExpirationDate: "1026"
                DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                WalletId: "123"
                TokenDeletedFromConsumerApp: "false"
                TokenRequestorName: Popular High Street Merchant
      properties:
        Accounts:
          $ref: '#/components/schemas/Accounts'
      type: object
    SearchResponseSchema:
      example:
        SearchResponse:
          Accounts:
            Account:
            - AlternateAccountIdentifierSuffix: "4300"
              ExpirationDate: "1225"
              AccountPanSuffix: "1234"
              Tokens:
                Token:
                - ProvisioningStatusCode: P
                  AccountPanSequenceNumber: "59"
                  ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - I
                    - I
                  CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: Sunday Store
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                    DeviceName: John's phone
                  TokenRequestorId: "212345678"
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                  WalletId: "123"
                  TokenDeletedFromConsumerApp: "false"
                  TokenRequestorName: Popular High Street Merchant
                - ProvisioningStatusCode: P
                  AccountPanSequenceNumber: "59"
                  ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - I
                    - I
                  CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: Sunday Store
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                    DeviceName: John's phone
                  TokenRequestorId: "212345678"
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                  WalletId: "123"
                  TokenDeletedFromConsumerApp: "false"
                  TokenRequestorName: Popular High Street Merchant
            - AlternateAccountIdentifierSuffix: "4300"
              ExpirationDate: "1225"
              AccountPanSuffix: "1234"
              Tokens:
                Token:
                - ProvisioningStatusCode: P
                  AccountPanSequenceNumber: "59"
                  ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - I
                    - I
                  CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: Sunday Store
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                    DeviceName: John's phone
                  TokenRequestorId: "212345678"
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                  WalletId: "123"
                  TokenDeletedFromConsumerApp: "false"
                  TokenRequestorName: Popular High Street Merchant
                - ProvisioningStatusCode: P
                  AccountPanSequenceNumber: "59"
                  ActivationCodeExpirationDateTime: 2015-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - I
                    - I
                  CurrentStatusDateTime: 2015-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: Sunday Store
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 92de9357a535b2c21a3566e446f43c532a46b54c46
                    DeviceName: John's phone
                  TokenRequestorId: "212345678"
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2015-01-21T00:04:35.000Z
                  WalletId: "123"
                  TokenDeletedFromConsumerApp: "false"
                  TokenRequestorName: Popular High Street Merchant
      properties:
        SearchResponse:
          $ref: '#/components/schemas/SearchResponse'
      type: object
    SimpleTokenCommentResponse:
      example:
        TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        CommentId: ABC123456
      properties:
        CommentId:
          description: Identifier of the comment added. Only present when comment
            text was provided in the request.
          example: ABC123456
          maxLength: 0
          type: string
        TokenUniqueReference:
          description: Unique reference to the Token.
          example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          maxLength: 48
          type: string
      required:
      - TokenUniqueReference
      type: object
    SimpleTokenResponse:
      example:
        Token:
          TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          CommentId: ABC123456
      properties:
        Token:
          $ref: '#/components/schemas/SimpleTokenCommentResponse'
      type: object
    Status:
      example:
        StatusDateTime: 2015-01-21T00:04:35.000Z
        AuditInfo:
          Organization: Solid Bank Inc
          UserName: John Smith
          Phone: "5555551234"
          UserId: A1435477
        Initiator: I
        StatusDescription: Unmapped
        ReasonCode: Z
        StatusCode: U
        CommentId: "1234"
      properties:
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
        CommentId:
          description: "Identifier of the comment added.  Conditional field, only\
            \ present when comment text was provided in the request."
          example: "1234"
          maxLength: 0
          type: string
        Initiator:
          description: Party that initiated the status update. Valid values:<br />    "I"
            - Issuer.<br />    "W" - Token Requestor (including Wallet Provider).<br
            />    "C" - Cardholder.<br />    "P" - Mobile PIN Validation service.<br
            />    "M" - Mobile PIN Change Validation service.
          example: I
          maxLength: 1
          type: string
        ReasonCode:
          description: Reason for the status update.  Valid values:<br />    "A" ?
            Cardholder successfully authenticated using a mobile App prior to activation.<br
            />    "C" ? Cardholder successfully authenticated with a customer service
            agent prior to activation. (For 'Token Activate').<br />    "C" ? Account
            closed. (For 'Token Delete').<br />    "F" ? Cardholder reported token
            device found or not stolen.<br />    "L" ? Cardholder reported/confirmed
            token device lost.<br />    "S" ? Cardholder reported/confirmed token
            device stolen.<br />    "T" ? Issuer or cardholder reported fraudulent/then
            confirmed no fraudulent token transactions.<br />    "Z" ? Other.
          example: Z
          maxLength: 1
          type: string
        StatusCode:
          description: The status of the Token. Valid values:<br />    "U" - Unmapped.
            The token has not yet been linked to the Account PAN. The process of tokenization
            is ?In Progress?.<br />    "A" - Active. The token is linked to the Account
            PAN and may initiate new transactions to be authorized.<br />    "S" -
            Suspended. The token is linked to the Account PAN but may not perform
            transactions at the request of one or more suspenders.<br />    "D" -
            Deleted. The token is logically deleted but is still linked to the Account
            PAN for the purposes of post-authorization transaction processing.
          example: U
          maxLength: 1
          type: string
        StatusDateTime:
          description: "Date and time the status was updated. String, ISO 8691 format\
            \ - YYYY-MM-DDThh:mm:ssTZD ."
          example: 2015-01-21T00:04:35.000Z
          type: string
        StatusDescription:
          description: Description of the current status.
          example: Unmapped
          maxLength: 0
          type: string
      type: object
    Statuses:
      example:
        Status:
        - StatusDateTime: 2015-01-21T00:04:35.000Z
          AuditInfo:
            Organization: Solid Bank Inc
            UserName: John Smith
            Phone: "5555551234"
            UserId: A1435477
          Initiator: I
          StatusDescription: Unmapped
          ReasonCode: Z
          StatusCode: U
          CommentId: "1234"
[...]
