openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2017-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettingsCategories_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-diagnosticsSettingsCategories_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories:
    get:
      description: Lists the diagnostic settings categories for the specified resource.
      operationId: diagnostic_settings_category_list
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSettingsCategoryResourceCollection'
          description: Successful request to get more information about diagnostic
            setting category
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticSettingsCategories
      x-ms-examples:
        Gets the diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            resourceUri: subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime
                  name: WorkflowRuntime
                  properties:
                    categoryType: Logs
                  type: microsoft.insights/diagnosticSettingsCategories
                - id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowMetric
                  name: WorkflowMetric
                  properties:
                    categoryType: Metrics
                  type: microsoft.insights/diagnosticSettingsCategories
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.diagnostic_settings_categories_controller
  /{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories/{name}:
    get:
      description: Gets the diagnostic settings category for the specified resource.
      operationId: diagnostic_settings_category_get
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resource_uri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSettingsCategoryResource'
          description: Successful request to get more information about diagnostic
            setting category
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticSettingsCategories
      x-ms-examples:
        Gets the diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: WorkflowRuntime
            resourceUri: subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime
                name: WorkflowRuntime
                properties:
                  categoryType: Logs
                type: microsoft.insights/diagnosticSettingsCategories
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.diagnostic_settings_categories_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    NameParameter:
      description: The name of the diagnostic setting.
      in: path
      name: name
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceUriParameter:
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    DiagnosticSettingsCategory:
      description: The diagnostic settings Category.
      example:
        categoryType: Metrics
      properties:
        categoryType:
          description: The type of the diagnostic settings category.
          enum:
          - Metrics
          - Logs
          nullable: false
          title: categoryType
          type: string
          x-ms-enum:
            name: categoryType
      title: DiagnosticSettingsCategory
      type: object
    DiagnosticSettingsCategoryResource:
      allOf:
      - $ref: '#/components/schemas/ProxyOnlyResource'
      description: The diagnostic settings category resource.
      example:
        properties:
          categoryType: Metrics
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticSettingsCategory'
      title: DiagnosticSettingsCategoryResource
    DiagnosticSettingsCategoryResourceCollection:
      description: Represents a collection of diagnostic setting category resources.
      example:
        value:
        - properties:
            categoryType: Metrics
        - properties:
            categoryType: Metrics
      properties:
        value:
          description: The collection of diagnostic settings category resources.
          items:
            $ref: '#/components/schemas/DiagnosticSettingsCategoryResource'
          title: value
          type: array
      title: DiagnosticSettingsCategoryResourceCollection
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    ProxyOnlyResource:
      description: A proxy only azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      title: ProxyOnlyResource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
