openapi: 3.0.1
info:
  description: "To manage and control access to your resources, you can define customized\
    \ policies and assign them at a scope."
  title: PolicyClient
  version: 2017-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/preview/2017-06-01-preview/policySetDefinitions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-policySetDefinitions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/policySetDefinitions:
    get:
      description: Gets all the built in policy set definitions.
      operationId: policy_set_definitions_list_built_in
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
          description: OK - Returns an array of built in policy set definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        List policy set definitions:
          parameters:
            api-version: 2017-06-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policySetDefinitions/costManagement
                  name: costManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: VM and Storage Cost Management
                    metadata:
                      category: Cost Management
                    parameters:
                      allowedLocations:
                        metadata:
                          description: Regions that resources can be deployed to
                          displayName: Valid Regions
                        type: array
                    policyDefinitions:
                    - parameters:
                        locations:
                          value: "[parameters('allowedLocations')]"
                      policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/storageSkus
                    policyType: Custom
                  type: Microsoft.Authorization/policySetDefinitions
                - id: /providers/Microsoft.Authorization/policySetDefinitions/skuManagement
                  name: skuManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: VM Sku Management
                    metadata:
                      category: Sku Management
                    policyDefinitions:
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/vmSkus
                    policyType: Custom
                  type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
  /providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}:
    get:
      description: Gets the built in policy set definition.
      operationId: policy_set_definitions_get_built_in
      parameters:
      - description: The name of the policy set definition to get.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the built in policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Get a built in policy set definition:
          parameters:
            api-version: 2017-06-01-preview
            policySetDefinitionName: costManagement
          responses:
            "200":
              body:
                id: /providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  parameters:
                    allowedLocations:
                      metadata:
                        description: Regions that resources can be deployed to
                        displayName: Valid Regions
                      type: array
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/vmSkus
                  - parameters:
                      listOfAllowedLocations:
                        value: "[parameters('allowedLocations')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/policyDefinitionId
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
  /providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions:
    get:
      description: Gets all the policy set definitions for a subscription at management
        group.
      operationId: policy_set_definitions_list_by_management_group
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
          description: OK - Returns an array of policy set definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        List policy set definitions:
          parameters:
            api-version: 2017-06-01-preview
            managementGroupId: mgid
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementgroups/mgid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                  name: costManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: VM and Storage Cost Management
                    metadata:
                      category: Cost Management
                    parameters:
                      allowedLocations:
                        metadata:
                          description: Regions that resources can be deployed to
                          displayName: Valid Regions
                        type: array
                    policyDefinitions:
                    - parameters:
                        locations:
                          value: "[parameters('allowedLocations')]"
                      policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                    policyType: Custom
                  type: Microsoft.Authorization/policySetDefinitions
                - id: /providers/Microsoft.Management/managementgroups/mgid/providers/Microsoft.Authorization/policySetDefinitions/skuManagement
                  name: skuManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: VM Sku Management
                    metadata:
                      category: Sku Management
                    policyDefinitions:
                    - policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/vmSkus
                    policyType: Custom
                  type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
  ? /providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}
  : delete:
      description: Deletes a policy set definition at management group level.
      operationId: policy_set_definitions_delete_at_management_group
      parameters:
      - description: The name of the policy set definition to delete.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: management_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the policy set definition doesn't exist in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
    get:
      description: Gets the policy set definition at management group level.
      operationId: policy_set_definitions_get_at_management_group
      parameters:
      - description: The name of the policy set definition to get.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: management_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Get a policy set definition:
          parameters:
            api-version: 2017-06-01-preview
            managementGroupId: mgid
            policySetDefinitionName: costManagement
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementgroups/mgid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  parameters:
                    allowedLocations:
                      metadata:
                        description: Regions that resources can be deployed to
                        displayName: Valid Regions
                      type: array
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  - policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/vmSkus
                  - parameters:
                      listOfAllowedLocations:
                        value: "[parameters('allowedLocations')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/policyDefinitionId
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
    put:
      description: Creates or updates a policy set definition at management group
        level.
      operationId: policy_set_definitions_create_or_update_at_management_group
      parameters:
      - description: The name of the policy set definition to create.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: management_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySetDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicySetDefinition'
        description: The policy set definition properties.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: Created - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Put a policy set definition:
          parameters:
            api-version: 2017-06-01-preview
            managementGroupId: mgid
            parameters:
              properties:
                description: Policies required to minimize the risk of accidental
                  cost overruns
                displayName: VM and Storage Cost Management
                metadata:
                  category: Cost Management
                policyDefinitions:
                - parameters:
                    listOfAllowedSKUs:
                      value:
                      - Standard_GRS
                      - Standard_LRS
                  policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
            policySetDefinitionName: costManagement
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementgroups/mgid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
            "201":
              body:
                id: /providers/Microsoft.Management/managementgroups/mgid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions:
    get:
      description: Gets all the policy set definitions for a subscription.
      operationId: policy_set_definitions_list
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
          description: OK - Returns an array of policy set definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        List policy set definitions:
          parameters:
            api-version: 2017-06-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                  name: costManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: VM and Storage Cost Management
                    metadata:
                      category: Cost Management
                    parameters:
                      allowedLocations:
                        metadata:
                          description: Regions that resources can be deployed to
                          displayName: Valid Regions
                        type: array
                    policyDefinitions:
                    - parameters:
                        locations:
                          value: "[parameters('allowedLocations')]"
                      policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                    policyType: Custom
                  type: Microsoft.Authorization/policySetDefinitions
                - id: /subscriptions/subid/providers/Microsoft.Authorization/policySetDefinitions/skuManagement
                  name: skuManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: VM Sku Management
                    metadata:
                      category: Sku Management
                    policyDefinitions:
                    - policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/vmSkus
                    policyType: Custom
                  type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}:
    delete:
      description: Deletes a policy set definition.
      operationId: policy_set_definitions_delete
      parameters:
      - description: The name of the policy set definition to delete.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the policy set definition doesn't exist in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
    get:
      description: Gets the policy set definition.
      operationId: policy_set_definitions_get
      parameters:
      - description: The name of the policy set definition to get.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Get a policy set definition:
          parameters:
            api-version: 2017-06-01-preview
            policySetDefinitionName: costManagement
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  parameters:
                    allowedLocations:
                      metadata:
                        description: Regions that resources can be deployed to
                        displayName: Valid Regions
                      type: array
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  - policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/vmSkus
                  - parameters:
                      listOfAllowedLocations:
                        value: "[parameters('allowedLocations')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/policyDefinitionId
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
    put:
      description: Creates or updates a policy set definition.
      operationId: policy_set_definitions_create_or_update
      parameters:
      - description: The name of the policy set definition to create.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySetDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicySetDefinition'
        description: The policy set definition properties.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: Created - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Put a policy set definition:
          parameters:
            api-version: 2017-06-01-preview
            parameters:
              properties:
                description: Policies required to minimize the risk of accidental
                  cost overruns
                displayName: VM and Storage Cost Management
                metadata:
                  category: Cost Management
                policyDefinitions:
                - parameters:
                    listOfAllowedSKUs:
                      value:
                      - Standard_GRS
                      - Standard_LRS
                  policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
            policySetDefinitionName: costManagement
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/providers/Microsoft.Authorization/policySetDefinitions/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: VM and Storage Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/subid/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  policyType: Custom
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_set_definitions_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ManagementGroupIdParameter:
      description: The ID of the management group.
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Error response indicates ARM is not able to process the incoming
        request. The reason is provided in the error message.
      example:
        httpStatus: httpStatus
        errorMessage: errorMessage
        errorCode: errorCode
      properties:
        errorCode:
          description: Error code.
          title: errorCode
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          title: errorMessage
          type: string
        httpStatus:
          description: Http status code.
          title: httpStatus
          type: string
      title: ErrorResponse
      type: object
    PolicyDefinitionReference:
      description: The policy definition reference.
      example:
        policyDefinitionId: policyDefinitionId
        parameters: "{}"
      properties:
        parameters:
          description: Required if a parameter is used in policy rule.
          properties: {}
          title: parameters
          type: object
        policyDefinitionId:
          description: The ID of the policy definition or policy set definition.
          title: policyDefinitionId
          type: string
      title: PolicyDefinitionReference
      type: object
    PolicySetDefinition:
      description: The policy set definition.
      example:
        name: name
        id: id
        type: type
        properties:
          metadata: "{}"
          displayName: displayName
          policyType: NotSpecified
          description: description
          policyDefinitions:
          - policyDefinitionId: policyDefinitionId
            parameters: "{}"
          - policyDefinitionId: policyDefinitionId
            parameters: "{}"
          parameters: "{}"
      properties:
        id:
          description: The ID of the policy set definition.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the policy set definition.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/PolicySetDefinitionProperties'
        type:
          description: The type of the resource (Microsoft.Authorization/policySetDefinitions).
          readOnly: true
          title: type
          type: string
      title: PolicySetDefinition
      type: object
      x-ms-azure-resource: true
    PolicySetDefinitionListResult:
      description: List of policy set definitions.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            metadata: "{}"
            displayName: displayName
            policyType: NotSpecified
            description: description
            policyDefinitions:
            - policyDefinitionId: policyDefinitionId
              parameters: "{}"
            - policyDefinitionId: policyDefinitionId
              parameters: "{}"
            parameters: "{}"
        - name: name
          id: id
          type: type
          properties:
            metadata: "{}"
            displayName: displayName
            policyType: NotSpecified
            description: description
            policyDefinitions:
            - policyDefinitionId: policyDefinitionId
              parameters: "{}"
            - policyDefinitionId: policyDefinitionId
              parameters: "{}"
            parameters: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: An array of policy set definitions.
          items:
            $ref: '#/components/schemas/PolicySetDefinition'
          title: value
          type: array
      title: PolicySetDefinitionListResult
      type: object
    PolicySetDefinitionProperties:
      description: The policy set definition properties.
      example:
        metadata: "{}"
        displayName: displayName
        policyType: NotSpecified
        description: description
        policyDefinitions:
        - policyDefinitionId: policyDefinitionId
          parameters: "{}"
        - policyDefinitionId: policyDefinitionId
          parameters: "{}"
        parameters: "{}"
      properties:
        description:
          description: The policy set definition description.
          title: description
          type: string
        displayName:
          description: The display name of the policy set definition.
          title: displayName
          type: string
        metadata:
          description: The policy set definition metadata.
          properties: {}
          title: metadata
          type: object
        parameters:
          description: The policy set definition parameters that can be used in policy
            definition references.
          properties: {}
          title: parameters
          type: object
        policyDefinitions:
          description: An array of policy definition references.
          items:
            $ref: '#/components/schemas/PolicyDefinitionReference'
          title: policyDefinitions
          type: array
        policyType:
          description: "The type of policy definition. Possible values are NotSpecified,\
            \ BuiltIn, and Custom."
          enum:
          - NotSpecified
          - BuiltIn
          - Custom
          title: policyType
          type: string
          x-ms-enum:
            modelAsString: true
            name: policyType
      required:
      - policyDefinitions
      title: PolicySetDefinitionProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
