openapi: 3.0.1
info:
  description: The Admin Commerce Management Client.
  title: CommerceManagementClient
  version: 2015-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/CommerceAdmin.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-CommerceAdmin
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce/subscriberUsageAggregates:
    get:
      description: "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates\
        \ from direct tenants."
      operationId: SubscriberUsageAggregates_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-01-preview
          type: string
      - description: The reported start time (inclusive).
        in: query
        name: reportedStartTime
        required: true
        schema:
          format: date-time
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The reported end time (exclusive).
        in: query
        name: reportedEndTime
        required: true
        schema:
          format: date-time
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The aggregation granularity.
        in: query
        name: aggregationGranularity
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The tenant subscription identifier.
        in: query
        name: subscriberId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The continuation token.
        in: query
        name: continuationToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageAggregatePage'
          description: OK
      tags:
      - Commerce
      x-ms-examples:
        Get the list of usage aggregates for all tenants.:
          parameters:
            aggregationGranularity: ""
            api-version: 2015-06-01-preview
            continuationToken: ""
            location: local
            reportedEndTime: 2017-08-02T00:00:00.00Z
            reportedStartTime: 2017-08-01T00:00:00.00Z
            subscriberId: ""
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: ""
                value: []
      x-accepts:
      - application/json
components:
  parameters:
    AggregationGranularityParameter:
      description: The aggregation granularity.
      in: query
      name: aggregationGranularity
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2015-06-01-preview
        type: string
    ContinuationTokenParameter:
      description: The continuation token.
      in: query
      name: continuationToken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReportedEndTimeParameter:
      description: The reported end time (exclusive).
      in: query
      name: reportedEndTime
      required: true
      schema:
        format: date-time
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReportedStartTimeParameter:
      description: The reported start time (inclusive).
      in: query
      name: reportedStartTime
      required: true
      schema:
        format: date-time
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TenantSubscriptionIdParameter:
      description: The tenant subscription identifier.
      in: query
      name: subscriberId
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location where resource is location.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UsageAggregate:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Aggregate usage values for resource.
      example:
        properties:
          quantity: quantity
          usageStartTime: 2000-01-23T04:56:07.000+00:00
          meterId: meterId
          usageEndTime: 2000-01-23T04:56:07.000+00:00
          subscriptionId: subscriptionId
          instanceData: instanceData
      properties:
        properties:
          $ref: '#/components/schemas/UsageAggregateModel'
    UsageAggregateModel:
      description: Properties for aggregate usage.
      example:
        quantity: quantity
        usageStartTime: 2000-01-23T04:56:07.000+00:00
        meterId: meterId
        usageEndTime: 2000-01-23T04:56:07.000+00:00
        subscriptionId: subscriptionId
        instanceData: instanceData
      properties:
        instanceData:
          description: Key-value pairs of instance details represented as a string.
          type: string
        meterId:
          description: Unique ID for the resource that was consumed (aka ResourceID).
          type: string
        quantity:
          description: The amount of the resource consumption that occurred in this
            time frame.
          type: string
        subscriptionId:
          description: Subscription id of tenant using plan.
          type: string
        usageEndTime:
          description: UTC end time for the usage bucket to which this usage aggregate
            belongs.
          format: date-time
          type: string
        usageStartTime:
          description: UTC start time for the usage bucket to which this usage aggregate
            belongs.
          format: date-time
          type: string
      type: object
    UsageAggregatePage:
      description: Holds an array of usage aggregates and the continuation token.
      example:
        value:
        - properties:
            quantity: quantity
            usageStartTime: 2000-01-23T04:56:07.000+00:00
            meterId: meterId
            usageEndTime: 2000-01-23T04:56:07.000+00:00
            subscriptionId: subscriptionId
            instanceData: instanceData
        - properties:
            quantity: quantity
            usageStartTime: 2000-01-23T04:56:07.000+00:00
            meterId: meterId
            usageEndTime: 2000-01-23T04:56:07.000+00:00
            subscriptionId: subscriptionId
            instanceData: instanceData
        nextLink: nextLink
      properties:
        nextLink:
          description: Continuation token
          type: string
        value:
          description: Array of usage aggregates.
          items:
            $ref: '#/components/schemas/UsageAggregate'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

