openapi: 3.0.1
info:
  title: Automation Actions V4
  version: v4
  x-hubspot-api-use-case: "You want to empower other users in your account to automate\
    \ specialized parts of their day-to-day processes (e.g., creating highly customized\
    \ quotes based on the data from an enrolled contact and their associations)."
  x-hubspot-documentation-banner: NONE
  x-hubspot-introduction: "Use the automation API to define custom actions in the\
    \ HubSpot workflows tool, which allows users in your account to integrate with\
    \ external services as they build out a HubSpot workflow."
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: PROFESSIONAL
    service: PROFESSIONAL
  x-hubspot-related-documentation:
  - name: Custom Workflow Actions Guide
    url: https://hubspot.dev/guides/api/automation/custom-workflow-actions
  x-logo:
    url: https://developers.hubspot.com/hubfs/assets/hubspot.com/buzz/HubSpotOpenGraph.png
  x-origin:
  - format: openapi
    url: https://api.hubspot.com/api-catalog-public/v1/apis/automation/v4/actions
    version: "3.0"
  x-providerName: hubapi.com
  x-serviceName: automation
servers:
- url: https://api.hubapi.com
tags:
- name: Callbacks
- name: Revisions
- name: Functions
- name: Definitions
paths:
  /automation/v4/actions/callbacks/complete:
    post:
      operationId: post_automation_v4_actions_callbacks_complete_complete_batch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputCallbackCompletionBatchRequest'
        required: true
        x-body-name: body
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - automation
      - private_apps_legacy: []
      summary: Completes a batch of callbacks
      tags:
      - Callbacks
      x-openapi-router-controller: openapi_server.controllers.callbacks_controller
      x-codegen-request-body-name: body
  /automation/v4/actions/callbacks/{callbackId}/complete:
    post:
      operationId: post_automation_v4_actions_callbacks_callback_id_complete_complete
      parameters:
      - explode: false
        in: path
        name: callbackId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackCompletionRequest'
        required: true
        x-body-name: body
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - automation
      - private_apps_legacy: []
      summary: Completes a single callback
      tags:
      - Callbacks
      x-openapi-router-controller: openapi_server.controllers.callbacks_controller
      x-codegen-request-body-name: body
  /automation/v4/actions/{appId}:
    get:
      operationId: get_automation_v4_actions_app_id_get_page
      parameters:
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionDefinitionForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get paged extension definitions
      tags:
      - Definitions
      x-openapi-router-controller: openapi_server.controllers.definitions_controller
    post:
      operationId: post_automation_v4_actions_app_id_create
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionEgg'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Create a new extension definition
      tags:
      - Definitions
      x-openapi-router-controller: openapi_server.controllers.definitions_controller
      x-codegen-request-body-name: body
  /automation/v4/actions/{appId}/{definitionId}:
    delete:
      operationId: delete_automation_v4_actions_app_id_definition_id_archive
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Archive an extension definition
      tags:
      - Definitions
      x-openapi-router-controller: openapi_server.controllers.definitions_controller
    get:
      operationId: get_automation_v4_actions_app_id_definition_id_get_by_id
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get extension definition by Id
      tags:
      - Definitions
      x-openapi-router-controller: openapi_server.controllers.definitions_controller
    patch:
      operationId: patch_automation_v4_actions_app_id_definition_id_update
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionPatch'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Patch an existing extension definition
      tags:
      - Definitions
      x-openapi-router-controller: openapi_server.controllers.definitions_controller
      x-codegen-request-body-name: body
  /automation/v4/actions/{appId}/{definitionId}/functions:
    get:
      operationId: get_automation_v4_actions_app_id_definition_id_functions_get_page
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionFunctionIdentifierNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get all functions for a given definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
  /automation/v4/actions/{appId}/{definitionId}/functions/{functionType}:
    delete:
      operationId: delete_automation_v4_actions_app_id_definition_id_functions_function_type_archive_by_function_type
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Delete a function for a definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    get:
      operationId: get_automation_v4_actions_app_id_definition_id_functions_function_type_get_by_function_type
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunction'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get all functions by a type for a given definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    put:
      operationId: put_automation_v4_actions_app_id_definition_id_functions_function_type_create_or_replace_by_function_type
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Insert a function for a definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
      x-codegen-request-body-name: body
  /automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}:
    delete:
      operationId: delete_automation_v4_actions_app_id_definition_id_functions_function_type_function_id_archive
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: functionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Archive a function for a definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    get:
      operationId: get_automation_v4_actions_app_id_definition_id_functions_function_type_function_id_get_by_id
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: functionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunction'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get a function for a given definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    put:
      operationId: put_automation_v4_actions_app_id_definition_id_functions_function_type_function_id_create_or_replace
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: functionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Insert a function for a definition
      tags:
      - Functions
      x-openapi-router-controller: openapi_server.controllers.functions_controller
      x-codegen-request-body-name: body
  /automation/v4/actions/{appId}/{definitionId}/revisions:
    get:
      operationId: get_automation_v4_actions_app_id_definition_id_revisions_get_page
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionRevisionForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get all revisions for a given definition
      tags:
      - Revisions
      x-openapi-router-controller: openapi_server.controllers.revisions_controller
  /automation/v4/actions/{appId}/{definitionId}/revisions/{revisionId}:
    get:
      operationId: get_automation_v4_actions_app_id_definition_id_revisions_revision_id_get_by_id
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionRevision'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Gets a revision for a given definition by revision id
      tags:
      - Revisions
      x-openapi-router-controller: openapi_server.controllers.revisions_controller
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    BatchInputCallbackCompletionBatchRequest:
      example:
        inputs:
        - outputFields:
            key: outputFields
          callbackId: callbackId
        - outputFields:
            key: outputFields
          callbackId: callbackId
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/CallbackCompletionBatchRequest'
          title: inputs
          type: array
      required:
      - inputs
      title: BatchInputCallbackCompletionBatchRequest
      type: object
    CallbackCompletionBatchRequest:
      example:
        outputFields:
          key: outputFields
        callbackId: callbackId
      properties:
        callbackId:
          title: callbackId
          type: string
        outputFields:
          additionalProperties:
            type: string
          title: outputFields
          type: object
      required:
      - callbackId
      - outputFields
      title: CallbackCompletionBatchRequest
      type: object
    CallbackCompletionRequest:
      example:
        outputFields:
          key: outputFields
      properties:
        outputFields:
          additionalProperties:
            type: string
          title: outputFields
          type: object
      required:
      - outputFields
      title: CallbackCompletionRequest
      type: object
    CollectionResponsePublicActionDefinitionForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - functions:
          - functionType: PRE_ACTION_EXECUTION
            id: id
          - functionType: PRE_ACTION_EXECUTION
            id: id
          actionUrl: actionUrl
          published: true
          labels:
            key:
              inputFieldDescriptions:
                key: inputFieldDescriptions
              appDisplayName: appDisplayName
              outputFieldLabels:
                key: outputFieldLabels
              actionDescription: actionDescription
              executionRules:
                key: executionRules
              inputFieldOptionLabels:
                key:
                  key: inputFieldOptionLabels
              actionCardContent: actionCardContent
              actionName: actionName
              inputFieldLabels:
                key: inputFieldLabels
          inputFields:
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          outputFields:
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
          revisionId: revisionId
          archivedAt: 0
          inputFieldDependencies:
          - dependencyType: SINGLE_FIELD
            controllingFieldName: controllingFieldName
            dependentFieldNames:
            - dependentFieldNames
            - dependentFieldNames
          - dependencyType: SINGLE_FIELD
            controllingFieldName: controllingFieldName
            dependentFieldNames:
            - dependentFieldNames
            - dependentFieldNames
          executionRules:
          - conditions:
              key: "{}"
            labelName: labelName
          - conditions:
              key: "{}"
            labelName: labelName
          id: id
          objectTypes:
          - objectTypes
          - objectTypes
          objectRequestOptions:
            properties:
            - properties
            - properties
        - functions:
          - functionType: PRE_ACTION_EXECUTION
            id: id
          - functionType: PRE_ACTION_EXECUTION
            id: id
          actionUrl: actionUrl
          published: true
          labels:
            key:
              inputFieldDescriptions:
                key: inputFieldDescriptions
              appDisplayName: appDisplayName
              outputFieldLabels:
                key: outputFieldLabels
              actionDescription: actionDescription
              executionRules:
                key: executionRules
              inputFieldOptionLabels:
                key:
                  key: inputFieldOptionLabels
              actionCardContent: actionCardContent
              actionName: actionName
              inputFieldLabels:
                key: inputFieldLabels
          inputFields:
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          outputFields:
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
          revisionId: revisionId
          archivedAt: 0
          inputFieldDependencies:
          - dependencyType: SINGLE_FIELD
            controllingFieldName: controllingFieldName
            dependentFieldNames:
            - dependentFieldNames
            - dependentFieldNames
          - dependencyType: SINGLE_FIELD
            controllingFieldName: controllingFieldName
            dependentFieldNames:
            - dependentFieldNames
            - dependentFieldNames
          executionRules:
          - conditions:
              key: "{}"
            labelName: labelName
          - conditions:
              key: "{}"
            labelName: labelName
          id: id
          objectTypes:
          - objectTypes
          - objectTypes
          objectRequestOptions:
            properties:
            - properties
            - properties
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicActionDefinition'
          title: results
          type: array
      required:
      - results
      title: CollectionResponsePublicActionDefinitionForwardPaging
      type: object
    CollectionResponsePublicActionFunctionIdentifierNoPaging:
      example:
        results:
        - functionType: PRE_ACTION_EXECUTION
          id: id
        - functionType: PRE_ACTION_EXECUTION
          id: id
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          title: results
          type: array
      required:
      - results
      title: CollectionResponsePublicActionFunctionIdentifierNoPaging
      type: object
    CollectionResponsePublicActionRevisionForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - revisionId: revisionId
          createdAt: 2000-01-23T04:56:07.000+00:00
          definition:
            functions:
            - functionType: PRE_ACTION_EXECUTION
              id: id
            - functionType: PRE_ACTION_EXECUTION
              id: id
            actionUrl: actionUrl
            published: true
            labels:
              key:
                inputFieldDescriptions:
                  key: inputFieldDescriptions
                appDisplayName: appDisplayName
                outputFieldLabels:
                  key: outputFieldLabels
                actionDescription: actionDescription
                executionRules:
                  key: executionRules
                inputFieldOptionLabels:
                  key:
                    key: inputFieldOptionLabels
                actionCardContent: actionCardContent
                actionName: actionName
                inputFieldLabels:
                  key: inputFieldLabels
            inputFields:
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            outputFields:
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
            revisionId: revisionId
            archivedAt: 0
            inputFieldDependencies:
            - dependencyType: SINGLE_FIELD
              controllingFieldName: controllingFieldName
              dependentFieldNames:
              - dependentFieldNames
              - dependentFieldNames
            - dependencyType: SINGLE_FIELD
              controllingFieldName: controllingFieldName
              dependentFieldNames:
              - dependentFieldNames
              - dependentFieldNames
            executionRules:
            - conditions:
                key: "{}"
              labelName: labelName
            - conditions:
                key: "{}"
              labelName: labelName
            id: id
            objectTypes:
            - objectTypes
            - objectTypes
            objectRequestOptions:
              properties:
              - properties
              - properties
          id: id
        - revisionId: revisionId
          createdAt: 2000-01-23T04:56:07.000+00:00
          definition:
            functions:
            - functionType: PRE_ACTION_EXECUTION
              id: id
            - functionType: PRE_ACTION_EXECUTION
              id: id
            actionUrl: actionUrl
            published: true
            labels:
              key:
                inputFieldDescriptions:
                  key: inputFieldDescriptions
                appDisplayName: appDisplayName
                outputFieldLabels:
                  key: outputFieldLabels
                actionDescription: actionDescription
                executionRules:
                  key: executionRules
                inputFieldOptionLabels:
                  key:
                    key: inputFieldOptionLabels
                actionCardContent: actionCardContent
                actionName: actionName
                inputFieldLabels:
                  key: inputFieldLabels
            inputFields:
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            outputFields:
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 6
                  doubleData: 1.4658129805029452
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                externalOptions: true
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
            revisionId: revisionId
            archivedAt: 0
            inputFieldDependencies:
            - dependencyType: SINGLE_FIELD
              controllingFieldName: controllingFieldName
              dependentFieldNames:
              - dependentFieldNames
              - dependentFieldNames
            - dependencyType: SINGLE_FIELD
              controllingFieldName: controllingFieldName
              dependentFieldNames:
              - dependentFieldNames
              - dependentFieldNames
            executionRules:
            - conditions:
                key: "{}"
              labelName: labelName
            - conditions:
                key: "{}"
              labelName: labelName
            id: id
            objectTypes:
            - objectTypes
            - objectTypes
            objectRequestOptions:
              properties:
              - properties
              - properties
          id: id
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicActionRevision'
          title: results
          type: array
      required:
      - results
      title: CollectionResponsePublicActionRevisionForwardPaging
      type: object
    Error:
      example:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
        message: Invalid input (details will vary based on the error)
      properties:
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
      required:
      - category
      - correlationId
      - message
      title: Error
      type: object
    ErrorDetail:
      properties:
        code:
          description: The status code associated with the error detail
          title: code
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          title: context
          type: object
        in:
          description: The name of the field or parameter in which the error was found.
          title: in
          type: string
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          title: message
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          title: subCategory
          type: string
      required:
      - message
      title: ErrorDetail
      type: object
    FieldTypeDefinition:
      example:
        helpText: helpText
        referencedObjectType: CONTACT
        name: name
        options:
        - hidden: true
          displayOrder: 6
          doubleData: 1.4658129805029452
          description: description
          readOnly: true
          label: label
          value: value
        - hidden: true
          displayOrder: 6
          doubleData: 1.4658129805029452
          description: description
          readOnly: true
          label: label
          value: value
        description: description
        externalOptionsReferenceType: externalOptionsReferenceType
        label: label
        type: string
        externalOptions: true
        fieldType: booleancheckbox
        optionsUrl: optionsUrl
      properties:
        description:
          title: description
          type: string
        externalOptions:
          title: externalOptions
          type: boolean
        externalOptionsReferenceType:
          title: externalOptionsReferenceType
          type: string
        fieldType:
          enum:
          - booleancheckbox
          - checkbox
          - date
          - file
          - number
          - phonenumber
          - radio
          - select
          - text
          - textarea
          - calculation_equation
          - calculation_rollup
          - calculation_score
          - calculation_read_time
          - unknown
          - html
          title: fieldType
          type: string
        helpText:
          title: helpText
          type: string
        label:
          title: label
          type: string
        name:
          title: name
          type: string
        options:
          items:
            $ref: '#/components/schemas/Option'
          title: options
          type: array
        optionsUrl:
          title: optionsUrl
          type: string
        referencedObjectType:
          enum:
          - CONTACT
          - COMPANY
          - DEAL
          - ENGAGEMENT
          - TICKET
          - OWNER
          - PRODUCT
          - LINE_ITEM
          - BET_DELIVERABLE_SERVICE
          - CONTENT
          - CONVERSATION
          - BET_ALERT
          - PORTAL
          - QUOTE
          - FORM_SUBMISSION_INBOUNDDB
          - QUOTA
          - UNSUBSCRIBE
          - COMMUNICATION
          - FEEDBACK_SUBMISSION
          - ATTRIBUTION
          - SALESFORCE_SYNC_ERROR
          - RESTORABLE_CRM_OBJECT
          - HUB
          - LANDING_PAGE
          - PRODUCT_OR_FOLDER
          - TASK
          - FORM
          - MARKETING_EMAIL
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AD
          - KEYWORD
          - CAMPAIGN
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SITE_PAGE
          - BLOG_POST
          - IMPORT
          - EXPORT
          - CTA
          - TASK_TEMPLATE
          - AUTOMATION_PLATFORM_FLOW
          - OBJECT_LIST
          - NOTE
          - MEETING_EVENT
          - CALL
          - EMAIL
          - PUBLISHING_TASK
          - CONVERSATION_SESSION
          - CONTACT_CREATE_ATTRIBUTION
          - INVOICE
          - MARKETING_EVENT
          - CONVERSATION_INBOX
          - CHATFLOW
          - MEDIA_BRIDGE
          - SEQUENCE
          - SEQUENCE_STEP
          - FORECAST
          - SNIPPET
          - TEMPLATE
          - DEAL_CREATE_ATTRIBUTION
          - QUOTE_TEMPLATE
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_FIELD
          - SEQUENCE_ENROLLMENT
          - SUBSCRIPTION
          - ACCEPTANCE_TEST
          - SOCIAL_BROADCAST
          - DEAL_SPLIT
          - DEAL_REGISTRATION
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - PORTAL_OBJECT_SYNC_MESSAGE
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - SEQUENCE_STEP_ENROLLMENT
          - APPROVAL
          - APPROVAL_STEP
          - CTA_VARIANT
          - SALES_DOCUMENT
          - DISCOUNT
          - FEE
          - TAX
          - MARKETING_CALENDAR
          - PERMISSIONS_TESTING
          - PRIVACY_SCANNER_COOKIE
          - DATA_SYNC_STATE
          - WEB_INTERACTIVE
          - PLAYBOOK
          - FOLDER
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - COMMERCE_PAYMENT
          - GSC_PROPERTY
          - SOX_PROTECTED_DUMMY_TYPE
          - BLOG_LISTING_PAGE
          - QUARANTINED_SUBMISSION
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - MARKETING_CAMPAIGN_UTM
          - DISCOUNT_TEMPLATE
          - DISCOUNT_CODE
          - FEEDBACK_SURVEY
          - CMS_URL
          - SALES_TASK
          - SALES_WORKLOAD
          - USER
          - POSTAL_MAIL
          - SCHEMAS_BACKEND_TEST
          - PAYMENT_LINK
          - SUBMISSION_TAG
          - CAMPAIGN_STEP
          - SCHEDULING_PAGE
          - SOX_PROTECTED_TEST_TYPE
          - ORDER
          - MARKETING_SMS
          - PARTNER_ACCOUNT
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - PLAYLIST
          - CLIP
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - MIC
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - PLAYLIST_FOLDER
          - LEAD
          - ABANDONED_CART
          - EXTERNAL_WEB_URL
          - VIEW
          - VIEW_BLOCK
          - ROSTER
          - CART
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - SOCIAL_PROFILE
          - PARTNER_CLIENT
          - ROSTER_MEMBER
          - MARKETING_EVENT_ATTENDANCE
          - ALL_PAGES
          - AI_FORECAST
          - CRM_PIPELINES_DUMMY_TYPE
          - KNOWLEDGE_ARTICLE
          - PROPERTY_INFO
          - DATA_PRIVACY_CONSENT
          - GOAL_TEMPLATE
          - SCORE_CONFIGURATION
          - AUDIENCE
          - PARTNER_CLIENT_REVENUE
          - AUTOMATION_JOURNEY
          - UNKNOWN
          title: referencedObjectType
          type: string
        type:
          enum:
          - string
          - number
          - bool
          - datetime
          - enumeration
          - date
          - phone_number
          - currency_number
          - json
          - object_coordinates
          title: type
          type: string
      required:
      - externalOptions
      - name
      - options
      - type
      title: FieldTypeDefinition
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      title: ForwardPaging
      type: object
    InputFieldDefinition:
      example:
        isRequired: true
        automationFieldType: automationFieldType
        typeDefinition:
          helpText: helpText
          referencedObjectType: CONTACT
          name: name
          options:
          - hidden: true
            displayOrder: 6
            doubleData: 1.4658129805029452
            description: description
            readOnly: true
            label: label
            value: value
          - hidden: true
            displayOrder: 6
            doubleData: 1.4658129805029452
            description: description
            readOnly: true
            label: label
            value: value
          description: description
          externalOptionsReferenceType: externalOptionsReferenceType
          label: label
          type: string
          externalOptions: true
          fieldType: booleancheckbox
          optionsUrl: optionsUrl
        supportedValueTypes:
        - STATIC_VALUE
        - STATIC_VALUE
      properties:
        automationFieldType:
          title: automationFieldType
          type: string
        isRequired:
          title: isRequired
          type: boolean
        supportedValueTypes:
          items:
            enum:
            - STATIC_VALUE
            - OBJECT_PROPERTY
            - FIELD_DATA
            - FETCHED_OBJECT_PROPERTY
            - ENROLLMENT_EVENT_PROPERTY
            type: string
          title: supportedValueTypes
          type: array
        typeDefinition:
          $ref: '#/components/schemas/FieldTypeDefinition'
      required:
      - isRequired
      - typeDefinition
      title: InputFieldDefinition
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          title: after
          type: string
        link:
          title: link
          type: string
      required:
      - after
      title: NextPage
      type: object
    Option:
      example:
        hidden: true
        displayOrder: 6
        doubleData: 1.4658129805029452
        description: description
        readOnly: true
        label: label
        value: value
      properties:
        description:
          title: description
          type: string
        displayOrder:
          format: int32
          title: displayOrder
          type: integer
        doubleData:
          title: doubleData
          type: number
        hidden:
          title: hidden
          type: boolean
        label:
          title: label
          type: string
        readOnly:
          title: readOnly
          type: boolean
        value:
          title: value
          type: string
      required:
      - description
      - displayOrder
      - doubleData
      - hidden
      - label
      - readOnly
      - value
      title: Option
      type: object
    OutputFieldDefinition:
      example:
        typeDefinition:
          helpText: helpText
          referencedObjectType: CONTACT
          name: name
          options:
          - hidden: true
            displayOrder: 6
            doubleData: 1.4658129805029452
            description: description
            readOnly: true
            label: label
            value: value
          - hidden: true
            displayOrder: 6
            doubleData: 1.4658129805029452
            description: description
            readOnly: true
            label: label
            value: value
          description: description
          externalOptionsReferenceType: externalOptionsReferenceType
          label: label
          type: string
          externalOptions: true
          fieldType: booleancheckbox
          optionsUrl: optionsUrl
      properties:
        typeDefinition:
          $ref: '#/components/schemas/FieldTypeDefinition'
      required:
      - typeDefinition
      title: OutputFieldDefinition
      type: object
    PublicActionDefinition:
      example:
        functions:
        - functionType: PRE_ACTION_EXECUTION
          id: id
        - functionType: PRE_ACTION_EXECUTION
          id: id
        actionUrl: actionUrl
        published: true
        labels:
          key:
            inputFieldDescriptions:
              key: inputFieldDescriptions
            appDisplayName: appDisplayName
            outputFieldLabels:
              key: outputFieldLabels
            actionDescription: actionDescription
            executionRules:
              key: executionRules
            inputFieldOptionLabels:
              key:
                key: inputFieldOptionLabels
            actionCardContent: actionCardContent
            actionName: actionName
            inputFieldLabels:
              key: inputFieldLabels
        inputFields:
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        outputFields:
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
        revisionId: revisionId
        archivedAt: 0
        inputFieldDependencies:
        - dependencyType: SINGLE_FIELD
          controllingFieldName: controllingFieldName
          dependentFieldNames:
          - dependentFieldNames
          - dependentFieldNames
        - dependencyType: SINGLE_FIELD
          controllingFieldName: controllingFieldName
          dependentFieldNames:
          - dependentFieldNames
          - dependentFieldNames
        executionRules:
        - conditions:
            key: "{}"
          labelName: labelName
        - conditions:
            key: "{}"
          labelName: labelName
        id: id
        objectTypes:
        - objectTypes
        - objectTypes
        objectRequestOptions:
          properties:
          - properties
          - properties
      properties:
        actionUrl:
          title: actionUrl
          type: string
        archivedAt:
          format: int64
          title: archivedAt
          type: integer
        executionRules:
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
          title: executionRules
          type: array
        functions:
          items:
            $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          title: functions
          type: array
        id:
          title: id
          type: string
        inputFieldDependencies:
          items:
            $ref: '#/components/schemas/PublicActionDefinition_inputFieldDependencies_inner'
          title: inputFieldDependencies
          type: array
        inputFields:
          items:
            $ref: '#/components/schemas/InputFieldDefinition'
          title: inputFields
          type: array
        labels:
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          title: labels
          type: object
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        objectTypes:
          items:
            type: string
          title: objectTypes
          type: array
        outputFields:
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
          title: outputFields
          type: array
        published:
          title: published
          type: boolean
        revisionId:
          title: revisionId
          type: string
      required:
      - actionUrl
      - functions
      - id
      - inputFields
      - labels
      - objectTypes
      - published
      - revisionId
      title: PublicActionDefinition
      type: object
    PublicActionDefinitionEgg:
      example:
        inputFields:
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        outputFields:
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
        archivedAt: 0
        functions:
        - functionSource: functionSource
          functionType: PRE_ACTION_EXECUTION
          id: id
        - functionSource: functionSource
          functionType: PRE_ACTION_EXECUTION
          id: id
        actionUrl: actionUrl
        inputFieldDependencies:
        - dependencyType: SINGLE_FIELD
          controllingFieldName: controllingFieldName
          dependentFieldNames:
          - dependentFieldNames
          - dependentFieldNames
        - dependencyType: SINGLE_FIELD
          controllingFieldName: controllingFieldName
          dependentFieldNames:
          - dependentFieldNames
          - dependentFieldNames
        executionRules:
        - conditions:
            key: "{}"
          labelName: labelName
        - conditions:
            key: "{}"
          labelName: labelName
        published: true
        objectTypes:
        - objectTypes
        - objectTypes
        labels:
          key:
            inputFieldDescriptions:
              key: inputFieldDescriptions
            appDisplayName: appDisplayName
            outputFieldLabels:
              key: outputFieldLabels
            actionDescription: actionDescription
            executionRules:
              key: executionRules
            inputFieldOptionLabels:
              key:
                key: inputFieldOptionLabels
            actionCardContent: actionCardContent
            actionName: actionName
            inputFieldLabels:
              key: inputFieldLabels
        objectRequestOptions:
          properties:
          - properties
          - properties
      properties:
        actionUrl:
          title: actionUrl
          type: string
        archivedAt:
          format: int64
          title: archivedAt
          type: integer
        executionRules:
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
          title: executionRules
          type: array
        functions:
          items:
            $ref: '#/components/schemas/PublicActionFunction'
          title: functions
          type: array
        inputFieldDependencies:
          items:
            $ref: '#/components/schemas/PublicActionDefinition_inputFieldDependencies_inner'
          title: inputFieldDependencies
          type: array
        inputFields:
          items:
            $ref: '#/components/schemas/InputFieldDefinition'
          title: inputFields
          type: array
        labels:
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          title: labels
          type: object
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        objectTypes:
          items:
            type: string
          title: objectTypes
          type: array
        outputFields:
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
          title: outputFields
          type: array
        published:
          title: published
          type: boolean
      required:
      - actionUrl
      - functions
      - inputFields
      - labels
      - objectTypes
      - published
      title: PublicActionDefinitionEgg
      type: object
    PublicActionDefinitionPatch:
      example:
        inputFields:
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        outputFields:
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 6
              doubleData: 1.4658129805029452
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            externalOptions: true
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
        actionUrl: actionUrl
        inputFieldDependencies:
        - dependencyType: SINGLE_FIELD
          controllingFieldName: controllingFieldName
          dependentFieldNames:
          - dependentFieldNames
          - dependentFieldNames
        - dependencyType: SINGLE_FIELD
          controllingFieldName: controllingFieldName
          dependentFieldNames:
          - dependentFieldNames
          - dependentFieldNames
        executionRules:
        - conditions:
            key: "{}"
          labelName: labelName
        - conditions:
            key: "{}"
          labelName: labelName
        published: true
        objectTypes:
        - objectTypes
        - objectTypes
        labels:
          key:
            inputFieldDescriptions:
              key: inputFieldDescriptions
            appDisplayName: appDisplayName
            outputFieldLabels:
              key: outputFieldLabels
            actionDescription: actionDescription
            executionRules:
              key: executionRules
            inputFieldOptionLabels:
              key:
                key: inputFieldOptionLabels
            actionCardContent: actionCardContent
            actionName: actionName
            inputFieldLabels:
              key: inputFieldLabels
        objectRequestOptions:
          properties:
          - properties
          - properties
      properties:
        actionUrl:
          title: actionUrl
          type: string
        executionRules:
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
          title: executionRules
          type: array
        inputFieldDependencies:
          items:
            $ref: '#/components/schemas/PublicActionDefinition_inputFieldDependencies_inner'
          title: inputFieldDependencies
          type: array
        inputFields:
          items:
            $ref: '#/components/schemas/InputFieldDefinition'
          title: inputFields
          type: array
        labels:
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          title: labels
          type: object
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        objectTypes:
          items:
            type: string
          title: objectTypes
          type: array
        outputFields:
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
          title: outputFields
          type: array
        published:
          title: published
          type: boolean
      title: PublicActionDefinitionPatch
      type: object
    PublicActionFunction:
      example:
        functionSource: functionSource
        functionType: PRE_ACTION_EXECUTION
        id: id
      properties:
        functionSource:
          title: functionSource
          type: string
        functionType:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          title: functionType
          type: string
        id:
          title: id
          type: string
      required:
      - functionSource
      - functionType
      title: PublicActionFunction
      type: object
    PublicActionFunctionIdentifier:
      example:
        functionType: PRE_ACTION_EXECUTION
        id: id
      properties:
        functionType:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          title: functionType
          type: string
        id:
          title: id
          type: string
      required:
      - functionType
      title: PublicActionFunctionIdentifier
      type: object
    PublicActionLabels:
      example:
        inputFieldDescriptions:
          key: inputFieldDescriptions
        appDisplayName: appDisplayName
        outputFieldLabels:
          key: outputFieldLabels
        actionDescription: actionDescription
        executionRules:
          key: executionRules
        inputFieldOptionLabels:
          key:
            key: inputFieldOptionLabels
        actionCardContent: actionCardContent
        actionName: actionName
        inputFieldLabels:
          key: inputFieldLabels
      properties:
        actionCardContent:
          title: actionCardContent
          type: string
        actionDescription:
          title: actionDescription
          type: string
        actionName:
          title: actionName
          type: string
        appDisplayName:
          title: appDisplayName
          type: string
        executionRules:
          additionalProperties:
            type: string
          title: executionRules
          type: object
        inputFieldDescriptions:
          additionalProperties:
            type: string
          title: inputFieldDescriptions
          type: object
        inputFieldLabels:
          additionalProperties:
            type: string
          title: inputFieldLabels
          type: object
        inputFieldOptionLabels:
          additionalProperties:
            additionalProperties:
              type: string
            type: object
          title: inputFieldOptionLabels
          type: object
        outputFieldLabels:
          additionalProperties:
            type: string
          title: outputFieldLabels
          type: object
      required:
      - actionName
      title: PublicActionLabels
      type: object
    PublicActionRevision:
      example:
        revisionId: revisionId
        createdAt: 2000-01-23T04:56:07.000+00:00
        definition:
          functions:
          - functionType: PRE_ACTION_EXECUTION
            id: id
          - functionType: PRE_ACTION_EXECUTION
            id: id
          actionUrl: actionUrl
          published: true
          labels:
            key:
              inputFieldDescriptions:
                key: inputFieldDescriptions
              appDisplayName: appDisplayName
              outputFieldLabels:
                key: outputFieldLabels
              actionDescription: actionDescription
              executionRules:
                key: executionRules
              inputFieldOptionLabels:
                key:
                  key: inputFieldOptionLabels
              actionCardContent: actionCardContent
              actionName: actionName
              inputFieldLabels:
                key: inputFieldLabels
          inputFields:
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          outputFields:
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 6
                doubleData: 1.4658129805029452
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              externalOptions: true
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
          revisionId: revisionId
          archivedAt: 0
          inputFieldDependencies:
          - dependencyType: SINGLE_FIELD
            controllingFieldName: controllingFieldName
            dependentFieldNames:
            - dependentFieldNames
            - dependentFieldNames
          - dependencyType: SINGLE_FIELD
            controllingFieldName: controllingFieldName
            dependentFieldNames:
            - dependentFieldNames
            - dependentFieldNames
          executionRules:
          - conditions:
              key: "{}"
            labelName: labelName
          - conditions:
              key: "{}"
            labelName: labelName
          id: id
          objectTypes:
          - objectTypes
          - objectTypes
          objectRequestOptions:
            properties:
            - properties
            - properties
        id: id
      properties:
        createdAt:
          format: date-time
          title: createdAt
          type: string
        definition:
          $ref: '#/components/schemas/PublicActionDefinition'
        id:
          title: id
          type: string
        revisionId:
          title: revisionId
          type: string
      required:
      - createdAt
      - definition
      - id
      - revisionId
      title: PublicActionRevision
      type: object
    PublicConditionalSingleFieldDependency:
      properties:
        controllingFieldName:
          title: controllingFieldName
          type: string
        controllingFieldValue:
          title: controllingFieldValue
          type: string
        dependencyType:
          default: CONDITIONAL_SINGLE_FIELD
          enum:
          - CONDITIONAL_SINGLE_FIELD
          title: dependencyType
          type: string
        dependentFieldNames:
          items:
            type: string
          title: dependentFieldNames
          type: array
      required:
      - controllingFieldName
      - controllingFieldValue
      - dependencyType
      - dependentFieldNames
      title: CONDITIONAL_SINGLE_FIELD
      type: object
    PublicExecutionTranslationRule:
      example:
        conditions:
          key: "{}"
        labelName: labelName
      properties:
        conditions:
          additionalProperties:
            properties: {}
            type: object
          title: conditions
          type: object
        labelName:
          title: labelName
          type: string
      required:
      - conditions
      - labelName
      title: PublicExecutionTranslationRule
      type: object
    PublicObjectRequestOptions:
      example:
        properties:
        - properties
        - properties
      properties:
        properties:
          items:
            type: string
          title: properties
          type: array
      required:
      - properties
      title: PublicObjectRequestOptions
      type: object
    PublicSingleFieldDependency:
      example:
        dependencyType: SINGLE_FIELD
        controllingFieldName: controllingFieldName
        dependentFieldNames:
        - dependentFieldNames
        - dependentFieldNames
      properties:
        controllingFieldName:
          title: controllingFieldName
          type: string
        dependencyType:
          default: SINGLE_FIELD
          enum:
          - SINGLE_FIELD
          title: dependencyType
          type: string
        dependentFieldNames:
          items:
            type: string
          title: dependentFieldNames
          type: array
      required:
      - controllingFieldName
      - dependencyType
      - dependentFieldNames
      title: SINGLE_FIELD
      type: object
    PublicActionDefinition_inputFieldDependencies_inner:
      oneOf:
      - $ref: '#/components/schemas/PublicSingleFieldDependency'
      - $ref: '#/components/schemas/PublicConditionalSingleFieldDependency'
      title: PublicActionDefinition_inputFieldDependencies_inner
  securitySchemes:
    developer_hapikey:
      in: query
      name: hapikey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_developer_hapikey
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            automation: Read from and write to my Workflows
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth2_legacy
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth2_legacy
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_private_apps_legacy
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-documentation-banner: NONE
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: PROFESSIONAL
  service: PROFESSIONAL
