openapi: 3.0.0
info:
  contact:
    x-twitter: ynab
  description: "Our API uses a REST based design, leverages the JSON data format,\
    \ and relies upon HTTPS for transport. We respond with meaningful HTTP response\
    \ codes and if an error occurs, we include error details in the response body.\
    \  API Documentation is at https://api.ynab.com"
  title: YNAB API Endpoints
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://twitter.com/ynab/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.youneedabudget.com/papi/spec-v1-swagger.json
    version: "3.0"
  x-providerName: youneedabudget.com
servers:
- url: https://api.ynab.com/v1
security:
- bearer: []
tags:
- name: User
- name: Budgets
- description: The accounts for a budget
  name: Accounts
- description: The categories for a budget
  name: Categories
- description: The payees for a budget
  name: Payees
- description: "When you enter a transaction and specify a payee on the YNAB mobile\
    \ apps, the GPS coordinates for that location are stored, with your permission,\
    \ so that the next time you are in the same place (like the Grocery store) we\
    \ can pre-populate nearby payees for you!  It’s handy and saves you time.  This\
    \ resource makes these locations available.  Locations will not be available for\
    \ all payees."
  name: Payee Locations
- description: "Each budget contains one or more months, which is where Ready to Assign,\
    \ Age of Money and category (budgeted / activity / balances) amounts are available."
  name: Months
- description: The transactions for a budget
  name: Transactions
- description: The scheduled transactions for a budget
  name: Scheduled Transactions
paths:
  /budgets:
    get:
      description: Returns budgets list with summary information
      operationId: getBudgets
      parameters:
      - description: Whether to include the list of budget accounts
        explode: true
        in: query
        name: include_accounts
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSummaryResponse'
          description: The list of budgets
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No budgets were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List budgets
      tags:
      - Budgets
      x-accepts:
      - application/json
  /budgets/{budget_id}:
    get:
      description: Returns a single budget with all related entities.  This resource
        is effectively a full budget export.
      operationId: getBudgetById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetDetailResponse'
          description: The requested budget
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified budget was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single budget
      tags:
      - Budgets
      x-accepts:
      - application/json
  /budgets/{budget_id}/accounts:
    get:
      description: Returns all accounts
      operationId: getAccounts
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
          description: The list of requested accounts
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No accounts were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Account list
      tags:
      - Accounts
      x-accepts:
      - application/json
    post:
      description: Creates a new account
      operationId: createAccount
      parameters:
      - description: "The id of the budget (\"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)"
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAccountWrapper'
        description: The account to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: The account was successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s).
      summary: Create a new account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /budgets/{budget_id}/accounts/{account_id}:
    get:
      description: Returns a single account
      operationId: getAccountById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: The requested account
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested account was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single account
      tags:
      - Accounts
      x-accepts:
      - application/json
  /budgets/{budget_id}/accounts/{account_id}/transactions:
    get:
      description: Returns all transactions for a specified account
      operationId: getTransactionsByAccount
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: "If specified, only transactions on or after this date will be\
          \ included.  The date should be ISO formatted (e.g. 2016-12-30)."
        explode: true
        in: query
        name: since_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "If specified, only transactions of the specified type will be\
          \ included. \"uncategorized\" and \"unapproved\" are currently supported."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - uncategorized
          - unapproved
          type: string
        style: form
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
          description: The list of requested transactions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No transactions were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List account transactions
      tags:
      - Transactions
      x-accepts:
      - application/json
  /budgets/{budget_id}/categories:
    get:
      description: "Returns all categories grouped by category group.  Amounts (budgeted,\
        \ activity, balance, etc.) are specific to the current budget month (UTC)."
      operationId: getCategories
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
          description: The categories grouped by category group
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No categories were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List categories
      tags:
      - Categories
      x-accepts:
      - application/json
  /budgets/{budget_id}/categories/{category_id}:
    get:
      description: "Returns a single category.  Amounts (budgeted, activity, balance,\
        \ etc.) are specific to the current budget month (UTC)."
      operationId: getCategoryById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
          description: The requested category
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The category not was found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single category
      tags:
      - Categories
      x-accepts:
      - application/json
  /budgets/{budget_id}/categories/{category_id}/transactions:
    get:
      description: Returns all transactions for a specified category
      operationId: getTransactionsByCategory
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: string
        style: simple
      - description: "If specified, only transactions on or after this date will be\
          \ included.  The date should be ISO formatted (e.g. 2016-12-30)."
        explode: true
        in: query
        name: since_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "If specified, only transactions of the specified type will be\
          \ included. \"uncategorized\" and \"unapproved\" are currently supported."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - uncategorized
          - unapproved
          type: string
        style: form
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridTransactionsResponse'
          description: The list of requested transactions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No transactions were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List category transactions
      tags:
      - Transactions
      x-accepts:
      - application/json
  /budgets/{budget_id}/months:
    get:
      description: Returns all budget months
      operationId: getBudgetMonths
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthSummariesResponse'
          description: The list of budget months
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No budget months were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List budget months
      tags:
      - Months
      x-accepts:
      - application/json
  /budgets/{budget_id}/months/{month}:
    get:
      description: Returns a single budget month
      operationId: getBudgetMonth
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The budget month in ISO format (e.g. 2016-12-01) ("current" can
          also be used to specify the current calendar month (UTC))
        explode: false
        in: path
        name: month
        required: true
        schema:
          format: date
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthDetailResponse'
          description: The budget month detail
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The budget month was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single budget month
      tags:
      - Months
      x-accepts:
      - application/json
  /budgets/{budget_id}/months/{month}/categories/{category_id}:
    get:
      description: "Returns a single category for a specific budget month.  Amounts\
        \ (budgeted, activity, balance, etc.) are specific to the current budget month\
        \ (UTC)."
      operationId: getMonthCategoryById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The budget month in ISO format (e.g. 2016-12-01) ("current" can
          also be used to specify the current calendar month (UTC))
        explode: false
        in: path
        name: month
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: The id of the category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
          description: The requested month category
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The month category was not was found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single category for a specific budget month
      tags:
      - Categories
      x-accepts:
      - application/json
    patch:
      description: Update a category for a specific month.  Only `budgeted` amount
        can be updated.
      operationId: updateMonthCategory
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The budget month in ISO format (e.g. 2016-12-01) ("current" can
          also be used to specify the current calendar month (UTC))
        explode: false
        in: path
        name: month
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: The id of the category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMonthCategoryWrapper'
        description: The category to update.  Only `budgeted` amount can be updated
          and any other fields specified will be ignored.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveCategoryResponse'
          description: The month category was successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s)
      summary: Update a category for a specific month
      tags:
      - Categories
      x-content-type: application/json
      x-accepts:
      - application/json
  /budgets/{budget_id}/payee_locations:
    get:
      description: Returns all payee locations
      operationId: getPayeeLocations
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeeLocationsResponse'
          description: The list of payee locations
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No payees locations were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List payee locations
      tags:
      - Payee Locations
      x-accepts:
      - application/json
  /budgets/{budget_id}/payee_locations/{payee_location_id}:
    get:
      description: Returns a single payee location
      operationId: getPayeeLocationById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: id of payee location
        explode: false
        in: path
        name: payee_location_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeeLocationResponse'
          description: The payee location
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The payee location was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single payee location
      tags:
      - Payee Locations
      x-accepts:
      - application/json
  /budgets/{budget_id}/payees:
    get:
      description: Returns all payees
      operationId: getPayees
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeesResponse'
          description: The requested list of payees
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No payees were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List payees
      tags:
      - Payees
      x-accepts:
      - application/json
  /budgets/{budget_id}/payees/{payee_id}:
    get:
      description: Returns a single payee
      operationId: getPayeeById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the payee
        explode: false
        in: path
        name: payee_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeeResponse'
          description: The requested payee
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The payee was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single payee
      tags:
      - Payees
      x-accepts:
      - application/json
  /budgets/{budget_id}/payees/{payee_id}/payee_locations:
    get:
      description: Returns all payee locations for a specified payee
      operationId: getPayeeLocationsByPayee
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: id of payee
        explode: false
        in: path
        name: payee_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeeLocationsResponse'
          description: The list of requested payee locations
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No payees locations were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List locations for a payee
      tags:
      - Payee Locations
      x-accepts:
      - application/json
  /budgets/{budget_id}/payees/{payee_id}/transactions:
    get:
      description: Returns all transactions for a specified payee
      operationId: getTransactionsByPayee
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the payee
        explode: false
        in: path
        name: payee_id
        required: true
        schema:
          type: string
        style: simple
      - description: "If specified, only transactions on or after this date will be\
          \ included.  The date should be ISO formatted (e.g. 2016-12-30)."
        explode: true
        in: query
        name: since_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "If specified, only transactions of the specified type will be\
          \ included. \"uncategorized\" and \"unapproved\" are currently supported."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - uncategorized
          - unapproved
          type: string
        style: form
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridTransactionsResponse'
          description: The list of requested transactions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No transactions were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List payee transactions
      tags:
      - Transactions
      x-accepts:
      - application/json
  /budgets/{budget_id}/scheduled_transactions:
    get:
      description: Returns all scheduled transactions
      operationId: getScheduledTransactions
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledTransactionsResponse'
          description: The list of requested scheduled transactions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No scheduled transactions were found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: List scheduled transactions
      tags:
      - Scheduled Transactions
      x-accepts:
      - application/json
  /budgets/{budget_id}/scheduled_transactions/{scheduled_transaction_id}:
    get:
      description: Returns a single scheduled transaction
      operationId: getScheduledTransactionById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the scheduled transaction
        explode: false
        in: path
        name: scheduled_transaction_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledTransactionResponse'
          description: The requested Scheduled Transaction
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The scheduled transaction was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single scheduled transaction
      tags:
      - Scheduled Transactions
      x-accepts:
      - application/json
  /budgets/{budget_id}/settings:
    get:
      description: Returns settings for a budget
      operationId: getBudgetSettingsById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSettingsResponse'
          description: The requested budget settings
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified Budget was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Budget Settings
      tags:
      - Budgets
      x-accepts:
      - application/json
  /budgets/{budget_id}/transactions:
    get:
      description: Returns budget transactions
      operationId: getTransactions
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: "If specified, only transactions on or after this date will be\
          \ included.  The date should be ISO formatted (e.g. 2016-12-30)."
        explode: true
        in: query
        name: since_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "If specified, only transactions of the specified type will be\
          \ included. \"uncategorized\" and \"unapproved\" are currently supported."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - uncategorized
          - unapproved
          type: string
        style: form
      - description: "The starting server knowledge.  If provided, only entities that\
          \ have changed since `last_knowledge_of_server` will be included."
        explode: true
        in: query
        name: last_knowledge_of_server
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
          description: The list of requested transactions
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No transactions were found
      summary: List transactions
      tags:
      - Transactions
      x-accepts:
      - application/json
    patch:
      description: "Updates multiple transactions, by `id` or `import_id`."
      operationId: updateTransactions
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchTransactionsWrapper'
        description: "The transactions to update. Each transaction must have either\
          \ an `id` or `import_id` specified. If `id` is specified as null an `import_id`\
          \ value can be provided which will allow transaction(s) to be updated by\
          \ their `import_id`. If an `id` is specified, it will always be used for\
          \ lookup."
        required: true
      responses:
        "209":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveTransactionsResponse'
          description: The transactions were successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s).
      summary: Update multiple transactions
      tags:
      - Transactions
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      description: "Creates a single transaction or multiple transactions.  If you\
        \ provide a body containing a `transaction` object, a single transaction will\
        \ be created and if you provide a body containing a `transactions` array,\
        \ multiple transactions will be created.  Scheduled transactions cannot be\
        \ created on this endpoint."
      operationId: createTransaction
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransactionsWrapper'
        description: The transaction or transactions to create.  To create a single
          transaction you can specify a value for the `transaction` object and to
          create multiple transactions you can specify an array of `transactions`.  It
          is expected that you will only provide a value for one of these objects.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveTransactionsResponse'
          description: The transaction or transactions were successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: A transaction on the same account with the same `import_id`
            already exists.
      summary: Create a single transaction or multiple transactions
      tags:
      - Transactions
      x-content-type: application/json
      x-accepts:
      - application/json
  /budgets/{budget_id}/transactions/bulk:
    post:
      description: "Creates multiple transactions.  Although this endpoint is still\
        \ supported, it is recommended to use 'POST /budgets/{budget_id}/transactions'\
        \ to create multiple transactions."
      operationId: bulkCreateTransactions
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTransactions'
        description: The list of transactions to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponse'
          description: The bulk request was processed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s)
      summary: Bulk create transactions
      tags:
      - Deprecated
      x-content-type: application/json
      x-accepts:
      - application/json
  /budgets/{budget_id}/transactions/import:
    post:
      description: Imports available transactions on all linked accounts for the given
        budget.  Linked accounts allow transactions to be imported directly from a
        specified financial institution and this endpoint initiates that import.  Sending
        a request to this endpoint is the equivalent of clicking "Import" on each
        account in the web application or tapping the "New Transactions" banner in
        the mobile applications.  The response for this endpoint contains the transaction
        ids that have been imported.
      operationId: importTransactions
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsImportResponse'
          description: The request was successful but there were no transactions to
            import
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsImportResponse'
          description: One or more transactions were imported successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s)
      summary: Import transactions
      tags:
      - Transactions
      x-accepts:
      - application/json
  /budgets/{budget_id}/transactions/{transaction_id}:
    delete:
      description: Deletes a transaction
      operationId: deleteTransaction
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the transaction
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
          description: The transaction was successfully deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The transaction was not found
      summary: Deletes an existing transaction
      tags:
      - Transactions
      x-accepts:
      - application/json
    get:
      description: Returns a single transaction
      operationId: getTransactionById
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the transaction
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
          description: The requested transaction
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The transaction was not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: Single transaction
      tags:
      - Transactions
      x-accepts:
      - application/json
    put:
      description: Updates a single transaction
      operationId: updateTransaction
      parameters:
      - description: "The id of the budget. \"last-used\" can be used to specify the\
          \ last used budget and \"default\" can be used if default budget selection\
          \ is enabled (see: https://api.ynab.com/#oauth-default-budget)."
        explode: false
        in: path
        name: budget_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the transaction
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutTransactionWrapper'
        description: The transaction to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
          description: The transaction was successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request could not be understood due to malformed syntax
            or validation error(s)
      summary: Updates an existing transaction
      tags:
      - Transactions
      x-content-type: application/json
      x-accepts:
      - application/json
  /user:
    get:
      description: Returns authenticated user information
      operationId: getUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: The user info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred
      summary: User info
      tags:
      - User
      x-accepts:
      - application/json
components:
  schemas:
    Account:
      example:
        note: note
        last_reconciled_at: 2000-01-23T04:56:07.000+00:00
        transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        direct_import_linked: true
        type: checking
        debt_interest_rates:
          key: 5
        direct_import_in_error: true
        uncleared_balance: 7
        debt_minimum_payments:
          key: 5
        deleted: true
        balance: 0
        cleared_balance: 6
        name: name
        closed: true
        debt_escrow_amounts:
          key: 1
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        debt_original_balance: 2
        on_budget: true
      properties:
        balance:
          description: The current balance of the account in milliunits format
          format: int64
          type: integer
        cleared_balance:
          description: The current cleared balance of the account in milliunits format
          format: int64
          type: integer
        closed:
          description: Whether this account is closed or not
          type: boolean
        debt_escrow_amounts:
          additionalProperties:
            format: int64
            type: integer
          type: object
        debt_interest_rates:
          additionalProperties:
            format: int64
            type: integer
          type: object
        debt_minimum_payments:
          additionalProperties:
            format: int64
            type: integer
          type: object
        debt_original_balance:
          description: "The original debt/loan account balance, specified in milliunits\
            \ format."
          format: int64
          type: integer
        deleted:
          description: Whether or not the account has been deleted.  Deleted accounts
            will only be included in delta requests.
          type: boolean
        direct_import_in_error:
          description: "If an account linked to a financial institution (direct_import_linked=true)\
            \ and the linked connection is not in a healthy state, this will be true."
          type: boolean
        direct_import_linked:
          description: Whether or not the account is linked to a financial institution
            for automatic transaction import.
          type: boolean
        id:
          format: uuid
          type: string
        last_reconciled_at:
          description: A date/time specifying when the account was last reconciled.
          format: date-time
          type: string
        name:
          type: string
        note:
          type: string
        on_budget:
          description: Whether this account is on budget or not
          type: boolean
        transfer_payee_id:
          description: The payee id which should be used when transferring to this
            account
          format: uuid
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
        uncleared_balance:
          description: The current uncleared balance of the account in milliunits
            format
          format: int64
          type: integer
      required:
      - balance
      - cleared_balance
      - closed
      - deleted
      - id
      - name
      - on_budget
      - transfer_payee_id
      - type
      - uncleared_balance
      type: object
    AccountResponse:
      example:
        data:
          account:
            note: note
            last_reconciled_at: 2000-01-23T04:56:07.000+00:00
            transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            direct_import_linked: true
            type: checking
            debt_interest_rates:
              key: 5
            direct_import_in_error: true
            uncleared_balance: 7
            debt_minimum_payments:
              key: 5
            deleted: true
            balance: 0
            cleared_balance: 6
            name: name
            closed: true
            debt_escrow_amounts:
              key: 1
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            debt_original_balance: 2
            on_budget: true
      properties:
        data:
          $ref: '#/components/schemas/AccountResponse_data'
      required:
      - data
      type: object
    AccountType:
      description: The type of account
      enum:
      - checking
      - savings
      - cash
      - creditCard
      - lineOfCredit
      - otherAsset
      - otherLiability
      - mortgage
      - autoLoan
      - studentLoan
      - personalLoan
      - medicalDebt
      - otherDebt
      type: string
    AccountsResponse:
      example:
        data:
          server_knowledge: 0
          accounts:
          - note: note
            last_reconciled_at: 2000-01-23T04:56:07.000+00:00
            transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            direct_import_linked: true
            type: checking
            debt_interest_rates:
              key: 5
            direct_import_in_error: true
            uncleared_balance: 7
            debt_minimum_payments:
              key: 5
            deleted: true
            balance: 0
            cleared_balance: 6
            name: name
            closed: true
            debt_escrow_amounts:
              key: 1
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            debt_original_balance: 2
            on_budget: true
          - note: note
            last_reconciled_at: 2000-01-23T04:56:07.000+00:00
            transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            direct_import_linked: true
            type: checking
            debt_interest_rates:
              key: 5
            direct_import_in_error: true
            uncleared_balance: 7
            debt_minimum_payments:
              key: 5
            deleted: true
            balance: 0
            cleared_balance: 6
            name: name
            closed: true
            debt_escrow_amounts:
              key: 1
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            debt_original_balance: 2
            on_budget: true
      properties:
        data:
          $ref: '#/components/schemas/AccountsResponse_data'
      required:
      - data
      type: object
    BudgetDetail:
      allOf:
      - $ref: '#/components/schemas/BudgetSummary'
      - properties:
          accounts:
            items:
              $ref: '#/components/schemas/Account'
            type: array
          categories:
            items:
              $ref: '#/components/schemas/Category'
            type: array
          category_groups:
            items:
              $ref: '#/components/schemas/CategoryGroup'
            type: array
          months:
            items:
              $ref: '#/components/schemas/MonthDetail'
            type: array
          payee_locations:
            items:
              $ref: '#/components/schemas/PayeeLocation'
            type: array
          payees:
            items:
              $ref: '#/components/schemas/Payee'
            type: array
          scheduled_subtransactions:
            items:
              $ref: '#/components/schemas/ScheduledSubTransaction'
            type: array
          scheduled_transactions:
            items:
              $ref: '#/components/schemas/ScheduledTransactionSummary'
            type: array
          subtransactions:
            items:
              $ref: '#/components/schemas/SubTransaction'
            type: array
          transactions:
            items:
              $ref: '#/components/schemas/TransactionSummary'
            type: array
        type: object
      example:
        scheduled_transactions:
        - amount: 4
          account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          date_next: 2000-01-23
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          date_first: 2000-01-23
          flag_color: red
          memo: memo
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          frequency: never
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - amount: 4
          account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          date_next: 2000-01-23
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          date_first: 2000-01-23
          flag_color: red
          memo: memo
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          frequency: never
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        last_modified_on: 2000-01-23T04:56:07.000+00:00
        last_month: 2000-01-23
        months:
        - income: 6
          note: note
          deleted: true
          activity: 1
          month: 2000-01-23
          age_of_money: 1
          categories:
          - goal_cadence: 5
            goal_day: 2
            note: note
            goal_type: TB
            activity: 0
            hidden: true
            goal_target: 4
            goal_percentage_complete: 2
            goal_under_funded: 7
            budgeted: 1
            original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_funded: 9
            deleted: true
            goal_cadence_frequency: 5
            balance: 6
            goal_months_to_budget: 7
            goal_target_month: 2000-01-23
            name: name
            goal_creation_month: 2000-01-23
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_left: 3
          - goal_cadence: 5
            goal_day: 2
            note: note
            goal_type: TB
            activity: 0
            hidden: true
            goal_target: 4
            goal_percentage_complete: 2
            goal_under_funded: 7
            budgeted: 1
            original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_funded: 9
            deleted: true
            goal_cadence_frequency: 5
            balance: 6
            goal_months_to_budget: 7
            goal_target_month: 2000-01-23
            name: name
            goal_creation_month: 2000-01-23
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_left: 3
          to_be_budgeted: 7
          budgeted: 1
        - income: 6
          note: note
          deleted: true
          activity: 1
          month: 2000-01-23
          age_of_money: 1
          categories:
          - goal_cadence: 5
            goal_day: 2
            note: note
            goal_type: TB
            activity: 0
            hidden: true
            goal_target: 4
            goal_percentage_complete: 2
            goal_under_funded: 7
            budgeted: 1
            original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_funded: 9
            deleted: true
            goal_cadence_frequency: 5
            balance: 6
            goal_months_to_budget: 7
            goal_target_month: 2000-01-23
            name: name
            goal_creation_month: 2000-01-23
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_left: 3
          - goal_cadence: 5
            goal_day: 2
            note: note
            goal_type: TB
            activity: 0
            hidden: true
            goal_target: 4
            goal_percentage_complete: 2
            goal_under_funded: 7
            budgeted: 1
            original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_funded: 9
            deleted: true
            goal_cadence_frequency: 5
            balance: 6
            goal_months_to_budget: 7
            goal_target_month: 2000-01-23
            name: name
            goal_creation_month: 2000-01-23
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            goal_overall_left: 3
          to_be_budgeted: 7
          budgeted: 1
        payees:
        - deleted: true
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: transfer_account_id
        - deleted: true
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: transfer_account_id
        payee_locations:
        - deleted: true
          latitude: latitude
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          longitude: longitude
        - deleted: true
          latitude: latitude
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          longitude: longitude
        scheduled_subtransactions:
        - amount: 1
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          memo: memo
          scheduled_transaction_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - amount: 1
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          memo: memo
          scheduled_transaction_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        currency_format:
          decimal_separator: decimal_separator
          group_separator: group_separator
          currency_symbol: currency_symbol
          symbol_first: true
          decimal_digits: 9
          display_symbol: true
          iso_code: iso_code
          example_format: example_format
        transactions:
        - date: 2000-01-23
          transfer_transaction_id: transfer_transaction_id
          amount: 9
          import_id: import_id
          debt_transaction_type: payment
          flag_color: red
          memo: memo
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          approved: true
          account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          import_payee_name_original: import_payee_name_original
          id: id
          cleared: cleared
          import_payee_name: import_payee_name
          matched_transaction_id: matched_transaction_id
        - date: 2000-01-23
          transfer_transaction_id: transfer_transaction_id
          amount: 9
          import_id: import_id
          debt_transaction_type: payment
          flag_color: red
          memo: memo
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          approved: true
          account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          import_payee_name_original: import_payee_name_original
          id: id
          cleared: cleared
          import_payee_name: import_payee_name
          matched_transaction_id: matched_transaction_id
        first_month: 2000-01-23
        name: name
        date_format:
          format: format
        subtransactions:
        - transaction_id: transaction_id
          transfer_transaction_id: transfer_transaction_id
          amount: 5
          category_name: category_name
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_name: payee_name
          memo: memo
          id: id
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - transaction_id: transaction_id
          transfer_transaction_id: transfer_transaction_id
          amount: 5
          category_name: category_name
          deleted: true
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_name: payee_name
          memo: memo
          id: id
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        accounts:
        - note: note
          last_reconciled_at: 2000-01-23T04:56:07.000+00:00
          transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          direct_import_linked: true
          type: checking
          debt_interest_rates:
            key: 5
          direct_import_in_error: true
          uncleared_balance: 7
          debt_minimum_payments:
            key: 5
          deleted: true
          balance: 0
          cleared_balance: 6
          name: name
          closed: true
          debt_escrow_amounts:
            key: 1
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          debt_original_balance: 2
          on_budget: true
        - note: note
          last_reconciled_at: 2000-01-23T04:56:07.000+00:00
          transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          direct_import_linked: true
          type: checking
          debt_interest_rates:
            key: 5
          direct_import_in_error: true
          uncleared_balance: 7
          debt_minimum_payments:
            key: 5
          deleted: true
          balance: 0
          cleared_balance: 6
          name: name
          closed: true
          debt_escrow_amounts:
            key: 1
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          debt_original_balance: 2
          on_budget: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        categories:
        - goal_cadence: 5
          goal_day: 2
          note: note
          goal_type: TB
          activity: 0
          hidden: true
          goal_target: 4
          goal_percentage_complete: 2
          goal_under_funded: 7
          budgeted: 1
          original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          goal_overall_funded: 9
          deleted: true
          goal_cadence_frequency: 5
          balance: 6
          goal_months_to_budget: 7
          goal_target_month: 2000-01-23
          name: name
          goal_creation_month: 2000-01-23
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          goal_overall_left: 3
        - goal_cadence: 5
          goal_day: 2
          note: note
          goal_type: TB
          activity: 0
          hidden: true
          goal_target: 4
          goal_percentage_complete: 2
          goal_under_funded: 7
          budgeted: 1
          original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          goal_overall_funded: 9
          deleted: true
          goal_cadence_frequency: 5
          balance: 6
          goal_months_to_budget: 7
          goal_target_month: 2000-01-23
          name: name
          goal_creation_month: 2000-01-23
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          goal_overall_left: 3
        category_groups:
        - deleted: true
          hidden: true
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - deleted: true
          hidden: true
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
    BudgetDetailResponse:
      example:
        data:
          server_knowledge: 9
          budget:
            scheduled_transactions:
            - amount: 4
              account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              date_next: 2000-01-23
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              date_first: 2000-01-23
              flag_color: red
              memo: memo
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              frequency: never
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - amount: 4
              account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              date_next: 2000-01-23
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              date_first: 2000-01-23
              flag_color: red
              memo: memo
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              frequency: never
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            last_modified_on: 2000-01-23T04:56:07.000+00:00
            last_month: 2000-01-23
            months:
            - income: 6
              note: note
              deleted: true
              activity: 1
              month: 2000-01-23
              age_of_money: 1
              categories:
              - goal_cadence: 5
                goal_day: 2
                note: note
                goal_type: TB
                activity: 0
                hidden: true
                goal_target: 4
                goal_percentage_complete: 2
                goal_under_funded: 7
                budgeted: 1
                original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_funded: 9
                deleted: true
                goal_cadence_frequency: 5
                balance: 6
                goal_months_to_budget: 7
                goal_target_month: 2000-01-23
                name: name
                goal_creation_month: 2000-01-23
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_left: 3
              - goal_cadence: 5
                goal_day: 2
                note: note
                goal_type: TB
                activity: 0
                hidden: true
                goal_target: 4
                goal_percentage_complete: 2
                goal_under_funded: 7
                budgeted: 1
                original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_funded: 9
                deleted: true
                goal_cadence_frequency: 5
                balance: 6
                goal_months_to_budget: 7
                goal_target_month: 2000-01-23
                name: name
                goal_creation_month: 2000-01-23
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_left: 3
              to_be_budgeted: 7
              budgeted: 1
            - income: 6
              note: note
              deleted: true
              activity: 1
              month: 2000-01-23
              age_of_money: 1
              categories:
              - goal_cadence: 5
                goal_day: 2
                note: note
                goal_type: TB
                activity: 0
                hidden: true
                goal_target: 4
                goal_percentage_complete: 2
                goal_under_funded: 7
                budgeted: 1
                original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_funded: 9
                deleted: true
                goal_cadence_frequency: 5
                balance: 6
                goal_months_to_budget: 7
                goal_target_month: 2000-01-23
                name: name
                goal_creation_month: 2000-01-23
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_left: 3
              - goal_cadence: 5
                goal_day: 2
                note: note
                goal_type: TB
                activity: 0
                hidden: true
                goal_target: 4
                goal_percentage_complete: 2
                goal_under_funded: 7
                budgeted: 1
                original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_funded: 9
                deleted: true
                goal_cadence_frequency: 5
                balance: 6
                goal_months_to_budget: 7
                goal_target_month: 2000-01-23
                name: name
                goal_creation_month: 2000-01-23
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                goal_overall_left: 3
              to_be_budgeted: 7
              budgeted: 1
            payees:
            - deleted: true
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: transfer_account_id
            - deleted: true
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: transfer_account_id
            payee_locations:
            - deleted: true
              latitude: latitude
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              longitude: longitude
            - deleted: true
              latitude: latitude
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              longitude: longitude
            scheduled_subtransactions:
            - amount: 1
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              memo: memo
              scheduled_transaction_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - amount: 1
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              memo: memo
              scheduled_transaction_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            currency_format:
              decimal_separator: decimal_separator
              group_separator: group_separator
              currency_symbol: currency_symbol
              symbol_first: true
              decimal_digits: 9
              display_symbol: true
              iso_code: iso_code
              example_format: example_format
            transactions:
            - date: 2000-01-23
              transfer_transaction_id: transfer_transaction_id
              amount: 9
              import_id: import_id
              debt_transaction_type: payment
              flag_color: red
              memo: memo
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              approved: true
              account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              import_payee_name_original: import_payee_name_original
              id: id
              cleared: cleared
              import_payee_name: import_payee_name
              matched_transaction_id: matched_transaction_id
            - date: 2000-01-23
              transfer_transaction_id: transfer_transaction_id
              amount: 9
              import_id: import_id
              debt_transaction_type: payment
              flag_color: red
              memo: memo
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              approved: true
              account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              import_payee_name_original: import_payee_name_original
              id: id
              cleared: cleared
              import_payee_name: import_payee_name
              matched_transaction_id: matched_transaction_id
            first_month: 2000-01-23
            name: name
            date_format:
              format: format
            subtransactions:
            - transaction_id: transaction_id
              transfer_transaction_id: transfer_transaction_id
              amount: 5
              category_name: category_name
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_name: payee_name
              memo: memo
              id: id
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - transaction_id: transaction_id
              transfer_transaction_id: transfer_transaction_id
              amount: 5
              category_name: category_name
              deleted: true
              category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payee_name: payee_name
              memo: memo
              id: id
              payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              transfer_account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            accounts:
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            categories:
            - goal_cadence: 5
              goal_day: 2
              note: note
              goal_type: TB
              activity: 0
              hidden: true
              goal_target: 4
              goal_percentage_complete: 2
              goal_under_funded: 7
              budgeted: 1
              original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              goal_overall_funded: 9
              deleted: true
              goal_cadence_frequency: 5
              balance: 6
              goal_months_to_budget: 7
              goal_target_month: 2000-01-23
              name: name
              goal_creation_month: 2000-01-23
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              goal_overall_left: 3
            - goal_cadence: 5
              goal_day: 2
              note: note
              goal_type: TB
              activity: 0
              hidden: true
              goal_target: 4
              goal_percentage_complete: 2
              goal_under_funded: 7
              budgeted: 1
              original_category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              goal_overall_funded: 9
              deleted: true
              goal_cadence_frequency: 5
              balance: 6
              goal_months_to_budget: 7
              goal_target_month: 2000-01-23
              name: name
              goal_creation_month: 2000-01-23
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              category_group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              goal_overall_left: 3
            category_groups:
            - deleted: true
              hidden: true
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - deleted: true
              hidden: true
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        data:
          $ref: '#/components/schemas/BudgetDetailResponse_data'
      required:
      - data
      type: object
    BudgetSettings:
      example:
        date_format:
          format: format
        currency_format:
          decimal_separator: decimal_separator
          group_separator: group_separator
          currency_symbol: currency_symbol
          symbol_first: true
          decimal_digits: 9
          display_symbol: true
          iso_code: iso_code
          example_format: example_format
      properties:
        currency_format:
          $ref: '#/components/schemas/CurrencyFormat'
        date_format:
          $ref: '#/components/schemas/DateFormat'
      required:
      - currency_format
      - date_format
      type: object
    BudgetSettingsResponse:
      example:
        data:
          settings:
            date_format:
              format: format
            currency_format:
              decimal_separator: decimal_separator
              group_separator: group_separator
              currency_symbol: currency_symbol
              symbol_first: true
              decimal_digits: 9
              display_symbol: true
              iso_code: iso_code
              example_format: example_format
      properties:
        data:
          $ref: '#/components/schemas/BudgetSettingsResponse_data'
      required:
      - data
      type: object
    BudgetSummary:
      example:
        first_month: 2000-01-23
        last_modified_on: 2000-01-23T04:56:07.000+00:00
        last_month: 2000-01-23
        name: name
        date_format:
          format: format
        accounts:
        - note: note
          last_reconciled_at: 2000-01-23T04:56:07.000+00:00
          transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          direct_import_linked: true
          type: checking
          debt_interest_rates:
            key: 5
          direct_import_in_error: true
          uncleared_balance: 7
          debt_minimum_payments:
            key: 5
          deleted: true
          balance: 0
          cleared_balance: 6
          name: name
          closed: true
          debt_escrow_amounts:
            key: 1
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          debt_original_balance: 2
          on_budget: true
        - note: note
          last_reconciled_at: 2000-01-23T04:56:07.000+00:00
          transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          direct_import_linked: true
          type: checking
          debt_interest_rates:
            key: 5
          direct_import_in_error: true
          uncleared_balance: 7
          debt_minimum_payments:
            key: 5
          deleted: true
          balance: 0
          cleared_balance: 6
          name: name
          closed: true
          debt_escrow_amounts:
            key: 1
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          debt_original_balance: 2
          on_budget: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        currency_format:
          decimal_separator: decimal_separator
          group_separator: group_separator
          currency_symbol: currency_symbol
          symbol_first: true
          decimal_digits: 9
          display_symbol: true
          iso_code: iso_code
          example_format: example_format
      properties:
        accounts:
          description: The budget accounts (only included if `include_accounts=true`
            specified as query parameter)
          items:
            $ref: '#/components/schemas/Account'
          type: array
        currency_format:
          $ref: '#/components/schemas/CurrencyFormat'
        date_format:
          $ref: '#/components/schemas/DateFormat'
        first_month:
          description: The earliest budget month
          format: date
          type: string
        id:
          format: uuid
          type: string
        last_modified_on:
          description: The last time any changes were made to the budget from either
            a web or mobile client
          format: date-time
          type: string
        last_month:
          description: The latest budget month
          format: date
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
    BudgetSummaryResponse:
      example:
        data:
          budgets:
          - first_month: 2000-01-23
            last_modified_on: 2000-01-23T04:56:07.000+00:00
            last_month: 2000-01-23
            name: name
            date_format:
              format: format
            accounts:
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            currency_format:
              decimal_separator: decimal_separator
              group_separator: group_separator
              currency_symbol: currency_symbol
              symbol_first: true
              decimal_digits: 9
              display_symbol: true
              iso_code: iso_code
              example_format: example_format
          - first_month: 2000-01-23
            last_modified_on: 2000-01-23T04:56:07.000+00:00
            last_month: 2000-01-23
            name: name
            date_format:
              format: format
            accounts:
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            currency_format:
              decimal_separator: decimal_separator
              group_separator: group_separator
              currency_symbol: currency_symbol
              symbol_first: true
              decimal_digits: 9
              display_symbol: true
              iso_code: iso_code
              example_format: example_format
          default_budget:
            first_month: 2000-01-23
            last_modified_on: 2000-01-23T04:56:07.000+00:00
            last_month: 2000-01-23
            name: name
            date_format:
              format: format
            accounts:
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            - note: note
              last_reconciled_at: 2000-01-23T04:56:07.000+00:00
              transfer_payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              direct_import_linked: true
              type: checking
              debt_interest_rates:
                key: 5
              direct_import_in_error: true
              uncleared_balance: 7
              debt_minimum_payments:
                key: 5
              deleted: true
              balance: 0
              cleared_balance: 6
              name: name
              closed: true
              debt_escrow_amounts:
                key: 1
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              debt_original_balance: 2
              on_budget: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            currency_format:
              decimal_separator: decimal_separator
              group_separator: group_separator
              currency_symbol: currency_symbol
              symbol_first: true
              decimal_digits: 9
              display_symbol: true
              iso_code: iso_code
              example_format: example_format
      properties:
        data:
          $ref: '#/components/schemas/BudgetSummaryResponse_data'
      required:
      - data
      type: object
    BulkResponse:
      example:
        data:
          bulk:
            transaction_ids:
            - transaction_ids
            - transaction_ids
            duplicate_import_ids:
            - duplicate_import_ids
            - duplicate_import_ids
      properties:
        data:
          $ref: '#/components/schemas/BulkResponse_data'
      required:
      - data
      type: object
    BulkTransactions:
      example:
        transactions:
        - date: 2000-01-23
          amount: 0
          approved: true
          account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          import_id: import_id
          payee_name: payee_name
          flag_color: red
          memo: memo
          subtransactions:
          - amount: 6
            category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payee_name: payee_name
            memo: memo
            payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - amount: 6
            category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payee_name: payee_name
            memo: memo
            payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          cleared: cleared
        - date: 2000-01-23
          amount: 0
          approved: true
          account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          import_id: import_id
          payee_name: payee_name
          flag_color: red
          memo: memo
          subtransactions:
          - amount: 6
            category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payee_name: payee_name
            memo: memo
            payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - amount: 6
            category_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payee_name: payee_name
            memo: memo
            payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payee_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          cleared: cleared
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/SaveTransaction'
          type: array
      required:
      - transactions
      type: object
[...]
