openapi: 3.0.1
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface
  version: 0.8.6
  x-apisguru-categories:
  - media
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://twitter.com/Evetech/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://esi.tech.ccp.is/latest/swagger.json
    version: "2.0"
  x-providerName: evetech.net
servers:
- url: https://esi.evetech.net/latest
paths:
  /alliances/:
    get:
      description: |-
        List all active player alliances

        ---
        Alternate route: `/dev/alliances/`

        Alternate route: `/legacy/alliances/`

        Alternate route: `/v1/alliances/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_alliances
      parameters:
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - 99000001
              - 99000002
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  minimum: 0
                  title: get_alliances_200_ok
                  type: integer
                maxItems: 5000
                title: get_alliances_ok
                type: array
          description: List of Alliance IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      summary: List all alliances
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.alliance_controller
  /alliances/{alliance_id}/:
    get:
      description: |-
        Public information about an alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/`

        Alternate route: `/v3/alliances/{alliance_id}/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_alliances_alliance_id
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                creator_corporation_id: 45678
                creator_id: 12345
                date_founded: 2016-06-26T21:00:00Z
                executor_corporation_id: 98356193
                name: C C P Alliance
                ticker: <C C P>
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_ok'
          description: Public data about an alliance
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "404":
          content:
            application/json:
              example:
                error: Not found message
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_not_found'
          description: Alliance not found
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      summary: Get alliance information
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - v3
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.alliance_controller
  /alliances/{alliance_id}/contacts/:
    get:
      description: |-
        Return contacts of an alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/contacts/`

        Alternate route: `/v2/alliances/{alliance_id}/contacts/`

        ---
        This route is cached for up to 300 seconds
      operationId: get_alliances_alliance_id_contacts
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - contact_id: 2112625428
                contact_type: character
                standing: 9.9
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_alliances_alliance_id_contacts_200_ok'
                maxItems: 1000
                title: get_alliances_alliance_id_contacts_ok
                type: array
          description: A list of contacts
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contacts
      tags:
      - Contacts
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 300
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
  /alliances/{alliance_id}/contacts/labels/:
    get:
      description: |-
        Return custom labels for an alliance's contacts

        ---
        Alternate route: `/dev/alliances/{alliance_id}/contacts/labels/`

        Alternate route: `/legacy/alliances/{alliance_id}/contacts/labels/`

        Alternate route: `/v1/alliances/{alliance_id}/contacts/labels/`

        ---
        This route is cached for up to 300 seconds
      operationId: get_alliances_alliance_id_contacts_labels
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - label_id: 1
                label_name: Alliance Friends
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_alliances_alliance_id_contacts_labels_200_ok'
                maxItems: 64
                title: get_alliances_alliance_id_contacts_labels_ok
                type: array
          description: A list of alliance contact labels
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contact labels
      tags:
      - Contacts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
  /alliances/{alliance_id}/corporations/:
    get:
      description: |-
        List all current member corporations of an alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/corporations/`

        Alternate route: `/legacy/alliances/{alliance_id}/corporations/`

        Alternate route: `/v1/alliances/{alliance_id}/corporations/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_alliances_alliance_id_corporations
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - 98000001
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  minimum: 0
                  title: get_alliances_alliance_id_corporations_200_ok
                  type: integer
                maxItems: 1000
                title: get_alliances_alliance_id_corporations_ok
                type: array
          description: List of corporation IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      summary: List alliance's corporations
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.alliance_controller
  /alliances/{alliance_id}/icons/:
    get:
      description: |-
        Get the icon urls for a alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/icons/`

        Alternate route: `/legacy/alliances/{alliance_id}/icons/`

        Alternate route: `/v1/alliances/{alliance_id}/icons/`

        ---
        This route expires daily at 11:05
      operationId: get_alliances_alliance_id_icons
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                px128x128: https://imageserver.eveonline.com/Alliance/503818424_128.png
                px64x64: https://imageserver.eveonline.com/Alliance/503818424_64.png
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_icons_ok'
          description: Icon URLs for the given alliance id and server
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "404":
          content:
            application/json:
              example:
                error: No image server for this datasource
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_icons_not_found'
          description: No image server for this datasource
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      summary: Get alliance icon
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-openapi-router-controller: openapi_server.controllers.alliance_controller
  /characters/affiliation/:
    post:
      description: |-
        Bulk lookup of character IDs to corporation, alliance and faction

        ---
        Alternate route: `/dev/characters/affiliation/`

        Alternate route: `/legacy/characters/affiliation/`

        Alternate route: `/v1/characters/affiliation/`

        ---
        This route is cached for up to 3600 seconds
      operationId: post_characters_affiliation
      parameters:
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: characters array
              items:
                description: character integer
                format: int32
                title: post_characters_affiliation_character
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_affiliation_characters
              type: array
              uniqueItems: true
        description: "The character IDs to fetch affiliations for. All characters\
          \ must exist, or none will be returned"
        required: true
        x-body-name: characters
      responses:
        "200":
          content:
            application/json:
              example:
              - alliance_id: 434243723
                character_id: 95538921
                corporation_id: 109299958
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/post_characters_affiliation_200_ok'
                maxItems: 1000
                title: post_characters_affiliation_ok
                type: array
          description: "Character corporation, alliance and faction IDs"
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "404":
          content:
            application/json:
              example:
                error: Not found message
              schema:
                $ref: '#/components/schemas/post_characters_affiliation_not_found'
          description: No characters found
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      summary: Character affiliation
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-codegen-request-body-name: characters
      x-openapi-router-controller: openapi_server.controllers.character_controller
  /characters/{character_id}/:
    get:
      description: |-
        Public information about a character

        ---
        Alternate route: `/dev/characters/{character_id}/`

        Alternate route: `/v4/characters/{character_id}/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                ancestry_id: 19
                birthday: 2015-03-24T11:37:00Z
                bloodline_id: 3
                corporation_id: 109299958
                description: ""
                gender: male
                name: CCP Bartender
                race_id: 2
              schema:
                $ref: '#/components/schemas/get_characters_character_id_ok'
          description: Public data for the given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "404":
          content:
            application/json:
              example:
                error: Not found message
              schema:
                $ref: '#/components/schemas/get_characters_character_id_not_found'
          description: Character not found
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      summary: Get character's public information
      tags:
      - Character
      x-alternate-versions:
      - dev
      - v4
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.character_controller
  /characters/{character_id}/agents_research/:
    get:
      description: |-
        Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)

        ---
        Alternate route: `/dev/characters/{character_id}/agents_research/`

        Alternate route: `/legacy/characters/{character_id}/agents_research/`

        Alternate route: `/v1/characters/{character_id}/agents_research/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_agents_research
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - agent_id: 3009358
                points_per_day: 53.5346162146776
                remainder_points: 53604.0634303189
                skill_type_id: 11450
                started_at: 2017-03-23T14:47:00Z
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_agents_research_200_ok'
                maxItems: 1000
                title: get_characters_character_id_agents_research_ok
                type: array
          description: A list of agents research information
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-characters.read_agents_research.v1
      summary: Get agents research
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.character_controller
  /characters/{character_id}/assets/:
    get:
      description: |-
        Return a list of the characters assets

        ---
        Alternate route: `/dev/characters/{character_id}/assets/`

        Alternate route: `/v3/characters/{character_id}/assets/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_assets
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - is_blueprint_copy: true
                is_singleton: true
                item_id: 1000000016835
                location_flag: Hangar
                location_id: 60002959
                location_type: station
                quantity: 1
                type_id: 3516
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_assets_200_ok'
                maxItems: 1000
                title: get_characters_character_id_assets_ok
                type: array
          description: A flat list of the users assets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character assets
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - v3
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.assets_controller
  /characters/{character_id}/assets/locations/:
    post:
      description: |
        Return locations for a set of item ids, which you can get from character assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)

        ---
        Alternate route: `/dev/characters/{character_id}/assets/locations/`

        Alternate route: `/v2/characters/{character_id}/assets/locations/`
      operationId: post_characters_character_id_assets_locations
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_locations_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_locations_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
        x-body-name: item_ids
      responses:
        "200":
          content:
            application/json:
              example:
              - item_id: 12345
                position:
                  x: 1.2
                  "y": 2.3
                  z: -3.4
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/post_characters_character_id_assets_locations_200_ok'
                maxItems: 1000
                title: post_characters_character_id_assets_locations_ok
                type: array
          description: List of asset locations
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character asset locations
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - v2
      x-codegen-request-body-name: item_ids
      x-openapi-router-controller: openapi_server.controllers.assets_controller
  /characters/{character_id}/assets/names/:
    post:
      description: |
        Return names for a set of item ids, which you can get from character assets endpoint. Typically used for items that can customize names, like containers or ships.

        ---
        Alternate route: `/dev/characters/{character_id}/assets/names/`

        Alternate route: `/legacy/characters/{character_id}/assets/names/`

        Alternate route: `/v1/characters/{character_id}/assets/names/`
      operationId: post_characters_character_id_assets_names
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_names_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_names_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
        x-body-name: item_ids
      responses:
        "200":
          content:
            application/json:
              example:
              - item_id: 12345
                name: Awesome Name
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/post_characters_character_id_assets_names_200_ok'
                maxItems: 1000
                title: post_characters_character_id_assets_names_ok
                type: array
          description: List of asset names
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character asset names
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-codegen-request-body-name: item_ids
      x-openapi-router-controller: openapi_server.controllers.assets_controller
  /characters/{character_id}/attributes/:
    get:
      description: |-
        Return attributes of a character

        ---
        Alternate route: `/dev/characters/{character_id}/attributes/`

        Alternate route: `/legacy/characters/{character_id}/attributes/`

        Alternate route: `/v1/characters/{character_id}/attributes/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_attributes
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                charisma: 20
                intelligence: 20
                memory: 20
                perception: 20
                willpower: 20
              schema:
                $ref: '#/components/schemas/get_characters_character_id_attributes_ok'
          description: Attributes of a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-skills.read_skills.v1
      summary: Get character attributes
      tags:
      - Skills
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.skills_controller
  /characters/{character_id}/blueprints/:
    get:
      description: |-
        Return a list of blueprints the character owns

        ---
        Alternate route: `/dev/characters/{character_id}/blueprints/`

        Alternate route: `/v2/characters/{character_id}/blueprints/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_blueprints
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - item_id: 1000000010495
                location_flag: Hangar
                location_id: 60014719
                material_efficiency: 0
                quantity: 1
                runs: -1
                time_efficiency: 0
                type_id: 691
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_blueprints_200_ok'
                maxItems: 1000
                title: get_characters_character_id_blueprints_ok
                type: array
          description: A list of blueprints
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-characters.read_blueprints.v1
      summary: Get blueprints
      tags:
      - Character
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.character_controller
  /characters/{character_id}/bookmarks/:
    get:
      description: |-
        A list of your character's personal bookmarks

        ---
        Alternate route: `/dev/characters/{character_id}/bookmarks/`

        Alternate route: `/v2/characters/{character_id}/bookmarks/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_bookmarks
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - bookmark_id: 4
                created: 2016-08-09T11:57:47Z
                creator_id: 2112625428
                folder_id: 5
                item:
                  item_id: 50006722
                  type_id: 29633
                label: Stargate
                location_id: 30003430
                notes: This is a stargate
              - bookmark_id: 5
                coordinates:
                  x: -2958928814000
                  "y": -338367275823
                  z: 2114538075090
                created: 2016-08-09T11:57:47Z
                creator_id: 2112625428
                folder_id: 5
                label: Random location
                location_id: 30003430
                notes: This is a random location in space
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_bookmarks_200_ok'
                maxItems: 1000
                title: get_characters_character_id_bookmarks_ok
                type: array
          description: A list of bookmarks
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-bookmarks.read_character_bookmarks.v1
      summary: List bookmarks
      tags:
      - Bookmarks
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.bookmarks_controller
  /characters/{character_id}/bookmarks/folders/:
    get:
      description: |-
        A list of your character's personal bookmark folders

        ---
        Alternate route: `/dev/characters/{character_id}/bookmarks/folders/`

        Alternate route: `/v2/characters/{character_id}/bookmarks/folders/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_bookmarks_folders
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - folder_id: 5
                name: Icecream
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_bookmarks_folders_200_ok'
                maxItems: 1000
                title: get_characters_character_id_bookmarks_folders_ok
                type: array
          description: List of bookmark folders
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-bookmarks.read_character_bookmarks.v1
      summary: List bookmark folders
      tags:
      - Bookmarks
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
      x-openapi-router-controller: openapi_server.controllers.bookmarks_controller
  /characters/{character_id}/calendar/:
    get:
      description: |-
        Get 50 event summaries from the calendar. If no from_event ID is given, the resource will return the next 50 chronological event summaries from now. If a from_event ID is specified, it will return the next 50 chronological event summaries from after that event

        ---
        Alternate route: `/dev/characters/{character_id}/calendar/`

        Alternate route: `/legacy/characters/{character_id}/calendar/`

        Alternate route: `/v1/characters/{character_id}/calendar/`

        ---
        This route is cached for up to 5 seconds
      operationId: get_characters_character_id_calendar
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: The event ID to retrieve events from
        in: query
        name: from_event
        schema:
          format: int32
          type: integer
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - event_date: 2016-06-26T20:00:00Z
                event_id: 1386435
                event_response: accepted
                importance: 0
                title: o7 The EVE Online Show
              schema:
                description: Up to 50 events from now or the event you requested
                items:
                  $ref: '#/components/schemas/get_characters_character_id_calendar_200_ok'
                maxItems: 50
                title: get_characters_character_id_calendar_ok
                type: array
          description: A collection of event summaries
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      summary: List calendar event summaries
      tags:
      - Calendar
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 5
      x-openapi-router-controller: openapi_server.controllers.calendar_controller
  /characters/{character_id}/calendar/{event_id}/:
    get:
      description: |-
        Get all the information for a specific event

        ---
        Alternate route: `/dev/characters/{character_id}/calendar/{event_id}/`

        Alternate route: `/v3/characters/{character_id}/calendar/{event_id}/`

        ---
        This route is cached for up to 5 seconds
      operationId: get_characters_character_id_calendar_event_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: The id of the event requested
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          type: integer
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                date: 2016-06-26T21:00:00Z
                duration: 60
                event_id: 1386435
                importance: 1
                owner_id: 1
                owner_name: EVE System
                owner_type: eve_server
                response: Undecided
                text: "o7: The EVE Online Show features latest developer news, fast\
                  \ paced action, community overviews and a lot more with CCP Guard\
                  \ and CCP Mimic. Join the thrilling o7 live broadcast at 20:00 EVE\
                  \ time (=UTC) on <a href=\"http://www.twitch.tv/ccp\">EVE TV</a>.\
                  \ Don't miss it!"
                title: o7 The EVE Online Show
              schema:
                $ref: '#/components/schemas/get_characters_character_id_calendar_event_id_ok'
          description: Full details of a specific event
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                error: Not found message
              schema:
                $ref: '#/components/schemas/get_characters_character_id_calendar_event_id_not_found'
          description: Not found
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      summary: Get an event
      tags:
      - Calendar
      x-alternate-versions:
      - dev
      - v3
      x-cached-seconds: 5
      x-openapi-router-controller: openapi_server.controllers.calendar_controller
    put:
      description: |
        Set your response status to an event

        ---
        Alternate route: `/dev/characters/{character_id}/calendar/{event_id}/`

        Alternate route: `/v3/characters/{character_id}/calendar/{event_id}/`
      operationId: put_characters_character_id_calendar_event_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: The ID of the event requested
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_characters_character_id_calendar_event_id_response'
        description: "The response value to set, overriding current value"
        required: true
        x-body-name: response
      responses:
        "204":
          content: {}
          description: Event updated
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-calendar.respond_calendar_events.v1
      summary: Respond to an event
      tags:
      - Calendar
      x-alternate-versions:
      - dev
      - v3
      x-codegen-request-body-name: response
      x-openapi-router-controller: openapi_server.controllers.calendar_controller
  /characters/{character_id}/calendar/{event_id}/attendees/:
    get:
      description: |-
        Get all invited attendees for a given event

        ---
        Alternate route: `/dev/characters/{character_id}/calendar/{event_id}/attendees/`

        Alternate route: `/legacy/characters/{character_id}/calendar/{event_id}/attendees/`

        Alternate route: `/v1/characters/{character_id}/calendar/{event_id}/attendees/`

        ---
        This route is cached for up to 600 seconds
      operationId: get_characters_character_id_calendar_event_id_attendees
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
      - description: The id of the event requested
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          type: integer
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: if_none_match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - character_id: 2112625428
                event_response: accepted
              - character_id: 95465499
                event_response: tentative
              schema:
                description: List of attendees for a given event
                items:
                  $ref: '#/components/schemas/get_characters_character_id_calendar_event_id_attendees_200_ok'
                maxItems: 100
                title: get_characters_character_id_calendar_event_id_attendees_ok
                type: array
          description: List of attendees
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                error: Bad request message
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Unauthorized message
              schema:
                $ref: '#/components/schemas/unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error: Forbidden message
              schema:
                $ref: '#/components/schemas/forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                error: Not found message
              schema:
                $ref: '#/components/schemas/get_characters_character_id_calendar_event_id_attendees_not_found'
          description: Not found
        "420":
          content:
            application/json:
              example:
                error: Error limited message
              schema:
                $ref: '#/components/schemas/error_limited'
          description: Error limited
        "500":
          content:
            application/json:
              example:
                error: Internal server error message
              schema:
                $ref: '#/components/schemas/internal_server_error'
          description: Internal server error
        "503":
          content:
            application/json:
              example:
                error: Service unavailable message
              schema:
                $ref: '#/components/schemas/service_unavailable'
          description: Service unavailable
        "504":
          content:
            application/json:
              example:
                error: Gateway timeout message
              schema:
                $ref: '#/components/schemas/gateway_timeout'
          description: Gateway timeout
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      summary: Get attendees
      tags:
      - Calendar
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 600
      x-openapi-router-controller: openapi_server.controllers.calendar_controller
  /characters/{character_id}/clones/:
    get:
      description: |-
        A list of the character's clones

        ---
        Alternate route: `/dev/characters/{character_id}/clones/`

        Alternate route: `/v3/characters/{character_id}/clones/`

        ---
        This route is cached for up to 120 seconds
      operationId: get_characters_character_id_clones
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          - singularity
          type: string
[...]
