openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Payments Reseller Subscription API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://paymentsresellersubscription.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: paymentsresellersubscription
externalDocs:
  url: https://developers.google.com/payments/reseller/subscription/
servers:
- url: https://paymentsresellersubscription.googleapis.com/
tags:
- name: partners
paths:
  /v1/{name}:
    get:
      description: Used by partners to get a subscription by id. It should be called
        directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the subscription resource to retrieve.\
          \ It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-accepts:
      - application/json
  /v1/{name}:cancel:
    post:
      description: Used by partners to cancel a subscription service either immediately
        or by the end of the current billing cycle for their customers. It should
        be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the subscription resource to be cancelled.\
          \ It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:entitle:
    post:
      description: Used by partners to entitle a previously provisioned subscription
        to the current end user. The end user identity is inferred from the authorized
        credential of the request. This API must be authorized by the end user using
        OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.entitle
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the subscription resource that is entitled\
          \ to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:extend:
    post:
      description: "[Opt-in only] Most partners should be on auto-extend by default.\
        \ Used by partners to extend a subscription service for their customers on\
        \ an ongoing basis for the subscription to remain active and renewable. It\
        \ should be called directly by the partner using service accounts."
      operationId: paymentsresellersubscription.partners.subscriptions.extend
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the subscription resource to be extended.\
          \ It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"\
          ."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:undoCancel:
    post:
      description: "Used by partners to revoke the pending cancellation of a subscription,\
        \ which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription\
        \ is already cancelled, the request will fail. It should be called directly\
        \ by the partner using service accounts."
      operationId: paymentsresellersubscription.partners.subscriptions.undoCancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the subscription resource whose pending\
          \ cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/products:
    get:
      description: To retrieve the products that can be resold by the partner. It
        should be autenticated with a service account.
      operationId: paymentsresellersubscription.partners.products.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Specifies the filters for the product results. The\
          \ syntax is defined in https://google.aip.dev/160 with the following caveats:\
          \ 1. Only the following features are supported: - Logical operator `AND`\
          \ - Comparison operator `=` (no wildcards `*`) - Traversal operator `.`\
          \ - Has operator `:` (no wildcards `*`) 2. Only the following fields are\
          \ supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode`\
          \ 3. Unless explicitly mentioned above, other features are not supported.\
          \ Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The maximum number of products to return. The service\
          \ may return fewer than this value. If unspecified, at most 50 products\
          \ will be returned. The maximum value is 1000; values above 1000 will be\
          \ coerced to 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListProducts`\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to `ListProducts` must match the call that provided\
          \ the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-accepts:
      - application/json
  /v1/{parent}/promotions:
    get:
      description: "To retrieve the promotions, such as free trial, that can be used\
        \ by the partner. It should be autenticated with a service account."
      operationId: paymentsresellersubscription.partners.promotions.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Specifies the filters for the promotion results. The\
          \ syntax is defined in https://google.aip.dev/160 with the following caveats:\
          \ 1. Only the following features are supported: - Logical operator `AND`\
          \ - Comparison operator `=` (no wildcards `*`) - Traversal operator `.`\
          \ - Has operator `:` (no wildcards `*`) 2. Only the following fields are\
          \ supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId`\
          \ - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other\
          \ features are not supported. Example: `applicableProducts:partners/partner1/products/product1\
          \ AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The maximum number of promotions to return. The service\
          \ may return fewer than this value. If unspecified, at most 50 products\
          \ will be returned. The maximum value is 1000; values above 1000 will be\
          \ coerced to 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListPromotions`\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to `ListPromotions` must match the call that\
          \ provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-accepts:
      - application/json
  /v1/{parent}/promotions:findEligible:
    post:
      description: "To find eligible promotions for the current user. The API requires\
        \ user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient,\
        \ which will skip the consent screen."
      operationId: paymentsresellersubscription.partners.promotions.findEligible
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/subscriptions:
    post:
      description: Used by partners to create a subscription for their customers.
        The created subscription is associated with the end user inferred from the
        end user credentials. This API must be authorized by the end user using OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name, which is the identifier\
          \ of the partner. It will have the format of \"partners/{partner_id}\"."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Identifies the subscription resource on the Partner\
          \ side. The value is restricted to 63 ASCII characters at the maximum. If\
          \ a subscription was previously created with the same subscription_id, we\
          \ will directly return that one."
        explode: true
        in: query
        name: subscriptionId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/subscriptions:provision:
    post:
      description: Used by partners to provision a subscription for their customers.
        This creates a subscription without associating it with the end user account.
        EntitleSubscription must be called separately using OAuth in order for the
        end user account to be associated with the subscription. It should be called
        directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.provision
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name, which is the identifier\
          \ of the partner. It will have the format of \"partners/{partner_id}\"."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Identifies the subscription resource on the Partner\
          \ side. The value is restricted to 63 ASCII characters at the maximum. If\
          \ a subscription was previously created with the same subscription_id, we\
          \ will directly return that one."
        explode: true
        in: query
        name: subscriptionId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      tags:
      - partners
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudPaymentsResellerSubscriptionV1Amount:
      description: Describes the amount unit including the currency code.
      example:
        amountMicros: amountMicros
        currencyCode: currencyCode
      properties:
        amountMicros:
          description: Required. Amount in micros (1_000_000 micros = 1 currency unit)
          format: int64
          type: string
        currencyCode:
          description: "Required. Currency codes in accordance with [ISO-4217 Currency\
            \ Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest:
      description: Request to cancel a subscription.
      example:
        cancelImmediately: true
        cancellationReason: CANCELLATION_REASON_UNSPECIFIED
      properties:
        cancelImmediately:
          description: "Optional. If true, Google will cancel the subscription immediately,\
            \ and may or may not (based on the contract) issue a prorated refund for\
            \ the remainder of the billing cycle. Otherwise, Google defers the cancelation\
            \ at renewal_time, and will not issue a refund."
          type: boolean
        cancellationReason:
          description: Specifies the reason for the cancellation.
          enum:
          - CANCELLATION_REASON_UNSPECIFIED
          - CANCELLATION_REASON_FRAUD
          - CANCELLATION_REASON_REMORSE
          - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
          - CANCELLATION_REASON_PAST_DUE
          - CANCELLATION_REASON_ACCOUNT_CLOSED
          - CANCELLATION_REASON_UPGRADE_DOWNGRADE
          - CANCELLATION_REASON_USER_DELINQUENCY
          - CANCELLATION_REASON_SYSTEM_ERROR
          - CANCELLATION_REASON_SYSTEM_CANCEL
          - CANCELLATION_REASON_OTHER
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse:
      description: Response that contains the cancelled subscription resource.
      example:
        subscription:
          redirectUri: redirectUri
          serviceLocation:
            regionCode: regionCode
            postalCode: postalCode
          upgradeDowngradeDetails:
            previousSubscriptionId: previousSubscriptionId
            billingCycleSpec: BILLING_CYCLE_SPEC_UNSPECIFIED
          partnerUserToken: partnerUserToken
          updateTime: updateTime
          products:
          - products
          - products
          lineItems:
          - lineItemIndex: 0
            amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            product: product
            lineItemPromotionSpecs:
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            bundleDetails:
              bundleElementDetails:
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
            description: description
            finiteBillingCycleDetails:
              billingCycleCountLimit: billingCycleCountLimit
            lineItemFreeTrialEndTime: lineItemFreeTrialEndTime
            oneTimeRecurrenceDetails:
              servicePeriod:
                startTime: startTime
                endTime: endTime
            state: LINE_ITEM_STATE_UNSPECIFIED
            productPayload:
              googleOnePayload:
                campaigns:
                - campaigns
                - campaigns
                offering: OFFERING_UNSPECIFIED
                salesChannel: CHANNEL_UNSPECIFIED
                storeId: storeId
              youtubePayload:
                accessEndTime: accessEndTime
                partnerEligibilityIds:
                - partnerEligibilityIds
                - partnerEligibilityIds
                partnerPlanType: PARTNER_PLAN_TYPE_UNSPECIFIED
            recurrenceType: LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
          - lineItemIndex: 0
            amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            product: product
            lineItemPromotionSpecs:
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            bundleDetails:
              bundleElementDetails:
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
            description: description
            finiteBillingCycleDetails:
              billingCycleCountLimit: billingCycleCountLimit
            lineItemFreeTrialEndTime: lineItemFreeTrialEndTime
            oneTimeRecurrenceDetails:
              servicePeriod:
                startTime: startTime
                endTime: endTime
            state: LINE_ITEM_STATE_UNSPECIFIED
            productPayload:
              googleOnePayload:
                campaigns:
                - campaigns
                - campaigns
                offering: OFFERING_UNSPECIFIED
                salesChannel: CHANNEL_UNSPECIFIED
                storeId: storeId
              youtubePayload:
                accessEndTime: accessEndTime
                partnerEligibilityIds:
                - partnerEligibilityIds
                - partnerEligibilityIds
                partnerPlanType: PARTNER_PLAN_TYPE_UNSPECIFIED
            recurrenceType: LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
          cycleEndTime: cycleEndTime
          processingState: PROCESSING_STATE_UNSPECIFIED
          renewalTime: renewalTime
          promotions:
          - promotions
          - promotions
          createTime: createTime
          cancellationDetails:
            reason: CANCELLATION_REASON_UNSPECIFIED
          name: name
          promotionSpecs:
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
            promotion: promotion
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
            promotion: promotion
          state: STATE_UNSPECIFIED
          endUserEntitled: true
          freeTrialEndTime: freeTrialEndTime
      properties:
        subscription:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Duration:
      description: Describes the length of a period of a time.
      example:
        unit: UNIT_UNSPECIFIED
        count: 6
      properties:
        count:
          description: number of duration units to be included.
          format: int32
          type: integer
        unit:
          description: The unit used for the duration
          enum:
          - UNIT_UNSPECIFIED
          - MONTH
          - DAY
          - HOUR
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest:
      description: Partner request for entitling the previously provisioned subscription
        to an end user. The end user identity is inferred from the request OAuth context.
      example:
        lineItemEntitlementDetails:
        - lineItemIndex: 0
          products:
          - products
          - products
        - lineItemIndex: 0
          products:
          - products
          - products
      properties:
        lineItemEntitlementDetails:
          description: "Optional. The line items to be entitled. If unspecified, all\
            \ line items will be entitled."
          items:
            $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails'
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails:
      description: The details of the line item to be entitled.
      example:
        lineItemIndex: 0
        products:
        - products
        - products
      properties:
        lineItemIndex:
          description: Required. The index of the line item to be entitled.
          format: int32
          type: integer
        products:
          description: "Optional. Only applicable if the line item corresponds to\
            \ a hard bundle. Product resource names that identify the bundle elements\
            \ to be entitled in the line item. If unspecified, all bundle elements\
            \ will be entitled. The format is 'partners/{partner_id}/products/{product_id}'."
          items:
            type: string
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse:
      description: Response that contains the entitled subscription resource.
      example:
        subscription:
          redirectUri: redirectUri
          serviceLocation:
            regionCode: regionCode
            postalCode: postalCode
          upgradeDowngradeDetails:
            previousSubscriptionId: previousSubscriptionId
            billingCycleSpec: BILLING_CYCLE_SPEC_UNSPECIFIED
          partnerUserToken: partnerUserToken
          updateTime: updateTime
          products:
          - products
          - products
          lineItems:
          - lineItemIndex: 0
            amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            product: product
            lineItemPromotionSpecs:
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            bundleDetails:
              bundleElementDetails:
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
            description: description
            finiteBillingCycleDetails:
              billingCycleCountLimit: billingCycleCountLimit
            lineItemFreeTrialEndTime: lineItemFreeTrialEndTime
            oneTimeRecurrenceDetails:
              servicePeriod:
                startTime: startTime
                endTime: endTime
            state: LINE_ITEM_STATE_UNSPECIFIED
            productPayload:
              googleOnePayload:
                campaigns:
                - campaigns
                - campaigns
                offering: OFFERING_UNSPECIFIED
                salesChannel: CHANNEL_UNSPECIFIED
                storeId: storeId
              youtubePayload:
                accessEndTime: accessEndTime
                partnerEligibilityIds:
                - partnerEligibilityIds
                - partnerEligibilityIds
                partnerPlanType: PARTNER_PLAN_TYPE_UNSPECIFIED
            recurrenceType: LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
          - lineItemIndex: 0
            amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            product: product
            lineItemPromotionSpecs:
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            - freeTrialDuration:
                unit: UNIT_UNSPECIFIED
                count: 6
              type: PROMOTION_TYPE_UNSPECIFIED
              introductoryPricingDetails:
                introductoryPricingSpecs:
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
                - discountRatioMicros: discountRatioMicros
                  regionCode: regionCode
                  discountAmount:
                    amountMicros: amountMicros
                    currencyCode: currencyCode
                  recurrenceCount: 1
              promotion: promotion
            bundleDetails:
              bundleElementDetails:
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
              - product: product
                userAccountLinkedTime: userAccountLinkedTime
            description: description
            finiteBillingCycleDetails:
              billingCycleCountLimit: billingCycleCountLimit
            lineItemFreeTrialEndTime: lineItemFreeTrialEndTime
            oneTimeRecurrenceDetails:
              servicePeriod:
                startTime: startTime
                endTime: endTime
            state: LINE_ITEM_STATE_UNSPECIFIED
            productPayload:
              googleOnePayload:
                campaigns:
                - campaigns
                - campaigns
                offering: OFFERING_UNSPECIFIED
                salesChannel: CHANNEL_UNSPECIFIED
                storeId: storeId
              youtubePayload:
                accessEndTime: accessEndTime
                partnerEligibilityIds:
                - partnerEligibilityIds
                - partnerEligibilityIds
                partnerPlanType: PARTNER_PLAN_TYPE_UNSPECIFIED
            recurrenceType: LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
          cycleEndTime: cycleEndTime
          processingState: PROCESSING_STATE_UNSPECIFIED
          renewalTime: renewalTime
          promotions:
          - promotions
          - promotions
          createTime: createTime
          cancellationDetails:
            reason: CANCELLATION_REASON_UNSPECIFIED
          name: name
          promotionSpecs:
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
            promotion: promotion
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
            promotion: promotion
          state: STATE_UNSPECIFIED
          endUserEntitled: true
          freeTrialEndTime: freeTrialEndTime
      properties:
        subscription:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription'
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest:
      description: Request message for extending a Subscription resource. A new recurrence
        will be made based on the subscription schedule defined by the original product.
      example:
        extension:
          duration:
            unit: UNIT_UNSPECIFIED
            count: 6
          partnerUserToken: partnerUserToken
        requestId: requestId
      properties:
        extension:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Extension'
        requestId:
          description: Required. Restricted to 36 ASCII characters. A random UUID
            is recommended. The idempotency key for the request. The ID generation
            logic is controlled by the partner. request_id should be the same as on
            retries of the same request. A different request_id must be used for a
            extension of a different cycle.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse:
      description: Response that contains the timestamps after the extension.
      example:
        cycleEndTime: cycleEndTime
        renewalTime: renewalTime
        freeTrialEndTime: freeTrialEndTime
      properties:
        cycleEndTime:
          description: "The time at which the subscription is expected to be extended,\
            \ in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\""
          format: google-datetime
          type: string
        freeTrialEndTime:
          description: "End of the free trial period, in ISO 8061 format. UTC timezone.\
            \ Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time\
            \ will be set the same as initial subscription creation time if no free\
            \ trial period is offered to the partner."
          format: google-datetime
          type: string
        renewalTime:
          description: "Output only. The time at which the subscription is expected\
            \ to be renewed by Google - a new charge will be incurred and the service\
            \ entitlement will be renewed. A non-immediate cancellation will take\
            \ place at this time too, before which, the service entitlement for the\
            \ end user will remain valid. UTC timezone in ISO 8061 format. For example:\
            \ \"2019-08-31T17:28:54.564Z\""
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Extension:
      description: Describes the details of an extension request.
      example:
        duration:
          unit: UNIT_UNSPECIFIED
          count: 6
        partnerUserToken: partnerUserToken
      properties:
        duration:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration'
        partnerUserToken:
          description: Required. Identifier of the end-user in partner’s system.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest:
      description: Request to find eligible promotions for the current user.
      example:
        filter: filter
        pageSize: 0
        pageToken: pageToken
      properties:
        filter:
          description: "Optional. Specifies the filters for the promotion results.\
            \ The syntax is defined in https://google.aip.dev/160 with the following\
            \ caveats: 1. Only the following features are supported: - Logical operator\
            \ `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator\
            \ `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields\
            \ are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId`\
            \ - `youtubePayload.postalCode` 3. Unless explicitly mentioned above,\
            \ other features are not supported. Example: `applicableProducts:partners/partner1/products/product1\
            \ AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
          type: string
        pageSize:
          description: "Optional. The maximum number of promotions to return. The\
            \ service may return fewer than this value. If unspecified, at most 50\
            \ products will be returned. The maximum value is 1000; values above 1000\
            \ will be coerced to 1000."
          format: int32
          type: integer
        pageToken:
          description: "Optional. A page token, received from a previous `ListPromotions`\
            \ call. Provide this to retrieve the subsequent page. When paginating,\
            \ all other parameters provided to `ListPromotions` must match the call\
            \ that provided the page token."
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse:
      description: Response containing the found promotions for the current user.
      example:
        promotions:
        - regionCodes:
          - regionCodes
          - regionCodes
          promotionType: PROMOTION_TYPE_UNSPECIFIED
          freeTrialDuration:
            unit: UNIT_UNSPECIFIED
            count: 6
          name: name
          applicableProducts:
          - applicableProducts
          - applicableProducts
          startTime: startTime
          endTime: endTime
          titles:
          - text: text
            languageCode: languageCode
          - text: text
            languageCode: languageCode
          introductoryPricingDetails:
            introductoryPricingSpecs:
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
        - regionCodes:
          - regionCodes
          - regionCodes
          promotionType: PROMOTION_TYPE_UNSPECIFIED
          freeTrialDuration:
            unit: UNIT_UNSPECIFIED
            count: 6
          name: name
          applicableProducts:
          - applicableProducts
          - applicableProducts
          startTime: startTime
          endTime: endTime
          titles:
          - text: text
            languageCode: languageCode
          - text: text
            languageCode: languageCode
          introductoryPricingDetails:
            introductoryPricingSpecs:
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is empty, there are no subsequent pages."
          type: string
        promotions:
          description: The promotions for the current user.
          items:
            $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion'
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails:
      description: Details for a subscriptiin line item with finite billing cycles.
      example:
        billingCycleCountLimit: billingCycleCountLimit
      properties:
        billingCycleCountLimit:
          description: Required. The number of a subscription line item billing cycles
            after which billing will stop automatically.
          format: int64
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload:
      description: Payload specific to Google One products.
      example:
        campaigns:
        - campaigns
        - campaigns
        offering: OFFERING_UNSPECIFIED
        salesChannel: CHANNEL_UNSPECIFIED
        storeId: storeId
      properties:
        campaigns:
          description: Campaign attributed to sales of this subscription.
          items:
            type: string
          type: array
        offering:
          description: The type of offering the subscription was sold by the partner.
            e.g. VAS.
          enum:
          - OFFERING_UNSPECIFIED
          - OFFERING_VAS_BUNDLE
          - OFFERING_VAS_STANDALONE
          - OFFERING_HARD_BUNDLE
          - OFFERING_SOFT_BUNDLE
          type: string
        salesChannel:
          description: The type of sales channel through which the subscription was
            sold.
          enum:
          - CHANNEL_UNSPECIFIED
          - CHANNEL_RETAIL
          - CHANNEL_ONLINE_WEB
          - CHANNEL_ONLINE_ANDROID_APP
          - CHANNEL_ONLINE_IOS_APP
          type: string
        storeId:
          description: The identifier for the partner store where the subscription
            was sold.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse:
      description: Response that contains the products.
      example:
        nextPageToken: nextPageToken
        products:
        - regionCodes:
          - regionCodes
          - regionCodes
          bundleDetails:
            bundleElements:
            - product: product
            - product: product
            entitlementMode: ENTITLEMENT_MODE_UNSPECIFIED
          subscriptionBillingCycleDuration:
            unit: UNIT_UNSPECIFIED
            count: 6
          name: name
          finiteBillingCycleDetails:
            billingCycleCountLimit: billingCycleCountLimit
          titles:
          - text: text
            languageCode: languageCode
          - text: text
            languageCode: languageCode
          priceConfigs:
          - amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            regionCode: regionCode
          - amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            regionCode: regionCode
          productType: PRODUCT_TYPE_UNSPECIFIED
        - regionCodes:
          - regionCodes
          - regionCodes
          bundleDetails:
            bundleElements:
            - product: product
            - product: product
            entitlementMode: ENTITLEMENT_MODE_UNSPECIFIED
          subscriptionBillingCycleDuration:
            unit: UNIT_UNSPECIFIED
            count: 6
          name: name
          finiteBillingCycleDetails:
            billingCycleCountLimit: billingCycleCountLimit
          titles:
          - text: text
            languageCode: languageCode
          - text: text
            languageCode: languageCode
          priceConfigs:
          - amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            regionCode: regionCode
          - amount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            regionCode: regionCode
          productType: PRODUCT_TYPE_UNSPECIFIED
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is empty, there are no subsequent pages."
          type: string
        products:
          description: The products for the specified partner.
          items:
            $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Product'
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse:
      description: Response that contains the promotions.
      example:
        promotions:
        - regionCodes:
          - regionCodes
          - regionCodes
          promotionType: PROMOTION_TYPE_UNSPECIFIED
          freeTrialDuration:
            unit: UNIT_UNSPECIFIED
            count: 6
          name: name
          applicableProducts:
          - applicableProducts
          - applicableProducts
          startTime: startTime
          endTime: endTime
          titles:
          - text: text
            languageCode: languageCode
          - text: text
            languageCode: languageCode
          introductoryPricingDetails:
            introductoryPricingSpecs:
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
        - regionCodes:
          - regionCodes
          - regionCodes
          promotionType: PROMOTION_TYPE_UNSPECIFIED
          freeTrialDuration:
            unit: UNIT_UNSPECIFIED
            count: 6
          name: name
          applicableProducts:
          - applicableProducts
          - applicableProducts
          startTime: startTime
          endTime: endTime
          titles:
          - text: text
            languageCode: languageCode
          - text: text
            languageCode: languageCode
          introductoryPricingDetails:
            introductoryPricingSpecs:
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
            - discountRatioMicros: discountRatioMicros
              regionCode: regionCode
              discountAmount:
                amountMicros: amountMicros
                currencyCode: currencyCode
              recurrenceCount: 1
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is empty, there are no subsequent pages."
          type: string
        promotions:
          description: The promotions for the specified partner.
          items:
            $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion'
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Location:
      description: Describes a location of an end user.
      example:
        regionCode: regionCode
        postalCode: postalCode
      properties:
        postalCode:
          description: The postal code this location refers to. Ex. "94043"
          type: string
        regionCode:
          description: "2-letter ISO region code for current content region. Ex. “\
            US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Product:
      description: A Product resource that defines a subscription service that can
        be resold.
      example:
        regionCodes:
        - regionCodes
        - regionCodes
        bundleDetails:
          bundleElements:
          - product: product
          - product: product
          entitlementMode: ENTITLEMENT_MODE_UNSPECIFIED
        subscriptionBillingCycleDuration:
          unit: UNIT_UNSPECIFIED
          count: 6
        name: name
        finiteBillingCycleDetails:
          billingCycleCountLimit: billingCycleCountLimit
        titles:
        - text: text
          languageCode: languageCode
        - text: text
          languageCode: languageCode
        priceConfigs:
        - amount:
            amountMicros: amountMicros
            currencyCode: currencyCode
          regionCode: regionCode
        - amount:
            amountMicros: amountMicros
            currencyCode: currencyCode
          regionCode: regionCode
        productType: PRODUCT_TYPE_UNSPECIFIED
      properties:
        bundleDetails:
          $ref: '#/components/schemas/ProductBundleDetails'
        finiteBillingCycleDetails:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails'
        name:
          description: "Identifier. Response only. Resource name of the product. It\
            \ will have the format of \"partners/{partner_id}/products/{product_id}\""
          type: string
        priceConfigs:
          description: Output only. Price configs for the product in the available
            regions.
          items:
            $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig'
          readOnly: true
          type: array
        productType:
          description: Output only. Output Only. Specifies the type of the product.
          enum:
          - PRODUCT_TYPE_UNSPECIFIED
          - PRODUCT_TYPE_SUBSCRIPTION
          - PRODUCT_TYPE_BUNDLE_SUBSCRIPTION
          readOnly: true
          type: string
        regionCodes:
          description: "Output only. 2-letter ISO region code where the product is\
            \ available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
          items:
            type: string
          readOnly: true
          type: array
        subscriptionBillingCycleDuration:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration'
        titles:
          description: Output only. Localized human readable name of the product.
          items:
            $ref: '#/components/schemas/GoogleTypeLocalizedText'
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement:
      description: The individual product that is included in the bundle.
      example:
        product: product
      properties:
        product:
          description: "Required. Output only. Product resource name that identifies\
            \ the bundle element. The format is 'partners/{partner_id}/products/{product_id}'."
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ProductPayload:
      description: Specifies product specific payload.
      example:
        googleOnePayload:
          campaigns:
          - campaigns
          - campaigns
          offering: OFFERING_UNSPECIFIED
          salesChannel: CHANNEL_UNSPECIFIED
          storeId: storeId
        youtubePayload:
          accessEndTime: accessEndTime
          partnerEligibilityIds:
          - partnerEligibilityIds
          - partnerEligibilityIds
          partnerPlanType: PARTNER_PLAN_TYPE_UNSPECIFIED
      properties:
        googleOnePayload:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload'
        youtubePayload:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload'
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig:
      description: Configs the prices in an available region.
      example:
        amount:
          amountMicros: amountMicros
          currencyCode: currencyCode
        regionCode: regionCode
      properties:
        amount:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount'
        regionCode:
          description: Output only. 2-letter ISO region code where the product is
            available in. Ex. "US".
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Promotion:
      description: A Promotion resource that defines a promotion for a subscription
        that can be resold.
      example:
        regionCodes:
        - regionCodes
        - regionCodes
        promotionType: PROMOTION_TYPE_UNSPECIFIED
        freeTrialDuration:
          unit: UNIT_UNSPECIFIED
          count: 6
        name: name
        applicableProducts:
        - applicableProducts
        - applicableProducts
        startTime: startTime
        endTime: endTime
        titles:
        - text: text
          languageCode: languageCode
        - text: text
          languageCode: languageCode
        introductoryPricingDetails:
          introductoryPricingSpecs:
          - discountRatioMicros: discountRatioMicros
            regionCode: regionCode
            discountAmount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            recurrenceCount: 1
          - discountRatioMicros: discountRatioMicros
            regionCode: regionCode
            discountAmount:
              amountMicros: amountMicros
              currencyCode: currencyCode
            recurrenceCount: 1
      properties:
        applicableProducts:
          description: Output only. The product ids this promotion can be applied
            to.
          items:
            type: string
          readOnly: true
          type: array
        endTime:
          description: "Optional. Specifies the end time (exclusive) of the period\
            \ that the promotion is available in. If unset, the promotion is available\
            \ indefinitely."
          format: google-datetime
          type: string
        freeTrialDuration:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration'
        introductoryPricingDetails:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails'
        name:
          description: "Identifier. Response only. Resource name of the subscription\
            \ promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\""
          type: string
        promotionType:
          description: Output only. Output Only. Specifies the type of the promotion.
          enum:
          - PROMOTION_TYPE_UNSPECIFIED
          - PROMOTION_TYPE_FREE_TRIAL
          - PROMOTION_TYPE_INTRODUCTORY_PRICING
          readOnly: true
          type: string
        regionCodes:
          description: "Output only. 2-letter ISO region code where the promotion\
            \ is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
          items:
            type: string
          readOnly: true
          type: array
        startTime:
          description: Optional. Specifies the start time (inclusive) of the period
            that the promotion is available in.
          format: google-datetime
          type: string
        titles:
          description: Output only. Localized human readable name of the promotion.
          items:
            $ref: '#/components/schemas/GoogleTypeLocalizedText'
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails:
      description: The details of a introductory pricing promotion.
      example:
        introductoryPricingSpecs:
        - discountRatioMicros: discountRatioMicros
          regionCode: regionCode
          discountAmount:
            amountMicros: amountMicros
            currencyCode: currencyCode
          recurrenceCount: 1
        - discountRatioMicros: discountRatioMicros
          regionCode: regionCode
          discountAmount:
            amountMicros: amountMicros
            currencyCode: currencyCode
          recurrenceCount: 1
      properties:
        introductoryPricingSpecs:
          description: Output only. Specifies the introductory pricing periods.
          items:
            $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec'
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec:
      description: The duration of an introductory pricing promotion.
      example:
        discountRatioMicros: discountRatioMicros
        regionCode: regionCode
        discountAmount:
          amountMicros: amountMicros
          currencyCode: currencyCode
        recurrenceCount: 1
      properties:
        discountAmount:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount'
        discountRatioMicros:
          description: "Output only. The discount percentage in micros. For example,\
            \ 50,000 represents 5%."
          format: int64
          readOnly: true
          type: string
        recurrenceCount:
          description: Output only. Output Only. The duration of an introductory offer
            in billing cycles.
          format: int32
          readOnly: true
          type: integer
        regionCode:
          description: Output only. 2-letter ISO region code where the product is
            available in. Ex. "US".
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod:
      description: A description of what time period or moment in time the product
        or service is being delivered over.
      example:
        startTime: startTime
        endTime: endTime
      properties:
        endTime:
          description: Optional. The end time of the service period. Time is exclusive.
          format: google-datetime
          type: string
        startTime:
          description: Required. The start time of the service period. Time is inclusive.
          format: google-datetime
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Subscription:
      description: "A subscription serves as a central billing entity between an external\
        \ partner and Google. The underlying Google services rely on the subscription\
        \ state to grant or revoke the user's service entitlement. It's important\
        \ to note that the subscription state may not always perfectly align with\
        \ the user's service entitlement. For example, some Google services may continue\
        \ providing access to the user until the current billing cycle ends, even\
        \ if the subscription has been immediately canceled. However, other services\
        \ may not do the same. To fully understand the specific details, please consult\
        \ the relevant contract or product policy."
      example:
        redirectUri: redirectUri
        serviceLocation:
          regionCode: regionCode
          postalCode: postalCode
        upgradeDowngradeDetails:
          previousSubscriptionId: previousSubscriptionId
          billingCycleSpec: BILLING_CYCLE_SPEC_UNSPECIFIED
        partnerUserToken: partnerUserToken
        updateTime: updateTime
        products:
        - products
        - products
        lineItems:
        - lineItemIndex: 0
          amount:
            amountMicros: amountMicros
            currencyCode: currencyCode
          product: product
          lineItemPromotionSpecs:
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
            promotion: promotion
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
              - discountRatioMicros: discountRatioMicros
                regionCode: regionCode
                discountAmount:
                  amountMicros: amountMicros
                  currencyCode: currencyCode
                recurrenceCount: 1
            promotion: promotion
          bundleDetails:
            bundleElementDetails:
            - product: product
              userAccountLinkedTime: userAccountLinkedTime
            - product: product
              userAccountLinkedTime: userAccountLinkedTime
          description: description
          finiteBillingCycleDetails:
            billingCycleCountLimit: billingCycleCountLimit
          lineItemFreeTrialEndTime: lineItemFreeTrialEndTime
          oneTimeRecurrenceDetails:
            servicePeriod:
              startTime: startTime
              endTime: endTime
          state: LINE_ITEM_STATE_UNSPECIFIED
          productPayload:
            googleOnePayload:
              campaigns:
              - campaigns
              - campaigns
              offering: OFFERING_UNSPECIFIED
              salesChannel: CHANNEL_UNSPECIFIED
              storeId: storeId
            youtubePayload:
              accessEndTime: accessEndTime
              partnerEligibilityIds:
              - partnerEligibilityIds
              - partnerEligibilityIds
              partnerPlanType: PARTNER_PLAN_TYPE_UNSPECIFIED
          recurrenceType: LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
        - lineItemIndex: 0
          amount:
            amountMicros: amountMicros
            currencyCode: currencyCode
          product: product
          lineItemPromotionSpecs:
          - freeTrialDuration:
              unit: UNIT_UNSPECIFIED
              count: 6
            type: PROMOTION_TYPE_UNSPECIFIED
            introductoryPricingDetails:
              introductoryPricingSpecs:
[...]
