openapi: 3.0.1
info:
  contact:
    email: EditSupport@bgbm.org
  description: The Unified Taxonomic Information Service (UTIS) is the taxonomic backbone
    for the EU-BON project
  license:
    name: Mozilla Public License 2.0
    url: http://www.mozilla.org/MPL/2.0/
  termsOfService: https://www.biodiversitycatalogue.org/services/79
  title: EU BON UTIS
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://cybertaxonomy.eu/themes/cybertaxonomy/images/cdm-platform-header.jpg
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: http://cybertaxonomy.eu/eubon-utis/api-docs
    version: "1.2"
  x-providerName: cybertaxonomy.eu
servers:
- url: http://cybertaxonomy.eu/eu-bon/utis/1.0
tags:
- description: Utis Controller
  name: utis-controller
paths:
  /capabilities:
    get:
      deprecated: false
      description: capabilities
      operationId: capabilities
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceProviderInfo'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceProviderInfo'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: capabilities
      tags:
      - utis-controller
      x-openapi-router-controller: openapi_server.controllers.utis_controller_controller
  /search:
    get:
      deprecated: false
      description: search
      operationId: search
      parameters:
      - description: "The scientific name to search for. For example: \"Bellis perennis\"\
          , \"Prionus\" or \"Bolinus brandaris\". This is an exact search so wildcard\
          \ characters are not supported."
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: "A list of provider id strings concatenated by comma characters.\
          \ The default : \"pesi,bgbm-cdm-server[col]\" will be used if this parameter\
          \ is not set. A list of all available provider ids can be obtained from\
          \ the '/capabilities' service end point. Providers can be nested, that is\
          \ a parent provider can have sub providers. If the id of the parent provider\
          \ is supplied all subproviders will be queried. The query can also be restriced\
          \ to one or more subproviders by using the following syntax: parent-id[sub-id-1,sub-id2,...]"
        in: query
        name: providers
        schema:
          default: "pesi,eunis,bgbm-cdm-server[col]"
          type: string
      - description: "Specifies the searchMode. Possible search modes are: scientificNameExact,\
          \ scientificNameLike (begins with), vernacularNameExact, vernacularNameLike\
          \ (contains), findByIdentifier. If the a provider does not support the chosen\
          \ searchMode it will be skipped and the status message in the tnrClientStatus\
          \ will be set to 'unsupported search mode' in this case."
        in: query
        name: searchMode
        schema:
          default: scientificNameExact
          enum:
          - scientificNameExact
          - scientificNameLike
          - vernacularNameExact
          - vernacularNameLike
          - findByIdentifier
          type: string
      - description: Indicates whether the synonymy of the accepted taxon should be
          included into the response. Turning this option on may cause an increased
          response time.
        in: query
        name: addSynonymy
        schema:
          default: false
          type: boolean
      - description: The maximum of milliseconds to wait for responses from any of
          the providers. If the timeout is exceeded the service will jut return the
          resonses that have been received so far. The default timeout is 0 ms (wait
          for ever)
        in: query
        name: timeout
        schema:
          default: 0
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TnrMsg'
            application/xml:
              schema:
                $ref: '#/components/schemas/TnrMsg'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: search
      tags:
      - utis-controller
      x-openapi-router-controller: openapi_server.controllers.utis_controller_controller
components:
  schemas:
    AtomisedName:
      example:
        infraspecificEpithet: infraspecificEpithet
        specificEpithet: specificEpithet
        infragenericEpithet: infragenericEpithet
        genusOrUninomial: genusOrUninomial
      properties:
        genusOrUninomial:
          title: genusOrUninomial
          type: string
        infragenericEpithet:
          title: infragenericEpithet
          type: string
        infraspecificEpithet:
          title: infraspecificEpithet
          type: string
        specificEpithet:
          title: specificEpithet
          type: string
      title: AtomisedName
      type: object
    ClientStatus:
      example:
        duration: 0.8008281904610115
        checklistId: checklistId
        statusMessage: statusMessage
      properties:
        checklistId:
          title: checklistId
          type: string
        duration:
          description: Duration of the request processing in the specific checklist
            client in milliseconds.
          format: double
          title: duration
          type: number
        statusMessage:
          description: "Status of the request, possible values are 'ok', 'timeout',\
            \ 'interrupted', 'unsupported search mode'."
          title: statusMessage
          type: string
      title: ClientStatus
      type: object
    HigherClassificationElement:
      example:
        scientificName: scientificName
        rank: rank
        taxonID: taxonID
      properties:
        rank:
          title: rank
          type: string
        scientificName:
          title: scientificName
          type: string
        taxonID:
          title: taxonID
          type: string
      title: HigherClassificationElement
      type: object
    OtherNames:
      example:
        sources:
        - identifier: identifier
          datasetName: datasetName
          name: name
          title: title
          url: url
        - identifier: identifier
          datasetName: datasetName
          name: name
          title: title
          url: url
        taxonName:
          scientificName: scientificName
          atomisedName:
            infraspecificEpithet: infraspecificEpithet
            specificEpithet: specificEpithet
            infragenericEpithet: infragenericEpithet
            genusOrUninomial: genusOrUninomial
          authorship: authorship
          nomenclaturalReference: nomenclaturalReference
          rank: rank
          canonicalName: canonicalName
        url: url
      properties:
        sources:
          items:
            $ref: '#/components/schemas/Source'
          title: sources
          type: array
        taxonName:
          $ref: '#/components/schemas/TaxonName'
        url:
          description: The URL pointing to the original name record of the checklist
            provider.
          title: url
          type: string
      title: OtherNames
      type: object
    Query:
      example:
        request:
          addSynonymy: true
          searchMode: searchMode
          queryString: queryString
        response:
        - vernacularNames:
          - vernacularNames
          - vernacularNames
          matchingNameString: matchingNameString
          otherNames:
          - sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            url: url
          - sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            url: url
          checklistVersion: checklistVersion
          checklistCitation: checklistCitation
          synonyms:
          - accordingTo: accordingTo
            sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            taxonomicStatus: taxonomicStatus
            url: url
          - accordingTo: accordingTo
            sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            taxonomicStatus: taxonomicStatus
            url: url
          checklist: checklist
          taxon:
            identifier: identifier
            accordingTo: accordingTo
            sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            taxonomicStatus: taxonomicStatus
            higherClassification:
            - scientificName: scientificName
              rank: rank
              taxonID: taxonID
            - scientificName: scientificName
              rank: rank
              taxonID: taxonID
            url: url
          checklistUrl: checklistUrl
          matchingNameType: TAXON
          checklistId: checklistId
        - vernacularNames:
          - vernacularNames
          - vernacularNames
          matchingNameString: matchingNameString
          otherNames:
          - sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            url: url
          - sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            url: url
          checklistVersion: checklistVersion
          checklistCitation: checklistCitation
          synonyms:
          - accordingTo: accordingTo
            sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            taxonomicStatus: taxonomicStatus
            url: url
          - accordingTo: accordingTo
            sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            taxonomicStatus: taxonomicStatus
            url: url
          checklist: checklist
          taxon:
            identifier: identifier
            accordingTo: accordingTo
            sources:
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            - identifier: identifier
              datasetName: datasetName
              name: name
              title: title
              url: url
            taxonName:
              scientificName: scientificName
              atomisedName:
                infraspecificEpithet: infraspecificEpithet
                specificEpithet: specificEpithet
                infragenericEpithet: infragenericEpithet
                genusOrUninomial: genusOrUninomial
              authorship: authorship
              nomenclaturalReference: nomenclaturalReference
              rank: rank
              canonicalName: canonicalName
            taxonomicStatus: taxonomicStatus
            higherClassification:
            - scientificName: scientificName
              rank: rank
              taxonID: taxonID
            - scientificName: scientificName
              rank: rank
              taxonID: taxonID
            url: url
          checklistUrl: checklistUrl
          matchingNameType: TAXON
          checklistId: checklistId
        clientStatus:
        - duration: 0.8008281904610115
          checklistId: checklistId
          statusMessage: statusMessage
        - duration: 0.8008281904610115
          checklistId: checklistId
          statusMessage: statusMessage
      properties:
        clientStatus:
          items:
            $ref: '#/components/schemas/ClientStatus'
          title: clientStatus
          type: array
        request:
          $ref: '#/components/schemas/Request'
        response:
          items:
            $ref: '#/components/schemas/Response'
          title: response
          type: array
      title: Query
      type: object
    Request:
      example:
        addSynonymy: true
        searchMode: searchMode
        queryString: queryString
      properties:
        addSynonymy:
          description: Indicates whether the synonymy of the accepted taxon should
            be included into the response. Turning this option on may lead to an increased
            response time.
          title: addSynonymy
          type: boolean
        queryString:
          description: "The query string to match a scientific name, vernacular name\
            \ or identifier depending on the searchMode"
          title: queryString
          type: string
        searchMode:
          description: "Specified the search mode to be usedPossible search modes\
            \ are: scientificNameExact, scientificNameLike (begins with), vernacularNameExact,\
            \ vernacularNameLike (contains)."
          title: searchMode
          type: string
      title: Request
      type: object
    Response:
      example:
        vernacularNames:
        - vernacularNames
        - vernacularNames
        matchingNameString: matchingNameString
        otherNames:
        - sources:
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          taxonName:
            scientificName: scientificName
            atomisedName:
              infraspecificEpithet: infraspecificEpithet
              specificEpithet: specificEpithet
              infragenericEpithet: infragenericEpithet
              genusOrUninomial: genusOrUninomial
            authorship: authorship
            nomenclaturalReference: nomenclaturalReference
            rank: rank
            canonicalName: canonicalName
          url: url
        - sources:
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          taxonName:
            scientificName: scientificName
            atomisedName:
              infraspecificEpithet: infraspecificEpithet
              specificEpithet: specificEpithet
              infragenericEpithet: infragenericEpithet
              genusOrUninomial: genusOrUninomial
            authorship: authorship
            nomenclaturalReference: nomenclaturalReference
            rank: rank
            canonicalName: canonicalName
          url: url
        checklistVersion: checklistVersion
        checklistCitation: checklistCitation
        synonyms:
        - accordingTo: accordingTo
          sources:
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          taxonName:
            scientificName: scientificName
            atomisedName:
              infraspecificEpithet: infraspecificEpithet
              specificEpithet: specificEpithet
              infragenericEpithet: infragenericEpithet
              genusOrUninomial: genusOrUninomial
            authorship: authorship
            nomenclaturalReference: nomenclaturalReference
            rank: rank
            canonicalName: canonicalName
          taxonomicStatus: taxonomicStatus
          url: url
        - accordingTo: accordingTo
          sources:
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          taxonName:
            scientificName: scientificName
            atomisedName:
              infraspecificEpithet: infraspecificEpithet
              specificEpithet: specificEpithet
              infragenericEpithet: infragenericEpithet
              genusOrUninomial: genusOrUninomial
            authorship: authorship
            nomenclaturalReference: nomenclaturalReference
            rank: rank
            canonicalName: canonicalName
          taxonomicStatus: taxonomicStatus
          url: url
        checklist: checklist
        taxon:
          identifier: identifier
          accordingTo: accordingTo
          sources:
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          - identifier: identifier
            datasetName: datasetName
            name: name
            title: title
            url: url
          taxonName:
            scientificName: scientificName
            atomisedName:
              infraspecificEpithet: infraspecificEpithet
              specificEpithet: specificEpithet
              infragenericEpithet: infragenericEpithet
              genusOrUninomial: genusOrUninomial
            authorship: authorship
            nomenclaturalReference: nomenclaturalReference
            rank: rank
            canonicalName: canonicalName
          taxonomicStatus: taxonomicStatus
          higherClassification:
          - scientificName: scientificName
            rank: rank
            taxonID: taxonID
          - scientificName: scientificName
            rank: rank
            taxonID: taxonID
          url: url
        checklistUrl: checklistUrl
        matchingNameType: TAXON
        checklistId: checklistId
      properties:
        checklist:
          title: checklist
          type: string
        checklistCitation:
          title: checklistCitation
          type: string
        checklistId:
          title: checklistId
          type: string
        checklistUrl:
          title: checklistUrl
          type: string
        checklistVersion:
          title: checklistVersion
          type: string
        matchingNameString:
          description: "Refers to the name string of the accepted taxon, synonym or\
            \ otherName which was matching the query string"
          title: matchingNameString
          type: string
        matchingNameType:
          description: "Reports which of the names was matching the query string:\
            \  'taxon', 'synonym', 'vernacularName', or 'otherName'"
          enum:
          - TAXON
          - SYNONYM
          - VERNACULAR_NAME
          - OTHER_NAME
          title: matchingNameType
          type: string
        otherNames:
          items:
            $ref: '#/components/schemas/OtherNames'
          title: otherNames
          type: array
        synonyms:
          description: The list synonyms related to the accepted taxon
          items:
            $ref: '#/components/schemas/Synonym'
          title: synonyms
          type: array
        taxon:
          $ref: '#/components/schemas/Taxon'
        vernacularNames:
          description: A common or vernacular name.
          items:
            type: string
          title: vernacularNames
          type: array
      title: Response
      type: object
    ServiceProviderInfo:
      example:
        documentationUrl: documentationUrl
        searchModes:
        - searchModes
        - searchModes
        copyrightUrl: copyrightUrl
        subChecklists:
        - null
        - null
        id: id
        label: label
        version: version
      properties:
        copyrightUrl:
          title: copyrightUrl
          type: string
        documentationUrl:
          title: documentationUrl
          type: string
        id:
          title: id
          type: string
        label:
          title: label
          type: string
        searchModes:
          description: "Set of the different SearchModes supported by the service\
            \ provider and client implementation.Possible search modes are: scientificNameExact,\
            \ scientificNameLike, vernacularName"
          items:
            type: string
          title: searchModes
          type: array
          uniqueItems: true
        subChecklists:
          items:
            $ref: '#/components/schemas/ServiceProviderInfo'
          title: subChecklists
          type: array
        version:
          title: version
          type: string
      title: ServiceProviderInfo
      type: object
    Source:
      example:
        identifier: identifier
        datasetName: datasetName
        name: name
        title: title
        url: url
      properties:
        datasetName:
          title: datasetName
          type: string
        identifier:
          title: identifier
          type: string
        name:
          title: name
          type: string
        title:
          description: The full not atomized source string.
          title: title
          type: string
        url:
          title: url
          type: string
      title: Source
      type: object
    Synonym:
      example:
        accordingTo: accordingTo
        sources:
        - identifier: identifier
          datasetName: datasetName
          name: name
          title: title
          url: url
        - identifier: identifier
          datasetName: datasetName
          name: name
          title: title
          url: url
        taxonName:
          scientificName: scientificName
          atomisedName:
            infraspecificEpithet: infraspecificEpithet
            specificEpithet: specificEpithet
            infragenericEpithet: infragenericEpithet
            genusOrUninomial: genusOrUninomial
          authorship: authorship
          nomenclaturalReference: nomenclaturalReference
          rank: rank
          canonicalName: canonicalName
        taxonomicStatus: taxonomicStatus
        url: url
      properties:
        accordingTo:
          description: "The reference to the source in which the specific taxon concept\
            \ circumscription is defined or implied - traditionally signified by the\
            \ Latin 'sensu' or 'sec.' (from secundum, meaning 'according to')."
          title: accordingTo
          type: string
        sources:
          items:
            $ref: '#/components/schemas/Source'
          title: sources
          type: array
        taxonName:
          $ref: '#/components/schemas/TaxonName'
        taxonomicStatus:
          description: "The taxonomic status string like 'invalid', 'misapplied',\
            \ 'homotypic synonym', 'accepted', 'synonym'. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus"
          title: taxonomicStatus
          type: string
        url:
          description: The URL pointing to the original record of the checklist provider.
          title: url
          type: string
      title: Synonym
      type: object
    Taxon:
      example:
        identifier: identifier
        accordingTo: accordingTo
        sources:
        - identifier: identifier
          datasetName: datasetName
          name: name
          title: title
          url: url
        - identifier: identifier
          datasetName: datasetName
          name: name
          title: title
          url: url
        taxonName:
          scientificName: scientificName
          atomisedName:
            infraspecificEpithet: infraspecificEpithet
            specificEpithet: specificEpithet
            infragenericEpithet: infragenericEpithet
            genusOrUninomial: genusOrUninomial
          authorship: authorship
          nomenclaturalReference: nomenclaturalReference
          rank: rank
          canonicalName: canonicalName
        taxonomicStatus: taxonomicStatus
        higherClassification:
        - scientificName: scientificName
          rank: rank
          taxonID: taxonID
        - scientificName: scientificName
          rank: rank
          taxonID: taxonID
        url: url
      properties:
        accordingTo:
          description: "The reference to the source in which the specific taxon concept\
            \ circumscription is defined or implied - traditionally signified by the\
            \ Latin 'sensu' or 'sec.' (from secundum, meaning 'according to')."
          title: accordingTo
          type: string
        higherClassification:
          items:
            $ref: '#/components/schemas/HigherClassificationElement'
          title: higherClassification
          type: array
        identifier:
          title: identifier
          type: string
        sources:
          items:
            $ref: '#/components/schemas/Source'
          title: sources
          type: array
        taxonName:
          $ref: '#/components/schemas/TaxonName'
        taxonomicStatus:
          description: "The taxonomic status string like 'invalid', 'misapplied',\
            \ 'homotypic synonym', 'accepted', 'synonym'. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus"
          title: taxonomicStatus
          type: string
        url:
          description: The URL pointing to the original record of the checklist provider.
          title: url
          type: string
      title: Taxon
      type: object
    TaxonName:
      example:
        scientificName: scientificName
        atomisedName:
          infraspecificEpithet: infraspecificEpithet
          specificEpithet: specificEpithet
          infragenericEpithet: infragenericEpithet
          genusOrUninomial: genusOrUninomial
        authorship: authorship
        nomenclaturalReference: nomenclaturalReference
        rank: rank
        canonicalName: canonicalName
      properties:
        atomisedName:
          $ref: '#/components/schemas/AtomisedName'
        authorship:
          title: authorship
          type: string
        canonicalName:
          description: "Canonical name string consisting of only nomenclatural information,\
            \ i.e. no authorship or taxonomic hierarchy information with the exception\
            \ of the necessary placements within Genus or Species."
          title: canonicalName
          type: string
        nomenclaturalReference:
          description: A reference for the publication in which the scientificName
            was originally established under the rules of the associated nomenclaturalCode.
          title: nomenclaturalReference
          type: string
        rank:
          title: rank
          type: string
        scientificName:
          description: "The full scientific name, with authorship, publication date\
            \ information and potentially further taxonomic information."
          title: scientificName
          type: string
      title: TaxonName
      type: object
    TnrMsg:
      example:
        query:
        - request:
            addSynonymy: true
            searchMode: searchMode
            queryString: queryString
          response:
          - vernacularNames:
            - vernacularNames
            - vernacularNames
            matchingNameString: matchingNameString
            otherNames:
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            checklistVersion: checklistVersion
            checklistCitation: checklistCitation
            synonyms:
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            checklist: checklist
            taxon:
              identifier: identifier
              accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              higherClassification:
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              url: url
            checklistUrl: checklistUrl
            matchingNameType: TAXON
            checklistId: checklistId
          - vernacularNames:
            - vernacularNames
            - vernacularNames
            matchingNameString: matchingNameString
            otherNames:
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            checklistVersion: checklistVersion
            checklistCitation: checklistCitation
            synonyms:
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            checklist: checklist
            taxon:
              identifier: identifier
              accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              higherClassification:
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              url: url
            checklistUrl: checklistUrl
            matchingNameType: TAXON
            checklistId: checklistId
          clientStatus:
          - duration: 0.8008281904610115
            checklistId: checklistId
            statusMessage: statusMessage
          - duration: 0.8008281904610115
            checklistId: checklistId
            statusMessage: statusMessage
        - request:
            addSynonymy: true
            searchMode: searchMode
            queryString: queryString
          response:
          - vernacularNames:
            - vernacularNames
            - vernacularNames
            matchingNameString: matchingNameString
            otherNames:
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            checklistVersion: checklistVersion
            checklistCitation: checklistCitation
            synonyms:
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            checklist: checklist
            taxon:
              identifier: identifier
              accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              higherClassification:
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              url: url
            checklistUrl: checklistUrl
            matchingNameType: TAXON
            checklistId: checklistId
          - vernacularNames:
            - vernacularNames
            - vernacularNames
            matchingNameString: matchingNameString
            otherNames:
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            - sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              url: url
            checklistVersion: checklistVersion
            checklistCitation: checklistCitation
            synonyms:
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            - accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              url: url
            checklist: checklist
            taxon:
              identifier: identifier
              accordingTo: accordingTo
              sources:
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              - identifier: identifier
                datasetName: datasetName
                name: name
                title: title
                url: url
              taxonName:
                scientificName: scientificName
                atomisedName:
                  infraspecificEpithet: infraspecificEpithet
                  specificEpithet: specificEpithet
                  infragenericEpithet: infragenericEpithet
                  genusOrUninomial: genusOrUninomial
                authorship: authorship
                nomenclaturalReference: nomenclaturalReference
                rank: rank
                canonicalName: canonicalName
              taxonomicStatus: taxonomicStatus
              higherClassification:
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              - scientificName: scientificName
                rank: rank
                taxonID: taxonID
              url: url
            checklistUrl: checklistUrl
            matchingNameType: TAXON
            checklistId: checklistId
          clientStatus:
          - duration: 0.8008281904610115
            checklistId: checklistId
            statusMessage: statusMessage
          - duration: 0.8008281904610115
            checklistId: checklistId
            statusMessage: statusMessage
      properties:
        query:
          items:
            $ref: '#/components/schemas/Query'
          title: query
          type: array
      title: TnrMsg
      type: object
x-original-swagger-version: "2.0"
