openapi: 3.0.1
info:
  title: Diagnostics API Client
  version: 2018-02-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Diagnostics.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-Diagnostics
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors:
    get:
      description: List Hosting Environment Detector Responses
      operationId: diagnostics_list_hosting_environment_detector_responses
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponseCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: List Hosting Environment Detector Responses
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Service Environment Detector Responses:
          parameters:
            api-version: 2016-03-01
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes all the requests to all
                        applications running on this app service environment.
                      subCategory: App Availability
                      supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}
  : get:
      description: Get Hosting Environment Detector Response
      operationId: diagnostics_get_hosting_environment_detector_response
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: App Service Environment Name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Hosting Environment Detector Response
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Service Environment Detector Responses:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your apps on this app service environment received for
                        each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - 2018-03-27T00:25:00Z
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:30:00Z
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:35:00Z
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - 2018-03-27T00:40:00Z
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:45:00Z
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:50:00Z
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:55:00Z
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:00:00Z
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:05:00Z
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:10:00Z
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes all the requests to all applications
                      running on this app service environment.
                    subCategory: App Availability
                    supportTopicId: ""
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors:
    get:
      description: List Site Detector Responses
      operationId: diagnostics_list_site_detector_responses
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponseCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: List Site Detector Responses
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Detector Responses:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes the requests to your application.
                      subCategory: App Availability
                      supportTopicId: ""
        Get App Slot Detector Responses:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes the requests to your application.
                      subCategory: App Availability
                      supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}
  : get:
      description: Get site detector response
      operationId: diagnostics_get_site_detector_response
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get site detector response
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your app received for each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - 2018-03-27T00:25:00Z
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:30:00Z
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:35:00Z
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - 2018-03-27T00:40:00Z
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:45:00Z
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:50:00Z
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:55:00Z
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:00:00Z
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:05:00Z
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:10:00Z
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
        Get App Slot Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your app received for each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - 2018-03-27T00:25:00Z
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:30:00Z
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:35:00Z
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - 2018-03-27T00:40:00Z
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:45:00Z
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:50:00Z
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:55:00Z
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:00:00Z
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:05:00Z
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:10:00Z
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics:
    get:
      description: Get Diagnostics Categories
      operationId: diagnostics_list_site_diagnostic_categories
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategoryCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Diagnostics Categories
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}
  : get:
      description: Get Diagnostics Category
      operationId: diagnostics_get_site_diagnostic_category
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategory'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Diagnostics Category
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses
  : get:
      description: Get Site Analyses
      operationId: diagnostics_list_site_analyses
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysisCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Site Analyses
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}
  : get:
      description: Get Site Analysis
      operationId: diagnostics_get_site_analysis
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Analysis Name
        in: path
        name: analysisName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Site Analysis
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute
  : post:
      description: Execute Analysis
      operationId: diagnostics_execute_site_analysis
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Analysis Resource Name
        in: path
        name: analysisName
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Execute Analysis
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors
  : get:
      description: Get Detectors
      operationId: diagnostics_list_site_detectors
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Detectors
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}
  : get:
      description: Get Detector
      operationId: diagnostics_get_site_detector
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Detector Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Detector
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute
  : post:
      description: Execute Detector
      operationId: diagnostics_execute_site_detector
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Execute Detector
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors
  : get:
      description: List Site Detector Responses
      operationId: diagnostics_list_site_detector_responses_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponseCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: List Site Detector Responses
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Detector Responses:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes the requests to your application.
                      subCategory: App Availability
                      supportTopicId: ""
        Get App Slot Detector Responses:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes the requests to your application.
                      subCategory: App Availability
                      supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}
  : get:
      description: Get site detector response
      operationId: diagnostics_get_site_detector_response_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get site detector response
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your app received for each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - 2018-03-27T00:25:00Z
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:30:00Z
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:35:00Z
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - 2018-03-27T00:40:00Z
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:45:00Z
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:50:00Z
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:55:00Z
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:00:00Z
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:05:00Z
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:10:00Z
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
        Get App Slot Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your app received for each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - 2018-03-27T00:25:00Z
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:30:00Z
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:35:00Z
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - 2018-03-27T00:40:00Z
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:45:00Z
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:50:00Z
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T00:55:00Z
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:00:00Z
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:05:00Z
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - 2018-03-27T01:10:00Z
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics
  : get:
      description: Get Diagnostics Categories
      operationId: diagnostics_list_site_diagnostic_categories_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategoryCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Diagnostics Categories
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}
  : get:
      description: Get Diagnostics Category
      operationId: diagnostics_get_site_diagnostic_category_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategory'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Diagnostics Category
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses
  : get:
      description: Get Site Analyses
      operationId: diagnostics_list_site_analyses_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysisCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Site Analyses
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}
  : get:
      description: Get Site Analysis
      operationId: diagnostics_get_site_analysis_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Analysis Name
        in: path
        name: analysisName
        required: true
        schema:
          type: string
      - description: Slot - optional
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Site Analysis
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute
  : post:
      description: Execute Analysis
      operationId: diagnostics_execute_site_analysis_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Analysis Resource Name
        in: path
        name: analysisName
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Execute Analysis
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors
  : get:
      description: Get Detectors
      operationId: diagnostics_list_site_detectors_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Detectors
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}
  : get:
      description: Get Detector
      operationId: diagnostics_get_site_detector_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Detector Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Get Detector
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute
  : post:
      description: Execute Detector
      operationId: diagnostics_execute_site_detector_slot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site Name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        schema:
          type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        schema:
          type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        schema:
          type: string
      - description: Start Time
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: End Time
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: Time Grain
        in: query
        name: timeGrain
        schema:
          pattern: "PT[1-9][0-9]+[SMH]"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response'
          description: App Service error response.
      summary: Execute Detector
      tags:
      - Diagnostics
      x-openapi-router-controller: openapi_server.controllers.diagnostics_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AbnormalTimePeriod:
      description: Class representing Abnormal Time Period identified in diagnosis
      properties:
        endTime:
          description: End time of the downtime
          format: date-time
          title: endTime
          type: string
        events:
          description: List of Possible Cause of downtime
          items:
            $ref: '#/components/schemas/DetectorAbnormalTimePeriod'
          title: events
          type: array
        solutions:
          description: List of proposed solutions
          items:
            $ref: '#/components/schemas/Solution'
          title: solutions
          type: array
        startTime:
          description: Start time of the downtime
          format: date-time
          title: startTime
          type: string
      title: AbnormalTimePeriod
      type: object
    AnalysisData:
      description: Class Representing Detector Evidence used for analysis
      properties:
        data:
          description: Additional Source Data
          items:
            items:
              $ref: '#/components/schemas/AnalysisData_data_inner_inner'
            type: array
          title: data
          type: array
        detectorDefinition:
          $ref: '#/components/schemas/DetectorDefinition'
        detectorMetaData:
          $ref: '#/components/schemas/ResponseMetaData'
        metrics:
          description: Source Metrics
          items:
            $ref: '#/components/schemas/DiagnosticMetricSet'
          title: metrics
          type: array
        source:
          description: Name of the Detector
          title: source
          type: string
      title: AnalysisData
      type: object
    AnalysisDefinition:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Definition of Analysis
      example:
        properties: "{}"
      properties:
        properties:
          description: AnalysisDefinition resource specific properties
          properties:
            description:
              description: Description of the Analysis
              readOnly: true
              title: description
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: AnalysisDefinition
    DataSource:
      description: Class representing data source used by the detectors
      properties:
        dataSourceUri:
          description: Datasource Uri Links
          items:
            $ref: '#/components/schemas/AnalysisData_data_inner_inner'
          title: dataSourceUri
          type: array
        instructions:
          description: Instructions if any for the data source
          items:
            type: string
          title: instructions
          type: array
      title: DataSource
      type: object
    DataTableResponseColumn:
      description: Column definition
      properties:
        columnName:
          description: Name of the column
          title: columnName
          type: string
        columnType:
          description: Column Type
          title: columnType
          type: string
        dataType:
          description: Data type which looks like 'String' or 'Int32'.
          title: dataType
          type: string
      title: DataTableResponseColumn
      type: object
    DataTableResponseObject:
      description: Data Table which defines columns and raw row values
      properties:
        columns:
          description: List of columns with data types
          items:
            $ref: '#/components/schemas/DataTableResponseColumn'
          title: columns
          type: array
        rows:
          description: Raw row values
          items:
            items:
              type: string
            type: array
          title: rows
          type: array
        tableName:
          description: Name of the table
          title: tableName
          type: string
      title: DataTableResponseObject
      type: object
    DetectorAbnormalTimePeriod:
      description: Class representing Abnormal Time Period detected.
      properties:
        endTime:
          description: End time of the correlated event
          format: date-time
          title: endTime
          type: string
        message:
          description: Message describing the event
          title: message
          type: string
        metaData:
          description: Downtime metadata
          items:
            items:
              $ref: '#/components/schemas/AnalysisData_data_inner_inner'
            type: array
          title: metaData
          type: array
        priority:
          description: Represents the rank of the Detector
          format: double
          title: priority
          type: number
        solutions:
          description: List of proposed solutions
          items:
            $ref: '#/components/schemas/Solution'
          title: solutions
          type: array
        source:
          description: Represents the name of the Detector
          title: source
          type: string
        startTime:
          description: Start time of the correlated event
          format: date-time
          title: startTime
          type: string
        type:
          description: Represents the type of the Detector
          enum:
          - ServiceIncident
          - AppDeployment
          - AppCrash
          - RuntimeIssueDetected
          - AseDeployment
          - UserIssue
          - PlatformIssue
          - Other
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: IssueType
      title: DetectorAbnormalTimePeriod
      type: object
    DetectorDefinition:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing detector definition
      example:
        properties: "{}"
      properties:
        properties:
          description: DetectorDefinition resource specific properties
          properties:
            description:
              description: Description of the detector
              readOnly: true
              title: description
              type: string
            displayName:
              description: Display name of the detector
              readOnly: true
              title: displayName
              type: string
            isEnabled:
              description: Flag representing whether detector is enabled or not.
              readOnly: true
              title: isEnabled
              type: boolean
            rank:
              description: Detector Rank
              format: double
              readOnly: true
              title: rank
              type: number
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DetectorDefinition
    DetectorInfo:
      description: Definition of Detector
      properties:
        category:
          description: Support Category
          readOnly: true
          title: category
          type: string
        description:
          description: Short description of the detector and its purpose
          readOnly: true
          title: description
          type: string
        subCategory:
          description: Support Sub Category
          readOnly: true
          title: subCategory
          type: string
        supportTopicId:
          description: Support Topic Id
          readOnly: true
          title: supportTopicId
          type: string
      title: DetectorInfo
      type: object
    DetectorResponse:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing Response from Detector
      example:
        properties: "{}"
      properties:
        properties:
          description: DetectorResponse resource specific properties
          properties:
            dataset:
              description: Data Set
              items:
                $ref: '#/components/schemas/DiagnosticData'
              title: dataset
              type: array
            metadata:
              $ref: '#/components/schemas/DetectorInfo'
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DetectorResponse
    DetectorResponseCollection:
      description: Collection of detector responses
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DetectorResponse'
          title: value
          type: array
      required:
      - value
      title: DetectorResponseCollection
      type: object
    DiagnosticAnalysis:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing a diagnostic analysis done on an application
      example:
        properties: "{}"
      properties:
        properties:
          description: DiagnosticAnalysis resource specific properties
          properties:
            abnormalTimePeriods:
              description: List of time periods.
              items:
                $ref: '#/components/schemas/AbnormalTimePeriod'
              title: abnormalTimePeriods
              type: array
            endTime:
              description: End time of the period
              format: date-time
              title: endTime
              type: string
            nonCorrelatedDetectors:
              description: Data by each detector for detectors that did not corelate
              items:
                $ref: '#/components/schemas/DetectorDefinition'
              title: nonCorrelatedDetectors
              type: array
            payload:
              description: Data by each detector
              items:
                $ref: '#/components/schemas/AnalysisData'
              title: payload
              type: array
            startTime:
              description: Start time of the period
              format: date-time
              title: startTime
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DiagnosticAnalysis
    DiagnosticAnalysisCollection:
      description: Collection of Diagnostic Analyses
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AnalysisDefinition'
          title: value
          type: array
      required:
      - value
      title: DiagnosticAnalysisCollection
      type: object
    DiagnosticCategory:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing detector definition
      example:
        properties: "{}"
      properties:
        properties:
          description: DiagnosticCategory resource specific properties
          properties:
            description:
              description: Description of the diagnostic category
              readOnly: true
              title: description
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DiagnosticCategory
    DiagnosticCategoryCollection:
      description: Collection of Diagnostic Categories
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DiagnosticCategory'
          title: value
          type: array
      required:
      - value
      title: DiagnosticCategoryCollection
      type: object
    DiagnosticData:
      description: Set of data with rendering instructions
      properties:
        renderingProperties:
          $ref: '#/components/schemas/Rendering'
        table:
          $ref: '#/components/schemas/DataTableResponseObject'
      title: DiagnosticData
      type: object
    DiagnosticDetectorCollection:
      description: Collection of Diagnostic Detectors
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DetectorDefinition'
          title: value
          type: array
      required:
      - value
      title: DiagnosticDetectorCollection
      type: object
    DiagnosticDetectorResponse:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing Response from Diagnostic Detectors
      example:
        properties: "{}"
      properties:
        properties:
          description: DiagnosticDetectorResponse resource specific properties
          properties:
            abnormalTimePeriods:
              description: List of Correlated events found by the detector
              items:
                $ref: '#/components/schemas/DetectorAbnormalTimePeriod'
              title: abnormalTimePeriods
              type: array
            data:
              description: Additional Data that detector wants to send.
              items:
                items:
                  description: Name value pair.
                  properties:
                    name:
                      description: Pair name.
                      type: string
                    value:
                      description: Pair value.
                      type: string
                  type: object
                type: array
              title: data
              type: array
            detectorDefinition:
              $ref: '#/components/schemas/DetectorDefinition'
            endTime:
              description: End time of the period
              format: date-time
              title: endTime
              type: string
            issueDetected:
              description: Flag representing Issue was detected.
              title: issueDetected
              type: boolean
            metrics:
              description: Metrics provided by the detector
              items:
                $ref: '#/components/schemas/DiagnosticMetricSet'
              title: metrics
              type: array
            responseMetaData:
              $ref: '#/components/schemas/ResponseMetaData'
            startTime:
              description: Start time of the period
              format: date-time
              title: startTime
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DiagnosticDetectorResponse
    DiagnosticMetricSample:
      description: Class representing Diagnostic Metric
      properties:
        isAggregated:
          description: Whether the values are aggregates across all workers or not
          title: isAggregated
          type: boolean
        maximum:
          description: Maximum of the metric sampled during the time period
          format: double
          title: maximum
          type: number
        minimum:
          description: Minimum of the metric sampled during the time period
          format: double
          title: minimum
          type: number
        roleInstance:
          description: "Role Instance. Null if this counter is not per instance \n\
            This is returned and should be whichever instance name we desire to be\
            \ returned\ni.e. CPU and Memory return RDWORKERNAME (LargeDed..._IN_0)\
            \ \nwhere RDWORKERNAME is Machine name below and RoleInstance name in\
            \ parenthesis"
          title: roleInstance
          type: string
        timestamp:
          description: Time at which metric is measured
          format: date-time
          title: timestamp
          type: string
        total:
          description: Total value of the metric. If multiple measurements are made
            this will have sum of all.
          format: double
          title: total
          type: number
      title: DiagnosticMetricSample
      type: object
    DiagnosticMetricSet:
      description: Class representing Diagnostic Metric information
      properties:
        endTime:
          description: End time of the period
          format: date-time
          title: endTime
          type: string
        name:
          description: Name of the metric
          title: name
          type: string
        startTime:
          description: Start time of the period
          format: date-time
          title: startTime
          type: string
        timeGrain:
          description: "Presented time grain. Supported grains at the moment are PT1M,\
            \ PT1H, P1D"
          title: timeGrain
          type: string
        unit:
          description: Metric's unit
          title: unit
          type: string
        values:
          description: "Collection of metric values for the selected period based\
            \ on the {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}"
          items:
            $ref: '#/components/schemas/DiagnosticMetricSample'
          title: values
          type: array
      title: DiagnosticMetricSet
      type: object
    Rendering:
      description: Instructions for rendering the data
      properties:
        description:
          description: Description of the data that will help it be interpreted
          title: description
          type: string
        title:
          description: Title of data
          title: title
          type: string
        type:
          description: Rendering Type
          enum:
          - NoGraph
          - Table
          - TimeSeries
          - TimeSeriesPerInstance
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: RenderingType
      title: Rendering
      type: object
    ResponseMetaData:
      properties:
        dataSource:
          $ref: '#/components/schemas/DataSource'
      title: ResponseMetaData
      type: object
    Solution:
      description: Class Representing Solution for problems detected.
      properties:
        data:
          description: Solution Data.
          items:
            items:
              $ref: '#/components/schemas/AnalysisData_data_inner_inner'
            type: array
          title: data
          type: array
        description:
          description: Description of the solution
          title: description
          type: string
        displayName:
          description: Display Name of the solution
          title: displayName
          type: string
        id:
          description: Solution Id.
          format: double
          title: id
          type: number
        metadata:
          description: Solution Metadata.
          items:
            items:
              $ref: '#/components/schemas/AnalysisData_data_inner_inner'
            type: array
          title: metadata
          type: array
        order:
          description: Order of the solution.
          format: double
          title: order
          type: number
        type:
          description: Type of Solution
          enum:
          - QuickSolution
          - DeepInvestigation
          - BestPractices
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: SolutionType
      title: Solution
      type: object
    Diagnostics_ListHostingEnvironmentDetectorResponses_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Diagnostics_ListHostingEnvironmentDetectorResponses_default_response_error_details_inner
      type: object
    Diagnostics_ListHostingEnvironmentDetectorResponses_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Diagnostics_ListHostingEnvironmentDetectorResponses_default_response_error
      type: object
    Diagnostics_ListHostingEnvironmentDetectorResponses_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/Diagnostics_ListHostingEnvironmentDetectorResponses_default_response_error'
      title: Diagnostics_ListHostingEnvironmentDetectorResponses_default_response
      type: object
    AnalysisData_data_inner_inner:
      description: Name value pair.
      properties:
        name:
          description: Pair name.
          title: name
          type: string
        value:
          description: Pair value.
          title: value
          type: string
      title: AnalysisData_data_inner_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
[...]
