openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2019-01-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/regulatoryCompliance.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-regulatoryCompliance
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards:
    get:
      description: Supported regulatory compliance standards details and state
      operationId: RegulatoryComplianceStandards_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandardList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - RegulatoryCompliance
      x-ms-examples:
        Get all supported regulatory compliance standards details and state:
          parameters:
            api-version: 2019-01-01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2
                  name: PCI-DSS-3.2
                  properties:
                    failedControls: 4
                    passedControls: 7
                    skippedControls: 0
                    state: Failed
                    unsupportedControls: 0
                  type: Microsoft.Security/regulatoryComplianceStandard
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/ISO-27001
                  name: ISO-27001
                  properties:
                    failedControls: 0
                    passedControls: 0
                    skippedControls: 10
                    state: Skipped
                    unsupportedControls: 0
                  type: Microsoft.Security/regulatoryComplianceStandard
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/AZURE-CIS
                  name: AZURE-CIS
                  properties:
                    failedControls: 0
                    passedControls: 0
                    skippedControls: 0
                    state: Unsupported
                    unsupportedControls: 0
                  type: Microsoft.Security/regulatoryComplianceStandard
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/SOC-TSP
                  name: SOC-TSP
                  properties:
                    failedControls: 0
                    passedControls: 15
                    skippedControls: 0
                    state: Passed
                    unsupportedControls: 0
                  type: Microsoft.Security/regulatoryComplianceStandard
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}:
    get:
      description: Supported regulatory compliance details state for selected standard
      operationId: RegulatoryComplianceStandards_Get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the regulatory compliance standard object
        in: path
        name: regulatoryComplianceStandardName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandard'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - RegulatoryCompliance
      x-ms-examples:
        Get selected regulatory compliance standard details and state:
          parameters:
            api-version: 2019-01-01
            regulatoryComplianceStandardName: PCI-DSS-3.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2
                name: PCI-DSS-3.2
                properties:
                  failedControls: 4
                  passedControls: 7
                  skippedControls: 0
                  state: Failed
                  unsupportedControls: 0
                type: Microsoft.Security/regulatoryComplianceStandard
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls
  : get:
      description: All supported regulatory compliance controls details and state
        for selected standard
      operationId: RegulatoryComplianceControls_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the regulatory compliance standard object
        in: path
        name: regulatoryComplianceStandardName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceControlList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - RegulatoryCompliance
      x-ms-examples:
        Get all regulatory compliance controls details and state for selected standard:
          parameters:
            api-version: 2019-01-01
            regulatoryComplianceStandardName: PCI-DSS-3.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/1.1
                  name: "1.1"
                  properties:
                    description: Common Criteria Related to Organization and Management.
                    failedAssessments: 4
                    passedAssessments: 7
                    skippedAssessments: 0
                    state: Failed
                  type: Microsoft.Security/regulatoryComplianceControl
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/2
                  name: "2"
                  properties:
                    description: "Confidential information is protected during the\
                      \ system design, development, testing, implementation, and change\
                      \ processes in accordance with confidentiality commitments and\
                      \ requirements."
                    failedAssessments: 0
                    passedAssessments: 0
                    skippedAssessments: 10
                    state: Skipped
                  type: Microsoft.Security/regulatoryComplianceControl
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/2.1
                  name: "2.1"
                  properties:
                    description: "Changes to confidentiality commitments and requirements\
                      \ are communicated to internal and external users, vendors,\
                      \ and other third parties whose products and services are included\
                      \ in the system."
                    failedAssessments: 0
                    passedAssessments: 0
                    skippedAssessments: 0
                    state: Unsupported
                  type: Microsoft.Security/regulatoryComplianceControl
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}
  : get:
      description: Selected regulatory compliance control details and state
      operationId: RegulatoryComplianceControls_Get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the regulatory compliance standard object
        in: path
        name: regulatoryComplianceStandardName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the regulatory compliance control object
        in: path
        name: regulatoryComplianceControlName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceControl'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - RegulatoryCompliance
      x-ms-examples:
        Get selected regulatory compliance control details and state:
          parameters:
            api-version: 2019-01-01
            regulatoryComplianceControlName: "1.1"
            regulatoryComplianceStandardName: PCI-DSS-3.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/1.1
                name: "1.1"
                properties:
                  description: Common Criteria Related to Organization and Management
                  failedAssessments: 4
                  passedAssessments: 7
                  skippedAssessments: 0
                  state: Failed
                type: Microsoft.Security/regulatoryComplianceControl
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments
  : get:
      description: Details and state of assessments mapped to selected regulatory
        compliance control
      operationId: RegulatoryComplianceAssessments_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the regulatory compliance standard object
        in: path
        name: regulatoryComplianceStandardName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the regulatory compliance control object
        in: path
        name: regulatoryComplianceControlName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: OData filter. Optional.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceAssessmentList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - RegulatoryCompliance
      x-ms-examples:
        Get all assessments mapped to selected regulatory compliance control:
          parameters:
            api-version: 2019-01-01
            regulatoryComplianceControlName: "1.1"
            regulatoryComplianceStandardName: PCI-DSS-3.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/1.1/regulatoryComplianceAssessments/968548cb-02b3-8cd2-11f8-0cf64ab1a347
                  name: 968548cb-02b3-8cd2-11f8-0cf64ab1a347
                  properties:
                    assessmentDetailsLink: https://management.azure.com/subscriptions/a27e854a-8578-4395-8eaf-6fc7849f3050/providers/Microsoft.Security/securityStatuses/968548cb-02b3-8cd2-11f8-0cf64ab1a347
                    assessmentType: Assessment
                    description: Troubleshoot missing scan data on your machines
                    failedResources: 4
                    passedResources: 7
                    skippedResources: 0
                    state: Failed
                  type: Microsoft.Security/regulatoryComplianceAssessment
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/2/regulatoryComplianceAssessments/3bcd234d-c9c7-c2a2-89e0-c01f419c1a8a
                  name: 3bcd234d-c9c7-c2a2-89e0-c01f419c1a8a
                  properties:
                    assessmentDetailsLink: https://management.azure.com/subscriptions/a27e854a-8578-4395-8eaf-6fc7849f3050/providers/Microsoft.Security/securityStatuses/3bcd234d-c9c7-c2a2-89e0-c01f419c1a8a
                    assessmentType: Assessment
                    description: Resolve endpoint protection health issues on your
                      machines
                    failedResources: 0
                    passedResources: 0
                    skippedResources: 10
                    state: Skipped
                  type: Microsoft.Security/regulatoryComplianceAssessment
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/2.1/regulatoryComplianceAssessments/d1db3318-01ff-16de-29eb-28b344515626
                  name: d1db3318-01ff-16de-29eb-28b344515626
                  properties:
                    assessmentDetailsLink: https://management.azure.com/subscriptions/a27e854a-8578-4395-8eaf-6fc7849f3050/providers/Microsoft.Security/securityStatuses/d1db3318-01ff-16de-29eb-28b344515626
                    assessmentType: Assessment
                    description: Install monitoring agent on your machines
                    failedResources: 0
                    passedResources: 8
                    skippedResources: 0
                    state: Passed
                  type: Microsoft.Security/regulatoryComplianceAssessment
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments/{regulatoryComplianceAssessmentName}
  : get:
      description: Supported regulatory compliance details and state for selected
        assessment
      operationId: RegulatoryComplianceAssessments_Get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the regulatory compliance standard object
        in: path
        name: regulatoryComplianceStandardName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the regulatory compliance control object
        in: path
        name: regulatoryComplianceControlName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the regulatory compliance assessment object
        in: path
        name: regulatoryComplianceAssessmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceAssessment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - RegulatoryCompliance
      x-ms-examples:
        Get selected regulatory compliance assessment details and state:
          parameters:
            api-version: 2019-01-01
            regulatoryComplianceAssessmentName: 968548cb-02b3-8cd2-11f8-0cf64ab1a347
            regulatoryComplianceControlName: "1.1"
            regulatoryComplianceStandardName: PCI-DSS-3.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2/regulatoryComplianceControls/1.1/regulatoryComplianceAssessments/968548cb-02b3-8cd2-11f8-0cf64ab1a347
                name: 968548cb-02b3-8cd2-11f8-0cf64ab1a347
                properties:
                  assessmentDetailsLink: https://management.azure.com/subscriptions/a27e854a-8578-4395-8eaf-6fc7849f3050/providers/Microsoft.Security/securityStatuses/968548cb-02b3-8cd2-11f8-0cf64ab1a347
                  assessmentType: Assessment
                  description: Troubleshoot missing scan data on your machines
                  failedResources: 4
                  passedResources: 7
                  skippedResources: 0
                  state: Failed
                type: Microsoft.Security/regulatoryComplianceAssessment
      x-accepts:
      - application/json
components:
  parameters:
    RegulatoryComplianceAssessmentName:
      description: Name of the regulatory compliance assessment object
      in: path
      name: regulatoryComplianceAssessmentName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RegulatoryComplianceControlName:
      description: Name of the regulatory compliance control object
      in: path
      name: regulatoryComplianceControlName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RegulatoryComplianceStandardName:
      description: Name of the regulatory compliance standard object
      in: path
      name: regulatoryComplianceStandardName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    RegulatoryComplianceAssessment:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Regulatory compliance assessment details and state
      example:
        properties:
          assessmentType: assessmentType
          unsupportedResources: 5
          assessmentDetailsLink: assessmentDetailsLink
          failedResources: 0
          description: description
          state: Passed
          skippedResources: 1
          passedResources: 6
      properties:
        properties:
          $ref: '#/components/schemas/RegulatoryComplianceAssessmentProperties'
    RegulatoryComplianceAssessmentList:
      description: List of regulatory compliance assessment response
      example:
        value:
        - properties:
            assessmentType: assessmentType
            unsupportedResources: 5
            assessmentDetailsLink: assessmentDetailsLink
            failedResources: 0
            description: description
            state: Passed
            skippedResources: 1
            passedResources: 6
        - properties:
            assessmentType: assessmentType
            unsupportedResources: 5
            assessmentDetailsLink: assessmentDetailsLink
            failedResources: 0
            description: description
            state: Passed
            skippedResources: 1
            passedResources: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/RegulatoryComplianceAssessment'
          type: array
      required:
      - value
      type: object
    RegulatoryComplianceAssessmentProperties:
      description: Regulatory compliance assessment data
      example:
        assessmentType: assessmentType
        unsupportedResources: 5
        assessmentDetailsLink: assessmentDetailsLink
        failedResources: 0
        description: description
        state: Passed
        skippedResources: 1
        passedResources: 6
      properties:
        assessmentDetailsLink:
          description: Link to more detailed assessment results data. The response
            type will be according to the assessmentType field
          readOnly: true
          type: string
        assessmentType:
          description: The expected type of assessment contained in the AssessmentDetailsLink
          readOnly: true
          type: string
        description:
          description: The description of the regulatory compliance assessment
          readOnly: true
          type: string
        failedResources:
          description: The given assessment's related resources count with failed
            state.
          readOnly: true
          type: integer
        passedResources:
          description: The given assessment's related resources count with passed
            state.
          readOnly: true
          type: integer
        skippedResources:
          description: The given assessment's related resources count with skipped
            state.
          readOnly: true
          type: integer
        state:
          description: Aggregative state based on the assessment's scanned resources
            states
          enum:
          - Passed
          - Failed
          - Skipped
          - Unsupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
            values:
            - description: All related resources passed the given assessment
              value: Passed
            - description: The given assessment failed on at least one resource
              value: Failed
            - description: The given assessment skipped on all related resources
              value: Skipped
            - description: The given assessment has no supported resources
              value: Unsupported
        unsupportedResources:
          description: The given assessment's related resources count with unsupported
            state.
          readOnly: true
          type: integer
      type: object
    RegulatoryComplianceControl:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Regulatory compliance control details and state
      example:
        properties:
          failedAssessments: 0
          skippedAssessments: 1
          description: description
          passedAssessments: 6
          state: Passed
      properties:
        properties:
          $ref: '#/components/schemas/RegulatoryComplianceControlProperties'
    RegulatoryComplianceControlList:
      description: List of regulatory compliance controls response
      example:
        value:
        - properties:
            failedAssessments: 0
            skippedAssessments: 1
            description: description
            passedAssessments: 6
            state: Passed
        - properties:
            failedAssessments: 0
            skippedAssessments: 1
            description: description
            passedAssessments: 6
            state: Passed
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of regulatory compliance controls
          items:
            $ref: '#/components/schemas/RegulatoryComplianceControl'
          type: array
      required:
      - value
      type: object
    RegulatoryComplianceControlProperties:
      description: Regulatory compliance control data
      example:
        failedAssessments: 0
        skippedAssessments: 1
        description: description
        passedAssessments: 6
        state: Passed
      properties:
        description:
          description: The description of the regulatory compliance control
          readOnly: true
          type: string
        failedAssessments:
          description: The number of supported regulatory compliance assessments of
            the given control with a failed state
          readOnly: true
          type: integer
        passedAssessments:
          description: The number of supported regulatory compliance assessments of
            the given control with a passed state
          readOnly: true
          type: integer
        skippedAssessments:
          description: The number of supported regulatory compliance assessments of
            the given control with a skipped state
          readOnly: true
          type: integer
        state:
          description: Aggregative state based on the control's supported assessments
            states
          enum:
          - Passed
          - Failed
          - Skipped
          - Unsupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
            values:
            - description: All supported regulatory compliance assessments in the
                given control have a passed state
              value: Passed
            - description: At least one supported regulatory compliance assessment
                in the given control has a state of failed
              value: Failed
            - description: All supported regulatory compliance assessments in the
                given control have a state of skipped
              value: Skipped
            - description: No supported regulatory assessment data for the given control
              value: Unsupported
      type: object
    RegulatoryComplianceStandard:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Regulatory compliance standard details and state
      example:
        properties:
          failedControls: 0
          unsupportedControls: 5
          skippedControls: 1
          state: Passed
          passedControls: 6
      properties:
        properties:
          $ref: '#/components/schemas/RegulatoryComplianceStandardProperties'
    RegulatoryComplianceStandardList:
      description: List of regulatory compliance standards response
      example:
        value:
        - properties:
            failedControls: 0
            unsupportedControls: 5
            skippedControls: 1
            state: Passed
            passedControls: 6
        - properties:
            failedControls: 0
            unsupportedControls: 5
            skippedControls: 1
            state: Passed
            passedControls: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/RegulatoryComplianceStandard'
          type: array
      required:
      - value
      type: object
    RegulatoryComplianceStandardProperties:
      description: Regulatory compliance standard data
      example:
        failedControls: 0
        unsupportedControls: 5
        skippedControls: 1
        state: Passed
        passedControls: 6
      properties:
        failedControls:
          description: The number of supported regulatory compliance controls of the
            given standard with a failed state
          readOnly: true
          type: integer
        passedControls:
          description: The number of supported regulatory compliance controls of the
            given standard with a passed state
          readOnly: true
          type: integer
        skippedControls:
          description: The number of supported regulatory compliance controls of the
            given standard with a skipped state
          readOnly: true
          type: integer
        state:
          description: Aggregative state based on the standard's supported controls
            states
          enum:
          - Passed
          - Failed
          - Skipped
          - Unsupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
            values:
            - description: All supported regulatory compliance controls in the given
                standard have a passed state
              value: Passed
            - description: At least one supported regulatory compliance control in
                the given standard has a state of failed
              value: Failed
            - description: All supported regulatory compliance controls in the given
                standard have a state of skipped
              value: Skipped
            - description: No supported regulatory compliance data for the given standard
              value: Unsupported
        unsupportedControls:
          description: The number of regulatory compliance controls of the given standard
            which are unsupported by automated assessments
          readOnly: true
          type: integer
      type: object
    RegulatoryComplianceStandards_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          type: string
      type: object
      x-ms-external: true
    RegulatoryComplianceStandards_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/RegulatoryComplianceStandards_List_default_response_error'
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

