openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/privateLinkService.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-privateLinkService
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices:
    get:
      description: Returns all of the private link service ids that can be linked
        to a Private Endpoint with auto approved in this subscription in this region.
      operationId: PrivateLinkServices_ListAutoApprovedPrivateLinkServices
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoApprovedPrivateLinkServicesResult'
          description: Request successful. Returns all of the private link service
            ids that can be linked to a Private Endpoint with auto approved in this
            subscription in this region.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        Get list of private link service id that can be linked to a private end point with auto approved:
          parameters:
            api-version: 2019-08-01
            location: regionName
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - privateLinkService: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls1
                - privateLinkService: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls2
                - privateLinkService: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls3
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility:
    post:
      description: Checks whether the subscription is visible to private link service.
      operationId: PrivateLinkServices_CheckPrivateLinkServiceVisibility
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
        description: The request body of CheckPrivateLinkService API call.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceVisibility'
          description: Request successful. Returns whether the subscription is visible
            to private link service.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        Check private link service visibility:
          parameters:
            api-version: 2019-08-01
            location: westus
            parameters:
              privateLinkServiceAlias: mypls.00000000-0000-0000-0000-000000000000.azure.privatelinkservice
            subscriptionId: subid
          responses:
            "200":
              body:
                visible: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/privateLinkServices:
    get:
      description: Gets all private link service in a subscription.
      operationId: PrivateLinkServices_ListBySubscription
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceListResult'
          description: Request successful. The operation returns a list of PrivateLinkService
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        List all private list service:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls1
                  location: eastus
                  name: testPls1
                  properties:
                    alias: "ContosoService.{guid}.azure.privatelinkservice"
                    autoApproval:
                      subscriptions:
                      - subscription1
                      - subscription2
                    fqdns:
                    - fqdn1
                    - fqdn2
                    - fqdn3
                    ipConfigurations:
                    - name: fe-lb1
                      properties:
                        privateIPAddress: 10.0.1.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Static
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb1
                    loadBalancerFrontendIpConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb1
                    networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPls1.nic.abcd1234
                    privateEndpointConnections:
                    - name: pec1
                      properties:
                        privateEndpoint:
                          id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe1
                        privateLinkServiceConnectionState:
                          description: approved it for some reason.
                          status: Approved
                    provisioningState: Succeeded
                    visibility:
                      subscriptions:
                      - subscription1
                      - subscription2
                      - subscription3
                  type: Microsoft.Network/privateLinkServices
                - id: /subscriptions/subId/resourceGroups/rg2/providers/Microsoft.Network/privateLinkServices/testPls2
                  location: eastus
                  name: testPls2
                  properties:
                    alias: "ContosoService.{guid}.azure.privatelinkservice"
                    autoApproval:
                      subscriptions:
                      - subscription1
                      - subscription2
                    fqdns:
                    - fqdn1
                    - fqdn2
                    ipConfigurations:
                    - name: fe-lb2
                      properties:
                        privateIPAddress: 10.0.1.5
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Static
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb2
                    loadBalancerFrontendIpConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb2
                    networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg2/provders/Microsoft.Network/networkInterfaces/testPls2.nic.efgh5678
                    privateEndpointConnections:
                    - name: pec1
                      properties:
                        privateEndpoint:
                          id: /subscriptions/subId/resourceGroups/rg2/providers/Microsoft.Network/privateEndpoints/testPe2
                        privateLinkServiceConnectionState:
                          description: approved it for some reason.
                          status: Approved
                    provisioningState: Succeeded
                    visibility:
                      subscriptions:
                      - subscription1
                      - subscription2
                  type: Microsoft.Network/privateLinkServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices
  : get:
      description: Returns all of the private link service ids that can be linked
        to a Private Endpoint with auto approved in this subscription in this region.
      operationId: PrivateLinkServices_ListAutoApprovedPrivateLinkServicesByResourceGroup
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoApprovedPrivateLinkServicesResult'
          description: Request successful. Returns all of the private link service
            ids that can be linked to a Private Endpoint with auto approved in this
            subscription in this region.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        Get list of private link service id that can be linked to a private end point with auto approved:
          parameters:
            api-version: 2019-08-01
            location: regionName
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - privateLinkService: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls1
                - privateLinkService: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls2
                - privateLinkService: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls3
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility
  : post:
      description: Checks whether the subscription is visible to private link service
        in the specified resource group.
      operationId: PrivateLinkServices_CheckPrivateLinkServiceVisibilityByResourceGroup
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
        description: The request body of CheckPrivateLinkService API call.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceVisibility'
          description: Request successful. Returns whether the subscription is visible
            to private link service.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        Check private link service visibility:
          parameters:
            api-version: 2019-08-01
            location: westus
            parameters:
              privateLinkServiceAlias: mypls.00000000-0000-0000-0000-000000000000.azure.privatelinkservice
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                visible: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices:
    get:
      description: Gets all private link services in a resource group.
      operationId: PrivateLinkServices_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceListResult'
          description: Request successful. The operation returns a list of privateLinkService
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        List private link service in resource group:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls1
                  location: eastus
                  name: testPls1
                  properties:
                    alias: "ContosoService.{guid}.azure.privatelinkservice"
                    autoApproval:
                      subscriptions:
                      - subscription1
                    fqdns:
                    - fqdn1
                    - fqdn2
                    ipConfigurations:
                    - name: fe-lb1
                      properties:
                        privateIPAddress: 10.0.1.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Static
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb1
                    loadBalancerFrontendIpConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb1
                    networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPls1.nic.abcd1234
                    privateEndpointConnections:
                    - name: pec1
                      properties:
                        privateEndpoint:
                          id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe1
                        privateLinkServiceConnectionState:
                          description: approved it for some reason.
                          status: Approved
                    provisioningState: Succeeded
                    visibility:
                      subscriptions:
                      - subscription1
                  type: Microsoft.Network/privateLinkServices
                - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls2
                  location: eastus
                  name: testPls2
                  properties:
                    alias: "ContosoService.{guid}.azure.privatelinkservice"
                    autoApproval:
                      subscriptions:
                      - subscription1
                      - subscription2
                    fqdns:
                    - fqdn1
                    - fqdn2
                    - fqdn3
                    ipConfigurations:
                    - name: fe-lb2
                      properties:
                        privateIPAddress: 10.0.1.5
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Static
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb2
                    loadBalancerFrontendIpConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb2
                    networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPls2.nic.efgh5678
                    privateEndpointConnections:
                    - name: pec2
                      properties:
                        privateEndpoint:
                          id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe2
                        privateLinkServiceConnectionState:
                          description: approved it for some reason.
                          status: Approved
                    provisioningState: Succeeded
                    visibility:
                      subscriptions:
                      - subscription1
                      - subscription2
                      - subscription3
                  type: Microsoft.Network/privateLinkServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}
  : delete:
      description: Deletes the specified private link service.
      operationId: PrivateLinkServices_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the private link service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        Delete private link service:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            serviceName: testPls
            subscriptionId: subId
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
    get:
      description: Gets the specified private link service by resource group.
      operationId: PrivateLinkServices_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the private link service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
          description: Request successful. The operation returns the resulting PrivateLinkService
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        Get private link service:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            serviceName: testPls
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                location: eastus
                name: testPls
                properties:
                  alias: "ContosoService.{guid}.azure.privatelinkservice"
                  autoApproval:
                    subscriptions:
                    - subscription1
                    - subscription2
                  fqdns:
                  - fqdn1
                  - fqdn2
                  - fqdn3
                  ipConfigurations:
                  - name: fe-lb
                    properties:
                      privateIPAddress: 10.0.1.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Static
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  loadBalancerFrontendIpConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                  networkInterfaces:
                  - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPls.nic.abcd1234
                  privateEndpointConnections:
                  - name: privateEndpointConnection
                    properties:
                      privateEndpoint:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                      privateLinkServiceConnectionState:
                        description: approved it for some reason.
                        status: Approved
                  provisioningState: Succeeded
                  visibility:
                    subscriptions:
                    - subscription1
                    - subscription2
                    - subscription3
                type: Microsoft.Network/privateLinkServices
      x-accepts:
      - application/json
    put:
      description: Creates or updates an private link service in the specified resource
        group.
      operationId: PrivateLinkServices_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the private link service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkService'
        description: Parameters supplied to the create or update private link service
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
          description: Update successful. The operation returns the resulting privateLinkService
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
          description: Create successful. The operation returns the resulting privateLinkService
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkService
      x-ms-examples:
        Create private link service:
          parameters:
            api-version: 2019-08-01
            parameters:
              location: eastus
              properties:
                autoApproval:
                  subscriptions:
                  - subscription1
                  - subscription2
                fqdns:
                - fqdn1
                - fqdn2
                - fqdn3
                ipConfigurations:
                - name: fe-lb
                  properties:
                    privateIPAddress: 10.0.1.4
                    privateIPAddressVersion: IPv4
                    privateIPAllocationMethod: Static
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                loadBalancerFrontendIpConfigurations:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                visibility:
                  subscriptions:
                  - subscription1
                  - subscription2
                  - subscription3
            resourceGroupName: rg1
            serviceName: testPls
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                location: eastus
                name: testPls
                properties:
                  alias: "ContosoService.{guid}.azure.privatelinkservice"
                  autoApproval:
                    subscriptions:
                    - subscription1
                    - subscription2
                  fqdns:
                  - fqdn1
                  - fqdn2
                  - fqdn3
                  ipConfigurations:
                  - name: fe-lb
                    properties:
                      privateIPAddress: 10.0.1.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Static
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  loadBalancerFrontendIpConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                  networkInterfaces:
                  - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPls.nic.abcd1234
                  provisioningState: Succeeded
                  visibility:
                    subscriptions:
                    - subscription1
                    - subscription2
                    - subscription3
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                location: eastus
                name: testPls
                properties:
                  alias: "ContosoService.{guid}.azure.privatelinkservice"
                  autoApproval:
                    subscriptions:
                    - subscription1
                    - subscription2
                  fqdns:
                  - fqdn1
                  - fqdn2
                  - fqdn3
                  ipConfigurations:
                  - name: fe-lb
                    properties:
                      privateIPAddress: 10.0.1.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Static
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  loadBalancerFrontendIpConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                  networkInterfaces:
                  - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPls.nic.abcd1234
                  provisioningState: Succeeded
                  visibility:
                    subscriptions:
                    - subscription1
                    - subscription2
                    - subscription3
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}
  : delete:
      description: Delete private end point connection for a private link service
        in a subscription.
      operationId: PrivateLinkServices_DeletePrivateEndpointConnection
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the private link service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
      - description: The name of the private end point connection.
        in: path
        name: peConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        delete private end point connection for a private link service:
          parameters:
            api-version: 2019-08-01
            peConnectionName: testPlePeConnection
            resourceGroupName: rg1
            serviceName: testPls
            subscriptionId: subId
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
    put:
      description: Approve or reject private end point connection for a private link
        service in a subscription.
      operationId: PrivateLinkServices_UpdatePrivateEndpointConnection
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the private link service.
        in: path
        name: serviceName
        required: true
        schema:
          type: string
      - description: The name of the private end point connection.
        in: path
        name: peConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: Parameters supplied to approve or reject the private end point
          connection.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Update successful. The operation returns the resulting PrivateEndpointConnection
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response'
          description: Error.
      tags:
      - PrivateLinkServices
      x-ms-examples:
        approve or reject private end point connection for a private link service:
          parameters:
            api-version: 2019-08-01
            parameters:
              name: testPlePeConnection
              properties:
                privateEndpoint:
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                privateLinkServiceConnectionState:
                  description: approved it for some reason.
                  status: Approved
            peConnectionName: testPlePeConnection
            resourceGroupName: rg1
            serviceName: testPls
            subscriptionId: subId
          responses:
            "200":
              body:
                name: testPlePeConnection
                properties:
                  privateEndpoint:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                  privateLinkServiceConnectionState:
                    description: approved it for some reason.
                    status: Approved
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    AutoApprovedPrivateLinkService:
      description: The information of an AutoApprovedPrivateLinkService.
      example:
        privateLinkService: privateLinkService
      properties:
        privateLinkService:
          description: The id of the private link service resource.
          type: string
      type: object
    AutoApprovedPrivateLinkServicesResult:
      description: An array of private link service id that can be linked to a private
        end point with auto approved.
      example:
        value:
        - privateLinkService: privateLinkService
        - privateLinkService: privateLinkService
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: An array of auto approved private link service.
          items:
            $ref: '#/components/schemas/AutoApprovedPrivateLinkService'
          type: array
      type: object
    CheckPrivateLinkServiceVisibilityRequest:
      description: Request body of the CheckPrivateLinkServiceVisibility API service
        call.
      example:
        privateLinkServiceAlias: privateLinkServiceAlias
      properties:
        privateLinkServiceAlias:
          description: The alias of the private link service.
          type: string
      type: object
    FrontendIPConfigurationPropertiesFormat:
      type: object
    NetworkInterfacePropertiesFormat:
      type: object
    PrivateEndpointConnection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: PrivateEndpointConnection resource.
      example:
        name: name
        etag: etag
        type: type
        properties:
          privateLinkServiceConnectionState:
            actionsRequired: actionsRequired
            description: description
            status: status
          privateEndpoint:
            etag: etag
            properties: "{}"
          provisioningState: Succeeded
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
        type:
          description: The resource type.
          readOnly: true
          type: string
    PrivateEndpointConnectionProperties:
      description: Properties of the PrivateEndpointConnectProperties.
      example:
        privateLinkServiceConnectionState:
          actionsRequired: actionsRequired
          description: description
          status: status
        privateEndpoint:
          etag: etag
          properties: "{}"
        provisioningState: Succeeded
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties_privateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      type: object
    PrivateEndpointProperties:
      type: object
    PrivateLinkService:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Private link service resource.
      example:
        etag: etag
        properties:
          ipConfigurations:
          - name: name
            etag: etag
            type: type
            properties:
              subnet:
                name: name
                etag: etag
                properties: "{}"
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              privateIPAddressVersion: IPv4
              provisioningState: Succeeded
              primary: true
          - name: name
            etag: etag
            type: type
            properties:
              subnet:
                name: name
                etag: etag
                properties: "{}"
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              privateIPAddressVersion: IPv4
              provisioningState: Succeeded
              primary: true
          networkInterfaces:
          - etag: etag
            properties: "{}"
          - etag: etag
            properties: "{}"
          privateEndpointConnections:
          - name: name
            etag: etag
            type: type
            properties:
              privateLinkServiceConnectionState:
                actionsRequired: actionsRequired
                description: description
                status: status
              privateEndpoint:
                etag: etag
                properties: "{}"
              provisioningState: Succeeded
          - name: name
            etag: etag
            type: type
            properties:
              privateLinkServiceConnectionState:
                actionsRequired: actionsRequired
                description: description
                status: status
              privateEndpoint:
                etag: etag
                properties: "{}"
              provisioningState: Succeeded
          visibility: "{}"
          alias: alias
          loadBalancerFrontendIpConfigurations:
          - name: name
            etag: etag
            type: type
            zones:
            - zones
            - zones
            properties: "{}"
          - name: name
            etag: etag
            type: type
            zones:
            - zones
            - zones
            properties: "{}"
          autoApproval: "{}"
          provisioningState: Succeeded
          fqdns:
          - fqdns
          - fqdns
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkServiceProperties'
    PrivateLinkServiceConnectionState:
      description: A collection of information about the state of the connection between
        service consumer and provider.
      example:
        actionsRequired: actionsRequired
        description: description
        status: status
      properties:
        actionsRequired:
          description: A message indicating if changes on the service provider require
            any updates on the consumer.
          type: string
        description:
          description: The reason for approval/rejection of the connection.
          type: string
        status:
          description: Indicates whether the connection has been Approved/Rejected/Removed
            by the owner of the service.
          type: string
      type: object
    PrivateLinkServiceIpConfiguration:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: The private link service ip configuration.
      example:
        name: name
        etag: etag
        type: type
        properties:
          subnet:
            name: name
            etag: etag
            properties: "{}"
          privateIPAllocationMethod: Static
          privateIPAddress: privateIPAddress
          privateIPAddressVersion: IPv4
          provisioningState: Succeeded
          primary: true
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        name:
          description: The name of private link service ip configuration.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkServiceIpConfigurationProperties'
        type:
          description: The resource type.
          readOnly: true
          type: string
    PrivateLinkServiceIpConfigurationProperties:
      description: Properties of private link service IP configuration.
      example:
        subnet:
          name: name
          etag: etag
          properties: "{}"
        privateIPAllocationMethod: Static
        privateIPAddress: privateIPAddress
        privateIPAddressVersion: IPv4
        provisioningState: Succeeded
        primary: true
      properties:
        primary:
          description: Whether the ip configuration is primary or not.
          type: boolean
        privateIPAddress:
          description: The private IP address of the IP configuration.
          type: string
        privateIPAddressVersion:
          description: IP address version.
          enum:
          - IPv4
          - IPv6
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPVersion
        privateIPAllocationMethod:
          description: IP address allocation method.
          enum:
          - Static
          - Dynamic
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPAllocationMethod
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        subnet:
          $ref: '#/components/schemas/PrivateLinkServiceIpConfigurationProperties_subnet'
      type: object
    PrivateLinkServiceListResult:
      description: Response for the ListPrivateLinkService API service call.
      example:
        value:
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  name: name
                  etag: etag
                  properties: "{}"
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                privateIPAddressVersion: IPv4
                provisioningState: Succeeded
                primary: true
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  name: name
                  etag: etag
                  properties: "{}"
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                privateIPAddressVersion: IPv4
                provisioningState: Succeeded
                primary: true
            networkInterfaces:
            - etag: etag
              properties: "{}"
            - etag: etag
              properties: "{}"
            privateEndpointConnections:
            - name: name
              etag: etag
              type: type
              properties:
                privateLinkServiceConnectionState:
                  actionsRequired: actionsRequired
                  description: description
                  status: status
                privateEndpoint:
                  etag: etag
                  properties: "{}"
                provisioningState: Succeeded
            - name: name
              etag: etag
              type: type
              properties:
                privateLinkServiceConnectionState:
                  actionsRequired: actionsRequired
                  description: description
                  status: status
                privateEndpoint:
                  etag: etag
                  properties: "{}"
                provisioningState: Succeeded
            visibility: "{}"
            alias: alias
            loadBalancerFrontendIpConfigurations:
            - name: name
              etag: etag
              type: type
              zones:
              - zones
              - zones
              properties: "{}"
            - name: name
              etag: etag
              type: type
              zones:
              - zones
              - zones
              properties: "{}"
            autoApproval: "{}"
            provisioningState: Succeeded
            fqdns:
            - fqdns
            - fqdns
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  name: name
                  etag: etag
                  properties: "{}"
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                privateIPAddressVersion: IPv4
                provisioningState: Succeeded
                primary: true
            - name: name
              etag: etag
              type: type
              properties:
                subnet:
                  name: name
                  etag: etag
                  properties: "{}"
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                privateIPAddressVersion: IPv4
                provisioningState: Succeeded
                primary: true
            networkInterfaces:
            - etag: etag
              properties: "{}"
            - etag: etag
              properties: "{}"
            privateEndpointConnections:
            - name: name
              etag: etag
              type: type
              properties:
                privateLinkServiceConnectionState:
                  actionsRequired: actionsRequired
                  description: description
                  status: status
                privateEndpoint:
                  etag: etag
                  properties: "{}"
                provisioningState: Succeeded
            - name: name
              etag: etag
              type: type
              properties:
                privateLinkServiceConnectionState:
                  actionsRequired: actionsRequired
                  description: description
                  status: status
                privateEndpoint:
                  etag: etag
                  properties: "{}"
                provisioningState: Succeeded
            visibility: "{}"
            alias: alias
            loadBalancerFrontendIpConfigurations:
            - name: name
              etag: etag
              type: type
              zones:
              - zones
              - zones
              properties: "{}"
            - name: name
              etag: etag
              type: type
              zones:
              - zones
              - zones
              properties: "{}"
            autoApproval: "{}"
            provisioningState: Succeeded
            fqdns:
            - fqdns
            - fqdns
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of PrivateLinkService resources in a resource group.
          items:
            $ref: '#/components/schemas/PrivateLinkService'
          type: array
      type: object
    PrivateLinkServiceProperties:
      description: Properties of the private link service.
      example:
        ipConfigurations:
        - name: name
          etag: etag
          type: type
          properties:
            subnet:
              name: name
              etag: etag
              properties: "{}"
            privateIPAllocationMethod: Static
            privateIPAddress: privateIPAddress
            privateIPAddressVersion: IPv4
            provisioningState: Succeeded
            primary: true
        - name: name
          etag: etag
          type: type
          properties:
            subnet:
              name: name
              etag: etag
              properties: "{}"
            privateIPAllocationMethod: Static
            privateIPAddress: privateIPAddress
            privateIPAddressVersion: IPv4
            provisioningState: Succeeded
            primary: true
        networkInterfaces:
        - etag: etag
          properties: "{}"
        - etag: etag
          properties: "{}"
        privateEndpointConnections:
        - name: name
          etag: etag
          type: type
          properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              etag: etag
              properties: "{}"
            provisioningState: Succeeded
        - name: name
          etag: etag
          type: type
          properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              etag: etag
              properties: "{}"
            provisioningState: Succeeded
        visibility: "{}"
        alias: alias
        loadBalancerFrontendIpConfigurations:
        - name: name
          etag: etag
          type: type
          zones:
          - zones
          - zones
          properties: "{}"
        - name: name
          etag: etag
          type: type
          zones:
          - zones
          - zones
          properties: "{}"
        autoApproval: "{}"
        provisioningState: Succeeded
        fqdns:
        - fqdns
        - fqdns
      properties:
        alias:
          description: The alias of the private link service.
          readOnly: true
          type: string
        autoApproval:
          allOf:
          - $ref: '#/components/schemas/ResourceSet'
          description: The auto-approval list of the private link service.
          type: object
        fqdns:
          description: The list of Fqdn.
          items:
            type: string
          type: array
        ipConfigurations:
          description: An array of private link service IP configurations.
          items:
            $ref: '#/components/schemas/PrivateLinkServiceIpConfiguration'
          type: array
        loadBalancerFrontendIpConfigurations:
          description: An array of references to the load balancer IP configurations.
          items:
            $ref: '#/components/schemas/PrivateLinkServiceProperties_loadBalancerFrontendIpConfigurations_inner'
          type: array
        networkInterfaces:
          description: An array of references to the network interfaces created for
            this private link service.
          items:
            $ref: '#/components/schemas/PrivateLinkServiceProperties_networkInterfaces_inner'
          readOnly: true
          type: array
        privateEndpointConnections:
          description: An array of list about connections to the private endpoint.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          type: array
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        visibility:
          allOf:
          - $ref: '#/components/schemas/ResourceSet'
          description: The visibility list of the private link service.
          type: object
      type: object
    PrivateLinkServiceVisibility:
      description: Response for the CheckPrivateLinkServiceVisibility API service
        call.
      example:
        visible: true
      properties:
        visible:
          description: Private Link Service Visibility (True/False).
          type: boolean
      type: object
    ResourceSet:
      description: The base resource set for visibility and auto-approval.
      properties:
        subscriptions:
          description: The list of subscriptions.
          items:
            type: string
          type: array
      type: object
    SubnetPropertiesFormat:
      type: object
    PrivateLinkServices_ListBySubscription_default_response_details_inner:
      description: Common error details representation.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
      type: object
    PrivateLinkServices_ListBySubscription_default_response:
      description: Common error representation.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        innerError: innerError
        message: message
        target: target
      properties:
        code:
          description: Error code.
          type: string
        details:
          description: Error details.
          items:
            $ref: '#/components/schemas/PrivateLinkServices_ListBySubscription_default_response_details_inner'
          type: array
        innerError:
          description: Inner error message.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
      type: object
    PrivateEndpointConnectionProperties_privateEndpoint:
      description: Private endpoint resource.
      example:
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        properties:
          type: object
      type: object
    PrivateLinkServiceIpConfigurationProperties_subnet:
      description: Subnet in a virtual network resource.
      example:
        name: name
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          type: object
      type: object
    PrivateLinkServiceProperties_loadBalancerFrontendIpConfigurations_inner:
      description: Frontend IP address of the load balancer.
      example:
        name: name
        etag: etag
        type: type
        zones:
        - zones
        - zones
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        name:
          description: The name of the resource that is unique within the set of frontend
            IP configurations used by the load balancer. This name can be used to
            access the resource.
          type: string
        properties:
          type: object
        type:
          description: Type of the resource.
          readOnly: true
          type: string
        zones:
          description: A list of availability zones denoting the IP allocated for
            the resource needs to come from.
          items:
            type: string
          type: array
      type: object
    PrivateLinkServiceProperties_networkInterfaces_inner:
      description: A network interface in a resource group.
      example:
        etag: etag
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        properties:
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

