openapi: 3.0.0
info:
  description: The Top Stories API provides lists of articles and associated images
    by section.
  termsOfService: http://developer.nytimes.com/tou
  title: Top Stories
  version: 2.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/top_stories/top_stories_v2.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: top_stories
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/topstories/v2
- url: https://api.nytimes.com/svc/topstories/v2
security:
- apikey: []
paths:
  /{section}.{format}:
    get:
      description: |
        The Top Stories API returns a list of articles and associated images currently on the specified section.  Support JSON and JSONP.
      operationId: section_format_get
      parameters:
      - description: The section the story appears in.
        explode: false
        in: path
        name: section
        required: true
        schema:
          enum:
          - home
          - opinion
          - world
          - national
          - politics
          - upshot
          - nyregion
          - business
          - technology
          - science
          - health
          - sports
          - arts
          - books
          - movies
          - theater
          - sundayreview
          - fashion
          - tmagazine
          - food
          - travel
          - magazine
          - realestate
          - automobiles
          - obituaries
          - insider
          type: string
        style: simple
        x-consoleDefault: home
      - description: if this is JSONP or JSON
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - jsonp
          type: string
        style: simple
        x-consoleDefault: json
      - description: |
          The name of the function the API call results will be passed to. Required when using JSONP. This parameter has only one valid value per section. The format is {section_name}TopStoriesCallback.
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__section___format__get_200_response'
          description: An array of articles
      summary: Top Stories
      tags:
      - Stories
      x-openapi-router-controller: openapi_server.controllers.stories_controller
components:
  schemas:
    Article:
      example:
        per_facet:
        - per_facet
        - per_facet
        subsection: subsection
        item_type: item_type
        org_facet:
        - org_facet
        - org_facet
        section: section
        abstract: abstract
        related_urls:
        - suggested_link_text: suggested_link_text
          url: url
        - suggested_link_text: suggested_link_text
          url: url
        des_facet:
        - des_facet
        - des_facet
        title: title
        url: url
        short_url: short_url
        material_type_facet: material_type_facet
        multimedia:
        - copyright: copyright
          subtype: subtype
          format: format
          width: 6
          caption: caption
          type: type
          url: url
          height: 0
        - copyright: copyright
          subtype: subtype
          format: format
          width: 6
          caption: caption
          type: type
          url: url
          height: 0
        thumbnail_standard: thumbnail_standard
        geo_facet:
        - geo_facet
        - geo_facet
        created_date: created_date
        updated_date: updated_date
        byline: byline
        published_date: published_date
        kicker: kicker
      properties:
        abstract:
          title: abstract
          type: string
        byline:
          title: byline
          type: string
        created_date:
          title: created_date
          type: string
        des_facet:
          items:
            type: string
          title: des_facet
          type: array
        geo_facet:
          items:
            type: string
          title: geo_facet
          type: array
        item_type:
          title: item_type
          type: string
        kicker:
          title: kicker
          type: string
        material_type_facet:
          title: material_type_facet
          type: string
        multimedia:
          items:
            $ref: '#/components/schemas/Article_multimedia_inner'
          title: multimedia
          type: array
        org_facet:
          items:
            type: string
          title: org_facet
          type: array
        per_facet:
          items:
            type: string
          title: per_facet
          type: array
        published_date:
          title: published_date
          type: string
        related_urls:
          items:
            $ref: '#/components/schemas/Article_related_urls_inner'
          title: related_urls
          type: array
        section:
          title: section
          type: string
        short_url:
          title: short_url
          type: string
        subsection:
          title: subsection
          type: string
        thumbnail_standard:
          title: thumbnail_standard
          type: string
        title:
          title: title
          type: string
        updated_date:
          title: updated_date
          type: string
        url:
          title: url
          type: string
      title: Article
      type: object
    __section___format__get_200_response:
      example:
        results:
        - per_facet:
          - per_facet
          - per_facet
          subsection: subsection
          item_type: item_type
          org_facet:
          - org_facet
          - org_facet
          section: section
          abstract: abstract
          related_urls:
          - suggested_link_text: suggested_link_text
            url: url
          - suggested_link_text: suggested_link_text
            url: url
          des_facet:
          - des_facet
          - des_facet
          title: title
          url: url
          short_url: short_url
          material_type_facet: material_type_facet
          multimedia:
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          thumbnail_standard: thumbnail_standard
          geo_facet:
          - geo_facet
          - geo_facet
          created_date: created_date
          updated_date: updated_date
          byline: byline
          published_date: published_date
          kicker: kicker
        - per_facet:
          - per_facet
          - per_facet
          subsection: subsection
          item_type: item_type
          org_facet:
          - org_facet
          - org_facet
          section: section
          abstract: abstract
          related_urls:
          - suggested_link_text: suggested_link_text
            url: url
          - suggested_link_text: suggested_link_text
            url: url
          des_facet:
          - des_facet
          - des_facet
          title: title
          url: url
          short_url: short_url
          material_type_facet: material_type_facet
          multimedia:
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          thumbnail_standard: thumbnail_standard
          geo_facet:
          - geo_facet
          - geo_facet
          created_date: created_date
          updated_date: updated_date
          byline: byline
          published_date: published_date
          kicker: kicker
      properties:
        results:
          items:
            $ref: '#/components/schemas/Article'
          title: results
          type: array
      title: __section___format__get_200_response
      type: object
    Article_multimedia_inner:
      example:
        copyright: copyright
        subtype: subtype
        format: format
        width: 6
        caption: caption
        type: type
        url: url
        height: 0
      properties:
        caption:
          title: caption
          type: string
        copyright:
          title: copyright
          type: string
        format:
          title: format
          type: string
        height:
          title: height
          type: integer
        subtype:
          title: subtype
          type: string
        type:
          title: type
          type: string
        url:
          title: url
          type: string
        width:
          title: width
          type: integer
      title: Article_multimedia_inner
      type: object
    Article_related_urls_inner:
      example:
        suggested_link_text: suggested_link_text
        url: url
      properties:
        suggested_link_text:
          title: suggested_link_text
          type: string
        url:
          title: url
          type: string
      title: Article_related_urls_inner
      type: object
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apikey
