openapi: 3.0.3
info:
  contact:
    email: devex@mux.com
    name: Mux DevEx
    url: https://docs.mux.com
  description: Mux is how developers build online video. This API encompasses both
    Mux Video and Mux Data functionality to help you build your video-related projects
    better and faster than ever before.
  title: Mux API
  version: v1
  x-apisguru-categories:
  - media
  x-logo:
    url: chrome://favicon/https://mux.com
  x-origin:
  - format: openapi
    url: https://docs.mux.com/api-spec.json
    version: "3.0"
  x-providerName: mux.com
servers:
- description: Mux Production Environment
  url: https://api.mux.com
security:
- accessToken: []
tags:
- description: |
    Mux Real-Time Video has been sunset and is unavailiable for new usage.
    Existing access will end on December 31, 2023.
    We [recommend migrating your application to our partner, LiveKit](https://livekit.io/mux-livekit).
    Please reach out to [real-time-video@mux.com](mailto:real-time-video@mux.com) if you need more help or details.


    Spaces allow developers to build real-time video and audio experiences
    into their applications via the
    [Real-Time Video product.](https://mux.com/real-time-video)


    Composited video of space sessions can be sent to live streams using broadcasts.


    To add real-time video to an application, you'll also need to integrate one of our
    [Real-Time Video SDKs](/guides/video/build-real-time-video-experiences#5-integrate-a-real-time-video-sdk).


    Learn more in the
    [Real-Time Video guides](/guides/video/build-real-time-video-experiences).
  name: Spaces
- description: "Transcription Vocabularies allows you to provide collections of phrases\
    \ like proper nouns, technical jargon, and uncommon words as part of captioning\
    \ workflows. When using Auto-Generated Captions, Transcription Vocabularies increase\
    \ the likelihood of correct speech recognition for these words and phrases."
  name: Transcription Vocabularies
- description: |-
    An asset refers to a piece of media content that is stored or is being live streamed through the Mux system. An asset always has a duration and one or more tracks (audio, video, and text data).

    The media content of an asset cannot be updated once created, however an asset can be used to create another asset, and can be modified within that process.
  name: Assets
- description: |-
    A Live Stream represents a unique live stream of video being pushed to Mux. It includes configuration details (a Stream Key) for live broadcasting software/hardware and a Playback ID for playing the stream anywhere. Currently, RTMP is the only supported method of ingesting video. Use rtmp://global-live.mux.com:5222/app with the Live Stream's Stream Key for getting the video into Mux, and use https://stream.mux.com with the Live Stream's Playback ID for playback.

    A Live Stream can be used once for a specific event, or re-used forever. If you're building an application like Facebook Live or Twitch, you could create one Live Stream per user. This allows them to configure their broadcasting software once, and the Live Stream Playback ID will always show their latest stream.

    Each RTMP session creates a new video asset automatically. You can set up a webhook to be notified each time a broadcast (or Live Stream RTMP session) begins or ends with the video.live_stream.active and video.live_stream.idle events respectively. Assets that are created from a Live Stream have the same behavior as other Assets you create.

    Learn more about [how to go live in our guides](https://docs.mux.com/docs/live-streaming).
  name: Live Streams
- description: "A URL signing key is used as the secret when signing any Mux URL.\
    \ Mux requires a [JSON Web Token](https://jwt.io/) as the value of the token query\
    \ parameter. The token query parameter must be set for URLs that reference a playback\
    \ ID with a signed playback policy."
  name: URL Signing Keys
- description: |-
    Direct upload allows you to push assets directly to Mux storage instead of needing to go through your own first. When you create a new direct upload, we'll give you back a signed URL for a Google Cloud Storage bucket. Their storage API is S3 compatible, so whatever tool you use to upload to either GCS or S3 should work, just remember you're probably uploading large video files and should [take advantage of things like resumable or multipart uploads](https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload).

    Particularly for customers that deal with a lot of user-generated content, it's common to expect quite a few abandoned uploads. To keep those abandoned uploads from cluttering up your asset lists, we don't create an asset for you until the upload is complete. Once that asset is created, you can expect all of the normal asset-related webhooks.
  name: Direct Uploads
- description: |-
    The Delivery Usage API allows you to get delivery/streaming usage details for each asset and across all assets. Delivery usage details are aggregated every hour at the top of the hour and can be requested for a specified time window within the last 90 days starting at 12 hours prior to when the request is made.

    Assets are ordered by delivery usage starting with the one with the highest usage. Only assets with delivery usage greater than 0 seconds are returned in the response.
  name: Delivery Usage
- description: "Playback Restrictions allows you to set additional rules for playing\
    \ videos. You can set the domains/hostnames allowed to play your videos. For instance,\
    \ viewers can play videos embedded on the `https://example.com` website when you\
    \ set the Playback Restrictions with `example.com` as an allowed domain. Any Video\
    \ requests from other websites are denied."
  name: Playback Restrictions
- description: "Operations related to the manipulation of playback IDs, through which\
    \ users are able to stream videos and live streams from Mux."
  name: Playback ID
- description: "An individual video view tracked by Mux Data. For the full list of\
    \ properties for each view please refer to the table of data fields in the [Export\
    \ raw video view data guide](https://docs.mux.com/guides/data/export-raw-video-view-data)."
  name: Video Views
- description: "Playback errors are tracked and aggregated by Mux Data. Errors can\
    \ be listed by the API, which contains data about the error code, message, and\
    \ how often the error occurred."
  name: Errors
- description: "Deprecated, please refer to the Dimensions APIs."
  name: Filters
- description: "Dimensions are the types of metadata that can be collected for a video\
    \ view. Some dimensions are collected automatically based on the playback or device,\
    \ such as the viewer's Country or the device information. Other dimensions are\
    \ specified by the developer when configuring a Mux Data video view such as the\
    \ video title. The Dimensions APIs allow you to get a list of the supported dimensions\
    \ and their values."
  name: Dimensions
- description: "Exports allow you to download the daily CSV files that are generated\
    \ from the video views that occurred in the previous day. Please contact [support](mailto:support@mux.com)\
    \ for information about enabling exports for your organization."
  name: Exports
- description: |
    Historical metrics are used for tracking KPIs, diagnosing issues, and
    measuring viewers' quality of experience. Metrics are calculated using the
    video views that have been completed and are bucketed on the view end time
    for quality of experience metrics and view start time for engagement
    metrics. Historical metrics provide a large collection of dimensions that
    can be used to aggregate quality of experience based on view metadata. You
    can also easily compare experiences across viewer populations to, for
    example, find issues with specific devices or geographies.

    Historical metrics are similar but not directly comparable to the real-time
    metrics in the Real-time APIs. These metrics are aggregated for long-term
    storage historical reporting and are generated using different viewer
    populations.
  name: Metrics
- description: |
    Monitoring metrics are used for operational monitoring of a video platform.
    The metrics are aggregated in five second intervals, across the views that
    are currently being watched. The real-time metrics' timeline, breakdown,
    and histogram representations are available via the APIs.

    Monitoring metrics are similar but not directly comparable to the historical
    metrics in the Metrics APIs. These metrics are aggregated to provide the most
    operational detail possible used for resolving operational issues.
  name: Monitoring
- description: |
    The Mux Data Real-time API has been deprecated, please refer to the
    Mux Data `Monitoring` APIs which provide the same functionality.
  name: Real-Time
- description: Incidents occur when an anomaly alert is triggered in Mux Data. The
    Incidents API provides operations related to the raising and managing of alerting
    incidents.
  name: Incidents
- description: "Signing keys are used to sign JSON Web Tokens (JWTs) for securing\
    \ certain requests, such as secure playback URLs and access to real-time viewer\
    \ counts in Mux Data. **One signing key can be used to sign multiple requests\
    \ - you probably only need one active at a time.** However, you can create multiple\
    \ signing keys to enable key rotation, creating a new key and deleting the old\
    \ only after any existing signed requests have expired."
  name: Signing Keys
paths:
  /data/v1/dimensions:
    get:
      description: |
        List all available dimensions.

        Note: This API replaces the list-filters API call.
      operationId: list_dimensions
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  advanced:
                  - browser_version
                  - operating_system_version
                  - viewer_device_name
                  - viewer_device_model
                  - viewer_device_category
                  - viewer_device_manufacturer
                  - player_name
                  - player_version
                  - video_series
                  - video_encoding_variant
                  - experiment_name
                  - sub_property_id
                  - asn
                  - cdn
                  - viewer_connection_type
                  - view_session_id
                  - region
                  - viewer_user_id
                  - exit_before_video_start
                  - video_startup_failure
                  - preroll_ad_asset_hostname
                  - preroll_ad_tag_hostname
                  - preroll_played
                  - preroll_requested
                  basic:
                  - browser
                  - operating_system
                  - player_remote_played
                  - player_software
                  - player_software_version
                  - player_mux_plugin_name
                  - player_mux_plugin_version
                  - player_autoplay
                  - player_preload
                  - video_title
                  - video_id
                  - stream_type
                  - source_type
                  - source_hostname
                  - continent_code
                  - country
                  - player_error_code
                  - asset_id
                  - live_stream_id
                  - playback_id
                  - view_drm_type
                  - view_has_ad
                  - custom_1
                  - custom_2
                  - custom_3
                  - custom_4
                  - custom_5
                  - custom_6
                  - custom_7
                  - custom_8
                  - custom_9
                  - custom_10
                timeframe:
                - 1610033879
                - 1610120279
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListDimensionsResponse'
          description: OK
      summary: List Dimensions
      tags:
      - Dimensions
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /data/v1/dimensions/{DIMENSION_ID}:
    get:
      description: |
        Lists the values for a dimension along with a total count of related views.

        Note: This API replaces the list-filter-values API call.
      operationId: list_dimension_values
      parameters:
      - description: ID of the Dimension
        example: abcd1234
        explode: false
        in: path
        name: DIMENSION_ID
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: "Offset by this many pages, of the size of `limit`"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - total_count: 10000
                  value: FR
                - total_count: 5000
                  value: ES
                - total_count: 2000
                  value: PT
                - total_count: 100
                  value: DE
                - total_count: 1
                  value: BE
                timeframe:
                - 1610033976
                - 1610120376
                total_row_count: 5
              schema:
                $ref: '#/components/schemas/ListDimensionValuesResponse'
          description: OK
      summary: Lists the values for a specific dimension
      tags:
      - Dimensions
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /data/v1/errors:
    get:
      description: Returns a list of errors.
      operationId: list_errors
      parameters:
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - code: 100
                  count: 1
                  description: a description for this error
                  id: 1
                  last_seen: 2021-01-08T13:42:39Z
                  message: an error message
                  notes: a helpful note
                  percentage: 30
                timeframe:
                - 1610027061
                - 1610113461
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListErrorsResponse'
          description: OK
      summary: List Errors
      tags:
      - Errors
      x-openapi-router-controller: openapi_server.controllers.errors_controller
  /data/v1/exports:
    get:
      deprecated: true
      description: |
        The API has been replaced by the list-exports-views API call.

        Lists the available video view exports along with URLs to retrieve them.
      operationId: list_exports
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_01.csv.gz?...signature...
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_02.csv.gz?...signature...
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_03.csv.gz?...signature...
                timeframe:
                - 1610024528
                - 1610110928
                total_row_count: 10
              schema:
                $ref: '#/components/schemas/ListExportsResponse'
          description: OK
      summary: List property video view export links
      tags:
      - Exports
      x-openapi-router-controller: openapi_server.controllers.exports_controller
  /data/v1/exports/views:
    get:
      description: Lists the available video view exports along with URLs to retrieve
        them.
      operationId: list_exports_views
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - export_date: 2021-01-03
                  files:
                  - path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_03.csv.gz?...signature...
                    type: csv
                    version: 2
                - export_date: 2021-01-02
                  files:
                  - path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_02.csv.gz?...signature...
                    type: csv
                    version: 2
                - export_date: 2021-01-01
                  files:
                  - path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_01.csv.gz?...signature...
                    type: csv
                    version: 2
                timeframe:
                - 1626296941
                - 1626383341
                total_row_count: 7
              schema:
                $ref: '#/components/schemas/ListVideoViewExportsResponse'
          description: OK
      summary: List available property view exports
      tags:
      - Exports
      x-openapi-router-controller: openapi_server.controllers.exports_controller
  /data/v1/filters:
    get:
      deprecated: true
      description: |
        The API has been replaced by the list-dimensions API call.

        Lists all the filters broken out into basic and advanced.
      operationId: list_filters
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  advanced:
                  - browser_version
                  - operating_system_version
                  - viewer_device_name
                  - viewer_device_model
                  - viewer_device_category
                  - viewer_device_manufacturer
                  - player_name
                  - player_version
                  - video_series
                  - video_encoding_variant
                  - experiment_name
                  - sub_property_id
                  - asn
                  - cdn
                  - viewer_connection_type
                  - view_session_id
                  - region
                  - viewer_user_id
                  - exit_before_video_start
                  - video_startup_failure
                  - preroll_ad_asset_hostname
                  - preroll_ad_tag_hostname
                  - preroll_played
                  - preroll_requested
                  basic:
                  - browser
                  - operating_system
                  - player_remote_played
                  - player_software
                  - player_software_version
                  - player_mux_plugin_name
                  - player_mux_plugin_version
                  - player_autoplay
                  - player_preload
                  - video_title
                  - video_id
                  - stream_type
                  - source_type
                  - source_hostname
                  - continent_code
                  - country
                  - player_error_code
                  - asset_id
                  - live_stream_id
                  - playback_id
                  - view_drm_type
                  - view_has_ad
                  - custom_1
                  - custom_2
                  - custom_3
                  - custom_4
                  - custom_5
                  - custom_6
                  - custom_7
                  - custom_8
                  - custom_9
                  - custom_10
                timeframe:
                - 1610027251
                - 1610113651
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListFiltersResponse'
          description: OK
      summary: List Filters
      tags:
      - Filters
      x-openapi-router-controller: openapi_server.controllers.filters_controller
  /data/v1/filters/{FILTER_ID}:
    get:
      deprecated: true
      description: |
        The API has been replaced by the list-dimension-values API call.

        Lists the values for a filter along with a total count of related views.
      operationId: list_filter_values
      parameters:
      - description: ID of the Filter
        example: abcd1234
        explode: false
        in: path
        name: FILTER_ID
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: "Offset by this many pages, of the size of `limit`"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - total_count: 5
                  value: Chrome
                timeframe:
                - 1610028123
                - 1610114523
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListFilterValuesResponse'
          description: OK
      summary: Lists values for a specific filter
      tags:
      - Filters
      x-openapi-router-controller: openapi_server.controllers.filters_controller
  /data/v1/incidents:
    get:
      description: Returns a list of incidents.
      operationId: list_incidents
      parameters:
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: "Offset by this many pages, of the size of `limit`"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Status to filter incidents by
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - open
          - closed
          - expired
          type: string
        style: form
      - description: Severity to filter incidents by
        explode: true
        in: query
        name: severity
        required: false
        schema:
          enum:
          - warning
          - alert
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - affected_views: 71
                  affected_views_per_hour: 29
                  affected_views_per_hour_on_open: 75
                  breakdowns:
                  - id: abcdef
                    name: error_type_id
                    value: "697070"
                  description: Something is broken
                  error_description: "No seriously, something is really really broken\
                    \ :("
                  id: 4u13td
                  impact: '*71 views* were affected at a rate of *29 per hour*'
                  incident_key: 5312a7c0bbb5d8353bd88602f01fe58eb15e9febac8fd2f0d8ce8f1cb138145c
                  measured_value: 5.9
                  measured_value_on_close: 0.1
                  measurement: error_rate
                  notification_rules: []
                  notifications:
                  - attempted_at: 2021-01-05T09:52:15.119040Z
                    id: 103014
                    queued_at: 2021-01-05T09:52:14.945157Z
                  - attempted_at: 2021-01-05T11:31:08.244462Z
                    id: 102025
                    queued_at: 2021-01-05T11:31:08.061924Z
                  resolved_at: 2021-01-05T11:31:04.000000Z
                  sample_size: 1000
                  sample_size_unit: views
                  severity: alert
                  started_at: 2021-01-05T09:04:46.000000Z
                  status: closed
                  threshold: 5
                - affected_views: 132
                  affected_views_per_hour: 11
                  affected_views_per_hour_on_open: 65
                  breakdowns:
                  - id: abcdef
                    name: video_title
                    value: Layla the dog video 1337
                  - id: abcdef
                    name: error_type_id
                    value: "697065"
                  description: Something else is broken
                  error_description: "Detailed error: On no!"
                  id: rd9579
                  impact: '*132 views* were affected at a rate of *11 per hour*'
                  incident_key: fd9add7a85a013d768f4039f9e726133eddb476c2f16b22ebfe56f18f7c03b27
                  measured_value: 97
                  measured_value_on_close: 1
                  measurement: error_rate
                  notification_rules: []
                  notifications:
                  - attempted_at: 2020-12-31T09:26:19.416919Z
                    id: 102198
                    queued_at: 2020-12-31T09:26:18.987717Z
                  - attempted_at: 2020-12-31T20:23:57.279325Z
                    id: 101269
                    queued_at: 2020-12-31T20:23:56.997068Z
                  resolved_at: 2020-12-31T20:22:54.000000Z
                  sample_size: 100
                  sample_size_unit: views
                  severity: alert
                  started_at: 2020-12-31T07:56:22.000000Z
                  status: closed
                  threshold: 96
                timeframe:
                - 1610035979
                - 1610122379
                total_row_count: 2
              schema:
                $ref: '#/components/schemas/ListIncidentsResponse'
          description: OK
      summary: List Incidents
      tags:
      - Incidents
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /data/v1/incidents/{INCIDENT_ID}:
    get:
      description: Returns the details of an incident.
      operationId: get_incident
      parameters:
      - description: ID of the Incident
        example: abcd1234
        explode: false
        in: path
        name: INCIDENT_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  affected_views: 2026
                  affected_views_per_hour: 84
                  affected_views_per_hour_on_open: 12857
                  breakdowns:
                  - id: abcdef
                    name: error_type_id
                    value: "499680"
                  - id: abcdef
                    name: video_title
                    value: Cute dogs
                  description: This video is erroring a lot
                  error_description: Error Type ID 499680
                  id: g7q2df
                  impact: '*2026 views* were affected at a rate of *84 per hour*'
                  incident_key: 045dfcbefdb68c6003aaf3bf5ed217493772519f28f14d129f95eaff159ea6d6b
                  measured_value: 100
                  measured_value_on_close: 8
                  measurement: error_rate
                  notification_rules: []
                  notifications:
                  - attempted_at: 2020-05-14T17:23:08.034662Z
                    id: 63293
                    queued_at: 2020-05-14T17:23:07.944457Z
                  - attempted_at: 2020-05-13T17:22:30.444389Z
                    id: 62212
                    queued_at: 2020-05-13T17:22:30.354828Z
                  resolved_at: 2020-05-14T17:22:30.000000Z
                  sample_size: 100
                  sample_size_unit: views
                  severity: alert
                  started_at: 2020-05-13T17:21:54.000000Z
                  status: closed
                  threshold: 100
                timeframe:
                - 1610036456
                - 1610122856
                total_row_count: null
              schema:
                $ref: '#/components/schemas/IncidentResponse'
          description: OK
      summary: Get an Incident
      tags:
      - Incidents
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /data/v1/incidents/{INCIDENT_ID}/related:
    get:
      description: Returns all the incidents that seem related to a specific incident.
      operationId: list_related_incidents
      parameters:
      - description: ID of the Incident
        example: abcd1234
        explode: false
        in: path
        name: INCIDENT_ID
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: "Offset by this many pages, of the size of `limit`"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - affected_views: 71
                  affected_views_per_hour: 29
                  affected_views_per_hour_on_open: 75
                  breakdowns:
                  - id: abcdef
                    name: error_type_id
                    value: "697070"
                  description: Something is broken
                  error_description: "No seriously, something is really really broken\
                    \ :("
                  id: 4u13td
                  impact: '*71 views* were affected at a rate of *29 per hour*'
                  incident_key: 5312a7c0bbb5d8353bd88602f01fe58eb15e9febac8fd2f0d8ce8f1cb138145c
                  measured_value: 5.9
                  measured_value_on_close: 0.1
                  measurement: error_rate
                  notification_rules: []
                  notifications:
                  - attempted_at: 2021-01-05T09:52:15.119040Z
                    id: 103014
                    queued_at: 2021-01-05T09:52:14.945157Z
                  - attempted_at: 2021-01-05T11:31:08.244462Z
                    id: 102025
                    queued_at: 2021-01-05T11:31:08.061924Z
                  resolved_at: 2021-01-05T11:31:04.000000Z
                  sample_size: 1000
                  sample_size_unit: views
                  severity: alert
                  started_at: 2021-01-05T09:04:46.000000Z
                  status: closed
                  threshold: 5
                - affected_views: 132
                  affected_views_per_hour: 11
                  affected_views_per_hour_on_open: 65
                  breakdowns:
                  - id: abcdef
                    name: video_title
                    value: Layla the dog video 1337
                  - id: abcdef
                    name: error_type_id
                    value: "697065"
                  description: Something else is broken
                  error_description: "Detailed error: On no!"
                  id: rd9579
                  impact: '*132 views* were affected at a rate of *11 per hour*'
                  incident_key: fd9add7a85a013d768f4039f9e726133eddb476c2f16b22ebfe56f18f7c03b27
                  measured_value: 97
                  measured_value_on_close: 1
                  measurement: error_rate
                  notification_rules: []
                  notifications:
                  - attempted_at: 2020-12-31T09:26:19.416919Z
                    id: 102198
                    queued_at: 2020-12-31T09:26:18.987717Z
                  - attempted_at: 2020-12-31T20:23:57.279325Z
                    id: 101269
                    queued_at: 2020-12-31T20:23:56.997068Z
                  resolved_at: 2020-12-31T20:22:54.000000Z
                  sample_size: 100
                  sample_size_unit: views
                  severity: alert
                  started_at: 2020-12-31T07:56:22.000000Z
                  status: closed
                  threshold: 96
                timeframe:
                - 1610035979
                - 1610122379
                total_row_count: 2
              schema:
                $ref: '#/components/schemas/ListRelatedIncidentsResponse'
          description: OK
      summary: List Related Incidents
      tags:
      - Incidents
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /data/v1/metrics/comparison:
    get:
      description: List all of the values across every breakdown for a specific metric.
      operationId: list_all_metric_values
      parameters:
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Dimension the specified value belongs to
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - asn
          - asset_id
          - browser
          - browser_version
          - cdn
          - continent_code
          - country
          - custom_1
          - custom_2
          - custom_3
          - custom_4
          - custom_5
          - custom_6
          - custom_7
          - custom_8
          - custom_9
          - custom_10
          - exit_before_video_start
          - experiment_name
          - live_stream_id
          - operating_system
          - operating_system_version
          - playback_id
          - player_autoplay
          - player_error_code
          - player_mux_plugin_name
          - player_mux_plugin_version
          - player_name
          - player_preload
          - player_remote_played
          - player_software
          - player_software_version
          - player_version
          - preroll_ad_asset_hostname
          - preroll_ad_tag_hostname
          - preroll_played
          - preroll_requested
          - region
          - source_hostname
          - source_type
          - stream_type
          - sub_property_id
          - video_encoding_variant
          - video_id
          - video_series
          - video_startup_failure
          - video_title
          - view_drm_type
          - view_has_ad
          - view_session_id
          - viewer_connection_type
          - viewer_device_category
          - viewer_device_manufacturer
          - viewer_device_model
          - viewer_device_name
          - viewer_user_id
          type: string
        style: form
      - description: Value to show all available metrics for
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - ended_views: 5
                  name: totals
                  started_views: 6
                  total_playing_time: 503934
                  unique_viewers: 6
                  view_count: 5
                  watch_time: 513934
                - items:
                  - metric: unique_viewers
                    name: Unique Viewers
                    type: number
                    value: 6
                  - metric: playing_time
                    name: Playing Time
                    type: milliseconds
                    value: 503934
                  metric: views
                  name: Views
                  type: number
                  value: 6
                - metric: viewer_experience_score
                  name: Overall Score
                  type: score
                  value: 0.7803472280502319
                - items:
                  - metric: playback_failure_percentage
                    name: Playback Failure Percentage
                    type: percentage
                    value: 0.2
                  - metric: video_startup_failure_percentage
                    name: Video Startup Failure Percentage
                    type: percentage
                    value: 0
                  metric: playback_failure_score
                  name: Playback Failure Score
                  type: score
                  value: 0.8
                - items:
                  - measurement: median
                    metric: video_startup_time
                    name: Video Startup Time (median)
                    type: milliseconds
                    value: 4
                  - measurement: 95th
                    metric: video_startup_time
                    name: Video Startup Time (95th %)
                    type: milliseconds
                    value: 9
                  - measurement: median
                    metric: player_startup_time
                    name: Player Startup Time (median)
                    type: milliseconds
                    value: 52.5625
                  - measurement: 95th
                    metric: player_startup_time
                    name: Player Startup Time (95th %)
                    type: milliseconds
                    value: 60.0625
                  - measurement: median
                    metric: page_load_time
                    name: Page Load Time (median)
                    type: milliseconds
                    value: 122.37890625
                  - measurement: 95th
                    metric: page_load_time
                    name: Page Load Time (95th %)
                    type: milliseconds
                    value: 264.0625
                  - measurement: median
                    metric: aggregate_startup_time
                    name: Aggregate Startup Time (median)
                    type: milliseconds
                    value: 182.25
                  - measurement: 95th
                    metric: aggregate_startup_time
                    name: Aggregate Startup Time (95th %)
                    type: milliseconds
                    value: 319.515625
                  - metric: seek_latency
                    name: Seek Latency
                    type: milliseconds
                    value: 3042
                  - metric: exits_before_video_start
                    name: Exits Before Video Start
                    type: percentage
                    value: 0
                  metric: startup_time_score
                  name: Startup Time Score
                  type: score
                  value: 0.9991008877754212
                - items:
                  - metric: rebuffer_percentage
                    name: Rebuffer Percentage
                    type: percentage
                    value: 5.564916895943838E-4
                  - metric: rebuffer_frequency
                    name: Rebuffer Frequency
                    type: per_minute
                    value: 0.11674650830651406
                  - measurement: median
                    metric: rebuffer_duration
                    name: Rebuffer Duration (median)
                    type: milliseconds
                    value: 0
                  - measurement: 95th
                    metric: rebuffer_duration
                    name: Rebuffer Duration (95th %)
                    type: milliseconds
                    value: 256
                  - measurement: median
                    metric: rebuffer_count
                    name: Rebuffer Count (median)
                    type: number
                    value: 0
                  - measurement: 95th
                    metric: rebuffer_count
                    name: Rebuffer Count (95th %)
                    type: number
                    value: 1
                  metric: rebuffer_score
                  name: Rebuffer Score
                  type: score
                  value: 0.9523247838020324
                - items:
                  - measurement: median
                    metric: upscale_percentage
                    name: Upscale Percentage (median)
                    type: percentage
                    value: 0
                  - measurement: 95th
                    metric: upscale_percentage
                    name: Upscale Percentage (95th %)
                    type: percentage
                    value: 0
                  - measurement: avg
                    metric: upscale_percentage
                    name: Upscale Percentage (average)
                    type: percentage
                    value: 0
                  - measurement: median
                    metric: downscale_percentage
                    name: Downscale Percentage (median)
                    type: percentage
                    value: 0.007
                  - measurement: 95th
                    metric: downscale_percentage
                    name: Downscale Percentage (95th %)
                    type: percentage
                    value: 0.449
                  - measurement: avg
                    metric: downscale_percentage
                    name: Downscale Percentage (average)
                    type: percentage
                    value: 0.11813909473676262
                  - measurement: median
                    metric: max_upscale_percentage
                    name: Max Upscale Percentage (median)
                    type: percentage
                    value: 0
                  - measurement: 95th
                    metric: max_upscale_percentage
                    name: Max Upscale Percentage (95th %)
                    type: percentage
                    value: 0
                  - measurement: median
                    metric: max_downscale_percentage
                    name: Max Downscale Percentage (median)
                    type: percentage
                    value: 0.007
                  - measurement: 95th
                    metric: max_downscale_percentage
                    name: Max Downscale Percentage (95th %)
                    type: percentage
                    value: 0.449
                  - measurement: median
                    metric: weighted_average_bitrate
                    name: Weighted Average Bitrate (median)
                    type: mbps
                    value: 851582.91015625
                  - measurement: 95th
                    metric: weighted_average_bitrate
                    name: Weighted Average Bitrate (95th %)
                    type: mbps
                    value: 697016.265625
                  - measurement: median
                    metric: live_stream_latency
                    name: Live Stream Latency (median)
                    type: milliseconds
                    value: 2195
                  - measurement: 95th
                    metric: live_stream_latency
                    name: Live Stream Latency (95th %)
                    type: milliseconds
                    value: 3523
                  metric: video_quality_score
                  name: Video Quality Score
                  type: score
                  value: 1
                timeframe:
                - 1610029906
                - 1610116306
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListAllMetricValuesResponse'
          description: OK
      summary: List all metric values
      tags:
      - Metrics
      x-openapi-router-controller: openapi_server.controllers.metrics_controller
  /data/v1/metrics/{METRIC_ID}/breakdown:
    get:
      description: List the breakdown values for a specific metric.
      operationId: list_breakdown_values
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - live_stream_latency
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          - video_startup_failure_percentage
          type: string
        style: simple
      - description: Breakdown value to group the results by
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          enum:
          - asn
          - asset_id
          - browser
          - browser_version
          - cdn
          - continent_code
          - country
          - custom_1
          - custom_2
          - custom_3
          - custom_4
          - custom_5
          - custom_6
          - custom_7
          - custom_8
          - custom_9
          - custom_10
          - exit_before_video_start
          - experiment_name
          - live_stream_id
          - operating_system
          - operating_system_version
          - playback_id
          - player_autoplay
          - player_error_code
          - player_mux_plugin_name
          - player_mux_plugin_version
          - player_name
          - player_preload
          - player_remote_played
          - player_software
          - player_software_version
          - player_version
          - preroll_ad_asset_hostname
          - preroll_ad_tag_hostname
          - preroll_played
          - preroll_requested
          - region
          - source_hostname
          - source_type
          - stream_type
          - sub_property_id
          - video_encoding_variant
          - video_id
          - video_series
          - video_startup_failure
          - video_title
          - view_drm_type
          - view_has_ad
          - view_session_id
          - viewer_connection_type
          - viewer_device_category
          - viewer_device_manufacturer
          - viewer_device_model
          - viewer_device_name
          - viewer_user_id
          type: string
        style: form
      - description: "Measurement for the provided metric. If omitted, the default\
          \ for the metric will be used."
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: "Offset by this many pages, of the size of `limit`"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - field: US
                  negative_impact: 1
                  total_playing_time: 413934
                  total_watch_time: 513934
                  value: 4
                  views: 5
                meta:
                  aggregation: view_end
                timeframe:
                - 1610028298
                - 1610114698
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListBreakdownValuesResponse'
          description: OK
      summary: List breakdown values
      tags:
      - Metrics
      x-openapi-router-controller: openapi_server.controllers.metrics_controller
  /data/v1/metrics/{METRIC_ID}/insights:
    get:
      description: Returns a list of insights for a metric. These are the worst performing
        values across all breakdowns sorted by how much they negatively impact a specific
        metric.
      operationId: list_insights
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - live_stream_latency
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          - video_startup_failure_percentage
          type: string
        style: simple
      - description: "Measurement for the provided metric. If omitted, the default\
          \ for the metric will be used."
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      - deprecated: true
        description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - filter_column: video_title
                  filter_value: ""
                  metric: 9
                  negative_impact_score: -5
                  total_playing_time: 341144
                  total_views: 1
                  total_watch_time: 351144
                - filter_column: country
                  filter_value: US
                  metric: 4
                  negative_impact_score: 0
                  total_views: 5
                  total_watch_time: 513934
                meta:
                  aggregation: view_end
                timeframe:
                - 1610029610
                - 1610116010
                total_row_count: 18
              schema:
                $ref: '#/components/schemas/ListInsightsResponse'
          description: OK
      summary: List Insights
      tags:
      - Metrics
      x-openapi-router-controller: openapi_server.controllers.metrics_controller
  /data/v1/metrics/{METRIC_ID}/overall:
    get:
      description: "Returns the overall value for a specific metric, as well as the\
        \ total view count, watch time, and the Mux Global metric value for the metric."
      operationId: get_overall_values
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - live_stream_latency
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          - video_startup_failure_percentage
          type: string
        style: simple
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Measurement for the provided metric. If omitted, the default\
          \ for the metric will be used."
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  global_value: 1169.1832095168065
                  total_playing_time: 413934
                  total_views: 5
                  total_watch_time: 513934
                  value: 4
                meta:
                  aggregation: view_end
                timeframe:
                - 1610029525
                - 1610115925
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/GetOverallValuesResponse'
          description: OK
      summary: Get Overall values
      tags:
      - Metrics
      x-openapi-router-controller: openapi_server.controllers.metrics_controller
  /data/v1/metrics/{METRIC_ID}/timeseries:
    get:
      description: |
        Returns timeseries data for a specific metric.

        Each interval represented in the data array contains an array with the following values:
          * the first element is the interval time
          * the second element is the calculated metric value
          * the third element is the number of views in the interval that have a valid metric value
      operationId: get_metric_timeseries_data
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - live_stream_latency
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          - video_startup_failure_percentage
          type: string
        style: simple
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          Accepted formats are...

            * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`
            * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Filters endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Measurement for the provided metric. If omitted, the default\
          \ for the metric will be used."
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Time granularity to group results by. If this value is omitted, a default granularity is chosen based on the timeframe.

          For timeframes of less than 90 minutes, the default granularity is `minute`. Between 90 minutes and 6 hours, the default granularity is `ten_minutes`. Between 6 hours and 15 days inclusive, the default granularity is `hour`. The granularity of timeframes that exceed 15 days is `day`. This default behavior is subject to change; it is strongly suggested that you explicitly specify the granularity.
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          enum:
          - minute
          - ten_minutes
          - hour
          - day
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - - 2021-01-07T14:00:00Z
                  - "0.8743536882994202"
                  - "154240"
                - - 2021-01-07T15:00:00Z
                  - "0.8929105055911401"
                  - "156056"
                meta:
                  aggregation: view_end
                timeframe:
                - 1610029711
                - 1610116111
                total_row_count: 2
              schema:
                $ref: '#/components/schemas/GetMetricTimeseriesDataResponse'
          description: OK
      summary: Get metric timeseries data
      tags:
      - Metrics
      x-openapi-router-controller: openapi_server.controllers.metrics_controller
  /data/v1/monitoring/dimensions:
    get:
      description: Lists available monitoring dimensions.
      operationId: list_monitoring_dimensions
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - display_name: ASN
                  name: asn
                - display_name: CDN
                  name: cdn
                - display_name: Country
                  name: country
                - display_name: Operating system
                  name: operating_system
                - display_name: Player name
                  name: player_name
                - display_name: Region / State
                  name: region
                - display_name: Stream type
                  name: stream_type
                - display_name: Sub property ID
                  name: sub_property_id
                - display_name: Video series
                  name: video_series
                - display_name: Video title
                  name: video_title
                - display_name: View has ad
                  name: view_has_ad
                timeframe:
                - 1610034823
                - 1610121223
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListMonitoringDimensionsResponse'
          description: OK
      summary: List Monitoring Dimensions
      tags:
      - Monitoring
      x-openapi-router-controller: openapi_server.controllers.monitoring_controller
  /data/v1/monitoring/metrics:
    get:
      description: Lists available monitoring metrics.
      operationId: list_monitoring_metrics
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - display_name: Current Average Bitrate
                  name: current-average-bitrate
                - display_name: Current Concurrent Viewers (CCV)
                  name: current-concurrent-viewers
                - display_name: Current Rebuffering Percentage
                  name: current-rebuffering-percentage
                - display_name: Exits Before Video Start
                  name: exits-before-video-start
                - display_name: Playback Failure Percentage
                  name: playback-failure-percentage
                - display_name: Video Startup Failure Percentage
                  name: video-startup-failure-percentage
                - display_name: Video Startup Time
                  name: video-startup-time
                timeframe:
                - 1610034858
                - 1610121258
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListMonitoringMetricsResponse'
          description: OK
      summary: List Monitoring Metrics
      tags:
      - Monitoring
      x-openapi-router-controller: openapi_server.controllers.monitoring_controller
  /data/v1/monitoring/metrics/{MONITORING_HISTOGRAM_METRIC_ID}/histogram-timeseries:
    get:
      description: Gets histogram timeseries information for a specific metric.
      operationId: get_monitoring_histogram_timeseries
      parameters:
      - description: ID of the Monitoring Histogram Metric
        example: video-startup-time
        explode: false
        in: path
        name: MONITORING_HISTOGRAM_METRIC_ID
        required: true
        schema:
          enum:
          - video-startup-time
          type: string
        style: simple
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Monitoring Dimensions endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - average: 5298.1612903225805
                  bucket_values:
                  - count: 3
                    percentage: 0.0967741935483871
                  - count: 0
                    percentage: 0
                  - count: 0
                    percentage: 0
                  - count: 1
                    percentage: 0.03225806451612903
                  - count: 16
                    percentage: 0.5161290322580645
                  - count: 7
                    percentage: 0.22580645161290322
                  - count: 4
                    percentage: 0.12903225806451613
                  max_percentage: 0.5161290322580645
                  median: 4463
                  p95: 14834
                  sum: 31
                  timestamp: 2021-01-08T15:30:00Z
                - average: 3828.4146341463415
                  bucket_values:
                  - count: 5
                    percentage: 0.12195121951219512
                  - count: 0
                    percentage: 0
                  - count: 0
                    percentage: 0
                  - count: 4
                    percentage: 0.0975609756097561
                  - count: 18
                    percentage: 0.43902439024390244
                  - count: 12
                    percentage: 0.2926829268292683
                  - count: 2
                    percentage: 0.04878048780487805
                  max_percentage: 0.43902439024390244
                  median: 2625
                  p95: 7378
                  sum: 41
                  timestamp: 2021-01-08T15:31:00Z
                meta:
                  bucket_unit: milliseconds
                  buckets:
                  - end: 100
                    start: 0
                  - end: 500
                    start: 100
                  - end: 1000
                    start: 500
                  - end: 2000
                    start: 1000
                  - end: 5000
                    start: 2000
                  - end: 10000
                    start: 5000
                  - end: 15000
                    start: 10000
                timeframe:
                - 1610119800
                - 1610121540
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/GetMonitoringHistogramTimeseriesResponse'
          description: OK
      summary: Get Monitoring Histogram Timeseries
      tags:
      - Monitoring
      x-openapi-router-controller: openapi_server.controllers.monitoring_controller
  /data/v1/monitoring/metrics/{MONITORING_METRIC_ID}/breakdown:
    get:
      description: Gets breakdown information for a specific dimension and metric
        along with the number of concurrent viewers and negative impact score.
      operationId: get_monitoring_breakdown
      parameters:
      - description: ID of the Monitoring Metric
        example: current-concurrent-viewers
        explode: false
        in: path
        name: MONITORING_METRIC_ID
        required: true
        schema:
          enum:
          - current-concurrent-viewers
          - current-rebuffering-percentage
          - exits-before-video-start
          - playback-failure-percentage
          - current-average-bitrate
          - video-startup-failure-percentage
          type: string
        style: simple
      - description: Dimension the specified value belongs to
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - asn
          - cdn
          - country
          - operating_system
          - player_name
          - region
          - stream_type
          - sub_property_id
          - video_series
          - video_title
          - view_has_ad
          type: string
        style: form
      - description: Timestamp to limit results by. This value must be provided as
          a unix timestamp. Defaults to the current unix timestamp.
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Monitoring Dimensions endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - concurrent_viewers: 2680
                  metric_value: 0.008195679660675846
                  negative_impact: 1
                  value: FR
                - concurrent_viewers: 36
                  metric_value: 0.010317417106767573
                  negative_impact: 4
                  value: ES
                - concurrent_viewers: 30
                  metric_value: 0.06408818534303201
                  negative_impact: 2
                  value: RE
                - concurrent_viewers: 26
                  metric_value: 0.008232510579858339
                  negative_impact: 7
                  value: GB
                - concurrent_viewers: 10
                  metric_value: 0
                  negative_impact: 26
                  value: BE
                timeframe:
                - 1610121421
                - 1610121421
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/GetMonitoringBreakdownResponse'
          description: OK
      summary: Get Monitoring Breakdown
      tags:
      - Monitoring
      x-openapi-router-controller: openapi_server.controllers.monitoring_controller
  /data/v1/monitoring/metrics/{MONITORING_METRIC_ID}/breakdown-timeseries:
    get:
      description: Gets timeseries of breakdown information for a specific dimension
        and metric. Each datapoint in the response represents 5 seconds worth of data.
      operationId: get_monitoring_breakdown_timeseries
      parameters:
      - description: ID of the Monitoring Metric
        example: current-concurrent-viewers
        explode: false
        in: path
        name: MONITORING_METRIC_ID
        required: true
        schema:
          enum:
          - current-concurrent-viewers
          - current-rebuffering-percentage
          - exits-before-video-start
          - playback-failure-percentage
          - current-average-bitrate
          - video-startup-failure-percentage
          type: string
        style: simple
      - description: Dimension the specified value belongs to
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - asn
          - cdn
          - country
          - operating_system
          - player_name
          - region
          - stream_type
          - sub_property_id
          - video_series
          - video_title
          - view_has_ad
          type: string
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).

          The default for this is the last 60 seconds of available data. Timeframes larger than 10 minutes are not allowed, and must be within the last 24 hours.
        explode: true
        in: query
        name: "timeframe[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Monitoring Dimensions endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to include in each timestamp's `value` list.

          The default is 10, and the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - date: 2023-05-18T19:36:30Z
                  values:
                  - concurrent_viewers: 2680
                    metric_value: 0.008195679660675846
                    value: FR
                  - concurrent_viewers: 36
                    metric_value: 0.010317417106767573
                    value: ES
                  - concurrent_viewers: 26
                    metric_value: 0.008232510579858339
                    value: GB
                - date: 2023-05-18T19:36:35Z
                  values:
                  - concurrent_viewers: 2690
                    metric_value: 0.00724579660675846
                    value: FR
                  - concurrent_viewers: 35
                    metric_value: 0.014317417106767573
                    value: ES
                  - concurrent_viewers: 24
                    metric_value: 0.007232510579851874
                    value: GB
                timeframe:
                - 1684438590
                - 1684438600
                total_row_count: 2
              schema:
                $ref: '#/components/schemas/GetMonitoringBreakdownTimeseriesResponse'
          description: OK
      summary: Get Monitoring Breakdown Timeseries
      tags:
      - Monitoring
      x-openapi-router-controller: openapi_server.controllers.monitoring_controller
  /data/v1/monitoring/metrics/{MONITORING_METRIC_ID}/timeseries:
    get:
      description: Gets Time series information for a specific metric along with the
        number of concurrent viewers.
      operationId: get_monitoring_timeseries
      parameters:
      - description: ID of the Monitoring Metric
        example: current-concurrent-viewers
        explode: false
        in: path
        name: MONITORING_METRIC_ID
        required: true
        schema:
          enum:
          - current-concurrent-viewers
          - current-rebuffering-percentage
          - exits-before-video-start
          - playback-failure-percentage
          - current-average-bitrate
          - video-startup-failure-percentage
          type: string
        style: simple
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Monitoring Dimensions endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Timestamp to use as the start of the timeseries data. This value
          must be provided as a unix timestamp. Defaults to 30 minutes ago.
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - concurrent_viewers: 2790
                  date: 2021-01-08T15:31:20Z
                  value: 2790
                - concurrent_viewers: 2788
                  date: 2021-01-08T15:31:25Z
                  value: 2788
                - concurrent_viewers: 2791
                  date: 2021-01-08T15:31:30Z
                  value: 2791
                - concurrent_viewers: 2791
                  date: 2021-01-08T15:31:35Z
                  value: 2791
                - concurrent_viewers: 2792
                  date: 2021-01-08T15:31:40Z
                  value: 2792
                timeframe:
                - 1610119880
                - 1610121675
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/GetMonitoringTimeseriesResponse'
          description: OK
      summary: Get Monitoring Timeseries
      tags:
      - Monitoring
      x-openapi-router-controller: openapi_server.controllers.monitoring_controller
  /data/v1/realtime/dimensions:
    get:
      deprecated: true
      description: "Lists available real-time dimensions. This API is now deprecated,\
        \ please use the `List Monitoring Dimensions` API."
      operationId: list_realtime_dimensions
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - display_name: ASN
                  name: asn
                - display_name: CDN
                  name: cdn
                - display_name: Country
                  name: country
                - display_name: Operating system
                  name: operating_system
                - display_name: Player name
                  name: player_name
                - display_name: Region / State
                  name: region
                - display_name: Stream type
                  name: stream_type
                - display_name: Sub property ID
                  name: sub_property_id
                - display_name: Video series
                  name: video_series
                - display_name: Video title
                  name: video_title
                timeframe:
                - 1610034823
                - 1610121223
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListRealTimeDimensionsResponse'
          description: OK
      summary: List Real-Time Dimensions
      tags:
      - Real-Time
      x-openapi-router-controller: openapi_server.controllers.real_time_controller
  /data/v1/realtime/metrics:
    get:
      deprecated: true
      description: "Lists available real-time metrics. This API is now deprecated,\
        \ please use the `List Monitoring Metrics` API."
      operationId: list_realtime_metrics
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - display_name: Current Average Bitrate
                  name: current-average-bitrate
                - display_name: Current Concurrent Viewers (CCV)
                  name: current-concurrent-viewers
                - display_name: Current Rebuffering Percentage
                  name: current-rebuffering-percentage
                - display_name: Exits Before Video Start
                  name: exits-before-video-start
                - display_name: Playback Failure Percentage
                  name: playback-failure-percentage
                - display_name: Video Startup Time
                  name: video-startup-time
                timeframe:
                - 1610034858
                - 1610121258
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/ListRealTimeMetricsResponse'
          description: OK
      summary: List Real-Time Metrics
      tags:
      - Real-Time
      x-openapi-router-controller: openapi_server.controllers.real_time_controller
  /data/v1/realtime/metrics/{REALTIME_HISTOGRAM_METRIC_ID}/histogram-timeseries:
    get:
      deprecated: true
      description: "Gets histogram timeseries information for a specific metric. This\
        \ API is now deprecated, please use the `Get Monitoring Histogram Timeseries`\
        \ API."
      operationId: get_realtime_histogram_timeseries
      parameters:
      - description: ID of the Realtime Histogram Metric
        example: video-startup-time
        explode: false
        in: path
        name: REALTIME_HISTOGRAM_METRIC_ID
        required: true
        schema:
          enum:
          - video-startup-time
          type: string
        style: simple
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Monitoring Dimensions endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - average: 5298.1612903225805
                  bucket_values:
                  - count: 3
                    percentage: 0.0967741935483871
                  - count: 0
                    percentage: 0
                  - count: 0
                    percentage: 0
                  - count: 1
                    percentage: 0.03225806451612903
                  - count: 16
                    percentage: 0.5161290322580645
                  - count: 7
                    percentage: 0.22580645161290322
                  - count: 4
                    percentage: 0.12903225806451613
                  max_percentage: 0.5161290322580645
                  median: 4463
                  p95: 14834
                  sum: 31
                  timestamp: 2021-01-08T15:30:00Z
                - average: 3828.4146341463415
                  bucket_values:
                  - count: 5
                    percentage: 0.12195121951219512
                  - count: 0
                    percentage: 0
                  - count: 0
                    percentage: 0
                  - count: 4
                    percentage: 0.0975609756097561
                  - count: 18
                    percentage: 0.43902439024390244
                  - count: 12
                    percentage: 0.2926829268292683
                  - count: 2
                    percentage: 0.04878048780487805
                  max_percentage: 0.43902439024390244
                  median: 2625
                  p95: 7378
                  sum: 41
                  timestamp: 2021-01-08T15:31:00Z
                meta:
                  bucket_unit: milliseconds
                  buckets:
                  - end: 100
                    start: 0
                  - end: 500
                    start: 100
                  - end: 1000
                    start: 500
                  - end: 2000
                    start: 1000
                  - end: 5000
                    start: 2000
                  - end: 10000
                    start: 5000
                  - end: 15000
                    start: 10000
                timeframe:
                - 1610119800
                - 1610121540
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/GetRealTimeHistogramTimeseriesResponse'
          description: OK
      summary: Get Real-Time Histogram Timeseries
      tags:
      - Real-Time
      x-openapi-router-controller: openapi_server.controllers.real_time_controller
  /data/v1/realtime/metrics/{REALTIME_METRIC_ID}/breakdown:
    get:
      deprecated: true
      description: "Gets breakdown information for a specific dimension and metric\
        \ along with the number of concurrent viewers and negative impact score. This\
        \ API is now deprecated, please use the `Get Monitoring Breakdown` API."
      operationId: get_realtime_breakdown
      parameters:
      - description: ID of the Realtime Metric
        example: current-concurrent-viewers
        explode: false
        in: path
        name: REALTIME_METRIC_ID
        required: true
        schema:
          enum:
          - current-concurrent-viewers
          - current-rebuffering-percentage
          - exits-before-video-start
          - playback-failure-percentage
          - current-average-bitrate
          type: string
        style: simple
      - description: Dimension the specified value belongs to
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - asn
          - cdn
          - country
          - operating_system
          - player_name
          - region
          - stream_type
          - sub_property_id
          - video_series
          - video_title
          type: string
        style: form
      - description: Timestamp to limit results by. This value must be provided as
          a unix timestamp. Defaults to the current unix timestamp.
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

          Possible filter names are the same as returned by the List Monitoring Dimensions endpoint.

          Example:

            * `filters[]=operating_system:windows&filters[]=!country:US`
        explode: true
        in: query
        name: "filters[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - concurrent_viewers: 2680
                  metric_value: 0.008195679660675846
                  negative_impact: 1
                  value: FR
                - concurrent_viewers: 36
                  metric_value: 0.010317417106767573
                  negative_impact: 4
                  value: ES
                - concurrent_viewers: 30
                  metric_value: 0.06408818534303201
                  negative_impact: 2
                  value: RE
                - concurrent_viewers: 26
                  metric_value: 0.008232510579858339
                  negative_impact: 7
                  value: GB
                - concurrent_viewers: 10
                  metric_value: 0
                  negative_impact: 26
                  value: BE
                timeframe:
                - 1610121421
                - 1610121421
                total_row_count: 1
              schema:
                $ref: '#/components/schemas/GetRealTimeBreakdownResponse'
          description: OK
      summary: Get Real-Time Breakdown
      tags:
      - Real-Time
      x-openapi-router-controller: openapi_server.controllers.real_time_controller
  /data/v1/realtime/metrics/{REALTIME_METRIC_ID}/timeseries:
    get:
      deprecated: true
      description: "Gets Time series information for a specific metric along with\
        \ the number of concurrent viewers. This API is now deprecated, please use\
        \ the `Get Monitoring Timeseries` API."
      operationId: get_realtime_timeseries
      parameters:
      - description: ID of the Realtime Metric
        example: current-concurrent-viewers
        explode: false
        in: path
        name: REALTIME_METRIC_ID
        required: true
        schema:
          enum:
          - current-concurrent-viewers
          - current-rebuffering-percentage
          - exits-before-video-start
          - playback-failure-percentage
          - current-average-bitrate
          type: string
        style: simple
      - description: |
          Limit the results to rows that match conditions from provided key:value pairs. Must be provided as an array query string parameter.

          To exclude rows that match a certain condition, prepend a `!` character to the dimension.

[...]
