openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "OS management tools that can be used for patch management, patch compliance,\
    \ and configuration management on VM instances."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: OS Config API
  version: v1alpha
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://osconfig.googleapis.com/$discovery/rest?version=v1alpha
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: osconfig
externalDocs:
  url: https://cloud.google.com/compute/docs/osconfig/rest
servers:
- url: https://osconfig.googleapis.com/
tags:
- name: projects
paths:
  /v1alpha/{name}:
    delete:
      description: "Delete the OS policy assignment. This method creates a new revision\
        \ of the OS policy assignment. This method returns a long running operation\
        \ (LRO) that contains the rollout details. The rollout can be cancelled by\
        \ cancelling the LRO. If the LRO completes and is not cancelled, all revisions\
        \ associated with the OS policy assignment are deleted. For more information,\
        \ see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel)."
      operationId: osconfig_projects_locations_os_policy_assignments_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the OS policy assignment to be deleted
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: osconfig_projects_locations_os_policy_assignments_operations_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Inventory view indicating what information should be included\
          \ in the inventory resource. If unspecified, the default view is BASIC."
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - INVENTORY_VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "Update an existing OS policy assignment. This method creates a\
        \ new revision of the OS policy assignment. This method returns a long running\
        \ operation (LRO) that contains the rollout details. The rollout can be cancelled\
        \ by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel)."
      operationId: osconfig_projects_locations_os_policy_assignments_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}`\
          \ This field is ignored when you create an OS policy assignment."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Field mask that controls which fields of the assignment
          should be updated.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OSPolicyAssignment'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1alpha/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: osconfig_projects_locations_os_policy_assignments_operations_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1alpha/{name}:listRevisions:
    get:
      description: List the OS policy assignment revisions for a given OS policy assignment.
      operationId: osconfig_projects_locations_os_policy_assignments_list_revisions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the OS policy assignment to list revisions
          for.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of revisions to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions`
          that indicates where this listing should continue from.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOSPolicyAssignmentRevisionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1alpha/{parent}/instanceOSPoliciesCompliances:
    get:
      description: List OS policies compliance data for all Compute Engine VM instances
        in the specified zone.
      operationId: osconfig_projects_locations_instance_os_policies_compliances_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name. Format: `projects/{project}/locations/{location}`\
          \ For `{project}`, either Compute Engine project-number or project-id can\
          \ be provided."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "If provided, this field specifies the criteria that must be\
          \ met by a `InstanceOSPoliciesCompliance` API resource to be included in\
          \ the response."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A pagination token returned from a previous call to `ListInstanceOSPoliciesCompliances`
          that indicates where this listing should continue from.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstanceOSPoliciesCompliancesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1alpha/{parent}/inventories:
    get:
      description: List inventory data for all VM instances in the specified zone.
      operationId: osconfig_projects_locations_instances_inventories_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-`\
          \ For `{project}`, either `project-number` or `project-id` can be provided."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "If provided, this field specifies the criteria that must be\
          \ met by a `Inventory` API resource to be included in the response."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A pagination token returned from a previous call to `ListInventories`
          that indicates where this listing should continue from.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Inventory view indicating what information should be included\
          \ in the inventory resource. If unspecified, the default view is BASIC."
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - INVENTORY_VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInventoriesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1alpha/{parent}/osPolicyAssignments:
    get:
      description: "List the OS policy assignments under the parent resource. For\
        \ each OS policy assignment, the latest revision is returned."
      operationId: osconfig_projects_locations_os_policy_assignments_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent resource name.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of assignments to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A pagination token returned from a previous call to `ListOSPolicyAssignments`
          that indicates where this listing should continue from.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOSPolicyAssignmentsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Create an OS policy assignment. This method also creates the first\
        \ revision of the OS policy assignment. This method returns a long running\
        \ operation (LRO) that contains the rollout details. The rollout can be cancelled\
        \ by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel)."
      operationId: osconfig_projects_locations_os_policy_assignments_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name in the form: projects/{project}/locations/{location}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The logical name of the OS policy assignment in the\
          \ project with the following restrictions: * Must contain only lowercase\
          \ letters, numbers, and hyphens. * Must start with a letter. * Must be between\
          \ 1-63 characters. * Must end with a number or a letter. * Must be unique\
          \ within the project."
        explode: true
        in: query
        name: osPolicyAssignmentId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OSPolicyAssignment'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1alpha/{parent}/reports:
    get:
      description: List OS policy assignment reports for all Compute Engine VM instances
        in the specified zone.
      operationId: osconfig_projects_locations_instances_os_policy_assignments_reports_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/reports`\
          \ For `{project}`, either `project-number` or `project-id` can be provided.\
          \ For `{instance}`, either `instance-name`, `instance-id`, or `-` can be\
          \ provided. If '-' is provided, the response will include OSPolicyAssignmentReports\
          \ for all instances in the project/location. For `{assignment}`, either\
          \ `assignment-id` or `-` can be provided. If '-' is provided, the response\
          \ will include OSPolicyAssignmentReports for all OSPolicyAssignments in\
          \ the project/location. Either {instance} or {assignment} must be `-`. For\
          \ example: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/-/reports`\
          \ returns all reports for the instance `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/{assignment-id}/reports`\
          \ returns all the reports for the given assignment across all instances.\
          \ `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/-/reports`\
          \ returns all the reports for all assignments across all instances."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "If provided, this field specifies the criteria that must be\
          \ met by the `OSPolicyAssignmentReport` API resource that is included in\
          \ the response."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A pagination token returned from a previous call to the `ListOSPolicyAssignmentReports`
          method that indicates where this listing should continue from.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOSPolicyAssignmentReportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1alpha/{parent}/vulnerabilityReports:
    get:
      description: List vulnerability reports for all VM instances in the specified
        zone.
      operationId: osconfig_projects_locations_instances_vulnerability_reports_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-`\
          \ For `{project}`, either `project-number` or `project-id` can be provided."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "This field supports filtering by the severity level for the\
          \ vulnerability. For a list of severity levels, see [Severity levels for\
          \ vulnerabilities](https://cloud.google.com/container-analysis/docs/container-scanning-overview#severity_levels_for_vulnerabilities).\
          \ The filter field follows the rules described in the [AIP-160](https://google.aip.dev/160)\
          \ guidelines as follows: + **Filter for a specific severity type**: you\
          \ can list reports that contain vulnerabilities that are classified as medium\
          \ by specifying `vulnerabilities.details.severity:MEDIUM`. + **Filter for\
          \ a range of severities** : you can list reports that have vulnerabilities\
          \ that are classified as critical or high by specifying `vulnerabilities.details.severity:HIGH\
          \ OR vulnerabilities.details.severity:CRITICAL`"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A pagination token returned from a previous call to `ListVulnerabilityReports`
          that indicates where this listing should continue from.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVulnerabilityReportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    CVSSv3:
      description: "Common Vulnerability Scoring System version 3. For details, see\
        \ https://www.first.org/cvss/specification-document"
      example:
        exploitabilityScore: 1.4658129
        confidentialityImpact: IMPACT_UNSPECIFIED
        attackComplexity: ATTACK_COMPLEXITY_UNSPECIFIED
        scope: SCOPE_UNSPECIFIED
        attackVector: ATTACK_VECTOR_UNSPECIFIED
        availabilityImpact: IMPACT_UNSPECIFIED
        integrityImpact: IMPACT_UNSPECIFIED
        baseScore: 6.0274563
        privilegesRequired: PRIVILEGES_REQUIRED_UNSPECIFIED
        impactScore: 5.962134
        userInteraction: USER_INTERACTION_UNSPECIFIED
      properties:
        attackComplexity:
          description: This metric describes the conditions beyond the attacker's
            control that must exist in order to exploit the vulnerability.
          enum:
          - ATTACK_COMPLEXITY_UNSPECIFIED
          - ATTACK_COMPLEXITY_LOW
          - ATTACK_COMPLEXITY_HIGH
          title: attackComplexity
          type: string
        attackVector:
          description: This metric reflects the context by which vulnerability exploitation
            is possible.
          enum:
          - ATTACK_VECTOR_UNSPECIFIED
          - ATTACK_VECTOR_NETWORK
          - ATTACK_VECTOR_ADJACENT
          - ATTACK_VECTOR_LOCAL
          - ATTACK_VECTOR_PHYSICAL
          title: attackVector
          type: string
        availabilityImpact:
          description: This metric measures the impact to the availability of the
            impacted component resulting from a successfully exploited vulnerability.
          enum:
          - IMPACT_UNSPECIFIED
          - IMPACT_HIGH
          - IMPACT_LOW
          - IMPACT_NONE
          title: availabilityImpact
          type: string
        baseScore:
          description: The base score is a function of the base metric scores. https://www.first.org/cvss/specification-document#Base-Metrics
          format: float
          title: baseScore
          type: number
        confidentialityImpact:
          description: This metric measures the impact to the confidentiality of the
            information resources managed by a software component due to a successfully
            exploited vulnerability.
          enum:
          - IMPACT_UNSPECIFIED
          - IMPACT_HIGH
          - IMPACT_LOW
          - IMPACT_NONE
          title: confidentialityImpact
          type: string
        exploitabilityScore:
          description: The Exploitability sub-score equation is derived from the Base
            Exploitability metrics. https://www.first.org/cvss/specification-document#2-1-Exploitability-Metrics
          format: float
          title: exploitabilityScore
          type: number
        impactScore:
          description: The Impact sub-score equation is derived from the Base Impact
            metrics.
          format: float
          title: impactScore
          type: number
        integrityImpact:
          description: This metric measures the impact to integrity of a successfully
            exploited vulnerability.
          enum:
          - IMPACT_UNSPECIFIED
          - IMPACT_HIGH
          - IMPACT_LOW
          - IMPACT_NONE
          title: integrityImpact
          type: string
        privilegesRequired:
          description: This metric describes the level of privileges an attacker must
            possess before successfully exploiting the vulnerability.
          enum:
          - PRIVILEGES_REQUIRED_UNSPECIFIED
          - PRIVILEGES_REQUIRED_NONE
          - PRIVILEGES_REQUIRED_LOW
          - PRIVILEGES_REQUIRED_HIGH
          title: privilegesRequired
          type: string
        scope:
          description: The Scope metric captures whether a vulnerability in one vulnerable
            component impacts resources in components beyond its security scope.
          enum:
          - SCOPE_UNSPECIFIED
          - SCOPE_UNCHANGED
          - SCOPE_CHANGED
          title: scope
          type: string
        userInteraction:
          description: "This metric captures the requirement for a human user, other\
            \ than the attacker, to participate in the successful compromise of the\
            \ vulnerable component."
          enum:
          - USER_INTERACTION_UNSPECIFIED
          - USER_INTERACTION_NONE
          - USER_INTERACTION_REQUIRED
          title: userInteraction
          type: string
      title: CVSSv3
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 6
        year: 1
        day: 0
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          title: day
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          title: month
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          title: year
          type: integer
      title: Date
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    FixedOrPercent:
      description: Message encapsulating a value that can be either absolute ("fixed")
        or relative ("percent") to a value.
      example:
        fixed: 0
        percent: 6
      properties:
        fixed:
          description: Specifies a fixed value.
          format: int32
          title: fixed
          type: integer
        percent:
          description: "Specifies the relative value defined as a percentage, which\
            \ will be multiplied by a reference value."
          format: int32
          title: percent
          type: integer
      title: FixedOrPercent
      type: object
    GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata:
      description: OS policy assignment operation metadata provided by OS policy assignment
        API methods that return long running operations.
      properties:
        apiMethod:
          description: The OS policy assignment API method.
          enum:
          - API_METHOD_UNSPECIFIED
          - CREATE
          - UPDATE
          - DELETE
          type: string
        osPolicyAssignment:
          description: "Reference to the `OSPolicyAssignment` API resource. Format:\
            \ `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          type: string
        rolloutStartTime:
          description: Rollout start time
          format: google-datetime
          type: string
        rolloutState:
          description: State of the rollout
          enum:
          - ROLLOUT_STATE_UNSPECIFIED
          - IN_PROGRESS
          - CANCELLING
          - CANCELLED
          - SUCCEEDED
          type: string
        rolloutUpdateTime:
          description: Rollout update time
          format: google-datetime
          type: string
      type: object
    InstanceOSPoliciesCompliance:
      deprecated: true
      description: "This API resource represents the OS policies compliance data for\
        \ a Compute Engine virtual machine (VM) instance at a given point in time.\
        \ A Compute Engine VM can have multiple OS policy assignments, and each assignment\
        \ can have multiple OS policies. As a result, multiple OS policies could be\
        \ applied to a single VM. You can use this API resource to determine both\
        \ the compliance state of your VM as well as the compliance state of an individual\
        \ OS policy. For more information, see [View compliance](https://cloud.google.com/compute/docs/os-configuration-management/view-compliance)."
      example:
        instance: instance
        detailedStateReason: detailedStateReason
        lastComplianceCheckTime: lastComplianceCheckTime
        name: name
        osPolicyCompliances:
        - osPolicyResourceCompliances:
          - osPolicyResourceId: osPolicyResourceId
            execResourceOutput:
              enforcementOutput: enforcementOutput
            configSteps:
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          - osPolicyResourceId: osPolicyResourceId
            execResourceOutput:
              enforcementOutput: enforcementOutput
            configSteps:
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          osPolicyId: osPolicyId
          state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          osPolicyAssignment: osPolicyAssignment
        - osPolicyResourceCompliances:
          - osPolicyResourceId: osPolicyResourceId
            execResourceOutput:
              enforcementOutput: enforcementOutput
            configSteps:
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          - osPolicyResourceId: osPolicyResourceId
            execResourceOutput:
              enforcementOutput: enforcementOutput
            configSteps:
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            - errorMessage: errorMessage
              type: TYPE_UNSPECIFIED
              outcome: OUTCOME_UNSPECIFIED
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          osPolicyId: osPolicyId
          state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          osPolicyAssignment: osPolicyAssignment
        detailedState: detailedState
        lastComplianceRunId: lastComplianceRunId
        state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
      properties:
        detailedState:
          description: "Output only. Detailed compliance state of the VM. This field\
            \ is populated only when compliance state is `UNKNOWN`. It may contain\
            \ one of the following values: * `no-compliance-data`: Compliance data\
            \ is not available for this VM. * `no-agent-detected`: OS Config agent\
            \ is not detected for this VM. * `config-not-supported-by-agent`: The\
            \ version of the OS Config agent running on this VM does not support configuration\
            \ management. * `inactive`: VM is not running. * `internal-service-errors`:\
            \ There were internal service errors encountered while enforcing compliance.\
            \ * `agent-errors`: OS config agent encountered errors while enforcing\
            \ compliance."
          readOnly: true
          title: detailedState
          type: string
        detailedStateReason:
          description: Output only. The reason for the `detailed_state` of the VM
            (if any).
          readOnly: true
          title: detailedStateReason
          type: string
        instance:
          description: Output only. The Compute Engine VM instance name.
          readOnly: true
          title: instance
          type: string
        lastComplianceCheckTime:
          description: Output only. Timestamp of the last compliance check for the
            VM.
          format: google-datetime
          readOnly: true
          title: lastComplianceCheckTime
          type: string
        lastComplianceRunId:
          description: Output only. Unique identifier for the last compliance run.
            This id will be logged by the OS config agent during a compliance run
            and can be used for debugging and tracing purpose.
          readOnly: true
          title: lastComplianceRunId
          type: string
        name:
          description: "Output only. The `InstanceOSPoliciesCompliance` API resource\
            \ name. Format: `projects/{project_number}/locations/{location}/instanceOSPoliciesCompliances/{instance_id}`"
          readOnly: true
          title: name
          type: string
        osPolicyCompliances:
          description: Output only. Compliance data for each `OSPolicy` that is applied
            to the VM.
          items:
            $ref: '#/components/schemas/InstanceOSPoliciesComplianceOSPolicyCompliance'
          readOnly: true
          title: osPolicyCompliances
          type: array
        state:
          description: Output only. Compliance state of the VM.
          enum:
          - OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          - COMPLIANT
          - NON_COMPLIANT
          - UNKNOWN
          - NO_OS_POLICIES_APPLICABLE
          readOnly: true
          title: state
          type: string
      title: InstanceOSPoliciesCompliance
      type: object
    InstanceOSPoliciesComplianceOSPolicyCompliance:
      deprecated: true
      description: Compliance data for an OS policy
      example:
        osPolicyResourceCompliances:
        - osPolicyResourceId: osPolicyResourceId
          execResourceOutput:
            enforcementOutput: enforcementOutput
          configSteps:
          - errorMessage: errorMessage
            type: TYPE_UNSPECIFIED
            outcome: OUTCOME_UNSPECIFIED
          - errorMessage: errorMessage
            type: TYPE_UNSPECIFIED
            outcome: OUTCOME_UNSPECIFIED
          state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
        - osPolicyResourceId: osPolicyResourceId
          execResourceOutput:
            enforcementOutput: enforcementOutput
          configSteps:
          - errorMessage: errorMessage
            type: TYPE_UNSPECIFIED
            outcome: OUTCOME_UNSPECIFIED
          - errorMessage: errorMessage
            type: TYPE_UNSPECIFIED
            outcome: OUTCOME_UNSPECIFIED
          state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
        osPolicyId: osPolicyId
        state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
        osPolicyAssignment: osPolicyAssignment
      properties:
        osPolicyAssignment:
          description: "Reference to the `OSPolicyAssignment` API resource that the\
            \ `OSPolicy` belongs to. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          title: osPolicyAssignment
          type: string
        osPolicyId:
          description: The OS policy id
          title: osPolicyId
          type: string
        osPolicyResourceCompliances:
          description: Compliance data for each `OSPolicyResource` that is applied
            to the VM.
          items:
            $ref: '#/components/schemas/OSPolicyResourceCompliance'
          title: osPolicyResourceCompliances
          type: array
        state:
          description: Compliance state of the OS policy.
          enum:
          - OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
          - COMPLIANT
          - NON_COMPLIANT
          - UNKNOWN
          - NO_OS_POLICIES_APPLICABLE
          title: state
          type: string
      title: InstanceOSPoliciesComplianceOSPolicyCompliance
      type: object
    Inventory:
      description: "This API resource represents the available inventory data for\
        \ a Compute Engine virtual machine (VM) instance at a given point in time.\
        \ You can use this API resource to determine the inventory data of your VM.\
        \ For more information, see [Information provided by OS inventory management](https://cloud.google.com/compute/docs/instances/os-inventory-management#data-collected)."
      example:
        osInfo:
          hostname: hostname
          kernelRelease: kernelRelease
          kernelVersion: kernelVersion
          shortName: shortName
          version: version
          architecture: architecture
          longName: longName
          osconfigAgentVersion: osconfigAgentVersion
        name: name
        updateTime: updateTime
        items:
          key:
            originType: ORIGIN_TYPE_UNSPECIFIED
            availablePackage:
              windowsApplication:
                helpLink: helpLink
                installDate:
                  month: 6
                  year: 1
                  day: 0
                displayName: displayName
                displayVersion: displayVersion
                publisher: publisher
              zypperPackage:
                packageName: packageName
                version: version
                architecture: architecture
              qfePackage:
                caption: caption
                description: description
                installTime: installTime
                hotFixId: hotFixId
              zypperPatch:
                patchName: patchName
                severity: severity
                summary: summary
                category: category
              cosPackage:
                packageName: packageName
                version: version
                architecture: architecture
              wuaPackage:
                moreInfoUrls:
                - moreInfoUrls
                - moreInfoUrls
                updateId: updateId
                revisionNumber: 5
                supportUrl: supportUrl
                description: description
                lastDeploymentChangeTime: lastDeploymentChangeTime
                kbArticleIds:
                - kbArticleIds
                - kbArticleIds
                categories:
                - name: name
                  id: id
                - name: name
                  id: id
                title: title
              aptPackage:
                packageName: packageName
                version: version
                architecture: architecture
              googetPackage:
                packageName: packageName
                version: version
                architecture: architecture
              yumPackage:
                packageName: packageName
                version: version
                architecture: architecture
            createTime: createTime
            installedPackage:
              windowsApplication:
                helpLink: helpLink
                installDate:
                  month: 6
                  year: 1
                  day: 0
                displayName: displayName
                displayVersion: displayVersion
                publisher: publisher
              zypperPackage:
                packageName: packageName
                version: version
                architecture: architecture
              qfePackage:
                caption: caption
                description: description
                installTime: installTime
                hotFixId: hotFixId
              zypperPatch:
                patchName: patchName
                severity: severity
                summary: summary
                category: category
              cosPackage:
                packageName: packageName
                version: version
                architecture: architecture
              wuaPackage:
                moreInfoUrls:
                - moreInfoUrls
                - moreInfoUrls
                updateId: updateId
                revisionNumber: 5
                supportUrl: supportUrl
                description: description
                lastDeploymentChangeTime: lastDeploymentChangeTime
                kbArticleIds:
                - kbArticleIds
                - kbArticleIds
                categories:
                - name: name
                  id: id
                - name: name
                  id: id
                title: title
              aptPackage:
                packageName: packageName
                version: version
                architecture: architecture
              googetPackage:
                packageName: packageName
                version: version
                architecture: architecture
              yumPackage:
                packageName: packageName
                version: version
                architecture: architecture
            updateTime: updateTime
            id: id
            type: TYPE_UNSPECIFIED
      properties:
        items:
          additionalProperties:
            $ref: '#/components/schemas/InventoryItem'
          description: "Output only. Inventory items related to the VM keyed by an\
            \ opaque unique identifier for each inventory item. The identifier is\
            \ unique to each distinct and addressable inventory item and will change,\
            \ when there is a new package version."
          readOnly: true
          title: items
          type: object
        name:
          description: "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`"
          readOnly: true
          title: name
          type: string
        osInfo:
          $ref: '#/components/schemas/InventoryOsInfo'
        updateTime:
          description: Output only. Timestamp of the last reported inventory for the
            VM.
          format: google-datetime
          readOnly: true
          title: updateTime
          type: string
      title: Inventory
      type: object
    InventoryItem:
      description: A single piece of inventory on a VM.
      example:
        originType: ORIGIN_TYPE_UNSPECIFIED
        availablePackage:
          windowsApplication:
            helpLink: helpLink
            installDate:
              month: 6
              year: 1
              day: 0
            displayName: displayName
            displayVersion: displayVersion
            publisher: publisher
          zypperPackage:
            packageName: packageName
            version: version
            architecture: architecture
          qfePackage:
            caption: caption
            description: description
            installTime: installTime
            hotFixId: hotFixId
          zypperPatch:
            patchName: patchName
            severity: severity
            summary: summary
            category: category
          cosPackage:
            packageName: packageName
            version: version
            architecture: architecture
          wuaPackage:
            moreInfoUrls:
            - moreInfoUrls
            - moreInfoUrls
            updateId: updateId
            revisionNumber: 5
            supportUrl: supportUrl
            description: description
            lastDeploymentChangeTime: lastDeploymentChangeTime
            kbArticleIds:
            - kbArticleIds
            - kbArticleIds
            categories:
            - name: name
              id: id
            - name: name
              id: id
            title: title
          aptPackage:
            packageName: packageName
            version: version
            architecture: architecture
          googetPackage:
            packageName: packageName
            version: version
            architecture: architecture
          yumPackage:
            packageName: packageName
            version: version
            architecture: architecture
        createTime: createTime
        installedPackage:
          windowsApplication:
            helpLink: helpLink
            installDate:
              month: 6
              year: 1
              day: 0
            displayName: displayName
            displayVersion: displayVersion
            publisher: publisher
          zypperPackage:
            packageName: packageName
            version: version
            architecture: architecture
          qfePackage:
            caption: caption
            description: description
            installTime: installTime
            hotFixId: hotFixId
          zypperPatch:
            patchName: patchName
            severity: severity
            summary: summary
            category: category
          cosPackage:
            packageName: packageName
            version: version
            architecture: architecture
          wuaPackage:
            moreInfoUrls:
            - moreInfoUrls
            - moreInfoUrls
            updateId: updateId
            revisionNumber: 5
            supportUrl: supportUrl
            description: description
            lastDeploymentChangeTime: lastDeploymentChangeTime
            kbArticleIds:
            - kbArticleIds
            - kbArticleIds
            categories:
            - name: name
              id: id
            - name: name
              id: id
            title: title
          aptPackage:
            packageName: packageName
            version: version
            architecture: architecture
          googetPackage:
            packageName: packageName
            version: version
            architecture: architecture
          yumPackage:
            packageName: packageName
            version: version
            architecture: architecture
        updateTime: updateTime
        id: id
        type: TYPE_UNSPECIFIED
      properties:
        availablePackage:
          $ref: '#/components/schemas/InventorySoftwarePackage'
        createTime:
          description: When this inventory item was first detected.
          format: google-datetime
          title: createTime
          type: string
        id:
          description: "Identifier for this item, unique across items for this VM."
          title: id
          type: string
        installedPackage:
          $ref: '#/components/schemas/InventorySoftwarePackage'
        originType:
          description: The origin of this inventory item.
          enum:
          - ORIGIN_TYPE_UNSPECIFIED
          - INVENTORY_REPORT
          title: originType
          type: string
        type:
          description: "The specific type of inventory, correlating to its specific\
            \ details."
          enum:
          - TYPE_UNSPECIFIED
          - INSTALLED_PACKAGE
          - AVAILABLE_PACKAGE
          title: type
          type: string
        updateTime:
          description: When this inventory item was last modified.
          format: google-datetime
          title: updateTime
          type: string
      title: InventoryItem
      type: object
    InventoryOsInfo:
      description: Operating system information for the VM.
      example:
        hostname: hostname
        kernelRelease: kernelRelease
        kernelVersion: kernelVersion
        shortName: shortName
        version: version
        architecture: architecture
        longName: longName
        osconfigAgentVersion: osconfigAgentVersion
      properties:
        architecture:
          description: The system architecture of the operating system.
          title: architecture
          type: string
        hostname:
          description: The VM hostname.
          title: hostname
          type: string
        kernelRelease:
          description: The kernel release of the operating system.
          title: kernelRelease
          type: string
        kernelVersion:
          description: The kernel version of the operating system.
          title: kernelVersion
          type: string
        longName:
          description: The operating system long name. For example 'Debian GNU/Linux
            9' or 'Microsoft Window Server 2019 Datacenter'.
          title: longName
          type: string
        osconfigAgentVersion:
          description: The current version of the OS Config agent running on the VM.
          title: osconfigAgentVersion
          type: string
        shortName:
          description: "The operating system short name. For example, 'windows' or\
            \ 'debian'."
          title: shortName
          type: string
        version:
          description: The version of the operating system.
          title: version
          type: string
      title: InventoryOsInfo
      type: object
    InventorySoftwarePackage:
      description: Software package information of the operating system.
      example:
        windowsApplication:
          helpLink: helpLink
          installDate:
            month: 6
            year: 1
            day: 0
          displayName: displayName
          displayVersion: displayVersion
          publisher: publisher
        zypperPackage:
          packageName: packageName
          version: version
          architecture: architecture
        qfePackage:
          caption: caption
          description: description
          installTime: installTime
          hotFixId: hotFixId
        zypperPatch:
          patchName: patchName
          severity: severity
          summary: summary
          category: category
        cosPackage:
          packageName: packageName
          version: version
          architecture: architecture
        wuaPackage:
          moreInfoUrls:
          - moreInfoUrls
          - moreInfoUrls
          updateId: updateId
          revisionNumber: 5
          supportUrl: supportUrl
          description: description
          lastDeploymentChangeTime: lastDeploymentChangeTime
          kbArticleIds:
          - kbArticleIds
          - kbArticleIds
          categories:
          - name: name
            id: id
          - name: name
            id: id
          title: title
        aptPackage:
          packageName: packageName
          version: version
          architecture: architecture
        googetPackage:
          packageName: packageName
          version: version
          architecture: architecture
        yumPackage:
          packageName: packageName
          version: version
          architecture: architecture
      properties:
        aptPackage:
          $ref: '#/components/schemas/InventoryVersionedPackage'
        cosPackage:
          $ref: '#/components/schemas/InventoryVersionedPackage'
        googetPackage:
          $ref: '#/components/schemas/InventoryVersionedPackage'
        qfePackage:
          $ref: '#/components/schemas/InventoryWindowsQuickFixEngineeringPackage'
        windowsApplication:
          $ref: '#/components/schemas/InventoryWindowsApplication'
        wuaPackage:
          $ref: '#/components/schemas/InventoryWindowsUpdatePackage'
        yumPackage:
          $ref: '#/components/schemas/InventoryVersionedPackage'
        zypperPackage:
          $ref: '#/components/schemas/InventoryVersionedPackage'
        zypperPatch:
          $ref: '#/components/schemas/InventoryZypperPatch'
      title: InventorySoftwarePackage
      type: object
    InventoryVersionedPackage:
      description: "Information related to the a standard versioned package. This\
        \ includes package info for APT, Yum, Zypper, and Googet package managers."
      example:
        packageName: packageName
        version: version
        architecture: architecture
      properties:
        architecture:
          description: The system architecture this package is intended for.
          title: architecture
          type: string
        packageName:
          description: The name of the package.
          title: packageName
          type: string
        version:
          description: The version of the package.
          title: version
          type: string
      title: InventoryVersionedPackage
      type: object
    InventoryWindowsApplication:
      description: "Contains information about a Windows application that is retrieved\
        \ from the Windows Registry. For more information about these fields, see:\
        \ https://docs.microsoft.com/en-us/windows/win32/msi/uninstall-registry-key"
      example:
        helpLink: helpLink
        installDate:
          month: 6
          year: 1
          day: 0
        displayName: displayName
        displayVersion: displayVersion
        publisher: publisher
      properties:
        displayName:
          description: The name of the application or product.
          title: displayName
          type: string
        displayVersion:
          description: The version of the product or application in string format.
          title: displayVersion
          type: string
        helpLink:
          description: The internet address for technical support.
          title: helpLink
          type: string
        installDate:
          $ref: '#/components/schemas/Date'
        publisher:
          description: The name of the manufacturer for the product or application.
          title: publisher
          type: string
      title: InventoryWindowsApplication
      type: object
    InventoryWindowsQuickFixEngineeringPackage:
      description: "Information related to a Quick Fix Engineering package. Fields\
        \ are taken from Windows QuickFixEngineering Interface and match the source\
        \ names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering"
      example:
        caption: caption
        description: description
        installTime: installTime
        hotFixId: hotFixId
      properties:
        caption:
          description: A short textual description of the QFE update.
          title: caption
          type: string
        description:
          description: A textual description of the QFE update.
          title: description
          type: string
        hotFixId:
          description: Unique identifier associated with a particular QFE update.
          title: hotFixId
          type: string
        installTime:
          description: Date that the QFE update was installed. Mapped from installed_on
            field.
          format: google-datetime
          title: installTime
          type: string
      title: InventoryWindowsQuickFixEngineeringPackage
      type: object
    InventoryWindowsUpdatePackage:
      description: "Details related to a Windows Update package. Field data and names\
        \ are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/\
        \ Descriptive fields like title, and description are localized based on the\
        \ locale of the VM being updated."
      example:
        moreInfoUrls:
        - moreInfoUrls
        - moreInfoUrls
        updateId: updateId
        revisionNumber: 5
        supportUrl: supportUrl
        description: description
        lastDeploymentChangeTime: lastDeploymentChangeTime
        kbArticleIds:
        - kbArticleIds
        - kbArticleIds
        categories:
        - name: name
          id: id
        - name: name
          id: id
        title: title
      properties:
        categories:
          description: The categories that are associated with this update package.
          items:
            $ref: '#/components/schemas/InventoryWindowsUpdatePackageWindowsUpdateCategory'
          title: categories
          type: array
        description:
          description: The localized description of the update package.
          title: description
          type: string
        kbArticleIds:
          description: A collection of Microsoft Knowledge Base article IDs that are
            associated with the update package.
          items:
            type: string
          title: kbArticleIds
          type: array
        lastDeploymentChangeTime:
          description: "The last published date of the update, in (UTC) date and time."
          format: google-datetime
          title: lastDeploymentChangeTime
          type: string
        moreInfoUrls:
          description: A collection of URLs that provide more information about the
            update package.
          items:
            type: string
          title: moreInfoUrls
          type: array
        revisionNumber:
          description: The revision number of this update package.
          format: int32
          title: revisionNumber
          type: integer
        supportUrl:
          description: A hyperlink to the language-specific support information for
            the update.
          title: supportUrl
          type: string
        title:
          description: The localized title of the update package.
          title: title
          type: string
        updateId:
          description: Gets the identifier of an update package. Stays the same across
            revisions.
          title: updateId
          type: string
      title: InventoryWindowsUpdatePackage
      type: object
    InventoryWindowsUpdatePackageWindowsUpdateCategory:
      description: Categories specified by the Windows Update.
      example:
        name: name
        id: id
      properties:
        id:
          description: The identifier of the windows update category.
          title: id
          type: string
        name:
          description: The name of the windows update category.
          title: name
          type: string
      title: InventoryWindowsUpdatePackageWindowsUpdateCategory
      type: object
    InventoryZypperPatch:
      description: Details related to a Zypper Patch.
      example:
        patchName: patchName
        severity: severity
        summary: summary
        category: category
      properties:
        category:
          description: The category of the patch.
          title: category
          type: string
        patchName:
          description: The name of the patch.
          title: patchName
          type: string
        severity:
          description: The severity specified for this patch
          title: severity
          type: string
        summary:
          description: Any summary information provided about this patch.
          title: summary
          type: string
      title: InventoryZypperPatch
      type: object
    ListInstanceOSPoliciesCompliancesResponse:
      deprecated: true
      description: A response message for listing OS policies compliance data for
        all Compute Engine VMs in the given location.
      example:
        instanceOsPoliciesCompliances:
        - instance: instance
          detailedStateReason: detailedStateReason
          lastComplianceCheckTime: lastComplianceCheckTime
          name: name
          osPolicyCompliances:
          - osPolicyResourceCompliances:
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyId: osPolicyId
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyAssignment: osPolicyAssignment
          - osPolicyResourceCompliances:
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyId: osPolicyId
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyAssignment: osPolicyAssignment
          detailedState: detailedState
          lastComplianceRunId: lastComplianceRunId
          state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
        - instance: instance
          detailedStateReason: detailedStateReason
          lastComplianceCheckTime: lastComplianceCheckTime
          name: name
          osPolicyCompliances:
          - osPolicyResourceCompliances:
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyId: osPolicyId
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyAssignment: osPolicyAssignment
          - osPolicyResourceCompliances:
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            - osPolicyResourceId: osPolicyResourceId
              execResourceOutput:
                enforcementOutput: enforcementOutput
              configSteps:
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              - errorMessage: errorMessage
                type: TYPE_UNSPECIFIED
                outcome: OUTCOME_UNSPECIFIED
              state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyId: osPolicyId
            state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
            osPolicyAssignment: osPolicyAssignment
          detailedState: detailedState
          lastComplianceRunId: lastComplianceRunId
          state: OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED
        nextPageToken: nextPageToken
      properties:
        instanceOsPoliciesCompliances:
          description: List of instance OS policies compliance objects.
          items:
            $ref: '#/components/schemas/InstanceOSPoliciesCompliance'
[...]
