openapi: 3.0.1
info:
  description: We encapsulate Radio & Music business logic for iPlayer Radio and BBC
    Music products on all platforms. We add value by reliably providing the right
    blend of metadata needed by clients.
  title: Radio & Music Services
  version: 1.0.0
  x-apisguru-categories:
  - media
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/BBC_Radio_logo.svg/140px-BBC_Radio_logo.svg.png
  x-origin:
  - format: swagger
    url: https://rms.api.bbc.co.uk/docs/swagger.json
    version: "2.0"
  x-providerName: bbc.co.uk
servers:
- url: https://rms.api.bbc.co.uk/
tags:
- name: Experience
- description: <a href="https://confluence.dev.bbc.co.uk/display/RMServices/Playspace+API+Client+Documetation">Client
    Documentation</a>
  name: Playspace
- name: Categories
- name: Networks
- name: Broadcasts
- name: Collections
- name: Podcasts
- name: Programmes
- name: Personalised Categories
- name: Personalised Networks
- name: Personalised Plays
- name: Radio
- name: Music
- name: Music Export
paths:
  /broadcasts:
    get:
      description: |
        All broadcasts
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      - description: Filter by Service ID. E.g. bbc_radio_fourfm
        in: query
        name: service_id
        schema:
          type: string
      - description: Filter by date. E.g. 2016-06-17
        in: query
        name: date
        schema:
          type: string
      - description: "Sort by provided query. E.g. 'start_at' sorts in ascending order,\
          \ and '-start_at' sorts in descending order"
        in: query
        name: sort
        schema:
          enum:
          - start_at
          - -start_at
          - end_at
          - -end_at
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Broadcasts
      tags:
      - Broadcasts
      x-accepts:
      - application/json
  /broadcasts/latest:
    get:
      description: |
        Broadcasts for the current day
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      - description: Filter by Service ID. E.g. bbc_radio_fourfm
        in: query
        name: service_id
        schema:
          type: string
      - description: Filter what is on air. E.g. 'now' returns current programme being
          broadcasted.
        in: query
        name: on_air
        schema:
          enum:
          - now
          - previous
          - next
          type: string
      - description: Filter what will be on air next in minutes. E.g. '240' returns
          programmes broadcasted in the next four hurs
        in: query
        name: next
        schema:
          type: string
      - description: Filter what was on air previously in minutes. E.g. '240' returns
          programmes broadcasted in the previous four hurs
        in: query
        name: previous
        schema:
          type: string
      - description: "Sort by provided query. E.g. 'start_at' sorts in ascending order,\
          \ and '-start_at' sorts in descending order"
        in: query
        name: sort
        schema:
          enum:
          - start_at
          - -start_at
          - end_at
          - -end_at
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Latest Broadcasts
      tags:
      - Broadcasts
      x-accepts:
      - application/json
  /broadcasts/{pid}:
    get:
      description: |
        Find broadcast by PID
      operationId: getBroadcastByPid
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: pid
        in: path
        name: pid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Broadcasts by PID
      tags:
      - Broadcasts
      x-accepts:
      - application/json
  /categories:
    get:
      description: |
        Retrieve Categories
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Filter by provided query. E.g. 'promoted' returns promoted categories
        in: query
        name: kind
        schema:
          enum:
          - promoted
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryErrorResponse'
          description: Unexpected error
      summary: List of categories
      tags:
      - Categories
      x-accepts:
      - application/json
  /categories/{id}:
    get:
      description: |
        Retrieve Categories by ID
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Retrieve information about the category. E.g. 'sport-football-europeanchampionship'
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryErrorResponse'
          description: Unexpected error
      summary: Category by ID
      tags:
      - Categories
      x-accepts:
      - application/json
  /collections/{pid}/members:
    get:
      description: |
        Episodes and Clips from Collection
      operationId: getCollectionMembers
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: pid
        in: path
        name: pid
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgrammesResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Collection not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Collection Members
      tags:
      - Collections
      x-accepts:
      - application/json
  /experience/homepage:
    get:
      description: |
        Homepage Experience
      operationId: getExperienceHomepage
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperienceResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Homepage Experience
      tags:
      - Experience
      x-accepts:
      - application/json
  /music/popular/artists:
    get:
      description: |
        List of Most Popular artists from BBC Music.
      operationId: getMusicPopularArtists
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period
          and now
        in: query
        name: since
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since'
          and 'until' date params
        in: query
        name: until
        schema:
          type: string
      - description: "In addition to the overall score, return a list of scores broken\
          \ down by day N.B Must be used in conjunction with since and/or until and\
          \ since is >= 31 days"
        in: query
        name: decomposed
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityArtists'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
          description: Unexpected error
      summary: Popular Artists
      tags:
      - Music
      x-accepts:
      - application/json
  /music/popular/artists/{id}:
    get:
      description: |
        Popularity Artist By Id
      operationId: getMusicPopularArtistById
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period
          and now
        in: query
        name: since
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since'
          and 'until' date params
        in: query
        name: until
        schema:
          type: string
      - description: "In addition to the overall score, return a list of scores broken\
          \ down by day N.B Must be used in conjunction with since and/or until and\
          \ since is >= 31 days"
        in: query
        name: decomposed
        schema:
          type: boolean
      - description: MusicBrainz Id - Used to get single resource score
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityArtists'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
          description: Unexpected error
      summary: Single Artist Popularity
      tags:
      - Music
      x-accepts:
      - application/json
  /music/popular/playlists:
    get:
      description: |
        List of Most Popular playlists from BBC Music.
      operationId: getMusicPopularPlaylists
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period
          and now
        in: query
        name: since
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since'
          and 'until' date params
        in: query
        name: until
        schema:
          type: string
      - description: "In addition to the overall score, return a list of scores broken\
          \ down by day N.B Must be used in conjunction with since and/or until and\
          \ since is >= 31 days"
        in: query
        name: decomposed
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityPlaylists'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
          description: Unexpected error
      summary: Popular Playlists
      tags:
      - Music
      x-accepts:
      - application/json
  /music/popular/playlists/{id}:
    get:
      description: |
        Popular playlist by Id
      operationId: getMusicPopularPlaylistById
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period
          and now
        in: query
        name: since
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since'
          and 'until' date params
        in: query
        name: until
        schema:
          type: string
      - description: "In addition to the overall score, return a list of scores broken\
          \ down by day N.B Must be used in conjunction with since and/or until and\
          \ since is >= 31 days"
        in: query
        name: decomposed
        schema:
          type: boolean
      - description: BBC Music Playlist Id - Used to get single resource score
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityPlaylists'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
          description: Unexpected error
      summary: Single Playlist Popularity
      tags:
      - Music
      x-accepts:
      - application/json
  /music/popular/tracks:
    get:
      description: |
        List of popular tracks for BBC Music. Filter by time, network, artist, playlist or programme.
      operationId: getMusicPopularTracks
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period
          and now
        in: query
        name: since
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since'
          and 'until' date params
        in: query
        name: until
        schema:
          type: string
      - description: Return items with given Network ID
        in: query
        name: network
        schema:
          type: string
      - description: Items with given Programme Pid
        in: query
        name: programme
        schema:
          type: string
      - description: MusicBrainz artist ID
        in: query
        name: artist
        schema:
          type: string
      - description: "In addition to the overall score, return a list of scores broken\
          \ down by day N.B Must be used in conjunction with since and/or until and\
          \ since is >= 31 days"
        in: query
        name: decomposed
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityTracks'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
          description: Unexpected error
      summary: Popular Tracks
      tags:
      - Music
      x-accepts:
      - application/json
  /music/popular/tracks/{id}:
    get:
      description: |
        Popular Track for BBC Music
      operationId: getMusicPopularTrackById
      parameters:
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period
          and now
        in: query
        name: since
        schema:
          type: string
      - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since'
          and 'until' date params
        in: query
        name: until
        schema:
          type: string
      - description: Return items with given Network ID
        in: query
        name: network
        schema:
          type: string
      - description: Items with given Programme Pid
        in: query
        name: programme
        schema:
          type: string
      - description: MusicBrainz artist ID
        in: query
        name: artist
        schema:
          type: string
      - description: "In addition to the overall score, return a list of scores broken\
          \ down by day N.B Must be used in conjunction with since and/or until and\
          \ since is >= 31 days"
        in: query
        name: decomposed
        schema:
          type: boolean
      - description: BBC Music Track Id - Used to get single resource score
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityTracks'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
          description: Unexpected error
      summary: Single Track Popularity
      tags:
      - Music
      x-accepts:
      - application/json
  /my/categories/follows:
    delete:
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_1'
        required: true
      responses:
        "202":
          content: {}
          description: Request successfully sent to UAS.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
      summary: Unfollow category
      tags:
      - Personalised Categories
      x-codegen-request-body-name: Body
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: |
        List of followed categories for a given user.
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedCategoriesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: List of followed categories
      tags:
      - Personalised Categories
      x-accepts:
      - application/json
    post:
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
        required: true
      responses:
        "202":
          content: {}
          description: Request successfully sent to UAS.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
      summary: Follow category
      tags:
      - Personalised Categories
      x-codegen-request-body-name: Body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/export:
    get:
      description: |
        Returns status of all previous third party export actions for a given BBC Music user.
      operationId: getMusicExport
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportJob'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Exports
      tags:
      - Music Export
      x-accepts:
      - application/json
  /my/music/exports/jobs:
    get:
      description: |
        All items associated to a users export request
      operationId: getMusicExportJobs
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Boolean age check
        in: query
        name: over16
        required: true
        schema:
          type: boolean
      - description: Specify Vendor Jobs
        in: query
        name: vendor
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportJob'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Jobs
      tags:
      - Music Export
      x-accepts:
      - application/json
    post:
      description: |
        Create Export Job for a user
      operationId: postMusicExportJob
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Boolean age check
        in: query
        name: over16
        required: true
        schema:
          type: boolean
      - description: Specify Vendor Jobs
        in: query
        name: vendor
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MusicExportJob'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Jobs
      tags:
      - Music Export
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/exports/tracks:
    get:
      description: |
        Retrieves vendor and status specific tracks
      operationId: getMusicExportTracks
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Boolean age check
        in: query
        name: over16
        required: true
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      - description: Specify Vendor Tracks
        in: query
        name: vendor
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      - description: Specify Track status
        in: query
        name: status
        schema:
          enum:
          - failed
          - done
          - pending
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportJob'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Tracks
      tags:
      - Music Export
      x-accepts:
      - application/json
  /my/music/favourites:
    get:
      description: |
        List of favourited tracks and clips for a given user for BBC Music.
      operationId: getPersonalisedMusicFavourites
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      - description: Filters activities based on the type of action
        in: query
        name: action
        schema:
          enum:
          - favourited
          - unfavourited
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Tracks or Clips
      tags:
      - Music
      x-accepts:
      - application/json
    post:
      description: |
        Add multiple tracks and/or clips to a BBC Music user's favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFavouritesBatch
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PersonalisedMusicBatchRequest'
              type: array
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Tracks or Clips
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update tracks or clips from a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFavouritesBatch
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PersonalisedMusicBatchRequest'
              type: array
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Tracks or Clips
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/favourites/{type}:
    get:
      description: |
        List of favourited tracks or clips for a given user for BBC Music.
      operationId: getPersonalisedMusicFavouritesByType
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music favourite types: Clips or Tracks"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - tracks
          type: string
      - description: Filters activities based on the type of action
        in: query
        name: action
        schema:
          enum:
          - favourited
          - unfavourited
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Tracks or Clips by Type
      tags:
      - Music
      x-accepts:
      - application/json
  /my/music/favourites/{type}/{id}:
    delete:
      description: |
        Delete track or clip from a BBC Music user favourites.
      operationId: deletePersonalisedMusicFavouritesByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music favourite types: Clips or Tracks"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - tracks
          type: string
      - description: Clip PID or Track ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Track or Clip
      tags:
      - Music
      x-accepts:
      - application/json
    get:
      description: |
        Check to see if a single track or clip entity is in a users favourites - determines UX of add button.
      operationId: getPersonalisedMusicFavouritesByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music favourite types: Clips or Tracks"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - tracks
          type: string
      - description: Clip PID or Track ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Track or Clip
      tags:
      - Music
      x-accepts:
      - application/json
    post:
      description: |
        Add track or clip to a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFavouritesByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music favourite types: Clips or Tracks"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - tracks
          type: string
      - description: Clip PID or Track ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalisedMusicRequest'
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Track or Clip
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update tracks or clips from a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFavouritesByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music favourite types: Clips or Tracks"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - tracks
          type: string
      - description: Clip PID or Track ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalisedMusicRequest'
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: Favourite Track or Clip
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/follows:
    get:
      description: |
        List of followed networks, categories, artists, playlists and genres for a given user for BBC Music.
      operationId: getPersonalisedMusicFollows
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Filters activities based on the type of action
        in: query
        name: action
        schema:
          enum:
          - followed
          - unfollowed
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Networks, Categories, Artists, Playlists and Genres"
      tags:
      - Music
      x-accepts:
      - application/json
    post:
      description: |
        Add networks, categories, artists, playlists, networks, genres or services in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFollowsBatch
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Filters activities based on the type of action
        in: query
        name: action
        schema:
          enum:
          - followed
          - unfollowed
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PersonalisedMusicBatchRequest'
              type: array
        description: Action followed or unfollowed
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Networks, Categories, Artists, Playlists and Genres"
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update networks, categories, artists, playlists, networks, genres or services in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFollowsBatch
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Filters activities based on the type of action
        in: query
        name: action
        schema:
          enum:
          - followed
          - unfollowed
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PersonalisedMusicBatchRequest'
              type: array
        description: Action followed or unfollowed
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Networks, Categories, Artists, Playlists and Genres"
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/follows/{type}:
    get:
      description: |
        List of followed networks, categories, artists, playlists, networks, genres, categories or services for a given BBC Music user.
      operationId: getPersonalisedMusicFollowsByType
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music follows types: Playlists, Services, Genres &\
          \ Artists"
        in: path
        name: type
        required: true
        schema:
          enum:
          - playlists
          - services
          - networks
          - genres
          - categories
          - artists
          type: string
      - description: Filters activities based on the type of action
        in: query
        name: action
        schema:
          enum:
          - followed
          - unfollowed
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Networks, Categories, Artists, Playlists and Genres by Type"
      tags:
      - Music
      x-accepts:
      - application/json
  /my/music/follows/{type}/{id}:
    delete:
      description: |
        Remove a single network, category, artist, playlist, network, genre or service entity is in a users follows
      operationId: deletePersonalisedMusicFollowsByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music follows types: Playlists, Services, Genres &\
          \ Artists"
        in: path
        name: type
        required: true
        schema:
          enum:
          - playlists
          - services
          - networks
          - genres
          - categories
          - artists
          type: string
      - description: "Playlists, Services, Networks, Genres, Categories or Artists\
          \ ID"
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Network, Category, Artist, Playlist and Genre"
      tags:
      - Music
      x-accepts:
      - application/json
    get:
      description: |
        Check to see if a single network, category, artist, playlist, network, genre or service entity is in a users follows - determines UX of add button.
      operationId: getPersonalisedMusicFollowsByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music follows types: Playlists, Services, Genres &\
          \ Artists"
        in: path
        name: type
        required: true
        schema:
          enum:
          - playlists
          - services
          - networks
          - genres
          - categories
          - artists
          type: string
      - description: "Playlists, Services, Networks, Genres, Categories or Artists\
          \ ID"
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Network, Category, Artist, Playlist and Genre"
      tags:
      - Music
      x-accepts:
      - application/json
    post:
      description: |
        Add a single network, category, artist, playlist, network, genre or service entity is in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFollowsByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music follows types: Playlists, Services, Genres &\
          \ Artists"
        in: path
        name: type
        required: true
        schema:
          enum:
          - playlists
          - services
          - networks
          - genres
          - categories
          - artists
          type: string
      - description: "Playlists, Services, Networks, Genres, Categories or Artists\
          \ ID"
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalisedMusicRequest'
        description: Action followed or unfollowed
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Network, Category, Artist, Playlist and Genre"
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update a single network, category, artist, playlist, network, genre or service entity is in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFollowsByTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Music follows types: Playlists, Services, Genres &\
          \ Artists"
        in: path
        name: type
        required: true
        schema:
          enum:
          - playlists
          - services
          - networks
          - genres
          - categories
          - artists
          type: string
      - description: "Playlists, Services, Networks, Genres, Categories or Artists\
          \ ID"
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Omits music data from the response, defaults to true"
        in: query
        name: music-data
        schema:
          type: boolean
      - description: Specify context to be passed to Music API
        in: query
        name: music_context
        schema:
          enum:
          - events
          - ivote
          - music
          - musicplaylist
          - programmes
          - radio
          - unknown
          type: string
      - description: Specify location to be passed to Music API
        in: query
        name: music_within_uk
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalisedMusicRequest'
        description: Action followed or unfollowed
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
          description: Unexpected error
      summary: "Followed Network, Category, Artist, Playlist and Genre"
      tags:
      - Music
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/preferences/export:
    delete:
      description: |
        Remove export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: deleteMusicPreferencesExport
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Preferences
      tags:
      - Music Export
      x-accepts:
      - application/json
    get:
      description: |
        Returns export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: getMusicPreferencesExport
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportPreferencesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Preferences
      tags:
      - Music Export
      x-accepts:
      - application/json
    post:
      description: |
        Create export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: postMusicPreferencesExport
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicExportPreferences'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportSuccess'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Preferences
      tags:
      - Music Export
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/music/preferences/export/{vendor}:
    delete:
      description: |
        Remove Vendor specific export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: deleteMusicPreferencesExportVendor
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Supported 3rd Party Vendor
        in: path
        name: vendor
        required: true
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Vendor Preferences
      tags:
      - Music Export
      x-accepts:
      - application/json
    get:
      description: |
        Returns vendor specific export preferences for a given BBC Music user.
      operationId: getMusicPreferencesExportVendor
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Supported 3rd Party Vendor
        in: path
        name: vendor
        required: true
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportPreferencesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Vendor Preferences
      tags:
      - Music Export
      x-accepts:
      - application/json
    post:
      description: |
        Create Vendor specific export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: postMusicPreferencesExportVendor
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Supported 3rd Party Vendor
        in: path
        name: vendor
        required: true
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicExportPreferences'
        required: true
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Vendor Preferences
      tags:
      - Music Export
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update vendor specific export preferences for a given BBC Music user.
      operationId: putMusicPreferencesExportVendor
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Supported 3rd Party Vendor
        in: path
        name: vendor
        required: true
        schema:
          enum:
          - spotify
          - deezer
          - youtube
          - itunes
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicExportPreferences'
        required: true
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
          description: Unexpected error
      summary: Music Export Vendor Preferences
      tags:
      - Music Export
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/networks/follows:
    delete:
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_3'
        required: true
      responses:
        "202":
          content: {}
          description: Request successfully sent to UAS.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
      summary: Unfollow network
      tags:
      - Personalised Networks
      x-codegen-request-body-name: Body
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: |
        List of followed networks for a given user.
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedNetworksResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: List of followed networks
      tags:
      - Personalised Networks
      x-accepts:
      - application/json
    post:
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_2'
        required: true
      responses:
        "202":
          content: {}
          description: Request successfully sent to UAS.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
      summary: Follow network
      tags:
      - Personalised Networks
      x-codegen-request-body-name: Body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/plays:
    post:
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_4'
        required: true
      responses:
        "202":
          content: {}
          description: Request successfully sent to UAS.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
      summary: Write Play Event
      tags:
      - Personalised Plays
      x-codegen-request-body-name: Body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/playspace/containers/suggested:
    get:
      description: |
        Suggested Playspace Container
      operationId: suggestContainer
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Clip or Episode PID of the previous or first content item in
          the Playspace stream.
        in: query
        name: previous_pid
        required: true
        schema:
          type: string
      - description: Container ID of the previous container in the Playspace stream.
        in: query
        name: previous_container
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayspaceContainer'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
      summary: Suggested Playspace Container
      tags:
      - Playspace
      x-accepts:
      - application/json
  /my/playspace/containers/{id}:
    get:
      description: |
        Playspace Container by ID
      operationId: getContainer
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Playspace Container ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayspaceContainer'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No Playspace container with given ID could be found.
      summary: Playspace Container by ID
      tags:
      - Playspace
      x-accepts:
      - application/json
  /my/programmes/recommendations:
    get:
      description: |
        Recommended Programmes from the Audience Platforms' Recomendations Service
      operationId: getRecommendations
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      - description: Only return available results for the web/mobile.
        in: query
        name: rights
        required: true
        schema:
          enum:
          - web
          - mobile
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgrammesResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There was an error with the supplied `Authorization` header.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Recommended Programmes
      tags:
      - Programmes
      x-accepts:
      - application/json
  /my/radio/favourites:
    get:
      description: |
        List of favourited episodes and clips for a given user for iPlayer Radio.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFavourites
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      - description: Sort order for Personalised Radio results
        in: query
        name: sort
        schema:
          enum:
          - programme_titles
          - available_from_date
          - available_to_date
          type: string
      - description: Include items which have been 'soft' unfavourited in response.
          I.e items with UAS type of 'unfavourited'
        in: query
        name: show_all_activity
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episodes and Clips
      tags:
      - Radio
      x-accepts:
      - application/json
    post:
      description: |
        Add User favourites

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioBatch
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PersonalisedRadioBatchRequest'
              type: array
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episodes and Clips
      tags:
      - Radio
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update user favourites

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioBatch
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PersonalisedRadioBatchRequest'
              type: array
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episodes and Clips
      tags:
      - Radio
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /my/radio/favourites/{type}:
    get:
      description: |
        List of followed 'clips' or 'episode' items for a given iPlayer Radio user

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFavouritesByType
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Radio favourite types: Clips or Episodes"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - episodes
          type: string
      - description: Sort order for Personalised Radio results
        in: query
        name: sort
        schema:
          enum:
          - programme_titles
          - available_from_date
          - available_to_date
          type: string
      - description: Include items which have been 'soft' unfavourited in response.
          I.e items with UAS type of 'unfavourited'
        in: query
        name: show_all_activity
        schema:
          type: boolean
      - description: Paginated results offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Paginated results limit
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episodes and Clips by Type
      tags:
      - Radio
      x-accepts:
      - application/json
  /my/radio/favourites/{type}/{pid}:
    delete:
      description: |
        Remove User favourite
      operationId: deletePersonalisedRadioByActivityTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Radio favourite types: Clips or Episodes"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - episodes
          type: string
      - description: pid
        in: path
        name: pid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episode or Clip
      tags:
      - Radio
      x-accepts:
      - application/json
    get:
      description: |
        Check to see if a single clip or episode entity is in a users favourites - determines UX of add button.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioByActivityTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Radio favourite types: Clips or Episodes"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - episodes
          type: string
      - description: pid
        in: path
        name: pid
        required: true
        schema:
          type: string
      - description: Include items which have been 'soft' unfavourited in response.
          I.e items with UAS type of 'unfavourited'
        in: query
        name: show_all_activity
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episode or Clip
      tags:
      - Radio
      x-accepts:
      - application/json
    post:
      description: |
        Add User favourite

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioByActivityTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer OAUTH_TOKEN
          type: string
      - description: Authentication type
        in: header
        name: X-Authentication-Provider
        required: true
        schema:
          default: idv5
          type: string
      - description: API_KEY
        in: header
        name: X-API-Key
        required: true
        schema:
          type: string
      - description: "Supported Radio favourite types: Clips or Episodes"
        in: path
        name: type
        required: true
        schema:
          enum:
          - clips
          - episodes
          type: string
      - description: pid
        in: path
        name: pid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalisedRadioRequest'
        description: Action favourited or unfavourited
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
          description: Unexpected error
      summary: Favourite Episode or Clip
      tags:
      - Radio
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update user favourite

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioByActivityTypeById
      parameters:
      - description: Bearer OAUTH_TOKEN
        in: header
        name: Authorization
[...]
