openapi: 3.0.1
info:
  description: REST APIs for Azure Advisor
  title: AdvisorManagementClient
  version: 2016-07-12-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/advisor/resource-manager/Microsoft.Advisor/preview/2016-07-12-preview/advisor.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: advisor
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Advisor/operations:
    get:
      deprecated: false
      description: Lists all the available Advisor REST API operations.
      operationId: operations_list
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
          description: OK.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations:
    post:
      deprecated: false
      description: Initiates the recommendation generation or computation process
        for a subscription. This operation is asynchronous. The generated recommendations
        are stored in a cache in the Advisor service.
      operationId: recommendations_generate
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted.
          headers:
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
            Location:
              description: The URL where the status of the asynchronous operation
                can be checked.
              schema:
                type: string
      tags:
      - GenerateRecommendations
      x-ms-examples:
        GenerateRecommendations:
          parameters:
            api-version: 2016-07-12-preview
            subscriptionId: subscriptionId
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Microsoft.Advisor/generateRecommendations/recGUID?api-version=2016-07-12-preview
                Retry-After: "60"
      x-openapi-router-controller: openapi_server.controllers.generate_recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}:
    get:
      deprecated: false
      description: Retrieves the status of the recommendation computation or generation
        process. Invoke this API after calling the generation recommendation. The
        URI of this API is returned in the Location field of the response header.
      operationId: recommendations_get_generate_recommendations_status
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The operation ID, which can be found from the Location field\
          \ in the generate recommendation response header."
        in: path
        name: operationId
        required: true
        schema:
          format: uuid
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Recommendation generation is in progress.
        "204":
          content: {}
          description: Recommendation generation has been completed.
      tags:
      - GenerateRecommendations
      x-ms-examples:
        PollGenerateRecommendationsStatus:
          parameters:
            api-version: 2016-07-12-preview
            operationId: operationGUID
            subscriptionId: subscriptionId
          responses:
            "202": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.generate_recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations:
    get:
      deprecated: false
      description: Obtains cached recommendations for a subscription. The recommendations
        are generated or computed by invoking generateRecommendations.
      operationId: recommendations_list
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply to the recommendations.
        in: query
        name: $filter
        schema:
          type: string
      - description: The number of recommendations per page if a paged version of
          this API is being used.
        in: query
        name: $top
        schema:
          type: integer
      - description: The page-continuation token to use with a paged version of this
          API.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRecommendationBaseListResult'
          description: OK.
      tags:
      - GetRecommendations
      x-ms-examples:
        ListRecommendations:
          parameters:
            $top: 10
            api-version: 2016-07-12-preview
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Advisor/recommendations?api-version=2016-07-12-preview&$top=10&$skiptoken=skiptoken
                value:
                - id: /resourceUri/providers/Microsoft.Advisor/recommendations/recGUID
                  name: recGUID
                  properties:
                    category: HighAvailability
                    impact: Medium
                    impactedField: Microsoft.Compute/availabilitySets
                    impactedValue: armavset
                    lastUpdated: 2017-02-24T22:24:43.3216408Z
                    risk: Warning
                    shortDescription:
                      problem: This availability set is not configured for fault tolerance
                      solution: To ensure high availability add one or more virtual
                        machines to this availability set
                  type: Microsoft.Advisor/recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions:
    get:
      deprecated: false
      description: Retrieves the list of snoozed or dismissed suppressions for a subscription.
        The snoozed or dismissed attribute of a recommendation is referred to as a
        suppression.
      operationId: suppressions_list
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SuppressionContract'
                type: array
          description: OK.
      tags:
      - Suppressions
      x-ms-examples:
        ListSuppressions:
          parameters:
            api-version: 2016-07-12-preview
            subscriptionId: subscriptionId1
          responses:
            "200":
              body:
              - id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
                name: suppressionName1
                suppressionId: suppressionId1
                ttl: 7.00:00:00
                type: Microsoft.Advisor/suppressions
              - id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName2
                name: suppressionName2
                suppressionId: suppressionId2
                ttl: 7.00:00:00
                type: Microsoft.Advisor/suppressions
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
  /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}:
    get:
      deprecated: false
      description: Obtains details of a cached recommendation.
      operationId: recommendations_get
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRecommendationBase'
          description: OK
      tags:
      - GetRecommendations
      x-ms-examples:
        GetRecommendationDetail:
          parameters:
            api-version: 2016-07-12-preview
            recommendationId: recommendationId
            resourceUri: resourceUri
          responses:
            "200":
              body:
                id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId
                name: recommendationId
                properties:
                  category: HighAvailability
                  impact: Medium
                  impactedField: Microsoft.Compute/availabilitySets
                  impactedValue: armavset
                  lastUpdated: 2017-02-24T22:24:43.3216408Z
                  risk: Warning
                  shortDescription:
                    problem: This availability set is not configured for fault tolerance
                    solution: To ensure high availability add one or more virtual
                      machines to this availability set
                type: Microsoft.Advisor/recommendations
      x-openapi-router-controller: openapi_server.controllers.get_recommendations_controller
  /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}:
    delete:
      deprecated: false
      description: Enables the activation of a snoozed or dismissed recommendation.
        The snoozed or dismissed attribute of a recommendation is referred to as a
        suppression.
      operationId: suppressions_delete
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The name of the suppression.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The recommendation has been activated.
      tags:
      - Suppressions
      x-ms-examples:
        DeleteSuppression:
          parameters:
            api-version: 2016-07-12-preview
            name: suppressionName1
            recommendationId: recommendationId
            resourceUri: resourceUri
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
    get:
      deprecated: false
      description: Obtains the details of a suppression.
      operationId: suppressions_get
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The name of the suppression.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContract'
          description: OK.
      tags:
      - Suppressions
      x-ms-examples:
        GetSuppressionDetail:
          parameters:
            api-version: 2016-07-12-preview
            name: suppressionName1
            recommendationId: recommendationId
            resourceUri: resourceUri
          responses:
            "200":
              body:
                id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
                name: suppressionName1
                suppressionId: suppressionId1
                ttl: 7.00:00:00
                type: Microsoft.Advisor/suppressions
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
    put:
      deprecated: false
      description: Enables the snoozed or dismissed attribute of a recommendation.
        The snoozed or dismissed attribute is referred to as a suppression. Use this
        API to create or update the snoozed or dismissed status of a recommendation.
      operationId: suppressions_create
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The name of the suppression.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressionContract'
        description: "The snoozed or dismissed attribute; for example, the snooze\
          \ duration."
        required: true
        x-body-name: suppressionContract
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContract'
          description: OK.
      tags:
      - Suppressions
      x-ms-examples:
        CreateSuppression:
          parameters:
            api-version: 2016-07-12-preview
            name: suppressionName1
            recommendationId: recommendationId
            resourceUri: resourceUri
            suppressionContract:
              id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
              name: suppressionName1
              ttl: 07:00:00:00
              type: Microsoft.Advisor/suppressions
          responses:
            "200":
              body:
                id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
                name: suppressionName1
                suppressionId: suppresionId
                ttl: 07:00:00:00
                type: Microsoft.Advisor/suppressions
      x-codegen-request-body-name: suppressionContract
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
components:
  parameters:
    apiVersionParameter:
      description: The version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: The Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    OperationDisplayInfo:
      description: The operation supported by Advisor.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          title: description
          type: string
        operation:
          description: "The action that users can perform, based on their permission\
            \ level."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft Advisor."
          title: provider
          type: string
        resource:
          description: Resource on which the operation is performed.
          title: resource
          type: string
      title: OperationDisplayInfo
      type: object
    OperationEntity:
      description: The operation supported by Advisor.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          title: name
          type: string
      title: OperationEntity
      type: object
    OperationEntityListResult:
      description: The list of Advisor operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of operations.
          title: nextLink
          type: string
        value:
          description: The list of operations.
          items:
            $ref: '#/components/schemas/OperationEntity'
          title: value
          type: array
      title: OperationEntityListResult
      type: object
    RecommendationProperties:
      description: The properties of the recommendation.
      example:
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        metadata:
          key: "{}"
        recommendationTypeId: recommendationTypeId
        impact: High
        impactedValue: impactedValue
        risk: Error
        shortDescription:
          problem: problem
          solution: solution
        category: HighAvailability
        impactedField: impactedField
      properties:
        category:
          description: The category of the recommendation.
          enum:
          - HighAvailability
          - Security
          - Performance
          - Cost
          title: category
          type: string
          x-ms-enum:
            modelAsString: true
            name: category
        impact:
          description: The business impact of the recommendation.
          enum:
          - High
          - Medium
          - Low
          title: impact
          type: string
          x-ms-enum:
            modelAsString: true
            name: impact
        impactedField:
          description: The resource type identified by Advisor.
          title: impactedField
          type: string
        impactedValue:
          description: The resource identified by Advisor.
          title: impactedValue
          type: string
        lastUpdated:
          description: The most recent time that Advisor checked the validity of the
            recommendation.
          format: date-time
          title: lastUpdated
          type: string
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: The recommendation metadata.
          title: metadata
          type: object
        recommendationTypeId:
          description: The recommendation-type GUID.
          title: recommendationTypeId
          type: string
        risk:
          description: The potential risk of not implementing the recommendation.
          enum:
          - Error
          - Warning
          - None
          title: risk
          type: string
          x-ms-enum:
            modelAsString: true
            name: risk
        shortDescription:
          $ref: '#/components/schemas/ShortDescription'
      title: RecommendationProperties
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        location:
          description: The location of the resource. This cannot be changed after
            the resource is created.
          title: location
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          title: tags
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceRecommendationBase:
      description: Advisor Recommendation.
      example:
        name: name
        id: id
        suppressionIds:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: type
        properties:
          lastUpdated: 2000-01-23T04:56:07.000+00:00
          metadata:
            key: "{}"
          recommendationTypeId: recommendationTypeId
          impact: High
          impactedValue: impactedValue
          risk: Error
          shortDescription:
            problem: problem
            solution: solution
          category: HighAvailability
          impactedField: impactedField
      properties:
        id:
          description: "The fully qualified recommendation ID, for example /subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.ClassicCompute/virtualMachines/vm1/providers/Microsoft.Advisor/recommendations/recommendationGUID."
          title: id
          type: string
        name:
          description: The name of recommendation.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/RecommendationProperties'
        suppressionIds:
          description: The list of snoozed and dismissed rules for the recommendation.
          items:
            format: uuid
            type: string
          title: suppressionIds
          type: array
        type:
          description: "The recommendation type: Microsoft.Advisor/recommendations."
          title: type
          type: string
      title: ResourceRecommendationBase
      type: object
    ResourceRecommendationBaseListResult:
      description: The list of Advisor recommendations.
      example:
        value:
        - name: name
          id: id
          suppressionIds:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          properties:
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            metadata:
              key: "{}"
            recommendationTypeId: recommendationTypeId
            impact: High
            impactedValue: impactedValue
            risk: Error
            shortDescription:
              problem: problem
              solution: solution
            category: HighAvailability
            impactedField: impactedField
        - name: name
          id: id
          suppressionIds:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          properties:
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            metadata:
              key: "{}"
            recommendationTypeId: recommendationTypeId
            impact: High
            impactedValue: impactedValue
            risk: Error
            shortDescription:
              problem: problem
              solution: solution
            category: HighAvailability
            impactedField: impactedField
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of recommendations.
          title: nextLink
          type: string
        value:
          description: The list of recommendations.
          items:
            $ref: '#/components/schemas/ResourceRecommendationBase'
          title: value
          type: array
      title: ResourceRecommendationBaseListResult
      type: object
    ShortDescription:
      description: A summary of the recommendation.
      example:
        problem: problem
        solution: solution
      properties:
        problem:
          description: The issue or opportunity identified by the recommendation.
          title: problem
          type: string
        solution:
          description: The remediation action suggested by the recommendation.
          title: solution
          type: string
      title: ShortDescription
      type: object
    SuppressionContract:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: "The details of the snoozed or dismissed rule; for example, the\
        \ duration, name, and GUID associated with the rule."
      example:
        suppressionId: suppressionId
        ttl: ttl
      properties:
        suppressionId:
          description: The GUID of the suppression.
          title: suppressionId
          type: string
        ttl:
          description: The duration for which the suppression is valid.
          title: ttl
          type: string
      title: SuppressionContract
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
