openapi: 3.0.1
info:
  description: ARM Databricks
  title: DatabricksClient
  version: 2018-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: databricks
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Databricks/operations:
    get:
      description: Lists all of the available RP operations.
      operationId: Operations_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Provider error response describing why the operation
            failed.
      tags:
      - Operations
      x-ms-examples:
        Operations:
          parameters:
            api-version: 2018-04-01
          responses:
            "200":
              body:
              - display:
                  description: Retrieves a list of workspaces.
                  operation: List Workspaces
                  provider: Microsoft Databricks
                  resource: Workspace
                name: Microsoft.Databricks/workspaces/read
              - display:
                  description: Creates an workspace.
                  operation: Create Workspace
                  provider: Microsoft Databricks
                  resource: Workspace
                name: Microsoft.Databricks/workspaces/write
              - display:
                  description: Removes an workspace.
                  operation: Remove Workspace
                  provider: Microsoft Databricks
                  resource: Workspace
                name: Microsoft.Databricks/workspaces/delete
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Databricks/workspaces:
    get:
      description: Gets all the workspaces within a subscription.
      operationId: Workspaces_ListBySubscription
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: OK - Returns an array of workspaces.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Workspaces
      x-ms-examples:
        Lists workspaces:
          parameters:
            api-version: 2018-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace1
                  location: East US 2
                  name: myWorkspace1
                  properties:
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                  sku:
                    name: skuName
                  type: Microsoft.Databricks/workspaces
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace2
                  location: East US 2
                  name: myWorkspace2
                  properties:
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                  sku:
                    name: skuName
                  type: Microsoft.Databricks/workspaces
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces:
    get:
      description: Gets all the workspaces within a resource group.
      operationId: Workspaces_ListByResourceGroup
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: OK - Returns an array of workspaces.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Workspaces
      x-ms-examples:
        Lists workspaces:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace1
                  location: East US 2
                  name: myWorkspace1
                  properties:
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                  sku:
                    name: skuName
                  type: Microsoft.Databricks/workspaces
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace2
                  location: East US 2
                  name: myWorkspace2
                  properties:
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                  sku:
                    name: skuName
                  type: Microsoft.Databricks/workspaces
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}:
    delete:
      description: Deletes the workspace.
      operationId: Workspaces_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Workspaces
      x-ms-examples:
        Delete a workspace:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: rg
            subscriptionId: subid
            workspaceName: myWorkspace
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the workspace.
      operationId: Workspaces_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK - Returns the workspace.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Workspaces
      x-ms-examples:
        Get a workspace:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: rg
            subscriptionId: subid
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                name: myWorkspace
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                type: Microsoft.Databricks/workspaces
              headers: {}
            "404": {}
        Get a workspace with custom parameters:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: rg
            subscriptionId: subid
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                name: myWorkspace
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  parameters:
                    amlWorkspaceId:
                      type: String
                      value: ""
                    customPrivateSubnetName:
                      type: String
                      value: PrivateBob
                    customPublicSubnetName:
                      type: String
                      value: PublicSarah
                    customVirtualNetworkId:
                      type: String
                      value: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/myNetwork
                    enableNoPublicIp:
                      type: Bool
                      value: true
                    loadBalancerBackendPoolName:
                      type: String
                      value: ""
                    loadBalancerId:
                      type: String
                      value: ""
                    relayNamespaceName:
                      type: String
                      value: test
                    resourceTags:
                      type: Object
                      value:
                        Environment: Production
                        application: databricks
                        databricks-environment: "true"
                    storageAccountName:
                      type: String
                      value: examplesa99
                    storageAccountSkuName:
                      type: String
                      value: Standard_GRS
                    vnetAddressPrefix:
                      type: String
                      value: "10.139"
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                type: Microsoft.Databricks/workspaces
              headers: {}
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: Updates a workspace.
      operationId: Workspaces_Update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdate'
        description: The update to the workspace.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: Successfully updated the workspace.
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Workspaces
      x-ms-examples:
        Update a workspace's tags.:
          parameters:
            api-version: 2018-04-01
            parameters:
              tags:
                mytag1: myvalue1
            resourceGroupName: rg
            subscriptionId: subid
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                tags:
                  mytag1: myvalue1
                type: Microsoft.Databricks/workspaces
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new workspace.
      operationId: Workspaces_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: Parameters supplied to the create or update a workspace.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: "Created - Returns information about the workspace, including\
            \ provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: "Created - Returns information about the workspace, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Workspaces
      x-ms-examples:
        Create or update workspace:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: westus
              properties:
                managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
            resourceGroupName: rg
            subscriptionId: subid
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                sku:
                  name: skuName
                type: Microsoft.Databricks/workspaces
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                name: myWorkspace
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                sku:
                  name: skuName
                type: Microsoft.Databricks/workspaces
        Create or update workspace with custom parameters:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: westus
              properties:
                managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
            resourceGroupName: rg
            subscriptionId: subid
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  parameters:
                    amlWorkspaceId:
                      type: String
                      value: 11112222-3333-4444-5555-666677778888
                    customPrivateSubnetName:
                      type: String
                      value: PrivateBob
                    customPublicSubnetName:
                      type: String
                      value: PublicSarah
                    customVirtualNetworkId:
                      type: String
                      value: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/myNetwork
                    enableNoPublicIp:
                      type: Bool
                      value: true
                    loadBalancerBackendPoolName:
                      type: String
                      value: CustomBackendAddressPool
                    loadBalancerId:
                      type: String
                      value: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/loadBalancers/lb1
                    relayNamespaceName:
                      type: String
                      value: test
                    resourceTags:
                      type: Object
                      value:
                        hello: world
                    storageAccountName:
                      type: String
                      value: mysa999
                    storageAccountSkuName:
                      type: String
                      value: Standard_GRS
                    vnetAddressPrefix:
                      type: String
                      value: "10.139"
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                sku:
                  name: skuName
                type: Microsoft.Databricks/workspaces
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace
                location: East US 2
                name: myWorkspace
                properties:
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  parameters:
                    amlWorkspaceId:
                      type: String
                      value: 11112222-3333-4444-5555-666677778888
                    customPrivateSubnetName:
                      type: String
                      value: PrivateBob
                    customPublicSubnetName:
                      type: String
                      value: PublicSarah
                    customVirtualNetworkId:
                      type: String
                      value: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/myNetwork
                    enableNoPublicIp:
                      type: Bool
                      value: true
                    loadBalancerBackendPoolName:
                      type: String
                      value: CustomBackendAddressPool
                    loadBalancerId:
                      type: String
                      value: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/loadBalancers/lb1
                    relayNamespaceName:
                      type: String
                      value: test
                    resourceTags:
                      type: Object
                      value:
                        hello: world
                    storageAccountName:
                      type: String
                      value: mysa999
                    storageAccountSkuName:
                      type: String
                      value: Standard_GRS
                    vnetAddressPrefix:
                      type: String
                      value: "10.139"
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/workspaceCreateUiDefinition.json
                sku:
                  name: skuName
                type: Microsoft.Databricks/workspaces
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group. The name is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      schema:
        maxLength: 64
        minLength: 3
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorDetail:
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: The error's code.
          type: string
        message:
          description: A human readable error message.
          type: string
        target:
          description: Indicates which property in the request is responsible for
            the error.
          type: string
      required:
      - code
      - message
      title: Error details.
      type: object
    ErrorInfo:
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: A machine readable error code.
          type: string
        details:
          description: error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        innererror:
          description: Inner error details if they exist.
          type: string
        message:
          description: A human readable error message.
          type: string
      required:
      - code
      - message
      title: The code and message for an error.
      type: object
    ErrorResponse:
      description: Contains details when the response code indicates an error.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorInfo'
      required:
      - error
      title: Error response.
      type: object
    Operation:
      description: REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list Resource Provider operations. It
        contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          type: string
        value:
          description: List of Resource Provider operations supported by the Resource
            Provider resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    ProvisioningState:
      description: Provisioning status of the workspace.
      enum:
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Sku:
      description: SKU for the resource.
      example:
        tier: tier
        name: name
      properties:
        name:
          description: The SKU name.
          type: string
        tier:
          description: The SKU tier.
          type: string
      required:
      - name
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        location:
          description: The geo-location where the resource lives
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
      required:
      - location
    Workspace:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Information about workspace.
      example:
        sku:
          tier: tier
          name: name
        properties:
          uiDefinitionUri: uiDefinitionUri
          managedResourceGroupId: managedResourceGroupId
          authorizations:
          - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          provisioningState: Accepted
          parameters:
            enableNoPublicIp:
              type: null
              value: true
            loadBalancerId:
              type: Bool
              value: value
            resourceTags:
              type: null
              value: "{}"
            loadBalancerBackendPoolName:
              type: Bool
              value: value
            vnetAddressPrefix:
              type: Bool
              value: value
            relayNamespaceName:
              type: Bool
              value: value
            customVirtualNetworkId:
              type: Bool
              value: value
            storageAccountName:
              type: Bool
              value: value
            customPrivateSubnetName:
              type: Bool
              value: value
            amlWorkspaceId:
              type: Bool
              value: value
            storageAccountSkuName:
              type: Bool
              value: value
            customPublicSubnetName:
              type: Bool
              value: value
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - properties
    WorkspaceCustomBooleanParameter:
      description: The value which should be used for this field.
      example:
        type: null
        value: true
      properties:
        type:
          $ref: '#/components/schemas/WorkspaceCustomParameterType'
        value:
          description: The value which should be used for this field.
          type: boolean
      required:
      - value
      type: object
    WorkspaceCustomObjectParameter:
      description: The value which should be used for this field.
      example:
        type: null
        value: "{}"
      properties:
        type:
          $ref: '#/components/schemas/WorkspaceCustomParameterType'
        value:
          description: The value which should be used for this field.
          properties: {}
          type: object
      required:
      - value
      type: object
    WorkspaceCustomParameterType:
      description: Provisioning status of the workspace.
      enum:
      - Bool
      - Object
      - String
      type: string
      x-ms-enum:
        modelAsString: true
        name: CustomParameterType
    WorkspaceCustomParameters:
      description: Custom Parameters used for Cluster Creation.
      example:
        enableNoPublicIp:
          type: null
          value: true
        loadBalancerId:
          type: Bool
          value: value
        resourceTags:
          type: null
          value: "{}"
        loadBalancerBackendPoolName:
          type: Bool
          value: value
        vnetAddressPrefix:
          type: Bool
          value: value
        relayNamespaceName:
          type: Bool
          value: value
        customVirtualNetworkId:
          type: Bool
          value: value
        storageAccountName:
          type: Bool
          value: value
        customPrivateSubnetName:
          type: Bool
          value: value
        amlWorkspaceId:
          type: Bool
          value: value
        storageAccountSkuName:
          type: Bool
          value: value
        customPublicSubnetName:
          type: Bool
          value: value
      properties:
        amlWorkspaceId:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        customPrivateSubnetName:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        customPublicSubnetName:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        customVirtualNetworkId:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        enableNoPublicIp:
          $ref: '#/components/schemas/WorkspaceCustomBooleanParameter'
        loadBalancerBackendPoolName:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        loadBalancerId:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        relayNamespaceName:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        resourceTags:
          $ref: '#/components/schemas/WorkspaceCustomObjectParameter'
        storageAccountName:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        storageAccountSkuName:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
        vnetAddressPrefix:
          $ref: '#/components/schemas/WorkspaceCustomStringParameter'
      type: object
    WorkspaceCustomStringParameter:
      description: The Value.
      example:
        type: Bool
        value: value
      properties:
        type:
          $ref: '#/components/schemas/WorkspaceCustomParameterType'
        value:
          description: The value which should be used for this field.
          type: string
      required:
      - value
      type: object
    WorkspaceListResult:
      description: List of workspaces.
      example:
        value:
        - sku:
            tier: tier
            name: name
          properties:
            uiDefinitionUri: uiDefinitionUri
            managedResourceGroupId: managedResourceGroupId
            authorizations:
            - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            provisioningState: Accepted
            parameters:
              enableNoPublicIp:
                type: null
                value: true
              loadBalancerId:
                type: Bool
                value: value
              resourceTags:
                type: null
                value: "{}"
              loadBalancerBackendPoolName:
                type: Bool
                value: value
              vnetAddressPrefix:
                type: Bool
                value: value
              relayNamespaceName:
                type: Bool
                value: value
              customVirtualNetworkId:
                type: Bool
                value: value
              storageAccountName:
                type: Bool
                value: value
              customPrivateSubnetName:
                type: Bool
                value: value
              amlWorkspaceId:
                type: Bool
                value: value
              storageAccountSkuName:
                type: Bool
                value: value
              customPublicSubnetName:
                type: Bool
                value: value
        - sku:
            tier: tier
            name: name
          properties:
            uiDefinitionUri: uiDefinitionUri
            managedResourceGroupId: managedResourceGroupId
            authorizations:
            - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            provisioningState: Accepted
            parameters:
              enableNoPublicIp:
                type: null
                value: true
              loadBalancerId:
                type: Bool
                value: value
              resourceTags:
                type: null
                value: "{}"
              loadBalancerBackendPoolName:
                type: Bool
                value: value
              vnetAddressPrefix:
                type: Bool
                value: value
              relayNamespaceName:
                type: Bool
                value: value
              customVirtualNetworkId:
                type: Bool
                value: value
              storageAccountName:
                type: Bool
                value: value
              customPrivateSubnetName:
                type: Bool
                value: value
              amlWorkspaceId:
                type: Bool
                value: value
              storageAccountSkuName:
                type: Bool
                value: value
              customPublicSubnetName:
                type: Bool
                value: value
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The array of workspaces.
          items:
            $ref: '#/components/schemas/Workspace'
          type: array
      type: object
    WorkspaceProperties:
      description: The workspace properties.
      example:
        uiDefinitionUri: uiDefinitionUri
        managedResourceGroupId: managedResourceGroupId
        authorizations:
        - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        provisioningState: Accepted
        parameters:
          enableNoPublicIp:
            type: null
            value: true
          loadBalancerId:
            type: Bool
            value: value
          resourceTags:
            type: null
            value: "{}"
          loadBalancerBackendPoolName:
            type: Bool
            value: value
          vnetAddressPrefix:
            type: Bool
            value: value
          relayNamespaceName:
            type: Bool
            value: value
          customVirtualNetworkId:
            type: Bool
            value: value
          storageAccountName:
            type: Bool
            value: value
          customPrivateSubnetName:
            type: Bool
            value: value
          amlWorkspaceId:
            type: Bool
            value: value
          storageAccountSkuName:
            type: Bool
            value: value
          customPublicSubnetName:
            type: Bool
            value: value
      properties:
        authorizations:
          description: The workspace provider authorizations.
          items:
            $ref: '#/components/schemas/WorkspaceProviderAuthorization'
          type: array
        managedResourceGroupId:
          description: The managed resource group Id.
          type: string
        parameters:
          $ref: '#/components/schemas/WorkspaceCustomParameters'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          type: string
      required:
      - managedResourceGroupId
      type: object
    WorkspaceProviderAuthorization:
      description: The workspace provider authorization.
      example:
        roleDefinitionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        principalId:
          description: The provider's principal identifier. This is the identity that
            the provider will use to call ARM to manage the workspace resources.
          format: uuid
          type: string
        roleDefinitionId:
          description: The provider's role definition identifier. This role will define
            all the permissions that the provider must have on the workspace's container
            resource group. This role definition cannot have permission to delete
            the resource group.
          format: uuid
          type: string
      required:
      - principalId
      - roleDefinitionId
      type: object
    WorkspaceUpdate:
      description: An update to a workspace.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          type: string
        provider:
          description: "Service provider: Microsoft.ResourceProvider"
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

