openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Voice
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_voice_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_voice_v1
servers:
- url: https://voice.twilio.com
tags:
- name: VoiceV1ArchivedCall
- name: VoiceV1BulkCountryUpdate
- name: VoiceV1ByocTrunk
- name: VoiceV1ConnectionPolicy
- name: VoiceV1ConnectionPolicyTarget
- name: VoiceV1Country
- name: VoiceV1HighriskSpecialPrefix
- name: VoiceV1IpRecord
- name: VoiceV1Settings
- name: VoiceV1SourceIpMapping
paths:
  /v1/Archives/{Date}/Calls/{Sid}:
    delete:
      description: "Delete an archived call record from Bulk Export. Note: this does\
        \ not also delete the record from the Voice API."
      operationId: DeleteArchivedCall
      parameters:
      - description: The date of the Call in UTC.
        explode: false
        in: path
        name: Date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: The Twilio-provided Call SID that uniquely identifies the Call
          resource to delete
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ArchivedCall
      x-maturity:
      - Beta
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: archived_calls
      pathType: instance
  /v1/ByocTrunks:
    description: "BYOC Trunks allow you to bring your own voice carrier to Twilio,\
      \ enabling your calls to use our Programmable Voice APIs."
    get:
      description: ""
      operationId: ListByocTrunk
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListByocTrunkResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ByocTrunk
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateByocTrunk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateByocTrunkRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.byoc_trunk'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ByocTrunk
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - voice_url
      pathType: list
  /v1/ByocTrunks/{Sid}:
    delete:
      description: ""
      operationId: DeleteByocTrunk
      parameters:
      - description: The Twilio-provided string that uniquely identifies the BYOC
          Trunk resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ByocTrunk
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "BYOC Trunks allow you to bring your own voice carrier to Twilio,\
      \ enabling your calls to use our Programmable Voice APIs."
    get:
      description: ""
      operationId: FetchByocTrunk
      parameters:
      - description: The Twilio-provided string that uniquely identifies the BYOC
          Trunk resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.byoc_trunk'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ByocTrunk
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateByocTrunk
      parameters:
      - description: The Twilio-provided string that uniquely identifies the BYOC
          Trunk resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateByocTrunkRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.byoc_trunk'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ByocTrunk
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - voice_url
      pathType: instance
  /v1/ConnectionPolicies:
    description: Connection Policy for sending traffic to your communications infrastructure.
    get:
      description: ""
      operationId: ListConnectionPolicy
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionPolicyResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicy
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateConnectionPolicy
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConnectionPolicyRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.connection_policy'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicy
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      dependentProperties:
        targets:
          mapping:
            connection_policy_sid: sid
          resource_url: "/v1/ConnectionPolicies/{connection_policy_sid}/Targets"
      pathType: list
  /v1/ConnectionPolicies/{ConnectionPolicySid}/Targets:
    description: Network element entry points into your communications infrastructure
    get:
      description: ""
      operationId: ListConnectionPolicyTarget
      parameters:
      - description: The SID of the Connection Policy from which to read the Targets.
        explode: false
        in: path
        name: ConnectionPolicySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionPolicyTargetResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicyTarget
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateConnectionPolicyTarget
      parameters:
      - description: The SID of the Connection Policy that owns the Target.
        explode: false
        in: path
        name: ConnectionPolicySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConnectionPolicyTargetRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.connection_policy.connection_policy_target'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicyTarget
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      className: connection_policy_target
      defaultOutputProperties:
      - sid
      - friendly_name
      - target
      - enabled
      parent: "/ConnectionPolicies/{Sid}"
      pathType: list
  /v1/ConnectionPolicies/{ConnectionPolicySid}/Targets/{Sid}:
    delete:
      description: ""
      operationId: DeleteConnectionPolicyTarget
      parameters:
      - description: The SID of the Connection Policy that owns the Target.
        explode: false
        in: path
        name: ConnectionPolicySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Target resource
          to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicyTarget
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Network element entry points into your communications infrastructure
    get:
      description: ""
      operationId: FetchConnectionPolicyTarget
      parameters:
      - description: The SID of the Connection Policy that owns the Target.
        explode: false
        in: path
        name: ConnectionPolicySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Target resource
          to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.connection_policy.connection_policy_target'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicyTarget
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateConnectionPolicyTarget
      parameters:
      - description: The SID of the Connection Policy that owns the Target.
        explode: false
        in: path
        name: ConnectionPolicySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the Target resource
          to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConnectionPolicyTargetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.connection_policy.connection_policy_target'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicyTarget
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      className: connection_policy_target
      defaultOutputProperties:
      - sid
      - friendly_name
      - target
      - enabled
      parent: "/ConnectionPolicies/{Sid}"
      pathType: instance
  /v1/ConnectionPolicies/{Sid}:
    delete:
      description: ""
      operationId: DeleteConnectionPolicy
      parameters:
      - description: The unique string that we created to identify the Connection
          Policy resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicy
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Connection Policy for sending traffic to your communications infrastructure.
    get:
      description: ""
      operationId: FetchConnectionPolicy
      parameters:
      - description: The unique string that we created to identify the Connection
          Policy resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.connection_policy'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicy
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateConnectionPolicy
      parameters:
      - description: The unique string that we created to identify the Connection
          Policy resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConnectionPolicyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.connection_policy'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1ConnectionPolicy
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      dependentProperties:
        targets:
          mapping:
            connection_policy_sid: sid
          resource_url: "/v1/ConnectionPolicies/{connection_policy_sid}/Targets"
      pathType: instance
  /v1/DialingPermissions:
    description: "TODO: Resource-level docs"
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      className: dialing_permissions
      defaultOutputProperties: []
      pathType: list
  /v1/DialingPermissions/BulkCountryUpdates:
    description: "TODO: Resource-level docs"
    post:
      description: "Create a bulk update request to change voice dialing country permissions\
        \ of one or more countries identified by the corresponding [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
      operationId: CreateDialingPermissionsCountryBulkUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDialingPermissionsCountryBulkUpdateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country_bulk_update'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1BulkCountryUpdate
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - update_request
      - update_count
      parent: /DialingPermissions
      pathType: list
  /v1/DialingPermissions/Countries:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve all voice dialing country permissions for this account
      operationId: ListDialingPermissionsCountry
      parameters:
      - description: "Filter to retrieve the country permissions by specifying the\
          \ [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
        explode: true
        in: query
        name: IsoCode
        required: false
        schema:
          format: iso-country-code
          type: string
        style: form
      - description: Filter to retrieve the country permissions by specifying the
          continent
        explode: true
        in: query
        name: Continent
        required: false
        schema:
          type: string
        style: form
      - description: "Filter the results by specified [country codes](https://www.itu.int/itudoc/itu-t/ob-lists/icc/e164_763.html)"
        explode: true
        in: query
        name: CountryCode
        required: false
        schema:
          type: string
        style: form
      - description: "Filter to retrieve the country permissions with dialing to low-risk\
          \ numbers enabled. Can be: `true` or `false`."
        explode: true
        in: query
        name: LowRiskNumbersEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter to retrieve the country permissions with dialing to high-risk\
          \ special service numbers enabled. Can be: `true` or `false`"
        explode: true
        in: query
        name: HighRiskSpecialNumbersEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter to retrieve the country permissions with dialing to high-risk\
          \ [toll fraud](https://www.twilio.com/blog/how-to-protect-your-account-from-toll-fraud-with-voice-dialing-geo-permissions-html)\
          \ numbers enabled. Can be: `true` or `false`."
        explode: true
        in: query
        name: HighRiskTollfraudNumbersEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDialingPermissionsCountryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1Country
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - iso_code
      - name
      - continent
      dependentProperties:
        highrisk_special_prefixes:
          mapping:
            iso_code: iso_code
          resource_url: "/v1/DialingPermissions/Countries/{iso_code}/HighRiskSpecialPrefixes"
      parent: /DialingPermissions
      pathType: list
  /v1/DialingPermissions/Countries/{IsoCode}:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve voice dialing country permissions identified by the given
        ISO country code
      operationId: FetchDialingPermissionsCountry
      parameters:
      - description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ of the DialingPermissions Country resource to fetch"
        explode: false
        in: path
        name: IsoCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country-instance'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1Country
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - iso_code
      - name
      - continent
      dependentProperties:
        highrisk_special_prefixes:
          mapping:
            iso_code: iso_code
          resource_url: "/v1/DialingPermissions/Countries/{iso_code}/HighRiskSpecialPrefixes"
      parent: /DialingPermissions
      pathType: instance
  /v1/DialingPermissions/Countries/{IsoCode}/HighRiskSpecialPrefixes:
    description: "TODO: Resource-level docs"
    get:
      description: "Fetch the high-risk special services prefixes from the country\
        \ resource corresponding to the [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
      operationId: ListDialingPermissionsHrsPrefixes
      parameters:
      - description: "The [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ to identify the country permissions from which high-risk special service\
          \ number prefixes are fetched"
        explode: false
        in: path
        name: IsoCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDialingPermissionsHrsPrefixesResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1HighriskSpecialPrefix
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - prefix
      mountName: highrisk_special_prefixes
      parent: "/DialingPermissions/Countries/{IsoCode}"
      pathType: list
  /v1/IpRecords:
    description: "IP Records hold information about the IP addresses and ranges ([CIDR](https://tools.ietf.org/html/rfc4632)\
      \ blocks) that your traffic will be associated with."
    get:
      description: ""
      operationId: ListIpRecord
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIpRecordResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1IpRecord
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateIpRecord
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateIpRecordRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.ip_record'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1IpRecord
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - ip_address
      - cidr_prefix_length
      pathType: list
  /v1/IpRecords/{Sid}:
    delete:
      description: ""
      operationId: DeleteIpRecord
      parameters:
      - description: The Twilio-provided string that uniquely identifies the IP Record
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1IpRecord
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "IP Records hold information about the IP addresses and ranges ([CIDR](https://tools.ietf.org/html/rfc4632)\
      \ blocks) that your traffic will be associated with."
    get:
      description: ""
      operationId: FetchIpRecord
      parameters:
      - description: The Twilio-provided string that uniquely identifies the IP Record
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.ip_record'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1IpRecord
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateIpRecord
      parameters:
      - description: The Twilio-provided string that uniquely identifies the IP Record
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateIpRecordRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.ip_record'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1IpRecord
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - ip_address
      - cidr_prefix_length
      pathType: instance
  /v1/Settings:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve voice dialing permissions inheritance for the sub-account
      operationId: FetchDialingPermissionsSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_settings'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1Settings
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Update voice dialing permissions inheritance for the sub-account
      operationId: UpdateDialingPermissionsSettings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDialingPermissionsSettingsRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_settings'
          description: Accepted
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1Settings
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      className: settings
      defaultOutputProperties:
      - dialing_permissions_inheritance
      parent: /DialingPermissions
      pathType: instance
  /v1/SourceIpMappings:
    description: "With Source IP Mappings, Twilio can recognize your SIP requests\
      \ based on where they are sent from. The Request-URI no longer has to have the\
      \ FQDN (Fully Qualified Domain Name) of your SIP Domain."
    get:
      description: ""
      operationId: ListSourceIpMapping
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSourceIpMappingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1SourceIpMapping
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateSourceIpMapping
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSourceIpMappingRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1SourceIpMapping
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - ip_record_sid
      - sip_domain_sid
      pathType: list
  /v1/SourceIpMappings/{Sid}:
    delete:
      description: ""
      operationId: DeleteSourceIpMapping
      parameters:
      - description: The Twilio-provided string that uniquely identifies the IP Record
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1SourceIpMapping
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "With Source IP Mappings, Twilio can recognize your SIP requests\
      \ based on where they are sent from. The Request-URI no longer has to have the\
      \ FQDN (Fully Qualified Domain Name) of your SIP Domain."
    get:
      description: ""
      operationId: FetchSourceIpMapping
      parameters:
      - description: The Twilio-provided string that uniquely identifies the IP Record
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1SourceIpMapping
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateSourceIpMapping
      parameters:
      - description: The Twilio-provided string that uniquely identifies the IP Record
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSourceIpMappingRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VoiceV1SourceIpMapping
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://voice.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - ip_record_sid
      - sip_domain_sid
      pathType: instance
components:
  schemas:
    voice.v1.archived_call:
      properties:
        date:
          description: The date
          format: date
          nullable: true
          type: string
        sid:
          description: The call sid
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    voice.v1.byoc_trunk:
      example:
        voice_method: HEAD
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        status_callback_method: HEAD
        status_callback_url: https://openapi-generator.tech
        voice_url: https://openapi-generator.tech
        date_created: 2000-01-23T04:56:07.000+00:00
        voice_fallback_method: HEAD
        from_domain_sid: from_domain_sid
        url: https://openapi-generator.tech
        connection_policy_sid: connection_policy_sid
        sid: sid
        cnam_lookup_enabled: true
        voice_fallback_url: https://openapi-generator.tech
        account_sid: account_sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the BYOC Trunk resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        cnam_lookup_enabled:
          description: "Whether Caller ID Name (CNAM) lookup is enabled for the trunk.\
            \ If enabled, all inbound calls to the BYOC Trunk from the United States\
            \ and Canada automatically perform a CNAM Lookup and display Caller ID\
            \ data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM)\
            \ for more information."
          nullable: true
          type: boolean
        connection_policy_sid:
          description: The SID of the Connection Policy that Twilio will use when
            routing traffic to your communications infrastructure.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT that the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT that the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        from_domain_sid:
          description: "The SID of the SIP Domain that should be used in the `From`\
            \ header of originating calls sent to your SIP infrastructure. If your\
            \ SIP infrastructure allows users to \"call back\" an incoming call, configure\
            \ this with a [SIP Domain](https://www.twilio.com/docs/voice/api/sending-sip)\
            \ to ensure proper routing. If not configured, the from domain will default\
            \ to \"sip.twilio.com\"."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^SD[0-9a-fA-F]{32}$"
          type: string
        sid:
          description: The unique string that that we created to identify the BYOC
            Trunk resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BY[0-9a-fA-F]{32}$"
          type: string
        status_callback_method:
          description: The HTTP method we use to call `status_callback_url`. Either
            `GET` or `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        status_callback_url:
          description: The URL that we call to pass status parameters (such as call
            ended) to your application.
          format: uri
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
        voice_fallback_method:
          description: "The HTTP method we use to call `voice_fallback_url`. Can be:\
            \ `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        voice_fallback_url:
          description: The URL that we call when an error occurs while retrieving
            or executing the TwiML requested from `voice_url`.
          format: uri
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        voice_method:
          description: "The HTTP method we use to call `voice_url`. Can be: `GET`\
            \ or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        voice_url:
          description: The URL we call using the `voice_method` when the BYOC Trunk
            receives a call.
          format: uri
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
      type: object
    voice.v1.connection_policy:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Connection Policy resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        sid:
          description: The unique string that we created to identify the Connection
            Policy resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    voice.v1.connection_policy.connection_policy_target:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        weight: 6
        priority: 0
        enabled: true
        url: https://openapi-generator.tech
        connection_policy_sid: connection_policy_sid
        sid: sid
        target: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Target resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        connection_policy_sid:
          description: The SID of the Connection Policy that owns the Target.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        enabled:
          description: Whether the target is enabled. The default is `true`.
          nullable: true
          type: boolean
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        priority:
          description: "The relative importance of the target. Can be an integer from\
            \ 0 to 65535, inclusive, and the default is 10. The lowest number represents\
            \ the most important target."
          nullable: true
          type: integer
        sid:
          description: The unique string that we created to identify the Target resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NE[0-9a-fA-F]{32}$"
          type: string
        target:
          description: The SIP address you want Twilio to route your calls to. This
            must be a `sip:` schema. `sips` is NOT supported.
          format: uri
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
        weight:
          description: "The value that determines the relative share of the load the\
            \ Target should receive compared to other Targets with the same priority.\
            \ Can be an integer from 1 to 65535, inclusive, and the default is 10.\
            \ Targets with higher values receive more load than those with lower ones\
            \ with the same priority."
          nullable: true
          type: integer
      type: object
    voice.v1.dialing_permissions:
      properties: {}
      type: object
    voice.v1.dialing_permissions.dialing_permissions_country:
      example:
        continent: continent
        high_risk_tollfraud_numbers_enabled: true
        high_risk_special_numbers_enabled: true
        low_risk_numbers_enabled: true
        name: name
        country_codes:
        - country_codes
        - country_codes
        links: "{}"
        iso_code: iso_code
        url: https://openapi-generator.tech
      properties:
        continent:
          description: The name of the continent in which the country is located.
          nullable: true
          type: string
        country_codes:
          description: "The E.164 assigned [country codes(s)](https://www.itu.int/itudoc/itu-t/ob-lists/icc/e164_763.html)"
          items:
            type: string
          nullable: true
          type: array
        high_risk_special_numbers_enabled:
          description: "Whether dialing to high-risk special services numbers is enabled.\
            \ These prefixes include number ranges allocated by the country and include\
            \ premium numbers, special services, shared cost, and others"
          nullable: true
          type: boolean
        high_risk_tollfraud_numbers_enabled:
          description: "Whether dialing to high-risk [toll fraud](https://www.twilio.com/blog/how-to-protect-your-account-from-toll-fraud-with-voice-dialing-geo-permissions-html)\
            \ numbers is enabled. These prefixes include narrow number ranges that\
            \ have a high-risk of international revenue sharing fraud (IRSF) attacks,\
            \ also known as [toll fraud](https://www.twilio.com/blog/how-to-protect-your-account-from-toll-fraud-with-voice-dialing-geo-permissions-html).\
            \ These prefixes are collected from anti-fraud databases and verified\
            \ by analyzing calls on our network. These prefixes are not available\
            \ for download and are updated frequently"
          nullable: true
          type: boolean
        iso_code:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          format: iso-country-code
          nullable: true
          type: string
        links:
          description: A list of URLs related to this resource.
          format: uri-map
          nullable: true
          type: object
        low_risk_numbers_enabled:
          description: Whether dialing to low-risk numbers is enabled.
          nullable: true
          type: boolean
        name:
          description: The name of the country.
          nullable: true
          type: string
        url:
          description: The absolute URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    voice.v1.dialing_permissions.dialing_permissions_country-instance:
      example:
        continent: continent
        high_risk_tollfraud_numbers_enabled: true
        high_risk_special_numbers_enabled: true
        low_risk_numbers_enabled: true
        name: name
        country_codes:
        - country_codes
        - country_codes
        links: "{}"
        iso_code: iso_code
        url: https://openapi-generator.tech
      properties:
        continent:
          description: The name of the continent in which the country is located.
          nullable: true
          type: string
        country_codes:
          description: "The E.164 assigned [country codes(s)](https://www.itu.int/itudoc/itu-t/ob-lists/icc/e164_763.html)"
          items:
            type: string
          nullable: true
          type: array
        high_risk_special_numbers_enabled:
          description: "Whether dialing to high-risk special services numbers is enabled.\
            \ These prefixes include number ranges allocated by the country and include\
            \ premium numbers, special services, shared cost, and others"
          nullable: true
          type: boolean
        high_risk_tollfraud_numbers_enabled:
          description: "Whether dialing to high-risk [toll fraud](https://www.twilio.com/blog/how-to-protect-your-account-from-toll-fraud-with-voice-dialing-geo-permissions-html)\
            \ numbers is enabled. These prefixes include narrow number ranges that\
            \ have a high-risk of international revenue sharing fraud (IRSF) attacks,\
            \ also known as [toll fraud](https://www.twilio.com/blog/how-to-protect-your-account-from-toll-fraud-with-voice-dialing-geo-permissions-html).\
            \ These prefixes are collected from anti-fraud databases and verified\
            \ by analyzing calls on our network. These prefixes are not available\
            \ for download and are updated frequently"
          nullable: true
          type: boolean
        iso_code:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          format: iso-country-code
          nullable: true
          type: string
        links:
          description: A list of URLs related to this resource.
          format: uri-map
          nullable: true
          type: object
        low_risk_numbers_enabled:
          description: Whether dialing to low-risk numbers is enabled.
          nullable: true
          type: boolean
        name:
          description: The name of the country.
          nullable: true
          type: string
        url:
          description: The absolute URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    voice.v1.dialing_permissions.dialing_permissions_country.dialing_permissions_hrs_prefixes:
      example:
        prefix: prefix
      properties:
        prefix:
          description: "A prefix is a contiguous number range for a block of E.164\
            \ numbers that includes the E.164 assigned country code. For example,\
            \ a North American Numbering Plan prefix like `+1510720` written like\
            \ `+1(510) 720` matches all numbers inclusive from `+1(510) 720-0000`\
            \ to `+1(510) 720-9999`."
          nullable: true
          type: string
      type: object
    voice.v1.dialing_permissions.dialing_permissions_country_bulk_update:
      example:
        update_count: 0
        update_request: update_request
      properties:
        update_count:
          description: The number of countries updated
          nullable: true
          type: integer
        update_request:
          description: "A bulk update request to change voice dialing country permissions\
            \ stored as a URL-encoded, JSON array of update objects. For example :\
            \ `[ { \"iso_code\": \"GB\", \"low_risk_numbers_enabled\": \"true\", \"\
            high_risk_special_numbers_enabled\":\"true\", \"high_risk_tollfraud_numbers_enabled\"\
            : \"false\" } ]`"
          nullable: true
          type: string
      type: object
    voice.v1.dialing_permissions.dialing_permissions_settings:
      example:
        url: https://openapi-generator.tech
        dialing_permissions_inheritance: true
      properties:
        dialing_permissions_inheritance:
          description: '`true` if the sub-account will inherit voice dialing permissions
            from the Master Project; otherwise `false`.'
          nullable: true
          type: boolean
        url:
          description: The absolute URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    voice.v1.ip_record:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        cidr_prefix_length: 0
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        ip_address: ip_address
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the IP Record resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        cidr_prefix_length:
          description: "An integer representing the length of the [CIDR](https://tools.ietf.org/html/rfc4632)\
            \ prefix to use with this IP address. By default the entire IP address\
            \ is used, which for IPv4 is value 32."
          nullable: true
          type: integer
        date_created:
          description: "The date and time in GMT that the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT that the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        ip_address:
          description: "An IP address in dotted decimal notation, IPv4 only."
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        sid:
          description: The unique string that we created to identify the IP Record
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IL[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    voice.v1.source_ip_mapping:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        sip_domain_sid: sip_domain_sid
        url: https://openapi-generator.tech
        ip_record_sid: ip_record_sid
        sid: sid
      properties:
        date_created:
          description: "The date and time in GMT that the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT that the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        ip_record_sid:
          description: The Twilio-provided string that uniquely identifies the IP
            Record resource to map from.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IL[0-9a-fA-F]{32}$"
          type: string
        sid:
          description: The unique string that we created to identify the IP Record
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IB[0-9a-fA-F]{32}$"
          type: string
        sip_domain_sid:
          description: The SID of the SIP Domain that the IP Record is mapped to.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^SD[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    ListByocTrunkResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          type: string
        key:
          type: string
        next_page_url:
          format: uri
          nullable: true
          type: string
        page:
          type: integer
        page_size:
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          type: string
        url:
          format: uri
          type: string
      type: object
    ListByocTrunkResponse:
      example:
        byoc_trunks:
        - voice_method: HEAD
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          status_callback_method: HEAD
          status_callback_url: https://openapi-generator.tech
          voice_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          voice_fallback_method: HEAD
          from_domain_sid: from_domain_sid
          url: https://openapi-generator.tech
          connection_policy_sid: connection_policy_sid
          sid: sid
          cnam_lookup_enabled: true
          voice_fallback_url: https://openapi-generator.tech
          account_sid: account_sid
        - voice_method: HEAD
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          status_callback_method: HEAD
          status_callback_url: https://openapi-generator.tech
          voice_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          voice_fallback_method: HEAD
          from_domain_sid: from_domain_sid
          url: https://openapi-generator.tech
          connection_policy_sid: connection_policy_sid
          sid: sid
          cnam_lookup_enabled: true
          voice_fallback_url: https://openapi-generator.tech
          account_sid: account_sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        byoc_trunks:
          items:
            $ref: '#/components/schemas/voice.v1.byoc_trunk'
          type: array
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
      title: ListByocTrunkResponse
      type: object
    CreateByocTrunkRequest:
      properties:
        CnamLookupEnabled:
          description: "Whether Caller ID Name (CNAM) lookup is enabled for the trunk.\
            \ If enabled, all inbound calls to the BYOC Trunk from the United States\
            \ and Canada automatically perform a CNAM Lookup and display Caller ID\
            \ data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM)\
            \ for more information."
          type: boolean
        ConnectionPolicySid:
          description: The SID of the Connection Policy that Twilio will use when
            routing traffic to your communications infrastructure.
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
        FromDomainSid:
          description: "The SID of the SIP Domain that should be used in the `From`\
            \ header of originating calls sent to your SIP infrastructure. If your\
            \ SIP infrastructure allows users to \"call back\" an incoming call, configure\
            \ this with a [SIP Domain](https://www.twilio.com/docs/voice/api/sending-sip)\
            \ to ensure proper routing. If not configured, the from domain will default\
            \ to \"sip.twilio.com\"."
          maxLength: 34
          minLength: 34
          pattern: "^SD[0-9a-fA-F]{32}$"
          type: string
        StatusCallbackMethod:
          description: "The HTTP method we should use to call `status_callback_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        StatusCallbackUrl:
          description: The URL that we should call to pass status parameters (such
            as call ended) to your application.
          format: uri
          type: string
        VoiceFallbackMethod:
          description: "The HTTP method we should use to call `voice_fallback_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        VoiceFallbackUrl:
          description: The URL that we should call when an error occurs while retrieving
            or executing the TwiML from `voice_url`.
          format: uri
          type: string
        VoiceMethod:
          description: "The HTTP method we should use to call `voice_url`. Can be:\
            \ `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        VoiceUrl:
          description: The URL we should call when the BYOC Trunk receives a call.
          format: uri
          type: string
      title: CreateByocTrunkRequest
      type: object
    UpdateByocTrunkRequest:
      properties:
        CnamLookupEnabled:
          description: "Whether Caller ID Name (CNAM) lookup is enabled for the trunk.\
            \ If enabled, all inbound calls to the BYOC Trunk from the United States\
            \ and Canada automatically perform a CNAM Lookup and display Caller ID\
            \ data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM)\
            \ for more information."
          type: boolean
        ConnectionPolicySid:
          description: The SID of the Connection Policy that Twilio will use when
            routing traffic to your communications infrastructure.
          maxLength: 34
          minLength: 34
          pattern: "^NY[0-9a-fA-F]{32}$"
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
        FromDomainSid:
          description: "The SID of the SIP Domain that should be used in the `From`\
            \ header of originating calls sent to your SIP infrastructure. If your\
            \ SIP infrastructure allows users to \"call back\" an incoming call, configure\
            \ this with a [SIP Domain](https://www.twilio.com/docs/voice/api/sending-sip)\
            \ to ensure proper routing. If not configured, the from domain will default\
            \ to \"sip.twilio.com\"."
          maxLength: 34
          minLength: 34
          pattern: "^SD[0-9a-fA-F]{32}$"
          type: string
        StatusCallbackMethod:
          description: "The HTTP method we should use to call `status_callback_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        StatusCallbackUrl:
          description: The URL that we should call to pass status parameters (such
            as call ended) to your application.
          format: uri
          type: string
        VoiceFallbackMethod:
          description: "The HTTP method we should use to call `voice_fallback_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        VoiceFallbackUrl:
          description: The URL that we should call when an error occurs while retrieving
            or executing the TwiML requested by `voice_url`.
          format: uri
          type: string
        VoiceMethod:
          description: The HTTP method we should use to call `voice_url`
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        VoiceUrl:
          description: The URL we should call when the BYOC Trunk receives a call.
          format: uri
          type: string
      title: UpdateByocTrunkRequest
      type: object
    ListConnectionPolicyResponse:
      example:
        connection_policies:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        connection_policies:
          items:
            $ref: '#/components/schemas/voice.v1.connection_policy'
          type: array
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
      title: ListConnectionPolicyResponse
      type: object
    CreateConnectionPolicyRequest:
      properties:
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
      title: CreateConnectionPolicyRequest
      type: object
    ListConnectionPolicyTargetResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        targets:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          weight: 6
          priority: 0
          enabled: true
          url: https://openapi-generator.tech
          connection_policy_sid: connection_policy_sid
          sid: sid
          target: https://openapi-generator.tech
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          weight: 6
          priority: 0
          enabled: true
          url: https://openapi-generator.tech
          connection_policy_sid: connection_policy_sid
          sid: sid
          target: https://openapi-generator.tech
      properties:
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
        targets:
          items:
            $ref: '#/components/schemas/voice.v1.connection_policy.connection_policy_target'
          type: array
      title: ListConnectionPolicyTargetResponse
      type: object
    CreateConnectionPolicyTargetRequest:
      properties:
        Enabled:
          description: Whether the Target is enabled. The default is `true`.
          type: boolean
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
        Priority:
          description: "The relative importance of the target. Can be an integer from\
            \ 0 to 65535, inclusive, and the default is 10. The lowest number represents\
            \ the most important target."
          type: integer
        Target:
          description: The SIP address you want Twilio to route your calls to. This
            must be a `sip:` schema. `sips` is NOT supported.
          format: uri
          type: string
        Weight:
          description: "The value that determines the relative share of the load the\
            \ Target should receive compared to other Targets with the same priority.\
            \ Can be an integer from 1 to 65535, inclusive, and the default is 10.\
            \ Targets with higher values receive more load than those with lower ones\
            \ with the same priority."
          type: integer
      required:
      - Target
      title: CreateConnectionPolicyTargetRequest
      type: object
    UpdateConnectionPolicyTargetRequest:
      properties:
        Enabled:
          description: Whether the Target is enabled.
          type: boolean
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
        Priority:
          description: "The relative importance of the target. Can be an integer from\
            \ 0 to 65535, inclusive. The lowest number represents the most important\
            \ target."
          type: integer
        Target:
          description: The SIP address you want Twilio to route your calls to. This
            must be a `sip:` schema. `sips` is NOT supported.
          format: uri
          type: string
        Weight:
          description: "The value that determines the relative share of the load the\
            \ Target should receive compared to other Targets with the same priority.\
            \ Can be an integer from 1 to 65535, inclusive. Targets with higher values\
            \ receive more load than those with lower ones with the same priority."
          type: integer
      title: UpdateConnectionPolicyTargetRequest
      type: object
    UpdateConnectionPolicyRequest:
      properties:
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
      title: UpdateConnectionPolicyRequest
      type: object
    CreateDialingPermissionsCountryBulkUpdateRequest:
      properties:
        UpdateRequest:
          description: "URL encoded JSON array of update objects. example : `[ { \"\
            iso_code\": \"GB\", \"low_risk_numbers_enabled\": \"true\", \"high_risk_special_numbers_enabled\"\
            :\"true\", \"high_risk_tollfraud_numbers_enabled\": \"false\" } ]`"
          type: string
      required:
      - UpdateRequest
      title: CreateDialingPermissionsCountryBulkUpdateRequest
      type: object
    ListDialingPermissionsCountryResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        content:
        - continent: continent
          high_risk_tollfraud_numbers_enabled: true
          high_risk_special_numbers_enabled: true
          low_risk_numbers_enabled: true
          name: name
          country_codes:
          - country_codes
          - country_codes
          links: "{}"
          iso_code: iso_code
          url: https://openapi-generator.tech
        - continent: continent
          high_risk_tollfraud_numbers_enabled: true
          high_risk_special_numbers_enabled: true
          low_risk_numbers_enabled: true
          name: name
          country_codes:
          - country_codes
          - country_codes
          links: "{}"
          iso_code: iso_code
          url: https://openapi-generator.tech
      properties:
        content:
          items:
            $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country'
          type: array
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
      title: ListDialingPermissionsCountryResponse
      type: object
    ListDialingPermissionsHrsPrefixesResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        content:
        - prefix: prefix
        - prefix: prefix
      properties:
        content:
          items:
            $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country.dialing_permissions_hrs_prefixes'
          type: array
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
      title: ListDialingPermissionsHrsPrefixesResponse
      type: object
    ListIpRecordResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        ip_records:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          cidr_prefix_length: 0
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          ip_address: ip_address
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          cidr_prefix_length: 0
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          ip_address: ip_address
          url: https://openapi-generator.tech
          sid: sid
      properties:
        ip_records:
          items:
            $ref: '#/components/schemas/voice.v1.ip_record'
          type: array
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
      title: ListIpRecordResponse
      type: object
    CreateIpRecordRequest:
      properties:
        CidrPrefixLength:
          description: "An integer representing the length of the [CIDR](https://tools.ietf.org/html/rfc4632)\
            \ prefix to use with this IP address. By default the entire IP address\
            \ is used, which for IPv4 is value 32."
          type: integer
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
        IpAddress:
          description: "An IP address in dotted decimal notation, IPv4 only."
          type: string
      required:
      - IpAddress
      title: CreateIpRecordRequest
      type: object
    UpdateIpRecordRequest:
      properties:
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It is not unique and can be up to 255 characters long.
          type: string
      title: UpdateIpRecordRequest
      type: object
    UpdateDialingPermissionsSettingsRequest:
      properties:
        DialingPermissionsInheritance:
          description: '`true` for the sub-account to inherit voice dialing permissions
            from the Master Project; otherwise `false`.'
          type: boolean
      title: UpdateDialingPermissionsSettingsRequest
      type: object
    ListSourceIpMappingResponse:
      example:
        source_ip_mappings:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sip_domain_sid: sip_domain_sid
          url: https://openapi-generator.tech
          ip_record_sid: ip_record_sid
          sid: sid
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sip_domain_sid: sip_domain_sid
          url: https://openapi-generator.tech
          ip_record_sid: ip_record_sid
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListByocTrunkResponse_meta'
        source_ip_mappings:
          items:
            $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          type: array
      title: ListSourceIpMappingResponse
      type: object
    CreateSourceIpMappingRequest:
      properties:
        IpRecordSid:
          description: The Twilio-provided string that uniquely identifies the IP
            Record resource to map from.
          maxLength: 34
          minLength: 34
          pattern: "^IL[0-9a-fA-F]{32}$"
          type: string
        SipDomainSid:
          description: The SID of the SIP Domain that the IP Record should be mapped
            to.
          maxLength: 34
          minLength: 34
          pattern: "^SD[0-9a-fA-F]{32}$"
          type: string
      required:
      - IpRecordSid
      - SipDomainSid
      title: CreateSourceIpMappingRequest
      type: object
    UpdateSourceIpMappingRequest:
      properties:
        SipDomainSid:
          description: The SID of the SIP Domain that the IP Record should be mapped
            to.
          maxLength: 34
          minLength: 34
          pattern: "^SD[0-9a-fA-F]{32}$"
          type: string
      required:
      - SipDomainSid
      title: UpdateSourceIpMappingRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
- description: This product is Generally Available.
  name: GA
- description: PLEASE NOTE that this is a Beta product that is subject to change.
    Use it with caution.
  name: Beta
- description: "PLEASE NOTE that this is a Preview product that is subject to change.\
    \ Use it with caution. If you currently do not have developer preview access,\
    \ please contact https://www.twilio.com/help/contact."
  name: Preview

