openapi: 3.0.1
info:
  description: APIs to manage web application firewall rules.
  title: WebApplicationFirewallManagement
  version: 2019-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-10-01/webapplicationfirewall.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: frontdoor-webapplicationfirewall
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets:
    get:
      description: Lists all available managed rule sets.
      operationId: managed_rule_sets_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedRuleSetDefinitionList'
          description: Success. The operation returns a list of all available web
            application firewall managed rule sets.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallManagedRuleSets
      x-ms-examples:
        List Policies in a Resource Group:
          parameters:
            api-version: 2019-10-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets
                  name: DefaultRuleSet_1.0
                  properties:
                    provisioningState: Succeeded
                    ruleGroups:
                    - description: SQL injection
                      ruleGroupName: SQLI
                      rules:
                      - defaultAction: Block
                        defaultState: Enabled
                        description: SQL Injection Attack Detected via libinjection
                        ruleId: "942100"
                      - defaultAction: Block
                        defaultState: Enabled
                        description: "SQL Injection Attack: Common Injection Testing\
                          \ Detected"
                        ruleId: "942110"
                    - description: Cross-site scripting
                      ruleGroupName: XSS
                      rules:
                      - defaultAction: Block
                        defaultState: Enabled
                        description: XSS Attack Detected via libinjection
                        ruleId: "941100"
                      - defaultAction: Block
                        defaultState: Enabled
                        description: XSS Attack Detected via libinjection
                        ruleId: "941101"
                      - defaultAction: Block
                        defaultState: Enabled
                        description: "XSS Filter - Category 1: Script Tag Vector"
                        ruleId: "941110"
                    ruleSetType: DefaultRuleSet
                    ruleSetVersion: "1.0"
                  type: Microsoft.Network/frontdoorwebapplicationfirewallmanagedrulesets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_application_firewall_managed_rule_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies
  : get:
      description: Lists all of the protection policies within a resource group.
      operationId: policies_list
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicyList'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        List Policies in a Resource Group:
          parameters:
            api-version: 2019-10-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                  location: WestUs
                  name: Policy1
                  properties:
                    customRules:
                      rules:
                      - action: Block
                        enabledState: Enabled
                        matchConditions:
                        - matchValue:
                          - 192.168.1.0/24
                          - 10.0.0.0/24
                          matchVariable: RemoteAddr
                          negateCondition: false
                          operator: IPMatch
                          transforms: []
                        name: Rule1
                        priority: 1
                        rateLimitDurationInMinutes: 0
                        rateLimitThreshold: 1000
                        ruleType: RateLimitRule
                      - action: Block
                        enabledState: Enabled
                        matchConditions:
                        - matchValue:
                          - CH
                          matchVariable: RemoteAddr
                          negateCondition: false
                          operator: GeoMatch
                        - matchValue:
                          - windows
                          matchVariable: RequestHeader
                          negateCondition: false
                          operator: Contains
                          selector: UserAgent
                          transforms:
                          - Lowercase
                        name: Rule2
                        priority: 2
                        rateLimitDurationInMinutes: 0
                        rateLimitThreshold: 0
                        ruleType: MatchRule
                    frontendEndpointLinks:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontdoors/fd1/frontendendpoints/fd1-azurefd-net
                    managedRules:
                      managedRuleSets:
                      - exclusions:
                        - matchVariable: RequestHeaderNames
                          selector: User-Agent
                          selectorMatchOperator: Equals
                        ruleGroupOverrides:
                        - ruleGroupName: SQLI
                          rules:
                          - action: Redirect
                            enabledState: Enabled
                            ruleId: "942100"
                          - enabledState: Disabled
                            ruleId: "942110"
                        ruleSetType: DefaultRuleSet
                        ruleSetVersion: "1.0"
                    policySettings:
                      customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                      customBlockResponseStatusCode: 499
                      enabledState: Enabled
                      mode: Prevention
                      redirectUrl: http://www.bing.com
                    provisioningState: Succeeded
                    resourceState: Enabled
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_application_firewall_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}
  : delete:
      description: Deletes Policy
      operationId: policies_delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Web Application Firewall Policy.
        in: path
        name: policy_name
        required: true
        schema:
          maxLength: 128
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content. The request has been accepted but the policy was
            not found.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        Delete protection policy:
          parameters:
            api-version: 2019-10-01
            policyName: Policy1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.web_application_firewall_policies_controller
    get:
      description: Retrieve protection policy with specified name within a resource
        group.
      operationId: policies_get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Web Application Firewall Policy.
        in: path
        name: policyName
        required: true
        schema:
          maxLength: 128
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        Get Policy:
          parameters:
            api-version: 2019-10-01
            policyName: Policy1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontdoors/fd1/frontendendpoints/fd1-azurefd-net
                  managedRules:
                    managedRuleSets:
                    - exclusions:
                      - matchVariable: RequestHeaderNames
                        selector: User-Agent
                        selectorMatchOperator: Equals
                      ruleGroupOverrides:
                      - ruleGroupName: SQLI
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          ruleId: "942100"
                        - enabledState: Disabled
                          ruleId: "942110"
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: "1.0"
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
      x-openapi-router-controller: openapi_server.controllers.web_application_firewall_policies_controller
    put:
      description: Create or update policy with specified rule set name within a resource
        group.
      operationId: policies_create_or_update
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Web Application Firewall Policy.
        in: path
        name: policy_name
        required: true
        schema:
          maxLength: 128
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        description: Policy to be created.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: Created. The request has been fulfilled and a new protection
            policy has been created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - WebApplicationFirewallPolicies
      x-ms-examples:
        Creates specific policy:
          parameters:
            api-version: 2019-10-01
            parameters:
              properties:
                customRules:
                  rules:
                  - action: Block
                    matchConditions:
                    - matchValue:
                      - 192.168.1.0/24
                      - 10.0.0.0/24
                      matchVariable: RemoteAddr
                      operator: IPMatch
                    name: Rule1
                    priority: 1
                    rateLimitThreshold: 1000
                    ruleType: RateLimitRule
                  - action: Block
                    matchConditions:
                    - matchValue:
                      - CH
                      matchVariable: RemoteAddr
                      operator: GeoMatch
                    - matchValue:
                      - windows
                      matchVariable: RequestHeader
                      operator: Contains
                      selector: UserAgent
                      transforms:
                      - Lowercase
                    name: Rule2
                    priority: 2
                    ruleType: MatchRule
                managedRules:
                  managedRuleSets:
                  - exclusions:
                    - matchVariable: RequestHeaderNames
                      selector: User-Agent
                      selectorMatchOperator: Equals
                    ruleGroupOverrides:
                    - exclusions:
                      - matchVariable: RequestCookieNames
                        selector: token
                        selectorMatchOperator: StartsWith
                      ruleGroupName: SQLI
                      rules:
                      - action: Redirect
                        enabledState: Enabled
                        exclusions:
                        - matchVariable: QueryStringArgNames
                          selector: query
                          selectorMatchOperator: Equals
                        ruleId: "942100"
                      - enabledState: Disabled
                        ruleId: "942110"
                    ruleSetType: DefaultRuleSet
                    ruleSetVersion: "1.0"
                policySettings:
                  customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                  customBlockResponseStatusCode: 499
                  redirectUrl: http://www.bing.com
            policyName: Policy1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks: []
                  managedRules:
                    managedRuleSets:
                    - exclusions:
                      - matchVariable: RequestHeaderNames
                        selector: User-Agent
                        selectorMatchOperator: Equals
                      ruleGroupOverrides:
                      - exclusions:
                        - matchVariable: RequestCookieNames
                          selector: token
                          selectorMatchOperator: StartsWith
                        ruleGroupName: SQLI
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          exclusions:
                          - matchVariable: QueryStringArgNames
                            selector: query
                            selectorMatchOperator: Equals
                          ruleId: "942100"
                        - enabledState: Disabled
                          ruleId: "942110"
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: "1.0"
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks: []
                  managedRules:
                    managedRuleSets:
                    - exclusions:
                      - matchVariable: RequestHeaderNames
                        selector: User-Agent
                        selectorMatchOperator: Equals
                      ruleGroupOverrides:
                      - exclusions:
                        - matchVariable: RequestCookieNames
                          selector: token
                          selectorMatchOperator: StartsWith
                        ruleGroupName: SQLI
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          exclusions:
                          - matchVariable: QueryStringArgNames
                            selector: query
                            selectorMatchOperator: Equals
                          ruleId: "942100"
                        - enabledState: Disabled
                          ruleId: "942110"
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: "1.0"
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/Policy1
                location: WestUs
                name: Policy1
                properties:
                  customRules:
                    rules:
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - 192.168.1.0/24
                        - 10.0.0.0/24
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: IPMatch
                        transforms: []
                      name: Rule1
                      priority: 1
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 1000
                      ruleType: RateLimitRule
                    - action: Block
                      enabledState: Enabled
                      matchConditions:
                      - matchValue:
                        - CH
                        matchVariable: RemoteAddr
                        negateCondition: false
                        operator: GeoMatch
                      - matchValue:
                        - windows
                        matchVariable: RequestHeader
                        negateCondition: false
                        operator: Contains
                        selector: UserAgent
                        transforms:
                        - Lowercase
                      name: Rule2
                      priority: 2
                      rateLimitDurationInMinutes: 0
                      rateLimitThreshold: 0
                      ruleType: MatchRule
                  frontendEndpointLinks: []
                  managedRules:
                    managedRuleSets:
                    - exclusions:
                      - matchVariable: RequestHeaderNames
                        selector: User-Agent
                        selectorMatchOperator: Equals
                      ruleGroupOverrides:
                      - exclusions:
                        - matchVariable: RequestCookieNames
                          selector: token
                          selectorMatchOperator: StartsWith
                        ruleGroupName: SQLI
                        rules:
                        - action: Redirect
                          enabledState: Enabled
                          exclusions:
                          - matchVariable: QueryStringArgNames
                            selector: query
                            selectorMatchOperator: Equals
                          ruleId: "942100"
                        - enabledState: Disabled
                          ruleId: "942110"
                      ruleSetType: DefaultRuleSet
                      ruleSetVersion: "1.0"
                  policySettings:
                    customBlockResponseBody: PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==
                    customBlockResponseStatusCode: 499
                    enabledState: Enabled
                    mode: Prevention
                    redirectUrl: http://www.bing.com
                  provisioningState: Succeeded
                  resourceState: Enabled
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/frontdoorwebapplicationfirewallpolicies
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.web_application_firewall_policies_controller
components:
  parameters:
    PolicyNameParameter:
      description: The name of the Web Application Firewall Policy.
      in: path
      name: policyName
      required: true
      schema:
        maxLength: 128
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the Resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ActionType:
      description: Defines the action to take on rule match.
      enum:
      - Allow
      - Block
      - Log
      - Redirect
      title: ActionType
      type: string
      x-ms-enum:
        modelAsString: true
        name: ActionType
    CustomRule:
      description: Defines contents of a web application rule
      example:
        enabledState: Disabled
        ruleType: MatchRule
        name: name
        action: Allow
        rateLimitDurationInMinutes: 3
        matchConditions:
        - transforms:
          - Lowercase
          - Lowercase
          matchValue:
          - matchValue
          - matchValue
          selector: selector
          matchVariable: RemoteAddr
          negateCondition: true
          operator: Any
        - transforms:
          - Lowercase
          - Lowercase
          matchValue:
          - matchValue
          - matchValue
          selector: selector
          matchVariable: RemoteAddr
          negateCondition: true
          operator: Any
        priority: 0
        rateLimitThreshold: 0
      properties:
        action:
          $ref: '#/components/schemas/ActionType'
        enabledState:
          description: Describes if the custom rule is in enabled or disabled state.
            Defaults to Enabled if not specified.
          enum:
          - Disabled
          - Enabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomRuleEnabledState
        matchConditions:
          description: List of match conditions.
          items:
            $ref: '#/components/schemas/MatchCondition'
          title: matchConditions
          type: array
        name:
          description: Describes the name of the rule.
          maxLength: 128
          title: name
          type: string
        priority:
          description: Describes priority of the rule. Rules with a lower value will
            be evaluated before rules with a higher value.
          title: priority
          type: integer
        rateLimitDurationInMinutes:
          description: Time window for resetting the rate limit count. Default is
            1 minute.
          maximum: 5
          minimum: 0
          title: rateLimitDurationInMinutes
          type: integer
        rateLimitThreshold:
          description: Number of allowed requests per client within the time window.
          minimum: 0
          title: rateLimitThreshold
          type: integer
        ruleType:
          description: Describes type of rule.
          enum:
          - MatchRule
          - RateLimitRule
          title: ruleType
          type: string
          x-ms-enum:
            modelAsString: true
            name: RuleType
      required:
      - action
      - matchConditions
      - priority
      - ruleType
      title: CustomRule
      type: object
    CustomRuleList:
      description: Defines contents of custom rules
      example:
        rules:
        - enabledState: Disabled
          ruleType: MatchRule
          name: name
          action: Allow
          rateLimitDurationInMinutes: 3
          matchConditions:
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          priority: 0
          rateLimitThreshold: 0
        - enabledState: Disabled
          ruleType: MatchRule
          name: name
          action: Allow
          rateLimitDurationInMinutes: 3
          matchConditions:
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          - transforms:
            - Lowercase
            - Lowercase
            matchValue:
            - matchValue
            - matchValue
            selector: selector
            matchVariable: RemoteAddr
            negateCondition: true
            operator: Any
          priority: 0
          rateLimitThreshold: 0
      properties:
        rules:
          description: List of rules
          items:
            $ref: '#/components/schemas/CustomRule'
          title: rules
          type: array
      title: CustomRuleList
      type: object
    ErrorResponse:
      description: Error response indicates Front Door service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    FrontendEndpointLink:
      description: Defines the Resource ID for a Frontend Endpoint.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: FrontendEndpointLink
      type: object
    ManagedRuleDefinition:
      description: Describes a managed rule definition.
      example:
        defaultAction: Allow
        defaultState: Disabled
        description: description
        ruleId: ruleId
      properties:
        defaultAction:
          $ref: '#/components/schemas/ActionType'
        defaultState:
          $ref: '#/components/schemas/ManagedRuleEnabledState'
        description:
          description: Describes the functionality of the managed rule.
          readOnly: true
          title: description
          type: string
        ruleId:
          description: Identifier for the managed rule.
          readOnly: true
          title: ruleId
          type: string
      title: ManagedRuleDefinition
      type: object
    ManagedRuleEnabledState:
      description: Describes if the managed rule is in enabled or disabled state.
      enum:
      - Disabled
      - Enabled
      title: ManagedRuleEnabledState
      type: string
      x-ms-enum:
        modelAsString: true
        name: ManagedRuleEnabledState
    ManagedRuleExclusion:
      description: Exclude variables from managed rule evaluation.
      example:
        selector: selector
        selectorMatchOperator: Equals
        matchVariable: RequestHeaderNames
      properties:
        matchVariable:
          description: The variable type to be excluded.
          enum:
          - RequestHeaderNames
          - RequestCookieNames
          - QueryStringArgNames
          - RequestBodyPostArgNames
          title: matchVariable
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedRuleExclusionMatchVariable
        selector:
          description: Selector value for which elements in the collection this exclusion
            applies to.
          title: selector
          type: string
        selectorMatchOperator:
          description: Comparison operator to apply to the selector when specifying
            which elements in the collection this exclusion applies to.
          enum:
          - Equals
          - Contains
          - StartsWith
          - EndsWith
          - EqualsAny
          title: selectorMatchOperator
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedRuleExclusionSelectorMatchOperator
      required:
      - matchVariable
      - selector
      - selectorMatchOperator
      title: ManagedRuleExclusion
      type: object
    ManagedRuleGroupDefinition:
      description: Describes a managed rule group.
      example:
        ruleGroupName: ruleGroupName
        description: description
        rules:
        - defaultAction: Allow
          defaultState: Disabled
          description: description
          ruleId: ruleId
        - defaultAction: Allow
          defaultState: Disabled
          description: description
          ruleId: ruleId
      properties:
        description:
          description: Description of the managed rule group.
          readOnly: true
          title: description
          type: string
        ruleGroupName:
          description: Name of the managed rule group.
          readOnly: true
          title: ruleGroupName
          type: string
        rules:
          description: List of rules within the managed rule group.
          items:
            $ref: '#/components/schemas/ManagedRuleDefinition'
          readOnly: true
          title: rules
          type: array
      title: ManagedRuleGroupDefinition
      type: object
    ManagedRuleGroupOverride:
      description: Defines a managed rule group override setting.
      example:
        ruleGroupName: ruleGroupName
        exclusions:
        - selector: selector
          selectorMatchOperator: Equals
          matchVariable: RequestHeaderNames
        - selector: selector
          selectorMatchOperator: Equals
          matchVariable: RequestHeaderNames
        rules:
        - enabledState: Disabled
          action: null
          exclusions:
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          ruleId: ruleId
        - enabledState: Disabled
          action: null
          exclusions:
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          ruleId: ruleId
      properties:
        exclusions:
          description: Describes the exclusions that are applied to all rules in the
            group.
          items:
            $ref: '#/components/schemas/ManagedRuleExclusion'
          title: exclusions
          type: array
        ruleGroupName:
          description: Describes the managed rule group to override.
          title: ruleGroupName
          type: string
        rules:
          description: "List of rules that will be disabled. If none specified, all\
            \ rules in the group will be disabled."
          items:
            $ref: '#/components/schemas/ManagedRuleOverride'
          title: rules
          type: array
      required:
      - ruleGroupName
      title: ManagedRuleGroupOverride
      type: object
    ManagedRuleOverride:
      description: Defines a managed rule group override setting.
      example:
        enabledState: Disabled
        action: null
        exclusions:
        - selector: selector
          selectorMatchOperator: Equals
          matchVariable: RequestHeaderNames
        - selector: selector
          selectorMatchOperator: Equals
          matchVariable: RequestHeaderNames
        ruleId: ruleId
      properties:
        action:
          $ref: '#/components/schemas/ActionType'
        enabledState:
          $ref: '#/components/schemas/ManagedRuleEnabledState'
        exclusions:
          description: Describes the exclusions that are applied to this specific
            rule.
          items:
            $ref: '#/components/schemas/ManagedRuleExclusion'
          title: exclusions
          type: array
        ruleId:
          description: Identifier for the managed rule.
          title: ruleId
          type: string
      required:
      - ruleId
      title: ManagedRuleOverride
      type: object
    ManagedRuleSet:
      description: Defines a managed rule set.
      example:
        ruleSetVersion: ruleSetVersion
        ruleSetType: ruleSetType
        exclusions:
        - selector: selector
          selectorMatchOperator: Equals
          matchVariable: RequestHeaderNames
        - selector: selector
          selectorMatchOperator: Equals
          matchVariable: RequestHeaderNames
        ruleGroupOverrides:
        - ruleGroupName: ruleGroupName
          exclusions:
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          rules:
          - enabledState: Disabled
            action: null
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            ruleId: ruleId
          - enabledState: Disabled
            action: null
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            ruleId: ruleId
        - ruleGroupName: ruleGroupName
          exclusions:
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          rules:
          - enabledState: Disabled
            action: null
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            ruleId: ruleId
          - enabledState: Disabled
            action: null
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            ruleId: ruleId
      properties:
        exclusions:
          description: Describes the exclusions that are applied to all rules in the
            set.
          items:
            $ref: '#/components/schemas/ManagedRuleExclusion'
          title: exclusions
          type: array
        ruleGroupOverrides:
          description: Defines the rule group overrides to apply to the rule set.
          items:
            $ref: '#/components/schemas/ManagedRuleGroupOverride'
          title: ruleGroupOverrides
          type: array
        ruleSetType:
          description: Defines the rule set type to use.
          title: ruleSetType
          type: string
        ruleSetVersion:
          description: Defines the version of the rule set to use.
          title: ruleSetVersion
          type: string
      required:
      - ruleSetType
      - ruleSetVersion
      title: ManagedRuleSet
      type: object
    ManagedRuleSetDefinition:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Describes the a managed rule set definition.
      example:
        properties:
          ruleGroups:
          - ruleGroupName: ruleGroupName
            description: description
            rules:
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
          - ruleGroupName: ruleGroupName
            description: description
            rules:
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
            - defaultAction: Allow
              defaultState: Disabled
              description: description
              ruleId: ruleId
          ruleSetVersion: ruleSetVersion
          ruleSetType: ruleSetType
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ManagedRuleSetDefinitionProperties'
      title: ManagedRuleSetDefinition
    ManagedRuleSetDefinitionList:
      description: List of managed rule set definitions available for use in a policy.
      example:
        value:
        - properties:
            ruleGroups:
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            provisioningState: provisioningState
        - properties:
            ruleGroups:
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
              - defaultAction: Allow
                defaultState: Disabled
                description: description
                ruleId: ruleId
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to retrieve next set of managed rule set definitions.
          title: nextLink
          type: string
        value:
          description: List of managed rule set definitions.
          items:
            $ref: '#/components/schemas/ManagedRuleSetDefinition'
          readOnly: true
          title: value
          type: array
      title: ManagedRuleSetDefinitionList
      type: object
    ManagedRuleSetDefinitionProperties:
      description: Properties for a managed rule set definition.
      example:
        ruleGroups:
        - ruleGroupName: ruleGroupName
          description: description
          rules:
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
        - ruleGroupName: ruleGroupName
          description: description
          rules:
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
          - defaultAction: Allow
            defaultState: Disabled
            description: description
            ruleId: ruleId
        ruleSetVersion: ruleSetVersion
        ruleSetType: ruleSetType
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: Provisioning state of the managed rule set.
          readOnly: true
          title: provisioningState
          type: string
        ruleGroups:
          description: Rule groups of the managed rule set.
          items:
            $ref: '#/components/schemas/ManagedRuleGroupDefinition'
          readOnly: true
          title: ruleGroups
          type: array
        ruleSetType:
          description: Type of the managed rule set.
          readOnly: true
          title: ruleSetType
          type: string
        ruleSetVersion:
          description: Version of the managed rule set type.
          readOnly: true
          title: ruleSetVersion
          type: string
      title: ManagedRuleSetDefinitionProperties
      type: object
    ManagedRuleSetList:
      description: Defines the list of managed rule sets for the policy.
      example:
        managedRuleSets:
        - ruleSetVersion: ruleSetVersion
          ruleSetType: ruleSetType
          exclusions:
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          ruleGroupOverrides:
          - ruleGroupName: ruleGroupName
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            rules:
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
          - ruleGroupName: ruleGroupName
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            rules:
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
        - ruleSetVersion: ruleSetVersion
          ruleSetType: ruleSetType
          exclusions:
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          - selector: selector
            selectorMatchOperator: Equals
            matchVariable: RequestHeaderNames
          ruleGroupOverrides:
          - ruleGroupName: ruleGroupName
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            rules:
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
          - ruleGroupName: ruleGroupName
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            rules:
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
            - enabledState: Disabled
              action: null
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleId: ruleId
      properties:
        managedRuleSets:
          description: List of rule sets.
          items:
            $ref: '#/components/schemas/ManagedRuleSet'
          title: managedRuleSets
          type: array
      title: ManagedRuleSetList
      type: object
    MatchCondition:
      description: Define a match condition.
      example:
        transforms:
        - Lowercase
        - Lowercase
        matchValue:
        - matchValue
        - matchValue
        selector: selector
        matchVariable: RemoteAddr
        negateCondition: true
        operator: Any
      properties:
        matchValue:
          description: List of possible match values.
          items:
            type: string
          title: matchValue
          type: array
        matchVariable:
          description: Request variable to compare with.
          enum:
          - RemoteAddr
          - RequestMethod
          - QueryString
          - PostArgs
          - RequestUri
          - RequestHeader
          - RequestBody
          - Cookies
          - SocketAddr
          title: matchVariable
          type: string
          x-ms-enum:
            modelAsString: true
            name: MatchVariable
        negateCondition:
          description: Describes if the result of this condition should be negated.
          title: negateCondition
          type: boolean
        operator:
          description: Comparison type to use for matching with the variable value.
          enum:
          - Any
          - IPMatch
          - GeoMatch
          - Equal
          - Contains
          - LessThan
          - GreaterThan
          - LessThanOrEqual
          - GreaterThanOrEqual
          - BeginsWith
          - EndsWith
          - RegEx
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: Operator
        selector:
          description: "Match against a specific key from the QueryString, PostArgs,\
            \ RequestHeader or Cookies variables. Default is null."
          title: selector
          type: string
        transforms:
          description: List of transforms.
          items:
            $ref: '#/components/schemas/TransformType'
          title: transforms
          type: array
      required:
      - matchValue
      - matchVariable
      - operator
      title: MatchCondition
      type: object
    PolicySettings:
      description: Defines top-level WebApplicationFirewallPolicy configuration settings.
      example:
        mode: Prevention
        enabledState: Disabled
        redirectUrl: redirectUrl
        customBlockResponseStatusCode: 5
        customBlockResponseBody: customBlockResponseBody
      properties:
        customBlockResponseBody:
          description: "If the action type is block, customer can override the response\
            \ body. The body must be specified in base64 encoding."
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$"
          title: customBlockResponseBody
          type: string
        customBlockResponseStatusCode:
          description: "If the action type is block, customer can override the response\
            \ status code."
          title: customBlockResponseStatusCode
          type: integer
        enabledState:
          description: Describes if the policy is in enabled or disabled state. Defaults
            to Enabled if not specified.
          enum:
          - Disabled
          - Enabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyEnabledState
        mode:
          description: Describes if it is in detection mode or prevention mode at
            policy level.
          enum:
          - Prevention
          - Detection
          title: mode
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyMode
        redirectUrl:
          description: "If action type is redirect, this field represents redirect\
            \ URL for the client."
          title: redirectUrl
          type: string
      title: PolicySettings
      type: object
    TransformType:
      description: Describes what transforms applied before matching.
      enum:
      - Lowercase
      - Uppercase
      - Trim
      - UrlDecode
      - UrlEncode
      - RemoveNulls
      title: TransformType
      type: string
      x-ms-enum:
        modelAsString: true
        name: TransformType
    WebApplicationFirewallPolicy:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines web application firewall policy.
      example:
        etag: etag
        properties:
          customRules:
            rules:
            - enabledState: Disabled
              ruleType: MatchRule
              name: name
              action: Allow
              rateLimitDurationInMinutes: 3
              matchConditions:
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              priority: 0
              rateLimitThreshold: 0
            - enabledState: Disabled
              ruleType: MatchRule
              name: name
              action: Allow
              rateLimitDurationInMinutes: 3
              matchConditions:
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              - transforms:
                - Lowercase
                - Lowercase
                matchValue:
                - matchValue
                - matchValue
                selector: selector
                matchVariable: RemoteAddr
                negateCondition: true
                operator: Any
              priority: 0
              rateLimitThreshold: 0
          frontendEndpointLinks:
          - id: id
          - id: id
          policySettings:
            mode: Prevention
            enabledState: Disabled
            redirectUrl: redirectUrl
            customBlockResponseStatusCode: 5
            customBlockResponseBody: customBlockResponseBody
          resourceState: Creating
          provisioningState: provisioningState
          managedRules:
            managedRuleSets:
            - ruleSetVersion: ruleSetVersion
              ruleSetType: ruleSetType
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleGroupOverrides:
              - ruleGroupName: ruleGroupName
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                rules:
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
              - ruleGroupName: ruleGroupName
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                rules:
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
            - ruleSetVersion: ruleSetVersion
              ruleSetType: ruleSetType
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              ruleGroupOverrides:
              - ruleGroupName: ruleGroupName
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                rules:
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
              - ruleGroupName: ruleGroupName
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                rules:
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
                - enabledState: Disabled
                  action: null
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  ruleId: ruleId
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/WebApplicationFirewallPolicyProperties'
      title: WebApplicationFirewallPolicy
    WebApplicationFirewallPolicyList:
      description: Defines a list of WebApplicationFirewallPolicies. It contains a
        list of WebApplicationFirewallPolicy objects and a URL link to get the next
        set of results.
      example:
        value:
        - etag: etag
          properties:
            customRules:
              rules:
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
            frontendEndpointLinks:
            - id: id
            - id: id
            policySettings:
              mode: Prevention
              enabledState: Disabled
              redirectUrl: redirectUrl
              customBlockResponseStatusCode: 5
              customBlockResponseBody: customBlockResponseBody
            resourceState: Creating
            provisioningState: provisioningState
            managedRules:
              managedRuleSets:
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
        - etag: etag
          properties:
            customRules:
              rules:
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
              - enabledState: Disabled
                ruleType: MatchRule
                name: name
                action: Allow
                rateLimitDurationInMinutes: 3
                matchConditions:
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                - transforms:
                  - Lowercase
                  - Lowercase
                  matchValue:
                  - matchValue
                  - matchValue
                  selector: selector
                  matchVariable: RemoteAddr
                  negateCondition: true
                  operator: Any
                priority: 0
                rateLimitThreshold: 0
            frontendEndpointLinks:
            - id: id
            - id: id
            policySettings:
              mode: Prevention
              enabledState: Disabled
              redirectUrl: redirectUrl
              customBlockResponseStatusCode: 5
              customBlockResponseBody: customBlockResponseBody
            resourceState: Creating
            provisioningState: provisioningState
            managedRules:
              managedRuleSets:
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
              - ruleSetVersion: ruleSetVersion
                ruleSetType: ruleSetType
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleGroupOverrides:
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                - ruleGroupName: ruleGroupName
                  exclusions:
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  - selector: selector
                    selectorMatchOperator: Equals
                    matchVariable: RequestHeaderNames
                  rules:
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
                  - enabledState: Disabled
                    action: null
                    exclusions:
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    - selector: selector
                      selectorMatchOperator: Equals
                      matchVariable: RequestHeaderNames
                    ruleId: ruleId
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of WebApplicationFirewallPolicy objects
            if there are any.
          title: nextLink
          type: string
        value:
          description: List of WebApplicationFirewallPolicies within a resource group.
          items:
            $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          readOnly: true
          title: value
          type: array
      title: WebApplicationFirewallPolicyList
      type: object
    WebApplicationFirewallPolicyProperties:
      description: Defines web application firewall policy properties.
      example:
        customRules:
          rules:
          - enabledState: Disabled
            ruleType: MatchRule
            name: name
            action: Allow
            rateLimitDurationInMinutes: 3
            matchConditions:
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            priority: 0
            rateLimitThreshold: 0
          - enabledState: Disabled
            ruleType: MatchRule
            name: name
            action: Allow
            rateLimitDurationInMinutes: 3
            matchConditions:
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            - transforms:
              - Lowercase
              - Lowercase
              matchValue:
              - matchValue
              - matchValue
              selector: selector
              matchVariable: RemoteAddr
              negateCondition: true
              operator: Any
            priority: 0
            rateLimitThreshold: 0
        frontendEndpointLinks:
        - id: id
        - id: id
        policySettings:
          mode: Prevention
          enabledState: Disabled
          redirectUrl: redirectUrl
          customBlockResponseStatusCode: 5
          customBlockResponseBody: customBlockResponseBody
        resourceState: Creating
        provisioningState: provisioningState
        managedRules:
          managedRuleSets:
          - ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            ruleGroupOverrides:
            - ruleGroupName: ruleGroupName
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              rules:
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              rules:
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
          - ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            exclusions:
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            - selector: selector
              selectorMatchOperator: Equals
              matchVariable: RequestHeaderNames
            ruleGroupOverrides:
            - ruleGroupName: ruleGroupName
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              rules:
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
            - ruleGroupName: ruleGroupName
              exclusions:
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              - selector: selector
                selectorMatchOperator: Equals
                matchVariable: RequestHeaderNames
              rules:
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                - selector: selector
                  selectorMatchOperator: Equals
                  matchVariable: RequestHeaderNames
                ruleId: ruleId
              - enabledState: Disabled
                action: null
                exclusions:
                - selector: selector
                  selectorMatchOperator: Equals
[...]
