openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
  description: Enables cloud users to manage and share enterprise catalogs intheir
    organizations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Private Catalog Producer
  version: v1beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: google
    url: https://cloudprivatecatalogproducer.googleapis.com/$discovery/rest?version=v1beta1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: cloudprivatecatalogproducer
externalDocs:
  url: https://cloud.google.com/private-catalog/
servers:
- url: https://cloudprivatecatalogproducer.googleapis.com/
tags:
- name: operations
- name: catalogs
paths:
  /v1beta1/catalogs:
    get:
      description: |-
        Lists Catalog resources that the producer has access to, within the
        scope of the parent resource.
      operationId: cloudprivatecatalogproducer_catalogs_list
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of catalogs to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: |-
          A pagination token returned from a previous call to ListCatalogs
          that indicates where this listing should continue from.
          This field is optional.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the parent resource.
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1ListCatalogsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
    post:
      description: Creates a new Catalog resource.
      operationId: cloudprivatecatalogproducer_catalogs_create
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Catalog'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/operations:
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.

        NOTE: the `name` binding allows API services to override the binding
        to use different resource name schemes, such as `users/*/operations`. To
        override the binding, API services can add a binding such as
        `"/v1/{name=users/*}/operations"` to their service configuration.
        For backwards compatibility, the default name includes the operations
        collection id, however overriding users must ensure the name binding
        is the parent resource, without the operations collection id.
      operationId: cloudprivatecatalogproducer_operations_list
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /v1beta1/{name}:
    delete:
      description: Hard deletes a Version.
      operationId: cloudprivatecatalogproducer_catalogs_products_versions_delete
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the version.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      - description: |-
          Forces deletion of the `Catalog` and its `Association` resources.
          If the `Catalog` is still associated with other resources and
          force is not set to true, then the operation fails.
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
    get:
      description: Returns the requested Version resource.
      operationId: cloudprivatecatalogproducer_catalogs_products_versions_get
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the version.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Version'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
    patch:
      description: Updates a specific Version resource.
      operationId: cloudprivatecatalogproducer_catalogs_products_versions_patch
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Required. The resource name of the version, in the format
          `catalogs/{catalog_id}/products/{product_id}/versions/a-z*[a-z0-9]'.

          A unique identifier for the version under a product, which can't
          be changed after the version is created. The final segment of the name must
          between 1 and 63 characters in length.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      - description: Field mask that controls which fields of the version should be
          updated.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Version'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Version'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{name}:cancel:
    post:
      description: |-
        Starts asynchronous cancellation on a long-running operation.  The server
        makes a best effort to cancel the operation, but success is not
        guaranteed.  If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.  Clients can use
        Operations.GetOperation or
        other methods to check whether the cancellation succeeded or whether the
        operation completed despite cancellation. On successful cancellation,
        the operation is not deleted; instead, it becomes an operation with
        an Operation.error value with a google.rpc.Status.code of 1,
        corresponding to `Code.CANCELLED`.
      operationId: cloudprivatecatalogproducer_operations_cancel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLongrunningCancelOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
      x-codegen-request-body-name: body
  /v1beta1/{name}:copy:
    post:
      description: Copies a Product under another Catalog.
      operationId: cloudprivatecatalogproducer_catalogs_products_copy
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the current product that is copied from.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1CopyProductRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{name}:undelete:
    post:
      description: Undeletes a deleted Catalog and all resources under it.
      operationId: cloudprivatecatalogproducer_catalogs_undelete
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the catalog.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1UndeleteCatalogRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Catalog'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/associations:
    get:
      description: Lists all Association resources under a catalog.
      operationId: cloudprivatecatalogproducer_catalogs_associations_list
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The resource name of the `Catalog` whose `Associations` are
          being retrieved. In the format `catalogs/<catalog>`.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      - description: The maximum number of catalog associations to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: |-
          A pagination token returned from the previous call to
          `ListAssociations`.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1ListAssociationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
    post:
      description: Creates an Association instance under a given Catalog.
      operationId: cloudprivatecatalogproducer_catalogs_associations_create
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The `Catalog` resource's name.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1CreateAssociationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Association'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/products:
    get:
      description: |-
        Lists Product resources that the producer has access to, within the
        scope of the parent catalog.
      operationId: cloudprivatecatalogproducer_catalogs_products_list
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the parent resource.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      - description: |-
          A filter expression used to restrict the returned results based
          upon properties of the product.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of products to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: |-
          A pagination token returned from a previous call to ListProducts
          that indicates where this listing should continue from.
          This field is optional.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1ListProductsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
    post:
      description: Creates a Product instance under a given Catalog.
      operationId: cloudprivatecatalogproducer_catalogs_products_create
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The catalog name of the new product's parent.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Product'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Product'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/versions:
    get:
      description: |-
        Lists Version resources that the producer has access to, within the
        scope of the parent Product.
      operationId: cloudprivatecatalogproducer_catalogs_products_versions_list
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the parent resource.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      - description: The maximum number of versions to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: |-
          A pagination token returned from a previous call to ListVersions
          that indicates where this listing should continue from.
          This field is optional.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1ListVersionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
    post:
      description: Creates a Version instance under a given Product.
      operationId: cloudprivatecatalogproducer_catalogs_products_versions_create
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The product name of the new version's parent.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Version'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{product}/icons:upload:
    post:
      description: |-
        Creates an Icon instance under a given Product.
        If Product only has a default icon, a new Icon
        instance is created and associated with the given Product.
        If Product already has a non-default icon, the action creates
        a new Icon instance, associates the newly created
        Icon with the given Product and deletes the old icon.
      operationId: cloudprivatecatalogproducer_catalogs_products_icons_upload
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the product.
        explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1UploadIconRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:getIamPolicy:
    get:
      description: Gets IAM policy for the specified Catalog.
      operationId: cloudprivatecatalogproducer_catalogs_get_iam_policy
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: |-
          REQUIRED: The resource for which the policy is being requested.
          See the operation documentation for the appropriate value for this field.
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      - description: |-
          Optional. The policy format version to be returned.

          Valid values are 0, 1, and 3. Requests specifying an invalid value will be
          rejected.

          Requests for policies with any conditional bindings must specify version 3.
          Policies without any conditional bindings may specify any valid value or
          leave the field unset.
        explode: true
        in: query
        name: options.requestedPolicyVersion
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleIamV1Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
  /v1beta1/{resource}:setIamPolicy:
    post:
      description: Sets the IAM policy for the specified Catalog.
      operationId: cloudprivatecatalogproducer_catalogs_set_iam_policy
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: |-
          REQUIRED: The resource for which the policy is being specified.
          See the operation documentation for the appropriate value for this field.
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleIamV1SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleIamV1Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:testIamPermissions:
    post:
      description: Tests the IAM permissions for the specified Catalog.
      operationId: cloudprivatecatalogproducer_catalogs_test_iam_permissions
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: |-
          REQUIRED: The resource for which the policy detail is being requested.
          See the operation documentation for the appropriate value for this field.
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
        x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleIamV1TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleIamV1TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - catalogs
      x-openapi-router-controller: openapi_server.controllers.catalogs_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        default: json
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        default: true
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  requestBodies:
    GoogleCloudPrivatecatalogproducerV1beta1Version:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Version'
  schemas:
    GoogleCloudPrivatecatalogproducerV1beta1Association:
      description: |-
        An association tuple that pairs a `Catalog` to a resource
        that can use the `Catalog`. After association, a
        google.cloud.privatecatalog.v1beta1.Catalog becomes available to
        consumers under specified Association.resource and all of its child
        nodes.
        Users who have the `cloudprivatecatalog.targets.get` permission on any of
        the resource nodes can access the catalog and child products under the node.

        For example, suppose the cloud resource hierarchy is as follows:

        * organizations/example.com
          * folders/team
            * projects/test

        After creating an association with `organizations/example.com`, the catalog
        `catalogs/1`  is accessible from the following paths:

        * organizations/example.com
        * folders/team
        * projects/test

        Users can access them by
        google.cloud.v1beta1.PrivateCatalog.SearchCatalogs action.
      example:
        createTime: createTime
        resource: resource
        name: name
      properties:
        createTime:
          description: The creation time of the association.
          format: google-datetime
          title: createTime
          type: string
        name:
          description: |-
            Output only. The resource name of the catalog association, in the format
            `catalogs/{catalog_id}/associations/{association_id}'.

            A unique identifier for the catalog association, which is
            generated by catalog service.
          title: name
          type: string
        resource:
          description: |-
            Required. The user-supplied fully qualified name of the `Resource`
            associated to the `Catalog`. It supports `Organization`, `Folder`,
            and `Project`. Values are of the form

            * `//cloudresourcemanager.googleapis.com/projects/{product_number}`
            * `//cloudresourcemanager.googleapis.com/folders/{folder_id}`
            * `//cloudresourcemanager.googleapis.com/organizations/{organization_id}`
          title: resource
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1Association
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1Catalog:
      description: |-
        The producer representation of a catalog which is a curated collection of
        solutions that can be managed, controlled, and shared by cloud admins.
      example:
        parent: parent
        createTime: createTime
        displayName: displayName
        name: name
        description: description
        updateTime: updateTime
      properties:
        createTime:
          description: Output only. The time when the catalog was created.
          format: google-datetime
          title: createTime
          type: string
        description:
          description: |-
            Required. The user-supplied description of the catalog. Maximum of 512
            characters.
          title: description
          type: string
        displayName:
          description: |-
            Required. The user-supplied descriptive name of the catalog as it appears
            in UIs. Maximum 256 characters in length.
          title: displayName
          type: string
        name:
          description: |-
            Output only. The resource name of the catalog, in the format
            `catalogs/{catalog_id}'.

            A unique identifier for the catalog, which is generated
            by catalog service.
          title: name
          type: string
        parent:
          description: |-
            Required. The parent resource name of the catalog, which can't be changed
            after a catalog is created. It can only be an organization. Values are of
            the form `//cloudresourcemanager.googleapis.com/organizations/<id>`.
            Maximum 256 characters in length.
          title: parent
          type: string
        updateTime:
          description: Output only. The time when the catalog was last updated.
          format: google-datetime
          title: updateTime
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1Catalog
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1CopyProductRequest:
      example:
        destinationProductName: destinationProductName
      properties:
        destinationProductName:
          description: The resource name of the destination product that is copied
            to.
          title: destinationProductName
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1CopyProductRequest
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1CreateAssociationRequest:
      example:
        association:
          createTime: createTime
          resource: resource
          name: name
      properties:
        association:
          $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Association'
      title: GoogleCloudPrivatecatalogproducerV1beta1CreateAssociationRequest
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1ListAssociationsResponse:
      example:
        associations:
        - createTime: createTime
          resource: resource
          name: name
        - createTime: createTime
          resource: resource
          name: name
        nextPageToken: nextPageToken
      properties:
        associations:
          description: The returned `Association` resources from the list call.
          items:
            $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Association'
          title: associations
          type: array
        nextPageToken:
          description: |-
            A pagination token returned from a previous call to
            `ListAssociations` that indicates where the listing should continue from.
            This field is optional.
          title: nextPageToken
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1ListAssociationsResponse
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1ListCatalogsResponse:
      example:
        catalogs:
        - parent: parent
          createTime: createTime
          displayName: displayName
          name: name
          description: description
          updateTime: updateTime
        - parent: parent
          createTime: createTime
          displayName: displayName
          name: name
          description: description
          updateTime: updateTime
        nextPageToken: nextPageToken
      properties:
        catalogs:
          description: The `Catalogs` returned from the list call.
          items:
            $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Catalog'
          title: catalogs
          type: array
        nextPageToken:
          description: |-
            A pagination token returned from a previous call to ListCatalogs
            that indicates where the listing should continue from.
            This field is optional.
          title: nextPageToken
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1ListCatalogsResponse
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1ListProductsResponse:
      example:
        nextPageToken: nextPageToken
        products:
        - displayMetadata:
            key: ""
          createTime: createTime
          name: name
          updateTime: updateTime
          iconUri: iconUri
          assetType: assetType
        - displayMetadata:
            key: ""
          createTime: createTime
          name: name
          updateTime: updateTime
          iconUri: iconUri
          assetType: assetType
      properties:
        nextPageToken:
          description: |-
            A pagination token returned from a previous call to ListProducts
            that indicates where the listing should continue from.
            This field is optional.
          title: nextPageToken
          type: string
        products:
          description: The `Product` returned from the list call.
          items:
            $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Product'
          title: products
          type: array
      title: GoogleCloudPrivatecatalogproducerV1beta1ListProductsResponse
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1ListVersionsResponse:
      example:
        versions:
        - createTime: createTime
          originalAsset:
            key: ""
          name: name
          description: description
          updateTime: updateTime
          asset:
            key: ""
        - createTime: createTime
          originalAsset:
            key: ""
          name: name
          description: description
          updateTime: updateTime
          asset:
            key: ""
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: |-
            A pagination token returned from a previous call to ListProducts
            that indicates where the listing should continue from.
            This field is optional.
          title: nextPageToken
          type: string
        versions:
          description: The `VersiVersionon` returned from the list call.
          items:
            $ref: '#/components/schemas/GoogleCloudPrivatecatalogproducerV1beta1Version'
          title: versions
          type: array
      title: GoogleCloudPrivatecatalogproducerV1beta1ListVersionsResponse
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1Product:
      description: |-
        The producer representation of a product which is a child resource of
        `Catalog` with display metadata and a list of `Version` resources.
      example:
        displayMetadata:
          key: ""
        createTime: createTime
        name: name
        updateTime: updateTime
        iconUri: iconUri
        assetType: assetType
      properties:
        assetType:
          description: |-
            Required. The type of the product asset, which cannot be changed after the
            product is created. It supports the values
            `google.deploymentmanager.Template` and
            `google.cloudprivatecatalog.ListingOnly`. Other values will be
            rejected by the server. Read only after creation.

            The following fields or resource types have different validation rules
            under each `asset_type` values:

            * Product.display_metadata has different validation schema for each
            asset type value. See its comment for details.
            * Version resource isn't allowed to be added under the
            `google.cloudprivatecatalog.ListingOnly` type.
          title: assetType
          type: string
        createTime:
          description: Output only. The time when the product was created.
          format: google-datetime
          title: createTime
          type: string
        displayMetadata:
          additionalProperties:
            description: Properties of the object.
          description: |-
            The user-supplied display metadata to describe the product.
            The JSON schema of the metadata differs by Product.asset_type.
            When the type is `google.deploymentmanager.Template`, the schema is as
            follows:

            ```
            "$schema": http://json-schema.org/draft-04/schema#
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 64
              description:
                type: string
                minLength: 1
                maxLength: 2048
              tagline:
                type: string
                minLength: 1
                maxLength: 100
              support_info:
                type: string
                minLength: 1
                maxLength: 2048
              creator:
                type: string
                minLength: 1
                maxLength: 100
              documentation:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                      pattern:
                      "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
                    title:
                      type: string
                      minLength: 1
                      maxLength: 64
                    description:
                      type: string
                      minLength: 1
                      maxLength: 2048
            required:
            - name
            - description
            additionalProperties: false

            ```

            When the asset type is `google.cloudprivatecatalog.ListingOnly`, the schema
            is as follows:

            ```
            "$schema": http://json-schema.org/draft-04/schema#
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 64
              description:
                type: string
                minLength: 1
                maxLength: 2048
              tagline:
                type: string
                minLength: 1
                maxLength: 100
              support_info:
                type: string
                minLength: 1
                maxLength: 2048
              creator:
                type: string
                minLength: 1
                maxLength: 100
              documentation:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                      pattern:
                      "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
                    title:
                      type: string
                      minLength: 1
                      maxLength: 64
                    description:
                      type: string
                      minLength: 1
                      maxLength: 2048
              signup_url:
                type: string
                pattern:
                "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
            required:
            - name
            - description
            - signup_url
            additionalProperties: false
            ```
          title: displayMetadata
          type: object
        iconUri:
          description: |-
            Output only. The public accessible URI of the icon uploaded by
            PrivateCatalogProducer.UploadIcon.

            If no icon is uploaded, it will be the default icon's URI.
          title: iconUri
          type: string
        name:
          description: |-
            Required. The resource name of the product in the format
            `catalogs/{catalog_id}/products/a-z*[a-z0-9]'.

            A unique identifier for the product under a catalog, which cannot
            be changed after the product is created. The final
            segment of the name must between 1 and 256 characters in length.
          title: name
          type: string
        updateTime:
          description: Output only. The time when the product was last updated.
          format: google-datetime
          title: updateTime
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1Product
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1UndeleteCatalogRequest:
      properties: {}
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1UploadIconRequest:
      example:
        icon: icon
      properties:
        icon:
          description: |-
            The raw icon bytes user-supplied to be uploaded to the product. The format
            of the icon can only be PNG or JPEG. The minimum allowed dimensions are
            130x130 pixels and the maximum dimensions are 10000x10000 pixels.
            Required.
          format: byte
          title: icon
          type: string
      title: GoogleCloudPrivatecatalogproducerV1beta1UploadIconRequest
      type: object
    GoogleCloudPrivatecatalogproducerV1beta1Version:
      description: |-
        The producer representation of a version, which is a child resource under a
        `Product` with asset data.
      example:
        createTime: createTime
        originalAsset:
          key: ""
        name: name
        description: description
        updateTime: updateTime
        asset:
          key: ""
      properties:
        asset:
          additionalProperties:
            description: Properties of the object.
          description: |-
            Output only. The asset which has been validated and is ready to be
            provisioned. See Version.original_asset for the schema.
          title: asset
          type: object
        createTime:
          description: Output only. The time when the version was created.
          format: google-datetime
          title: createTime
          type: string
        description:
          description: The user-supplied description of the version. Maximum of 256
            characters.
          title: description
          type: string
        name:
          description: |-
            Required. The resource name of the version, in the format
[...]
