openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: "NFL schedules, scores, odds, weather, and news API."
  title: NFL v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/scores
- url: https://azure-api.sportsdata.io/v3/nfl/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllTeams:
    get:
      description: "Gets all teams, including pro bowl teams."
      operationId: teams_all
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: are_games_in_progress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Byes/{season}:
    get:
      description: 'Get bye weeks for the teams during a specified NFL season. '
      operationId: bye_weeks
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Bye'
                type: array
          description: ""
      summary: Bye Weeks
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes at the start
        of the new NFL league year. The earliest season for Fantasy data is 2001.
        The earliest season for Team data is 1985. The earliest season for Fantasy
        data is 2001. The earliest season for Team data is 1985.
      operationId: season_current
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Current
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: week_current
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Current
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DepthCharts:
    get:
      description: "Depth charts for all NFL teams split by offensive, defensive,\
        \ and special teams position groupings."
      operationId: depth_charts
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
                type: array
          description: ""
      summary: Depth Charts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FreeAgents:
    get:
      operationId: player_details_by_free_agents
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agents
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GameStats/{season}:
    get:
      operationId: game_stats_by_season_deprecated_use_team_game_stats_instead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Season (Deprecated, use Team Game Stats instead)"
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GameStatsByWeek/{season}/{week}:
    get:
      operationId: game_stats_by_week_deprecated_use_team_game_stats_instead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Week (Deprecated, use Team Game Stats instead)"
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed season. this value changes
        immediately after the Super Bowl. The earliest season for Fantasy data is
        2001. The earliest season for Team data is 1985.
      operationId: season_last_completed
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Last Completed
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/LastCompletedWeek:
    get:
      description: Number of the last completed week of the NFL season. This value
        usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: week_last_completed
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Last Completed
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/News:
    get:
      operationId: news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByDate/{date}:
    get:
      operationId: news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: news_by_player
      parameters:
      - description: "\n          Desired response format. Valid entries are <code>XML</code>\
          \ or <code>JSON</code>.\n        "
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByTeam/{team}:
    get:
      operationId: news_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Ping/{seconds}:
    get:
      description: Ping NFL API
      operationId: x_ping
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Number of seconds to sleep before responding
        explode: false
        in: path
        name: seconds
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
      summary: X Ping
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player_details_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDetail'
          description: ""
      summary: Player Details by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: player_details_by_available
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Available
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players/{team}:
    get:
      operationId: player_details_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerDetail'
                type: array
          description: ""
      summary: Player Details by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayersBasic/{team}:
    get:
      operationId: players_by_team_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
      summary: Players by Team (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Referees:
    get:
      description: Returns full list of NFL Referees
      operationId: referees
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Referee'
                type: array
          description: ""
      summary: Referees
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Rookies/{season}:
    get:
      operationId: player_details_by_rookie_draft_year
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>,\
          \ etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Rookie Draft Year
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Schedules/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schedule'
                type: array
          description: ""
      summary: Schedule
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SchedulesBasic/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: schedule_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
                type: array
          description: ""
      summary: Schedule (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Scores/{season}:
    get:
      description: Game scores for a specified season.
      operationId: scores_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: 'Scores by Season '
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ScoresBasic/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: scores_by_week_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScoreBasic'
                type: array
          description: ""
      summary: Scores by Week (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ScoresByDate/{date}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: scores_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the games.<br>Examples: <code>2021-SEP-12</code>,\
          \ <code>2021-NOV-28</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: scores_by_week
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SimulatedScores/{numberofplays}:
    get:
      description: "Gets simulated live scores of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: scores_by_week_simulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week Simulation
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Stadiums:
    get:
      description: This method returns all stadiums.
      operationId: stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{season}:
    get:
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStats/{season}/{week}:
    get:
      operationId: team_game_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: team_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>\
          \        "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Teams:
    get:
      description: Gets all active teams.
      operationId: teams_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Teams/{season}:
    get:
      description: List of teams playing in a specified season.
      operationId: teams_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams by Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamsBasic:
    get:
      description: "Gets all teams, including pro bowl teams."
      operationId: teams_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamBasic'
                type: array
          description: ""
      summary: Teams (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Timeframes/{type}:
    get:
      description: "Get detailed information about past, present, and future timeframes."
      operationId: timeframes
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The type of timeframes to return.  Valid entries are <code>current</code>
          or <code>upcoming</code> or <code>completed</code> or <code>recent</code>
          or <code>all</code>.
        explode: false
        in: path
        name: type
        required: true
        schema:
          default: current
          enum:
          - current
          - upcoming
          - completed
          - recent
          - all
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Timeframe'
                type: array
          description: ""
      summary: Timeframes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/UpcomingSeason:
    get:
      description: "Year of the current NFL season, if we are in the mid-season. If\
        \ we are in the off-season, then year of the next upcoming season. This value\
        \ changes immediately after the Super Bowl. The earliest season for Fantasy\
        \ data is 2001. The earliest season for Team data is 1985."
      operationId: season_upcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Upcoming
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/UpcomingWeek:
    get:
      description: Number of the upcoming week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: week_upcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Upcoming
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Bye:
      example:
        Team: Team
        Season: 0
        Week: 6
      properties:
        Season:
          nullable: false
          title: Season
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        Week:
          nullable: false
          title: Week
          type: integer
      title: Bye
    DepthChart:
      example:
        PlayerID: 1
        Updated: Updated
        DepthOrder: 6
        Position: Position
        PositionCategory: PositionCategory
        DepthChartID: 0
        TeamID: 5
        Name: Name
      properties:
        DepthChartID:
          nullable: false
          title: DepthChartID
          type: integer
        DepthOrder:
          nullable: true
          title: DepthOrder
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        PositionCategory:
          nullable: true
          title: PositionCategory
          type: string
        TeamID:
          nullable: false
          title: TeamID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: DepthChart
    Game:
      example:
        AwayFieldGoalsHadBlocked: 6
        HomeFieldGoalReturnTouchdowns: 3
        AwayTurnoverDifferential: 8
        HomePuntNetAverage: 6.176386745020588
        WindSpeed: 5
        AwaySacks: 3
        AwayPuntsHadBlocked: 3
        HomeTimeOfPossession: HomeTimeOfPossession
        AwayExtraPointKickingAttempts: 2
        HomePuntYards: 3
        AwayKickReturnYards: 7
        AwaySackYards: 1
        HomeRedZoneConversions: 7
        GameID: 0
        AwayPuntReturnYards: 4
        AwayRushingTouchdowns: 4
        HomeThirdDownConversions: 3
        HomeInterceptionReturnTouchdowns: 4
        AwayGoalToGoConversions: 5
        AwayPuntYards: 8
        HomePassingYards: 6
        AwayFieldGoalReturnYards: 1
        HomeExtraPointKickingAttempts: 0
        AwayThirdDownAttempts: 5
        Week: 8
        HomeOffensiveYards: 7
        AwayPuntNetAverage: 9.702963800023566
        HomeFourthDownConversions: 9
        AwayTimeOfPossession: AwayTimeOfPossession
        AwayFumblesForced: 6
        AwayFumbles: 3
        HomeCompletionPercentage: 9.386524999783381
        HomePasserRating: 4.943637496515336
        AwayPasserRating: 7.04836565559697
        HomePassesDefended: 0
        Humidity: 2
        AwayRushingYardsPerAttempt: 9.254183946267839
        AwayKickoffs: 4
        HomeInterceptionReturnYards: 8
        Season: 5
        AwayPuntAverage: 0.8774076871421566
        PlayingSurface: PlayingSurface
        AwayFirstDownsByPenalty: 5
        HomeFirstDownsByPenalty: 3
        HomeKickReturnTouchdowns: 8
        HomeFieldGoalsMade: 4
        HomePenaltyYards: 7
        HomeFirstDowns: 5
        HomeFourthDownAttempts: 3
        HomeFourthDownPercentage: 7.3718573971919445
        AwayFumblesRecovered: 2
        AwayExtraPointRushingConversions: 4
        AwayBlockedKickReturnYards: 1
        AwayFirstDownsByPassing: 4
        HomeThirdDownPercentage: 9.007961177824221
        AwayFieldGoalReturnTouchdowns: 1
        HomePuntNetYards: 2
        HomeKickoffTouchbacks: 0
        HomePassingYardsPerAttempt: 0.11859130807119977
        AwayGoalToGoAttempts: 6
        HomeOffensivePlays: 0
        HomeThirdDownAttempts: 1
        HomeExtraPointRushingAttempts: 6
        HomePuntReturnLong: 4
        HomeFumblesRecovered: 3
        HomeRushingTouchdowns: 0
        HomeOffensiveYardsPerPlay: 6.749525837406151
        HomeReturnYards: 2
        HomeBlockedKickReturnYards: 4
        HomePuntReturnYards: 3
        AwayRushingAttempts: 6
        HomeInterceptionReturns: 6
        AwayInterceptionReturns: 3
        HomeBlockedKickReturnTouchdowns: 7
        AwayPassingYardsPerAttempt: 1.041444916118296
        AwayTakeaways: 9
        AwayFirstDowns: 1
        HomeAssistedTackles: 0
        HomeExtraPointPassingConversions: 4
        HomeKickReturns: 6
        HomePassingYardsPerCompletion: 4.637509675190766
        HomeExtraPointKickingConversions: 2
        AwayExtraPointPassingConversions: 3
        HomePassingCompletions: 9
        HomeTimesSacked: 1
        AwayPassingTouchdowns: 6
        HomeBlockedKicks: 2
        HomeSackYards: 3
        AwayOffensivePlays: 7
        AwayInterceptionReturnYards: 3
        HomePassingTouchdowns: 7
        AwayReturnYards: 8
        AwayExtraPointKickingConversions: 7
        AwayPuntReturns: 6
        HomeScoreOvertime: 7
        AwayKickoffsInEndZone: 8
        AwayRushingYards: 8
        HomeFumblesForced: 1
        ScoreID: 8
        SeasonType: 0
        AwayFieldGoalsMade: 7
        HomeTwoPointConversionReturns: 8
        HomeFumbleReturnTouchdowns: 7
        HomeTakeaways: 6
        AwayKickReturns: 6
        AwayOffensiveYardsPerPlay: 3.0576100241049344
        HomeGiveaways: 8
        AwayTeam: AwayTeam
        HomeFumbleReturnYards: 7
        AwayKickReturnTouchdowns: 0
        HomeExtraPointPassingAttempts: 6
        AwayBlockedKicks: 5
        AwayPassingYardsPerCompletion: 4.678947989005849
        AwayPassingAttempts: 3
        HomeFumbles: 9
        AwayThirdDownPercentage: 0.4768402382624515
        AwayKickReturnLong: 7
        AwayScoreQuarter4: 7
        HomeKickoffsInEndZone: 5
        HomeTeam: HomeTeam
        AwayScoreQuarter1: 5
        AwayScoreQuarter3: 8
        AwayScoreQuarter2: 5
        HomeRedZoneAttempts: 8
        HomeExtraPointRushingConversions: 9
        AwayPuntReturnTouchdowns: 5
        AwaySoloTackles: 3
        HomeSacks: 5
        AwayExtraPointRushingAttempts: 2
        AwayFirstDownsByRushing: 9
        AwayInterceptionReturnTouchdowns: 6
        IsGameOver: true
        AwayThirdDownConversions: 7
        AwayFourthDownPercentage: 8.762042012749001
        HomeKickReturnLong: 4
        HomePuntReturns: 5
        AwayFourthDownAttempts: 9
        AwayKickoffTouchbacks: 0
        AwayCompletionPercentage: 5.637376656633329
        HomePuntAverage: 1.0502890910539986
        AwayTwoPointConversionReturns: 4
        GameKey: GameKey
        HomeTouchdowns: 2
        HomeFieldGoalAttempts: 1
        HomeFieldGoalsHadBlocked: 1
        AwayTouchdowns: 3
        HomeQuarterbackHits: 3
        HomeTurnoverDifferential: 2
        HomePunts: 1
        OverUnder: 6.345503614942988
        AwayTimesSacked: 3
        AwayBlockedKickReturnTouchdowns: 6
        HomeTimesSackedYards: 4
        AwayPenalties: 7
        PointSpread: 5.499986845135928
        HomeSafeties: 9
        AwayScoreOvertime: 0
        HomeScoreQuarter2: 6
        HomeScoreQuarter1: 7
        AwayFumblesLost: 1
        HomeScoreQuarter4: 9
        HomeScoreQuarter3: 6
        AwayPassesDefended: 5
        AwayPenaltyYards: 9
        HomeFirstDownsByRushing: 1
        AwayFumbleReturnYards: 6
        HomeFirstDownsByPassing: 5
        HomePuntReturnTouchdowns: 2
        AwayTacklesForLoss: 3
        HomeRushingYards: 2
        HomeFumblesLost: 4
        HomeKickoffs: 2
        AwayOffensiveYards: 3
        HomeRushingAttempts: 8
        AwayFieldGoalAttempts: 1
        AwayPuntNetYards: 0
        AwayScore: 8
        HomePenalties: 0
        HomeKickReturnYards: 2
        AwayFumbleReturnTouchdowns: 9
        AwayAssistedTackles: 0
        StadiumID: 1
        AwayRedZoneConversions: 1
        AwayPassingInterceptions: 0
        HomePuntsHadBlocked: 5
        AwayFourthDownConversions: 6
        AwaySafeties: 9
        AwayExtraPointsHadBlocked: 7
        HomeTacklesForLoss: 2
        AwayPunts: 4
        Stadium: Stadium
        AwayPuntReturnLong: 7
        Temperature: 8
        HomeRushingYardsPerAttempt: 4.432841187680573
        AwayPassingCompletions: 4
        HomeScore: 2
        HomeGoalToGoAttempts: 2
        TotalScore: 2
        StadiumDetails:
          Type: Type
          GeoLat: 7.386281948385884
          Capacity: 4
          State: State
          Country: Country
          GeoLong: 1.2315135367772556
          City: City
          Name: Name
          PlayingSurface: PlayingSurface
          StadiumID: 1
        HomeExtraPointsHadBlocked: 1
        AwayQuarterbackHits: 0
        HomeGoalToGoConversions: 9
        AwayRedZoneAttempts: 2
        AwayTimesSackedYards: 2
        Date: Date
        AwayExtraPointPassingAttempts: 9
        AwayPassingYards: 4
        HomePassingAttempts: 0
        HomeSoloTackles: 8
        AwayGiveaways: 6
        HomePassingInterceptions: 9
        HomeFieldGoalReturnYards: 5
      properties:
        AwayAssistedTackles:
          nullable: true
          title: AwayAssistedTackles
          type: integer
        AwayBlockedKickReturnTouchdowns:
          nullable: true
          title: AwayBlockedKickReturnTouchdowns
          type: integer
        AwayBlockedKickReturnYards:
          nullable: true
          title: AwayBlockedKickReturnYards
          type: integer
        AwayBlockedKicks:
          nullable: true
          title: AwayBlockedKicks
          type: integer
        AwayCompletionPercentage:
          nullable: true
          title: AwayCompletionPercentage
          type: number
        AwayExtraPointKickingAttempts:
          nullable: true
          title: AwayExtraPointKickingAttempts
          type: integer
        AwayExtraPointKickingConversions:
          nullable: true
          title: AwayExtraPointKickingConversions
          type: integer
        AwayExtraPointPassingAttempts:
          nullable: true
          title: AwayExtraPointPassingAttempts
          type: integer
        AwayExtraPointPassingConversions:
          nullable: true
          title: AwayExtraPointPassingConversions
          type: integer
        AwayExtraPointRushingAttempts:
          nullable: true
          title: AwayExtraPointRushingAttempts
          type: integer
        AwayExtraPointRushingConversions:
          nullable: true
          title: AwayExtraPointRushingConversions
          type: integer
        AwayExtraPointsHadBlocked:
          nullable: true
          title: AwayExtraPointsHadBlocked
          type: integer
        AwayFieldGoalAttempts:
          nullable: true
          title: AwayFieldGoalAttempts
          type: integer
        AwayFieldGoalReturnTouchdowns:
          nullable: true
          title: AwayFieldGoalReturnTouchdowns
          type: integer
        AwayFieldGoalReturnYards:
          nullable: true
          title: AwayFieldGoalReturnYards
          type: integer
        AwayFieldGoalsHadBlocked:
          nullable: true
          title: AwayFieldGoalsHadBlocked
          type: integer
        AwayFieldGoalsMade:
          nullable: true
          title: AwayFieldGoalsMade
          type: integer
        AwayFirstDowns:
          nullable: true
          title: AwayFirstDowns
          type: integer
        AwayFirstDownsByPassing:
          nullable: true
          title: AwayFirstDownsByPassing
          type: integer
        AwayFirstDownsByPenalty:
          nullable: true
          title: AwayFirstDownsByPenalty
          type: integer
        AwayFirstDownsByRushing:
          nullable: true
          title: AwayFirstDownsByRushing
          type: integer
        AwayFourthDownAttempts:
          nullable: true
          title: AwayFourthDownAttempts
          type: integer
        AwayFourthDownConversions:
          nullable: true
          title: AwayFourthDownConversions
          type: integer
        AwayFourthDownPercentage:
          nullable: true
          title: AwayFourthDownPercentage
          type: number
        AwayFumbleReturnTouchdowns:
          nullable: true
          title: AwayFumbleReturnTouchdowns
          type: integer
        AwayFumbleReturnYards:
          nullable: true
          title: AwayFumbleReturnYards
          type: integer
        AwayFumbles:
          nullable: true
          title: AwayFumbles
          type: integer
        AwayFumblesForced:
          nullable: true
          title: AwayFumblesForced
          type: integer
        AwayFumblesLost:
          nullable: true
          title: AwayFumblesLost
          type: integer
        AwayFumblesRecovered:
          nullable: true
          title: AwayFumblesRecovered
          type: integer
        AwayGiveaways:
          nullable: true
          title: AwayGiveaways
          type: integer
        AwayGoalToGoAttempts:
          nullable: true
          title: AwayGoalToGoAttempts
          type: integer
        AwayGoalToGoConversions:
          nullable: true
          title: AwayGoalToGoConversions
          type: integer
        AwayInterceptionReturnTouchdowns:
          nullable: true
          title: AwayInterceptionReturnTouchdowns
          type: integer
        AwayInterceptionReturnYards:
          nullable: true
          title: AwayInterceptionReturnYards
          type: integer
        AwayInterceptionReturns:
          nullable: true
          title: AwayInterceptionReturns
          type: integer
        AwayKickReturnLong:
          nullable: true
          title: AwayKickReturnLong
          type: integer
        AwayKickReturnTouchdowns:
          nullable: true
          title: AwayKickReturnTouchdowns
          type: integer
        AwayKickReturnYards:
          nullable: true
          title: AwayKickReturnYards
          type: integer
        AwayKickReturns:
          nullable: true
          title: AwayKickReturns
          type: integer
        AwayKickoffTouchbacks:
          nullable: true
          title: AwayKickoffTouchbacks
          type: integer
        AwayKickoffs:
          nullable: true
          title: AwayKickoffs
          type: integer
        AwayKickoffsInEndZone:
          nullable: true
          title: AwayKickoffsInEndZone
          type: integer
        AwayOffensivePlays:
          nullable: true
          title: AwayOffensivePlays
          type: integer
        AwayOffensiveYards:
          nullable: true
          title: AwayOffensiveYards
          type: integer
        AwayOffensiveYardsPerPlay:
          nullable: true
          title: AwayOffensiveYardsPerPlay
          type: number
        AwayPasserRating:
          nullable: true
          title: AwayPasserRating
          type: number
        AwayPassesDefended:
          nullable: true
          title: AwayPassesDefended
          type: integer
        AwayPassingAttempts:
          nullable: true
          title: AwayPassingAttempts
          type: integer
        AwayPassingCompletions:
          nullable: true
          title: AwayPassingCompletions
          type: integer
        AwayPassingInterceptions:
          nullable: true
          title: AwayPassingInterceptions
          type: integer
        AwayPassingTouchdowns:
          nullable: true
          title: AwayPassingTouchdowns
          type: integer
        AwayPassingYards:
          nullable: true
          title: AwayPassingYards
          type: integer
        AwayPassingYardsPerAttempt:
          nullable: true
          title: AwayPassingYardsPerAttempt
          type: number
        AwayPassingYardsPerCompletion:
          nullable: true
          title: AwayPassingYardsPerCompletion
          type: number
        AwayPenalties:
          nullable: true
          title: AwayPenalties
          type: integer
        AwayPenaltyYards:
          nullable: true
          title: AwayPenaltyYards
          type: integer
        AwayPuntAverage:
          nullable: true
          title: AwayPuntAverage
          type: number
        AwayPuntNetAverage:
          nullable: true
          title: AwayPuntNetAverage
          type: number
        AwayPuntNetYards:
          nullable: true
          title: AwayPuntNetYards
          type: integer
        AwayPuntReturnLong:
          nullable: true
          title: AwayPuntReturnLong
          type: integer
        AwayPuntReturnTouchdowns:
          nullable: true
          title: AwayPuntReturnTouchdowns
          type: integer
        AwayPuntReturnYards:
          nullable: true
          title: AwayPuntReturnYards
          type: integer
        AwayPuntReturns:
          nullable: true
          title: AwayPuntReturns
          type: integer
        AwayPuntYards:
          nullable: true
          title: AwayPuntYards
          type: integer
        AwayPunts:
          nullable: true
          title: AwayPunts
          type: integer
        AwayPuntsHadBlocked:
          nullable: true
          title: AwayPuntsHadBlocked
          type: integer
        AwayQuarterbackHits:
          nullable: true
          title: AwayQuarterbackHits
          type: integer
        AwayRedZoneAttempts:
          nullable: true
          title: AwayRedZoneAttempts
          type: integer
        AwayRedZoneConversions:
          nullable: true
          title: AwayRedZoneConversions
          type: integer
        AwayReturnYards:
          nullable: true
          title: AwayReturnYards
          type: integer
        AwayRushingAttempts:
          nullable: true
          title: AwayRushingAttempts
          type: integer
        AwayRushingTouchdowns:
          nullable: true
          title: AwayRushingTouchdowns
          type: integer
        AwayRushingYards:
          nullable: true
          title: AwayRushingYards
          type: integer
        AwayRushingYardsPerAttempt:
          nullable: true
          title: AwayRushingYardsPerAttempt
          type: number
        AwaySackYards:
          nullable: true
          title: AwaySackYards
          type: integer
        AwaySacks:
          nullable: true
          title: AwaySacks
          type: integer
        AwaySafeties:
          nullable: true
          title: AwaySafeties
          type: integer
        AwayScore:
          nullable: false
          title: AwayScore
          type: integer
        AwayScoreOvertime:
          nullable: true
          title: AwayScoreOvertime
          type: integer
        AwayScoreQuarter1:
          nullable: true
          title: AwayScoreQuarter1
          type: integer
        AwayScoreQuarter2:
          nullable: true
          title: AwayScoreQuarter2
          type: integer
        AwayScoreQuarter3:
          nullable: true
          title: AwayScoreQuarter3
          type: integer
        AwayScoreQuarter4:
          nullable: true
          title: AwayScoreQuarter4
          type: integer
        AwaySoloTackles:
          nullable: true
          title: AwaySoloTackles
          type: integer
        AwayTacklesForLoss:
          nullable: true
          title: AwayTacklesForLoss
          type: integer
        AwayTakeaways:
          nullable: true
          title: AwayTakeaways
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayThirdDownAttempts:
          nullable: true
          title: AwayThirdDownAttempts
          type: integer
        AwayThirdDownConversions:
          nullable: true
          title: AwayThirdDownConversions
          type: integer
        AwayThirdDownPercentage:
          nullable: true
          title: AwayThirdDownPercentage
          type: number
        AwayTimeOfPossession:
          nullable: true
          title: AwayTimeOfPossession
          type: string
        AwayTimesSacked:
          nullable: true
          title: AwayTimesSacked
          type: integer
        AwayTimesSackedYards:
          nullable: true
          title: AwayTimesSackedYards
          type: integer
        AwayTouchdowns:
          nullable: true
          title: AwayTouchdowns
          type: integer
        AwayTurnoverDifferential:
          nullable: true
          title: AwayTurnoverDifferential
          type: integer
        AwayTwoPointConversionReturns:
          nullable: true
          title: AwayTwoPointConversionReturns
          type: integer
        Date:
          nullable: true
          title: Date
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GameKey:
          nullable: true
          title: GameKey
          type: string
        HomeAssistedTackles:
          nullable: true
          title: HomeAssistedTackles
          type: integer
        HomeBlockedKickReturnTouchdowns:
          nullable: true
          title: HomeBlockedKickReturnTouchdowns
          type: integer
        HomeBlockedKickReturnYards:
          nullable: true
          title: HomeBlockedKickReturnYards
          type: integer
        HomeBlockedKicks:
          nullable: true
          title: HomeBlockedKicks
          type: integer
        HomeCompletionPercentage:
          nullable: true
          title: HomeCompletionPercentage
          type: number
        HomeExtraPointKickingAttempts:
          nullable: true
          title: HomeExtraPointKickingAttempts
          type: integer
        HomeExtraPointKickingConversions:
          nullable: true
          title: HomeExtraPointKickingConversions
          type: integer
        HomeExtraPointPassingAttempts:
          nullable: true
          title: HomeExtraPointPassingAttempts
          type: integer
        HomeExtraPointPassingConversions:
          nullable: true
          title: HomeExtraPointPassingConversions
          type: integer
        HomeExtraPointRushingAttempts:
          nullable: true
          title: HomeExtraPointRushingAttempts
          type: integer
        HomeExtraPointRushingConversions:
          nullable: true
          title: HomeExtraPointRushingConversions
          type: integer
        HomeExtraPointsHadBlocked:
          nullable: true
          title: HomeExtraPointsHadBlocked
          type: integer
        HomeFieldGoalAttempts:
          nullable: true
          title: HomeFieldGoalAttempts
          type: integer
        HomeFieldGoalReturnTouchdowns:
          nullable: true
          title: HomeFieldGoalReturnTouchdowns
          type: integer
        HomeFieldGoalReturnYards:
          nullable: true
          title: HomeFieldGoalReturnYards
          type: integer
        HomeFieldGoalsHadBlocked:
          nullable: true
          title: HomeFieldGoalsHadBlocked
          type: integer
        HomeFieldGoalsMade:
          nullable: true
          title: HomeFieldGoalsMade
          type: integer
        HomeFirstDowns:
          nullable: true
          title: HomeFirstDowns
          type: integer
        HomeFirstDownsByPassing:
          nullable: true
          title: HomeFirstDownsByPassing
          type: integer
        HomeFirstDownsByPenalty:
          nullable: true
          title: HomeFirstDownsByPenalty
          type: integer
        HomeFirstDownsByRushing:
          nullable: true
          title: HomeFirstDownsByRushing
          type: integer
        HomeFourthDownAttempts:
          nullable: true
          title: HomeFourthDownAttempts
          type: integer
        HomeFourthDownConversions:
          nullable: true
          title: HomeFourthDownConversions
          type: integer
        HomeFourthDownPercentage:
          nullable: true
          title: HomeFourthDownPercentage
          type: number
        HomeFumbleReturnTouchdowns:
          nullable: true
          title: HomeFumbleReturnTouchdowns
          type: integer
        HomeFumbleReturnYards:
          nullable: true
          title: HomeFumbleReturnYards
          type: integer
        HomeFumbles:
          nullable: true
          title: HomeFumbles
          type: integer
        HomeFumblesForced:
          nullable: true
          title: HomeFumblesForced
          type: integer
        HomeFumblesLost:
          nullable: true
          title: HomeFumblesLost
          type: integer
        HomeFumblesRecovered:
          nullable: true
          title: HomeFumblesRecovered
          type: integer
        HomeGiveaways:
          nullable: true
          title: HomeGiveaways
          type: integer
        HomeGoalToGoAttempts:
          nullable: true
          title: HomeGoalToGoAttempts
          type: integer
        HomeGoalToGoConversions:
          nullable: true
          title: HomeGoalToGoConversions
          type: integer
        HomeInterceptionReturnTouchdowns:
          nullable: true
          title: HomeInterceptionReturnTouchdowns
          type: integer
        HomeInterceptionReturnYards:
          nullable: true
          title: HomeInterceptionReturnYards
          type: integer
        HomeInterceptionReturns:
          nullable: true
          title: HomeInterceptionReturns
          type: integer
        HomeKickReturnLong:
          nullable: true
          title: HomeKickReturnLong
          type: integer
        HomeKickReturnTouchdowns:
          nullable: true
          title: HomeKickReturnTouchdowns
          type: integer
        HomeKickReturnYards:
          nullable: true
          title: HomeKickReturnYards
          type: integer
        HomeKickReturns:
          nullable: true
          title: HomeKickReturns
          type: integer
        HomeKickoffTouchbacks:
          nullable: true
          title: HomeKickoffTouchbacks
          type: integer
        HomeKickoffs:
          nullable: true
          title: HomeKickoffs
          type: integer
        HomeKickoffsInEndZone:
          nullable: true
          title: HomeKickoffsInEndZone
          type: integer
        HomeOffensivePlays:
          nullable: true
          title: HomeOffensivePlays
          type: integer
        HomeOffensiveYards:
          nullable: true
          title: HomeOffensiveYards
          type: integer
        HomeOffensiveYardsPerPlay:
          nullable: true
          title: HomeOffensiveYardsPerPlay
          type: number
        HomePasserRating:
          nullable: true
          title: HomePasserRating
          type: number
        HomePassesDefended:
          nullable: true
          title: HomePassesDefended
          type: integer
        HomePassingAttempts:
          nullable: true
          title: HomePassingAttempts
          type: integer
        HomePassingCompletions:
          nullable: true
          title: HomePassingCompletions
          type: integer
        HomePassingInterceptions:
          nullable: true
          title: HomePassingInterceptions
          type: integer
        HomePassingTouchdowns:
          nullable: true
          title: HomePassingTouchdowns
          type: integer
        HomePassingYards:
          nullable: true
          title: HomePassingYards
          type: integer
        HomePassingYardsPerAttempt:
          nullable: true
          title: HomePassingYardsPerAttempt
          type: number
        HomePassingYardsPerCompletion:
          nullable: true
          title: HomePassingYardsPerCompletion
          type: number
        HomePenalties:
          nullable: true
          title: HomePenalties
          type: integer
        HomePenaltyYards:
          nullable: true
          title: HomePenaltyYards
          type: integer
        HomePuntAverage:
          nullable: true
          title: HomePuntAverage
          type: number
        HomePuntNetAverage:
          nullable: true
          title: HomePuntNetAverage
          type: number
        HomePuntNetYards:
          nullable: true
          title: HomePuntNetYards
          type: integer
        HomePuntReturnLong:
          nullable: true
          title: HomePuntReturnLong
          type: integer
        HomePuntReturnTouchdowns:
          nullable: true
          title: HomePuntReturnTouchdowns
          type: integer
        HomePuntReturnYards:
          nullable: true
          title: HomePuntReturnYards
          type: integer
        HomePuntReturns:
          nullable: true
          title: HomePuntReturns
          type: integer
        HomePuntYards:
          nullable: true
          title: HomePuntYards
          type: integer
        HomePunts:
          nullable: true
          title: HomePunts
          type: integer
        HomePuntsHadBlocked:
          nullable: true
          title: HomePuntsHadBlocked
          type: integer
        HomeQuarterbackHits:
          nullable: true
          title: HomeQuarterbackHits
          type: integer
        HomeRedZoneAttempts:
          nullable: true
          title: HomeRedZoneAttempts
          type: integer
        HomeRedZoneConversions:
          nullable: true
          title: HomeRedZoneConversions
          type: integer
        HomeReturnYards:
          nullable: true
          title: HomeReturnYards
          type: integer
        HomeRushingAttempts:
          nullable: true
          title: HomeRushingAttempts
          type: integer
        HomeRushingTouchdowns:
          nullable: true
          title: HomeRushingTouchdowns
          type: integer
        HomeRushingYards:
          nullable: true
          title: HomeRushingYards
          type: integer
        HomeRushingYardsPerAttempt:
          nullable: true
          title: HomeRushingYardsPerAttempt
          type: number
        HomeSackYards:
          nullable: true
          title: HomeSackYards
          type: integer
        HomeSacks:
          nullable: true
          title: HomeSacks
          type: integer
        HomeSafeties:
          nullable: true
          title: HomeSafeties
          type: integer
        HomeScore:
          nullable: false
          title: HomeScore
          type: integer
        HomeScoreOvertime:
          nullable: true
          title: HomeScoreOvertime
          type: integer
        HomeScoreQuarter1:
          nullable: true
          title: HomeScoreQuarter1
          type: integer
        HomeScoreQuarter2:
          nullable: true
          title: HomeScoreQuarter2
          type: integer
        HomeScoreQuarter3:
          nullable: true
          title: HomeScoreQuarter3
          type: integer
        HomeScoreQuarter4:
          nullable: true
          title: HomeScoreQuarter4
          type: integer
        HomeSoloTackles:
          nullable: true
          title: HomeSoloTackles
          type: integer
        HomeTacklesForLoss:
          nullable: true
          title: HomeTacklesForLoss
          type: integer
        HomeTakeaways:
          nullable: true
          title: HomeTakeaways
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeThirdDownAttempts:
          nullable: true
          title: HomeThirdDownAttempts
          type: integer
        HomeThirdDownConversions:
          nullable: true
          title: HomeThirdDownConversions
          type: integer
        HomeThirdDownPercentage:
          nullable: true
          title: HomeThirdDownPercentage
          type: number
        HomeTimeOfPossession:
          nullable: true
          title: HomeTimeOfPossession
          type: string
        HomeTimesSacked:
          nullable: true
          title: HomeTimesSacked
          type: integer
        HomeTimesSackedYards:
          nullable: true
          title: HomeTimesSackedYards
          type: integer
        HomeTouchdowns:
          nullable: true
          title: HomeTouchdowns
          type: integer
        HomeTurnoverDifferential:
          nullable: true
          title: HomeTurnoverDifferential
          type: integer
        HomeTwoPointConversionReturns:
          nullable: true
          title: HomeTwoPointConversionReturns
          type: integer
        Humidity:
          nullable: true
          title: Humidity
          type: integer
        IsGameOver:
          nullable: true
          title: IsGameOver
          type: boolean
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        PlayingSurface:
          nullable: true
          title: PlayingSurface
          type: string
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        ScoreID:
          nullable: false
          title: ScoreID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        Stadium:
          nullable: true
          title: Stadium
          type: string
        StadiumDetails:
          $ref: '#/components/schemas/Stadium'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Temperature:
          nullable: true
          title: Temperature
          type: integer
        TotalScore:
          nullable: true
          title: TotalScore
          type: integer
        Week:
          nullable: false
          title: Week
          type: integer
        WindSpeed:
          nullable: true
          title: WindSpeed
          type: integer
      title: Game
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Title: Title
        PlayerID2: 1
        TeamID: 5
        Source: Source
        Url: Url
        NewsID: 0
        TeamID2: 5
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Team: Team
        Team2: Team2
        TimeAgo: TimeAgo
      properties:
        Author:
          nullable: true
          title: Author
          type: string
        Categories:
          nullable: true
          title: Categories
          type: string
        Content:
          nullable: true
          title: Content
          type: string
        NewsID:
          nullable: false
          title: NewsID
          type: integer
        OriginalSource:
          nullable: true
          title: OriginalSource
          type: string
        OriginalSourceUrl:
          nullable: true
          title: OriginalSourceUrl
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlayerID2:
          nullable: true
          title: PlayerID2
          type: integer
        Source:
          nullable: true
          title: Source
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        Team2:
          nullable: true
          title: Team2
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        TeamID2:
          nullable: true
          title: TeamID2
          type: integer
        TermsOfUse:
          nullable: true
          title: TermsOfUse
          type: string
        TimeAgo:
          nullable: true
          title: TimeAgo
          type: string
        Title:
          nullable: true
          title: Title
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Url:
          nullable: true
          title: Url
          type: string
      title: News
    Player:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        UpcomingGameOpponent: UpcomingGameOpponent
        GlobalTeamID: 1
        ShortName: ShortName
        UpcomingYahooSalary: 6
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        BirthDateString: BirthDateString
        Name: Name
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        UpcomingGameWeek: 3
        SportsDirectPlayerID: 9
        UsaTodayPlayerID: 6
        PhotoUrl: PhotoUrl
        UpcomingSalary: 2
        DepthPosition: DepthPosition
        Status: Status
        Position: Position
        FanDuelPlayerID: 4
        DepthPositionCategory: DepthPositionCategory
        CollegeDraftPick: 5
        CollegeDraftRound: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 6
        Weight: 5
        Active: true
        Experience: 2
        InjuryPractice: InjuryPractice
        SportRadarPlayerID: SportRadarPlayerID
        DepthOrder: 9
        HeightFeet: 6
        College: College
        IsUndraftedFreeAgent: true
        LastName: LastName
        BirthDate: BirthDate
        CollegeDraftYear: 2
        UpcomingOpponentPositionRank: 6
        FantasyDraftPlayerID: 1
        UpcomingFanDuelSalary: 6
        AverageDraftPosition: 6.027456183070403
        RotoworldPlayerID: 9
        TeamID: 8
        Number: 1
        DraftKingsPlayerID: 3
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: Height
        Team: Team
        YahooPlayerID: 3
        UpcomingDraftKingsSalary: 9
        Age: 0
        InjuryPracticeDescription: InjuryPracticeDescription
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 6
        CollegeDraftTeam: CollegeDraftTeam
        CurrentStatus: CurrentStatus
        FirstName: FirstName
        PositionCategory: PositionCategory
        CurrentTeam: CurrentTeam
        ExperienceString: ExperienceString
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        HeightInches: 7
        ByeWeek: 1
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        DeclaredInactive: true
        InjuryNotes: InjuryNotes
        FantasyPosition: FantasyPosition
        RotoWirePlayerID: 5
        FantasyAlarmPlayerID: 7
        FantasyPositionDepthOrder: 1
        DepthDisplayOrder: 7
        UpcomingOpponentRank: 1
      properties:
        Active:
          nullable: true
          title: Active
          type: boolean
        Age:
          nullable: true
          title: Age
          type: integer
        AverageDraftPosition:
          nullable: true
          title: AverageDraftPosition
          type: number
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthDateString:
          nullable: true
          title: BirthDateString
          type: string
        ByeWeek:
          nullable: true
          title: ByeWeek
          type: integer
        College:
          nullable: true
          title: College
          type: string
        CollegeDraftPick:
          nullable: true
          title: CollegeDraftPick
          type: integer
        CollegeDraftRound:
          nullable: true
          title: CollegeDraftRound
          type: integer
        CollegeDraftTeam:
          nullable: true
          title: CollegeDraftTeam
          type: string
        CollegeDraftYear:
          nullable: true
          title: CollegeDraftYear
          type: integer
        CurrentStatus:
          nullable: true
          title: CurrentStatus
          type: string
        CurrentTeam:
          nullable: true
          title: CurrentTeam
          type: string
        DeclaredInactive:
          nullable: false
          title: DeclaredInactive
          type: boolean
        DepthDisplayOrder:
          nullable: true
          title: DepthDisplayOrder
          type: integer
        DepthOrder:
          nullable: true
          title: DepthOrder
          type: integer
        DepthPosition:
          nullable: true
          title: DepthPosition
          type: string
        DepthPositionCategory:
          nullable: true
          title: DepthPositionCategory
          type: string
        DraftKingsName:
          nullable: true
          title: DraftKingsName
          type: string
        DraftKingsPlayerID:
          nullable: true
          title: DraftKingsPlayerID
          type: integer
        Experience:
          nullable: true
          title: Experience
          type: integer
        ExperienceString:
          nullable: true
          title: ExperienceString
          type: string
        FanDuelName:
          nullable: true
          title: FanDuelName
          type: string
        FanDuelPlayerID:
          nullable: true
          title: FanDuelPlayerID
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          title: FantasyAlarmPlayerID
          type: integer
        FantasyDraftName:
          nullable: true
          title: FantasyDraftName
          type: string
        FantasyDraftPlayerID:
          nullable: true
          title: FantasyDraftPlayerID
          type: integer
        FantasyPosition:
          nullable: true
          title: FantasyPosition
          type: string
        FantasyPositionDepthOrder:
          nullable: true
          title: FantasyPositionDepthOrder
          type: integer
        FirstName:
          nullable: true
          title: FirstName
          type: string
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Height:
          nullable: true
          title: Height
          type: string
        HeightFeet:
          nullable: true
          title: HeightFeet
          type: integer
        HeightInches:
          nullable: true
          title: HeightInches
          type: integer
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryPractice:
          nullable: true
          title: InjuryPractice
          type: string
        InjuryPracticeDescription:
          nullable: true
          title: InjuryPracticeDescription
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        IsUndraftedFreeAgent:
          nullable: false
          title: IsUndraftedFreeAgent
          type: boolean
        LastName:
          nullable: true
          title: LastName
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: true
          title: Number
          type: integer
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        PositionCategory:
          nullable: true
          title: PositionCategory
          type: string
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        RotoworldPlayerID:
          nullable: true
          title: RotoworldPlayerID
          type: integer
        ShortName:
          nullable: true
          title: ShortName
          type: string
        SportRadarPlayerID:
          nullable: true
          title: SportRadarPlayerID
          type: string
        SportsDirectPlayerID:
          nullable: true
          title: SportsDirectPlayerID
          type: integer
        StatsPlayerID:
          nullable: true
          title: StatsPlayerID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        UpcomingDraftKingsSalary:
          nullable: true
          title: UpcomingDraftKingsSalary
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          title: UpcomingFanDuelSalary
          type: integer
        UpcomingGameOpponent:
          nullable: true
          title: UpcomingGameOpponent
          type: string
        UpcomingGameWeek:
          nullable: false
          title: UpcomingGameWeek
          type: integer
        UpcomingOpponentPositionRank:
          nullable: true
          title: UpcomingOpponentPositionRank
          type: integer
        UpcomingOpponentRank:
          nullable: true
          title: UpcomingOpponentRank
          type: integer
        UpcomingSalary:
          nullable: true
          title: UpcomingSalary
          type: integer
        UpcomingYahooSalary:
          nullable: true
          title: UpcomingYahooSalary
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUpdated
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUrl
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          title: UsaTodayHeadshotUpdated
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          title: UsaTodayHeadshotUrl
          type: string
        UsaTodayPlayerID:
          nullable: true
          title: UsaTodayPlayerID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
        XmlTeamPlayerID:
          nullable: true
          title: XmlTeamPlayerID
          type: integer
        YahooName:
          nullable: true
          title: YahooName
          type: string
        YahooPlayerID:
          nullable: true
          title: YahooPlayerID
          type: integer
      title: Player
    PlayerDetail:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        UpcomingGameOpponent: UpcomingGameOpponent
        GlobalTeamID: 1
        ShortName: ShortName
        UpcomingYahooSalary: 9
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        BirthDateString: BirthDateString
        Name: Name
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        UpcomingGameWeek: 2
        SportsDirectPlayerID: 8
        UsaTodayPlayerID: 2
        PhotoUrl: PhotoUrl
        UpcomingSalary: 5
        DepthPosition: DepthPosition
        Status: Status
        PlayerSeason:
          BlockedKicks: 6.778324963048013
          PlayerID: 7
          Safeties: 8.276461147928103
          FumblesRecovered: 4.86315908102884
          RushingTouchdowns: 3.209082285545927
          DefensiveSnapsPlayed: 6
          TwoPointConversionReturns: 5.296102445648278
          PlayerSeasonID: 4
          WindSpeed: 1
          PassingLong: 7.835035282970782
          AverageDraftPositionPPR: 3.5571952270680973
          Activated: 5
          PuntLong: 0.58919091925136
          ReceivingLong: 3.8008573585058016
          FantasyPointsPPR: 4.652396432933246
          Fumbles: 0.8774076871421566
          InterceptionReturnTouchdowns: 4.459605034958679
          FumblesOutOfBounds: 7.933506881737151
          Position: Position
          FumblesForced: 9.702963800023566
          TacklesForLoss: 1.0502890910539986
          FieldGoalPercentage: 7.740351818741173
          PassingAttempts: 3.7814124730767915
          PassingInterceptions: 5.877124706116695
          ScoringDetails:
          - PlayerID: 2
            GameKey: GameKey
            ScoringDetailID: 0
            SeasonType: 0
            PlayerGameID: 8
            Length: 4
            ScoringPlayID: 2
            Team: Team
            ScoreID: 6
            ScoringType: ScoringType
            Season: 5
            Week: 7
          - PlayerID: 2
            GameKey: GameKey
            ScoringDetailID: 0
            SeasonType: 0
            PlayerGameID: 8
            Length: 4
            ScoringPlayID: 2
            Team: Team
            ScoreID: 6
            ScoringType: ScoringType
            Season: 5
            Week: 7
          PuntReturns: 3.812761638325517
          SpecialTeamsSoloTackles: 6.918231485891953
          FantasyPointsDraftKings: 7.058770351582356
          FumblesOwnRecoveries: 5.507386964179881
          AverageDraftPositionRookie: 6.965117697638846
          ExtraPointsMade: 7.143538047012306
          BlockedKickReturnYards: 2.8841621266687802
          SpecialTeamsFumblesRecovered: 9.721723570087065
          SafetiesAllowed: 6.458262756685686
          PassesDefended: 7.606863723092579
          MiscFumblesRecovered: 3.502657762086401
          KickReturnYards: 6.623518433804886
          Started: 0
          OffensiveFumbleRecoveryTouchdowns: 0
          KickReturnFairCatches: 2.9409642974827896
          PuntReturnTouchdowns: 9.806951670467935
          TeamID: 6
          ExtraPointsAttempted: 3.353193347011243
          PuntReturnYards: 1.3949519358941398
          ReceivingYardsPerTarget: 7.726998920545485
          Played: 0
          SoloTackles: 0.30134145536422907
          KickReturnLong: 1.7325933120207193
          Humidity: 8
          OffensiveTeamSnaps: 5
          OffensiveTouchdowns: 8.37823741034869
          QuarterbackHits: 5.974942028545841
          Team: Team
          Season: 6
          MiscAssistedTackles: 9.254183946267839
          AverageDraftPositionDynasty: 6.438423552598547
          MiscSoloTackles: 9.183123594773994
          Sacks: 4.010300976654761
          ExtraPointsHadBlocked: 3.0937452626664474
          FieldGoalsMade50Plus: 4.678947989005849
          MiscFumblesForced: 1.8268702177058116
          ReceptionPercentage: 7.92839742024475
          FieldGoalsMade0to19: 0.2025324113236393
          Interceptions: 0.43431398824148815
          FantasyPosition: FantasyPosition
          PuntTouchbacks: 5.6644160867523485
          PassingCompletions: 9.897492629215506
          FieldGoalsMade: 4.078845849666752
          FumblesLost: 0.5199002018724985
          RushingLong: 4.4935252719377825
          PuntReturnLong: 6.966044574347761
          PassingYardsPerCompletion: 0.4833312865174044
          PassingYardsPerAttempt: 4.518309517874243
          SpecialTeamsTouchdowns: 4.637509675190766
          FieldGoalsLongestMade: 3.2588565619047607
          ReceivingTouchdowns: 3.2841216543560217
          Receptions: 9.402167524121316
          GlobalTeamID: 6
          ShortName: ShortName
          Name: Name
          FieldGoalsMade20to29: 6.628464275087742
          ReceivingTargets: 1.0639121808530916
          ReceivingYardsPerReception: 7.3718573971919445
          AuctionValuePPR: 6.683562403749608
          SpecialTeamsTeamSnaps: 0
          RushingAttempts: 1.7045651386993
          FieldGoalReturnTouchdowns: 3.0205796992916243
          KickReturns: 8.863729185622827
          AssistedTackles: 9.965781217890562
          FieldGoalsMade40to49: 1.041444916118296
          SpecialTeamsSnapsPlayed: 7
          PuntReturnFairCatches: 4.8789878742268815
          FieldGoalsMade30to39: 4.258773108174356
          FantasyPointsFanDuel: 6.519180951018382
          PassingTouchdowns: 3.804112695731078
          FieldGoalsHadBlocked: 5.533258397034986
          KickReturnTouchdowns: 8.28965939814297
          PuntReturnYardsPerAttempt: 1.2555055362323109
          PuntYards: 1.5970080735609526
          PuntNetYards: 6.173804034172511
          Punts: 4.372688051310086
          TwoPointConversionPasses: 2.026856458177285
          TwoPointConversionReceptions: 3.196820582978078
          Touchdowns: 4.1661834558007
          FieldGoalReturnYards: 3.0576100241049344
          InterceptionReturnYards: 3.901545264248647
          Temperature: 2
          FumbleReturnTouchdowns: 7.260521264802104
          AverageDraftPosition: 8.762042012749001
          FantasyPointsYahoo: 8.969578798196912
          PassingSackYards: 3.1497903714250555
          TwoPointConversionRuns: 3.8156682252305574
          BlockedKickReturnTouchdowns: 1.284659006116532
          DefensiveTeamSnaps: 5
          FieldGoalsAttempted: 7.04836565559697
          Number: 8
          KickReturnYardsPerAttempt: 4.573936264232251
          RushingYardsPerAttempt: 2.9805393113464476
          DefensiveTouchdowns: 6.704019297950036
          FantasyPointsFantasyDraft: 0.10263654006109402
          AuctionValue: 9.369310271410669
          PuntsHadBlocked: 5.7911894223693885
          PassingCompletionPercentage: 3.111202833403195
          PassingSacks: 2.380090174313445
          FantasyPoints: 0.8851374739011653
          AverageDraftPosition2QB: 9.018348186070783
          SpecialTeamsAssistedTackles: 0.4867146239815201
          PassingRating: 0.4768402382624515
          PositionCategory: PositionCategory
          ReceivingYards: 9.785002165136461
          PuntNetAverage: 2.535258963197524
          FumbleReturnYards: 9.132027271330688
          PassingYards: 8.675064425986758
          SeasonType: 4
          Tackles: 7.390706075830692
          PuntInside20: 9.386524999783381
          SackYards: 9.146339979307802
          RushingYards: 8.262795412896967
          PuntAverage: 2.7977867356748476
          SpecialTeamsFumblesForced: 9.456612101333725
          OffensiveSnapsPlayed: 5
        Position: Position
        FanDuelPlayerID: 4
        DepthPositionCategory: DepthPositionCategory
        CollegeDraftPick: 5
        CollegeDraftRound: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 7
        Weight: 7
        Active: true
        Experience: 2
        InjuryPractice: InjuryPractice
        SportRadarPlayerID: SportRadarPlayerID
        DepthOrder: 9
        HeightFeet: 6
        College: College
        IsUndraftedFreeAgent: true
        LastName: LastName
        BirthDate: BirthDate
        CollegeDraftYear: 2
        UpcomingOpponentPositionRank: 4
        FantasyDraftPlayerID: 1
        UpcomingFanDuelSalary: 0
        LatestNews:
        - PlayerID: 6
          OriginalSourceUrl: OriginalSourceUrl
          Updated: Updated
          Categories: Categories
          TermsOfUse: TermsOfUse
          Title: Title
          PlayerID2: 1
          TeamID: 5
          Source: Source
          Url: Url
          NewsID: 0
          TeamID2: 5
          Content: Content
          OriginalSource: OriginalSource
          Author: Author
          Team: Team
          Team2: Team2
          TimeAgo: TimeAgo
        - PlayerID: 6
          OriginalSourceUrl: OriginalSourceUrl
          Updated: Updated
          Categories: Categories
          TermsOfUse: TermsOfUse
          Title: Title
          PlayerID2: 1
          TeamID: 5
          Source: Source
          Url: Url
          NewsID: 0
          TeamID2: 5
          Content: Content
          OriginalSource: OriginalSource
          Author: Author
          Team: Team
          Team2: Team2
          TimeAgo: TimeAgo
        AverageDraftPosition: 6.027456183070403
        RotoworldPlayerID: 3
        TeamID: 2
        Number: 1
        DraftKingsPlayerID: 3
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: Height
        Team: Team
        YahooPlayerID: 6
        UpcomingDraftKingsSalary: 8
        Age: 0
        InjuryPracticeDescription: InjuryPracticeDescription
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 7
        CollegeDraftTeam: CollegeDraftTeam
        CurrentStatus: CurrentStatus
        FirstName: FirstName
        PositionCategory: PositionCategory
        CurrentTeam: CurrentTeam
        ExperienceString: ExperienceString
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        HeightInches: 7
        ByeWeek: 1
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        DeclaredInactive: true
        InjuryNotes: InjuryNotes
[...]
