openapi: 3.0.1
info:
  description: Edge gateway pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/EdgeGatewayPool.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-EdgeGatewayPool
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools
  : get:
      description: Returns a list of all edge gateway pool objects at a location.
      operationId: EdgeGatewayPools_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeGatewayPoolList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - EdgeGatewayPools
      x-ms-examples:
        Returns a list of all edge gateway pool objects at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default
                  location: local
                  name: default
                  properties:
                    edgeGateways:
                    - local/AzS-Gwy01
                    gatewayCapacityKiloBitsPerSecond: 100000000
                    gatewayType: S2sIPsec
                    numberOfGateways: 1
                    publicIpAddress: 00000000-5555-0000-0001-000000000000
                    redundantGatewayCount: 0
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools
            "404": {}
      x-ms-odata: '#/definitions/EdgeGatewayPool'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools/{edgeGatewayPool}
  : get:
      description: Returns the requested edge gateway pool object.
      operationId: EdgeGatewayPools_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the edge gateway pool.
        in: path
        name: edgeGatewayPool
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeGatewayPool'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - EdgeGatewayPools
      x-ms-examples:
        Returns the requested edge gateway pool object.:
          parameters:
            api-version: 2016-05-01
            edgeGatewayPool: default
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default
                location: local
                name: default
                properties:
                  edgeGateways:
                  - local/AzS-Gwy01
                  gatewayCapacityKiloBitsPerSecond: 100000000
                  gatewayType: S2sIPsec
                  numberOfGateways: 1
                  publicIpAddress: 00000000-5555-0000-0001-000000000000
                  redundantGatewayCount: 0
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools
            "404": {}
      x-accepts:
      - application/json
components:
  parameters:
    EdgeGatewayPoolParameter:
      description: Name of the edge gateway pool.
      in: path
      name: edgeGatewayPool
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    EdgeGatewayPool:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: "This object represents an edge gateway pool, which contains a\
        \ list of gateways."
      example:
        properties:
          gatewayType: gatewayType
          publicIpAddress: publicIpAddress
          gatewayCapacityKiloBitsPerSecond: 0
          redundantGatewayCount: 1
          edgeGateways:
          - edgeGateways
          - edgeGateways
          greVipSubnet: greVipSubnet
          numberOfGateways: 6
      properties:
        properties:
          $ref: '#/components/schemas/EdgeGatewayPoolModel'
    EdgeGatewayPoolList:
      description: A pageable list of edge gateway pools objects.
      example:
        value:
        - properties:
            gatewayType: gatewayType
            publicIpAddress: publicIpAddress
            gatewayCapacityKiloBitsPerSecond: 0
            redundantGatewayCount: 1
            edgeGateways:
            - edgeGateways
            - edgeGateways
            greVipSubnet: greVipSubnet
            numberOfGateways: 6
        - properties:
            gatewayType: gatewayType
            publicIpAddress: publicIpAddress
            gatewayCapacityKiloBitsPerSecond: 0
            redundantGatewayCount: 1
            edgeGateways:
            - edgeGateways
            - edgeGateways
            greVipSubnet: greVipSubnet
            numberOfGateways: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to the next page.
          type: string
        value:
          description: List of edge gateway pool objects.
          items:
            $ref: '#/components/schemas/EdgeGatewayPool'
          type: array
      type: object
    EdgeGatewayPoolModel:
      description: An object that contains the properties of an edge gateway pool.
      example:
        gatewayType: gatewayType
        publicIpAddress: publicIpAddress
        gatewayCapacityKiloBitsPerSecond: 0
        redundantGatewayCount: 1
        edgeGateways:
        - edgeGateways
        - edgeGateways
        greVipSubnet: greVipSubnet
        numberOfGateways: 6
      properties:
        edgeGateways:
          description: List of the edge gateways in the pool.
          items:
            type: string
          type: array
        gatewayCapacityKiloBitsPerSecond:
          description: Gateway capacity in kilobits per second.
          format: int32
          type: integer
        gatewayType:
          description: "The gateway type, for example, S2sIPsec, S2sGre, and so on."
          type: string
        greVipSubnet:
          description: The GRE VIP subnet.
          type: string
        numberOfGateways:
          description: The number of gateways in the pool.
          format: int32
          type: integer
        publicIpAddress:
          description: The public IP address.
          type: string
        redundantGatewayCount:
          description: The number of redundant gateways.
          format: int64
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

