openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Resource Settings API allows users to control and modify the behavior\
    \ of their GCP resources (e.g., VM, firewall, Project, etc.) across the Cloud\
    \ Resource Hierarchy."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Resource Settings API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: openapi
    url: https://resourcesettings.googleapis.com/$discovery/rest?version=v1
    version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: resourcesettings
externalDocs:
  url: https://cloud.google.com/resource-manager/docs/resource-settings/overview
servers:
- url: https://resourcesettings.googleapis.com/
tags:
- name: folders
- name: organizations
- name: projects
paths:
  /v1/{name}:
    get:
      description: Returns a specified setting. Returns a `google.rpc.Status` with
        `google.rpc.Code.NOT_FOUND` if the setting does not exist.
      operationId: resourcesettings_projects_settings_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the setting to get. See Setting for naming
          requirements.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The SettingView for this request.
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - SETTING_VIEW_UNSPECIFIED
          - SETTING_VIEW_BASIC
          - SETTING_VIEW_EFFECTIVE_VALUE
          - SETTING_VIEW_LOCAL_VALUE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Setting'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "Updates a specified setting. Returns a `google.rpc.Status` with\
        \ `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status`\
        \ with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as\
        \ read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED`\
        \ if the etag supplied in the request does not match the persisted etag of\
        \ the setting value. On success, the response will contain only `name`, `local_value`\
        \ and `etag`. The `metadata` and `effective_value` cannot be updated through\
        \ this API. Note: the supplied setting will perform a full overwrite of the\
        \ `local_value` field."
      operationId: resourcesettings_projects_settings_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource name of the setting. Must be in one of the following\
          \ forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}`\
          \ * `organizations/{organization_id}/settings/{setting_name}` For example,\
          \ \"/projects/123/settings/gcp-enableMyFeature\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Setting'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Setting'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/settings:
    get:
      description: Lists all the settings that are available on the Cloud resource
        `parent`.
      operationId: resourcesettings_projects_settings_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The project, folder, or organization that is the parent\
          \ resource for this setting. Must be in one of the following forms: * `projects/{project_number}`\
          \ * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Unused. The size of the page to be returned.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Unused. A page token used to retrieve the next page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: The SettingView for this request.
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - SETTING_VIEW_UNSPECIFIED
          - SETTING_VIEW_BASIC
          - SETTING_VIEW_EFFECTIVE_VALUE
          - SETTING_VIEW_LOCAL_VALUE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudResourcesettingsV1ListSettingsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudResourcesettingsV1ListSettingsResponse:
      description: The response from ListSettings.
      example:
        settings:
        - metadata:
            defaultValue:
              stringValue: stringValue
              stringSetValue:
                values:
                - values
                - values
              enumValue:
                value: value
              stringMapValue:
                mappings:
                  key: mappings
              durationValue: durationValue
              booleanValue: true
            displayName: displayName
            dataType: DATA_TYPE_UNSPECIFIED
            description: description
            readOnly: true
          effectiveValue:
            stringValue: stringValue
            stringSetValue:
              values:
              - values
              - values
            enumValue:
              value: value
            stringMapValue:
              mappings:
                key: mappings
            durationValue: durationValue
            booleanValue: true
          name: name
          etag: etag
          localValue:
            stringValue: stringValue
            stringSetValue:
              values:
              - values
              - values
            enumValue:
              value: value
            stringMapValue:
              mappings:
                key: mappings
            durationValue: durationValue
            booleanValue: true
        - metadata:
            defaultValue:
              stringValue: stringValue
              stringSetValue:
                values:
                - values
                - values
              enumValue:
                value: value
              stringMapValue:
                mappings:
                  key: mappings
              durationValue: durationValue
              booleanValue: true
            displayName: displayName
            dataType: DATA_TYPE_UNSPECIFIED
            description: description
            readOnly: true
          effectiveValue:
            stringValue: stringValue
            stringSetValue:
              values:
              - values
              - values
            enumValue:
              value: value
            stringMapValue:
              mappings:
                key: mappings
            durationValue: durationValue
            booleanValue: true
          name: name
          etag: etag
          localValue:
            stringValue: stringValue
            stringSetValue:
              values:
              - values
              - values
            enumValue:
              value: value
            stringMapValue:
              mappings:
                key: mappings
            durationValue: durationValue
            booleanValue: true
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: Unused. A page token used to retrieve the next page.
          title: nextPageToken
          type: string
        settings:
          description: A list of settings that are available at the specified Cloud
            resource.
          items:
            $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Setting'
          title: settings
          type: array
      title: GoogleCloudResourcesettingsV1ListSettingsResponse
      type: object
    GoogleCloudResourcesettingsV1Setting:
      description: The schema for settings.
      example:
        metadata:
          defaultValue:
            stringValue: stringValue
            stringSetValue:
              values:
              - values
              - values
            enumValue:
              value: value
            stringMapValue:
              mappings:
                key: mappings
            durationValue: durationValue
            booleanValue: true
          displayName: displayName
          dataType: DATA_TYPE_UNSPECIFIED
          description: description
          readOnly: true
        effectiveValue:
          stringValue: stringValue
          stringSetValue:
            values:
            - values
            - values
          enumValue:
            value: value
          stringMapValue:
            mappings:
              key: mappings
          durationValue: durationValue
          booleanValue: true
        name: name
        etag: etag
        localValue:
          stringValue: stringValue
          stringSetValue:
            values:
            - values
            - values
          enumValue:
            value: value
          stringMapValue:
            mappings:
              key: mappings
          durationValue: durationValue
          booleanValue: true
      properties:
        effectiveValue:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Value'
        etag:
          description: A fingerprint used for optimistic concurrency. See UpdateSetting
            for more details.
          title: etag
          type: string
        localValue:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Value'
        metadata:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1SettingMetadata'
        name:
          description: "The resource name of the setting. Must be in one of the following\
            \ forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}`\
            \ * `organizations/{organization_id}/settings/{setting_name}` For example,\
            \ \"/projects/123/settings/gcp-enableMyFeature\""
          title: name
          type: string
      title: GoogleCloudResourcesettingsV1Setting
      type: object
    GoogleCloudResourcesettingsV1SettingMetadata:
      description: Metadata about a setting which is not editable by the end user.
      example:
        defaultValue:
          stringValue: stringValue
          stringSetValue:
            values:
            - values
            - values
          enumValue:
            value: value
          stringMapValue:
            mappings:
              key: mappings
          durationValue: durationValue
          booleanValue: true
        displayName: displayName
        dataType: DATA_TYPE_UNSPECIFIED
        description: description
        readOnly: true
      properties:
        dataType:
          description: The data type for this setting.
          enum:
          - DATA_TYPE_UNSPECIFIED
          - BOOLEAN
          - STRING
          - STRING_SET
          - ENUM_VALUE
          - DURATION_VALUE
          - STRING_MAP
          title: dataType
          type: string
        defaultValue:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1Value'
        description:
          description: A detailed description of what this setting does.
          title: description
          type: string
        displayName:
          description: The human readable name for this setting.
          title: displayName
          type: string
        readOnly:
          description: A flag indicating that values of this setting cannot be modified.
            See documentation for the specific setting for updates and reasons.
          title: readOnly
          type: boolean
      title: GoogleCloudResourcesettingsV1SettingMetadata
      type: object
    GoogleCloudResourcesettingsV1Value:
      description: The data in a setting value.
      example:
        stringValue: stringValue
        stringSetValue:
          values:
          - values
          - values
        enumValue:
          value: value
        stringMapValue:
          mappings:
            key: mappings
        durationValue: durationValue
        booleanValue: true
      properties:
        booleanValue:
          description: Defines this value as being a boolean value.
          title: booleanValue
          type: boolean
        durationValue:
          description: Defines this value as being a Duration.
          format: google-duration
          title: durationValue
          type: string
        enumValue:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1ValueEnumValue'
        stringMapValue:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1ValueStringMap'
        stringSetValue:
          $ref: '#/components/schemas/GoogleCloudResourcesettingsV1ValueStringSet'
        stringValue:
          description: Defines this value as being a string value.
          title: stringValue
          type: string
      title: GoogleCloudResourcesettingsV1Value
      type: object
    GoogleCloudResourcesettingsV1ValueEnumValue:
      description: "A enum value that can hold any enum type setting values. Each\
        \ enum type is represented by a number, this representation is stored in the\
        \ definitions."
      example:
        value: value
      properties:
        value:
          description: The value of this enum
          title: value
          type: string
      title: GoogleCloudResourcesettingsV1ValueEnumValue
      type: object
    GoogleCloudResourcesettingsV1ValueStringMap:
      description: A string->string map value that can hold a map of string keys to
        string values. The maximum length of each string is 200 characters and there
        can be a maximum of 50 key-value pairs in the map.
      example:
        mappings:
          key: mappings
      properties:
        mappings:
          additionalProperties:
            type: string
          description: The key-value pairs in the map
          title: mappings
          type: object
      title: GoogleCloudResourcesettingsV1ValueStringMap
      type: object
    GoogleCloudResourcesettingsV1ValueStringSet:
      description: A string set value that can hold a set of strings. The maximum
        length of each string is 200 characters and there can be a maximum of 50 strings
        in the string set.
      example:
        values:
        - values
        - values
      properties:
        values:
          description: The strings in the set
          items:
            type: string
          title: values
          type: array
      title: GoogleCloudResourcesettingsV1ValueStringSet
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
