openapi: 3.0.1
info:
  description: The Azure management API provides a RESTful set of web services that
    interact with Azure Dedicated HSM RP.
  title: Azure Dedicated HSM Resource Provider
  version: 2018-10-31-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/dedicatedhsm.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: hardwaresecuritymodules-dedicatedhsm
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs:
    get:
      description: The List operation gets information about the dedicated HSMs associated
        with the subscription.
      operationId: dedicated_hsm_list_by_subscription
      parameters:
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmListResult'
          description: Get information about all dedicated HSMs in the specified subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
      - DedicatedHsms
      x-ms-examples:
        List dedicated HSM devices in a subscription:
          parameters:
            api-version: 2018-10-31-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2018-10-31-preview&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1
                  location: westus
                  name: hsm1
                  properties:
                    networkProfile:
                      networkInterfaces:
                      - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                        privateIpAddress: 1.0.0.1
                      subnet:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                    provisioningState: Succeeded
                    stampId: stamp01
                    statusMessage: DedicatedHsm device is functional.
                  sku:
                    name: SafeNet Luna Network HSM A790
                  tags:
                    Dept: hsm
                    Environment: dogfood
                    Slice: A
                  type: Microsoft.HardwareSecurityModules/dedicatedHSMs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm2
                  location: westus
                  name: hsm1
                  properties:
                    networkProfile:
                      networkInterfaces:
                      - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                        privateIpAddress: 1.0.0.2
                      subnet:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                    provisioningState: Succeeded
                    stampId: stamp01
                    statusMessage: DedicatedHsm device is functional.
                  sku:
                    name: SafeNet Luna Network HSM A790
                  tags:
                    Dept: hsm
                    Environment: dogfood
                    Slice: B
                  type: Microsoft.HardwareSecurityModules/dedicatedHSMs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dedicated_hsms_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs:
    get:
      description: The List operation gets information about the dedicated hsms associated
        with the subscription and within the specified resource group.
      operationId: dedicated_hsm_list_by_resource_group
      parameters:
      - description: The name of the Resource Group to which the dedicated HSM belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmListResult'
          description: Get information about all dedicated HSMs in the specified resource
            group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
      - DedicatedHsms
      x-ms-examples:
        List dedicated HSM devices in a resource group:
          parameters:
            api-version: 2018-10-31-preview
            resourceGroupName: hsm-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2018-10-31-preview&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1
                  location: westus
                  name: hsm1
                  properties:
                    networkProfile:
                      networkInterfaces:
                      - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                        privateIpAddress: 1.0.0.1
                      subnet:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                    provisioningState: Succeeded
                    stampId: stamp01
                    statusMessage: DedicatedHsm device is functional.
                  sku:
                    name: SafeNet Luna Network HSM A790
                  tags:
                    Dept: hsm
                    Environment: dogfood
                    Slice: A
                  type: Microsoft.HardwareSecurityModules/dedicatedHSMs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm2
                  location: westus
                  name: hsm1
                  properties:
                    networkProfile:
                      networkInterfaces:
                      - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                        privateIpAddress: 1.0.0.2
                      subnet:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                    provisioningState: Succeeded
                    stampId: stamp01
                    statusMessage: DedicatedHsm device is functional.
                  sku:
                    name: SafeNet Luna Network HSM A790
                  tags:
                    Dept: hsm
                    Environment: dogfood
                    Slice: B
                  type: Microsoft.HardwareSecurityModules/dedicatedHSMs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dedicated_hsms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/{name}
  : delete:
      description: Deletes the specified Azure Dedicated HSM.
      operationId: dedicated_hsm_delete
      parameters:
      - description: The name of the Resource Group to which the dedicated HSM belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated HSM to delete
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK Response.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
      - DedicatedHsms
      x-ms-examples:
        Delete a dedicated HSM:
          parameters:
            api-version: 2018-10-31-preview
            name: hsm1
            resourceGroupName: hsm-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.dedicated_hsms_controller
    get:
      description: Gets the specified Azure dedicated HSM.
      operationId: dedicated_hsm_get
      parameters:
      - description: The name of the Resource Group to which the dedicated hsm belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated HSM.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Retrieved dedicated HSM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
      - DedicatedHsms
      x-ms-examples:
        Get a dedicated HSM:
          parameters:
            api-version: 2018-10-31-preview
            name: hsm1
            resourceGroupName: hsm-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1
                location: westus
                name: hsm1
                properties:
                  networkProfile:
                    networkInterfaces:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                      privateIpAddress: 1.0.0.1
                    subnet:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                  provisioningState: Succeeded
                  stampId: stamp01
                  statusMessage: DedicatedHsm device is functional.
                sku:
                  name: SafeNet Luna Network HSM A790
                tags:
                  Dept: hsm
                  Environment: dogfood
                  Slice: A
                type: Microsoft.HardwareSecurityModules/dedicatedHSMs
      x-openapi-router-controller: openapi_server.controllers.dedicated_hsms_controller
    patch:
      description: Update a dedicated HSM in the specified subscription.
      operationId: dedicated_hsm_update
      parameters:
      - description: The name of the Resource Group to which the server belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the dedicated HSM
        in: path
        name: name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHsmPatchParameters'
        description: Parameters to patch the dedicated HSM
        required: true
        x-ms-client-flatten: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Patched dedicated HSM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
      - DedicatedHsms
      x-ms-examples:
        Update an existing dedicated HSM:
          parameters:
            api-version: 2018-10-31-preview
            name: hsm1
            parameters:
              tags:
                Dept: hsm
                Environment: dogfood
                Slice: A
            resourceGroupName: hsm-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1
                location: westus
                name: hsm1
                properties:
                  networkProfile:
                    networkInterfaces:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                      privateIpAddress: 1.0.0.1
                    subnet:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                  provisioningState: Succeeded
                  stampId: stamp01
                  statusMessage: DedicatedHsm device is functional.
                sku:
                  name: SafeNet Luna Network HSM A790
                tags:
                  Dept: hsm
                  Environment: dogfood
                  Slice: A
                type: Microsoft.HardwareSecurityModules/dedicatedHSMs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.dedicated_hsms_controller
    put:
      description: Create or Update a dedicated HSM in the specified subscription.
      operationId: dedicated_hsm_create_or_update
      parameters:
      - description: The name of the Resource Group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the dedicated Hsm
        in: path
        name: name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHsm'
        description: Parameters to create or update the dedicated hsm
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Created dedicated HSM
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Created dedicated HSM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
      - DedicatedHsms
      x-ms-examples:
        Create a new or update an existing dedicated HSM:
          parameters:
            api-version: 2018-10-31-preview
            name: hsm1
            parameters:
              location: westus
              properties:
                networkProfile:
                  networkInterfaces:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                    privateIpAddress: 1.0.0.1
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                stampId: stamp01
              sku:
                name: SafeNet Luna Network HSM A790
              tags:
                Dept: hsm
                Environment: dogfood
            resourceGroupName: hsm-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1
                location: westus
                name: hsm1
                properties:
                  networkProfile:
                    networkInterfaces:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                      privateIpAddress: 1.0.0.1
                    subnet:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                  provisioningState: Succeeded
                  stampId: stamp01
                  statusMessage: DedicatedHsm device is functional.
                sku:
                  name: SafeNet Luna Network HSM A790
                tags:
                  Dept: hsm
                  Environment: dogfood
                type: Microsoft.HardwareSecurityModules/dedicatedHSMs
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1
                location: westus
                name: hsm1
                properties:
                  networkProfile:
                    networkInterfaces:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic
                      privateIpAddress: 1.0.0.1
                    subnet:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01
                  provisioningState: Provisioning
                  stampId: stamp01
                  statusMessage: DedicatedHsm device is being provisioned.
                sku:
                  name: SafeNet Luna Network HSM A790
                tags:
                  Dept: hsm
                  Environment: dogfood
                type: Microsoft.HardwareSecurityModules/dedicatedHSMs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.dedicated_hsms_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiEntityReference:
      description: The API entity reference.
      example:
        id: id
      properties:
        id:
          description: "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
          title: id
          type: string
      title: ApiEntityReference
      type: object
    DedicatedHsm:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information with extended details.
      example:
        properties:
          stampId: stampId
          networkProfile:
            subnet:
              id: id
            networkInterfaces:
            - id: id
              privateIpAddress: privateIpAddress
            - id: id
              privateIpAddress: privateIpAddress
          provisioningState: Succeeded
          statusMessage: statusMessage
      properties:
        properties:
          $ref: '#/components/schemas/DedicatedHsmProperties'
      required:
      - properties
      title: DedicatedHsm
    DedicatedHsmError:
      description: The error exception.
      example:
        error:
          code: code
          innererror: null
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: DedicatedHsmError
      type: object
    DedicatedHsmListResult:
      description: List of dedicated HSMs
      example:
        value:
        - properties:
            stampId: stampId
            networkProfile:
              subnet:
                id: id
              networkInterfaces:
              - id: id
                privateIpAddress: privateIpAddress
              - id: id
                privateIpAddress: privateIpAddress
            provisioningState: Succeeded
            statusMessage: statusMessage
        - properties:
            stampId: stampId
            networkProfile:
              subnet:
                id: id
              networkInterfaces:
              - id: id
                privateIpAddress: privateIpAddress
              - id: id
                privateIpAddress: privateIpAddress
            provisioningState: Succeeded
            statusMessage: statusMessage
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of dedicated hsms.
          title: nextLink
          type: string
        value:
          description: The list of dedicated HSMs.
          items:
            $ref: '#/components/schemas/DedicatedHsm'
          title: value
          type: array
      title: DedicatedHsmListResult
      type: object
    DedicatedHsmPatchParameters:
      description: Patchable properties of the dedicated HSM
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: DedicatedHsmPatchParameters
      type: object
    DedicatedHsmProperties:
      description: Properties of the dedicated hsm
      example:
        stampId: stampId
        networkProfile:
          subnet:
            id: id
          networkInterfaces:
          - id: id
            privateIpAddress: privateIpAddress
          - id: id
            privateIpAddress: privateIpAddress
        provisioningState: Succeeded
        statusMessage: statusMessage
      properties:
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
        provisioningState:
          description: Provisioning state.
          enum:
          - Succeeded
          - Provisioning
          - Allocating
          - Connecting
          - Failed
          - CheckingQuota
          - Deleting
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: JsonWebKeyType
            values:
            - description: The dedicated HSM has been full provisioned.
              value: Succeeded
            - description: The dedicated HSM is currently being provisioned.
              value: Provisioning
            - description: A device is currently being allocated for the dedicated
                HSM resource.
              value: Allocating
            - description: The dedicated HSM is being connected to the virtual network.
              value: Connecting
            - description: Provisioning of the dedicated HSM has failed.
              value: Failed
            - description: Validating the subscription has sufficient quota to allocate
                a dedicated HSM device.
              value: CheckingQuota
            - description: The dedicated HSM is currently being deleted.
              value: Deleting
        stampId:
          description: This field will be used when RP does not support Availability
            zones.
          title: stampId
          type: string
        statusMessage:
          description: Resource Status Message.
          readOnly: true
          title: statusMessage
          type: string
      title: DedicatedHsmProperties
      type: object
    Error:
      description: The key vault server error.
      example:
        code: code
        innererror: null
        message: message
      properties:
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        innererror:
          $ref: '#/components/schemas/Error'
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
      title: Error
      type: object
    NetworkInterface:
      description: The network interface definition.
      example:
        id: id
        privateIpAddress: privateIpAddress
      properties:
        id:
          description: "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
          readOnly: true
          title: id
          type: string
        privateIpAddress:
          description: Private Ip address of the interface
          title: privateIpAddress
          type: string
      title: NetworkInterface
      type: object
    NetworkProfile:
      example:
        subnet:
          id: id
        networkInterfaces:
        - id: id
          privateIpAddress: privateIpAddress
        - id: id
          privateIpAddress: privateIpAddress
      properties:
        networkInterfaces:
          description: Specifies the list of resource Ids for the network interfaces
            associated with the dedicated HSM.
          items:
            $ref: '#/components/schemas/NetworkInterface'
          title: networkInterfaces
          type: array
        subnet:
          $ref: '#/components/schemas/ApiEntityReference'
      title: NetworkProfile
      type: object
    Resource:
      description: Dedicated HSM resource
      properties:
        id:
          description: The Azure Resource Manager resource ID for the dedicated HSM.
          readOnly: true
          title: id
          type: string
        location:
          description: The supported Azure location where the dedicated HSM should
            be created.
          title: location
          type: string
        name:
          description: The name of the dedicated HSM.
          readOnly: true
          title: name
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: The resource type of the dedicated HSM.
          readOnly: true
          title: type
          type: string
        zones:
          description: The Dedicated Hsm zones.
          items:
            type: string
          title: zones
          type: array
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceListResult:
      description: List of dedicated HSM resources.
      properties:
        nextLink:
          description: The URL to get the next set of dedicated HSM resources.
          type: string
        value:
          description: The list of dedicated HSM resources.
          items:
            $ref: '#/components/schemas/Resource'
          type: array
      type: object
    Sku:
      properties:
        name:
          description: SKU of the dedicated HSM
          enum:
          - SafeNet Luna Network HSM A790
          title: name
          type: string
      title: Sku
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
