openapi: 3.0.1
info:
  description: Mixed Reality Resource Provider REST API
  title: Mixed Reality
  version: 2019-02-28-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/mixedreality.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mixedreality
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MixedReality/operations:
    get:
      description: Exposing Available Operations
      operationId: Operations_List
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Proxy
      x-ms-examples:
        OperationList:
          parameters:
            api-version: 2019-02-28-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers a subscription for the Mixed Reality resource
                      provider.
                    operation: Registers the Mixed Reality resource provider
                    provider: Microsoft.MixedReality
                    resource: Mixed Reality resource provider
                  name: Microsoft.MixedReality/register/action
                - display:
                    description: Deletes the resource for Microsoft.MixedReality/SpatialAnchorsAccounts
                    operation: Delete Spatial Anchors Accounts
                    provider: Microsoft.MixedReality
                    resource: SpatialAnchorsAccounts
                  name: Microsoft.MixedReality/SpatialAnchorsAccounts/delete
                - display:
                    description: Gets the resource for Microsoft.MixedReality/SpatialAnchorsAccounts
                    operation: Get Spatial Anchors Accounts
                    provider: Microsoft.MixedReality
                    resource: SpatialAnchorsAccounts
                  name: Microsoft.MixedReality/SpatialAnchorsAccounts/read
                - display:
                    description: Updates the resource for Microsoft.MixedReality/SpatialAnchorsAccounts
                    operation: Update Spatial Anchors Accounts
                    provider: Microsoft.MixedReality
                    resource: SpatialAnchorsAccounts
                  name: Microsoft.MixedReality/SpatialAnchorsAccounts/write
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability:
    post:
      description: Check Name Availability for global uniqueness
      operationId: CheckNameAvailabilityLocal
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The location in which uniqueness will be verified.
        in: path
        name: location
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: Check Name Availability Request.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Proxy
      x-ms-examples:
        CheckLocalNameAvailability:
          parameters:
            api-version: 2019-02-28-preview
            checkNameAvailability:
              name: MyAccount
              type: SpatialAnchorsAccount
            location: eastus2euap
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                message: '...'
                nameAvailable: "false"
                reason: AlreadyExists
      x-codegen-request-body-name: checkNameAvailability
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts:
    get:
      description: List Spatial Anchors Accounts by Subscription
      operationId: SpatialAnchorsAccounts_ListBySubscription
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      - Proxy
      x-ms-examples:
        SpatialAnchorsAccountListBySubscription:
          parameters:
            api-version: 2019-02-28-preview
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                nextLink: https://aka.ms/&^FDKKAR
                value:
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                  location: eastus2euap
                  name: MyAccount
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/omega
                  location: eastus2euap
                  name: omega
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts:
    get:
      description: List Resources by Resource Group
      operationId: SpatialAnchorsAccounts_ListByResourceGroup
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        ResourceGet:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                nextLink: https://aka.ms/&^FDKKAR
                value:
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                  location: eastus2euap
                  name: MyAccount
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/omega
                  location: eastus2euap
                  name: omega
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}
  : delete:
      description: Delete a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Delete
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Spatial Anchors Account.
        in: path
        name: spatialAnchorsAccountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        ResourceDelete:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccountName: MyAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Retrieve a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Get
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Spatial Anchors Account.
        in: path
        name: spatialAnchorsAccountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        ResourceGet:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccountName: MyAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-accepts:
      - application/json
    patch:
      description: Updating a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_Update
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Spatial Anchors Account.
        in: path
        name: spatialAnchorsAccountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Update spatial anchors account:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccount:
              Tags:
                hero: romeo
                heroine: juliet
            spatialAnchorsAccountName: MyAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags:
                  hero: romeo
                  heroine: juliet
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-codegen-request-body-name: spatialAnchorsAccount
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creating or Updating a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Create
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Spatial Anchors Account.
        in: path
        name: spatialAnchorsAccountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        ResourceCreate:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccount:
              location: eastus2euap
            spatialAnchorsAccountName: MyAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
            "201":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-codegen-request-body-name: spatialAnchorsAccount
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}/keys
  : get:
      description: Get Both of the 2 Keys of a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_GetKeys
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Spatial Anchors Account.
        in: path
        name: spatialAnchorsAccountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountKeys'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Key
      x-ms-examples:
        ResourceRegenerateKey:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccountName: MyAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                primaryKey: vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=
                secondaryKey: N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4=
      x-accepts:
      - application/json
    post:
      description: Regenerate 1 Key of a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_RegenerateKeys
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Spatial Anchors Account.
        in: path
        name: spatialAnchorsAccountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccountKeyRegenerateRequest'
        description: Specifying which key to be regenerated.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountKeys'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Key
      x-ms-examples:
        ResourceRegenerateKey:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccountKeyRegenerate:
              serial: 1
            spatialAnchorsAccountName: MyAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                primaryKey: vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=
                secondaryKey: N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4=
      x-codegen-request-body-name: spatialAnchorsAccountKeyRegenerate
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    locationParameter:
      description: The location in which uniqueness will be verified.
      in: path
      name: location
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Name of an Azure resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    spatialAnchorsAccountNameParameter:
      description: Name of an Mixed Reality Spatial Anchors Account.
      in: path
      name: spatialAnchorsAccountName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    checkNameAvailabilityParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CheckNameAvailabilityRequest'
      description: Check Name Availability Request.
      required: true
      x-ms-parameter-location: method
    spatialAnchorsAccountKeyRegenerateParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SpatialAnchorsAccountKeyRegenerateRequest'
      description: Specifying which key to be regenerated.
      required: true
      x-ms-parameter-location: method
    spatialAnchorsAccountParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
      description: Spatial Anchors Account parameter.
      required: true
      x-ms-parameter-location: method
  schemas:
    CheckNameAvailabilityRequest:
      description: Check Name Availability Request
      example:
        name: name
        type: type
      properties:
        name:
          description: Resource Name To Verify
          type: string
        type:
          description: Fully qualified resource type which includes provider namespace
          type: string
      required:
      - name
      - type
      type: object
    CheckNameAvailabilityResponse:
      description: Check Name Availability Response
      example:
        reason: Invalid
        nameAvailable: "true"
        message: message
      properties:
        message:
          description: detail message
          type: string
        nameAvailable:
          $ref: '#/components/schemas/NameAvailability'
        reason:
          $ref: '#/components/schemas/NameUnavailableReason'
      required:
      - nameAvailable
      type: object
    ErrorResponse:
      description: Response on Error
      example:
        code: code
        details: details
        message: message
        target: target
      properties:
        code:
          description: String that can be used to programmatically identify the error.
          type: string
        details:
          description: "An array of JSON objects that MUST contain name/value pairs\
            \ for code and message, and MAY contain a name/value pair for target,\
            \ as described above.The contents of this section are service-defined\
            \ but must adhere to the aforementioned schema."
          type: string
        message:
          description: Describes the error in detail and provides debugging information
          type: string
        target:
          description: The target of the particular error
          type: string
      required:
      - code
      - message
      type: object
    NameAvailability:
      description: Whether or not the name is available.
      enum:
      - "true"
      - "false"
      type: string
      x-ms-enum:
        modelAsString: true
        name: NameAvailability
    NameUnavailableReason:
      description: reason of name unavailable.
      enum:
      - Invalid
      - AlreadyExists
      type: string
      x-ms-enum:
        modelAsString: true
        name: NameUnavailableReason
    Operation:
      description: REST API operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationDisplay:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Description of operation
          type: string
        operation:
          description: "Operation type: Read, write, delete, etc."
          type: string
        provider:
          description: "Service provider: Microsoft.ResourceProvider"
          type: string
        resource:
          description: "Resource on which the operation is performed: Profile, endpoint,\
            \ etc."
          type: string
      required:
      - description
      - operation
      - provider
      - resource
      type: object
    OperationList:
      description: Result of the request to list Resource Provider operations. It
        contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          type: string
        value:
          description: List of operations supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    SpatialAnchorsAccount:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
        required:
        - location
      description: SpatialAnchorsAccount Response.
      example:
        properties:
          accountId: accountId
          accountDomain: accountDomain
      properties:
        properties:
          $ref: '#/components/schemas/SpatialAnchorsAccountProperties'
    SpatialAnchorsAccountKeyRegenerateRequest:
      description: Spatial Anchors Account Regenerate Key
      example:
        serial: 0
      properties:
        serial:
          description: serial of key to be regenerated
          type: integer
          x-ms-enum:
            name: Serial
            values:
            - description: The Primary Key
              name: Primary
              value: 1
            - description: The Secondary Key
              name: Secondary
              value: 2
      type: object
    SpatialAnchorsAccountKeys:
      description: Spatial Anchors Account Keys
      example:
        secondaryKey: secondaryKey
        primaryKey: primaryKey
      properties:
        primaryKey:
          description: value of primary key.
          readOnly: true
          type: string
        secondaryKey:
          description: value of secondary key.
          readOnly: true
          type: string
      type: object
    SpatialAnchorsAccountList:
      description: Result of the request to get resource collection. It contains a
        list of resources and a URL link to get the next set of results.
      example:
        value:
        - properties:
            accountId: accountId
            accountDomain: accountDomain
        - properties:
            accountId: accountId
            accountDomain: accountDomain
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of resource list results if there are
            any.
          type: string
        value:
          description: List of resources supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
          type: array
      type: object
    SpatialAnchorsAccountProperties:
      description: Spatial Anchors Account Customize Properties
      example:
        accountId: accountId
        accountDomain: accountDomain
      properties:
        accountDomain:
          description: Correspond domain name of certain Spatial Anchors Account
          readOnly: true
          type: string
        accountId:
          description: unique id of certain Spatial Anchors Account data contract.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

