openapi: 3.0.1
info:
  description: "Below is the documentation for the API calls. You can try them out\
    \ right here. \n"
  title: Fun Generators API
  version: "1.5"
  x-apisguru-categories:
  - text
  x-origin:
  - format: swagger
    url: https://fungenerators.com/yaml/trivia.yaml
    version: "2.0"
  x-providerName: fungenerators.com
  x-serviceName: trivia
servers:
- url: https://api.fungenerators.com/
- url: http://api.fungenerators.com/
tags:
- description: Trivia API
  externalDocs:
    description: Find out more
    url: http://fungenerators.com/api/trivia
  name: Trivia
paths:
  /trivia:
    delete:
      description: Create a random Trivia entry.
      operationId: trivia_delete
      parameters:
      - description: Trivia ID
        in: query
        name: id
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": {
                        "mesg": "Trivia 62D6iKM9GSlJxK5nrMf9XwrE is deleted"
                    }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Trivia
      x-openapi-router-controller: openapi_server.controllers.trivia_controller
    get:
      description: Get a Trivia entry for a given id. Retrieves a trivia question
        and answer based on the id.
      operationId: trivia_get
      parameters:
      - description: ID of the trivia to fetch
        in: query
        name: id
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": [
                        {
                            "id": "VO_foToeaTPvaDn_utYcOweF",
                            "question": "What is the unit of currency in the United States of America",
                            "category": "usa",
                            "category_name": "USA",
                            "answer": [
                                "Dollar"
                            ]
                        }
                    ]
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Trivia
      x-openapi-router-controller: openapi_server.controllers.trivia_controller
    put:
      description: Create a random Trivia entry.
      operationId: trivia_put
      parameters:
      - description: Trivia Question
        in: query
        name: question
        required: true
        schema:
          format: string
          type: string
      - description: Category of the trivia
        in: query
        name: category
        required: true
        schema:
          format: string
          type: string
      - description: Answer(s) to the trivia question
        in: query
        name: answer
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": {
                        "id": "62D6iKM9GSlJxK5nrMf9XwrE"
                    }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Trivia
      x-openapi-router-controller: openapi_server.controllers.trivia_controller
  /trivia/categories:
    get:
      description: Get a random Trivia.
      operationId: trivia_categories_get
      parameters:
      - description: start
        in: query
        name: start
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": [
                        {
                            "id": "VO_foToeaTPvaDn_utYcOweF",
                            "question": "What is the unit of currency in the United States of America",
                            "category": "usa",
                            "category_name": "USA",
                            "answer": [
                                "Dollar"
                            ]
                        }
                    ]
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Trivia
      x-openapi-router-controller: openapi_server.controllers.trivia_controller
  /trivia/random:
    get:
      description: Get a random trivia for a given category(optional)
      operationId: trivia_random_get
      parameters:
      - description: Category to get the trivia from
        in: query
        name: category
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": [
                    {
                      "id": "YYUsmCE2ztoACb_smt0PrgeF",
                      "question": "Which country won the World Cup of Soccer in 1982",
                      "category": "sports",
                      "category_name": "Sports",
                      "answer": [
                        "Italy"
                      ]
                    }
                  ]
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}                    "
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Trivia
      x-openapi-router-controller: openapi_server.controllers.trivia_controller
  /trivia/search:
    get:
      description: "Search for random trivia which has the text in the query, for\
        \ a given category(optional)."
      operationId: trivia_search_get
      parameters:
      - description: Text to search for in the trivia
        in: query
        name: query
        schema:
          format: string
          type: string
      - description: Category to get the trivia from
        in: query
        name: category
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "trivia": "What natural hydrocarbon polymer comes from the hevea brasiliensis tree",
                    "id": "DFoazRj5O7x8PAVib9wROweF",
                    "category": "Whatnot",
                    "subcategory": null
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}                                   "
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Trivia
      x-openapi-router-controller: openapi_server.controllers.trivia_controller
components:
  schemas: {}
  securitySchemes:
    X-Fungenerators-Api-Secret:
      in: header
      name: X-Fungenerators-Api-Secret
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_X-Fungenerators-Api-Secret
x-original-swagger-version: "2.0"
