openapi: 3.0.0
info:
  description: "eDistrict Himachal (http://edistrict.hp.gov.in/) is the online service\
    \ delivery portal for Himachal Pradesh State Govt. Certain documents issued by\
    \ it (e.g. Birth, Income, Caste, Agriculturist, Bonafide Himachali Certificates\
    \ etc) can be pulled into citizens' DigiLocker accounts."
  termsOfService: https://apisetu.gov.in/terms.php
  title: "eDistrict Himachal Pradesh, Himachal Pradesh"
  version: 3.0.0
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://apisetu.gov.in/api_specification_v8/edistricthp.yaml
    version: "3.0"
  x-providerName: apisetu.gov.in
  x-serviceName: edistricthp
servers:
- url: https://apisetu.gov.in/edistricthp/v3
paths:
  /aecmw/certificate:
    post:
      description: API to verify Application for Renewal of Contractor Migrant Workmen
        license.
      operationId: aecmw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Application for Renewal of Contractor Migrant Workmen license
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /aemtw/certificate:
    post:
      description: API to verify Application for Renewal of Motor Transport Worker
        Registration.
      operationId: aemtw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Application for Renewal of Motor Transport Worker Registration
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /agcer/certificate:
    post:
      description: API to verify Agriculture/ Agriculturist Certificate.
      operationId: agcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Agriculture/ Agriculturist Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /alimw/certificate:
    post:
      description: API to verify Application for License for Inter State Migrant Workmen.
      operationId: alimw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Application for License for Inter State Migrant Workmen
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /arcmw/certificate:
    post:
      description: API to verify Application for Registration of Contractor Migrant
        Workmen license.
      operationId: arcmw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Application for Registration of Contractor Migrant Workmen license
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /armtw/certificate:
    post:
      description: API to verify Application for Registration of Motor Transport Worker
        Registration.
      operationId: armtw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Application for Registration of Motor Transport Worker Registration
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /bacer/certificate:
    post:
      description: API to verify Backward Area Certificate.
      operationId: bacer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Backward Area Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /bhcer/certificate:
    post:
      description: API to verify Bonafide Certificate.
      operationId: bhcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Bonafide Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /bpcrd/certificate:
    post:
      description: API to verify BPL Card.
      operationId: bpcrd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: BPL Card
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /btcer/certificate:
    post:
      description: API to verify Birth Certificate.
      operationId: btcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Birth Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /cecer/certificate:
    post:
      description: API to verify Renewal Certificate of Contract Labour License.
      operationId: cecer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Renewal Certificate of Contract Labour License
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /chcer/certificate:
    post:
      description: API to verify Character Certificate.
      operationId: chcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Character Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /clcer/certificate:
    post:
      description: API to verify Registration Certificate for Contract Labour License.
      operationId: clcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Registration Certificate for Contract Labour License
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /coprg/certificate:
    post:
      description: API to verify Copy of Pariwar Register.
      operationId: coprg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Copy of Pariwar Register
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /dccer/certificate:
    post:
      description: API to verify Dogra Class Certificate.
      operationId: dccer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Dogra Class Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /dmcer/certificate:
    post:
      description: API to verify Domicile Certificate.
      operationId: dmcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Domicile Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /dpicr/certificate:
    post:
      description: API to verify Disabled Person Identity Card/ Certificate.
      operationId: dpicr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Disabled Person Identity Card/ Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /dtcer/certificate:
    post:
      description: API to verify Death Certificate.
      operationId: dtcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Death Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /ercer/certificate:
    post:
      description: API to verify Registration Certificate of Establishment Employing
        Contract Labour.
      operationId: ercer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Registration Certificate of Establishment Employing Contract Labour
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /ffcer/certificate:
    post:
      description: API to verify Freedom Fighter Certificate.
      operationId: ffcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Freedom Fighter Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /igcer/certificate:
    post:
      description: API to verify Indigent (Needy Person) Certificate.
      operationId: igcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Indigent (Needy Person) Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /incer/certificate:
    post:
      description: API to verify Income Certificate.
      operationId: incer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Income Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /lhcer/certificate:
    post:
      description: API to verify Legal Heir Certificate.
      operationId: lhcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Legal Heir Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /mncer/certificate:
    post:
      description: API to verify Minority Certificate.
      operationId: mncer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Minority Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /mnrga/certificate:
    post:
      description: API to verify MNREGA Job Card.
      operationId: mnrga
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: MNREGA Job Card
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /obcer/certificate:
    post:
      description: API to verify OBC Certificate.
      operationId: obcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: OBC Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /racer/certificate:
    post:
      description: API to verify Rural Area Certificate.
      operationId: racer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Rural Area Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /rmcer/certificate:
    post:
      description: API to verify Marriage Certificate.
      operationId: rmcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Marriage Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /secer/certificate:
    post:
      description: API to verify Renewal Certificate of Shops And Commercial Establishment.
      operationId: secer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Renewal Certificate of Shops And Commercial Establishment
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /shcer/certificate:
    post:
      description: API to verify SC/ST  Certificate.
      operationId: shcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: SC/ST  Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /sicrd/certificate:
    post:
      description: API to verify Senior Citizen Identity Card/ Certificate.
      operationId: sicrd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Senior Citizen Identity Card/ Certificate
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /srcer/certificate:
    post:
      description: API to verify Registration Certificate of Shops And Commercial
        Establishment.
      operationId: srcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aecmw_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aecmw_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Registration Certificate of Shops And Commercial Establishment
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
components:
  responses:
    "400Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_400_response'
      description: Bad request
    "401Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_401_response'
      description: Unauthorized access
    "404Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_404_response'
      description: No record found
    "500Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_500_response'
      description: Internal server error
    "502Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_502_response'
      description: Bad gateway
    "503Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_503_response'
      description: Service unavailable
    "504Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/aecmw_504_response'
      description: Gateway timeout
  schemas:
    AcademicCertificateSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo'
        issueDate:
          example: ' '
          type: string
          xml:
            attribute: true
        issuedAt:
          example: ""
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: Secondary School Certificate
          minLength: 1
          type: string
          xml:
            attribute: true
        number:
          example: 1100044
          minLength: 1
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          type: string
          xml:
            attribute: true
        type:
          example: SSCER
          type: string
          xml:
            attribute: true
        validFromDate:
          example: ' '
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      type: object
      xml:
        name: Certificate
    ConsentArtifactSchema:
      properties:
        consent:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent'
        signature:
          $ref: '#/components/schemas/ConsentArtifactSchema_signature'
      required:
      - consent
      - signature
    aecmw_request_certificateParameters:
      properties:
        UDF1:
          description: ApplicationNumber
          example: I991C0L16978
          type: string
      required:
      - UDF1
      type: object
    aecmw_request:
      properties:
        certificateParameters:
          $ref: '#/components/schemas/aecmw_request_certificateParameters'
        consentArtifact:
          $ref: '#/components/schemas/ConsentArtifactSchema'
        format:
          description: The format of the certificate in response.
          enum:
          - pdf
          type: string
        txnId:
          description: A unique transaction id for this request in UUID format. It
            is used for tracking the request.
          example: f7f1469c-29b0-4325-9dfc-c567200a70f7
          format: uuid
          type: string
      required:
      - format
      - txnId
      type: object
    aecmw_400_response:
      example:
        errorDescription: Please provide all mandatory parameters
        error: missing_parameter
      properties:
        error:
          enum:
          - missing_parameter
          - invalid_parameter
          - invalid_format
          - invalid_txnid
          - invalid_consentid
          type: string
        errorDescription:
          enum:
          - Please provide all mandatory parameters
          - Bad request
          - The format parameter is invalid
          - The txnId parameter must be in UUID format
          - The consentId parameter must be in UUID format
          type: string
      type: object
    aecmw_401_response:
      example:
        errorDescription: Authentication failed
        error: invalid_authentication
      properties:
        error:
          enum:
          - invalid_authentication
          - invalid_authorization
          type: string
        errorDescription:
          enum:
          - Authentication failed
          - You are not authorized to use this API
          type: string
      type: object
    aecmw_404_response:
      example:
        errorDescription: No record found
        error: record_not_found
      properties:
        error:
          enum:
          - record_not_found
          - url_not_found
          type: string
        errorDescription:
          enum:
          - No record found
          - Your API url or path is incorrect
          type: string
      type: object
    aecmw_500_response:
      example:
        errorDescription: Internal server error
        error: internal_server_error
      properties:
        error:
          enum:
          - internal_server_error
          type: string
        errorDescription:
          enum:
          - Internal server error
          type: string
      type: object
    aecmw_502_response:
      example:
        errorDescription: Publisher service returned an invalid response
        error: bad_gatewy
      properties:
        error:
          enum:
          - bad_gatewy
          type: string
        errorDescription:
          enum:
          - Publisher service returned an invalid response
          type: string
      type: object
    aecmw_503_response:
      example:
        errorDescription: Publisher service is temporarily unavailable
        error: service_unavailable
      properties:
        error:
          enum:
          - service_unavailable
          type: string
        errorDescription:
          enum:
          - Publisher service is temporarily unavailable
          type: string
      type: object
    aecmw_504_response:
      example:
        errorDescription: Publisher service did not respond in time
        error: gateway_timeout
      properties:
        error:
          enum:
          - gateway_timeout
          type: string
        errorDescription:
          enum:
          - Publisher service did not respond in time
          type: string
      type: object
    AcademicCertificateSchema_CertificateData_Examination:
      properties:
        month:
          example: MARCH
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: SENION SCHOOL CERTIFICATE EXAMINATION
          minLength: 1
          type: string
          xml:
            attribute: true
        year:
          example: "2019"
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - month
      - name
      - year
      type: object
    AcademicCertificateSchema_CertificateData_Performance_Subjects_inner:
      properties:
        code:
          example: "30"
          minLength: 1
          type: string
          xml:
            attribute: true
        gp:
          example: ""
          type: string
          xml:
            attribute: true
        gpMax:
          example: ""
          type: string
          xml:
            attribute: true
        grade:
          example: A2
          minLength: 1
          type: string
          xml:
            attribute: true
        marksMax:
          type: integer
          xml:
            attribute: true
        marksMaxPractical:
          type: integer
          xml:
            attribute: true
        marksMaxTheory:
          type: integer
          xml:
            attribute: true
        marksPractical:
          example: 17
          type: integer
          xml:
            attribute: true
        marksTheory:
          example: 70
          minLength: 1
          type: integer
          xml:
            attribute: true
        marksTotal:
          example: 87
          minLength: 1
          type: integer
          xml:
            attribute: true
        name:
          example: ECONOMICS
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - code
      - gp
      - gpMax
      - grade
      - marksMax
      - marksMaxPractical
      - marksMaxTheory
      - marksPractical
      - marksTheory
      - marksTotal
      - name
      type: object
      xml:
        name: Subject
    AcademicCertificateSchema_CertificateData_Performance:
      properties:
        Subjects:
          items:
            $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance_Subjects_inner'
          type: array
          xml:
            name: Subjects
            wrapped: true
        cgpa:
          example: ""
          type: string
          xml:
            attribute: true
        cgpaMax:
          example: ""
          type: string
          xml:
            attribute: true
        grade:
          example: ""
          type: string
          xml:
            attribute: true
        marksMax:
          example: ""
          type: string
          xml:
            attribute: true
        marksTotal:
          example: ""
          type: string
          xml:
            attribute: true
        percentage:
          example: ""
          type: string
          xml:
            attribute: true
        result:
          example: PASS
          minLength: 1
          type: string
          xml:
            attribute: true
        resultDate:
          example: 02-05-2019
          minLength: 1
          type: string
          xml:
            attribute: true
        updateDate:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Subjects
      - cgpa
      - cgpaMax
      - grade
      - marksMax
      - marksTotal
      - percentage
      - result
      - resultDate
      - updateDate
      type: object
    AcademicCertificateSchema_CertificateData_School:
      properties:
        code:
          example: "20020"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: DELHI PUBLIC SCHOOL GURGAON
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - code
      - name
      type: object
    AcademicCertificateSchema_CertificateData:
      properties:
        Examination:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Examination'
        Performance:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance'
        School:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_School'
      required:
      - Examination
      - Performance
      - School
      type: object
    AcademicCertificateSchema_IssuedBy_Organization_Address:
      properties:
        country:
          example: IN
          minLength: 1
          type: string
          xml:
            attribute: true
        district:
          example: ""
          type: string
          xml:
            attribute: true
        house:
          example: ""
          type: string
          xml:
            attribute: true
        landmark:
          example: ""
          type: string
          xml:
            attribute: true
        line1:
          example: ""
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          type: string
          xml:
            attribute: true
        state:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: ""
          type: string
          xml:
            attribute: true
        vtc:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      type: object
    AcademicCertificateSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          type: string
          xml:
            attribute: true
        name:
          example: Central Board of Secondary Education
          minLength: 1
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      type: object
    AcademicCertificateSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization'
      required:
      - Organization
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Address:
      properties:
        country:
          example: IN
          minLength: 1
          type: string
          xml:
            attribute: true
        district:
          example: ""
          type: string
          xml:
            attribute: true
        house:
          example: ""
          type: string
          xml:
            attribute: true
        landmark:
          type: string
          xml:
            attribute: true
          example: null
        line1:
          example: ""
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          type: string
          xml:
            attribute: true
        state:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: permanent
          minLength: 1
          type: string
        vtc:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Photo:
      properties:
        format:
          type: string
          xml:
            attribute: true
      required:
      - format
      type: object
    AcademicCertificateSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        category:
          example: SC
          minLength: 1
          type: string
          xml:
            attribute: true
        disabilityStatus:
          example: ""
          type: string
          xml:
            attribute: true
        dob:
          example: 01-10-1988
          minLength: 1
          type: string
          xml:
            attribute: true
        email:
          example: ""
          type: string
          xml:
            attribute: true
        gender:
          example: ""
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          type: string
          xml:
            attribute: true
        motherName:
          example: SUNITA DEVI
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          type: string
          xml:
            attribute: true
        title:
          example: ""
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      type: object
    AcademicCertificateSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person'
      required:
      - Person
      type: object
    ConsentArtifactSchema_consent_data:
      properties:
        id:
          minLength: 1
          type: string
      required:
      - id
      type: object
    ConsentArtifactSchema_consent_permission_dateRange:
      properties:
        from:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          type: string
        to:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          type: string
      required:
      - from
      - to
      type: object
    ConsentArtifactSchema_consent_permission_frequency:
      properties:
        repeats:
          type: number
        unit:
          minLength: 1
          type: string
        value:
          type: number
      required:
      - repeats
      - unit
      - value
      type: object
    ConsentArtifactSchema_consent_permission:
      properties:
        access:
          minLength: 1
          type: string
        dateRange:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_dateRange'
        frequency:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_frequency'
      required:
      - access
      - dateRange
      - frequency
      type: object
    ConsentArtifactSchema_consent_purpose:
      properties:
        description:
          minLength: 1
          type: string
      required:
      - description
      type: object
    ConsentArtifactSchema_consent_user:
      properties:
        email:
          minLength: 1
          type: string
        idNumber:
          minLength: 1
          type: string
        idType:
          minLength: 1
          type: string
        mobile:
          minLength: 1
          type: string
      required:
      - email
      - idNumber
      - idType
      - mobile
      type: object
    ConsentArtifactSchema_consent:
      properties:
        consentId:
          description: A unique consent id in UUID format.
          example: ea9c43aa-7f5a-4bf3-a0be-e1caa24737ba
          format: uuid
          minLength: 1
          type: string
        data:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataConsumer:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataProvider:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        permission:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission'
        purpose:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_purpose'
        timestamp:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          type: string
        user:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_user'
      required:
      - consentId
      - data
      - dataConsumer
      - dataProvider
      - permission
      - purpose
      - timestamp
      - user
      type: object
    ConsentArtifactSchema_signature:
      properties:
        signature:
          type: string
      required:
      - signature
      type: object
  securitySchemes:
    apiKey:
      in: header
      name: X-APISETU-APIKEY
      type: apiKey
    clientId:
      in: header
      name: X-APISETU-CLIENTID
      type: apiKey

