openapi: 3.0.1
info:
  contact:
    url: http://developer.ticketmaster.com/support/contact-us/
  description: "Use the Ticketmaster Commerce API to look up available offers and\
    \ products on various Ticketmaster platforms for North America markets. For formal\
    \ partnerships and relationships, selected offers and products can be carted and\
    \ transacted on through the cart, delivery, payment and purchase APIs – These\
    \ APIs require approved access from Ticketmaster."
  title: Commerce API
  version: v2
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/ticketmaster-api/ticketmaster-api.github.io/dev/_data/orgs/commerce-api/v2/api.json
    version: "2.0"
  x-providerName: ticketmaster.com
  x-serviceName: commerce
servers:
- url: //www.ticketmaster.com/commerce/v2
paths:
  /commerce/v2/events/{eventId}/offers:
    get:
      description: Returns Event Offers.
      operationId: getEventOffers
      parameters:
      - description: API Key for external API developer
        in: header
        name: X-SSL-CERT-UID
        schema:
          type: string
      - description: Access token for
        in: header
        name: X-TM-ACCESS-TOKEN
        schema:
          type: string
      - description: Query Param Access Token
        in: query
        name: access_token
        schema:
          type: string
      - description: Query Param API Key for external API developer
        in: query
        name: api-key
        schema:
          type: string
      - description: Event Identifier
        in: path
        name: eventId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
        description: displayId to un-hide protected offers
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OfferingResponse'
          description: successful operation
      summary: Event Offers
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
components:
  schemas:
    Area:
      example:
        relationships:
          offers:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          areas:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          priceZones:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
        _links:
          self:
            href: href
        attributes:
          areaType: LEVEL
          name: name
          description: description
          rank: 0
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          $ref: '#/components/schemas/AreaAttributes'
        id:
          type: string
        relationships:
          $ref: '#/components/schemas/AreaRelationships'
        type:
          type: string
      type: object
    AreaAttributes:
      example:
        areaType: LEVEL
        name: name
        description: description
        rank: 0
      properties:
        areaType:
          enum:
          - LEVEL
          - SECTION
          - AREA
          type: string
        description:
          type: string
        name:
          type: string
        rank:
          format: int32
          type: integer
      type: object
    AreaRelationships:
      example:
        offers:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        areas:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        priceZones:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
      properties:
        areas:
          $ref: '#/components/schemas/ResponseObjectRefList'
        offers:
          $ref: '#/components/schemas/ResponseObjectRefList'
        priceZones:
          $ref: '#/components/schemas/ResponseObjectRefList'
      type: object
    AttributeRef:
      example:
        relationships: "{}"
        _links:
          self:
            href: href
        attributes:
          description: description
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          $ref: '#/components/schemas/AttributeRefAttributes'
        id:
          type: string
        relationships:
          type: object
        type:
          type: string
      type: object
    AttributeRefAttributes:
      example:
        description: description
      properties:
        description:
          type: string
      type: object
    AttributeRefRelationships:
      type: object
    EventMappingView:
      example:
        id: id
        source:
          name: name
          id: id
        type: type
      properties:
        id:
          type: string
        source:
          $ref: '#/components/schemas/Source'
        type:
          type: string
      type: object
    HoldRef:
      example:
        relationships: "{}"
        _links:
          self:
            href: href
        attributes: "{}"
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          type: object
        id:
          type: string
        relationships:
          type: object
        type:
          type: string
      type: object
    HoldRefAttributes:
      type: object
    HoldRefRelationships:
      type: object
    HrefLinkValue:
      example:
        href: href
      properties:
        href:
          type: string
      type: object
    Limit:
      example:
        min: 5
        max: 6
        maxAccessibleSeats: 1
        sellableQty: sellableQty
        maxCompanionSeatsPerAccessibleSeat: 5
        multiples: 2
      properties:
        max:
          format: int32
          type: integer
        maxAccessibleSeats:
          format: int32
          type: integer
        maxCompanionSeatsPerAccessibleSeat:
          format: int32
          type: integer
        min:
          format: int32
          type: integer
        multiples:
          format: int32
          type: integer
        sellableQty:
          type: string
      type: object
    Links:
      type: object
    Offer:
      example:
        relationships:
          passwords:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          areas:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          offerSets:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          priceZones:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          products:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
        _links:
          self:
            href: href
        attributes:
          offerType: offerType
          offerDetails:
            link: link
            linkText: linkText
            text: text
          limit:
            min: 5
            max: 6
            maxAccessibleSeats: 1
            sellableQty: sellableQty
            maxCompanionSeatsPerAccessibleSeat: 5
            multiples: 2
          name: name
          start: 2000-01-23T04:56:07.000+00:00
          description: description
          rank: 7
          currency: currency
          end: 2000-01-23T04:56:07.000+00:00
          prices:
          - fees:
            - label: label
              type: type
              value: value
            - label: label
              type: type
              value: value
            total: total
            taxes:
            - label: label
              type: type
              value: value
            - label: label
              type: type
              value: value
            priceZone: priceZone
            value: value
          - fees:
            - label: label
              type: type
              value: value
            - label: label
              type: type
              value: value
            total: total
            taxes:
            - label: label
              type: type
              value: value
            - label: label
              type: type
              value: value
            priceZone: priceZone
            value: value
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          $ref: '#/components/schemas/OfferAttributes'
        id:
          type: string
        relationships:
          $ref: '#/components/schemas/OfferRelationships'
        type:
          type: string
      type: object
    OfferAttributes:
      example:
        offerType: offerType
        offerDetails:
          link: link
          linkText: linkText
          text: text
        limit:
          min: 5
          max: 6
          maxAccessibleSeats: 1
          sellableQty: sellableQty
          maxCompanionSeatsPerAccessibleSeat: 5
          multiples: 2
        name: name
        start: 2000-01-23T04:56:07.000+00:00
        description: description
        rank: 7
        currency: currency
        end: 2000-01-23T04:56:07.000+00:00
        prices:
        - fees:
          - label: label
            type: type
            value: value
          - label: label
            type: type
            value: value
          total: total
          taxes:
          - label: label
            type: type
            value: value
          - label: label
            type: type
            value: value
          priceZone: priceZone
          value: value
        - fees:
          - label: label
            type: type
            value: value
          - label: label
            type: type
            value: value
          total: total
          taxes:
          - label: label
            type: type
            value: value
          - label: label
            type: type
            value: value
          priceZone: priceZone
          value: value
      properties:
        currency:
          type: string
        description:
          type: string
        end:
          format: date-time
          type: string
        limit:
          $ref: '#/components/schemas/Limit'
        name:
          type: string
        offerDetails:
          $ref: '#/components/schemas/OfferDetails'
        offerType:
          type: string
        prices:
          items:
            $ref: '#/components/schemas/OfferPrice'
          type: array
        rank:
          format: int32
          type: integer
        start:
          format: date-time
          type: string
      type: object
    OfferDetails:
      example:
        link: link
        linkText: linkText
        text: text
      properties:
        link:
          type: string
        linkText:
          type: string
        text:
          type: string
      type: object
    OfferPrice:
      example:
        fees:
        - label: label
          type: type
          value: value
        - label: label
          type: type
          value: value
        total: total
        taxes:
        - label: label
          type: type
          value: value
        - label: label
          type: type
          value: value
        priceZone: priceZone
        value: value
      properties:
        fees:
          items:
            $ref: '#/components/schemas/OfferPriceFee'
          type: array
        priceZone:
          type: string
        taxes:
          items:
            $ref: '#/components/schemas/OfferPriceTax'
          type: array
        total:
          type: string
        value:
          type: string
      type: object
    OfferPriceFee:
      example:
        label: label
        type: type
        value: value
      properties:
        label:
          type: string
        type:
          type: string
        value:
          type: string
      type: object
    OfferPriceTax:
      example:
        label: label
        type: type
        value: value
      properties:
        label:
          type: string
        type:
          type: string
        value:
          type: string
      type: object
    OfferRelationships:
      example:
        passwords:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        areas:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        offerSets:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        priceZones:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        products:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
      properties:
        areas:
          $ref: '#/components/schemas/ResponseObjectRefList'
        offerSets:
          $ref: '#/components/schemas/ResponseObjectRefList'
        passwords:
          $ref: '#/components/schemas/ResponseObjectRefList'
        priceZones:
          $ref: '#/components/schemas/ResponseObjectRefList'
        products:
          $ref: '#/components/schemas/ResponseObjectRefList'
      type: object
    OfferedPrice:
      example:
        relationships:
          offers:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links:
              self:
                href: href
          areas:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          priceZones:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links:
              self:
                href: href
        _links:
          self:
            href: href
        attributes:
          currency: currency
          value: value
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          $ref: '#/components/schemas/OfferedPriceAttributes'
        id:
          type: string
        relationships:
          $ref: '#/components/schemas/OfferedPriceRelationships'
        type:
          type: string
      type: object
    OfferedPriceAttributes:
      example:
        currency: currency
        value: value
      properties:
        currency:
          type: string
        value:
          type: string
      type: object
    OfferedPriceRelationships:
      example:
        offers:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links:
            self:
              href: href
        areas:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        priceZones:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links:
            self:
              href: href
      properties:
        areas:
          $ref: '#/components/schemas/ResponseObjectRefList'
        offers:
          $ref: '#/components/schemas/ResponseObjectRefListSimpleLinks'
        priceZones:
          $ref: '#/components/schemas/ResponseObjectRefListSimpleLinks'
      type: object
    OfferingResponse:
      example:
        offers:
        - relationships:
            passwords:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            offerSets:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            priceZones:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            products:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
          _links:
            self:
              href: href
          attributes:
            offerType: offerType
            offerDetails:
              link: link
              linkText: linkText
              text: text
            limit:
              min: 5
              max: 6
              maxAccessibleSeats: 1
              sellableQty: sellableQty
              maxCompanionSeatsPerAccessibleSeat: 5
              multiples: 2
            name: name
            start: 2000-01-23T04:56:07.000+00:00
            description: description
            rank: 7
            currency: currency
            end: 2000-01-23T04:56:07.000+00:00
            prices:
            - fees:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              total: total
              taxes:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              priceZone: priceZone
              value: value
            - fees:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              total: total
              taxes:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              priceZone: priceZone
              value: value
          id: id
          type: type
        - relationships:
            passwords:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            offerSets:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            priceZones:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            products:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
          _links:
            self:
              href: href
          attributes:
            offerType: offerType
            offerDetails:
              link: link
              linkText: linkText
              text: text
            limit:
              min: 5
              max: 6
              maxAccessibleSeats: 1
              sellableQty: sellableQty
              maxCompanionSeatsPerAccessibleSeat: 5
              multiples: 2
            name: name
            start: 2000-01-23T04:56:07.000+00:00
            description: description
            rank: 7
            currency: currency
            end: 2000-01-23T04:56:07.000+00:00
            prices:
            - fees:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              total: total
              taxes:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              priceZone: priceZone
              value: value
            - fees:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              total: total
              taxes:
              - label: label
                type: type
                value: value
              - label: label
                type: type
                value: value
              priceZone: priceZone
              value: value
          id: id
          type: type
        metadata:
          accessibleSeatingEnabled: false
          eventMapping:
            id: id
            source:
              name: name
              id: id
            type: type
        debug:
        - debug
        - debug
        _embedded:
          passwords:
            data:
            - relationships:
                offers:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links:
                    self:
                      href: href
              metadata:
                offerIds:
                - offerIds
                - offerIds
              _links:
                self:
                  href: href
              attributes:
                linkLabel: linkLabel
                textLabel: textLabel
                link: link
                name: name
                start: 2000-01-23T04:56:07.000+00:00
                exclusive: false
                end: 2000-01-23T04:56:07.000+00:00
                text: text
                type: type
                prompts:
                - id: id
                  text: text
                - id: id
                  text: text
              id: id
              type: type
            - relationships:
                offers:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links:
                    self:
                      href: href
              metadata:
                offerIds:
                - offerIds
                - offerIds
              _links:
                self:
                  href: href
              attributes:
                linkLabel: linkLabel
                textLabel: textLabel
                link: link
                name: name
                start: 2000-01-23T04:56:07.000+00:00
                exclusive: false
                end: 2000-01-23T04:56:07.000+00:00
                text: text
                type: type
                prompts:
                - id: id
                  text: text
                - id: id
                  text: text
              id: id
              type: type
            _links:
              self:
                href: href
          attributesRefs:
            data:
            - relationships: "{}"
              _links:
                self:
                  href: href
              attributes:
                description: description
              id: id
              type: type
            - relationships: "{}"
              _links:
                self:
                  href: href
              attributes:
                description: description
              id: id
              type: type
            _links:
              self:
                href: href
          holds:
            data:
            - relationships: "{}"
              _links:
                self:
                  href: href
              attributes: "{}"
              id: id
              type: type
            - relationships: "{}"
              _links:
                self:
                  href: href
              attributes: "{}"
              id: id
              type: type
            _links:
              self:
                href: href
          areas:
            data:
            - relationships:
                offers:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
                areas:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
                priceZones:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
              _links:
                self:
                  href: href
              attributes:
                areaType: LEVEL
                name: name
                description: description
                rank: 0
              id: id
              type: type
            - relationships:
                offers:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
                areas:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
                priceZones:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
              _links:
                self:
                  href: href
              attributes:
                areaType: LEVEL
                name: name
                description: description
                rank: 0
              id: id
              type: type
            _links:
              self:
                href: href
          priceZones:
            data:
            - relationships:
                offers:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
                areas:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
              _links:
                self:
                  href: href
              attributes:
                name: name
                currency: currency
              id: id
              type: type
            - relationships:
                offers:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
                areas:
                  data:
                  - id: id
                    type: type
                  - id: id
                    type: type
                  _links: "{}"
              _links:
                self:
                  href: href
              attributes:
                name: name
                currency: currency
              id: id
              type: type
            _links:
              self:
                href: href
        prices:
          data:
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links:
                  self:
                    href: href
              areas:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              priceZones:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links:
                  self:
                    href: href
            _links:
              self:
                href: href
            attributes:
              currency: currency
              value: value
            id: id
            type: type
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links:
                  self:
                    href: href
              areas:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              priceZones:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links:
                  self:
                    href: href
            _links:
              self:
                href: href
            attributes:
              currency: currency
              value: value
            id: id
            type: type
          _links:
            self:
              href: href
        limits:
          min: 5
          max: 6
          maxAccessibleSeats: 1
          sellableQty: sellableQty
          maxCompanionSeatsPerAccessibleSeat: 5
          multiples: 2
      properties:
        _embedded:
          $ref: '#/components/schemas/OfferingResponseEmbeddedData'
        debug:
          items:
            type: string
          type: array
        limits:
          $ref: '#/components/schemas/Limit'
        metadata:
          $ref: '#/components/schemas/OfferingResponseMetadata'
        offers:
          items:
            $ref: '#/components/schemas/Offer'
          type: array
        prices:
          $ref: '#/components/schemas/ResponseObjectListOfferedPriceSimpleLinks'
      type: object
    OfferingResponseEmbeddedData:
      example:
        passwords:
          data:
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links:
                  self:
                    href: href
            metadata:
              offerIds:
              - offerIds
              - offerIds
            _links:
              self:
                href: href
            attributes:
              linkLabel: linkLabel
              textLabel: textLabel
              link: link
              name: name
              start: 2000-01-23T04:56:07.000+00:00
              exclusive: false
              end: 2000-01-23T04:56:07.000+00:00
              text: text
              type: type
              prompts:
              - id: id
                text: text
              - id: id
                text: text
            id: id
            type: type
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links:
                  self:
                    href: href
            metadata:
              offerIds:
              - offerIds
              - offerIds
            _links:
              self:
                href: href
            attributes:
              linkLabel: linkLabel
              textLabel: textLabel
              link: link
              name: name
              start: 2000-01-23T04:56:07.000+00:00
              exclusive: false
              end: 2000-01-23T04:56:07.000+00:00
              text: text
              type: type
              prompts:
              - id: id
                text: text
              - id: id
                text: text
            id: id
            type: type
          _links:
            self:
              href: href
        attributesRefs:
          data:
          - relationships: "{}"
            _links:
              self:
                href: href
            attributes:
              description: description
            id: id
            type: type
          - relationships: "{}"
            _links:
              self:
                href: href
            attributes:
              description: description
            id: id
            type: type
          _links:
            self:
              href: href
        holds:
          data:
          - relationships: "{}"
            _links:
              self:
                href: href
            attributes: "{}"
            id: id
            type: type
          - relationships: "{}"
            _links:
              self:
                href: href
            attributes: "{}"
            id: id
            type: type
          _links:
            self:
              href: href
        areas:
          data:
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              areas:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              priceZones:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
            _links:
              self:
                href: href
            attributes:
              areaType: LEVEL
              name: name
              description: description
              rank: 0
            id: id
            type: type
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              areas:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              priceZones:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
            _links:
              self:
                href: href
            attributes:
              areaType: LEVEL
              name: name
              description: description
              rank: 0
            id: id
            type: type
          _links:
            self:
              href: href
        priceZones:
          data:
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              areas:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
            _links:
              self:
                href: href
            attributes:
              name: name
              currency: currency
            id: id
            type: type
          - relationships:
              offers:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
              areas:
                data:
                - id: id
                  type: type
                - id: id
                  type: type
                _links: "{}"
            _links:
              self:
                href: href
            attributes:
              name: name
              currency: currency
            id: id
            type: type
          _links:
            self:
              href: href
      properties:
        areas:
          $ref: '#/components/schemas/ResponseObjectListAreaSimpleLinks'
        attributesRefs:
          $ref: '#/components/schemas/ResponseObjectListAttributeRefSimpleLinks'
        holds:
          $ref: '#/components/schemas/ResponseObjectListHoldRefSimpleLinks'
        passwords:
          $ref: '#/components/schemas/ResponseObjectListPasswordSimpleLinks'
        priceZones:
          $ref: '#/components/schemas/ResponseObjectListPriceZoneSimpleLinks'
      type: object
    OfferingResponseMetadata:
      example:
        accessibleSeatingEnabled: false
        eventMapping:
          id: id
          source:
            name: name
            id: id
          type: type
      properties:
        accessibleSeatingEnabled:
          default: false
          type: boolean
        eventMapping:
          $ref: '#/components/schemas/EventMappingView'
      type: object
    Password:
      example:
        relationships:
          offers:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links:
              self:
                href: href
        metadata:
          offerIds:
          - offerIds
          - offerIds
        _links:
          self:
            href: href
        attributes:
          linkLabel: linkLabel
          textLabel: textLabel
          link: link
          name: name
          start: 2000-01-23T04:56:07.000+00:00
          exclusive: false
          end: 2000-01-23T04:56:07.000+00:00
          text: text
          type: type
          prompts:
          - id: id
            text: text
          - id: id
            text: text
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          $ref: '#/components/schemas/PasswordAttributes'
        id:
          type: string
        metadata:
          $ref: '#/components/schemas/PasswordMetadata'
        relationships:
          $ref: '#/components/schemas/PasswordRelationships'
        type:
          type: string
      type: object
    PasswordAttributes:
      example:
        linkLabel: linkLabel
        textLabel: textLabel
        link: link
        name: name
        start: 2000-01-23T04:56:07.000+00:00
        exclusive: false
        end: 2000-01-23T04:56:07.000+00:00
        text: text
        type: type
        prompts:
        - id: id
          text: text
        - id: id
          text: text
      properties:
        end:
          format: date-time
          type: string
        exclusive:
          default: false
          type: boolean
        link:
          type: string
        linkLabel:
          type: string
        name:
          type: string
        prompts:
          items:
            $ref: '#/components/schemas/Prompt'
          type: array
        start:
          format: date-time
          type: string
        text:
          type: string
        textLabel:
          type: string
        type:
          type: string
      type: object
    PasswordMetadata:
      discriminator:
        propertyName: type
      example:
        offerIds:
        - offerIds
        - offerIds
      properties:
        offerIds:
          items:
            type: string
          type: array
      type: object
    PasswordRelationships:
      example:
        offers:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links:
            self:
              href: href
      properties:
        offers:
          $ref: '#/components/schemas/ResponseObjectRefListSimpleLinks'
      type: object
    PriceZone:
      example:
        relationships:
          offers:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
          areas:
            data:
            - id: id
              type: type
            - id: id
              type: type
            _links: "{}"
        _links:
          self:
            href: href
        attributes:
          name: name
          currency: currency
        id: id
        type: type
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        attributes:
          $ref: '#/components/schemas/PriceZoneAttributes'
        id:
          type: string
        relationships:
          $ref: '#/components/schemas/PriceZoneRelationships'
        type:
          type: string
      type: object
    PriceZoneAttributes:
      example:
        name: name
        currency: currency
      properties:
        currency:
          type: string
        name:
          type: string
      type: object
    PriceZoneRelationships:
      example:
        offers:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
        areas:
          data:
          - id: id
            type: type
          - id: id
            type: type
          _links: "{}"
      properties:
        areas:
          $ref: '#/components/schemas/ResponseObjectRefList'
        offers:
          $ref: '#/components/schemas/ResponseObjectRefList'
      type: object
    Prompt:
      example:
        id: id
        text: text
      properties:
        id:
          type: string
        text:
          type: string
      type: object
    ResponseObjectListAreaSimpleLinks:
      example:
        data:
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            priceZones:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
          _links:
            self:
              href: href
          attributes:
            areaType: LEVEL
            name: name
            description: description
            rank: 0
          id: id
          type: type
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            priceZones:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
          _links:
            self:
              href: href
          attributes:
            areaType: LEVEL
            name: name
            description: description
            rank: 0
          id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/Area'
          type: array
      type: object
    ResponseObjectListAttributeRefSimpleLinks:
      example:
        data:
        - relationships: "{}"
          _links:
            self:
              href: href
          attributes:
            description: description
          id: id
          type: type
        - relationships: "{}"
          _links:
            self:
              href: href
          attributes:
            description: description
          id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/AttributeRef'
          type: array
      type: object
    ResponseObjectListHoldRefSimpleLinks:
      example:
        data:
        - relationships: "{}"
          _links:
            self:
              href: href
          attributes: "{}"
          id: id
          type: type
        - relationships: "{}"
          _links:
            self:
              href: href
          attributes: "{}"
          id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/HoldRef'
          type: array
      type: object
    ResponseObjectListOfferedPriceSimpleLinks:
      example:
        data:
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links:
                self:
                  href: href
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            priceZones:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links:
                self:
                  href: href
          _links:
            self:
              href: href
          attributes:
            currency: currency
            value: value
          id: id
          type: type
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links:
                self:
                  href: href
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            priceZones:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links:
                self:
                  href: href
          _links:
            self:
              href: href
          attributes:
            currency: currency
            value: value
          id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/OfferedPrice'
          type: array
      type: object
    ResponseObjectListPasswordSimpleLinks:
      example:
        data:
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links:
                self:
                  href: href
          metadata:
            offerIds:
            - offerIds
            - offerIds
          _links:
            self:
              href: href
          attributes:
            linkLabel: linkLabel
            textLabel: textLabel
            link: link
            name: name
            start: 2000-01-23T04:56:07.000+00:00
            exclusive: false
            end: 2000-01-23T04:56:07.000+00:00
            text: text
            type: type
            prompts:
            - id: id
              text: text
            - id: id
              text: text
          id: id
          type: type
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links:
                self:
                  href: href
          metadata:
            offerIds:
            - offerIds
            - offerIds
          _links:
            self:
              href: href
          attributes:
            linkLabel: linkLabel
            textLabel: textLabel
            link: link
            name: name
            start: 2000-01-23T04:56:07.000+00:00
            exclusive: false
            end: 2000-01-23T04:56:07.000+00:00
            text: text
            type: type
            prompts:
            - id: id
              text: text
            - id: id
              text: text
          id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/Password'
          type: array
      type: object
    ResponseObjectListPriceZoneSimpleLinks:
      example:
        data:
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
          _links:
            self:
              href: href
          attributes:
            name: name
            currency: currency
          id: id
          type: type
        - relationships:
            offers:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
            areas:
              data:
              - id: id
                type: type
              - id: id
                type: type
              _links: "{}"
          _links:
            self:
              href: href
          attributes:
            name: name
            currency: currency
          id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/PriceZone'
          type: array
      type: object
    ResponseObjectRef:
      example:
        id: id
        type: type
      properties:
        id:
          type: string
        type:
          type: string
      type: object
    ResponseObjectRefList:
      example:
        data:
        - id: id
          type: type
        - id: id
          type: type
        _links: "{}"
      properties:
        _links:
          type: object
        data:
          items:
            $ref: '#/components/schemas/ResponseObjectRef'
          type: array
      type: object
    ResponseObjectRefListSimpleLinks:
      example:
        data:
        - id: id
          type: type
        - id: id
          type: type
        _links:
          self:
            href: href
      properties:
        _links:
          $ref: '#/components/schemas/SimpleLinks'
        data:
          items:
            $ref: '#/components/schemas/ResponseObjectRef'
          type: array
      type: object
    SimpleLinks:
      example:
        self:
          href: href
      properties:
        self:
          $ref: '#/components/schemas/HrefLinkValue'
      type: object
    Source:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      type: object
x-original-swagger-version: "2.0"

