openapi: 3.0.1
info:
  description: REST API for Azure Blockchain Service
  title: BlockchainManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/blockchain.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: blockchain
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Blockchain/operations:
    get:
      description: Lists the available operations of Microsoft.Blockchain resource
        provider.
      operationId: Operations_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationCollection'
          description: Success
      tags:
      - Operation
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-06-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription for the Blockchain Resource
                      Provider.
                    operation: Register the Blockchain Resource Provider
                    provider: Microsoft Blockchain
                    resource: Blockchain Resource Provider
                  isDataAction: false
                  name: Microsoft.Blockchain/register/action
                - display:
                    description: Gets or Lists existing Blockchain Member(s).
                    operation: Get or List Blockchain Member(s)
                    provider: Microsoft Blockchain
                    resource: Blockchain Members
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/read
                - display:
                    description: Creates or Updates a Blockchain Member.
                    operation: Create or Update Blockchain Member
                    provider: Microsoft Blockchain
                    resource: Blockchain Members
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/write
                - display:
                    description: Deletes an existing Blockchain Member.
                    operation: Delete Blockchain Member
                    provider: Microsoft Blockchain
                    resource: Blockchain Members
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/delete
                - display:
                    description: Gets or Lists existing Blockchain Member Transaction
                      Node(s).
                    operation: Get or List Blockchain Member Transaction Node(s)
                    provider: Microsoft Blockchain
                    resource: Blockchain Member Transaction Nodes
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/transactionNodes/read
                - display:
                    description: Creates or Updates a Blockchain Member Transaction
                      Node.
                    operation: Create or Update Blockchain Member Transaction Node
                    provider: Microsoft Blockchain
                    resource: Blockchain Member Transaction Nodes
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/transactionNodes/write
                - display:
                    description: Deletes an existing Blockchain Member Transaction
                      Node.
                    operation: Delete Blockchain Member Transaction Node
                    provider: Microsoft Blockchain
                    resource: Blockchain Member Transaction Nodes
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/transactionNodes/delete
                - display:
                    description: Connects to a Blockchain Member Transaction Node.
                    operation: Connect Blockchain Member Transaction Node
                    provider: Microsoft Blockchain
                    resource: Blockchain Member Transaction Nodes
                  isDataAction: true
                  name: Microsoft.Blockchain/blockchainMembers/transactionNodes/connect/action
                - display:
                    description: Gets the Operation Results of Blockchain Members.
                    operation: Get Blockchain Member Operation Results
                    provider: Microsoft Blockchain
                    resource: Locations
                  isDataAction: false
                  name: Microsoft.Blockchain/locations/blockchainMemberOperationResults/read
                - display:
                    description: Checks that resource name is valid and is not in
                      use.
                    operation: Check Name Availability
                    provider: Microsoft Blockchain
                    resource: Locations
                  isDataAction: false
                  name: Microsoft.Blockchain/locations/checkNameAvailability/action
                - display:
                    description: List all Operations in Microsoft Blockchain Resource
                      Provider.
                    operation: List all Operations
                    provider: Microsoft Blockchain
                    resource: Operations
                  isDataAction: false
                  name: Microsoft.Blockchain/operations/read
                - display:
                    description: Gets the available logs for Microsoft Blockchain
                    operation: Read Microsoft Blockchain log definitions
                    provider: Microsoft Blockchain
                    resource: The log definition of Microsoft Blockchain
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/providers/Microsoft.Insights/logDefinitions/read
                  origin: system
                - display:
                    description: Gets the diagnostic setting for the resource
                    operation: Read diagnostic setting
                    provider: Microsoft Blockchain
                    resource: The display resource of diagnostic settings of Microsoft
                      Blockchain
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource
                    operation: Write diagnostic setting
                    provider: Microsoft Blockchain
                    resource: The display resource of diagnostic settings of Microsoft
                      Blockchain
                  isDataAction: false
                  name: Microsoft.Blockchain/blockchainMembers/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/blockchainMembers:
    get:
      description: Lists the blockchain members for a subscription.
      operationId: BlockchainMembers_ListAll
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMemberCollection'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_ListAll:
          parameters:
            api-version: 2018-06-01-preview
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1
                  location: southeastasia
                  name: contosemember1
                  properties:
                    consortium: ContoseConsortium
                    consortiumMemberDisplayName: contosemember1
                    consortiumRole: ADMIN
                    dns: contosemember1.blockchain.azure.com
                    protocol: Quorum
                    provisioningState: Succeeded
                    publicKey: 1VhPX4PbNGnE9dOEjgTrw92dltBpKxFQjXWNugcwvl0=
                    rootContractAddress: 0x7407947df2f67142340ca7d1a2c120f0dbfd30e1
                    userName: contosemember1
                    validatorNodesSku:
                      capacity: 2
                  type: Microsoft.Blockchain/blockchainMembers
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/blockchainMemberOperationResults/{operationId}
  : get:
      description: Get Async operation result.
      operationId: BlockchainMemberOperationResults_Get
      parameters:
      - description: Location name.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: Operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
          description: Success
        "204":
          content: {}
          description: Success
      tags:
      - BlockchainMemberOperationResult
      x-ms-examples:
        BlockchainMemberOperationResults_Get:
          parameters:
            api-version: 2018-06-01-preview
            locationName: southeastasia
            operationId: 12f4b309-01e3-4fcf-bc0b-1cc034ca03f8
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                endTime: 2018-06-23T22:28:04.677Z
                name: DeleteTransactionNode
                startTime: 2018-06-23T22:34:00.330Z
              headers: {}
            "204": {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/checkNameAvailability:
    post:
      description: To check whether a resource name is available.
      operationId: Locations_CheckNameAvailability
      parameters:
      - description: Location Name.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityRequest'
        description: Name availability request payload.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
          description: Success
      tags:
      - Location
      x-ms-examples:
        Locations_CheckNameAvailability:
          parameters:
            api-version: 2018-06-01-preview
            locationName: southeastasia
            nameAvailabilityRequest:
              name: contosemember1
              type: Microsoft.Blockchain/blockchainMembers
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                message: A blockchain member named 'contosemember1' is already in
                  use.
                nameAvailable: false
                reason: AlreadyExists
              headers: {}
      x-codegen-request-body-name: nameAvailabilityRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/listConsortiums:
    post:
      description: Lists the available consortiums for a subscription.
      operationId: Locations_ListConsortiums
      parameters:
      - description: Location Name.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsortiumCollection'
          description: Success
      tags:
      - Location
      x-ms-examples:
        Locations_ListConsortiums:
          parameters:
            api-version: 2018-06-01-preview
            locationName: southeastasia
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - name: gebiconsortium1
                  protocol: Parity
                - name: bwtestpsh
                  protocol: Parity
                - name: jackyhsuconsortium
                  protocol: Quorum
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/skus:
    get:
      description: Lists the Skus of the resource type.
      operationId: Skus_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeSkuCollection'
          description: Success
      tags:
      - Sku
      x-ms-examples:
        Skus_List:
          parameters:
            api-version: 2018-06-01-preview
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - resourceType: blockchainMembers
                  skus:
                  - locations:
                    - SoutheastAsia
                    name: B0
                    requiredFeatures:
                    - Microsoft.Blockchain/privatePreviewAccess
                    tier: Basic
                  - locations:
                    - SoutheastAsia
                    name: S0
                    requiredFeatures:
                    - Microsoft.Blockchain/privatePreviewAccess
                    tier: Standard
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers:
    get:
      description: Lists the blockchain members for a resource group.
      operationId: BlockchainMembers_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMemberCollection'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_List:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1
                  location: southeastasia
                  name: contosemember1
                  properties:
                    consortium: ContoseConsortium
                    consortiumMemberDisplayName: contosemember1
                    consortiumRole: ADMIN
                    dns: contosemember1.blockchain.azure.com
                    protocol: Quorum
                    provisioningState: Succeeded
                    publicKey: 1VhPX4PbNGnE9dOEjgTrw92dltBpKxFQjXWNugcwvl0=
                    rootContractAddress: 0x7407947df2f67142340ca7d1a2c120f0dbfd30e1
                    userName: contosemember1
                    validatorNodesSku:
                      capacity: 2
                  type: Microsoft.Blockchain/blockchainMembers
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}
  : delete:
      description: Delete a blockchain member.
      operationId: BlockchainMembers_Delete
      parameters:
      - description: Blockchain member name
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Success
        "204":
          content: {}
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_Delete:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get details about a blockchain member.
      operationId: BlockchainMembers_Get
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_Get:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1
                location: southeastasia
                name: contosemember1
                properties:
                  consortium: ContoseConsortium
                  consortiumManagementAccountAddress: 0xc40d40dedc353885d3e8393735cf799e4d7fe38c
                  consortiumMemberDisplayName: contosemember1
                  consortiumRole: ADMIN
                  dns: contosemember1.blockchain.azure.com
                  protocol: Quorum
                  provisioningState: Succeeded
                  publicKey: 1VhPX4PbNGnE9dOEjgTrw92dltBpKxFQjXWNugcwvl0=
                  rootContractAddress: 0x7407947df2f67142340ca7d1a2c120f0dbfd30e1
                  userName: contosemember1
                  validatorNodesSku:
                    capacity: 2
                type: Microsoft.Blockchain/blockchainMembers
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update a blockchain member.
      operationId: BlockchainMembers_Update
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockchainMemberUpdate'
        description: Payload to update the blockchain member.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_Update:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMember:
              properties:
                consortiumManagementAccountPassword: $@123_34#&
                password: $@123_34#&
            blockchainMemberName: ContoseMember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/ContoseMember1
                location: southeastasia
                name: ContoseMember1
                properties:
                  consortium: ContoseConsortium
                  consortiumMemberDisplayName: contosemember1
                  consortiumRole: ADMIN
                  protocol: Quorum
                  provisioningState: Succeeded
                  userName: testuser1
                  validatorNodesSku:
                    capacity: 2
                type: Microsoft.Blockchain/blockchainMembers
              headers: {}
      x-codegen-request-body-name: blockchainMember
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a blockchain member.
      operationId: BlockchainMembers_Create
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockchainMember'
        description: Payload to create a blockchain member.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
          description: Success
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_Create:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMember:
              location: southeastasia
              properties:
                consortium: ContoseConsortium
                consortiumManagementAccountPassword: $@123_34#&
                password: $@123_34#&
                protocol: Quorum
                validatorNodesSku:
                  capacity: 2
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1
                location: southeastasia
                name: contosemember1
                properties:
                  consortium: ContoseConsortium
                  protocol: Quorum
                  provisioningState: Updating
                  userName: contosemember1
                  validatorNodesSku:
                    capacity: 2
                type: Microsoft.Blockchain/blockchainMembers
              headers: {}
            "201":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1
                location: southeastasia
                name: contosemember1
                properties:
                  consortium: ContoseConsortium
                  protocol: Quorum
                  provisioningState: Updating
                  userName: contosemember1
                  validatorNodesSku:
                    capacity: 2
                type: Microsoft.Blockchain/blockchainMembers
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: blockchainMember
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/consortiumMembers
  : get:
      description: Lists the consortium members for a blockchain member.
      operationId: BlockchainMembers_ListConsortiumMembers
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsortiumMemberCollection'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_ListConsortiumMembers:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - dateModified: 2019-04-23T22:34:00.330Z
                  displayName: Contose member 1
                  joinDate: 2019-04-23T22:34:00.330Z
                  name: contosemember1
                  role: Member
                  status: Ready
                  subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
                - dateModified: 2019-06-23T22:34:00.330Z
                  name: ""
                  role: ADMIN
                  status: Invited
                  subscriptionId: 02bf808a-5446-4e54-aea8-39723aaa05e7
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/listApiKeys
  : post:
      description: Lists the API keys for a blockchain member.
      operationId: BlockchainMembers_ListApiKeys
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_ListApiKeys:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                keys:
                - keyName: key1
                  value: -EnIUzu29xj60xPJmstyCURo
                - keyName: key2
                  value: I8P-q4u_WDuCZUBYXnJ3yYX7
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/regenerateApiKeys
  : post:
      description: Regenerate the API keys for a blockchain member.
      operationId: BlockchainMembers_ListRegenerateApiKeys
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        description: api key to be regenerate
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
          description: Success
      tags:
      - BlockchainMember
      x-ms-examples:
        BlockchainMembers_ListRegenerateApiKeys:
          parameters:
            api-version: 2018-06-01-preview
            apiKey:
              keyName: key1
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                keys:
                - keyName: key1
                  value: -EnIUzu29xj60xPJmstyCURo
                - keyName: key2
                  value: -EHio4yRJLxajDaxRNaoD7cZ
              headers: {}
      x-codegen-request-body-name: apiKey
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes
  : get:
      description: Lists the transaction nodes for a blockchain member.
      operationId: TransactionNodes_List
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNodeCollection'
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_List:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1/transactionNodes/txnode2
                  location: southeastasia
                  name: txnode2
                  properties:
                    dns: txnode2-contosemember1.blockchain.azure.com
                    provisioningState: Succeeded
                    publicKey: DbRYTorBtY7rZfNfByUQpdC+hD3k/0lfA7+UnH4ovWM=
                    userName: txnode2
                  type: Microsoft.Blockchain/blockchainMembers/transactionNodes
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}
  : delete:
      description: Delete the transaction node.
      operationId: TransactionNodes_Delete
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Transaction node name.
        in: path
        name: transactionNodeName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Success
        "204":
          content: {}
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_Delete:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
            transactionNodeName: txNode2
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get the details of the transaction node.
      operationId: TransactionNodes_Get
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Transaction node name.
        in: path
        name: transactionNodeName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_Get:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
            transactionNodeName: txnode2
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1/transactionNodes/txnode2
                location: southeastasia
                name: txnode2
                properties:
                  dns: txnode2-contosemember1.blockchain.ppe.azure-int.net
                  provisioningState: Succeeded
                  publicKey: h7Q10I/1dLK/hzX8FkVrfl03D/aX8jW3YNoxJ/n4vkY=
                  userName: txnode2
                type: Microsoft.Blockchain/blockchainMembers/transactionNodes
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update the transaction node.
      operationId: TransactionNodes_Update
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Transaction node name.
        in: path
        name: transactionNodeName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionNodeUpdate'
        description: Payload to create the transaction node.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_Update:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
            transactionNode:
              properties:
                password: $@123_34#&
            transactionNodeName: txnode2
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1/transactionNodes/txnode2
                location: southeastasia
                name: txnode2
                properties:
                  dns: txnode1-contosemember1.blockchain.azure.com
                  provisioningState: Succeeded
                  publicKey: DbRYTorBtY7rZfNfByUQpdC+hD3k/0lfA7+UnH4ovWM=
                  userName: txnode2
                type: Microsoft.Blockchain/blockchainMembers/transactionNodes
              headers: {}
      x-codegen-request-body-name: transactionNode
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update the transaction node.
      operationId: TransactionNodes_Create
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Transaction node name.
        in: path
        name: transactionNodeName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionNode'
        description: Payload to create the transaction node.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
          description: Success
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_Create:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
            transactionNode:
              location: southeastasia
              properties:
                password: $@123_34#&
            transactionNodeName: txnode2
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1/transactionNodes/txnode2
                location: southeastasia
                name: txnode2
                properties:
                  provisioningState: Updating
                  userName: txnode2
                type: Microsoft.Blockchain/blockchainMembers/transactionNodes
              headers: {}
            "201":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Blockchain/blockchainMembers/contosemember1/transactionNodes/txnode2
                location: southeastasia
                name: txnode2
                properties:
                  provisioningState: Updating
                  userName: txnode2
                type: Microsoft.Blockchain/blockchainMembers/transactionNodes
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: transactionNode
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/listApiKeys
  : post:
      description: List the API keys for the transaction node.
      operationId: TransactionNodes_ListApiKeys
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Transaction node name.
        in: path
        name: transactionNodeName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_ListApiKeys:
          parameters:
            api-version: 2018-06-01-preview
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
            transactionNodeName: txnode2
          responses:
            "200":
              body:
                keys:
                - keyName: key1
                  value: -EnIUzu29xj60xPJmstyCURo
                - keyName: key2
                  value: I8P-q4u_WDuCZUBYXnJ3yYX7
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/regenerateApiKeys
  : post:
      description: Regenerate the API keys for the blockchain member.
      operationId: TransactionNodes_ListRegenerateApiKeys
      parameters:
      - description: Blockchain member name.
        in: path
        name: blockchainMemberName
        required: true
        schema:
          type: string
      - description: Transaction node name.
        in: path
        name: transactionNodeName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-06-01-preview
          type: string
      - description: Gets the subscription Id which uniquely identifies the Microsoft
          Azure subscription. The subscription ID is part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        description: api key to be regenerated
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
          description: Success
      tags:
      - TransactionNode
      x-ms-examples:
        TransactionNodes_ListRegenerateApiKeys:
          parameters:
            api-version: 2018-06-01-preview
            apiKey:
              keyName: key1
            blockchainMemberName: contosemember1
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
            transactionNodeName: txnode2
          responses:
            "200":
              body:
                keys:
                - keyName: key1
                  value: -EnIUzu29xj60xPJmstyCURo
                - keyName: key2
                  value: -EHio4yRJLxajDaxRNaoD7cZ
              headers: {}
      x-codegen-request-body-name: apiKey
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2018-06-01-preview
        type: string
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Gets the subscription Id which uniquely identifies the Microsoft
        Azure subscription. The subscription ID is part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiKey:
      description: API key payload which is exposed in the request/response of the
        resource provider.
      example:
        keyName: keyName
        value: value
      properties:
        keyName:
          description: Gets or sets the API key name.
          type: string
        value:
          description: Gets or sets the API key value.
          type: string
      type: object
    ApiKeyCollection:
      description: Collection of the API key payload which is exposed in the response
        of the resource provider.
      example:
        keys:
        - keyName: keyName
          value: value
        - keyName: keyName
          value: value
      properties:
        keys:
          description: Gets or sets the collection of API key.
          items:
            $ref: '#/components/schemas/ApiKey'
          type: array
      type: object
    BlockchainMember:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Payload of the blockchain member which is exposed in the request/response
        of the resource provider.
      example:
        sku:
          tier: tier
          name: name
        properties:
          consortiumManagementAccountPassword: consortiumManagementAccountPassword
          consortium: consortium
          dns: dns
          consortiumRole: consortiumRole
          provisioningState: NotSpecified
          publicKey: publicKey
          userName: userName
          consortiumMemberDisplayName: consortiumMemberDisplayName
          password: password
          protocol: NotSpecified
          consortiumManagementAccountAddress: consortiumManagementAccountAddress
          firewallRules:
          - endIpAddress: endIpAddress
            ruleName: ruleName
            startIpAddress: startIpAddress
          - endIpAddress: endIpAddress
            ruleName: ruleName
            startIpAddress: startIpAddress
          validatorNodesSku:
            capacity: 0
          rootContractAddress: rootContractAddress
      properties:
        properties:
          $ref: '#/components/schemas/BlockchainMemberProperties'
        sku:
          $ref: '#/components/schemas/Sku'
    BlockchainMemberCollection:
      description: Collection of the blockchain member payload which is exposed in
        the request/response of the resource provider.
      example:
        value:
        - sku:
            tier: tier
            name: name
          properties:
            consortiumManagementAccountPassword: consortiumManagementAccountPassword
            consortium: consortium
            dns: dns
            consortiumRole: consortiumRole
            provisioningState: NotSpecified
            publicKey: publicKey
            userName: userName
            consortiumMemberDisplayName: consortiumMemberDisplayName
            password: password
            protocol: NotSpecified
            consortiumManagementAccountAddress: consortiumManagementAccountAddress
            firewallRules:
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
            validatorNodesSku:
              capacity: 0
            rootContractAddress: rootContractAddress
        - sku:
            tier: tier
            name: name
          properties:
            consortiumManagementAccountPassword: consortiumManagementAccountPassword
            consortium: consortium
            dns: dns
            consortiumRole: consortiumRole
            provisioningState: NotSpecified
            publicKey: publicKey
            userName: userName
            consortiumMemberDisplayName: consortiumMemberDisplayName
            password: password
            protocol: NotSpecified
            consortiumManagementAccountAddress: consortiumManagementAccountAddress
            firewallRules:
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
            validatorNodesSku:
              capacity: 0
            rootContractAddress: rootContractAddress
        nextLink: nextLink
      properties:
        nextLink:
          description: "Gets or sets the URL, that the client should use to fetch\
            \ the next page (per server side paging).\r\nIt's null for now, added\
            \ for future use."
          type: string
        value:
          description: Gets or sets the collection of blockchain members.
          items:
            $ref: '#/components/schemas/BlockchainMember'
          type: array
      type: object
    BlockchainMemberNodesSku:
      description: Payload of the blockchain member nodes Sku for a blockchain member.
      example:
        capacity: 0
      properties:
        capacity:
          description: Gets or sets the nodes capacity.
          format: int32
          type: integer
      type: object
    BlockchainMemberProperties:
      description: Payload of the blockchain member properties for a blockchain member.
      example:
        consortiumManagementAccountPassword: consortiumManagementAccountPassword
        consortium: consortium
        dns: dns
        consortiumRole: consortiumRole
        provisioningState: NotSpecified
        publicKey: publicKey
        userName: userName
        consortiumMemberDisplayName: consortiumMemberDisplayName
        password: password
        protocol: NotSpecified
        consortiumManagementAccountAddress: consortiumManagementAccountAddress
        firewallRules:
        - endIpAddress: endIpAddress
          ruleName: ruleName
          startIpAddress: startIpAddress
        - endIpAddress: endIpAddress
          ruleName: ruleName
          startIpAddress: startIpAddress
        validatorNodesSku:
          capacity: 0
        rootContractAddress: rootContractAddress
      properties:
        consortium:
          description: Gets or sets the consortium for the blockchain member.
          type: string
        consortiumManagementAccountAddress:
          description: Gets the managed consortium management account address.
          readOnly: true
          type: string
        consortiumManagementAccountPassword:
          description: Sets the managed consortium management account password.
          type: string
        consortiumMemberDisplayName:
          description: Gets the display name of the member in the consortium.
          type: string
        consortiumRole:
          description: Gets the role of the member in the consortium.
          type: string
        dns:
          description: Gets the dns endpoint of the blockchain member.
          readOnly: true
          type: string
        firewallRules:
          description: Gets or sets firewall rules
          items:
            $ref: '#/components/schemas/FirewallRule'
          type: array
        password:
          description: Sets the basic auth password of the blockchain member.
          type: string
        protocol:
          description: Gets or sets the blockchain protocol.
          enum:
          - NotSpecified
          - Parity
          - Quorum
          - Corda
          type: string
          x-ms-enum:
            modelAsString: true
            name: BlockchainProtocol
        provisioningState:
          description: Gets or sets the blockchain member provision state.
          enum:
          - NotSpecified
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Stale
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BlockchainMemberProvisioningState
        publicKey:
          description: Gets the public key of the blockchain member (default transaction
            node).
          readOnly: true
          type: string
        rootContractAddress:
          description: Gets the Ethereum root contract address of the blockchain.
          readOnly: true
          type: string
        userName:
          description: Gets the auth user name of the blockchain member.
          readOnly: true
          type: string
        validatorNodesSku:
          $ref: '#/components/schemas/BlockchainMemberNodesSku'
      type: object
    BlockchainMemberPropertiesUpdate:
      allOf:
      - $ref: '#/components/schemas/TransactionNodePropertiesUpdate'
      description: Update the payload of the blockchain member properties for a blockchain
        member.
      example:
        consortiumManagementAccountPassword: consortiumManagementAccountPassword
      properties:
        consortiumManagementAccountPassword:
          description: Sets the managed consortium management account password.
          type: string
    BlockchainMemberUpdate:
      description: Update the payload of the blockchain member which is exposed in
        the request/response of the resource provider.
      example:
        properties:
          consortiumManagementAccountPassword: consortiumManagementAccountPassword
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/BlockchainMemberPropertiesUpdate'
        tags:
          additionalProperties:
            type: string
          description: Tags of the service which is a list of key value pairs that
            describes the resource.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
      type: object
    Consortium:
      description: Consortium payload
      example:
        protocol: NotSpecified
        name: name
      properties:
        name:
          description: Gets or sets the blockchain member name.
          type: string
        protocol:
          description: Gets or sets the protocol for the consortium.
          enum:
          - NotSpecified
          - Parity
          - Quorum
          - Corda
          type: string
          x-ms-enum:
            modelAsString: true
            name: BlockchainProtocol
      type: object
    ConsortiumCollection:
      description: Collection of the consortium payload.
      example:
        value:
        - protocol: NotSpecified
          name: name
        - protocol: NotSpecified
          name: name
      properties:
        value:
          description: Gets or sets the collection of consortiums.
          items:
            $ref: '#/components/schemas/Consortium'
          type: array
      type: object
    ConsortiumMember:
      description: Consortium approval
      example:
        joinDate: 2000-01-23T04:56:07.000+00:00
        role: role
        displayName: displayName
        name: name
        dateModified: 2000-01-23T04:56:07.000+00:00
        subscriptionId: subscriptionId
        status: status
      properties:
        dateModified:
          description: Gets the consortium member modified date.
          format: date-time
          type: string
        displayName:
          description: Gets the consortium member display name.
          type: string
        joinDate:
          description: Gets the consortium member join date.
          format: date-time
          type: string
        name:
          description: Gets the consortium member name.
          type: string
        role:
          description: Gets the consortium member role.
          type: string
        status:
          description: Gets the consortium member status.
          type: string
        subscriptionId:
          description: Gets the consortium member subscription id.
          type: string
      type: object
    ConsortiumMemberCollection:
      description: Collection of consortium payload.
      example:
        value:
        - joinDate: 2000-01-23T04:56:07.000+00:00
          role: role
          displayName: displayName
          name: name
          dateModified: 2000-01-23T04:56:07.000+00:00
          subscriptionId: subscriptionId
          status: status
        - joinDate: 2000-01-23T04:56:07.000+00:00
          role: role
          displayName: displayName
          name: name
          dateModified: 2000-01-23T04:56:07.000+00:00
          subscriptionId: subscriptionId
          status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: "Gets or sets the URL, that the client should use to fetch\
            \ the next page (per server side paging).\r\nIt's null for now, added\
            \ for future use."
          type: string
        value:
          description: Gets or sets the collection of consortiums.
          items:
            $ref: '#/components/schemas/ConsortiumMember'
          type: array
      type: object
    FirewallRule:
      description: Ip range for firewall rules
      example:
        endIpAddress: endIpAddress
        ruleName: ruleName
        startIpAddress: startIpAddress
      properties:
        endIpAddress:
          description: Gets or sets the end IP address of the firewall rule range.
          type: string
        ruleName:
          description: Gets or sets the name of the firewall rules.
          type: string
        startIpAddress:
          description: Gets or sets the start IP address of the firewall rule range.
          type: string
      type: object
    NameAvailability:
      description: Name availability payload which is exposed in the response of the
        resource provider.
      example:
        reason: NotSpecified
        nameAvailable: true
        message: message
      properties:
        message:
          description: Gets or sets the message.
          type: string
        nameAvailable:
          description: Gets or sets the value indicating whether the name is available.
          type: boolean
        reason:
          description: Gets or sets the name availability reason.
          enum:
          - NotSpecified
          - AlreadyExists
          - Invalid
          type: string
          x-ms-enum:
            modelAsString: true
            name: NameAvailabilityReason
      type: object
    NameAvailabilityRequest:
      description: Name availability request payload which is exposed in the request
        of the resource provider.
      example:
        name: name
        type: type
      properties:
        name:
          description: Gets or sets the name to check.
          type: string
        type:
          description: Gets or sets the type of the resource to check.
          type: string
      type: object
    OperationResult:
      description: Operation result payload which is exposed in the response of the
        resource provider.
      example:
        name: name
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
      properties:
        endTime:
          description: Gets or sets the operation end time.
          format: date-time
          type: string
        name:
          description: Gets or sets the operation name.
          type: string
        startTime:
          description: Gets or sets the operation start time.
          format: date-time
          type: string
      type: object
    Resource:
      description: The core properties of the resources.
      properties:
        id:
          description: Fully qualified resource Id of the resource.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The type of the service - e.g. "Microsoft.Blockchain"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceProviderOperation:
      description: Operation payload which is exposed in the response of the resource
        provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        isDataAction: true
        name: name
      properties:
        display:
          $ref: '#/components/schemas/ResourceProviderOperationDisplay'
        isDataAction:
          description: Gets or sets a value indicating whether the operation is a
            data action or not.
          type: boolean
        name:
          description: Gets or sets the operation name.
          type: string
        origin:
          description: Gets or sets the origin.
          type: string
      type: object
    ResourceProviderOperationCollection:
      description: Collection of operation payload which is exposed in the response
        of the resource provider.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          isDataAction: true
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          isDataAction: true
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: "Gets or sets the URL, that the client should use to fetch\
            \ the next page (per server side paging).\r\nIt's null for now, added\
            \ for future use."
          type: string
        value:
          description: Gets or sets the collection of operations.
          items:
            $ref: '#/components/schemas/ResourceProviderOperation'
          type: array
      type: object
    ResourceProviderOperationDisplay:
      description: Operation display payload which is exposed in the response of the
        resource provider.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Gets or sets the description of the provider for display purposes.
          type: string
        operation:
          description: Gets or sets the name of the operation for display purposes.
          type: string
        provider:
          description: Gets or sets the name of the provider for display purposes.
          type: string
        resource:
          description: Gets or sets the name of the resource type for display purposes.
          type: string
      type: object
    ResourceTypeSku:
      description: Resource type Sku.
      example:
        skus:
        - requiredFeatures:
          - requiredFeatures
          - requiredFeatures
          tier: tier
          name: name
          locations:
          - locations
          - locations
        - requiredFeatures:
          - requiredFeatures
          - requiredFeatures
          tier: tier
          name: name
          locations:
          - locations
          - locations
        resourceType: resourceType
      properties:
        resourceType:
          description: Gets or sets the resource type
          type: string
        skus:
          description: Gets or sets the Skus
          items:
            $ref: '#/components/schemas/SkuSetting'
          type: array
      type: object
    ResourceTypeSkuCollection:
      description: Collection of the resource type Sku.
      example:
        value:
        - skus:
          - requiredFeatures:
            - requiredFeatures
            - requiredFeatures
            tier: tier
            name: name
            locations:
            - locations
            - locations
          - requiredFeatures:
            - requiredFeatures
            - requiredFeatures
            tier: tier
            name: name
            locations:
            - locations
            - locations
          resourceType: resourceType
        - skus:
          - requiredFeatures:
            - requiredFeatures
            - requiredFeatures
            tier: tier
            name: name
            locations:
            - locations
            - locations
          - requiredFeatures:
            - requiredFeatures
            - requiredFeatures
            tier: tier
            name: name
            locations:
            - locations
            - locations
          resourceType: resourceType
      properties:
        value:
          description: Gets or sets the collection of resource type Sku.
          items:
            $ref: '#/components/schemas/ResourceTypeSku'
          type: array
      type: object
    Sku:
      description: Blockchain member Sku in payload
      example:
        tier: tier
        name: name
      properties:
        name:
          description: Gets or sets Sku name
          type: string
        tier:
          description: Gets or sets Sku tier
          type: string
      type: object
    SkuSetting:
      description: Sku Setting.
      example:
        requiredFeatures:
        - requiredFeatures
        - requiredFeatures
        tier: tier
        name: name
        locations:
        - locations
        - locations
      properties:
        locations:
          description: Gets or sets the locations.
          items:
            type: string
          type: array
        name:
          description: Gets or sets the Sku name.
          type: string
        requiredFeatures:
          description: Gets or sets the required features.
          items:
            type: string
          type: array
        tier:
          description: Gets or sets the Sku tier.
          type: string
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a top level resource.
      properties:
        location:
          description: The GEO location of the blockchain service.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Tags of the service which is a list of key value pairs that
            describes the resource.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
    TransactionNode:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Payload of the transaction node which is the request/response of
        the resource provider.
      example:
        location: location
        properties:
          password: password
          dns: dns
          provisioningState: NotSpecified
          publicKey: publicKey
          userName: userName
          firewallRules:
          - endIpAddress: endIpAddress
            ruleName: ruleName
            startIpAddress: startIpAddress
          - endIpAddress: endIpAddress
            ruleName: ruleName
            startIpAddress: startIpAddress
      properties:
        location:
          description: Gets or sets the transaction node location.
          type: string
        properties:
          $ref: '#/components/schemas/TransactionNodeProperties'
    TransactionNodeCollection:
      description: Collection of transaction node payload which is exposed in the
        request/response of the resource provider.
      example:
        value:
        - location: location
          properties:
            password: password
            dns: dns
            provisioningState: NotSpecified
            publicKey: publicKey
            userName: userName
            firewallRules:
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
        - location: location
          properties:
            password: password
            dns: dns
            provisioningState: NotSpecified
            publicKey: publicKey
            userName: userName
            firewallRules:
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
            - endIpAddress: endIpAddress
              ruleName: ruleName
              startIpAddress: startIpAddress
        nextLink: nextLink
      properties:
        nextLink:
          description: "Gets or sets the URL, that the client should use to fetch\
            \ the next page (per server side paging).\r\nIt's null for now, added\
            \ for future use."
          type: string
        value:
          description: Gets or sets the collection of transaction nodes.
          items:
            $ref: '#/components/schemas/TransactionNode'
          type: array
      type: object
    TransactionNodeProperties:
      description: Payload of transaction node properties payload in the transaction
        node payload.
      example:
        password: password
        dns: dns
        provisioningState: NotSpecified
        publicKey: publicKey
        userName: userName
        firewallRules:
        - endIpAddress: endIpAddress
          ruleName: ruleName
          startIpAddress: startIpAddress
        - endIpAddress: endIpAddress
          ruleName: ruleName
          startIpAddress: startIpAddress
      properties:
        dns:
          description: Gets or sets the transaction node dns endpoint.
          readOnly: true
          type: string
        firewallRules:
          description: Gets or sets the firewall rules.
          items:
            $ref: '#/components/schemas/FirewallRule'
          type: array
        password:
          description: Sets the transaction node dns endpoint basic auth password.
          type: string
        provisioningState:
          description: Gets or sets the blockchain member provision state.
          enum:
          - NotSpecified
          - Updating
          - Deleting
          - Succeeded
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: NodeProvisioningState
        publicKey:
          description: Gets or sets the transaction node public key.
          readOnly: true
          type: string
        userName:
          description: Gets or sets the transaction node dns endpoint basic auth user
            name.
          readOnly: true
          type: string
      type: object
    TransactionNodePropertiesUpdate:
      description: Update the payload of the transaction node properties in the transaction
        node payload.
      example:
        password: password
        firewallRules:
        - endIpAddress: endIpAddress
          ruleName: ruleName
          startIpAddress: startIpAddress
        - endIpAddress: endIpAddress
          ruleName: ruleName
          startIpAddress: startIpAddress
      properties:
        firewallRules:
          description: Gets or sets the firewall rules.
          items:
            $ref: '#/components/schemas/FirewallRule'
          type: array
        password:
          description: Sets the transaction node dns endpoint basic auth password.
          type: string
      type: object
    TransactionNodeUpdate:
      description: Update the transaction node payload which is exposed in the request/response
        of the resource provider.
      example:
        properties:
          password: password
          firewallRules:
          - endIpAddress: endIpAddress
            ruleName: ruleName
            startIpAddress: startIpAddress
          - endIpAddress: endIpAddress
            ruleName: ruleName
            startIpAddress: startIpAddress
      properties:
        properties:
          $ref: '#/components/schemas/TransactionNodePropertiesUpdate'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

