openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Events
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_events_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_events_v1
servers:
- url: https://events.twilio.com
tags:
- name: EventsV1EventType
- name: EventsV1Schema
- name: EventsV1SchemaVersion
- name: EventsV1Sink
- name: EventsV1SinkTest
- name: EventsV1SinkValidate
- name: EventsV1SubscribedEvent
- name: EventsV1Subscription
paths:
  /v1/Schemas:
    description: Versioned Schema definitions for Event Types
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - id
      dependentProperties:
        versions:
          mapping:
            id: id
          resource_url: "/v1/Schemas/{id}/Versions"
      pathType: list
  /v1/Schemas/{Id}:
    description: Versioned Schema definitions for Event Types
    get:
      description: Fetch a specific schema with its nested versions.
      operationId: fetch_schema
      parameters:
      - description: "The unique identifier of the schema. Each schema can have multiple\
          \ versions, that share the same id."
        explode: false
        in: path
        name: Id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.schema'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Schema
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_schema_controller
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - id
      dependentProperties:
        versions:
          mapping:
            id: id
          resource_url: "/v1/Schemas/{id}/Versions"
      pathType: instance
  /v1/Schemas/{Id}/Versions:
    description: Version of the Schema
    get:
      description: Retrieve a paginated list of versions of the schema.
      operationId: list_schema_version
      parameters:
      - description: "The unique identifier of the schema. Each schema can have multiple\
          \ versions, that share the same id."
        explode: false
        in: path
        name: Id
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSchemaVersionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SchemaVersion
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_schema_version_controller
    servers:
    - url: https://events.twilio.com
    x-twilio:
      className: schema_version
      defaultOutputProperties:
      - id
      - schema_version
      - date_created
      parent: "/Schemas/{Id}"
      pathType: list
  /v1/Schemas/{Id}/Versions/{SchemaVersion}:
    description: Version of the Schema
    get:
      description: Fetch a specific schema and version.
      operationId: fetch_schema_version
      parameters:
      - description: "The unique identifier of the schema. Each schema can have multiple\
          \ versions, that share the same id."
        explode: false
        in: path
        name: Id
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the schema
        explode: false
        in: path
        name: SchemaVersion
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.schema.schema_version'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SchemaVersion
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_schema_version_controller
    servers:
    - url: https://events.twilio.com
    x-twilio:
      className: schema_version
      defaultOutputProperties:
      - id
      - schema_version
      - date_created
      parent: "/Schemas/{Id}"
      pathType: instance
  /v1/Sinks:
    description: Sink destination to send events to
    get:
      description: Retrieve a paginated list of Sinks belonging to the account used
        to make the request.
      operationId: list_sink
      parameters:
      - description: A boolean query parameter filtering the results to return sinks
          used/not used by a subscription.
        explode: true
        in: query
        name: InUse
        required: false
        schema:
          type: boolean
        style: form
      - description: "A String query parameter filtering the results by status `initialized`,\
          \ `validating`, `active` or `failed`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSinkResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Sink
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_controller
    post:
      description: Create a new Sink
      operationId: create_sink
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSinkRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.sink'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Sink
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - description
      - sid
      - sink_configuration
      - sink_type
      - status
      dependentProperties:
        sink_test:
          mapping:
            sid: sid
          resource_url: "/v1/Sinks/{sid}/Test"
        sink_validate:
          mapping:
            sid: sid
          resource_url: "/v1/Sinks/{sid}/Validate"
      pathType: list
  /v1/Sinks/{Sid}:
    delete:
      description: Delete a specific Sink.
      operationId: delete_sink
      parameters:
      - description: A 34 character string that uniquely identifies this Sink.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Sink
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_controller
    description: Sink destination to send events to
    get:
      description: Fetch a specific Sink.
      operationId: fetch_sink
      parameters:
      - description: A 34 character string that uniquely identifies this Sink.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.sink'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Sink
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_controller
    post:
      description: Update a specific Sink
      operationId: update_sink
      parameters:
      - description: A 34 character string that uniquely identifies this Sink.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSinkRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.sink'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Sink
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - description
      - sid
      - sink_configuration
      - sink_type
      - status
      dependentProperties:
        sink_test:
          mapping:
            sid: sid
          resource_url: "/v1/Sinks/{sid}/Test"
        sink_validate:
          mapping:
            sid: sid
          resource_url: "/v1/Sinks/{sid}/Validate"
      pathType: instance
  /v1/Sinks/{Sid}/Test:
    description: Test sink
    post:
      description: Create a new Sink Test Event for the given Sink.
      operationId: create_sink_test
      parameters:
      - description: A 34 character string that uniquely identifies the Sink to be
          Tested.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.sink.sink_test'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SinkTest
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_test_controller
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - result
      mountName: sink_test
      parent: "/Sinks/{Sid}"
      pathType: list
  /v1/Sinks/{Sid}/Validate:
    description: Validate sink
    post:
      description: Validate that a test event for a Sink was received.
      operationId: create_sink_validate
      parameters:
      - description: A 34 character string that uniquely identifies the Sink being
          validated.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSinkValidateRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.sink.sink_validate'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SinkValidate
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_sink_validate_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - result
      mountName: sink_validate
      parent: "/Sinks/{Sid}"
      pathType: list
  /v1/Subscriptions:
    description: Subscription to send Event Types to a Sink
    get:
      description: Retrieve a paginated list of Subscriptions belonging to the account
        used to make the request.
      operationId: list_subscription
      parameters:
      - description: The SID of the sink that the list of Subscriptions should be
          filtered by.
        explode: true
        in: query
        name: SinkSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubscriptionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Subscription
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscription_controller
    post:
      description: Create a new Subscription.
      operationId: create_subscription
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.subscription'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Subscription
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscription_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - sid
      - sink_sid
      - date_created
      - date_updated
      dependentProperties:
        subscribed_events:
          mapping:
            subscription_sid: sid
          resource_url: "/v1/Subscriptions/{subscription_sid}/SubscribedEvents"
      pathType: list
  /v1/Subscriptions/{Sid}:
    delete:
      description: Delete a specific Subscription.
      operationId: delete_subscription
      parameters:
      - description: A 34 character string that uniquely identifies this Subscription.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Subscription
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscription_controller
    description: Subscription to send Event Types to a Sink
    get:
      description: Fetch a specific Subscription.
      operationId: fetch_subscription
      parameters:
      - description: A 34 character string that uniquely identifies this Subscription.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.subscription'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Subscription
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscription_controller
    post:
      description: Update a Subscription.
      operationId: update_subscription
      parameters:
      - description: A 34 character string that uniquely identifies this Subscription.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.subscription'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1Subscription
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscription_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - sid
      - sink_sid
      - date_created
      - date_updated
      dependentProperties:
        subscribed_events:
          mapping:
            subscription_sid: sid
          resource_url: "/v1/Subscriptions/{subscription_sid}/SubscribedEvents"
      pathType: instance
  /v1/Subscriptions/{SubscriptionSid}/SubscribedEvents:
    description: Event subscribed to in the parent Subscription
    get:
      description: Retrieve a list of all Subscribed Event types for a Subscription.
      operationId: list_subscribed_event
      parameters:
      - description: The unique SID identifier of the Subscription.
        explode: false
        in: path
        name: SubscriptionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubscribedEventResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SubscribedEvent
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscribed_event_controller
    post:
      description: Add an event type to a Subscription.
      operationId: create_subscribed_event
      parameters:
      - description: The unique SID identifier of the Subscription.
        explode: false
        in: path
        name: SubscriptionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSubscribedEventRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.subscription.subscribed_event'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SubscribedEvent
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscribed_event_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - type
      - schema_version
      - account_sid
      - subscription_sid
      parent: "/Subscriptions/{Sid}"
      pathType: list
  /v1/Subscriptions/{SubscriptionSid}/SubscribedEvents/{Type}:
    delete:
      description: Remove an event type from a Subscription.
      operationId: delete_subscribed_event
      parameters:
      - description: The unique SID identifier of the Subscription.
        explode: false
        in: path
        name: SubscriptionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Type of event being subscribed to.
        explode: false
        in: path
        name: Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SubscribedEvent
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscribed_event_controller
    description: Event subscribed to in the parent Subscription
    get:
      description: Read an Event for a Subscription.
      operationId: fetch_subscribed_event
      parameters:
      - description: The unique SID identifier of the Subscription.
        explode: false
        in: path
        name: SubscriptionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Type of event being subscribed to.
        explode: false
        in: path
        name: Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.subscription.subscribed_event'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SubscribedEvent
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscribed_event_controller
    post:
      description: Update an Event for a Subscription.
      operationId: update_subscribed_event
      parameters:
      - description: The unique SID identifier of the Subscription.
        explode: false
        in: path
        name: SubscriptionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Type of event being subscribed to.
        explode: false
        in: path
        name: Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSubscribedEventRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.subscription.subscribed_event'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1SubscribedEvent
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_subscribed_event_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - type
      - schema_version
      - account_sid
      - subscription_sid
      parent: "/Subscriptions/{Sid}"
      pathType: instance
  /v1/Types:
    description: Event Types available
    get:
      description: Retrieve a paginated list of all the available Event Types.
      operationId: list_event_type
      parameters:
      - description: A string parameter filtering the results to return only the Event
          Types using a given schema.
        explode: true
        in: query
        name: SchemaId
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1EventType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_event_type_controller
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - type
      - schema_id
      - description
      mountName: event_types
      pathType: list
  /v1/Types/{Type}:
    description: Event Types available
    get:
      description: Fetch a specific Event Type.
      operationId: fetch_event_type
      parameters:
      - description: A string that uniquely identifies this Event Type.
        explode: false
        in: path
        name: Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events.v1.event_type'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - EventsV1EventType
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.events_v1_event_type_controller
    servers:
    - url: https://events.twilio.com
    x-twilio:
      defaultOutputProperties:
      - type
      - schema_id
      - description
      mountName: event_types
      pathType: instance
components:
  schemas:
    events.v1.event_type:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        schema_id: schema_id
        description: description
        links: "{}"
        type: type
        url: https://openapi-generator.tech
      properties:
        date_created:
          description: "The date that this Event Type was created, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this Event Type was updated, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        description:
          description: A human readable description for this Event Type.
          nullable: true
          title: description
          type: string
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        schema_id:
          description: A string that uniquely identifies the Schema this Event Type
            adheres to.
          nullable: true
          title: schema_id
          type: string
        type:
          description: A string that uniquely identifies this Event Type.
          nullable: true
          title: type
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: events.v1.event_type
      type: object
    events.v1.schema:
      example:
        latest_version: 0
        links: "{}"
        id: id
        latest_version_date_created: 2000-01-23T04:56:07.000+00:00
        url: https://openapi-generator.tech
      properties:
        id:
          description: "The unique identifier of the schema. Each schema can have\
            \ multiple versions, that share the same id."
          nullable: true
          title: id
          type: string
        latest_version:
          description: The latest version published of this schema.
          nullable: true
          title: latest_version
          type: integer
        latest_version_date_created:
          description: "The date that the latest schema version was created, given\
            \ in ISO 8601 format."
          format: date-time
          nullable: true
          title: latest_version_date_created
          type: string
        links:
          description: Contains a dictionary of URL links to nested resources of this
            schema.
          format: uri-map
          nullable: true
          title: links
          type: object
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: events.v1.schema
      type: object
    events.v1.schema.schema_version:
      example:
        schema_version: 1
        date_created: 2000-01-23T04:56:07.000+00:00
        raw: https://openapi-generator.tech
        id: id
        url: https://openapi-generator.tech
      properties:
        date_created:
          description: "The date the schema version was created, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        id:
          description: "The unique identifier of the schema. Each schema can have\
            \ multiple versions, that share the same id."
          nullable: true
          title: id
          type: string
        raw:
          format: uri
          nullable: true
          title: raw
          type: string
        schema_version:
          description: The version of this schema.
          nullable: true
          title: schema_version
          type: integer
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: events.v1.schema.schema_version
      type: object
    events.v1.sink:
      example:
        sink_configuration: ""
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        sink_type: sink_type
        description: description
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        date_created:
          description: "The date that this Sink was created, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this Sink was updated, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        description:
          description: A human readable description for the Sink
          nullable: true
          title: description
          type: string
        links:
          description: Contains a dictionary of URL links to nested resources of this
            Sink.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: A 34 character string that uniquely identifies this Sink.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DG[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sink_configuration:
          description: The information required for Twilio to connect to the provided
            Sink encoded as JSON.
          nullable: true
          title: sink_configuration
        sink_type:
          $ref: '#/components/schemas/sink_enum_sink_type'
        status:
          $ref: '#/components/schemas/sink_enum_status'
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: events.v1.sink
      type: object
    events.v1.sink.sink_test:
      example:
        result: result
      properties:
        result:
          description: Feedback indicating whether the test event was generated.
          nullable: true
          title: result
          type: string
      title: events.v1.sink.sink_test
      type: object
    events.v1.sink.sink_validate:
      example:
        result: result
      properties:
        result:
          description: Feedback indicating whether the given Sink was validated.
          nullable: true
          title: result
          type: string
      title: events.v1.sink.sink_validate
      type: object
    events.v1.subscription:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        description: description
        sink_sid: sink_sid
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date that this Subscription was created, given in ISO\
            \ 8601 format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date that this Subscription was updated, given in ISO\
            \ 8601 format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        description:
          description: A human readable description for the Subscription
          nullable: true
          title: description
          type: string
        links:
          description: Contains a dictionary of URL links to nested resources of this
            Subscription.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: A 34 character string that uniquely identifies this Subscription.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DF[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sink_sid:
          description: The SID of the sink that events selected by this subscription
            should be sent to. Sink must be active for the subscription to be created.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DG[0-9a-fA-F]{32}$"
          title: sink_sid
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: events.v1.subscription
      type: object
    events.v1.subscription.subscribed_event:
      example:
        schema_version: 0
        account_sid: account_sid
        subscription_sid: subscription_sid
        type: type
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        schema_version:
          description: The schema version that the Subscription should use.
          nullable: true
          title: schema_version
          type: integer
        subscription_sid:
          description: The unique SID identifier of the Subscription.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DF[0-9a-fA-F]{32}$"
          title: subscription_sid
          type: string
        type:
          description: Type of event being subscribed to.
          nullable: true
          title: type
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: events.v1.subscription.subscribed_event
      type: object
    sink_enum_sink_type:
      enum:
      - kinesis
      - webhook
      - segment
      title: sink_enum_sink_type
      type: string
    sink_enum_status:
      enum:
      - initialized
      - validating
      - active
      - failed
      title: sink_enum_status
      type: string
    ListSchemaVersionResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListSchemaVersionResponse_meta
      type: object
    ListSchemaVersionResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        schema_versions:
        - schema_version: 1
          date_created: 2000-01-23T04:56:07.000+00:00
          raw: https://openapi-generator.tech
          id: id
          url: https://openapi-generator.tech
        - schema_version: 1
          date_created: 2000-01-23T04:56:07.000+00:00
          raw: https://openapi-generator.tech
          id: id
          url: https://openapi-generator.tech
      properties:
        meta:
          $ref: '#/components/schemas/ListSchemaVersionResponse_meta'
        schema_versions:
          items:
            $ref: '#/components/schemas/events.v1.schema.schema_version'
          title: schema_versions
          type: array
      title: ListSchemaVersionResponse
      type: object
    ListSinkResponse:
      example:
        sinks:
        - sink_configuration: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sink_type: sink_type
          description: description
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        - sink_configuration: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          sink_type: sink_type
          description: description
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListSchemaVersionResponse_meta'
        sinks:
          items:
            $ref: '#/components/schemas/events.v1.sink'
          title: sinks
          type: array
      title: ListSinkResponse
      type: object
    CreateSinkRequest:
      properties:
        Description:
          description: A human readable description for the Sink **This value should
            not contain PII.**
          type: string
        SinkConfiguration:
          description: The information required for Twilio to connect to the provided
            Sink encoded as JSON.
        SinkType:
          $ref: '#/components/schemas/sink_enum_sink_type'
      required:
      - Description
      - SinkConfiguration
      - SinkType
      title: CreateSinkRequest
      type: object
    UpdateSinkRequest:
      properties:
        Description:
          description: A human readable description for the Sink **This value should
            not contain PII.**
          type: string
      required:
      - Description
      title: UpdateSinkRequest
      type: object
    CreateSinkValidateRequest:
      properties:
        TestId:
          description: A 34 character string that uniquely identifies the test event
            for a Sink being validated.
          type: string
      required:
      - TestId
      title: CreateSinkValidateRequest
      type: object
    ListSubscriptionResponse:
      example:
        subscriptions:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          description: description
          sink_sid: sink_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          description: description
          sink_sid: sink_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListSchemaVersionResponse_meta'
        subscriptions:
          items:
            $ref: '#/components/schemas/events.v1.subscription'
          title: subscriptions
          type: array
      title: ListSubscriptionResponse
      type: object
    CreateSubscriptionRequest:
      properties:
        Description:
          description: A human readable description for the Subscription **This value
            should not contain PII.**
          type: string
        SinkSid:
          description: The SID of the sink that events selected by this subscription
            should be sent to. Sink must be active for the subscription to be created.
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
        Types:
          description: An array of objects containing the subscribed Event Types
          items: {}
          type: array
      required:
      - Description
      - SinkSid
      - Types
      title: CreateSubscriptionRequest
      type: object
    UpdateSubscriptionRequest:
      properties:
        Description:
          description: A human readable description for the Subscription.
          type: string
        SinkSid:
          description: The SID of the sink that events selected by this subscription
            should be sent to. Sink must be active for the subscription to be created.
          maxLength: 34
          minLength: 34
          pattern: "^DG[0-9a-fA-F]{32}$"
          type: string
      title: UpdateSubscriptionRequest
      type: object
    ListSubscribedEventResponse:
      example:
        types:
        - schema_version: 0
          account_sid: account_sid
          subscription_sid: subscription_sid
          type: type
          url: https://openapi-generator.tech
        - schema_version: 0
          account_sid: account_sid
          subscription_sid: subscription_sid
          type: type
          url: https://openapi-generator.tech
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListSchemaVersionResponse_meta'
        types:
          items:
            $ref: '#/components/schemas/events.v1.subscription.subscribed_event'
          title: types
          type: array
      title: ListSubscribedEventResponse
      type: object
    CreateSubscribedEventRequest:
      properties:
        SchemaVersion:
          description: The schema version that the Subscription should use.
          type: integer
        Type:
          description: Type of event being subscribed to.
          type: string
      required:
      - Type
      title: CreateSubscribedEventRequest
      type: object
    UpdateSubscribedEventRequest:
      properties:
        SchemaVersion:
          description: The schema version that the Subscription should use.
          type: integer
      title: UpdateSubscribedEventRequest
      type: object
    ListEventTypeResponse:
      example:
        types:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          schema_id: schema_id
          description: description
          links: "{}"
          type: type
          url: https://openapi-generator.tech
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          schema_id: schema_id
          description: description
          links: "{}"
          type: type
          url: https://openapi-generator.tech
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListSchemaVersionResponse_meta'
        types:
          items:
            $ref: '#/components/schemas/events.v1.event_type'
          title: types
          type: array
      title: ListEventTypeResponse
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
