openapi: 3.0.1
info:
  contact:
    name: Fun Generators
    url: http://fungenerators.com/
  description: |
    Fungenerators name generation API generates random names relevant to the given category. Lots of categories are supported with many variations supported. [Click here to subscribe](http://fungenerators.com/api/namegen/)
  termsOfService: https://fungenerators.com/terms
  title: Name Generation API
  version: "1.5"
  x-apisguru-categories:
  - text
  x-origin:
  - format: swagger
    url: https://fungenerators.com/yaml/namegen.yaml
    version: "2.0"
  x-providerName: fungenerators.com
  x-serviceName: namegen
servers:
- url: https://api.fungenerators.com/
- url: http://api.fungenerators.com/
tags:
- description: Name Generation API
  externalDocs:
    description: Find out more
    url: http://fungenerators.com/api/namegen/
  name: Names
paths:
  /name/categories:
    get:
      description: Get available name generation categories.
      operationId: name_categories_get
      parameters:
      - description: start
        in: query
        name: start
        schema:
          format: integer
          type: integer
      - description: limit
        in: query
        name: limit
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": "37",
                    "start": 0,
                    "limit": 5
                  },
                  "contents": [
                    [
                      {
                        "name": "elf",
                        "title": "Elf Name Generator",
                        "suggestion_supported": "0",
                        "unisex": false
                      },
                      {
                        "name": "super-hero",
                        "title": "Superhero Name generator",
                        "suggestion_supported": "0",
                        "unisex": true
                      },
                      {
                        "name": "alien",
                        "title": "Alien Name generator",
                        "suggestion_supported": "0",
                        "unisex": true
                      },
                      {
                        "name": "dragon",
                        "title": "Dragon Name generator",
                        "suggestion_supported": "0",
                        "unisex": true
                      },
                      {
                        "name": "indian",
                        "title": "Indian Name generator",
                        "suggestion_supported": "0",
                        "unisex": false
                      }
                    ]
                  ]
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}     "
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Names
      x-openapi-router-controller: openapi_server.controllers.names_controller
  /name/generate:
    get:
      description: Generated names in the given category
      operationId: name_generate_get
      parameters:
      - description: Category to generator names from
        in: query
        name: category
        required: true
        schema:
          format: string
          type: string
      - description: Suggestion string if supported by this category generator.
        in: query
        name: suggest
        schema:
          format: string
          type: string
      - description: start. Controls pagination. Relevant only if suggestion is supported
        in: query
        name: start
        schema:
          format: integer
          type: integer
      - description: limit. Controls pagination limit. Relevant only if suggestion
          is supported
        in: query
        name: limit
        schema:
          format: integer
          type: integer
      - description: Variation if supported ( male/female/any )
        in: query
        name: variation
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": null,
                    "start": 0,
                    "limit": 5
                  },
                  "contents": {
                    "category": "ninja",
                    "names": [
                      "Snow Strikes",
                      "Rapid Fall",
                      "Agile Moon",
                      "Dreamsign",
                      "Phantom Fall"
                    ]
                  },
                  "copyright": "https://fungenerators.com/"
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Names
      x-openapi-router-controller: openapi_server.controllers.names_controller
components:
  schemas: {}
  securitySchemes:
    X-Fungenerators-Api-Secret:
      in: header
      name: X-Fungenerators-Api-Secret
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_X-Fungenerators-Api-Secret
x-original-swagger-version: "2.0"
