openapi: 3.0.1
info:
  description: The Windows Azure Network management API provides a RESTful set of
    web services that interact with Windows Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Windows Azure Networks service.
  title: NetworkResourceProviderClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/preview/2015-05-01-preview/network.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways:
    get:
      description: The List application gateway operation retrieves all the application
        gateways in a subscription.
      operationId: application_gateways_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: ""
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits
        in a subscription.
      operationId: express_route_circuits_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders:
    get:
      description: The List ExpressRouteServiceProvider operation retrieves all the
        available ExpressRouteServiceProviders.
      operationId: express_route_service_providers_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
          description: ""
      tags:
      - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_service_providers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers:
    get:
      description: The List loadBalancer operation retrieves all the load balancers
        in a subscription.
      operationId: load_balancers_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
          description: ""
      tags:
      - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.load_balancers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability:
    get:
      description: Checks whether a domain name in the cloudapp.net zone is available
        for use.
      operationId: check_dns_name_availability
      parameters:
      - description: The location of the domain name
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: "The domain name to be verified. It must conform to the following\
          \ regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$."
        in: query
        name: domainNameLabel
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages:
    get:
      description: Lists compute usages for a subscription.
      operationId: usages_list
      parameters:
      - description: The location upon which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
          description: ""
      tags:
      - Usages
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usages_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces:
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces
        in a subscription.
      operationId: network_interfaces_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups:
    get:
      description: The list NetworkSecurityGroups returns all network security groups
        in a subscription
      operationId: network_security_groups_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_security_groups_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses:
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses
        in a subscription.
      operationId: public_ip_addresses_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.public_ip_addresses_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables:
    get:
      description: The list RouteTables returns all route tables in a subscription
      operationId: route_tables_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RouteTableListResult'
          description: ""
      tags:
      - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.route_tables_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualnetworks:
    get:
      description: The list VirtualNetwork returns all Virtual Networks in a subscription
      operationId: virtual_networks_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
          description: ""
      tags:
      - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_networks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways:
    get:
      description: The List ApplicationGateway operation retrieves all the application
        gateways in a resource group.
      operationId: application_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: ""
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}
  : delete:
      description: The delete application gateway operation deletes the specified
        application gateway.
      operationId: application_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
    get:
      description: The Get application gateway operation retrieves information about
        the specified application gateway.
      operationId: application_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: ""
      tags:
      - ApplicationGateways
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
    put:
      description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
      operationId: application_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ApplicationGateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
        description: Parameters supplied to the create/delete ApplicationGateway operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start
  : post:
      description: The Start ApplicationGateway operation starts application gateway
        in the specified resource group through Network resource provider.
      operationId: application_gateways_start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop
  : post:
      description: The STOP ApplicationGateway operation stops application gateway
        in the specified resource group through Network resource provider.
      operationId: application_gateways_stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections:
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all
        the virtual network gateways connections created.
      operationId: virtual_network_gateway_connections_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/
  : delete:
      description: The Delete VirtualNetworkGatewayConnection operation deletes the
        specified virtual network Gateway connection through Network resource provider.
      operationId: virtual_network_gateway_connections_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey
  : get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection shared
        key through Network resource provider.
      operationId: virtual_network_gateway_connections_get_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection shared key name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_set_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation through Network resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset
  : post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_reset_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection reset shared key Name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: Parameters supplied to the Begin Reset Virtual Network Gateway
          connection shared key operation through Network resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: ""
        "202":
          content: {}
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits
        in a resource group.
      operationId: express_route_circuits_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/
  : delete:
      description: The delete ExpressRouteCircuit operation deletes the specified
        ExpressRouteCircuit.
      operationId: express_route_circuits_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route Circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
    get:
      description: The Get ExpressRouteCircuit operation retrieves information about
        the specified ExpressRouteCircuit.
      operationId: express_route_circuits_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
    put:
      description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
      operationId: express_route_circuits_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
        description: Parameters supplied to the create/delete ExpressRouteCircuit
          operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations
  : get:
      description: The List authorization operation retrieves all the authorizations
        in an ExpressRouteCircuit.
      operationId: express_route_circuit_authorizations_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}
  : delete:
      description: The delete authorization operation deletes the specified authorization
        from the specified ExpressRouteCircuit.
      operationId: express_route_circuit_authorizations_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
    get:
      description: The GET authorization operation retrieves the specified authorization
        from the specified ExpressRouteCircuit.
      operationId: express_route_circuit_authorizations_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
    put:
      description: The Put Authorization operation creates/updates an authorization
        in the specified ExpressRouteCircuits
      operationId: express_route_circuit_authorizations_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
        description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization
          operation
        required: true
        x-body-name: authorizationParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
      x-codegen-request-body-name: authorizationParameters
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings
  : get:
      description: The List peering operation retrieves all the peerings in an ExpressRouteCircuit.
      operationId: express_route_circuit_peerings_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeeringListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeeringListResult'
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}
  : delete:
      description: The delete peering operation deletes the specified peering from
        the ExpressRouteCircuit.
      operationId: express_route_circuit_peerings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
    get:
      description: The GET peering operation retrieves the specified authorization
        from the ExpressRouteCircuit.
      operationId: express_route_circuit_peerings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
    put:
      description: The Put Peering operation creates/updates an peering in the specified
        ExpressRouteCircuits
      operationId: express_route_circuit_peerings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitPeering'
        description: Parameters supplied to the create/update ExpressRouteCircuit
          Peering operation
        required: true
        x-body-name: peeringParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
      x-codegen-request-body-name: peeringParameters
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}arpTable
  : get:
      description: The ListArpTable from ExpressRouteCircuit operation retrieves the
        currently advertised arp table associated with the ExpressRouteCircuits in
        a resource group.
      operationId: express_route_circuits_list_arp_table
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}routesTable
  : get:
      description: The ListRoutesTable from ExpressRouteCircuit operation retrieves
        the currently advertised routes table associated with the ExpressRouteCircuits
        in a resource group.
      operationId: express_route_circuits_list_routes_table
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}stats
  : get:
      description: The ListStats ExpressRouteCircuit operation retrieves all the stats
        from a ExpressRouteCircuits in a resource group.
      operationId: express_route_circuits_list_stats
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsStatsListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsStatsListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers:
    get:
      description: The List loadBalancer operation retrieves all the load balancers
        in a resource group.
      operationId: load_balancers_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
          description: ""
      tags:
      - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.load_balancers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}:
    delete:
      description: The delete loadbalancer operation deletes the specified loadbalancer.
      operationId: load_balancers_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: loadBalancerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - LoadBalancers
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.load_balancers_controller
    get:
      description: The Get network interface operation retrieves information about
        the specified network interface.
      operationId: load_balancers_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: loadBalancerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
          description: ""
      tags:
      - LoadBalancers
      x-openapi-router-controller: openapi_server.controllers.load_balancers_controller
    put:
      description: The Put LoadBalancer operation creates/updates a LoadBalancer
      operationId: load_balancers_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: loadBalancerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancer'
          text/json:
            schema:
              $ref: '#/components/schemas/LoadBalancer'
        description: Parameters supplied to the create/delete LoadBalancer operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
          description: ""
      tags:
      - LoadBalancers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.load_balancers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      description: The List LocalNetworkGateways operation retrieves all the local
        network gateways stored.
      operationId: local_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: ""
      tags:
      - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}/
  : delete:
      description: The Delete LocalNetworkGateway operation deletes the specified
        local network Gateway through Network resource provider.
      operationId: local_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces:
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces
        in a resource group.
      operationId: network_interfaces_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
  : delete:
      description: The delete networkInterface operation deletes the specified networkInterface.
      operationId: network_interfaces_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
    get:
      description: The Get network interface operation retrieves information about
        the specified network interface.
      operationId: network_interfaces_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
          description: ""
      tags:
      - NetworkInterfaces
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
    put:
      description: The Put NetworkInterface operation creates/updates a networkInterface
      operationId: network_interfaces_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkInterface'
          text/json:
            schema:
              $ref: '#/components/schemas/NetworkInterface'
        description: Parameters supplied to the create/update NetworkInterface operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_interfaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups:
    get:
      description: The list NetworkSecurityGroups returns all network security groups
        in a resource group
      operationId: network_security_groups_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_security_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}
  : delete:
      description: The Delete NetworkSecurityGroup operation deletes the specified
        network security group
      operationId: network_security_groups_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.network_security_groups_controller
    get:
      description: The Get NetworkSecurityGroups operation retrieves information about
        the specified network security group.
      operationId: network_security_groups_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-openapi-router-controller: openapi_server.controllers.network_security_groups_controller
    put:
      description: The Put NetworkSecurityGroup operation creates/updates a network
        security group in the specified resource group.
      operationId: network_security_groups_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSecurityGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/NetworkSecurityGroup'
        description: Parameters supplied to the create/update Network Security Group
          operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_security_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules
  : get:
      description: The List network security rule operation retrieves all the security
        rules in a network security group.
      operationId: security_rules_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleListResult'
          description: ""
      tags:
      - SecurityRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.security_rules_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}
  : delete:
      description: The delete network security rule operation deletes the specified
        network security rule.
      operationId: security_rules_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: The name of the security rule.
        in: path
        name: securityRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - SecurityRules
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.security_rules_controller
    get:
      description: The Get NetworkSecurityRule operation retrieves information about
        the specified network security rule.
      operationId: security_rules_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: The name of the security rule.
        in: path
        name: securityRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
          description: ""
      tags:
      - SecurityRules
      x-openapi-router-controller: openapi_server.controllers.security_rules_controller
    put:
      description: The Put network security rule operation creates/updates a security
        rule in the specified network security group
      operationId: security_rules_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: The name of the security rule.
        in: path
        name: securityRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityRule'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityRule'
        description: Parameters supplied to the create/update network security rule
          operation
        required: true
        x-body-name: securityRuleParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
          description: ""
      tags:
      - SecurityRules
      x-ms-long-running-operation: true
      x-codegen-request-body-name: securityRuleParameters
      x-openapi-router-controller: openapi_server.controllers.security_rules_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses:
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses
        in a resource group.
      operationId: public_ip_addresses_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.public_ip_addresses_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}/
  : delete:
      description: The delete publicIpAddress operation deletes the specified publicIpAddress.
      operationId: public_ip_addresses_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the subnet.
        in: path
        name: publicIpAddressName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.public_ip_addresses_controller
    get:
      description: The Get publicIpAddress operation retrieves information about the
        specified pubicIpAddress
      operationId: public_ip_addresses_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the subnet.
        in: path
        name: publicIpAddressName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
          description: ""
      tags:
      - PublicIpAddresses
      x-openapi-router-controller: openapi_server.controllers.public_ip_addresses_controller
    put:
      description: The Put PublicIPAddress operation creates/updates a stable/dynamic
        PublicIP address
      operationId: public_ip_addresses_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the publicIpAddress.
        in: path
        name: publicIpAddressName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIpAddress'
          text/json:
            schema:
              $ref: '#/components/schemas/PublicIpAddress'
        description: Parameters supplied to the create/update PublicIPAddress operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.public_ip_addresses_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables:
    get:
      description: The list RouteTables returns all route tables in a resource group
      operationId: route_tables_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RouteTableListResult'
          description: ""
      tags:
      - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.route_tables_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}:
    delete:
      description: The Delete RouteTable operation deletes the specified Route Table
      operationId: route_tables_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - RouteTables
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.route_tables_controller
    get:
      description: The Get RouteTables operation retrieves information about the specified
        route table.
      operationId: route_tables_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
[...]
