openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Cache entity in your\
    \ Azure API Management deployment. Azure API Management also allows for caching\
    \ responses in an external Azure Cache for Redis. For more information refer to\
    \ [External Redis Cache in ApiManagement](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-cache-external)."
  title: ApiManagementClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimcaches.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimcaches
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/caches
  : get:
      description: Lists a collection of all external Caches in the specified service
        instance.
      operationId: Cache_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_200_response'
          description: Returns a collection of Cache entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Cache
      x-ms-examples:
        ApiManagementListCaches:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/caches/westindia
                  name: westindia
                  properties:
                    connectionString: "{{5c68d535a40f7e61103cd285}}}"
                    description: Redis cache instances in West India
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/contoso5
                  type: Microsoft.ApiManagement/service/caches
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/caches/{cacheId}
  : delete:
      description: Deletes specific Cache.
      operationId: Cache_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Cache entity. Cache identifier (should be either
          'default' or valid Azure region identifier).
        in: path
        name: cacheId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Cache was successfully deleted.
        "204":
          content: {}
          description: The Cache was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Cache
      x-ms-examples:
        ApiManagementDeleteCache:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            cacheId: southindia
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the Cache specified by its identifier.
      operationId: Cache_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Cache entity. Cache identifier (should be either
          'default' or valid Azure region identifier).
        in: path
        name: cacheId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_Get_200_response'
          description: The response body contains the specified Cache entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Cache
      x-ms-examples:
        ApiManagementGetCache:
          parameters:
            api-version: 2019-01-01
            cacheId: westindia
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/caches/westindia
                name: westindia
                properties:
                  connectionString: "{{5c68d535a40f7e61103cd285}}}"
                  description: Redis cache instances in West India
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/contoso5
                type: Microsoft.ApiManagement/service/caches
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Cache specified by
        its identifier.
      operationId: Cache_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Cache entity. Cache identifier (should be either
          'default' or valid Azure region identifier).
        in: path
        name: cacheId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified Cache entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Cache
      x-ms-examples:
        ApiManagementHeadCache:
          parameters:
            api-version: 2019-01-01
            cacheId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the cache specified by its identifier.
      operationId: Cache_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Cache entity. Cache identifier (should be either
          'default' or valid Azure region identifier).
        in: path
        name: cacheId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cache_Update_request'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The cache details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Cache
      x-ms-examples:
        ApiManagementUpdateCache:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            cacheId: westindia
            parameters:
              properties:
                description: Update Cache in west India
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates an External Cache to be used in Api Management
        instance.
      externalDocs:
        description: Use an external cache in Azure API Management
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-cache-external
      operationId: Cache_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the Cache entity. Cache identifier (should be either
          'default' or valid Azure region identifier).
        in: path
        name: cacheId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cache_Get_200_response'
        description: Create or Update parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_Get_200_response'
          description: The Cache details were successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_Get_200_response'
          description: The new Cache was successfully added.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Cache
      x-ms-examples:
        ApiManagementCreateCache:
          parameters:
            api-version: 2019-01-01
            cacheId: westindia
            parameters:
              properties:
                connectionString: "contoso5.redis.cache.windows.net,ssl=true,password=..."
                description: Redis cache instances in West India
                resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/contoso5
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/caches/westindia
                name: westindia
                properties:
                  connectionString: "{{5c68d535a40f7e61103cd285}}}"
                  description: Redis cache instances in West India
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/contoso5
                type: Microsoft.ApiManagement/service/caches
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/caches/westindia
                name: westindia
                properties:
                  connectionString: "{{5c68d535a40f7e61103cd285}}}"
                  description: Redis cache instances in West India
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/contoso5
                type: Microsoft.ApiManagement/service/caches
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Cache_ListByService_200_response:
      description: Paged Caches list representation.
      example:
        value:
        - properties:
            connectionString: connectionString
            resourceId: resourceId
            description: description
        - properties:
            connectionString: connectionString
            resourceId: resourceId
            description: description
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/Cache_ListByService_200_response_value_inner'
          type: array
      type: object
    Cache_ListByService_200_response_value_inner_properties:
      description: Properties of the Cache contract.
      example:
        connectionString: connectionString
        resourceId: resourceId
        description: description
      properties:
        connectionString:
          description: Runtime connection string to cache
          maxLength: 300
          type: string
        description:
          description: Cache description
          maxLength: 2000
          type: string
        resourceId:
          description: Original uri of entity in external system cache points to
          maxLength: 2000
          type: string
      required:
      - connectionString
      type: object
    Cache_Update_request_properties:
      description: Parameters supplied to the Update Cache operation.
      properties:
        connectionString:
          description: Runtime connection string to cache
          maxLength: 300
          type: string
        description:
          description: Cache description
          maxLength: 2000
          type: string
        resourceId:
          description: Original uri of entity in external system cache points to
          maxLength: 2000
          type: string
      type: object
    Cache_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Cache_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Cache_ListByService_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Cache_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Cache details.
      example:
        properties:
          connectionString: connectionString
          resourceId: resourceId
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/Cache_ListByService_200_response_value_inner_properties'
    Cache_ListByService_200_response_value_inner:
      description: Cache details.
      example:
        properties:
          connectionString: connectionString
          resourceId: resourceId
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/Cache_ListByService_200_response_value_inner_properties'
      type: object
    Cache_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Cache_ListByService_default_response_error'
      type: object
    Cache_Update_request:
      description: Cache update details.
      properties:
        properties:
          $ref: '#/components/schemas/Cache_Update_request_properties'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

