openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/advisors.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: sql-advisors
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors:
    get:
      description: Gets a list of server advisors.
      operationId: server_advisors_list_by_server
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Advisor'
                type: array
          description: Successfully retrieved the list of server advisors.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ServerAdvisors
      x-ms-examples:
        List of server advisors:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                kind: ""
                location: East Asia
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex
                kind: ""
                location: East Asia
                name: DropIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DbParameterization
                kind: ""
                location: East Asia
                name: DbParameterization
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/SchemaIssue
                kind: ""
                location: East Asia
                name: SchemaIssue
                properties:
                  advisorStatus: PublicPreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/ForceLastGoodPlan
                kind: ""
                location: East Asia
                name: ForceLastGoodPlan
                properties:
                  advisorStatus: PrivatePreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/advisors
        List of server recommended actions for all advisors:
          parameters:
            $expand: recommendedActions
            api-version: 2015-05-01-preview
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                kind: ""
                location: East Asia
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Server
                  recommendedActions:
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex/recommendedActions/IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[Hour], [System], [LastChanged]"
                        indexColumns: "[Name],[Money],[Power]"
                        indexName: nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B
                        indexType: NONCLUSTERED
                        schema: "[CRM]"
                        table: "[DataPoints]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 1440
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 209.3125
                        dimensionName: SpaceChange
                        unit: Megabytes
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B]\
                          \ ON [CRM].[DataPoints] ([Name],[Money],[Power]) INCLUDE\
                          \ ([Hour], [System], [LastChanged]) WITH (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:04Z
                      observedImpact: []
                      recommendationReason: ""
                      score: 1
                      state:
                        currentValue: Active
                        lastModified: 2017-06-20T15:15:40Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:04Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex/recommendedActions/IR_[dbo]_[Employees]_560E15A98D14CA09BDFB"
                    kind: ""
                    location: East Asia
                    name: "IR_[dbo]_[Employees]_560E15A98D14CA09BDFB"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[Postal]"
                        indexColumns: "[City], [State]"
                        indexName: nci_wi_Employees_8C18C2AF4267DC77793040782641CCDE
                        indexType: NONCLUSTERED
                        schema: "[dbo]"
                        table: "[Employees]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 17
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 128
                        dimensionName: SpaceChange
                        unit: Megabytes
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [nci_wi_Employees_8C18C2AF4267DC77793040782641CCDE]\
                          \ ON [dbo].[Employees] ([City], [State]) INCLUDE ([Postal])\
                          \ WITH (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact: []
                      recommendationReason: ""
                      score: 3
                      state:
                        currentValue: Active
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex/recommendedActions/IR_[dbo]_[DataPoints]_F5D2F347AA22DB46E4CC"
                    kind: ""
                    location: East Asia
                    name: "IR_[dbo]_[DataPoints]_F5D2F347AA22DB46E4CC"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[Power],[Pineapple]"
                        indexActionDuration: 00:01:00
                        indexActionStartTime: 2017-03-01T14:38:05.337
                        indexColumns: "[Name],[Money]"
                        indexName: nci_wi_DataPoints_609E4B7D6A3813990ED44B28B340C8FC
                        indexType: NONCLUSTERED
                        schema: "[dbo]"
                        table: "[DataPoints]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 5040
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 120
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionDuration: PT1M
                      executeActionInitiatedBy: User
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      executeActionStartTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "DROP INDEX [nci_wi_DataPoints_609E4B7D6A3813990ED44B28B340C8FC]\
                          \ ON [dbo].[DataPoints]"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact:
                      - changeValueAbsolute: -12.7
                        changeValueRelative: -0.9
                        dimensionName: AffectedQueriesCpuUtilization
                        unit: CpuCores
                      - changeValueAbsolute: -12.7
                        changeValueRelative: -0.3175
                        dimensionName: CpuUtilization
                        unit: CpuCores
                      - absoluteValue: 12
                        dimensionName: QueriesWithImprovedPerformance
                        unit: Count
                      - absoluteValue: 1
                        dimensionName: QueriesWithRegressedPerformance
                        unit: Count
                      - absoluteValue: 130.742187
                        dimensionName: SpaceChange
                        unit: Megabytes
                      - absoluteValue: 0
                        dimensionName: VerificationProgress
                        unit: Percent
                      recommendationReason: ""
                      score: 3
                      state:
                        actionInitiatedBy: User
                        currentValue: Success
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex
                kind: ""
                location: East Asia
                name: DropIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  recommendedActions:
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex/recommendedActions/IR_[CRM]_[DataPoints1]_29AEA82685D24704DE1A"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints1]_29AEA82685D24704DE1A"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[Apple]"
                        indexColumns: "[Cookies],[SessionId]"
                        indexName: MyIndex123
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[CRM]"
                        table: "[DataPoints1]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 803
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 144.6875
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "DROP INDEX [MyIndex123] ON [CRM].[DataPoints1]"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact: []
                      recommendationReason: Duplicate
                      score: 1
                      state:
                        actionInitiatedBy: System
                        currentValue: Pending
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex/recommendedActions/IR_[CRM]_[DataPoints2]_E4B21F229379807E531A"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints2]_E4B21F229379807E531A"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[Apple]"
                        indexActionDuration: 00:01:00
                        indexActionStartTime: 2017-03-01T14:38:05.697
                        indexColumns: "[Cookies],[SessionId],[Protocol]"
                        indexName: MyIndex321
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[CRM]"
                        table: "[DataPoints2]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 705
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionDuration: PT1M
                      executeActionInitiatedBy: User
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      executeActionStartTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [MyIndex321] ON [CRM].[DataPoints2]\
                          \ ([Cookies],[SessionId],[Protocol]) INCLUDE ([Apple]) WITH\
                          \ (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact:
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: AffectedQueriesCpuUtilization
                        unit: CpuCores
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: CpuUtilization
                        unit: CpuCores
                      - absoluteValue: 0
                        dimensionName: QueriesWithImprovedPerformance
                        unit: Count
                      - absoluteValue: 0
                        dimensionName: QueriesWithRegressedPerformance
                        unit: Count
                      - absoluteValue: -342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      - absoluteValue: 0
                        dimensionName: VerificationProgress
                        unit: Percent
                      recommendationReason: Duplicate
                      score: 1
                      state:
                        actionInitiatedBy: User
                        currentValue: Success
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex/recommendedActions/IR_[dbo]_[FactFinance]_13ADA5F354E9E14A983B"
                    kind: ""
                    location: East Asia
                    name: "IR_[dbo]_[FactFinance]_13ADA5F354E9E14A983B"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[OrganizationKey]"
                        indexActionDuration: 00:01:00
                        indexActionStartTime: 2017-03-01T14:38:05.837
                        indexColumns: "[FinanceKey],[DateKey]"
                        indexName: IX_FF
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[dbo]"
                        table: "[FactFinance]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 705
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionDuration: PT1M
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      executeActionStartTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [IX_FF] ON [dbo].[FactFinance]\
                          \ ([FinanceKey],[DateKey]) INCLUDE ([OrganizationKey]) WITH\
                          \ (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact:
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: AffectedQueriesCpuUtilization
                        unit: CpuCores
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: CpuUtilization
                        unit: CpuCores
                      - absoluteValue: 0
                        dimensionName: QueriesWithImprovedPerformance
                        unit: Count
                      - absoluteValue: 0
                        dimensionName: QueriesWithRegressedPerformance
                        unit: Count
                      - absoluteValue: -342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      - absoluteValue: 0
                        dimensionName: VerificationProgress
                        unit: Percent
                      recommendationReason: Duplicate
                      score: 1
                      state:
                        actionInitiatedBy: System
                        currentValue: Success
                        lastModified: 2017-02-28T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex/recommendedActions/IR_[CRM]_[DataPoints1]_13ADA5F354E9E14A983B"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints1]_13ADA5F354E9E14A983B"
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        includedColumns: "[Apple]"
                        indexColumns: "[Protocol],[SessionId]"
                        indexName: IX_FF
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[CRM]"
                        table: "[DataPoints1]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 645
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-03-23T14:14:35Z
                      implementationDetails:
                        method: TSql
                        script: "DROP INDEX [IX_FF] ON [CRM].[DataPoints1]"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact: []
                      recommendationReason: Unused
                      score: 1
                      state:
                        actionInitiatedBy: System
                        currentValue: Pending
                        lastModified: 2017-03-23T14:14:35Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DbParameterization
                kind: ""
                location: East Asia
                name: DbParameterization
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  recommendedActions:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DbParameterization/recommendedActions/ForceDbParameterization
                    kind: ""
                    location: East Asia
                    name: ForceDbParameterization
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                      errorDetails: {}
                      estimatedImpact:
                      - changeValueAbsolute: 22.5613696939135
                        dimensionName: CpuSavings
                        unit: Percent
                      - changeValueAbsolute: 0.701823681806341
                        dimensionName: QueryDurationDecrease
                        unit: secs
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-05-11T15:08:31Z
                      implementationDetails:
                        method: TSql
                        script: "ALTER DATABASE [IndexAdvisor_test_3] SET PARAMETERIZATION\
                          \ FORCED"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:37:44Z
                      observedImpact: []
                      recommendationReason: ""
                      score: 3
                      state:
                        actionInitiatedBy: System
                        currentValue: Pending
                        lastModified: 2017-05-11T15:08:31Z
                      timeSeries: []
                      validSince: 2017-03-01T14:37:44Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/SchemaIssue
                kind: ""
                location: East Asia
                name: SchemaIssue
                properties:
                  advisorStatus: PublicPreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  recommendedActions:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/SchemaIssue/recommendedActions/SchemaProblem_1A258C5714A7410C9D23
                    kind: ""
                    location: East Asia
                    name: SchemaProblem_1A258C5714A7410C9D23
                    properties:
                      details:
                        databaseName: IndexAdvisor_test_3
                        sqlErrorCount: 342482
                        sqlErrorMessage: Invalid object name 'dbo.Companies'.
                        sqlErrorNumber: 208
                      errorDetails: {}
                      estimatedImpact: []
                      implementationDetails: {}
                      isArchivedAction: false
                      isExecutableAction: false
                      isRevertableAction: false
                      lastRefresh: 2017-06-07T22:19:53Z
                      observedImpact: []
                      recommendationReason: SchemaProblem
                      score: 3
                      state:
                        currentValue: Active
                        lastModified: 2017-03-01T14:37:48Z
                      timeSeries: []
                      validSince: 2017-03-01T14:37:48Z
                    type: Microsoft.Sql/servers/advisors/recommendedActions
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/ForceLastGoodPlan
                kind: ""
                location: East Asia
                name: ForceLastGoodPlan
                properties:
                  advisorStatus: PrivatePreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  recommendedActions: []
                type: Microsoft.Sql/servers/advisors
      x-openapi-router-controller: openapi_server.controllers.server_advisors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors/{advisorName}
  : get:
      description: Gets a server advisor.
      operationId: server_advisors_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Server Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully retrieved details of specified server advisor.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ServerAdvisors
      x-ms-examples:
        Get server advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                kind: ""
                location: East Asia
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/advisors
      x-openapi-router-controller: openapi_server.controllers.server_advisors_controller
    patch:
      description: Updates a server advisor.
      operationId: server_advisors_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Server Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advisor'
        description: The requested advisor resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully updated the specified server advisor.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 InvalidAdvisorUpsertRequest - The update advisor request body does not exist or has no properties object.

             * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute status for the advisor is not allowed.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ServerAdvisors
      x-ms-examples:
        Update server advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            parameters:
              properties:
                autoExecuteStatus: Disabled
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                kind: ""
                location: East Asia
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Server
                type: Microsoft.Sql/servers/advisors
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.server_advisors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors
  : get:
      description: Gets a list of database advisors.
      operationId: database_advisors_list_by_database
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Advisor'
                type: array
          description: Successfully retrieved the list of database advisors.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        List of database advisors:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                kind: ""
                location: East Asia
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Database
                  lastChecked: 2017-06-20T00:24:39Z
                  recommendationsStatus: Ok
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex
                kind: ""
                location: East Asia
                name: DropIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Database
                  lastChecked: 2017-06-19T20:42:43Z
                  recommendationsStatus: DbSeemsTuned
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DbParameterization
                kind: ""
                location: East Asia
                name: DbParameterization
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Enabled
                  autoExecuteStatusInheritedFrom: Database
                  lastChecked: 2017-06-19T19:13:03Z
                  recommendationsStatus: DbParameterizationIssue
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/SchemaIssue
                kind: ""
                location: East Asia
                name: SchemaIssue
                properties:
                  advisorStatus: PublicPreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  lastChecked: 2017-06-20T14:00:32Z
                  recommendationsStatus: SchemaIsNotConsistent
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/ForceLastGoodPlan
                kind: ""
                location: East Asia
                name: ForceLastGoodPlan
                properties:
                  advisorStatus: PrivatePreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                type: Microsoft.Sql/servers/databases/advisors
        List of database recommended actions for all advisors:
          parameters:
            $expand: recommendedActions
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                kind: ""
                location: East Asia
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Database
                  lastChecked: 2017-06-20T16:39:16Z
                  recommendationsStatus: Ok
                  recommendedActions:
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                    properties:
                      details:
                        includedColumns: "[Hour], [System], [LastChanged]"
                        indexColumns: "[Name],[Money],[Power]"
                        indexName: nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B
                        indexType: NONCLUSTERED
                        schema: "[CRM]"
                        table: "[DataPoints]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 1440
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 209.3125
                        dimensionName: SpaceChange
                        unit: Megabytes
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B]\
                          \ ON [CRM].[DataPoints] ([Name],[Money],[Power]) INCLUDE\
                          \ ([Hour], [System], [LastChanged]) WITH (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:04Z
                      observedImpact: []
                      recommendationReason: ""
                      score: 1
                      state:
                        currentValue: Active
                        lastModified: 2017-06-20T15:15:40Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:04Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[dbo]_[DataPoints]_F5D2F347AA22DB46E4CC"
                    kind: ""
                    location: East Asia
                    name: "IR_[dbo]_[DataPoints]_F5D2F347AA22DB46E4CC"
                    properties:
                      details:
                        includedColumns: "[Power],[Pineapple]"
                        indexActionDuration: 00:01:00
                        indexActionStartTime: 2017-03-01T14:38:05.337
                        indexColumns: "[Name],[Money]"
                        indexName: nci_wi_DataPoints_609E4B7D6A3813990ED44B28B340C8FC
                        indexType: NONCLUSTERED
                        schema: "[dbo]"
                        table: "[DataPoints]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 5040
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 120
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionDuration: PT1M
                      executeActionInitiatedBy: User
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      executeActionStartTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "DROP INDEX [nci_wi_DataPoints_609E4B7D6A3813990ED44B28B340C8FC]\
                          \ ON [dbo].[DataPoints]"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact:
                      - changeValueAbsolute: -12.7
                        changeValueRelative: -0.9
                        dimensionName: AffectedQueriesCpuUtilization
                        unit: CpuCores
                      - changeValueAbsolute: -12.7
                        changeValueRelative: -0.3175
                        dimensionName: CpuUtilization
                        unit: CpuCores
                      - absoluteValue: 12
                        dimensionName: QueriesWithImprovedPerformance
                        unit: Count
                      - absoluteValue: 1
                        dimensionName: QueriesWithRegressedPerformance
                        unit: Count
                      - absoluteValue: 130.742187
                        dimensionName: SpaceChange
                        unit: Megabytes
                      - absoluteValue: 0
                        dimensionName: VerificationProgress
                        unit: Percent
                      recommendationReason: ""
                      score: 3
                      state:
                        actionInitiatedBy: User
                        currentValue: Success
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[dbo]_[Employees]_560E15A98D14CA09BDFB"
                    kind: ""
                    location: East Asia
                    name: "IR_[dbo]_[Employees]_560E15A98D14CA09BDFB"
                    properties:
                      details:
                        includedColumns: "[Postal]"
                        indexColumns: "[City], [State]"
                        indexName: nci_wi_Employees_8C18C2AF4267DC77793040782641CCDE
                        indexType: NONCLUSTERED
                        schema: "[dbo]"
                        table: "[Employees]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 17
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 128
                        dimensionName: SpaceChange
                        unit: Megabytes
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [nci_wi_Employees_8C18C2AF4267DC77793040782641CCDE]\
                          \ ON [dbo].[Employees] ([City], [State]) INCLUDE ([Postal])\
                          \ WITH (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact: []
                      recommendationReason: ""
                      score: 3
                      state:
                        currentValue: Active
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex
                kind: ""
                location: East Asia
                name: DropIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Database
                  lastChecked: 2017-06-19T20:42:43Z
                  recommendationsStatus: DbSeemsTuned
                  recommendedActions:
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex/recommendedActions/IR_[CRM]_[DataPoints1]_13ADA5F354E9E14A983B"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints1]_13ADA5F354E9E14A983B"
                    properties:
                      details:
                        includedColumns: "[Apple]"
                        indexColumns: "[Protocol],[SessionId]"
                        indexName: IX_FF
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[CRM]"
                        table: "[DataPoints1]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 645
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-03-23T14:14:35Z
                      implementationDetails:
                        method: TSql
                        script: "DROP INDEX [IX_FF] ON [CRM].[DataPoints1]"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact: []
                      recommendationReason: Unused
                      score: 1
                      state:
                        actionInitiatedBy: System
                        currentValue: Pending
                        lastModified: 2017-03-23T14:14:35Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex/recommendedActions/IR_[CRM]_[DataPoints1]_29AEA82685D24704DE1A"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints1]_29AEA82685D24704DE1A"
                    properties:
                      details:
                        includedColumns: "[Apple]"
                        indexColumns: "[Cookies],[SessionId]"
                        indexName: MyIndex123
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[CRM]"
                        table: "[DataPoints1]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 803
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 144.6875
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "DROP INDEX [MyIndex123] ON [CRM].[DataPoints1]"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact: []
                      recommendationReason: Duplicate
                      score: 1
                      state:
                        actionInitiatedBy: System
                        currentValue: Pending
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex/recommendedActions/IR_[CRM]_[DataPoints2]_E4B21F229379807E531A"
                    kind: ""
                    location: East Asia
                    name: "IR_[CRM]_[DataPoints2]_E4B21F229379807E531A"
                    properties:
                      details:
                        includedColumns: "[Apple]"
                        indexActionDuration: 00:01:00
                        indexActionStartTime: 2017-03-01T14:38:05.697
                        indexColumns: "[Cookies],[SessionId],[Protocol]"
                        indexName: MyIndex321
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[CRM]"
                        table: "[DataPoints2]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 705
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionDuration: PT1M
                      executeActionInitiatedBy: User
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      executeActionStartTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [MyIndex321] ON [CRM].[DataPoints2]\
                          \ ([Cookies],[SessionId],[Protocol]) INCLUDE ([Apple]) WITH\
                          \ (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact:
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: AffectedQueriesCpuUtilization
                        unit: CpuCores
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: CpuUtilization
                        unit: CpuCores
                      - absoluteValue: 0
                        dimensionName: QueriesWithImprovedPerformance
                        unit: Count
                      - absoluteValue: 0
                        dimensionName: QueriesWithRegressedPerformance
                        unit: Count
                      - absoluteValue: -342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      - absoluteValue: 0
                        dimensionName: VerificationProgress
                        unit: Percent
                      recommendationReason: Duplicate
                      score: 1
                      state:
                        actionInitiatedBy: User
                        currentValue: Success
                        lastModified: 2017-03-01T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                  - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex/recommendedActions/IR_[dbo]_[FactFinance]_13ADA5F354E9E14A983B"
                    kind: ""
                    location: East Asia
                    name: "IR_[dbo]_[FactFinance]_13ADA5F354E9E14A983B"
                    properties:
                      details:
                        includedColumns: "[OrganizationKey]"
                        indexActionDuration: 00:01:00
                        indexActionStartTime: 2017-03-01T14:38:05.837
                        indexColumns: "[FinanceKey],[DateKey]"
                        indexName: IX_FF
                        indexType: NONCLUSTERED
                        originalIndexName: IX_COM_SKU_SKUDepartmentID
                        schema: "[dbo]"
                        table: "[FactFinance]"
                      errorDetails: {}
                      estimatedImpact:
                      - absoluteValue: 705
                        dimensionName: ActionDuration
                        unit: Seconds
                      - absoluteValue: 342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      executeActionDuration: PT1M
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-03-01T14:38:05Z
                      executeActionStartTime: 2017-03-01T14:38:05Z
                      implementationDetails:
                        method: TSql
                        script: "CREATE NONCLUSTERED INDEX [IX_FF] ON [dbo].[FactFinance]\
                          \ ([FinanceKey],[DateKey]) INCLUDE ([OrganizationKey]) WITH\
                          \ (ONLINE = ON)"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:38:05Z
                      observedImpact:
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: AffectedQueriesCpuUtilization
                        unit: CpuCores
                      - changeValueAbsolute: 0
                        changeValueRelative: 0
                        dimensionName: CpuUtilization
                        unit: CpuCores
                      - absoluteValue: 0
                        dimensionName: QueriesWithImprovedPerformance
                        unit: Count
                      - absoluteValue: 0
                        dimensionName: QueriesWithRegressedPerformance
                        unit: Count
                      - absoluteValue: -342
                        dimensionName: SpaceChange
                        unit: Megabytes
                      - absoluteValue: 0
                        dimensionName: VerificationProgress
                        unit: Percent
                      recommendationReason: Duplicate
                      score: 1
                      state:
                        actionInitiatedBy: System
                        currentValue: Success
                        lastModified: 2017-02-28T14:38:05Z
                      timeSeries: []
                      validSince: 2017-03-01T14:38:05Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DbParameterization
                kind: ""
                location: East Asia
                name: DbParameterization
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Enabled
                  autoExecuteStatusInheritedFrom: Database
                  lastChecked: 2017-06-19T19:13:03Z
                  recommendationsStatus: DbParameterizationIssue
                  recommendedActions:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DbParameterization/recommendedActions/ForceDbParameterization
                    kind: ""
                    location: East Asia
                    name: ForceDbParameterization
                    properties:
                      errorDetails: {}
                      estimatedImpact:
                      - changeValueAbsolute: 22.5613696939135
                        dimensionName: CpuSavings
                        unit: Percent
                      - changeValueAbsolute: 0.701823681806341
                        dimensionName: QueryDurationDecrease
                        unit: secs
                      executeActionInitiatedBy: System
                      executeActionInitiatedTime: 2017-05-11T15:08:31Z
                      implementationDetails:
                        method: TSql
                        script: "ALTER DATABASE [IndexAdvisor_test_3] SET PARAMETERIZATION\
                          \ FORCED"
                      isArchivedAction: false
                      isExecutableAction: true
                      isRevertableAction: true
                      lastRefresh: 2017-03-01T14:37:44Z
                      observedImpact: []
                      recommendationReason: ""
                      score: 3
                      state:
                        actionInitiatedBy: System
                        currentValue: Pending
                        lastModified: 2017-05-11T15:08:31Z
                      timeSeries: []
                      validSince: 2017-03-01T14:37:44Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/SchemaIssue
                kind: ""
                location: East Asia
                name: SchemaIssue
                properties:
                  advisorStatus: PublicPreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  lastChecked: 2017-06-20T18:50:21Z
                  recommendationsStatus: SchemaIsNotConsistent
                  recommendedActions:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/SchemaIssue/recommendedActions/SchemaProblem_1A258C5714A7410C9D23
                    kind: ""
                    location: East Asia
                    name: SchemaProblem_1A258C5714A7410C9D23
                    properties:
                      details:
                        sqlErrorCount: 342482
                        sqlErrorMessage: Invalid object name 'dbo.Companies'.
                        sqlErrorNumber: 208
                      errorDetails: {}
                      estimatedImpact: []
                      implementationDetails: {}
                      isArchivedAction: false
                      isExecutableAction: false
                      isRevertableAction: false
                      lastRefresh: 2017-06-07T22:19:53Z
                      observedImpact: []
                      recommendationReason: SchemaProblem
                      score: 3
                      state:
                        currentValue: Active
                        lastModified: 2017-03-01T14:37:48Z
                      timeSeries: []
                      validSince: 2017-03-01T14:37:48Z
                    type: Microsoft.Sql/servers/databases/advisors/recommendedActions
                type: Microsoft.Sql/servers/databases/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/ForceLastGoodPlan
                kind: ""
                location: East Asia
                name: ForceLastGoodPlan
                properties:
                  advisorStatus: PrivatePreview
                  autoExecuteStatus: Disabled
                  autoExecuteStatusInheritedFrom: Default
                  recommendedActions: []
                type: Microsoft.Sql/servers/databases/advisors
      x-openapi-router-controller: openapi_server.controllers.database_advisors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}
  : get:
      description: Gets a database advisor.
      operationId: database_advisors_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully retrieved details of specified database advisor.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        Get database advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  lastChecked: 2017-06-20T00:24:39Z
                  recommendationsStatus: Ok
                type: Microsoft.Sql/servers/databases/advisors
      x-openapi-router-controller: openapi_server.controllers.database_advisors_controller
    patch:
      description: Updates a database advisor.
      operationId: database_advisors_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advisor'
        description: The requested advisor resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully updated the specified database advisor.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 InvalidAdvisorUpsertRequest - The update advisor request body does not exist or has no properties object.

             * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute status for the advisor is not allowed.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        Update database advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            databaseName: IndexAdvisor_test_3
            parameters:
              properties:
                autoExecuteStatus: Disabled
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteStatus: Disabled
                  lastChecked: 2017-06-20T00:24:39Z
                  recommendationsStatus: Ok
                type: Microsoft.Sql/servers/databases/advisors
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.database_advisors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}/recommendedActions
  : get:
      description: Gets list of Database Recommended Actions.
      operationId: database_recommended_actions_list_by_database_advisor
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecommendedAction'
                type: array
          description: Successfully retrieved the list of database recommended actions.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 404 RecommendedActionNotFound - The requested recommended action was not found.

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 404 RecommendedActionNotFound - The requested recommended action was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - DatabaseRecommendedActions
      x-ms-examples:
        List of database recommended actions:
          parameters:
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
              - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                kind: ""
                location: East Asia
                name: "IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                properties:
                  details:
                    includedColumns: "[Hour], [System], [LastChanged]"
                    indexColumns: "[Name],[Money],[Power]"
                    indexName: nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B
                    indexType: NONCLUSTERED
                    schema: "[CRM]"
                    table: "[DataPoints]"
                  errorDetails: {}
                  estimatedImpact:
                  - absoluteValue: 1440
                    dimensionName: ActionDuration
                    unit: Seconds
                  - absoluteValue: 209.3125
                    dimensionName: SpaceChange
                    unit: Megabytes
                  implementationDetails:
                    method: TSql
                    script: "CREATE NONCLUSTERED INDEX [nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B]\
                      \ ON [CRM].[DataPoints] ([Name],[Money],[Power]) INCLUDE ([Hour],\
                      \ [System], [LastChanged]) WITH (ONLINE = ON)"
                  isArchivedAction: false
                  isExecutableAction: true
                  isRevertableAction: true
                  lastRefresh: 2017-03-01T14:38:04Z
                  observedImpact: []
                  recommendationReason: ""
                  score: 1
                  state:
                    currentValue: Active
                    lastModified: 2017-03-01T14:38:05Z
                  timeSeries: []
                  validSince: 2017-03-01T14:38:04Z
                type: Microsoft.Sql/servers/databases/advisors/recommendedActions
              - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[dbo]_[DataPoints]_F5D2F347AA22DB46E4CC"
                kind: ""
                location: East Asia
                name: "IR_[dbo]_[DataPoints]_F5D2F347AA22DB46E4CC"
                properties:
                  details:
                    includedColumns: "[Power],[Pineapple]"
                    indexActionDuration: 00:01:00
                    indexActionStartTime: 2017-03-01T14:38:05.337
                    indexColumns: "[Name],[Money]"
                    indexName: nci_wi_DataPoints_609E4B7D6A3813990ED44B28B340C8FC
                    indexType: NONCLUSTERED
                    schema: "[dbo]"
                    table: "[DataPoints]"
                  errorDetails: {}
                  estimatedImpact:
                  - absoluteValue: 5040
                    dimensionName: ActionDuration
                    unit: Seconds
                  - absoluteValue: 120
                    dimensionName: SpaceChange
                    unit: Megabytes
                  executeActionDuration: PT1M
                  executeActionInitiatedBy: User
                  executeActionInitiatedTime: 2017-03-01T14:38:05Z
                  executeActionStartTime: 2017-03-01T14:38:05Z
                  implementationDetails:
                    method: TSql
                    script: "DROP INDEX [nci_wi_DataPoints_609E4B7D6A3813990ED44B28B340C8FC]\
                      \ ON [dbo].[DataPoints]"
                  isArchivedAction: false
                  isExecutableAction: true
                  isRevertableAction: true
                  lastRefresh: 2017-03-01T14:38:05Z
                  observedImpact:
                  - changeValueAbsolute: -12.7
                    changeValueRelative: -0.9
                    dimensionName: AffectedQueriesCpuUtilization
                    unit: CpuCores
                  - changeValueAbsolute: -12.7
                    changeValueRelative: -0.3175
                    dimensionName: CpuUtilization
                    unit: CpuCores
                  - absoluteValue: 12
                    dimensionName: QueriesWithImprovedPerformance
                    unit: Count
                  - absoluteValue: 1
                    dimensionName: QueriesWithRegressedPerformance
                    unit: Count
                  - absoluteValue: 130.742187
                    dimensionName: SpaceChange
                    unit: Megabytes
                  - absoluteValue: 0
                    dimensionName: VerificationProgress
                    unit: Percent
                  recommendationReason: ""
                  score: 3
                  state:
                    actionInitiatedBy: User
                    currentValue: Success
                    lastModified: 2017-03-01T14:38:05Z
                  timeSeries: []
                  validSince: 2017-03-01T14:38:05Z
                type: Microsoft.Sql/servers/databases/advisors/recommendedActions
              - id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[dbo]_[Employees]_560E15A98D14CA09BDFB"
                kind: ""
                location: East Asia
                name: "IR_[dbo]_[Employees]_560E15A98D14CA09BDFB"
                properties:
                  details:
                    includedColumns: "[Postal]"
                    indexColumns: "[City], [State]"
                    indexName: nci_wi_Employees_8C18C2AF4267DC77793040782641CCDE
                    indexType: NONCLUSTERED
                    schema: "[dbo]"
                    table: "[Employees]"
                  errorDetails: {}
                  estimatedImpact:
                  - absoluteValue: 17
                    dimensionName: ActionDuration
                    unit: Seconds
                  - absoluteValue: 128
                    dimensionName: SpaceChange
                    unit: Megabytes
                  implementationDetails:
                    method: TSql
                    script: "CREATE NONCLUSTERED INDEX [nci_wi_Employees_8C18C2AF4267DC77793040782641CCDE]\
                      \ ON [dbo].[Employees] ([City], [State]) INCLUDE ([Postal])\
                      \ WITH (ONLINE = ON)"
                  isArchivedAction: false
                  isExecutableAction: true
                  isRevertableAction: true
                  lastRefresh: 2017-03-01T14:38:05Z
                  observedImpact: []
                  recommendationReason: ""
                  score: 3
                  state:
                    currentValue: Active
                    lastModified: 2017-03-01T14:38:05Z
                  timeSeries: []
                  validSince: 2017-03-01T14:38:05Z
                type: Microsoft.Sql/servers/databases/advisors/recommendedActions
      x-openapi-router-controller: openapi_server.controllers.database_recommended_actions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}
  : get:
      description: Gets a database recommended action.
      operationId: database_recommended_actions_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The name of Database Recommended Action.
        in: path
        name: recommendedActionName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendedAction'
          description: Successfully retrieved details of specified database recommended
            action.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 404 RecommendedActionNotFound - The requested recommended action was not found.

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 404 RecommendedActionNotFound - The requested recommended action was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - DatabaseRecommendedActions
      x-ms-examples:
        Get database recommended action:
          parameters:
            advisorName: CreateIndex
            api-version: 2015-05-01-preview
            databaseName: IndexAdvisor_test_3
            recommendedActionName: "IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex/recommendedActions/IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                kind: ""
                location: East Asia
                name: "IR_[CRM]_[DataPoints]_4821CD2F9510D98184BB"
                properties:
                  details:
                    includedColumns: "[Hour], [System], [LastChanged]"
                    indexColumns: "[Name],[Money],[Power]"
                    indexName: nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B
                    indexType: NONCLUSTERED
                    schema: "[CRM]"
                    table: "[DataPoints]"
                  errorDetails: {}
                  estimatedImpact:
                  - absoluteValue: 1440
                    dimensionName: ActionDuration
                    unit: Seconds
                  - absoluteValue: 209.3125
                    dimensionName: SpaceChange
                    unit: Megabytes
                  implementationDetails:
                    method: TSql
                    script: "CREATE NONCLUSTERED INDEX [nci_wi_DataPoints_B892614093BAC56295EF6018BD4CB51B]\
                      \ ON [CRM].[DataPoints] ([Name],[Money],[Power]) INCLUDE ([Hour],\
                      \ [System], [LastChanged]) WITH (ONLINE = ON)"
                  isArchivedAction: false
                  isExecutableAction: true
                  isRevertableAction: true
                  lastRefresh: 2017-03-01T14:38:04Z
                  observedImpact: []
                  recommendationReason: ""
                  score: 1
                  state:
                    currentValue: Active
                    lastModified: 2017-03-01T14:38:05Z
                  timeSeries: []
                  validSince: 2017-03-01T14:38:04Z
                type: Microsoft.Sql/servers/databases/advisors/recommendedActions
      x-openapi-router-controller: openapi_server.controllers.database_recommended_actions_controller
    patch:
      description: Updates a database recommended action.
      operationId: database_recommended_actions_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The name of Database Recommended Action.
        in: path
        name: recommendedActionName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendedAction'
        description: The requested recommended action resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendedAction'
          description: Successfully updated the specified database recommended action.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 InvalidRecommendedActionUpsertRequest - The update recommended action request body does not exist or has no properties or state object.

             * 400 InvalidRecommendedActionState - The specified state for recommended action is invalid

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

[...]
