openapi: 3.0.0
info:
  description: Botify Saas API
  title: Botify API
  version: 1.0.0
  x-apisguru-categories:
  - analytics
  - tools
  x-codegen-settings:
    arraySerialization: CSV
    brandLabel: Botify
    collectParameters: true
    nodeHttpClient: NODE_SUPERAGENT
    useConstructorsForConfig: false
    useControllerPostfix: false
    useEnumPostfix: false
    useMethodPrefix: false
    useModelPostfix: false
  x-logo:
    backgroundColor: '#1A1A1A'
    url: https://static.botify.com/images/logos/botify-white.dc4215a12b9c.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/botify-labs/botify-sdk-js/master/swagger.json
    version: "3.0"
  x-providerName: botify.com
externalDocs:
  url: https://developers.botify.com/
servers:
- url: https://api.botify.com/v1
security:
- DjangoRestToken: []
paths:
  /analyses/{username}/{project_slug}:
    get:
      description: List all analyses for a project
      operationId: getProjectAnalyses
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProjectAnalyses_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: List all analyses for a project
      tags:
      - Project
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}:
    get:
      description: Get an Analysis detail
      operationId: getAnalysisSummary
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisDetail'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Get an Analysis detail
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics:
    get:
      description: Return global statistics for an analysis
      operationId: getCrawlStatistics
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlStatistics'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Return global statistics for an analysis
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/time:
    get:
      description: "Return crawl statistics grouped by time frequency (1 min, 5 mins\
        \ or 60 min) for an analysis"
      operationId: getCrawlStatisticsByFrequency
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: max number of elements to retrieve
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Aggregation frequency
        explode: true
        in: query
        name: frequency
        required: true
        schema:
          enum:
          - 1mn
          - 5mn
          - 60mn
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlStatisticsTime'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: "Return crawl statistics grouped by time frequency (1 min, 5 mins or\
        \ 60 min)"
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/urls/{list_type}:
    get:
      description: Return a list of 1000 latest URLs crawled (all crawled URLs or
        only URLS with HTTP errors)
      operationId: getCrawlStatisticsUrls
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: URLs list type (crawled URLs or error URLs)
        explode: false
        in: path
        name: list_type
        required: true
        schema:
          enum:
          - crawled
          - errors
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: Successful operation
                  x-schema:
                    $ref: '#/components/schemas/CrawlStatisticsUrls'
                type: array
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Return a list of 1000 latest URLs crawled (all crawled URLs or only
        URLS with HTTP errors)
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/ganalytics/orphan_urls/{medium}/{source}:
    get:
      description: "List of Orphan URLs. URLs which generated visits from the selected\
        \ source according to Google Analytics data, but were not crawled with by\
        \ the Botify crawler (either because no links to them were found on the website,\
        \ or because the crawler was not allowed to follow these links according to\
        \ the project settings).   For a search engine (medium: origanic; sources:\
        \ all, aol, ask, baidu, bing, google, naver, yahoo, yandex) or a social network\
        \ (medium: social; sources: all, facebook, google+, linkedin, pinterest, reddit,\
        \ tumblr, twitter)"
      operationId: getGanalyticsOrphanURLs
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: "Type of traffic, value: 'organic' (from search engine)or 'social'\
          \ (from a social network)"
        explode: false
        in: path
        name: medium
        required: true
        schema:
          enum:
          - organic
          - social
          type: string
        style: simple
      - description: "Traffic source, value: name of the search engine or social network"
        explode: false
        in: path
        name: source
        required: true
        schema:
          enum:
          - all
          - aol
          - ask
          - baidu
          - bing
          - facebook
          - google
          - google+
          - linkedin
          - naver
          - pinterest
          - reddit
          - tumblr
          - twitter
          - yahoo
          - yandex
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGanalyticsOrphanURLs_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: List of Orphan URLs
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/links/percentiles:
    get:
      description: Get inlinks percentiles
      operationId: getLinksPercentiles
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksPercentiles'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Get inlinks percentiles
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/pagerank/lost:
    get:
      description: Lost pagerank
      operationId: getPageRankLost
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRankLost'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Lost pagerank
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/report:
    get:
      description: "Get global information of the sitemaps found (sitemaps indexes,\
        \ invalid sitemaps urls, etc.)"
      operationId: getSitemapsReport
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitemapsReport'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: "Get global information of the sitemaps found (sitemaps indexes, invalid\
        \ sitemaps urls, etc"
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/out_of_config:
    get:
      description: "Sample list of URLs which were found in your sitemaps but outside\
        \ of the crawl perimeter defined for the project, for instance domain/subdomain\
        \ or protocol (HTTP/HTTPS) not allowed in the crawl settings."
      operationId: getSitemapsSamplesOutOfConfig
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitemapsSamplesOutOfConfig_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Sample list of URLs which were found in your sitemaps but outside of
        the
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/sitemap_only:
    get:
      description: "Sample list of URLs which were found in your sitemaps, within\
        \ the project allowed scope (allowed domains/subdomains/protocols), but not\
        \ found by the Botify crawler."
      operationId: getSitemapsSamplesSitemapsOnly
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitemapsSamplesOutOfConfig_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: "Sample list of URLs which were found in your sitemaps, within the\
        \ project"
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/domains:
    get:
      description: Top domains
      operationId: getLinksTopDomains
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLinksTopDomains_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Top domains
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/subdomains:
    get:
      description: Top subddomains
      operationId: getLinksTopSubdomains
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLinksTopDomains_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Top subddomains
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls:
    post:
      description: Executes a query and returns a paginated response
      operationId: getUrls
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis context to execute the query
        explode: true
        in: query
        name: area
        required: false
        schema:
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
          type: string
        style: form
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UrlsQuery'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUrls_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Executes a query and returns a paginated response
      tags:
      - Analysis
      x-content-type: application/json
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/aggs:
    post:
      description: Query aggregator. It accepts multiple queries
      operationId: getUrlsAggs
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: area
        required: false
        schema:
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UrlsAggsQueries'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: Successful operation
                  x-schema:
                    $ref: '#/components/schemas/UrlsAggs'
                type: array
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Query aggregator
      tags:
      - Analysis
      x-content-type: application/json
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/datamodel:
    get:
      description: Gets an Analysis datamodel
      operationId: getUrlsDatamodel
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: area
        required: false
        schema:
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlDatamodel'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Gets an Analysis datamodel
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/export:
    get:
      description: A list of the CSV Exports requests and their current status
      operationId: getUrlsExports
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUrlsExports_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: A list of the CSV Exports requests and their current status
      tags:
      - Analysis
      x-accepts:
      - application/json
    post:
      description: Creates a new UrlExport object and starts a task that will export
        the results into a csv. Returns the model id that manages the task
      operationId: createUrlsExport
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: area
        required: false
        schema:
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UrlsQuery'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvExportStatus'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Creates a new UrlExport object and starts a task that will export the
        results into a csv
      tags:
      - Analysis
      x-content-type: application/json
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/export/{url_export_id}:
    get:
      description: Checks the status of an CSVUrlExportJob object. Returns json object
        with the status.
      operationId: getUrlsExportStatus
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Url Export ID
        explode: false
        in: path
        name: url_export_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvExportStatus'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Checks the status of an CSVUrlExportJob object
      tags:
      - Analysis
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/suggested_filters:
    post:
      description: Return most frequent segments (= suggested patterns in the previous
        version) for a Botify Query.
      operationId: getUrlsSuggestedFilters
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: area
        required: false
        schema:
          default: current
          enum:
          - current
          - new
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlsAggsQuery'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlsAggsQuery'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Return most frequent segments (= suggested patterns in the previous
        version)
      tags:
      - Analysis
      x-content-type: application/json
      x-accepts:
      - application/json
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/{url}:
    get:
      description: Gets the detail of an URL for an analysis
      operationId: getUrlDetail
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis' identifier
        explode: false
        in: path
        name: analysis_slug
        required: true
        schema:
          type: string
        style: simple
      - description: (Urlencoded) Searched URL
        explode: false
        in: path
        name: url
        required: true
        schema:
          type: string
        style: simple
      - description: comma separated list of fields to return (c.f. URLs Datamodel)
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlDetail'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Gets the detail of an URL for an analysis
      tags:
      - Analysis
      x-accepts:
      - application/json
  /projects/{username}:
    get:
      description: List all active projects for the user
      operationId: getUserProjects
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserProjects_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: List all active projects for the user
      tags:
      - User
      x-accepts:
      - application/json
  /projects/{username}/{project_slug}/features/url_rewriting/rules_validator:
    post:
      description: Match and replace parts of a URL based on rules passed in POST
        data.
      operationId: testUrlRewritingRules
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLRewritingRulesSerializer'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Match and replace parts of a URL based on rules passed in POST data
      tags:
      - Project
      x-accepts:
      - application/json
  /projects/{username}/{project_slug}/filters:
    get:
      description: "List all the project's saved filters (each filter's name, ID and\
        \ filter value)"
      operationId: getSavedFilters
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSavedFilters_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: "List all the project's saved filters (each filter's name, ID and filter\
        \ value)"
      tags:
      - Project
      x-accepts:
      - application/json
  /projects/{username}/{project_slug}/filters/{identifier}:
    get:
      description: "Retrieves a specific saved filter's name, ID and filter value"
      operationId: getSavedFilter
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Saved Filter's identifier
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSavedFilter'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: "Retrieves a specific saved filter's name, ID and filter value"
      tags:
      - Project
      x-accepts:
      - application/json
  /projects/{username}/{project_slug}/urls/aggs:
    post:
      description: Project Query aggregator. It accepts multiple queries that will
        be executed on all completed analyses in the project
      operationId: getProjectUrlsAggs
      parameters:
      - description: User's identifier
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Project's identifier
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Analysis context to execute the queries
        explode: true
        in: query
        name: area
        required: false
        schema:
          default: current
          enum:
          - current
          - disappeared
          - new
          type: string
        style: form
      - description: Last analysis on the trend
        explode: true
        in: query
        name: last_analysis_slug
        required: false
        schema:
          type: string
        style: form
      - description: Max number of analysis to return
        explode: true
        in: query
        name: nb_analyses
        required: false
        schema:
          default: 20
          format: int32
          maximum: 20
          minimum: 1
          type: integer
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UrlsAggsQueries'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
          description: error payload
      summary: Project Query aggregator
      tags:
      - Project
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  requestBodies:
    UrlsAggsQueries:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UrlsAggsQueries'
    UrlsQuery:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UrlsQuery'
  schemas:
    Analysis:
      example:
        urls_in_queue: urls_in_queue
        date_created: 2000-01-23T04:56:07.000+00:00
        urls_done: urls_done
        url: url
        features: features
        date_finished: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 1
        config: config
        user:
          company_name: company_name
          last_name: last_name
          date_joined: 2000-01-23T04:56:07.000+00:00
          is_organization: is_organization
          login: login
          first_name: first_name
          email: email
          url: url
          status: status
        date_last_modified: 2000-01-23T04:56:07.000+00:00
        date_launched: 2000-01-23T04:56:07.000+00:00
        slug: slug
        status: status
      properties:
        config:
          description: ""
          readOnly: true
          type: string
        date_created:
          description: ""
          format: date-time
          readOnly: false
          type: string
        date_finished:
          description: ""
          format: date-time
          readOnly: false
          type: string
        date_last_modified:
          description: Date of last modified analysis
          format: date-time
          readOnly: false
          type: string
        date_launched:
          description: ""
          format: date-time
          readOnly: false
          type: string
        features:
          description: ""
          readOnly: true
          type: string
        id:
          description: ""
          format: int64
          readOnly: true
          type: integer
        name:
          description: ""
          readOnly: true
          type: string
        slug:
          description: ""
          readOnly: true
          type: string
        status:
          description: ""
          readOnly: true
          type: string
        url:
          description: ""
          readOnly: true
          type: string
        urls_done:
          description: ""
          readOnly: true
          type: string
        urls_in_queue:
          description: ""
          readOnly: true
          type: string
        user:
          $ref: '#/components/schemas/User'
      required:
      - user
      type: object
    AnalysisDetail:
      example:
        urls_in_queue: urls_in_queue
        failures: failures
        red_button_domain: red_button_domain
        urls_done: urls_done
        url: url
        features: features
        date_finished: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 0
        config: config
        user:
          company_name: company_name
          last_name: last_name
          date_joined: 2000-01-23T04:56:07.000+00:00
          is_organization: is_organization
          login: login
          first_name: first_name
          email: email
          url: url
          status: status
        date_last_modified: 2000-01-23T04:56:07.000+00:00
        date_launched: 2000-01-23T04:56:07.000+00:00
        slug: slug
      properties:
        config:
          description: ""
          readOnly: true
          type: string
        date_finished:
          description: ""
          format: date-time
          readOnly: false
          type: string
        date_last_modified:
          description: Date of last modified analysis
          format: date-time
          readOnly: false
          type: string
        date_launched:
          description: ""
          format: date-time
          readOnly: false
          type: string
        failures:
          description: ""
          readOnly: true
          type: string
        features:
          description: ""
          readOnly: true
          type: string
        id:
          description: ""
          format: int64
          readOnly: true
          type: integer
        name:
          description: ""
          readOnly: true
          type: string
        red_button_domain:
          description: ""
          readOnly: false
          type: string
        slug:
          description: ""
          readOnly: true
          type: string
        url:
          description: ""
          readOnly: true
          type: string
        urls_done:
          description: ""
          readOnly: true
          type: string
        urls_in_queue:
          description: ""
          readOnly: true
          type: string
        user:
          $ref: '#/components/schemas/User'
      required:
      - user
      type: object
    CrawlDatamodel:
      example:
        groups:
        - name: name
          id: id
        - name: name
          id: id
        fields:
        - subtype: subtype
          permissions:
          - permissions
          - permissions
          multiple: true
          name: name
          id: id
          type: type
          group: group
        - subtype: subtype
          permissions:
          - permissions
          - permissions
          multiple: true
          name: name
          id: id
          type: type
          group: group
      properties:
        fields:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlDatamodelField'
          readOnly: false
          type: array
        groups:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlDatamodelGroup'
          readOnly: false
          type: array
      required:
      - fields
      - groups
      type: object
    CrawlDatamodelField:
      example:
        subtype: subtype
        permissions:
        - permissions
        - permissions
        multiple: true
        name: name
        id: id
        type: type
        group: group
      properties:
        group:
          description: ""
          readOnly: false
          type: string
        id:
          description: ""
          readOnly: false
          type: string
        multiple:
          description: ""
          readOnly: false
          type: boolean
        name:
          description: ""
          readOnly: false
          type: string
        permissions:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        subtype:
          description: ""
          readOnly: false
          type: string
        type:
          description: ""
          readOnly: false
          type: string
      required:
      - group
      - id
      - multiple
      - name
      - permissions
      - subtype
      - type
      type: object
    CrawlDatamodelGroup:
      example:
        name: name
        id: id
      properties:
        id:
          description: ""
          readOnly: false
          type: string
        name:
          description: ""
          readOnly: false
          type: string
      required:
      - id
      - name
      type: object
    CrawlOrphanURLs:
      example:
        visits: 1
        url: url
      properties:
        url:
          description: ""
          readOnly: false
          type: string
        visits:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - url
      - visits
      type: object
    CrawlStatistics:
      example:
        pages_dones_2xx: 1
        pages_dones_3xx: 5
        pages_dones_4xx: 5
        pages_dones_5xx: 2
        pages_dones_xxx: 9
        pages_dones_networkerror: 7
        pages_dones: 6
        pages_known: 3
        last_upd_dt: 2000-01-23T04:56:07.000+00:00
        depth_current: 0
      properties:
        depth_current:
          description: ""
          format: int64
          readOnly: false
          type: integer
        last_upd_dt:
          description: ""
          format: date-time
          readOnly: false
          type: string
        pages_dones:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_dones_2xx:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_dones_3xx:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_dones_4xx:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_dones_5xx:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_dones_networkerror:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_dones_xxx:
          description: ""
          format: int64
          readOnly: false
          type: integer
        pages_known:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - depth_current
      - last_upd_dt
      - pages_dones
      - pages_dones_2xx
      - pages_dones_3xx
      - pages_dones_4xx
      - pages_dones_5xx
      - pages_dones_networkerror
      - pages_dones_xxx
      - pages_known
      type: object
    CrawlStatisticsTime:
      example:
        http_code_4xx:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        avg_delay:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        http_code_3xx:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        http_code_5xx:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        http_code_xxx:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        avg_size:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        new_urls:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        http_code_2xx:
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        - datetime: 2000-01-23T04:56:07.000+00:00
          count: 0
        frequency: frequency
        last_update_date: 2000-01-23T04:56:07.000+00:00
      properties:
        avg_delay:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        avg_size:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        frequency:
          description: ""
          readOnly: false
          type: string
        http_code_2xx:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        http_code_3xx:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        http_code_4xx:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        http_code_5xx:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        http_code_xxx:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
        last_update_date:
          description: ""
          format: date-time
          readOnly: false
          type: string
        new_urls:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
          readOnly: false
          type: array
      required:
      - avg_delay
      - avg_size
      - frequency
      - http_code_2xx
      - http_code_3xx
      - http_code_4xx
      - http_code_5xx
      - http_code_xxx
      - last_update_date
      - new_urls
      type: object
    CrawlStatisticsTimePoint:
      example:
        datetime: 2000-01-23T04:56:07.000+00:00
        count: 0
      properties:
        count:
          description: ""
          format: int64
          readOnly: false
          type: integer
        datetime:
          description: ""
          format: date-time
          readOnly: false
          type: string
      required:
      - count
      - datetime
      type: object
    CrawlStatisticsUrls:
      properties:
        content_type:
          description: ""
          readOnly: false
          type: string
        date:
          description: ""
          readOnly: false
          type: string
        delay_first_byte:
          description: ""
          format: int64
          readOnly: false
          type: integer
        delay_last_byte:
          description: ""
          format: int64
          readOnly: false
          type: integer
        gzip:
          description: ""
          readOnly: false
          type: boolean
        http:
          description: ""
          format: int64
          readOnly: false
          type: integer
        length:
          description: ""
          format: int64
          readOnly: false
          type: integer
        redirects_to:
          description: ""
          readOnly: false
          type: string
        url:
          description: ""
          readOnly: false
          type: string
      required:
      - content_type
      - date
      - delay_first_byte
      - delay_last_byte
      - gzip
      - http
      - length
      - url
      type: object
    CsvExportStatus:
      example:
        area: 1
        nb_results: 1280358508
        job_status: job_status
        date_created: 2000-01-23T04:56:07.000+00:00
        job_id: job_id
        query:
          filters: "{}"
          sort:
          - "{}"
          - "{}"
          fields:
          - fields
          - fields
        job_url: job_url
        results: results
      properties:
        area:
          description: ""
          format: int64
          readOnly: false
          type: integer
        date_created:
          description: ""
          format: date-time
          readOnly: true
          type: string
        job_id:
          description: ""
          readOnly: true
          type: string
        job_status:
          description: ""
          readOnly: true
          type: string
        job_url:
          description: ""
          readOnly: true
          type: string
        nb_results:
          description: ""
          format: int64
          maximum: 2147483647
          minimum: 0
          readOnly: false
          type: integer
        query:
          $ref: '#/components/schemas/UrlsQuery'
        results:
          description: ""
          readOnly: true
          type: string
      required:
      - query
      type: object
    Default:
      properties: {}
      type: object
    DefaultPayload:
      description: default payload for object for all HTTP codes that are not covered
        individually
      example:
        error:
          error_detail: "{}"
          error_code: error_code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/DefaultPayload_error'
      type: object
    FieldValues:
      properties:
        count:
          description: ""
          format: int64
          readOnly: false
          type: integer
        results:
          description: ""
          items:
            $ref: '#/components/schemas/FieldValuesResult'
          readOnly: false
          type: array
      required:
      - count
      - results
      type: object
    FieldValuesResult:
      properties:
        nb_urls:
          description: ""
          format: int64
          readOnly: false
          type: integer
        value:
          description: ""
          readOnly: false
          type: string
      required:
      - nb_urls
      - value
      type: object
    LinksPercentiles:
      example:
        percentiles:
        - avg: 0
          metric_total: 5
          min: 5
          url_total: 2
          max: 1
          id: 6
        - avg: 0
          metric_total: 5
          min: 5
          url_total: 2
          max: 1
          id: 6
        domain: domain
      properties:
        domain:
          description: ""
          readOnly: false
          type: string
        percentiles:
          description: ""
          items:
            $ref: '#/components/schemas/LinksPercentilesItem'
          readOnly: false
          type: array
      required:
      - domain
      - percentiles
      type: object
    LinksPercentilesItem:
      example:
        avg: 0
        metric_total: 5
        min: 5
        url_total: 2
        max: 1
        id: 6
      properties:
        avg:
          description: ""
          format: int64
          readOnly: false
          type: integer
        id:
          description: ""
          format: int64
          readOnly: false
          type: integer
        max:
          description: ""
          format: int64
          readOnly: false
          type: integer
        metric_total:
          description: ""
          format: int64
          readOnly: false
          type: integer
        min:
          description: ""
          format: int64
          readOnly: false
          type: integer
        url_total:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - avg
      - id
      - max
      - metric_total
      - min
      - url_total
      type: object
    LinksTopDomains:
      example:
        follow_samples:
        - unique_links: 5
          sources:
          - sources
          - sources
          url: url
        - unique_links: 5
          sources:
          - sources
          - sources
          url: url
        nofollow_samples:
        - unique_links: 5
          sources:
          - sources
          - sources
          url: url
        - unique_links: 5
          sources:
          - sources
          - sources
          url: url
        domain: domain
        follow_links: 1
        nofollow_links: 5
        unique_follow_links: 2
        unique_nofollow_links: 7
      properties:
        domain:
          description: ""
          readOnly: false
          type: string
        follow_links:
          description: ""
          format: int64
          readOnly: false
          type: integer
        follow_samples:
          description: ""
          items:
            $ref: '#/components/schemas/LinksTopDomainsSamples'
          readOnly: false
          type: array
        nofollow_links:
          description: ""
          format: int64
          readOnly: false
          type: integer
        nofollow_samples:
          description: ""
          items:
            $ref: '#/components/schemas/LinksTopDomainsSamples'
          readOnly: false
          type: array
        unique_follow_links:
          description: ""
          format: int64
          readOnly: false
          type: integer
        unique_nofollow_links:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - domain
      - follow_links
      - follow_samples
      - nofollow_links
      - nofollow_samples
      - unique_follow_links
      - unique_nofollow_links
      type: object
    LinksTopDomainsSamples:
      example:
        unique_links: 5
        sources:
        - sources
        - sources
        url: url
      properties:
        sources:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        unique_links:
          description: ""
          format: int64
          readOnly: false
          type: integer
        url:
          description: ""
          readOnly: false
          type: string
      required:
      - sources
      - unique_links
      - url
      type: object
    PageRankLost:
      example:
        non_crawled: 6.0274563
        robots_txt: 1.4658129
        external: 0.8008282
      properties:
        external:
          description: ""
          format: float
          readOnly: false
          type: number
        non_crawled:
          description: ""
          format: float
          readOnly: false
          type: number
        robots_txt:
          description: ""
          format: float
          readOnly: false
          type: number
      required:
      - external
      - non_crawled
      - robots_txt
      type: object
    Project:
      example:
        date_created: date_created
        name: name
        active: true
        user:
          company_name: company_name
          last_name: last_name
          date_joined: 2000-01-23T04:56:07.000+00:00
          is_organization: is_organization
          login: login
          first_name: first_name
          email: email
          url: url
          status: status
        current_settings:
          max_nb_pages: 1516424369
          allowed_domains:
          - allowed_domains
          - allowed_domains
          blacklisted_domains:
          - blacklisted_domains
          - blacklisted_domains
          extra_headers: extra_headers
          max_depth: 494379917
          google_analytics_nb_days: 14
          respect_nofollow: true
          max_pages_per_sec: 1997469940
          compare_crawl: true
          google_social_auth_id: 273751188
          header_settings:
          - header_settings
          - header_settings
          google_analytics_account_email: google_analytics_account_email
          google_analytics_site_id: 413233370
          sitemaps:
          - sitemaps
          - sitemaps
          has_robots_txt: has_robots_txt
          crawl_gzip: true
          start_urls:
          - start_urls
          - start_urls
          user_agent: user_agent
        slug: slug
      properties:
        active:
          description: ""
          readOnly: false
          type: boolean
        current_settings:
          $ref: '#/components/schemas/ProjectSettingsSerializer'
        date_created:
          description: ""
          readOnly: true
          type: string
        name:
          description: ""
          readOnly: false
          type: string
        slug:
          description: ""
          readOnly: false
          type: string
        user:
          $ref: '#/components/schemas/User'
      required:
      - current_settings
      - name
      - slug
      - user
      type: object
    ProjectSavedFilter:
      example:
        identifier: identifier
        name: name
        filters: "{}"
      properties:
        filters:
          description: ""
          readOnly: false
          type: object
        identifier:
          description: ""
          readOnly: true
          type: string
        name:
          description: ""
          readOnly: false
          type: string
      required:
      - filters
      - name
      type: object
    ProjectSettingsSerializer:
      example:
        max_nb_pages: 1516424369
        allowed_domains:
        - allowed_domains
        - allowed_domains
        blacklisted_domains:
        - blacklisted_domains
        - blacklisted_domains
        extra_headers: extra_headers
        max_depth: 494379917
        google_analytics_nb_days: 14
        respect_nofollow: true
        max_pages_per_sec: 1997469940
        compare_crawl: true
        google_social_auth_id: 273751188
        header_settings:
        - header_settings
        - header_settings
        google_analytics_account_email: google_analytics_account_email
        google_analytics_site_id: 413233370
        sitemaps:
        - sitemaps
        - sitemaps
        has_robots_txt: has_robots_txt
        crawl_gzip: true
        start_urls:
        - start_urls
        - start_urls
        user_agent: user_agent
      properties:
        allowed_domains:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        blacklisted_domains:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        compare_crawl:
          description: ""
          readOnly: false
          type: boolean
        crawl_gzip:
          description: ""
          readOnly: false
          type: boolean
        extra_headers:
          description: ""
          readOnly: false
          type: string
        google_analytics_account_email:
          description: Keep email in case user delete his social auth connection
          readOnly: false
          type: string
        google_analytics_nb_days:
          description: ""
          format: int64
          maximum: 90
          minimum: 1
          readOnly: false
          type: integer
        google_analytics_site_id:
          description: ""
          format: int64
          maximum: 2147483647
          minimum: -2147483648
          readOnly: false
          type: integer
        google_social_auth_id:
          description: ""
          format: int64
          maximum: 2147483647
          minimum: -2147483648
          readOnly: false
          type: integer
        has_robots_txt:
          description: ""
          readOnly: true
          type: string
        header_settings:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        max_depth:
          description: ""
          format: int64
          maximum: 2147483647
          minimum: 0
          readOnly: false
          type: integer
        max_nb_pages:
          description: ""
          format: int64
          maximum: 2147483647
          minimum: 1
          readOnly: false
          type: integer
        max_pages_per_sec:
          description: ""
          format: int64
          maximum: 2147483647
          minimum: 1
          readOnly: false
          type: integer
        respect_nofollow:
          description: ""
          readOnly: false
          type: boolean
        sitemaps:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        start_urls:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        user_agent:
          description: ""
          readOnly: false
          type: string
      required:
      - allowed_domains
      - blacklisted_domains
      - header_settings
      - max_nb_pages
      - sitemaps
      - start_urls
      type: object
    RewritingRuleSerializer:
      example:
        ignore_case: true
        regex: regex
        replace: replace
      properties:
        ignore_case:
          description: ""
          readOnly: false
          type: boolean
        regex:
          description: ""
          readOnly: false
          type: string
        replace:
          description: ""
          readOnly: false
          type: string
      required:
      - ignore_case
      - regex
      - replace
      type: object
    SitemapsReport:
      example:
        sitemap_indexes:
        - sitemap_indexes:
          - sitemap_indexes
          - sitemap_indexes
          invalid_urls: 6
          file_type: file_type
          error:
            message: message
            type: type
          valid_urls: 1
          url: url
        - sitemap_indexes:
          - sitemap_indexes
          - sitemap_indexes
          invalid_urls: 6
          file_type: file_type
          error:
            message: message
            type: type
          valid_urls: 1
          url: url
        sitemaps:
        - sitemap_indexes:
          - sitemap_indexes
          - sitemap_indexes
          invalid_urls: 6
          file_type: file_type
          error:
            message: message
            type: type
          valid_urls: 1
          url: url
        - sitemap_indexes:
          - sitemap_indexes
          - sitemap_indexes
          invalid_urls: 6
          file_type: file_type
          error:
            message: message
            type: type
          valid_urls: 1
          url: url
        count: 0
        sitemap_only:
          in_configuration: 5
          out_of_configuration: 5
        errors:
        - sitemap_indexes:
          - sitemap_indexes
          - sitemap_indexes
          invalid_urls: 6
          file_type: file_type
          error:
            message: message
            type: type
          valid_urls: 1
          url: url
        - sitemap_indexes:
          - sitemap_indexes
          - sitemap_indexes
          invalid_urls: 6
          file_type: file_type
          error:
            message: message
            type: type
          valid_urls: 1
          url: url
      properties:
        count:
          description: ""
          format: int64
          readOnly: false
          type: integer
        errors:
          description: ""
          items:
            $ref: '#/components/schemas/SitemapsReportSitemap'
          readOnly: false
          type: array
        sitemap_indexes:
          description: ""
          items:
            $ref: '#/components/schemas/SitemapsReportSitemap'
          readOnly: false
          type: array
        sitemap_only:
          $ref: '#/components/schemas/SitemapsReportOnly'
        sitemaps:
          description: ""
          items:
            $ref: '#/components/schemas/SitemapsReportSitemap'
          readOnly: false
          type: array
      required:
      - count
      - errors
      - sitemap_indexes
      - sitemap_only
      - sitemaps
      type: object
    SitemapsReportOnly:
      example:
        in_configuration: 5
        out_of_configuration: 5
      properties:
        in_configuration:
          description: ""
          format: int64
          readOnly: false
          type: integer
        out_of_configuration:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - in_configuration
      - out_of_configuration
      type: object
    SitemapsReportSitemap:
      example:
        sitemap_indexes:
        - sitemap_indexes
        - sitemap_indexes
        invalid_urls: 6
        file_type: file_type
        error:
          message: message
          type: type
        valid_urls: 1
        url: url
      properties:
        error:
          $ref: '#/components/schemas/SitemapsReportSitemapError'
        file_type:
          description: ""
          readOnly: false
          type: string
        invalid_urls:
          description: ""
          format: int64
          readOnly: false
          type: integer
        sitemap_indexes:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        url:
          description: ""
          readOnly: false
          type: string
        valid_urls:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - url
      type: object
    SitemapsReportSitemapError:
      example:
        message: message
        type: type
      properties:
        message:
          description: ""
          readOnly: false
          type: string
        type:
          description: ""
          readOnly: false
          type: string
      required:
      - message
      - type
      type: object
    URLRewritingRulesSerializer:
      example:
        urls:
        - urls
        - urls
        rules:
        - ignore_case: true
          regex: regex
          replace: replace
        - ignore_case: true
          regex: regex
          replace: replace
      properties:
        rules:
          description: ""
          items:
            $ref: '#/components/schemas/RewritingRuleSerializer'
          readOnly: false
          type: array
        urls:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
      required:
      - rules
      - urls
      type: object
    UrlDetail:
      example: {}
      properties: {}
      type: object
    UrlsAgg:
      properties:
        aggs:
          description: ""
          items:
            type: object
          readOnly: false
          type: array
        count:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - count
      type: object
    UrlsAggs:
      properties:
        data:
          $ref: '#/components/schemas/UrlsAgg'
        error:
          $ref: '#/components/schemas/UrlsErrorAgg'
        status:
          description: ""
          format: int64
          readOnly: false
          type: integer
      required:
      - status
      type: object
    UrlsAggsQueries:
      items:
        $ref: '#/components/schemas/UrlsAggsQuery'
      type: array
    UrlsAggsQuery:
      example:
        filters: "{}"
        aggs:
        - "{}"
        - "{}"
      properties:
        aggs:
          description: ""
          items:
            type: object
          readOnly: false
          type: array
        filters:
          description: ""
          readOnly: false
          type: object
      type: object
    UrlsErrorAgg:
      properties:
        error_code:
          description: ""
          readOnly: false
          type: string
        message:
          description: ""
          readOnly: false
          type: string
      required:
      - error_code
      - message
      type: object
    UrlsQuery:
      example:
        filters: "{}"
        sort:
        - "{}"
        - "{}"
        fields:
        - fields
        - fields
      properties:
        fields:
          description: ""
          items:
            type: string
          readOnly: false
          type: array
        filters:
          description: ""
          readOnly: false
          type: object
        sort:
          description: ""
          items:
            type: object
          readOnly: false
          type: array
      type: object
    User:
      example:
        company_name: company_name
        last_name: last_name
        date_joined: 2000-01-23T04:56:07.000+00:00
        is_organization: is_organization
        login: login
        first_name: first_name
        email: email
        url: url
        status: status
      properties:
        company_name:
          description: ""
          readOnly: false
          type: string
        date_joined:
          description: ""
          format: date-time
          readOnly: false
          type: string
        email:
          description: ""
          readOnly: false
          type: string
        first_name:
          description: ""
          readOnly: false
          type: string
        is_organization:
          description: ""
          readOnly: true
          type: string
        last_name:
          description: ""
          readOnly: false
          type: string
        login:
          description: ""
          readOnly: true
          type: string
        status:
          description: ""
          readOnly: false
          type: string
        url:
          description: ""
          readOnly: true
          type: string
      type: object
    string:
      properties: {}
      type: object
    getProjectAnalyses_200_response:
      example:
        next: next
        previous: previous
        size: 5
        count: 0
        page: 6
        results:
        - urls_in_queue: urls_in_queue
          date_created: 2000-01-23T04:56:07.000+00:00
          urls_done: urls_done
          url: url
          features: features
          date_finished: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 1
          config: config
          user:
            company_name: company_name
            last_name: last_name
            date_joined: 2000-01-23T04:56:07.000+00:00
            is_organization: is_organization
            login: login
            first_name: first_name
            email: email
            url: url
            status: status
          date_last_modified: 2000-01-23T04:56:07.000+00:00
          date_launched: 2000-01-23T04:56:07.000+00:00
          slug: slug
          status: status
        - urls_in_queue: urls_in_queue
          date_created: 2000-01-23T04:56:07.000+00:00
          urls_done: urls_done
          url: url
          features: features
          date_finished: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 1
          config: config
          user:
            company_name: company_name
            last_name: last_name
            date_joined: 2000-01-23T04:56:07.000+00:00
            is_organization: is_organization
            login: login
            first_name: first_name
            email: email
            url: url
            status: status
          date_last_modified: 2000-01-23T04:56:07.000+00:00
          date_launched: 2000-01-23T04:56:07.000+00:00
          slug: slug
          status: status
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/Analysis'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getGanalyticsOrphanURLs_200_response:
      example:
        next: next
        previous: previous
        size: 5
        count: 0
        page: 6
        results:
        - visits: 1
          url: url
        - visits: 1
          url: url
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/CrawlOrphanURLs'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getSitemapsSamplesOutOfConfig_200_response:
      example:
        next: next
        previous: previous
        size: 1
        count: 0
        page: 6
        results:
        - results
        - results
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            type: string
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getLinksTopDomains_200_response:
      example:
        next: next
        previous: previous
        size: 9
        count: 0
        page: 6
        results:
        - follow_samples:
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          nofollow_samples:
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          domain: domain
          follow_links: 1
          nofollow_links: 5
          unique_follow_links: 2
          unique_nofollow_links: 7
        - follow_samples:
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          nofollow_samples:
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          - unique_links: 5
            sources:
            - sources
            - sources
            url: url
          domain: domain
          follow_links: 1
          nofollow_links: 5
          unique_follow_links: 2
          unique_nofollow_links: 7
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/LinksTopDomains'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getUrls_200_response:
      example:
        next: next
        previous: previous
        size: 1
        count: 0
        page: 6
        results:
        - {}
        - {}
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/UrlDetail'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getUrlsExports_200_response:
      example:
        next: next
        previous: previous
        size: 5
        count: 0
        page: 6
        results:
        - area: 1
          nb_results: 1280358508
          job_status: job_status
          date_created: 2000-01-23T04:56:07.000+00:00
          job_id: job_id
          query:
            filters: "{}"
            sort:
            - "{}"
            - "{}"
            fields:
            - fields
            - fields
          job_url: job_url
          results: results
        - area: 1
          nb_results: 1280358508
          job_status: job_status
          date_created: 2000-01-23T04:56:07.000+00:00
          job_id: job_id
          query:
            filters: "{}"
            sort:
            - "{}"
            - "{}"
            fields:
            - fields
            - fields
          job_url: job_url
          results: results
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/CsvExportStatus'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getUserProjects_200_response:
      example:
        next: next
        previous: previous
        size: 3
        count: 0
        page: 6
        results:
        - date_created: date_created
          name: name
          active: true
          user:
            company_name: company_name
            last_name: last_name
            date_joined: 2000-01-23T04:56:07.000+00:00
            is_organization: is_organization
            login: login
            first_name: first_name
            email: email
            url: url
            status: status
          current_settings:
            max_nb_pages: 1516424369
            allowed_domains:
            - allowed_domains
            - allowed_domains
            blacklisted_domains:
            - blacklisted_domains
            - blacklisted_domains
            extra_headers: extra_headers
            max_depth: 494379917
            google_analytics_nb_days: 14
            respect_nofollow: true
            max_pages_per_sec: 1997469940
            compare_crawl: true
            google_social_auth_id: 273751188
            header_settings:
            - header_settings
            - header_settings
            google_analytics_account_email: google_analytics_account_email
            google_analytics_site_id: 413233370
            sitemaps:
            - sitemaps
            - sitemaps
            has_robots_txt: has_robots_txt
            crawl_gzip: true
            start_urls:
            - start_urls
            - start_urls
            user_agent: user_agent
          slug: slug
        - date_created: date_created
          name: name
          active: true
          user:
            company_name: company_name
            last_name: last_name
            date_joined: 2000-01-23T04:56:07.000+00:00
            is_organization: is_organization
            login: login
            first_name: first_name
            email: email
            url: url
            status: status
          current_settings:
            max_nb_pages: 1516424369
            allowed_domains:
            - allowed_domains
            - allowed_domains
            blacklisted_domains:
            - blacklisted_domains
            - blacklisted_domains
            extra_headers: extra_headers
            max_depth: 494379917
            google_analytics_nb_days: 14
            respect_nofollow: true
            max_pages_per_sec: 1997469940
            compare_crawl: true
            google_social_auth_id: 273751188
            header_settings:
            - header_settings
            - header_settings
            google_analytics_account_email: google_analytics_account_email
            google_analytics_site_id: 413233370
            sitemaps:
            - sitemaps
            - sitemaps
            has_robots_txt: has_robots_txt
            crawl_gzip: true
            start_urls:
            - start_urls
            - start_urls
            user_agent: user_agent
          slug: slug
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/Project'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    getSavedFilters_200_response:
      example:
        next: next
        previous: previous
        size: 1
        count: 0
        page: 6
        results:
        - identifier: identifier
          name: name
          filters: "{}"
        - identifier: identifier
          name: name
          filters: "{}"
      properties:
        count:
          description: ""
          readOnly: true
          type: integer
        next:
          description: ""
          readOnly: true
          type: string
        page:
          description: ""
          readOnly: true
          type: integer
        previous:
          description: ""
          readOnly: true
          type: string
        results:
          description: ""
          items:
            $ref: '#/components/schemas/ProjectSavedFilter'
          readOnly: true
          type: array
        size:
          description: ""
          readOnly: true
          type: integer
      type: object
    DefaultPayload_error:
      example:
        error_detail: "{}"
        error_code: error_code
        message: message
      properties:
        error_code:
          description: Error Code
          type: string
        error_detail:
          description: "If available, detailed error"
          type: object
        message:
          description: Error Message
          type: string
      type: object
  securitySchemes:
    DjangoRestToken:
      in: header
      name: Authorization
      type: apiKey

