openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Preview
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_preview.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_preview
servers:
- url: https://preview.twilio.com
tags:
- name: PreviewDeployedDevicesCertificate
- name: PreviewDeployedDevicesDeployment
- name: PreviewDeployedDevicesDevice
- name: PreviewDeployedDevicesFleet
- name: PreviewDeployedDevicesKey
- name: PreviewHostedNumbersAuthorizationDocument
- name: PreviewHostedNumbersDependentHostedNumberOrder
- name: PreviewHostedNumbersHostedNumberOrder
- name: PreviewMarketplaceAvailableAddOn
- name: PreviewMarketplaceAvailableAddOnExtension
- name: PreviewMarketplaceInstalledAddOn
- name: PreviewMarketplaceInstalledAddOnExtension
- name: PreviewSyncDocument
- name: PreviewSyncDocumentPermission
- name: PreviewSyncService
- name: PreviewSyncSyncList
- name: PreviewSyncSyncListItem
- name: PreviewSyncSyncListPermission
- name: PreviewSyncSyncMap
- name: PreviewSyncSyncMapItem
- name: PreviewSyncSyncMapPermission
- name: PreviewWirelessCommand
- name: PreviewWirelessRatePlan
- name: PreviewWirelessSim
- name: PreviewWirelessUsage
paths:
  /DeployedDevices/Fleets:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Fleets belonging to your account.
      operationId: list_deployed_devices_fleet
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeployedDevicesFleetResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesFleet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_fleet_controller
    post:
      description: Create a new Fleet for scoping of deployed devices within your
        account.
      operationId: create_deployed_devices_fleet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeployedDevicesFleetRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesFleet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_fleet_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        certificates:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Certificates"
        deployments:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Deployments"
        devices:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Devices"
        keys:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Keys"
      pathType: list
  /DeployedDevices/Fleets/{FleetSid}/Certificates:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Certificate credentials belonging to the
        Fleet.
      operationId: list_deployed_devices_certificate
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Filters the resulting list of Certificates by a unique string
          identifier of an authenticated Device.
        explode: true
        in: query
        name: DeviceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TH[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeployedDevicesCertificateResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesCertificate
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_certificate_controller
    post:
      description: "Enroll a new Certificate credential to the Fleet, optionally giving\
        \ it a friendly name and assigning to a Device."
      operationId: create_deployed_devices_certificate
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeployedDevicesCertificateRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.certificate'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesCertificate
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_certificate_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: list
  /DeployedDevices/Fleets/{FleetSid}/Certificates/{Sid}:
    delete:
      description: "Unregister a specific Certificate credential from the Fleet, effectively\
        \ disallowing any inbound client connections that are presenting it."
      operationId: delete_deployed_devices_certificate
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Certificate credential resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesCertificate
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_certificate_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Certificate credential in the
        Fleet.
      operationId: fetch_deployed_devices_certificate
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Certificate credential resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.certificate'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesCertificate
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_certificate_controller
    post:
      description: "Update the given properties of a specific Certificate credential\
        \ in the Fleet, giving it a friendly name or assigning to a Device."
      operationId: update_deployed_devices_certificate
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Certificate credential resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeployedDevicesCertificateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.certificate'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesCertificate
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_certificate_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: instance
  /DeployedDevices/Fleets/{FleetSid}/Deployments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Deployments belonging to the Fleet.
      operationId: list_deployed_devices_deployment
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeployedDevicesDeploymentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDeployment
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_deployment_controller
    post:
      description: "Create a new Deployment in the Fleet, optionally giving it a friendly\
        \ name and linking to a specific Twilio Sync service instance."
      operationId: create_deployed_devices_deployment
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeployedDevicesDeploymentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.deployment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDeployment
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_deployment_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: list
  /DeployedDevices/Fleets/{FleetSid}/Deployments/{Sid}:
    delete:
      description: "Delete a specific Deployment from the Fleet, leaving associated\
        \ devices effectively undeployed."
      operationId: delete_deployed_devices_deployment
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Deployment resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDeployment
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_deployment_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Deployment in the Fleet.
      operationId: fetch_deployed_devices_deployment
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Deployment resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.deployment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDeployment
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_deployment_controller
    post:
      description: "Update the given properties of a specific Deployment credential\
        \ in the Fleet, giving it a friendly name or linking to a specific Twilio\
        \ Sync service instance."
      operationId: update_deployed_devices_deployment
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Deployment resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeployedDevicesDeploymentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.deployment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDeployment
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_deployment_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: instance
  /DeployedDevices/Fleets/{FleetSid}/Devices:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Devices belonging to the Fleet.
      operationId: list_deployed_devices_device
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Filters the resulting list of Devices by a unique string identifier
          of the Deployment they are associated with.
        explode: true
        in: query
        name: DeploymentSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DL[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeployedDevicesDeviceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDevice
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_device_controller
    post:
      description: "Create a new Device in the Fleet, optionally giving it a unique\
        \ name, friendly name, and assigning to a Deployment and/or human identity."
      operationId: create_deployed_devices_device
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeployedDevicesDeviceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.device'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDevice
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_device_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: list
  /DeployedDevices/Fleets/{FleetSid}/Devices/{Sid}:
    delete:
      description: "Delete a specific Device from the Fleet, also removing it from\
        \ associated Deployments."
      operationId: delete_deployed_devices_device
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Device resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDevice
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_device_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Device in the Fleet.
      operationId: fetch_deployed_devices_device
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Device resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.device'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDevice
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_device_controller
    post:
      description: "Update the given properties of a specific Device in the Fleet,\
        \ giving it a friendly name, assigning to a Deployment, or a human identity."
      operationId: update_deployed_devices_device
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Device resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeployedDevicesDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.device'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesDevice
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_device_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: instance
  /DeployedDevices/Fleets/{FleetSid}/Keys:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Keys credentials belonging to the Fleet.
      operationId: list_deployed_devices_key
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Filters the resulting list of Keys by a unique string identifier
          of an authenticated Device.
        explode: true
        in: query
        name: DeviceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TH[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeployedDevicesKeyResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesKey
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_key_controller
    post:
      description: "Create a new Key credential in the Fleet, optionally giving it\
        \ a friendly name and assigning to a Device."
      operationId: create_deployed_devices_key
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeployedDevicesKeyRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.key'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesKey
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_key_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: list
  /DeployedDevices/Fleets/{FleetSid}/Keys/{Sid}:
    delete:
      description: "Delete a specific Key credential from the Fleet, effectively disallowing\
        \ any inbound client connections that are presenting it."
      operationId: delete_deployed_devices_key
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Key credential resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesKey
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_key_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Key credential in the Fleet.
      operationId: fetch_deployed_devices_key
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Key credential resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.key'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesKey
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_key_controller
    post:
      description: "Update the given properties of a specific Key credential in the\
        \ Fleet, giving it a friendly name or assigning to a Device."
      operationId: update_deployed_devices_key
      parameters:
      - description: ""
        explode: false
        in: path
        name: FleetSid
        required: true
        schema:
          type: string
        style: simple
      - description: Provides a 34 character string that uniquely identifies the requested
          Key credential resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeployedDevicesKeyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet.key'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesKey
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_key_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/Fleets/{Sid}"
      pathType: instance
  /DeployedDevices/Fleets/{Sid}:
    delete:
      description: "Delete a specific Fleet from your account, also destroys all nested\
        \ resources: Devices, Deployments, Certificates, Keys."
      operationId: delete_deployed_devices_fleet
      parameters:
      - description: Provides a 34 character string that uniquely identifies the requested
          Fleet resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesFleet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_fleet_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Fleet in your account.
      operationId: fetch_deployed_devices_fleet
      parameters:
      - description: Provides a 34 character string that uniquely identifies the requested
          Fleet resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesFleet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_fleet_controller
    post:
      description: Update the friendly name property of a specific Fleet in your account.
      operationId: update_deployed_devices_fleet
      parameters:
      - description: Provides a 34 character string that uniquely identifies the requested
          Fleet resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeployedDevicesFleetRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.deployed_devices.fleet'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewDeployedDevicesFleet
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_deployed_devices_fleet_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        certificates:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Certificates"
        deployments:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Deployments"
        devices:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Devices"
        keys:
          mapping:
            fleet_sid: sid
          resource_url: "/DeployedDevices/Fleets/{fleet_sid}/Keys"
      pathType: instance
  /HostedNumbers/AuthorizationDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of AuthorizationDocuments belonging to the account
        initiating the request.
      operationId: list_hosted_numbers_authorization_document
      parameters:
      - description: Email that this AuthorizationDocument will be sent to for signing.
        explode: true
        in: query
        name: Email
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "Status of an instance resource. It can hold one of the values:\
          \ 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section\
          \ entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values)\
          \ for more information on each of these statuses."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/authorization_document_enum_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostedNumbersAuthorizationDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersAuthorizationDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_authorization_document_controller
    post:
      description: Create an AuthorizationDocument for authorizing the hosting of
        phone number capabilities on Twilio's platform.
      operationId: create_hosted_numbers_authorization_document
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateHostedNumbersAuthorizationDocumentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.hosted_numbers.authorization_document'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersAuthorizationDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_authorization_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: "/HostedNumbers/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders"
      pathType: list
  /HostedNumbers/AuthorizationDocuments/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific AuthorizationDocument.
      operationId: fetch_hosted_numbers_authorization_document
      parameters:
      - description: A 34 character string that uniquely identifies this AuthorizationDocument.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.hosted_numbers.authorization_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersAuthorizationDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_authorization_document_controller
    post:
      description: Updates a specific AuthorizationDocument.
      operationId: update_hosted_numbers_authorization_document
      parameters:
      - description: A 34 character string that uniquely identifies this AuthorizationDocument.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateHostedNumbersAuthorizationDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.hosted_numbers.authorization_document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersAuthorizationDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_authorization_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: "/HostedNumbers/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders"
      pathType: instance
  /HostedNumbers/AuthorizationDocuments/{SigningDocumentSid}/DependentHostedNumberOrders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of dependent HostedNumberOrders belonging to the
        AuthorizationDocument.
      operationId: list_hosted_numbers_dependent_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies the LOA document
          associated with this HostedNumberOrder.
        explode: false
        in: path
        name: SigningDocumentSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Status of an instance resource. It can hold one of the values:\
          \ 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section\
          \ entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values)\
          \ for more information on each of these statuses."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/dependent_hosted_number_order_enum_status'
        style: form
      - description: An E164 formatted phone number hosted by this HostedNumberOrder.
        explode: true
        in: query
        name: PhoneNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: A 34 character string that uniquely identifies the IncomingPhoneNumber
          resource created by this HostedNumberOrder.
        explode: true
        in: query
        name: IncomingPhoneNumberSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "A human readable description of this resource, up to 64 characters."
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "Provides a unique and addressable name to be assigned to this\
          \ HostedNumberOrder, assigned by the developer, to be optionally used in\
          \ addition to SID."
        explode: true
        in: query
        name: UniqueName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostedNumbersDependentHostedNumberOrderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersDependentHostedNumberOrder
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_dependent_hosted_number_order_controller
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/AuthorizationDocuments/{Sid}"
      pathType: list
  /HostedNumbers/HostedNumberOrders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of HostedNumberOrders belonging to the account
        initiating the request.
      operationId: list_hosted_numbers_hosted_number_order
      parameters:
      - description: "The Status of this HostedNumberOrder. One of `received`, `pending-verification`,\
          \ `verified`, `pending-loa`, `carrier-processing`, `testing`, `completed`,\
          \ `failed`, or `action-required`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/hosted_number_order_enum_status'
        style: form
      - description: An E164 formatted phone number hosted by this HostedNumberOrder.
        explode: true
        in: query
        name: PhoneNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: A 34 character string that uniquely identifies the IncomingPhoneNumber
          resource created by this HostedNumberOrder.
        explode: true
        in: query
        name: IncomingPhoneNumberSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "A human readable description of this resource, up to 64 characters."
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "Provides a unique and addressable name to be assigned to this\
          \ HostedNumberOrder, assigned by the developer, to be optionally used in\
          \ addition to SID."
        explode: true
        in: query
        name: UniqueName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostedNumbersHostedNumberOrderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersHostedNumberOrder
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_hosted_number_order_controller
    post:
      description: Host a phone number's capability on Twilio's platform.
      operationId: create_hosted_numbers_hosted_number_order
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateHostedNumbersHostedNumberOrderRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.hosted_numbers.hosted_number_order'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersHostedNumberOrder
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_hosted_number_order_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      pathType: list
  /HostedNumbers/HostedNumberOrders/{Sid}:
    delete:
      description: Cancel the HostedNumberOrder (only available when the status is
        in `received`).
      operationId: delete_hosted_numbers_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies this HostedNumberOrder.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersHostedNumberOrder
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_hosted_number_order_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific HostedNumberOrder.
      operationId: fetch_hosted_numbers_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies this HostedNumberOrder.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.hosted_numbers.hosted_number_order'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersHostedNumberOrder
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_hosted_number_order_controller
    post:
      description: Updates a specific HostedNumberOrder.
      operationId: update_hosted_numbers_hosted_number_order
      parameters:
      - description: A 34 character string that uniquely identifies this HostedNumberOrder.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateHostedNumbersHostedNumberOrderRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.hosted_numbers.hosted_number_order'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewHostedNumbersHostedNumberOrder
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_hosted_numbers_hosted_number_order_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
  /Sync/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sync_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncService
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_service_controller
    post:
      description: ""
      operationId: create_sync_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncService
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        documents:
          mapping:
            service_sid: sid
          resource_url: "/Sync/Services/{service_sid}/Documents"
        sync_lists:
          mapping:
            service_sid: sid
          resource_url: "/Sync/Services/{service_sid}/Lists"
        sync_maps:
          mapping:
            service_sid: sid
          resource_url: "/Sync/Services/{service_sid}/Maps"
      pathType: list
  /Sync/Services/{ServiceSid}/Documents:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sync_document
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_controller
    post:
      description: ""
      operationId: create_sync_document
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncDocumentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.document'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        document_permissions:
          mapping:
            document_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Documents/{document_sid}/Permissions"
      parent: "/Services/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync Document.
      operationId: list_sync_document_permission
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync Document. Either a SID or a unique name.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncDocumentPermissionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocumentPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_permission_controller
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: document_permissions
      parent: "/Services/{ServiceSid}/Documents/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}:
    delete:
      description: Delete a specific Sync Document Permission.
      operationId: delete_sync_document_permission
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync Document. Either a SID or a unique name.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Arbitrary string identifier representing a user associated with\
          \ an FPA token, assigned by the developer."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocumentPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_permission_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Sync Document Permission.
      operationId: fetch_sync_document_permission
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync Document. Either a SID or a unique name.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Arbitrary string identifier representing a user associated with\
          \ an FPA token, assigned by the developer."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.document.document_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocumentPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_permission_controller
    post:
      description: Update an identity's access to a specific Sync Document.
      operationId: update_sync_document_permission
      parameters:
      - description: The unique SID identifier of the Sync Service Instance.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync Document. Either a SID or a unique name.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Arbitrary string identifier representing a human user associated\
          \ with an FPA token, assigned by the developer."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncDocumentPermissionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.document.document_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocumentPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_permission_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: document_permissions
      parent: "/Services/{ServiceSid}/Documents/{Sid}"
      pathType: instance
  /Sync/Services/{ServiceSid}/Documents/{Sid}:
    delete:
      description: ""
      operationId: delete_sync_document
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_sync_document
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_controller
    post:
      description: ""
      operationId: update_sync_document
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The If-Match HTTP request header
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncDocument
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        document_permissions:
          mapping:
            document_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Documents/{document_sid}/Permissions"
      parent: "/Services/{Sid}"
      pathType: instance
  /Sync/Services/{ServiceSid}/Lists:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sync_sync_list
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncSyncListResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncList
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_controller
    post:
      description: ""
      operationId: create_sync_sync_list
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncSyncListRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncList
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        sync_list_items:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Lists/{list_sid}/Items"
        sync_list_permissions:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Lists/{list_sid}/Permissions"
      mountName: sync_lists
      parent: "/Services/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Lists/{ListSid}/Items:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sync_sync_list_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/sync_list_item_enum_query_result_order'
        style: form
      - description: ""
        explode: true
        in: query
        name: From
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: Bounds
        required: false
        schema:
          $ref: '#/components/schemas/sync_list_item_enum_query_from_bound_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncSyncListItemResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_item_controller
    post:
      description: ""
      operationId: create_sync_sync_list_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncSyncListItemRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list.sync_list_item'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: sync_list_items
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Lists/{ListSid}/Items/{Index}:
    delete:
      description: ""
      operationId: delete_sync_sync_list_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Index
        required: true
        schema:
          type: integer
        style: simple
      - description: The If-Match HTTP request header
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_item_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_sync_sync_list_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Index
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list.sync_list_item'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_item_controller
    post:
      description: ""
      operationId: update_sync_sync_list_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Index
        required: true
        schema:
          type: integer
        style: simple
      - description: The If-Match HTTP request header
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncSyncListItemRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list.sync_list_item'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: sync_list_items
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: instance
  /Sync/Services/{ServiceSid}/Lists/{ListSid}/Permissions:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync List.
      operationId: list_sync_sync_list_permission
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync List. Either a SID or a unique name.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncSyncListPermissionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_permission_controller
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: sync_list_permissions
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Lists/{ListSid}/Permissions/{Identity}:
    delete:
      description: Delete a specific Sync List Permission.
      operationId: delete_sync_sync_list_permission
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync List. Either a SID or a unique name.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Arbitrary string identifier representing a user associated with\
          \ an FPA token, assigned by the developer."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_permission_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Sync List Permission.
      operationId: fetch_sync_sync_list_permission
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync List. Either a SID or a unique name.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Arbitrary string identifier representing a user associated with\
          \ an FPA token, assigned by the developer."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list.sync_list_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_permission_controller
    post:
      description: Update an identity's access to a specific Sync List.
      operationId: update_sync_sync_list_permission
      parameters:
      - description: The unique SID identifier of the Sync Service Instance.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Identifier of the Sync List. Either a SID or a unique name.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Arbitrary string identifier representing a human user associated\
          \ with an FPA token, assigned by the developer."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncSyncListPermissionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list.sync_list_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncListPermission
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_permission_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: sync_list_permissions
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: instance
  /Sync/Services/{ServiceSid}/Lists/{Sid}:
    delete:
      description: ""
      operationId: delete_sync_sync_list
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncList
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_sync_sync_list
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_list'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncList
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_list_controller
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        sync_list_items:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Lists/{list_sid}/Items"
        sync_list_permissions:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Lists/{list_sid}/Permissions"
      mountName: sync_lists
      parent: "/Services/{Sid}"
      pathType: instance
  /Sync/Services/{ServiceSid}/Maps:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sync_sync_map
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncSyncMapResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncMap
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_map_controller
    post:
      description: ""
      operationId: create_sync_sync_map
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncSyncMapRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_map'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncMap
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_map_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        sync_map_items:
          mapping:
            map_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Maps/{map_sid}/Items"
        sync_map_permissions:
          mapping:
            map_sid: sid
            service_sid: service_sid
          resource_url: "/Sync/Services/{service_sid}/Maps/{map_sid}/Permissions"
      mountName: sync_maps
      parent: "/Services/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Maps/{MapSid}/Items:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_sync_sync_map_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/sync_map_item_enum_query_result_order'
        style: form
      - description: ""
        explode: true
        in: query
        name: From
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: Bounds
        required: false
        schema:
          $ref: '#/components/schemas/sync_map_item_enum_query_from_bound_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncSyncMapItemResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncMapItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_map_item_controller
    post:
      description: ""
      operationId: create_sync_sync_map_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncSyncMapItemRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.sync.service.sync_map.sync_map_item'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncMapItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_map_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://preview.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: sync_map_items
      parent: "/Services/{ServiceSid}/Maps/{Sid}"
      pathType: list
  /Sync/Services/{ServiceSid}/Maps/{MapSid}/Items/{Key}:
    delete:
      description: ""
      operationId: delete_sync_sync_map_item
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      - description: The If-Match HTTP request header
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - PreviewSyncSyncMapItem
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.preview_sync_sync_map_item_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
[...]
