openapi: 3.0.1
info:
  description: The destination for current and historic NBA statistics.
  title: NBA Stats API
  version: version
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/en/thumb/0/03/National_Basketball_Association_logo.svg/100px-National_Basketball_Association_logo.svg.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/danielwelch/little-pynny/master/little-pynny/swagger.json
    version: "2.0"
  x-providerName: nba.com
  x-unofficialSpec: true
servers:
- url: //stats.nba.com/stats
paths:
  /allstarballotpredictor:
    get:
      deprecated: false
      operationId: allstarballotpredictor_get
      parameters:
      - in: query
        name: PointCap
        schema:
          type: string
      - in: query
        name: WestPlayer1
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer2
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer3
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer4
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer5
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer1
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer2
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer3
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer4
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer5
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscore:
    get:
      deprecated: true
      operationId: boxscore_get
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoreadvanced:
    get:
      deprecated: true
      operationId: boxscoreadvanced_get
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoreadvancedv2:
    get:
      deprecated: false
      operationId: boxscoreadvancedv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscorefourfactors:
    get:
      deprecated: true
      operationId: boxscorefourfactors_get
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscorefourfactorsv2:
    get:
      deprecated: false
      operationId: boxscorefourfactorsv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoremisc:
    get:
      deprecated: true
      operationId: boxscoremisc_get
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoremiscv2:
    get:
      deprecated: false
      operationId: boxscoremiscv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoreplayertrackv2:
    get:
      deprecated: false
      operationId: boxscoreplayertrackv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscorescoring:
    get:
      deprecated: true
      operationId: boxscorescoring_get
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscorescoringv2:
    get:
      deprecated: false
      operationId: boxscorescoringv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoresummaryv2:
    get:
      deprecated: false
      operationId: boxscoresummaryv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoretraditionalv2:
    get:
      deprecated: false
      operationId: boxscoretraditionalv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoreusage:
    get:
      deprecated: true
      operationId: boxscoreusage_get
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /boxscoreusagev2:
    get:
      deprecated: false
      operationId: boxscoreusagev2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /commonTeamYears:
    get:
      deprecated: false
      operationId: common_team_years_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /commonallplayers:
    get:
      deprecated: false
      operationId: commonallplayers_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: IsOnlyCurrentSeason
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /commonplayerinfo:
    get:
      deprecated: false
      operationId: commonplayerinfo_get
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /commonplayoffseries:
    get:
      deprecated: false
      operationId: commonplayoffseries_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /commonteamroster:
    get:
      deprecated: false
      operationId: commonteamroster_get
      parameters:
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /draftcombinedrillresults:
    get:
      deprecated: false
      operationId: draftcombinedrillresults_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /draftcombinenonstationaryshooting:
    get:
      deprecated: false
      operationId: draftcombinenonstationaryshooting_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /draftcombineplayeranthro:
    get:
      deprecated: false
      operationId: draftcombineplayeranthro_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /draftcombinespotshooting:
    get:
      deprecated: false
      operationId: draftcombinespotshooting_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /draftcombinestats:
    get:
      deprecated: false
      operationId: draftcombinestats_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /drafthistory:
    get:
      deprecated: false
      operationId: drafthistory_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /franchisehistory:
    get:
      deprecated: false
      operationId: franchisehistory_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /homepageleaders:
    get:
      deprecated: false
      operationId: homepageleaders_get
      parameters:
      - in: query
        name: StatCategory
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /homepagev2:
    get:
      deprecated: false
      operationId: homepagev2_get
      parameters:
      - in: query
        name: StatType
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaderstiles:
    get:
      deprecated: false
      operationId: leaderstiles_get
      parameters:
      - in: query
        name: Stat
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashlineups:
    get:
      deprecated: false
      operationId: leaguedashlineups_get
      parameters:
      - in: query
        name: GroupQuantity
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashplayerbiostats:
    get:
      deprecated: false
      operationId: leaguedashplayerbiostats_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashplayerclutch:
    get:
      deprecated: false
      operationId: leaguedashplayerclutch_get
      parameters:
      - in: query
        name: ClutchTime
        required: true
        schema:
          type: string
      - in: query
        name: AheadBehind
        required: true
        schema:
          type: string
      - in: query
        name: PointDiff
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashplayerptshot:
    get:
      deprecated: false
      operationId: leaguedashplayerptshot_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashplayershotlocations:
    get:
      deprecated: false
      operationId: leaguedashplayershotlocations_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      - in: query
        name: DistanceRange
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashplayerstats:
    get:
      deprecated: false
      operationId: leaguedashplayerstats_get
      parameters:
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashptdefend:
    get:
      deprecated: false
      operationId: leaguedashptdefend_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: DefenseCategory
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashptteamdefend:
    get:
      deprecated: false
      operationId: leaguedashptteamdefend_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: DefenseCategory
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashteamclutch:
    get:
      deprecated: false
      operationId: leaguedashteamclutch_get
      parameters:
      - in: query
        name: ClutchTime
        required: true
        schema:
          type: string
      - in: query
        name: AheadBehind
        required: true
        schema:
          type: string
      - in: query
        name: PointDiff
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashteamptshot:
    get:
      deprecated: false
      operationId: leaguedashteamptshot_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashteamshotlocations:
    get:
      deprecated: false
      operationId: leaguedashteamshotlocations_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      - in: query
        name: DistanceRange
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leaguedashteamstats:
    get:
      deprecated: false
      operationId: leaguedashteamstats_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /leagueleaders:
    get:
      deprecated: false
      operationId: leagueleaders_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: StatCategory
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Scope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playbyplay:
    get:
      deprecated: false
      operationId: playbyplay_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playbyplayv2:
    get:
      deprecated: false
      operationId: playbyplayv2_get
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playercareerstats:
    get:
      deprecated: false
      operationId: playercareerstats_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playercompare:
    get:
      deprecated: false
      operationId: playercompare_get
      parameters:
      - in: query
        name: PlayerIDList
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerIDList
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbyclutch:
    get:
      deprecated: false
      operationId: playerdashboardbyclutch_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbygamesplits:
    get:
      deprecated: false
      operationId: playerdashboardbygamesplits_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbygeneralsplits:
    get:
      deprecated: false
      operationId: playerdashboardbygeneralsplits_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbylastngames:
    get:
      deprecated: false
      operationId: playerdashboardbylastngames_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbyopponent:
    get:
      deprecated: false
      operationId: playerdashboardbyopponent_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbyshootingsplits:
    get:
      deprecated: false
      operationId: playerdashboardbyshootingsplits_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbyteamperformance:
    get:
      deprecated: false
      operationId: playerdashboardbyteamperformance_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashboardbyyearoveryear:
    get:
      deprecated: false
      operationId: playerdashboardbyyearoveryear_get
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashptpass:
    get:
      deprecated: false
      operationId: playerdashptpass_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashptreb:
    get:
      deprecated: false
      operationId: playerdashptreb_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashptreboundlogs:
    get:
      deprecated: true
      operationId: playerdashptreboundlogs_get
      parameters:
      - in: query
        name: Season
        schema:
          type: string
      - in: query
        name: SeasonType
        schema:
          type: string
      - in: query
        name: PlayerID
        schema:
          type: string
      - in: query
        name: TeamID
        schema:
          type: string
      - in: query
        name: Outcome
        schema:
          type: string
      - in: query
        name: Location
        schema:
          type: string
      - in: query
        name: Month
        schema:
          type: string
      - in: query
        name: SeasonSegment
        schema:
          type: string
      - in: query
        name: DateFrom
        schema:
          type: string
      - in: query
        name: DateTo
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        schema:
          type: string
      - in: query
        name: VsConference
        schema:
          type: string
      - in: query
        name: VsDivision
        schema:
          type: string
      - in: query
        name: GameSegment
        schema:
          type: string
      - in: query
        name: Period
        schema:
          type: string
      - in: query
        name: LastNGames
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashptshotdefend:
    get:
      deprecated: false
      operationId: playerdashptshotdefend_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashptshotlog:
    get:
      deprecated: true
      operationId: playerdashptshotlog_get
      parameters:
      - in: query
        name: LeagueID
        schema:
          type: string
      - in: query
        name: Season
        schema:
          type: string
      - in: query
        name: SeasonType
        schema:
          type: string
      - in: query
        name: PlayerID
        schema:
          type: string
      - in: query
        name: TeamID
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerdashptshots:
    get:
      deprecated: false
      operationId: playerdashptshots_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playergamelog:
    get:
      deprecated: false
      operationId: playergamelog_get
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerprofile:
    get:
      deprecated: false
      operationId: playerprofile_get
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: GraphStartSeason
        required: true
        schema:
          type: string
      - in: query
        name: GraphEndSeason
        required: true
        schema:
          type: string
      - in: query
        name: GraphStat
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playerprofilev2:
    get:
      deprecated: false
      operationId: playerprofilev2_get
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /playersvsplayers:
    get:
      deprecated: false
      operationId: playersvsplayers_get
      parameters:
      - in: query
        name: PlayerTeamID
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID1
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID2
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID3
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID4
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID5
        required: true
        schema:
          type: string
      - in: query
        name: VsTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID1
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID2
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID3
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID4
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID5
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
[...]
