openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: This API provides area code information for a given telephone number.
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Area Code From Number API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getareacodefromnumber.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getareacodefromnumber
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getareacodefromnumber
servers:
- url: https://api.interzoid.com
paths:
  /getareacodefromnumber:
    get:
      description: The area code will be parsed out of a telephone number and used
        to retrieve information about the area code.
      operationId: getareacodefromnumber
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Telephone number to retrieve area code information
        explode: true
        in: query
        name: number
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getareacodefromnumber_200_response'
          description: Telephone number area code information
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: area code not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets area code information from a telephone number
      tags:
      - Area Code Information
      x-openapi-router-controller: openapi_server.controllers.area_code_information_controller
components:
  schemas:
    getareacodefromnumber_200_response:
      example:
        Abbreviation: Abbreviation
        Locale: Locale
        Credits: Credits
        PrimaryCity: PrimaryCity
        AreaCode: AreaCode
        Code: Code
      properties:
        Abbreviation:
          title: Abbreviation
          type: string
        AreaCode:
          title: AreaCode
          type: string
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        Locale:
          title: Locale
          type: string
        PrimaryCity:
          title: PrimaryCity
          type: string
      title: getareacodefromnumber_200_response
      type: object
