openapi: 3.0.1
info:
  description: "# Overview \n\n Information and statistics about FIRST Robotics Competition\
    \ teams and events. \n\n# Authentication \n\nAll endpoints require an Auth Key\
    \ to be passed in the header `X-TBA-Auth-Key`. If you do not have an auth key\
    \ yet, you can obtain one from your [Account Page](/account)."
  title: The Blue Alliance API v3
  version: 3.8.2
  x-apisguru-categories:
  - open_data
  x-changes: "3.8.1-3.8.2: Replace `If-Modified-Since` with `If-None-Match` and `Last-Modified`\
    \ with `ETag`. 3.8.0-3.8.1: Added Webcast date field. 3.7.0-3.8.0: Added 2020\
    \ Match Breakdown. 3.6.0-3.7.0: Added Zebra MotionWorks endpoints and models.\
    \ 3.5.2-3.6.0: Added `school_name` to the Team model. 3.5.1-3.5.2: Removed `key`\
    \ from the Media object, set `foreign_key` as a required property. 3.5-3.5.1:\
    \ Fixed api clients crashing when requesting simple matches resulting in ties.\
    \ 3.04.1 - 3.5: Updated the spec to follow OpenAPI standards. 3.04.0 - 3.04.1:\
    \ Team motto will now return null. 3.03.1 - 3.04.0: Add direct_url and view_url\
    \ to the Media model. 3.03.0 - 3.03.1: Fix model of /team/{team_key}/robots to\
    \ match API, add min and max for year and add min for page_num. 3.02.1 - 3.03.0:\
    \ Added Timeseries models and endpoints. 3.02.0 - 3.02.1: Fixed the model for\
    \ `/team/{team_key}/districts` to match return from API. 3.1.0 - 3.02.0: Added\
    \ `tba_gameData` to score breakdown and a leading zero to the minor version number\
    \ to allow for easier sorting later. 3.0.5 - 3.1.0: Version bump for 2018 added\
    \ fields and endpoints. Models Updated: `Team_Event_Status`, `Media`, 2018 Score\
    \ Breakdowns. Endpoints Added: `/team/{team_key}/events/{year}/statuses`, `/event/{event_key}/teams/statuses`\
    \ 3.0.4 - 3.0.5: Minor spelling fixes. Remove 2016 fields from `Match_Score_Breakdown_2017_Alliance`\
    \ model. Fix `first_event_id` in `Event` model to correct type. Update `Media`.`type`\
    \ enum. --- 3.0.3 - 3.0.4: Correct syntax in `Team_Event_Status_playoff` object,\
    \ include descriptions in `Event_District_Points` and fix the path in `Team_Event_Status_playoff.properties.record`\
    \ in order to more closely match Swagger spec. Fix syntax of `Match.video` to\
    \ be correct and accurately reflect what is returned by the API. --- 3.0.2 - 3.0.3:\
    \ `extra_stats` and `extra_stats_info` added to `Event_Ranking` model. Corrected\
    \ match video property claiming to use the `Media` model, which it doesn't. Added\
    \ `first_event_code` to the `Event` model. Added `/team/{team_key}/media/tag/{media_tag}`\
    \ and year endpoints. Added `dq_team_keys` to `Match_alliance` model.  --- 3.0.1\
    \ - 3.0.2: `Team_Event_Status` and `Event_Ranking` model documentation changed\
    \ to reflect actual API return. Changes involved W-L-T and ranking properties.\
    \ --- 3.0.0 - 3.0.1: Descriptions updated to clarify some terms and improve grammar.\
    \ The `district` property on the `Event` object now points to the `District_List`\
    \ model, which was identical. `Required` fields on fully documented models now\
    \ represent fields that may not be `null`. `District_Ranking` model documented."
  x-logo:
    url: https://thebluealliance.com/icons/apple-touch-icon.png
  x-origin:
  - format: openapi
    url: https://www.thebluealliance.com/swagger/api_v3.json
    version: "3.0"
  x-providerName: thebluealliance.com
  x-version-info: "Versions of the API follow the format X.Y.Z, with X being a major\
    \ version, Y denoting the minor version, and Z the point release. Changes to the\
    \ spec or API that result in a major version change will significantly impact\
    \ implementations. Changes to the minor version indicate paths and/or fields in\
    \ existing models may be added, and any breaking changes will be confined to paths\
    \ or models listed as in-development in the prior minor version. Changes to the\
    \ point release indicate no format or structure changes to the paths or models,\
    \ but updated or clarified documentation. Note that changes to paths and models\
    \ refer to the actual result from the API, not the documentation."
servers:
- url: https://www.thebluealliance.com/api/v3
tags:
- description: Calls that expose TBA internals or status.
  name: TBA
- description: Calls that return a list of records.
  name: list
- description: Calls that return team or team-specific information.
  name: team
- description: "Calls that return event, or event-specific information."
  name: event
- description: "Calls that return match, or match-specific information."
  name: match
- description: "Calls that return district, or district-related information."
  name: district
paths:
  /district/{district_key}/events:
    get:
      description: Gets a list of events in the given district.
      operationId: get_district_events
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - event
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /district/{district_key}/events/keys:
    get:
      description: Gets a list of event keys for events in the given district.
      operationId: get_district_events_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - event
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /district/{district_key}/events/simple:
    get:
      description: Gets a short-form list of events in the given district.
      operationId: get_district_events_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - event
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /district/{district_key}/rankings:
    get:
      description: Gets a list of team district rankings for the given district.
      operationId: get_district_rankings
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/District_Ranking'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /district/{district_key}/teams:
    get:
      description: Gets a list of `Team` objects that competed in events in the given
        district.
      operationId: get_district_teams
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /district/{district_key}/teams/keys:
    get:
      description: Gets a list of `Team` objects that competed in events in the given
        district.
      operationId: get_district_teams_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /district/{district_key}/teams/simple:
    get:
      description: Gets a short-form list of `Team` objects that competed in events
        in the given district.
      operationId: get_district_teams_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /districts/{year}:
    get:
      description: "Gets a list of districts and their corresponding district key,\
        \ for the given year."
      operationId: get_districts_by_year
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/District_List'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - district
      x-openapi-router-controller: openapi_server.controllers.district_controller
  /event/{event_key}:
    get:
      description: Gets an Event.
      operationId: get_event
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/alliances:
    get:
      description: Gets a list of Elimination Alliances for the given Event.
      operationId: get_event_alliances
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Elimination_Alliance'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/awards:
    get:
      description: Gets a list of awards from the given event.
      operationId: get_event_awards
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Award'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/district_points:
    get:
      description: Gets a list of team rankings for the Event.
      operationId: get_event_district_points
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_District_Points'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - district
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/insights:
    get:
      description: Gets a set of Event-specific insights for the given Event.
      operationId: get_event_insights
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_Insights'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/matches:
    get:
      description: Gets a list of matches for the given event.
      operationId: get_event_matches
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Match'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/matches/keys:
    get:
      description: Gets a list of match keys for the given event.
      operationId: get_event_matches_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/matches/simple:
    get:
      description: Gets a short-form list of matches for the given event.
      operationId: get_event_matches_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Match_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/matches/timeseries:
    get:
      description: |-
        Gets an array of Match Keys for the given event key that have timeseries data. Returns an empty array if no matches have timeseries data.
        *WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.
        *WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.
      operationId: get_event_match_timeseries
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: Match Key
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/oprs:
    get:
      description: "Gets a set of Event OPRs (including OPR, DPR, and CCWM) for the\
        \ given Event."
      operationId: get_event_oprs
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_OPRs'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/predictions:
    get:
      description: Gets information on TBA-generated predictions for the given Event.
        Contains year-specific information. *WARNING* This endpoint is currently under
        development and may change at any time.
      operationId: get_event_predictions
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_Predictions'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/rankings:
    get:
      description: Gets a list of team rankings for the Event.
      operationId: get_event_rankings
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_Ranking'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/simple:
    get:
      description: Gets a short-form Event.
      operationId: get_event_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_Simple'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/teams:
    get:
      description: Gets a list of `Team` objects that competed in the given event.
      operationId: get_event_teams
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/teams/keys:
    get:
      description: Gets a list of `Team` keys that competed in the given event.
      operationId: get_event_teams_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/teams/simple:
    get:
      description: Gets a short-form list of `Team` objects that competed in the given
        event.
      operationId: get_event_teams_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /event/{event_key}/teams/statuses:
    get:
      description: Gets a key-value list of the event statuses for teams competing
        at the given event.
      operationId: get_event_teams_statuses
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Team_Event_Status'
                description: A key-value pair of `Team_Event_Status` objects with
                  the event key as the key.
                type: object
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - team
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /events/{year}:
    get:
      description: Gets a list of events in the given year.
      operationId: get_events_by_year
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /events/{year}/keys:
    get:
      description: Gets a list of event keys in the given year.
      operationId: get_events_by_year_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /events/{year}/simple:
    get:
      description: Gets a short-form list of events in the given year.
      operationId: get_events_by_year_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - event
      - list
      x-openapi-router-controller: openapi_server.controllers.event_controller
  /match/{match_key}:
    get:
      description: Gets a `Match` object for the given match key.
      operationId: get_match
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Match Key, eg `2016nytr_qm1`"
        explode: false
        in: path
        name: match_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - match
      x-openapi-router-controller: openapi_server.controllers.match_controller
  /match/{match_key}/simple:
    get:
      description: Gets a short-form `Match` object for the given match key.
      operationId: get_match_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Match Key, eg `2016nytr_qm1`"
        explode: false
        in: path
        name: match_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match_Simple'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - match
      x-openapi-router-controller: openapi_server.controllers.match_controller
  /match/{match_key}/timeseries:
    get:
      description: |-
        Gets an array of game-specific Match Timeseries objects for the given match key or an empty array if not available.
        *WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.
        *WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.
      operationId: get_match_timeseries
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Match Key, eg `2016nytr_qm1`"
        explode: false
        in: path
        name: match_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - match
      x-openapi-router-controller: openapi_server.controllers.match_controller
  /match/{match_key}/zebra_motionworks:
    get:
      description: Gets Zebra MotionWorks data for a Match for the given match key.
      operationId: get_match_zebra
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Match Key, eg `2016nytr_qm1`"
        explode: false
        in: path
        name: match_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zebra'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - match
      x-openapi-router-controller: openapi_server.controllers.match_controller
  /status:
    get:
      description: "Returns API status, and TBA status information."
      operationId: get_status
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Status'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - TBA
      x-openapi-router-controller: openapi_server.controllers.tba_controller
  /team/{team_key}:
    get:
      description: Gets a `Team` object for the team referenced by the given key.
      operationId: get_team
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/awards:
    get:
      description: Gets a list of awards the given team has won.
      operationId: get_team_awards
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Award'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/awards/{year}:
    get:
      description: Gets a list of awards the given team has won in a given year.
      operationId: get_team_awards_by_year
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Award'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/districts:
    get:
      description: Gets an array of districts representing each year the team was
        in a district. Will return an empty array if the team was never in a district.
      operationId: get_team_districts
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/District_List'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - district
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/event/{event_key}/awards:
    get:
      description: Gets a list of awards the given team won at the given event.
      operationId: get_team_event_awards
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Award'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/event/{event_key}/matches:
    get:
      description: Gets a list of matches for the given team and event.
      operationId: get_team_event_matches
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Match'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/event/{event_key}/matches/keys:
    get:
      description: Gets a list of match keys for matches for the given team and event.
      operationId: get_team_event_matches_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/event/{event_key}/matches/simple:
    get:
      description: Gets a short-form list of matches for the given team and event.
      operationId: get_team_event_matches_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Match'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      - match
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/event/{event_key}/status:
    get:
      description: Gets the competition rank and status of the team at the given event.
      operationId: get_team_event_status
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: "TBA Event Key, eg `2016nytr`"
        explode: false
        in: path
        name: event_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team_Event_Status'
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events:
    get:
      description: Gets a list of all events this team has competed at.
      operationId: get_team_events
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events/keys:
    get:
      description: Gets a list of the event keys for all events this team has competed
        at.
      operationId: get_team_events_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events/simple:
    get:
      description: Gets a short-form list of all events this team has competed at.
      operationId: get_team_events_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events/{year}:
    get:
      description: Gets a list of events this team has competed at in the given year.
      operationId: get_team_events_by_year
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events/{year}/keys:
    get:
      description: Gets a list of the event keys for events this team has competed
        at in the given year.
      operationId: get_team_events_by_year_keys
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events/{year}/simple:
    get:
      description: Gets a short-form list of events this team has competed at in the
        given year.
      operationId: get_team_events_by_year_simple
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event_Simple'
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - Use Local Cached Value
        "401":
          description: ""
      security:
      - apiKey: []
      tags:
      - team
      - event
      x-openapi-router-controller: openapi_server.controllers.team_controller
  /team/{team_key}/events/{year}/statuses:
    get:
      description: Gets a key-value list of the event statuses for events this team
        has competed at in the given year.
      operationId: get_team_events_statuses_by_year
      parameters:
      - description: Value of the `ETag` header in the most recently cached response
          by the client.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: "TBA Team Key, eg `frc254`"
        explode: false
        in: path
        name: team_key
        required: true
        schema:
          type: string
        style: simple
      - description: Competition Year (or Season). Must be 4 digits.
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Team_Event_Status'
                description: A key-value pair of `Team_Event_Status` objects with
                  the event key as the key.
                type: object
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
[...]
