openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2017-05-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJob.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-sourceControlSyncJob
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs
  : get:
      description: Retrieve a list of source control sync jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: SourceControlSyncJob_ListByAutomationAccount
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJobListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJob_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControlSyncJob
      x-ms-examples:
        Get a list of source control sync jobs:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            sourceControlName: MySourceControl
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a1a
                  properties:
                    creationTime: 2017-03-28T23:14:26.903+00:00
                    endTime: 2017-03-28T23:14:28.903+00:00
                    provisioningState: Completed
                    sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a1a
                    startTime: 2017-03-28T23:14:27.903+00:00
                    syncType: PartialSync
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2a
                  properties:
                    creationTime: 2017-03-28T23:14:26.903+00:00
                    endTime: 2017-03-28T23:14:28.903+00:00
                    provisioningState: Completed
                    sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2a
                    startTime: 2017-03-28T23:14:27.903+00:00
                    syncType: PartialSync
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a3a
                  properties:
                    creationTime: 2017-03-28T23:14:26.903+00:00
                    endTime: 2017-03-28T23:14:28.903+00:00
                    provisioningState: Completed
                    sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a3a
                    startTime: 2017-03-28T23:14:27.903+00:00
                    syncType: PartialSync
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a4a
                  properties:
                    creationTime: 2017-03-28T23:14:26.903+00:00
                    endTime: 2017-03-28T23:14:28.903+00:00
                    provisioningState: Completed
                    sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a4a
                    startTime: 2017-03-28T23:14:27.903+00:00
                    syncType: PartialSync
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a5a
                  properties:
                    creationTime: 2017-03-28T23:14:26.903+00:00
                    endTime: 2017-03-28T23:14:28.903+00:00
                    provisioningState: Completed
                    sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a5a
                    startTime: 2017-03-28T23:14:27.903+00:00
                    syncType: PartialSync
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}
  : get:
      description: Retrieve the source control sync job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: SourceControlSyncJob_Get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: The source control sync job id.
        in: path
        name: sourceControlSyncJobId
        required: true
        schema:
          format: uuid
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJobById'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJob_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControlSyncJob
      x-ms-examples:
        Get a source control sync job by job id:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            sourceControlName: MySourceControl
            sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
                properties:
                  creationTime: 2017-03-28T23:14:26.903+00:00
                  endTime: 2017-03-28T23:14:28.903+00:00
                  exception: ""
                  provisioningState: Completed
                  sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
                  startTime: 2017-03-28T23:14:27.903+00:00
                  syncType: PartialSync
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates the sync job for a source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: SourceControlSyncJob_Create
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: The source control sync job id.
        in: path
        name: sourceControlSyncJobId
        required: true
        schema:
          format: uuid
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceControlSyncJobCreateParameters'
        description: The parameters supplied to the create source control sync job
          operation.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJob'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlSyncJob_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControlSyncJob
      x-ms-examples:
        Create or update a source control sync job:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            parameters:
              properties:
                commitId: 9de0980bfb45026a3d97a1b0522d98a9f604226e
            resourceGroupName: rg
            sourceControlName: MySourceControl
            sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
                properties:
                  creationTime: 2017-03-28T23:14:26.903+00:00
                  endTime: 2017-03-28T23:14:28.903+00:00
                  provisioningState: Completed
                  sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
                  startTime: 2017-03-28T23:14:27.903+00:00
                  syncType: PartialSync
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    SourceControlSyncJob:
      description: Definition of the source control sync job.
      example:
        name: name
        id: id
        type: type
        properties:
          sourceControlSyncJobId: sourceControlSyncJobId
          creationTime: 2000-01-23T04:56:07.000+00:00
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: Completed
          syncType: PartialSync
      properties:
        id:
          description: Resource id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobProperties'
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
    SourceControlSyncJobById:
      description: Definition of the source control sync job.
      example:
        id: id
        properties:
          exception: exception
          sourceControlSyncJobId: sourceControlSyncJobId
          creationTime: 2000-01-23T04:56:07.000+00:00
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: Completed
          syncType: PartialSync
      properties:
        id:
          description: The id of the job.
          type: string
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobByIdProperties'
      type: object
    SourceControlSyncJobByIdProperties:
      description: Definition of source control sync job properties.
      example:
        exception: exception
        sourceControlSyncJobId: sourceControlSyncJobId
        creationTime: 2000-01-23T04:56:07.000+00:00
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: Completed
        syncType: PartialSync
      properties:
        creationTime:
          description: The creation time of the job.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        endTime:
          description: The end time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        exception:
          description: The exceptions that occurred while running the sync job.
          type: string
        provisioningState:
          description: The provisioning state of the job.
          enum:
          - Completed
          - Failed
          - Running
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
        sourceControlSyncJobId:
          description: The source control sync job id.
          type: string
        startTime:
          description: The start time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        syncType:
          description: The sync type.
          enum:
          - PartialSync
          - FullSync
          type: string
          x-ms-enum:
            modelAsString: true
            name: syncType
      type: object
    SourceControlSyncJobCreateParameters:
      description: The parameters supplied to the create source control sync job operation.
      example:
        properties:
          commitId: commitId
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobCreateProperties'
      required:
      - properties
      type: object
    SourceControlSyncJobCreateProperties:
      description: Definition of create source control sync job properties.
      example:
        commitId: commitId
      properties:
        commitId:
          description: "The commit id of the source control sync job. If not syncing\
            \ to a commitId, enter an empty string."
          minLength: 0
          type: string
      required:
      - commitId
      type: object
    SourceControlSyncJobListResult:
      description: The response model for the list source control sync jobs operation.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            sourceControlSyncJobId: sourceControlSyncJobId
            creationTime: 2000-01-23T04:56:07.000+00:00
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Completed
            syncType: PartialSync
        - name: name
          id: id
          type: type
          properties:
            sourceControlSyncJobId: sourceControlSyncJobId
            creationTime: 2000-01-23T04:56:07.000+00:00
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Completed
            syncType: PartialSync
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          type: string
        value:
          description: The list of source control sync jobs.
          items:
            $ref: '#/components/schemas/SourceControlSyncJob'
          type: array
      type: object
    SourceControlSyncJobProperties:
      description: Definition of source control sync job properties.
      example:
        sourceControlSyncJobId: sourceControlSyncJobId
        creationTime: 2000-01-23T04:56:07.000+00:00
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: Completed
        syncType: PartialSync
      properties:
        creationTime:
          description: The creation time of the job.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        endTime:
          description: The end time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning state of the job.
          enum:
          - Completed
          - Failed
          - Running
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
        sourceControlSyncJobId:
          description: The source control sync job id.
          type: string
        startTime:
          description: The start time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        syncType:
          description: The sync type.
          enum:
          - PartialSync
          - FullSync
          type: string
          x-ms-enum:
            modelAsString: true
            name: syncType
      type: object
    SourceControlSyncJob_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

