openapi: 3.0.1
info:
  description: |
    Mandrill is a reliable, scalable, and secure delivery API for transactional emails from websites and applications. It's ideal for sending data-driven transactional emails, including targeted e-commerce and personalized one-to-one messages.
  title: Mandrill
  version: "1.0"
  x-apisguru-categories:
  - email
  - marketing
  x-logo:
    url: https://raw.githubusercontent.com/edent/SuperTinyIcons/master/images/svg/mailchimp.svg
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/mandrillapp.com/1.0/swagger.yaml
    version: "2.0"
  x-providerName: mandrillapp.com
  x-unofficialSpec: true
externalDocs:
  url: https://mandrillapp.com/api/docs/
servers:
- url: https://mandrillapp.com/api/1.0/
paths:
  /exports/activity.json:
    post:
      description: "Begins an export of your activity history. The activity will be\
        \ exported to a zip archive containing a single file named activity.csv in\
        \ the same format as you would be able to export from your account's activity\
        \ view. It includes the following fields: Date, Email Address, Sender, Subject,\
        \ Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom\
        \ metadata fields, they will be included in the exported data."
      operationId: exports_activity_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/exports_activity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /exports/info.json:
    post:
      description: "Returns information about an export job. If the export job's state\
        \ is 'complete', the returned data will include a URL you can use to fetch\
        \ the results. Every export job produces a zip archive, but the format of\
        \ the archive is distinct for each job type. The api calls that initiate exports\
        \ include more details about the output format for that job type."
      operationId: exports_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /exports/list.json:
    post:
      description: Returns a list of your exports.
      operationId: exports_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /exports/rejects.json:
    post:
      description: "Begins an export of your rejection blacklist. The blacklist will\
        \ be exported to a zip archive containing a single file named rejects.csv\
        \ that includes the following fields: email, reason, detail, created_at, expires_at,\
        \ last_event_at, expires_at."
      operationId: exports_rejects_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/notify_email'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /exports/whitelist.json:
    post:
      description: "Begins an export of your rejection whitelist. The whitelist will\
        \ be exported to a zip archive containing a single file named whitelist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: exports_whitelist_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/notify_email'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/add-domain.json:
    post:
      description: Add an inbound domain to your account
      operationId: inbound_add_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/add-route.json:
    post:
      description: Add a new mailbox route to an inbound domain
      operationId: inbound_add_route_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/inbound_add-route'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/check-domain.json:
    post:
      description: Check the MX settings for an inbound domain. The domain must have
        already been added with the add-domain call
      operationId: inbound_check_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/delete-domain.json:
    post:
      description: Delete an inbound domain from the account. All mail will stop routing
        for this domain immediately.
      operationId: inbound_delete_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/delete-route.json:
    post:
      description: Delete an existing inbound mailbox route
      operationId: inbound_delete_route_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/domains.json:
    post:
      description: List the domains that have been configured for inbound delivery
      operationId: inbound_domains_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_domains-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/routes.json:
    post:
      description: List the mailbox routes defined for an inbound domain
      operationId: inbound_routes_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_routes-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/send-raw.json:
    post:
      description: "Take a raw MIME document destined for a domain with inbound domains\
        \ set up, and send it to the inbound hook exactly as if it had been sent over\
        \ SMTP"
      operationId: inbound_send_raw_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/inbound_send-raw'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_send-raw-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /inbound/update-route.json:
    post:
      description: "Update the pattern or webhook of an existing inbound mailbox route.\
        \ If null is provided for any fields, the values will remain unchanged."
      operationId: inbound_update_route_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/inbound_update-route'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/cancel-warmup.json:
    post:
      description: Cancels the warmup process for a dedicated IP.
      operationId: ips_cancel_warmup_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/check-custom-dns.json:
    post:
      description: Tests whether a domain name is valid for use as the custom reverse
        DNS for a dedicated IP.
      operationId: ips_check_custom_dns_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip_domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_check-custom-dns-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/create-pool.json:
    post:
      description: "Creates a pool and returns it. If a pool already exists with this\
        \ name, no action will be performed."
      operationId: ips_create_pool_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_pool-key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_pool'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/delete-pool.json:
    post:
      description: "Deletes a pool. A pool must be empty before you can delete it,\
        \ and you cannot delete your default pool."
      operationId: ips_delete_pool_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_pool-key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_delete-pool-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/delete.json:
    post:
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      operationId: ips_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/info.json:
    post:
      description: Retrieves information about a single dedicated ip.
      operationId: ips_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/list-pools.json:
    post:
      description: Lists your dedicated IP pools.
      operationId: ips_list_pools_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_list-pools-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/list.json:
    post:
      description: Lists your dedicated IPs.
      operationId: ips_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/pool-info.json:
    post:
      description: Describes a single dedicated IP pool.
      operationId: ips_pool_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_pool-key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_pool'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/provision.json:
    post:
      description: "Requests an additional dedicated IP for your account. Accounts\
        \ may have one outstanding request at any time, and provisioning requests\
        \ are processed within 24 hours."
      operationId: ips_provision_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_provision'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_provision-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/set-custom-dns.json:
    post:
      description: Configures the custom DNS name for a dedicated IP.
      operationId: ips_set_custom_dns_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip_domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/set-pool.json:
    post:
      description: Moves a dedicated IP to a different pool.
      operationId: ips_set_pool_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_set-pool'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ips/start-warmup.json:
    post:
      description: "Begins the warmup process for a dedicated IP. During the warmup\
        \ process, Mandrill will gradually increase the percentage of your mail that\
        \ is sent over the warming-up IP, over a period of roughly 30 days. The rest\
        \ of your mail will be sent over shared IPs or other dedicated IPs in the\
        \ same pool."
      operationId: ips_start_warmup_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/cancel-scheduled.json:
    post:
      description: Cancels a scheduled email.
      operationId: messages_cancel_scheduled_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_cancel-scheduled'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/schedulingchange_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/content.json:
    post:
      description: Get the full content of a recently sent message
      operationId: messages_content_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_content-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/info.json:
    post:
      description: Get the information for a single recently sent message
      operationId: messages_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/list-scheduled.json:
    post:
      description: "Queries your scheduled emails by sender or recipient, or both."
      operationId: messages_list_scheduled_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_list-scheduled'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_list-scheduled-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/parse.json:
    post:
      description: "Parse the full MIME document for an email message, returning the\
        \ content of the message broken into its constituent pieces"
      operationId: messages_parse_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_parse'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_parse-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/reschedule.json:
    post:
      description: Reschedules a scheduled email.
      operationId: messages_reschedule_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_reschedule'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/schedulingchange_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/search-time-series.json:
    post:
      description: Search the content of recently sent messages and return the aggregated
        hourly stats for matching messages
      operationId: messages_search_time_series_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_search-time-series'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/search.json:
    post:
      description: "Search the content of recently sent messages and optionally narrow\
        \ by date range, tags and senders. This method may be called up to 20 times\
        \ per minute. If you need the data more often, you can use /messages/info.json\
        \ to get the information for a single message, or webhooks to push activity\
        \ to your own application for querying."
      operationId: messages_search_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_search'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_search-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/send-raw.json:
    post:
      description: "Take a raw MIME document for a message, and send it exactly as\
        \ if it were sent through Mandrill's SMTP servers"
      operationId: messages_send_raw_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_send-raw'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/send-template.json:
    post:
      description: Send a new transactional message through Mandrill using a template
      operationId: messages_send_template_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_send-template'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /messages/send.json:
    post:
      description: Send a new transactional message through Mandrill
      operationId: messages_send_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_send'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /metadata/add.json:
    post:
      description: Add a new custom metadata field to be indexed for the account.
      operationId: metadata_add_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/metadata_template'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /metadata/delete.json:
    post:
      description: "Delete an existing custom metadata field. Deletion isn't instataneous,\
        \ and /metadata/list will continue to return the field until the asynchronous\
        \ deletion process is complete."
      operationId: metadata_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /metadata/list.json:
    post:
      description: Get the list of custom metadata fields indexed for the account.
      operationId: metadata_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /metadata/update.json:
    post:
      description: Update an existing custom metadata field.
      operationId: metadata_update_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/metadata_template'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /rejects/add.json:
    post:
      description: Adds an email to your email rejection blacklist. Addresses that
        you add manually will never expire and there is no reputation penalty for
        removing them from your blacklist. Attempting to blacklist an address that
        has been whitelisted will have no effect.
      operationId: rejects_add_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/rejects_add'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_add-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /rejects/delete.json:
    post:
      description: "Deletes an email rejection. There is no limit to how many rejections\
        \ you can remove from your blacklist, but keep in mind that each deletion\
        \ has an affect on your reputation."
      operationId: rejects_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/rejects_delete'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /rejects/list.json:
    post:
      description: "Retrieves your email rejection blacklist. You can provide an email\
        \ address to limit the results. Returns up to 1000 results. By default, entries\
        \ that have expired are excluded from the results; set include_expired to\
        \ true to include them."
      operationId: rejects_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/rejects_list'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/add-domain.json:
    post:
      description: "Adds a sender domain to your account. Sender domains are added\
        \ automatically as you send, but you can use this call to add them ahead of\
        \ time."
      operationId: senders_add_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/sender_domain_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/check-domain.json:
    post:
      description: "Checks the SPF and DKIM settings for a domain. If you haven't\
        \ already added this domain to your account, it will be added automatically."
      operationId: senders_check_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/sender_domain_info'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/domains.json:
    post:
      description: Returns the sender domains that have been added to this account.
      operationId: senders_domains_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_domains-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/info.json:
    post:
      description: "Return more detailed information about a single sender, including\
        \ aggregates of recent stats"
      operationId: senders_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/sender_address'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/list.json:
    post:
      description: Return the senders that have tried to use this account.
      operationId: senders_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a sender
      operationId: senders_time_series_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/sender_address'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/time-series'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /senders/verify-domain.json:
    post:
      description: "Sends a verification email in order to verify ownership of a domain.\
        \ Domain verification is an optional step to confirm ownership of a domain.\
        \ Once a domain has been verified in a Mandrill account, other accounts may\
        \ not have their messages signed by that domain unless they also verify the\
        \ domain. This prevents other Mandrill accounts from sending mail signed by\
        \ your domain."
      operationId: senders_verify_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/senders_verify-domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_verify-domain-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/add.json:
    post:
      description: Add a new subaccount
      operationId: subaccounts_add_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/subaccount_info'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/delete.json:
    post:
      description: "Delete an existing subaccount. Any email related to the subaccount\
        \ will be saved, but stats will be removed and any future sending calls to\
        \ this subaccount will fail."
      operationId: subaccounts_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/info.json:
    post:
      description: "Given the ID of an existing subaccount, return the data about\
        \ it"
      operationId: subaccounts_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccounts_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/list.json:
    post:
      description: "Get the list of subaccounts defined for the account, optionally\
        \ filtered by a prefix"
      operationId: subaccounts_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/url_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccounts_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/pause.json:
    post:
      description: Pause a subaccount's sending. Any future emails delivered to this
        subaccount will be queued for a maximum of 3 days until the subaccount is
        resumed.
      operationId: subaccounts_pause_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/resume.json:
    post:
      description: Resume a paused subaccount's sending
      operationId: subaccounts_resume_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subaccounts/update.json:
    post:
      description: Update an existing subaccount
      operationId: subaccounts_update_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/subaccount_info'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /tags/all-time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        all tags
      operationId: tags_all_time_series_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /tags/delete.json:
    post:
      description: "Deletes a tag permanently. Deleting a tag removes the tag from\
        \ any messages that have been sent, and also deletes the tag's stats. There\
        \ is no way to undo this operation, so use it carefully."
      operationId: tags_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/tag_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /tags/info.json:
    post:
      description: "Return more detailed information about a single tag, including\
        \ aggregates of recent stats"
      operationId: tags_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/tag_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /tags/list.json:
    post:
      description: Return all of the user-defined tag information
      operationId: tags_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /tags/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a tag
      operationId: tags_time_series_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/tag_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/add.json:
    post:
      description: Add a new template
      operationId: templates_add_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/template'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/delete.json:
    post:
      description: Delete a template
      operationId: templates_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/info.json:
    post:
      description: Get the information for an existing template
      operationId: templates_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/list.json:
    post:
      description: Return a list of all the templates available to this user
      operationId: templates_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/templates_list'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templates_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/publish.json:
    post:
      description: Publish the content for the template. Any new messages sent using
        this template will start using the content that was previously in draft.
      operationId: templates_publish_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/render.json:
    post:
      description: "Inject content and optionally merge fields into a template, returning\
        \ the HTML that results"
      operationId: templates_render_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/templates_render'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templates_render-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a template
      operationId: templates_time_series_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/time-series'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /templates/update.json:
    post:
      description: "Update the code for an existing template. If null is provided\
        \ for any fields, the values will remain unchanged."
      operationId: templates_update_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/template'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /urls/add-tracking-domain.json:
    post:
      description: Add a tracking domain to your account
      operationId: urls_add_tracking_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tracking-domain-status'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /urls/check-tracking-domain.json:
    post:
      description: Checks the CNAME settings for a tracking domain. The domain must
        have been added already with the add-tracking-domain call
      operationId: urls_check_tracking_domain_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tracking-domain-status'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /urls/list.json:
    post:
      description: Get the 100 most clicked URLs
      operationId: urls_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/url_infos'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /urls/search.json:
    post:
      description: Return the 100 most clicked URLs that match the search query given
      operationId: urls_search_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/url_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/url_infos'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /urls/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a url
      operationId: urls_time_series_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/urls_time-series'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/urls_time-series-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /urls/tracking-domains.json:
    post:
      description: Get the list of tracking domains set up for this account
      operationId: urls_tracking_domains_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/urls_tracking-domains-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /users/info.json:
    post:
      description: Return the information about the API-connected user
      operationId: users_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/users_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /users/ping.json:
    post:
      description: Validate an API key and respond to a ping
      operationId: users_ping_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /users/ping2.json:
    post:
      description: Validate an API key and respond to a ping (anal JSON parser version)
      operationId: users_ping2_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/users_ping2-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /users/senders.json:
    post:
      description: "Return the senders that have tried to use this account, both verified\
        \ and unverified"
      operationId: users_senders_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /webhooks/add.json:
    post:
      description: Add a new webhook
      operationId: webhooks_add_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhooks_add'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /webhooks/delete.json:
    post:
      description: Delete an existing webhook
      operationId: webhooks_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhook_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /webhooks/info.json:
    post:
      description: "Given the ID of an existing webhook, return the data about it"
      operationId: webhooks_info_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhook_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /webhooks/list.json:
    post:
      description: Get the list of all webhooks defined on the account
      operationId: webhooks_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhooks_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /webhooks/update.json:
    post:
      description: Update an existing webhook
      operationId: webhooks_update_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhooks_update'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /whitelists/add.json:
    post:
      description: "Adds an email to your email rejection whitelist. If the address\
        \ is currently on your blacklist, that blacklist entry will be removed automatically."
      operationId: whitelists_add_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/email'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_add-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /whitelists/delete.json:
    post:
      description: Removes an email address from the whitelist.
      operationId: whitelists_delete_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/email'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /whitelists/list.json:
    post:
      description: Retrieves your email rejection whitelist. You can provide an email
        address or search prefix to limit the results. Returns up to 1000 results.
      operationId: whitelists_list_json_post
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/email'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    api_key:
      properties:
        key:
          title: key
          type: string
      title: api_key
      type: object
    domain:
      properties:
        domain:
          title: domain
          type: string
        key:
          title: key
          type: string
      title: domain
      type: object
    email:
      properties:
        email:
          title: email
          type: string
        key:
          title: key
          type: string
      title: email
      type: object
    exports_activity:
      properties:
        api_keys:
          items:
            type: string
          title: api_keys
          type: array
        date_from:
          title: date_from
          type: string
        date_to:
          title: date_to
          type: string
        key:
          title: key
          type: string
        notify_email:
          title: notify_email
          type: string
        senders:
          items:
            type: string
          title: senders
          type: array
        states:
          items:
            type: string
          title: states
          type: array
        tags:
          items:
            type: string
          title: tags
          type: array
      title: exports_activity
      type: object
    exports_info-response:
      example:
        result_url: result_url
        finished_at: finished_at
        created_at: created_at
        id: id
        state: state
        type: type
      properties:
        created_at:
          title: created_at
          type: string
        finished_at:
          title: finished_at
          type: string
        id:
          title: id
          type: string
        result_url:
          title: result_url
          type: string
        state:
          title: state
          type: string
        type:
          title: type
          type: string
      title: exports_info-response
      type: object
    exports_list-response:
      items:
        $ref: '#/components/schemas/exports_list_response_inner'
      type: array
    exports_satus:
      example:
        created_at: created_at
        id: id
        state: state
        type: type
      properties:
        created_at:
          title: created_at
          type: string
        id:
          title: id
          type: string
        state:
          title: state
          type: string
        type:
          title: type
          type: string
      title: exports_satus
      type: object
    id:
      properties:
        id:
          title: id
          type: string
        key:
          title: key
          type: string
      title: id
      type: object
    inbound_add-route:
      properties:
        domain:
          title: domain
          type: string
        key:
          title: key
          type: string
        pattern:
          title: pattern
          type: string
        url:
          title: url
          type: string
      title: inbound_add-route
      type: object
    inbound_domains-response:
      items:
        $ref: '#/components/schemas/inbound_domains_response_inner'
      type: array
    inbound_info:
      example:
        domain: domain
        valid_mx: true
        created_at: created_at
      properties:
        created_at:
          title: created_at
          type: string
        domain:
          title: domain
          type: string
        valid_mx:
          title: valid_mx
          type: boolean
      title: inbound_info
      type: object
    inbound_routes-response:
      items:
        $ref: '#/components/schemas/inbound_routes_response_inner'
      type: array
    inbound_send-raw:
      properties:
        client_address:
          title: client_address
          type: string
        helo:
          title: helo
          type: string
        key:
          title: key
          type: string
        mail_from:
          title: mail_from
          type: string
        raw_message:
          title: raw_message
          type: string
        to:
          items:
            type: string
          title: to
          type: array
      title: inbound_send-raw
      type: object
    inbound_send-raw-response:
      items:
        $ref: '#/components/schemas/inbound_send_raw_response_inner'
      type: array
    inbound_update-route:
      properties:
        id:
          title: id
          type: string
        key:
          title: key
          type: string
        pattern:
          title: pattern
          type: string
        url:
          title: url
          type: string
      title: inbound_update-route
      type: object
    ip:
      properties:
        ip:
          title: ip
          type: string
        key:
          title: key
          type: string
      title: ip
      type: object
    ip_domain:
      properties:
        domain:
          title: domain
          type: string
        ip:
          title: ip
          type: string
        key:
          title: key
          type: string
      title: ip_domain
      type: object
    ip_info:
      example:
        custom_dns:
          valid: true
          error: error
          enabled: true
        domain: domain
        ip: ip
        pool: pool
        created_at: created_at
        warmup:
          end_at: end_at
          warming_up: true
          start_at: start_at
      properties:
        created_at:
          title: created_at
          type: string
        custom_dns:
          $ref: '#/components/schemas/ip_info_custom_dns'
        domain:
          title: domain
          type: string
        ip:
          title: ip
          type: string
        pool:
          title: pool
          type: string
        warmup:
          $ref: '#/components/schemas/ip_info_warmup'
      title: ip_info
      type: object
    ips_check-custom-dns-response:
      example:
        valid: true
        error: error
      properties:
        error:
          title: error
          type: string
        valid:
          title: valid
          type: boolean
      title: ips_check-custom-dns-response
      type: object
    ips_delete-pool-response:
      example:
        deleted: true
        pool: pool
      properties:
        deleted:
          title: deleted
          type: boolean
        pool:
          title: pool
          type: string
      title: ips_delete-pool-response
      type: object
    ips_delete-response:
      example:
        deleted: true
        ip: ip
      properties:
        deleted:
          title: deleted
          type: boolean
        ip:
          title: ip
          type: string
      title: ips_delete-response
      type: object
    ips_list-pools-response:
      items:
        $ref: '#/components/schemas/ips_list_pools_response_inner'
      type: array
    ips_list-response:
      items:
        $ref: '#/components/schemas/ips_list_pools_response_inner_ips_inner'
      type: array
    ips_pool:
      example:
        name: name
        created_at: created_at
        ips:
        - custom_dns:
            valid: true
            error: error
            enabled: true
          domain: domain
          ip: ip
          pool: pool
          created_at: created_at
          warmup:
            end_at: end_at
            warming_up: true
            start_at: start_at
        - custom_dns:
            valid: true
            error: error
            enabled: true
          domain: domain
          ip: ip
          pool: pool
          created_at: created_at
          warmup:
            end_at: end_at
            warming_up: true
            start_at: start_at
      properties:
        created_at:
          title: created_at
          type: string
        ips:
          items:
            $ref: '#/components/schemas/ips_list_pools_response_inner_ips_inner'
          title: ips
          type: array
        name:
          title: name
          type: string
      title: ips_pool
      type: object
    ips_pool-key:
      properties:
        key:
          title: key
          type: string
        pool:
          title: pool
          type: string
      title: ips_pool-key
      type: object
    ips_provision:
      properties:
        key:
          title: key
          type: string
        pool:
          title: pool
          type: string
        warmup:
          title: warmup
          type: boolean
      title: ips_provision
      type: object
    ips_provision-response:
      example:
        requested_at: requested_at
      properties:
        requested_at:
          title: requested_at
          type: string
      title: ips_provision-response
      type: object
    ips_set-pool:
      properties:
        create_pool:
          title: create_pool
          type: boolean
        ip:
          title: ip
          type: string
        key:
          title: key
          type: string
        pool:
          title: pool
          type: string
      title: ips_set-pool
      type: object
    message_send-status:
      items:
        $ref: '#/components/schemas/message_send_status_inner'
      type: array
    messages_cancel-scheduled:
      properties:
        key:
          title: key
          type: string
      title: messages_cancel-scheduled
      type: object
    messages_content-response:
      example:
        headers:
          Reply-To: Reply-To
        attachments:
        - name: name
          type: type
          content: content
        - name: name
          type: type
          content: content
        from_email: from_email
        subject: subject
        html: html
        _id: _id
        text: text
        to:
          name: name
          email: email
        from_name: from_name
        tags:
        - tags
        - tags
        ts: 0
      properties:
        _id:
          title: _id
          type: string
        attachments:
          items:
            $ref: '#/components/schemas/messages_content_response_attachments_inner'
          title: attachments
          type: array
        from_email:
          title: from_email
          type: string
        from_name:
          title: from_name
          type: string
        headers:
          $ref: '#/components/schemas/messages_content_response_headers'
        html:
          title: html
          type: string
        subject:
          title: subject
          type: string
        tags:
          items:
            type: string
          title: tags
          type: array
        text:
          title: text
          type: string
        to:
          $ref: '#/components/schemas/messages_content_response_to'
        ts:
          title: ts
          type: integer
      title: messages_content-response
      type: object
    messages_info-response:
      example:
        template: template
        metadata:
          website: website
          user_id: user_id
        subject: subject
        clicks_detail:
        - ip: ip
          location: location
          ua: ua
          url: url
          ts: 6
        - ip: ip
          location: location
          ua: ua
          url: url
          ts: 6
        tags:
        - tags
        - tags
        opens_detail:
        - ip: ip
          location: location
          ua: ua
          ts: 5
        - ip: ip
          location: location
          ua: ua
          ts: 5
        sender: sender
        clicks: 0
        opens: 1
        _id: _id
        state: state
        smtp_events:
        - diag: diag
          type: type
          ts: 5
        - diag: diag
          type: type
          ts: 5
        email: email
        ts: 2
      properties:
        _id:
          title: _id
          type: string
        clicks:
          title: clicks
          type: integer
        clicks_detail:
          items:
            $ref: '#/components/schemas/messages_info_response_clicks_detail_inner'
          title: clicks_detail
          type: array
        email:
          title: email
          type: string
        metadata:
          $ref: '#/components/schemas/messages_info_response_metadata'
        opens:
          title: opens
          type: integer
        opens_detail:
          items:
            $ref: '#/components/schemas/messages_info_response_opens_detail_inner'
          title: opens_detail
          type: array
        sender:
          title: sender
          type: string
        smtp_events:
          items:
            $ref: '#/components/schemas/messages_info_response_smtp_events_inner'
          title: smtp_events
          type: array
        state:
          title: state
          type: string
        subject:
          title: subject
          type: string
        tags:
          items:
            type: string
          title: tags
          type: array
        template:
          title: template
          type: string
        ts:
          title: ts
          type: integer
      title: messages_info-response
      type: object
    messages_list-scheduled:
      properties:
        key:
          title: key
          type: string
        to:
          title: to
          type: string
      title: messages_list-scheduled
      type: object
    messages_list-scheduled-response:
      items:
        $ref: '#/components/schemas/messages_list_scheduled_response_inner'
      type: array
    messages_parse:
      properties:
        key:
          title: key
          type: string
        raw_message:
          title: raw_message
          type: string
      title: messages_parse
      type: object
    messages_parse-response:
      example:
        headers:
          Reply-To: Reply-To
        images:
        - name: name
          type: type
          content: content
        - name: name
          type: type
          content: content
        attachments:
        - binary: true
          name: name
          type: type
          content: content
        - binary: true
          name: name
          type: type
          content: content
        from_email: from_email
        subject: subject
        html: html
        text: text
        to:
        - name: name
          email: email
        - name: name
          email: email
        from_name: from_name
      properties:
        attachments:
          items:
            $ref: '#/components/schemas/messages_parse_response_attachments_inner'
          title: attachments
          type: array
        from_email:
          title: from_email
          type: string
        from_name:
          title: from_name
          type: string
        headers:
          $ref: '#/components/schemas/messages_content_response_headers'
        html:
          title: html
          type: string
        images:
          items:
            $ref: '#/components/schemas/messages_content_response_attachments_inner'
          title: images
          type: array
        subject:
          title: subject
          type: string
        text:
          title: text
          type: string
        to:
          items:
            $ref: '#/components/schemas/messages_content_response_to'
          title: to
          type: array
      title: messages_parse-response
      type: object
    messages_reschedule:
      properties:
        id:
          title: id
          type: string
        key:
          title: key
          type: string
        send_at:
          title: send_at
          type: string
      title: messages_reschedule
      type: object
    messages_search:
      properties:
        api_keys:
          items:
            type: string
          title: api_keys
          type: array
        date_from:
          title: date_from
          type: string
        date_to:
          title: date_to
          type: string
        key:
          title: key
          type: string
        limit:
          title: limit
          type: integer
        query:
          title: query
          type: string
        senders:
          items:
            type: string
          title: senders
          type: array
        tags:
          items:
            type: string
          title: tags
          type: array
      title: messages_search
      type: object
    messages_search-response:
      items:
        $ref: '#/components/schemas/messages_search_response_inner'
      type: array
    messages_search-time-series:
      properties:
        date_from:
          title: date_from
          type: string
        date_to:
          title: date_to
          type: string
        key:
          title: key
          type: string
        query:
          title: query
          type: string
        senders:
          items:
            type: string
          title: senders
          type: array
        tags:
          items:
            type: string
          title: tags
          type: array
      title: messages_search-time-series
      type: object
    messages_send:
      properties:
        async:
          title: async
          type: boolean
        ip_pool:
          title: ip_pool
          type: string
        key:
          title: key
          type: string
        message:
          $ref: '#/components/schemas/messages_send_message'
        send_at:
          title: send_at
          type: string
      title: messages_send
      type: object
    messages_send-raw:
      properties:
        async:
          title: async
          type: boolean
        from_email:
          title: from_email
          type: string
        from_name:
          title: from_name
          type: string
        ip_pool:
          title: ip_pool
          type: string
        key:
          title: key
          type: string
        raw_message:
          title: raw_message
          type: string
        send_at:
          title: send_at
          type: string
        to:
          items:
            type: string
          title: to
          type: array
      title: messages_send-raw
      type: object
    messages_send-template:
      properties:
        async:
          title: async
          type: boolean
        ip_pool:
          title: ip_pool
          type: string
        key:
          title: key
          type: string
        message:
          $ref: '#/components/schemas/messages_send_message'
        send_at:
          title: send_at
          type: string
        template_content:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          title: template_content
          type: array
        template_name:
          title: template_name
          type: string
      title: messages_send-template
      type: object
    metadata_info:
      example:
        name: name
        state: state
        view_template: view_template
      properties:
        name:
          title: name
          type: string
        state:
          title: state
          type: string
        view_template:
          title: view_template
          type: string
      title: metadata_info
      type: object
    metadata_list-response:
      items:
        $ref: '#/components/schemas/metadata_list_response_inner'
      type: array
    metadata_template:
      properties:
        key:
          title: key
          type: string
        name:
          title: name
          type: string
        view_template:
          title: view_template
          type: string
      title: metadata_template
      type: object
    name:
      properties:
        key:
          title: key
          type: string
        name:
          title: name
          type: string
      title: name
      type: object
    notify_email:
      properties:
        key:
          title: key
          type: string
        notify_email:
          title: notify_email
          type: string
      title: notify_email
      type: object
    rejects_add:
      properties:
        comment:
          title: comment
          type: string
        email:
          title: email
          type: string
        key:
          title: key
          type: string
        subaccount:
          title: subaccount
          type: string
      title: rejects_add
      type: object
    rejects_add-response:
      example:
        added: true
        email: email
      properties:
        added:
          title: added
          type: boolean
        email:
          title: email
          type: string
      title: rejects_add-response
      type: object
    rejects_delete:
      properties:
        email:
          title: email
          type: string
        key:
          title: key
          type: string
        subaccount:
          title: subaccount
          type: string
      title: rejects_delete
      type: object
    rejects_delete-response:
      example:
        deleted: true
        subaccount: subaccount
        email: email
      properties:
        deleted:
          title: deleted
          type: boolean
        email:
          title: email
          type: string
        subaccount:
          title: subaccount
          type: string
      title: rejects_delete-response
      type: object
    rejects_list:
      properties:
        email:
          title: email
          type: string
        include_expired:
          title: include_expired
          type: boolean
        key:
          title: key
          type: string
        subaccount:
          title: subaccount
          type: string
      title: rejects_list
      type: object
    rejects_list-response:
      items:
        $ref: '#/components/schemas/rejects_list_response_inner'
      type: array
    route:
      example:
        pattern: pattern
        id: id
        url: url
      properties:
        id:
          title: id
          type: string
        pattern:
          title: pattern
          type: string
        url:
          title: url
          type: string
      title: route
      type: object
    schedulingchange_info:
      example:
        from_email: from_email
        subject: subject
        created_at: created_at
        send_at: send_at
        _id: _id
        to: to
      properties:
        _id:
          title: _id
          type: string
        created_at:
          title: created_at
          type: string
        from_email:
          title: from_email
          type: string
        send_at:
          title: send_at
          type: string
        subject:
          title: subject
          type: string
        to:
          title: to
          type: string
      title: schedulingchange_info
      type: object
    sender_address:
      properties:
        address:
          title: address
          type: string
        key:
          title: key
          type: string
      title: sender_address
      type: object
    sender_domain_info:
      example:
        valid_signing: true
        last_tested_at: last_tested_at
        dkim:
          valid: true
          valid_after: valid_after
          error: error
        verified_at: verified_at
        domain: domain
        spf:
          valid: true
          valid_after: valid_after
          error: error
        created_at: created_at
      properties:
        created_at:
          title: created_at
          type: string
        dkim:
          $ref: '#/components/schemas/sender_domain_info_dkim'
        domain:
          title: domain
          type: string
        last_tested_at:
          title: last_tested_at
          type: string
        spf:
          $ref: '#/components/schemas/sender_domain_info_dkim'
        valid_signing:
          title: valid_signing
          type: boolean
        verified_at:
          title: verified_at
          type: string
      title: sender_domain_info
      type: object
    senders:
      items:
        $ref: '#/components/schemas/rejects_list_response_inner_sender'
      type: array
    senders_domains-response:
      items:
        $ref: '#/components/schemas/senders_domains_response_inner'
      type: array
    senders_info-response:
      example:
        rejects: 5
        address: address
        hard_bounces: 1
        stats:
          last_7_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          today:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_90_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_30_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_60_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
        unsubs: 1
        complaints: 6
        clicks: 0
        created_at: created_at
        opens: 5
        soft_bounces: 7
        sent: 2
      properties:
        address:
          title: address
          type: string
        clicks:
          title: clicks
          type: integer
        complaints:
          title: complaints
          type: integer
        created_at:
          title: created_at
          type: string
        hard_bounces:
          title: hard_bounces
          type: integer
        opens:
          title: opens
          type: integer
        rejects:
          title: rejects
          type: integer
        sent:
          title: sent
          type: integer
        soft_bounces:
          title: soft_bounces
          type: integer
        stats:
          $ref: '#/components/schemas/senders_info_response_stats'
        unsubs:
          title: unsubs
          type: integer
      title: senders_info-response
      type: object
    senders_verify-domain:
      properties:
        domain:
          title: domain
          type: string
        key:
          title: key
          type: string
        mailbox:
          title: mailbox
          type: string
      title: senders_verify-domain
      type: object
    senders_verify-domain-response:
      example:
        domain: domain
        email: email
        status: status
      properties:
        domain:
          title: domain
          type: string
        email:
          title: email
          type: string
        status:
          title: status
          type: string
      title: senders_verify-domain-response
      type: object
    subaccount_info:
      properties:
        custom_quota:
          title: custom_quota
          type: integer
        id:
          title: id
          type: string
        key:
          title: key
          type: string
        name:
          title: name
          type: string
        notes:
          title: notes
          type: string
      title: subaccount_info
      type: object
    subaccount_info2:
      example:
        custom_quota: 0
        first_sent_at: first_sent_at
        name: name
        created_at: created_at
        reputation: 6
        sent_total: 5
        id: id
        sent_monthly: 1
        sent_weekly: 5
        status: status
      properties:
        created_at:
          title: created_at
          type: string
        custom_quota:
          title: custom_quota
          type: integer
        first_sent_at:
          title: first_sent_at
          type: string
        id:
          title: id
          type: string
        name:
          title: name
          type: string
        reputation:
          title: reputation
          type: integer
        sent_monthly:
          title: sent_monthly
          type: integer
        sent_total:
          title: sent_total
          type: integer
        sent_weekly:
          title: sent_weekly
          type: integer
        status:
          title: status
          type: string
      title: subaccount_info2
      type: object
    subaccounts_info-response:
      example:
        notes: notes
        custom_quota: 0
        first_sent_at: first_sent_at
        created_at: created_at
        last_30_days:
          rejects: 7
          hard_bounces: 2
          unique_clicks: 1
          unsubs: 7
          complaints: 3
          clicks: 9
          opens: 4
          soft_bounces: 1
          sent: 1
          unique_opens: 6
        reputation: 1
        sent_weekly: 7
        hourly_quota: 6
        name: name
        sent_hourly: 5
        sent_total: 2
        id: id
        sent_monthly: 5
        status: status
      properties:
        created_at:
          title: created_at
          type: string
        custom_quota:
          title: custom_quota
          type: integer
        first_sent_at:
          title: first_sent_at
          type: string
        hourly_quota:
          title: hourly_quota
          type: integer
        id:
          title: id
          type: string
        last_30_days:
          $ref: '#/components/schemas/senders_info_response_stats_last_30_days'
        name:
          title: name
          type: string
        notes:
          title: notes
          type: string
        reputation:
          title: reputation
          type: integer
        sent_hourly:
          title: sent_hourly
          type: integer
        sent_monthly:
          title: sent_monthly
          type: integer
        sent_total:
          title: sent_total
          type: integer
        sent_weekly:
          title: sent_weekly
          type: integer
        status:
          title: status
          type: string
      title: subaccounts_info-response
      type: object
    subaccounts_list-response:
      items:
        $ref: '#/components/schemas/subaccounts_list_response_inner'
      type: array
    tag_key:
      properties:
        key:
          title: key
          type: string
        tag:
          title: tag
          type: string
      title: tag_key
      type: object
    tags_delete-response:
      example:
        rejects: 5
        hard_bounces: 1
        unique_clicks: 3
        unsubs: 4
        complaints: 6
        clicks: 0
        opens: 5
        reputation: 2
        soft_bounces: 9
        tag: tag
        sent: 7
        unique_opens: 2
      properties:
        clicks:
          title: clicks
          type: integer
        complaints:
          title: complaints
          type: integer
        hard_bounces:
          title: hard_bounces
          type: integer
        opens:
          title: opens
          type: integer
        rejects:
          title: rejects
          type: integer
        reputation:
          title: reputation
          type: integer
        sent:
          title: sent
          type: integer
        soft_bounces:
          title: soft_bounces
          type: integer
        tag:
          title: tag
          type: string
        unique_clicks:
          title: unique_clicks
          type: integer
        unique_opens:
          title: unique_opens
          type: integer
        unsubs:
          title: unsubs
          type: integer
      title: tags_delete-response
      type: object
    tags_info-response:
      example:
        rejects: 5
        hard_bounces: 1
        stats:
          last_7_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          today:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_90_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_30_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_60_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
        unsubs: 9
        complaints: 6
        clicks: 0
        opens: 5
        soft_bounces: 7
        tag: tag
        sent: 2
      properties:
        clicks:
          title: clicks
          type: integer
        complaints:
          title: complaints
          type: integer
        hard_bounces:
          title: hard_bounces
          type: integer
        opens:
          title: opens
          type: integer
        rejects:
          title: rejects
          type: integer
        sent:
          title: sent
          type: integer
        soft_bounces:
          title: soft_bounces
          type: integer
        stats:
          $ref: '#/components/schemas/senders_info_response_stats'
        tag:
          title: tag
          type: string
        unsubs:
          title: unsubs
          type: integer
      title: tags_info-response
      type: object
    tags_list-response:
      items:
        $ref: '#/components/schemas/tags_list_response_inner'
      type: array
    template:
      properties:
        code:
          title: code
          type: string
        from_email:
          title: from_email
          type: string
        from_name:
          title: from_name
          type: string
        key:
          title: key
          type: string
        labels:
          items:
            type: string
          title: labels
          type: array
        name:
          title: name
          type: string
        publish:
          title: publish
          type: boolean
        subject:
          title: subject
          type: string
        text:
          title: text
          type: string
      title: template
      type: object
    template_detailed:
      example:
        code: code
        from_email: from_email
        subject: subject
        publish_from_email: publish_from_email
        created_at: created_at
        from_name: from_name
        labels:
        - labels
        - labels
        publish_name: publish_name
        publish_subject: publish_subject
        updated_at: updated_at
        publish_text: publish_text
        name: name
        text: text
        publish_from_name: publish_from_name
        published_at: published_at
        publish_code: publish_code
        slug: slug
      properties:
        code:
          title: code
          type: string
        created_at:
          title: created_at
          type: string
        from_email:
          title: from_email
          type: string
        from_name:
          title: from_name
          type: string
        labels:
          items:
            type: string
          title: labels
          type: array
        name:
          title: name
          type: string
        publish_code:
          title: publish_code
          type: string
        publish_from_email:
          title: publish_from_email
          type: string
        publish_from_name:
          title: publish_from_name
          type: string
        publish_name:
          title: publish_name
          type: string
        publish_subject:
          title: publish_subject
          type: string
        publish_text:
          title: publish_text
          type: string
        published_at:
          title: published_at
          type: string
        slug:
          title: slug
          type: string
        subject:
          title: subject
          type: string
        text:
          title: text
          type: string
        updated_at:
          title: updated_at
          type: string
      title: template_detailed
      type: object
    templates_list:
      properties:
        key:
          title: key
          type: string
        label:
          title: label
          type: string
      title: templates_list
      type: object
    templates_list-response:
      items:
        $ref: '#/components/schemas/templates_list_response_inner'
      type: array
    templates_render:
      properties:
        key:
          title: key
          type: string
        merge_vars:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          title: merge_vars
          type: array
        template_content:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          title: template_content
          type: array
        template_name:
          title: template_name
          type: string
      title: templates_render
      type: object
    templates_render-response:
      example:
        html: html
      properties:
        html:
[...]
