openapi: 3.0.1
info:
  contact:
    url: https://www.signl4.com/feedback-we-love-hear-from-you/
    x-twitter: signl4me
  description: "<p>Use our API for systems integration or to build your own use cases.\
    \ Sample scenarios include but are not limited to:</p><ul><li>2-way integration:\
    \ Triggering of Signls and updates in the third party systems when alert state\
    \ changes occur</li><li>Retrieving alarms for logging purposes</li><li>Calendar\
    \ integrations: Creation and management of on-call duties</li><li>Punch users\
    \ in and out based on external calendars</li><li>etc.</li></ul><p>AUTHENTICATION<br>Using\
    \ the API requires an API key, which you can generate in the SIGNL4 portal under\
    \ 'Developers'.<br>This key must then be specified in a special header in every\
    \ HTTP request.<br>This header is called <b style='color:#F8B41F'>X-S4-Api-Key</b>.<br><br>The\
    \ base URL of the API is <a rel='noopener noreferrer' target='_blank' href='https://connect.signl4.com/api/'>https://connect.signl4.com/api/</a>.<br>Copyright\
    \ © Derdack GmbH<br></p>"
  license:
    name: Derdack GmbH
    url: https://www.signl4.com
  title: SIGNL4 API
  version: v1
  x-apisguru-categories:
  - messaging
  x-origin:
  - format: openapi
    url: https://connect.signl4.com/api/docs/v1/swagger.json
    version: "3.0"
  x-providerName: signl4.com
servers:
- url: https://connect.signl4.com/api
security:
- oauth2:
  - public_api_write
  - public_api_read
  - offline_access
tags:
- description: Provide access to all informations about signls and the ability to
    interact with them.
  name: Alerts
- description: Provides access to services and system categories in a SIGNL4 team.
  name: Categories
- description: "Provide access to duty information and the ability to create, delete\
    \ and update them."
  name: Duties
- description: Provide access to all informations about events and their parameters.
  name: Events
- description: Provides access to the prepaid balance and transactions
  name: Prepaid
- description: Provides access to apps that are available in SIGNL4 and e.g. allows
    adding an app to a SIGNL4 team.
  name: Scripts
- description: Provides management capabilities for a SIGNL4 subscription.
  name: Subscriptions
- description: "Provides misc. operations, e.g. for managing settings or preferences,\
    \ of a team in a SIGNL4 subscription."
  name: Teams
- description: Provides management for team members in a SIGNL4 team.
  name: Users
- description: Provides management for outbound notifications (e.g. a Signl was confirmed)
    via webhooks.
  name: Webhooks
paths:
  /alerts:
    post:
      description: Triggers a new alert for your team. All team members on duty will
        receive alert notifications.
      operationId: alerts_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/RaiseAlertInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/RaiseAlertInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RaiseAlertInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/RaiseAlertInfo'
        description: Alert to raise.
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/AlertInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Trigger Alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/acknowledgeAll:
    post:
      description: This method confirms all unhandled alerts your team currently has
        by a specific user.
      operationId: alerts_acknowledge_all_post
      parameters:
      - description: User ID of the user to be used to acknowledge the alarms.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
        x-body-name: body
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          description: Internal general error occured.
      summary: Confirms all visible alerts
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/acknowledgeMultiple:
    post:
      description: This method confirms all alerts provided.
      operationId: alerts_acknowledge_multiple_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
        x-body-name: body
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Acknowlegde multiple alerts
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/closeAll:
    post:
      description: This method closes all acknowledged alerts your team currently
        has.
      operationId: alerts_close_all_post
      parameters:
      - description: User ID of the user to be used to close the alarms.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusFilterInfo'
        x-body-name: body
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Close all acknowledged alerts.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/closeMultiple:
    post:
      description: This method closes all alerts provided.
      operationId: alerts_close_multiple_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
        x-body-name: body
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Close multiple alerts
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/paged:
    post:
      operationId: alerts_paged_post
      parameters:
      - description: "Defines the limit of retrieved alert details per request. 1\
          \ to 100 are allowed per request.\r\n                Number of alerts could\
          \ be less if filtered but at least 1."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: User ID of the user you want to get alerts for.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AlertFilterPublic'
          application/json:
            schema:
              $ref: '#/components/schemas/AlertFilterPublic'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AlertFilterPublic'
          text/json:
            schema:
              $ref: '#/components/schemas/AlertFilterPublic'
        description: The filter defines which alerts are supposed to be retrieved.
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewAlertPagedResultsPublic'
            text/json:
              schema:
                $ref: '#/components/schemas/OverviewAlertPagedResultsPublic'
            text/plain:
              schema:
                $ref: '#/components/schemas/OverviewAlertPagedResultsPublic'
          description: Returns a paged result with found alerts and continuation token
            if more alerts are in the database.
        "204":
          description: There were no alerts found for the specified filter.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required parameters could not be found in the request/claims.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Authorization failed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Gets alerts paged
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/report:
    get:
      description: "Returns information about the occurred alert volume in different\
        \ time periods as well as information about the\r\nresponse behaviour (amount\
        \ of confirmed and unhandled alerts) of your team members."
      operationId: alerts_report_get
      parameters:
      - description: User ID of the user for whom you want a report.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertReport'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertReport'
            text/plain:
              schema:
                $ref: '#/components/schemas/AlertReport'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get Alert Report
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/undoAcknowledgeMultiple:
    post:
      description: This method tries to undo the acknowledgement of multiple alerts
        via a queue. The operation is handled in the background.
      operationId: alerts_undo_acknowledge_multiple_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
        description: Configure which user should be undone for which alerts.
        x-body-name: body
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Queue undo of multiple acknowledgments.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/undoCloseMultiple:
    post:
      description: This method tries to undo multiple alert closes. The operation
        is handled in the background.
      operationId: alerts_undo_close_multiple_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusMultipleInfo'
        x-body-name: body
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Withdraw closure of multiple alerts
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/{alertId}:
    get:
      description: Gets an alert by id.
      operationId: alerts_alert_id_get
      parameters:
      - description: Id of the requested Alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/AlertInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get Alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/{alertId}/acknowledge:
    post:
      operationId: alerts_alert_id_acknowledge_post
      parameters:
      - description: Id to acknowledge an alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/AlertInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: No alert with id was found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Alert can't be acknowledged because it is against the defined
            alert lifecycle.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Acknowledge an alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/{alertId}/annotate:
    post:
      description: Annotates an alert by given Annotation Info.
      operationId: alerts_alert_id_annotate_post
      parameters:
      - description: Id of the alert to annotate.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AlertAnnotationInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/AlertAnnotationInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AlertAnnotationInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/AlertAnnotationInfo'
        description: Annotation Information.
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertAnnotationInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertAnnotationInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/AlertAnnotationInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Annotate Alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/{alertId}/annotations:
    get:
      description: Get annotations of an alert by id.
      operationId: alerts_alert_id_annotations_get
      parameters:
      - description: Id of the requested Alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertAnnotationInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertAnnotationInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/AlertAnnotationInfo'
                type: array
          description: Success
        "204":
          description: No annotations were found for the alert.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Server Error
      summary: Get annotations of an alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/{alertId}/attachments:
    get:
      description: Get attachments of an alert by id.
      operationId: alerts_alert_id_attachments_get
      parameters:
      - description: Id of the requested Alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertAttachmentInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertAttachmentInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/AlertAttachmentInfo'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get attachments of an alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/{alertId}/attachments/{attachmentId}:
    get:
      operationId: alerts_alert_id_attachments_attachment_id_get
      parameters:
      - description: Id of the alert that contains the wanted attachment.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      - description: "Id of the attachment, that you want to retrieve."
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional parameter defining the wanted width of the picture that
          is retrieved.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional parameter defining the wanted height of the picture
          that is retrieved.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional parameter defining whether it's wanted to scale the\
          \ retrieved image. Default is set to\r\ntrue."
        explode: true
        in: query
        name: scale
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
            text/plain:
              schema:
                format: binary
                type: string
          description: Returns the attachment image with additional meta information.
        "204":
          description: The image of the attachment was not uploaded yet.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: A passed parameter was either empty or invalid.
        "403":
          description: Authorization failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: The attachment image was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Gets a specified attachment of a specified alert.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/{alertId}/close:
    post:
      operationId: alerts_alert_id_close_post
      parameters:
      - description: Id to acknowledge an alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/AlertInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: No alert with id was found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Alert can't be closed because it is against the defined alert
            lifecycle.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Close an alert
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/{alertId}/notifications:
    get:
      description: Get notifications of all users by alert id.
      operationId: alerts_alert_id_notifications_get
      parameters:
      - description: Id of the requested Alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertNotificationInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertNotificationInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/AlertNotificationInfo'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get alert notifications
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/{alertId}/overview:
    get:
      description: Get overview alert by id.
      operationId: alerts_alert_id_overview_get
      parameters:
      - description: Id of the requested Alert.
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
            text/json:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
            text/plain:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
          description: Returns alert with all information attached.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Server Error
      summary: Get an overview alert.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /alerts/{alertId}/undoAcknowledge:
    post:
      description: This method tries to undo an alert acknowledgement.
      operationId: alerts_alert_id_undo_acknowledge_post
      parameters:
      - explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
            text/json:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
            text/plain:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
          description: Returns updated alert.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: User is not allowed to undo the acknowledgement.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Undo the acknowledgement of an alert.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /alerts/{alertId}/undoClose:
    post:
      description: This method tries to undo an alert close.
      operationId: alerts_alert_id_undo_close_post
      parameters:
      - explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeAlertStatusInfo'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
            text/json:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
            text/plain:
              schema:
                $ref: '#/components/schemas/OverviewAlert'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: User is not allowed to undo the close.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Undo the closure of an alert.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
      x-codegen-request-body-name: body
  /categories/images:
    get:
      operationId: categories_images_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/plain:
              schema:
                items:
                  type: string
                type: array
          description: Returns the alert categories.
        "204":
          description: Request was canceled.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access the resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: No categories were found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: "Gets the names of all alert category images.\r\nYou can get the image\
        \ by going to account.signl4.com/images/alerts/categoryImageName.svg"
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/{teamId}:
    get:
      description: "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7"
      operationId: categories_team_id_get
      parameters:
      - description: ID of the team the categories belong to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryInfo'
                type: array
          description: Returns the category infos
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Get all categories
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    post:
      description: "Sample Request:\r\n            \r\n    POST /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7\r\
        \n    {\r\n        \"name\": \"Water\",\r\n        \"imageName\": \"water.svg\"\
        ,\r\n        \"color\": \"#0000cc\",\r\n        \"keywordMatching\": \"Any\"\
        ,\r\n        \"keywords\": [\r\n            {\r\n                \"value\"\
        : \"H2O\"\r\n            },\r\n            {\r\n                \"value\"\
        : \"Water\"\r\n            }\r\n        ]\r\n    }"
      operationId: categories_team_id_post
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
        description: Category to be created
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
          description: Returns the newly created category
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Create a new category
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
      x-codegen-request-body-name: body
  /categories/{teamId}/metrics:
    get:
      description: "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/metrics"
      operationId: categories_team_id_metrics_get
      parameters:
      - description: ID of the team the categories belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMetrics'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMetrics'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMetrics'
                type: array
          description: Returns a list of category metrics
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Get metrics for all categories
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/{teamId}/{categoryId}:
    delete:
      description: "Sample Request:\r\n            \r\n    DELETE /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e"
      operationId: categories_team_id_category_id_delete
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the category to delete
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: If the delete operation was successful
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Delete an existing category
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    get:
      description: "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e"
      operationId: categories_team_id_category_id_get
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the category to get
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
          description: Returns the category details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Get a specific category
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    put:
      description: "Sample Request:\r\n            \r\n    PUT /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e\r\
        \n    {\r\n        \"name\": \"Water-Updated\",\r\n        \"imageName\":\
        \ \"water.svg\",\r\n        \"color\": \"#0000cc\",\r\n        \"keywordMatching\"\
        : \"All\",\r\n        \"keywords\": [\r\n            {\r\n               \
        \ \"value\": \"H2O\"\r\n            },\r\n            {\r\n              \
        \  \"value\": \"Water\"\r\n            },\r\n            {\r\n           \
        \     \"value\": \"Wet\"\r\n            }\r\n        ]\r\n    }"
      operationId: categories_team_id_category_id_put
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/CategoryInfo'
        description: Category to be updated
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryInfo'
          description: Returns the updated category
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Update an existing category
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
      x-codegen-request-body-name: body
  /categories/{teamId}/{categoryId}/metrics:
    get:
      description: "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e/metrics"
      operationId: categories_team_id_category_id_metrics_get
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the category to get
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryMetrics'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryMetrics'
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryMetrics'
          description: Returns the category metrics
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Get metrics for a specific category
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/{teamId}/{categoryId}/subscriptions:
    get:
      description: "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e/subscriptions\r\
        \n    {\r\n    }"
      operationId: categories_team_id_category_id_subscriptions_get
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - description: Category to get subscriptions for
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySubscriptionInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySubscriptionInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySubscriptionInfo'
                type: array
          description: Returns the category subscriptions
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Get category subscriptions
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    post:
      description: "Sample Request:\r\n            \r\n    POST /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e/subscriptions\r\
        \n    {\r\n    }"
      operationId: categories_team_id_category_id_subscriptions_post
      parameters:
      - description: ID of the team the category belongs to
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - description: Category to be updated
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/CategorySubscriptionInfo'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CategorySubscriptionInfo'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/CategorySubscriptionInfo'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/CategorySubscriptionInfo'
              type: array
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySubscriptionInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySubscriptionInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySubscriptionInfo'
                type: array
          description: Returns the updated category subscriptions
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If the input is not valid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If you have no permission to access this resource
        "404":
          description: If the resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: If any server side errors occur
      summary: Set category subscriptions
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
      x-codegen-request-body-name: body
  /events/paged:
    post:
      description: "Get overview event paged. If there are more results, you also\
        \ get a continuation token which you can add to the event filter."
      operationId: events_paged_post
      parameters:
      - description: "Defines the limit of retrieved alert details per request. 1\
          \ to 100 are allowed per request.\r\n                 Number of alerts could\
          \ be less if filtered but at least 1."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/EventFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/EventFilter'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EventFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/EventFilter'
        description: The filter defines which alerts are supposed to be retrieved.
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewEventPagedResultsPublic'
            text/json:
              schema:
                $ref: '#/components/schemas/OverviewEventPagedResultsPublic'
            text/plain:
              schema:
                $ref: '#/components/schemas/OverviewEventPagedResultsPublic'
          description: "Returns paged result with found events and continuation token,\
            \ if database holds more events."
        "204":
          description: No event could be found (with passed filter)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required parameters could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get overview event paged.
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
      x-codegen-request-body-name: body
  /events/{eventId}/overview:
    get:
      description: Get overview event by id.
      operationId: events_event_id_overview_get
      parameters:
      - description: Id of event to get.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewEvent'
            text/json:
              schema:
                $ref: '#/components/schemas/OverviewEvent'
            text/plain:
              schema:
                $ref: '#/components/schemas/OverviewEvent'
          description: Returns overview event with specific id.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required parameters could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Event with specified id could not be found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get overview event
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /events/{eventId}/parameters:
    get:
      description: Get parameters of an event by id.
      operationId: events_event_id_parameters_get
      parameters:
      - description: Event Id of the requested Alert.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EventParameterInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/EventParameterInfo'
                type: array
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/EventParameterInfo'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required information could not be found in the request/claims.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Required entities could not be found in the database.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Internal general error occured.
      summary: Get event parameters
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /prepaid/balance:
    get:
      operationId: prepaid_balance_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidBalanceInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/PrepaidBalanceInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/PrepaidBalanceInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Server Error
      summary: Get your subscription's current prepaid balance.
      tags:
      - Prepaid
      x-openapi-router-controller: openapi_server.controllers.prepaid_controller
  /prepaid/settings:
    get:
      operationId: prepaid_settings_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidSettingsInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/PrepaidSettingsInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/PrepaidSettingsInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Server Error
      summary: Get your subscription's current prepaid settings.
      tags:
      - Prepaid
      x-openapi-router-controller: openapi_server.controllers.prepaid_controller
    put:
      operationId: prepaid_settings_put
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/PrepaidSettingsInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidSettingsInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PrepaidSettingsInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/PrepaidSettingsInfo'
        description: Settings object containing the new values.
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidSettingsInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/PrepaidSettingsInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/PrepaidSettingsInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseContent'
            text/plain:
              schema:
[...]
