openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: 'Transfers data from external data sources to a Google Cloud Storage
    bucket or between Google Cloud Storage buckets. '
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Storage Transfer API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://storagetransfer.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: storagetransfer
externalDocs:
  url: https://cloud.google.com/storage-transfer/docs
servers:
- url: https://storagetransfer.googleapis.com/
tags:
- name: googleServiceAccounts
- name: projects
- name: transferJobs
- name: transferOperations
paths:
  /v1/googleServiceAccounts/{projectId}:
    get:
      description: Returns the Google service account that is used by Storage Transfer
        Service to access buckets in the project where transfers run or in other projects.
        Each Google service account is associated with one Google Cloud project. Users
        should add this service account to the Google Cloud Storage bucket ACLs to
        grant access to Storage Transfer Service. This service account is created
        and owned by Storage Transfer Service and can only be used by Storage Transfer
        Service.
      operationId: storagetransfer.googleServiceAccounts.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the Google Cloud project that the Google
          service account is associated with.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleServiceAccount'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - googleServiceAccounts
      x-accepts:
      - application/json
  /v1/projects/{projectId}/agentPools:
    get:
      description: Lists agent pools.
      operationId: storagetransfer.projects.agentPools.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the Google Cloud project that owns the job.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: "An optional list of query parameters specified as JSON text\
          \ in the form of: `{\"agentPoolNames\":[\"agentpool1\",\"agentpool2\",...]}`\
          \ Since `agentPoolNames` support multiple values, its values must be specified\
          \ with array notation. When the filter is either empty or not provided,\
          \ the list returns all agent pools for the project."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The list page size. The max allowed value is `256`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentPoolsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates an agent pool resource.
      operationId: storagetransfer.projects.agentPools.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the Google Cloud project that owns the agent
          pool.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The ID of the agent pool to create. The `agent_pool_id`\
          \ must meet the following requirements: * Length of 128 characters or less.\
          \ * Not start with the string `goog`. * Start with a lowercase ASCII character,\
          \ followed by: * Zero or more: lowercase Latin alphabet characters, numerals,\
          \ hyphens (`-`), periods (`.`), underscores (`_`), or tildes (`~`). * One\
          \ or more numerals or lowercase ASCII characters. As expressed by the regular\
          \ expression: `^(?!goog)[a-z]([a-z0-9-._~]*[a-z0-9])?$`."
        explode: true
        in: query
        name: agentPoolId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPool'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/transferJobs:
    get:
      description: Lists transfer jobs.
      operationId: storagetransfer.transferJobs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. A list of query parameters specified as JSON text\
          \ in the form of: `{\"projectId\":\"my_project_id\", \"jobNames\":[\"jobid1\"\
          ,\"jobid2\",...], \"jobStatuses\":[\"status1\",\"status2\",...]}` Since\
          \ `jobNames` and `jobStatuses` support multiple values, their values must\
          \ be specified with array notation. `projectId` is required. `jobNames`\
          \ and `jobStatuses` are optional. The valid values for `jobStatuses` are\
          \ case-insensitive: ENABLED, DISABLED, and DELETED."
        explode: true
        in: query
        name: filter
        required: true
        schema:
          type: string
        style: form
      - description: The list page size. The max allowed value is 256.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransferJobsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferJobs
      x-accepts:
      - application/json
    post:
      description: Creates a transfer job that runs periodically.
      operationId: storagetransfer.transferJobs.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferJob'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferJob'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferJobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{jobName}:
    delete:
      description: Deletes a transfer job. Deleting a transfer job sets its status
        to DELETED.
      operationId: storagetransfer.transferJobs.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The job to delete.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the Google Cloud project that owns the job.
        explode: true
        in: query
        name: projectId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferJobs
      x-accepts:
      - application/json
    get:
      description: Gets a transfer job.
      operationId: storagetransfer.transferJobs.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The job to get.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the Google Cloud project that owns the job.
        explode: true
        in: query
        name: projectId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferJob'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferJobs
      x-accepts:
      - application/json
    patch:
      description: "Updates a transfer job. Updating a job's transfer spec does not\
        \ affect transfer operations that are running already. **Note:** The job's\
        \ status field can be modified using this RPC (for example, to set a job's\
        \ status to DELETED, DISABLED, or ENABLED)."
      operationId: storagetransfer.transferJobs.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of job to update.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransferJobRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferJob'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferJobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{jobName}:run:
    post:
      description: "Starts a new operation for the specified transfer job. A `TransferJob`\
        \ has a maximum of one active `TransferOperation`. If this method is called\
        \ while a `TransferOperation` is active, an error is returned."
      operationId: storagetransfer.transferJobs.run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the transfer job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunTransferJobRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferJobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:
    delete:
      description: Deletes an agent pool.
      operationId: storagetransfer.projects.agentPools.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the agent pool to delete.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Lists transfer operations. Operations are ordered by their creation
        time in reverse chronological order.
      operationId: storagetransfer.transferOperations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the type being listed; must be `transferOperations`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. A list of query parameters specified as JSON text\
          \ in the form of: `{\"projectId\":\"my_project_id\", \"jobNames\":[\"jobid1\"\
          ,\"jobid2\",...], \"jobNamePattern\": \"job_name_pattern\", \"operationNames\"\
          :[\"opid1\",\"opid2\",...], \"operationNamePattern\": \"operation_name_pattern\"\
          , \"minCreationTime\": \"min_creation_time\", \"maxCreationTime\": \"max_creation_time\"\
          , \"transferStatuses\":[\"status1\",\"status2\",...]}` Since `jobNames`,\
          \ `operationNames`, and `transferStatuses` support multiple values, they\
          \ must be specified with array notation. `projectId` is the only argument\
          \ that is required. If specified, `jobNamePattern` and `operationNamePattern`\
          \ must match the full job or operation name respectively. '*' is a wildcard\
          \ matching 0 or more characters. `minCreationTime` and `maxCreationTime`\
          \ should be timestamps encoded as a string in the [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)\
          \ format. The valid values for `transferStatuses` are case-insensitive:\
          \ IN_PROGRESS, PAUSED, SUCCESS, FAILED, and ABORTED."
        explode: true
        in: query
        name: filter
        required: true
        schema:
          type: string
        style: form
      - description: The list page size. The max allowed value is 256.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferOperations
      x-accepts:
      - application/json
    patch:
      description: Updates an existing agent pool resource.
      operationId: storagetransfer.projects.agentPools.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Specifies a unique string that identifies the agent\
          \ pool. Format: `projects/{project_id}/agentPools/{agent_pool_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "The [field mask] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf)\
          \ of the fields in `agentPool` to update in this request. The following\
          \ `agentPool` fields can be updated: * display_name * bandwidth_limit"
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPool'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:cancel:
    post:
      description: "Cancels a transfer. Use the transferOperations.get method to check\
        \ if the cancellation succeeded or if the operation completed despite the\
        \ `cancel` request. When you cancel an operation, the currently running transfer\
        \ is interrupted. For recurring transfer jobs, the next instance of the transfer\
        \ job will still run. For example, if your job is configured to run every\
        \ day at 1pm and you cancel Monday's operation at 1:05pm, Monday's transfer\
        \ will stop. However, a transfer job will still be attempted on Tuesday. This\
        \ applies only to currently running operations. If an operation is not currently\
        \ running, `cancel` does nothing. *Caution:* Canceling a transfer job can\
        \ leave your data in an unknown state. We recommend that you restore the state\
        \ at both the destination and the source after the `cancel` request completes\
        \ so that your data is in a consistent state. When you cancel a job, the next\
        \ job computes a delta of files and may repair any inconsistent state. For\
        \ instance, if you run a job every day, and today's job found 10 new files\
        \ and transferred five files before you canceled the job, tomorrow's transfer\
        \ operation will compute a new delta with the five files that were not copied\
        \ today plus any new files discovered tomorrow."
      operationId: storagetransfer.transferOperations.cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferOperations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:pause:
    post:
      description: Pauses a transfer operation.
      operationId: storagetransfer.transferOperations.pause
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the transfer operation.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseTransferOperationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferOperations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:resume:
    post:
      description: Resumes a transfer operation that is paused.
      operationId: storagetransfer.transferOperations.resume
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the transfer operation.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeTransferOperationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - transferOperations
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AgentPool:
      description: Represents an On-Premises Agent pool.
      example:
        displayName: displayName
        bandwidthLimit:
          limitMbps: limitMbps
        name: name
        state: STATE_UNSPECIFIED
      properties:
        bandwidthLimit:
          $ref: '#/components/schemas/BandwidthLimit'
        displayName:
          description: Specifies the client-specified AgentPool description.
          type: string
        name:
          description: "Required. Specifies a unique string that identifies the agent\
            \ pool. Format: `projects/{project_id}/agentPools/{agent_pool_id}`"
          type: string
        state:
          description: Output only. Specifies the state of the AgentPool.
          enum:
          - STATE_UNSPECIFIED
          - CREATING
          - CREATED
          - DELETING
          readOnly: true
          type: string
      type: object
    AwsAccessKey:
      description: "AWS access key (see [AWS Security Credentials](https://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html)).\
        \ For information on our data retention policy for user credentials, see [User\
        \ credentials](/storage-transfer/docs/data-retention#user-credentials)."
      example:
        accessKeyId: accessKeyId
        secretAccessKey: secretAccessKey
      properties:
        accessKeyId:
          description: Required. AWS access key ID.
          type: string
        secretAccessKey:
          description: Required. AWS secret access key. This field is not returned
            in RPC responses.
          type: string
      type: object
    AwsS3CompatibleData:
      description: An AwsS3CompatibleData resource.
      example:
        bucketName: bucketName
        path: path
        endpoint: endpoint
        s3Metadata:
          protocol: NETWORK_PROTOCOL_UNSPECIFIED
          listApi: LIST_API_UNSPECIFIED
          requestModel: REQUEST_MODEL_UNSPECIFIED
          authMethod: AUTH_METHOD_UNSPECIFIED
        region: region
      properties:
        bucketName:
          description: Required. Specifies the name of the bucket.
          type: string
        endpoint:
          description: Required. Specifies the endpoint of the storage service.
          type: string
        path:
          description: "Specifies the root path to transfer objects. Must be an empty\
            \ string or full path name that ends with a '/'. This field is treated\
            \ as an object prefix. As such, it should generally not begin with a '/'."
          type: string
        region:
          description: Specifies the region to sign requests with. This can be left
            blank if requests should be signed with an empty region.
          type: string
        s3Metadata:
          $ref: '#/components/schemas/S3CompatibleMetadata'
      type: object
    AwsS3Data:
      description: "An AwsS3Data resource can be a data source, but not a data sink.\
        \ In an AwsS3Data resource, an object's name is the S3 object's key name."
      example:
        bucketName: bucketName
        path: path
        awsAccessKey:
          accessKeyId: accessKeyId
          secretAccessKey: secretAccessKey
        credentialsSecret: credentialsSecret
        roleArn: roleArn
        cloudfrontDomain: cloudfrontDomain
      properties:
        awsAccessKey:
          $ref: '#/components/schemas/AwsAccessKey'
        bucketName:
          description: "Required. S3 Bucket name (see [Creating a bucket](https://docs.aws.amazon.com/AmazonS3/latest/dev/create-bucket-get-location-example.html))."
          type: string
        cloudfrontDomain:
          description: "Optional. Cloudfront domain name pointing to this bucket (as\
            \ origin), to use when fetching. Format: `https://{id}.cloudfront.net`\
            \ or any valid custom domain `https://...`"
          type: string
        credentialsSecret:
          description: "Optional. The Resource name of a secret in Secret Manager.\
            \ AWS credentials must be stored in Secret Manager in JSON format: { \"\
            access_key_id\": \"ACCESS_KEY_ID\", \"secret_access_key\": \"SECRET_ACCESS_KEY\"\
            \ } GoogleServiceAccount must be granted `roles/secretmanager.secretAccessor`\
            \ for the resource. See [Configure access to a source: Amazon S3] (https://cloud.google.com/storage-transfer/docs/source-amazon-s3#secret_manager)\
            \ for more information. If `credentials_secret` is specified, do not specify\
            \ role_arn or aws_access_key. This feature is in [preview](https://cloud.google.com/terms/service-terms#1).\
            \ Format: `projects/{project_number}/secrets/{secret_name}`"
          type: string
        path:
          description: "Root path to transfer objects. Must be an empty string or\
            \ full path name that ends with a '/'. This field is treated as an object\
            \ prefix. As such, it should generally not begin with a '/'."
          type: string
        roleArn:
          description: "The Amazon Resource Name (ARN) of the role to support temporary\
            \ credentials via `AssumeRoleWithWebIdentity`. For more information about\
            \ ARNs, see [IAM ARNs](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns).\
            \ When a role ARN is provided, Transfer Service fetches temporary credentials\
            \ for the session using a `AssumeRoleWithWebIdentity` call for the provided\
            \ role using the GoogleServiceAccount for this project."
          type: string
      type: object
    AzureBlobStorageData:
      description: "An AzureBlobStorageData resource can be a data source, but not\
        \ a data sink. An AzureBlobStorageData resource represents one Azure container.\
        \ The storage account determines the [Azure endpoint](https://docs.microsoft.com/en-us/azure/storage/common/storage-create-storage-account#storage-account-endpoints).\
        \ In an AzureBlobStorageData resource, a blobs's name is the [Azure Blob Storage\
        \ blob's key name](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#blob-names)."
      example:
        container: container
        path: path
        credentialsSecret: credentialsSecret
        azureCredentials:
          sasToken: sasToken
        storageAccount: storageAccount
      properties:
        azureCredentials:
          $ref: '#/components/schemas/AzureCredentials'
        container:
          description: Required. The container to transfer from the Azure Storage
            account.
          type: string
        credentialsSecret:
          description: "Optional. The Resource name of a secret in Secret Manager.\
            \ The Azure SAS token must be stored in Secret Manager in JSON format:\
            \ { \"sas_token\" : \"SAS_TOKEN\" } GoogleServiceAccount must be granted\
            \ `roles/secretmanager.secretAccessor` for the resource. See [Configure\
            \ access to a source: Microsoft Azure Blob Storage] (https://cloud.google.com/storage-transfer/docs/source-microsoft-azure#secret_manager)\
            \ for more information. If `credentials_secret` is specified, do not specify\
            \ azure_credentials. This feature is in [preview](https://cloud.google.com/terms/service-terms#1).\
            \ Format: `projects/{project_number}/secrets/{secret_name}`"
          type: string
        path:
          description: "Root path to transfer objects. Must be an empty string or\
            \ full path name that ends with a '/'. This field is treated as an object\
            \ prefix. As such, it should generally not begin with a '/'."
          type: string
        storageAccount:
          description: Required. The name of the Azure Storage account.
          type: string
      type: object
    AzureCredentials:
      description: "Azure credentials For information on our data retention policy\
        \ for user credentials, see [User credentials](/storage-transfer/docs/data-retention#user-credentials)."
      example:
        sasToken: sasToken
      properties:
        sasToken:
          description: "Required. Azure shared access signature (SAS). For more information\
            \ about SAS, see [Grant limited access to Azure Storage resources using\
            \ shared access signatures (SAS)](https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview)."
          type: string
      type: object
    BandwidthLimit:
      description: Specifies a bandwidth limit for an agent pool.
      example:
        limitMbps: limitMbps
      properties:
        limitMbps:
          description: "Bandwidth rate in megabytes per second, distributed across\
            \ all the agents in the pool."
          format: int64
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 2
        year: 7
        day: 5
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          type: integer
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    ErrorLogEntry:
      description: An entry describing an error that has occurred.
      properties:
        errorDetails:
          description: A list of messages that carry the error details.
          items:
            type: string
          type: array
        url:
          description: "Required. A URL that refers to the target (a data source,\
            \ a data sink, or an object) with which the error is associated."
          type: string
      type: object
    ErrorSummary:
      description: "A summary of errors by error code, plus a count and sample error\
        \ log entries."
      properties:
        errorCode:
          description: Required.
          enum:
          - OK
          - CANCELLED
          - UNKNOWN
          - INVALID_ARGUMENT
          - DEADLINE_EXCEEDED
          - NOT_FOUND
          - ALREADY_EXISTS
          - PERMISSION_DENIED
          - UNAUTHENTICATED
          - RESOURCE_EXHAUSTED
          - FAILED_PRECONDITION
          - ABORTED
          - OUT_OF_RANGE
          - UNIMPLEMENTED
          - INTERNAL
          - UNAVAILABLE
          - DATA_LOSS
          type: string
        errorCount:
          description: Required. Count of this type of error.
          format: int64
          type: string
        errorLogEntries:
          description: Error samples. At most 5 error log entries are recorded for
            a given error code for a single transfer operation.
          items:
            $ref: '#/components/schemas/ErrorLogEntry'
          type: array
      type: object
    EventStream:
      description: Specifies the Event-driven transfer options. Event-driven transfers
        listen to an event stream to transfer updated files.
      example:
        eventStreamExpirationTime: eventStreamExpirationTime
        eventStreamStartTime: eventStreamStartTime
        name: name
      properties:
        eventStreamExpirationTime:
          description: "Specifies the data and time at which Storage Transfer Service\
            \ stops listening for events from this stream. After this time, any transfers\
            \ in progress will complete, but no new transfers are initiated."
          format: google-datetime
          type: string
        eventStreamStartTime:
          description: "Specifies the date and time that Storage Transfer Service\
            \ starts listening for events from this stream. If no start time is specified\
            \ or start time is in the past, Storage Transfer Service starts listening\
            \ immediately."
          format: google-datetime
          type: string
        name:
          description: "Required. Specifies a unique name of the resource such as\
            \ AWS SQS ARN in the form 'arn:aws:sqs:region:account_id:queue_name',\
            \ or Pub/Sub subscription resource name in the form 'projects/{project}/subscriptions/{sub}'."
          type: string
      type: object
    GcsData:
      description: "In a GcsData resource, an object's name is the Cloud Storage object's\
        \ name and its \"last modification time\" refers to the object's `updated`\
        \ property of Cloud Storage objects, which changes when the content or the\
        \ metadata of the object is updated."
      example:
        bucketName: bucketName
        path: path
        managedFolderTransferEnabled: true
      properties:
        bucketName:
          description: "Required. Cloud Storage bucket name. Must meet [Bucket Name\
            \ Requirements](/storage/docs/naming#requirements)."
          type: string
        managedFolderTransferEnabled:
          description: "Transfer managed folders is in public preview. This option\
            \ is only applicable to the Cloud Storage source bucket. If set to true:\
            \ - The source managed folder will be transferred to the destination bucket\
            \ - The destination managed folder will always be overwritten, other OVERWRITE\
            \ options will not be supported"
          type: boolean
        path:
          description: "Root path to transfer objects. Must be an empty string or\
            \ full path name that ends with a '/'. This field is treated as an object\
            \ prefix. As such, it should generally not begin with a '/'. The root\
            \ path value must meet [Object Name Requirements](/storage/docs/naming#objectnames)."
          type: string
      type: object
    GoogleServiceAccount:
      description: Google service account
      example:
        accountEmail: accountEmail
        subjectId: subjectId
      properties:
        accountEmail:
          description: Email address of the service account.
          type: string
        subjectId:
          description: Unique identifier for the service account.
          type: string
      type: object
    HdfsData:
      description: "An HdfsData resource specifies a path within an HDFS entity (e.g.\
        \ a cluster). All cluster-specific settings, such as namenodes and ports,\
        \ are configured on the transfer agents servicing requests, so HdfsData only\
        \ contains the root path to the data in our transfer."
      example:
        path: path
      properties:
        path:
          description: Root path to transfer files.
          type: string
      type: object
    HttpData:
      description: "An HttpData resource specifies a list of objects on the web to\
        \ be transferred over HTTP. The information of the objects to be transferred\
        \ is contained in a file referenced by a URL. The first line in the file must\
        \ be `\"TsvHttpData-1.0\"`, which specifies the format of the file. Subsequent\
        \ lines specify the information of the list of objects, one object per list\
        \ entry. Each entry has the following tab-delimited fields: * **HTTP URL**\
        \ — The location of the object. * **Length** — The size of the object in bytes.\
        \ * **MD5** — The base64-encoded MD5 hash of the object. For an example of\
        \ a valid TSV file, see [Transferring data from URLs](https://cloud.google.com/storage-transfer/docs/create-url-list).\
        \ When transferring data based on a URL list, keep the following in mind:\
        \ * When an object located at `http(s)://hostname:port/` is transferred to\
        \ a data sink, the name of the object at the data sink is `/`. * If the specified\
        \ size of an object does not match the actual size of the object fetched,\
        \ the object is not transferred. * If the specified MD5 does not match the\
        \ MD5 computed from the transferred bytes, the object transfer fails. * Ensure\
        \ that each URL you specify is publicly accessible. For example, in Cloud\
        \ Storage you can [share an object publicly] (/storage/docs/cloud-console#_sharingdata)\
        \ and get a link to it. * Storage Transfer Service obeys `robots.txt` rules\
        \ and requires the source HTTP server to support `Range` requests and to return\
        \ a `Content-Length` header in each response. * ObjectConditions have no effect\
        \ when filtering objects to transfer."
      example:
        listUrl: listUrl
      properties:
        listUrl:
          description: "Required. The URL that points to the file that stores the\
            \ object list entries. This file must allow public access. Currently,\
            \ only URLs with HTTP and HTTPS schemes are supported."
          type: string
      type: object
    ListAgentPoolsResponse:
      description: Response from ListAgentPools.
      example:
        nextPageToken: nextPageToken
        agentPools:
        - displayName: displayName
          bandwidthLimit:
            limitMbps: limitMbps
          name: name
          state: STATE_UNSPECIFIED
        - displayName: displayName
          bandwidthLimit:
            limitMbps: limitMbps
          name: name
          state: STATE_UNSPECIFIED
      properties:
        agentPools:
          description: A list of agent pools.
          items:
            $ref: '#/components/schemas/AgentPool'
          type: array
        nextPageToken:
          description: The list next page token.
          type: string
      type: object
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      example:
        operations:
        - metadata:
            key: ""
          response:
            key: ""
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
        - metadata:
            key: ""
          response:
            key: ""
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          description: A list of operations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    ListTransferJobsResponse:
      description: Response from ListTransferJobs.
      example:
        nextPageToken: nextPageToken
        transferJobs:
        - creationTime: creationTime
          lastModificationTime: lastModificationTime
          description: description
          deletionTime: deletionTime
          schedule:
            scheduleEndDate:
              month: 2
              year: 7
              day: 5
            scheduleStartDate:
              month: 2
              year: 7
              day: 5
            repeatInterval: repeatInterval
            endTimeOfDay:
              hours: 0
              seconds: 5
              nanos: 1
              minutes: 6
            startTimeOfDay:
              hours: 0
              seconds: 5
              nanos: 1
              minutes: 6
          loggingConfig:
            logActions:
            - LOGGABLE_ACTION_UNSPECIFIED
            - LOGGABLE_ACTION_UNSPECIFIED
            enableOnpremGcsTransferLogs: true
            logActionStates:
            - LOGGABLE_ACTION_STATE_UNSPECIFIED
            - LOGGABLE_ACTION_STATE_UNSPECIFIED
          eventStream:
            eventStreamExpirationTime: eventStreamExpirationTime
            eventStreamStartTime: eventStreamStartTime
            name: name
          name: name
          transferSpec:
            sinkAgentPoolName: sinkAgentPoolName
            awsS3CompatibleDataSource:
              bucketName: bucketName
              path: path
              endpoint: endpoint
              s3Metadata:
                protocol: NETWORK_PROTOCOL_UNSPECIFIED
                listApi: LIST_API_UNSPECIFIED
                requestModel: REQUEST_MODEL_UNSPECIFIED
                authMethod: AUTH_METHOD_UNSPECIFIED
              region: region
            azureBlobStorageDataSource:
              container: container
              path: path
              credentialsSecret: credentialsSecret
              azureCredentials:
                sasToken: sasToken
              storageAccount: storageAccount
            posixDataSink:
              rootDirectory: rootDirectory
            awsS3DataSource:
              bucketName: bucketName
              path: path
              awsAccessKey:
                accessKeyId: accessKeyId
                secretAccessKey: secretAccessKey
              credentialsSecret: credentialsSecret
              roleArn: roleArn
              cloudfrontDomain: cloudfrontDomain
            sourceAgentPoolName: sourceAgentPoolName
            gcsDataSource:
              bucketName: bucketName
              path: path
              managedFolderTransferEnabled: true
            gcsDataSink:
              bucketName: bucketName
              path: path
              managedFolderTransferEnabled: true
            posixDataSource:
              rootDirectory: rootDirectory
            hdfsDataSource:
              path: path
            objectConditions:
              minTimeElapsedSinceLastModification: minTimeElapsedSinceLastModification
              includePrefixes:
              - includePrefixes
              - includePrefixes
              lastModifiedBefore: lastModifiedBefore
              lastModifiedSince: lastModifiedSince
              excludePrefixes:
              - excludePrefixes
              - excludePrefixes
              maxTimeElapsedSinceLastModification: maxTimeElapsedSinceLastModification
            gcsIntermediateDataLocation:
              bucketName: bucketName
              path: path
              managedFolderTransferEnabled: true
            httpDataSource:
              listUrl: listUrl
            transferManifest:
              location: location
            transferOptions:
              deleteObjectsUniqueInSink: true
              overwriteObjectsAlreadyExistingInSink: true
              metadataOptions:
                mode: MODE_UNSPECIFIED
                uid: UID_UNSPECIFIED
                storageClass: STORAGE_CLASS_UNSPECIFIED
                gid: GID_UNSPECIFIED
                kmsKey: KMS_KEY_UNSPECIFIED
                symlink: SYMLINK_UNSPECIFIED
                temporaryHold: TEMPORARY_HOLD_UNSPECIFIED
                timeCreated: TIME_CREATED_UNSPECIFIED
                acl: ACL_UNSPECIFIED
              deleteObjectsFromSourceAfterTransfer: true
              overwriteWhen: OVERWRITE_WHEN_UNSPECIFIED
          notificationConfig:
            eventTypes:
            - EVENT_TYPE_UNSPECIFIED
            - EVENT_TYPE_UNSPECIFIED
            pubsubTopic: pubsubTopic
            payloadFormat: PAYLOAD_FORMAT_UNSPECIFIED
          projectId: projectId
          latestOperationName: latestOperationName
          status: STATUS_UNSPECIFIED
        - creationTime: creationTime
          lastModificationTime: lastModificationTime
          description: description
          deletionTime: deletionTime
          schedule:
            scheduleEndDate:
              month: 2
              year: 7
              day: 5
            scheduleStartDate:
              month: 2
              year: 7
              day: 5
            repeatInterval: repeatInterval
            endTimeOfDay:
              hours: 0
              seconds: 5
              nanos: 1
              minutes: 6
            startTimeOfDay:
              hours: 0
              seconds: 5
              nanos: 1
              minutes: 6
          loggingConfig:
            logActions:
            - LOGGABLE_ACTION_UNSPECIFIED
            - LOGGABLE_ACTION_UNSPECIFIED
            enableOnpremGcsTransferLogs: true
            logActionStates:
            - LOGGABLE_ACTION_STATE_UNSPECIFIED
            - LOGGABLE_ACTION_STATE_UNSPECIFIED
          eventStream:
            eventStreamExpirationTime: eventStreamExpirationTime
            eventStreamStartTime: eventStreamStartTime
            name: name
          name: name
          transferSpec:
            sinkAgentPoolName: sinkAgentPoolName
            awsS3CompatibleDataSource:
              bucketName: bucketName
              path: path
              endpoint: endpoint
              s3Metadata:
                protocol: NETWORK_PROTOCOL_UNSPECIFIED
                listApi: LIST_API_UNSPECIFIED
                requestModel: REQUEST_MODEL_UNSPECIFIED
                authMethod: AUTH_METHOD_UNSPECIFIED
              region: region
            azureBlobStorageDataSource:
              container: container
              path: path
              credentialsSecret: credentialsSecret
              azureCredentials:
                sasToken: sasToken
              storageAccount: storageAccount
            posixDataSink:
              rootDirectory: rootDirectory
            awsS3DataSource:
              bucketName: bucketName
              path: path
              awsAccessKey:
                accessKeyId: accessKeyId
                secretAccessKey: secretAccessKey
              credentialsSecret: credentialsSecret
              roleArn: roleArn
              cloudfrontDomain: cloudfrontDomain
            sourceAgentPoolName: sourceAgentPoolName
            gcsDataSource:
              bucketName: bucketName
              path: path
              managedFolderTransferEnabled: true
            gcsDataSink:
              bucketName: bucketName
              path: path
              managedFolderTransferEnabled: true
            posixDataSource:
              rootDirectory: rootDirectory
            hdfsDataSource:
              path: path
            objectConditions:
              minTimeElapsedSinceLastModification: minTimeElapsedSinceLastModification
              includePrefixes:
              - includePrefixes
              - includePrefixes
              lastModifiedBefore: lastModifiedBefore
              lastModifiedSince: lastModifiedSince
              excludePrefixes:
              - excludePrefixes
              - excludePrefixes
              maxTimeElapsedSinceLastModification: maxTimeElapsedSinceLastModification
            gcsIntermediateDataLocation:
              bucketName: bucketName
              path: path
              managedFolderTransferEnabled: true
            httpDataSource:
              listUrl: listUrl
            transferManifest:
              location: location
            transferOptions:
              deleteObjectsUniqueInSink: true
              overwriteObjectsAlreadyExistingInSink: true
              metadataOptions:
                mode: MODE_UNSPECIFIED
                uid: UID_UNSPECIFIED
                storageClass: STORAGE_CLASS_UNSPECIFIED
                gid: GID_UNSPECIFIED
                kmsKey: KMS_KEY_UNSPECIFIED
                symlink: SYMLINK_UNSPECIFIED
                temporaryHold: TEMPORARY_HOLD_UNSPECIFIED
                timeCreated: TIME_CREATED_UNSPECIFIED
                acl: ACL_UNSPECIFIED
              deleteObjectsFromSourceAfterTransfer: true
              overwriteWhen: OVERWRITE_WHEN_UNSPECIFIED
          notificationConfig:
            eventTypes:
            - EVENT_TYPE_UNSPECIFIED
            - EVENT_TYPE_UNSPECIFIED
            pubsubTopic: pubsubTopic
            payloadFormat: PAYLOAD_FORMAT_UNSPECIFIED
          projectId: projectId
          latestOperationName: latestOperationName
          status: STATUS_UNSPECIFIED
      properties:
        nextPageToken:
          description: The list next page token.
          type: string
        transferJobs:
          description: A list of transfer jobs.
          items:
            $ref: '#/components/schemas/TransferJob'
          type: array
      type: object
    LoggingConfig:
      description: "Specifies the logging behavior for transfer operations. For cloud-to-cloud\
        \ transfers, logs are sent to Cloud Logging. See [Read transfer logs](https://cloud.google.com/storage-transfer/docs/read-transfer-logs)\
        \ for details. For transfers to or from a POSIX file system, logs are stored\
        \ in the Cloud Storage bucket that is the source or sink of the transfer.\
        \ See [Managing Transfer for on-premises jobs] (https://cloud.google.com/storage-transfer/docs/managing-on-prem-jobs#viewing-logs)\
        \ for details."
      example:
        logActions:
        - LOGGABLE_ACTION_UNSPECIFIED
        - LOGGABLE_ACTION_UNSPECIFIED
        enableOnpremGcsTransferLogs: true
        logActionStates:
        - LOGGABLE_ACTION_STATE_UNSPECIFIED
        - LOGGABLE_ACTION_STATE_UNSPECIFIED
      properties:
        enableOnpremGcsTransferLogs:
          description: "For transfers with a PosixFilesystem source, this option enables\
            \ the Cloud Storage transfer logs for this transfer."
          type: boolean
        logActionStates:
          description: "States in which `log_actions` are logged. If empty, no logs\
            \ are generated. Not supported for transfers with PosixFilesystem data\
            \ sources; use enable_onprem_gcs_transfer_logs instead."
          items:
            enum:
            - LOGGABLE_ACTION_STATE_UNSPECIFIED
            - SUCCEEDED
            - FAILED
            type: string
          type: array
        logActions:
          description: "Specifies the actions to be logged. If empty, no logs are\
            \ generated. Not supported for transfers with PosixFilesystem data sources;\
            \ use enable_onprem_gcs_transfer_logs instead."
          items:
            enum:
            - LOGGABLE_ACTION_UNSPECIFIED
            - FIND
            - DELETE
            - COPY
            type: string
          type: array
      type: object
    MetadataOptions:
      description: Specifies the metadata options for running a transfer.
      example:
        mode: MODE_UNSPECIFIED
        uid: UID_UNSPECIFIED
        storageClass: STORAGE_CLASS_UNSPECIFIED
        gid: GID_UNSPECIFIED
        kmsKey: KMS_KEY_UNSPECIFIED
        symlink: SYMLINK_UNSPECIFIED
        temporaryHold: TEMPORARY_HOLD_UNSPECIFIED
        timeCreated: TIME_CREATED_UNSPECIFIED
        acl: ACL_UNSPECIFIED
      properties:
        acl:
          description: "Specifies how each object's ACLs should be preserved for transfers\
            \ between Google Cloud Storage buckets. If unspecified, the default behavior\
            \ is the same as ACL_DESTINATION_BUCKET_DEFAULT."
          enum:
          - ACL_UNSPECIFIED
          - ACL_DESTINATION_BUCKET_DEFAULT
          - ACL_PRESERVE
          type: string
        gid:
          description: "Specifies how each file's POSIX group ID (GID) attribute should\
            \ be handled by the transfer. By default, GID is not preserved. Only applicable\
            \ to transfers involving POSIX file systems, and ignored for other transfers."
          enum:
          - GID_UNSPECIFIED
          - GID_SKIP
          - GID_NUMBER
          type: string
        kmsKey:
          description: "Specifies how each object's Cloud KMS customer-managed encryption\
            \ key (CMEK) is preserved for transfers between Google Cloud Storage buckets.\
            \ If unspecified, the default behavior is the same as KMS_KEY_DESTINATION_BUCKET_DEFAULT."
          enum:
          - KMS_KEY_UNSPECIFIED
          - KMS_KEY_DESTINATION_BUCKET_DEFAULT
          - KMS_KEY_PRESERVE
          type: string
        mode:
          description: "Specifies how each file's mode attribute should be handled\
            \ by the transfer. By default, mode is not preserved. Only applicable\
            \ to transfers involving POSIX file systems, and ignored for other transfers."
          enum:
          - MODE_UNSPECIFIED
          - MODE_SKIP
          - MODE_PRESERVE
          type: string
        storageClass:
          description: "Specifies the storage class to set on objects being transferred\
            \ to Google Cloud Storage buckets. If unspecified, the default behavior\
            \ is the same as STORAGE_CLASS_DESTINATION_BUCKET_DEFAULT."
          enum:
          - STORAGE_CLASS_UNSPECIFIED
          - STORAGE_CLASS_DESTINATION_BUCKET_DEFAULT
          - STORAGE_CLASS_PRESERVE
          - STORAGE_CLASS_STANDARD
          - STORAGE_CLASS_NEARLINE
          - STORAGE_CLASS_COLDLINE
          - STORAGE_CLASS_ARCHIVE
          type: string
        symlink:
          description: "Specifies how symlinks should be handled by the transfer.\
            \ By default, symlinks are not preserved. Only applicable to transfers\
[...]
