openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The My Business Verifications API provides an interface for taking
    verifications related actions for locations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: My Business Verifications API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://mybusinessverifications.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: mybusinessverifications
externalDocs:
  url: https://developers.google.com/my-business/
servers:
- url: https://mybusinessverifications.googleapis.com/
tags:
- name: locations
paths:
  /v1/{location}:fetchVerificationOptions:
    post:
      description: Reports all eligible verification options for a location in a specific
        language.
      operationId: mybusinessverifications_locations_fetch_verification_options
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The location to verify.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchVerificationOptionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchVerificationOptionsResponse'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /v1/{name}/VoiceOfMerchantState:
    get:
      description: Gets the VoiceOfMerchant state.
      operationId: mybusinessverifications_locations_get_voice_of_merchant_state
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the location.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceOfMerchantState'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /v1/{name}:complete:
    post:
      description: Completes a `PENDING` verification. It is only necessary for non
        `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED`
        upon creation.
      operationId: mybusinessverifications_locations_verifications_complete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the verification to complete.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteVerificationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteVerificationResponse'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /v1/{name}:verify:
    post:
      description: Starts the verification process for a location.
      operationId: mybusinessverifications_locations_verify
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the location to verify.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyLocationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyLocationResponse'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /v1/{parent}/verifications:
    get:
      description: "List verifications of a location, ordered by create time."
      operationId: mybusinessverifications_locations_verifications_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the location that verification requests
          belong to.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "How many verification to include per page. Minimum is 1, and\
          \ the default and maximum page size is 100."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "If specified, returns the next page of verifications."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVerificationsResponse'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AddressVerificationData:
      description: Display data for verifications through postcard.
      example:
        expectedDeliveryDaysRegion: 6
        address:
          regionCode: regionCode
          sortingCode: sortingCode
          recipients:
          - recipients
          - recipients
          organization: organization
          postalCode: postalCode
          locality: locality
          sublocality: sublocality
          addressLines:
          - addressLines
          - addressLines
          administrativeArea: administrativeArea
          languageCode: languageCode
          revision: 0
        business: business
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
        business:
          description: Merchant's business name.
          title: business
          type: string
        expectedDeliveryDaysRegion:
          description: Expected number of days it takes to deliver a postcard to the
            address's region.
          format: int32
          title: expectedDeliveryDaysRegion
          type: integer
      title: AddressVerificationData
      type: object
    CompleteVerificationRequest:
      description: Request message for Verifications.CompleteVerificationAction.
      example:
        pin: pin
      properties:
        pin:
          description: Required. PIN code received by the merchant to complete the
            verification.
          title: pin
          type: string
      title: CompleteVerificationRequest
      type: object
    CompleteVerificationResponse:
      description: Response message for Verifications.CompleteVerificationAction.
      example:
        verification:
          method: VERIFICATION_METHOD_UNSPECIFIED
          createTime: createTime
          name: name
          state: STATE_UNSPECIFIED
          announcement: announcement
      properties:
        verification:
          $ref: '#/components/schemas/Verification'
      title: CompleteVerificationResponse
      type: object
    ComplyWithGuidelines:
      description: "Indicates that the location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177)."
      example:
        recommendationReason: RECOMMENDATION_REASON_UNSPECIFIED
      properties:
        recommendationReason:
          description: The reason why the location is being recommended to comply
            with guidelines.
          enum:
          - RECOMMENDATION_REASON_UNSPECIFIED
          - BUSINESS_LOCATION_SUSPENDED
          - BUSINESS_LOCATION_DISABLED
          title: recommendationReason
          type: string
      title: ComplyWithGuidelines
      type: object
    EmailVerificationData:
      description: Display data for verifications through email.
      example:
        isUserNameEditable: true
        domain: domain
        user: user
      properties:
        domain:
          description: Domain name in the email address. e.g. "gmail.com" in foo@gmail.com
          title: domain
          type: string
        isUserNameEditable:
          description: Whether client is allowed to provide a different user name.
          title: isUserNameEditable
          type: boolean
        user:
          description: User name in the email address. e.g. "foo" in foo@gmail.com
          title: user
          type: string
      title: EmailVerificationData
      type: object
    FetchVerificationOptionsRequest:
      description: Request message for Verifications.FetchVerificationOptions.
      example:
        context:
          address:
            regionCode: regionCode
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            addressLines:
            - addressLines
            - addressLines
            administrativeArea: administrativeArea
            languageCode: languageCode
            revision: 0
        languageCode: languageCode
      properties:
        context:
          $ref: '#/components/schemas/ServiceBusinessContext'
        languageCode:
          description: Required. The BCP 47 language code representing the language
            that is to be used for the verification process. Available options vary
            by language.
          title: languageCode
          type: string
      title: FetchVerificationOptionsRequest
      type: object
    FetchVerificationOptionsResponse:
      description: Response message for Verifications.FetchVerificationOptions.
      example:
        options:
        - phoneNumber: phoneNumber
          verificationMethod: VERIFICATION_METHOD_UNSPECIFIED
          emailData:
            isUserNameEditable: true
            domain: domain
            user: user
          addressData:
            expectedDeliveryDaysRegion: 6
            address:
              regionCode: regionCode
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              addressLines:
              - addressLines
              - addressLines
              administrativeArea: administrativeArea
              languageCode: languageCode
              revision: 0
            business: business
          announcement: announcement
        - phoneNumber: phoneNumber
          verificationMethod: VERIFICATION_METHOD_UNSPECIFIED
          emailData:
            isUserNameEditable: true
            domain: domain
            user: user
          addressData:
            expectedDeliveryDaysRegion: 6
            address:
              regionCode: regionCode
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              addressLines:
              - addressLines
              - addressLines
              administrativeArea: administrativeArea
              languageCode: languageCode
              revision: 0
            business: business
          announcement: announcement
      properties:
        options:
          description: The available verification options.
          items:
            $ref: '#/components/schemas/VerificationOption'
          title: options
          type: array
      title: FetchVerificationOptionsResponse
      type: object
    ListVerificationsResponse:
      description: Response message for Verifications.ListVerifications.
      example:
        nextPageToken: nextPageToken
        verifications:
        - method: VERIFICATION_METHOD_UNSPECIFIED
          createTime: createTime
          name: name
          state: STATE_UNSPECIFIED
          announcement: announcement
        - method: VERIFICATION_METHOD_UNSPECIFIED
          createTime: createTime
          name: name
          state: STATE_UNSPECIFIED
          announcement: announcement
      properties:
        nextPageToken:
          description: "If the number of verifications exceeded the requested page\
            \ size, this field will be populated with a token to fetch the next page\
            \ of verification on a subsequent call. If there are no more attributes,\
            \ this field will not be present in the response."
          title: nextPageToken
          type: string
        verifications:
          description: List of the verifications.
          items:
            $ref: '#/components/schemas/Verification'
          title: verifications
          type: array
      title: ListVerificationsResponse
      type: object
    PostalAddress:
      description: "Represents a postal address, e.g. for postal delivery or payments\
        \ addresses. Given a postal address, a postal service can deliver items to\
        \ a premise, P.O. Box or similar. It is not intended to model geographical\
        \ locations (roads, towns, mountains). In typical usage an address would be\
        \ created via user input or from importing existing data, depending on the\
        \ type of process. Advice on address input / editing: - Use an internationalization-ready\
        \ address widget such as https://github.com/google/libaddressinput) - Users\
        \ should not be presented with UI elements for input or editing of fields\
        \ outside countries where that field is used. For more guidance on how to\
        \ use this schema, please see: https://support.google.com/business/answer/6397478"
      example:
        regionCode: regionCode
        sortingCode: sortingCode
        recipients:
        - recipients
        - recipients
        organization: organization
        postalCode: postalCode
        locality: locality
        sublocality: sublocality
        addressLines:
        - addressLines
        - addressLines
        administrativeArea: administrativeArea
        languageCode: languageCode
        revision: 0
      properties:
        addressLines:
          description: "Unstructured address lines describing the lower levels of\
            \ an address. Because values in address_lines do not have type information\
            \ and may sometimes contain multiple values in a single field (e.g. \"\
            Austin, TX\"), it is important that the line order is clear. The order\
            \ of address lines should be \"envelope order\" for the country/region\
            \ of the address. In places where this can vary (e.g. Japan), address_language\
            \ is used to make it explicit (e.g. \"ja\" for large-to-small ordering\
            \ and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific\
            \ line of an address can be selected based on the language. The minimum\
            \ permitted structural representation of an address consists of a region_code\
            \ with all remaining information placed in the address_lines. It would\
            \ be possible to format such an address very approximately without geocoding,\
            \ but no semantic reasoning could be made about any of the address components\
            \ until it was at least partially resolved. Creating an address only containing\
            \ a region_code and address_lines, and then geocoding is the recommended\
            \ way to handle completely unstructured addresses (as opposed to guessing\
            \ which parts of the address should be localities or administrative areas)."
          items:
            type: string
          title: addressLines
          type: array
        administrativeArea:
          description: "Optional. Highest administrative subdivision which is used\
            \ for postal addresses of a country or region. For example, this can be\
            \ a state, a province, an oblast, or a prefecture. Specifically, for Spain\
            \ this is the province and not the autonomous community (e.g. \"Barcelona\"\
            \ and not \"Catalonia\"). Many countries don't use an administrative area\
            \ in postal addresses. E.g. in Switzerland this should be left unpopulated."
          title: administrativeArea
          type: string
        languageCode:
          description: "Optional. BCP-47 language code of the contents of this address\
            \ (if known). This is often the UI language of the input form or is expected\
            \ to match one of the languages used in the address' country/region, or\
            \ their transliterated equivalents. This can affect formatting in certain\
            \ countries, but is not critical to the correctness of the data and will\
            \ never affect any validation or other non-formatting related operations.\
            \ If this value is not known, it should be omitted (rather than specifying\
            \ a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\"\
            , \"en\"."
          title: languageCode
          type: string
        locality:
          description: "Optional. Generally refers to the city/town portion of the\
            \ address. Examples: US city, IT comune, UK post town. In regions of the\
            \ world where localities are not well defined or do not fit into this\
            \ structure well, leave locality empty and use address_lines."
          title: locality
          type: string
        organization:
          description: Optional. The name of the organization at the address.
          title: organization
          type: string
        postalCode:
          description: "Optional. Postal code of the address. Not all countries use\
            \ or require postal codes to be present, but where they are used, they\
            \ may trigger additional validation with other parts of the address (e.g.\
            \ state/zip validation in the U.S.A.)."
          title: postalCode
          type: string
        recipients:
          description: "Optional. The recipient at the address. This field may, under\
            \ certain circumstances, contain multiline information. For example, it\
            \ might contain \"care of\" information."
          items:
            type: string
          title: recipients
          type: array
        regionCode:
          description: "Required. CLDR region code of the country/region of the address.\
            \ This is never inferred and it is up to the user to ensure the value\
            \ is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html\
            \ for details. Example: \"CH\" for Switzerland."
          title: regionCode
          type: string
        revision:
          description: "The schema revision of the `PostalAddress`. This must be set\
            \ to 0, which is the latest revision. All new revisions **must** be backward\
            \ compatible with old revisions."
          format: int32
          title: revision
          type: integer
        sortingCode:
          description: "Optional. Additional, country-specific, sorting code. This\
            \ is not used in most regions. Where it is used, the value is either a\
            \ string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX\
            \ 7\"), or just a number alone, representing the \"sector code\" (Jamaica),\
            \ \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g.\
            \ Côte d'Ivoire)."
          title: sortingCode
          type: string
        sublocality:
          description: "Optional. Sublocality of the address. For example, this can\
            \ be neighborhoods, boroughs, districts."
          title: sublocality
          type: string
      title: PostalAddress
      type: object
    ResolveOwnershipConflict:
      description: Indicates that the location duplicates another location that is
        in good standing.
      properties: {}
      title: resolveOwnershipConflict
      type: object
    ServiceBusinessContext:
      description: Additional data for service business verification.
      example:
        address:
          regionCode: regionCode
          sortingCode: sortingCode
          recipients:
          - recipients
          - recipients
          organization: organization
          postalCode: postalCode
          locality: locality
          sublocality: sublocality
          addressLines:
          - addressLines
          - addressLines
          administrativeArea: administrativeArea
          languageCode: languageCode
          revision: 0
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
      title: ServiceBusinessContext
      type: object
    Verification:
      description: A verification represents a verification attempt on a location.
      example:
        method: VERIFICATION_METHOD_UNSPECIFIED
        createTime: createTime
        name: name
        state: STATE_UNSPECIFIED
        announcement: announcement
      properties:
        announcement:
          description: Optional. Response announcement set only if the method is VETTED_PARTNER.
          title: announcement
          type: string
        createTime:
          description: The timestamp when the verification is requested.
          format: google-datetime
          title: createTime
          type: string
        method:
          description: The method of the verification.
          enum:
          - VERIFICATION_METHOD_UNSPECIFIED
          - ADDRESS
          - EMAIL
          - PHONE_CALL
          - SMS
          - AUTO
          - VETTED_PARTNER
          title: method
          type: string
        name:
          description: Resource name of the verification.
          title: name
          type: string
        state:
          description: The state of the verification.
          enum:
          - STATE_UNSPECIFIED
          - PENDING
          - COMPLETED
          - FAILED
          title: state
          type: string
      title: Verification
      type: object
    VerificationOption:
      description: The verification option represents how to verify the location (indicated
        by verification method) and where the verification will be sent to (indicated
        by display data).
      example:
        phoneNumber: phoneNumber
        verificationMethod: VERIFICATION_METHOD_UNSPECIFIED
        emailData:
          isUserNameEditable: true
          domain: domain
          user: user
        addressData:
          expectedDeliveryDaysRegion: 6
          address:
            regionCode: regionCode
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            addressLines:
            - addressLines
            - addressLines
            administrativeArea: administrativeArea
            languageCode: languageCode
            revision: 0
          business: business
        announcement: announcement
      properties:
        addressData:
          $ref: '#/components/schemas/AddressVerificationData'
        announcement:
          description: Set only if the method is VETTED_PARTNER.
          title: announcement
          type: string
        emailData:
          $ref: '#/components/schemas/EmailVerificationData'
        phoneNumber:
          description: Set only if the method is PHONE_CALL or SMS. Phone number that
            the PIN will be sent to.
          title: phoneNumber
          type: string
        verificationMethod:
          description: Method to verify the location.
          enum:
          - VERIFICATION_METHOD_UNSPECIFIED
          - ADDRESS
          - EMAIL
          - PHONE_CALL
          - SMS
          - AUTO
          - VETTED_PARTNER
          title: verificationMethod
          type: string
      title: VerificationOption
      type: object
    VerificationToken:
      description: "Token generated by a vetted [partner](https://support.google.com/business/answer/7674102)."
      example:
        tokenString: tokenString
      properties:
        tokenString:
          description: The token string.
          title: tokenString
          type: string
      title: VerificationToken
      type: object
    Verify:
      description: Indicates that the location requires verification. Contains information
        about the current verification actions performed on the location.
      example:
        hasPendingVerification: true
      properties:
        hasPendingVerification:
          description: "Indicates whether a verification process has already started,\
            \ and can be completed by the location."
          title: hasPendingVerification
          type: boolean
      title: Verify
      type: object
    VerifyLocationRequest:
      description: Request message for Verifications.VerifyLocation.
      example:
        emailAddress: emailAddress
        phoneNumber: phoneNumber
        method: VERIFICATION_METHOD_UNSPECIFIED
        context:
          address:
            regionCode: regionCode
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            addressLines:
            - addressLines
            - addressLines
            administrativeArea: administrativeArea
            languageCode: languageCode
            revision: 0
        mailerContact: mailerContact
        languageCode: languageCode
        token:
          tokenString: tokenString
      properties:
        context:
          $ref: '#/components/schemas/ServiceBusinessContext'
        emailAddress:
          description: "Optional. The input for EMAIL method. Email address where\
            \ the PIN should be sent to. An email address is accepted only if it is\
            \ one of the addresses provided by FetchVerificationOptions. If the EmailVerificationData\
            \ has is_user_name_editable set to true, the client may specify a different\
            \ user name (local-part) but must match the domain name."
          title: emailAddress
          type: string
        languageCode:
          description: Optional. The BCP 47 language code representing the language
            that is to be used for the verification process.
          title: languageCode
          type: string
        mailerContact:
          description: Optional. The input for ADDRESS method. Contact name the mail
            should be sent to.
          title: mailerContact
          type: string
        method:
          description: Required. Verification method.
          enum:
          - VERIFICATION_METHOD_UNSPECIFIED
          - ADDRESS
          - EMAIL
          - PHONE_CALL
          - SMS
          - AUTO
          - VETTED_PARTNER
          title: method
          type: string
        phoneNumber:
          description: Optional. The input for PHONE_CALL/SMS method The phone number
            that should be called or be sent SMS to. It must be one of the phone numbers
            in the eligible options.
          title: phoneNumber
          type: string
        token:
          $ref: '#/components/schemas/VerificationToken'
      title: VerifyLocationRequest
      type: object
    VerifyLocationResponse:
      description: Response message for Verifications.VerifyLocation.
      example:
        verification:
          method: VERIFICATION_METHOD_UNSPECIFIED
          createTime: createTime
          name: name
          state: STATE_UNSPECIFIED
          announcement: announcement
      properties:
        verification:
          $ref: '#/components/schemas/Verification'
      title: VerifyLocationResponse
      type: object
    VoiceOfMerchantState:
      description: Response message for VoiceOfMerchant.GetVoiceOfMerchantState.
      example:
        complyWithGuidelines:
          recommendationReason: RECOMMENDATION_REASON_UNSPECIFIED
        hasBusinessAuthority: true
        waitForVoiceOfMerchant: "{}"
        verify:
          hasPendingVerification: true
        hasVoiceOfMerchant: true
        resolveOwnershipConflict: "{}"
      properties:
        complyWithGuidelines:
          $ref: '#/components/schemas/ComplyWithGuidelines'
        hasBusinessAuthority:
          description: "Indicates whether the location has the authority (ownership)\
            \ over the business on Google. If true, another location cannot take over\
            \ and become the dominant listing on Maps. However, edits will not become\
            \ live unless Voice of Merchant is gained (i.e. has_voice_of_merchant\
            \ is true)."
          title: hasBusinessAuthority
          type: boolean
        hasVoiceOfMerchant:
          description: Indicates whether the location is in good standing and has
            control over the business on Google. Any edits made to the location will
            propagate to Maps after passing the review phase.
          title: hasVoiceOfMerchant
          type: boolean
        resolveOwnershipConflict:
          description: Indicates that the location duplicates another location that
            is in good standing.
          properties: {}
          title: resolveOwnershipConflict
          type: object
        verify:
          $ref: '#/components/schemas/Verify'
        waitForVoiceOfMerchant:
          description: Indicates that the location will gain voice of merchant after
            passing review.
          properties: {}
          title: waitForVoiceOfMerchant
          type: object
      title: VoiceOfMerchantState
      type: object
    WaitForVoiceOfMerchant:
      description: Indicates that the location will gain voice of merchant after passing
        review.
      properties: {}
      title: waitForVoiceOfMerchant
      type: object
