openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on entities like API,\
    \ Product, and Subscription associated with your Azure API Management deployment."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimanagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets
  : get:
      description: Lists all policy snippets.
      operationId: PolicySnippets_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy scope.
        in: query
        name: scope
        schema:
          enum:
          - Tenant
          - Product
          - Api
          - Operation
          - All
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        x-ms-enum:
          modelAsString: false
          name: PolicyScopeContract
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySnippetsCollection'
          description: Returns an array of Policy Contracts.
      tags:
      - PolicySnippets
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions
  : get:
      description: Lists all azure regions in which the service exists.
      operationId: Regions_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListResult'
          description: Lists of Regions in which the service is deployed.
      tags:
      - Regions
      x-ms-pageable: {}
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServiceNameParameter:
      description: The name of the API Management service.
      in: path
      name: serviceName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SkipQueryParameter:
      description: Number of records to skip.
      in: query
      name: $skip
      schema:
        format: int32
        minimum: 0
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TopQueryParameter:
      description: Number of records to return.
      in: query
      name: $top
      schema:
        format: int32
        minimum: 1
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorBodyContract:
      description: Error Body contract.
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/ErrorFieldContract'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    ErrorFieldContract:
      description: Error Field contract.
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    PolicySnippetContract:
      description: Policy snippet.
      example:
        scope: Tenant
        name: name
        toolTip: toolTip
        content: content
      properties:
        content:
          description: Snippet content.
          readOnly: true
          type: string
        name:
          description: Snippet name.
          readOnly: true
          type: string
        scope:
          description: Snippet scope.
          enum:
          - Tenant
          - Product
          - Api
          - Operation
          - All
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        toolTip:
          description: Snippet toolTip.
          readOnly: true
          type: string
      type: object
    PolicySnippetsCollection:
      description: The response of the list policy snippets operation.
      example:
        value:
        - scope: Tenant
          name: name
          toolTip: toolTip
          content: content
        - scope: Tenant
          name: name
          toolTip: toolTip
          content: content
      properties:
        value:
          description: Policy snippet value.
          items:
            $ref: '#/components/schemas/PolicySnippetContract'
          type: array
      type: object
    RegionContract:
      description: Region profile.
      example:
        isMasterRegion: true
        name: name
      properties:
        isMasterRegion:
          description: whether Region is the master region.
          type: boolean
        name:
          description: Region name.
          type: string
      required:
      - isMasterRegion
      - name
      type: object
    RegionListResult:
      description: Lists Regions operation response details.
      example:
        value:
        - isMasterRegion: true
          name: name
        - isMasterRegion: true
          name: name
      properties:
        value:
          description: Lists of Regions.
          items:
            $ref: '#/components/schemas/RegionContract'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

