openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Business Profile Performance API allows merchants to fetch performance\
    \ reports about their business profile on Google. Note - If you have a quota of\
    \ 0 after enabling the API, please request for GBP API access."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Business Profile Performance API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://businessprofileperformance.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: businessprofileperformance
externalDocs:
  url: https://developers.google.com/my-business/
servers:
- url: https://businessprofileperformance.googleapis.com/
tags:
- name: locations
paths:
  /v1/{location}:fetchMultiDailyMetricsTimeSeries:
    get:
      description: " Returns the values for each date from a given time range and\
        \ optionally the sub entity type, where applicable, that are associated with\
        \ the specific daily metrics. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`"
      operationId: businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location for which the time series should be fetched.\
          \ Format: locations/{location_id} where location_id is an unobfuscated listing\
          \ id."
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The metrics to retrieve time series for.
        explode: true
        in: query
        name: dailyMetrics
        required: false
        schema:
          items:
            enum:
            - DAILY_METRIC_UNKNOWN
            - BUSINESS_IMPRESSIONS_DESKTOP_MAPS
            - BUSINESS_IMPRESSIONS_DESKTOP_SEARCH
            - BUSINESS_IMPRESSIONS_MOBILE_MAPS
            - BUSINESS_IMPRESSIONS_MOBILE_SEARCH
            - BUSINESS_CONVERSATIONS
            - BUSINESS_DIRECTION_REQUESTS
            - CALL_CLICKS
            - WEBSITE_CLICKS
            - BUSINESS_BOOKINGS
            - BUSINESS_FOOD_ORDERS
            - BUSINESS_FOOD_MENU_CLICKS
            type: string
          type: array
        style: form
      - description: "Day of a month. Must be from 1 to 31 and valid for the year\
          \ and month, or 0 to specify a year by itself or a year and month where\
          \ the day isn't significant."
        explode: true
        in: query
        name: dailyRange.endDate.day
        required: false
        schema:
          type: integer
        style: form
      - description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
          \ without a month and day."
        explode: true
        in: query
        name: dailyRange.endDate.month
        required: false
        schema:
          type: integer
        style: form
      - description: "Year of the date. Must be from 1 to 9999, or 0 to specify a\
          \ date without a year."
        explode: true
        in: query
        name: dailyRange.endDate.year
        required: false
        schema:
          type: integer
        style: form
      - description: "Day of a month. Must be from 1 to 31 and valid for the year\
          \ and month, or 0 to specify a year by itself or a year and month where\
          \ the day isn't significant."
        explode: true
        in: query
        name: dailyRange.startDate.day
        required: false
        schema:
          type: integer
        style: form
      - description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
          \ without a month and day."
        explode: true
        in: query
        name: dailyRange.startDate.month
        required: false
        schema:
          type: integer
        style: form
      - description: "Year of the date. Must be from 1 to 9999, or 0 to specify a\
          \ date without a year."
        explode: true
        in: query
        name: dailyRange.startDate.year
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchMultiDailyMetricsTimeSeriesResponse'
          description: Successful response
      tags:
      - locations
      x-accepts:
      - application/json
  /v1/{name}:getDailyMetricsTimeSeries:
    get:
      description: " Returns the values for each date from a given time range that\
        \ are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`"
      operationId: businessprofileperformance.locations.getDailyMetricsTimeSeries
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location for which the time series should be fetched.\
          \ Format: locations/{location_id} where location_id is an unobfuscated listing\
          \ id."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The metric to retrieve time series.
        explode: true
        in: query
        name: dailyMetric
        required: false
        schema:
          enum:
          - DAILY_METRIC_UNKNOWN
          - BUSINESS_IMPRESSIONS_DESKTOP_MAPS
          - BUSINESS_IMPRESSIONS_DESKTOP_SEARCH
          - BUSINESS_IMPRESSIONS_MOBILE_MAPS
          - BUSINESS_IMPRESSIONS_MOBILE_SEARCH
          - BUSINESS_CONVERSATIONS
          - BUSINESS_DIRECTION_REQUESTS
          - CALL_CLICKS
          - WEBSITE_CLICKS
          - BUSINESS_BOOKINGS
          - BUSINESS_FOOD_ORDERS
          - BUSINESS_FOOD_MENU_CLICKS
          type: string
        style: form
      - description: "Day of a month. Must be from 1 to 31 and valid for the year\
          \ and month, or 0 to specify a year by itself or a year and month where\
          \ the day isn't significant."
        explode: true
        in: query
        name: dailyRange.endDate.day
        required: false
        schema:
          type: integer
        style: form
      - description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
          \ without a month and day."
        explode: true
        in: query
        name: dailyRange.endDate.month
        required: false
        schema:
          type: integer
        style: form
      - description: "Year of the date. Must be from 1 to 9999, or 0 to specify a\
          \ date without a year."
        explode: true
        in: query
        name: dailyRange.endDate.year
        required: false
        schema:
          type: integer
        style: form
      - description: "Day of a month. Must be from 1 to 31 and valid for the year\
          \ and month, or 0 to specify a year by itself or a year and month where\
          \ the day isn't significant."
        explode: true
        in: query
        name: dailyRange.startDate.day
        required: false
        schema:
          type: integer
        style: form
      - description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
          \ without a month and day."
        explode: true
        in: query
        name: dailyRange.startDate.month
        required: false
        schema:
          type: integer
        style: form
      - description: "Year of the date. Must be from 1 to 9999, or 0 to specify a\
          \ date without a year."
        explode: true
        in: query
        name: dailyRange.startDate.year
        required: false
        schema:
          type: integer
        style: form
      - description: "Represents the day of the week. Eg: MONDAY. Currently supported\
          \ DailyMetrics = NONE."
        explode: true
        in: query
        name: dailySubEntityType.dayOfWeek
        required: false
        schema:
          enum:
          - DAY_OF_WEEK_UNSPECIFIED
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          type: string
        style: form
      - description: Hours of day in 24 hour format. Should be from 0 to 23. An API
          may choose to allow the value "24:00:00" for scenarios like business closing
          time.
        explode: true
        in: query
        name: dailySubEntityType.timeOfDay.hours
        required: false
        schema:
          type: integer
        style: form
      - description: Minutes of hour of day. Must be from 0 to 59.
        explode: true
        in: query
        name: dailySubEntityType.timeOfDay.minutes
        required: false
        schema:
          type: integer
        style: form
      - description: "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        explode: true
        in: query
        name: dailySubEntityType.timeOfDay.nanos
        required: false
        schema:
          type: integer
        style: form
      - description: Seconds of minutes of the time. Must normally be from 0 to 59.
          An API may allow the value 60 if it allows leap-seconds.
        explode: true
        in: query
        name: dailySubEntityType.timeOfDay.seconds
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDailyMetricsTimeSeriesResponse'
          description: Successful response
      tags:
      - locations
      x-accepts:
      - application/json
  /v1/{parent}/searchkeywords/impressions/monthly:
    get:
      description: "Returns the search keywords used to find a business in search\
        \ or maps. Each search keyword is accompanied by impressions which are aggregated\
        \ on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`"
      operationId: businessprofileperformance.locations.searchkeywords.impressions.monthly.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location for which the time series should be fetched.\
          \ Format: locations/{location_id} where location_id is an unobfuscated listing\
          \ id."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Day of a month. Must be from 1 to 31 and valid for the year\
          \ and month, or 0 to specify a year by itself or a year and month where\
          \ the day isn't significant."
        explode: true
        in: query
        name: monthlyRange.endMonth.day
        required: false
        schema:
          type: integer
        style: form
      - description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
          \ without a month and day."
        explode: true
        in: query
        name: monthlyRange.endMonth.month
        required: false
        schema:
          type: integer
        style: form
      - description: "Year of the date. Must be from 1 to 9999, or 0 to specify a\
          \ date without a year."
        explode: true
        in: query
        name: monthlyRange.endMonth.year
        required: false
        schema:
          type: integer
        style: form
      - description: "Day of a month. Must be from 1 to 31 and valid for the year\
          \ and month, or 0 to specify a year by itself or a year and month where\
          \ the day isn't significant."
        explode: true
        in: query
        name: monthlyRange.startMonth.day
        required: false
        schema:
          type: integer
        style: form
      - description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
          \ without a month and day."
        explode: true
        in: query
        name: monthlyRange.startMonth.month
        required: false
        schema:
          type: integer
        style: form
      - description: "Year of the date. Must be from 1 to 9999, or 0 to specify a\
          \ date without a year."
        explode: true
        in: query
        name: monthlyRange.startMonth.year
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. The number of results requested. The default page size
          is 100. Page size can be set to a maximum of 100.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. A token indicating the next paginated result to be
          returned.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchKeywordImpressionsMonthlyResponse'
          description: Successful response
      tags:
      - locations
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    DailyMetricTimeSeries:
      description: "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries\
        \ tuple."
      example:
        timeSeries:
          datedValues:
          - date:
              month: 2
              year: 7
              day: 5
            value: value
          - date:
              month: 2
              year: 7
              day: 5
            value: value
        dailySubEntityType:
          dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
          timeOfDay:
            hours: 0
            seconds: 5
            nanos: 1
            minutes: 6
        dailyMetric: DAILY_METRIC_UNKNOWN
      properties:
        dailyMetric:
          description: The DailyMetric that the TimeSeries represents.
          enum:
          - DAILY_METRIC_UNKNOWN
          - BUSINESS_IMPRESSIONS_DESKTOP_MAPS
          - BUSINESS_IMPRESSIONS_DESKTOP_SEARCH
          - BUSINESS_IMPRESSIONS_MOBILE_MAPS
          - BUSINESS_IMPRESSIONS_MOBILE_SEARCH
          - BUSINESS_CONVERSATIONS
          - BUSINESS_DIRECTION_REQUESTS
          - CALL_CLICKS
          - WEBSITE_CLICKS
          - BUSINESS_BOOKINGS
          - BUSINESS_FOOD_ORDERS
          - BUSINESS_FOOD_MENU_CLICKS
          type: string
        dailySubEntityType:
          $ref: '#/components/schemas/DailySubEntityType'
        timeSeries:
          $ref: '#/components/schemas/TimeSeries'
      type: object
    DailySubEntityType:
      description: Represents all possible subentity types that are associated with
        DailyMetrics.
      example:
        dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
        timeOfDay:
          hours: 0
          seconds: 5
          nanos: 1
          minutes: 6
      properties:
        dayOfWeek:
          description: "Represents the day of the week. Eg: MONDAY. Currently supported\
            \ DailyMetrics = NONE."
          enum:
          - DAY_OF_WEEK_UNSPECIFIED
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          type: string
        timeOfDay:
          $ref: '#/components/schemas/TimeOfDay'
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 2
        year: 7
        day: 5
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          type: integer
      type: object
    DatedValue:
      description: "Represents a single datapoint in the timeseries, where each datapoint\
        \ is a date-value pair."
      example:
        date:
          month: 2
          year: 7
          day: 5
        value: value
      properties:
        date:
          $ref: '#/components/schemas/Date'
        value:
          description: The value of the datapoint. This will not be present when the
            value is zero.
          format: int64
          type: string
      type: object
    FetchMultiDailyMetricsTimeSeriesResponse:
      description: Represents the response for FetchMultiDailyMetricsTimeSeries.
      example:
        multiDailyMetricTimeSeries:
        - dailyMetricTimeSeries:
          - timeSeries:
              datedValues:
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
            dailySubEntityType:
              dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
              timeOfDay:
                hours: 0
                seconds: 5
                nanos: 1
                minutes: 6
            dailyMetric: DAILY_METRIC_UNKNOWN
          - timeSeries:
              datedValues:
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
            dailySubEntityType:
              dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
              timeOfDay:
                hours: 0
                seconds: 5
                nanos: 1
                minutes: 6
            dailyMetric: DAILY_METRIC_UNKNOWN
        - dailyMetricTimeSeries:
          - timeSeries:
              datedValues:
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
            dailySubEntityType:
              dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
              timeOfDay:
                hours: 0
                seconds: 5
                nanos: 1
                minutes: 6
            dailyMetric: DAILY_METRIC_UNKNOWN
          - timeSeries:
              datedValues:
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
              - date:
                  month: 2
                  year: 7
                  day: 5
                value: value
            dailySubEntityType:
              dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
              timeOfDay:
                hours: 0
                seconds: 5
                nanos: 1
                minutes: 6
            dailyMetric: DAILY_METRIC_UNKNOWN
      properties:
        multiDailyMetricTimeSeries:
          description: DailyMetrics and their corresponding time series.
          items:
            $ref: '#/components/schemas/MultiDailyMetricTimeSeries'
          type: array
      type: object
    GetDailyMetricsTimeSeriesResponse:
      description: Represents the response for GetDailyMetricsTimeSeries.
      example:
        timeSeries:
          datedValues:
          - date:
              month: 2
              year: 7
              day: 5
            value: value
          - date:
              month: 2
              year: 7
              day: 5
            value: value
      properties:
        timeSeries:
          $ref: '#/components/schemas/TimeSeries'
      type: object
    InsightsValue:
      description: Represents an insights value.
      example:
        threshold: threshold
        value: value
      properties:
        threshold:
          description: Represents the threshold below which the actual value falls.
          format: int64
          type: string
        value:
          description: Represents the actual value.
          format: int64
          type: string
      type: object
    ListSearchKeywordImpressionsMonthlyResponse:
      description: Represents the response for ListSearchKeywordImpressionsMonthly.
      example:
        nextPageToken: nextPageToken
        searchKeywordsCounts:
        - searchKeyword: searchKeyword
          insightsValue:
            threshold: threshold
            value: value
        - searchKeyword: searchKeyword
          insightsValue:
            threshold: threshold
            value: value
      properties:
        nextPageToken:
          description: A token indicating the last paginated result returned. This
            can be used by succeeding requests to get the next "page" of keywords.
            It will only be present when there are more results to be returned.
          format: byte
          type: string
        searchKeywordsCounts:
          description: Search terms which have been used to find a business.
          items:
            $ref: '#/components/schemas/SearchKeywordCount'
          type: array
      type: object
    MultiDailyMetricTimeSeries:
      description: Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.
      example:
        dailyMetricTimeSeries:
        - timeSeries:
            datedValues:
            - date:
                month: 2
                year: 7
                day: 5
              value: value
            - date:
                month: 2
                year: 7
                day: 5
              value: value
          dailySubEntityType:
            dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
            timeOfDay:
              hours: 0
              seconds: 5
              nanos: 1
              minutes: 6
          dailyMetric: DAILY_METRIC_UNKNOWN
        - timeSeries:
            datedValues:
            - date:
                month: 2
                year: 7
                day: 5
              value: value
            - date:
                month: 2
                year: 7
                day: 5
              value: value
          dailySubEntityType:
            dayOfWeek: DAY_OF_WEEK_UNSPECIFIED
            timeOfDay:
              hours: 0
              seconds: 5
              nanos: 1
              minutes: 6
          dailyMetric: DAILY_METRIC_UNKNOWN
      properties:
        dailyMetricTimeSeries:
          description: List of DailyMetric-TimeSeries pairs.
          items:
            $ref: '#/components/schemas/DailyMetricTimeSeries'
          type: array
      type: object
    SearchKeywordCount:
      description: Represents a single search keyword and its value.
      example:
        searchKeyword: searchKeyword
        insightsValue:
          threshold: threshold
          value: value
      properties:
        insightsValue:
          $ref: '#/components/schemas/InsightsValue'
        searchKeyword:
          description: The lower-cased string that the user entered.
          type: string
      type: object
    TimeOfDay:
      description: Represents a time of day. The date and time zone are either not
        significant or are specified elsewhere. An API may choose to allow leap seconds.
        Related types are google.type.Date and `google.protobuf.Timestamp`.
      example:
        hours: 0
        seconds: 5
        nanos: 1
        minutes: 6
      properties:
        hours:
          description: Hours of day in 24 hour format. Should be from 0 to 23. An
            API may choose to allow the value "24:00:00" for scenarios like business
            closing time.
          format: int32
          type: integer
        minutes:
          description: Minutes of hour of day. Must be from 0 to 59.
          format: int32
          type: integer
        nanos:
          description: "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
          format: int32
          type: integer
        seconds:
          description: Seconds of minutes of the time. Must normally be from 0 to
            59. An API may allow the value 60 if it allows leap-seconds.
          format: int32
          type: integer
      type: object
    TimeSeries:
      description: Represents a timeseries.
      example:
        datedValues:
        - date:
            month: 2
            year: 7
            day: 5
          value: value
        - date:
            month: 2
            year: 7
            day: 5
          value: value
      properties:
        datedValues:
          description: "List of datapoints in the timeseries, where each datapoint\
            \ is a date-value pair."
          items:
            $ref: '#/components/schemas/DatedValue'
          type: array
      type: object

