openapi: 3.0.1
info:
  description: The Azure management API provides a RESTful set of web services that
    interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: 2015-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2015-06-01/keyvault.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: keyvault
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription and within the specified resource group.
      operationId: vaults_list_by_resource_group
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultListResult'
          description: Get information about all key vaults in the specified resource
            group.
      tags:
      - Vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}:
    delete:
      description: Deletes the specified Azure key vault.
      operationId: vaults_delete
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault to delete
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK Response.
        "204":
          content: {}
          description: No Content.
      tags:
      - Vaults
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
    get:
      description: Gets the specified Azure key vault.
      operationId: vaults_get
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Retrieved vault
      tags:
      - Vaults
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
    put:
      description: Create or update a key vault in the specified subscription.
      operationId: vaults_create_or_update
      parameters:
      - description: The name of the Resource Group to which the server belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultCreateOrUpdateParameters'
        description: Parameters to create or update the vault
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created or updated vault
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created or updated vault
      tags:
      - Vaults
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/resources:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription.
      operationId: vaults_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: true
        schema:
          enum:
          - resourceType eq 'Microsoft.KeyVault/vaults'
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Azure Resource Manager Api Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-11-01
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: Get information about all key vaults in the subscription.
      tags:
      - Vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccessPolicyEntry:
      description: An identity that have access to the key vault. All identities in
        the array must use the same tenant ID as the key vault's tenant ID.
      example:
        permissions:
          certificates:
          - all
          - all
          keys:
          - all
          - all
          secrets:
          - all
          - all
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        objectId: objectId
      properties:
        applicationId:
          description: ' Application ID of the client making request on behalf of
            a principal'
          format: uuid
          title: applicationId
          type: string
        objectId:
          description: "The object ID of a user, service principal or security group\
            \ in the Azure Active Directory tenant for the vault. The object ID must\
            \ be unique for the list of access policies."
          title: objectId
          type: string
        permissions:
          $ref: '#/components/schemas/Permissions'
        tenantId:
          description: The Azure Active Directory tenant ID that should be used for
            authenticating requests to the key vault.
          format: uuid
          title: tenantId
          type: string
      required:
      - objectId
      - permissions
      - tenantId
      title: AccessPolicyEntry
      type: object
    Permissions:
      description: "Permissions the identity has for keys, secrets and certificates."
      example:
        certificates:
        - all
        - all
        keys:
        - all
        - all
        secrets:
        - all
        - all
      properties:
        certificates:
          description: Permissions to certificates
          items:
            enum:
            - all
            - get
            - list
            - delete
            - create
            - import
            - update
            - managecontacts
            - getissuers
            - listissuers
            - setissuers
            - deleteissuers
            - manageissuers
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: CertificatePermissions
          title: certificates
          type: array
        keys:
          description: Permissions to keys
          items:
            enum:
            - all
            - encrypt
            - decrypt
            - wrapKey
            - unwrapKey
            - sign
            - verify
            - get
            - list
            - create
            - update
            - import
            - delete
            - backup
            - restore
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: KeyPermissions
          title: keys
          type: array
        secrets:
          description: Permissions to secrets
          items:
            enum:
            - all
            - get
            - list
            - set
            - delete
            - backup
            - restore
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: SecretPermissions
          title: secrets
          type: array
      title: Permissions
      type: object
    Resource:
      description: Key Vault resource
      example:
        name: name
        location: location
        id: id
        type: type
        tags:
          key: tags
      properties:
        id:
          description: The Azure Resource Manager resource ID for the key vault.
          readOnly: true
          title: id
          type: string
        location:
          description: The supported Azure location where the key vault should be
            created.
          title: location
          type: string
        name:
          description: The name of the key vault.
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the key vault. '
          title: tags
          type: object
        type:
          description: The resource type of the key vault.
          readOnly: true
          title: type
          type: string
      required:
      - location
      - name
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceListResult:
      description: List of vault resources.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets the URL to get the next set of vault resources.
          title: nextLink
          type: string
        value:
          description: Gets the list of vault resources.
          items:
            $ref: '#/components/schemas/Resource'
          title: value
          type: array
      title: ResourceListResult
      type: object
    Sku:
      description: SKU details
      example:
        name: standard
        family: A
      properties:
        family:
          description: SKU family name
          enum:
          - A
          title: family
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuFamily
        name:
          description: SKU name to specify whether the key vault is a standard vault
            or a premium vault.
          enum:
          - standard
          - premium
          title: name
          type: string
          x-ms-enum:
            modelAsString: false
            name: SkuName
      required:
      - family
      - name
      title: Sku
      type: object
    Vault:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information with extended details.
      example:
        properties:
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          sku:
            name: standard
            family: A
          vaultUri: vaultUri
      properties:
        properties:
          $ref: '#/components/schemas/VaultProperties'
      required:
      - properties
      title: Vault
    VaultCreateOrUpdateParameters:
      description: Parameters for creating or updating a vault
      example:
        location: location
        properties:
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - all
              - all
              keys:
              - all
              - all
              secrets:
              - all
              - all
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          sku:
            name: standard
            family: A
          vaultUri: vaultUri
        tags:
          key: tags
      properties:
        location:
          description: The supported Azure location where the key vault should be
            created.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/VaultProperties'
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the key vault. '
          title: tags
          type: object
      required:
      - location
      - properties
      title: VaultCreateOrUpdateParameters
      type: object
      x-ms-azure-resource: true
    VaultListResult:
      description: List of vaults
      example:
        value:
        - properties:
            enabledForDeployment: true
            accessPolicies:
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            enabledForDiskEncryption: true
            enabledForTemplateDeployment: true
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            enableSoftDelete: true
            sku:
              name: standard
              family: A
            vaultUri: vaultUri
        - properties:
            enabledForDeployment: true
            accessPolicies:
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - all
                - all
                keys:
                - all
                - all
                secrets:
                - all
                - all
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            enabledForDiskEncryption: true
            enabledForTemplateDeployment: true
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            enableSoftDelete: true
            sku:
              name: standard
              family: A
            vaultUri: vaultUri
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of vaults.
          title: nextLink
          type: string
        value:
          description: Gets or sets the list of vaults.
          items:
            $ref: '#/components/schemas/Vault'
          title: value
          type: array
      title: VaultListResult
      type: object
    VaultProperties:
      description: Properties of the vault
      example:
        enabledForDeployment: true
        accessPolicies:
        - permissions:
            certificates:
            - all
            - all
            keys:
            - all
            - all
            secrets:
            - all
            - all
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - all
            - all
            keys:
            - all
            - all
            secrets:
            - all
            - all
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - all
            - all
            keys:
            - all
            - all
            secrets:
            - all
            - all
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - all
            - all
            keys:
            - all
            - all
            secrets:
            - all
            - all
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - all
            - all
            keys:
            - all
            - all
            secrets:
            - all
            - all
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        enabledForDiskEncryption: true
        enabledForTemplateDeployment: true
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        enableSoftDelete: true
        sku:
          name: standard
          family: A
        vaultUri: vaultUri
      properties:
        accessPolicies:
          description: An array of 0 to 16 identities that have access to the key
            vault. All identities in the array must use the same tenant ID as the
            key vault's tenant ID.
          items:
            $ref: '#/components/schemas/AccessPolicyEntry'
          maxItems: 16
          title: accessPolicies
          type: array
        enableSoftDelete:
          description: Property to specify whether the 'soft delete' functionality
            is enabled for this key vault.
          title: enableSoftDelete
          type: boolean
        enabledForDeployment:
          description: Property to specify whether Azure Virtual Machines are permitted
            to retrieve certificates stored as secrets from the key vault.
          title: enabledForDeployment
          type: boolean
        enabledForDiskEncryption:
          description: Property to specify whether Azure Disk Encryption is permitted
            to retrieve secrets from the vault and unwrap keys.
          title: enabledForDiskEncryption
          type: boolean
        enabledForTemplateDeployment:
          description: Property to specify whether Azure Resource Manager is permitted
            to retrieve secrets from the key vault.
          title: enabledForTemplateDeployment
          type: boolean
        sku:
          $ref: '#/components/schemas/Sku'
        tenantId:
          description: The Azure Active Directory tenant ID that should be used for
            authenticating requests to the key vault.
          format: uuid
          title: tenantId
          type: string
        vaultUri:
          description: The URI of the vault for performing operations on keys and
            secrets.
          title: vaultUri
          type: string
      required:
      - accessPolicies
      - sku
      - tenantId
      title: VaultProperties
      type: object
x-original-swagger-version: "2.0"
