openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Builds on top of the Google+ platform.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google+ API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/plus/v1/rest
    version: v1
  x-providerName: googleapis.com
  x-serviceName: plus
externalDocs:
  url: https://developers.google.com/+/api/
servers:
- url: https://www.googleapis.com/plus/v1
tags:
- name: activities
- name: comments
- name: people
paths:
  /activities:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_activities_search
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Full-text search query string.
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Specify the preferred language to search with. See search language
          codes for available values.
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of activities to include in the response,\
          \ which is used for paging. For any response, the actual number returned\
          \ might be less than the specified maxResults."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 20
          minimum: 1
          type: integer
        style: form
      - description: Specifies how to order search results.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - best
          - recent
          type: string
        style: form
      - description: "The continuation token, which is used to page through large\
          \ result sets. To get the next page of results, set this parameter to the\
          \ value of \"nextPageToken\" from the previous response. This token can\
          \ be of any length."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFeed'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
  /activities/{activityId}:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_activities_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the activity to get.
        explode: false
        in: path
        name: activityId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
  /activities/{activityId}/comments:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_comments_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the activity to get comments for.
        explode: false
        in: path
        name: activityId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of comments to include in the response, which\
          \ is used for paging. For any response, the actual number returned might\
          \ be less than the specified maxResults."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: "The continuation token, which is used to page through large\
          \ result sets. To get the next page of results, set this parameter to the\
          \ value of \"nextPageToken\" from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: The order in which to sort the list of comments.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - ascending
          - descending
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentFeed'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - comments
      x-openapi-router-controller: openapi_server.controllers.comments_controller
  /activities/{activityId}/people/{collection}:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_people_list_by_activity
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the activity to get the list of people for.
        explode: false
        in: path
        name: activityId
        required: true
        schema:
          type: string
        style: simple
      - description: The collection of people to list.
        explode: false
        in: path
        name: collection
        required: true
        schema:
          enum:
          - plusoners
          - resharers
          type: string
        style: simple
      - description: "The maximum number of people to include in the response, which\
          \ is used for paging. For any response, the actual number returned might\
          \ be less than the specified maxResults."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "The continuation token, which is used to page through large\
          \ result sets. To get the next page of results, set this parameter to the\
          \ value of \"nextPageToken\" from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleFeed'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - people
      x-openapi-router-controller: openapi_server.controllers.people_controller
  /comments/{commentId}:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_comments_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the comment to get.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - comments
      x-openapi-router-controller: openapi_server.controllers.comments_controller
  /people:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_people_search
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Specify a query string for full text search of public text in
          all profiles.
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Specify the preferred language to search with. See search language
          codes for available values.
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of people to include in the response, which\
          \ is used for paging. For any response, the actual number returned might\
          \ be less than the specified maxResults."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: "The continuation token, which is used to page through large\
          \ result sets. To get the next page of results, set this parameter to the\
          \ value of \"nextPageToken\" from the previous response. This token can\
          \ be of any length."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleFeed'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - people
      x-openapi-router-controller: openapi_server.controllers.people_controller
  /people/{userId}:
    get:
      description: "Get a person's profile. If your app uses scope https://www.googleapis.com/auth/plus.login,\
        \ this method is guaranteed to return ageRange and language."
      operationId: plus_people_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the person to get the profile for. The special value
          "me" can be used to indicate the authenticated user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.email
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.profile
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - people
      x-openapi-router-controller: openapi_server.controllers.people_controller
  /people/{userId}/activities/{collection}:
    get:
      description: Shut down. See https://developers.google.com/+/api-shutdown for
        more details.
      operationId: plus_activities_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the user to get activities for. The special value "me"
          can be used to indicate the authenticated user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The collection of activities to list.
        explode: false
        in: path
        name: collection
        required: true
        schema:
          enum:
          - public
          type: string
        style: simple
      - description: "The maximum number of activities to include in the response,\
          \ which is used for paging. For any response, the actual number returned\
          \ might be less than the specified maxResults."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "The continuation token, which is used to page through large\
          \ result sets. To get the next page of results, set this parameter to the\
          \ value of \"nextPageToken\" from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFeed'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
  /people/{userId}/people/{collection}:
    get:
      description: List all of the people in the specified collection.
      operationId: plus_people_list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Get the collection of people for the person identified. Use "me"
          to indicate the authenticated user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The collection of people to list.
        explode: false
        in: path
        name: collection
        required: true
        schema:
          enum:
          - connected
          - visible
          type: string
        style: simple
      - description: "The maximum number of people to include in the response, which\
          \ is used for paging. For any response, the actual number returned might\
          \ be less than the specified maxResults."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The order to return people in.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - alphabetical
          - best
          type: string
        style: form
      - description: "The continuation token, which is used to page through large\
          \ result sets. To get the next page of results, set this parameter to the\
          \ value of \"nextPageToken\" from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleFeed'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        Oauth2c:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/plus.me
        Oauth2c:
        - https://www.googleapis.com/auth/plus.me
      tags:
      - people
      x-openapi-router-controller: openapi_server.controllers.people_controller
components:
  parameters:
    alt:
      description: Data format for the response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    userIp:
      description: Deprecated. Please use quotaUser instead.
      explode: true
      in: query
      name: userIp
      required: false
      schema:
        type: string
      style: form
  schemas:
    Acl:
      example:
        kind: plus#acl
        description: description
        items:
        - displayName: displayName
          id: id
          type: type
        - displayName: displayName
          id: id
          type: type
      properties:
        description:
          description: "Description of the access granted, suitable for display."
          title: description
          type: string
        items:
          description: The list of access entries.
          items:
            $ref: '#/components/schemas/PlusAclentryResource'
          title: items
          type: array
        kind:
          default: plus#acl
          description: "Identifies this resource as a collection of access controls.\
            \ Value: \"plus#acl\"."
          title: kind
          type: string
      title: Acl
      type: object
    Activity:
      example:
        annotation: annotation
        access:
          kind: plus#acl
          description: description
          items:
          - displayName: displayName
            id: id
            type: type
          - displayName: displayName
            id: id
            type: type
        address: address
        kind: plus#activity
        placeId: placeId
        verb: verb
        published: 2000-01-23T04:56:07.000+00:00
        title: title
        url: url
        crosspostSource: crosspostSource
        actor:
          image:
            url: url
          displayName: displayName
          name:
            familyName: familyName
            givenName: givenName
          clientSpecificActorInfo:
            youtubeActorInfo:
              channelId: channelId
          id: id
          url: url
          verification:
            adHocVerified: adHocVerified
        provider:
          title: title
        geocode: geocode
        etag: etag
        location:
          address:
            formatted: formatted
          displayName: displayName
          kind: plus#place
          id: id
          position:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
        id: id
        radius: radius
        placeName: placeName
        updated: 2000-01-23T04:56:07.000+00:00
        object:
          actor:
            image:
              url: url
            displayName: displayName
            clientSpecificActorInfo:
              youtubeActorInfo:
                channelId: channelId
            id: id
            url: url
            verification:
              adHocVerified: adHocVerified
          attachments:
          - image:
              width: 2
              type: type
              url: url
              height: 5
            displayName: displayName
            embed:
              type: type
              url: url
            id: id
            thumbnails:
            - image:
                width: 9
                type: type
                url: url
                height: 7
              description: description
              url: url
            - image:
                width: 9
                type: type
                url: url
                height: 7
              description: description
              url: url
            fullImage:
              width: 5
              type: type
              url: url
              height: 1
            content: content
            url: url
            objectType: objectType
          - image:
              width: 2
              type: type
              url: url
              height: 5
            displayName: displayName
            embed:
              type: type
              url: url
            id: id
            thumbnails:
            - image:
                width: 9
                type: type
                url: url
                height: 7
              description: description
              url: url
            - image:
                width: 9
                type: type
                url: url
                height: 7
              description: description
              url: url
            fullImage:
              width: 5
              type: type
              url: url
              height: 1
            content: content
            url: url
            objectType: objectType
          replies:
            totalItems: 2
            selfLink: selfLink
          plusoners:
            totalItems: 3
            selfLink: selfLink
          id: id
          resharers:
            totalItems: 4
            selfLink: selfLink
          content: content
          originalContent: originalContent
          url: url
          objectType: objectType
      properties:
        access:
          $ref: '#/components/schemas/Acl'
        actor:
          $ref: '#/components/schemas/Activity_actor'
        address:
          description: Street address where this activity occurred.
          title: address
          type: string
        annotation:
          description: "Additional content added by the person who shared this activity,\
            \ applicable only when resharing an activity."
          title: annotation
          type: string
        crosspostSource:
          description: "If this activity is a crosspost from another system, this\
            \ property specifies the ID of the original activity."
          title: crosspostSource
          type: string
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        geocode:
          description: "Latitude and longitude where this activity occurred. Format\
            \ is latitude followed by longitude, space separated."
          title: geocode
          type: string
        id:
          description: The ID of this activity.
          title: id
          type: string
        kind:
          default: plus#activity
          description: "Identifies this resource as an activity. Value: \"plus#activity\"\
            ."
          title: kind
          type: string
        location:
          $ref: '#/components/schemas/Place'
        object:
          $ref: '#/components/schemas/Activity_object'
        placeId:
          description: ID of the place where this activity occurred.
          title: placeId
          type: string
        placeName:
          description: Name of the place where this activity occurred.
          title: placeName
          type: string
        provider:
          $ref: '#/components/schemas/Activity_provider'
        published:
          description: The time at which this activity was initially published. Formatted
            as an RFC 3339 timestamp.
          format: date-time
          title: published
          type: string
        radius:
          description: "Radius, in meters, of the region where this activity occurred,\
            \ centered at the latitude and longitude identified in geocode."
          title: radius
          type: string
        title:
          description: Title of this activity.
          title: title
          type: string
        updated:
          description: The time at which this activity was last updated. Formatted
            as an RFC 3339 timestamp.
          format: date-time
          title: updated
          type: string
        url:
          description: The link to this activity.
          title: url
          type: string
        verb:
          description: "This activity's verb, which indicates the action that was\
            \ performed. Possible values include, but are not limited to, the following\
            \ values:  \n- \"post\" - Publish content to the stream. \n- \"share\"\
            \ - Reshare an activity."
          title: verb
          type: string
      title: Activity
      type: object
    ActivityFeed:
      example:
        kind: plus#activityFeed
        nextPageToken: nextPageToken
        etag: etag
        id: id
        title: title
        items:
        - annotation: annotation
          access:
            kind: plus#acl
            description: description
            items:
            - displayName: displayName
              id: id
              type: type
            - displayName: displayName
              id: id
              type: type
          address: address
          kind: plus#activity
          placeId: placeId
          verb: verb
          published: 2000-01-23T04:56:07.000+00:00
          title: title
          url: url
          crosspostSource: crosspostSource
          actor:
            image:
              url: url
            displayName: displayName
            name:
              familyName: familyName
              givenName: givenName
            clientSpecificActorInfo:
              youtubeActorInfo:
                channelId: channelId
            id: id
            url: url
            verification:
              adHocVerified: adHocVerified
          provider:
            title: title
          geocode: geocode
          etag: etag
          location:
            address:
              formatted: formatted
            displayName: displayName
            kind: plus#place
            id: id
            position:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
          id: id
          radius: radius
          placeName: placeName
          updated: 2000-01-23T04:56:07.000+00:00
          object:
            actor:
              image:
                url: url
              displayName: displayName
              clientSpecificActorInfo:
                youtubeActorInfo:
                  channelId: channelId
              id: id
              url: url
              verification:
                adHocVerified: adHocVerified
            attachments:
            - image:
                width: 2
                type: type
                url: url
                height: 5
              displayName: displayName
              embed:
                type: type
                url: url
              id: id
              thumbnails:
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              fullImage:
                width: 5
                type: type
                url: url
                height: 1
              content: content
              url: url
              objectType: objectType
            - image:
                width: 2
                type: type
                url: url
                height: 5
              displayName: displayName
              embed:
                type: type
                url: url
              id: id
              thumbnails:
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              fullImage:
                width: 5
                type: type
                url: url
                height: 1
              content: content
              url: url
              objectType: objectType
            replies:
              totalItems: 2
              selfLink: selfLink
            plusoners:
              totalItems: 3
              selfLink: selfLink
            id: id
            resharers:
              totalItems: 4
              selfLink: selfLink
            content: content
            originalContent: originalContent
            url: url
            objectType: objectType
        - annotation: annotation
          access:
            kind: plus#acl
            description: description
            items:
            - displayName: displayName
              id: id
              type: type
            - displayName: displayName
              id: id
              type: type
          address: address
          kind: plus#activity
          placeId: placeId
          verb: verb
          published: 2000-01-23T04:56:07.000+00:00
          title: title
          url: url
          crosspostSource: crosspostSource
          actor:
            image:
              url: url
            displayName: displayName
            name:
              familyName: familyName
              givenName: givenName
            clientSpecificActorInfo:
              youtubeActorInfo:
                channelId: channelId
            id: id
            url: url
            verification:
              adHocVerified: adHocVerified
          provider:
            title: title
          geocode: geocode
          etag: etag
          location:
            address:
              formatted: formatted
            displayName: displayName
            kind: plus#place
            id: id
            position:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
          id: id
          radius: radius
          placeName: placeName
          updated: 2000-01-23T04:56:07.000+00:00
          object:
            actor:
              image:
                url: url
              displayName: displayName
              clientSpecificActorInfo:
                youtubeActorInfo:
                  channelId: channelId
              id: id
              url: url
              verification:
                adHocVerified: adHocVerified
            attachments:
            - image:
                width: 2
                type: type
                url: url
                height: 5
              displayName: displayName
              embed:
                type: type
                url: url
              id: id
              thumbnails:
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              fullImage:
                width: 5
                type: type
                url: url
                height: 1
              content: content
              url: url
              objectType: objectType
            - image:
                width: 2
                type: type
                url: url
                height: 5
              displayName: displayName
              embed:
                type: type
                url: url
              id: id
              thumbnails:
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              - image:
                  width: 9
                  type: type
                  url: url
                  height: 7
                description: description
                url: url
              fullImage:
                width: 5
                type: type
                url: url
                height: 1
              content: content
              url: url
              objectType: objectType
            replies:
              totalItems: 2
              selfLink: selfLink
            plusoners:
              totalItems: 3
              selfLink: selfLink
            id: id
            resharers:
              totalItems: 4
              selfLink: selfLink
            content: content
            originalContent: originalContent
            url: url
            objectType: objectType
        updated: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
        selfLink: selfLink
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        id:
          description: The ID of this collection of activities. Deprecated.
          title: id
          type: string
        items:
          description: The activities in this page of results.
          items:
            $ref: '#/components/schemas/Activity'
          title: items
          type: array
        kind:
          default: plus#activityFeed
          description: "Identifies this resource as a collection of activities. Value:\
            \ \"plus#activityFeed\"."
          title: kind
          type: string
        nextLink:
          description: Link to the next page of activities.
          title: nextLink
          type: string
        nextPageToken:
          description: "The continuation token, which is used to page through large\
            \ result sets. Provide this value in a subsequent request to return the\
            \ next page of results."
          title: nextPageToken
          type: string
        selfLink:
          description: Link to this activity resource.
          title: selfLink
          type: string
        title:
          description: "The title of this collection of activities, which is a truncated\
            \ portion of the content."
          title: title
          type: string
        updated:
          description: The time at which this collection of activities was last updated.
            Formatted as an RFC 3339 timestamp.
          format: date-time
          title: updated
          type: string
      title: ActivityFeed
      type: object
    Comment:
      example:
        actor:
          image:
            url: url
          displayName: displayName
          clientSpecificActorInfo:
            youtubeActorInfo:
              channelId: channelId
          id: id
          url: url
          verification:
            adHocVerified: adHocVerified
        kind: plus#comment
        inReplyTo:
        - id: id
          url: url
        - id: id
          url: url
        plusoners:
          totalItems: 0
        verb: post
        etag: etag
        id: id
        published: 2000-01-23T04:56:07.000+00:00
        updated: 2000-01-23T04:56:07.000+00:00
        object:
          content: content
          originalContent: originalContent
          objectType: comment
        selfLink: selfLink
      properties:
        actor:
          $ref: '#/components/schemas/Comment_actor'
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        id:
          description: The ID of this comment.
          title: id
          type: string
        inReplyTo:
          description: The activity this comment replied to.
          items:
            $ref: '#/components/schemas/Comment_inReplyTo_inner'
          title: inReplyTo
          type: array
        kind:
          default: plus#comment
          description: "Identifies this resource as a comment. Value: \"plus#comment\"\
            ."
          title: kind
          type: string
        object:
          $ref: '#/components/schemas/Comment_object'
        plusoners:
          $ref: '#/components/schemas/Comment_plusoners'
        published:
          description: The time at which this comment was initially published. Formatted
            as an RFC 3339 timestamp.
          format: date-time
          title: published
          type: string
        selfLink:
          description: Link to this comment resource.
          title: selfLink
          type: string
        updated:
          description: The time at which this comment was last updated. Formatted
            as an RFC 3339 timestamp.
          format: date-time
          title: updated
          type: string
        verb:
          default: post
          description: "This comment's verb, indicating what action was performed.\
            \ Possible values are:  \n- \"post\" - Publish content to the stream."
          title: verb
          type: string
      title: Comment
      type: object
    CommentFeed:
      example:
        kind: plus#commentFeed
        nextPageToken: nextPageToken
        etag: etag
        id: id
        title: title
        items:
        - actor:
            image:
              url: url
            displayName: displayName
            clientSpecificActorInfo:
              youtubeActorInfo:
                channelId: channelId
            id: id
            url: url
            verification:
              adHocVerified: adHocVerified
          kind: plus#comment
          inReplyTo:
          - id: id
            url: url
          - id: id
            url: url
          plusoners:
            totalItems: 0
          verb: post
          etag: etag
          id: id
          published: 2000-01-23T04:56:07.000+00:00
          updated: 2000-01-23T04:56:07.000+00:00
          object:
            content: content
            originalContent: originalContent
            objectType: comment
          selfLink: selfLink
        - actor:
            image:
              url: url
            displayName: displayName
            clientSpecificActorInfo:
              youtubeActorInfo:
                channelId: channelId
            id: id
            url: url
            verification:
              adHocVerified: adHocVerified
          kind: plus#comment
          inReplyTo:
          - id: id
            url: url
          - id: id
            url: url
          plusoners:
            totalItems: 0
          verb: post
          etag: etag
          id: id
          published: 2000-01-23T04:56:07.000+00:00
          updated: 2000-01-23T04:56:07.000+00:00
          object:
            content: content
            originalContent: originalContent
            objectType: comment
          selfLink: selfLink
        updated: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        id:
          description: The ID of this collection of comments.
          title: id
          type: string
        items:
          description: The comments in this page of results.
          items:
            $ref: '#/components/schemas/Comment'
          title: items
          type: array
        kind:
          default: plus#commentFeed
          description: "Identifies this resource as a collection of comments. Value:\
            \ \"plus#commentFeed\"."
          title: kind
          type: string
        nextLink:
          description: Link to the next page of activities.
          title: nextLink
          type: string
        nextPageToken:
          description: "The continuation token, which is used to page through large\
            \ result sets. Provide this value in a subsequent request to return the\
            \ next page of results."
          title: nextPageToken
          type: string
        title:
          description: The title of this collection of comments.
          title: title
          type: string
        updated:
          description: The time at which this collection of comments was last updated.
            Formatted as an RFC 3339 timestamp.
          format: date-time
          title: updated
          type: string
      title: CommentFeed
      type: object
    PeopleFeed:
      example:
        totalItems: 3
        kind: plus#peopleFeed
        nextPageToken: nextPageToken
        etag: etag
        title: title
        items:
        - ageRange:
            min: 6
            max: 0
          birthday: birthday
          occupation: occupation
          gender: gender
          displayName: displayName
          relationshipStatus: relationshipStatus
          language: language
          aboutMe: aboutMe
          isPlusUser: true
          objectType: objectType
          cover:
            layout: layout
            coverPhoto:
              width: 7
              url: url
              height: 2
            coverInfo:
              topImageOffset: 5
              leftImageOffset: 5
          emails:
          - type: type
            value: value
          - type: type
            value: value
          skills: skills
          urls:
          - label: label
            type: type
            value: value
          - label: label
            type: type
            value: value
          nickname: nickname
          id: id
          image:
            isDefault: true
            url: url
          kind: plus#person
          verified: true
          plusOneCount: 9
          url: url
          currentLocation: currentLocation
          braggingRights: braggingRights
          placesLived:
          - value: value
            primary: true
          - value: value
            primary: true
          domain: domain
          name:
            honorificSuffix: honorificSuffix
            formatted: formatted
            familyName: familyName
            givenName: givenName
            honorificPrefix: honorificPrefix
            middleName: middleName
          organizations:
          - endDate: endDate
            name: name
            description: description
            location: location
            department: department
            title: title
            type: type
            startDate: startDate
            primary: true
          - endDate: endDate
            name: name
            description: description
            location: location
            department: department
            title: title
            type: type
            startDate: startDate
            primary: true
          tagline: tagline
          etag: etag
          circledByCount: 1
        - ageRange:
            min: 6
            max: 0
          birthday: birthday
          occupation: occupation
          gender: gender
          displayName: displayName
          relationshipStatus: relationshipStatus
          language: language
          aboutMe: aboutMe
          isPlusUser: true
          objectType: objectType
          cover:
            layout: layout
            coverPhoto:
              width: 7
              url: url
              height: 2
            coverInfo:
              topImageOffset: 5
              leftImageOffset: 5
          emails:
          - type: type
            value: value
          - type: type
            value: value
          skills: skills
          urls:
          - label: label
            type: type
            value: value
          - label: label
            type: type
            value: value
          nickname: nickname
          id: id
          image:
            isDefault: true
            url: url
          kind: plus#person
          verified: true
          plusOneCount: 9
          url: url
          currentLocation: currentLocation
          braggingRights: braggingRights
          placesLived:
          - value: value
            primary: true
          - value: value
            primary: true
          domain: domain
          name:
            honorificSuffix: honorificSuffix
            formatted: formatted
            familyName: familyName
            givenName: givenName
            honorificPrefix: honorificPrefix
            middleName: middleName
          organizations:
          - endDate: endDate
            name: name
            description: description
            location: location
            department: department
            title: title
            type: type
            startDate: startDate
            primary: true
          - endDate: endDate
            name: name
            description: description
            location: location
            department: department
            title: title
            type: type
            startDate: startDate
            primary: true
          tagline: tagline
          etag: etag
          circledByCount: 1
        selfLink: selfLink
      properties:
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        items:
          description: "The people in this page of results. Each item includes the\
            \ id, displayName, image, and url for the person. To retrieve additional\
            \ profile data, see the people.get method."
          items:
            $ref: '#/components/schemas/Person'
          title: items
          type: array
        kind:
          default: plus#peopleFeed
          description: "Identifies this resource as a collection of people. Value:\
            \ \"plus#peopleFeed\"."
          title: kind
          type: string
        nextPageToken:
          description: "The continuation token, which is used to page through large\
            \ result sets. Provide this value in a subsequent request to return the\
            \ next page of results."
          title: nextPageToken
          type: string
        selfLink:
          description: Link to this resource.
          title: selfLink
          type: string
        title:
          description: The title of this collection of people.
          title: title
          type: string
        totalItems:
          description: The total number of people available in this list. The number
            of people in a response might be smaller due to paging. This might not
            be set for all collections.
          format: int32
          title: totalItems
          type: integer
      title: PeopleFeed
      type: object
    Person:
      example:
        ageRange:
          min: 6
          max: 0
        birthday: birthday
        occupation: occupation
        gender: gender
        displayName: displayName
        relationshipStatus: relationshipStatus
        language: language
        aboutMe: aboutMe
        isPlusUser: true
        objectType: objectType
        cover:
          layout: layout
          coverPhoto:
            width: 7
            url: url
            height: 2
          coverInfo:
            topImageOffset: 5
            leftImageOffset: 5
        emails:
        - type: type
          value: value
        - type: type
          value: value
        skills: skills
        urls:
        - label: label
          type: type
          value: value
        - label: label
          type: type
          value: value
        nickname: nickname
        id: id
        image:
          isDefault: true
          url: url
        kind: plus#person
        verified: true
        plusOneCount: 9
        url: url
        currentLocation: currentLocation
        braggingRights: braggingRights
        placesLived:
        - value: value
          primary: true
        - value: value
          primary: true
        domain: domain
        name:
          honorificSuffix: honorificSuffix
          formatted: formatted
          familyName: familyName
          givenName: givenName
          honorificPrefix: honorificPrefix
          middleName: middleName
        organizations:
        - endDate: endDate
          name: name
          description: description
          location: location
          department: department
          title: title
          type: type
          startDate: startDate
          primary: true
        - endDate: endDate
          name: name
          description: description
          location: location
          department: department
          title: title
          type: type
          startDate: startDate
          primary: true
        tagline: tagline
        etag: etag
        circledByCount: 1
      properties:
        aboutMe:
          description: A short biography for this person.
          title: aboutMe
          type: string
        ageRange:
          $ref: '#/components/schemas/Person_ageRange'
        birthday:
          description: "The person's date of birth, represented as YYYY-MM-DD."
          title: birthday
          type: string
        braggingRights:
          description: The "bragging rights" line of this person.
          title: braggingRights
          type: string
        circledByCount:
          description: "For followers who are visible, the number of people who have\
            \ added this person or page to a circle."
          format: int32
          title: circledByCount
          type: integer
        cover:
          $ref: '#/components/schemas/Person_cover'
        currentLocation:
          description: (this field is not currently used)
          title: currentLocation
          type: string
        displayName:
          description: "The name of this person, which is suitable for display."
          title: displayName
          type: string
        domain:
          description: "The hosted domain name for the user's Google Apps account.\
            \ For instance, example.com. The plus.profile.emails.read or email scope\
            \ is needed to get this domain name."
          title: domain
          type: string
        emails:
          description: "A list of email addresses that this person has, including\
            \ their Google account email address, and the public verified email addresses\
            \ on their Google+ profile. The plus.profile.emails.read scope is needed\
            \ to retrieve these email addresses, or the email scope can be used to\
            \ retrieve just the Google account email address."
          items:
            $ref: '#/components/schemas/Person_emails_inner'
          title: emails
          type: array
        etag:
          description: ETag of this response for caching purposes.
          title: etag
          type: string
        gender:
          description: "The person's gender. Possible values include, but are not\
            \ limited to, the following values:  \n- \"male\" - Male gender. \n- \"\
            female\" - Female gender. \n- \"other\" - Other."
          title: gender
          type: string
        id:
          description: The ID of this person.
          title: id
          type: string
        image:
          $ref: '#/components/schemas/Person_image'
        isPlusUser:
          description: Whether this user has signed up for Google+.
          title: isPlusUser
          type: boolean
        kind:
          default: plus#person
          description: "Identifies this resource as a person. Value: \"plus#person\"\
            ."
          title: kind
          type: string
        language:
          description: The user's preferred language for rendering.
          title: language
          type: string
        name:
          $ref: '#/components/schemas/Person_name'
        nickname:
          description: The nickname of this person.
          title: nickname
          type: string
        objectType:
          description: "Type of person within Google+. Possible values include, but\
            \ are not limited to, the following values:  \n- \"person\" - represents\
            \ an actual person. \n- \"page\" - represents a page."
          title: objectType
          type: string
        occupation:
          description: The occupation of this person.
          title: occupation
          type: string
        organizations:
          description: A list of current or past organizations with which this person
            is associated.
          items:
            $ref: '#/components/schemas/Person_organizations_inner'
          title: organizations
          type: array
        placesLived:
          description: A list of places where this person has lived.
          items:
            $ref: '#/components/schemas/Person_placesLived_inner'
          title: placesLived
          type: array
        plusOneCount:
          description: "If a Google+ Page, the number of people who have +1'd this\
            \ page."
          format: int32
          title: plusOneCount
          type: integer
        relationshipStatus:
          description: "The person's relationship status. Possible values include,\
            \ but are not limited to, the following values:  \n- \"single\" - Person\
            \ is single. \n- \"in_a_relationship\" - Person is in a relationship.\
            \ \n- \"engaged\" - Person is engaged. \n- \"married\" - Person is married.\
            \ \n- \"its_complicated\" - The relationship is complicated. \n- \"open_relationship\"\
            \ - Person is in an open relationship. \n- \"widowed\" - Person is widowed.\
            \ \n- \"in_domestic_partnership\" - Person is in a domestic partnership.\
            \ \n- \"in_civil_union\" - Person is in a civil union."
          title: relationshipStatus
          type: string
        skills:
          description: The person's skills.
          title: skills
          type: string
        tagline:
          description: The brief description (tagline) of this person.
          title: tagline
          type: string
        url:
          description: The URL of this person's profile.
          title: url
          type: string
        urls:
          description: A list of URLs for this person.
          items:
            $ref: '#/components/schemas/Person_urls_inner'
          title: urls
          type: array
        verified:
          description: Whether the person or Google+ Page has been verified.
          title: verified
          type: boolean
      title: Person
      type: object
    Place:
      example:
        address:
          formatted: formatted
        displayName: displayName
        kind: plus#place
        id: id
        position:
          latitude: 0.8008281904610115
          longitude: 6.027456183070403
      properties:
        address:
          $ref: '#/components/schemas/Place_address'
        displayName:
          description: The display name of the place.
          title: displayName
          type: string
        id:
          description: The id of the place.
          title: id
          type: string
        kind:
          default: plus#place
          description: "Identifies this resource as a place. Value: \"plus#place\"\
            ."
          title: kind
          type: string
        position:
          $ref: '#/components/schemas/Place_position'
      title: Place
      type: object
    PlusAclentryResource:
      example:
        displayName: displayName
        id: id
        type: type
      properties:
        displayName:
          description: A descriptive name for this entry. Suitable for display.
          title: displayName
          type: string
        id:
          description: "The ID of the entry. For entries of type \"person\" or \"\
            circle\", this is the ID of the resource. For other types, this property\
            \ is not set."
          title: id
          type: string
        type:
          description: "The type of entry describing to whom access is granted. Possible\
            \ values are:  \n- \"person\" - Access to an individual. \n- \"circle\"\
            \ - Access to members of a circle. \n- \"myCircles\" - Access to members\
            \ of all the person's circles. \n- \"extendedCircles\" - Access to members\
            \ of all the person's circles, plus all of the people in their circles.\
            \ \n- \"domain\" - Access to members of the person's Google Apps domain.\
            \ \n- \"public\" - Access to anyone on the web."
          title: type
          type: string
      title: PlusAclentryResource
      type: object
    Activity_actor_clientSpecificActorInfo_youtubeActorInfo:
      description: Actor info specific to YouTube clients.
      example:
        channelId: channelId
      properties:
        channelId:
          description: ID of the YouTube channel owned by the Actor.
          title: channelId
          type: string
      title: Activity_actor_clientSpecificActorInfo_youtubeActorInfo
      type: object
    Activity_actor_clientSpecificActorInfo:
      description: Actor info specific to particular clients.
      example:
        youtubeActorInfo:
          channelId: channelId
      properties:
        youtubeActorInfo:
          $ref: '#/components/schemas/Activity_actor_clientSpecificActorInfo_youtubeActorInfo'
      title: Activity_actor_clientSpecificActorInfo
      type: object
    Activity_actor_image:
      description: The image representation of the actor.
      example:
        url: url
      properties:
        url:
          description: "The URL of the actor's profile photo. To resize the image\
            \ and crop it to a square, append the query string ?sz=x, where x is the\
            \ dimension in pixels of each side."
          title: url
          type: string
      title: Activity_actor_image
      type: object
    Activity_actor_name:
      description: An object representation of the individual components of name.
      example:
        familyName: familyName
        givenName: givenName
      properties:
        familyName:
          description: The family name ("last name") of the actor.
          title: familyName
          type: string
        givenName:
          description: The given name ("first name") of the actor.
          title: givenName
          type: string
      title: Activity_actor_name
      type: object
    Activity_actor_verification:
      description: Verification status of actor.
      example:
        adHocVerified: adHocVerified
      properties:
        adHocVerified:
          description: Verification for one-time or manual processes.
          title: adHocVerified
          type: string
      title: Activity_actor_verification
      type: object
    Activity_actor:
      description: The person who performed this activity.
      example:
        image:
          url: url
        displayName: displayName
        name:
          familyName: familyName
          givenName: givenName
        clientSpecificActorInfo:
          youtubeActorInfo:
            channelId: channelId
        id: id
        url: url
        verification:
          adHocVerified: adHocVerified
      properties:
        clientSpecificActorInfo:
          $ref: '#/components/schemas/Activity_actor_clientSpecificActorInfo'
        displayName:
          description: "The name of the actor, suitable for display."
          title: displayName
          type: string
        id:
          description: The ID of the actor's Person resource.
          title: id
          type: string
        image:
          $ref: '#/components/schemas/Activity_actor_image'
        name:
          $ref: '#/components/schemas/Activity_actor_name'
        url:
          description: The link to the actor's Google profile.
          title: url
          type: string
        verification:
          $ref: '#/components/schemas/Activity_actor_verification'
      title: Activity_actor
      type: object
    Activity_object_actor_image:
      description: The image representation of the original actor.
      example:
        url: url
      properties:
        url:
          description: A URL that points to a thumbnail photo of the original actor.
          title: url
          type: string
      title: Activity_object_actor_image
      type: object
    Activity_object_actor:
      description: "If this activity's object is itself another activity, such as\
        \ when a person reshares an activity, this property specifies the original\
        \ activity's actor."
      example:
        image:
          url: url
        displayName: displayName
        clientSpecificActorInfo:
          youtubeActorInfo:
            channelId: channelId
        id: id
        url: url
        verification:
          adHocVerified: adHocVerified
      properties:
        clientSpecificActorInfo:
          $ref: '#/components/schemas/Activity_actor_clientSpecificActorInfo'
        displayName:
          description: "The original actor's name, which is suitable for display."
          title: displayName
          type: string
        id:
          description: ID of the original actor.
          title: id
          type: string
        image:
          $ref: '#/components/schemas/Activity_object_actor_image'
        url:
          description: A link to the original actor's Google profile.
          title: url
          type: string
        verification:
          $ref: '#/components/schemas/Activity_actor_verification'
      title: Activity_object_actor
      type: object
    Activity_object_attachments_inner_embed:
      description: "If the attachment is a video, the embeddable link."
      example:
        type: type
        url: url
      properties:
        type:
          description: Media type of the link.
          title: type
          type: string
        url:
          description: URL of the link.
          title: url
          type: string
      title: Activity_object_attachments_inner_embed
      type: object
    Activity_object_attachments_inner_fullImage:
      description: The full image URL for photo attachments.
      example:
        width: 5
        type: type
        url: url
        height: 1
      properties:
        height:
          description: "The height, in pixels, of the linked resource."
          format: uint32
          title: height
          type: integer
        type:
          description: Media type of the link.
          title: type
          type: string
        url:
          description: URL of the image.
          title: url
          type: string
        width:
          description: "The width, in pixels, of the linked resource."
          format: uint32
          title: width
          type: integer
      title: Activity_object_attachments_inner_fullImage
      type: object
    Activity_object_attachments_inner_image:
      description: The preview image for photos or videos.
      example:
        width: 2
        type: type
        url: url
        height: 5
      properties:
        height:
          description: "The height, in pixels, of the linked resource."
          format: uint32
          title: height
          type: integer
        type:
          description: Media type of the link.
          title: type
          type: string
        url:
          description: Image URL.
          title: url
          type: string
        width:
          description: "The width, in pixels, of the linked resource."
          format: uint32
          title: width
          type: integer
      title: Activity_object_attachments_inner_image
      type: object
    Activity_object_attachments_inner_thumbnails_inner_image:
      description: Image resource.
      example:
        width: 9
        type: type
        url: url
        height: 7
      properties:
        height:
          description: "The height, in pixels, of the linked resource."
          format: uint32
          title: height
          type: integer
        type:
          description: Media type of the link.
          title: type
          type: string
        url:
          description: Image url.
          title: url
          type: string
        width:
          description: "The width, in pixels, of the linked resource."
          format: uint32
          title: width
          type: integer
      title: Activity_object_attachments_inner_thumbnails_inner_image
      type: object
    Activity_object_attachments_inner_thumbnails_inner:
      example:
        image:
          width: 9
          type: type
          url: url
          height: 7
        description: description
        url: url
      properties:
        description:
          description: Potential name of the thumbnail.
          title: description
          type: string
        image:
          $ref: '#/components/schemas/Activity_object_attachments_inner_thumbnails_inner_image'
        url:
          description: URL of the webpage containing the image.
          title: url
          type: string
      title: Activity_object_attachments_inner_thumbnails_inner
      type: object
    Activity_object_attachments_inner:
      example:
        image:
          width: 2
          type: type
          url: url
          height: 5
        displayName: displayName
        embed:
          type: type
          url: url
        id: id
        thumbnails:
        - image:
            width: 9
            type: type
            url: url
            height: 7
          description: description
          url: url
        - image:
            width: 9
            type: type
            url: url
            height: 7
          description: description
          url: url
        fullImage:
          width: 5
          type: type
          url: url
          height: 1
        content: content
        url: url
        objectType: objectType
      properties:
        content:
          description: "If the attachment is an article, this property contains a\
            \ snippet of text from the article. It can also include descriptions for\
            \ other types."
          title: content
          type: string
        displayName:
          description: "The title of the attachment, such as a photo caption or an\
            \ article title."
          title: displayName
          type: string
        embed:
          $ref: '#/components/schemas/Activity_object_attachments_inner_embed'
        fullImage:
          $ref: '#/components/schemas/Activity_object_attachments_inner_fullImage'
        id:
          description: The ID of the attachment.
          title: id
          type: string
        image:
          $ref: '#/components/schemas/Activity_object_attachments_inner_image'
        objectType:
          description: "The type of media object. Possible values include, but are\
            \ not limited to, the following values:  \n- \"photo\" - A photo. \n-\
            \ \"album\" - A photo album. \n- \"video\" - A video. \n- \"article\"\
            \ - An article, specified by a link."
          title: objectType
          type: string
        thumbnails:
          description: "If the attachment is an album, this property is a list of\
            \ potential additional thumbnails from the album."
          items:
            $ref: '#/components/schemas/Activity_object_attachments_inner_thumbnails_inner'
          title: thumbnails
          type: array
        url:
          description: "The link to the attachment, which should be of type text/html."
          title: url
          type: string
      title: Activity_object_attachments_inner
      type: object
    Activity_object_plusoners:
      description: People who +1'd this activity.
      example:
        totalItems: 3
        selfLink: selfLink
      properties:
        selfLink:
          description: The URL for the collection of people who +1'd this activity.
          title: selfLink
          type: string
        totalItems:
          description: Total number of people who +1'd this activity.
          format: uint32
          title: totalItems
          type: integer
      title: Activity_object_plusoners
      type: object
    Activity_object_replies:
      description: Comments in reply to this activity.
      example:
        totalItems: 2
        selfLink: selfLink
      properties:
        selfLink:
          description: The URL for the collection of comments in reply to this activity.
          title: selfLink
          type: string
        totalItems:
          description: Total number of comments on this activity.
          format: uint32
          title: totalItems
          type: integer
      title: Activity_object_replies
      type: object
    Activity_object_resharers:
      description: People who reshared this activity.
      example:
        totalItems: 4
        selfLink: selfLink
      properties:
        selfLink:
          description: The URL for the collection of resharers.
          title: selfLink
          type: string
        totalItems:
          description: Total number of people who reshared this activity.
          format: uint32
          title: totalItems
          type: integer
      title: Activity_object_resharers
      type: object
    Activity_object:
      description: The object of this activity.
      example:
        actor:
          image:
            url: url
          displayName: displayName
          clientSpecificActorInfo:
            youtubeActorInfo:
              channelId: channelId
          id: id
          url: url
          verification:
            adHocVerified: adHocVerified
        attachments:
        - image:
            width: 2
            type: type
            url: url
            height: 5
          displayName: displayName
          embed:
            type: type
            url: url
          id: id
          thumbnails:
          - image:
              width: 9
              type: type
              url: url
              height: 7
            description: description
            url: url
          - image:
              width: 9
              type: type
              url: url
              height: 7
            description: description
            url: url
          fullImage:
            width: 5
            type: type
            url: url
            height: 1
          content: content
          url: url
          objectType: objectType
        - image:
            width: 2
            type: type
            url: url
            height: 5
          displayName: displayName
          embed:
            type: type
            url: url
          id: id
          thumbnails:
          - image:
              width: 9
              type: type
              url: url
              height: 7
            description: description
            url: url
          - image:
              width: 9
              type: type
              url: url
              height: 7
            description: description
            url: url
          fullImage:
            width: 5
            type: type
            url: url
            height: 1
          content: content
          url: url
          objectType: objectType
        replies:
          totalItems: 2
          selfLink: selfLink
        plusoners:
          totalItems: 3
          selfLink: selfLink
        id: id
        resharers:
          totalItems: 4
          selfLink: selfLink
        content: content
        originalContent: originalContent
        url: url
        objectType: objectType
      properties:
        actor:
          $ref: '#/components/schemas/Activity_object_actor'
        attachments:
          description: The media objects attached to this activity.
          items:
            $ref: '#/components/schemas/Activity_object_attachments_inner'
          title: attachments
          type: array
        content:
          description: "The HTML-formatted content, which is suitable for display."
          title: content
          type: string
        id:
          description: "The ID of the object. When resharing an activity, this is\
            \ the ID of the activity that is being reshared."
          title: id
          type: string
        objectType:
          description: "The type of the object. Possible values include, but are not\
            \ limited to, the following values:  \n- \"note\" - Textual content. \n\
            - \"activity\" - A Google+ activity."
          title: objectType
          type: string
        originalContent:
          description: "The content (text) as provided by the author, which is stored\
            \ without any HTML formatting. When creating or updating an activity,\
            \ this value must be supplied as plain text in the request."
          title: originalContent
          type: string
        plusoners:
          $ref: '#/components/schemas/Activity_object_plusoners'
        replies:
          $ref: '#/components/schemas/Activity_object_replies'
        resharers:
          $ref: '#/components/schemas/Activity_object_resharers'
        url:
          description: The URL that points to the linked resource.
          title: url
          type: string
      title: Activity_object
      type: object
    Activity_provider:
      description: The service provider that initially published this activity.
      example:
        title: title
      properties:
        title:
          description: Name of the service provider.
          title: title
          type: string
      title: Activity_provider
      type: object
    Comment_actor_image:
      description: The image representation of this actor.
      example:
        url: url
      properties:
        url:
          description: "The URL of the actor's profile photo. To resize the image\
            \ and crop it to a square, append the query string ?sz=x, where x is the\
            \ dimension in pixels of each side."
          title: url
          type: string
      title: Comment_actor_image
      type: object
    Comment_actor:
      description: The person who posted this comment.
      example:
        image:
          url: url
        displayName: displayName
        clientSpecificActorInfo:
          youtubeActorInfo:
            channelId: channelId
        id: id
        url: url
        verification:
          adHocVerified: adHocVerified
      properties:
        clientSpecificActorInfo:
          $ref: '#/components/schemas/Activity_actor_clientSpecificActorInfo'
        displayName:
          description: "The name of this actor, suitable for display."
          title: displayName
          type: string
        id:
          description: The ID of the actor.
          title: id
          type: string
        image:
          $ref: '#/components/schemas/Comment_actor_image'
        url:
          description: A link to the Person resource for this actor.
          title: url
          type: string
        verification:
          $ref: '#/components/schemas/Activity_actor_verification'
      title: Comment_actor
      type: object
    Comment_inReplyTo_inner:
      example:
        id: id
        url: url
      properties:
        id:
          description: The ID of the activity.
          title: id
          type: string
        url:
          description: The URL of the activity.
          title: url
          type: string
      title: Comment_inReplyTo_inner
      type: object
    Comment_object:
      description: The object of this comment.
      example:
        content: content
        originalContent: originalContent
        objectType: comment
      properties:
        content:
          description: "The HTML-formatted content, suitable for display."
          title: content
          type: string
        objectType:
          default: comment
          description: "The object type of this comment. Possible values are:  \n\
            - \"comment\" - A comment in reply to an activity."
          title: objectType
          type: string
        originalContent:
          description: "The content (text) as provided by the author, stored without\
            \ any HTML formatting. When creating or updating a comment, this value\
            \ must be supplied as plain text in the request."
          title: originalContent
          type: string
      title: Comment_object
      type: object
    Comment_plusoners:
      description: People who +1'd this comment.
      example:
        totalItems: 0
      properties:
        totalItems:
          description: Total number of people who +1'd this comment.
          format: uint32
          title: totalItems
          type: integer
      title: Comment_plusoners
      type: object
    Person_ageRange:
      description: "The age range of the person. Valid ranges are 17 or younger, 18\
        \ to 20, and 21 or older. Age is determined from the user's birthday using\
        \ Western age reckoning."
      example:
        min: 6
        max: 0
      properties:
        max:
          description: "The age range's upper bound, if any. Possible values include,\
            \ but are not limited to, the following:  \n- \"17\" - for age 17 \n-\
            \ \"20\" - for age 20"
          format: int32
          title: max
          type: integer
        min:
          description: "The age range's lower bound, if any. Possible values include,\
            \ but are not limited to, the following:  \n- \"21\" - for age 21 \n-\
            \ \"18\" - for age 18"
          format: int32
          title: min
          type: integer
      title: Person_ageRange
      type: object
    Person_cover_coverInfo:
      description: Extra information about the cover photo.
      example:
        topImageOffset: 5
        leftImageOffset: 5
      properties:
        leftImageOffset:
          description: The difference between the left position of the cover image
            and the actual displayed cover image. Only valid for banner layout.
          format: int32
          title: leftImageOffset
          type: integer
        topImageOffset:
          description: The difference between the top position of the cover image
            and the actual displayed cover image. Only valid for banner layout.
          format: int32
          title: topImageOffset
          type: integer
      title: Person_cover_coverInfo
      type: object
    Person_cover_coverPhoto:
      description: The person's primary cover image.
      example:
        width: 7
        url: url
        height: 2
      properties:
        height:
          description: The height of the image.
          format: int32
          title: height
          type: integer
        url:
          description: The URL of the image.
          title: url
          type: string
        width:
          description: The width of the image.
          format: int32
          title: width
          type: integer
      title: Person_cover_coverPhoto
      type: object
    Person_cover:
      description: The cover photo content.
      example:
        layout: layout
        coverPhoto:
          width: 7
          url: url
          height: 2
        coverInfo:
          topImageOffset: 5
          leftImageOffset: 5
      properties:
        coverInfo:
          $ref: '#/components/schemas/Person_cover_coverInfo'
        coverPhoto:
          $ref: '#/components/schemas/Person_cover_coverPhoto'
        layout:
          description: "The layout of the cover art. Possible values include, but\
            \ are not limited to, the following values:  \n- \"banner\" - One large\
            \ image banner."
          title: layout
          type: string
      title: Person_cover
      type: object
    Person_emails_inner:
      example:
        type: type
        value: value
      properties:
        type:
          description: "The type of address. Possible values include, but are not\
            \ limited to, the following values:  \n- \"account\" - Google account\
            \ email address. \n- \"home\" - Home email address. \n- \"work\" - Work\
            \ email address. \n- \"other\" - Other."
          title: type
          type: string
        value:
          description: The email address.
          title: value
          type: string
      title: Person_emails_inner
      type: object
    Person_image:
      description: The representation of the person's profile photo.
      example:
        isDefault: true
        url: url
      properties:
        isDefault:
          description: Whether the person's profile photo is the default one
          title: isDefault
          type: boolean
        url:
          description: "The URL of the person's profile photo. To resize the image\
            \ and crop it to a square, append the query string ?sz=x, where x is the\
            \ dimension in pixels of each side."
          title: url
          type: string
      title: Person_image
      type: object
    Person_name:
      description: An object representation of the individual components of a person's
        name.
      example:
        honorificSuffix: honorificSuffix
        formatted: formatted
        familyName: familyName
        givenName: givenName
        honorificPrefix: honorificPrefix
        middleName: middleName
      properties:
        familyName:
          description: The family name (last name) of this person.
          title: familyName
          type: string
        formatted:
          description: "The full name of this person, including middle names, suffixes,\
            \ etc."
          title: formatted
          type: string
        givenName:
          description: The given name (first name) of this person.
          title: givenName
          type: string
        honorificPrefix:
          description: The honorific prefixes (such as "Dr." or "Mrs.") for this person.
          title: honorificPrefix
          type: string
        honorificSuffix:
          description: The honorific suffixes (such as "Jr.") for this person.
          title: honorificSuffix
          type: string
        middleName:
          description: The middle name of this person.
          title: middleName
          type: string
      title: Person_name
      type: object
    Person_organizations_inner:
[...]
