openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscNodeConfiguration.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: automation-dscNodeConfiguration
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations
  : get:
      description: Retrieve a list of dsc node configurations.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: dsc_node_configuration_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfigurationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNodeConfiguration
      x-ms-examples:
        List DSC node configurations by Automation Account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - configuration:
                    name: SetupServer
                  creationTime: 2017-03-28T23:17:06.8901968+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost
                  lastModifiedTime: 2017-03-28T23:17:06.8901968+00:00
                  name: SetupServer.localhost
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dsc_node_configuration_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}
  : delete:
      description: Delete the Dsc node configurations by node configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: dsc_node_configuration_delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Dsc node configuration name.
        in: path
        name: nodeConfigurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNodeConfiguration
      x-ms-examples:
        Delete a DSC node configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            credentialName: myCredential
            nodeConfigurationName: configName.nodeConfigName
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.dsc_node_configuration_controller
    get:
      description: Retrieve the Dsc node configurations by node configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: dsc_node_configuration_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Dsc node configuration name.
        in: path
        name: nodeConfigurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNodeConfiguration
      x-ms-examples:
        Get a DSC node configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeConfigurationName: SetupServer.localhost
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                configuration:
                  name: SetupServer
                creationTime: 2017-03-28T23:17:06.8901968+00:00
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost
                lastModifiedTime: 2017-03-28T23:17:06.8901968+00:00
                name: SetupServer.localhost
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.dsc_node_configuration_controller
    put:
      description: Create the node configuration identified by node configuration
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: dsc_node_configuration_create_or_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The create or update parameters for configuration.
        in: path
        name: nodeConfigurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscNodeConfigurationCreateOrUpdateParameters'
        description: The create or update parameters for configuration.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNodeConfiguration
      x-ms-examples:
        Get a DSC node configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            credentialName: myCredential
            nodeConfigurationName: configName.nodeConfigName
            parameters:
              configuration:
                name: configName
              incrementNodeConfigurationBuild: true
              name: configName.nodeConfigName
              source:
                hash:
                  algorithm: sha256
                  value: 6DE256A57F01BFA29B88696D5E77A383D6E61484C7686E8DB955FA10ACE9FFE5
                type: embeddedContent
                value: "\r\ninstance of MSFT_RoleResource as $MSFT_RoleResource1ref\r\
                  \n{\r\nResourceID = \"[WindowsFeature]IIS\";\r\n Ensure = \"Present\"\
                  ;\r\n SourceInfo = \"::3::32::WindowsFeature\";\r\n Name = \"Web-Server\"\
                  ;\r\n ModuleName = \"PsDesiredStateConfiguration\";\r\n\r\nModuleVersion\
                  \ = \"1.0\";\r\r\n ConfigurationName = \"configName\";\r\r\n};\r\
                  \ninstance of OMI_ConfigurationDocument\r\n\r\r\n              \
                  \      {\r\n Version=\"2.0.0\";\r\n \r\r\n                     \
                  \   MinimumCompatibleVersion = \"1.0.0\";\r\n \r\r\n           \
                  \             CompatibleVersionAdditionalProperties= {\"Omi_BaseResource:ConfigurationName\"\
                  };\r\n \r\r\n                        Author=\"weijiel\";\r\n \r\r\
                  \n                        GenerationDate=\"03/30/2017 13:40:25\"\
                  ;\r\n \r\r\n                        GenerationHost=\"TEST-BACKEND\"\
                  ;\r\n \r\r\n                        Name=\"configName\";\r\n\r\r\
                  \n                    };\r\n"
                version: "1.0"
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                configuration:
                  name: configName
                creationTime: 2017-06-16T01:18:39.010771+00:00
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/nodeConfigurations/nodeConfigName
                lastModifiedTime: 2017-06-16T01:18:39.010771+00:00
                name: nodeConfigName
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.dsc_node_configuration_controller
components:
  schemas:
    ContentHash:
      description: Definition of the runbook property type.
      example:
        value: value
        algorithm: algorithm
      properties:
        algorithm:
          description: Gets or sets the content hash algorithm used to hash the content.
          title: algorithm
          type: string
        value:
          description: Gets or sets expected hash value of the content.
          title: value
          type: string
      required:
      - algorithm
      - value
      title: ContentHash
      type: object
    ContentSource:
      description: Definition of the content source.
      example:
        type: embeddedContent
        value: value
        version: version
        hash:
          value: value
          algorithm: algorithm
      properties:
        hash:
          $ref: '#/components/schemas/ContentHash'
        type:
          description: Gets or sets the content source type.
          enum:
          - embeddedContent
          - uri
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContentSourceType
        value:
          description: Gets or sets the value of the content. This is based on the
            content source type.
          title: value
          type: string
        version:
          description: Gets or sets the version of the content.
          title: version
          type: string
      title: ContentSource
      type: object
    DscConfigurationAssociationProperty:
      description: The Dsc configuration property associated with the entity.
      example:
        name: name
      properties:
        name:
          description: Gets or sets the name of the Dsc configuration.
          title: name
          type: string
      title: DscConfigurationAssociationProperty
      type: object
    DscNodeConfiguration:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Definition of the dsc node configuration.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        configuration:
          name: name
      properties:
        configuration:
          $ref: '#/components/schemas/DscConfigurationAssociationProperty'
        creationTime:
          description: Gets or sets creation time.
          format: date-time
          nullable: false
          title: creationTime
          type: string
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          title: lastModifiedTime
          type: string
      title: DscNodeConfiguration
    DscNodeConfigurationCreateOrUpdateParameters:
      description: The parameters supplied to the create or update node configuration
        operation.
      example:
        incrementNodeConfigurationBuild: true
        configuration:
          name: name
        name: name
        source:
          type: embeddedContent
          value: value
          version: version
          hash:
            value: value
            algorithm: algorithm
      properties:
        configuration:
          $ref: '#/components/schemas/DscConfigurationAssociationProperty'
        incrementNodeConfigurationBuild:
          description: If a new build version of NodeConfiguration is required.
          title: incrementNodeConfigurationBuild
          type: boolean
        name:
          description: Name of the node configuration.
          title: name
          type: string
        source:
          $ref: '#/components/schemas/ContentSource'
      required:
      - configuration
      - name
      - source
      title: DscNodeConfigurationCreateOrUpdateParameters
      type: object
    DscNodeConfigurationListResult:
      description: The response model for the list job operation.
      example:
        value:
        - lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          configuration:
            name: name
        - lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          configuration:
            name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          title: nextLink
          type: string
        value:
          description: Gets or sets a list of Dsc node configurations.
          items:
            $ref: '#/components/schemas/DscNodeConfiguration'
          title: value
          type: array
      title: DscNodeConfigurationListResult
      type: object
    DscNodeConfiguration_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: DscNodeConfiguration_ListByAutomationAccount_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
