openapi: 3.0.1
info:
  description: The Azure management API provides a RESTful set of web services that
    interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: 2018-02-14
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2018-02-14/keyvault.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: keyvault
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkNameAvailability:
    post:
      description: Checks that the vault name is valid and is not already in use.
      operationId: vaults_check_name_availability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultCheckNameAvailabilityParameters'
        description: The name of the vault.
        required: true
        x-body-name: vaultName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK -- Operation to check the vault name availability was successful.
      tags:
      - Vaults
      x-ms-examples:
        Validate a vault name:
          parameters:
            api-version: 2018-02-14
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName:
              name: sample-vault
              type: Microsoft.KeyVault/vaults
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: vaultName
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedVaults:
    get:
      description: Gets information about the deleted vaults in a subscription.
      operationId: vaults_list_deleted
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVaultListResult'
          description: Retrieved information about all deleted key vaults in a subscription.
      tags:
      - Vaults
      x-ms-examples:
        List deleted vaults in the specified subscription:
          parameters:
            $top: 1
            api-version: 2018-02-14
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2018-02-14&%24skiptoken=HY3RaoMwAEX%2fRcbeYhJrnRXKYNWOuqpME0sfNcYui0Yxade19N8ne7hcDlzOvVuKX81eKKmt4G4dooLQwgqsL2NGHUDYV6o68Z4rY1e388RtNvRQn2vNJjEaMSgNvcbneMUcsKg8BFwft8DndQ0w9hu2QOiFLRs4TsNFNHzSMBFsGvTQGvuD%2f5bVuTOw4R03vPkH%2fVqNAlzm5SxfOwh7ACOA8POTlvPjILlaU1ke8jImOc23JCppQVfZnna0DXc4ISc3vSVuRo5zJE6%2bj25C3vwk2v2kEV2mMn7PyOc1DbtNGkonnzuLym1G400uI5QRZj0efw%3d%3d
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/sample-vault
                  name: vault-agile-drawer-6404
                  properties:
                    deletionDate: 2017-01-01T00:00:59Z
                    location: westus
                    scheduledPurgeDate: 2017-04-01T00:00:59Z
                    tags: {}
                    vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  type: Microsoft.KeyVault/deletedVaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}:
    get:
      description: Gets the deleted Azure key vault.
      operationId: vaults_get_deleted
      parameters:
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: The location of the deleted vault.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVault'
          description: Retrieved information about the deleted vault.
      tags:
      - Vaults
      x-ms-examples:
        Retrieve a deleted vault:
          parameters:
            api-version: 2018-02-14
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/sample-vault
                name: sample-vault
                properties:
                  deletionDate: 2017-01-01T00:00:59Z
                  location: westus
                  scheduledPurgeDate: 2017-04-01T00:00:59Z
                  tags: {}
                  vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                type: Microsoft.KeyVault/deletedVaults
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}/purge:
    post:
      description: Permanently deletes the specified vault. aka Purges the deleted
        Azure key vault.
      operationId: vaults_purge_deleted
      parameters:
      - description: The name of the soft-deleted vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: The location of the soft-deleted vault.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The vault is purged.
        "202":
          content: {}
          description: Vault is being purged.
      tags:
      - Vaults
      x-ms-examples:
        Purge a deleted vault:
          parameters:
            api-version: 2018-02-14
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body: ""
            "202":
              body: ""
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/vaults:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription.
      operationId: vaults_list_by_subscription
      parameters:
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultListResult'
          description: Get information about all key vaults in the specified subscription.
      tags:
      - Vaults
      x-ms-examples:
        List vaults in the specified subscription:
          parameters:
            $top: 1
            api-version: 2018-02-14
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=22018-02-14&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  location: westus
                  name: sample-vault
                  properties:
                    accessPolicies:
                    - objectId: 00000000-0000-0000-0000-000000000000
                      permissions:
                        certificates:
                        - get
                        - list
                        - delete
                        - create
                        - import
                        - update
                        - managecontacts
                        - getissuers
                        - listissuers
                        - setissuers
                        - deleteissuers
                        - manageissuers
                        - recover
                        - purge
                        keys:
                        - encrypt
                        - decrypt
                        - wrapKey
                        - unwrapKey
                        - sign
                        - verify
                        - get
                        - list
                        - create
                        - update
                        - import
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                        secrets:
                        - get
                        - list
                        - set
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                      tenantId: 00000000-0000-0000-0000-000000000000
                    enableSoftDelete: true
                    enabledForDeployment: true
                    enabledForDiskEncryption: true
                    enabledForTemplateDeployment: true
                    sku:
                      family: A
                      name: premium
                    tenantId: 00000000-0000-0000-0000-000000000000
                    vaultUri: https://sample-vault.vault.azure.net/
                  tags: {}
                  type: Microsoft.KeyVault/vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription and within the specified resource group.
      operationId: vaults_list_by_resource_group
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultListResult'
          description: Get information about all key vaults in the specified resource
            group.
      tags:
      - Vaults
      x-ms-examples:
        List vaults in the specified resource group:
          parameters:
            $top: 1
            api-version: 2018-02-14
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults?api-version=2018-02-14&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  location: westus
                  name: sample-vault
                  properties:
                    accessPolicies:
                    - objectId: 00000000-0000-0000-0000-000000000000
                      permissions:
                        certificates:
                        - get
                        - list
                        - delete
                        - create
                        - import
                        - update
                        - managecontacts
                        - getissuers
                        - listissuers
                        - setissuers
                        - deleteissuers
                        - manageissuers
                        - recover
                        - purge
                        keys:
                        - encrypt
                        - decrypt
                        - wrapKey
                        - unwrapKey
                        - sign
                        - verify
                        - get
                        - list
                        - create
                        - update
                        - import
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                        secrets:
                        - get
                        - list
                        - set
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                      tenantId: 00000000-0000-0000-0000-000000000000
                    enableSoftDelete: true
                    enabledForDeployment: true
                    enabledForDiskEncryption: true
                    enabledForTemplateDeployment: true
                    sku:
                      family: A
                      name: premium
                    tenantId: 00000000-0000-0000-0000-000000000000
                    vaultUri: https://sample-vault.vault.azure.net/
                  tags: {}
                  type: Microsoft.KeyVault/vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}:
    delete:
      description: Deletes the specified Azure key vault.
      operationId: vaults_delete
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault to delete
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK Response.
      tags:
      - Vaults
      x-ms-examples:
        Delete a vault:
          parameters:
            api-version: 2018-02-14
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body: ""
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
    get:
      description: Gets the specified Azure key vault.
      operationId: vaults_get
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Retrieved vault
      tags:
      - Vaults
      x-ms-examples:
        Retrieve a vault:
          parameters:
            api-version: 2018-02-14
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
    patch:
      description: Update a key vault in the specified subscription.
      operationId: vaults_update
      parameters:
      - description: The name of the Resource Group to which the server belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultPatchParameters'
        description: Parameters to patch the vault
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Patched vault
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Patched vault
      tags:
      - Vaults
      x-ms-examples:
        Update an existing vault:
          parameters:
            api-version: 2018-02-14
            parameters:
              properties:
                accessPolicies:
                - objectId: 00000000-0000-0000-0000-000000000000
                  permissions:
                    certificates:
                    - get
                    - list
                    - delete
                    - create
                    - import
                    - update
                    - managecontacts
                    - getissuers
                    - listissuers
                    - setissuers
                    - deleteissuers
                    - manageissuers
                    - recover
                    - purge
                    keys:
                    - encrypt
                    - decrypt
                    - wrapKey
                    - unwrapKey
                    - sign
                    - verify
                    - get
                    - list
                    - create
                    - update
                    - import
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                    secrets:
                    - get
                    - list
                    - set
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                  tenantId: 00000000-0000-0000-0000-000000000000
                enabledForDeployment: true
                enabledForDiskEncryption: true
                enabledForTemplateDeployment: true
                sku:
                  family: A
                  name: standard
                tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
    put:
      description: Create or update a key vault in the specified subscription.
      operationId: vaults_create_or_update
      parameters:
      - description: The name of the Resource Group to which the server belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultCreateOrUpdateParameters'
        description: Parameters to create or update the vault
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created or updated vault
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created or updated vault
      tags:
      - Vaults
      x-ms-examples:
        Create a new vault or update an existing vault:
          parameters:
            api-version: 2018-02-14
            parameters:
              location: westus
              properties:
                accessPolicies:
                - objectId: 00000000-0000-0000-0000-000000000000
                  permissions:
                    certificates:
                    - get
                    - list
                    - delete
                    - create
                    - import
                    - update
                    - managecontacts
                    - getissuers
                    - listissuers
                    - setissuers
                    - deleteissuers
                    - manageissuers
                    - recover
                    - purge
                    keys:
                    - encrypt
                    - decrypt
                    - wrapKey
                    - unwrapKey
                    - sign
                    - verify
                    - get
                    - list
                    - create
                    - update
                    - import
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                    secrets:
                    - get
                    - list
                    - set
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                  tenantId: 00000000-0000-0000-0000-000000000000
                enabledForDeployment: true
                enabledForDiskEncryption: true
                enabledForTemplateDeployment: true
                sku:
                  family: A
                  name: standard
                tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
        Create or update a vault with network acls:
          parameters:
            api-version: 2018-02-14
            parameters:
              location: westus
              properties:
                enabledForDeployment: true
                enabledForDiskEncryption: true
                enabledForTemplateDeployment: true
                networkAcls:
                  bypass: AzureServices
                  defaultAction: Deny
                  ipRules:
                  - value: 124.56.78.91
                  - value: '''10.91.4.0/24'''
                  virtualNetworkRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                sku:
                  family: A
                  name: standard
                tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  networkAcls:
                    bypass: AzureServices
                    defaultAction: Deny
                    ipRules:
                    - value: 124.56.78.91/32
                    - value: '''10.91.4.0/24'''
                    virtualNetworkRules:
                    - id: /subscriptions/subid/resourcegroups/rg1/providers/microsoft.network/virtualnetworks/test-vnet/subnets/subnet1
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  networkAcls:
                    bypass: AzureServices
                    defaultAction: Deny
                    ipRules:
                    - value: 124.56.78.91/32
                    - value: '''10.91.4.0/24'''
                    virtualNetworkRules:
                    - id: /subscriptions/subid/resourcegroups/rg1/providers/microsoft.network/virtualnetworks/test-vnet/subnets/subnet1
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/accessPolicies/{operationKind}
  : put:
      description: Update access policies in a key vault in the specified subscription.
      operationId: vaults_update_access_policy
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Name of the operation
        in: path
        name: operationKind
        required: true
        schema:
          enum:
          - add
          - replace
          - remove
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessPolicyUpdateKind
        x-ms-enum:
          modelAsString: false
          name: AccessPolicyUpdateKind
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultAccessPolicyParameters'
        description: Access policy to merge into the vault
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccessPolicyParameters'
          description: The updated access policies
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccessPolicyParameters'
          description: The updated access policies
      tags:
      - Vaults
      x-ms-examples:
        Add an access policy, or update an access policy with new permissions:
          parameters:
            api-version: 2018-02-14
            operationKind: add
            parameters:
              properties:
                accessPolicies:
                - objectId: 00000000-0000-0000-0000-000000000000
                  permissions:
                    certificates:
                    - get
                    keys:
                    - encrypt
                    secrets:
                    - get
                  tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/accessPolicies/
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      keys:
                      - encrypt
                      secrets:
                      - get
                    tenantId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.KeyVault/vaults/accessPolicies
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/accessPolicies/
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      keys:
                      - encrypt
                      secrets:
                      - get
                    tenantId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.KeyVault/vaults/accessPolicies
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
  /subscriptions/{subscriptionId}/resources:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription.
      operationId: vaults_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: true
        schema:
          enum:
          - resourceType eq 'Microsoft.KeyVault/vaults'
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Azure Resource Manager Api Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-11-01
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: Get information about all key vaults in the subscription.
      tags:
      - Vaults
      x-ms-examples:
        List vaults in the specified subscription:
          parameters:
            $filter: resourceType eq 'Microsoft.KeyVault/vaults'
            $top: 1
            api-version: 2015-11-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%27&%24top=4&api-version=2015-11-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IVEwTTJNVGMtIiwibmV4dFJvd0tleSI6IjEhMTMyIU5rUTRSVEU1UXpJelFUWXdORGd4UmpoRlFrSXhNVGhFUXpNd01EZEROVVJmVkVkT1RDMU5TVU5TVDFOUFJsUTZNa1ZMUlZsV1FWVk1WRG95UmxaQlZVeFVVeTFUVTFKSExVcEpUVG95UkZSRlUxUTZNa1JXUVZWTVZDMVhSVk5VVlZNLSJ9
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  location: westus
                  name: sample-vault
                  tags: {}
                  type: Microsoft.KeyVault/vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.vaults_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccessPolicyEntry:
      description: An identity that have access to the key vault. All identities in
        the array must use the same tenant ID as the key vault's tenant ID.
      example:
        permissions:
          certificates:
          - get
          - get
          keys:
          - encrypt
          - encrypt
          storage:
          - get
          - get
          secrets:
          - get
          - get
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        objectId: objectId
      properties:
        applicationId:
          description: ' Application ID of the client making request on behalf of
            a principal'
          format: uuid
          title: applicationId
          type: string
        objectId:
          description: "The object ID of a user, service principal or security group\
            \ in the Azure Active Directory tenant for the vault. The object ID must\
            \ be unique for the list of access policies."
          title: objectId
          type: string
        permissions:
          $ref: '#/components/schemas/Permissions'
        tenantId:
          description: The Azure Active Directory tenant ID that should be used for
            authenticating requests to the key vault.
          format: uuid
          title: tenantId
          type: string
      required:
      - objectId
      - permissions
      - tenantId
      title: AccessPolicyEntry
      type: object
    CheckNameAvailabilityResult:
      description: The CheckNameAvailability operation response.
      example:
        reason: AccountNameInvalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: An error message explaining the Reason value in more detail.
          readOnly: true
          title: message
          type: string
        nameAvailable:
          description: "A boolean value that indicates whether the name is available\
            \ for you to use. If true, the name is available. If false, the name has\
            \ already been taken or is invalid and cannot be used."
          readOnly: true
          title: nameAvailable
          type: boolean
        reason:
          description: The reason that a vault name could not be used. The Reason
            element is only returned if NameAvailable is false.
          enum:
          - AccountNameInvalid
          - AlreadyExists
          readOnly: true
          title: reason
          type: string
          x-ms-enum:
            modelAsString: false
            name: Reason
      title: CheckNameAvailabilityResult
      type: object
    DeletedVault:
      description: Deleted vault information with extended details.
      example:
        name: name
        id: id
        type: type
        properties:
          deletionDate: 2000-01-23T04:56:07.000+00:00
          vaultId: vaultId
          location: location
          scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
          tags:
            key: tags
      properties:
        id:
          description: The resource ID for the deleted key vault.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the key vault.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/DeletedVaultProperties'
        type:
          description: The resource type of the key vault.
          readOnly: true
          title: type
          type: string
      title: DeletedVault
      type: object
    DeletedVaultListResult:
      description: List of vaults
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            deletionDate: 2000-01-23T04:56:07.000+00:00
            vaultId: vaultId
            location: location
            scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
            tags:
              key: tags
        - name: name
          id: id
          type: type
          properties:
            deletionDate: 2000-01-23T04:56:07.000+00:00
            vaultId: vaultId
            location: location
            scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
            tags:
              key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of deleted vaults.
          title: nextLink
          type: string
        value:
          description: The list of deleted vaults.
          items:
            $ref: '#/components/schemas/DeletedVault'
          title: value
          type: array
      title: DeletedVaultListResult
      type: object
    DeletedVaultProperties:
      description: Properties of the deleted vault.
      example:
        deletionDate: 2000-01-23T04:56:07.000+00:00
        vaultId: vaultId
        location: location
        scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
        tags:
          key: tags
      properties:
        deletionDate:
          description: The deleted date.
          format: date-time
          readOnly: true
          title: deletionDate
          type: string
        location:
          description: The location of the original vault.
          readOnly: true
          title: location
          type: string
        scheduledPurgeDate:
          description: The scheduled purged date.
          format: date-time
          readOnly: true
          title: scheduledPurgeDate
          type: string
        tags:
          additionalProperties:
            type: string
          description: Tags of the original vault.
          readOnly: true
          title: tags
          type: object
        vaultId:
          description: The resource id of the original vault.
          readOnly: true
          title: vaultId
          type: string
      title: DeletedVaultProperties
      type: object
    IPRule:
      description: A rule governing the accessibility of a vault from a specific ip
        address or ip range.
      example:
        value: value
      properties:
        value:
          description: "An IPv4 address range in CIDR notation, such as '124.56.78.91'\
            \ (simple IP address) or '124.56.78.0/24' (all addresses that start with\
            \ 124.56.78)."
          title: value
          type: string
      required:
      - value
      title: IPRule
      type: object
    NetworkRuleSet:
      description: A set of rules governing the network accessibility of a vault.
      example:
        bypass: AzureServices
        defaultAction: Allow
        ipRules:
        - value: value
        - value: value
        virtualNetworkRules:
        - id: id
        - id: id
      properties:
        bypass:
          description: Tells what traffic can bypass network rules. This can be 'AzureServices'
            or 'None'.  If not specified the default is 'AzureServices'.
          enum:
          - AzureServices
          - None
          title: bypass
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkRuleBypassOptions
        defaultAction:
          description: The default action when no rule from ipRules and from virtualNetworkRules
            match. This is only used after the bypass property has been evaluated.
          enum:
          - Allow
          - Deny
          title: defaultAction
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkRuleAction
        ipRules:
          description: The list of IP address rules.
          items:
            $ref: '#/components/schemas/IPRule'
          title: ipRules
          type: array
        virtualNetworkRules:
          description: The list of virtual network rules.
          items:
            $ref: '#/components/schemas/VirtualNetworkRule'
          title: virtualNetworkRules
          type: array
      title: NetworkRuleSet
      type: object
    Permissions:
      description: "Permissions the identity has for keys, secrets, certificates and\
        \ storage."
      example:
        certificates:
        - get
        - get
        keys:
        - encrypt
        - encrypt
        storage:
        - get
        - get
        secrets:
        - get
        - get
      properties:
        certificates:
          description: Permissions to certificates
          items:
            enum:
            - get
            - list
            - delete
            - create
            - import
            - update
            - managecontacts
            - getissuers
            - listissuers
            - setissuers
            - deleteissuers
            - manageissuers
            - recover
            - purge
            - backup
            - restore
            type: string
            x-ms-enum:
              modelAsString: true
              name: CertificatePermissions
          title: certificates
          type: array
        keys:
          description: Permissions to keys
          items:
            enum:
            - encrypt
            - decrypt
            - wrapKey
            - unwrapKey
            - sign
            - verify
            - get
            - list
            - create
            - update
            - import
            - delete
            - backup
            - restore
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: KeyPermissions
          title: keys
          type: array
        secrets:
          description: Permissions to secrets
          items:
            enum:
            - get
            - list
            - set
            - delete
            - backup
            - restore
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: SecretPermissions
          title: secrets
          type: array
        storage:
          description: Permissions to storage accounts
          items:
            enum:
            - get
            - list
            - delete
            - set
            - update
            - regeneratekey
            - recover
            - purge
            - backup
            - restore
            - setsas
            - listsas
            - getsas
            - deletesas
            type: string
            x-ms-enum:
              modelAsString: true
              name: StoragePermissions
          title: storage
          type: array
      title: Permissions
      type: object
    Resource:
      description: Key Vault resource
      example:
        name: name
        location: location
        id: id
        type: type
        tags:
          key: tags
      properties:
        id:
          description: The Azure Resource Manager resource ID for the key vault.
          readOnly: true
          title: id
          type: string
        location:
          description: The supported Azure location where the key vault should be
            created.
          title: location
          type: string
        name:
          description: The name of the key vault.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the key vault. '
          title: tags
          type: object
        type:
          description: The resource type of the key vault.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceListResult:
      description: List of vault resources.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of vault resources.
          title: nextLink
          type: string
        value:
          description: The list of vault resources.
          items:
            $ref: '#/components/schemas/Resource'
          title: value
          type: array
      title: ResourceListResult
      type: object
    Sku:
      description: SKU details
      example:
        name: standard
        family: A
      properties:
        family:
          description: SKU family name
          enum:
          - A
          title: family
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuFamily
        name:
          description: SKU name to specify whether the key vault is a standard vault
            or a premium vault.
          enum:
          - standard
          - premium
          title: name
          type: string
          x-ms-enum:
            modelAsString: false
            name: SkuName
      required:
      - family
      - name
      title: Sku
      type: object
    Vault:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information with extended details.
      example:
        properties:
          enablePurgeProtection: true
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          createMode: recover
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          networkAcls:
            bypass: AzureServices
            defaultAction: Allow
            ipRules:
            - value: value
            - value: value
            virtualNetworkRules:
            - id: id
            - id: id
          sku:
            name: standard
            family: A
          vaultUri: vaultUri
      properties:
        properties:
          $ref: '#/components/schemas/VaultProperties'
      required:
      - properties
      title: Vault
    VaultAccessPolicyParameters:
      description: Parameters for updating the access policy in a vault
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
      properties:
        id:
          description: The resource id of the access policy.
          readOnly: true
          title: id
          type: string
        location:
          description: The resource type of the access policy.
          readOnly: true
          title: location
          type: string
        name:
          description: The resource name of the access policy.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/VaultAccessPolicyProperties'
        type:
          description: The resource name of the access policy.
          readOnly: true
          title: type
          type: string
      required:
      - properties
      title: VaultAccessPolicyParameters
      type: object
      x-ms-azure-resource: true
    VaultAccessPolicyProperties:
      description: Properties of the vault access policy
      example:
        accessPolicies:
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
      properties:
        accessPolicies:
          description: An array of 0 to 16 identities that have access to the key
            vault. All identities in the array must use the same tenant ID as the
            key vault's tenant ID.
          items:
            $ref: '#/components/schemas/AccessPolicyEntry'
          title: accessPolicies
          type: array
      required:
      - accessPolicies
      title: VaultAccessPolicyProperties
      type: object
    VaultCheckNameAvailabilityParameters:
      description: The parameters used to check the availability of the vault name.
      example:
        name: name
        type: Microsoft.KeyVault/vaults
      properties:
        name:
          description: The vault name.
          title: name
          type: string
        type:
          description: "The type of resource, Microsoft.KeyVault/vaults"
          enum:
          - Microsoft.KeyVault/vaults
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
      - name
      - type
      title: VaultCheckNameAvailabilityParameters
      type: object
    VaultCreateOrUpdateParameters:
      description: Parameters for creating or updating a vault
      example:
        location: location
        properties:
          enablePurgeProtection: true
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          createMode: recover
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          networkAcls:
            bypass: AzureServices
            defaultAction: Allow
            ipRules:
            - value: value
            - value: value
            virtualNetworkRules:
            - id: id
            - id: id
          sku:
            name: standard
            family: A
          vaultUri: vaultUri
        tags:
          key: tags
      properties:
        location:
          description: The supported Azure location where the key vault should be
            created.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/VaultProperties'
        tags:
          additionalProperties:
            type: string
          description: The tags that will be assigned to the key vault.
          title: tags
          type: object
      required:
      - location
      - properties
      title: VaultCreateOrUpdateParameters
      type: object
      x-ms-azure-resource: true
    VaultListResult:
      description: List of vaults
      example:
        value:
        - properties:
            enablePurgeProtection: true
            enabledForDeployment: true
            accessPolicies:
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            enabledForDiskEncryption: true
            createMode: recover
            enabledForTemplateDeployment: true
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            enableSoftDelete: true
            networkAcls:
              bypass: AzureServices
              defaultAction: Allow
              ipRules:
              - value: value
              - value: value
              virtualNetworkRules:
              - id: id
              - id: id
            sku:
              name: standard
              family: A
            vaultUri: vaultUri
        - properties:
            enablePurgeProtection: true
            enabledForDeployment: true
            accessPolicies:
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            enabledForDiskEncryption: true
            createMode: recover
            enabledForTemplateDeployment: true
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            enableSoftDelete: true
            networkAcls:
              bypass: AzureServices
              defaultAction: Allow
              ipRules:
              - value: value
              - value: value
              virtualNetworkRules:
              - id: id
              - id: id
            sku:
              name: standard
              family: A
            vaultUri: vaultUri
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of vaults.
          title: nextLink
          type: string
        value:
          description: The list of vaults.
          items:
            $ref: '#/components/schemas/Vault'
          title: value
          type: array
      title: VaultListResult
      type: object
    VaultPatchParameters:
      description: Parameters for creating or updating a vault
      example:
        properties:
          enablePurgeProtection: true
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          createMode: recover
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          networkAcls:
            bypass: AzureServices
            defaultAction: Allow
            ipRules:
            - value: value
            - value: value
            virtualNetworkRules:
            - id: id
            - id: id
          sku:
            name: standard
            family: A
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/VaultPatchProperties'
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the key vault. '
          title: tags
          type: object
      title: VaultPatchParameters
      type: object
      x-ms-azure-resource: true
    VaultPatchProperties:
      description: Properties of the vault
      example:
        enablePurgeProtection: true
        enabledForDeployment: true
        accessPolicies:
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        enabledForDiskEncryption: true
        createMode: recover
        enabledForTemplateDeployment: true
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        enableSoftDelete: true
        networkAcls:
          bypass: AzureServices
          defaultAction: Allow
          ipRules:
          - value: value
          - value: value
          virtualNetworkRules:
          - id: id
          - id: id
        sku:
          name: standard
          family: A
      properties:
        accessPolicies:
          description: An array of 0 to 16 identities that have access to the key
            vault. All identities in the array must use the same tenant ID as the
            key vault's tenant ID.
          items:
            $ref: '#/components/schemas/AccessPolicyEntry'
          title: accessPolicies
          type: array
        createMode:
          description: The vault's create mode to indicate whether the vault need
            to be recovered or not.
          enum:
          - recover
          - default
          title: createMode
          type: string
          x-ms-enum:
            modelAsString: false
            name: CreateMode
        enablePurgeProtection:
          description: "Property specifying whether protection against purge is enabled\
            \ for this vault. Setting this property to true activates protection against\
            \ purge for this vault and its content - only the Key Vault service may\
            \ initiate a hard, irrecoverable deletion. The setting is effective only\
            \ if soft delete is also enabled. Enabling this functionality is irreversible\
            \ - that is, the property does not accept false as its value."
          title: enablePurgeProtection
          type: boolean
        enableSoftDelete:
          description: Property to specify whether the 'soft delete' functionality
            is enabled for this key vault. It does not accept false value.
          title: enableSoftDelete
          type: boolean
        enabledForDeployment:
          description: Property to specify whether Azure Virtual Machines are permitted
            to retrieve certificates stored as secrets from the key vault.
          title: enabledForDeployment
          type: boolean
        enabledForDiskEncryption:
          description: Property to specify whether Azure Disk Encryption is permitted
            to retrieve secrets from the vault and unwrap keys.
          title: enabledForDiskEncryption
          type: boolean
        enabledForTemplateDeployment:
          description: Property to specify whether Azure Resource Manager is permitted
            to retrieve secrets from the key vault.
          title: enabledForTemplateDeployment
          type: boolean
        networkAcls:
          $ref: '#/components/schemas/NetworkRuleSet'
        sku:
          $ref: '#/components/schemas/Sku'
        tenantId:
          description: The Azure Active Directory tenant ID that should be used for
            authenticating requests to the key vault.
          format: uuid
          title: tenantId
          type: string
      title: VaultPatchProperties
      type: object
    VaultProperties:
      description: Properties of the vault
      example:
        enablePurgeProtection: true
        enabledForDeployment: true
        accessPolicies:
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        enabledForDiskEncryption: true
        createMode: recover
        enabledForTemplateDeployment: true
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        enableSoftDelete: true
        networkAcls:
          bypass: AzureServices
          defaultAction: Allow
          ipRules:
          - value: value
          - value: value
          virtualNetworkRules:
          - id: id
          - id: id
        sku:
          name: standard
          family: A
        vaultUri: vaultUri
      properties:
        accessPolicies:
          description: "An array of 0 to 16 identities that have access to the key\
            \ vault. All identities in the array must use the same tenant ID as the\
            \ key vault's tenant ID. When `createMode` is set to `recover`, access\
            \ policies are not required. Otherwise, access policies are required."
          items:
            $ref: '#/components/schemas/AccessPolicyEntry'
          title: accessPolicies
          type: array
        createMode:
          description: The vault's create mode to indicate whether the vault need
            to be recovered or not.
          enum:
          - recover
          - default
          title: createMode
          type: string
          x-ms-enum:
            modelAsString: false
            name: CreateMode
        enablePurgeProtection:
          description: "Property specifying whether protection against purge is enabled\
            \ for this vault. Setting this property to true activates protection against\
            \ purge for this vault and its content - only the Key Vault service may\
            \ initiate a hard, irrecoverable deletion. The setting is effective only\
            \ if soft delete is also enabled. Enabling this functionality is irreversible\
            \ - that is, the property does not accept false as its value."
          title: enablePurgeProtection
          type: boolean
        enableSoftDelete:
          description: Property to specify whether the 'soft delete' functionality
            is enabled for this key vault. It does not accept false value.
          title: enableSoftDelete
          type: boolean
        enabledForDeployment:
          description: Property to specify whether Azure Virtual Machines are permitted
            to retrieve certificates stored as secrets from the key vault.
          title: enabledForDeployment
          type: boolean
        enabledForDiskEncryption:
          description: Property to specify whether Azure Disk Encryption is permitted
            to retrieve secrets from the vault and unwrap keys.
          title: enabledForDiskEncryption
          type: boolean
        enabledForTemplateDeployment:
          description: Property to specify whether Azure Resource Manager is permitted
            to retrieve secrets from the key vault.
          title: enabledForTemplateDeployment
          type: boolean
        networkAcls:
          $ref: '#/components/schemas/NetworkRuleSet'
        sku:
          $ref: '#/components/schemas/Sku'
        tenantId:
          description: The Azure Active Directory tenant ID that should be used for
            authenticating requests to the key vault.
          format: uuid
          title: tenantId
          type: string
        vaultUri:
          description: The URI of the vault for performing operations on keys and
            secrets.
          title: vaultUri
          type: string
      required:
      - sku
      - tenantId
      title: VaultProperties
      type: object
    VirtualNetworkRule:
      description: A rule governing the accessibility of a vault from a specific virtual
        network.
      example:
        id: id
      properties:
        id:
          description: "Full resource id of a vnet subnet, such as '/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1'."
          title: id
          type: string
      required:
      - id
      title: VirtualNetworkRule
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
