openapi: 3.0.1
info:
  description: "Azure Service Bus client for managing Namespace, IPFilter Rules, VirtualNetworkRules\
    \ and Zone Redundant"
  title: ServiceBusManagementClient
  version: 2018-01-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/servicebus-preview.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: servicebus-servicebus-preview
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceBus/operations:
    get:
      description: Lists all of the available ServiceBus REST API operations.
      operationId: operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Get namespace availability.
                    provider: Microsoft Azure ServiceBus
                    resource: Non Resource Operation
                  name: Microsoft.ServiceBus/checkNameAvailability/action
                - display:
                    operation: Registers the ServiceBus Resource Provider
                    provider: Microsoft Azure ServiceBus
                    resource: ServiceBus Resource Provider
                  name: Microsoft.ServiceBus/register/action
                - display:
                    operation: 'Create Or Update Namespace '
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace
                  name: Microsoft.ServiceBus/namespaces/write
                - display:
                    operation: Get Namespace Resource
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace
                  name: Microsoft.ServiceBus/namespaces/read
                - display:
                    operation: Delete Namespace
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace
                  name: Microsoft.ServiceBus/namespaces/Delete
                - display:
                    operation: Create or Update Namespace Authorization Rules
                    provider: Microsoft Azure ServiceBus
                    resource: AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/authorizationRules/write
                - display:
                    operation: Get Namespace Authorization Rules
                    provider: Microsoft Azure ServiceBus
                    resource: AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/authorizationRules/read
                - display:
                    operation: Delete Namespace Authorization Rule
                    provider: Microsoft Azure ServiceBus
                    resource: AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/authorizationRules/delete
                - display:
                    operation: Get Namespace Listkeys
                    provider: Microsoft Azure ServiceBus
                    resource: AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure ServiceBus
                    resource: AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/authorizationRules/regenerateKeys/action
                - display:
                    operation: Create or Update Queue
                    provider: Microsoft Azure ServiceBus
                    resource: Queue
                  name: Microsoft.ServiceBus/namespaces/queues/write
                - display:
                    operation: Get Queue
                    provider: Microsoft Azure ServiceBus
                    resource: Queue
                  name: Microsoft.ServiceBus/namespaces/queues/read
                - display:
                    operation: Delete Queue
                    provider: Microsoft Azure ServiceBus
                    resource: Queue
                  name: Microsoft.ServiceBus/namespaces/queues/Delete
                - display:
                    operation: Create or Update Queue Authorization Rule
                    provider: Microsoft Azure ServiceBus
                    resource: Queue AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/write
                - display:
                    operation: ' Get Queue Authorization Rules'
                    provider: Microsoft Azure ServiceBus
                    resource: Queue AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/read
                - display:
                    operation: Delete Queue Authorization Rules
                    provider: Microsoft Azure ServiceBus
                    resource: Queue AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/delete
                - display:
                    operation: List Queue keys
                    provider: Microsoft Azure ServiceBus
                    resource: Queue AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure ServiceBus
                    resource: Queue AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/regenerateKeys/action
                - display:
                    operation: Create or Update Topic
                    provider: Microsoft Azure ServiceBus
                    resource: Topic
                  name: Microsoft.ServiceBus/namespaces/topics/write
                - display:
                    operation: Get Topic
                    provider: Microsoft Azure ServiceBus
                    resource: Topic
                  name: Microsoft.ServiceBus/namespaces/topics/read
                - display:
                    operation: Delete Topic
                    provider: Microsoft Azure ServiceBus
                    resource: Topic
                  name: Microsoft.ServiceBus/namespaces/topics/Delete
                - display:
                    operation: Create or Update Topic Authorization Rule
                    provider: Microsoft Azure ServiceBus
                    resource: Topic AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/write
                - display:
                    operation: ' Get Topic Authorization Rules'
                    provider: Microsoft Azure ServiceBus
                    resource: Topic AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/read
                - display:
                    operation: Delete Topic Authorization Rules
                    provider: Microsoft Azure ServiceBus
                    resource: Topic AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/delete
                - display:
                    operation: List Topic keys
                    provider: Microsoft Azure ServiceBus
                    resource: Topic AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure ServiceBus
                    resource: Topic AuthorizationRules
                  name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/regenerateKeys/action
                - display:
                    operation: Create or Update TopicSubscription
                    provider: Microsoft Azure ServiceBus
                    resource: TopicSubscription
                  name: Microsoft.ServiceBus/namespaces/topics/subscriptions/write
                - display:
                    operation: Get TopicSubscription
                    provider: Microsoft Azure ServiceBus
                    resource: TopicSubscription
                  name: Microsoft.ServiceBus/namespaces/topics/subscriptions/read
                - display:
                    operation: Delete TopicSubscription
                    provider: Microsoft Azure ServiceBus
                    resource: TopicSubscription
                  name: Microsoft.ServiceBus/namespaces/topics/subscriptions/Delete
                - display:
                    operation: Create or Update Rule
                    provider: Microsoft Azure ServiceBus
                    resource: Rule
                  name: Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/write
                - display:
                    operation: Get Rule
                    provider: Microsoft Azure ServiceBus
                    resource: Rule
                  name: Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/read
                - display:
                    operation: Delete Rule
                    provider: Microsoft Azure ServiceBus
                    resource: Rule
                  name: Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/Delete
                - display:
                    operation: Get Namespace metrics
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace metrics
                  name: Microsoft.ServiceBus/namespaces/metricDefinitions/read
                - display:
                    operation: Get Namespace diagnostic settings
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace diagnostic settings
                  name: Microsoft.ServiceBus/namespaces/diagnosticSettings/read
                - display:
                    operation: Create or Update Namespace diagnostic settings
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace diagnostic settings
                  name: Microsoft.ServiceBus/namespaces/diagnosticSettings/write
                - display:
                    operation: Get Namespace logs
                    provider: Microsoft Azure ServiceBus
                    resource: Namespace logs
                  name: Microsoft.ServiceBus/namespaces/logDefinitions/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces:
    get:
      description: "Gets all the available namespaces within the subscription, irrespective\
        \ of the resource groups."
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      operationId: namespaces_list
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespaceListResult'
          description: Namespaces successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceList:
          parameters:
            api-version: 2017-04-01
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20
                  location: South Central US
                  name: NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20
                  properties:
                    createdAt: 2016-08-23T02:40:17.27Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-91f08e47-2b04-4943-b0cd-a5fb02b88f20
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T07:15:30.78Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-41dc63f4-0b08-4029-b3ef-535a131bfa65
                  location: South Central US
                  name: NS-41dc63f4-0b08-4029-b3ef-535a131bfa65
                  properties:
                    createdAt: 2016-08-23T03:50:38.98Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-41dc63f4-0b08-4029-b3ef-535a131bfa65
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-41dc63f4-0b08-4029-b3ef-535a131bfa65.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:42:58.003Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-df52cf51-e831-4bf2-bd92-e9885f68a996
                  location: South Central US
                  name: NS-df52cf51-e831-4bf2-bd92-e9885f68a996
                  properties:
                    createdAt: 2016-09-16T01:17:54.997Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-df52cf51-e831-4bf2-bd92-e9885f68a996
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-df52cf51-e831-4bf2-bd92-e9885f68a996.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:44:39.737Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPremium
                  location: South Central US
                  name: SBPremium
                  properties:
                    createdAt: 2016-10-10T22:01:00.42Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbpremium
                    provisioningState: Created
                    serviceBusEndpoint: https://SBPremium.servicebus.windows-int.net:443/
                    updatedAt: 2016-10-10T22:01:00.42Z
                  sku:
                    capacity: 1
                    name: Premium
                    tier: Premium
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/sadfsadfsadf/providers/Microsoft.ServiceBus/namespaces/rrama-ns2
                  location: South Central US
                  name: rrama-ns2
                  properties:
                    createdAt: 2016-08-23T04:14:00.013Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ns2
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://rrama-ns2.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-03T22:53:32.927Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-20e57600-29d0-4035-ac85-74f4c54dcda1
                  location: South Central US
                  name: NS-20e57600-29d0-4035-ac85-74f4c54dcda1
                  properties:
                    createdAt: 2016-08-23T03:30:49.16Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-20e57600-29d0-4035-ac85-74f4c54dcda1
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-20e57600-29d0-4035-ac85-74f4c54dcda1.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T04:17:58.483Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-3e538a1a-58fb-4315-b2ce-76f5c944114c
                  location: South Central US
                  name: NS-3e538a1a-58fb-4315-b2ce-76f5c944114c
                  properties:
                    createdAt: 2016-09-16T18:07:30.05Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-3e538a1a-58fb-4315-b2ce-76f5c944114c
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-3e538a1a-58fb-4315-b2ce-76f5c944114c.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:42:57.747Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/prem-ns123
                  location: South Central US
                  name: prem-ns123
                  properties:
                    createdAt: 2016-09-13T00:02:39.997Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:prem-ns123
                    provisioningState: Created
                    serviceBusEndpoint: https://prem-ns123.servicebus.windows-int.net:443/
                    updatedAt: 2016-09-13T00:02:39.997Z
                  sku:
                    capacity: 1
                    name: Premium
                    tier: Premium
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039
                  location: South Central US
                  name: NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039
                  properties:
                    createdAt: 2016-09-16T01:01:58.73Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4e1bfdf1-0cff-4e86-ae80-cdcac4873039
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T03:02:59.8Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03
                  location: South Central US
                  name: NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03
                  properties:
                    createdAt: 2016-08-23T03:22:45.327Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:08:01.207Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-c05e9df3-7737-44ee-a321-15f6e0545b97
                  location: South Central US
                  name: NS-c05e9df3-7737-44ee-a321-15f6e0545b97
                  properties:
                    createdAt: 2016-08-05T03:29:19.75Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-c05e9df3-7737-44ee-a321-15f6e0545b97
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-c05e9df3-7737-44ee-a321-15f6e0545b97.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:10:35.527Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-dcb4152c-231b-4c16-a683-07cc6b38fa46
                  location: South Central US
                  name: NS-dcb4152c-231b-4c16-a683-07cc6b38fa46
                  properties:
                    createdAt: 2016-08-05T03:34:35.363Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-dcb4152c-231b-4c16-a683-07cc6b38fa46
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-dcb4152c-231b-4c16-a683-07cc6b38fa46.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T05:33:00.957Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-f501f5e6-1f24-439b-8982-9af665156d40
                  location: South Central US
                  name: NS-f501f5e6-1f24-439b-8982-9af665156d40
                  properties:
                    createdAt: 2016-09-16T01:25:55.707Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-f501f5e6-1f24-439b-8982-9af665156d40
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-f501f5e6-1f24-439b-8982-9af665156d40.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T07:42:59.687Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30
                  location: South Central US
                  name: NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30
                  properties:
                    createdAt: 2016-08-23T02:32:08.227Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:32:57.77Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71
                  location: South Central US
                  name: NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71
                  properties:
                    createdAt: 2016-09-16T00:54:05.103Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8a5e3b4e-4e97-4d85-9083-cd33536c9d71
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:43:50.313Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6520cc09-01ac-40a3-bc09-c5c431116e92
                  location: South Central US
                  name: NS-6520cc09-01ac-40a3-bc09-c5c431116e92
                  properties:
                    createdAt: 2016-09-16T01:49:59.243Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6520cc09-01ac-40a3-bc09-c5c431116e92
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-6520cc09-01ac-40a3-bc09-c5c431116e92.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:15:36.95Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-bfba6d5c-a425-42d9-85db-0f4da770e29a
                  location: South Central US
                  name: NS-bfba6d5c-a425-42d9-85db-0f4da770e29a
                  properties:
                    createdAt: 2016-08-05T03:23:32.083Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-bfba6d5c-a425-42d9-85db-0f4da770e29a
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-bfba6d5c-a425-42d9-85db-0f4da770e29a.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T09:02:57.433Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPrem
                  location: South Central US
                  name: SBPrem
                  properties:
                    createdAt: 2016-10-10T22:16:30.87Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbprem
                    provisioningState: Created
                    serviceBusEndpoint: https://SBPrem.servicebus.windows-int.net:443/
                    updatedAt: 2016-10-10T22:16:30.87Z
                  sku:
                    capacity: 1
                    name: Premium
                    tier: Premium
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-43b136b4-8716-40b2-97c5-0d77cac0062c
                  location: South Central US
                  name: NS-43b136b4-8716-40b2-97c5-0d77cac0062c
                  properties:
                    createdAt: 2016-08-23T03:14:50.577Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-43b136b4-8716-40b2-97c5-0d77cac0062c
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-43b136b4-8716-40b2-97c5-0d77cac0062c.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T09:23:01.067Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7c0443de-5f88-450c-b574-83f60a097dd1
                  location: South Central US
                  name: NS-7c0443de-5f88-450c-b574-83f60a097dd1
                  properties:
                    createdAt: 2016-08-23T04:07:15.397Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7c0443de-5f88-450c-b574-83f60a097dd1
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-7c0443de-5f88-450c-b574-83f60a097dd1.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T04:03:03.097Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-62dd7753-a5f9-42fd-a354-ca38a4505d69
                  location: South Central US
                  name: NS-62dd7753-a5f9-42fd-a354-ca38a4505d69
                  properties:
                    createdAt: 2016-09-16T01:33:50.45Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-62dd7753-a5f9-42fd-a354-ca38a4505d69
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-62dd7753-a5f9-42fd-a354-ca38a4505d69.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T05:35:33.053Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ae18a18c-97ab-4089-965d-8acbf4794091
                  location: South Central US
                  name: NS-ae18a18c-97ab-4089-965d-8acbf4794091
                  properties:
                    createdAt: 2016-08-23T02:43:36.517Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ae18a18c-97ab-4089-965d-8acbf4794091
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-ae18a18c-97ab-4089-965d-8acbf4794091.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T12:40:30.587Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11
                  location: South Central US
                  name: NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11
                  properties:
                    createdAt: 2016-09-16T00:46:03.773Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T04:43:54.56Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44
                  location: South Central US
                  name: NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44
                  properties:
                    createdAt: 2016-08-23T03:59:12.1Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:33:52.23Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d9337efd-9b27-454c-b2a5-dcfea56920d9
                  location: South Central US
                  name: NS-d9337efd-9b27-454c-b2a5-dcfea56920d9
                  properties:
                    createdAt: 2016-08-05T03:45:09.27Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d9337efd-9b27-454c-b2a5-dcfea56920d9
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-d9337efd-9b27-454c-b2a5-dcfea56920d9.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:20:31.863Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a
                  location: South Central US
                  name: NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a
                  properties:
                    createdAt: 2016-08-23T02:34:36.447Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ad5ae732-abea-4e62-9de0-c90de0ddec0a
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:15:31.607Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d447fb03-c7da-40fe-b5eb-14f36888837b
                  location: South Central US
                  name: NS-d447fb03-c7da-40fe-b5eb-14f36888837b
                  properties:
                    createdAt: 2016-08-05T00:53:46.697Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d447fb03-c7da-40fe-b5eb-14f36888837b
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-d447fb03-c7da-40fe-b5eb-14f36888837b.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T11:09:41.26Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/ReproSB
                  location: South Central US
                  name: ReproSB
                  properties:
                    createdAt: 2017-02-27T19:29:34.523Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:reprosb
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://ReproSB.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-27T19:29:58.64Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4c90097f-19a8-42e7-bb3c-4ac088994719
                  location: South Central US
                  name: NS-4c90097f-19a8-42e7-bb3c-4ac088994719
                  properties:
                    createdAt: 2016-09-16T17:35:32.61Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4c90097f-19a8-42e7-bb3c-4ac088994719
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-4c90097f-19a8-42e7-bb3c-4ac088994719.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T09:13:52.27Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-1-23-17
                  location: South Central US
                  name: rrama-1-23-17
                  properties:
                    createdAt: 2017-01-23T22:54:40.907Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-1-23-17
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://rrama-1-23-17.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-04T00:53:28.777Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12
                  location: South Central US
                  name: NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12
                  properties:
                    createdAt: 2016-09-16T17:43:25.71Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5191e541-8e4e-4229-9fdc-b89f6c3e7f12
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T11:05:31.89Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-be903820-3533-46e8-90e4-72c132411848
                  location: South Central US
                  name: NS-be903820-3533-46e8-90e4-72c132411848
                  properties:
                    createdAt: 2016-08-05T03:24:01.923Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-be903820-3533-46e8-90e4-72c132411848
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-be903820-3533-46e8-90e4-72c132411848.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T10:09:42.513Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-namespace1
                  location: South Central US
                  name: rrama-namespace1
                  properties:
                    createdAt: 2016-08-05T00:47:22.963Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-namespace1
                    provisioningState: Created
                    serviceBusEndpoint: https://rrama-namespace1.servicebus.windows-int.net:443/
                    updatedAt: 2016-08-05T00:47:27.297Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9
                  location: South Central US
                  name: NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9
                  properties:
                    createdAt: 2016-09-16T00:38:02.517Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-a3c38e9b-32a3-4c51-85d7-263150a8dda9
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T05:03:55.96Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6
                  location: South Central US
                  name: NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6
                  properties:
                    createdAt: 2016-08-23T03:42:40.01Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T06:33:02.363Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a
                  location: South Central US
                  name: NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a
                  properties:
                    createdAt: 2016-08-05T04:28:10.71Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e6536f77-0d1b-4a6b-8f42-29cc15b2930a
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:43:51.587Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924
                  location: South Central US
                  name: sdk-Namespace-2924
                  properties:
                    createdAt: 2017-05-25T22:26:36.76Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                    updatedAt: 2017-05-25T22:26:59.35Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-sb1
                  location: South Central US
                  name: rrama-sb1
                  properties:
                    createdAt: 2017-05-01T21:47:34.903Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-sb1
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://rrama-sb1.servicebus.windows-int.net:443/
                    updatedAt: 2017-05-02T02:10:03.083Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/WhackWhack
                  location: South Central US
                  name: WhackWhack
                  properties:
                    createdAt: 2016-10-10T23:39:01.347Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:whackwhack
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://WhackWhack.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-04T00:56:32.687Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c
                  location: South Central US
                  name: NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c
                  properties:
                    createdAt: 2016-09-16T17:51:27.73Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T08:19:43.383Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e
                  location: South Central US
                  name: NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e
                  properties:
                    createdAt: 2016-08-05T01:14:25.613Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e0cab401-6df8-465d-8d4a-da9a9e55cf0e
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e.servicebus.windows-int.net:443/
                    updatedAt: 2017-02-11T12:33:01.727Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo1
                  location: East US 2
                  name: bn3-rrama-foo1
                  properties:
                    createdAt: 2017-04-28T23:54:26.927Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo1
                    provisioningState: Created
                    serviceBusEndpoint: https://bn3-rrama-foo1.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-28T23:54:26.927Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo3
                  location: East US 2
                  name: bn3-rrama-foo3
                  properties:
                    createdAt: 2017-04-29T00:24:09.907Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo3
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://bn3-rrama-foo3.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-29T00:24:33.233Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo2
                  location: East US 2
                  name: bn3-rrama-foo2
                  properties:
                    createdAt: 2017-04-28T23:57:40.82Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo2
                    provisioningState: Created
                    serviceBusEndpoint: https://bn3-rrama-foo2.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-28T23:57:40.82Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/db3-rrama-foo2
                  location: North Europe
                  name: db3-rrama-foo2
                  properties:
                    createdAt: 2017-04-29T00:10:43.463Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:db3-rrama-foo2
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://db3-rrama-foo2.servicebus.int7.windows-int.net:443/
                    updatedAt: 2017-04-29T00:11:09.133Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.ServiceBus/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces:
    get:
      description: Gets the available namespaces within a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      operationId: namespaces_list_by_resource_group
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespaceListResult'
          description: Namespaces successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceListByResourceGroup:
          parameters:
            api-version: 2017-04-01
            resourceGroupName: ArunMonocle
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924
                  location: South Central US
                  name: sdk-Namespace-2924
                  properties:
                    createdAt: 2017-05-25T22:26:36.76Z
                    metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                    updatedAt: 2017-05-25T22:26:59.35Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.ServiceBus/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}:
    delete:
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx
      operationId: namespaces_delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace successfully deleted.
        "202":
          content: {}
          description: Namespace delete request accepted.
        "204":
          content: {}
          description: No content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceDelete:
          parameters:
            api-version: 2017-04-01
            namespaceName: sdk-Namespace-3285
            resourceGroupName: ArunMonocle
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets a description for the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx
      operationId: namespaces_get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
          description: Namespace successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceGet:
          parameters:
            api-version: 2017-04-01
            namespaceName: sdk-Namespace-2924
            resourceGroupName: ArunMonocle
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924
                location: South Central US
                name: sdk-Namespace-2924
                properties:
                  createdAt: 2017-05-25T22:26:36.76Z
                  metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T22:26:59.35Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.ServiceBus/Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    patch:
      description: "Updates a service namespace. Once created, this namespace's resource\
        \ manifest is immutable. This operation is idempotent."
      operationId: namespaces_update
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBNamespaceUpdateParameters'
        description: Parameters supplied to update a namespace resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
          description: Namespace updated successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
          description: Namespace update request accepted.
        "202":
          content: {}
          description: Namespace update request accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceUpdate:
          parameters:
            api-version: 2017-04-01
            namespaceName: sdk-Namespace-3285
            parameters:
              location: South Central US
              tags:
                tag3: value3
                tag4: value4
            resourceGroupName: ArunMonocle
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-3285
                location: South Central US
                name: sdk-Namespace-3285
                properties:
                  createdAt: 2017-05-25T23:07:58.17Z
                  metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3285
                  provisioningState: Updating
                  serviceBusEndpoint: https://sdk-Namespace-3285.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T23:08:45.497Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag3: value3
                  tag4: value4
                type: Microsoft.ServiceBus/Namespaces
            "201":
              body:
                id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-3285
                location: South Central US
                name: sdk-Namespace-3285
                properties:
                  createdAt: 2017-05-25T23:07:58.17Z
                  metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3285
                  provisioningState: Updating
                  serviceBusEndpoint: https://sdk-Namespace-3285.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T23:08:45.497Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag3: value3
                  tag4: value4
                type: Microsoft.ServiceBus/Namespaces
            "202": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: "Creates or updates a service namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx
      operationId: namespaces_create_or_update
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBNamespace'
        description: Parameters supplied to create a namespace resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
          description: Namespace created successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
          description: Namespace create request accepted.
        "202":
          content: {}
          description: Namespace create or update request accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceCreate:
          parameters:
            api-version: 2017-04-01
            namespaceName: sdk-Namespace2924
            parameters:
              location: South Central US
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: ArunMonocle
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924
                location: South Central US
                name: sdk-Namespace-2924
                properties:
                  createdAt: 2017-05-25T22:26:36.76Z
                  metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924
                  provisioningState: Created
                  serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T22:26:36.76Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.ServiceBus/Namespaces
            "201":
              body:
                id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924
                location: South Central US
                name: sdk-Namespace-2924
                properties:
                  createdAt: 2017-05-25T22:26:36.76Z
                  metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924
                  provisioningState: Created
                  serviceBusEndpoint: https://sdk-Namespace-2924.servicebus.windows-int.net:443/
                  updatedAt: 2017-05-25T22:26:36.76Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.ServiceBus/Namespaces
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/ipfilterrules
  : get:
      description: Gets a list of IP Filter rules for a Namespace.
      operationId: namespaces_list_ip_filter_rules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpFilterRuleListResult'
          description: Namespace IpFilterRule successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        ListIpFilterRules:
          parameters:
            api-version: 2018-01-01-preview
            namespaceName: sdk-Namespace-5232
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5232/ipfilterrules/sdk-IPFilterRules-7337
                  name: sdk-IPFilterRules-7337
                  properties:
                    action: Accept
                    filterName: sdk-IPFilterRules-7337
                    ipMask: 13.78.143.246/32
                  type: Microsoft.ServiceBus/Namespaces/IpFilterRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/ipfilterrules/{ipFilterRuleName}
  : delete:
      description: Deletes an IpFilterRule for a Namespace.
      operationId: namespaces_delete_ip_filter_rule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The IP Filter Rule name.
        in: path
        name: ip_filter_rule_name
        required: true
        schema:
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace IpFilterRule successfully deleted.
        "204":
          content: {}
          description: No content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceIpFilterRuleDelete:
          parameters:
            api-version: 2018-01-01-preview
            ipFilterRuleName: sdk-IPFilterRules-7337
            namespaceName: sdk-Namespace-5232
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets an IpFilterRule for a Namespace by rule name.
      operationId: namespaces_get_ip_filter_rule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The IP Filter Rule name.
        in: path
        name: ipFilterRuleName
        required: true
        schema:
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpFilterRule'
          description: Namespace IpFilterRule returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceIpFilterRuleGet:
          parameters:
            api-version: 2018-01-01-preview
            ipFilterRuleName: sdk-IPFilterRules-7337
            namespaceName: sdk-Namespace-5232
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200":
              body:
                id: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5232/ipfilterrules/sdk-IPFilterRules-7337
                name: sdk-IPFilterRules-7337
                properties:
                  action: Accept
                  filterName: sdk-IPFilterRules-7337
                  ipMask: 13.78.143.246/32
                type: Microsoft.ServiceBus/Namespaces/IpFilterRules
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Creates or updates an IpFilterRule for a Namespace.
      operationId: namespaces_create_or_update_ip_filter_rule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The IP Filter Rule name.
        in: path
        name: ip_filter_rule_name
        required: true
        schema:
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpFilterRule'
        description: The Namespace IpFilterRule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpFilterRule'
          description: Namespace IpFilterRule created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceIpFilterRuleCreate:
          parameters:
            api-version: 2018-01-01-preview
            ipFilterRuleName: sdk-IPFilterRules-7337
            namespaceName: sdk-Namespace-5232
            parameters:
              properties:
                action: Accept
                filterName: sdk-IPFilterRules-7337
                ipMask: 13.78.143.246/32
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200":
              body:
                id: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5232/ipfilterrules/sdk-IPFilterRules-7337
                name: sdk-IPFilterRules-7337
                properties:
                  action: Accept
                  filterName: sdk-IPFilterRules-7337
                  ipMask: 13.78.143.246/32
                type: Microsoft.ServiceBus/Namespaces/IpFilterRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkrulesets/default
  : get:
      description: Gets NetworkRuleSet for a Namespace.
      operationId: namespaces_get_network_rule_set
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkRuleSet'
          description: Namespace NetworkRuleSet successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceVirtualNetworkRuleSetget:
          parameters:
            api-version: 2018-01-01-preview
            namespaceName: sdk-Namespace-6019
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionid/resourceGroups/Default-ServiceBus-AustraliaEast/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-9659/networkruleset/default
                name: default
                properties:
                  defaultAction: Deny
                  ipRules:
                  - action: Allow
                    ipMask: 1.1.1.1
                  - action: Allow
                    ipMask: 1.1.1.2
                  - action: Allow
                    ipMask: 1.1.1.3
                  - action: Allow
                    ipMask: 1.1.1.4
                  - action: Allow
                    ipMask: 1.1.1.5
                  virtualNetworkRules:
                  - ignoreMissingVnetServiceEndpoint: true
                    subnet:
                      id: /subscriptions/subscriptionid/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet2
                  - ignoreMissingVnetServiceEndpoint: false
                    subnet:
                      id: /subscriptions/subscriptionid/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet3
                  - ignoreMissingVnetServiceEndpoint: false
                    subnet:
                      id: /subscriptions/subscriptionid/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet6
                type: Microsoft.ServiceBus/Namespaces/NetworkRuleSet
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Gets NetworkRuleSet for a Namespace.
      operationId: namespaces_create_or_update_network_rule_set
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkRuleSet'
        description: The Namespace IpFilterRule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkRuleSet'
          description: Namespace NetworkRuleSet successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceVirtualNetworkRuleSetCreate:
          parameters:
            api-version: 2018-01-01-preview
            namespaceName: sdk-Namespace-6019
            parameters:
              properties:
                defaultAction: Deny
                ipRules:
                - action: Allow
                  ipMask: 1.1.1.1
                - action: Allow
                  ipMask: 1.1.1.2
                - action: Allow
                  ipMask: 1.1.1.3
                - action: Allow
                  ipMask: 1.1.1.4
                - action: Allow
                  ipMask: 1.1.1.5
                virtualNetworkRules:
                - ignoreMissingVnetServiceEndpoint: true
                  subnet:
                    id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet2
                - ignoreMissingVnetServiceEndpoint: false
                  subnet:
                    id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet3
                - ignoreMissingVnetServiceEndpoint: false
                  subnet:
                    id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet6
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200":
              body:
                id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/Default-ServiceBus-AustraliaEast/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-9659/networkruleset/default
                name: default
                properties:
                  defaultAction: Deny
                  ipRules:
                  - action: Allow
                    ipMask: 1.1.1.1
                  - action: Allow
                    ipMask: 1.1.1.2
                  - action: Allow
                    ipMask: 1.1.1.3
                  - action: Allow
                    ipMask: 1.1.1.4
                  - action: Allow
                    ipMask: 1.1.1.5
                  virtualNetworkRules:
                  - ignoreMissingVnetServiceEndpoint: true
                    subnet:
                      id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet2
                  - ignoreMissingVnetServiceEndpoint: false
                    subnet:
                      id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet3
                  - ignoreMissingVnetServiceEndpoint: false
                    subnet:
                      id: /subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/alitest/providers/Microsoft.Network/virtualNetworks/myvn/subnets/subnet6
                type: Microsoft.ServiceBus/Namespaces/NetworkRuleSet
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/virtualnetworkrules
  : get:
      description: Gets a list of VirtualNetwork rules for a Namespace.
      operationId: namespaces_list_virtual_network_rules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRuleListResult'
          description: Namespace VirtualNetworkRule successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        ListIpFilterRules:
          parameters:
            api-version: 2018-01-01-preview
            namespaceName: sdk-Namespace-6019
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-6019/virtualnetworkrules/sdk-VirtualNetworkRules-9191
                  name: sdk-VirtualNetworkRules-9191
                  properties:
                    virtualNetworkSubnetId: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.Network/virtualNetworks/sbehvnettest/subnets/default
                  type: Microsoft.ServiceBus/Namespaces/VirtualNetworkRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/virtualnetworkrules/{virtualNetworkRuleName}
  : delete:
      description: Deletes an VirtualNetworkRule for a Namespace.
      operationId: namespaces_delete_virtual_network_rule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Virtual Network Rule name.
        in: path
        name: virtual_network_rule_name
        required: true
        schema:
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace VirtualNetworkRule successfully deleted.
        "204":
          content: {}
          description: No content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceVirtualNetworkRuleDelete:
          parameters:
            api-version: 2018-01-01-preview
            namespaceName: sdk-Namespace-6019
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
            virtualNetworkRuleName: sdk-VirtualNetworkRules-9191
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets an VirtualNetworkRule for a Namespace by rule name.
      operationId: namespaces_get_virtual_network_rule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Virtual Network Rule name.
        in: path
        name: virtualNetworkRuleName
        required: true
        schema:
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule'
          description: Namespace VirtualNetworkRule returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ServiceBus error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceVirtualNetworkRuleGet:
          parameters:
            api-version: 2018-01-01-preview
            namespaceName: sdk-Namespace-6019
            resourceGroupName: ResourceGroup
            subscriptionId: Subscription
            virtualNetworkRuleName: sdk-VirtualNetworkRules-9191
          responses:
            "200":
              body:
                id: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-6019/virtualnetworkrules/sdk-VirtualNetworkRules-9191
                name: sdk-VirtualNetworkRules-9191
                properties:
                  virtualNetworkSubnetId: /subscriptions/Subscription/resourceGroups/ResourceGroup/providers/Microsoft.Network/virtualNetworks/sbehvnettest/subnets/default
                type: Microsoft.ServiceBus/Namespaces/VirtualNetworkRules
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Creates or updates an VirtualNetworkRule for a Namespace.
      operationId: namespaces_create_or_update_virtual_network_rule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Virtual Network Rule name.
        in: path
        name: virtual_network_rule_name
        required: true
        schema:
[...]
