openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: NFL projected stats API.
  title: NFL v3 Projections
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-projections.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-projections
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/projections
- url: https://azure-api.sportsdata.io/v3/nfl/projections
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DfsSlateOwnershipProjectionsBySlateID/{slateId}:
    get:
      description: Slate Ownership Projections for a specific slate. Projections are
        for GPP format ownership. Will return an empty list if the slate is not yet
        projected or not a slate we have projections for.
      operationId: DfsSlateOwnershipProjectionsBySlateid
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: SlateID of the DFS Slate you wish to get ownership projections
          for. Will have an empty SlateOwnershipProjections if this slate was not
          projected
        explode: false
        in: path
        name: slateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfsSlateWithOwnershipProjection'
          description: ""
      summary: DFS Slate Ownership Projections by SlateID
      x-accepts:
      - application/json
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the slates.
          <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-accepts:
      - application/json
  /{format}/DfsSlatesByWeek/{season}/{week}:
    get:
      operationId: DfsSlatesByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season and the season type. If no season type is provided, then the default is regular season.
                    <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                    Example: <code>1</code>
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Week
      x-accepts:
      - application/json
  /{format}/FantasyDefenseProjectionsByGame/{season}/{week}:
    get:
      operationId: ProjectedFantasyDefenseGameStatsWDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyDefenseGameProjection'
                type: array
          description: ""
      summary: Projected Fantasy Defense Game Stats (w/ DFS Salaries)
      x-accepts:
      - application/json
  /{format}/FantasyDefenseProjectionsBySeason/{season}:
    get:
      operationId: ProjectedFantasyDefenseSeasonStatsWAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyDefenseSeasonProjection'
                type: array
          description: ""
      summary: Projected Fantasy Defense Season Stats (w/ ADP)
      x-accepts:
      - application/json
  /{format}/IdpPlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: IdpProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGameProjection'
          description: ""
      summary: "IDP Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS\
        \ Salaries)"
      x-accepts:
      - application/json
  /{format}/IdpPlayerGameProjectionStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: IdpProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "IDP Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS\
        \ Salaries)"
      x-accepts:
      - application/json
  /{format}/IdpPlayerGameProjectionStatsByWeek/{season}/{week}:
    get:
      operationId: IdpProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "IDP Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS\
        \ Salaries)"
      x-accepts:
      - application/json
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured NFL players, along\
        \ with injury details."
      operationId: InjuredPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGameProjection'
          description: ""
      summary: "Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: ProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByWeek/{season}/{week}:
    get:
      operationId: ProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStats/{season}:
    get:
      operationId: ProjectedPlayerSeasonStatsWAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
                type: array
          description: ""
      summary: Projected Player Season Stats (w/ ADP)
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStatsByPlayerID/{season}/{playerid}:
    get:
      operationId: ProjectedPlayerSeasonStatsByPlayerWAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeasonProjection'
          description: ""
      summary: Projected Player Season Stats by Player (w/ ADP)
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}:
    get:
      operationId: ProjectedPlayerSeasonStatsByTeamWAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
                type: array
          description: ""
      summary: Projected Player Season Stats by Team (w/ ADP)
      x-accepts:
      - application/json
  /{format}/UpcomingDfsSlateOwnershipProjections:
    get:
      description: 'Grabs DFS Slates which have not yet started for which we have
        DFS Ownership projections. '
      operationId: UpcomingDfsSlateOwnershipProjections
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlateWithOwnershipProjection'
                type: array
          description: ""
      summary: Upcoming DFS Slate Ownership Projections
      x-accepts:
      - application/json
components:
  schemas:
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 7
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            AwayTeam: AwayTeam
            GeoLat: 2.3021358869347655
            ForecastDescription: ForecastDescription
            HomeTeamMoneyLine: 4
            ForecastTempHigh: 6
            DateTime: DateTime
            ForecastWindChill: 5
            GlobalHomeTeamID: 2
            Season: 1
            ForecastWindSpeed: 5
            GlobalGameID: 3
            Status: Status
            StadiumDetails:
              Type: Type
              GeoLat: 1.1730742509559433
              Capacity: 7
              State: State
              Country: Country
              GeoLong: 4.965218492984954
              City: City
              Name: Name
              PlayingSurface: PlayingSurface
              StadiumID: 5
            GameKey: GameKey
            HomeTeam: HomeTeam
            Channel: Channel
            ScoreID: 1
            OverUnder: 7.386281948385884
            Date: Date
            StadiumID: 9
            SeasonType: 6
            PointSpread: 1.2315135367772556
            ForecastTempLow: 1
            GeoLong: 7.061401241503109
            GlobalAwayTeamID: 9
            Canceled: true
            AwayTeamMoneyLine: 0
            Day: Day
            Week: 9
          OperatorGameID: 8
          SlateGameID: 6
          SlateID: 3
          ScoreID: 9
          GameID: 6
        - RemovedByOperator: true
          Game:
            AwayTeam: AwayTeam
            GeoLat: 2.3021358869347655
            ForecastDescription: ForecastDescription
            HomeTeamMoneyLine: 4
            ForecastTempHigh: 6
            DateTime: DateTime
            ForecastWindChill: 5
            GlobalHomeTeamID: 2
            Season: 1
            ForecastWindSpeed: 5
            GlobalGameID: 3
            Status: Status
            StadiumDetails:
              Type: Type
              GeoLat: 1.1730742509559433
              Capacity: 7
              State: State
              Country: Country
              GeoLong: 4.965218492984954
              City: City
              Name: Name
              PlayingSurface: PlayingSurface
              StadiumID: 5
            GameKey: GameKey
            HomeTeam: HomeTeam
            Channel: Channel
            ScoreID: 1
            OverUnder: 7.386281948385884
            Date: Date
            StadiumID: 9
            SeasonType: 6
            PointSpread: 1.2315135367772556
            ForecastTempLow: 1
            GeoLong: 7.061401241503109
            GlobalAwayTeamID: 9
            Canceled: true
            AwayTeamMoneyLine: 0
            Day: Day
            Week: 9
          OperatorGameID: 8
          SlateGameID: 6
          SlateID: 3
          ScoreID: 9
          GameID: 6
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 0
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 3
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 6
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          SlatePlayerID: 6
          TeamID: 3
          PlayerGameProjectionStatID: 2
          OperatorSalary: 1
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 6
          Team: Team
          OperatorPlayerID: OperatorPlayerID
          FantasyDefenseProjectionStatID: 6
        - PlayerID: 6
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          SlatePlayerID: 6
          TeamID: 3
          PlayerGameProjectionStatID: 2
          OperatorSalary: 1
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 6
          Team: Team
          OperatorPlayerID: OperatorPlayerID
          FantasyDefenseProjectionStatID: 6
        OperatorSlateID: 7
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          AwayTeam: AwayTeam
          GeoLat: 2.3021358869347655
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 4
          ForecastTempHigh: 6
          DateTime: DateTime
          ForecastWindChill: 5
          GlobalHomeTeamID: 2
          Season: 1
          ForecastWindSpeed: 5
          GlobalGameID: 3
          Status: Status
          StadiumDetails:
            Type: Type
            GeoLat: 1.1730742509559433
            Capacity: 7
            State: State
            Country: Country
            GeoLong: 4.965218492984954
            City: City
            Name: Name
            PlayingSurface: PlayingSurface
            StadiumID: 5
          GameKey: GameKey
          HomeTeam: HomeTeam
          Channel: Channel
          ScoreID: 1
          OverUnder: 7.386281948385884
          Date: Date
          StadiumID: 9
          SeasonType: 6
          PointSpread: 1.2315135367772556
          ForecastTempLow: 1
          GeoLong: 7.061401241503109
          GlobalAwayTeamID: 9
          Canceled: true
          AwayTeamMoneyLine: 0
          Day: Day
          Week: 9
        OperatorGameID: 8
        SlateGameID: 6
        SlateID: 3
        ScoreID: 9
        GameID: 6
      properties:
        Game:
          $ref: '#/components/schemas/Schedule'
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        ScoreID:
          nullable: true
          type: integer
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      example:
        PlayerID: 6
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 5
        SlatePlayerID: 6
        TeamID: 3
        PlayerGameProjectionStatID: 2
        OperatorSalary: 1
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 6
        Team: Team
        OperatorPlayerID: OperatorPlayerID
        FantasyDefenseProjectionStatID: 6
      properties:
        FantasyDefenseProjectionStatID:
          nullable: true
          type: integer
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    DfsSlatePlayerOwnershipProjection:
      example:
        PlayerID: 5
        ProjectedOwnershipPercentage: 5.637376656633329
        IsCaptain: true
        FantasyDefensePlayerID: 1
        SlateID: 2
      properties:
        FantasyDefensePlayerID:
          nullable: true
          type: integer
        IsCaptain:
          nullable: false
          type: boolean
        PlayerID:
          nullable: true
          type: integer
        ProjectedOwnershipPercentage:
          nullable: false
          type: number
        SlateID:
          nullable: false
          type: integer
    DfsSlateWithOwnershipProjection:
      example:
        Operator: Operator
        OperatorStartTime: OperatorStartTime
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        SlateOwnershipProjections:
        - PlayerID: 5
          ProjectedOwnershipPercentage: 5.637376656633329
          IsCaptain: true
          FantasyDefensePlayerID: 1
          SlateID: 2
        - PlayerID: 5
          ProjectedOwnershipPercentage: 5.637376656633329
          IsCaptain: true
          FantasyDefensePlayerID: 1
          SlateID: 2
        SlateID: 6
        OperatorSlateID: 0
      properties:
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        SlateID:
          nullable: false
          type: integer
        SlateOwnershipProjections:
          items:
            $ref: '#/components/schemas/DfsSlatePlayerOwnershipProjection'
          type: array
    FantasyDefenseGameProjection:
      example:
        BlockedKicks: 5.962133916683182
        PlayerID: 0
        Safeties: 6.623518433804886
        FumblesRecovered: 4.652396432933246
        FourthDownConversions: 0.8851374739011653
        TwoPointConversionReturns: 8.675064425986758
        FantasyDraftFantasyPointsAllowed: 9.369310271410669
        WindSpeed: 7
        DateTime: DateTime
        FantasyDefenseID: 9
        InterceptionReturnTouchdowns: 7.04836565559697
        FantasyDraftQuarterbackFantasyPointsAllowed: 8.762042012749001
        WideReceiverFantasyPointsAllowed: 0.35262192099236644
        FumblesForced: 0.10263654006109402
        TacklesForLoss: 9.897492629215506
        FantasyDraftSalary: 6
        ScoringDetails:
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        OpponentID: 7
        PuntReturns: 4.459605034958679
        FanDuelKickerFantasyPointsAllowed: 1.0246457001441578
        FantasyDraftTightEndFantasyPointsAllowed: 3.5571952270680973
        FantasyPointsDraftKings: 6.778324963048013
        OffensiveYardsAllowed: 4.678947989005849
        BlockedKickReturnYards: 1.4658129805029452
        Week: 0
        PassesDefended: 9.702963800023566
        PointsAllowed: 7.933506881737151
        KickReturnYards: 6.628464275087742
        YahooQuarterbackFantasyPointsAllowed: 9.386524999783381
        IsGameOver: true
        PuntReturnTouchdowns: 6.073898085781152
        TeamID: 5
        PuntReturnYards: 8.251625748923757
        FantasyDataSalary: 5
        SoloTackles: 3.7814124730767915
        KickReturnLong: 4.078845849666752
        VictivSalary: 4
        Humidity: 3
        QuarterbackHits: 0.43431398824148815
        FantasyPointsAllowed: 2.8841621266687802
        Team: Team
        Season: 8
        FanDuelSalary: 7
        GameKey: GameKey
        Sacks: 8.28965939814297
        YahooTightEndFantasyPointsAllowed: 6.173804034172511
        HomeOrAway: HomeOrAway
        Interceptions: 3.2588565619047607
        YahooWideReceiverFantasyPointsAllowed: 4.8789878742268815
        FantasyDraftWideReceiverFantasyPointsAllowed: 6.965117697638846
        YahooRunningbackFantasyPointsAllowed: 0.58919091925136
        Day: Day
        PuntReturnLong: 4.86315908102884
        FanDuelPosition: FanDuelPosition
        SpecialTeamsTouchdowns: 3.111202833403195
        DraftKingsFantasyPointsAllowed: 2.3021358869347655
        GlobalTeamID: 3
        DraftKingsQuarterbackFantasyPointsAllowed: 9.301444243932576
        DraftKingsSalary: 2
        DraftKingsWideReceiverFantasyPointsAllowed: 7.386281948385884
        FantasyDraftRunningbackFantasyPointsAllowed: 9.018348186070783
        ThirdDownConversions: 3.1497903714250555
        FieldGoalReturnTouchdowns: 3.353193347011243
        KickReturns: 4.258773108174356
        AssistedTackles: 0.8008281904610115
        OpponentPositionRank: 9
        YahooFantasyPointsAllowed: 4.332304821875894
        RunningbackFantasyPointsAllowed: 2.9409642974827896
        FantasyPointsFanDuel: 6.878052220127876
        QuarterbackFantasyPointsAllowed: 3.901545264248647
        TouchdownsScored: 3.804112695731078
        KickReturnTouchdowns: 0.2025324113236393
        FanDuelWideReceiverFantasyPointsAllowed: 4.965218492984954
        FanDuelQuarterbackFantasyPointsAllowed: 1.4894159098541704
        FieldGoalReturnYards: 3.0937452626664474
        Stadium: Stadium
        InterceptionReturnYards: 5.533258397034986
        Temperature: 7
        FanDuelFantasyPointsAllowed: 1.2315135367772556
        FumbleReturnTouchdowns: 7.058770351582356
        KickerFantasyPointsAllowed: 1.041444916118296
        DraftKingsRunningbackFantasyPointsAllowed: 3.616076749251911
        FantasyPointsYahoo: 6.704019297950036
        OpponentRank: 0
        YahooSalary: 2
        BlockedKickReturnTouchdowns: 6.027456183070403
        DraftKingsKickerFantasyPointsAllowed: 7.061401241503109
        FanDuelRunningbackFantasyPointsAllowed: 6.84685269835264
        DraftKingsPosition: DraftKingsPosition
        PointsAllowedByDefenseSpecialTeams: 5.507386964179881
        DefensiveTouchdowns: 5.637376656633329
        FantasyPointsFantasyDraft: 5.944895607614016
        GlobalOpponentID: 7
        Opponent: Opponent
        FanDuelTightEndFantasyPointsAllowed: 1.1730742509559433
        YahooKickerFantasyPointsAllowed: 2.7977867356748476
        FourthDownAttempts: 7.143538047012306
        GlobalGameID: 8
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FantasyPoints: 1.284659006116532
        FantasyDraftKickerFantasyPointsAllowed: 6.683562403749608
        ThirdDownAttempts: 0.4768402382624515
        TightEndFantasyPointsAllowed: 2.380090174313445
        ScoreID: 4
        Date: Date
        DraftKingsTightEndFantasyPointsAllowed: 4.145608029883936
        FumbleReturnYards: 6.519180951018382
        SeasonType: 7
        SackYards: 1.7325933120207193
      properties:
        AssistedTackles:
          nullable: false
          type: number
        BlockedKickReturnTouchdowns:
          nullable: true
          type: number
        BlockedKickReturnYards:
          nullable: true
          type: number
        BlockedKicks:
          nullable: false
          type: number
        Date:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DefensiveTouchdowns:
          nullable: true
          type: number
        DraftKingsFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsKickerFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsSalary:
          nullable: true
          type: integer
        DraftKingsTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelKickerFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelSalary:
          nullable: true
          type: integer
        FanDuelTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDefenseID:
          nullable: true
          type: integer
        FantasyDraftFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftKickerFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyDraftTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsAllowed:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: number
        FieldGoalReturnYards:
          nullable: true
          type: number
        FourthDownAttempts:
          nullable: true
          type: number
        FourthDownConversions:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: false
          type: number
        FumbleReturnYards:
          nullable: false
          type: number
        FumblesForced:
          nullable: false
          type: number
        FumblesRecovered:
          nullable: false
          type: number
        GameKey:
          nullable: true
          type: string
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        Humidity:
          nullable: true
          type: integer
        InterceptionReturnTouchdowns:
          nullable: false
          type: number
        InterceptionReturnYards:
          nullable: false
          type: number
        Interceptions:
          nullable: false
          type: number
        IsGameOver:
          nullable: true
          type: boolean
        KickReturnLong:
          nullable: false
          type: number
        KickReturnTouchdowns:
          nullable: false
          type: number
        KickReturnYards:
          nullable: false
          type: number
        KickReturns:
          nullable: false
          type: number
        KickerFantasyPointsAllowed:
          nullable: true
          type: number
        OffensiveYardsAllowed:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        PassesDefended:
          nullable: false
          type: number
        PlayerID:
          nullable: true
          type: integer
        PointsAllowed:
          nullable: false
          type: number
        PointsAllowedByDefenseSpecialTeams:
          nullable: true
          type: number
        PuntReturnLong:
          nullable: false
          type: number
        PuntReturnTouchdowns:
          nullable: false
          type: number
        PuntReturnYards:
          nullable: false
          type: number
        PuntReturns:
          nullable: false
          type: number
        QuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        QuarterbackHits:
          nullable: true
          type: number
        RunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        SackYards:
          nullable: false
          type: number
        Sacks:
          nullable: false
          type: number
        Safeties:
          nullable: false
          type: number
        ScoreID:
          nullable: false
          type: integer
        ScoringDetails:
          items:
            $ref: '#/components/schemas/ScoringDetail'
          type: array
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SoloTackles:
          nullable: false
          type: number
        SpecialTeamsTouchdowns:
          nullable: true
          type: number
        Stadium:
          nullable: true
          type: string
        TacklesForLoss:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Temperature:
          nullable: true
          type: integer
        ThirdDownAttempts:
          nullable: true
          type: number
        ThirdDownConversions:
          nullable: true
          type: number
        TightEndFantasyPointsAllowed:
          nullable: true
          type: number
        TouchdownsScored:
          nullable: false
          type: number
        TwoPointConversionReturns:
          nullable: true
          type: number
        VictivSalary:
          nullable: true
          type: integer
        Week:
          nullable: true
          type: integer
        WideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        WindSpeed:
          nullable: true
          type: integer
        YahooFantasyPointsAllowed:
          nullable: true
          type: number
        YahooKickerFantasyPointsAllowed:
          nullable: true
          type: number
        YahooPosition:
          nullable: true
          type: string
        YahooQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        YahooRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        YahooSalary:
          nullable: true
          type: integer
        YahooTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        YahooWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
    FantasyDefenseSeasonProjection:
      example:
        BlockedKicks: 2.027123023002322
        PlayerID: 9
        Safeties: 2.9409642974827896
        FumblesRecovered: 8.969578798196912
        SpecialTeamsTouchdowns: 4.573936264232251
        FourthDownConversions: 7.058770351582356
        TwoPointConversionReturns: 5.299143560275359
        DraftKingsFantasyPointsAllowed: 7.386281948385884
        FantasyDraftFantasyPointsAllowed: 8.762042012749001
        GlobalTeamID: 3
        WindSpeed: 8
        DraftKingsQuarterbackFantasyPointsAllowed: 1.0246457001441578
        DraftKingsWideReceiverFantasyPointsAllowed: 7.457744773683766
        AverageDraftPositionPPR: 7.061401241503109
        AuctionValuePPR: 1.4658129805029452
        FantasyDraftRunningbackFantasyPointsAllowed: 3.5571952270680973
        ThirdDownConversions: 9.183123594773994
        FieldGoalReturnTouchdowns: 3.0937452626664474
        KickReturns: 4.258773108174356
        AssistedTackles: 0.8008281904610115
        YahooFantasyPointsAllowed: 7.606863723092579
        InterceptionReturnTouchdowns: 7.04836565559697
        RunningbackFantasyPointsAllowed: 4.459605034958679
        FantasyDraftQuarterbackFantasyPointsAllowed: 6.438423552598547
        WideReceiverFantasyPointsAllowed: 5.312489704336296
        FumblesForced: 4.652396432933246
        TacklesForLoss: 8.863729185622827
        FantasyPointsFanDuel: 5.944895607614016
        QuarterbackFantasyPointsAllowed: 6.073898085781152
        TouchdownsScored: 0.4182561061793122
        KickReturnTouchdowns: 0.2025324113236393
        FanDuelWideReceiverFantasyPointsAllowed: 6.683562403749608
        ScoringDetails:
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        PuntReturns: 4.86315908102884
        FanDuelKickerFantasyPointsAllowed: 4.965218492984954
        FantasyDraftTightEndFantasyPointsAllowed: 6.965117697638846
        FantasyPointsDraftKings: 6.878052220127876
        Games: 7
        FanDuelQuarterbackFantasyPointsAllowed: 5.025004791520295
        FieldGoalReturnYards: 7.143538047012306
        OffensiveYardsAllowed: 4.678947989005849
        BlockedKickReturnYards: 3.616076749251911
        PassesDefended: 7.260521264802104
        InterceptionReturnYards: 5.533258397034986
        PointsAllowed: 0.8774076871421566
        KickReturnYards: 6.628464275087742
        Temperature: 1
        FanDuelFantasyPointsAllowed: 1.1730742509559433
        YahooQuarterbackFantasyPointsAllowed: 3.111202833403195
        FumbleReturnTouchdowns: 6.519180951018382
        KickerFantasyPointsAllowed: 1.041444916118296
        PuntReturnTouchdowns: 7.933506881737151
        AverageDraftPosition: 5.962133916683182
        DraftKingsRunningbackFantasyPointsAllowed: 1.4894159098541704
        FantasyPointsYahoo: 3.353193347011243
        TeamID: 9
        PuntReturnYards: 5.507386964179881
        SoloTackles: 6.623518433804886
        BlockedKickReturnTouchdowns: 9.301444243932576
        KickReturnLong: 4.078845849666752
        DraftKingsKickerFantasyPointsAllowed: 1.2315135367772556
        FanDuelRunningbackFantasyPointsAllowed: 9.965781217890562
        PointsAllowedByDefenseSpecialTeams: 9.702963800023566
        DefensiveTouchdowns: 4.145608029883936
        FantasyPointsFantasyDraft: 6.704019297950036
        Humidity: 3
        QuarterbackHits: 8.251625748923757
        AuctionValue: 6.027456183070403
        FanDuelTightEndFantasyPointsAllowed: 9.369310271410669
        FantasyPointsAllowed: 6.778324963048013
        Team: Team
        Season: 1
        YahooKickerFantasyPointsAllowed: 3.7814124730767915
        AverageDraftPositionDynasty: 2.3021358869347655
        FourthDownAttempts: 0.8851374739011653
        FantasyPoints: 2.8841621266687802
        AverageDraftPosition2QB: 5.637376656633329
        Sacks: 0.43431398824148815
        FantasyDraftKickerFantasyPointsAllowed: 9.018348186070783
        ThirdDownAttempts: 3.502657762086401
        TightEndFantasyPointsAllowed: 8.761432466225475
        YahooTightEndFantasyPointsAllowed: 5.877124706116695
        DraftKingsTightEndFantasyPointsAllowed: 6.84685269835264
        FumbleReturnYards: 0.10263654006109402
        Interceptions: 3.2588565619047607
        YahooWideReceiverFantasyPointsAllowed: 7.835035282970782
        SeasonType: 8
        SackYards: 3.901545264248647
        FantasyDraftWideReceiverFantasyPointsAllowed: 1.284659006116532
        YahooRunningbackFantasyPointsAllowed: 9.897492629215506
        PuntReturnLong: 0.5199002018724985
      properties:
        AssistedTackles:
          nullable: false
          type: number
        AuctionValue:
          nullable: true
          type: number
        AuctionValuePPR:
          nullable: true
          type: number
        AverageDraftPosition:
          nullable: true
          type: number
        AverageDraftPosition2QB:
          nullable: true
          type: number
        AverageDraftPositionDynasty:
          nullable: true
          type: number
        AverageDraftPositionPPR:
          nullable: true
          type: number
        BlockedKickReturnTouchdowns:
          nullable: true
          type: number
        BlockedKickReturnYards:
          nullable: true
          type: number
        BlockedKicks:
          nullable: false
          type: number
        DefensiveTouchdowns:
          nullable: true
          type: number
        DraftKingsFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsKickerFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelKickerFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftKickerFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsAllowed:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: number
        FieldGoalReturnYards:
          nullable: true
          type: number
        FourthDownAttempts:
          nullable: true
          type: number
        FourthDownConversions:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: false
          type: number
        FumbleReturnYards:
          nullable: false
          type: number
        FumblesForced:
          nullable: false
          type: number
        FumblesRecovered:
          nullable: false
          type: number
        Games:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Humidity:
          nullable: true
          type: integer
        InterceptionReturnTouchdowns:
          nullable: false
          type: number
        InterceptionReturnYards:
          nullable: false
          type: number
        Interceptions:
          nullable: false
          type: number
        KickReturnLong:
          nullable: false
          type: number
        KickReturnTouchdowns:
          nullable: false
          type: number
        KickReturnYards:
          nullable: false
          type: number
        KickReturns:
          nullable: false
          type: number
        KickerFantasyPointsAllowed:
          nullable: true
          type: number
        OffensiveYardsAllowed:
          nullable: true
          type: number
        PassesDefended:
          nullable: false
          type: number
        PlayerID:
          nullable: true
          type: integer
        PointsAllowed:
          nullable: false
          type: number
        PointsAllowedByDefenseSpecialTeams:
          nullable: true
          type: number
        PuntReturnLong:
          nullable: false
          type: number
        PuntReturnTouchdowns:
          nullable: false
          type: number
        PuntReturnYards:
          nullable: false
          type: number
        PuntReturns:
          nullable: false
          type: number
        QuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        QuarterbackHits:
          nullable: true
          type: number
        RunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        SackYards:
          nullable: false
          type: number
        Sacks:
          nullable: false
          type: number
        Safeties:
          nullable: false
          type: number
        ScoringDetails:
          items:
            $ref: '#/components/schemas/ScoringDetail'
          type: array
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SoloTackles:
          nullable: false
          type: number
        SpecialTeamsTouchdowns:
          nullable: true
          type: number
        TacklesForLoss:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Temperature:
          nullable: true
          type: integer
        ThirdDownAttempts:
          nullable: true
          type: number
        ThirdDownConversions:
          nullable: true
          type: number
        TightEndFantasyPointsAllowed:
          nullable: true
          type: number
        TouchdownsScored:
          nullable: false
          type: number
        TwoPointConversionReturns:
          nullable: true
          type: number
        WideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        WindSpeed:
          nullable: true
          type: integer
        YahooFantasyPointsAllowed:
          nullable: true
          type: number
        YahooKickerFantasyPointsAllowed:
          nullable: true
          type: number
        YahooQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        YahooRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        YahooTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        YahooWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
    Player:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        UpcomingGameOpponent: UpcomingGameOpponent
        GlobalTeamID: 1
        ShortName: ShortName
        UpcomingYahooSalary: 6
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        BirthDateString: BirthDateString
        Name: Name
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        UpcomingGameWeek: 3
        SportsDirectPlayerID: 9
        UsaTodayPlayerID: 6
        PhotoUrl: PhotoUrl
        UpcomingSalary: 2
        DepthPosition: DepthPosition
        Status: Status
        Position: Position
        FanDuelPlayerID: 4
        DepthPositionCategory: DepthPositionCategory
        CollegeDraftPick: 5
        CollegeDraftRound: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 6
        Weight: 5
        Active: true
        Experience: 2
        InjuryPractice: InjuryPractice
        SportRadarPlayerID: SportRadarPlayerID
        DepthOrder: 9
        HeightFeet: 6
        College: College
        IsUndraftedFreeAgent: true
        LastName: LastName
        BirthDate: BirthDate
        CollegeDraftYear: 2
        UpcomingOpponentPositionRank: 6
        FantasyDraftPlayerID: 1
        UpcomingFanDuelSalary: 6
        AverageDraftPosition: 6.027456183070403
        RotoworldPlayerID: 9
        TeamID: 8
        Number: 1
        DraftKingsPlayerID: 3
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: Height
        Team: Team
        YahooPlayerID: 3
        UpcomingDraftKingsSalary: 9
        Age: 0
        InjuryPracticeDescription: InjuryPracticeDescription
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 6
        CollegeDraftTeam: CollegeDraftTeam
        CurrentStatus: CurrentStatus
        FirstName: FirstName
        PositionCategory: PositionCategory
        CurrentTeam: CurrentTeam
        ExperienceString: ExperienceString
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        HeightInches: 7
        ByeWeek: 1
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        DeclaredInactive: true
        InjuryNotes: InjuryNotes
        FantasyPosition: FantasyPosition
        RotoWirePlayerID: 5
        FantasyAlarmPlayerID: 7
        FantasyPositionDepthOrder: 1
        DepthDisplayOrder: 7
        UpcomingOpponentRank: 1
      properties:
        Active:
          nullable: true
          type: boolean
        Age:
          nullable: true
          type: integer
        AverageDraftPosition:
          nullable: true
          type: number
        BirthDate:
          nullable: true
          type: string
        BirthDateString:
          nullable: true
          type: string
        ByeWeek:
          nullable: true
          type: integer
        College:
          nullable: true
          type: string
        CollegeDraftPick:
          nullable: true
          type: integer
        CollegeDraftRound:
          nullable: true
          type: integer
        CollegeDraftTeam:
          nullable: true
          type: string
        CollegeDraftYear:
          nullable: true
          type: integer
        CurrentStatus:
          nullable: true
          type: string
        CurrentTeam:
          nullable: true
          type: string
        DeclaredInactive:
          nullable: false
          type: boolean
        DepthDisplayOrder:
          nullable: true
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        DepthPosition:
          nullable: true
          type: string
        DepthPositionCategory:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: integer
        ExperienceString:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FantasyPosition:
          nullable: true
          type: string
        FantasyPositionDepthOrder:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: string
        HeightFeet:
          nullable: true
          type: integer
        HeightInches:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryPractice:
          nullable: true
          type: string
        InjuryPracticeDescription:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsUndraftedFreeAgent:
          nullable: false
          type: boolean
        LastName:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        ShortName:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UpcomingDraftKingsSalary:
          nullable: true
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          type: integer
        UpcomingGameOpponent:
          nullable: true
          type: string
        UpcomingGameWeek:
          nullable: false
          type: integer
        UpcomingOpponentPositionRank:
          nullable: true
          type: integer
        UpcomingOpponentRank:
          nullable: true
          type: integer
        UpcomingSalary:
          nullable: true
          type: integer
        UpcomingYahooSalary:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerGameProjection:
      example:
        BlockedKicks: 5.637376656633329
        PlayerID: 5
        Safeties: 5.7911894223693885
        FumblesRecovered: 0.10263654006109402
        InjuryStartDate: InjuryStartDate
        RushingTouchdowns: 1.2555055362323109
        DefensiveSnapsPlayed: 2
        TwoPointConversionReturns: 2.058822123984536
        WindSpeed: 5
        DateTime: DateTime
        PassingLong: 6.623518433804886
        Activated: 0
        PuntLong: 3.7814124730767915
        ReceivingLong: 4.332304821875894
        FantasyPointsPPR: 5.025004791520295
        Fumbles: 3.0937452626664474
        InterceptionReturnTouchdowns: 3.0576100241049344
        FumblesOutOfBounds: 7.058770351582356
        Position: Position
        FumblesForced: 7.143538047012306
        TacklesForLoss: 9.146339979307802
        FantasyDraftSalary: 1
        FieldGoalPercentage: 9.369310271410669
        PassingAttempts: 0.43431398824148815
        PassingInterceptions: 8.28965939814297
        ScoringDetails:
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        OpponentID: 6
        InjuryPractice: InjuryPractice
        PuntReturns: 3.804112695731078
        SpecialTeamsSoloTackles: 1.7045651386993
        FantasyPointsDraftKings: 7.457744773683766
        FumblesOwnRecoveries: 6.519180951018382
        ExtraPointsMade: 7.386281948385884
        BlockedKickReturnYards: 5.962133916683182
        SpecialTeamsFumblesRecovered: 7.92839742024475
        SafetiesAllowed: 5.974942028545841
        SnapCountsConfirmed: true
        Week: 2
        PassesDefended: 3.901545264248647
        MiscFumblesRecovered: 9.132027271330688
        KickReturnYards: 6.628464275087742
        Started: 8
        IsGameOver: true
        OffensiveFumbleRecoveryTouchdowns: 0.5199002018724985
        KickReturnFairCatches: 3.2588565619047607
        PuntReturnTouchdowns: 0.4768402382624515
        TeamID: 4
        ExtraPointsAttempted: 2.027123023002322
        PuntReturnYards: 3.1497903714250555
        ReceivingYardsPerTarget: 6.173804034172511
        FantasyDataSalary: 1
        Played: 0
        SoloTackles: 9.785002165136461
        KickReturnLong: 4.078845849666752
        VictivSalary: 0
        Humidity: 3
        OffensiveTeamSnaps: 5
        OffensiveTouchdowns: 4.86315908102884
        QuarterbackHits: 7.203794749804894
        Team: Team
        Season: 1
        MiscAssistedTackles: 4.678947989005849
        PlayingSurface: PlayingSurface
        FanDuelSalary: 1
        MiscSoloTackles: 0.8774076871421566
        GameKey: GameKey
        Sacks: 4.372688051310086
        ExtraPointsHadBlocked: 4.145608029883936
        FieldGoalsMade50Plus: 5.944895607614016
        MiscFumblesForced: 7.260521264802104
        ReceptionPercentage: 4.8789878742268815
        InjuryBodyPart: InjuryBodyPart
        FieldGoalsMade0to19: 1.284659006116532
        HomeOrAway: HomeOrAway
        DeclaredInactive: true
        Interceptions: 5.533258397034986
        FantasyPosition: FantasyPosition
        PuntTouchbacks: 8.675064425986758
        PassingCompletions: 1.7325933120207193
        FieldGoalsMade: 6.965117697638846
        FumblesLost: 0.8851374739011653
        RushingLong: 1.3949519358941398
        Day: Day
        PuntReturnLong: 7.835035282970782
        PassingYardsPerCompletion: 8.761432466225475
        FanDuelPosition: FanDuelPosition
        PassingYardsPerAttempt: 9.183123594773994
        SpecialTeamsTouchdowns: 3.209082285545927
        FieldGoalsLongestMade: 3.5571952270680973
        ReceivingTouchdowns: 9.386524999783381
        Receptions: 6.966044574347761
        GlobalTeamID: 7
        ShortName: ShortName
        InjuryStatus: InjuryStatus
        DraftKingsSalary: 3
        Name: Name
        FieldGoalsMade20to29: 2.8841621266687802
        ReceivingTargets: 2.7977867356748476
        ReceivingYardsPerReception: 2.535258963197524
        SpecialTeamsTeamSnaps: 4
        RushingAttempts: 9.806951670467935
        FieldGoalReturnTouchdowns: 6.683562403749608
        KickReturns: 1.041444916118296
        AssistedTackles: 6.027456183070403
        FieldGoalsMade40to49: 6.878052220127876
        OpponentPositionRank: 8
        SpecialTeamsSnapsPlayed: 9
        PuntReturnFairCatches: 5.877124706116695
        FieldGoalsMade30to39: 6.778324963048013
        FantasyPointsFanDuel: 1.1730742509559433
        PassingTouchdowns: 1.8268702177058116
        FieldGoalsHadBlocked: 6.438423552598547
        KickReturnTouchdowns: 0.2025324113236393
        PuntReturnYardsPerAttempt: 2.380090174313445
        PuntYards: 4.518309517874243
        PuntNetYards: 9.897492629215506
        Punts: 0.4833312865174044
        TwoPointConversionPasses: 4.141296055235948
        TwoPointConversionReceptions: 8.910869026866926
        Touchdowns: 6.458262756685686
        FieldGoalReturnYards: 8.762042012749001
        GameDate: GameDate
        Stadium: Stadium
        InterceptionReturnYards: 7.04836565559697
        Temperature: 8
        FumbleReturnTouchdowns: 6.704019297950036
        FantasyPointsYahoo: 9.965781217890562
        OpponentRank: 4
        PassingSackYards: 8.863729185622827
        TwoPointConversionRuns: 6.4280627569296165
        YahooSalary: 0
        BlockedKickReturnTouchdowns: 1.4658129805029452
        DefensiveTeamSnaps: 7
        FieldGoalsAttempted: 9.018348186070783
        Number: 9
        PlayerGameID: 5
        DraftKingsPosition: DraftKingsPosition
        KickReturnYardsPerAttempt: 4.258773108174356
        RushingYardsPerAttempt: 5.6644160867523485
        DefensiveTouchdowns: 9.301444243932576
        FantasyPointsFantasyDraft: 4.965218492984954
        GlobalOpponentID: 8
        Opponent: Opponent
        PuntsHadBlocked: 0.35262192099236644
        InjuryPracticeDescription: InjuryPracticeDescription
        PassingCompletionPercentage: 2.9409642974827896
        PassingSacks: 9.254183946267839
        GlobalGameID: 4
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FantasyPoints: 6.84685269835264
        SpecialTeamsAssistedTackles: 7.3718573971919445
        PassingRating: 4.573936264232251
        PositionCategory: PositionCategory
        ScoreID: 3
        ReceivingYards: 0.58919091925136
        PuntNetAverage: 3.111202833403195
        FumbleReturnYards: 3.353193347011243
        InjuryNotes: InjuryNotes
        PassingYards: 3.502657762086401
        SeasonType: 3
        Tackles: 2.9805393113464476
        PuntInside20: 7.606863723092579
        SackYards: 1.5970080735609526
        RushingYards: 3.812761638325517
        PuntAverage: 8.37823741034869
        SpecialTeamsFumblesForced: 7.726998920545485
        OffensiveSnapsPlayed: 7
      properties:
        Activated:
          nullable: false
          type: integer
        AssistedTackles:
          nullable: false
          type: number
        BlockedKickReturnTouchdowns:
          nullable: true
          type: number
        BlockedKickReturnYards:
          nullable: true
          type: number
        BlockedKicks:
          nullable: false
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DeclaredInactive:
          nullable: false
          type: boolean
        DefensiveSnapsPlayed:
          nullable: true
          type: integer
        DefensiveTeamSnaps:
          nullable: true
          type: integer
        DefensiveTouchdowns:
          nullable: false
          type: number
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        ExtraPointsAttempted:
          nullable: true
          type: number
        ExtraPointsHadBlocked:
          nullable: true
          type: number
        ExtraPointsMade:
          nullable: false
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: false
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPPR:
          nullable: false
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FantasyPosition:
          nullable: true
          type: string
        FieldGoalPercentage:
          nullable: false
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: number
        FieldGoalReturnYards:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: false
          type: number
        FieldGoalsHadBlocked:
          nullable: true
          type: number
        FieldGoalsLongestMade:
          nullable: false
          type: number
        FieldGoalsMade:
          nullable: false
          type: number
        FieldGoalsMade0to19:
          nullable: true
          type: number
        FieldGoalsMade20to29:
          nullable: true
          type: number
        FieldGoalsMade30to39:
          nullable: true
          type: number
        FieldGoalsMade40to49:
          nullable: true
          type: number
        FieldGoalsMade50Plus:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: false
          type: number
        FumbleReturnYards:
          nullable: false
          type: number
        Fumbles:
          nullable: false
          type: number
        FumblesForced:
          nullable: false
          type: number
        FumblesLost:
          nullable: true
          type: number
        FumblesOutOfBounds:
          nullable: true
          type: number
        FumblesOwnRecoveries:
          nullable: true
          type: number
        FumblesRecovered:
          nullable: false
          type: number
        GameDate:
          nullable: true
          type: string
        GameKey:
          nullable: true
          type: string
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        Humidity:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryPractice:
          nullable: true
          type: string
        InjuryPracticeDescription:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        InterceptionReturnTouchdowns:
          nullable: false
          type: number
        InterceptionReturnYards:
          nullable: false
          type: number
        Interceptions:
          nullable: false
          type: number
        IsGameOver:
          nullable: true
          type: boolean
        KickReturnFairCatches:
          nullable: true
          type: number
        KickReturnLong:
          nullable: false
          type: number
        KickReturnTouchdowns:
          nullable: false
          type: number
        KickReturnYards:
          nullable: false
          type: number
        KickReturnYardsPerAttempt:
          nullable: false
          type: number
        KickReturns:
          nullable: false
          type: number
        MiscAssistedTackles:
          nullable: false
          type: number
        MiscFumblesForced:
          nullable: true
          type: number
        MiscFumblesRecovered:
          nullable: true
          type: number
        MiscSoloTackles:
          nullable: false
          type: number
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        OffensiveFumbleRecoveryTouchdowns:
          nullable: true
          type: number
        OffensiveSnapsPlayed:
          nullable: true
          type: integer
        OffensiveTeamSnaps:
          nullable: true
          type: integer
        OffensiveTouchdowns:
          nullable: false
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        PassesDefended:
          nullable: false
          type: number
        PassingAttempts:
          nullable: false
          type: number
        PassingCompletionPercentage:
          nullable: false
          type: number
        PassingCompletions:
          nullable: false
          type: number
        PassingInterceptions:
          nullable: false
          type: number
        PassingLong:
          nullable: false
          type: number
        PassingRating:
          nullable: false
          type: number
        PassingSackYards:
          nullable: false
          type: number
        PassingSacks:
          nullable: false
          type: number
        PassingTouchdowns:
          nullable: false
          type: number
        PassingYards:
          nullable: false
          type: number
        PassingYardsPerAttempt:
          nullable: false
          type: number
        PassingYardsPerCompletion:
          nullable: false
          type: number
        Played:
          nullable: false
          type: integer
        PlayerGameID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        PlayingSurface:
          nullable: true
          type: string
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        PuntAverage:
          nullable: false
          type: number
        PuntInside20:
          nullable: true
          type: number
        PuntLong:
          nullable: true
          type: number
        PuntNetAverage:
          nullable: true
          type: number
        PuntNetYards:
          nullable: true
          type: number
        PuntReturnFairCatches:
          nullable: true
          type: number
        PuntReturnLong:
          nullable: false
          type: number
        PuntReturnTouchdowns:
          nullable: false
          type: number
        PuntReturnYards:
          nullable: false
          type: number
        PuntReturnYardsPerAttempt:
          nullable: false
          type: number
        PuntReturns:
          nullable: false
          type: number
        PuntTouchbacks:
          nullable: true
          type: number
        PuntYards:
          nullable: false
          type: number
        Punts:
          nullable: false
          type: number
        PuntsHadBlocked:
          nullable: true
          type: number
        QuarterbackHits:
          nullable: true
          type: number
        ReceivingLong:
          nullable: false
          type: number
        ReceivingTargets:
          nullable: true
          type: number
        ReceivingTouchdowns:
          nullable: false
          type: number
        ReceivingYards:
          nullable: false
          type: number
        ReceivingYardsPerReception:
          nullable: false
          type: number
        ReceivingYardsPerTarget:
          nullable: false
          type: number
        ReceptionPercentage:
          nullable: false
          type: number
        Receptions:
          nullable: false
          type: number
        RushingAttempts:
          nullable: false
          type: number
        RushingLong:
          nullable: false
          type: number
        RushingTouchdowns:
          nullable: false
          type: number
        RushingYards:
          nullable: false
          type: number
        RushingYardsPerAttempt:
          nullable: false
          type: number
        SackYards:
          nullable: false
          type: number
        Sacks:
          nullable: false
          type: number
        Safeties:
          nullable: true
          type: number
        SafetiesAllowed:
          nullable: true
          type: number
        ScoreID:
          nullable: false
          type: integer
        ScoringDetails:
          items:
            $ref: '#/components/schemas/ScoringDetail'
          type: array
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        ShortName:
          nullable: true
          type: string
        SnapCountsConfirmed:
          nullable: true
          type: boolean
        SoloTackles:
          nullable: false
          type: number
        SpecialTeamsAssistedTackles:
          nullable: false
          type: number
        SpecialTeamsFumblesForced:
          nullable: true
          type: number
        SpecialTeamsFumblesRecovered:
          nullable: true
          type: number
        SpecialTeamsSnapsPlayed:
          nullable: true
          type: integer
        SpecialTeamsSoloTackles:
          nullable: false
          type: number
        SpecialTeamsTeamSnaps:
          nullable: true
          type: integer
        SpecialTeamsTouchdowns:
          nullable: false
          type: number
        Stadium:
          nullable: true
          type: string
        Started:
          nullable: false
          type: integer
        Tackles:
          nullable: false
          type: number
        TacklesForLoss:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Temperature:
          nullable: true
          type: integer
        Touchdowns:
          nullable: false
          type: number
        TwoPointConversionPasses:
          nullable: false
          type: number
        TwoPointConversionReceptions:
          nullable: false
          type: number
        TwoPointConversionReturns:
          nullable: true
          type: number
        TwoPointConversionRuns:
          nullable: false
          type: number
        VictivSalary:
          nullable: true
          type: integer
        Week:
          nullable: false
          type: integer
        WindSpeed:
          nullable: true
          type: integer
        YahooPosition:
          nullable: true
          type: string
        YahooSalary:
          nullable: true
          type: integer
    PlayerSeasonProjection:
      example:
        BlockedKicks: 7.386281948385884
        PlayerID: 8
        Safeties: 1.5970080735609526
        FumblesRecovered: 7.740351818741173
        RushingTouchdowns: 9.806951670467935
        DefensiveSnapsPlayed: 1
        TwoPointConversionReturns: 6.458262756685686
        PlayerSeasonID: 0
        WindSpeed: 8
        PassingLong: 1.7325933120207193
        AverageDraftPositionPPR: 9.301444243932576
        Activated: 0
        PuntLong: 8.37823741034869
        ReceivingLong: 0.35262192099236644
        FantasyPointsPPR: 6.683562403749608
        Fumbles: 7.058770351582356
        InterceptionReturnTouchdowns: 7.04836565559697
        FumblesOutOfBounds: 4.652396432933246
        Position: Position
        FumblesForced: 6.519180951018382
        TacklesForLoss: 3.209082285545927
        FieldGoalPercentage: 9.018348186070783
        PassingAttempts: 4.459605034958679
        PassingInterceptions: 2.9409642974827896
        ScoringDetails:
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        - PlayerID: 1
          GameKey: GameKey
          ScoringDetailID: 9
          SeasonType: 5
          PlayerGameID: 9
          Length: 8
          ScoringPlayID: 8
          Team: Team
          ScoreID: 3
          ScoringType: ScoringType
          Season: 0
          Week: 5
        PuntReturns: 3.1497903714250555
        SpecialTeamsSoloTackles: 7.726998920545485
        FantasyPointsDraftKings: 5.025004791520295
        FumblesOwnRecoveries: 8.969578798196912
        AverageDraftPositionRookie: 3.616076749251911
        ExtraPointsMade: 1.1730742509559433
        BlockedKickReturnYards: 4.145608029883936
        SpecialTeamsFumblesRecovered: 9.785002165136461
        SafetiesAllowed: 4.372688051310086
        PassesDefended: 8.251625748923757
        MiscFumblesRecovered: 0.8774076871421566
        KickReturnYards: 4.258773108174356
        Started: 1
        OffensiveFumbleRecoveryTouchdowns: 7
        KickReturnFairCatches: 4.078845849666752
        PuntReturnTouchdowns: 5.877124706116695
        TeamID: 8
        ExtraPointsAttempted: 6.84685269835264
        PuntReturnYards: 7.835035282970782
        ReceivingYardsPerTarget: 0.58919091925136
        Played: 9
        SoloTackles: 3.8008573585058016
        KickReturnLong: 0.2025324113236393
        Humidity: 3
        OffensiveTeamSnaps: 4
        OffensiveTouchdowns: 6.073898085781152
        QuarterbackHits: 0.4833312865174044
        Team: Team
        Season: 5
        MiscAssistedTackles: 7.260521264802104
        AverageDraftPositionDynasty: 7.061401241503109
        MiscSoloTackles: 9.702963800023566
        Sacks: 5.6644160867523485
        ExtraPointsHadBlocked: 7.457744773683766
        FieldGoalsMade50Plus: 3.0937452626664474
        MiscFumblesForced: 9.132027271330688
        ReceptionPercentage: 2.535258963197524
        FieldGoalsMade0to19: 6.878052220127876
        Interceptions: 3.2588565619047607
        FantasyPosition: FantasyPosition
        PuntTouchbacks: 2.380090174313445
        PassingCompletions: 0.43431398824148815
        FieldGoalsMade: 6.778324963048013
        FumblesLost: 0.10263654006109402
        RushingLong: 6.966044574347761
        PuntReturnLong: 9.897492629215506
        PassingYardsPerCompletion: 3.502657762086401
        PassingYardsPerAttempt: 1.8268702177058116
        SpecialTeamsTouchdowns: 9.402167524121316
        FieldGoalsLongestMade: 2.8841621266687802
        ReceivingTouchdowns: 4.332304821875894
        Receptions: 6.173804034172511
        GlobalTeamID: 3
        ShortName: ShortName
        Name: Name
        FieldGoalsMade20to29: 5.944895607614016
        ReceivingTargets: 7.203794749804894
        ReceivingYardsPerReception: 9.386524999783381
        AuctionValuePPR: 5.962133916683182
        SpecialTeamsTeamSnaps: 7
        RushingAttempts: 4.8789878742268815
        FieldGoalReturnTouchdowns: 6.438423552598547
        KickReturns: 4.678947989005849
        AssistedTackles: 6.027456183070403
        FieldGoalsMade40to49: 3.353193347011243
        SpecialTeamsSnapsPlayed: 7
        PuntReturnFairCatches: 3.111202833403195
        FieldGoalsMade30to39: 6.704019297950036
        FantasyPointsFanDuel: 9.965781217890562
        PassingTouchdowns: 8.863729185622827
        FieldGoalsHadBlocked: 1.284659006116532
        KickReturnTouchdowns: 6.628464275087742
        PuntReturnYardsPerAttempt: 0.4768402382624515
        PuntYards: 3.804112695731078
        PuntNetYards: 3.7814124730767915
        Punts: 8.675064425986758
        TwoPointConversionPasses: 4.010300976654761
        TwoPointConversionReceptions: 8.276461147928103
        Touchdowns: 9.146339979307802
        FieldGoalReturnYards: 3.5571952270680973
        InterceptionReturnYards: 5.533258397034986
        Temperature: 2
        FumbleReturnTouchdowns: 7.143538047012306
        AverageDraftPosition: 5.637376656633329
        FantasyPointsYahoo: 8.762042012749001
        PassingSackYards: 6.623518433804886
        TwoPointConversionRuns: 4.141296055235948
        BlockedKickReturnTouchdowns: 2.027123023002322
        DefensiveTeamSnaps: 1
        FieldGoalsAttempted: 6.965117697638846
        Number: 0
        KickReturnYardsPerAttempt: 1.041444916118296
        RushingYardsPerAttempt: 1.2555055362323109
        DefensiveTouchdowns: 1.4894159098541704
        FantasyPointsFantasyDraft: 9.369310271410669
        AuctionValue: 1.4658129805029452
        PuntsHadBlocked: 4.518309517874243
        PassingCompletionPercentage: 3.901545264248647
        PassingSacks: 4.573936264232251
        FantasyPoints: 4.965218492984954
        AverageDraftPosition2QB: 2.3021358869347655
        SpecialTeamsAssistedTackles: 1.0639121808530916
        PassingRating: 8.28965939814297
        PositionCategory: PositionCategory
        ReceivingYards: 2.7977867356748476
        PuntNetAverage: 7.606863723092579
        FumbleReturnYards: 0.8851374739011653
        PassingYards: 9.254183946267839
        SeasonType: 5
        Tackles: 4.4935252719377825
        PuntInside20: 5.312489704336296
        SackYards: 3.812761638325517
        RushingYards: 1.3949519358941398
        PuntAverage: 5.299143560275359
        SpecialTeamsFumblesForced: 3.2841216543560217
        OffensiveSnapsPlayed: 5
      properties:
        Activated:
          nullable: false
          type: integer
        AssistedTackles:
          nullable: false
          type: number
        AuctionValue:
          nullable: true
          type: number
        AuctionValuePPR:
          nullable: true
          type: number
        AverageDraftPosition:
          nullable: true
          type: number
        AverageDraftPosition2QB:
          nullable: true
          type: number
        AverageDraftPositionDynasty:
          nullable: true
          type: number
        AverageDraftPositionPPR:
          nullable: true
          type: number
        AverageDraftPositionRookie:
          nullable: true
          type: number
        BlockedKickReturnTouchdowns:
          nullable: true
          type: number
        BlockedKickReturnYards:
          nullable: true
          type: number
        BlockedKicks:
          nullable: false
          type: number
        DefensiveSnapsPlayed:
          nullable: true
          type: integer
        DefensiveTeamSnaps:
          nullable: true
          type: integer
        DefensiveTouchdowns:
          nullable: false
          type: number
        ExtraPointsAttempted:
          nullable: true
          type: number
        ExtraPointsHadBlocked:
          nullable: true
          type: number
        ExtraPointsMade:
          nullable: false
          type: number
        FantasyPoints:
          nullable: false
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPPR:
          nullable: false
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FantasyPosition:
          nullable: true
          type: string
        FieldGoalPercentage:
          nullable: false
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: number
        FieldGoalReturnYards:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: false
          type: number
        FieldGoalsHadBlocked:
          nullable: true
          type: number
        FieldGoalsLongestMade:
          nullable: false
          type: number
        FieldGoalsMade:
          nullable: false
          type: number
        FieldGoalsMade0to19:
          nullable: true
          type: number
        FieldGoalsMade20to29:
          nullable: true
          type: number
        FieldGoalsMade30to39:
          nullable: true
          type: number
        FieldGoalsMade40to49:
          nullable: true
          type: number
        FieldGoalsMade50Plus:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: false
          type: number
        FumbleReturnYards:
          nullable: false
          type: number
        Fumbles:
          nullable: false
          type: number
        FumblesForced:
          nullable: false
          type: number
        FumblesLost:
          nullable: true
          type: number
        FumblesOutOfBounds:
          nullable: true
          type: number
        FumblesOwnRecoveries:
          nullable: true
          type: number
        FumblesRecovered:
          nullable: false
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        Humidity:
          nullable: true
          type: integer
        InterceptionReturnTouchdowns:
          nullable: false
          type: number
        InterceptionReturnYards:
          nullable: false
          type: number
        Interceptions:
          nullable: false
          type: number
        KickReturnFairCatches:
          nullable: true
          type: number
[...]
