openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on API entity and their
    Operations associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimapis.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimapis
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis:
    get:
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis
      operationId: Api_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Include full ApiVersionSet resource in response
        in: query
        name: expandApiVersionSet
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollection'
          description: Paged Result response of Apis.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-examples:
        ApiManagementListApis:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/a1
                  name: a1
                  properties:
                    apiRevision: "1"
                    apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4
                    displayName: api1
                    isCurrent: true
                    path: api1
                    protocols:
                    - https
                    serviceUrl: http://echoapi.cloudapp.net/api
                  type: Microsoft.ApiManagement/service/apis
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a73933b8f27f7cc82a2d533
                  name: 5a73933b8f27f7cc82a2d533
                  properties:
                    apiRevision: "1"
                    apiVersion: v1
                    apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4
                    displayName: api1
                    isCurrent: true
                    path: api1
                    protocols:
                    - https
                    serviceUrl: http://echoapi.cloudapp.net/api
                  type: Microsoft.ApiManagement/service/apis
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
                  name: echo-api
                  properties:
                    apiRevision: "1"
                    displayName: Echo API
                    isCurrent: true
                    path: echo
                    protocols:
                    - https
                    serviceUrl: http://echoapi.cloudapp.net/api
                  type: Microsoft.ApiManagement/service/apis
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a7390baa5816a110435aee0
                  name: 5a7390baa5816a110435aee0
                  properties:
                    apiRevision: "1"
                    description: A sample API that uses a petstore as an example to
                      demonstrate features in the swagger-2.0 specification
                    displayName: Swagger Petstore Extensive
                    isCurrent: true
                    path: vvv
                    protocols:
                    - https
                    serviceUrl: http://petstore.swagger.wordnik.com/api
                  type: Microsoft.ApiManagement/service/apis
      x-ms-odata: '#/definitions/ApiContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}
  : delete:
      description: Deletes the specified API of the API Management service instance.
      operationId: Api_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Delete all revisions of the Api.
        in: query
        name: deleteRevisions
        schema:
          type: boolean
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The API was successfully deleted.
        "204":
          content: {}
          description: The API was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-examples:
        ApiManagementDeleteApi.json:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            apiId: echo-api
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the API specified by its identifier.
      operationId: Api_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/ApiContract'
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-examples:
        ApiManagementGetApiContract:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                name: 57d1f7558aa04f15146d9d8a
                properties:
                  apiRevision: "1"
                  displayName: Service
                  isCurrent: true
                  isOnline: true
                  path: schulte
                  protocols:
                  - https
                  serviceUrl: https://api.plexonline.com/DataSource/Service.asmx
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
        ApiManagementGetApiRevisionContract:
          parameters:
            api-version: 2018-01-01
            apiId: echo-api;rev=3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=3
                name: echo-api;rev=3
                properties:
                  apiRevision: "3"
                  apiRevisionDescription: fixed bug in contract
                  displayName: Service
                  path: schulte
                  protocols:
                  - https
                  serviceUrl: https://api.plexonline.com/DataSource/Service.asmx
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
      x-accepts:
      - application/json
      - application/vnd.sun.wadl+xml
      - application/vnd.swagger.doc+json
      - application/wsdl+xml
    head:
      description: Gets the entity state (Etag) version of the API specified by its
        identifier.
      operationId: Api_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified API entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-examples:
        ApiManagementHeadApi:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the specified API of the API Management service instance.
      operationId: Api_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiUpdateContract'
        description: API Update Contract parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The API was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-examples:
        ApiManagementUpdateApi.json:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            apiId: echo-api
            parameters:
              properties:
                displayName: Echo API New
                path: newecho
                serviceUrl: http://echoapi.cloudapp.net/api2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates new or updates existing specified API of the API Management
        service instance.
      operationId: Api_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCreateOrUpdateParameter'
          application/vnd.sun.wadl+xml:
            schema:
              $ref: '#/components/schemas/ApiCreateOrUpdateParameter'
          application/vnd.swagger.doc+json:
            schema:
              $ref: '#/components/schemas/ApiCreateOrUpdateParameter'
          application/wsdl+xml:
            schema:
              $ref: '#/components/schemas/ApiCreateOrUpdateParameter'
        description: Create or update parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContract'
          description: API was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContract'
          description: API was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-examples:
        ApiManagementCreateApi:
          parameters:
            api-version: 2018-01-01
            apiId: tempgroup
            parameters:
              properties:
                authenticationSettings:
                  oAuth2:
                    authorizationServerId: authorizationServerId2283
                    scope: oauth2scope2580
                description: apidescription5200
                displayName: apiname1463
                path: newapiPath
                protocols:
                - https
                - http
                serviceUrl: http://newechoapi.cloudapp.net/api
                subscriptionKeyParameterNames:
                  header: header4520
                  query: query3037
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                  - http
                  - https
                  serviceUrl: http://newechoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                  - http
                  - https
                  serviceUrl: http://newechoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiRevision:
          parameters:
            api-version: 2018-01-01
            apiId: echo-api;rev=4
            parameters:
              properties:
                apiRevisionDescription: moved to swagger petstore backend
                description: "This is a sample server Petstore server.  You can find\
                  \ out more about Swagger at [http://swagger.io](http://swagger.io)\
                  \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For\
                  \ this sample, you can use the api key `special-key` to test the\
                  \ authorization filters."
                displayName: Echo API
                isCurrent: false
                path: petstore2
                protocols:
                - https
                serviceUrl: http://petstore.swagger.io/v5
                subscriptionKeyParameterNames:
                  header: Ocp-Apim-Subscription-Key
                  query: subscription-key
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=4
                name: echo-api;rev=4
                properties:
                  apiRevision: "4"
                  apiRevisionDescription: moved to swagger petstore backend
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Echo API
                  path: petstore2
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v5
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=4
                name: echo-api;rev=4
                properties:
                  apiRevision: "4"
                  apiRevisionDescription: moved to swagger petstore backend
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Echo API
                  path: petstore2
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v5
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingSwaggerImport:
          parameters:
            api-version: 2018-01-01
            apiId: petstore
            parameters:
              properties:
                contentFormat: swagger-link-json
                contentValue: http://petstore.swagger.io/v2/swagger.json
                path: petstore
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - http
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - http
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingWadlImport:
          parameters:
            api-version: 2018-01-01
            apiId: petstore
            parameters:
              properties:
                contentFormat: wadl-link-json
                contentValue: https://developer.cisco.com/media/wae-release-6-2-api-reference/wae-collector-rest-api/application.wadl
                path: collector
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: "1"
                  description: ""
                  displayName: http://localhost:8080/collector-northbound
                  isCurrent: true
                  path: collector
                  protocols:
                  - https
                  serviceUrl: http://localhost:8080/collector-northbound
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: "1"
                  description: ""
                  displayName: http://localhost:8080/collector-northbound
                  isCurrent: true
                  path: collector
                  protocols:
                  - https
                  serviceUrl: http://localhost:8080/collector-northbound
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiWithOpenIdConnect:
          parameters:
            api-version: 2018-01-01
            apiId: tempgroup
            parameters:
              properties:
                authenticationSettings:
                  openid:
                    bearerTokenSendingMethods:
                    - authorizationHeader
                    openidProviderId: testopenid
                description: "This is a sample server Petstore server.  You can find\
                  \ out more about Swagger at [http://swagger.io](http://swagger.io)\
                  \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For\
                  \ this sample, you can use the api key `special-key` to test the\
                  \ authorization filters."
                displayName: Swagger Petstore
                path: petstore
                protocols:
                - https
                serviceUrl: http://petstore.swagger.io/v2
                subscriptionKeyParameterNames:
                  header: Ocp-Apim-Subscription-Key
                  query: subscription-key
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/58da4c4ccdae970a08121230
                name: 58da4c4ccdae970a08121230
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    openid:
                      bearerTokenSendingMethods:
                      - authorizationHeader
                      openidProviderId: testopenid
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/58da4c4ccdae970a08121230
                name: 58da4c4ccdae970a08121230
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    openid:
                      bearerTokenSendingMethods:
                      - authorizationHeader
                      openidProviderId: testopenid
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateSoapPassThroughApiUsingWsdlImport:
          parameters:
            api-version: 2018-01-01
            apiId: soapApi
            parameters:
              properties:
                apiType: soap
                contentFormat: wsdl-link
                contentValue: http://www.webservicex.net/CurrencyConvertor.asmx?WSDL
                path: currency
                wsdlSelector:
                  wsdlEndpointName: CurrencyConvertorSoap
                  wsdlServiceName: CurrencyConvertor
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateSoapToRestApiUsingWsdlImport:
          parameters:
            api-version: 2018-01-01
            apiId: soapApi
            parameters:
              properties:
                contentFormat: wsdl-link
                contentValue: http://www.webservicex.net/CurrencyConvertor.asmx?WSDL
                path: currency
                wsdlSelector:
                  wsdlEndpointName: CurrencyConvertorSoap
                  wsdlServiceName: CurrencyConvertor
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics
  : get:
      description: Lists all diagnostics of an API.
      operationId: ApiDiagnostic_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_ListByService_200_response'
          description: Paged Result response of diagnostics for an API.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostics
      x-ms-examples:
        ApiManagementListApiDiagnostics:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                  name: default
                  properties:
                    enabled: false
                  type: Microsoft.ApiManagement/service/apis/diagnostics
      x-ms-odata: ./apimdiagnostics.json#/definitions/DiagnosticContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}
  : delete:
      description: Deletes the specified Diagnostic from an API.
      operationId: ApiDiagnostic_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Diagnostic was successfully deleted.
        "204":
          content: {}
          description: The Diagnostic was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostics
      x-ms-examples:
        ApiManagementDeleteApiDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the Diagnostic for an API specified by its
        identifier.
      operationId: ApiDiagnostic_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostics
      x-ms-examples:
        ApiManagementGetApiDiagnostic:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                name: default
                properties:
                  enabled: false
                type: Microsoft.ApiManagement/service/apis/diagnostics
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Diagnostic for an API
        specified by its identifier.
      operationId: ApiDiagnostic_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostics
      x-ms-examples:
        ApiManagementHeadApiDiagnostic:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the Diagnostic for an API specified by its
        identifier.
      operationId: ApiDiagnostic_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
        description: Diagnostic Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The Diagnostic was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostics
      x-ms-examples:
        ApiManagementUpdateApiDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            parameters:
              properties:
                enabled: false
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new Diagnostic for an API or updates an existing one.
      operationId: ApiDiagnostic_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
          description: Diagnostic was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
          description: Diagnostic was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostics
      x-ms-examples:
        ApiManagementCreateApiDiagnostic:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            parameters:
              properties:
                enabled: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/apis/diagnostics
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/apis/diagnostics
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}/loggers
  : get:
      description: Lists all loggers associated with the specified Diagnostic of an
        API.
      operationId: ApiDiagnosticLogger_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | type        | eq                     |                                   |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnosticLogger_ListByService_200_response'
          description: Paged Result response of loggers assigned to the specified
            Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementListApiDiagnosticLoggers:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default/loggers/applicationinsights
                  name: applicationinsights
                  properties:
                    credentials:
                      instrumentationKey: "{{5a.......2a}}"
                    isBuffered: false
                    loggerType: applicationInsights
                  type: Microsoft.ApiManagement/service/apis/diagnostics/loggers
      x-ms-odata: ./apimloggers.json#/definitions/LoggerContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}/loggers/{loggerid}
  : delete:
      description: Deletes the specified Logger from Diagnostic for an API.
      operationId: ApiDiagnosticLogger_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Logger was successfully detached from Diagnostic.
        "204":
          content: {}
          description: The Logger was successfully detached from Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementDeleteApiDiagnosticLogger:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    head:
      description: Checks that logger entity specified by identifier is associated
        with the diagnostics entity.
      operationId: ApiDiagnosticLogger_CheckEntityExists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Entity exists
        "404":
          content: {}
          description: Entity does not exists.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementHeadApiDiagnosticLogger:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
            "404": {}
      x-accepts:
      - application/json
    put:
      description: Attaches a logger to a diagnostic for an API.
      operationId: ApiDiagnosticLogger_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnosticLogger_CreateOrUpdate_200_response'
          description: Logger to Diagnostic link was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnosticLogger_CreateOrUpdate_200_response'
          description: Logger was successfully attached to Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementCreateApiDiagnosticLogger:
          parameters:
            api-version: 2018-01-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default/loggers/applicationinsights
                name: applicationinsights
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/apis/diagnostics/loggers
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default/loggers/applicationinsights
                name: applicationinsights
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/apis/diagnostics/loggers
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues
  : get:
      description: Lists all issues associated with the specified API.
      operationId: ApiIssue_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | state        | eq                     |                                   |
          | userId          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCollection'
          description: Paged Result response of issues for the API.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssues
      x-ms-examples:
        ApiManagementListApiIssues:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/issues/57d2ef278aa04f0ad01d6cdc
                  name: 57d2ef278aa04f0ad01d6cdc
                  properties:
                    apiId: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                    createdDate: 2018-02-01T22:21:20.467Z
                    description: New API issue description
                    state: open
                    title: New API issue
                    userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                  type: Microsoft.ApiManagement/service/apis/issues
      x-ms-odata: '#/definitions/IssueContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}
  : delete:
      description: Deletes the specified Issue from an API.
      operationId: ApiIssue_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Issue identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: issueId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Issue Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Issue was successfully deleted.
        "204":
          content: {}
          description: The Issue was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssues
      x-ms-examples:
        ApiManagementDeleteApiIssue:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            issueId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the Issue for an API specified by its identifier.
      operationId: ApiIssue_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Issue identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: issueId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueContract'
          description: The response body contains the specified Issue entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssues
      x-ms-examples:
        ApiManagementGetApiIssue:
          parameters:
            api-version: 2017-03-01
            apiId: 57d2ef278aa04f0888cba3f3
            issueId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/issues/57d2ef278aa04f0ad01d6cdc
                name: 57d2ef278aa04f0ad01d6cdc
                properties:
                  apiId: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                  createdDate: 2018-02-01T22:21:20.467Z
                  description: New API issue description
                  state: open
                  title: New API issue
                  userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                type: Microsoft.ApiManagement/service/apis/issues
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Issue for an API specified
        by its identifier.
      operationId: ApiIssue_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Issue identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: issueId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssues
      x-ms-examples:
        ApiManagementHeadApiIssue:
          parameters:
            api-version: 2017-03-01
            apiId: 57d2ef278aa04f0888cba3f3
            issueId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates an existing issue for an API.
      operationId: ApiIssue_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
[...]
