openapi: 3.0.3
info:
  contact:
    email: integrations@rebilly.com
    name: Rebilly API Support
    url: https://www.rebilly.com/contact/
  description: "# Introduction\nThe Rebilly API is built on HTTP.  Our API is RESTful.\
    \  It has predictable\nresource URLs.  It returns HTTP response codes to indicate\
    \ errors.  It also\naccepts and returns JSON in the HTTP body.  You can use your\
    \ favorite\nHTTP/REST library for your programming language to use Rebilly's API,\
    \ or\nyou can use one of our SDKs (currently available in [PHP](https://github.com/Rebilly/rebilly-php)\n\
    and [Javascript](https://github.com/Rebilly/rebilly-js-sdk)).\n\nWe have other\
    \ APIs that are also available.  Every action from our [app](https://app.rebilly.com)\n\
    is supported by an API which is documented and available for use so that you\n\
    may automate any workflows necessary.  This document contains the most commonly\n\
    integrated resources.\n\n# Authentication\n\nWhen you sign up for an account,\
    \ you are given your first secret API key.\nYou can generate additional API keys,\
    \ and delete API keys (as you may\nneed to rotate your keys in the future). You\
    \ authenticate to the\nRebilly API by providing your secret key in the request\
    \ header.\n\nRebilly offers three forms of authentication:  secret key, publishable\
    \ key, JSON Web Tokens, and public signature key.\n- [Secret API key](#section/Authentication/SecretApiKey):\
    \ used for requests made\n  from the server side. Never share these keys. Keep\
    \ them guarded and secure.\n- [Publishable API key](#section/Authentication/PublishableApiKey):\
    \ used for \n  requests from the client side. For now can only be used to create\
    \ \n  a [Payment Token](#operation/PostToken) and \n  a [File token](#operation/PostFile).\n\
    - [JWT](#section/Authentication/JWT): short lifetime tokens that can be assigned\
    \ a specific expiration time.\n\nNever share your secret keys. Keep them guarded\
    \ and secure.\n\n&lt;!-- ReDoc-Inject: &lt;security-definitions&gt; --&gt;\n\n\
    # Errors\nRebilly follow's the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807)\
    \ also known as Problem Details for HTTP APIs.  As with our normal API responses,\
    \ your client must be prepared to gracefully handle additional members of the\
    \ response.\n\n## Forbidden\n&lt;RedocResponse pointer={\"#/components/responses/Forbidden\"\
    } /&gt;\n\n## Conflict\n&lt;RedocResponse pointer={\"#/components/responses/Conflict\"\
    } /&gt;\n\n## NotFound\n&lt;RedocResponse pointer={\"#/components/responses/NotFound\"\
    } /&gt;\n\n## Unauthorized\n&lt;RedocResponse pointer={\"#/components/responses/Unauthorized\"\
    } /&gt;\n\n## ValidationError\n&lt;RedocResponse pointer={\"#/components/responses/ValidationError\"\
    } /&gt;\n\n# SDKs\n\nRebilly offers a Javascript SDK and a PHP SDK to help interact\
    \ with\nthe API.  However, no SDK is required to use the API.\n\nRebilly also\
    \ offers [FramePay](https://docs.rebilly.com/docs/developer-docs/framepay/),\n\
    \ a client-side iFrame-based solution to help\ncreate payment tokens while minimizing\
    \ PCI DSS compliance burdens\nand maximizing the customizability. [FramePay](https://docs.rebilly.com/docs/developer-docs/framepay/)\n\
    is interacting with the [payment tokens creation operation](#operation/PostToken).\n\
    \n## Javascript SDK\n\nInstallation and usage instructions can be found [here](https://docs.rebilly.com/docs/developer-docs/sdks).\n\
    SDK code examples are included in these docs.\n\n## PHP SDK\nFor all PHP SDK examples\
    \ provided in these docs you will need to configure the `$client`.\nYou may do\
    \ it like this:\n\n```php\n$client = new Rebilly\\Client([\n    'apiKey' =&gt;\
    \ 'YourApiKeyHere',\n    'baseUrl' =&gt; 'https://api.rebilly.com',\n]);\n```\n\
    \n# Using filter with collections\nRebilly provides collections filtering. You\
    \ can use `?filter` param on collections to define which records should be shown\
    \ in the response.\n\nHere is filter format description:\n\n- Fields and values\
    \ in filter are separated with `:`: `?filter=firstName:John`.\n\n- Sub-fields\
    \ are separated with `.`: `?filter=billingAddress.country:US`.\n\n- Multiple filters\
    \ are separated with `;`: `?filter=firstName:John;lastName:Doe`. They will be\
    \ joined with `AND` logic. In this example: `firstName:John` AND `lastName:Doe`.\n\
    \n- You can use multiple values using `,` as values separator: `?filter=firstName:John,Bob`.\
    \ Multiple values specified for a field will be joined with `OR` logic. In this\
    \ example: `firstName:John` OR `firstName:Bob`.\n\n- To negate the filter use\
    \ `!`: `?filter=firstName:!John`. Note that you can negate multiple values like\
    \ this: `?filter=firstName:!John,!Bob`. This filter rule will exclude all Johns\
    \ and Bobs from the response.\n\n- You can use range filters like this: `?filter=amount:1..10`.\n\
    \n- You can use gte (greater than or equals) filter like this: `?filter=amount:1..`,\
    \ or lte (less than or equals) than filter like this: `?filter=amount:..10`. This\
    \ also works for datetime-based fields.\n\n- You can create some [predefined values\
    \ lists](https://user-api-docs.rebilly.com/#tag/Lists) and use them in filter:\
    \ `?filter=firstName:@yourListName`. You can also exclude list values: `?filter=firstName:!@yourListName`.\n\
    \n- Datetime-based fields accept values formatted using RFC 3339 like this: `?filter=createdTime:2021-02-14T13:30:00Z`.\
    \ \n\n# Expand to include embedded objects\nRebilly provides the ability to pre-load\
    \ additional \nobjects with a request. \n\nYou can use `?expand` param on most\
    \ requests to expand\nand include embedded objects within the\n`_embedded` property\
    \ of the response.\n\nThe `_embedded` property contains an array of \nobjects\
    \ keyed by the expand parameter value(s).\n\nYou may expand multiple objects by\
    \ passing them\nas comma-separated to the expand value like so:\n\n```\n?expand=recentInvoice,customer\n\
    ```\n\nAnd in the response, you would see:\n\n```\n\"_embedded\": [\n    \"recentInvoice\"\
    : {...},\n    \"customer\": {...}\n]\n```\nExpand may be utilitized not only on\
    \ `GET` requests but also on `PATCH`, `POST`, `PUT` requests too.\n\n\n# Getting\
    \ started guide\n\nRebilly's API has over 300 operations.  That's more than you'll\
    \ \nneed to implement your use cases.  If you have a use \ncase you would like\
    \ to implement, please consult us for\nfeedback on the best API operations for\
    \ the task.\n\nOur getting started guide will demonstrate a basic order form use\n\
    case.  It will allow us to highlight core resources\nin Rebilly that will be helpful\
    \ for many other use cases\ntoo.\n\nWithin 25 minutes, you'll have sent API requests\
    \ (via our console)\nto create a subscription order.\n"
  license:
    name: Rebilly
    url: https://www.rebilly.com/api-license/
  termsOfService: https://www.rebilly.com/terms-of-use/
  title: Rebilly REST API
  version: "2.1"
  x-apisguru-categories:
  - payment
  - ecommerce
  x-logo:
    backgroundColor: '#0033A0'
    url: https://rebilly-core.redoc.ly/rb_apiLogo.svg
  x-origin:
  - format: openapi
    url: https://api-reference.rebilly.com/openapi.json
    version: "3.0"
  x-providerName: rebilly.com
servers:
- description: Sandbox Server.
  url: https://api-sandbox.rebilly.com
- description: Live Server.
  url: https://api.rebilly.com
security:
- SecretApiKey: []
- JWT: []
tags:
- description: |
    3D Secure is a way to authenticate and protect transactions.  Typically,
    it's only possible to protect the initial transaction in an order
    with 3D Secure.
  name: 3D Secure
- description: |
    AML, also known as Anti-Money-Laundering is an endpoint that searches multiple
    PEP, Sanctions, and Adverse Media lists for listed identities or media for screening
    purposes. Used during some transaction processing and on Contact creation, it helps
    determine whether someone is blocklisted or has political or economic sanctions against
    them.
  name: AML
- description: |
    Bank Accounts are a type of payment instrument used to collect
    ACH (echeck) payments, similar to how a payment
    card would be used to for a credit card payment.
  name: Bank Accounts
- description: |
    Your blocklists contains values of customerIds, email addresses,
    ipAddresses, bank identification numbers, countries or payment cards that
    you do NOT want to do business with. They are a good tool for managing
    risk. A blocklist entry that expires after a period of time we call a
    greylist.
  name: Blocklists
- description: |
    Coupons allows to apply different types of discounts to Invoices, Orders and Plans. Redeemed Coupons will be applied only to Invoices with the same currency.
  name: Coupons
- description: |
    Customers are your customers, sometimes known as accounts, clients,
    members, patrons, or players in other systems.
  name: Customers
- description: |
    The customers timeline keeps an audit trail of changes and activity for each customer.
  name: Customers Timeline
- description: |
    Customer KYC files uploaded on behalf of a customer, tagged with a document type and submitted for validation.
  name: KYC Documents
- description: |
    Create authentication credentials, login, logout, and verify your customers.
  name: Customer Authentication
- description: |
    Create additional custom fields for particular resources.  You may name,
    describe, and determine the type of the schema.
  name: Custom Fields
- description: |
    Handle disputes (chargebacks and retrievals).
  name: Disputes
- description: |
    A File is an entity that can store a physical file and some metadata. It also provides an easy access to
    its size, mime-type, user-defined tags and description thus allowing easy sorting and searching among stored
    files.
    There are several methods of file uploading available: multipart/form-data encoded form, RAW POST (by sending
    file contents as POST body), fetching from URL (by providing the file URL via 'url' param)
    Attachment is an entity that is used to link a File to one or multiple objects like Customer, Dispute, Payment,
    Transaction, Order, Plan, Product, Invoice, Note. That allows to quickly find and use files related to
    those specific entities.
  name: Files
- description: |
    Invoices leave a record for both you and your customer of the products sold.
  name: Invoices
- description: |
    The Payment Instrument allows you to accept a variety of payment methods through a single API.
  name: Payment Instruments
- description: |
    Payment cards are a type of payment instrument used for credit and debit card
    sales.  Rebilly securely vaults the full payment card number, and can pass it
    onward securely to any gateway account to transact business.
  name: Payment Cards
- description: |
    PayPal Accounts are used for paying with PayPal.  We can generate a BAID (billing
    agreement id) which will allow for recurring billing.
  name: PayPal Accounts
- description: |
    Payment tokens are used to reduce the scope of PCI DSS compliance.  A payment
    token can be made using a different authentication scheme (refer to the public key
    authentication scheme in the Authentication section), which allows you to
    create a payment token directly from the browser, bypassing the need to send
    sensitive cardholder info to your servers.  We recommend using this with our
    Rebilly.js library, which helps you wire a form into this API resource and create
    payment tokens.
  name: Payment Tokens
- description: |
    Plans are a template for making a subscription.  For example, you may have a plan
    that has a 30-day free trial followed by a recurring charge of $19.95 per month
    until canceled.  The combination of the plan and a request to make an order
    will apply those instructions to create the invoices according to the plan's
    schedule.
  name: Plans
- description: |
    A product describes what you sell (goods or services).
    A product determines how what you sell appears on invoices and receipts.
    The pricing for products is set in Plans.  One product can have many
    plans.
  name: Products
- description: |
    The Rebilly Reporting API is currently experimental. You may see
    the [Reports API Documentation here](https://reports-api-docs.rebilly.com).
  name: Reports
- description: |
    Search data including customers, invoices, orders, transactions and more.
  name: Search
- description: |
    A shipping zone contains regions and countries that you ship to. Each shipping zone has its own shipping rates.
  name: Shipping Zones
- description: |
    An order applies a plan's template to create invoice(s) for a customer, optionally at the appropriate scheduled intervals. A subscription order may also determine if the payment is collected automatically (with autopay set true).
  name: Orders
- description: |
    Tag customers to better organize your data.
  name: Tags
- description: |
    You can map a product to a tax category.  The tax category is used by
    tax providers to calculate taxes for invoices.
  name: Taxes
- description: |
    Get and refund transactions.
  name: Transactions
- description: |
    The Rebilly User API is primarily for our GUI apps.  You may see
    the [User API Documentation here](https://user-api-docs.rebilly.com).
    A User represents a person who can login to Rebilly, and take actions subject to
    their granted permissions.  It has resources less commonly integrated by
    3rd parties.
  name: Users
paths:
  /3dsecure:
    get:
      operationId: get3_d_secure_collection
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: The collection items limit.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The collection items offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ThreeDSecure'
                type: array
          description: A list was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Retrieve a list of ThreeDSecure entries
      tags:
      - 3D Secure
      x-code-samples:
      - lang: JavaScript
        source: "// all parameters are optional\nconst firstCollection = await api.threeDSecure.getAll();\n\
          \n// alternatively you can specify one or more of them\nconst params = {limit:\
          \ 20, offset: 100}; \nconst secondCollection = await api.threeDSecure.getAll(params);\n\
          \n// access the collection items, each item is a Member\nsecondCollection.items.forEach(entry\
          \ =&gt; console.log(entry.fields.customerId));"
      x-sdk-operation-name: getAll
      x-openapi-router-controller: openapi_server.controllers.3_d_secure_controller
    post:
      description: |
        Create a ThreeDSecure entry.
      operationId: post3_d_secure
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSecure'
        description: ThreeDSecure resource.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSecure'
          description: ThreeDSecure entry was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Create a ThreeDSecure entry
      tags:
      - 3D Secure
      x-code-samples:
      - lang: JavaScript
        source: "// first set the properties for the new entry\nconst data = {\n \
          \   customerId: 'foobar-001',\n    websiteId: 'my-website-id',\n    paymentCardId:\
          \ 'a-certain-card-id',\n    gatewayAccountId: 'main-gateway-id',\n    enrolled:\
          \ 'Y',\n    // enrollment electronic \n    // commerce indicator\n    enrollmentEci:\
          \ 'abc',\n    // electronic commerce indicator\n    eci: 0,\n    // cardholder\
          \ authentication verification value\n    cavv: '1234',\n    // transaction\
          \ Id\n    xid: 'er9349gju09u40394guj',\n    payerAuthResponseStatus: 'Y',\n\
          \    signatureVerification: 'Y',\n    amount: 12.99,\n    currency: 'USD'\n\
          };\n\nconst entry = await api.threeDSecure.create({data});"
      x-sdk-operation-name: create
      x-openapi-router-controller: openapi_server.controllers.3_d_secure_controller
      x-codegen-request-body-name: body
  /3dsecure/{id}:
    get:
      description: |
        Retrieve a ThreeDSecure entry with specified identifier string.
      operationId: get3_d_secure
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSecure'
          description: ThreeDSecure entry was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      summary: Retrieve a ThreeDSecure entry
      tags:
      - 3D Secure
      x-code-samples:
      - lang: JavaScript
        source: |-
          const entry = await api.threeDSecure.get({id: 'foobar-001'});
          console.log(entry.fields.customerId);
      x-sdk-operation-name: get
      x-openapi-router-controller: openapi_server.controllers.3_d_secure_controller
  /aml:
    get:
      description: |
        Search multiple PEP/Sanctions/Adverse Media lists with first and last name to find any blocklisted identities.
        Performs a fuzzy search including soundex. Not all fields are guaranteed to be filled.
      operationId: get_aml_entry
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: First name of individual to search.
        explode: true
        in: query
        name: firstName
        required: true
        schema:
          type: string
        style: form
      - description: Last name of individual to search.
        explode: true
        in: query
        name: lastName
        required: true
        schema:
          type: string
        style: form
      - description: Date of birth in format YYYY-MM-DD.
        explode: true
        in: query
        name: dob
        required: false
        schema:
          type: string
        style: form
      - description: Country of individual as an ISO Alpha-2 code.
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AML'
                type: array
          description: "An array of objects representing hits, or an empty array if\
            \ none are found."
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
      summary: Search PEP/Sanctions/Adverse Media lists
      tags:
      - AML
      x-sdk-operation-name: getAll
      x-openapi-router-controller: openapi_server.controllers.aml_controller
  /attachments:
    get:
      description: |
        Retrieve a list of attachments.
        You may sort by the id, name, relatedId, relatedType, fileId, createdTime, and updatedTime.
      operationId: get_attachment_collection
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: The collection items limit.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The collection items offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: |
          The collection items filter requires a special format.
          Use "," for multiple allowed values.  Use ";" for multiple fields.
          See the [filter guide](https://api-reference.rebilly.com/#section/Using-filter-with-collections) for more options and examples about this format.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The partial search of the text fields.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: |
          Expand a response to get a full related object included inside of the `_embedded` path in the response.
          It accepts a comma-separated list of objects to expand.
          See the [expand guide](https://api-reference.rebilly.com/#section/Expand-to-include-embedded-objects) for more info.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: "Limit the returned fields to the list specified, separated by\
          \ comma. Note that id is always returned."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: The collection items sort field and order (prefix with "-" for
          descending sort).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Attachment'
                type: array
          description: A list of Attachments was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Retrieve a list of Attachments
      tags:
      - Files
      x-code-samples:
      - lang: PHP
        source: |
          $attachments = $client-&gt;attachments()-&gt;search([
              'filter' =&gt; 'relatedType:customer',
          ]);
      - lang: JavaScript
        source: "// all parameters are optional\nconst firstCollection = await api.files.getAllAttachments();\n\
          \n// alternatively you can specify one or more of them\nconst params = {limit:\
          \ 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await\
          \ api.files.getAllAttachments(params);\n\n// access the collection items,\
          \ each item is a Member\nsecondCollection.items.forEach(attachment =&gt;\
          \ console.log(attachment.fields.relatedType));"
      x-sdk-operation-name: getAllAttachments
      x-openapi-router-controller: openapi_server.controllers.files_controller
    post:
      description: |
        Create an Attachment.
      operationId: post_attachment
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Attachment'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Attachment was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Create an Attachment
      tags:
      - Files
      x-code-samples:
      - lang: PHP
        source: |
          $attachmentForm = new Rebilly\Entities\Attachment();
          $attachmentForm-&gt;setFileId('fileId');
          $attachmentForm-&gt;setRelatedType($attachmentForm::TYPE_CUSTOMER);
          $attachmentForm-&gt;setRelatedId('customerId');

          try {
              $attachment = $client-&gt;attachments()-&gt;create($attachmentForm);
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |-
          // define the attachment
          const data = {
              // previously uploaded file ID
              fileId: 'my-file-id',
              relatedType: 'customer',
              relatedId: 'my-customer-id',
              name: 'an attachment',
              description: `the customer's file`
          };

          const attachment = await api.files.attach({data});
          console.log(attachment.fields.id);
      x-sdk-operation-name: attach
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /attachments/{id}:
    delete:
      description: |
        Delete the Attachment with predefined identifier string.
      operationId: delete_attachment
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "204":
          description: Attachment was deleted.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      summary: Delete an Attachment
      tags:
      - Files
      x-code-samples:
      - lang: PHP
        source: |
          $client-&gt;attachments()-&gt;delete('attachmentId');
      - lang: JavaScript
        source: |-
          const request = await api.files.detach({id: 'my-attachment-id'});

          // the request does not return any fields but
          // you can confirm the success using the status code
          console.log(request.response.status); // 204
      x-sdk-operation-name: detach
      x-openapi-router-controller: openapi_server.controllers.files_controller
    get:
      description: |
        Retrieve a Attachment with specified identifier string.
      operationId: get_attachment
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Attachment was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      summary: Retrieve an Attachment
      tags:
      - Files
      x-code-samples:
      - lang: PHP
        source: |
          $attachment = $client-&gt;attachments()-&gt;load('attachmentId');
      - lang: JavaScript
        source: |-
          const attachment = await api.files.getAttachment({id: 'foobar-001'});
          console.log(attachment.fields.relatedType);
      x-sdk-operation-name: getAttachment
      x-openapi-router-controller: openapi_server.controllers.files_controller
    put:
      description: |
        Update the Attachment with predefined ID.
      operationId: put_attachment
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Attachment'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Attachment was updated.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Attachment was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Update the Attachment with predefined ID
      tags:
      - Files
      x-code-samples:
      - lang: PHP
        source: |
          $attachmentForm = new Rebilly\Entities\Attachment();
          $attachmentForm-&gt;setFileId('fileId');
          $attachmentForm-&gt;setRelatedType($attachmentForm::TYPE_CUSTOMER);
          $attachmentForm-&gt;setRelatedId('customerId');

          try {
              $attachment = $client-&gt;attachments()-&gt;update('attachmentId', $attachmentForm);
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |-
          // define the values to update
          const data = {
              relatedType: 'customer',
              relatedId: 'my-customer-id',
              name: 'an attachment',
              description: `the customer's file`
          };

          const attachment = await api.files.updateAttachment({id: 'foobar-001', data});
      x-sdk-operation-name: updateAttachment
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /authentication-options:
    get:
      description: |
        Read current authentication options.
      operationId: get_authentication_option
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuthenticationOptions'
                type: array
          description: Current authentication options was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Read current authentication options
      tags:
      - Customer Authentication
      x-code-samples:
      - lang: PHP
        source: |
          $authenticationOptions = $client-&gt;authenticationOptions()-&gt;load();
      - lang: JavaScript
        source: |-
          const options = await api.customerAuthentication.getAuthOptions();
          console.log(options.fields.credentialTtl);
      x-sdk-operation-name: getAuthOptions
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
    put:
      description: |
        Change options.
      operationId: put_authentication_option
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationOptions'
        description: Authentication Options resource.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationOptions'
          description: Authentication Options were updated.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Change authentication options
      tags:
      - Customer Authentication
      x-code-samples:
      - lang: PHP
        source: |
          $authenticationOptionsForm = new Rebilly\Entities\AuthenticationOptions();
          // Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.
          $authenticationOptionsForm-&gt;setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');

          try {
              $authenticationOptions = $client-&gt;authenticationOptions()-&gt;update($authenticationOptionsForm);
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |-
          // first set the properties for the authentication options
          const data = {
              passwordPattern: null,
              credentialTtl: 10,
              authTokenTtl: 20,
              resetTokenTtl: 30
          };

          const options = await api.customerAuthentication.updateAuthOptions({data});
          console.log(options.fields.credentialTtl);
      x-sdk-operation-name: updateAuthOptions
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
      x-codegen-request-body-name: body
  /authentication-tokens:
    get:
      description: |
        Retrieve a list of auth tokens.
      operationId: get_authentication_token_collection
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: The collection items limit.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The collection items offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuthenticationToken'
                type: array
          description: A list of auth tokens was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Retrieve a list of auth tokens
      tags:
      - Customer Authentication
      x-code-samples:
      - lang: PHP
        source: |
          $authenticationTokens = $client-&gt;authenticationTokens()-&gt;search([
              'filter' =&gt; 'customerId:testCustomer',
          ]);
      - lang: JavaScript
        source: "// all parameters are optional\nconst firstCollection = await api.customerAuthentication.getAllAuthTokens();\n\
          \n// alternatively you can specify one or more of them\nconst params = {limit:\
          \ 20, offset: 100}; \nconst secondCollection = await api.customerAuthentication.getAllAuthTokens(params);\n\
          \n// access the collection items, each item is a Member\nsecondCollection.items.forEach(token\
          \ =&gt; console.log(token.fields.username));"
      x-sdk-operation-name: getAllAuthTokens
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
    post:
      description: |
        Login a customer.
      operationId: post_authentication_token
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationToken'
        description: AuthenticationToken resource.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationToken'
          description: Login successful.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      security:
      - SecretApiKey: []
      - JWT: []
      - PublishableApiKey: []
      summary: Login
      tags:
      - Customer Authentication
      x-code-samples:
      - lang: PHP
        source: |
          $authenticationForm = new Rebilly\Entities\AuthenticationToken();
          $authenticationForm-&gt;setUsername('username');
          $authenticationForm-&gt;setPassword('test123');

          try {
              $authenticationToken = $client-&gt;authenticationTokens()-&gt;login($authenticationForm);
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: "const data = {\n    username: 'foobar',\n    password: 'fuubar'\n\
          \n    // optionally you can define an `expiredTime` to \n    // limit the\
          \ duration of the session token\n\n    //expiredTime: '2017-09-18T19:17:39Z'\n\
          };\nconst session = await api.customerAuthentication.login({data});\nconsole.log(session.fields.token);"
      x-sdk-operation-name: login
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
      x-codegen-request-body-name: body
  /authentication-tokens/{token}:
    delete:
      description: |
        Logout a customer.
      operationId: delete_authentication_token
      parameters:
      - description: The token identifier string.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "204":
          description: Customer was logged out.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      security:
      - SecretApiKey: []
      - JWT: []
      - PublishableApiKey: []
      summary: Logout a customer
      tags:
      - Customer Authentication
      x-code-samples:
      - lang: PHP
        source: |
          $client-&gt;authenticationTokens()-&gt;logout('token');
      - lang: JavaScript
        source: |-
          const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';
          const request = await api.customerAuthentication.logout({token});

          // the request does not return any fields but
          // you can confirm the success using the status code
          console.log(request.response.status); // 204
      x-sdk-operation-name: logout
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
    get:
      description: |
        Verify an authentication token.
      operationId: get_authentication_token_verification
      parameters:
      - description: The token identifier string.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationToken'
          description: Authentication Token was verified.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      security:
      - SecretApiKey: []
      - JWT: []
      - PublishableApiKey: []
      summary: Verify
      tags:
      - Customer Authentication
      x-code-samples:
      - lang: PHP
        source: |
          $isVerified = $client-&gt;authenticationTokens()-&gt;verify('token');
      - lang: JavaScript
        source: |-
          const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';
          const verification = await api.customerAuthentication.verify({token});
          // if the the token is valid then no error will be thrown
          console.log(verification.reponse.status) // 200
      x-sdk-operation-name: verify
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
  /authentication-tokens/{token}/exchange:
    post:
      description: |
        Exchange Authentication Token for JWT.

        It will also invalidate an Authentication Token by default (so it can only be exchanged once).
      operationId: post_authentication_token_exchange
      parameters:
      - description: The token identifier string.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerJWT'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerJWT'
          description: Authentication Token exchanged for JWT.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      security:
      - SecretApiKey: []
      - JWT: []
      - PublishableApiKey: []
      summary: Exchange
      tags:
      - Customer Authentication
      x-sdk-operation-name: exchangeToken
      x-openapi-router-controller: openapi_server.controllers.customer_authentication_controller
      x-codegen-request-body-name: body
  /bank-accounts:
    get:
      description: |
        Retrieve a list of Bank Accounts.
      operationId: get_bank_account_collection
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: The collection items limit.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The collection items offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The partial search of the text fields.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The collection items sort field and order (prefix with "-" for
          descending sort).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The collection items filter requires a special format.
          Use "," for multiple allowed values.  Use ";" for multiple fields.
          See the [filter guide](https://api-reference.rebilly.com/#section/Using-filter-with-collections) for more options and examples about this format.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: |
          Expand a response to get a full related object included inside of the `_embedded` path in the response.
          It accepts a comma-separated list of objects to expand.
          See the [expand guide](https://api-reference.rebilly.com/#section/Expand-to-include-embedded-objects) for more info.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BankAccount'
                type: array
          description: A list of Bank Accounts was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Retrieve a list of bank accounts
      tags:
      - Bank Accounts
      x-code-samples:
      - lang: PHP
        source: |
          $bankAccounts = $client-&gt;bankAccounts()-&gt;search([
              'filter' =&gt; 'customerId:testId',
          ]);
      - lang: JavaScript
        source: "// all parameters are optional\nconst firstCollection = await api.bankAccounts.getAll();\n\
          \n// alternatively you can specify one or more of them\nconst params = {limit:\
          \ 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await\
          \ api.bankAccounts.getAll(params);\n\n// access the collection items, each\
          \ item is a Member\nsecondCollection.items.forEach(bankAccount =&gt; console.log(bankAccount.fields.status));"
      x-sdk-operation-name: getAll
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
    post:
      description: |
        Create a Bank Account.
      operationId: post_bank_account
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBankAccount_request'
        description: BankAccount resource.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Bank Account was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Create a Bank Account
      tags:
      - Bank Accounts
      x-code-samples:
      - lang: PHP
        source: |
          $bankAccountForm = new Rebilly\Entities\BankAccount();
          $bankAccountForm-&gt;setCustomerId('customerId');
          $bankAccountForm-&gt;setRoutingNumber('0123456');
          $bankAccountForm-&gt;setAccountNumber('0123456');
          $bankAccountForm-&gt;setAccountType('checking');
          $bankAccountForm-&gt;setBillingAddress([
              'firstName' =&gt; 'John',
              'lastName' =&gt; 'Doe',
              'organization' =&gt; 'Test LTD',
              'address' =&gt; 'Test street 5',
              'address2' =&gt; 'Test house 5',
              'city' =&gt; 'New York',
              'region' =&gt; 'Long Island',
              'country' =&gt; 'US',
              'postalCode' =&gt; '123456',
              'emails' =&gt; [
                  [
                      'label' =&gt; 'main',
                      'value' =&gt; 'johndoe@testemail.com',
                      'primary' =&gt; true,
                  ],
                  [
                      'label' =&gt; 'secondary',
                      'value' =&gt; 'otheremail@testemail.com',
                  ],
              ],
              'phoneNumbers' =&gt; [
                  [
                      'label' =&gt; 'work',
                      'value' =&gt; '+123456789',
                      'primary' =&gt; true,
                  ],
                  [
                      'label' =&gt; 'home',
                      'value' =&gt; '+9874654321',
                  ],
              ],
          ]);

          try {
              $bankAccount = $client-&gt;bankAccounts()-&gt;create($bankAccountForm);
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |-
          // first set the required properties for the new bank account
          const data = {
              bankName: 'My Fake Financial',
              routingNumber: '12345678',
              accountNumber: '12345678',
              accountType: 'checking',
              customerId: 'acme-001'
          };

          // the ID is optional
          const firstKey = await api.bankAccounts.create({data});

          // or you can provide one
          const secondKey = await api.bankAccounts.create({id: 'my-second-id', data});
      x-sdk-operation-name: create
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
      x-codegen-request-body-name: body
  /bank-accounts/{id}:
    get:
      description: |
        Retrieve a Bank Account with specified identifier string.
      operationId: get_bank_account
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Bank Account was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      summary: Retrieve a Bank Account
      tags:
      - Bank Accounts
      x-code-samples:
      - lang: PHP
        source: |
          $bankAccount = $client-&gt;bankAccounts()-&gt;load('bankAccountId');
      - lang: JavaScript
        source: |-
          const bankAccount = await api.bankAccounts.get({id: 'foobar-001'});
          console.log(bankAccount.fields.status);
      x-sdk-operation-name: get
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
    patch:
      description: |
        Update bank account's values except for the account number and routing. number.
      operationId: patch_bank_account
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountUpdatePlain'
        description: Bank Account.
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Bank Account was updated.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Update a bank account's values
      tags:
      - Bank Accounts
      x-code-samples:
      - lang: JavaScript
        source: |
          // properties to be updated
          const data = {
              bankName: 'Your Fake Financial',
              accountType: 'savings',
              billingAddress: {
                  firstName: 'John'
              }
          };

          api.bankAccounts.patch({id: 'id-to-update', data});
      x-sdk-operation-name: patch
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
      x-codegen-request-body-name: body
    put:
      description: |
        Create or update a BankAccount with predefined identifier string.
      operationId: put_bank_account
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBankAccount_request'
        description: BankAccount resource.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: BankAccount was updated.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: BankAccount was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Create a Bank Account with predefined ID
      tags:
      - Bank Accounts
      x-code-samples:
      - lang: PHP
        source: |
          $bankAccountForm = new Rebilly\Entities\BankAccount();
          $bankAccountForm-&gt;setCustomerId('customerId');
          $bankAccountForm-&gt;setRoutingNumber('0123456');
          $bankAccountForm-&gt;setAccountNumber('0123456');
          $bankAccountForm-&gt;setAccountType('checking');
          $bankAccountForm-&gt;setBillingAddress([
              'firstName' =&gt; 'John',
              'lastName' =&gt; 'Doe',
              'organization' =&gt; 'Test LTD',
              'address' =&gt; 'Test street 5',
              'address2' =&gt; 'Test house 5',
              'city' =&gt; 'New York',
              'region' =&gt; 'Long Island',
              'country' =&gt; 'US',
              'postalCode' =&gt; '123456',
              'emails' =&gt; [
                  [
                      'label' =&gt; 'main',
                      'value' =&gt; 'johndoe@testemail.com',
                      'primary' =&gt; true,
                  ],
                  [
                      'label' =&gt; 'secondary',
                      'value' =&gt; 'otheremail@testemail.com',
                  ],
              ],
              'phoneNumbers' =&gt; [
                  [
                      'label' =&gt; 'work',
                      'value' =&gt; '+123456789',
                      'primary' =&gt; true,
                  ],
                  [
                      'label' =&gt; 'home',
                      'value' =&gt; '+9874654321',
                  ],
              ],
          ]);

          try {
              $bankAccount = $client-&gt;customers()-&gt;create($bankAccountForm, 'bankAccountId');
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |-
          // first set the required properties for the new bank account
          const data = {
              bankName: 'My Fake Financial',
              routingNumber: '12345678',
              accountNumber: '12345678',
              accountType: 'checking',
              customerId: 'acme-001'
          };

          // the ID is optional
          const firstKey = await api.bankAccounts.create({data});

          // or you can provide one
          const secondKey = await api.bankAccounts.create({id: 'my-second-id', data});
      x-sdk-operation-name: update
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
      x-codegen-request-body-name: body
  /bank-accounts/{id}/deactivation:
    post:
      description: |
        Deactivate a Bank Account.
      operationId: post_bank_account_deactivation
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Bank Account was deactivated.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict.
      summary: Deactivate a Bank Account
      tags:
      - Bank Accounts
      x-code-samples:
      - lang: PHP
        source: |
          $bankAccount = $client-&gt;bankAccounts()-&gt;deactivate('bankAccountId');
      - lang: JavaScript
        source: |-
          const bankAccount = await api.bankAccounts.deactivate({id: 'id-to-deactivate'});

          // the bank account status will be updated to reflect the modification
          console.log(bankAccount.fields.status);
      x-sdk-operation-name: deactivate
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
  /blocklists:
    get:
      description: |
        Retrieve a list of blocklists.
      operationId: get_blocklist_collection
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: The collection items limit.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The collection items offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The collection items sort field and order (prefix with "-" for
          descending sort).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The collection items filter requires a special format.
          Use "," for multiple allowed values.  Use ";" for multiple fields.
          See the [filter guide](https://api-reference.rebilly.com/#section/Using-filter-with-collections) for more options and examples about this format.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The partial search of the text fields.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Blocklist'
                type: array
          description: A list of Blocklists was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Retrieve a list of blocklists
      tags:
      - Blocklists
      x-code-samples:
      - lang: PHP
        source: |
          $blocklists = $client-&gt;blocklists()-&gt;search([
              'filter' =&gt; 'value:testValue',
          ]);
      - lang: JavaScript
        source: |
          // all parameters are optional
          const firstCollection = await api.blocklists.getAll();

          // alternatively you can specify one or more of them
          const params = {limit: 20, offset: 100, sort: '-createdTime'};
          const secondCollection = await api.blocklists.getAll(params);

          // access the collection items, each item is a Member
          secondCollection.items.forEach(blocklistItem =&gt; console.log(blocklistItem.fields.status));
      x-sdk-operation-name: getAll
      x-openapi-router-controller: openapi_server.controllers.blocklists_controller
    post:
      description: |
        Create a blocklist.
      operationId: post_blocklist
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Blocklist'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blocklist'
          description: Blocklist was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Create a blocklist
      tags:
      - Blocklists
      x-code-samples:
      - lang: PHP
        source: |
          $blocklistForm = new Rebilly\Entities\Blocklist();
          $blocklistForm-&gt;setType($blocklistForm::TYPE_EMAIL);
          $blocklistForm-&gt;setValue('test@test.com');
          $blocklistForm-&gt;setExpiredTime('2025-01-01 05:00:00');

          try {
              $blocklist = $client-&gt;blocklists()-&gt;create($blocklistForm);
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |
          // first set the required properties for the new blocklist item
          const data = {
              type: 'ip-address',
              value: '63.118.98.100'

              // optionally provide an `expirationTime` to make
              // the item expire and function like a `greylist`

              // expirationTime: '2017-09-18T21:50:44Z'
          };

          // the ID is optional
          const firstKey = await api.blocklists.create({data});

          // or you can provide one
          const secondKey = await api.blocklists.create({id: 'my-second-id', data});
      x-sdk-operation-name: create
      x-openapi-router-controller: openapi_server.controllers.blocklists_controller
      x-codegen-request-body-name: body
  /blocklists/{id}:
    delete:
      description: |
        Delete a blocklist with predefined identifier string.
      operationId: delete_blocklist
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "204":
          description: Blocklist was deleted.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      summary: Delete a blocklist
      tags:
      - Blocklists
      x-code-samples:
      - lang: PHP
        source: |
          $client-&gt;blocklists()-&gt;delete('blocklistId');
      - lang: JavaScript
        source: |
          const request = await api.blocklists.delete({id: 'my-second-key'});

          // the request does not return any fields but
          // you can confirm the success using the status code
          console.log(request.response.status); // 204
      x-sdk-operation-name: delete
      x-openapi-router-controller: openapi_server.controllers.blocklists_controller
    get:
      description: |
        Retrieve a blocklist with specified identifier string.
      operationId: get_blocklist
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blocklist'
          description: Blocklist was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource was not found.
      summary: Retrieve a blocklist
      tags:
      - Blocklists
      x-code-samples:
      - lang: PHP
        source: |
          $blocklist = $client-&gt;blocklists()-&gt;load('blocklistId');
      - lang: JavaScript
        source: |
          const blocklistItem = await api.blocklists.get({id: 'foobar-001'});
          console.log(blocklistItem.fields.status);
      x-sdk-operation-name: get
      x-openapi-router-controller: openapi_server.controllers.blocklists_controller
    put:
      description: |
        Create a blocklist with predefined identifier string.
      operationId: put_blocklist
      parameters:
      - description: The resource identifier string.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          pattern: "^[@~\\-\\.\\w]+$"
          type: string
        style: simple
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Blocklist'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blocklist'
          description: Blocklist was created.
          headers:
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Blocklist exist and cannot be updated.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidError'
          description: Invalid data was sent.
      summary: Create a blocklist with predefined ID
      tags:
      - Blocklists
      x-code-samples:
      - lang: PHP
        source: |
          $blocklistForm = new Rebilly\Entities\Blocklist();
          $blocklistForm-&gt;setType($blocklistForm::TYPE_EMAIL);
          $blocklistForm-&gt;setValue('test@test.com');
          $blocklistForm-&gt;setExpiredTime('2025-01-01 05:00:00');

          try {
              $blocklist = $client-&gt;blocklists()-&gt;create($blocklistForm, 'blocklistId');
          } catch (UnprocessableEntityException $e) {
              echo $e-&gt;getMessage();
          }
      - lang: JavaScript
        source: |
          // first set the required properties for the new blocklist item
          const data = {
              type: 'ip-address',
              value: '63.118.98.100'

              // optionally provide an `expirationTime` to make
              // the item expire and function like a `greylist`

              // expirationTime: '2017-09-18T21:50:44Z'
          };

          // the ID is optional
          const firstKey = await api.blocklists.create({data});

          // or you can provide one
          const secondKey = await api.blocklists.create({id: 'my-second-id', data});
      x-sdk-operation-name: update
      x-openapi-router-controller: openapi_server.controllers.blocklists_controller
      x-codegen-request-body-name: body
  /coupons:
    get:
      description: |
        Retrieve a list of coupons.
      operationId: get_coupon_collection
      parameters:
      - description: "Organization identifier in scope of which need to perform request\
          \ (if not specified, the default organization will be used)."
        explode: false
        in: header
        name: Organization-Id
        required: false
        schema:
          $ref: '#/components/schemas/ResourceId'
        style: simple
      - description: The collection items limit.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The collection items offset.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: |
          The collection items filter requires a special format.
          Use "," for multiple allowed values.  Use ";" for multiple fields.
          See the [filter guide](https://api-reference.rebilly.com/#section/Using-filter-with-collections) for more options and examples about this format.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The partial search of the text fields.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The collection items sort field and order (prefix with "-" for
          descending sort).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Coupon'
                type: array
          description: A list of coupons was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: '#/components/headers/Pagination-Limit'
            Pagination-Offset:
              $ref: '#/components/headers/Pagination-Offset'
            Pagination-Total:
              $ref: '#/components/headers/Pagination-Total'
            Rate-Limit-Limit:
              $ref: '#/components/headers/Rate-Limit-Limit'
            Rate-Limit-Remaining:
              $ref: '#/components/headers/Rate-Limit-Remaining'
            Rate-Limit-Reset:
              $ref: '#/components/headers/Rate-Limit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Unauthorized access, invalid credentials was used."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden.
      summary: Retrieve a list of coupons
      tags:
      - Coupons
      x-code-samples:
      - lang: PHP
        source: |
          $coupons = $client-&gt;coupons()-&gt;search([
[...]
