openapi: 3.0.1
info:
  contact:
    email: api@schooldigger.com
    name: SchoolDigger
  description: "Get detailed data on over 120,000 schools and 18,500 districts in\
    \ the U.S."
  termsOfService: https://developer.schooldigger.com/termsofservice
  title: SchoolDigger API V1
  version: v1
  x-apisguru-categories:
  - open_data
  - education
  x-logo:
    url: https://www.schooldigger.com/images/logo-medium.png
  x-origin:
  - format: swagger
    url: https://api.schooldigger.com/swagger/docs/v1
    version: "2.0"
  x-providerName: schooldigger.com
  x-preferred: false
servers:
- url: https://api.schooldigger.com/
paths:
  /v1/districts:
    get:
      description: Search the SchoolDigger database for districts. You may use any
        combination of criteria as query parameters.
      operationId: Districts_GetAllDistricts
      parameters:
      - description: Two character state (e.g. 'CA') - required
        in: query
        name: st
        required: true
        schema:
          type: string
      - description: "Search term - note: will match district name or city (optional)"
        in: query
        name: q
        schema:
          type: string
      - description: Search for districts in this city (optional)
        in: query
        name: city
        schema:
          type: string
      - description: Search for districts in this 5-digit zip code (optional)
        in: query
        name: zip
        schema:
          type: string
      - description: "Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude)\
          \ (e.g. 44.982560) (optional) (Pro, Enterprise API levels only. Enterprise\
          \ API level will flag districts that include lat/long in its attendance\
          \ boundary.)"
        in: query
        name: nearLatitude
        schema:
          format: double
          type: number
      - description: "Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude)\
          \ (e.g. -124.289185) (optional) (Pro, Enterprise API levels only. Enterprise\
          \ API level will flag districts that include lat/long in its attendance\
          \ boundary.)"
        in: query
        name: nearLongitude
        schema:
          format: double
          type: number
      - description: "Full U.S. address: flag returned districts that include this\
          \ address in its attendance boundary. Example: '123 Main St. AnyTown CA\
          \ 90001' (optional) (Enterprise API level only)"
        in: query
        name: boundaryAddress
        schema:
          type: string
      - description: "Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude)\
          \ (Default 50 miles) (optional) (Pro, Enterprise API levels only)"
        in: query
        name: distanceMiles
        schema:
          format: int32
          type: integer
      - description: Return only the districts that include given location (nearLatitude/nearLongitude)
          or (boundaryAddress) in its attendance boundary (Enterprise API level only)
        in: query
        name: isInBoundaryOnly
        schema:
          type: boolean
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        in: query
        name: boxLatitudeNW
        schema:
          format: double
          type: number
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        in: query
        name: boxLongitudeNW
        schema:
          format: double
          type: number
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        in: query
        name: boxLatitudeSE
        schema:
          format: double
          type: number
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        in: query
        name: boxLongitudeSE
        schema:
          format: double
          type: number
      - description: "Page number to retrieve (optional, default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Number of districts to retrieve on a page (50 max) (optional,\
          \ default: 10)"
        in: query
        name: perPage
        schema:
          format: int32
          type: integer
      - description: "Sort list. Values are: districtname, distance, rank. For descending\
          \ order, precede with '-' i.e. -districtname (optional, default: districtname)"
        in: query
        name: sortBy
        schema:
          type: string
      - description: "If sortBy is 'rank', this boolean determines if districts with\
          \ no rank are included in the result (optional, default: false)"
        in: query
        name: includeUnrankedDistrictsInRankSort
        schema:
          type: boolean
      - description: Your API app id
        in: query
        name: appID
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIDistrictList'
          description: OK
      summary: Returns a list of districts
      tags:
      - Districts
      x-accepts:
      - application/json
  /v1/districts/{id}:
    get:
      description: Retrieve a single district record from the SchoolDigger database
      operationId: Districts_GetDistrict
      parameters:
      - description: The 7 digit District ID (e.g. 0642150)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Your API app id
        in: query
        name: appID
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIDistrict'
          description: OK
      summary: Returns a detailed record for one district
      tags:
      - Districts
      x-accepts:
      - application/json
  /v1/rankings/districts/{st}:
    get:
      operationId: Rankings_GetRank_District
      parameters:
      - description: Two character state (e.g. 'CA')
        in: path
        name: st
        required: true
        schema:
          type: string
      - description: The ranking year (leave blank for most recent year)
        in: query
        name: year
        schema:
          format: int32
          type: integer
      - description: "Page number to retrieve (optional, default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Number of districts to retrieve on a page (50 max) (optional,\
          \ default: 10)"
        in: query
        name: perPage
        schema:
          format: int32
          type: integer
      - description: Your API app id
        in: query
        name: appID
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIDistrictListRank'
          description: OK
      summary: Returns a SchoolDigger district ranking list
      tags:
      - Rankings
      x-accepts:
      - application/json
  /v1/rankings/schools/{st}:
    get:
      operationId: Rankings_GetRank
      parameters:
      - description: Two character state (e.g. 'CA')
        in: path
        name: st
        required: true
        schema:
          type: string
      - description: The ranking year (leave blank for most recent year)
        in: query
        name: year
        schema:
          format: int32
          type: integer
      - description: "Level of ranking: 'Elementary', 'Middle', or 'High'"
        in: query
        name: level
        schema:
          type: string
      - description: "Page number to retrieve (optional, default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Number of schools to retrieve on a page (50 max) (optional,\
          \ default: 10)"
        in: query
        name: perPage
        schema:
          format: int32
          type: integer
      - description: Your API app id
        in: query
        name: appID
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APISchoolListRank'
          description: OK
      summary: Returns a SchoolDigger school ranking list
      tags:
      - Rankings
      x-accepts:
      - application/json
  /v1/schools:
    get:
      description: Search the SchoolDigger database for schools. You may use any combination
        of criteria as query parameters.
      operationId: Schools_GetAllSchools
      parameters:
      - description: Two character state (e.g. 'CA') - required
        in: query
        name: st
        required: true
        schema:
          type: string
      - description: "Search term - note: will match school name or city (optional)"
        in: query
        name: q
        schema:
          type: string
      - description: "For parameter 'q', only search school names instead of school\
          \ and city (optional)"
        in: query
        name: qSearchSchoolNameOnly
        schema:
          type: boolean
      - description: Search for schools within this district (7 digit district id)
          (optional)
        in: query
        name: districtID
        schema:
          type: string
      - description: "Search for schools at this level. Valid values: 'Elementary',\
          \ 'Middle', 'High', 'Alt', 'Public', 'Private' (optional). 'Public' returns\
          \ all Elementary, Middle, High and Alternative schools"
        in: query
        name: level
        schema:
          type: string
      - description: Search for schools in this city (optional)
        in: query
        name: city
        schema:
          type: string
      - description: Search for schools in this 5-digit zip code (optional)
        in: query
        name: zip
        schema:
          type: string
      - description: "True = return only magnet schools, False = return only non-magnet\
          \ schools (optional) (Pro, Enterprise API levels only)"
        in: query
        name: isMagnet
        schema:
          type: boolean
      - description: "True = return only charter schools, False = return only non-charter\
          \ schools (optional) (Pro, Enterprise API levels only)"
        in: query
        name: isCharter
        schema:
          type: boolean
      - description: "True = return only virtual schools, False = return only non-virtual\
          \ schools (optional) (Pro, Enterprise API levels only)"
        in: query
        name: isVirtual
        schema:
          type: boolean
      - description: "True = return only Title I schools, False = return only non-Title\
          \ I schools (optional) (Pro, Enterprise API levels only)"
        in: query
        name: isTitleI
        schema:
          type: boolean
      - description: "True = return only Title I school-wide schools, False = return\
          \ only non-Title I school-wide schools (optional) (Pro, Enterprise API levels\
          \ only)"
        in: query
        name: isTitleISchoolwide
        schema:
          type: boolean
      - description: "Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude)\
          \ (e.g. 44.982560) (optional) (Pro, Enterprise API levels only. Enterprise\
          \ API level will flag schools that include lat/long in its attendance boundary.)"
        in: query
        name: nearLatitude
        schema:
          format: double
          type: number
      - description: "Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude)\
          \ (e.g. -124.289185) (optional) (Pro, Enterprise API levels only. Enterprise\
          \ API level will flag schools that include lat/long in its attendance boundary.)"
        in: query
        name: nearLongitude
        schema:
          format: double
          type: number
      - description: "Full U.S. address: flag returned schools that include this address\
          \ in its attendance boundary. Example: '123 Main St. AnyTown CA 90001' (optional)\
          \ (Enterprise API level only) IMPORTANT NOTE: If you have the lat/long of\
          \ the address, use nearLatitude and nearLongitude instead for much faster\
          \ response times"
        in: query
        name: boundaryAddress
        schema:
          type: string
      - description: "Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude)\
          \ (Default 5 miles) (optional) (Pro, Enterprise API levels only)"
        in: query
        name: distanceMiles
        schema:
          format: int32
          type: integer
      - description: Return only the schools that include given location (nearLatitude/nearLongitude)
          or (boundaryAddress) in its attendance boundary (Enterprise API level only)
        in: query
        name: isInBoundaryOnly
        schema:
          type: boolean
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        in: query
        name: boxLatitudeNW
        schema:
          format: double
          type: number
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        in: query
        name: boxLongitudeNW
        schema:
          format: double
          type: number
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        in: query
        name: boxLatitudeSE
        schema:
          format: double
          type: number
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        in: query
        name: boxLongitudeSE
        schema:
          format: double
          type: number
      - description: "Page number to retrieve (optional, default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Number of schools to retrieve on a page (50 max) (optional,\
          \ default: 10)"
        in: query
        name: perPage
        schema:
          format: int32
          type: integer
      - description: "Sort list. Values are: schoolname, distance, rank. For descending\
          \ order, precede with '-' i.e. -schoolname (optional, default: schoolname)"
        in: query
        name: sortBy
        schema:
          type: string
      - description: "If sortBy is 'rank', this boolean determines if schools with\
          \ no rank are included in the result (optional, default: false)"
        in: query
        name: includeUnrankedSchoolsInRankSort
        schema:
          type: boolean
      - description: Your API app id
        in: query
        name: appID
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APISchoolList'
          description: OK
      summary: Returns a list of schools
      tags:
      - Schools
      x-accepts:
      - application/json
  /v1/schools/{id}:
    get:
      description: Retrieve a school record from the SchoolDigger database
      operationId: Schools_GetSchool10
      parameters:
      - description: The 12 digit School ID (e.g. 064215006903)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Your API app id
        in: query
        name: appID
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APISchool10Full'
          description: OK
      summary: Returns a detailed record for one school
      tags:
      - Schools
      x-accepts:
      - application/json
components:
  schemas:
    APIBoundary:
      example:
        polylineCollection:
        - numberEncodedPoints: 0
          polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
        - numberEncodedPoints: 0
          polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
        hasBoundary: true
      properties:
        hasBoundary:
          description: States whether there is a boundary available
          type: boolean
        polylineCollection:
          description: "Collection of one or more polylines that can be used to create\
            \ the boundary on a map. NOTE: this value is JSON encoded. Specifically,\
            \ backslashes will be returned escaped (two backslashes). Make sure to\
            \ decode the polyline before you use it"
          items:
            $ref: '#/components/schemas/APIPolyline'
          type: array
      type: object
    APICounty:
      example:
        countyURL: countyURL
        countyName: countyName
      properties:
        countyName:
          description: County in which the school or district is located
          type: string
        countyURL:
          description: SchoolDigger URL for all schools in this county
          type: string
      type: object
    APIDistrict:
      example:
        boundary:
          polylineCollection:
          - numberEncodedPoints: 0
            polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
          - numberEncodedPoints: 0
            polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
          hasBoundary: true
        rankHistory:
        - rankOf: 6
          rankStars: 6
          year: 3
          rankStatewidePercentage: 3.353193347011243
          rank: 6
          rankScore: 5.944895607614016
        - rankOf: 6
          rankStars: 6
          year: 3
          rankStatewidePercentage: 3.353193347011243
          rank: 6
          rankScore: 5.944895607614016
        lowGrade: lowGrade
        address:
          zip: zip
          cityURL: cityURL
          city: city
          stateFull: stateFull
          zipURL: zipURL
          latLong:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          street: street
          html: html
          zip4: zip4
          state: state
        districtName: districtName
        numberMiddleSchools: 5
        county:
          countyURL: countyURL
          countyName: countyName
        isWithinBoundary: true
        numberAlternativeSchools: 6
        numberHighSchools: 1
        numberTotalSchools: 2
        url: url
        districtID: districtID
        highGrade: highGrade
        phone: phone
        numberPrimarySchools: 5
        testScores:
        - tier5: tier5
          tier4: tier4
          tier3: tier3
          tier2: tier2
          test: test
          districtTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          year: 9
          subject: subject
          grade: grade
          schoolTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          stateTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          tier1: tier1
        - tier5: tier5
          tier4: tier4
          tier3: tier3
          tier2: tier2
          test: test
          districtTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          year: 9
          subject: subject
          grade: grade
          schoolTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          stateTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          tier1: tier1
        districtYearlyDetails:
        - numberOfGuidanceTotal: 3.616076749251911
          numberOfTeachersK: 9.369310271410669
          year: 9
          numberOfEnglishLanguageLearnerStudents: 2
          numberOfSchoolAdminSupportStaff: 1.4894159098541704
          numberOfLEASupportStaff: 4.145608029883936
          numberOfTeachersElementary: 9.965781217890562
          numberOfStudentSupportStaff: 1.1730742509559433
          numberOfSpecialEdStudents: 7
          numberOfTeachersPK: 6.683562403749608
          numberOfStudents: 4
          numberOfAids: 5.962133916683182
          numberOfGuidanceSecondary: 9.301444243932576
          numberOfLibraryStaff: 1.2315135367772556
          numberOfCoordsSupervisors: 5.637376656633329
          numberOfLEAAdministrators: 2.027123023002322
          numberOfLibrarians: 7.386281948385884
          numberOfTeachersSecondary: 8.762042012749001
          numberOfOtherSupportStaff: 1.0246457001441578
          numberOfTeachers: 5.025004791520295
          numberOfGuidanceElem: 7.061401241503109
          numberOfSchoolAdministrators: 6.84685269835264
        - numberOfGuidanceTotal: 3.616076749251911
          numberOfTeachersK: 9.369310271410669
          year: 9
          numberOfEnglishLanguageLearnerStudents: 2
          numberOfSchoolAdminSupportStaff: 1.4894159098541704
          numberOfLEASupportStaff: 4.145608029883936
          numberOfTeachersElementary: 9.965781217890562
          numberOfStudentSupportStaff: 1.1730742509559433
          numberOfSpecialEdStudents: 7
          numberOfTeachersPK: 6.683562403749608
          numberOfStudents: 4
          numberOfAids: 5.962133916683182
          numberOfGuidanceSecondary: 9.301444243932576
          numberOfLibraryStaff: 1.2315135367772556
          numberOfCoordsSupervisors: 5.637376656633329
          numberOfLEAAdministrators: 2.027123023002322
          numberOfLibrarians: 7.386281948385884
          numberOfTeachersSecondary: 8.762042012749001
          numberOfOtherSupportStaff: 1.0246457001441578
          numberOfTeachers: 5.025004791520295
          numberOfGuidanceElem: 7.061401241503109
          numberOfSchoolAdministrators: 6.84685269835264
      properties:
        address:
          $ref: '#/components/schemas/APILocation'
        boundary:
          $ref: '#/components/schemas/APIBoundary'
        county:
          $ref: '#/components/schemas/APICounty'
        districtID:
          description: SchoolDigger District ID Number (7 digits)
          type: string
        districtName:
          description: District name
          type: string
        districtYearlyDetails:
          description: District yearly metrics
          items:
            $ref: '#/components/schemas/APILEAYearlyDetail'
          type: array
        highGrade:
          description: The high grade served by this district
          type: string
        isWithinBoundary:
          description: Indicates whether this district's boundary includes the specified
            location from nearLatitude/nearLongitude
          type: boolean
        lowGrade:
          description: "The low grade served by this district (PK = Prekindergarten,\
            \ K = Kindergarten)"
          type: string
        numberAlternativeSchools:
          format: int32
          type: integer
        numberHighSchools:
          format: int32
          type: integer
        numberMiddleSchools:
          format: int32
          type: integer
        numberPrimarySchools:
          format: int32
          type: integer
        numberTotalSchools:
          format: int32
          type: integer
        phone:
          description: District phone number
          type: string
        rankHistory:
          description: SchoolDigger yearly rank history of the district
          items:
            $ref: '#/components/schemas/APILEARankHistory'
          type: array
        testScores:
          description: Test scores (district and state) -- requires Pro or Enterprise
            level API subscription
          items:
            $ref: '#/components/schemas/APITestScoreWrapper'
          type: array
        url:
          description: SchoolDigger URL for this district
          type: string
      type: object
    APIDistrict1Summary:
      example:
        rankHistory:
        - rankOf: 6
          rankStars: 6
          year: 3
          rankStatewidePercentage: 3.353193347011243
          rank: 6
          rankScore: 5.944895607614016
        - rankOf: 6
          rankStars: 6
          year: 3
          rankStatewidePercentage: 3.353193347011243
          rank: 6
          rankScore: 5.944895607614016
        lowGrade: lowGrade
        address:
          zip: zip
          cityURL: cityURL
          city: city
          stateFull: stateFull
          zipURL: zipURL
          latLong:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          street: street
          html: html
          zip4: zip4
          state: state
        distance: 1.4658129805029452
        districtName: districtName
        numberMiddleSchools: 6
        county:
          countyURL: countyURL
          countyName: countyName
        isWithinBoundary: true
        numberAlternativeSchools: 6
        numberHighSchools: 3
        numberTotalSchools: 2
        url: url
        locationIsWithinBoundary: true
        districtID: districtID
        highGrade: highGrade
        phone: phone
        numberPrimarySchools: 1
        hasBoundary: true
        districtYearlyDetails:
        - numberOfGuidanceTotal: 3.616076749251911
          numberOfTeachersK: 9.369310271410669
          year: 9
          numberOfEnglishLanguageLearnerStudents: 2
          numberOfSchoolAdminSupportStaff: 1.4894159098541704
          numberOfLEASupportStaff: 4.145608029883936
          numberOfTeachersElementary: 9.965781217890562
          numberOfStudentSupportStaff: 1.1730742509559433
          numberOfSpecialEdStudents: 7
          numberOfTeachersPK: 6.683562403749608
          numberOfStudents: 4
          numberOfAids: 5.962133916683182
          numberOfGuidanceSecondary: 9.301444243932576
          numberOfLibraryStaff: 1.2315135367772556
          numberOfCoordsSupervisors: 5.637376656633329
          numberOfLEAAdministrators: 2.027123023002322
          numberOfLibrarians: 7.386281948385884
          numberOfTeachersSecondary: 8.762042012749001
          numberOfOtherSupportStaff: 1.0246457001441578
          numberOfTeachers: 5.025004791520295
          numberOfGuidanceElem: 7.061401241503109
          numberOfSchoolAdministrators: 6.84685269835264
        - numberOfGuidanceTotal: 3.616076749251911
          numberOfTeachersK: 9.369310271410669
          year: 9
          numberOfEnglishLanguageLearnerStudents: 2
          numberOfSchoolAdminSupportStaff: 1.4894159098541704
          numberOfLEASupportStaff: 4.145608029883936
          numberOfTeachersElementary: 9.965781217890562
          numberOfStudentSupportStaff: 1.1730742509559433
          numberOfSpecialEdStudents: 7
          numberOfTeachersPK: 6.683562403749608
          numberOfStudents: 4
          numberOfAids: 5.962133916683182
          numberOfGuidanceSecondary: 9.301444243932576
          numberOfLibraryStaff: 1.2315135367772556
          numberOfCoordsSupervisors: 5.637376656633329
          numberOfLEAAdministrators: 2.027123023002322
          numberOfLibrarians: 7.386281948385884
          numberOfTeachersSecondary: 8.762042012749001
          numberOfOtherSupportStaff: 1.0246457001441578
          numberOfTeachers: 5.025004791520295
          numberOfGuidanceElem: 7.061401241503109
          numberOfSchoolAdministrators: 6.84685269835264
      properties:
        address:
          $ref: '#/components/schemas/APILocation'
        county:
          $ref: '#/components/schemas/APICounty'
        distance:
          description: Distance from nearLatitude/nearLongitude (if supplied)
          format: double
          type: number
        districtID:
          description: "SchoolDigger District ID Number (7 digits). Use /districts/{districtID}\
            \ to retrieve the entire district record"
          type: string
        districtName:
          description: District name
          type: string
        districtYearlyDetails:
          description: District yearly metrics
          items:
            $ref: '#/components/schemas/APILEAYearlyDetail'
          type: array
        hasBoundary:
          description: "Indicates that an attendance boundary is available for this\
            \ district. (To retrieve, look up district with /districts/{id})"
          type: boolean
        highGrade:
          description: The high grade served by this district
          type: string
        isWithinBoundary:
          description: Indicates whether this district's boundary includes the specified
            location from nearLatitude/nearLongitude
          type: boolean
        locationIsWithinBoundary:
          description: Indicates whether this school's boundary includes the specified
            location from nearLatitude/nearLongitude or boundaryAddress (Enterprise
            API level)
          type: boolean
        lowGrade:
          description: "The low grade served by this district (PK = Prekindergarten,\
            \ K = Kindergarten)"
          type: string
        numberAlternativeSchools:
          description: Count of schools designated as other/alternative schools
          format: int32
          type: integer
        numberHighSchools:
          description: Count of schools designated as high schools
          format: int32
          type: integer
        numberMiddleSchools:
          description: Count of schools designated as middle schools
          format: int32
          type: integer
        numberPrimarySchools:
          description: Count of schools designated as primary schools
          format: int32
          type: integer
        numberTotalSchools:
          description: Count of schools in the district
          format: int32
          type: integer
        phone:
          description: District phone number
          type: string
        rankHistory:
          description: SchoolDigger yearly rank history of the district
          items:
            $ref: '#/components/schemas/APILEARankHistory'
          type: array
        url:
          description: SchoolDigger URL for this district
          type: string
      type: object
    APIDistrictList:
      example:
        districtList:
        - rankHistory:
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          distance: 1.4658129805029452
          districtName: districtName
          numberMiddleSchools: 6
          county:
            countyURL: countyURL
            countyName: countyName
          isWithinBoundary: true
          numberAlternativeSchools: 6
          numberHighSchools: 3
          numberTotalSchools: 2
          url: url
          locationIsWithinBoundary: true
          districtID: districtID
          highGrade: highGrade
          phone: phone
          numberPrimarySchools: 1
          hasBoundary: true
          districtYearlyDetails:
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
        - rankHistory:
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          distance: 1.4658129805029452
          districtName: districtName
          numberMiddleSchools: 6
          county:
            countyURL: countyURL
            countyName: countyName
          isWithinBoundary: true
          numberAlternativeSchools: 6
          numberHighSchools: 3
          numberTotalSchools: 2
          url: url
          locationIsWithinBoundary: true
          districtID: districtID
          highGrade: highGrade
          phone: phone
          numberPrimarySchools: 1
          hasBoundary: true
          districtYearlyDetails:
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
        numberOfPages: 0
        numberOfDistricts: 7
      properties:
        districtList:
          items:
            $ref: '#/components/schemas/APIDistrict1Summary'
          type: array
        numberOfDistricts:
          description: The total count of districts that match your query
          format: int32
          type: integer
        numberOfPages:
          description: The total count of pages in your query list based on given
            per_page value
          format: int32
          type: integer
      type: object
    APIDistrictListRank:
      example:
        districtList:
        - rankHistory:
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          distance: 1.4658129805029452
          districtName: districtName
          numberMiddleSchools: 6
          county:
            countyURL: countyURL
            countyName: countyName
          isWithinBoundary: true
          numberAlternativeSchools: 6
          numberHighSchools: 3
          numberTotalSchools: 2
          url: url
          locationIsWithinBoundary: true
          districtID: districtID
          highGrade: highGrade
          phone: phone
          numberPrimarySchools: 1
          hasBoundary: true
          districtYearlyDetails:
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
        - rankHistory:
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          - rankOf: 6
            rankStars: 6
            year: 3
            rankStatewidePercentage: 3.353193347011243
            rank: 6
            rankScore: 5.944895607614016
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          distance: 1.4658129805029452
          districtName: districtName
          numberMiddleSchools: 6
          county:
            countyURL: countyURL
            countyName: countyName
          isWithinBoundary: true
          numberAlternativeSchools: 6
          numberHighSchools: 3
          numberTotalSchools: 2
          url: url
          locationIsWithinBoundary: true
          districtID: districtID
          highGrade: highGrade
          phone: phone
          numberPrimarySchools: 1
          hasBoundary: true
          districtYearlyDetails:
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
          - numberOfGuidanceTotal: 3.616076749251911
            numberOfTeachersK: 9.369310271410669
            year: 9
            numberOfEnglishLanguageLearnerStudents: 2
            numberOfSchoolAdminSupportStaff: 1.4894159098541704
            numberOfLEASupportStaff: 4.145608029883936
            numberOfTeachersElementary: 9.965781217890562
            numberOfStudentSupportStaff: 1.1730742509559433
            numberOfSpecialEdStudents: 7
            numberOfTeachersPK: 6.683562403749608
            numberOfStudents: 4
            numberOfAids: 5.962133916683182
            numberOfGuidanceSecondary: 9.301444243932576
            numberOfLibraryStaff: 1.2315135367772556
            numberOfCoordsSupervisors: 5.637376656633329
            numberOfLEAAdministrators: 2.027123023002322
            numberOfLibrarians: 7.386281948385884
            numberOfTeachersSecondary: 8.762042012749001
            numberOfOtherSupportStaff: 1.0246457001441578
            numberOfTeachers: 5.025004791520295
            numberOfGuidanceElem: 7.061401241503109
            numberOfSchoolAdministrators: 6.84685269835264
        numberOfPages: 6
        rankYearsAvailable:
        - 2
        - 2
        rankCompareYear: 1
        rankYearCompare: 5
        numberOfDistricts: 0
        rankYear: 5
      properties:
        districtList:
          items:
            $ref: '#/components/schemas/APIDistrict1Summary'
          type: array
        numberOfDistricts:
          description: The total count of districts in the entire rank list
          format: int32
          type: integer
        numberOfPages:
          description: The total count of pages in your query list based on given
            per_page value
          format: int32
          type: integer
        rankCompareYear:
          format: int32
          type: integer
        rankYear:
          description: Year this ranking list represents (2018 = 2017-18)
          format: int32
          type: integer
        rankYearCompare:
          description: Year rankings returned for comparison (2018 = 2017-18)
          format: int32
          type: integer
        rankYearsAvailable:
          description: The years for which SchoolDigger district rankings are available
            for this state
          items:
            format: int32
            type: integer
          type: array
      type: object
    APIDistrictSum:
      description: District Summary
      example:
        districtID: districtID
        districtName: districtName
        url: url
        rankURL: rankURL
      properties:
        districtID:
          description: The 7 digit SchoolDigger District id number
          type: string
        districtName:
          type: string
        rankURL:
          description: The URL to see the district in the SchoolDigger ranking list
          type: string
        url:
          description: The URL to see the district details on SchoolDigger
          type: string
      type: object
    APILEARankHistory:
      example:
        rankOf: 6
        rankStars: 6
        year: 3
        rankStatewidePercentage: 3.353193347011243
        rank: 6
        rankScore: 5.944895607614016
      properties:
        rank:
          description: Statewide rank of this district
          format: int32
          type: integer
        rankOf:
          description: Count of district ranked in this state
          format: int32
          type: integer
        rankScore:
          description: The rank score calculated by SchoolDigger (see https://www.schooldigger.com/aboutranking.aspx)
          format: double
          type: number
        rankStars:
          description: "The number of stars SchoolDigger awarded in the ranking of\
            \ the district (0-5, 5 is best)"
          format: int32
          type: integer
        rankStatewidePercentage:
          description: Percentile of this district's rank (e.g. this district performed
            better than (x)% of this state's districts)
          format: double
          type: number
        year:
          description: School year (2017 - 2016-17)
          format: int32
          type: integer
      type: object
    APILEAYearlyDetail:
      example:
        numberOfGuidanceTotal: 3.616076749251911
        numberOfTeachersK: 9.369310271410669
        year: 9
        numberOfEnglishLanguageLearnerStudents: 2
        numberOfSchoolAdminSupportStaff: 1.4894159098541704
        numberOfLEASupportStaff: 4.145608029883936
        numberOfTeachersElementary: 9.965781217890562
        numberOfStudentSupportStaff: 1.1730742509559433
        numberOfSpecialEdStudents: 7
        numberOfTeachersPK: 6.683562403749608
        numberOfStudents: 4
        numberOfAids: 5.962133916683182
        numberOfGuidanceSecondary: 9.301444243932576
        numberOfLibraryStaff: 1.2315135367772556
        numberOfCoordsSupervisors: 5.637376656633329
        numberOfLEAAdministrators: 2.027123023002322
        numberOfLibrarians: 7.386281948385884
        numberOfTeachersSecondary: 8.762042012749001
        numberOfOtherSupportStaff: 1.0246457001441578
        numberOfTeachers: 5.025004791520295
        numberOfGuidanceElem: 7.061401241503109
        numberOfSchoolAdministrators: 6.84685269835264
      properties:
        numberOfAids:
          description: Number of full-time equivalent instructional aids employed
            by the district
          format: double
          type: number
        numberOfCoordsSupervisors:
          description: Number of full-time equivalent instructional coordinators/supervisors
            employed by the district
          format: double
          type: number
        numberOfEnglishLanguageLearnerStudents:
          description: The number of English language learner (ELL) students served
            in appropriate programs
          format: int32
          type: integer
        numberOfGuidanceElem:
          description: Number of full-time equivalent elementary guidance counselors
            employed by the district
          format: double
          type: number
        numberOfGuidanceSecondary:
          description: Number of full-time equivalent secondary guidance counselors
            employed by the district
          format: double
          type: number
        numberOfGuidanceTotal:
          description: Total number of full-time equivalent guidance counselors employed
            by the district
          format: double
          type: number
        numberOfLEAAdministrators:
          description: Number of full-time equivalent LEA administrators employed
            by the district (LEA)
          format: double
          type: number
        numberOfLEASupportStaff:
          description: Number of full-time equivalent LEA administrative support staff
            employed by the district (LEA)
          format: double
          type: number
        numberOfLibrarians:
          description: Number of full-time equivalent librarians/media specialists
            employed by the district
          format: double
          type: number
        numberOfLibraryStaff:
          description: Number of full-time equivalent librarians/media support staff
            employed by the district
          format: double
          type: number
        numberOfOtherSupportStaff:
          description: Number of full-time equivalent all other support staff employed
            by the district (LEA)
          format: double
          type: number
        numberOfSchoolAdminSupportStaff:
          description: Number of full-time equivalent school administrative support
            staff employed by the district (LEA)
          format: double
          type: number
        numberOfSchoolAdministrators:
          description: Number of full-time equivalent school administrators employed
            by the district (LEA)
          format: double
          type: number
        numberOfSpecialEdStudents:
          description: The number of students having a written Individualized Education
            Program (IEP) under the Individuals With Disabilities Education Act (IDEA)
          format: int32
          type: integer
        numberOfStudentSupportStaff:
          description: Number of full-time equivalent student support services staff
            employed by the district (LEA)
          format: double
          type: number
        numberOfStudents:
          description: Number of students enrolled in the district
          format: int32
          type: integer
        numberOfTeachers:
          description: Number of full-time equivalent teachers employed by the district
          format: double
          type: number
        numberOfTeachersElementary:
          description: Number of full-time equivalent elementary teachers employed
            by the district
          format: double
          type: number
        numberOfTeachersK:
          description: Number of full-time equivalent kindergarten teachers employed
            by the district
          format: double
          type: number
        numberOfTeachersPK:
          description: Number of full-time equivalent pre-kindergarten teachers employed
            by the district
          format: double
          type: number
        numberOfTeachersSecondary:
          description: Number of full-time equivalent secondary teachers employed
            by the district
          format: double
          type: number
        year:
          description: School year (2018 = 2017-18)
          format: int32
          type: integer
      type: object
    APILatLong:
      example:
        latitude: 0.8008281904610115
        longitude: 6.027456183070403
      properties:
        latitude:
          format: double
          type: number
        longitude:
          format: double
          type: number
      type: object
    APILocation:
      example:
        zip: zip
        cityURL: cityURL
        city: city
        stateFull: stateFull
        zipURL: zipURL
        latLong:
          latitude: 0.8008281904610115
          longitude: 6.027456183070403
        street: street
        html: html
        zip4: zip4
        state: state
      properties:
        city:
          type: string
        cityURL:
          description: SchoolDigger URL for schools in this city
          type: string
        html:
          description: HTML formatted address
          type: string
        latLong:
          $ref: '#/components/schemas/APILatLong'
        state:
          type: string
        stateFull:
          description: Full state name (WA = Washington)
          type: string
        street:
          type: string
        zip:
          type: string
        zip4:
          type: string
        zipURL:
          description: SchoolDigger URL for schools in this zip code
          type: string
      type: object
    APIPolyline:
      example:
        numberEncodedPoints: 0
        polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
      properties:
        numberEncodedPoints:
          description: Number of encoded points in polyline
          format: int32
          type: integer
        polylineOverlayEncodedPoints:
          description: "Polyline for use with Google Maps or other mapping software.\
            \ NOTE: this value is JSON encoded. Specifically, backslashes will be\
            \ returned escaped (two backslashes). Make sure to decode the polyline\
            \ before you use it"
          type: string
      type: object
    APIRankHistory:
      example:
        rankOf: 4
        rankStars: 7
        year: 1
        rankLevel: rankLevel
        rankStatewidePercentage: 1.2315135367772556
        rank: 2
        averageStandardScore: 3.616076749251911
      properties:
        averageStandardScore:
          description: "The Average Standard score calculated by SchoolDigger (see:\
            \ https://www.schooldigger.com/aboutrankingmethodology.aspx)"
          format: double
          type: number
        rank:
          description: Statewide rank of this School
          format: int32
          type: integer
        rankLevel:
          description: "The level for which this school is ranked (Elementary, Middle,\
            \ High)"
          type: string
        rankOf:
          description: Count of schools ranked at this state/level
          format: int32
          type: integer
        rankStars:
          description: "The number of stars SchoolDigger awarded in the ranking of\
            \ the school (0-5, 5 is best)"
          format: int32
          type: integer
        rankStatewidePercentage:
          description: Percentile of this school's rank (e.g. this school performed
            better than (x)% of this state's elementary schools)
          format: double
          type: number
        year:
          description: School year (2017 - 2016-17)
          format: int32
          type: integer
      type: object
    APISchool10Full:
      example:
        boundary:
          polylineCollection:
          - numberEncodedPoints: 0
            polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
          - numberEncodedPoints: 0
            polylineOverlayEncodedPoints: polylineOverlayEncodedPoints
          hasBoundary: true
        isCharterSchool: isCharterSchool
        privateOrientation: privateOrientation
        isMagnetSchool: isMagnetSchool
        privateDays: 0
        county:
          countyURL: countyURL
          countyName: countyName
        isPrivate: true
        locale: locale
        schoolYearlyDetails:
        - numberofWhiteStudents: 8
          year: 3
          numberofTwoOrMoreRaceStudents: 9
          percentofUnspecifiedRaceStudents: 6.878052220127876
          pupilTeacherRatio: 6.704019297950036
          numberofAsianStudents: 1
          numberOfStudents: 6
          numberofIndianStudents: 5
          percentofWhiteStudents: 5.944895607614016
          percentofAfricanAmericanStudents: 6.438423552598547
          numberofHispanicStudents: 4
          numberofPacificIslanderStudents: 9
          percentofIndianStudents: 1.284659006116532
          percentFreeDiscLunch: 9.018348186070783
          teachersFulltime: 3.353193347011243
          percentofHispanicStudents: 6.965117697638846
          percentofTwoOrMoreRaceStudents: 6.778324963048013
          numberofAfricanAmericanStudents: 7
          numberofUnspecifiedRaceStudents: 6
          percentofAsianStudents: 3.5571952270680973
          percentofPacificIslanderStudents: 2.8841621266687802
        - numberofWhiteStudents: 8
          year: 3
          numberofTwoOrMoreRaceStudents: 9
          percentofUnspecifiedRaceStudents: 6.878052220127876
          pupilTeacherRatio: 6.704019297950036
          numberofAsianStudents: 1
          numberOfStudents: 6
          numberofIndianStudents: 5
          percentofWhiteStudents: 5.944895607614016
          percentofAfricanAmericanStudents: 6.438423552598547
          numberofHispanicStudents: 4
          numberofPacificIslanderStudents: 9
          percentofIndianStudents: 1.284659006116532
          percentFreeDiscLunch: 9.018348186070783
          teachersFulltime: 3.353193347011243
          percentofHispanicStudents: 6.965117697638846
          percentofTwoOrMoreRaceStudents: 6.778324963048013
          numberofAfricanAmericanStudents: 7
          numberofUnspecifiedRaceStudents: 6
          percentofAsianStudents: 3.5571952270680973
          percentofPacificIslanderStudents: 2.8841621266687802
        privateCoed: privateCoed
        privateHasLibrary: true
        testScores:
        - tier5: tier5
          tier4: tier4
          tier3: tier3
          tier2: tier2
          test: test
          districtTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          year: 9
          subject: subject
          grade: grade
          schoolTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          stateTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          tier1: tier1
        - tier5: tier5
          tier4: tier4
          tier3: tier3
          tier2: tier2
          test: test
          districtTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          year: 9
          subject: subject
          grade: grade
          schoolTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          stateTestScore:
            numTier3: 2
            numTier2: 3
            numTier1: 9
            numTier5: 7
            numTier4: 4
            meanScaledScore: 7.0614014
            percentTier4: 1.1730742
            percentTier3: 7.4577446
            percentTier5: 4.9652185
            percentTier2: 6.846853
            percentTier1: 1.4894159
            studentsTested: 9
            numberMetStandard: 1.2315135
            studentsEligible: 5
            percentMetStandard: 1.0246457
          tier1: tier1
        isTitleISchool: isTitleISchool
        schoolName: schoolName
        urlCompare: urlCompare
        schoolLevel: schoolLevel
        rankHistory:
        - rankOf: 4
          rankStars: 7
          year: 1
          rankLevel: rankLevel
          rankStatewidePercentage: 1.2315135367772556
          rank: 2
          averageStandardScore: 3.616076749251911
        - rankOf: 4
          rankStars: 7
          year: 1
          rankLevel: rankLevel
          rankStatewidePercentage: 1.2315135367772556
          rank: 2
          averageStandardScore: 3.616076749251911
        lowGrade: lowGrade
        address:
          zip: zip
          cityURL: cityURL
          city: city
          stateFull: stateFull
          zipURL: zipURL
          latLong:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          street: street
          html: html
          zip4: zip4
          state: state
        isTitleISchoolwideSchool: isTitleISchoolwideSchool
        rankMovement: 1
        url: url
        privateHours: 6.027456183070403
        highGrade: highGrade
        isVirtualSchool: isVirtualSchool
        phone: phone
        district:
          districtID: districtID
          districtName: districtName
          url: url
          rankURL: rankURL
        schoolid: schoolid
      properties:
        address:
          $ref: '#/components/schemas/APILocation'
        boundary:
          $ref: '#/components/schemas/APIBoundary'
        county:
          $ref: '#/components/schemas/APICounty'
        district:
          $ref: '#/components/schemas/APIDistrictSum'
        highGrade:
          description: The high grade served by this school
          type: string
        isCharterSchool:
          description: Indicates if school is a charter school (Yes/No/n-a)
          type: string
        isMagnetSchool:
          description: Indicates if school is a magnet school (Yes/No/n-a)
          type: string
        isPrivate:
          description: Indicates if school is a private school (Yes/No)
          type: boolean
        isTitleISchool:
          description: Indicates if school is a Title I school (Yes/No/n-a)
          type: string
        isTitleISchoolwideSchool:
          description: Indicates if a school-wide Title I school (Yes/No/n-a)
          type: string
        isVirtualSchool:
          description: Indicates if school is a virtual school (Yes/No/n-a)
          type: string
        locale:
          description: NCES Locale of school (https://nces.ed.gov/ccd/rural_locales.asp)
          type: string
        lowGrade:
          description: "The low grade served by this school (PK = Prekindergarten,\
            \ K = Kindergarten)"
          type: string
        phone:
          description: School phone number
          type: string
        privateCoed:
          description: Coed/Boys/Girls (private schools only)
          type: string
        privateDays:
          description: Days in the school year (private schools only)
          format: int32
          type: integer
        privateHasLibrary:
          description: Indicates if the school has a library (private schools only)
          type: boolean
        privateHours:
          description: Hours in the school day (private schools only)
          format: double
          type: number
        privateOrientation:
          description: Affiliation of the school (private schools only)
          type: string
        rankHistory:
          description: SchoolDigger yearly rank history of the school
          items:
            $ref: '#/components/schemas/APIRankHistory'
          type: array
        rankMovement:
          description: Returns the movement of rank for this school between current
            and previous year
          format: int32
          type: integer
        schoolLevel:
          description: "The level of school (Elementary, Middle, High, Private, Alternative)"
          type: string
        schoolName:
          description: School name
          type: string
        schoolYearlyDetails:
          description: School Yearly metrics
          items:
            $ref: '#/components/schemas/APIYearlyDemographics'
          type: array
        schoolid:
          description: SchoolDigger School ID Number (12 digits)
          type: string
        testScores:
          description: Test scores (including district and state) -- requires Pro
            or Enterprise level API subscription
          items:
            $ref: '#/components/schemas/APITestScoreWrapper'
          type: array
        url:
          description: SchoolDigger URL for this school
          type: string
        urlCompare:
          description: SchoolDigger URL for comparing this school to nearby schools
          type: string
      type: object
    APISchool1Summary:
      description: "APISchool1Summary: A summary of a school record. For the full\
        \ school record, call /schools/{id}"
      example:
        isCharterSchool: isCharterSchool
        distance: 2.3021358869347655
        privateOrientation: privateOrientation
        isMagnetSchool: isMagnetSchool
        privateDays: 7
        county:
          countyURL: countyURL
          countyName: countyName
        isPrivate: true
        schoolYearlyDetails:
        - numberofWhiteStudents: 8
          year: 3
          numberofTwoOrMoreRaceStudents: 9
          percentofUnspecifiedRaceStudents: 6.878052220127876
          pupilTeacherRatio: 6.704019297950036
          numberofAsianStudents: 1
          numberOfStudents: 6
          numberofIndianStudents: 5
          percentofWhiteStudents: 5.944895607614016
          percentofAfricanAmericanStudents: 6.438423552598547
          numberofHispanicStudents: 4
          numberofPacificIslanderStudents: 9
          percentofIndianStudents: 1.284659006116532
          percentFreeDiscLunch: 9.018348186070783
          teachersFulltime: 3.353193347011243
          percentofHispanicStudents: 6.965117697638846
          percentofTwoOrMoreRaceStudents: 6.778324963048013
          numberofAfricanAmericanStudents: 7
          numberofUnspecifiedRaceStudents: 6
          percentofAsianStudents: 3.5571952270680973
          percentofPacificIslanderStudents: 2.8841621266687802
        - numberofWhiteStudents: 8
          year: 3
          numberofTwoOrMoreRaceStudents: 9
          percentofUnspecifiedRaceStudents: 6.878052220127876
          pupilTeacherRatio: 6.704019297950036
          numberofAsianStudents: 1
          numberOfStudents: 6
          numberofIndianStudents: 5
          percentofWhiteStudents: 5.944895607614016
          percentofAfricanAmericanStudents: 6.438423552598547
          numberofHispanicStudents: 4
          numberofPacificIslanderStudents: 9
          percentofIndianStudents: 1.284659006116532
          percentFreeDiscLunch: 9.018348186070783
          teachersFulltime: 3.353193347011243
          percentofHispanicStudents: 6.965117697638846
          percentofTwoOrMoreRaceStudents: 6.778324963048013
          numberofAfricanAmericanStudents: 7
          numberofUnspecifiedRaceStudents: 6
          percentofAsianStudents: 3.5571952270680973
          percentofPacificIslanderStudents: 2.8841621266687802
        locationIsWithinBoundary: true
        privateCoed: privateCoed
        privateHasLibrary: true
        isTitleISchool: isTitleISchool
        hasBoundary: true
        schoolName: schoolName
        urlCompare: urlCompare
        schoolLevel: schoolLevel
        rankHistory:
        - rankOf: 4
          rankStars: 7
          year: 1
          rankLevel: rankLevel
          rankStatewidePercentage: 1.2315135367772556
          rank: 2
          averageStandardScore: 3.616076749251911
        - rankOf: 4
          rankStars: 7
          year: 1
          rankLevel: rankLevel
          rankStatewidePercentage: 1.2315135367772556
          rank: 2
          averageStandardScore: 3.616076749251911
        lowGrade: lowGrade
        address:
          zip: zip
          cityURL: cityURL
          city: city
          stateFull: stateFull
          zipURL: zipURL
          latLong:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          street: street
          html: html
          zip4: zip4
          state: state
        isTitleISchoolwideSchool: isTitleISchoolwideSchool
        rankMovement: 1
        url: url
        privateHours: 9.301444243932576
        highGrade: highGrade
        isVirtualSchool: isVirtualSchool
        phone: phone
        district:
          districtID: districtID
          districtName: districtName
          url: url
          rankURL: rankURL
        schoolid: schoolid
      properties:
        address:
          $ref: '#/components/schemas/APILocation'
        county:
          $ref: '#/components/schemas/APICounty'
        distance:
          description: Distance from nearLatitude/nearLongitude (if supplied)
          format: double
          type: number
        district:
          $ref: '#/components/schemas/APIDistrictSum'
        hasBoundary:
          description: Indicates that an attendance boundary is available for this
            school.
          type: boolean
        highGrade:
          description: The high grade served by this school
          type: string
        isCharterSchool:
          description: Indicates if school is a charter school (Yes/No/n-a)
          type: string
        isMagnetSchool:
          description: Indicates if school is a magnet school (Yes/No/n-a)
          type: string
        isPrivate:
          description: Indicates if school is a private school (Yes/No)
          type: boolean
        isTitleISchool:
          description: Indicates if school is a Title I school (Yes/No/n-a)
          type: string
        isTitleISchoolwideSchool:
          description: Indicates if a school-wide Title I school (Yes/No/n-a)
          type: string
        isVirtualSchool:
          description: Indicates if school is a virtual school (Yes/No/n-a)
          type: string
        locationIsWithinBoundary:
          description: Indicates whether this school's boundary includes the specified
            location from nearLatitude/nearLongitude or boundaryAddress. (Enterprise
            API level only)
          type: boolean
        lowGrade:
          description: "The low grade served by this school (PK = Prekindergarten,\
            \ K = Kindergarten)"
          type: string
        phone:
          description: School phone number
          type: string
        privateCoed:
          description: Coed/Boys/Girls (private schools only)
          type: string
        privateDays:
          description: Days in the school year (private schools only)
          format: int32
          type: integer
        privateHasLibrary:
          description: Indicates if the school has a library (private schools only)
          type: boolean
        privateHours:
          description: Hours in the school day (private schools only)
          format: double
          type: number
        privateOrientation:
          description: Affiliation of the school (private schools only)
          type: string
        rankHistory:
          description: "SchoolDigger yearly rank history of the school. To retrieve\
            \ all years, call /schools/{id}."
          items:
            $ref: '#/components/schemas/APIRankHistory'
          type: array
        rankMovement:
          description: Returns the movement of rank for this school between current
            and previous year
          format: int32
          type: integer
        schoolLevel:
          description: "The level of school (Elementary, Middle, High, Private, Alternative)"
          type: string
        schoolName:
          description: School name
          type: string
        schoolYearlyDetails:
          description: "School Yearly metrics. To retrieve all years, call /schools/{id}."
          items:
            $ref: '#/components/schemas/APIYearlyDemographics'
          type: array
        schoolid:
          description: "SchoolDigger School ID Number (12 digits). Use /schools/{schoolID}\
            \ to retrieve the full school record"
          type: string
        url:
          description: SchoolDigger URL for this school
          type: string
        urlCompare:
          description: SchoolDigger URL for comparing this school to others
          type: string
      type: object
    APISchoolList:
      example:
        schoolList:
        - isCharterSchool: isCharterSchool
          distance: 2.3021358869347655
          privateOrientation: privateOrientation
          isMagnetSchool: isMagnetSchool
          privateDays: 7
          county:
            countyURL: countyURL
            countyName: countyName
          isPrivate: true
          schoolYearlyDetails:
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          locationIsWithinBoundary: true
          privateCoed: privateCoed
          privateHasLibrary: true
          isTitleISchool: isTitleISchool
          hasBoundary: true
          schoolName: schoolName
          urlCompare: urlCompare
          schoolLevel: schoolLevel
          rankHistory:
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          isTitleISchoolwideSchool: isTitleISchoolwideSchool
          rankMovement: 1
          url: url
          privateHours: 9.301444243932576
          highGrade: highGrade
          isVirtualSchool: isVirtualSchool
          phone: phone
          district:
            districtID: districtID
            districtName: districtName
            url: url
            rankURL: rankURL
          schoolid: schoolid
        - isCharterSchool: isCharterSchool
          distance: 2.3021358869347655
          privateOrientation: privateOrientation
          isMagnetSchool: isMagnetSchool
          privateDays: 7
          county:
            countyURL: countyURL
            countyName: countyName
          isPrivate: true
          schoolYearlyDetails:
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          locationIsWithinBoundary: true
          privateCoed: privateCoed
          privateHasLibrary: true
          isTitleISchool: isTitleISchool
          hasBoundary: true
          schoolName: schoolName
          urlCompare: urlCompare
          schoolLevel: schoolLevel
          rankHistory:
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          isTitleISchoolwideSchool: isTitleISchoolwideSchool
          rankMovement: 1
          url: url
          privateHours: 9.301444243932576
          highGrade: highGrade
          isVirtualSchool: isVirtualSchool
          phone: phone
          district:
            districtID: districtID
            districtName: districtName
            url: url
            rankURL: rankURL
          schoolid: schoolid
        numberOfPages: 0
        numberOfSchools: 6
      properties:
        numberOfPages:
          description: The total count of pages in your query list based on given
            per_page value
          format: int32
          type: integer
        numberOfSchools:
          description: The total count of schools that match your query
          format: int32
          type: integer
        schoolList:
          items:
            $ref: '#/components/schemas/APISchool1Summary'
          type: array
      type: object
    APISchoolListRank:
      example:
        schoolList:
        - isCharterSchool: isCharterSchool
          distance: 2.3021358869347655
          privateOrientation: privateOrientation
          isMagnetSchool: isMagnetSchool
          privateDays: 7
          county:
            countyURL: countyURL
            countyName: countyName
          isPrivate: true
          schoolYearlyDetails:
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          locationIsWithinBoundary: true
          privateCoed: privateCoed
          privateHasLibrary: true
          isTitleISchool: isTitleISchool
          hasBoundary: true
          schoolName: schoolName
          urlCompare: urlCompare
          schoolLevel: schoolLevel
          rankHistory:
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          isTitleISchoolwideSchool: isTitleISchoolwideSchool
          rankMovement: 1
          url: url
          privateHours: 9.301444243932576
          highGrade: highGrade
          isVirtualSchool: isVirtualSchool
          phone: phone
          district:
            districtID: districtID
            districtName: districtName
            url: url
            rankURL: rankURL
          schoolid: schoolid
        - isCharterSchool: isCharterSchool
          distance: 2.3021358869347655
          privateOrientation: privateOrientation
          isMagnetSchool: isMagnetSchool
          privateDays: 7
          county:
            countyURL: countyURL
            countyName: countyName
          isPrivate: true
          schoolYearlyDetails:
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          - numberofWhiteStudents: 8
            year: 3
            numberofTwoOrMoreRaceStudents: 9
            percentofUnspecifiedRaceStudents: 6.878052220127876
            pupilTeacherRatio: 6.704019297950036
            numberofAsianStudents: 1
            numberOfStudents: 6
            numberofIndianStudents: 5
            percentofWhiteStudents: 5.944895607614016
            percentofAfricanAmericanStudents: 6.438423552598547
            numberofHispanicStudents: 4
            numberofPacificIslanderStudents: 9
            percentofIndianStudents: 1.284659006116532
            percentFreeDiscLunch: 9.018348186070783
            teachersFulltime: 3.353193347011243
            percentofHispanicStudents: 6.965117697638846
            percentofTwoOrMoreRaceStudents: 6.778324963048013
            numberofAfricanAmericanStudents: 7
            numberofUnspecifiedRaceStudents: 6
            percentofAsianStudents: 3.5571952270680973
            percentofPacificIslanderStudents: 2.8841621266687802
          locationIsWithinBoundary: true
          privateCoed: privateCoed
          privateHasLibrary: true
          isTitleISchool: isTitleISchool
          hasBoundary: true
          schoolName: schoolName
          urlCompare: urlCompare
          schoolLevel: schoolLevel
          rankHistory:
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          - rankOf: 4
            rankStars: 7
            year: 1
            rankLevel: rankLevel
            rankStatewidePercentage: 1.2315135367772556
            rank: 2
            averageStandardScore: 3.616076749251911
          lowGrade: lowGrade
          address:
            zip: zip
            cityURL: cityURL
            city: city
            stateFull: stateFull
            zipURL: zipURL
            latLong:
              latitude: 0.8008281904610115
              longitude: 6.027456183070403
            street: street
            html: html
            zip4: zip4
            state: state
          isTitleISchoolwideSchool: isTitleISchoolwideSchool
          rankMovement: 1
          url: url
          privateHours: 9.301444243932576
          highGrade: highGrade
          isVirtualSchool: isVirtualSchool
          phone: phone
          district:
            districtID: districtID
            districtName: districtName
            url: url
            rankURL: rankURL
          schoolid: schoolid
        numberOfPages: 0
        rankYearsAvailable:
        - 5
        - 5
        rankYearCompare: 5
        numberOfSchools: 6
        rankYear: 1
      properties:
        numberOfPages:
          description: The total count of pages this ranking list based on given per_page
            value
          format: int32
          type: integer
        numberOfSchools:
          description: The total count of schools in this ranking list
          format: int32
          type: integer
        rankYear:
          description: Year this ranking list represents (2018 = 2017-18)
          format: int32
          type: integer
        rankYearCompare:
          description: Year rankings returned for comparison (2018 = 2017-18)
          format: int32
          type: integer
        rankYearsAvailable:
          description: The years for which SchoolDigger rankings are available for
            this state and level
          items:
            format: int32
            type: integer
          type: array
        schoolList:
          description: The schools in the ranking list
          items:
            $ref: '#/components/schemas/APISchool1Summary'
          type: array
      type: object
    APITestScore:
      example:
        numTier3: 2
        numTier2: 3
        numTier1: 9
        numTier5: 7
        numTier4: 4
        meanScaledScore: 7.0614014
        percentTier4: 1.1730742
        percentTier3: 7.4577446
        percentTier5: 4.9652185
        percentTier2: 6.846853
        percentTier1: 1.4894159
        studentsTested: 9
        numberMetStandard: 1.2315135
        studentsEligible: 5
        percentMetStandard: 1.0246457
      properties:
        meanScaledScore:
          description: Mean scale score
          format: float
          type: number
        numTier1:
          description: Count of students performing at tier 1 (Enterprise API level
            only)
          format: int32
          type: integer
        numTier2:
          description: Count of students performing at tier 2 (Enterprise API level
            only)
          format: int32
          type: integer
        numTier3:
          description: Count of students performing at tier 3 (Enterprise API level
            only)
          format: int32
          type: integer
        numTier4:
          description: Count of students performing at tier 4 (Enterprise API level
            only)
          format: int32
          type: integer
        numTier5:
          description: Count of students performing at tier 5 (Enterprise API level
            only)
          format: int32
          type: integer
        numberMetStandard:
          description: Count of students meeting state standard
[...]
