openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on the ApiVersionSet
    entity associated with your Azure API Management deployment. Using this entity
    you create and manage API Version Sets that are used to group APIs for consistent
    versioning.
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimversionsets.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimversionsets
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets
  : get:
      description: Lists a collection of API Version Sets in the specified service
        instance.
      operationId: api_version_set_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: |-
          | Field            | Supported operators    | Supported functions               |
          |------------------|------------------------|-----------------------------------|
          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state            | eq                     | N/A                               |
          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetCollection'
          description: Lists a collection of Api Version Set entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementListApiVersionSets:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/vs1
                  name: vs1
                  properties:
                    description: Version configuration
                    displayName: api set 1
                    versioningScheme: Segment
                  type: Microsoft.ApiManagement/service/api-version-sets
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/vs2
                  name: vs2
                  properties:
                    description: Version configuration 2
                    displayName: api set 2
                    versioningScheme: Query
                  type: Microsoft.ApiManagement/service/api-version-sets
      x-ms-odata: '#/definitions/ApiVersionSetContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_version_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets/{versionSetId}
  : delete:
      description: Deletes specific Api Version Set.
      operationId: api_version_set_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: version_set_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The ApiVersion Set details were successfully deleted.
        "204":
          content: {}
          description: The ApiVersion Set details were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementDeleteApiVersionSet:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: a1
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.api_version_sets_controller
    get:
      description: Gets the details of the Api Version Set specified by its identifier.
      operationId: api_version_set_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: versionSetId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Gets the specified Api Version Set entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementGetApiVersionSet:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: vs1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/vs1
                name: vs1
                properties:
                  description: Version configuration
                  displayName: Version Set 1
                  versioningScheme: Segment
                type: Microsoft.ApiManagement/service/api-version-sets
      x-openapi-router-controller: openapi_server.controllers.api_version_sets_controller
    head:
      description: Gets the entity state (Etag) version of the Api Version Set specified
        by its identifier.
      operationId: api_version_set_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: version_set_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Specified Api Version Set entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementHeadApiVersionSet:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: vs1
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.api_version_sets_controller
    patch:
      description: Updates the details of the Api VersionSet specified by its identifier.
      operationId: api_version_set_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: version_set_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiVersionSetUpdateParameters'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The Api Version Set details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: |-
            *** Error Responses: ***

             * 4XX Error response giving details why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementUpdateApiVersionSet:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            parameters:
              properties:
                description: Version configuration
                displayName: api set 1
                versioningScheme: Segment
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: api1
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_version_sets_controller
    put:
      description: Creates or Updates a Api Version Set.
      operationId: api_version_set_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: version_set_id
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiVersionSetContract'
        description: Create or update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Api Version Set was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Api Version Set was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementCreateApiVersionSet:
          parameters:
            api-version: 2018-01-01
            parameters:
              properties:
                description: Version configuration
                displayName: api set 1
                versioningScheme: Segment
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: api1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/api1
                name: api1
                properties:
                  description: Version configuration
                  displayName: api set 1
                  versioningScheme: Segment
                type: Microsoft.ApiManagement/service/api-version-sets
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/api1
                name: api1
                properties:
                  description: Version configuration
                  displayName: api set 1
                  versioningScheme: Segment
                type: Microsoft.ApiManagement/service/api-version-sets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_version_sets_controller
components:
  parameters:
    ApiVersionSetIdParameter:
      description: Api Version Set identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: versionSetId
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApiVersionSetCollection:
      description: Paged Api Version Set list representation.
      example:
        value:
        - properties:
            versioningScheme: Segment
            displayName: displayName
        - properties:
            versioningScheme: Segment
            displayName: displayName
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ApiVersionSetContract'
          title: value
          type: array
      title: ApiVersionSetCollection
      type: object
    ApiVersionSetContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Api Version Set Contract details.
      example:
        properties:
          versioningScheme: Segment
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/ApiVersionSetContractProperties'
      title: ApiVersionSetContract
    ApiVersionSetContractProperties:
      allOf:
      - $ref: '#/components/schemas/ApiVersionSetEntityBase'
      description: Properties of an API Version Set.
      example:
        versioningScheme: Segment
        displayName: displayName
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          title: displayName
          type: string
        versioningScheme:
          description: An value that determines where the API Version identifer will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          title: versioningScheme
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
            - description: The API Version is passed in a path segment.
              value: Segment
            - description: The API Version is passed in a query parameter.
              value: Query
            - description: The API Version is passed in a HTTP header.
              value: Header
      required:
      - displayName
      - versioningScheme
      title: ApiVersionSetContractProperties
    ApiVersionSetEntityBase:
      description: Api Version set base parameters
      properties:
        description:
          description: Description of API Version Set.
          title: description
          type: string
        versionHeaderName:
          description: Name of HTTP header parameter that indicates the API Version
            if versioningScheme is set to `header`.
          maxLength: 100
          minLength: 1
          title: versionHeaderName
          type: string
        versionQueryName:
          description: Name of query parameter that indicates the API Version if versioningScheme
            is set to `query`.
          maxLength: 100
          minLength: 1
          title: versionQueryName
          type: string
      title: ApiVersionSetEntityBase
      type: object
    ApiVersionSetUpdateParameters:
      description: Parameters to update or create an Api Version Set Contract.
      example:
        properties:
          versioningScheme: Segment
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/ApiVersionSetUpdateParametersProperties'
      title: ApiVersionSetUpdateParameters
      type: object
    ApiVersionSetUpdateParametersProperties:
      allOf:
      - $ref: '#/components/schemas/ApiVersionSetEntityBase'
      description: Properties used to create or update an API Version Set.
      example:
        versioningScheme: Segment
        displayName: displayName
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          title: displayName
          type: string
        versioningScheme:
          description: An value that determines where the API Version identifer will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          title: versioningScheme
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
            - description: The API Version is passed in a path segment.
              value: Segment
            - description: The API Version is passed in a query parameter.
              value: Query
            - description: The API Version is passed in a HTTP header.
              value: Header
      title: ApiVersionSetUpdateParametersProperties
    ApiVersionSet_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: ApiVersionSet_ListByService_default_response_error_details_inner
      type: object
    ApiVersionSet_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: ApiVersionSet_ListByService_default_response_error
      type: object
    ApiVersionSet_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response_error'
      title: ApiVersionSet_ListByService_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
