openapi: 3.0.1
info:
  description: Endpoints for system utilities. e.g.Health
  title: OnSched API Utility
  version: v1
  x-apisguru-categories:
  - collaboration
  x-logo:
    url: https://onsched.com/img/apple-touch-icon-57x57-precomposed.ico
  x-origin:
  - format: openapi
    url: https://sandbox-api.onsched.com/swagger/utility/swagger.json
    version: "3.0"
  x-providerName: onsched.com
  x-serviceName: utility
servers:
- url: https://sandbox-api.onsched.com/
security:
- oauth2:
  - OnSchedApi
paths:
  /utility/v1/health/heartbeat:
    get:
      operationId: utility_v1_health_heartbeat_get
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Success
      tags:
      - Health
      x-openapi-router-controller: openapi_server.controllers.health_controller
  /utility/v1/health/threadinfo:
    get:
      operationId: utility_v1_health_threadinfo_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadPoolInfo'
          description: Success
      tags:
      - Health
      x-openapi-router-controller: openapi_server.controllers.health_controller
components:
  schemas:
    ThreadPoolInfo:
      additionalProperties: false
      example:
        minWorkerThreads: 2
        occupiedWorkerThreads: 9
        occupiedCompletionThreads: 7
        availableWorkerThreads: 6
        maxWorkerThreads: 5
        minCompletionThreads: 5
        availableCompletionThreads: 0
        maxCompletionThreads: 1
      properties:
        availableCompletionThreads:
          format: int32
          title: availableCompletionThreads
          type: integer
        availableWorkerThreads:
          format: int32
          title: availableWorkerThreads
          type: integer
        maxCompletionThreads:
          format: int32
          title: maxCompletionThreads
          type: integer
        maxWorkerThreads:
          format: int32
          title: maxWorkerThreads
          type: integer
        minCompletionThreads:
          format: int32
          title: minCompletionThreads
          type: integer
        minWorkerThreads:
          format: int32
          title: minWorkerThreads
          type: integer
        occupiedCompletionThreads:
          format: int32
          title: occupiedCompletionThreads
          type: integer
        occupiedWorkerThreads:
          format: int32
          title: occupiedWorkerThreads
          type: integer
      title: ThreadPoolInfo
      type: object
  securitySchemes:
    oauth2:
      flows:
        clientCredentials:
          scopes:
            OnSchedApi: Consumer and Setup Interface
            distance: Travel and Distance calculations
          tokenUrl: https://sandbox-identity.onsched.com/connect/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth2
