openapi: 3.0.0
info:
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
    x-twitter: meraki
  description: |
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.

    > Date: 05 April, 2023
    >
    > [Recent Updates](https://meraki.io/whats-new/)

    ---

    [API Documentation](https://meraki.io/api)

    [Community Support](https://meraki.io/community)

    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: 1.32.0
  x-apisguru-categories:
  - iot
  - enterprise
  x-logo:
    url: https://n140.meraki.com/images/cisco-meraki.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec2.json
    version: "3.0"
  x-preferred: false
  x-providerName: meraki.com
servers:
- url: https://api.meraki.com/api/v1
security:
- meraki_api_key: []
tags:
- name: organizations
- name: networks
- name: devices
- name: insight
- name: wireless
- name: camera
- name: appliance
- name: switch
- name: cellularGateway
- name: sm
- name: sensor
- name: administered
- name: accessControlLists
- name: accessPolicies
- name: acls
- name: actionBatches
- name: adaptivePolicy
- name: addresses
- name: admins
- name: airMarshal
- name: alertTypes
- name: alerts
- name: alternateManagementInterface
- name: analytics
- name: apiRequests
- name: apnsCert
- name: appliances
- name: applicationCategories
- name: applicationUsage
- name: applications
- name: arpInspection
- name: artifacts
- name: authenticationToken
- name: availabilities
- name: bandwidthUsageHistory
- name: bgp
- name: billing
- name: bluetooth
- name: bluetoothClients
- name: bonjourForwarding
- name: brandingPolicies
- name: byClient
- name: byDevice
- name: byEnergyUsage
- name: byInterval
- name: byMetric
- name: bySwitch
- name: byUsage
- name: byUtilization
- name: bypassActivationLockAttempts
- name: categories
- name: cellular
- name: cellularFirewallRules
- name: cellularUsageHistory
- name: certs
- name: channelUtilization
- name: channelUtilizationHistory
- name: claim
- name: clientCountHistory
- name: clients
- name: cloudMonitoring
- name: configTemplates
- name: configurationChanges
- name: configure
- name: connectionStats
- name: connectivity
- name: connectivityEvents
- name: connectivityMonitoringDestinations
- name: contentFiltering
- name: coterm
- name: current
- name: customAnalytics
- name: customPerformanceClasses
- name: dataRateHistory
- name: delegated
- name: desktopLogs
- name: deviceCommandLogs
- name: deviceProfiles
- name: deviceTypeGroupPolicies
- name: dhcp
- name: dhcpServerPolicy
- name: dscpTaggingOptions
- name: dscpToCosMappings
- name: eapOverride
- name: earlyAccess
- name: ethernet
- name: eventTypes
- name: events
- name: exportEvents
- name: failedConnections
- name: features
- name: fields
- name: firewall
- name: firewalledServices
- name: firmware
- name: firmwareUpgrades
- name: floorPlans
- name: groupPolicies
- name: groups
- name: health
- name: healthByTime
- name: history
- name: hotspot20
- name: httpServers
- name: identities
- name: identityPsks
- name: idps
- name: imports
- name: inboundCellularFirewallRules
- name: inboundFirewallRules
- name: interfaces
- name: intrusion
- name: inventory
- name: l3FirewallRules
- name: l7FirewallRules
- name: lan
- name: latencyHistory
- name: latencyStats
- name: latest
- name: licenses
- name: licensing
- name: linkAggregations
- name: linkLayer
- name: live
- name: liveTools
- name: lldpCdp
- name: loginSecurity
- name: logs
- name: lossAndLatencyHistory
- name: malware
- name: managementInterface
- name: manufacturers
- name: me
- name: merakiAuthUsers
- name: meshStatuses
- name: models
- name: monitor
- name: monitoredMediaServers
- name: mqttBrokers
- name: mtu
- name: multicast
- name: netflow
- name: networkAdapters
- name: networkHealth
- name: objectDetectionModels
- name: onboarding
- name: oneToManyNatRules
- name: oneToOneNatRules
- name: openapiSpec
- name: optIns
- name: order
- name: ospf
- name: overview
- name: packets
- name: payloadTemplates
- name: performance
- name: performanceHistory
- name: pii
- name: piiKeys
- name: ping
- name: pingDevice
- name: policies
- name: policy
- name: policyObjects
- name: portForwardingRules
- name: portSchedules
- name: ports
- name: powerModules
- name: prefixes
- name: prepare
- name: priorities
- name: profiles
- name: qosRules
- name: qualityAndRetention
- name: qualityRetentionProfiles
- name: radio
- name: readings
- name: recent
- name: relationships
- name: rendezvousPoints
- name: requests
- name: responseCodes
- name: restrictions
- name: rfProfiles
- name: rollbacks
- name: routing
- name: rules
- name: saml
- name: samlRoles
- name: schedules
- name: search
- name: security
- name: securityCenters
- name: seen
- name: sense
- name: servers
- name: settings
- name: signalQualityHistory
- name: sims
- name: singleLan
- name: siteToSiteVpn
- name: smDevicesForKey
- name: smOwnersForKey
- name: snmp
- name: softwares
- name: splash
- name: splashAuthorizationStatus
- name: splashLoginAttempts
- name: ssids
- name: stacks
- name: staged
- name: stages
- name: staticRoutes
- name: statics
- name: stats
- name: status
- name: statuses
- name: stormControl
- name: stp
- name: subnetPool
- name: subnets
- name: summary
- name: switches
- name: syslogServers
- name: targetGroups
- name: thirdPartyVPNPeers
- name: top
- name: topology
- name: traffic
- name: trafficAnalysis
- name: trafficHistory
- name: trafficShaping
- name: trustedAccessConfigs
- name: trustedServers
- name: upgrades
- name: uplink
- name: uplinkBandwidth
- name: uplinkSelection
- name: uplinks
- name: uplinksLossAndLatency
- name: usageHistories
- name: usageHistory
- name: userAccessDevices
- name: users
- name: v4
- name: video
- name: videoLink
- name: vlanAssignments
- name: vlans
- name: vmx
- name: vpn
- name: vpnFirewallRules
- name: vppAccounts
- name: warmSpare
- name: warnings
- name: webhookTests
- name: webhooks
- name: wirelessProfiles
- name: wlanLists
- name: zones
paths:
  /administered/identities/me:
    get:
      description: Returns the identity of the current user.
      operationId: get_administered_identities_me
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    authentication:
                      api:
                        key:
                          created: true
                      mode: email
                      saml:
                        enabled: false
                      twoFactor:
                        enabled: false
                    email: miles@meraki.com
                    lastUsedDashboardAt: 2018-02-11T00:00:00.090210Z
                    name: Miles Meraki
              schema:
                $ref: '#/components/schemas/getAdministeredIdentitiesMe_200_response'
          description: Successful operation
      summary: Returns the identity of the current user.
      tags:
      - administered
      - monitor
      - identities
      - me
      x-openapi-router-controller: openapi_server.controllers.administered_controller
  /devices/{serial}:
    get:
      description: Return a single device
      operationId: get_device
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    address: 1600 Pennsylvania Ave
                    beaconIdParams:
                      major: 5
                      minor: 3
                      uuid: 00000000-0000-0000-0000-000000000000
                    firmware: wireless-25-14
                    floorPlanId: g_1234567
                    lanIp: 1.2.3.4
                    lat: 37.4180951010362
                    lng: -122.098531723022
                    mac: 00:11:22:33:44:55
                    model: MR34
                    name: My AP
                    networkId: N_24329156
                    notes: My AP's note
                    serial: Q234-ABCD-5678
                    tags:
                    - recently-added
              schema:
                type: object
          description: Successful operation
      summary: Return a single device
      tags:
      - devices
      - configure
      x-openapi-router-controller: openapi_server.controllers.devices_controller
    put:
      description: Update the attributes of a device
      operationId: update_device
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDevice_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    address: 1600 Pennsylvania Ave
                    beaconIdParams:
                      major: 5
                      minor: 3
                      uuid: 00000000-0000-0000-0000-000000000000
                    firmware: wireless-25-14
                    floorPlanId: g_1234567
                    lanIp: 1.2.3.4
                    lat: 37.4180951010362
                    lng: -122.098531723022
                    mac: 00:11:22:33:44:55
                    model: MR34
                    name: My AP
                    networkId: N_24329156
                    notes: My AP's note
                    serial: Q234-ABCD-5678
                    tags:
                    - recently-added
              schema:
                type: object
          description: Successful operation
      summary: Update the attributes of a device
      tags:
      - devices
      - configure
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/appliance/dhcp/subnets:
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: get_device_appliance_dhcp_subnets
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - freeCount: 251
                    subnet: 192.168.1.0/24
                    usedCount: 2
                    vlanId: 100
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the DHCP subnet information for an appliance
      tags:
      - appliance
      - monitor
      - dhcp
      - subnets
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
  /devices/{serial}/appliance/performance:
    get:
      description: "Return the performance score for a single MX. Only primary MX\
        \ devices supported. If no data is available, a 204 error code is returned."
      operationId: get_device_appliance_performance
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    perfScore: 10
              schema:
                type: object
          description: Successful operation
      summary: Return the performance score for a single MX
      tags:
      - appliance
      - monitor
      - performance
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
  /devices/{serial}/appliance/prefixes/delegated:
    get:
      description: Return current delegated IPv6 prefixes on an appliance.
      operationId: get_device_appliance_prefixes_delegated
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - counts:
                      assigned: 2
                      available: 253
                    description: My ISP provider
                    expiresAt: 2018-05-12T00:00:00Z
                    isPreferred: true
                    method: auto
                    origin:
                      interface: wan1
                    prefix: 2001:db8:3c4d:15::/64
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return current delegated IPv6 prefixes on an appliance.
      tags:
      - appliance
      - monitor
      - prefixes
      - delegated
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
  /devices/{serial}/appliance/prefixes/delegated/vlanAssignments:
    get:
      description: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      operationId: get_device_appliance_prefixes_delegated_vlan_assignments
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - ipv6:
                      address: 2001:db8:3c4d:15::1
                      linkLocal:
                        address: 2001:db8:3c4d:15::1
                      prefix: 2001:db8:3c4d:15::/64
                      solicitedNodeMulticast:
                        address: 2001:db8:3c4d:15::1
                    origin:
                      interface: wan1
                      prefix: 2001:db8:3c4d:15::/64
                    status: Active
                    vlan:
                      id: 100
                      name: My VLAN
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      tags:
      - appliance
      - monitor
      - prefixes
      - delegated
      - vlanAssignments
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
  /devices/{serial}/appliance/uplinks/settings:
    get:
      description: Return the uplink settings for an MX appliance
      operationId: get_device_appliance_uplinks_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    interfaces:
                      wan1:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                              - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                              - 1001:4860:4860::8888
                              - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
                      wan2:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                              - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                              - 1001:4860:4860::8888
                              - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
              schema:
                $ref: '#/components/schemas/getDeviceApplianceUplinksSettings_200_response'
          description: Successful operation
      summary: Return the uplink settings for an MX appliance
      tags:
      - appliance
      - configure
      - uplinks
      - settings
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
    put:
      description: Update the uplink settings for an MX appliance
      operationId: update_device_appliance_uplinks_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceApplianceUplinksSettings_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    interfaces:
                      wan1:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                              - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                              - 1001:4860:4860::8888
                              - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
                      wan2:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                              - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                              - 1001:4860:4860::8888
                              - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
              schema:
                $ref: '#/components/schemas/getDeviceApplianceUplinksSettings_200_response'
          description: Successful operation
      summary: Update the uplink settings for an MX appliance
      tags:
      - appliance
      - configure
      - uplinks
      - settings
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
      x-codegen-request-body-name: body
  /devices/{serial}/appliance/vmx/authenticationToken:
    post:
      description: Generate a new vMX authentication token
      operationId: create_device_appliance_vmx_authentication_token
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    expiresAt: 2021-06-18T12:40:10Z
                    token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
              schema:
                $ref: '#/components/schemas/createDeviceApplianceVmxAuthenticationToken_201_response'
          description: Successful operation
      summary: Generate a new vMX authentication token
      tags:
      - appliance
      - configure
      - vmx
      - authenticationToken
      x-openapi-router-controller: openapi_server.controllers.appliance_controller
  /devices/{serial}/blinkLeds:
    post:
      description: Blink the LEDs on a device
      operationId: blink_device_leds
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blinkDeviceLeds_request'
        x-body-name: body
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    duration: 20
                    duty: 50
                    period: 160
              schema:
                type: object
          description: Successful operation
      summary: Blink the LEDs on a device
      tags:
      - devices
      - liveTools
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/camera/analytics/live:
    get:
      description: Returns live state from camera of analytics zones
      operationId: get_device_camera_analytics_live
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ts: 2018-08-15T18:32:38.123Z
                    zones:
                      "0":
                        person: 0
              schema:
                type: object
          description: Successful operation
      summary: Returns live state from camera of analytics zones
      tags:
      - camera
      - monitor
      - analytics
      - live
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/analytics/overview:
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: get_device_camera_analytics_overview
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days. The default is 1 hour."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - averageCount: 5
                    endTs: 2018-08-15T18:33:38.123Z
                    entrances: 254
                    startTs: 2018-08-15T18:32:38.123Z
                    zoneId: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
      - camera
      - monitor
      - analytics
      - overview
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/analytics/recent:
    get:
      description: Returns most recent record for analytics zones
      operationId: get_device_camera_analytics_recent
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - averageCount: 2.54
                    endTs: 2018-08-15T18:33:38.123Z
                    entrances: 10
                    startTs: 2018-08-15T18:32:38.123Z
                    zoneId: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns most recent record for analytics zones
      tags:
      - camera
      - monitor
      - analytics
      - recent
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/analytics/zones:
    get:
      description: Returns all configured analytic zones for this camera
      operationId: get_device_camera_analytics_zones
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - id: "0"
                    label: Full Frame
                    regionOfInterest:
                      x0: "0.00"
                      x1: "1.00"
                      y0: "0.00"
                      y1: "1.00"
                    type: occupancy
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns all configured analytic zones for this camera
      tags:
      - camera
      - monitor
      - analytics
      - zones
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/analytics/zones/{zoneId}/history:
    get:
      description: Return historical records for analytic zones
      operationId: get_device_camera_analytics_zone_history
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: zoneId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          14 hours after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 14 hours. The default is 1 hour."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The time resolution in seconds for returned data. The valid\
          \ resolutions are: 60. The default is 60."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: integer
        style: form
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - averageCount: 1.5
                    endTs: 2018-08-15T18:33:38.123Z
                    entrances: 5
                    startTs: 2018-08-15T18:32:38.123Z
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return historical records for analytic zones
      tags:
      - camera
      - monitor
      - analytics
      - zones
      - history
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/customAnalytics:
    get:
      description: Return custom analytics settings for a camera
      operationId: get_device_camera_custom_analytics
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    artifactId: "1"
                    enabled: true
                    parameters:
                    - name: detection_threshold
                      value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Return custom analytics settings for a camera
      tags:
      - camera
      - configure
      - customAnalytics
      x-openapi-router-controller: openapi_server.controllers.camera_controller
    put:
      description: Update custom analytics settings for a camera
      operationId: update_device_camera_custom_analytics
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraCustomAnalytics_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    artifactId: "1"
                    enabled: true
                    parameters:
                    - name: detection_threshold
                      value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Update custom analytics settings for a camera
      tags:
      - camera
      - configure
      - customAnalytics
      x-openapi-router-controller: openapi_server.controllers.camera_controller
      x-codegen-request-body-name: body
  /devices/{serial}/camera/generateSnapshot:
    post:
      description: Generate a snapshot of what the camera sees at the specified time
        and return a link to that image.
      operationId: generate_device_camera_snapshot
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generateDeviceCameraSnapshot_request'
        x-body-name: body
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
                    url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
              schema:
                type: object
          description: Successful operation
      summary: Generate a snapshot of what the camera sees at the specified time and
        return a link to that image.
      tags:
      - camera
      - monitor
      x-openapi-router-controller: openapi_server.controllers.camera_controller
      x-codegen-request-body-name: body
  /devices/{serial}/camera/qualityAndRetention:
    get:
      description: Returns quality and retention settings for the given camera
      operationId: get_device_camera_quality_and_retention
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    profileId: "1234"
                    quality: Standard
                    resolution: 1280x720
                    restrictedBandwidthModeEnabled: false
              schema:
                type: object
          description: Successful operation
      summary: Returns quality and retention settings for the given camera
      tags:
      - camera
      - configure
      - qualityAndRetention
      x-openapi-router-controller: openapi_server.controllers.camera_controller
    put:
      description: Update quality and retention settings for the given camera
      operationId: update_device_camera_quality_and_retention
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraQualityAndRetention_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    profileId: "1234"
                    quality: Standard
                    resolution: 1280x720
                    restrictedBandwidthModeEnabled: false
              schema:
                type: object
          description: Successful operation
      summary: Update quality and retention settings for the given camera
      tags:
      - camera
      - configure
      - qualityAndRetention
      x-openapi-router-controller: openapi_server.controllers.camera_controller
      x-codegen-request-body-name: body
  /devices/{serial}/camera/sense:
    get:
      description: Returns sense settings for a given camera
      operationId: get_device_camera_sense
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioDetection:
                      enabled: false
                    mqttBrokerId: "1234"
                    mqttTopics:
                    - /merakimv/Q2AA-AAAA-1111/raw_detections
                    - /merakimv/Q2AA-AAAA-1111/light
                    senseEnabled: true
              schema:
                type: object
          description: Successful operation
      summary: Returns sense settings for a given camera
      tags:
      - camera
      - configure
      - sense
      x-openapi-router-controller: openapi_server.controllers.camera_controller
    put:
      description: Update sense settings for the given camera
      operationId: update_device_camera_sense
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraSense_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioDetection:
                      enabled: false
                    mqttBrokerId: "1234"
                    mqttTopics:
                    - /merakimv/Q2AA-AAAA-1111/raw_detections
                    - /merakimv/Q2AA-AAAA-1111/light
                    senseEnabled: true
              schema:
                type: object
          description: Successful operation
      summary: Update sense settings for the given camera
      tags:
      - camera
      - configure
      - sense
      x-openapi-router-controller: openapi_server.controllers.camera_controller
      x-codegen-request-body-name: body
  /devices/{serial}/camera/sense/objectDetectionModels:
    get:
      description: Returns the MV Sense object detection model list for the given
        camera
      operationId: get_device_camera_sense_object_detection_models
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - description: Model A
                    id: "0"
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns the MV Sense object detection model list for the given camera
      tags:
      - camera
      - configure
      - sense
      - objectDetectionModels
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/video/settings:
    get:
      description: Returns video settings for the given camera
      operationId: get_device_camera_video_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    externalRtspEnabled: true
                    rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Returns video settings for the given camera
      tags:
      - camera
      - configure
      - video
      - settings
      x-openapi-router-controller: openapi_server.controllers.camera_controller
    put:
      description: Update video settings for the given camera
      operationId: update_device_camera_video_settings
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraVideoSettings_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    externalRtspEnabled: true
                    rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Update video settings for the given camera
      tags:
      - camera
      - configure
      - video
      - settings
      x-openapi-router-controller: openapi_server.controllers.camera_controller
      x-codegen-request-body-name: body
  /devices/{serial}/camera/videoLink:
    get:
      description: "Returns video link to the specified camera. If a timestamp is\
        \ supplied, it links to that timestamp."
      operationId: get_device_camera_video_link
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: "[optional] The video link will start at this time. The timestamp\
          \ should be a string in ISO8601 format. If no timestamp is specified, we\
          \ will assume current time."
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
              schema:
                type: object
          description: Successful operation
      summary: Returns video link to the specified camera
      tags:
      - camera
      - configure
      - videoLink
      x-openapi-router-controller: openapi_server.controllers.camera_controller
  /devices/{serial}/camera/wirelessProfiles:
    get:
      description: Returns wireless profile assigned to the given camera
      operationId: get_device_camera_wireless_profiles
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ids:
                      backup: "1"
                      primary: "3"
                      secondary: "2"
              schema:
                type: object
          description: Successful operation
      summary: Returns wireless profile assigned to the given camera
      tags:
      - camera
      - configure
      - wirelessProfiles
      x-openapi-router-controller: openapi_server.controllers.camera_controller
    put:
      description: "Assign wireless profiles to the given camera. Incremental updates\
        \ are not supported, all profile assignment need to be supplied at once."
      operationId: update_device_camera_wireless_profiles
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraWirelessProfiles_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ids:
                      backup: "1"
                      primary: "3"
                      secondary: "2"
              schema:
                type: object
          description: Successful operation
      summary: Assign wireless profiles to the given camera
      tags:
      - camera
      - configure
      - wirelessProfiles
      x-openapi-router-controller: openapi_server.controllers.camera_controller
      x-codegen-request-body-name: body
  /devices/{serial}/cellular/sims:
    get:
      description: Return the SIM and APN configurations for a cellular device.
      operationId: get_device_cellular_sims
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sims:
                    - apns:
                      - allowedIpTypes:
                        - ipv4
                        - ipv6
                        authentication:
                          type: pap
                          username: milesmeraki
                        name: internet
                      isPrimary: true
                      slot: sim1
              schema:
                type: object
          description: Successful operation
      summary: Return the SIM and APN configurations for a cellular device.
      tags:
      - devices
      - configure
      - cellular
      - sims
      x-openapi-router-controller: openapi_server.controllers.devices_controller
    put:
      description: Updates the SIM and APN configurations for a cellular device.
      operationId: update_device_cellular_sims
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularSims_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sims:
                    - apns:
                      - allowedIpTypes:
                        - ipv4
                        - ipv6
                        authentication:
                          type: pap
                          username: milesmeraki
                        name: internet
                      isPrimary: true
                      slot: sim1
              schema:
                type: object
          description: Successful operation
      summary: Updates the SIM and APN configurations for a cellular device.
      tags:
      - devices
      - configure
      - cellular
      - sims
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/cellularGateway/lan:
    get:
      description: Show the LAN Settings of a MG
      operationId: get_device_cellular_gateway_lan
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceLanIp: 192.168.0.33
                    deviceName: name of the MG
                    deviceSubnet: 192.168.0.32/27
                    fixedIpAssignments:
                    - ip: 192.168.0.10
                      mac: 0b:00:00:00:00:ac
                      name: server 1
                    - ip: 192.168.0.20
                      mac: 0b:00:00:00:00:ab
                      name: server 2
                    reservedIpRanges:
                    - comment: A reserved IP range
                      end: 192.168.1.1
                      start: 192.168.1.0
              schema:
                type: object
          description: Successful operation
      summary: Show the LAN Settings of a MG
      tags:
      - cellularGateway
      - configure
      - lan
      x-openapi-router-controller: openapi_server.controllers.cellular_gateway_controller
    put:
      description: Update the LAN Settings for a single MG.
      operationId: update_device_cellular_gateway_lan
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularGatewayLan_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceLanIp: 192.168.0.33
                    deviceName: name of the MG
                    deviceSubnet: 192.168.0.32/27
                    fixedIpAssignments:
                    - ip: 192.168.0.10
                      mac: 0b:00:00:00:00:ac
                      name: server 1
                    - ip: 192.168.0.20
                      mac: 0b:00:00:00:00:ab
                      name: server 2
                    reservedIpRanges:
                    - comment: A reserved IP range
                      end: 192.168.1.1
                      start: 192.168.1.0
              schema:
                type: object
          description: Successful operation
      summary: Update the LAN Settings for a single MG.
      tags:
      - cellularGateway
      - configure
      - lan
      x-openapi-router-controller: openapi_server.controllers.cellular_gateway_controller
      x-codegen-request-body-name: body
  /devices/{serial}/cellularGateway/portForwardingRules:
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: get_device_cellular_gateway_port_forwarding_rules
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                    - access: any
                      lanIp: 172.31.128.5
                      localPort: "4"
                      name: test
                      protocol: tcp
                      publicPort: 11-12
                      uplink: both
                    - access: restricted
                      allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                      lanIp: 172.31.128.5
                      localPort: "5"
                      name: test 2
                      protocol: tcp
                      publicPort: "99"
                      uplink: both
              schema:
                type: object
          description: Successful operation
      summary: Returns the port forwarding rules for a single MG.
      tags:
      - cellularGateway
      - configure
      - portForwardingRules
      x-openapi-router-controller: openapi_server.controllers.cellular_gateway_controller
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: update_device_cellular_gateway_port_forwarding_rules
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularGatewayPortForwardingRules_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                    - access: any
                      lanIp: 172.31.128.5
                      localPort: "4"
                      name: test
                      protocol: tcp
                      publicPort: 11-12
                      uplink: both
                    - access: restricted
                      allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                      lanIp: 172.31.128.5
                      localPort: "5"
                      name: test 2
                      protocol: tcp
                      publicPort: "99"
                      uplink: both
              schema:
                type: object
          description: Successful operation
      summary: Updates the port forwarding rules for a single MG.
      tags:
      - cellularGateway
      - configure
      - portForwardingRules
      x-openapi-router-controller: openapi_server.controllers.cellular_gateway_controller
      x-codegen-request-body-name: body
  /devices/{serial}/clients:
    get:
      description: "List the clients of a device, up to a maximum of a month ago.\
        \ The usage of each client is returned in kilobytes. If the device is a switch,\
        \ the switchport is returned; otherwise the switchport field is null."
      operationId: get_device_clients
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - adaptivePolicyGroup: null
                    description: Miles's phone
                    dhcpHostname: MilesPhone
                    id: k74272e
                    ip: 1.2.3.4
                    mac: 22:33:44:55:66:77
                    mdnsName: Miles's phone
                    namedVlan: Named Vlan
                    switchport: null
                    usage:
                      recv: 61
                      sent: 138
                    user: milesmeraki
                    vlan: "255"
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "List the clients of a device, up to a maximum of a month ago"
      tags:
      - devices
      - monitor
      - clients
      x-openapi-router-controller: openapi_server.controllers.devices_controller
  /devices/{serial}/liveTools/ping:
    post:
      description: Enqueue a job to ping a target host from the device
      operationId: create_device_live_tools_ping
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceLiveToolsPing_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    pingId: "1284392014819"
                    request:
                      count: 2
                      serial: Q234-ABCD-5678
                      target: 75.75.75.75
                    status: complete
                    url: /devices/SERIAL/liveTools/ping/1284392014819
              schema:
                $ref: '#/components/schemas/createDeviceLiveToolsPing_201_response'
          description: Successful operation
      summary: Enqueue a job to ping a target host from the device
      tags:
      - devices
      - liveTools
      - ping
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/liveTools/ping/{id}:
    get:
      description: Return a ping job. Latency unit in response is in milliseconds.
        Size is in bytes.
      operationId: get_device_live_tools_ping
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    pingId: "1284392014819"
                    request:
                      count: 2
                      serial: Q234-ABCD-5678
                      target: 75.75.75.75
                    results:
                      latencies:
                        average: 15.8
                        maximum: 15.9
                        minimum: 15.8
                      loss:
                        percentage: 0
                      received: 5
                      replies:
                      - latency: 15.7
                        sequenceId: 1
                        size: 84
                      sent: 5
                    status: complete
                    url: /devices/SERIAL/liveTools/ping/1284392014819
              schema:
                $ref: '#/components/schemas/getDeviceLiveToolsPing_200_response'
          description: Successful operation
      summary: Return a ping job
      tags:
      - devices
      - liveTools
      - ping
      x-openapi-router-controller: openapi_server.controllers.devices_controller
  /devices/{serial}/liveTools/pingDevice:
    post:
      description: Enqueue a job to check connectivity status to the device
      operationId: create_device_live_tools_ping_device
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceLiveToolsPingDevice_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    pingId: "1284392014819"
                    request:
                      count: 2
                      serial: Q234-ABCD-5678
                      target: 75.75.75.75
                    status: complete
                    url: /devices/SERIAL/liveTools/ping/1284392014819
              schema:
                $ref: '#/components/schemas/createDeviceLiveToolsPing_201_response'
          description: Successful operation
      summary: Enqueue a job to check connectivity status to the device
      tags:
      - devices
      - liveTools
      - pingDevice
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/liveTools/pingDevice/{id}:
    get:
      description: Return a ping device job. Latency unit in response is in milliseconds.
        Size is in bytes.
      operationId: get_device_live_tools_ping_device
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    pingId: "1284392014819"
                    request:
                      count: 2
                      serial: Q234-ABCD-5678
                      target: 75.75.75.75
                    results:
                      latencies:
                        average: 15.8
                        maximum: 15.9
                        minimum: 15.8
                      loss:
                        percentage: 0
                      received: 5
                      replies:
                      - latency: 15.7
                        sequenceId: 1
                        size: 84
                      sent: 5
                    status: complete
                    url: /devices/SERIAL/liveTools/ping/1284392014819
              schema:
                $ref: '#/components/schemas/getDeviceLiveToolsPing_200_response'
          description: Successful operation
      summary: Return a ping device job
      tags:
      - devices
      - liveTools
      - pingDevice
      x-openapi-router-controller: openapi_server.controllers.devices_controller
  /devices/{serial}/lldpCdp:
    get:
      description: List LLDP and CDP information for a device
      operationId: get_device_lldp_cdp
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ports:
                      "8":
                        cdp:
                          address: 00:11:22:33:44:55
                          deviceId: e0553d8cdf53
                          portId: Port 10
                          sourcePort: "8"
                      "12":
                        cdp:
                          address: 00:11:22:33:44:55
                          deviceId: e0553d8cdf53
                          portId: Port 11
                          sourcePort: "12"
                        lldp:
                          managementAddress: 00:11:22:33:44:55
                          portId: "11"
                          sourcePort: "12"
                          systemName: Meraki MS350-24X - Phineas
                    sourceMac: 00:11:22:33:44:55
              schema:
                type: object
          description: Successful operation
      summary: List LLDP and CDP information for a device
      tags:
      - devices
      - monitor
      - lldpCdp
      x-openapi-router-controller: openapi_server.controllers.devices_controller
  /devices/{serial}/lossAndLatencyHistory:
    get:
      description: "Get the uplink loss percentage and latency in milliseconds, and\
        \ goodput in kilobits per second for a wired network device."
      operationId: get_device_loss_and_latency_history
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 60 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          31 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The time resolution in seconds for returned data. The valid\
          \ resolutions are: 60, 600, 3600, 86400. The default is 60."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: integer
        style: form
      - description: "The WAN uplink used to obtain the requested stats. Valid uplinks\
          \ are wan1, wan2, cellular. The default is wan1."
        explode: true
        in: query
        name: uplink
        required: false
        schema:
          enum:
          - cellular
          - wan1
          - wan2
          type: string
        style: form
      - description: The destination IP used to obtain the requested stats. This is
          required.
        explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - endTime: 2018-10-09T22:19:27Z
                    goodput: 1493
                    jitter: 11.2
                    latencyMs: 324.12
                    lossPercent: 5.23
                    startTime: 2018-10-09T22:18:27Z
                  - endTime: 2018-10-09T22:20:27Z
                    goodput: 2567
                    jitter: 3.4
                    latencyMs: 43
                    lossPercent: 1
                    startTime: 2018-10-09T22:19:27Z
                  - endTime: 2018-10-09T22:21:27Z
                    goodput: 7899
                    jitter: 1
                    latencyMs: 44.02
                    lossPercent: 0.01
                    startTime: 2018-10-09T22:20:27Z
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "Get the uplink loss percentage and latency in milliseconds, and goodput\
        \ in kilobits per second for a wired network device."
      tags:
      - devices
      - monitor
      - uplinks
      - lossAndLatencyHistory
      x-openapi-router-controller: openapi_server.controllers.devices_controller
  /devices/{serial}/managementInterface:
    get:
      description: Return the management interface settings for a device
      operationId: get_device_management_interface
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ddnsHostnames:
                      activeDdnsHostname: mx1-sample.dynamic-m.com
                      ddnsHostnameWan1: mx1-sample-1.dynamic-m.com
                      ddnsHostnameWan2: mx1-sample-2.dynamic-m.com
                    wan1:
                      staticDns:
                      - 1.2.3.2
                      - 1.2.3.3
                      staticGatewayIp: 1.2.3.1
                      staticIp: 1.2.3.4
                      staticSubnetMask: 255.255.255.0
                      usingStaticIp: true
                      vlan: 7
                      wanEnabled: not configured
                    wan2:
                      usingStaticIp: false
                      vlan: 2
                      wanEnabled: enabled
              schema:
                type: object
          description: Successful operation
      summary: Return the management interface settings for a device
      tags:
      - devices
      - configure
      - managementInterface
      x-openapi-router-controller: openapi_server.controllers.devices_controller
    put:
      description: Update the management interface settings for a device
      operationId: update_device_management_interface
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceManagementInterface_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    wan1:
                      staticDns:
                      - 1.2.3.2
                      - 1.2.3.3
                      staticGatewayIp: 1.2.3.1
                      staticIp: 1.2.3.4
                      staticSubnetMask: 255.255.255.0
                      usingStaticIp: true
                      vlan: 7
                      wanEnabled: not configured
                    wan2:
                      usingStaticIp: false
                      vlan: 2
                      wanEnabled: enabled
              schema:
                type: object
          description: Successful operation
      summary: Update the management interface settings for a device
      tags:
      - devices
      - configure
      - managementInterface
      x-openapi-router-controller: openapi_server.controllers.devices_controller
      x-codegen-request-body-name: body
  /devices/{serial}/reboot:
    post:
      description: Reboot a device
      operationId: reboot_device
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
              schema:
                type: object
          description: Successful operation
      summary: Reboot a device
      tags:
      - devices
      - liveTools
      x-openapi-router-controller: openapi_server.controllers.devices_controller
  /devices/{serial}/sensor/relationships:
    get:
      description: List the sensor roles for a given sensor or camera device.
      operationId: get_device_sensor_relationships
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - livestream:
                      relatedDevices:
                      - productType: camera
                        serial: Q234-ABCD-5678
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSensorRelationships_200_response_inner'
                type: array
          description: Successful operation
      summary: List the sensor roles for a given sensor or camera device.
      tags:
      - sensor
      - configure
      - relationships
      x-openapi-router-controller: openapi_server.controllers.sensor_controller
    put:
      description: Assign one or more sensor roles to a given sensor or camera device.
      operationId: update_device_sensor_relationships
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceSensorRelationships_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    livestream:
                      relatedDevices:
                      - productType: camera
                        serial: Q234-ABCD-5678
              schema:
                $ref: '#/components/schemas/getDeviceSensorRelationships_200_response_inner'
          description: Successful operation
      summary: Assign one or more sensor roles to a given sensor or camera device.
      tags:
      - sensor
      - configure
      - relationships
      x-openapi-router-controller: openapi_server.controllers.sensor_controller
      x-codegen-request-body-name: body
  /devices/{serial}/switch/ports:
    get:
      description: List the switch ports for a switch
      operationId: get_device_switch_ports
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - accessPolicyNumber: 2
                    accessPolicyType: Sticky MAC allow list
                    adaptivePolicyGroupId: "123"
                    allowedVlans: "1,3,5-10"
                    daiTrusted: false
                    enabled: true
                    flexibleStackingEnabled: true
                    isolationEnabled: false
                    linkNegotiation: Auto negotiate
                    linkNegotiationCapabilities:
                    - Auto negotiate
                    - 1 Gigabit full duplex (auto)
                    macAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                    name: My switch port
                    peerSgtCapable: false
                    poeEnabled: true
                    portId: "1"
                    portScheduleId: "1234"
                    profile:
                      enabled: false
                      id: "1284392014819"
                      iname: iname
                    rstpEnabled: true
                    stickyMacAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                    stickyMacAllowListLimit: 5
                    stormControlEnabled: true
                    stpGuard: disabled
                    tags:
                    - tag1
                    - tag2
                    type: access
                    udld: Alert only
                    vlan: 10
                    voiceVlan: 20
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSwitchPorts_200_response_inner'
                type: array
          description: Successful operation
      summary: List the switch ports for a switch
      tags:
      - switch
      - configure
      - ports
      x-openapi-router-controller: openapi_server.controllers.switch_controller
  /devices/{serial}/switch/ports/cycle:
    post:
      description: Cycle a set of switch ports
      operationId: cycle_device_switch_ports
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cycleDeviceSwitchPorts_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ports:
                    - "1"
                    - 2-5
                    - 1_MA-MOD-8X10G_1
                    - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
              schema:
                type: object
          description: Successful operation
      summary: Cycle a set of switch ports
      tags:
      - switch
      - liveTools
      - ports
      x-openapi-router-controller: openapi_server.controllers.switch_controller
      x-codegen-request-body-name: body
  /devices/{serial}/switch/ports/statuses:
    get:
      description: Return the status for all the ports of a switch
      operationId: get_device_switch_ports_statuses
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - cdp:
                      address: "10.0,0.1"
                      capabilities: Switch
                      deviceId: 0c8ddbddee:ff
                      managementAddress: 10.0.0.100
                      nativeVlan: 1
                      platform: MS350-24X
                      portId: Port 20
                      systemName: ""
                      version: "1"
                      vtpManagementDomain: ""
                    clientCount: 10
                    duplex: full
                    enabled: true
                    errors:
                    - PoE overload
                    - Very high proportion of CRC errors
                    isUplink: false
                    lldp:
                      chassisId: 0c:8d:db:dd:ee:ff
                      managementAddress: 10.0.0.100
                      managementVlan: 1
                      portDescription: Port 20
                      portId: "20"
                      portVlan: 1
                      systemCapabilities: switch
                      systemDescription: MS350-24X Cloud Managed PoE Switch
                      systemName: MS350-24X - Test
                    portId: "1"
                    powerUsageInWh: 55.9
                    securePort:
                      active: true
                      authenticationStatus: Authentication in progress
                      configOverrides:
                        allowedVlans: all
                        type: trunk
                        vlan: 12
                        voiceVlan: 34
                      enabled: true
                    speed: 10 Gbps
                    status: Connected
                    trafficInKbps:
                      recv: 1
                      sent: 1.2
                      total: 2.2
                    usageInKb:
                      recv: 17859
                      sent: 23008
                      total: 40867
                    warnings:
                    - SecureConnect authentication in progress
                    - PoE port was denied power
                    - High proportion of CRC errors
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSwitchPortsStatuses_200_response_inner'
                type: array
          description: Successful operation
      summary: Return the status for all the ports of a switch
      tags:
      - switch
      - monitor
      - ports
      - statuses
      x-openapi-router-controller: openapi_server.controllers.switch_controller
  /devices/{serial}/switch/ports/statuses/packets:
    get:
      description: Return the packet counters for all the ports of a switch
      operationId: get_device_switch_ports_statuses_packets
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 1 day from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 1 day. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - packets:
                    - desc: Total
                      ratePerSec:
                        recv: 0
                        sent: 1
                        total: 1
                      recv: 7946
                      sent: 104135
                      total: 112081
                    - desc: Broadcast
                      ratePerSec:
                        recv: 0
                        sent: 0
                        total: 0
                      recv: 514
                      sent: 30370
                      total: 30884
                    - desc: Multicast
                      ratePerSec:
                        recv: 0
                        sent: 0
                        total: 0
                      recv: 771
                      sent: 66849
                      total: 67620
                    - desc: CRC align errors
                      ratePerSec:
                        recv: 0
                        sent: 0
                        total: 0
                      recv: 0
                      sent: 0
                      total: 0
                    portId: "1"
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the packet counters for all the ports of a switch
      tags:
      - switch
      - monitor
      - ports
      - statuses
      - packets
      x-openapi-router-controller: openapi_server.controllers.switch_controller
  /devices/{serial}/switch/ports/{portId}:
    get:
      description: Return a switch port
      operationId: get_device_switch_port
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    accessPolicyNumber: 2
                    accessPolicyType: Sticky MAC allow list
                    adaptivePolicyGroupId: "123"
                    allowedVlans: "1,3,5-10"
                    daiTrusted: false
                    enabled: true
                    flexibleStackingEnabled: true
                    isolationEnabled: false
                    linkNegotiation: Auto negotiate
                    linkNegotiationCapabilities:
                    - Auto negotiate
                    - 1 Gigabit full duplex (auto)
                    macAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                    name: My switch port
                    peerSgtCapable: false
                    poeEnabled: true
                    portId: "1"
                    portScheduleId: "1234"
                    profile:
                      enabled: false
                      id: "1284392014819"
                      iname: iname
                    rstpEnabled: true
                    stickyMacAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                    stickyMacAllowListLimit: 5
                    stormControlEnabled: true
                    stpGuard: disabled
                    tags:
                    - tag1
                    - tag2
                    type: access
                    udld: Alert only
                    vlan: 10
                    voiceVlan: 20
              schema:
                $ref: '#/components/schemas/getDeviceSwitchPorts_200_response_inner'
          description: Successful operation
      summary: Return a switch port
      tags:
      - switch
      - configure
      - ports
      x-openapi-router-controller: openapi_server.controllers.switch_controller
    put:
      description: Update a switch port
      operationId: update_device_switch_port
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceSwitchPort_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    accessPolicyNumber: 2
                    accessPolicyType: Sticky MAC allow list
                    adaptivePolicyGroupId: "123"
                    allowedVlans: "1,3,5-10"
                    daiTrusted: false
                    enabled: true
                    flexibleStackingEnabled: true
                    isolationEnabled: false
                    linkNegotiation: Auto negotiate
                    linkNegotiationCapabilities:
                    - Auto negotiate
                    - 1 Gigabit full duplex (auto)
                    macAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                    name: My switch port
                    peerSgtCapable: false
                    poeEnabled: true
                    portId: "1"
                    portScheduleId: "1234"
                    profile:
                      enabled: false
                      id: "1284392014819"
                      iname: iname
                    rstpEnabled: true
                    stickyMacAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                    stickyMacAllowListLimit: 5
                    stormControlEnabled: true
                    stpGuard: disabled
                    tags:
                    - tag1
                    - tag2
                    type: access
                    udld: Alert only
                    vlan: 10
                    voiceVlan: 20
              schema:
                $ref: '#/components/schemas/getDeviceSwitchPorts_200_response_inner'
          description: Successful operation
      summary: Update a switch port
      tags:
      - switch
      - configure
      - ports
      x-openapi-router-controller: openapi_server.controllers.switch_controller
      x-codegen-request-body-name: body
  /devices/{serial}/switch/routing/interfaces:
    get:
      description: List layer 3 interfaces for a switch. Those for a stack may be
        found under switch stack routing.
      operationId: get_device_switch_routing_interfaces
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - defaultGateway: 192.168.1.1
                    interfaceId: "1234"
                    interfaceIp: 192.168.1.2
                    ipv6:
                      address: 1:2:3:4::1
                      assignmentMode: static
                      gateway: 1:2:3:4::2
                      prefix: 1:2:3:4::/48
                    multicastRouting: disabled
                    name: L3 interface
                    ospfSettings:
                      area: "0"
                      cost: 1
                      isPassiveEnabled: true
                    ospfV3:
                      area: "1"
                      cost: 2
                      isPassiveEnabled: true
                    subnet: 192.168.1.0/24
                    vlanId: 100
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
                type: array
          description: Successful operation
      summary: List layer 3 interfaces for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      x-openapi-router-controller: openapi_server.controllers.switch_controller
    post:
      description: Create a layer 3 interface for a switch
      operationId: create_device_switch_routing_interface
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createDeviceSwitchRoutingInterfaceCreatedeviceswitchroutinginterface'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    defaultGateway: 192.168.1.1
                    interfaceId: "1234"
                    interfaceIp: 192.168.1.2
                    ipv6:
                      address: 1:2:3:4::1
                      assignmentMode: static
                      gateway: 1:2:3:4::2
                      prefix: 1:2:3:4::/48
                    multicastRouting: disabled
                    name: L3 interface
                    ospfSettings:
                      area: "0"
                      cost: 1
                      isPassiveEnabled: true
                    ospfV3:
                      area: "1"
                      cost: 2
                      isPassiveEnabled: true
                    subnet: 192.168.1.0/24
                    vlanId: 100
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
          description: Successful operation
      summary: Create a layer 3 interface for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      x-openapi-router-controller: openapi_server.controllers.switch_controller
      x-codegen-request-body-name: body
  /devices/{serial}/switch/routing/interfaces/{interfaceId}:
    delete:
      description: Delete a layer 3 interface from the switch
      operationId: delete_device_switch_routing_interface
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
      summary: Delete a layer 3 interface from the switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      x-openapi-router-controller: openapi_server.controllers.switch_controller
    get:
      description: Return a layer 3 interface for a switch
      operationId: get_device_switch_routing_interface
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    defaultGateway: 192.168.1.1
                    interfaceId: "1234"
                    interfaceIp: 192.168.1.2
                    ipv6:
                      address: 1:2:3:4::1
                      assignmentMode: static
                      gateway: 1:2:3:4::2
                      prefix: 1:2:3:4::/48
                    multicastRouting: disabled
                    name: L3 interface
                    ospfSettings:
                      area: "0"
                      cost: 1
                      isPassiveEnabled: true
                    ospfV3:
                      area: "1"
                      cost: 2
                      isPassiveEnabled: true
                    subnet: 192.168.1.0/24
                    vlanId: 100
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
          description: Successful operation
      summary: Return a layer 3 interface for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      x-openapi-router-controller: openapi_server.controllers.switch_controller
    put:
      description: Update a layer 3 interface for a switch
      operationId: update_device_switch_routing_interface
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createDeviceSwitchRoutingInterfaceCreatedeviceswitchroutinginterface'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    defaultGateway: 192.168.1.1
                    interfaceId: "1234"
                    interfaceIp: 192.168.1.2
                    ipv6:
                      address: 1:2:3:4::1
                      assignmentMode: static
                      gateway: 1:2:3:4::2
                      prefix: 1:2:3:4::/48
                    multicastRouting: disabled
                    name: L3 interface
                    ospfSettings:
                      area: "0"
                      cost: 1
                      isPassiveEnabled: true
                    ospfV3:
                      area: "1"
                      cost: 2
                      isPassiveEnabled: true
                    subnet: 192.168.1.0/24
                    vlanId: 100
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
          description: Successful operation
      summary: Update a layer 3 interface for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      x-openapi-router-controller: openapi_server.controllers.switch_controller
      x-codegen-request-body-name: body
  /devices/{serial}/switch/routing/interfaces/{interfaceId}/dhcp:
    get:
      description: Return a layer 3 interface DHCP configuration for a switch
      operationId: get_device_switch_routing_interface_dhcp
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    bootFileName: home_boot_file
                    bootNextServer: 1.2.3.4
                    bootOptionsEnabled: true
                    dhcpLeaseTime: 1 day
                    dhcpMode: dhcpServer
                    dhcpOptions:
                    - code: "5"
                      type: text
                      value: five
                    dnsCustomNameservers:
                    - "8.8.8.8, 8.8.4.4"
                    dnsNameserversOption: custom
                    fixedIpAssignments:
                    - ip: 192.168.1.12
                      mac: 22:33:44:55:66:77
[...]
