openapi: 3.0.1
info:
  title: ManagementLockClient
  version: 2015-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2015-01-01/locks.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-locks
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks:
    get:
      description: Gets all the management locks of a subscription.
      operationId: management_locks_list_at_subscription_level
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks/{lockName}:
    delete:
      description: Deletes the management lock of a subscription.
      operationId: management_locks_delete_at_subscription_level
      parameters:
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - ManagementLocks
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
    get:
      description: Gets the management lock of a scope.
      operationId: management_locks_get
      parameters:
      - description: Name of the management lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
      tags:
      - ManagementLocks
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
    put:
      description: Create or update a management lock at the subscription level.
      operationId: management_locks_create_or_update_at_subscription_level
      parameters:
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: The management lock parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks:
    get:
      description: Gets all the management locks of a resource group.
      operationId: management_locks_list_at_resource_group_level
      parameters:
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks/{lockName}:
    delete:
      description: Deletes the management lock of a resource group.
      operationId: management_locks_delete_at_resource_group_level
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - ManagementLocks
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
    get:
      description: Gets a management lock at the resource group level.
      operationId: management_locks_get_at_resource_group_level
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The lock name.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
      tags:
      - ManagementLocks
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
    put:
      description: Create or update a management lock at the resource group level.
      operationId: management_locks_create_or_update_at_resource_group_level
      parameters:
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The lock name.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: The management lock parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks
  : get:
      description: Gets all the management locks of a resource or any level below
        resource.
      operationId: management_locks_list_at_resource_level
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK
      tags:
      - ManagementLocks
      x-ms-odata: '#/definitions/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks/{lockName}
  : delete:
      description: Deletes the management lock of a resource or any level below resource.
      operationId: management_locks_delete_at_resource_level
      parameters:
      - description: 'The name of the resource group. '
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - ManagementLocks
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
    put:
      description: Create or update a management lock at the resource level or any
        level below resource.
      operationId: management_locks_create_or_update_at_resource_level
      parameters:
      - description: 'The name of the resource group. '
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The name of lock.
        in: path
        name: lockName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: Create or update management lock parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
      - ManagementLocks
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.management_locks_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ManagementLockListResult:
      description: List of management locks.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            notes: notes
            level: NotSpecified
        - name: name
          id: id
          type: type
          properties:
            notes: notes
            level: NotSpecified
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The list of locks.
          items:
            $ref: '#/components/schemas/ManagementLockObject'
          title: value
          type: array
      title: ManagementLockListResult
      type: object
    ManagementLockObject:
      description: Management lock information.
      example:
        name: name
        id: id
        type: type
        properties:
          notes: notes
          level: NotSpecified
      properties:
        id:
          description: The Id of the lock.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the lock.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ManagementLockProperties'
        type:
          description: The type of the lock.
          readOnly: true
          title: type
          type: string
      title: ManagementLockObject
      type: object
      x-ms-azure-resource: true
    ManagementLockProperties:
      description: The management lock properties.
      example:
        notes: notes
        level: NotSpecified
      properties:
        level:
          description: The lock level of the management lock.
          enum:
          - NotSpecified
          - CanNotDelete
          - ReadOnly
          title: level
          type: string
          x-ms-enum:
            modelAsString: true
            name: LockLevel
        notes:
          description: The notes of the management lock.
          title: notes
          type: string
      title: ManagementLockProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
