openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: "NFL rosters, player stats, team stats, and fantasy stats API."
  title: NFL v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/stats
- url: https://azure-api.sportsdata.io/v3/nfl/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/ActiveBoxScores:
    get:
      description: This method returns box scores for all games that are either in-progress
        or have been updated within the last 30 minutes.
      operationId: LegacyBoxScoresActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Active
      x-accepts:
      - application/json
  /{format}/AllTeams:
    get:
      description: "Gets all teams, including pro bowl teams."
      operationId: TeamsAll
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-accepts:
      - application/json
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-accepts:
      - application/json
  /{format}/BoxScore/{season}/{week}/{hometeam}:
    get:
      operationId: LegacyBoxScore
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the home team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: hometeam
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
          description: ""
      summary: Legacy Box Score
      x-accepts:
      - application/json
  /{format}/BoxScoreByScoreIDV3/{scoreid}:
    get:
      operationId: BoxScoreByScoreidV
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The ScoreID of the game. Possible values include: <code>16247</code>,\
          \ <code>16245</code>, etc."
        explode: false
        in: path
        name: scoreid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
          description: ""
      summary: Box Score by ScoreID V3
      x-accepts:
      - application/json
  /{format}/BoxScoreV3/{season}/{week}/{hometeam}:
    get:
      operationId: BoxScoreV
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of a team playing in this game. Example: <code>WAS</code>."
        explode: false
        in: path
        name: hometeam
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
          description: ""
      summary: Box Score V3
      x-accepts:
      - application/json
  /{format}/BoxScores/{season}/{week}:
    get:
      description: This method returns all box scores for a given season and week.
      operationId: LegacyBoxScores
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores
      x-accepts:
      - application/json
  /{format}/BoxScoresDelta/{season}/{week}/{minutes}:
    get:
      description: "This method returns all box scores for a given season and week,\
        \ but only returns player stats that have changed in the last X minutes."
      operationId: LegacyBoxScoresDelta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Delta
      x-accepts:
      - application/json
  /{format}/BoxScoresDeltaV3/{season}/{week}/{playerstoinclude}/{minutes}:
    get:
      description: "This method returns all box scores for a given season and week,\
        \ but only returns player stats that have changed in the last X minutes. You\
        \ can also filter by type of player stats to include, such as traditional\
        \ fantasy players, IDP players or all players."
      operationId: BoxScoresDeltaV
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The subcategory of players to include in the returned PlayerGame records. Possible values include:<br><br>
          <code>all</code> Returns all players<br>
          <code>fantasy</code> Returns traditional fantasy players (QB, RB, WR, TE, K, DST)<br>
          <code>idp</code> Returns traditional fantasy players and IDP players.
        explode: false
        in: path
        name: playerstoinclude
        required: true
        schema:
          default: all
          enum:
          - all
          - fantasy
          - idp
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br><code>1</code>,\n <code>2</code>, etc.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
                type: array
          description: ""
      summary: Box Scores Delta V3
      x-accepts:
      - application/json
  /{format}/Byes/{season}:
    get:
      description: 'Get bye weeks for the teams during a specified NFL season. '
      operationId: ByeWeeks
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Bye'
                type: array
          description: ""
      summary: Bye Weeks
      x-accepts:
      - application/json
  /{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes at the start
        of the new NFL league year. The earliest season for Fantasy data is 2001.
        The earliest season for Team data is 1985. The earliest season for Fantasy
        data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonCurrent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Current
      x-accepts:
      - application/json
  /{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekCurrent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Current
      x-accepts:
      - application/json
  /{format}/DailyFantasyPlayers/{date}:
    get:
      operationId: DailyFantasyPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          The date of the contest for which you're pulling\
          \ players\n          <code>2014-SEP-21</code>,\n          <code>2014-NOV-15</code>,\
          \ etc\n        "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DailyFantasyPlayer'
                type: array
          description: ""
      summary: Daily Fantasy Players
      x-accepts:
      - application/json
  /{format}/DailyFantasyPoints/{date}:
    get:
      operationId: DailyFantasyScoring
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the contest for which you're pulling players
                    <code>2014-SEP-21</code>,
                    <code>2014-NOV-15</code>, etc
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DailyFantasyScoring'
                type: array
          description: ""
      summary: Daily Fantasy Scoring
      x-accepts:
      - application/json
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the slates.
          <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-accepts:
      - application/json
  /{format}/DfsSlatesByWeek/{season}/{week}:
    get:
      operationId: DfsSlatesByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Week
      x-accepts:
      - application/json
  /{format}/FantasyDefenseByGame/{season}/{week}:
    get:
      operationId: FantasyDefenseGameStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyDefenseGame'
                type: array
          description: ""
      summary: Fantasy Defense Game Stats
      x-accepts:
      - application/json
  /{format}/FantasyDefenseByGameByTeam/{season}/{week}/{team}:
    get:
      operationId: FantasyDefenseGameStatsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyDefenseGame'
          description: ""
      summary: Fantasy Defense Game Stats by Team
      x-accepts:
      - application/json
  /{format}/FantasyDefenseBySeason/{season}:
    get:
      operationId: FantasyDefenseSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyDefenseSeason'
                type: array
          description: ""
      summary: Fantasy Defense Season Stats
      x-accepts:
      - application/json
  /{format}/FantasyDefenseBySeasonByTeam/{season}/{team}:
    get:
      operationId: FantasyDefenseSeasonStatsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyDefenseSeason'
          description: ""
      summary: Fantasy Defense Season Stats by Team
      x-accepts:
      - application/json
  /{format}/FantasyPlayers:
    get:
      description: "This method returns a comprehensive list of draftable fantasy\
        \ football players, including QB, RB, WR, TE, K and DEF.  Players are sorted\
        \ by ADP (AverageDraftPosition)."
      operationId: FantasyPlayersWithAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyPlayer'
                type: array
          description: ""
      summary: Fantasy Players with ADP
      x-accepts:
      - application/json
  /{format}/FantasyPlayersIDP:
    get:
      description: "This method returns the top 300+ IDP Fantasy Players for the current\
        \ or upcoming season, ordered by AverageDraftPositionIDP."
      operationId: IdpFantasyPlayersWithAdp
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FantasyPlayer'
                type: array
          description: ""
      summary: IDP Fantasy Players with ADP
      x-accepts:
      - application/json
  /{format}/FinalBoxScores:
    get:
      operationId: LegacyBoxScoresFinal
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Final
      x-accepts:
      - application/json
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agents
      x-accepts:
      - application/json
  /{format}/GameLeagueLeaders/{season}/{week}/{position}/{column}:
    get:
      operationId: LeagueLeadersByWeek
      parameters:
      - description: "\n          Desired response format. Valid entries are <code>XML</code>\
          \ or <code>JSON</code>.\n        "
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: Playerâ€™s position that you would like to filter by.
        explode: false
        in: path
        name: position
        required: true
        schema:
          default: ALL
          enum:
          - ALL
          - OFFENSE
          - QB
          - RB
          - WR
          - TE
          - DEFENSE
          - DL
          - LB
          - DB
          - K
          type: string
        style: simple
      - description: Response member you would like results sorted by.
        explode: false
        in: path
        name: column
        required: true
        schema:
          enum:
          - FantasyPoints
          - PassingYards
          - RushingYards
          - Receptions
          - Sacks
          - Interceptions
          - Touchdowns
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: League Leaders by Week
      x-accepts:
      - application/json
  /{format}/GameStats/{season}:
    get:
      description: Game stats for a specified season.
      operationId: GameStatsBySeasonDeprecatedUseTeamGameStatsInstead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Season (Deprecated, use Team Game Stats instead)"
      x-accepts:
      - application/json
  /{format}/GameStatsByWeek/{season}/{week}:
    get:
      description: Game stats for a specified season and week.
      operationId: GameStatsByWeekDeprecatedUseTeamGameStatsInstead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Week (Deprecated, use Team Game Stats instead)"
      x-accepts:
      - application/json
  /{format}/Injuries/{season}/{week}:
    get:
      operationId: Injuries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries
      x-accepts:
      - application/json
  /{format}/Injuries/{season}/{week}/{team}:
    get:
      operationId: InjuriesByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries by Team
      x-accepts:
      - application/json
  /{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed season. this value changes
        immediately after the Super Bowl. The earliest season for Fantasy data is
        2001. The earliest season for Team data is 1985.
      operationId: SeasonLastCompleted
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Last Completed
      x-accepts:
      - application/json
  /{format}/LastCompletedWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekLastCompleted
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Last Completed
      x-accepts:
      - application/json
  /{format}/LiveBoxScores:
    get:
      operationId: LegacyBoxScoresLive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Live
      x-accepts:
      - application/json
  /{format}/News:
    get:
      operationId: News
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-accepts:
      - application/json
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-accepts:
      - application/json
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - description: "\n          Desired response format. Valid entries are <code>XML</code>\
          \ or <code>JSON</code>.\n        "
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-accepts:
      - application/json
  /{format}/NewsByTeam/{team}:
    get:
      operationId: NewsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Team
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDetail'
          description: ""
      summary: Player Details by Player
      x-accepts:
      - application/json
  /{format}/PlayerGameRedZoneInsideFiveStats/{season}/{week}:
    get:
      operationId: PlayerGameRedZoneStatsInsideFive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
                type: array
          description: ""
      summary: Player Game Red Zone Stats Inside Five
      x-accepts:
      - application/json
  /{format}/PlayerGameRedZoneInsideTenStats/{season}/{week}:
    get:
      operationId: PlayerGameRedZoneStatsInsideTen
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
                type: array
          description: ""
      summary: Player Game Red Zone Stats Inside Ten
      x-accepts:
      - application/json
  /{format}/PlayerGameRedZoneStats/{season}/{week}:
    get:
      operationId: PlayerGameRedZoneStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
                type: array
          description: ""
      summary: Player Game Red Zone Stats
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGame'
          description: ""
      summary: Player Game Stats by Player
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      operationId: PlayerGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - JSON
          - XML
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique FantasyData Player ID. Example:<code>17920</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Logs By Season
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: PlayerGameStatsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Team
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsByWeek/{season}/{week}:
    get:
      operationId: PlayerGameStatsByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Week
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsByWeekDelta/{season}/{week}/{minutes}:
    get:
      operationId: PlayerGameStatsByWeekDelta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Week Delta
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsDelta/{minutes}:
    get:
      operationId: PlayerGameStatsDelta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Only returns player statistics that have changed\
          \ in the last X minutes.  You specify how many minutes in time to go back.\
          \  Valid entries are:\n          <code>1</code> or <code>2</code>.\n   \
          \     "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats Delta
      x-accepts:
      - application/json
  /{format}/PlayerOwnership/{season}/{week}:
    get:
      operationId: FantasyPlayerOwnershipPercentagesSeasonLong
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerOwnership'
                type: array
          description: ""
      summary: Fantasy Player Ownership Percentages (Season-Long)
      x-accepts:
      - application/json
  /{format}/PlayerSeasonRedZoneInsideFiveStats/{season}:
    get:
      operationId: PlayerSeasonRedZoneStatsInsideFive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
                type: array
          description: ""
      summary: Player Season Red Zone Stats Inside Five
      x-accepts:
      - application/json
  /{format}/PlayerSeasonRedZoneInsideTenStats/{season}:
    get:
      operationId: PlayerSeasonRedZoneStatsInsideTen
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
                type: array
          description: ""
      summary: Player Season Red Zone Stats Inside Ten
      x-accepts:
      - application/json
  /{format}/PlayerSeasonRedZoneStats/{season}:
    get:
      operationId: PlayerSeasonRedZoneStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
                type: array
          description: ""
      summary: Player Season Red Zone Stats
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: PlayerSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStatsByPlayerID/{season}/{playerid}:
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Player
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Team
      x-accepts:
      - application/json
  /{format}/PlayerSeasonThirdDownStats/{season}:
    get:
      operationId: PlayerSeasonThirdDownStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonThirdDown'
                type: array
          description: ""
      summary: Player Season Third Down Stats
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: PlayerDetailsByAvailable
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Available
      x-accepts:
      - application/json
  /{format}/Players/{team}:
    get:
      operationId: PlayerDetailsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerDetail'
                type: array
          description: ""
      summary: Player Details by Team
      x-accepts:
      - application/json
  /{format}/ProBowlers/{season}:
    get:
      operationId: ProBowlers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season
          <br>Examples: <code>2016</code>, <code>2017</code>
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerInfo'
                type: array
          description: ""
      summary: Pro Bowlers
      x-accepts:
      - application/json
  /{format}/RecentlyUpdatedBoxScores/{minutes}:
    get:
      operationId: LegacyBoxScoresDeltaCurrentWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Legacy Box Scores Delta (Current Week)
      x-accepts:
      - application/json
  /{format}/Rookies/{season}:
    get:
      operationId: PlayerDetailsByRookieDraftYear
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>,\
          \ etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Rookie Draft Year
      x-accepts:
      - application/json
  /{format}/Schedules/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: Schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schedule'
                type: array
          description: ""
      summary: Schedule
      x-accepts:
      - application/json
  /{format}/Scores/{season}:
    get:
      description: Game scores for a specified season.
      operationId: ScoresBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: 'Scores by Season '
      x-accepts:
      - application/json
  /{format}/ScoresByDate/{date}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "The date of the games.<br>Examples: <code>2021-SEP-12</code>,\
          \ <code>2021-NOV-28</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Date
      x-accepts:
      - application/json
  /{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week
      x-accepts:
      - application/json
  /{format}/SeasonLeagueLeaders/{season}/{position}/{column}:
    get:
      operationId: LeagueLeadersBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Playerâ€™s position that you would like to filter by.
        explode: false
        in: path
        name: position
        required: true
        schema:
          default: ALL
          enum:
          - ALL
          - OFFENSE
          - QB
          - RB
          - WR
          - TE
          - DEFENSE
          - DL
          - LB
          - DB
          - K
          type: string
        style: simple
      - description: Response member you would like results sorted by.
        explode: false
        in: path
        name: column
        required: true
        schema:
          enum:
          - FantasyPoints
          - PassingYards
          - RushingYards
          - Receptions
          - Sacks
          - Interceptions
          - Touchdowns
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: League Leaders by Season
      x-accepts:
      - application/json
  /{format}/SimulatedBoxScoresV3/{numberofplays}:
    get:
      description: "Gets simulated live box scores of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: BoxScoresVSimulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
                type: array
          description: ""
      summary: Box Scores V3 Simulation
      x-accepts:
      - application/json
  /{format}/SimulatedScores/{numberofplays}:
    get:
      description: "Gets simulated live scores of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: ScoresByWeekSimulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week Simulation
      x-accepts:
      - application/json
  /{format}/Stadiums:
    get:
      description: This method returns all stadiums.
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-accepts:
      - application/json
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-accepts:
      - application/json
  /{format}/TeamGameStats/{season}/{week}:
    get:
      operationId: TeamGameStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats
      x-accepts:
      - application/json
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - JSON
          - XML
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-accepts:
      - application/json
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-accepts:
      - application/json
  /{format}/Teams:
    get:
      description: Gets all active teams.
      operationId: TeamsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-accepts:
      - application/json
  /{format}/Teams/{season}:
    get:
      description: List of teams playing in a specified season.
      operationId: TeamsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams by Season
      x-accepts:
      - application/json
  /{format}/Timeframes/{type}:
    get:
      description: "Get detailed information about past, present, and future timeframes."
      operationId: Timeframes
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - description: The type of timeframes to return.  Valid entries are <code>current</code>
          or <code>upcoming</code> or <code>completed</code> or <code>recent</code>
          or <code>all</code>.
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Timeframe'
                type: array
          description: ""
      summary: Timeframes
      x-accepts:
      - application/json
  /{format}/UpcomingSeason:
    get:
      description: "Year of the current NFL season, if we are in the mid-season. If\
        \ we are in the off-season, then year of the next upcoming season. This value\
        \ changes immediately after the Super Bowl. The earliest season for Fantasy\
        \ data is 2001. The earliest season for Team data is 1985."
      operationId: SeasonUpcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Upcoming
      x-accepts:
      - application/json
  /{format}/UpcomingWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekUpcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Upcoming
      x-accepts:
      - application/json
components:
  schemas:
    BoxScore:
      example:
        AwayRushing:
        - FantasyPoints: 5.829097284708605
          PlayerID: 2
          Updated: Updated
          Position: Position
          RushingTouchdowns: 9
          PositionCategory: PositionCategory
          ShortName: ShortName
          TwoPointConversionRuns: 5
          Name: Name
          FantasyPosition: FantasyPosition
          Number: 1
          PlayerGameID: 8
          RushingAttempts: 8
          RushingYardsPerAttempt: 5.5569822283364845
          RushingYards: 2
          FumblesLost: 0
          Team: Team
          RushingLong: 5
        - FantasyPoints: 5.829097284708605
          PlayerID: 2
          Updated: Updated
          Position: Position
          RushingTouchdowns: 9
          PositionCategory: PositionCategory
          ShortName: ShortName
          TwoPointConversionRuns: 5
          Name: Name
          FantasyPosition: FantasyPosition
          Number: 1
          PlayerGameID: 8
          RushingAttempts: 8
          RushingYardsPerAttempt: 5.5569822283364845
          RushingYards: 2
          FumblesLost: 0
          Team: Team
          RushingLong: 5
        AwayFantasyDefense:
          BlockedKicks: 6.683562403749608
          PlayerID: 8
          Safeties: 3.1497903714250555
          FumblesRecovered: 7.933506881737151
          FourthDownConversions: 9.132027271330688
          TwoPointConversionReturns: 4.372688051310086
          FantasyDraftFantasyPointsAllowed: 0.10263654006109402
          WindSpeed: 1
          DateTime: DateTime
          FantasyDefenseID: 6
          InterceptionReturnTouchdowns: 4.459605034958679
          FantasyDraftQuarterbackFantasyPointsAllowed: 8.969578798196912
          WideReceiverFantasyPointsAllowed: 3.8008573585058016
          FumblesForced: 0.5199002018724985
          TacklesForLoss: 6.966044574347761
          FantasyDraftSalary: 3
          ScoringDetails:
          - PlayerID: 4
            GameKey: GameKey
            ScoringDetailID: 0
            SeasonType: 2
            PlayerGameID: 8
            Length: 3
            ScoringPlayID: 7
            Team: Team
            ScoreID: 0
            ScoringType: ScoringType
            Season: 4
            Week: 9
          - PlayerID: 4
            GameKey: GameKey
            ScoringDetailID: 0
            SeasonType: 2
            PlayerGameID: 8
            Length: 3
            ScoringPlayID: 7
            Team: Team
            ScoreID: 0
            ScoringType: ScoringType
            Season: 4
            Week: 9
          OpponentID: 9
          PuntReturns: 3.7814124730767915
          FanDuelKickerFantasyPointsAllowed: 5.944895607614016
          FantasyDraftTightEndFantasyPointsAllowed: 3.0576100241049344
          FantasyPointsDraftKings: 4.078845849666752
          OffensiveYardsAllowed: 8.863729185622827
          BlockedKickReturnYards: 9.369310271410669
          Week: 5
          PassesDefended: 9.183123594773994
          PointsAllowed: 0.4182561061793122
          KickReturnYards: 8.28965939814297
          YahooQuarterbackFantasyPointsAllowed: 7.3718573971919445
          IsGameOver: true
          PuntReturnTouchdowns: 8.37823741034869
          TeamID: 9
          PuntReturnYards: 7.606863723092579
          FantasyDataSalary: 7
          SoloTackles: 6.173804034172511
          KickReturnLong: 2.9409642974827896
          VictivSalary: 5
          Humidity: 8
          QuarterbackHits: 9.897492629215506
          FantasyPointsAllowed: 3.2588565619047607
          Team: Team
          Season: 0
          FanDuelSalary: 3
          GameKey: GameKey
          Sacks: 0.4768402382624515
          YahooTightEndFantasyPointsAllowed: 9.402167524121316
          HomeOrAway: HomeOrAway
[...]
