openapi: 3.0.1
info:
  description: "Below is the documentation for the API calls. You can try them out\
    \ right here. \n"
  title: Random Lottery Number generator API
  version: "1.5"
  x-apisguru-categories:
  - text
  x-origin:
  - format: swagger
    url: https://fungenerators.com/yaml/lottery.yaml
    version: "2.0"
  x-providerName: fungenerators.com
  x-serviceName: lottery
servers:
- url: https://api.fungenerators.com/
- url: http://api.fungenerators.com/
tags:
- description: Random Lottery number generation API
  externalDocs:
    description: Find out more
    url: http://fungenerators.com/api/lottery
  name: Lottery
paths:
  /lottery/countries:
    get:
      description: Get the complete list of countries supported in the number generation
        API.
      operationId: lottery_countries_get
      responses:
        "200":
          content:
            application/json:
              example: "{ \n  \"success\":\n    {\"total\":76},\n  \"contents\": {\n\
                \     \"countries\":\n        [\n          \"Anguilla\",\n       \
                \   \"Antigua and Barbuda\",\n          \"Australia\",\n         \
                \ \"Austria\",\n          \"...\"\n        ]\n  }\n}"
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Lottery
      x-openapi-router-controller: openapi_server.controllers.lottery_controller
  /lottery/draw:
    get:
      description: Generate random draw for a given lottery game.
      operationId: lottery_draw_get
      parameters:
      - description: Lottery Game Name
        in: query
        name: game
        required: true
        schema:
          format: string
          type: string
      - description: Number of draws (max 5 per request)
        in: query
        name: count
        schema:
          format: integer
          type: integer
      responses:
        "200":
          content:
            application/json:
              example: "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"\
                contents\": \n        {\n          \"numbers\":\n            [\n \
                \             {\"draw\":[[21,10,6,44,17,5]]}\n            ]\n    \
                \    }\n}"
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Lottery
      x-openapi-router-controller: openapi_server.controllers.lottery_controller
  /lottery/supported:
    get:
      description: Get the list of supported lottery games supported in the given
        country.
      operationId: lottery_supported_get
      parameters:
      - description: Country Name
        in: query
        name: country
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: "{\n    \"success\": {\n        \"total\":4\n      \n    },\n\
                \    \"contents\": {\n        \"country\" : \"India\",\n        \"\
                games\" :\n        [\n          \"india-playwin-easy-lotto\",\n  \
                \        \"india-playwin-fast-digit-lottery\",\n          \"india-playwin-super-lotto\"\
                ,\n          \"india-playwin-thunderball\"\n        ]\n    }\n}  \
                \          "
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Fungenerators-Api-Secret: []
      tags:
      - Lottery
      x-openapi-router-controller: openapi_server.controllers.lottery_controller
components:
  schemas: {}
  securitySchemes:
    X-Fungenerators-Api-Secret:
      in: header
      name: X-Fungenerators-Api-Secret
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_X-Fungenerators-Api-Secret
x-original-swagger-version: "2.0"
