openapi: 3.0.1
info:
  description: Azure Log Analytics API reference for management of saved Queries within
    Query Packs.
  title: Azure Log Analytics Query Packs
  version: 2019-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/QueryPackQueries_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-QueryPackQueries_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}/queries
  : get:
      description: Gets a list of Queries defined within a Log Analytics QueryPack.
      operationId: queries_list
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: queryPackName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum items returned in page.
        in: query
        name: $top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Flag indicating whether or not to return the body of each applicable\
          \ query. If false, only return the query information."
        in: query
        name: includeBody
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Base64 encoded token used to fetch the next page of items. Default
          is null.
        in: query
        name: $skipToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPackQueryListResult'
          description: A list containing 0 or more queries contained within the Log
            Analytics QueryPack.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryList:
          parameters:
            api-version: 2019-09-01-preview
            includeBody: true
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4918
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/4337bb16-d6fe-4ff7-97cf-59df25941476
                  name: 4337bb16-d6fe-4ff7-97cf-59df25941476
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: heartbeat | take 10
                    description: Thie query takes 10 entries of heartbeat
                    displayName: Heartbeat_1
                    queryId: 4337bb16-d6fe-4ff7-97cf-59df25941476
                    timeCreated: 2019-08-15T10:29:56.1030254Z
                    timeModified: 2019-08-15T10:29:56.1030254Z
                  type: microsoft.insights/queryPacks/queries
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/bf015bf7-be70-49c2-8d52-4cce85c42ef1
                  name: bf015bf7-be70-49c2-8d52-4cce85c42ef1
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: heartbeat | take 10
                    description: Thie query takes 10 entries of heartbeat
                    displayName: Heartbeat_2
                    queryId: bf015bf7-be70-49c2-8d52-4cce85c42ef1
                    timeCreated: 2019-08-15T10:30:26.7943629Z
                    timeModified: 2019-08-15T10:30:26.7943629Z
                  type: microsoft.insights/queryPacks/queries
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/8d91c6ca-9c56-49c6-b3ae-112a68871acd
                  name: 8d91c6ca-9c56-49c6-b3ae-112a68871acd
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: heartbeat | take 10
                    description: Thie query takes 10 entries of heartbeat
                    displayName: Heartbeat_3
                    queryId: 8d91c6ca-9c56-49c6-b3ae-112a68871acd
                    timeCreated: 2019-08-15T10:30:29.4505584Z
                    timeModified: 2019-08-15T10:30:29.4505584Z
                  type: microsoft.insights/queryPacks/queries
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/a5a9010e-e4b7-45ad-8b14-09d7e6082819
                  name: a5a9010e-e4b7-45ad-8b14-09d7e6082819
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: heartbeat | take 10
                    description: Thie query takes 10 entries of heartbeat
                    displayName: Heartbeat_4
                    queryId: a5a9010e-e4b7-45ad-8b14-09d7e6082819
                    timeCreated: 2019-08-15T10:30:32.5742324Z
                    timeModified: 2019-08-15T10:30:32.5742324Z
                  type: microsoft.insights/queryPacks/queries
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}/queries/search
  : post:
      description: Search a list of Queries defined within a Log Analytics QueryPack
        according to given search properties.
      operationId: queries_search
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum items returned in page.
        in: query
        name: top
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Flag indicating whether or not to return the body of each applicable\
          \ query. If false, only return the query information."
        in: query
        name: include_body
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Base64 encoded token used to fetch the next page of items. Default
          is null.
        in: query
        name: skip_token
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogAnalyticsQueryPackQuerySearchProperties'
        description: Properties by which to search queries in the given Log Analytics
          QueryPack.
        required: true
        x-body-name: QuerySearchProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPackQueryListResult'
          description: A list containing 0 or more queries contained within the Log
            Analytics QueryPack.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QuerySearch:
          parameters:
            $top: 3
            QuerySearchProperties:
              categories:
              - other
              - analytics
              labels:
              - my-label
            api-version: 2019-09-01-preview
            includeBody: true
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4918
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/4337bb16-d6fe-4ff7-97cf-59df25941476
                  name: 4337bb16-d6fe-4ff7-97cf-59df25941476
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: Heartbeat | take 1
                    categories:
                    - other
                    description: Thie query takes 10 entries of heartbeat 0
                    displayName: Heartbeat_1
                    labels:
                    - my-label
                    queryId: 4337bb16-d6fe-4ff7-97cf-59df25941476
                    timeCreated: 2019-08-15T10:29:56.1030254Z
                    timeModified: 2019-08-15T10:29:56.1030254Z
                  type: microsoft.insights/queryPacks/queries
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/bf015bf7-be70-49c2-8d52-4cce85c42ef1
                  name: bf015bf7-be70-49c2-8d52-4cce85c42ef1
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: Heartbeat | take 1
                    categories:
                    - analytics
                    description: Thie query takes 10 entries of heartbeat 1
                    displayName: Heartbeat_2
                    labels:
                    - my-label
                    queryId: bf015bf7-be70-49c2-8d52-4cce85c42ef1
                    timeCreated: 2019-08-15T10:30:26.7943629Z
                    timeModified: 2019-08-15T10:30:26.7943629Z
                  type: microsoft.insights/queryPacks/queries
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/8d91c6ca-9c56-49c6-b3ae-112a68871acd
                  name: 8d91c6ca-9c56-49c6-b3ae-112a68871acd
                  properties:
                    author: 1809f206-263a-46f7-942d-4572c156b7e7
                    body: Heartbeat | take 1
                    categories:
                    - other
                    - analytics
                    description: Thie query takes 10 entries of heartbeat 2
                    displayName: Heartbeat_3
                    labels:
                    - my-label
                    queryId: 8d91c6ca-9c56-49c6-b3ae-112a68871acd
                    timeCreated: 2019-08-15T10:30:29.4505584Z
                    timeModified: 2019-08-15T10:30:29.4505584Z
                  type: microsoft.insights/queryPacks/queries
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: QuerySearchProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}/queries/{queryId}
  : delete:
      description: Deletes a specific Query defined within an Log Analytics QueryPack.
      operationId: queries_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The id of a specific query defined in the Log Analytics QueryPack
        in: path
        name: query_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: The query has been successfully removed from the Log Analytics
            QueryPack
        "204":
          content: {}
          description: The specified query or associated QueryPack does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryDelete:
          parameters:
            api-version: 2019-09-01-preview
            queryId: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4918
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets a specific Log Analytics Query defined within a Log Analytics
        QueryPack.
      operationId: queries_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The id of a specific query defined in the Log Analytics QueryPack
        in: path
        name: queryId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPackQuery'
          description: A single query contained within the Log Analytics QueryPack.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryGet:
          parameters:
            api-version: 2019-09-01-preview
            queryId: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4918
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/a449f8af-8e64-4b3a-9b16-5a7165ff98c4
                name: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
                properties:
                  body: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                    \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                    | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                    | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                    \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                    \ min(timestamp), max(timestamp), any(stack) by problemId  \n\
                    ) on problemId \n| order by  count_ desc\n"
                  description: Thie query fetcges the recent exceptions from the last
                    24 hours
                  displayName: Exceptions - New in the last 24 hours
                  queryId: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
                  timeCreated: 2018-02-12T11:44:39.2980634Z
                  timeModified: 2018-02-14T13:13:19.3381394Z
                type: microsoft.insights/queryPacks/queries
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Adds or Updates a specific Query within a Log Analytics QueryPack.
      operationId: queries_put
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The id of a specific query defined in the Log Analytics QueryPack
        in: path
        name: query_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogAnalyticsQueryPackQuery'
        description: Properties that need to be specified to create a new query and
          add it to a Log Analytics QueryPack.
        required: true
        x-body-name: QueryPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPackQuery'
          description: The new or updated query contained within the Log Analytics
            QueryPack.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPut:
          parameters:
            QueryPayload:
              properties:
                body: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                  \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                  | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                  | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                  \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                  \ min(timestamp), max(timestamp), any(stack) by problemId  \n) on\
                  \ problemId \n| order by  count_ desc\n"
                categories:
                - analytics
                description: my description
                displayName: Exceptions - New in the last 24 hours
                labels:
                - my-label
                - my-other-label
                linkedResourceId: /subscriptions/a51967b5-271e-4f12-810e-e7fa20c8828d/resourceGroups/FoodHere/providers/Microsoft.KeyVault/vaults/FoodHere
            api-version: 2019-09-01-preview
            queryId: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4918
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4918/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack/queries/a449f8af-8e64-4b3a-9b16-5a7165ff98c4
                name: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
                properties:
                  author: 1809f206-263a-46f7-942d-4572c156b7e7
                  body: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                    \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                    | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                    | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                    \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                    \ min(timestamp), max(timestamp), any(stack) by problemId  \n\
                    ) on problemId \n| order by  count_ desc\n"
                  categories:
                  - analytics
                  description: my description
                  displayName: Exceptions - New in the last 24 hours
                  labels:
                  - my-label
                  - my-other-label
                  linkedResourceId: /subscriptions/a51967b5-271e-4f12-810e-e7fa20c8828d/resourceGroups/FoodHere/providers/Microsoft.KeyVault/vaults/FoodHere
                  queryId: a449f8af-8e64-4b3a-9b16-5a7165ff98c4
                  timeCreated: 2019-08-15T10:30:32.5742324Z
                  timeModified: 2019-08-15T10:30:32.5742324Z
                type: microsoft.insights/queryPacks/queries
      x-codegen-request-body-name: QueryPayload
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ContinuationTokenParameter:
      description: Base64 encoded token used to fetch the next page of items. Default
        is null.
      in: query
      name: $skipToken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    IncludeBodyParameter:
      description: "Flag indicating whether or not to return the body of each applicable\
        \ query. If false, only return the query information."
      in: query
      name: includeBody
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    MaxItemCountParameter:
      description: Maximum items returned in page.
      in: query
      name: $top
      schema:
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    QueryIdParameter:
      description: The id of a specific query defined in the Log Analytics QueryPack
      in: path
      name: queryId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    QueryPackNameParameter:
      description: The name of the Log Analytics QueryPack resource.
      in: path
      name: queryPackName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AzureResourceProperties:
      description: An Azure resource QueryPack-Query object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      title: AzureResourceProperties
      type: object
    ErrorResponse:
      description: Describe the format of an Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    LogAnalyticsQueryPackQuery:
      allOf:
      - $ref: '#/components/schemas/AzureResourceProperties'
      description: A Log Analytics QueryPack-Query definition.
      example:
        properties:
          resourceTypes:
          - resourceTypes
          - resourceTypes
          linkedResourceId: linkedResourceId
          author: author
          displayName: displayName
          description: description
          timeCreated: 2000-01-23T04:56:07.000+00:00
          categories:
          - categories
          - categories
          body: body
          timeModified: 2000-01-23T04:56:07.000+00:00
          labels:
          - labels
          - labels
          queryId: queryId
      properties:
        properties:
          $ref: '#/components/schemas/LogAnalyticsQueryPackQueryProperties'
      title: LogAnalyticsQueryPackQuery
    LogAnalyticsQueryPackQueryListResult:
      description: Describes the list of Log Analytics QueryPack-Query resources.
      example:
        value:
        - properties:
            resourceTypes:
            - resourceTypes
            - resourceTypes
            linkedResourceId: linkedResourceId
            author: author
            displayName: displayName
            description: description
            timeCreated: 2000-01-23T04:56:07.000+00:00
            categories:
            - categories
            - categories
            body: body
            timeModified: 2000-01-23T04:56:07.000+00:00
            labels:
            - labels
            - labels
            queryId: queryId
        - properties:
            resourceTypes:
            - resourceTypes
            - resourceTypes
            linkedResourceId: linkedResourceId
            author: author
            displayName: displayName
            description: description
            timeCreated: 2000-01-23T04:56:07.000+00:00
            categories:
            - categories
            - categories
            body: body
            timeModified: 2000-01-23T04:56:07.000+00:00
            labels:
            - labels
            - labels
            queryId: queryId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to get the next set of Log Analytics QueryPack definitions
            if too many QueryPack-Queries where returned in the result set.
          title: nextLink
          type: string
        value:
          description: List of Log Analytics QueryPack Query definitions.
          items:
            $ref: '#/components/schemas/LogAnalyticsQueryPackQuery'
          title: value
          type: array
      required:
      - value
      title: LogAnalyticsQueryPackQueryListResult
      type: object
    LogAnalyticsQueryPackQueryProperties:
      description: Properties that define an Log Analytics QueryPack-Query resource.
      example:
        resourceTypes:
        - resourceTypes
        - resourceTypes
        linkedResourceId: linkedResourceId
        author: author
        displayName: displayName
        description: description
        timeCreated: 2000-01-23T04:56:07.000+00:00
        categories:
        - categories
        - categories
        body: body
        timeModified: 2000-01-23T04:56:07.000+00:00
        labels:
        - labels
        - labels
        queryId: queryId
      properties:
        author:
          description: Object Id of user creating the query.
          readOnly: true
          title: author
          type: string
        body:
          description: Body of the query.
          title: body
          type: string
        categories:
          description: Categories associated with the query.
          items:
            type: string
          title: categories
          type: array
        description:
          description: Description of the query.
          title: description
          type: string
        displayName:
          description: Unique display name for your query within the Query Pack.
          title: displayName
          type: string
        labels:
          description: Labels associated with the query.
          items:
            type: string
          title: labels
          type: array
        linkedResourceId:
          description: Resource id associated with the query.
          title: linkedResourceId
          type: string
        queryId:
          description: The unique ID of your application. This field cannot be changed.
          readOnly: true
          title: queryId
          type: string
        resourceTypes:
          description: Resource Types associated with the query.
          items:
            type: string
          title: resourceTypes
          type: array
        timeCreated:
          description: "Creation Date for the Log Analytics Query, in ISO 8601 format."
          format: date-time
          readOnly: true
          title: timeCreated
          type: string
        timeModified:
          description: "Last modified date of the Log Analytics Query, in ISO 8601\
            \ format."
          format: date-time
          readOnly: true
          title: timeModified
          type: string
      required:
      - body
      - displayName
      title: LogAnalyticsQueryPackQueryProperties
      type: object
    LogAnalyticsQueryPackQuerySearchProperties:
      description: Properties that define an Log Analytics QueryPack-Query search
        properties.
      example:
        resourceTypes:
        - resourceTypes
        - resourceTypes
        categories:
        - categories
        - categories
        labels:
        - labels
        - labels
      properties:
        categories:
          description: Categories associated with the query.
          items:
            type: string
          title: categories
          type: array
        labels:
          description: Labels associated with the query.
          items:
            type: string
          title: labels
          type: array
        resourceTypes:
          description: Resource Types associated with the query.
          items:
            type: string
          title: resourceTypes
          type: array
      title: LogAnalyticsQueryPackQuerySearchProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
