openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Studio
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_studio_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_studio_v1
servers:
- url: https://studio.twilio.com
tags:
- name: StudioV1Engagement
- name: StudioV1EngagementContext
- name: StudioV1Execution
- name: StudioV1ExecutionContext
- name: StudioV1ExecutionStep
- name: StudioV1ExecutionStepContext
- name: StudioV1Flow
- name: StudioV1Step
- name: StudioV1StepContext
paths:
  /v1/Flows:
    description: Studio flows
    get:
      description: Retrieve a list of all Flows.
      operationId: list_flow
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlowResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_flow_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - version
      dependentProperties:
        engagements:
          mapping:
            flow_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements"
        executions:
          mapping:
            flow_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Executions"
      pathType: list
  /v1/Flows/{FlowSid}/Engagements:
    description: "[DEPRECATED] Excecutions of Studio flows"
    get:
      description: Retrieve a list of all Engagements for the Flow.
      operationId: list_engagement
      parameters:
      - description: The SID of the Flow to read Engagements from.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEngagementResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Engagement
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_engagement_controller
    post:
      description: Triggers a new Engagement for the Flow
      operationId: create_engagement
      parameters:
      - description: The SID of the Flow.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEngagementRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.engagement'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Engagement
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_engagement_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - contact_sid
      - status
      - date_created
      dependentProperties:
        engagement_context:
          mapping:
            engagement_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements/{engagement_sid}/Context"
        steps:
          mapping:
            engagement_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements/{engagement_sid}/Steps"
      parent: "/Flows/{Sid}"
      pathType: list
  /v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Context:
    description: "[DEPRECATED] JSON context for engagements"
    get:
      description: Retrieve the most recent context for an Engagement.
      operationId: fetch_engagement_context
      parameters:
      - description: The SID of the Flow.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Engagement.
        explode: false
        in: path
        name: EngagementSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.engagement.engagement_context'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1EngagementContext
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_engagement_context_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - context
      mountName: engagement_context
      parent: "/Flows/{FlowSid}/Engagements/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps:
    description: Steps within a Studio flow
    get:
      description: Retrieve a list of all Steps for an Engagement.
      operationId: list_step
      parameters:
      - description: The SID of the Flow with the Step to read.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Engagement with the Step to read.
        explode: false
        in: path
        name: EngagementSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStepResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Step
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_step_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - name
      - transitioned_from
      - transitioned_to
      dependentProperties:
        step_context:
          mapping:
            engagement_sid: engagement_sid
            flow_sid: flow_sid
            step_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements/{engagement_sid}/Steps/{step_sid}/Context"
      parent: "/Flows/{FlowSid}/Engagements/{Sid}"
      pathType: list
  /v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{Sid}:
    description: Steps within a Studio flow
    get:
      description: Retrieve a Step.
      operationId: fetch_step
      parameters:
      - description: The SID of the Flow with the Step to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Engagement with the Step to fetch.
        explode: false
        in: path
        name: EngagementSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Step resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.engagement.step'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Step
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_step_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - name
      - transitioned_from
      - transitioned_to
      dependentProperties:
        step_context:
          mapping:
            engagement_sid: engagement_sid
            flow_sid: flow_sid
            step_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements/{engagement_sid}/Steps/{step_sid}/Context"
      parent: "/Flows/{FlowSid}/Engagements/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{StepSid}/Context:
    description: JSON context for individual steps
    get:
      description: Retrieve the context for an Engagement Step.
      operationId: fetch_step_context
      parameters:
      - description: The SID of the Flow with the Step to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Engagement with the Step to fetch.
        explode: false
        in: path
        name: EngagementSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Step to fetch
        explode: false
        in: path
        name: StepSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.engagement.step.step_context'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1StepContext
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_step_context_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - context
      mountName: step_context
      parent: "/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Engagements/{Sid}:
    delete:
      description: Delete this Engagement and all Steps relating to it.
      operationId: delete_engagement
      parameters:
      - description: The SID of the Flow to delete Engagements from.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Engagement resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Engagement
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_engagement_controller
    description: "[DEPRECATED] Excecutions of Studio flows"
    get:
      description: Retrieve an Engagement
      operationId: fetch_engagement
      parameters:
      - description: The SID of the Flow.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Engagement resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.engagement'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Engagement
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_engagement_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - contact_sid
      - status
      - date_created
      dependentProperties:
        engagement_context:
          mapping:
            engagement_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements/{engagement_sid}/Context"
        steps:
          mapping:
            engagement_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements/{engagement_sid}/Steps"
      parent: "/Flows/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Executions:
    description: Executions of Studio flows
    get:
      description: Retrieve a list of all Executions for the Flow.
      operationId: list_execution
      parameters:
      - description: The SID of the Flow with the Execution resources to read.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Only show Execution resources starting on or after this [ISO\
          \ 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`."
        explode: true
        in: query
        name: DateCreatedFrom
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only show Execution resources starting before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`."
        explode: true
        in: query
        name: DateCreatedTo
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_controller
    post:
      description: Triggers a new Execution for the Flow
      operationId: create_execution
      parameters:
      - description: The SID of the Excecution's Flow.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateExecutionRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.execution'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - contact_sid
      - status
      - date_created
      dependentProperties:
        execution_context:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Executions/{execution_sid}/Context"
        steps:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Executions/{execution_sid}/Steps"
      parent: "/Flows/{Sid}"
      pathType: list
  /v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Context:
    description: JSON context for executions
    get:
      description: Retrieve the most recent context for an Execution.
      operationId: fetch_execution_context
      parameters:
      - description: The SID of the Flow with the Execution context to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution context to fetch.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.execution.execution_context'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1ExecutionContext
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_context_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - context
      mountName: execution_context
      parent: "/Flows/{FlowSid}/Executions/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps:
    description: Individual steps within an execution
    get:
      description: Retrieve a list of all Steps for an Execution.
      operationId: list_execution_step
      parameters:
      - description: The SID of the Flow with the Steps to read.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution with the Steps to read.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionStepResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1ExecutionStep
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_step_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: execution_step
      defaultOutputProperties:
      - sid
      - name
      - date_created
      dependentProperties:
        step_context:
          mapping:
            execution_sid: execution_sid
            flow_sid: flow_sid
            step_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Executions/{execution_sid}/Steps/{step_sid}/Context"
      parent: "/Flows/{FlowSid}/Executions/{Sid}"
      pathType: list
  /v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}:
    description: Individual steps within an execution
    get:
      description: Retrieve a Step.
      operationId: fetch_execution_step
      parameters:
      - description: The SID of the Flow with the Step to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource with the Step to fetch.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the ExecutionStep resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.execution.execution_step'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1ExecutionStep
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_step_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: execution_step
      defaultOutputProperties:
      - sid
      - name
      - date_created
      dependentProperties:
        step_context:
          mapping:
            execution_sid: execution_sid
            flow_sid: flow_sid
            step_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Executions/{execution_sid}/Steps/{step_sid}/Context"
      parent: "/Flows/{FlowSid}/Executions/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{StepSid}/Context:
    description: JSON context for an individual step within an execution
    get:
      description: Retrieve the context for an Execution Step.
      operationId: fetch_execution_step_context
      parameters:
      - description: The SID of the Flow with the Step to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource with the Step to fetch.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Step to fetch.
        explode: false
        in: path
        name: StepSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.execution.execution_step.execution_step_context'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1ExecutionStepContext
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_step_context_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: execution_step_context
      defaultOutputProperties:
      - context
      mountName: step_context
      parent: "/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}"
      pathType: instance
  /v1/Flows/{FlowSid}/Executions/{Sid}:
    delete:
      description: Delete the Execution and all Steps relating to it.
      operationId: delete_execution
      parameters:
      - description: The SID of the Flow with the Execution resources to delete.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_controller
    description: Executions of Studio flows
    get:
      description: Retrieve an Execution
      operationId: fetch_execution
      parameters:
      - description: The SID of the Flow with the Execution resource to fetch
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.execution'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_controller
    post:
      description: Update the status of an Execution to `ended`.
      operationId: update_execution
      parameters:
      - description: The SID of the Flow with the Execution resources to update.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateExecutionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow.execution'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_execution_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - contact_sid
      - status
      - date_created
      dependentProperties:
        execution_context:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Executions/{execution_sid}/Context"
        steps:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v1/Flows/{flow_sid}/Executions/{execution_sid}/Steps"
      parent: "/Flows/{Sid}"
      pathType: instance
  /v1/Flows/{Sid}:
    delete:
      description: Delete a specific Flow.
      operationId: delete_flow
      parameters:
      - description: The SID of the Flow resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_flow_controller
    description: Studio flows
    get:
      description: Retrieve a specific Flow.
      operationId: fetch_flow
      parameters:
      - description: The SID of the Flow resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v1.flow'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV1Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v1_flow_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - version
      dependentProperties:
        engagements:
          mapping:
            flow_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Engagements"
        executions:
          mapping:
            flow_sid: sid
          resource_url: "/v1/Flows/{flow_sid}/Executions"
      pathType: instance
components:
  schemas:
    engagement_enum_status:
      enum:
      - active
      - ended
      title: engagement_enum_status
      type: string
    execution_enum_status:
      enum:
      - active
      - ended
      title: execution_enum_status
      type: string
    flow_enum_status:
      enum:
      - draft
      - published
      title: flow_enum_status
      type: string
    studio.v1.flow:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        version: 0
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flow resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the Flow.
          nullable: true
          title: friendly_name
          type: string
        links:
          description: The URLs of the Flow's nested resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: The unique string that we created to identify the Flow resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/flow_enum_status'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        version:
          description: The latest version number of the Flow's definition.
          nullable: true
          title: version
          type: integer
      title: studio.v1.flow
      type: object
    studio.v1.flow.engagement:
      example:
        flow_sid: flow_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        contact_channel_address: contact_channel_address
        date_created: 2000-01-23T04:56:07.000+00:00
        context: ""
        account_sid: account_sid
        contact_sid: contact_sid
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Engagement resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        contact_channel_address:
          description: "The phone number, SIP address or Client identifier that triggered\
            \ this Engagement. Phone numbers are in E.164 format (+16175551212). SIP\
            \ addresses are formatted as `name@company.com`. Client identifiers are\
            \ formatted `client:name`."
          nullable: true
          title: contact_channel_address
          type: string
        contact_sid:
          description: The SID of the Contact.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FC[0-9a-fA-F]{32}$"
          title: contact_sid
          type: string
        context:
          description: "The current state of the execution flow. As your flow executes,\
            \ we save the state in a flow context. Your widgets can access the data\
            \ in the flow context as variables, either in configuration fields or\
            \ in text areas as variable substitution."
          nullable: true
          title: context
        date_created:
          description: "The date and time in GMT when the Engagement was created in\
            \ [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the Engagement was updated in\
            \ [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        links:
          description: The URLs of the Engagement's nested resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: The unique string that we created to identify the Engagement
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/engagement_enum_status'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.engagement
      type: object
    studio.v1.flow.engagement.engagement_context:
      example:
        flow_sid: flow_sid
        context: ""
        account_sid: account_sid
        engagement_sid: engagement_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: The SID of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "As your flow executes, we save the state in what's called\
            \ the Flow Context. Any data in the flow context can be accessed by your\
            \ widgets as variables, either in configuration fields or in text areas\
            \ as variable substitution."
          nullable: true
          title: context
        engagement_sid:
          description: The SID of the Engagement.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: engagement_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        url:
          description: The URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.engagement.engagement_context
      type: object
    studio.v1.flow.engagement.step:
      example:
        flow_sid: flow_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        context: ""
        name: name
        account_sid: account_sid
        links: "{}"
        engagement_sid: engagement_sid
        transitioned_to: transitioned_to
        transitioned_from: transitioned_from
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Step resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        engagement_sid:
          description: The SID of the Engagement.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: engagement_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        name:
          description: The event that caused the Flow to transition to the Step.
          nullable: true
          title: name
          type: string
        sid:
          description: The unique string that we created to identify the Step resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        transitioned_from:
          description: The Widget that preceded the Widget for the Step.
          nullable: true
          title: transitioned_from
          type: string
        transitioned_to:
          description: The Widget that will follow the Widget for the Step.
          nullable: true
          title: transitioned_to
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.engagement.step
      type: object
    studio.v1.flow.engagement.step.step_context:
      example:
        flow_sid: flow_sid
        step_sid: step_sid
        context: ""
        account_sid: account_sid
        engagement_sid: engagement_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the StepContext resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        engagement_sid:
          description: The SID of the Engagement.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: engagement_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        step_sid:
          description: The SID of the Step the context is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FT[0-9a-fA-F]{32}$"
          title: step_sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.engagement.step.step_context
      type: object
    studio.v1.flow.execution:
      example:
        flow_sid: flow_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        contact_channel_address: contact_channel_address
        date_created: 2000-01-23T04:56:07.000+00:00
        context: ""
        account_sid: account_sid
        contact_sid: contact_sid
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Execution resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        contact_channel_address:
          description: "The phone number, SIP address or Client identifier that triggered\
            \ the Execution. Phone numbers are in E.164 format (e.g. +16175551212).\
            \ SIP addresses are formatted as `name@company.com`. Client identifiers\
            \ are formatted `client:name`."
          nullable: true
          title: contact_channel_address
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        contact_sid:
          description: The SID of the Contact.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FC[0-9a-fA-F]{32}$"
          title: contact_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        links:
          description: The URLs of nested resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: The unique string that we created to identify the Execution
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/execution_enum_status'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.execution
      type: object
    studio.v1.flow.execution.execution_context:
      example:
        flow_sid: flow_sid
        context: ""
        account_sid: account_sid
        execution_sid: execution_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ExecutionContext resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        execution_sid:
          description: The SID of the context's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: execution_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.execution.execution_context
      type: object
    studio.v1.flow.execution.execution_step:
      example:
        flow_sid: flow_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        context: ""
        name: name
        account_sid: account_sid
        links: "{}"
        transitioned_to: transitioned_to
        execution_sid: execution_sid
        transitioned_from: transitioned_from
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ExecutionStep resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        execution_sid:
          description: The SID of the Step's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: execution_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        name:
          description: The event that caused the Flow to transition to the Step.
          nullable: true
          title: name
          type: string
        sid:
          description: The unique string that we created to identify the ExecutionStep
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        transitioned_from:
          description: The Widget that preceded the Widget for the Step.
          nullable: true
          title: transitioned_from
          type: string
        transitioned_to:
          description: The Widget that will follow the Widget for the Step.
          nullable: true
          title: transitioned_to
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.execution.execution_step
      type: object
    studio.v1.flow.execution.execution_step.execution_step_context:
      example:
        flow_sid: flow_sid
        step_sid: step_sid
        context: ""
        account_sid: account_sid
        execution_sid: execution_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ExecutionStepContext resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        execution_sid:
          description: The SID of the context's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: execution_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        step_sid:
          description: The SID of the Step that the context is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FT[0-9a-fA-F]{32}$"
          title: step_sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v1.flow.execution.execution_step.execution_step_context
      type: object
    ListFlowResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 6
        key: key
        url: https://openapi-generator.tech
        page_size: 1
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListFlowResponse_meta
      type: object
    ListFlowResponse:
      example:
        flows:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          version: 0
          url: https://openapi-generator.tech
          sid: sid
          status: status
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          version: 0
          url: https://openapi-generator.tech
          sid: sid
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
      properties:
        flows:
          items:
            $ref: '#/components/schemas/studio.v1.flow'
          title: flows
          type: array
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
      title: ListFlowResponse
      type: object
    ListEngagementResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        engagements:
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          contact_channel_address: contact_channel_address
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          account_sid: account_sid
          contact_sid: contact_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          contact_channel_address: contact_channel_address
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          account_sid: account_sid
          contact_sid: contact_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
      properties:
        engagements:
          items:
            $ref: '#/components/schemas/studio.v1.flow.engagement'
          title: engagements
          type: array
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
      title: ListEngagementResponse
      type: object
    CreateEngagementRequest:
      properties:
        From:
          description: "The Twilio phone number to send messages or initiate calls\
            \ from during the Flow Engagement. Available as variable `{{flow.channel.address}}`"
          format: phone-number
          type: string
        Parameters:
          description: "A JSON string we will add to your flow's context and that\
            \ you can access as variables inside your flow. For example, if you pass\
            \ in `Parameters={'name':'Zeke'}` then inside a widget you can reference\
            \ the variable `{{flow.data.name}}` which will return the string 'Zeke'.\
            \ Note: the JSON value must explicitly be passed as a string, not as a\
            \ hash object. Depending on your particular HTTP library, you may need\
            \ to add quotes or URL encode your JSON string."
        To:
          description: "The Contact phone number to start a Studio Flow Engagement,\
            \ available as variable `{{contact.channel.address}}`."
          format: phone-number
          type: string
      required:
      - From
      - To
      title: CreateEngagementRequest
      type: object
    ListStepResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        steps:
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          name: name
          account_sid: account_sid
          links: "{}"
          engagement_sid: engagement_sid
          transitioned_to: transitioned_to
          transitioned_from: transitioned_from
          url: https://openapi-generator.tech
          sid: sid
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          name: name
          account_sid: account_sid
          links: "{}"
          engagement_sid: engagement_sid
          transitioned_to: transitioned_to
          transitioned_from: transitioned_from
          url: https://openapi-generator.tech
          sid: sid
      properties:
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
        steps:
          items:
            $ref: '#/components/schemas/studio.v1.flow.engagement.step'
          title: steps
          type: array
      title: ListStepResponse
      type: object
    ListExecutionResponse:
      example:
        executions:
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          contact_channel_address: contact_channel_address
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          account_sid: account_sid
          contact_sid: contact_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          contact_channel_address: contact_channel_address
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          account_sid: account_sid
          contact_sid: contact_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
      properties:
        executions:
          items:
            $ref: '#/components/schemas/studio.v1.flow.execution'
          title: executions
          type: array
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
      title: ListExecutionResponse
      type: object
    CreateExecutionRequest:
      properties:
        From:
          description: "The Twilio phone number to send messages or initiate calls\
            \ from during the Flow's Execution. Available as variable `{{flow.channel.address}}`.\
            \ For SMS, this can also be a Messaging Service SID."
          format: phone-number
          type: string
        Parameters:
          description: "JSON data that will be added to the Flow's context and that\
            \ can be accessed as variables inside your Flow. For example, if you pass\
            \ in `Parameters={\"name\":\"Zeke\"}`, a widget in your Flow can reference\
            \ the variable `{{flow.data.name}}`, which returns \"Zeke\". Note: the\
            \ JSON value must explicitly be passed as a string, not as a hash object.\
            \ Depending on your particular HTTP library, you may need to add quotes\
            \ or URL encode the JSON string."
        To:
          description: "The Contact phone number to start a Studio Flow Execution,\
            \ available as variable `{{contact.channel.address}}`."
          format: phone-number
          type: string
      required:
      - From
      - To
      title: CreateExecutionRequest
      type: object
    ListExecutionStepResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        steps:
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          name: name
          account_sid: account_sid
          links: "{}"
          transitioned_to: transitioned_to
          execution_sid: execution_sid
          transitioned_from: transitioned_from
          url: https://openapi-generator.tech
          sid: sid
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          name: name
          account_sid: account_sid
          links: "{}"
          transitioned_to: transitioned_to
          execution_sid: execution_sid
          transitioned_from: transitioned_from
          url: https://openapi-generator.tech
          sid: sid
      properties:
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
        steps:
          items:
            $ref: '#/components/schemas/studio.v1.flow.execution.execution_step'
          title: steps
          type: array
      title: ListExecutionStepResponse
      type: object
    UpdateExecutionRequest:
      properties:
        Status:
          $ref: '#/components/schemas/execution_enum_status'
      required:
      - Status
      title: UpdateExecutionRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
