openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Media
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_media_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_media_v1
servers:
- url: https://media.twilio.com
tags:
- name: MediaV1MediaProcessor
- name: MediaV1MediaRecording
- name: MediaV1PlaybackGrant
- name: MediaV1PlayerStreamer
paths:
  /v1/MediaProcessors:
    description: A MediaProcessor resource provides the ability to capture content
      from a web application with a Twilio Media Extension to create a livestream.
    get:
      description: Returns a list of MediaProcessors.
      operationId: list_media_processor
      parameters:
      - description: "The sort order of the list by `date_created`. Can be: `asc`\
          \ (ascending) or `desc` (descending) with `desc` as the default."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/media_processor_enum_order'
        style: form
      - description: "Status to filter by, with possible values `started`, `ended`\
          \ or `failed`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/media_processor_enum_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMediaProcessorResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaProcessor
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_processor_controller
    post:
      description: ""
      operationId: create_media_processor
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMediaProcessorRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.media_processor'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaProcessor
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_processor_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      - extension
      - extension_context
      mountName: media_processor
      pathType: list
  /v1/MediaProcessors/{Sid}:
    description: A MediaProcessor resource provides the ability to capture content
      from a web application with a Twilio Media Extension to create a livestream.
    get:
      description: Returns a single MediaProcessor resource identified by a SID.
      operationId: fetch_media_processor
      parameters:
      - description: The SID of the MediaProcessor resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^ZX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.media_processor'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaProcessor
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_processor_controller
    post:
      description: Updates a MediaProcessor resource identified by a SID.
      operationId: update_media_processor
      parameters:
      - description: The SID of the MediaProcessor resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^ZX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMediaProcessorRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.media_processor'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaProcessor
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_processor_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      - extension
      - extension_context
      mountName: media_processor
      pathType: instance
  /v1/MediaRecordings:
    description: A MediaRecording resource exposes recording metadata and allows the
      deletion of a particular recording.
    get:
      description: Returns a list of MediaRecordings.
      operationId: list_media_recording
      parameters:
      - description: "The sort order of the list by `date_created`. Can be: `asc`\
          \ (ascending) or `desc` (descending) with `desc` as the default."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/media_recording_enum_order'
        style: form
      - description: "Status to filter by, with possible values `processing`, `completed`,\
          \ `deleted`, or `failed`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/media_recording_enum_status'
        style: form
      - description: SID of a MediaProcessor to filter by.
        explode: true
        in: query
        name: ProcessorSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^ZX[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: SID of a MediaRecording source to filter by.
        explode: true
        in: query
        name: SourceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMediaRecordingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaRecording
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_recording_controller
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      dependentProperties:
        media:
          mapping:
            media_recording_sid: sid
          resource_url: "/v1/MediaRecordings/{media_recording_sid}/Media"
        timed_metadata:
          mapping:
            media_recording_sid: sid
          resource_url: "/v1/MediaRecordings/{media_recording_sid}/TimedMetadata"
      mountName: media_recording
      pathType: list
  /v1/MediaRecordings/{Sid}:
    delete:
      description: Deletes a MediaRecording resource identified by a SID.
      operationId: delete_media_recording
      parameters:
      - description: The SID of the MediaRecording resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaRecording
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_recording_controller
    description: A MediaRecording resource exposes recording metadata and allows the
      deletion of a particular recording.
    get:
      description: Returns a single MediaRecording resource identified by a SID.
      operationId: fetch_media_recording
      parameters:
      - description: The SID of the MediaRecording resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KV[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.media_recording'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1MediaRecording
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.media_v1_media_recording_controller
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      dependentProperties:
        media:
          mapping:
            media_recording_sid: sid
          resource_url: "/v1/MediaRecordings/{media_recording_sid}/Media"
        timed_metadata:
          mapping:
            media_recording_sid: sid
          resource_url: "/v1/MediaRecordings/{media_recording_sid}/TimedMetadata"
      mountName: media_recording
      pathType: instance
  /v1/PlayerStreamers:
    description: "A PlayerStreamer resource provides the ability to send a livestream\
      \ to a JavaScript, iOS, or Android Player SDK."
    get:
      description: Returns a list of PlayerStreamers.
      operationId: list_player_streamer
      parameters:
      - description: "The sort order of the list by `date_created`. Can be: `asc`\
          \ (ascending) or `desc` (descending) with `desc` as the default."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/player_streamer_enum_order'
        style: form
      - description: "Status to filter by, with possible values `created`, `started`,\
          \ `ended`, or `failed`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/player_streamer_enum_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPlayerStreamerResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1PlayerStreamer
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_player_streamer_controller
    post:
      description: ""
      operationId: create_player_streamer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePlayerStreamerRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.player_streamer'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1PlayerStreamer
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_player_streamer_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      dependentProperties:
        playback_grant:
          mapping:
            sid: sid
          resource_url: "/v1/PlayerStreamers/{sid}/PlaybackGrant"
        recording_playback_grant:
          mapping:
            sid: sid
          resource_url: "/v1/PlayerStreamers/{sid}/RecordingPlaybackGrant"
        timed_metadata:
          mapping:
            player_streamer_sid: sid
          resource_url: "/v1/PlayerStreamers/{player_streamer_sid}/TimedMetadata"
      mountName: player_streamer
      pathType: list
  /v1/PlayerStreamers/{Sid}:
    description: "A PlayerStreamer resource provides the ability to send a livestream\
      \ to a JavaScript, iOS, or Android Player SDK."
    get:
      description: Returns a single PlayerStreamer resource identified by a SID.
      operationId: fetch_player_streamer
      parameters:
      - description: The SID of the PlayerStreamer resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VJ[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.player_streamer'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1PlayerStreamer
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_player_streamer_controller
    post:
      description: Updates a PlayerStreamer resource identified by a SID.
      operationId: update_player_streamer
      parameters:
      - description: The SID of the PlayerStreamer resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VJ[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdatePlayerStreamerRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.player_streamer'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1PlayerStreamer
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_player_streamer_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      dependentProperties:
        playback_grant:
          mapping:
            sid: sid
          resource_url: "/v1/PlayerStreamers/{sid}/PlaybackGrant"
        recording_playback_grant:
          mapping:
            sid: sid
          resource_url: "/v1/PlayerStreamers/{sid}/RecordingPlaybackGrant"
        timed_metadata:
          mapping:
            player_streamer_sid: sid
          resource_url: "/v1/PlayerStreamers/{player_streamer_sid}/TimedMetadata"
      mountName: player_streamer
      pathType: instance
  /v1/PlayerStreamers/{Sid}/PlaybackGrant:
    description: A PlaybackGrant resource allows developers to generate a grant to
      initialize the Twilio Live Player SDK and connect to a livestream.
    get:
      description: '**This method is not enabled.** Returns a single PlaybackGrant
        resource identified by a SID.'
      operationId: fetch_player_streamer_playback_grant
      parameters:
      - description: The SID of the PlayerStreamer resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VJ[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.player_streamer.player_streamer_playback_grant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1PlaybackGrant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_playback_grant_controller
    post:
      description: ""
      operationId: create_player_streamer_playback_grant
      parameters:
      - description: The unique string generated to identify the PlayerStreamer resource
          associated with this PlaybackGrant
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VJ[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePlayerStreamerPlaybackGrantRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.player_streamer.player_streamer_playback_grant'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MediaV1PlaybackGrant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.media_v1_playback_grant_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: "/PlayerStreamers/{Sid}"
      pathType: instance
components:
  schemas:
    media.v1.media_processor:
      example:
        extension_context: extension_context
        extension: extension
        date_updated: 2000-01-23T04:56:07.000+00:00
        status_callback_method: HEAD
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        status_callback: https://openapi-generator.tech
        max_duration: 0
        url: https://openapi-generator.tech
        ended_reason: ended_reason
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the MediaProcessor resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        ended_reason:
          description: "The reason why a MediaProcessor ended. When a MediaProcessor\
            \ is in progress, will be `null`. When a MediaProcessor is completed,\
            \ can be `ended-via-api`, `max-duration-exceeded`, `error-loading-extension`,\
            \ `error-streaming-media` or `internal-service-error`. See [ended reasons](/docs/live/api/mediaprocessors#mediaprocessor-ended-reason-values)\
            \ for more details."
          nullable: true
          title: ended_reason
          type: string
        extension:
          description: "The [Media Extension](/docs/live/media-extensions-overview)\
            \ name or URL. Ex: `video-composer-v2`"
          nullable: true
          title: extension
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        extension_context:
          description: "The context of the Media Extension, represented as a JSON\
            \ dictionary. See the documentation for the specific [Media Extension](/docs/live/media-extensions-overview)\
            \ you are using for more information about the context to send."
          nullable: true
          title: extension_context
          type: string
        max_duration:
          description: "The maximum time, in seconds, that the MediaProcessor can\
            \ run before automatically ends. The default value is 300 seconds, and\
            \ the maximum value is 90000 seconds. Once this maximum duration is reached,\
            \ Twilio will end the MediaProcessor, regardless of whether media is still\
            \ streaming."
          nullable: true
          title: max_duration
          type: integer
        sid:
          description: The unique string generated to identify the MediaProcessor
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ZX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/media_processor_enum_status'
        status_callback:
          description: "The URL to which Twilio will send asynchronous webhook requests\
            \ for every MediaProcessor event. See [Status Callbacks](/docs/live/api/status-callbacks)\
            \ for details."
          format: uri
          nullable: true
          title: status_callback
          type: string
        status_callback_method:
          description: The HTTP method Twilio should use to call the `status_callback`
            URL. Can be `POST` or `GET` and the default is `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: status_callback_method
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: media.v1.media_processor
      type: object
    media.v1.media_recording:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        media_size: 6
        status_callback_method: HEAD
        date_created: 2000-01-23T04:56:07.000+00:00
        format: format
        status_callback: https://openapi-generator.tech
        resolution: resolution
        processor_sid: processor_sid
        url: https://openapi-generator.tech
        sid: sid
        source_sid: source_sid
        duration: 0
        account_sid: account_sid
        links: "{}"
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the MediaRecording resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        duration:
          description: The duration of the MediaRecording in seconds.
          nullable: true
          title: duration
          type: integer
        format:
          $ref: '#/components/schemas/media_recording_enum_format'
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        media_size:
          description: The size of the recording media in bytes.
          format: int64
          nullable: true
          title: media_size
          type: integer
        processor_sid:
          description: The SID of the MediaProcessor resource which produced the MediaRecording.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ZX[0-9a-fA-F]{32}$"
          title: processor_sid
          type: string
        resolution:
          description: The dimensions of the video image in pixels expressed as columns
            (width) and rows (height).
          nullable: true
          title: resolution
          type: string
        sid:
          description: The unique string generated to identify the MediaRecording
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^KV[0-9a-fA-F]{32}$"
          title: sid
          type: string
        source_sid:
          description: The SID of the resource that generated the original media track(s)
            of the MediaRecording.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          title: source_sid
          type: string
        status:
          $ref: '#/components/schemas/media_recording_enum_status'
        status_callback:
          description: "The URL to which Twilio will send asynchronous webhook requests\
            \ for every MediaRecording event. See [Status Callbacks](/docs/live/api/status-callbacks)\
            \ for more details."
          format: uri
          nullable: true
          title: status_callback
          type: string
        status_callback_method:
          description: The HTTP method Twilio should use to call the `status_callback`
            URL. Can be `POST` or `GET` and the default is `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: status_callback_method
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: media.v1.media_recording
      type: object
    media.v1.player_streamer:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        status_callback_method: HEAD
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        status_callback: https://openapi-generator.tech
        video: true
        max_duration: 0
        url: https://openapi-generator.tech
        ended_reason: ended_reason
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the PlayerStreamer resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        ended_reason:
          $ref: '#/components/schemas/player_streamer_enum_ended_reason'
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        max_duration:
          description: "The maximum time, in seconds, that the PlayerStreamer is active\
            \ (`created` or `started`) before automatically ends. The default value\
            \ is 300 seconds, and the maximum value is 90000 seconds. Once this maximum\
            \ duration is reached, Twilio will end the PlayerStreamer, regardless\
            \ of whether media is still streaming."
          nullable: true
          title: max_duration
          type: integer
        sid:
          description: The unique string generated to identify the PlayerStreamer
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^VJ[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/player_streamer_enum_status'
        status_callback:
          description: "The URL to which Twilio will send asynchronous webhook requests\
            \ for every PlayerStreamer event. See [Status Callbacks](/docs/live/api/status-callbacks)\
            \ for more details."
          format: uri
          nullable: true
          title: status_callback
          type: string
        status_callback_method:
          description: The HTTP method Twilio should use to call the `status_callback`
            URL. Can be `POST` or `GET` and the default is `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: status_callback_method
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        video:
          description: Specifies whether the PlayerStreamer is configured to stream
            video. Defaults to `true`.
          nullable: true
          title: video
          type: boolean
      title: media.v1.player_streamer
      type: object
    media.v1.player_streamer.player_streamer_playback_grant:
      example:
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        grant: ""
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created this resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        grant:
          description: The grant that authorizes the player sdk to connect to the
            livestream
          nullable: true
          title: grant
        sid:
          description: The unique string generated to identify the PlayerStreamer
            resource that this PlaybackGrant authorizes views for.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^VJ[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: media.v1.player_streamer.player_streamer_playback_grant
      type: object
    media_processor_enum_order:
      enum:
      - asc
      - desc
      title: media_processor_enum_order
      type: string
    media_processor_enum_status:
      enum:
      - failed
      - started
      - ended
      title: media_processor_enum_status
      type: string
    media_processor_enum_update_status:
      enum:
      - ended
      title: media_processor_enum_update_status
      type: string
    media_recording_enum_format:
      enum:
      - mp4
      - webm
      title: media_recording_enum_format
      type: string
    media_recording_enum_order:
      enum:
      - asc
      - desc
      title: media_recording_enum_order
      type: string
    media_recording_enum_status:
      enum:
      - processing
      - completed
      - deleted
      - failed
      title: media_recording_enum_status
      type: string
    player_streamer_enum_ended_reason:
      enum:
      - ended-via-api
      - max-duration-exceeded
      - stream-disconnected-by-source
      - unexpected-failure
      title: player_streamer_enum_ended_reason
      type: string
    player_streamer_enum_order:
      enum:
      - asc
      - desc
      title: player_streamer_enum_order
      type: string
    player_streamer_enum_status:
      enum:
      - created
      - started
      - ended
      - failed
      title: player_streamer_enum_status
      type: string
    player_streamer_enum_update_status:
      enum:
      - ended
      title: player_streamer_enum_update_status
      type: string
    ListMediaProcessorResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 6
        key: key
        url: https://openapi-generator.tech
        page_size: 1
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListMediaProcessorResponse_meta
      type: object
    ListMediaProcessorResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        media_processors:
        - extension_context: extension_context
          extension: extension
          date_updated: 2000-01-23T04:56:07.000+00:00
          status_callback_method: HEAD
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          status_callback: https://openapi-generator.tech
          max_duration: 0
          url: https://openapi-generator.tech
          ended_reason: ended_reason
          sid: sid
          status: status
        - extension_context: extension_context
          extension: extension
          date_updated: 2000-01-23T04:56:07.000+00:00
          status_callback_method: HEAD
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          status_callback: https://openapi-generator.tech
          max_duration: 0
          url: https://openapi-generator.tech
          ended_reason: ended_reason
          sid: sid
          status: status
      properties:
        media_processors:
          items:
            $ref: '#/components/schemas/media.v1.media_processor'
          title: media_processors
          type: array
        meta:
          $ref: '#/components/schemas/ListMediaProcessorResponse_meta'
      title: ListMediaProcessorResponse
      type: object
    CreateMediaProcessorRequest:
      properties:
        Extension:
          description: "The [Media Extension](/docs/live/media-extensions-overview)\
            \ name or URL. Ex: `video-composer-v2`"
          type: string
        ExtensionContext:
          description: "The context of the Media Extension, represented as a JSON\
            \ dictionary. See the documentation for the specific [Media Extension](/docs/live/media-extensions-overview)\
            \ you are using for more information about the context to send."
          type: string
        ExtensionEnvironment:
          description: "User-defined environment variables for the Media Extension,\
            \ represented as a JSON dictionary of key/value strings. See the documentation\
            \ for the specific [Media Extension](/docs/live/media-extensions-overview)\
            \ you are using for more information about whether you need to provide\
            \ this."
        MaxDuration:
          description: "The maximum time, in seconds, that the MediaProcessor can\
            \ run before automatically ends. The default value is 300 seconds, and\
            \ the maximum value is 90000 seconds. Once this maximum duration is reached,\
            \ Twilio will end the MediaProcessor, regardless of whether media is still\
            \ streaming."
          type: integer
        StatusCallback:
          description: "The URL to which Twilio will send asynchronous webhook requests\
            \ for every MediaProcessor event. See [Status Callbacks](/docs/live/api/status-callbacks)\
            \ for details."
          format: uri
          type: string
        StatusCallbackMethod:
          description: The HTTP method Twilio should use to call the `status_callback`
            URL. Can be `POST` or `GET` and the default is `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
      required:
      - Extension
      - ExtensionContext
      title: CreateMediaProcessorRequest
      type: object
    UpdateMediaProcessorRequest:
      properties:
        Status:
          $ref: '#/components/schemas/media_processor_enum_update_status'
      required:
      - Status
      title: UpdateMediaProcessorRequest
      type: object
    ListMediaRecordingResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        media_recordings:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          media_size: 6
          status_callback_method: HEAD
          date_created: 2000-01-23T04:56:07.000+00:00
          format: format
          status_callback: https://openapi-generator.tech
          resolution: resolution
          processor_sid: processor_sid
          url: https://openapi-generator.tech
          sid: sid
          source_sid: source_sid
          duration: 0
          account_sid: account_sid
          links: "{}"
          status: status
        - date_updated: 2000-01-23T04:56:07.000+00:00
          media_size: 6
          status_callback_method: HEAD
          date_created: 2000-01-23T04:56:07.000+00:00
          format: format
          status_callback: https://openapi-generator.tech
          resolution: resolution
          processor_sid: processor_sid
          url: https://openapi-generator.tech
          sid: sid
          source_sid: source_sid
          duration: 0
          account_sid: account_sid
          links: "{}"
          status: status
      properties:
        media_recordings:
          items:
            $ref: '#/components/schemas/media.v1.media_recording'
          title: media_recordings
          type: array
        meta:
          $ref: '#/components/schemas/ListMediaProcessorResponse_meta'
      title: ListMediaRecordingResponse
      type: object
    ListPlayerStreamerResponse:
      example:
        player_streamers:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          status_callback_method: HEAD
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          status_callback: https://openapi-generator.tech
          video: true
          max_duration: 0
          url: https://openapi-generator.tech
          ended_reason: ended_reason
          sid: sid
          status: status
        - date_updated: 2000-01-23T04:56:07.000+00:00
          status_callback_method: HEAD
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          status_callback: https://openapi-generator.tech
          video: true
          max_duration: 0
          url: https://openapi-generator.tech
          ended_reason: ended_reason
          sid: sid
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
      properties:
        meta:
          $ref: '#/components/schemas/ListMediaProcessorResponse_meta'
        player_streamers:
          items:
            $ref: '#/components/schemas/media.v1.player_streamer'
          title: player_streamers
          type: array
      title: ListPlayerStreamerResponse
      type: object
    CreatePlayerStreamerRequest:
      properties:
        MaxDuration:
          description: "The maximum time, in seconds, that the PlayerStreamer is active\
            \ (`created` or `started`) before automatically ends. The default value\
            \ is 300 seconds, and the maximum value is 90000 seconds. Once this maximum\
            \ duration is reached, Twilio will end the PlayerStreamer, regardless\
            \ of whether media is still streaming."
          type: integer
        StatusCallback:
          description: "The URL to which Twilio will send asynchronous webhook requests\
            \ for every PlayerStreamer event. See [Status Callbacks](/docs/live/api/status-callbacks)\
            \ for more details."
          format: uri
          type: string
        StatusCallbackMethod:
          description: The HTTP method Twilio should use to call the `status_callback`
            URL. Can be `POST` or `GET` and the default is `POST`.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        Video:
          description: Specifies whether the PlayerStreamer is configured to stream
            video. Defaults to `true`.
          type: boolean
      title: CreatePlayerStreamerRequest
      type: object
    UpdatePlayerStreamerRequest:
      properties:
        Status:
          $ref: '#/components/schemas/player_streamer_enum_update_status'
      required:
      - Status
      title: UpdatePlayerStreamerRequest
      type: object
    CreatePlayerStreamerPlaybackGrantRequest:
      properties:
        AccessControlAllowOrigin:
          description: "The full origin URL where the livestream can be streamed.\
            \ If this is not provided, it can be streamed from any domain."
          type: string
        Ttl:
          description: The time to live of the PlaybackGrant. Default value is 15
            seconds. Maximum value is 60 seconds.
          type: integer
      title: CreatePlayerStreamerPlaybackGrantRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
- description: "PLEASE NOTE that this is a Preview product that is subject to change.\
    \ Use it with caution. If you currently do not have developer preview access,\
    \ please contact https://www.twilio.com/help/contact."
  name: Preview
