openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: NHL play-by-play API.
  title: NHL v3 Play-by-Play
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nhl-v3-play-by-play.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nhl-v3-play-by-play
servers:
- url: http://azure-api.sportsdata.io/v3/nhl/pbp
- url: https://azure-api.sportsdata.io/v3/nhl/pbp
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/PlayByPlay/{gameid}:
    get:
      operationId: PlayByPlay
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayByPlay'
          description: ""
      summary: Play By Play
      x-accepts:
      - application/json
  /{format}/PlayByPlayDelta/{date}/{minutes}:
    get:
      operationId: PlayByPlayDelta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Only returns plays that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
          <code>1</code>, <code>2</code> ... <code>all</code>.
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Delta
      x-accepts:
      - application/json
components:
  schemas:
    Game:
      example:
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 2
        HomeTeamMoneyLine: 7
        HomeTeamID: 4
        AwayTeamID: 1
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 1
        UnderPayout: 4
        GlobalHomeTeamID: 3
        Season: 3
        GameID: 2
        GlobalGameID: 9
        OverPayout: 1
        Attendance: 0
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 4
        Channel: Channel
        Period: Period
        OverUnder: 1.4894159098541704
        NeutralVenue: true
        StadiumID: 6
        Periods:
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        SeriesInfo:
          GameNumber: 3
          MaxLength: 0
          AwayTeamWins: 5
          HomeTeamWins: 4
        SeasonType: 7
        HomeTeamScore: 1
        PointSpread: 8.969578798196912
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 7
        AwayTeamScore: 5
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 3
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: true
          type: boolean
        LastPlay:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        Period:
          nullable: true
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          type: array
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Penalty:
      example:
        Description: Description
        TimeRemainingMinutes: 6
        DrawnByTeamID: 9
        IsBenchPenalty: true
        PeriodID: 6
        Sequence: 3
        PenaltyMinutes: 9
        PenaltyID: 8
        DrawnByPlayerID: 5
        TimeRemainingSeconds: 1
        PenalizedTeamID: 6
        PenalizedPlayerID: 9
        BenchPenaltyServedByPlayerID: 4
      properties:
        BenchPenaltyServedByPlayerID:
          nullable: true
          type: integer
        Description:
          nullable: true
          type: string
        DrawnByPlayerID:
          nullable: true
          type: integer
        DrawnByTeamID:
          nullable: true
          type: integer
        IsBenchPenalty:
          nullable: true
          type: boolean
        PenalizedPlayerID:
          nullable: true
          type: integer
        PenalizedTeamID:
          nullable: true
          type: integer
        PenaltyID:
          nullable: false
          type: integer
        PenaltyMinutes:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Period:
      example:
        HomeScore: 1
        ScoringPlays:
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        Penalties:
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        AwayScore: 6
        PeriodID: 2
        GameID: 7
        Name: Name
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Penalties:
          items:
            $ref: '#/components/schemas/Penalty'
          type: array
        PeriodID:
          nullable: false
          type: integer
        ScoringPlays:
          items:
            $ref: '#/components/schemas/ScoringPlay'
          type: array
    Play:
      example:
        PlayerID: 8
        OpposingPlayerID: 5
        Category: Category
        Description: Description
        Updated: Updated
        PowerPlayTeam: PowerPlayTeam
        ClockMinutes: 9
        PowerPlayTeamID: 4
        SecondAssistedByPlayerID: 3
        PeriodID: 4
        Sequence: 0
        PlayID: 6
        TeamID: 2
        Created: Created
        OpponentID: 7
        Type: Type
        HomeTeamScore: 0
        FirstAssistedByPlayerID: 9
        Opponent: Opponent
        AwayTeamScore: 7
        Team: Team
        PeriodName: PeriodName
        ClockSeconds: 0
      properties:
        AwayTeamScore:
          nullable: true
          type: integer
        Category:
          nullable: true
          type: string
        ClockMinutes:
          nullable: true
          type: integer
        ClockSeconds:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        FirstAssistedByPlayerID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpposingPlayerID:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        PeriodName:
          nullable: true
          type: string
        PlayID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        PowerPlayTeam:
          nullable: true
          type: string
        PowerPlayTeamID:
          nullable: true
          type: integer
        SecondAssistedByPlayerID:
          nullable: true
          type: integer
        Sequence:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Type:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    PlayByPlay:
      example:
        Game:
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 2
          HomeTeamMoneyLine: 7
          HomeTeamID: 4
          AwayTeamID: 1
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 1
          UnderPayout: 4
          GlobalHomeTeamID: 3
          Season: 3
          GameID: 2
          GlobalGameID: 9
          OverPayout: 1
          Attendance: 0
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 4
          Channel: Channel
          Period: Period
          OverUnder: 1.4894159098541704
          NeutralVenue: true
          StadiumID: 6
          Periods:
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          SeriesInfo:
            GameNumber: 3
            MaxLength: 0
            AwayTeamWins: 5
            HomeTeamWins: 4
          SeasonType: 7
          HomeTeamScore: 1
          PointSpread: 8.969578798196912
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 7
          AwayTeamScore: 5
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 3
          AwayTeamMoneyLine: 5
          Day: Day
        Plays:
        - PlayerID: 8
          OpposingPlayerID: 5
          Category: Category
          Description: Description
          Updated: Updated
          PowerPlayTeam: PowerPlayTeam
          ClockMinutes: 9
          PowerPlayTeamID: 4
          SecondAssistedByPlayerID: 3
          PeriodID: 4
          Sequence: 0
          PlayID: 6
          TeamID: 2
          Created: Created
          OpponentID: 7
          Type: Type
          HomeTeamScore: 0
          FirstAssistedByPlayerID: 9
          Opponent: Opponent
          AwayTeamScore: 7
          Team: Team
          PeriodName: PeriodName
          ClockSeconds: 0
        - PlayerID: 8
          OpposingPlayerID: 5
          Category: Category
          Description: Description
          Updated: Updated
          PowerPlayTeam: PowerPlayTeam
          ClockMinutes: 9
          PowerPlayTeamID: 4
          SecondAssistedByPlayerID: 3
          PeriodID: 4
          Sequence: 0
          PlayID: 6
          TeamID: 2
          Created: Created
          OpponentID: 7
          Type: Type
          HomeTeamScore: 0
          FirstAssistedByPlayerID: 9
          Opponent: Opponent
          AwayTeamScore: 7
          Team: Team
          PeriodName: PeriodName
          ClockSeconds: 0
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Plays:
          items:
            $ref: '#/components/schemas/Play'
          type: array
    ScoringPlay:
      example:
        EmptyNet: true
        ShortHanded: true
        TimeRemainingMinutes: 0
        PowerPlay: true
        AssistedByPlayerID2: 5
        AssistedByPlayerID1: 6
        PeriodID: 3
        Sequence: 6
        TimeRemainingSeconds: 4
        HomeTeamScore: 3
        AwayTeamScore: 6
        ScoringPlayID: 7
        AllowedByTeamID: 6
        ScoredByTeamID: 0
        ScoredByPlayerID: 7
      properties:
        AllowedByTeamID:
          nullable: true
          type: integer
        AssistedByPlayerID1:
          nullable: true
          type: integer
        AssistedByPlayerID2:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        EmptyNet:
          nullable: true
          type: boolean
        HomeTeamScore:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        PowerPlay:
          nullable: true
          type: boolean
        ScoredByPlayerID:
          nullable: true
          type: integer
        ScoredByTeamID:
          nullable: true
          type: integer
        ScoringPlayID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        ShortHanded:
          nullable: true
          type: boolean
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Series:
      example:
        GameNumber: 3
        MaxLength: 0
        AwayTeamWins: 5
        HomeTeamWins: 4
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

