openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/hybridRunbookWorkerGroup.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-hybridRunbookWorkerGroup
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups
  : get:
      description: Retrieve a list of hybrid runbook worker groups.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations
      operationId: hybrid_runbook_worker_group_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroupsListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - HybridRunbookWorkerGroup
      x-ms-examples:
        List hybrid worker groups by Automation Account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: testaccount
            hybridRunbookWorkerGroupName: TestWorkerGroup
            resourceGroupName: udtest
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - credential:
                    name: myRunAsCredentialName
                  hybridRunbookWorkers:
                  - ip: 134.1.1.1
                    name: TestMachine
                    registrationTime: 2017-03-24T12:43:43.053855-07:00
                  id: /subscriptions/subid/resourceGroups/udtest/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestWorkerGroup
                  name: TestWorkerGroup
              headers: {}
      x-ms-odata: '#/definitions/HybridRunbookWorkerGroup'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.hybrid_runbook_worker_group_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}
  : delete:
      description: Delete a hybrid runbook worker group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations
      operationId: hybrid_runbook_worker_group_delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid runbook worker group name
        in: path
        name: hybridRunbookWorkerGroupName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - HybridRunbookWorkerGroup
      x-ms-examples:
        Delete a hybrid worker group:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            hybridRunbookWorkerGroupName: myGroup
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.hybrid_runbook_worker_group_controller
    get:
      description: Retrieve a hybrid runbook worker group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations
      operationId: hybrid_runbook_worker_group_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid runbook worker group name
        in: path
        name: hybridRunbookWorkerGroupName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - HybridRunbookWorkerGroup
      x-ms-examples:
        Get a hybrid worker group:
          parameters:
            api-version: 2015-10-31
            automationAccountName: testaccount
            hybridRunbookWorkerGroupName: TestHybridGroup
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                credential:
                  name: myRunAsCredentialName
                hybridRunbookWorkers:
                - ip: 100.1.1.1
                  name: TestHybridWorker
                  registrationTime: 2017-03-24T12:43:45.0146578-07:00
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup
                name: TestHybridGroup
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.hybrid_runbook_worker_group_controller
    patch:
      description: Update a hybrid runbook worker group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations
      operationId: hybrid_runbook_worker_group_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid runbook worker group name
        in: path
        name: hybridRunbookWorkerGroupName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridRunbookWorkerGroupUpdateParameters'
        description: The hybrid runbook worker group
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - HybridRunbookWorkerGroup
      x-ms-examples:
        Update hybrid worker group:
          parameters:
            api-version: 2015-10-31
            automationAccountName: testaccount
            hybridRunbookWorkerGroupName: TestHybridGroup
            parameters:
              credential:
                name: myRunAsCredentialName
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                credential:
                  name: myRunAsCredentialName
                hybridRunbookWorkers:
                - ip: 100.1.1.1
                  name: TestHybridWorker
                  registrationTime: 2017-03-24T12:43:45.0146578-07:00
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup
                name: TestHybridGroup
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.hybrid_runbook_worker_group_controller
components:
  schemas:
    HybridRunbookWorker:
      description: Definition of hybrid runbook worker.
      example:
        registrationTime: 2000-01-23T04:56:07.000+00:00
        ip: ip
        name: name
        lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
      properties:
        ip:
          description: Gets or sets the assigned machine IP address.
          title: ip
          type: string
        lastSeenDateTime:
          description: Last Heartbeat from the Worker
          format: date-time
          nullable: false
          title: lastSeenDateTime
          type: string
        name:
          description: Gets or sets the worker machine name.
          title: name
          type: string
        registrationTime:
          description: Gets or sets the registration time of the worker machine.
          format: date-time
          nullable: false
          title: registrationTime
          type: string
      title: HybridRunbookWorker
      type: object
    HybridRunbookWorkerGroup:
      description: Definition of hybrid runbook worker group.
      example:
        groupType: User
        hybridRunbookWorkers:
        - registrationTime: 2000-01-23T04:56:07.000+00:00
          ip: ip
          name: name
          lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
        - registrationTime: 2000-01-23T04:56:07.000+00:00
          ip: ip
          name: name
          lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
        credential:
          name: name
        name: name
        id: id
      properties:
        credential:
          $ref: '#/components/schemas/RunAsCredentialAssociationProperty'
        groupType:
          description: Type of the HybridWorkerGroup.
          enum:
          - User
          - System
          title: groupType
          type: string
          x-ms-enum:
            modelAsString: true
            name: GroupTypeEnum
        hybridRunbookWorkers:
          description: Gets or sets the list of hybrid runbook workers.
          items:
            $ref: '#/components/schemas/HybridRunbookWorker'
          title: hybridRunbookWorkers
          type: array
        id:
          description: Gets or sets the id of the resource.
          title: id
          type: string
        name:
          description: Gets or sets the name of the group.
          title: name
          type: string
      title: HybridRunbookWorkerGroup
      type: object
    HybridRunbookWorkerGroupUpdateParameters:
      description: Parameters supplied to the update operation.
      example:
        credential:
          name: name
      properties:
        credential:
          $ref: '#/components/schemas/RunAsCredentialAssociationProperty'
      title: HybridRunbookWorkerGroupUpdateParameters
      type: object
    HybridRunbookWorkerGroupsListResult:
      description: The response model for the list hybrid runbook worker groups.
      example:
        value:
        - groupType: User
          hybridRunbookWorkers:
          - registrationTime: 2000-01-23T04:56:07.000+00:00
            ip: ip
            name: name
            lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
          - registrationTime: 2000-01-23T04:56:07.000+00:00
            ip: ip
            name: name
            lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
          credential:
            name: name
          name: name
          id: id
        - groupType: User
          hybridRunbookWorkers:
          - registrationTime: 2000-01-23T04:56:07.000+00:00
            ip: ip
            name: name
            lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
          - registrationTime: 2000-01-23T04:56:07.000+00:00
            ip: ip
            name: name
            lastSeenDateTime: 2000-01-23T04:56:07.000+00:00
          credential:
            name: name
          name: name
          id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          title: nextLink
          type: string
        value:
          description: Gets or sets a list of hybrid runbook worker groups.
          items:
            $ref: '#/components/schemas/HybridRunbookWorkerGroup'
          title: value
          type: array
      title: HybridRunbookWorkerGroupsListResult
      type: object
    RunAsCredentialAssociationProperty:
      description: Definition of RunAs credential to use for hybrid worker.
      example:
        name: name
      properties:
        name:
          description: Gets or sets the name of the credential.
          title: name
          type: string
      title: RunAsCredentialAssociationProperty
      type: object
    HybridRunbookWorkerGroup_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: HybridRunbookWorkerGroup_ListByAutomationAccount_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
