openapi: 3.0.0
info:
  contact:
    email: hq-techport@mail.nasa.gov
    name: TechPort Team
    url: https://techport.nasa.gov
  description: TechPort RESTful API
  title: TechPort
  version: 3.4.0
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/nasa/api-docs/gh-pages/assets/json/Asteroids%20NeoWs
    version: "2.0"
  x-providerName: nasa.gov
  x-serviceName: asteroids neows
servers:
- url: http://techport.nasa.gov/api
- url: https://techport.nasa.gov/api
paths:
  /api:
    get:
      description: Returns the swagger specification for the API.
      operationId: api_get
      responses:
        "200":
          description: Successful response
        default:
          description: Object not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/projects/{id}{.format}:
    get:
      description: Returns information about a specific technology project.
      operationId: api_projects_id_format_get
      parameters:
      - description: ID of project to fetch
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The response type desired.
        explode: true
        in: query
        name: format
        required: true
        schema:
          default: xml
          enum:
          - json
          - xml
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: .format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
            application/xml:
              schema:
                $ref: '#/components/schemas/project'
          description: Successful response
        default:
          description: Object not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/projects{.format}:
    get:
      description: Returns a list of available technology project IDs.
      operationId: api_projects_format_get
      parameters:
      - description: ISO 8601 full-date in the format YYYY-MM-DD. Filters the list
          of available ID values by their lastUpdated parameter.
        explode: true
        in: query
        name: updatedSince
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: The response type desired.
        explode: true
        in: query
        name: format
        required: true
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: .format
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_projects__format__get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_api_projects__format__get_200_response'
          description: Successful response
        default:
          description: Object not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    closeoutDocument:
      description: Represents a file hyperlink or external hyperlink to a project
        closeout final report artifact.
      title: closeoutDocument
      type: string
    coInvestigator:
      description: The name of an investigator who is a scientist or engineer for
        an project.
      title: coInvestigator
      type: string
    destination:
      description: Represents a destination towards which the technology on this project
        helps advance the Agency goals.
      title: destination
      type: string
    file:
      description: Represents a file associated with a library item.
      example:
        size: size
        id: 1
        url: url
      properties:
        id:
          description: Unique identifier for the file.
          format: int64
          title: id
          type: integer
        size:
          description: The size of the file in bytes.
          title: size
          type: string
        url:
          description: The TechPort URL at which the file is accessible for download.
          title: url
          type: string
      title: file
      type: object
    libraryItem:
      description: Represents a specific library item that is part of this project.
      example:
        externalUrl: externalUrl
        publishedBy: publishedBy
        description: description
        files:
        - size: size
          id: 1
          url: url
        - size: size
          id: 1
          url: url
        completionDate: completionDate
        id: 5
        publishedDate: publishedDate
        title: title
        type: type
      properties:
        completionDate:
          description: Date the library item was completed.
          title: completionDate
          type: string
        description:
          description: Description of the library item.
          title: description
          type: string
        externalUrl:
          description: External URL for the library item.
          title: externalUrl
          type: string
        files:
          description: List of files associated with the library item.
          items:
            $ref: '#/components/schemas/file'
          title: files
          type: array
        id:
          description: Unique identifier for the library item.
          format: int64
          title: id
          type: integer
        publishedBy:
          description: Publisher of the library item.
          title: publishedBy
          type: string
        publishedDate:
          description: Date the library item was published.
          title: publishedDate
          type: string
        title:
          description: Title of the library item
          title: title
          type: string
        type:
          description: "Identifies the type of library item, e.g. Image"
          title: type
          type: string
      title: libraryItem
      type: object
    organization:
      description: A NASA center/facility associated with an project.
      example:
        acronym: acronym
        city: city
        name: name
        state: state
      properties:
        acronym:
          description: The acronym of the organization.
          title: acronym
          type: string
        city:
          description: The city in which the organization is located.
          title: city
          type: string
        name:
          description: The name of the organization.
          title: name
          type: string
        state:
          description: The state in which the organization is located.
          title: state
          type: string
      title: organization
      type: object
    principalInvestigator:
      description: The name of the Principal Investigator who is a lead scientist
        or engineer for an project.
      title: principalInvestigator
      type: string
    programDirector:
      description: The name of a Program Director responsible for management of an
        project.
      title: programDirector
      type: string
    programManager:
      description: The name of a Program Manager responsible for management of an
        project.
      title: programManager
      type: string
    project:
      description: Top-level TechPort object representing a NASA technology project
        and its associated data.
      example:
        benefits: benefits
        programDirectors:
        - null
        - null
        coInvestigators:
        - null
        - null
        responsibleProgram: responsibleProgram
        workLocations:
        - null
        - null
        supportedMissionType: supportedMissionType
        endDate: endDate
        primaryTas:
        - code: code
          name: name
          id: 0
        - code: code
          name: name
          id: 0
        programManagers:
        - null
        - null
        description: description
        technologyMaturityCurrent: technologyMaturityCurrent
        title: title
        leadOrganization:
          acronym: acronym
          city: city
          name: name
          state: state
        additionalTas:
        - code: code
          name: name
          id: 0
        - code: code
          name: name
          id: 0
        technologyMaturityEnd: technologyMaturityEnd
        lastUpdated: 2000-01-23
        supportingOrganizations:
        - acronym: acronym
          city: city
          name: name
          state: state
        - acronym: acronym
          city: city
          name: name
          state: state
        technologyMaturityStart: technologyMaturityStart
        closeoutSummary: closeoutSummary
        responsibleMissionDirectorateOrOffice: responsibleMissionDirectorateOrOffice
        id: 6
        website: website
        acronym: acronym
        libraryItems:
        - externalUrl: externalUrl
          publishedBy: publishedBy
          description: description
          files:
          - size: size
            id: 1
            url: url
          - size: size
            id: 1
            url: url
          completionDate: completionDate
          id: 5
          publishedDate: publishedDate
          title: title
          type: type
        - externalUrl: externalUrl
          publishedBy: publishedBy
          description: description
          files:
          - size: size
            id: 1
            url: url
          - size: size
            id: 1
            url: url
          completionDate: completionDate
          id: 5
          publishedDate: publishedDate
          title: title
          type: type
        coFundingPartners:
        - acronym: acronym
          city: city
          name: name
          state: state
        - acronym: acronym
          city: city
          name: name
          state: state
        destinations:
        - null
        - null
        projectManagers:
        - null
        - null
        principalInvestigators:
        - null
        - null
        closeoutDocuments:
        - null
        - null
        startDate: startDate
        status: status
      properties:
        acronym:
          description: Abbreviated name of the project.
          title: acronym
          type: string
        additionalTas:
          description: List of additional and cross-cutting technology areas associated
            with the project.
          items:
            $ref: '#/components/schemas/technologyArea'
          title: additionalTas
          type: array
        benefits:
          description: "Describes the benefits offered to NASA funded and planned\
            \ missions, unfunded or planned missions, commercial space industry, and\
            \ to the nation."
          title: benefits
          type: string
        closeoutDocuments:
          description: List of document files or links to the project final report
            closeout documentation.
          items:
            $ref: '#/components/schemas/closeoutDocument'
          title: closeoutDocuments
          type: array
        closeoutSummary:
          description: The project closeout summary excerpt.
          title: closeoutSummary
          type: string
        coFundingPartners:
          description: "Other government agencies, NASA Mission Directoratres, universities,\
            \ or commercial entities performing contributing resources to this project."
          items:
            $ref: '#/components/schemas/organization'
          title: coFundingPartners
          type: array
        coInvestigators:
          description: Names of the additional investigators who are scientists or
            engineers for this project.
          items:
            $ref: '#/components/schemas/coInvestigator'
          title: coInvestigators
          type: array
        description:
          description: A detailed description of the project.
          title: description
          type: string
        destinations:
          description: List of the NASA destinations the technology on this project
            helps achieve.
          items:
            $ref: '#/components/schemas/destination'
          title: destinations
          type: array
        endDate:
          description: The month and year the project is expected to complete its
            work.
          title: endDate
          type: string
        id:
          description: Unique identifier for the project.
          format: int64
          title: id
          type: integer
        lastUpdated:
          description: ISO 8601 full-date in the format YYYY-MM-DD describing the
            last time this project was updated.
          format: date
          title: lastUpdated
          type: string
        leadOrganization:
          $ref: '#/components/schemas/organization'
        libraryItems:
          description: List of library items in the project library.
          items:
            $ref: '#/components/schemas/libraryItem'
          title: libraryItems
          type: array
        primaryTas:
          description: List of primary technolgy areas (from the NASA Technology Roadmap)
            associated with the project.
          items:
            $ref: '#/components/schemas/technologyArea'
          title: primaryTas
          type: array
        principalInvestigators:
          description: Names of the Principal Investigators who are the lead scientists
            or engineers for this project.
          items:
            $ref: '#/components/schemas/principalInvestigator'
          title: principalInvestigators
          type: array
        programDirectors:
          description: Names of the Program Directors responsible for the management
            of this project.
          items:
            $ref: '#/components/schemas/programDirector'
          title: programDirectors
          type: array
        programManagers:
          description: Names of the Program Managers responsible for the management
            of this project.
          items:
            $ref: '#/components/schemas/programManager'
          title: programManagers
          type: array
        projectManagers:
          description: Names of the Project Managers responsible for the management
            of this project.
          items:
            $ref: '#/components/schemas/projectManager'
          title: projectManagers
          type: array
        responsibleMissionDirectorateOrOffice:
          description: The NASA Mission Directorate or Office that is the primary
            funding source for this project.
          title: responsibleMissionDirectorateOrOffice
          type: string
        responsibleProgram:
          description: The NASA program that is the primary funding source for this
            project.
          title: responsibleProgram
          type: string
        startDate:
          description: The month and year the project was authorized to proceed.
          title: startDate
          type: string
        status:
          description: "Indicates whether the project is currently active, completed,\
            \ or canceled."
          title: status
          type: string
        supportedMissionType:
          description: "The supported mission type (Projected Mission, Planned Mission,\
            \ or Pull)."
          title: supportedMissionType
          type: string
        supportingOrganizations:
          description: The supporting organizations for this project that are conducting
            work on the project.
          items:
            $ref: '#/components/schemas/organization'
          title: supportingOrganizations
          type: array
        technologyMaturityCurrent:
          description: The current technology maturity (technology readiness level)
            of the project.
          title: technologyMaturityCurrent
          type: string
        technologyMaturityEnd:
          description: The estimated technology maturity (technology readiness level)
            of the project at its end.
          title: technologyMaturityEnd
          type: string
        technologyMaturityStart:
          description: The technology maturity (technology readiness level) of the
            project at its beginning.
          title: technologyMaturityStart
          type: string
        title:
          description: Title of the project.
          title: title
          type: string
        website:
          description: The URL for the associated website.
          title: website
          type: string
        workLocations:
          description: States and territories with people performing work on this
            project.
          items:
            $ref: '#/components/schemas/workLocation'
          title: workLocations
          type: array
      title: project
      type: object
    projectManager:
      description: The name of a Project Manager responsible for management of an
        project.
      title: projectManager
      type: string
    technologyArea:
      description: The Technology Area for a given technology that corresponds to
        the NASA Technology Roadmap.
      example:
        code: code
        name: name
        id: 0
      properties:
        code:
          description: The code identifier for the Technology Area.
          title: code
          type: string
        id:
          description: Unique identifier for the Technology Area.
          format: int64
          title: id
          type: integer
        name:
          description: The name of the Technology Area.
          title: name
          type: string
      title: technologyArea
      type: object
    workLocation:
      description: A state/territory where work on this project is performed.
      title: workLocation
      type: string
    _api_projects__format__get_200_response:
      example:
        lastUpdated: lastUpdated
        id: 0
      properties:
        id:
          format: int64
          title: id
          type: integer
        lastUpdated:
          title: lastUpdated
          type: string
      title: _api_projects__format__get_200_response
      type: object
