# MigrationCenterApi.ValidationReport

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**fileValidations** | [**[FileValidationReport]**](FileValidationReport.md) | List of errors found in files. | [optional] 
**jobErrors** | [**[ImportError]**](ImportError.md) | List of job level errors. | [optional] 


