# AwsIoTCoreDeviceAdvisor.TestResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**groups** | **Array** |  | [optional] 


