openapi: 3.0.1
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/locations.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-locations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/billingSpecs:
    get:
      description: Lists the billingSpecs for the specified subscription and location.
      operationId: locations_list_billing_specs
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The Azure location (region) for which to make the request.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingResponseListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations_ListBillingSpecs_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Regions
      x-ms-examples:
        Get the subscription billingSpecs for the specified location:
          parameters:
            api-version: 2018-06-01-preview
            location: East US 2
            subscriptionId: subid
          responses:
            "200":
              body:
                billingResources:
                - billingMeters: []
                  diskBillingMeters: []
                  region: East US 2
                - billingMeters:
                  - meter: 11111111-1111-1111-1111-111111111111
                    meterParameter: default
                    unit: CoreHours
                  - meter: 11111111-1111-1111-1111-111111111111
                    meterParameter: Kafka
                    unit: CoreHours
                  diskBillingMeters:
                  - diskRpMeter: 11111111-1111-1111-1111-111111111111
                    sku: All
                    tier: Standard
                  - diskRpMeter: 11111111-1111-1111-1111-111111111111
                    sku: All
                    tier: Standard
                  region: default
                vmSizeFilters:
                - filterMode: Exclude
                vmSizes:
                - A5
                - A6
                - A7
      x-openapi-router-controller: openapi_server.controllers.regions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities:
    get:
      description: Gets the capabilities for the specified location.
      operationId: locations_get_capabilities
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The Azure location (region) for which to make the request.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitiesResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations_ListBillingSpecs_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Regions
      x-ms-examples:
        Get the subscription capabilities for specific location:
          parameters:
            api-version: 2018-06-01-preview
            location: West US
            subscriptionId: subid
          responses:
            "200":
              body:
                features:
                - ALLOW_GATEWAY_AUTH_BYPASS
                - AUX_IAAS_FUNCTIONALITIES
                - BLOCK_APPS_FOR_SECURE_CLUSTER
                - CLUSTER_RESIZE
                - CLUSTERS_CONTRACT_1
                - CLUSTERS_CONTRACT_1_SDK
                - CLUSTERS_CONTRACT_2_SDK
                - CLUSTERS_CONTRACT_VERSION_3_SDK
                - COLLECTANONYMIZEDLOGS
                - CONTAINER_LOG_COLLECTOR
                - CONTAINER_RESOURCE_V3
                - CUSTOM_ACTIONS_V2
                - DATALAKE
                - DATALAKE_3_2
                - DATALAKE_3_4
                - DATALAKE_3_5
                - DATALAKE_DEFAULTFS_3_5
                - DEFAULT_CONTAINER_IDENTIFIER_AND_STORAGEFQDN_ALREADY_USED
                - DOCUMENT_VALIDATION_IN_API
                - ENABLEDATALAKE
                - ENABLEGENEVAANALYTICS
                - HADOOP_VIRTUAL_NETWORK_ENABLED
                - HS2_ZK_ROUTER_INTERACTIVEHIVE
                - IAAS_ALLOW_CUSTOM_DNS
                - IAAS_AMBARI_APP_TIMELINE_SERVER_HA_SERVICE
                - IAAS_AMBARI_DEPENDENCY_BASED_DEPLOYMENT
                - IAAS_AMBARI_HA_SERVICES
                - IAAS_AMBARI_HISTORYSERVER_HA_SERVICE
                - IAAS_AMBARI_LOWER_LATENCY
                - IAAS_AMBARI_SKIP_COMPONENTS_INSTALL
                - IAAS_ARM_PROVISIONING
                - IAAS_CLOSE_HEAD_HTTPS_END_POINT_AFTER_CLUSTER_CREATE
                - IAAS_CLUSTER_APPLICATION_ALLOW_MULTIPLE_ROLE_INSTANCES
                - IAAS_CLUSTER_APPLICATION_REMOVE
                - IAAS_CLUSTER_CONTAINER_PREUPLOAD_SUBMIT_WAIT
                - IAAS_CLUSTER_RSERVER
                - IAAS_DB_CREATION_IN_PARALLEL_TO_VM
                - IAAS_DELETE_LEAKED_RESOURCES
                - IAAS_DEPLOYMENTS
                - IAAS_DO_NOT_CREATE_WASB_TABLES_IN_CUSTOMER_STORAGE
                - IAAS_ENABLE_CLUSTER_CONFIG_OVERRIDES
                - IAAS_ENABLE_OFFLINE_CLEANUP
                - IAAS_ENABLE_OFFLINE_CLEANUP_FOR_DELETING_VMS
                - IAAS_INCLUDE_STORAGE_IN_SUBSCRIPTION_SELECTION
                - IAAS_PARALLEL_DB_CREATE
                - IAAS_PREPROVISION_METASTORES_SCHEMAS
                - IAAS_SCRIPTACTIONS_DELETE_VMS_CRUD_FAILURES
                - IAAS_SCRIPTACTIONS_RUNNING
                - IAAS_SHORT_VM_NAME
                - IAAS_SUBMIT_AMBARI_REQUEST_ONCE_LINUX_VM_ARE_AVAILABLE
                - IAAS_TEZ_ATS_V15
                - IAAS_USE_UNATTENDED_UPGRADES_FOR_PATCHING
                - IAAS_VALIDATE_CUSTOM_VNET
                - IAAS_VALIDATE_NSG
                - IAAS_WAIT_FOR_CLOSING_HEAD_HTTPS_END_POINT_AFTER_CLUSTER_CREATE
                - IAAS_YARN_HDINSIGHT_SQL_TIMELINE_STORE
                - IAAS_YARN_HDINSIGHT_TIMELINE_STORE
                - INTERACTIVEHIVE
                - MDSCENTRALLOGGING
                - NODE_SETUP_POLLER_ENABLED
                - OVERPROVISION_HOSTGROUP_edgenode
                - OVERPROVISION_HOSTGROUP_Gateway
                - OVERPROVISION_HOSTGROUP_Workernode
                - OVERPROVISION_HOSTGROUP_zookeepernode
                - PERF_OPTIMIZED_RESOURCE_LOCATION_FETCH
                - PORTALAPPINSTALL
                - POWERSHELL_SCRIPT_ACTION
                - POWERSHELL_SCRIPT_ACTION_SDK
                - PREMIUM_TIER_PREVIEW
                - PROVISIONING_AGENT
                - RMHA
                - RSERVER_CLUSTERTYPE_3_5_ENABLED
                - RSERVER_CLUSTERTYPE_ENABLED
                - SHOW_HUMBOLDT_GA
                - SHOW_IBIZA_CREATE
                - SPARK_2_1
                - SPARK_EXPERIMENTAL
                - STORM_PREVIEW
                - UI_CREATE_WIZARD_V2
                - VIRTUAL_NETWORK_ENABLED
                - VMSIZES_AUX
                quota:
                  cores_used: 0
                  max_cores_allowed: 3000
                  regionalQuotas:
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Australia East
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Australia Southeast
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Brazil South
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Canada Central
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Canada East
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Central India
                  - cores_available: 1000
                    cores_used: 24
                    region_name: Central US
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Central US EUAP
                  - cores_available: 1000
                    cores_used: 24
                    region_name: East Asia
                  - cores_available: 1000
                    cores_used: 24
                    region_name: East US
                  - cores_available: 1000
                    cores_used: 0
                    region_name: East US 2
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Japan East
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Japan West
                  - cores_available: 1000
                    cores_used: 0
                    region_name: North Central US
                  - cores_available: 1000
                    cores_used: 0
                    region_name: North Europe
                  - cores_available: 1000
                    cores_used: 0
                    region_name: South Central US
                  - cores_available: 1000
                    cores_used: 0
                    region_name: Southeast Asia
                  - cores_available: 1000
                    cores_used: 0
                    region_name: West Central US
                  - cores_available: 1000
                    cores_used: 0
                    region_name: West Europe
                  - cores_available: 1000
                    cores_used: 132
                    region_name: West US
                  - cores_available: 1000
                    cores_used: 0
                    region_name: West US 2
                regions:
                  iaas:
                    available:
                    - AUSTRALIA EAST
                    - AUSTRALIA SOUTHEAST
                    - BRAZIL SOUTH
                    - CANADA CENTRAL
                    - CANADA EAST
                    - CENTRAL INDIA
                    - CENTRAL US
                    - CENTRAL US EUAP
                    - EAST ASIA
                    - EAST US
                    - EAST US 2
                    - JAPAN EAST
                    - JAPAN WEST
                    - NORTH CENTRAL US
                    - NORTH EUROPE
                    - SOUTH CENTRAL US
                    - SOUTHEAST ASIA
                    - WEST CENTRAL US
                    - WEST EUROPE
                    - WEST US
                    - WEST US 2
                  paas:
                    available:
                    - AUSTRALIA EAST
                    - AUSTRALIA SOUTHEAST
                    - BRAZIL SOUTH
                    - CENTRAL INDIA
                    - CENTRAL US
                    - EAST ASIA
                    - EAST US
                    - EAST US 2
                    - JAPAN EAST
                    - JAPAN WEST
                    - NORTH CENTRAL US
                    - NORTH EUROPE
                    - SOUTH CENTRAL US
                    - SOUTHEAST ASIA
                    - WEST EUROPE
                    - WEST US
                    - WEST US 2
                versions:
                  iaas:
                    available:
                    - componentVersions:
                        HBase: 0.98.4
                        HDP: "2.2"
                        Hadoop: 2.6.0
                        Storm: 0.9.3
                      displayName: Version 3.2.1000.0.8840373
                      friendlyName: "3.2"
                      isDefault: "false"
                    - componentVersions:
                        HBase: 1.1.2
                        HDP: "2.3"
                        Hadoop: 2.7.0
                        Spark: 1.5.2
                        Storm: 0.10.0
                      displayName: Version 3.3.1000.0.9776961
                      friendlyName: "3.3"
                      isDefault: "false"
                    - componentVersions:
                        HBase: 1.1.2
                        HDP: "2.4"
                        Hadoop: 2.7.1
                        RServer: "8.0"
                        Spark: 1.6.2
                        Storm: 0.10.0
                      displayName: Version 3.4.1000.0.9719475
                      friendlyName: "3.4"
                      isDefault: "false"
                    - componentVersions:
                        HBase: 1.1.2
                        HDP: "2.5"
                        Hadoop: 2.7.3
                        InteractiveHive: 2.1.0
                        RServer: "9.0"
                        Spark: "1.6.3,2.0.2"
                        Storm: 1.0.1
                      displayName: Version 3.5.1000.0.9732704
                      friendlyName: "3.5"
                      isDefault: "true"
                    - componentVersions:
                        HDP: "2.6"
                        Spark: 2.1.0
                      displayName: Version 3.6.1000.0.9503998
                      friendlyName: "3.6"
                      isDefault: "false"
                    - displayName: Version 99.152.1000.0.6943836
                      friendlyName: "99.152"
                      isDefault: "false"
                  paas:
                    available:
                    - displayName: HdInsight version 1.6.1.0.335536
                      friendlyName: "1.6"
                      isDefault: "false"
                    - componentVersions:
                        HDP: "1.3"
                        Hadoop: 1.2.0
                      displayName: Version 2.1.9.406.1221105
                      friendlyName: "2.1"
                      isDefault: "false"
                    - componentVersions:
                        HDP: "2.0"
                        Hadoop: 2.2.0
                      displayName: Version 3.0.6.989.2441725
                      friendlyName: "3.0"
                      isDefault: "false"
                    - componentVersions:
                        HBase: "0.98"
                        HDP: 2.1.7
                        Hadoop: 2.4.0
                      displayName: Version 3.1.4.989.2441725
                      friendlyName: "3.1"
                      isDefault: "false"
                    - componentVersions:
                        HBase: 0.98.4
                        HDP: "2.2"
                        Hadoop: 2.6.0
                        Storm: 0.9.3
                      displayName: Version 3.2.7.989.2441725
                      friendlyName: "3.2"
                      isDefault: "false"
                    - componentVersions:
                        HBase: 1.1.2
                        HDP: "2.3"
                        Hadoop: 2.7.0
                        Storm: 0.10.0
                      displayName: Version 3.3.0.989.2441725
                      friendlyName: "3.3"
                      isDefault: "true"
                vmSize_filters:
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - A5
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A5
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A5
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - A5
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A5
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - A6
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A6
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - A6
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A6
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - A7
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A7
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - A7
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - A7
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - EXTRALARGE
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - EXTRALARGE
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - WorkerNodeRole
                  - EdgeNodeRole
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - EXTRALARGE
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - EXTRALARGE
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - LARGE
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - LARGE
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - LARGE
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - LARGE
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - MEDIUM
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - MEDIUM
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - MEDIUM
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - SMALL
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - SMALL
                - ClusterFlavors:
                  - HBase
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - SMALL
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - SMALL
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D1
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D11
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D12
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D13
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D13
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D13
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D13
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D13_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D13_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D13_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D14
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D14
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D14
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D14
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D14_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D14_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D14_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D14_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  - EdgeNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D3
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D4
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D4_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D4_V2
                - ClusterFlavors:
                  - Sandbox
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D5_V2
                - ClusterFlavors:
                  - Hadoop
                  - Spark
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D5_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - Brazil South
                  - Japan West
                  vmsizes:
                  - STANDARD_D5_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - "1.6"
                  - "2.1"
                  - "3.0"
                  FilterMode: Exclude
                  NodeTypes:
                  - '*'
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D5_V2
                - ClusterFlavors:
                  - InteractiveHive
                  ClusterVersions:
                  - '*'
                  FilterMode: Exclude
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - '*'
                  vmsizes:
                  - STANDARD_D5_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D1_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D11_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D12_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D13_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D13_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D14_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D14_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D2_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D3_V2
                - ClusterFlavors:
                  - '*'
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - HeadNodeRole
                  - WorkerNodeRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D4_V2
                - ClusterFlavors:
                  - HBase
                  - Storm
                  ClusterVersions:
                  - '*'
                  FilterMode: Include
                  NodeTypes:
                  - ZookeeperRole
                  Regions:
                  - Central India
                  vmsizes:
                  - STANDARD_D4_V2
                vmSizes:
                  iaas:
                    available:
                    - A5
                    - A6
                    - A7
                    - EXTRALARGE
                    - LARGE
                    - MEDIUM
                    - SMALL
                    - STANDARD_D1
                    - STANDARD_D1_V2
                    - STANDARD_D11
                    - STANDARD_D11_V2
                    - STANDARD_D12
                    - STANDARD_D12_V2
                    - STANDARD_D13
                    - STANDARD_D13_V2
                    - STANDARD_D14
                    - STANDARD_D14_V2
                    - STANDARD_D2
                    - STANDARD_D2_V2
                    - STANDARD_D3
                    - STANDARD_D3_V2
                    - STANDARD_D4
                    - STANDARD_D4_V2
                    - STANDARD_D5_V2
                  paas:
                    available:
                    - A5
                    - A6
                    - A7
                    - EXTRALARGE
                    - LARGE
                    - MEDIUM
                    - SMALL
                    - STANDARD_D1
                    - STANDARD_D1_V2
                    - STANDARD_D11
                    - STANDARD_D11_V2
                    - STANDARD_D12
                    - STANDARD_D12_V2
                    - STANDARD_D13
                    - STANDARD_D13_V2
                    - STANDARD_D14
                    - STANDARD_D14_V2
                    - STANDARD_D2
                    - STANDARD_D2_V2
                    - STANDARD_D3
                    - STANDARD_D3_V2
                    - STANDARD_D4
                    - STANDARD_D4_V2
                    - STANDARD_D5_V2
      x-openapi-router-controller: openapi_server.controllers.regions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages:
    get:
      description: Lists the usages for the specified location.
      operationId: locations_list_usages
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The Azure location (region) for which to make the request.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations_ListBillingSpecs_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Regions
      x-ms-examples:
        Get the subscription usages for specific location:
          parameters:
            api-version: 2018-06-01-preview
            location: West US
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - currentValue: 0
                  limit: 5000
                  name:
                    localizedValue: Cores
                    value: cores
                  unit: Count
      x-openapi-router-controller: openapi_server.controllers.regions_controller
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    LocationParameter:
      description: The Azure location (region) for which to make the request.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BillingMeters:
      description: The billing meters.
      example:
        unit: unit
        meter: meter
        meterParameter: meterParameter
      properties:
        meter:
          description: The HDInsight meter guid.
          title: meter
          type: string
        meterParameter:
          description: The virtual machine sizes.
          title: meterParameter
          type: string
        unit:
          description: "The unit of meter, VMHours or CoreHours."
          title: unit
          type: string
      title: BillingMeters
      type: object
    BillingResources:
      description: The billing resources.
      example:
        diskBillingMeters:
        - tier: Standard
          diskRpMeter: diskRpMeter
          sku: sku
        - tier: Standard
          diskRpMeter: diskRpMeter
          sku: sku
        region: region
        billingMeters:
        - unit: unit
          meter: meter
          meterParameter: meterParameter
        - unit: unit
          meter: meter
          meterParameter: meterParameter
      properties:
        billingMeters:
          description: The billing meter information.
          items:
            $ref: '#/components/schemas/BillingMeters'
          title: billingMeters
          type: array
        diskBillingMeters:
          description: The managed disk billing information.
          items:
            $ref: '#/components/schemas/DiskBillingMeters'
          title: diskBillingMeters
          type: array
        region:
          description: The region or location.
          title: region
          type: string
      title: BillingResources
      type: object
    BillingResponseListResult:
      description: The response for the operation to get regional billingSpecs for
        a subscription.
      example:
        billingResources:
        - diskBillingMeters:
          - tier: Standard
            diskRpMeter: diskRpMeter
            sku: sku
          - tier: Standard
            diskRpMeter: diskRpMeter
            sku: sku
          region: region
          billingMeters:
          - unit: unit
            meter: meter
            meterParameter: meterParameter
          - unit: unit
            meter: meter
            meterParameter: meterParameter
        - diskBillingMeters:
          - tier: Standard
            diskRpMeter: diskRpMeter
            sku: sku
          - tier: Standard
            diskRpMeter: diskRpMeter
            sku: sku
          region: region
          billingMeters:
          - unit: unit
            meter: meter
            meterParameter: meterParameter
          - unit: unit
            meter: meter
            meterParameter: meterParameter
        vmSizeFilters:
        - filterMode: Exclude
          clusterVersions:
          - clusterVersions
          - clusterVersions
          regions:
          - regions
          - regions
          clusterFlavors:
          - clusterFlavors
          - clusterFlavors
          osType:
          - Windows
          - Windows
          vmSizes:
          - vmSizes
          - vmSizes
          nodeTypes:
          - nodeTypes
          - nodeTypes
        - filterMode: Exclude
          clusterVersions:
          - clusterVersions
          - clusterVersions
          regions:
          - regions
          - regions
          clusterFlavors:
          - clusterFlavors
          - clusterFlavors
          osType:
          - Windows
          - Windows
          vmSizes:
          - vmSizes
          - vmSizes
          nodeTypes:
          - nodeTypes
          - nodeTypes
        vmSizes:
        - vmSizes
        - vmSizes
      properties:
        billingResources:
          description: The billing and managed disk billing resources for a region.
          items:
            $ref: '#/components/schemas/BillingResources'
          title: billingResources
          type: array
        vmSizeFilters:
          description: The virtual machine filtering mode. Effectively this can enabling
            or disabling the virtual machine sizes in a particular set.
          items:
            $ref: '#/components/schemas/VmSizeCompatibilityFilterV2'
          title: vmSizeFilters
          type: array
        vmSizes:
          description: The virtual machine sizes to include or exclude.
          items:
            type: string
          title: vmSizes
          type: array
      title: BillingResponseListResult
      type: object
    CapabilitiesResult:
      description: The Get Capabilities operation response.
      example:
        features:
        - features
        - features
        regions:
          key:
            available:
            - available
            - available
        versions:
          key:
            available:
            - isDefault: isDefault
              componentVersions:
                key: componentVersions
              displayName: displayName
              friendlyName: friendlyName
            - isDefault: isDefault
              componentVersions:
                key: componentVersions
              displayName: displayName
              friendlyName: friendlyName
        quota:
          cores_used: 0
          regionalQuotas:
          - cores_used: 5
            region_name: region_name
            cores_available: 1
          - cores_used: 5
            region_name: region_name
            cores_available: 1
          max_cores_allowed: 6
        vmSizes:
          key:
            available:
            - available
            - available
        vmSize_filters:
        - ClusterFlavors:
          - ClusterFlavors
          - ClusterFlavors
          FilterMode: FilterMode
          NodeTypes:
          - NodeTypes
          - NodeTypes
          Regions:
          - Regions
          - Regions
          vmsizes:
          - vmsizes
          - vmsizes
          ClusterVersions:
          - ClusterVersions
          - ClusterVersions
        - ClusterFlavors:
          - ClusterFlavors
          - ClusterFlavors
          FilterMode: FilterMode
          NodeTypes:
          - NodeTypes
          - NodeTypes
          Regions:
          - Regions
          - Regions
          vmsizes:
          - vmsizes
          - vmsizes
          ClusterVersions:
          - ClusterVersions
          - ClusterVersions
      properties:
        features:
          description: The capability features.
          items:
            type: string
          title: features
          type: array
        quota:
          $ref: '#/components/schemas/QuotaCapability'
        regions:
          additionalProperties:
            $ref: '#/components/schemas/RegionsCapability'
          description: The virtual machine size compatibility features.
          title: regions
          type: object
        versions:
          additionalProperties:
            $ref: '#/components/schemas/VersionsCapability'
          description: The version capability.
          title: versions
          type: object
        vmSize_filters:
          description: The virtual machine size compatibility filters.
          items:
            $ref: '#/components/schemas/VmSizeCompatibilityFilter'
          title: vmSize_filters
          type: array
        vmSizes:
          additionalProperties:
            $ref: '#/components/schemas/VmSizesCapability'
          description: The virtual machine sizes.
          title: vmSizes
          type: object
      title: CapabilitiesResult
      type: object
    DiskBillingMeters:
      description: The disk billing meters.
      example:
        tier: Standard
        diskRpMeter: diskRpMeter
        sku: sku
      properties:
        diskRpMeter:
          description: The managed disk meter guid.
          title: diskRpMeter
          type: string
        sku:
          description: "The managed disk billing sku, P30 or S30."
          title: sku
          type: string
        tier:
          description: "The managed disk billing tier, Standard or Premium."
          enum:
          - Standard
          - Premium
          title: tier
          type: string
          x-ms-enum:
            modelAsString: false
            name: Tier
      title: DiskBillingMeters
      type: object
    LocalizedName:
      description: The details about the localizable name of a type of usage.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: The localized name of the used resource.
          title: localizedValue
          type: string
        value:
          description: The name of the used resource.
          title: value
          type: string
      title: LocalizedName
      type: object
    QuotaCapability:
      description: The regional quota capability.
      example:
        cores_used: 0
        regionalQuotas:
        - cores_used: 5
          region_name: region_name
          cores_available: 1
        - cores_used: 5
          region_name: region_name
          cores_available: 1
        max_cores_allowed: 6
      properties:
        cores_used:
          description: The number of cores used in the subscription.
          format: int64
          title: cores_used
          type: integer
        max_cores_allowed:
          description: The number of cores that the subscription allowed.
          format: int64
          title: max_cores_allowed
          type: integer
        regionalQuotas:
          description: The list of region quota capabilities.
          items:
            $ref: '#/components/schemas/RegionalQuotaCapability'
          title: regionalQuotas
          type: array
      title: QuotaCapability
      type: object
    RegionalQuotaCapability:
      description: The regional quota capacity.
      example:
        cores_used: 5
        region_name: region_name
        cores_available: 1
      properties:
        cores_available:
          description: The number of cores available in the region.
          format: int64
          title: cores_available
          type: integer
        cores_used:
          description: The number of cores used in the region.
          format: int64
          title: cores_used
          type: integer
        region_name:
          description: The region name.
          title: region_name
          type: string
      title: RegionalQuotaCapability
      type: object
    RegionsCapability:
      description: The regions capability.
      example:
        available:
        - available
        - available
      properties:
        available:
          description: The list of region capabilities.
          items:
            type: string
          title: available
          type: array
      title: RegionsCapability
      type: object
    Usage:
      description: The details about the usage of a particular limited resource.
      example:
        unit: unit
        limit: 6
        name:
          localizedValue: localizedValue
          value: value
        currentValue: 0
      properties:
        currentValue:
          description: The current usage.
          title: currentValue
          type: integer
        limit:
          description: The maximum allowed usage.
          title: limit
          type: integer
        name:
          $ref: '#/components/schemas/LocalizedName'
        unit:
          description: The type of measurement for usage.
          title: unit
          type: string
      title: Usage
      type: object
    UsagesListResult:
      description: The response for the operation to get regional usages for a subscription.
      example:
        value:
        - unit: unit
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          currentValue: 0
        - unit: unit
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          currentValue: 0
      properties:
        value:
          description: The list of usages.
          items:
            $ref: '#/components/schemas/Usage'
          title: value
          type: array
      title: UsagesListResult
      type: object
    VersionSpec:
      description: The version properties.
      example:
        isDefault: isDefault
        componentVersions:
          key: componentVersions
        displayName: displayName
        friendlyName: friendlyName
      properties:
        componentVersions:
          additionalProperties:
            type: string
          description: The component version property.
          title: componentVersions
          type: object
        displayName:
          description: The display name
          title: displayName
          type: string
        friendlyName:
          description: The friendly name
          title: friendlyName
          type: string
        isDefault:
          description: Whether or not the version is the default version.
          title: isDefault
          type: string
      title: VersionSpec
      type: object
    VersionsCapability:
      description: The version capability.
      example:
        available:
        - isDefault: isDefault
          componentVersions:
            key: componentVersions
          displayName: displayName
          friendlyName: friendlyName
        - isDefault: isDefault
          componentVersions:
            key: componentVersions
          displayName: displayName
          friendlyName: friendlyName
      properties:
        available:
          description: The list of version capabilities.
          items:
            $ref: '#/components/schemas/VersionSpec'
          title: available
          type: array
      title: VersionsCapability
      type: object
    VmSizeCompatibilityFilter:
      description: The virtual machine type compatibility filter.
      example:
        ClusterFlavors:
        - ClusterFlavors
        - ClusterFlavors
        FilterMode: FilterMode
        NodeTypes:
        - NodeTypes
        - NodeTypes
        Regions:
        - Regions
        - Regions
        vmsizes:
        - vmsizes
        - vmsizes
        ClusterVersions:
        - ClusterVersions
        - ClusterVersions
      properties:
        ClusterFlavors:
          description: The list of cluster types available.
          items:
            type: string
          title: ClusterFlavors
          type: array
        ClusterVersions:
          description: The list of cluster versions.
          items:
            type: string
          title: ClusterVersions
          type: array
        FilterMode:
          description: The mode for the filter.
          title: FilterMode
          type: string
        NodeTypes:
          description: The list of node types.
          items:
            type: string
          title: NodeTypes
          type: array
        Regions:
          description: The list of regions.
          items:
            type: string
          title: Regions
          type: array
        vmsizes:
          description: The list of virtual machine sizes.
          items:
            type: string
          title: vmsizes
          type: array
      title: VmSizeCompatibilityFilter
      type: object
    VmSizeCompatibilityFilterV2:
      description: "This class represent a single filter object that defines a multidimensional\
        \ set. The dimensions of this set are Regions, ClusterFlavors, NodeTypes and\
        \ ClusterVersions. The constraint should be defined based on the following:\
        \ FilterMode (Exclude vs Include), VMSizes (the vm sizes in affect of exclusion/inclusion)\
        \ and the ordering of the Filters. Later filters override previous settings\
        \ if conflicted."
      example:
        filterMode: Exclude
        clusterVersions:
        - clusterVersions
        - clusterVersions
        regions:
        - regions
        - regions
        clusterFlavors:
        - clusterFlavors
        - clusterFlavors
        osType:
        - Windows
        - Windows
        vmSizes:
        - vmSizes
        - vmSizes
        nodeTypes:
        - nodeTypes
        - nodeTypes
      properties:
        clusterFlavors:
          description: The list of cluster flavors under the effect of the filter.
          items:
            type: string
          title: clusterFlavors
          type: array
        clusterVersions:
          description: The list of cluster versions affected in Major.Minor format.
          items:
            type: string
          title: clusterVersions
          type: array
        filterMode:
          description: The filtering mode. Effectively this can enabling or disabling
            the VM sizes in a particular set.
          enum:
          - Exclude
          - Include
          title: filterMode
          type: string
          x-ms-enum:
            modelAsString: true
            name: FilterMode
        nodeTypes:
          description: The list of node types affected by the filter.
          items:
            type: string
          title: nodeTypes
          type: array
        osType:
          description: "The OSType affected, Windows or Linux."
          items:
            enum:
            - Windows
            - Linux
            type: string
            x-ms-enum:
              modelAsString: false
              name: OSType
          title: osType
          type: array
        regions:
          description: The list of regions under the effect of the filter.
          items:
            type: string
          title: regions
          type: array
        vmSizes:
          description: The list of virtual machine sizes to include or exclude.
          items:
            type: string
          title: vmSizes
          type: array
      title: VmSizeCompatibilityFilterV2
      type: object
    VmSizesCapability:
      description: The virtual machine sizes capability.
      example:
        available:
        - available
        - available
      properties:
        available:
          description: The list of virtual machine size capabilities.
          items:
            type: string
          title: available
          type: array
      title: VmSizesCapability
      type: object
    Locations_ListBillingSpecs_default_response:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: Locations_ListBillingSpecs_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
