# AmazonSimpleEmailService.VerificationStatus

## Enum


* `Pending` (value: `"Pending"`)

* `Success` (value: `"Success"`)

* `Failed` (value: `"Failed"`)

* `TemporaryFailure` (value: `"TemporaryFailure"`)

* `NotStarted` (value: `"NotStarted"`)


