openapi: 3.0.1
info:
  description: APIs for Azure Smart Detector Alert Rules CRUD operations.
  title: Azure Alerts Management Service Resource Provider
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/SmartDetectorAlertRulesApi.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: alertsmanagement-SmartDetectorAlertRulesApi
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.alertsManagement/smartDetectorAlertRules:
    get:
      description: List all the existing Smart Detector alert rules within the subscription.
      operationId: smart_detector_alert_rules_list
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates if Smart Detector should be expanded.
        in: query
        name: expandDetector
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRulesList'
          description: Successful request to list Smart Detector alert rules.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SmartDetectorAlertRules
      x-ms-examples:
        List Smart Detector alert rules:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: MyAlertRules
            subscriptionId: b368ca2f-e298-46b7-b0ab-012281956afa
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MyAlertRule
                  location: global
                  name: MyAlertRule
                  properties:
                    actionGroups:
                    - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/MyActionGroups/providers/microsoft.insights/actionGroups/MyActionGroup
                    description: Sample smart detector alert rule description
                    detector:
                      id: VMMemoryLeak
                    frequency: PT5M
                    scope:
                    - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1
                    severity: Sev3
                    state: Enabled
                    throttling:
                      duration: PT20M
                  tags: ""
                  type: Microsoft.AlertsManagement/smartDetectorAlertRules
                - id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MySecondAlertRule
                  location: global
                  name: MySecondAlertRule
                  properties:
                    actionGroups:
                    - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/MyActionGroups/providers/microsoft.insights/actionGroups/MyActionGroup
                    description: Sample smart detector alert rule description
                    detector:
                      id: VMMemoryLeak
                    frequency: PT15M
                    scope:
                    - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm2
                    severity: Sev2
                    state: Disabled
                  tags: ""
                  type: Microsoft.AlertsManagement/smartDetectorAlertRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.smart_detector_alert_rules_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.alertsManagement/smartDetectorAlertRules:
    get:
      description: List all the existing Smart Detector alert rules within the subscription
        and resource group.
      operationId: smart_detector_alert_rules_list_by_resource_group
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates if Smart Detector should be expanded.
        in: query
        name: expand_detector
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRulesList'
          description: Successful request to list Smart Detector alert rules.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SmartDetectorAlertRules
      x-ms-examples:
        List alert rules:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: MyAlertRules
            subscriptionId: b368ca2f-e298-46b7-b0ab-012281956afa
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MyAlertRule
                  location: global
                  name: MyAlertRule
                  properties:
                    actionGroups:
                    - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/MyActionGroups/providers/microsoft.insights/actionGroups/MyActionGroup
                    description: Sample smart detector alert rule description
                    detector:
                      id: VMMemoryLeak
                    frequency: PT5M
                    scope:
                    - /subscriptions/b324c52b-4073-4807-93af-e07d289c093e/resourceGroups/test/providers/Microsoft.Storage/storageAccounts/larryshoebox/blobServices/default
                    severity: Sev3
                    state: Enabled
                    throttling:
                      duration: PT20M
                  tags: ""
                  type: Microsoft.AlertsManagement/smartDetectorAlertRules
                - id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MySecondAlertRule
                  location: global
                  name: MySecondAlertRule
                  properties:
                    actionGroups:
                    - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/MyActionGroups/providers/microsoft.insights/actionGroups/MyActionGroup
                    description: Sample smart detector alert rule description
                    detector:
                      id: VMMemoryLeak
                    frequency: PT15M
                    scope:
                    - /subscriptions/b324c52b-4073-4807-93af-e07d289c093e/resourceGroups/test/providers/Microsoft.Storage/storageAccounts/larryshoebox/blobServices/default
                    severity: Sev2
                    state: Disabled
                  tags: ""
                  type: Microsoft.AlertsManagement/smartDetectorAlertRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.smart_detector_alert_rules_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.alertsManagement/smartDetectorAlertRules/{alertRuleName}
  : delete:
      description: Delete an existing Smart Detector alert rule.
      operationId: smart_detector_alert_rules_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the alert rule.
        in: path
        name: alert_rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful request to delete a Smart Detector alert rule.
        "204":
          content: {}
          description: The Smart Detector alert rule does not exist. It may have already
            been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SmartDetectorAlertRules
      x-ms-examples:
        Delete a Smart Detector alert rule:
          parameters:
            alertRuleName: MyAlertRule
            api-version: 2019-06-01
            resourceGroupName: MyAlertRules
            subscriptionId: b368ca2f-e298-46b7-b0ab-012281956afa
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.smart_detector_alert_rules_controller
    get:
      description: Get a specific Smart Detector alert rule.
      operationId: smart_detector_alert_rules_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the alert rule.
        in: path
        name: alertRuleName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates if Smart Detector should be expanded.
        in: query
        name: expand_detector
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to get Smart Detector alert rule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SmartDetectorAlertRules
      x-ms-examples:
        Get a Smart Detector alert rule:
          parameters:
            alertRuleName: MyAlertRule
            api-version: 2019-06-01
            resourceGroupName: MyAlertRules
            subscriptionId: b368ca2f-e298-46b7-b0ab-012281956afa
          responses:
            "200":
              body:
                id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MyAlertRule
                location: global
                name: MyAlertRule
                properties:
                  actionGroups:
                  - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/MyActionGroups/providers/microsoft.insights/actionGroups/MyActionGroup
                  description: Sample smart detector alert rule description
                  detector:
                    id: VMMemoryLeak
                  frequency: PT5M
                  scope:
                  - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyVms/providers/Microsoft.Compute/virtualMachines/vm1
                  severity: Sev3
                  state: Enabled
                  throttling:
                    duration: PT20M
                tags: ""
                type: Microsoft.AlertsManagement/smartDetectorAlertRules
      x-openapi-router-controller: openapi_server.controllers.smart_detector_alert_rules_controller
    patch:
      description: Patch a specific Smart Detector alert rule.
      operationId: smart_detector_alert_rules_patch
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the alert rule.
        in: path
        name: alert_rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRulePatchObject'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to patch Smart Detector alert rule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SmartDetectorAlertRules
      x-ms-examples:
        Patch alert rules:
          parameters:
            alertRuleName: MyAlertRule
            api-version: 2019-06-01
            parameters:
              properties:
                description: New description for patching
                frequency: PT1M
              tags:
                newKey: newVal
            resourceGroupName: MyAlertRules
            subscriptionId: b368ca2f-e298-46b7-b0ab-012281956afa
          responses:
            "200":
              body:
                id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MyAlertRule
                location: global
                name: MyAlertRule
                properties:
                  actionGroups:
                  - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/actionGroups/providers/microsoft.insights/actiongroups/MyActionGroup
                  description: New description for patching
                  detector:
                    id: VMMemoryLeak
                  frequency: PT1M
                  scope:
                  - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyVms/providers/Microsoft.Compute/virtualMachines/vm1
                  severity: Sev3
                  state: Enabled
                  throttling:
                    duration: PT20M
                tags:
                  newKey: newVal
                type: Microsoft.AlertsManagement/smartDetectorAlertRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.smart_detector_alert_rules_controller
    put:
      description: Create or update a Smart Detector alert rule.
      operationId: smart_detector_alert_rules_create_or_update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the alert rule.
        in: path
        name: alert_rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRule'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to update a Smart Detector alert rule.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to create a Smart Detector alert rule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SmartDetectorAlertRules
      x-ms-examples:
        Create or update a Smart Detector alert rule:
          parameters:
            alertRuleName: MyAlertRule
            api-version: 2019-06-01
            parameters:
              properties:
                actionGroups:
                  customEmailSubject: My custom email subject
                  customWebhookPayload: "{\"AlertRuleName\":\"#alertrulename\"}"
                  groupIds:
                  - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/actionGroups/providers/microsoft.insights/actiongroups/MyActionGroup
                description: Sample smart detector alert rule description
                detector:
                  id: VMMemoryLeak
                frequency: PT5M
                scope:
                - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyVms/providers/Microsoft.Compute/virtualMachines/vm1
                severity: Sev3
                state: Enabled
                throttling:
                  duration: PT20M
            resourceGroupName: MyAlertRules
            subscriptionId: b368ca2f-e298-46b7-b0ab-012281956afa
          responses:
            "200":
              body:
                id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MyAlertRule
                location: global
                name: MyAlertRule
                properties:
                  actionGroups:
                  - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/actionGroups/providers/microsoft.insights/actiongroups/MyActionGroup
                  description: Sample smart detector alert rule description
                  detector:
                    id: VMMemoryLeak
                  frequency: PT5M
                  scope:
                  - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyVms/providers/Microsoft.Compute/virtualMachines/vm1
                  severity: Sev3
                  state: Enabled
                  throttling:
                    duration: PT20M
                tags: ""
                type: Microsoft.AlertsManagement/smartDetectorAlertRules
            "201":
              body:
                id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyAlertRules/providers/microsoft.alertsManagement/smartDetectorAlertRules/MyAlertRule
                location: global
                name: MyAlertRule
                properties:
                  actionGroups:
                  - actionGroupId: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourcegroups/actionGroups/providers/microsoft.insights/actiongroups/MyActionGroup
                  description: Sample smart detector alert rule description
                  detector:
                    id: VMMemoryLeak
                  frequency: PT5M
                  scope:
                  - /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/MyVms/providers/Microsoft.Compute/virtualMachines/vm1
                  severity: Sev3
                  state: Enabled
                  throttling:
                    duration: PT20M
                tags: ""
                type: Microsoft.AlertsManagement/smartDetectorAlertRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.smart_detector_alert_rules_controller
components:
  parameters:
    AlertRuleNameParameter:
      description: The name of the alert rule.
      in: path
      name: alertRuleName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ExpandDetectorParameter:
      description: Indicates if Smart Detector should be expanded.
      in: query
      name: expandDetector
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        minLength: 1
        type: string
  schemas:
    ActionGroupsInformation:
      description: "The Action Groups information, used by the alert rule."
      example:
        groupIds:
        - groupIds
        - groupIds
        customWebhookPayload: customWebhookPayload
        customEmailSubject: customEmailSubject
      properties:
        customEmailSubject:
          description: An optional custom email subject to use in email notifications.
          title: customEmailSubject
          type: string
        customWebhookPayload:
          description: An optional custom web-hook payload to use in web-hook notifications.
          title: customWebhookPayload
          type: string
        groupIds:
          description: The Action Group resource IDs.
          items:
            type: string
          title: groupIds
          type: array
      required:
      - groupIds
      title: ActionGroupsInformation
      type: object
    AlertRule:
      allOf:
      - $ref: '#/components/schemas/AzureResource'
      description: The alert rule information
      example:
        properties:
          severity: Sev0
          throttling:
            duration: duration
          actionGroups:
            groupIds:
            - groupIds
            - groupIds
            customWebhookPayload: customWebhookPayload
            customEmailSubject: customEmailSubject
          scope:
          - scope
          - scope
          description: description
          state: Enabled
          detector:
            supportedResourceTypes:
            - supportedResourceTypes
            - supportedResourceTypes
            imagePaths:
            - imagePaths
            - imagePaths
            name: name
            description: description
            id: id
            parameters:
              key: "{}"
          frequency: frequency
      properties:
        properties:
          $ref: '#/components/schemas/AlertRuleProperties'
      title: AlertRule
    AlertRulePatchObject:
      description: The alert rule patch information
      example:
        name: name
        id: id
        type: type
        properties:
          severity: Sev0
          throttling:
            duration: duration
          actionGroups:
            groupIds:
            - groupIds
            - groupIds
            customWebhookPayload: customWebhookPayload
            customEmailSubject: customEmailSubject
          description: description
          state: Enabled
          frequency: frequency
        tags: "{}"
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        name:
          description: The resource name.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AlertRulePatchProperties'
        tags:
          description: The resource tags.
          properties: {}
          title: tags
          type: object
        type:
          description: The resource type.
          readOnly: true
          title: type
          type: string
      title: AlertRulePatchObject
      type: object
    AlertRulePatchProperties:
      description: The alert rule properties.
      example:
        severity: Sev0
        throttling:
          duration: duration
        actionGroups:
          groupIds:
          - groupIds
          - groupIds
          customWebhookPayload: customWebhookPayload
          customEmailSubject: customEmailSubject
        description: description
        state: Enabled
        frequency: frequency
      properties:
        actionGroups:
          $ref: '#/components/schemas/ActionGroupsInformation'
        description:
          description: The alert rule description.
          title: description
          type: string
        frequency:
          description: The alert rule frequency in ISO8601 format. The time granularity
            must be in minutes and minimum value is 5 minutes.
          format: duration
          title: frequency
          type: string
        severity:
          description: The alert rule severity.
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        state:
          description: The alert rule state.
          enum:
          - Enabled
          - Disabled
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertRuleState
        throttling:
          $ref: '#/components/schemas/ThrottlingInformation'
      title: AlertRulePatchProperties
      type: object
    AlertRuleProperties:
      description: The alert rule properties.
      example:
        severity: Sev0
        throttling:
          duration: duration
        actionGroups:
          groupIds:
          - groupIds
          - groupIds
          customWebhookPayload: customWebhookPayload
          customEmailSubject: customEmailSubject
        scope:
        - scope
        - scope
        description: description
        state: Enabled
        detector:
          supportedResourceTypes:
          - supportedResourceTypes
          - supportedResourceTypes
          imagePaths:
          - imagePaths
          - imagePaths
          name: name
          description: description
          id: id
          parameters:
            key: "{}"
        frequency: frequency
      properties:
        actionGroups:
          $ref: '#/components/schemas/ActionGroupsInformation'
        description:
          description: The alert rule description.
          title: description
          type: string
        detector:
          $ref: '#/components/schemas/Detector'
        frequency:
          description: The alert rule frequency in ISO8601 format. The time granularity
            must be in minutes and minimum value is 5 minutes.
          format: duration
          title: frequency
          type: string
        scope:
          description: The alert rule resources scope.
          items:
            type: string
          title: scope
          type: array
        severity:
          description: The alert rule severity.
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        state:
          description: The alert rule state.
          enum:
          - Enabled
          - Disabled
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertRuleState
        throttling:
          $ref: '#/components/schemas/ThrottlingInformation'
      required:
      - actionGroups
      - detector
      - frequency
      - scope
      - severity
      - state
      title: AlertRuleProperties
      type: object
    AlertRulesList:
      description: List of Smart Detector alert rules.
      example:
        value:
        - properties:
            severity: Sev0
            throttling:
              duration: duration
            actionGroups:
              groupIds:
              - groupIds
              - groupIds
              customWebhookPayload: customWebhookPayload
              customEmailSubject: customEmailSubject
            scope:
            - scope
            - scope
            description: description
            state: Enabled
            detector:
              supportedResourceTypes:
              - supportedResourceTypes
              - supportedResourceTypes
              imagePaths:
              - imagePaths
              - imagePaths
              name: name
              description: description
              id: id
              parameters:
                key: "{}"
            frequency: frequency
        - properties:
            severity: Sev0
            throttling:
              duration: duration
            actionGroups:
              groupIds:
              - groupIds
              - groupIds
              customWebhookPayload: customWebhookPayload
              customEmailSubject: customEmailSubject
            scope:
            - scope
            - scope
            description: description
            state: Enabled
            detector:
              supportedResourceTypes:
              - supportedResourceTypes
              - supportedResourceTypes
              imagePaths:
              - imagePaths
              - imagePaths
              name: name
              description: description
              id: id
              parameters:
                key: "{}"
            frequency: frequency
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of Smart Detector alert rules.
          items:
            $ref: '#/components/schemas/AlertRule'
          title: value
          type: array
      title: AlertRulesList
      type: object
    AzureResource:
      description: An Azure resource object
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        location:
          default: global
          description: The resource location.
          title: location
          type: string
        name:
          description: The resource name.
          readOnly: true
          title: name
          type: string
        tags:
          description: The resource tags.
          properties: {}
          title: tags
          type: object
        type:
          description: The resource type.
          readOnly: true
          title: type
          type: string
      title: AzureResource
      type: object
      x-ms-azure-resource: true
    Detector:
      description: "The detector information. By default this is not populated, unless\
        \ it's specified in expandDetector"
      example:
        supportedResourceTypes:
        - supportedResourceTypes
        - supportedResourceTypes
        imagePaths:
        - imagePaths
        - imagePaths
        name: name
        description: description
        id: id
        parameters:
          key: "{}"
      properties:
        description:
          description: "The Smart Detector description. By default this is not populated,\
            \ unless it's specified in expandDetector"
          title: description
          type: string
        id:
          description: The detector id.
          title: id
          type: string
        imagePaths:
          description: "The Smart Detector image path. By default this is not populated,\
            \ unless it's specified in expandDetector"
          items:
            type: string
          title: imagePaths
          type: array
        name:
          description: "The Smart Detector name. By default this is not populated,\
            \ unless it's specified in expandDetector"
          title: name
          type: string
        parameters:
          additionalProperties:
            properties: {}
            type: object
          description: The detector's parameters.'
          title: parameters
          type: object
        supportedResourceTypes:
          description: "The Smart Detector supported resource types. By default this\
            \ is not populated, unless it's specified in expandDetector"
          items:
            type: string
          title: supportedResourceTypes
          type: array
      required:
      - id
      title: Detector
      type: object
    ErrorResponse:
      description: Describe the format of an Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    ThrottlingInformation:
      description: Optional throttling information for the alert rule.
      example:
        duration: duration
      properties:
        duration:
          description: The required duration (in ISO8601 format) to wait before notifying
            on the alert rule again. The time granularity must be in minutes and minimum
            value is 0 minutes
          format: duration
          title: duration
          type: string
      title: ThrottlingInformation
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
