openapi: 3.0.1
info:
  title: WebApps API Client
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-WebApps
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/sites:
    get:
      description: Description for Get all apps for a subscription.
      operationId: web_apps_list
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Get all apps for a subscription.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites:
    get:
      description: "Description for Gets all web, mobile, and API apps in the specified\
        \ resource group."
      operationId: web_apps_list_by_resource_group
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Specify <strong>true</strong> to include deployment slots in\
          \ results. The default is false, which only gives you the production slot\
          \ of all apps."
        in: query
        name: includeSlots
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Gets all web, mobile, and API apps in the specified resource group."
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}:
    delete:
      description: "Description for Deletes a web, mobile, or API app, or one of the\
        \ deployment slots."
      operationId: web_apps_delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app to delete.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "If true, web app metrics are also deleted."
        in: query
        name: deleteMetrics
        schema:
          type: boolean
      - description: "Specify false if you want to keep empty App Service plan. By\
          \ default, empty App Service plan is deleted."
        in: query
        name: deleteEmptyServerFarm
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted web app.
        "204":
          content: {}
          description: Successfully deleted web app.
        "404":
          content: {}
          description: Web app not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Deletes a web, mobile, or API app, or one of the deployment slots."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    get:
      description: "Description for Gets the details of a web, mobile, or API app."
      operationId: web_apps_get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: OK.
        "404":
          content: {}
          description: Not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Gets the details of a web, mobile, or API app."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    patch:
      description: "Description for Creates a new web, mobile, or API app in an existing\
        \ resource group, or updates an existing app."
      operationId: web_apps_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Unique name of the app to create or update. To create or update\
          \ a deployment slot, use the {slot} parameter."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SitePatchResource'
        description: A JSON representation of the app properties. See example.
        required: true
        x-body-name: siteEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: Asynchronous operation in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Creates a new web, mobile, or API app in an existing resource group,\
        \ or updates an existing app."
      tags:
      - WebApps
      x-codegen-request-body-name: siteEnvelope
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    put:
      description: "Description for Creates a new web, mobile, or API app in an existing\
        \ resource group, or updates an existing app."
      operationId: web_apps_create_or_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Unique name of the app to create or update. To create or update\
          \ a deployment slot, use the {slot} parameter."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApps_Get_200_response'
        description: A JSON representation of the app properties. See example.
        required: true
        x-body-name: siteEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_Get_200_response'
          description: Asynchronous operation in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Creates a new web, mobile, or API app in an existing resource group,\
        \ or updates an existing app."
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: siteEnvelope
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/analyzeCustomHostname:
    get:
      description: Description for Analyze a custom hostname.
      operationId: web_apps_analyze_custom_hostname
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Custom hostname.
        in: query
        name: hostName
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHostnameAnalysisResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Analyze a custom hostname.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/applySlotConfig:
    post:
      description: Description for Applies the configuration settings from the target
        slot onto the current slot.
      operationId: web_apps_apply_slot_config_to_production
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmSlotEntity'
        description: JSON object that contains the target slot name. See example.
        required: true
        x-body-name: slotSwapEntity
      responses:
        "200":
          content: {}
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Applies the configuration settings from the target slot onto the current
        slot.
      tags:
      - WebApps
      x-codegen-request-body-name: slotSwapEntity
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backup:
    post:
      description: Description for Creates a backup of an app.
      operationId: web_apps_backup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Backup configuration. You can use the JSON response from the
          POST action as input here.
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Creates a backup of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups:
    get:
      description: Description for Gets existing backups of an app.
      operationId: web_apps_list_backups
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItemCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets existing backups of an app.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}:
    delete:
      description: Description for Deletes a backup of an app by its ID.
      operationId: web_apps_delete_backup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of the backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted web app backup item.
        "404":
          content: {}
          description: Web app backup item does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Deletes a backup of an app by its ID.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    get:
      description: Description for Gets a backup of an app by its ID.
      operationId: web_apps_get_backup_status
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of the backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets a backup of an app by its ID.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/list:
    post:
      description: "Description for Gets status of a web app backup that may be in\
        \ progress, including secrets associated with the backup, such as the Azure\
        \ Storage SAS URL. Also can be used to update the SAS URL for the backup if\
        \ a new URL is passed in the request body."
      operationId: web_apps_list_backup_status_secrets
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Information on backup request.
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Gets status of a web app backup that may be in progress, including\
        \ secrets associated with the backup, such as the Azure Storage SAS URL. Also\
        \ can be used to update the SAS URL for the backup if a new URL is passed\
        \ in the request body."
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/restore
  : post:
      description: "Description for Restores a specific backup to another app (or\
        \ deployment slot, if specified)."
      operationId: web_apps_restore
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: ID of the backup.
        in: path
        name: backupId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequest'
        description: Information on restore request .
        required: true
        x-body-name: request
      responses:
        "200":
          content: {}
          description: Restore operation started.
        "202":
          content: {}
          description: Restore operation started.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Restores a specific backup to another app (or deployment slot, if\
        \ specified)."
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config:
    get:
      description: Description for List the configurations of an app
      operationId: web_apps_list_configurations
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResourceCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: List the configurations of an app
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings:
    put:
      description: Description for Replaces the application settings of an app.
      operationId: web_apps_update_application_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StringDictionary'
        description: Application settings of the app.
        required: true
        x-body-name: appSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Replaces the application settings of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: appSettings
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings/list:
    post:
      description: Description for Gets the application settings of an app.
      operationId: web_apps_list_application_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the application settings of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings:
    put:
      description: Description for Updates the Authentication / Authorization settings
        associated with web app.
      operationId: web_apps_update_auth_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteAuthSettings'
        description: Auth settings associated with web app.
        required: true
        x-body-name: siteAuthSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettings'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the Authentication / Authorization settings associated with
        web app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteAuthSettings
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings/list
  : post:
      description: Description for Gets the Authentication/Authorization settings
        of an app.
      operationId: web_apps_get_auth_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettings'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the Authentication/Authorization settings of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/azurestorageaccounts
  : put:
      description: Description for Updates the Azure storage account configurations
        of an app.
      operationId: web_apps_update_azure_storage_accounts
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureStoragePropertyDictionaryResource'
        description: Azure storage accounts of the app.
        required: true
        x-body-name: azureStorageAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureStoragePropertyDictionaryResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the Azure storage account configurations of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: azureStorageAccounts
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/azurestorageaccounts/list
  : post:
      description: Description for Gets the Azure storage account configurations of
        an app.
      operationId: web_apps_list_azure_storage_accounts
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureStoragePropertyDictionaryResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the Azure storage account configurations of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup:
    delete:
      description: Description for Deletes the backup configuration of an app.
      operationId: web_apps_delete_backup_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted backup configuration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Deletes the backup configuration of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    put:
      description: Description for Updates the backup configuration of an app.
      operationId: web_apps_update_backup_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Edited backup configuration.
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the backup configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup/list:
    post:
      description: Description for Gets the backup configuration of an app.
      operationId: web_apps_get_backup_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the backup configuration of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/configreferences/appsettings
  : get:
      description: Description for Gets the config reference app settings and status
        of an app
      operationId: web_apps_get_app_settings_key_vault_references
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyVaultReferenceCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the config reference app settings and status of an app
      tags:
      - WebApps
      x-ms-examples:
        Get Azure Key Vault references for app settings:
          parameters:
            api-version: 2019-08-01
            name: tests346
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/sites/tests346/config/configreferences/appsettings
                name: testc6282
                properties:
                  keyToReferenceStatuses:
                    ref1:
                      details: Some Details
                      identityType: None
                      location: ApplicationSetting
                      reference: referenceName
                      secretName: testsec579
                      secretVersion: "239"
                      source: KeyVault
                      status: Resolved
                      vaultName: testkv124
                type: Microsoft.Web/sites/config/appsettings
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/configreferences/appsettings/{appSettingKey}
  : get:
      description: Description for Gets the config reference and status of an app
      operationId: web_apps_get_app_setting_key_vault_reference
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: App Setting key name.
        in: path
        name: appSettingKey
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyVaultReferenceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the config reference and status of an app
      tags:
      - WebApps
      x-ms-examples:
        Get Azure Key Vault app setting reference:
          parameters:
            api-version: 2019-08-01
            appSettingKey: ref1
            name: tests346
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/sites/tests346/config/configreferences/appsettings/ref1
                name: testc6282
                properties:
                  details: Some Details
                  identityType: None
                  location: ApplicationSetting
                  reference: referenceName
                  secretName: testsec579
                  secretVersion: "239"
                  source: KeyVault
                  status: Resolved
                  vaultName: testkv124
                type: Microsoft.Web/sites/config/appsettings
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings
  : put:
      description: Description for Replaces the connection strings of an app.
      operationId: web_apps_update_connection_strings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionStringDictionary'
        description: Connection strings of the app or deployment slot. See example.
        required: true
        x-body-name: connectionStrings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStringDictionary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Replaces the connection strings of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: connectionStrings
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings/list
  : post:
      description: Description for Gets the connection strings of an app.
      operationId: web_apps_list_connection_strings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStringDictionary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the connection strings of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/logs:
    get:
      description: Description for Gets the logging configuration of an app.
      operationId: web_apps_get_diagnostic_logs_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteLogsConfig'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the logging configuration of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    put:
      description: Description for Updates the logging configuration of an app.
      operationId: web_apps_update_diagnostic_logs_config
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteLogsConfig'
        description: A SiteLogsConfig JSON object that contains the logging configuration
          to change in the "properties" property.
        required: true
        x-body-name: siteLogsConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteLogsConfig'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the logging configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteLogsConfig
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata:
    put:
      description: Description for Replaces the metadata of an app.
      operationId: web_apps_update_metadata
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StringDictionary'
        description: Edited metadata of the app or deployment slot. See example.
        required: true
        x-body-name: metadata
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Replaces the metadata of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: metadata
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata/list:
    post:
      description: Description for Gets the metadata of an app.
      operationId: web_apps_list_metadata
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringDictionary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the metadata of an app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/publishingcredentials/list
  : post:
      description: Description for Gets the Git/FTP publishing credentials of an app.
      operationId: web_apps_list_publishing_credentials
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_ListPublishingCredentials_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the Git/FTP publishing credentials of an app.
      tags:
      - WebApps
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings:
    put:
      description: Description for Updates the Push settings associated with web app.
      operationId: web_apps_update_site_push_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApps_UpdateSitePushSettings_request'
        description: Push settings associated with web app.
        required: true
        x-body-name: pushSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_UpdateSitePushSettings_request'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the Push settings associated with web app.
      tags:
      - WebApps
      x-codegen-request-body-name: pushSettings
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings/list
  : post:
      description: Description for Gets the Push settings associated with web app.
      operationId: web_apps_list_site_push_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_UpdateSitePushSettings_request'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the Push settings associated with web app.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/slotConfigNames:
    get:
      description: Description for Gets the names of app settings and connection strings
        that stick to the slot (not swapped).
      operationId: web_apps_list_slot_configuration_names
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotConfigNamesResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the names of app settings and connection strings that stick to
        the slot (not swapped).
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    put:
      description: Description for Updates the names of application settings and connection
        string that remain with the slot during swap operation.
      operationId: web_apps_update_slot_configuration_names
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigNamesResource'
        description: Names of application settings and connection strings. See example.
        required: true
        x-body-name: slotConfigNames
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotConfigNamesResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the names of application settings and connection string that
        remain with the slot during swap operation.
      tags:
      - WebApps
      x-codegen-request-body-name: slotConfigNames
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web:
    get:
      description: "Description for Gets the configuration of an app, such as platform\
        \ version and bitness, default documents, virtual applications, Always On,\
        \ etc."
      operationId: web_apps_get_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Gets the configuration of an app, such as platform version and bitness,\
        \ default documents, virtual applications, Always On, etc."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    patch:
      description: Description for Updates the configuration of an app.
      operationId: web_apps_update_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfigResource'
        description: JSON representation of a SiteConfig object. See example.
        required: true
        x-body-name: siteConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteConfig
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    put:
      description: Description for Updates the configuration of an app.
      operationId: web_apps_create_or_update_configuration
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfigResource'
        description: JSON representation of a SiteConfig object. See example.
        required: true
        x-body-name: siteConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Updates the configuration of an app.
      tags:
      - WebApps
      x-codegen-request-body-name: siteConfig
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots:
    get:
      description: Description for Gets a list of web app configuration snapshots
        identifiers. Each element of the list contains a timestamp and the ID of the
        snapshot.
      operationId: web_apps_list_configuration_snapshot_info
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationSnapshotInfoCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets a list of web app configuration snapshots identifiers. Each element
        of the list contains a timestamp and the ID of the snapshot.
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}
  : get:
      description: Description for Gets a snapshot of the configuration of an app
        at a previous point in time.
      operationId: web_apps_get_configuration_snapshot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the snapshot to read.
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets a snapshot of the configuration of an app at a previous point
        in time.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}/recover
  : post:
      description: Description for Reverts the configuration of an app to a previous
        snapshot.
      operationId: web_apps_recover_site_configuration_snapshot
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the snapshot to read.
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Reverts the configuration of an app to a previous snapshot.
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs:
    post:
      description: Description for Gets the last lines of docker logs for the given
        site
      operationId: web_apps_get_web_site_container_logs
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the last lines of docker logs for the given site
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs/zip/download
  : post:
      description: Description for Gets the ZIP archived docker log files for the
        given site
      operationId: web_apps_get_container_logs_zip
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of web app.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: Gets the ZIP archived docker log files for the given site
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs:
    get:
      description: "Description for List continuous web jobs for an app, or a deployment\
        \ slot."
      operationId: web_apps_list_continuous_web_jobs
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousWebJobCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "List continuous web jobs for an app, or a deployment slot."
      tags:
      - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}
  : delete:
      description: "Description for Delete a continuous web job by its ID for an app,\
        \ or a deployment slot."
      operationId: web_apps_delete_continuous_web_job
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted continuous web job.
        "204":
          content: {}
          description: Continuous web job does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Delete a continuous web job by its ID for an app, or a deployment\
        \ slot."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
    get:
      description: "Description for Gets a continuous web job by its ID for an app,\
        \ or a deployment slot."
      operationId: web_apps_get_continuous_web_job
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousWebJob'
          description: Found continuous web job.
        "404":
          content: {}
          description: Continuous web job does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Gets a continuous web job by its ID for an app, or a deployment slot."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/start
  : post:
      description: "Description for Start a continuous web job for an app, or a deployment\
        \ slot."
      operationId: web_apps_start_continuous_web_job
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Found continuous web job.
        "404":
          content: {}
          description: Continuous web job does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Start a continuous web job for an app, or a deployment slot."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/stop
  : post:
      description: "Description for Stop a continuous web job for an app, or a deployment\
        \ slot."
      operationId: web_apps_stop_continuous_web_job
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of Web Job.
        in: path
        name: webJobName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Found continuous web job.
        "404":
          content: {}
          description: Continuous web job does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApps_List_default_response'
          description: App Service error response.
      summary: "Stop a continuous web job for an app, or a deployment slot."
      tags:
      - WebApps
      x-openapi-router-controller: openapi_server.controllers.web_apps_controller
[...]
