openapi: 3.0.1
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/tableServices.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-tableServices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/tableservices/{serviceType}
  : get:
      description: Returns the table service.
      operationId: TableServices_Get
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableService'
          description: OK -- Table service has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - TableServices
      x-ms-examples:
        Returns the table service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/tableservices/default
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af/default
                properties:
                  settings:
                    frontEndCallbackThreadsCount: 1600
                    frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds: 5
                    frontEndCpuBasedKeepAliveThrottlingEnabled: true
                    frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold: 90
                    frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle: 2
                    frontEndHttpListenPort: 11002
                    frontEndHttpsListenPort: 11102
                    frontEndMaxMillisecondsBetweenMemorySamples: 10000
                    frontEndMemoryThrottleThresholdSettings: "5,100,0;7,50,0;10,25,0;15,0,25;"
                    frontEndMemoryThrottlingEnabled: true
                    frontEndMinThreadPoolThreads: 1850
                    frontEndThreadPoolBasedKeepAliveIOCompletionThreshold: 1500
                    frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds: 30
                    frontEndThreadPoolBasedKeepAlivePercentage: 10
                    frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold: 1500
                    frontEndUseSlaTimeInAvailability: true
                  version: "1.0"
                type: Microsoft.Storage.Admin/farms/tableservices
            "404": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/tableservices/{serviceType}/metricdefinitions
  : get:
      description: Returns a list of metric definitions for table service.
      operationId: TableServices_ListMetricDefinitions
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableServices_ListMetricDefinitions_200_response'
          description: OK -- The list of metric definitions has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - TableServices
      x-ms-examples:
        Returns a list of metric definitions for table service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: End-to-end latency (TableService)
                    value: E2ELatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (TableService)
                    value: ServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Availability (TableService)
                    value: Availability
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total requests (TableService)
                    value: TotalRequests
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Ingress (TableService)
                    value: Ingress
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P1D
                    timeGrain: PT1M
                  - retention: P10D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Egress (TableService)
                    value: Egress
                  primaryAggregationType: Total
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Requests per second (TableFrontEnd)
                    value: TableFrontEndRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: End-to-end latency (TableFrontEnd)
                    value: TableFrontEndE2ELatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (TableFrontEnd)
                    value: TableFrontEndServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Concurrent requests (TableFrontEnd)
                    value: TableFrontEndConcurrentRequests
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: The count of pending requests in the request queue
                      (TableFrontEnd)
                    value: TableFrontEndRequestQueueLength
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Processor time percentage (TableFrontEnd)
                    value: TableFrontEndProcessorTime
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Requests per second (TableMaster)
                    value: TableMasterRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Successful requests per second (TableMaster)
                    value: TableMasterSuccessfulRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Failed requests per second (TableMaster)
                    value: TableMasterFailedRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (TableMaster)
                    value: TableMasterServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Processor time percentage (TableMaster)
                    value: TableMasterProcessorTime
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Requests per second (TableServer)
                    value: TableServerRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Successful requests per second (TableServer)
                    value: TableServerSuccessfulRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Failed requests per second (TableServer)
                    value: TableServerFailedRequestsPerSecond
                  primaryAggregationType: Average
                  unit: CountPerSecond
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Server latency (TableServer)
                    value: TableServerServerLatency
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Processor time percentage (TableServer)
                    value: TableServerProcessorTime
                  primaryAggregationType: Average
                  unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/tableservices/{serviceType}/metrics
  : get:
      description: Returns a list of metrics for table service.
      operationId: TableServices_ListMetrics
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The service type.
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ServiceType
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableServices_ListMetrics_200_response'
          description: OK -- The list of metrics has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - TableServices
      x-ms-examples:
        Returns a list of metrics for table service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Requests per second (TableFrontEnd)
                    value: TableFrontEndRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: End-to-end latency (TableFrontEnd)
                    value: TableFrontEndE2ELatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Server latency (TableFrontEnd)
                    value: TableFrontEndServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Concurrent requests (TableFrontEnd)
                    value: TableFrontEndConcurrentRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: The count of pending requests in the request queue
                      (TableFrontEnd)
                    value: TableFrontEndRequestQueueLength
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Processor time percentage (TableFrontEnd)
                    value: TableFrontEndProcessorTime
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Requests per second (TableMaster)
                    value: TableMasterRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Successful requests per second (TableMaster)
                    value: TableMasterSuccessfulRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Failed requests per second (TableMaster)
                    value: TableMasterFailedRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Server latency (TableMaster)
                    value: TableMasterServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Processor time percentage (TableMaster)
                    value: TableMasterProcessorTime
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Requests per second (TableServer)
                    value: TableServerRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Successful requests per second (TableServer)
                    value: TableServerSuccessfulRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: CountPerSecond
                  metricValues: []
                  name:
                    localizedValue: Failed requests per second (TableServer)
                    value: TableServerFailedRequestsPerSecond
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Server latency (TableServer)
                    value: TableServerServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Processor time percentage (TableServer)
                    value: TableServerProcessorTime
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues:
                  - average: 7.29314082130133
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 7.29242044505202
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 7.45627809068669
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 7.30089294071398
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 7.72399956185191
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 7.60159978218237
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 7.47610318708534
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: End-to-end latency (TableService)
                    value: E2ELatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues:
                  - average: 6.35217701106319
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 6.33429027113238
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 6.48739451176727
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 6.32658791815646
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 6.7042208266394
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 6.63925794831982
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 6.49650197949997
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: Server latency (TableService)
                    value: ServerLatency
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues:
                  - average: 100
                    timeStamp: 2018-01-23T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 99.9981206752038
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 100
                    timeStamp: 2018-01-29T00:00:00Z
                  name:
                    localizedValue: Availability (TableService)
                    value: Availability
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 269054
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 265771
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 266053
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 269687
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 276294
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 274176
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 279001
                  name:
                    localizedValue: Total requests (TableService)
                    value: TotalRequests
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 511130540
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 503169523
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 507168827
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 568486028
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 700065592
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 690837578
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 695035903
                  name:
                    localizedValue: Ingress (TableService)
                    value: Ingress
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:22.8313413Z
                  metricUnit: Count
                  metricValues:
                  - timeStamp: 2018-01-23T00:00:00Z
                    total: 6755876285
                  - timeStamp: 2018-01-24T00:00:00Z
                    total: 6754791566
                  - timeStamp: 2018-01-25T00:00:00Z
                    total: 6756295607
                  - timeStamp: 2018-01-26T00:00:00Z
                    total: 6762121121
                  - timeStamp: 2018-01-27T00:00:00Z
                    total: 6787273660
                  - timeStamp: 2018-01-28T00:00:00Z
                    total: 6749797687
                  - timeStamp: 2018-01-29T00:00:00Z
                    total: 6790505524
                  name:
                    localizedValue: Egress (TableService)
                    value: Egress
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  schemas:
    TableService:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Table service.
      example:
        properties:
          settings: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/TableServiceProperties'
    TableServiceProperties:
      allOf:
      - description: Storage service.
        properties:
          healthStatus:
            description: Current health status.
            enum:
            - Unknown
            - Healthy
            - Warning
            - Critical
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: true
              name: HealthStatus
          version:
            description: Storage service version.
            type: string
        type: object
      description: Table service properties.
      example:
        settings: "{}"
      properties:
        settings:
          description: Settings of storage services.
          properties:
            frontEndHttpListenPort:
              description: The HTTP port of the storage service front end.
              format: int32
              type: integer
            frontEndHttpsListenPort:
              description: The HTTPs port of the storage service front end.
              format: int32
              type: integer
          type: object
    TableServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner:
      description: Metric availability.
      example:
        timeGrain: timeGrain
        retention: retention
      properties:
        retention:
          description: Retention of metric.
          type: string
        timeGrain:
          description: Time grain.
          type: string
      type: object
    TableServices_ListMetricDefinitions_200_response_value_inner_name:
      description: Localizable string.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized value of the string.
          type: string
        value:
          description: Value of the string.
          type: string
      type: object
    TableServices_ListMetricDefinitions_200_response_value_inner:
      description: Metric definition.
      example:
        primaryAggregationType: None
        unit: Count
        name:
          localizedValue: localizedValue
          value: value
        metricAvailabilities:
        - timeGrain: timeGrain
          retention: retention
        - timeGrain: timeGrain
          retention: retention
      properties:
        metricAvailabilities:
          description: Metric availabilities.
          items:
            $ref: '#/components/schemas/TableServices_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner'
          readOnly: true
          type: array
        name:
          $ref: '#/components/schemas/TableServices_ListMetricDefinitions_200_response_value_inner_name'
        primaryAggregationType:
          description: Aggregate type.
          enum:
          - None
          - Average
          - Total
          - Minimum
          - Maximum
          - Last
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AggregateType
        unit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
      type: object
    TableServices_ListMetricDefinitions_200_response:
      description: Pageable list of metric definitions.
      example:
        value:
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of metric definitions.
          items:
            $ref: '#/components/schemas/TableServices_ListMetricDefinitions_200_response_value_inner'
          readOnly: true
          type: array
      type: object
    TableServices_ListMetrics_200_response_value_inner_metricValues_inner:
      description: Metric value.
      example:
        timeStamp: 2000-01-23T04:56:07.000+00:00
        average: 0.8008282
        total: 5.637377
        count: 6
        maximum: 1.4658129
        minimum: 5.962134
        properties: properties
      properties:
        average:
          description: Average value of metric.
          format: float
          readOnly: true
          type: number
        count:
          description: Count of metric values.
          format: int32
          readOnly: true
          type: integer
        maximum:
          description: Maximum value of metric.
          format: float
          readOnly: true
          type: number
        minimum:
          description: Minimum value of metric.
          format: float
          readOnly: true
          type: number
        properties:
          description: Metric value properties.
          readOnly: true
          type: string
        timeStamp:
          description: Timestamp of metric value.
          format: date-time
          readOnly: true
          type: string
        total:
          description: Total value of metric.
          format: float
          readOnly: true
          type: number
      type: object
    TableServices_ListMetrics_200_response_value_inner:
      description: Metric information.
      example:
        timeGrain: timeGrain
        name:
          localizedValue: localizedValue
          value: value
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        metricUnit: Count
        metricValues:
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
      properties:
        endTime:
          description: Metric end time.
          format: date-time
          readOnly: true
          type: string
        metricUnit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
        metricValues:
          description: List of metric values.
          items:
            $ref: '#/components/schemas/TableServices_ListMetrics_200_response_value_inner_metricValues_inner'
          readOnly: true
          type: array
        name:
          $ref: '#/components/schemas/TableServices_ListMetricDefinitions_200_response_value_inner_name'
        startTime:
          description: Metric start time.
          format: date-time
          readOnly: true
          type: string
        timeGrain:
          description: Metric time grain.
          readOnly: true
          type: string
      type: object
    TableServices_ListMetrics_200_response:
      description: Pageable list of metrics.
      example:
        value:
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of metrics.
          items:
            $ref: '#/components/schemas/TableServices_ListMetrics_200_response_value_inner'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

