# DialogflowApi.GoogleCloudDialogflowV2beta1ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**validationErrors** | [**[GoogleCloudDialogflowV2beta1ValidationError]**](GoogleCloudDialogflowV2beta1ValidationError.md) | Contains all validation errors. | [optional] 


