openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: KMS Inventory API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://kmsinventory.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: kmsinventory
externalDocs:
  url: https://cloud.google.com/kms/
servers:
- url: https://kmsinventory.googleapis.com/
tags:
- name: organizations
- name: projects
paths:
  /v1/{name}/protectedResourcesSummary:
    get:
      description: Returns aggregate information about the resources protected by
        the given Cloud KMS CryptoKey. Only resources within the same Cloud organization
        as the key will be returned. The project that holds the key must be part of
        an organization in order for this call to succeed.
      operationId: kmsinventory_projects_locations_key_rings_crypto_keys_get_protected_resources_summary
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the CryptoKey.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudKmsInventoryV1ProtectedResourcesSummary'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{parent}/cryptoKeys:
    get:
      description: "Returns cryptographic keys managed by Cloud KMS in a given Cloud\
        \ project. Note that this data is sourced from snapshots, meaning it may not\
        \ completely reflect the actual state of key metadata at call time."
      operationId: kmsinventory_projects_crypto_keys_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The Google Cloud project for which to retrieve key\
          \ metadata, in the format `projects/*`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum number of keys to return. The service\
          \ may return fewer than this value. If unspecified, at most 1000 keys will\
          \ be returned. The maximum value is 1000; values above 1000 will be coerced\
          \ to 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. Pass this into a subsequent request in order to receive
          the next page of results.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudKmsInventoryV1ListCryptoKeysResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{scope}/protectedResources:search:
    get:
      description: Returns metadata about the resources protected by the given Cloud
        KMS CryptoKey in the given Cloud organization.
      operationId: kmsinventory_organizations_protected_resources_search
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Resource name of the organization. Example: organizations/123"
        explode: false
        in: path
        name: scope
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The resource name of the CryptoKey.
        explode: true
        in: query
        name: cryptoKey
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of resources to return. The service may return\
          \ fewer than this value. If unspecified, at most 500 resources will be returned.\
          \ The maximum value is 500; values above 500 will be coerced to 500."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous KeyTrackingService.SearchProtectedResources\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to KeyTrackingService.SearchProtectedResources\
          \ must match the call that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. A list of resource types that this request searches\
          \ for. If empty, it will search all the [trackable resource types](https://cloud.google.com/kms/docs/view-key-usage#tracked-resource-types).\
          \ Regular expressions are also supported. For example: * `compute.googleapis.com.*`\
          \ snapshots resources whose type starts with `compute.googleapis.com`. *\
          \ `.*Image` snapshots resources whose type ends with `Image`. * `.*Image.*`\
          \ snapshots resources whose type contains `Image`. See [RE2](https://github.com/google/re2/wiki/Syntax)\
          \ for all supported regular expression syntax. If the regular expression\
          \ does not match any supported resource type, an INVALID_ARGUMENT error\
          \ will be returned."
        explode: true
        in: query
        name: resourceTypes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - organizations
      x-openapi-router-controller: openapi_server.controllers.organizations_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudKmsInventoryV1ListCryptoKeysResponse:
      description: Response message for KeyDashboardService.ListCryptoKeys.
      example:
        nextPageToken: nextPageToken
        cryptoKeys:
        - cryptoKeyBackend: cryptoKeyBackend
          nextRotationTime: nextRotationTime
          rotationPeriod: rotationPeriod
          createTime: createTime
          destroyScheduledDuration: destroyScheduledDuration
          purpose: CRYPTO_KEY_PURPOSE_UNSPECIFIED
          name: name
          versionTemplate:
            protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
            algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
          importOnly: true
          labels:
            key: labels
          primary:
            attestation:
              format: ATTESTATION_FORMAT_UNSPECIFIED
              certChains:
                googleCardCerts:
                - googleCardCerts
                - googleCardCerts
                caviumCerts:
                - caviumCerts
                - caviumCerts
                googlePartitionCerts:
                - googlePartitionCerts
                - googlePartitionCerts
              content: content
            externalProtectionLevelOptions:
              ekmConnectionKeyPath: ekmConnectionKeyPath
              externalKeyUri: externalKeyUri
            importJob: importJob
            generateTime: generateTime
            destroyTime: destroyTime
            generationFailureReason: generationFailureReason
            destroyEventTime: destroyEventTime
            importFailureReason: importFailureReason
            reimportEligible: true
            createTime: createTime
            name: name
            state: CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
            protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
            externalDestructionFailureReason: externalDestructionFailureReason
            importTime: importTime
            algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
        - cryptoKeyBackend: cryptoKeyBackend
          nextRotationTime: nextRotationTime
          rotationPeriod: rotationPeriod
          createTime: createTime
          destroyScheduledDuration: destroyScheduledDuration
          purpose: CRYPTO_KEY_PURPOSE_UNSPECIFIED
          name: name
          versionTemplate:
            protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
            algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
          importOnly: true
          labels:
            key: labels
          primary:
            attestation:
              format: ATTESTATION_FORMAT_UNSPECIFIED
              certChains:
                googleCardCerts:
                - googleCardCerts
                - googleCardCerts
                caviumCerts:
                - caviumCerts
                - caviumCerts
                googlePartitionCerts:
                - googlePartitionCerts
                - googlePartitionCerts
              content: content
            externalProtectionLevelOptions:
              ekmConnectionKeyPath: ekmConnectionKeyPath
              externalKeyUri: externalKeyUri
            importJob: importJob
            generateTime: generateTime
            destroyTime: destroyTime
            generationFailureReason: generationFailureReason
            destroyEventTime: destroyEventTime
            importFailureReason: importFailureReason
            reimportEligible: true
            createTime: createTime
            name: name
            state: CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
            protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
            externalDestructionFailureReason: externalDestructionFailureReason
            importTime: importTime
            algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
      properties:
        cryptoKeys:
          description: The list of CryptoKeys.
          items:
            $ref: '#/components/schemas/GoogleCloudKmsV1CryptoKey'
          title: cryptoKeys
          type: array
        nextPageToken:
          description: The page token returned from the previous response if the next
            page is desired.
          title: nextPageToken
          type: string
      title: GoogleCloudKmsInventoryV1ListCryptoKeysResponse
      type: object
    GoogleCloudKmsInventoryV1ProtectedResource:
      description: Metadata about a resource protected by a Cloud KMS key.
      example:
        cloudProduct: cloudProduct
        createTime: createTime
        cryptoKeyVersion: cryptoKeyVersion
        name: name
        project: project
        location: location
        cryptoKeyVersions:
        - cryptoKeyVersions
        - cryptoKeyVersions
        projectId: projectId
        labels:
          key: labels
        resourceType: resourceType
      properties:
        cloudProduct:
          description: "The Cloud product that owns the resource. Example: `compute`"
          title: cloudProduct
          type: string
        createTime:
          description: Output only. The time at which this resource was created. The
            granularity is in seconds. Timestamp.nanos will always be 0.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        cryptoKeyVersion:
          description: "The name of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en)\
            \ used to protect this resource via CMEK. This field is empty if the Google\
            \ Cloud product owning the resource does not provide key version data\
            \ to Asset Inventory. If there are multiple key versions protecting the\
            \ resource, then this is same value as the first element of crypto_key_versions."
          title: cryptoKeyVersion
          type: string
        cryptoKeyVersions:
          description: "The names of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en)\
            \ used to protect this resource via CMEK. This field is empty if the Google\
            \ Cloud product owning the resource does not provide key versions data\
            \ to Asset Inventory. The first element of this field is stored in crypto_key_version."
          items:
            type: string
          title: cryptoKeyVersions
          type: array
        labels:
          additionalProperties:
            type: string
          description: A key-value pair of the resource's labels (v1) to their values.
          title: labels
          type: object
        location:
          description: "Location can be `global`, regional like `us-east1`, or zonal\
            \ like `us-west1-b`."
          title: location
          type: string
        name:
          description: "The full resource name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1`."
          title: name
          type: string
        project:
          description: "Format: `projects/{PROJECT_NUMBER}`."
          title: project
          type: string
        projectId:
          description: The ID of the project that owns the resource.
          title: projectId
          type: string
        resourceType:
          description: "Example: `compute.googleapis.com/Disk`"
          title: resourceType
          type: string
      title: GoogleCloudKmsInventoryV1ProtectedResource
      type: object
    GoogleCloudKmsInventoryV1ProtectedResourcesSummary:
      description: Aggregate information about the resources protected by a Cloud
        KMS key in the same Cloud organization as the key.
      example:
        cloudProducts:
          key: cloudProducts
        resourceTypes:
          key: resourceTypes
        projectCount: 0
        resourceCount: resourceCount
        name: name
        locations:
          key: locations
      properties:
        cloudProducts:
          additionalProperties:
            format: int64
            type: string
          description: The number of resources protected by the key grouped by Cloud
            product.
          title: cloudProducts
          type: object
        locations:
          additionalProperties:
            format: int64
            type: string
          description: The number of resources protected by the key grouped by region.
          title: locations
          type: object
        name:
          description: "The full name of the ProtectedResourcesSummary resource. Example:\
            \ projects/test-project/locations/us/keyRings/test-keyring/cryptoKeys/test-key/protectedResourcesSummary"
          title: name
          type: string
        projectCount:
          description: The number of distinct Cloud projects in the same Cloud organization
            as the key that have resources protected by the key.
          format: int32
          title: projectCount
          type: integer
        resourceCount:
          description: The total number of protected resources in the same Cloud organization
            as the key.
          format: int64
          title: resourceCount
          type: string
        resourceTypes:
          additionalProperties:
            format: int64
            type: string
          description: The number of resources protected by the key grouped by resource
            type.
          title: resourceTypes
          type: object
      title: GoogleCloudKmsInventoryV1ProtectedResourcesSummary
      type: object
    GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse:
      description: Response message for KeyTrackingService.SearchProtectedResources.
      example:
        protectedResources:
        - cloudProduct: cloudProduct
          createTime: createTime
          cryptoKeyVersion: cryptoKeyVersion
          name: name
          project: project
          location: location
          cryptoKeyVersions:
          - cryptoKeyVersions
          - cryptoKeyVersions
          projectId: projectId
          labels:
            key: labels
          resourceType: resourceType
        - cloudProduct: cloudProduct
          createTime: createTime
          cryptoKeyVersion: cryptoKeyVersion
          name: name
          project: project
          location: location
          cryptoKeyVersions:
          - cryptoKeyVersions
          - cryptoKeyVersions
          projectId: projectId
          labels:
            key: labels
          resourceType: resourceType
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token that can be sent as `page_token` to retrieve the next\
            \ page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
        protectedResources:
          description: Protected resources for this page.
          items:
            $ref: '#/components/schemas/GoogleCloudKmsInventoryV1ProtectedResource'
          title: protectedResources
          type: array
      title: GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse
      type: object
    GoogleCloudKmsV1CryptoKey:
      description: "A CryptoKey represents a logical key that can be used for cryptographic\
        \ operations. A CryptoKey is made up of zero or more versions, which represent\
        \ the actual key material used in cryptographic operations."
      example:
        cryptoKeyBackend: cryptoKeyBackend
        nextRotationTime: nextRotationTime
        rotationPeriod: rotationPeriod
        createTime: createTime
        destroyScheduledDuration: destroyScheduledDuration
        purpose: CRYPTO_KEY_PURPOSE_UNSPECIFIED
        name: name
        versionTemplate:
          protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
          algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
        importOnly: true
        labels:
          key: labels
        primary:
          attestation:
            format: ATTESTATION_FORMAT_UNSPECIFIED
            certChains:
              googleCardCerts:
              - googleCardCerts
              - googleCardCerts
              caviumCerts:
              - caviumCerts
              - caviumCerts
              googlePartitionCerts:
              - googlePartitionCerts
              - googlePartitionCerts
            content: content
          externalProtectionLevelOptions:
            ekmConnectionKeyPath: ekmConnectionKeyPath
            externalKeyUri: externalKeyUri
          importJob: importJob
          generateTime: generateTime
          destroyTime: destroyTime
          generationFailureReason: generationFailureReason
          destroyEventTime: destroyEventTime
          importFailureReason: importFailureReason
          reimportEligible: true
          createTime: createTime
          name: name
          state: CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
          protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
          externalDestructionFailureReason: externalDestructionFailureReason
          importTime: importTime
          algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
      properties:
        createTime:
          description: Output only. The time at which this CryptoKey was created.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        cryptoKeyBackend:
          description: "Immutable. The resource name of the backend environment where\
            \ the key material for all CryptoKeyVersions associated with this CryptoKey\
            \ reside and where all related cryptographic operations are performed.\
            \ Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC,\
            \ with the resource name in the format `projects/*/locations/*/ekmConnections/*`.\
            \ Note, this list is non-exhaustive and may apply to additional ProtectionLevels\
            \ in the future."
          title: cryptoKeyBackend
          type: string
        destroyScheduledDuration:
          description: "Immutable. The period of time that versions of this key spend\
            \ in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If\
            \ not specified at creation time, the default duration is 24 hours."
          format: google-duration
          title: destroyScheduledDuration
          type: string
        importOnly:
          description: Immutable. Whether this key may contain imported versions only.
          title: importOnly
          type: boolean
        labels:
          additionalProperties:
            type: string
          description: "Labels with user-defined metadata. For more information, see\
            \ [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys)."
          title: labels
          type: object
        name:
          description: Output only. The resource name for this CryptoKey in the format
            `projects/*/locations/*/keyRings/*/cryptoKeys/*`.
          readOnly: true
          title: name
          type: string
        nextRotationTime:
          description: "At next_rotation_time, the Key Management Service will automatically:\
            \ 1. Create a new version of this CryptoKey. 2. Mark the new version as\
            \ primary. Key rotations performed manually via CreateCryptoKeyVersion\
            \ and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time.\
            \ Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other\
            \ keys, this field must be omitted."
          format: google-datetime
          title: nextRotationTime
          type: string
        primary:
          $ref: '#/components/schemas/GoogleCloudKmsV1CryptoKeyVersion'
        purpose:
          description: Immutable. The immutable purpose of this CryptoKey.
          enum:
          - CRYPTO_KEY_PURPOSE_UNSPECIFIED
          - ENCRYPT_DECRYPT
          - ASYMMETRIC_SIGN
          - ASYMMETRIC_DECRYPT
          - RAW_ENCRYPT_DECRYPT
          - MAC
          title: purpose
          type: string
        rotationPeriod:
          description: "next_rotation_time will be advanced by this period when the\
            \ service automatically rotates a key. Must be at least 24 hours and at\
            \ most 876,000 hours. If rotation_period is set, next_rotation_time must\
            \ also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation.\
            \ For other keys, this field must be omitted."
          format: google-duration
          title: rotationPeriod
          type: string
        versionTemplate:
          $ref: '#/components/schemas/GoogleCloudKmsV1CryptoKeyVersionTemplate'
      title: GoogleCloudKmsV1CryptoKey
      type: object
    GoogleCloudKmsV1CryptoKeyVersion:
      description: "A CryptoKeyVersion represents an individual cryptographic key,\
        \ and the associated key material. An ENABLED version can be used for cryptographic\
        \ operations. For security reasons, the raw cryptographic key material represented\
        \ by a CryptoKeyVersion can never be viewed or exported. It can only be used\
        \ to encrypt, decrypt, or sign data when an authorized user or application\
        \ invokes Cloud KMS."
      example:
        attestation:
          format: ATTESTATION_FORMAT_UNSPECIFIED
          certChains:
            googleCardCerts:
            - googleCardCerts
            - googleCardCerts
            caviumCerts:
            - caviumCerts
            - caviumCerts
            googlePartitionCerts:
            - googlePartitionCerts
            - googlePartitionCerts
          content: content
        externalProtectionLevelOptions:
          ekmConnectionKeyPath: ekmConnectionKeyPath
          externalKeyUri: externalKeyUri
        importJob: importJob
        generateTime: generateTime
        destroyTime: destroyTime
        generationFailureReason: generationFailureReason
        destroyEventTime: destroyEventTime
        importFailureReason: importFailureReason
        reimportEligible: true
        createTime: createTime
        name: name
        state: CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
        protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
        externalDestructionFailureReason: externalDestructionFailureReason
        importTime: importTime
        algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
      properties:
        algorithm:
          description: Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion
            supports.
          enum:
          - CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
          - GOOGLE_SYMMETRIC_ENCRYPTION
          - AES_128_GCM
          - AES_256_GCM
          - AES_128_CBC
          - AES_256_CBC
          - AES_128_CTR
          - AES_256_CTR
          - RSA_SIGN_PSS_2048_SHA256
          - RSA_SIGN_PSS_3072_SHA256
          - RSA_SIGN_PSS_4096_SHA256
          - RSA_SIGN_PSS_4096_SHA512
          - RSA_SIGN_PKCS1_2048_SHA256
          - RSA_SIGN_PKCS1_3072_SHA256
          - RSA_SIGN_PKCS1_4096_SHA256
          - RSA_SIGN_PKCS1_4096_SHA512
          - RSA_SIGN_RAW_PKCS1_2048
          - RSA_SIGN_RAW_PKCS1_3072
          - RSA_SIGN_RAW_PKCS1_4096
          - RSA_DECRYPT_OAEP_2048_SHA256
          - RSA_DECRYPT_OAEP_3072_SHA256
          - RSA_DECRYPT_OAEP_4096_SHA256
          - RSA_DECRYPT_OAEP_4096_SHA512
          - RSA_DECRYPT_OAEP_2048_SHA1
          - RSA_DECRYPT_OAEP_3072_SHA1
          - RSA_DECRYPT_OAEP_4096_SHA1
          - EC_SIGN_P256_SHA256
          - EC_SIGN_P384_SHA384
          - EC_SIGN_SECP256K1_SHA256
          - HMAC_SHA256
          - HMAC_SHA1
          - HMAC_SHA384
          - HMAC_SHA512
          - HMAC_SHA224
          - EXTERNAL_SYMMETRIC_ENCRYPTION
          readOnly: true
          title: algorithm
          type: string
        attestation:
          $ref: '#/components/schemas/GoogleCloudKmsV1KeyOperationAttestation'
        createTime:
          description: Output only. The time at which this CryptoKeyVersion was created.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        destroyEventTime:
          description: Output only. The time this CryptoKeyVersion's key material
            was destroyed. Only present if state is DESTROYED.
          format: google-datetime
          readOnly: true
          title: destroyEventTime
          type: string
        destroyTime:
          description: Output only. The time this CryptoKeyVersion's key material
            is scheduled for destruction. Only present if state is DESTROY_SCHEDULED.
          format: google-datetime
          readOnly: true
          title: destroyTime
          type: string
        externalDestructionFailureReason:
          description: Output only. The root cause of the most recent external destruction
            failure. Only present if state is EXTERNAL_DESTRUCTION_FAILED.
          readOnly: true
          title: externalDestructionFailureReason
          type: string
        externalProtectionLevelOptions:
          $ref: '#/components/schemas/GoogleCloudKmsV1ExternalProtectionLevelOptions'
        generateTime:
          description: Output only. The time this CryptoKeyVersion's key material
            was generated.
          format: google-datetime
          readOnly: true
          title: generateTime
          type: string
        generationFailureReason:
          description: Output only. The root cause of the most recent generation failure.
            Only present if state is GENERATION_FAILED.
          readOnly: true
          title: generationFailureReason
          type: string
        importFailureReason:
          description: Output only. The root cause of the most recent import failure.
            Only present if state is IMPORT_FAILED.
          readOnly: true
          title: importFailureReason
          type: string
        importJob:
          description: Output only. The name of the ImportJob used in the most recent
            import of this CryptoKeyVersion. Only present if the underlying key material
            was imported.
          readOnly: true
          title: importJob
          type: string
        importTime:
          description: Output only. The time at which this CryptoKeyVersion's key
            material was most recently imported.
          format: google-datetime
          readOnly: true
          title: importTime
          type: string
        name:
          description: Output only. The resource name for this CryptoKeyVersion in
            the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.
          readOnly: true
          title: name
          type: string
        protectionLevel:
          description: Output only. The ProtectionLevel describing how crypto operations
            are performed with this CryptoKeyVersion.
          enum:
          - PROTECTION_LEVEL_UNSPECIFIED
          - SOFTWARE
          - HSM
          - EXTERNAL
          - EXTERNAL_VPC
          readOnly: true
          title: protectionLevel
          type: string
        reimportEligible:
          description: "Output only. Whether or not this key version is eligible for\
            \ reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version."
          readOnly: true
          title: reimportEligible
          type: boolean
        state:
          description: The current state of the CryptoKeyVersion.
          enum:
          - CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
          - PENDING_GENERATION
          - ENABLED
          - DISABLED
          - DESTROYED
          - DESTROY_SCHEDULED
          - PENDING_IMPORT
          - IMPORT_FAILED
          - GENERATION_FAILED
          - PENDING_EXTERNAL_DESTRUCTION
          - EXTERNAL_DESTRUCTION_FAILED
          title: state
          type: string
      title: GoogleCloudKmsV1CryptoKeyVersion
      type: object
    GoogleCloudKmsV1CryptoKeyVersionTemplate:
      description: "A CryptoKeyVersionTemplate specifies the properties to use when\
        \ creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion\
        \ or automatically as a result of auto-rotation."
      example:
        protectionLevel: PROTECTION_LEVEL_UNSPECIFIED
        algorithm: CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
      properties:
        algorithm:
          description: "Required. Algorithm to use when creating a CryptoKeyVersion\
            \ based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION\
            \ is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT."
          enum:
          - CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
          - GOOGLE_SYMMETRIC_ENCRYPTION
          - AES_128_GCM
          - AES_256_GCM
          - AES_128_CBC
          - AES_256_CBC
          - AES_128_CTR
          - AES_256_CTR
          - RSA_SIGN_PSS_2048_SHA256
          - RSA_SIGN_PSS_3072_SHA256
          - RSA_SIGN_PSS_4096_SHA256
          - RSA_SIGN_PSS_4096_SHA512
          - RSA_SIGN_PKCS1_2048_SHA256
          - RSA_SIGN_PKCS1_3072_SHA256
          - RSA_SIGN_PKCS1_4096_SHA256
          - RSA_SIGN_PKCS1_4096_SHA512
          - RSA_SIGN_RAW_PKCS1_2048
          - RSA_SIGN_RAW_PKCS1_3072
          - RSA_SIGN_RAW_PKCS1_4096
          - RSA_DECRYPT_OAEP_2048_SHA256
          - RSA_DECRYPT_OAEP_3072_SHA256
          - RSA_DECRYPT_OAEP_4096_SHA256
          - RSA_DECRYPT_OAEP_4096_SHA512
          - RSA_DECRYPT_OAEP_2048_SHA1
          - RSA_DECRYPT_OAEP_3072_SHA1
          - RSA_DECRYPT_OAEP_4096_SHA1
          - EC_SIGN_P256_SHA256
          - EC_SIGN_P384_SHA384
          - EC_SIGN_SECP256K1_SHA256
          - HMAC_SHA256
          - HMAC_SHA1
          - HMAC_SHA384
          - HMAC_SHA512
          - HMAC_SHA224
          - EXTERNAL_SYMMETRIC_ENCRYPTION
          title: algorithm
          type: string
        protectionLevel:
          description: ProtectionLevel to use when creating a CryptoKeyVersion based
            on this template. Immutable. Defaults to SOFTWARE.
          enum:
          - PROTECTION_LEVEL_UNSPECIFIED
          - SOFTWARE
          - HSM
          - EXTERNAL
          - EXTERNAL_VPC
          title: protectionLevel
          type: string
      title: GoogleCloudKmsV1CryptoKeyVersionTemplate
      type: object
    GoogleCloudKmsV1ExternalProtectionLevelOptions:
      description: ExternalProtectionLevelOptions stores a group of additional fields
        for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection
        level and EXTERNAL_VPC protection levels.
      example:
        ekmConnectionKeyPath: ekmConnectionKeyPath
        externalKeyUri: externalKeyUri
      properties:
        ekmConnectionKeyPath:
          description: "The path to the external key material on the EKM when using\
            \ EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri\
            \ when using an EkmConnection."
          title: ekmConnectionKeyPath
          type: string
        externalKeyUri:
          description: The URI for an external resource that this CryptoKeyVersion
            represents.
          title: externalKeyUri
          type: string
      title: GoogleCloudKmsV1ExternalProtectionLevelOptions
      type: object
    GoogleCloudKmsV1KeyOperationAttestation:
      description: "Contains an HSM-generated attestation about a key operation. For\
        \ more information, see [Verifying attestations] (https://cloud.google.com/kms/docs/attest-key)."
      example:
        format: ATTESTATION_FORMAT_UNSPECIFIED
        certChains:
          googleCardCerts:
          - googleCardCerts
          - googleCardCerts
          caviumCerts:
          - caviumCerts
          - caviumCerts
          googlePartitionCerts:
          - googlePartitionCerts
          - googlePartitionCerts
        content: content
      properties:
        certChains:
          $ref: '#/components/schemas/GoogleCloudKmsV1KeyOperationAttestationCertificateChains'
        content:
          description: Output only. The attestation data provided by the HSM when
            the key operation was performed.
          format: byte
          readOnly: true
          title: content
          type: string
        format:
          description: Output only. The format of the attestation data.
          enum:
          - ATTESTATION_FORMAT_UNSPECIFIED
          - CAVIUM_V1_COMPRESSED
          - CAVIUM_V2_COMPRESSED
          readOnly: true
          title: format
          type: string
      title: GoogleCloudKmsV1KeyOperationAttestation
      type: object
    GoogleCloudKmsV1KeyOperationAttestationCertificateChains:
      description: Certificate chains needed to verify the attestation. Certificates
        in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2.
      example:
        googleCardCerts:
        - googleCardCerts
        - googleCardCerts
        caviumCerts:
        - caviumCerts
        - caviumCerts
        googlePartitionCerts:
        - googlePartitionCerts
        - googlePartitionCerts
      properties:
        caviumCerts:
          description: Cavium certificate chain corresponding to the attestation.
          items:
            type: string
          title: caviumCerts
          type: array
        googleCardCerts:
          description: Google card certificate chain corresponding to the attestation.
          items:
            type: string
          title: googleCardCerts
          type: array
        googlePartitionCerts:
          description: Google partition certificate chain corresponding to the attestation.
          items:
            type: string
          title: googlePartitionCerts
          type: array
      title: GoogleCloudKmsV1KeyOperationAttestationCertificateChains
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
