openapi: 3.0.1
info:
  contact: {}
  title: CompanyAPI
  version: "1.0"
  x-apisguru-categories:
  - customer_relation
  x-logo:
    url: https://twitter.com/roaring_io/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.roaring.io/store/api-docs/admin/CompanyAPI/1.0
    version: "2.0"
  x-providerName: roaring.io
servers:
- url: https://api.roaring.io/company/1.0
- url: http://api.roaring.io/company/1.0
paths:
  /company-board-members:
    get:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      - description: Company identification for the company
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyBoardMembersResult'
          description: "OK, successful response"
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "20"
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyLookupRequestBody'
        description: Request body with company identifiers to lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBoardMembersMulti'
          description: "OK, successfull response"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "20"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /company-credit-decision:
    get:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      - description: Company identification for the company
        in: query
        name: companyId
        required: true
        schema:
          type: string
      - description: Template for credit decision
        in: query
        name: template
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyCreditDecisionResult'
          description: "OK, successful response"
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "250"
      x-accepts:
      - '*/*'
  /company-economy-overview:
    get:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      - description: Company identification for the company
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyEconomyOverviewResult'
          description: "OK, successful response"
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "20"
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyLookupRequestBody'
        description: Request body with company identifiers to lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEconomyOverviewMulti'
          description: "OK, successfull response"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "20"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /company-event:
    post:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyEventRequestBody'
        description: Request body with company identifiers to lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEventResult'
          description: "OK, successfull response"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "5"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /company-overview:
    get:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      - description: Company identification for the company
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyOverviewResult'
          description: "OK, successfull response"
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "10"
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyLookupRequestBody'
        description: Request body with company identifiers to lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyOverviewMulti'
          description: "OK, successfull response"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "10"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /company-signatory:
    get:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      - description: Company identification for the company
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanySignatoryResult'
          description: "OK, successful response"
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "20"
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyLookupRequestBody'
        description: Request body with company identifiers to lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySignatoryMulti'
          description: "OK, successfull response"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: "Returned when something is wrong in the request, e.g. too\
            \ many entities are requested or arguments are missing"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Requested resource could not be found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: "An internal server error occurred, please contact the system\
            \ administrator with information on the error"
      x-auth-type: Application & Application User
      x-throttling-tier: "20"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /company-simple-search:
    get:
      parameters:
      - description: Country code for the company
        in: query
        name: countryCode
        required: true
        schema:
          type: string
      - description: Company name
        in: query
        name: companyName
        schema:
          type: string
      - description: Town
        in: query
        name: town
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
      x-auth-type: Application & Application User
      x-throttling-tier: "0"
      x-accepts:
      - application/json
components:
  schemas:
    BadRequest:
      description: "Returned when something is wrong in the request, e.g. too many\
        \ entities are requested or arguments are missing"
      example:
        error: BadRequest
        message: Required arguments are missing in the request
      properties:
        error:
          default: BadRequest
          type: string
        message:
          default: Required arguments are missing in the request
          type: string
      type: object
    CompanyBoardMembersMulti:
      example:
        companies:
        - companyId: companyId
          boardMembers:
          - fromDate: fromDate
            firstName: firstName
            surName: surName
            givenName: givenName
            roleCode: roleCode
            toDate: toDate
            boardMemberCompanyId: boardMemberCompanyId
            roleName: roleName
            fullName: fullName
            middleName: middleName
            personalNumber: personalNumber
          - fromDate: fromDate
            firstName: firstName
            surName: surName
            givenName: givenName
            roleCode: roleCode
            toDate: toDate
            boardMemberCompanyId: boardMemberCompanyId
            roleName: roleName
            fullName: fullName
            middleName: middleName
            personalNumber: personalNumber
          changeDate: changeDate
        - companyId: companyId
          boardMembers:
          - fromDate: fromDate
            firstName: firstName
            surName: surName
            givenName: givenName
            roleCode: roleCode
            toDate: toDate
            boardMemberCompanyId: boardMemberCompanyId
            roleName: roleName
            fullName: fullName
            middleName: middleName
            personalNumber: personalNumber
          - fromDate: fromDate
            firstName: firstName
            surName: surName
            givenName: givenName
            roleCode: roleCode
            toDate: toDate
            boardMemberCompanyId: boardMemberCompanyId
            roleName: roleName
            fullName: fullName
            middleName: middleName
            personalNumber: personalNumber
          changeDate: changeDate
        responseInfo:
          requestCount: 6
          hitCount: 0
          noMatchIds:
          - noMatchIds
          - noMatchIds
      properties:
        companies:
          items:
            $ref: '#/components/schemas/CompanyBoardMembersResult'
          type: array
        responseInfo:
          $ref: '#/components/schemas/ResponseInfo'
      type: object
    CompanyBoardMembersResult:
      description: Roaring Apps company board members lookup. list contains all possible
        fields returned
      example:
        companyId: companyId
        boardMembers:
        - fromDate: fromDate
          firstName: firstName
          surName: surName
          givenName: givenName
          roleCode: roleCode
          toDate: toDate
          boardMemberCompanyId: boardMemberCompanyId
          roleName: roleName
          fullName: fullName
          middleName: middleName
          personalNumber: personalNumber
        - fromDate: fromDate
          firstName: firstName
          surName: surName
          givenName: givenName
          roleCode: roleCode
          toDate: toDate
          boardMemberCompanyId: boardMemberCompanyId
          roleName: roleName
          fullName: fullName
          middleName: middleName
          personalNumber: personalNumber
        changeDate: changeDate
      properties:
        boardMembers:
          description: Array of board members for the requested company
          items:
            $ref: '#/components/schemas/CompanyBoardMembersResult_boardMembers_inner'
          type: array
        changeDate:
          description: ""
          type: string
        companyId:
          description: ""
          type: string
      type: object
    CompanyCreditDecisionResult:
      description: Roaring Apps company credit decision
      example:
        zipCode: zipCode
        companyId: companyId
        address: address
        rejections:
          rejectComment: rejectComment
          causeOfReject: causeOfReject
          rejectText: rejectText
        town: town
        statusText: statusText
        statusCode: statusCode
      properties:
        address:
          description: ""
          type: string
        companyId:
          description: Company identifier
          type: string
        rejections:
          $ref: '#/components/schemas/CompanyRejection'
        statusCode:
          description: ""
          type: string
        statusText:
          description: ""
          type: string
        town:
          description: ""
          type: string
        zipCode:
          description: ""
          type: string
      type: object
    CompanyEconomyOverviewMulti:
      example:
        companies:
        - bsTotalEquity: bsTotalEquity
          kpiQuickRatioPercent: kpiQuickRatioPercent
          nbrOfEmployees: nbrOfEmployees
          nbrOfEmployeesInterval: nbrOfEmployeesInterval
          kpiSolidityPercent: kpiSolidityPercent
          nbrOfEmployeesOfficeInterval: nbrOfEmployeesOfficeInterval
          netTurnover: netTurnover
          plOperatingProfit: plOperatingProfit
          bsShareCapital: bsShareCapital
          plNetIncome: plNetIncome
          companyId: companyId
          bsTotalAssets: bsTotalAssets
          kpiNetMarginPercent: kpiNetMarginPercent
          bsCashAndBankBalances: bsCashAndBankBalances
          changeDate: changeDate
          turnoverInterval: turnoverInterval
          plProfitLossAfterFinItems: plProfitLossAfterFinItems
          turnoverPerEmployee: turnoverPerEmployee
        - bsTotalEquity: bsTotalEquity
          kpiQuickRatioPercent: kpiQuickRatioPercent
          nbrOfEmployees: nbrOfEmployees
          nbrOfEmployeesInterval: nbrOfEmployeesInterval
          kpiSolidityPercent: kpiSolidityPercent
          nbrOfEmployeesOfficeInterval: nbrOfEmployeesOfficeInterval
          netTurnover: netTurnover
          plOperatingProfit: plOperatingProfit
          bsShareCapital: bsShareCapital
          plNetIncome: plNetIncome
          companyId: companyId
          bsTotalAssets: bsTotalAssets
          kpiNetMarginPercent: kpiNetMarginPercent
          bsCashAndBankBalances: bsCashAndBankBalances
          changeDate: changeDate
          turnoverInterval: turnoverInterval
          plProfitLossAfterFinItems: plProfitLossAfterFinItems
          turnoverPerEmployee: turnoverPerEmployee
        responseInfo:
          requestCount: 6
          hitCount: 0
          noMatchIds:
          - noMatchIds
          - noMatchIds
      properties:
        companies:
          items:
            $ref: '#/components/schemas/CompanyEconomyOverviewResult'
          type: array
        responseInfo:
          $ref: '#/components/schemas/ResponseInfo'
      type: object
    CompanyEconomyOverviewResult:
      description: Roaring Apps company economy overview in a lookup. list contains
        all possible fields returned
      example:
        bsTotalEquity: bsTotalEquity
        kpiQuickRatioPercent: kpiQuickRatioPercent
        nbrOfEmployees: nbrOfEmployees
        nbrOfEmployeesInterval: nbrOfEmployeesInterval
        kpiSolidityPercent: kpiSolidityPercent
        nbrOfEmployeesOfficeInterval: nbrOfEmployeesOfficeInterval
        netTurnover: netTurnover
        plOperatingProfit: plOperatingProfit
        bsShareCapital: bsShareCapital
        plNetIncome: plNetIncome
        companyId: companyId
        bsTotalAssets: bsTotalAssets
        kpiNetMarginPercent: kpiNetMarginPercent
        bsCashAndBankBalances: bsCashAndBankBalances
        changeDate: changeDate
        turnoverInterval: turnoverInterval
        plProfitLossAfterFinItems: plProfitLossAfterFinItems
        turnoverPerEmployee: turnoverPerEmployee
      properties:
        bsCashAndBankBalances:
          description: ""
          type: string
        bsShareCapital:
          description: ""
          type: string
        bsTotalAssets:
          description: ""
          type: string
        bsTotalEquity:
          description: ""
          type: string
        changeDate:
          description: ""
          type: string
        companyId:
          description: ""
          type: string
        kpiNetMarginPercent:
          description: ""
          type: string
        kpiQuickRatioPercent:
          description: ""
          type: string
        kpiSolidityPercent:
          description: ""
          type: string
        nbrOfEmployees:
          description: ""
          type: string
        nbrOfEmployeesInterval:
          description: ""
          type: string
        nbrOfEmployeesOfficeInterval:
          description: ""
          type: string
        netTurnover:
          description: ""
          type: string
        plNetIncome:
          description: ""
          type: string
        plOperatingProfit:
          description: ""
          type: string
        plProfitLossAfterFinItems:
          description: ""
          type: string
        turnoverInterval:
          description: ""
          type: string
        turnoverPerEmployee:
          description: ""
          type: string
      type: object
    CompanyEventRequestBody:
      example:
        requests:
        - date: date
          companyId: companyId
        - date: date
          companyId: companyId
      properties:
        requests:
          items:
            $ref: '#/components/schemas/CompanyEventRequestBody_requests_inner'
          type: array
      type: object
    CompanyEventResult:
      description: Roaring Apps company event lookup. list contains all possible fields
        returned
      example:
        responses:
        - companyId: companyId
          code: code
          changeDate: changeDate
          dataSet:
          - dataSet
          - dataSet
        - companyId: companyId
          code: code
          changeDate: changeDate
          dataSet:
          - dataSet
          - dataSet
      properties:
        responses:
          description: Array of events for the requested companies
          items:
            $ref: '#/components/schemas/CompanyEventResult_responses_inner'
          type: array
      type: object
    CompanyLookupRequestBody:
      example:
        companyIds:
        - companyIds
        - companyIds
      properties:
        companyIds:
          items:
            type: string
          type: array
      type: object
    CompanyOverviewMulti:
      example:
        companies:
        - industryText: industryText
          vepChangedDate: vepChangedDate
          coAddress: coAddress
          zipCode: zipCode
          severalCompanyName: true
          statusTextHigh: statusTextHigh
          vatReg: vatReg
          commune: commune
          companyName: companyName
          county: county
          visitStreetNumber: visitStreetNumber
          visitZipCode: visitZipCode
          industryCode: industryCode
          visitStreetUnit: visitStreetUnit
          changeDate: changeDate
          email: email
          visitStreet: visitStreet
          companyRegistrationDate: companyRegistrationDate
          address: address
          town: town
          statusDateFrom: statusDateFrom
          numberCompanyUnits: 0
          webAddress: webAddress
          visitCounty: visitCounty
          companyHolder: companyHolder
          employerContributionReg: employerContributionReg
          preliminaryTaxReg: preliminaryTaxReg
          statusTextDetailed: statusTextDetailed
          visitCommune: visitCommune
          topDirectorFunction: topDirectorFunction
          companyId: companyId
          phoneNumber: phoneNumber
          legalGroupCode: legalGroupCode
          numberEmployees: numberEmployees
          visitTown: visitTown
          faxNumber: faxNumber
          topDirectorName: topDirectorName
          legalGroupText: legalGroupText
          visitAddress: visitAddress
          statusCode: statusCode
        - industryText: industryText
          vepChangedDate: vepChangedDate
          coAddress: coAddress
          zipCode: zipCode
          severalCompanyName: true
          statusTextHigh: statusTextHigh
          vatReg: vatReg
          commune: commune
          companyName: companyName
          county: county
          visitStreetNumber: visitStreetNumber
          visitZipCode: visitZipCode
          industryCode: industryCode
          visitStreetUnit: visitStreetUnit
          changeDate: changeDate
          email: email
          visitStreet: visitStreet
          companyRegistrationDate: companyRegistrationDate
          address: address
          town: town
          statusDateFrom: statusDateFrom
          numberCompanyUnits: 0
          webAddress: webAddress
          visitCounty: visitCounty
          companyHolder: companyHolder
          employerContributionReg: employerContributionReg
          preliminaryTaxReg: preliminaryTaxReg
          statusTextDetailed: statusTextDetailed
          visitCommune: visitCommune
          topDirectorFunction: topDirectorFunction
          companyId: companyId
          phoneNumber: phoneNumber
          legalGroupCode: legalGroupCode
          numberEmployees: numberEmployees
          visitTown: visitTown
          faxNumber: faxNumber
          topDirectorName: topDirectorName
          legalGroupText: legalGroupText
          visitAddress: visitAddress
          statusCode: statusCode
        responseInfo:
          requestCount: 6
          hitCount: 0
          noMatchIds:
          - noMatchIds
          - noMatchIds
      properties:
        companies:
          items:
            $ref: '#/components/schemas/CompanyOverviewResult'
          type: array
        responseInfo:
          $ref: '#/components/schemas/ResponseInfo'
      type: object
    CompanyOverviewResult:
      description: Roaring Apps company overview in a lookup. list contains all possible
        fields returned by either of the api verb calls
      example:
        industryText: industryText
        vepChangedDate: vepChangedDate
        coAddress: coAddress
        zipCode: zipCode
        severalCompanyName: true
        statusTextHigh: statusTextHigh
        vatReg: vatReg
        commune: commune
        companyName: companyName
        county: county
        visitStreetNumber: visitStreetNumber
        visitZipCode: visitZipCode
        industryCode: industryCode
        visitStreetUnit: visitStreetUnit
        changeDate: changeDate
        email: email
        visitStreet: visitStreet
        companyRegistrationDate: companyRegistrationDate
        address: address
        town: town
        statusDateFrom: statusDateFrom
        numberCompanyUnits: 0
        webAddress: webAddress
        visitCounty: visitCounty
        companyHolder: companyHolder
        employerContributionReg: employerContributionReg
        preliminaryTaxReg: preliminaryTaxReg
        statusTextDetailed: statusTextDetailed
        visitCommune: visitCommune
        topDirectorFunction: topDirectorFunction
        companyId: companyId
        phoneNumber: phoneNumber
        legalGroupCode: legalGroupCode
        numberEmployees: numberEmployees
        visitTown: visitTown
        faxNumber: faxNumber
        topDirectorName: topDirectorName
        legalGroupText: legalGroupText
        visitAddress: visitAddress
        statusCode: statusCode
      properties:
        address:
          description: "Postal address, street/P.O BOX"
          type: string
        changeDate:
          description: 'Date for when the record was last changed '
          type: string
        coAddress:
          description: "Postal address, C/O address"
          type: string
        commune:
          description: "Postal address, commune name"
          type: string
        companyHolder:
          description: Name of company holder
          type: string
        companyId:
          description: Company identifier (company registration number / organization
            number)
          type: string
        companyName:
          description: Company name
          type: string
        companyRegistrationDate:
          description: Company registration date
          type: string
        county:
          description: "Postal address, county"
          type: string
        email:
          description: Email address
          type: string
        employerContributionReg:
          description: Company is registererd for employer contribution tax (Arb.avg
            Sweden)
          type: string
        faxNumber:
          description: Fax number
          type: string
        industryCode:
          description: "Company main industry, NACE code"
          type: string
        industryText:
          description: "Company main industry, NACE text"
          type: string
        legalGroupCode:
          description: Company type code
          type: string
        legalGroupText:
          description: Company type text
          type: string
        numberCompanyUnits:
          description: Number of company units/workplaces
          type: integer
        numberEmployees:
          description: Number of employees (pcs)
          type: string
        phoneNumber:
          description: Telephone number
          type: string
        preliminaryTaxReg:
          description: Company is approved for preliminary tax (F-skatt Sweden)
          type: string
        severalCompanyName:
          description: Indicates if the company have more than one active name
          type: boolean
        statusCode:
          description: Company status code
          type: string
        statusDateFrom:
          description: Company status date from
          type: string
        statusTextDetailed:
          description: Company status text detailed
          type: string
        statusTextHigh:
          description: Company status text
          type: string
        topDirectorFunction:
          description: Top director's function
          type: string
        topDirectorName:
          description: Top director's name
          type: string
        town:
          description: "Postal address, town"
          type: string
        vatReg:
          description: Company is registered for VAT (MOMS Sweden)
          type: string
        vepChangedDate:
          description: "Show the latest date any of preliminaryTaxReg, employerContributionReg\
            \ or vatReg has had a change"
          type: string
        visitAddress:
          description: "Visiting address, street name, street number and unit"
          type: string
        visitCommune:
          description: "Visiting address, commune"
          type: string
        visitCounty:
          description: "Visiting address, county"
          type: string
        visitStreet:
          description: "Visiting address, street"
          type: string
        visitStreetNumber:
          description: "Visiting address, number"
          type: string
        visitStreetUnit:
          description: "Visiting address, unit"
          type: string
        visitTown:
          description: "Visiting address, town"
          type: string
        visitZipCode:
          description: "Visiting address, zip code"
          type: string
        webAddress:
          description: Web address
          type: string
        zipCode:
          description: "Postal address, zipcode"
          type: string
      type: object
    CompanyRejection:
      description: Credit decision rejection
      example:
        rejectComment: rejectComment
        causeOfReject: causeOfReject
        rejectText: rejectText
      properties:
        causeOfReject:
          description: ""
          type: string
        rejectComment:
          description: ""
          type: string
        rejectText:
          description: ""
          type: string
      type: object
    CompanySignatoryMulti:
      example:
        companies:
        - companySignatory: companySignatory
          companyId: companyId
          changeDate: changeDate
        - companySignatory: companySignatory
          companyId: companyId
          changeDate: changeDate
        responseInfo:
          requestCount: 6
          hitCount: 0
          noMatchIds:
          - noMatchIds
          - noMatchIds
      properties:
        companies:
          items:
            $ref: '#/components/schemas/CompanySignatoryResult'
          type: array
        responseInfo:
          $ref: '#/components/schemas/ResponseInfo'
      type: object
    CompanySignatoryResult:
      description: Roaring Apps company signatory in a lookup. list contains all possible
        fields returned
      example:
        companySignatory: companySignatory
        companyId: companyId
        changeDate: changeDate
      properties:
        changeDate:
          description: date for when the result signatory was set
          type: string
        companyId:
          description: Company identifier
          type: string
        companySignatory:
          description: Signatory for the company
          type: string
      type: object
    NotFound:
      description: Requested resource could not be found
      example:
        error: NotFound
        message: Requested resource could not be found
      properties:
        error:
          default: NotFound
          type: string
        message:
          default: Requested resource could not be found
          type: string
      type: object
    ResponseInfo:
      example:
        requestCount: 6
        hitCount: 0
        noMatchIds:
        - noMatchIds
        - noMatchIds
      properties:
        hitCount:
          description: Number of companyIds in response (companyIds that could be
            found)
          type: integer
        noMatchIds:
          description: Array of companyIds that was in request but could not be matched
          items:
            type: string
          type: array
        requestCount:
          description: Number of requested companyIds
          type: integer
      type: object
    ServerError:
      description: Internal server error
      example:
        error: InternalServerError
        message: "An internal server error occurred, please contact the system administrator\
          \ with information on the error"
      properties:
        error:
          default: InternalServerError
          type: string
        message:
          default: "An internal server error occurred, please contact the system administrator\
            \ with information on the error"
          type: string
      type: object
    CompanyBoardMembersResult_boardMembers_inner:
      example:
        fromDate: fromDate
        firstName: firstName
        surName: surName
        givenName: givenName
        roleCode: roleCode
        toDate: toDate
        boardMemberCompanyId: boardMemberCompanyId
        roleName: roleName
        fullName: fullName
        middleName: middleName
        personalNumber: personalNumber
      properties:
        boardMemberCompanyId:
          description: ""
          type: string
        firstName:
          description: ""
          type: string
        fromDate:
          description: ""
          type: string
        fullName:
          description: ""
          type: string
        givenName:
          description: ""
          type: string
        middleName:
          description: ""
          type: string
        personalNumber:
          description: ""
          type: string
        roleCode:
          description: ""
          type: string
        roleName:
          description: ""
          type: string
        surName:
          description: ""
          type: string
        toDate:
          description: ""
          type: string
      type: object
    CompanyEventRequestBody_requests_inner:
      example:
        date: date
        companyId: companyId
      properties:
        companyId:
          description: Company identifier
          type: string
        date:
          description: Earliest date to fetch events for
          type: string
      type: object
    CompanyEventResult_responses_inner:
      example:
        companyId: companyId
        code: code
        changeDate: changeDate
        dataSet:
        - dataSet
        - dataSet
      properties:
        changeDate:
          description: Date for when the event occurred
          type: string
        code:
          description: Change code for the event
          type: string
        companyId:
          description: Company identifier
          type: string
        dataSet:
          description: List of all Roaring datasets affected by the event
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    default:
      flows:
        implicit:
          authorizationUrl: https://api.roaring.io/authorize
          scopes: {}
      type: oauth2
x-original-swagger-version: "2.0"

