openapi: 3.0.3
info:
  contact:
    email: info@mineskin.org
    name: inventivetalent
    url: https://discord.gg/nzAdvPc
  description: "Client implementations: \nJava: https://github.com/InventivetalentDev/MineskinClient\n\
    NodeJS: https://github.com/InventivetalentDev/mineskin-client\n\nExamples: https://github.com/MineSkin/examples\n"
  license:
    name: MIT
    url: https://github.com/MineSkin/api.mineskin.org/blob/master/LICENSE
  title: MineSkin API
  version: 1.0.0
  x-logo:
    url: https://mineskin.org/img/mineskin-x256.png
  x-origin:
  - format: openapi
    url: https://api.mineskin.org/openapi.yml
    version: "3.0"
  x-providerName: mineskin.org
servers:
- url: https://api.mineskin.org
tags:
- name: generate
- name: get
- name: util
paths:
  /generate/upload:
    post:
      parameters:
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_generate_upload_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_200_response'
          description: Successfully generated skin info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_400_response'
          description: Response if an error occured
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_429_response'
          description: Response if the client sent a request too soon
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_400_response'
          description: Response if an error occured
      security:
      - apiKey: []
        bearerAuth: []
      tags:
      - generate
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /generate/url:
    post:
      parameters:
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_generate_url_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_200_response'
          description: Successfully generated skin info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_400_response'
          description: Response if an error occured
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_429_response'
          description: Response if the client sent a request too soon
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_400_response'
          description: Response if an error occured
      security:
      - apiKey: []
        bearerAuth: []
      tags:
      - generate
      x-content-type: application/json
      x-accepts:
      - application/json
  /generate/user:
    post:
      parameters:
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_generate_user_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_200_response'
          description: Successfully generated skin info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_400_response'
          description: Response if an error occured
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_429_response'
          description: Response if the client sent a request too soon
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_generate_upload_post_400_response'
          description: Response if an error occured
      security:
      - apiKey: []
        bearerAuth: []
      tags:
      - generate
      x-content-type: application/json
      x-accepts:
      - application/json
  /get/delay:
    get:
      parameters:
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_get_delay_get_200_response'
          description: Delay info for the requesting client
      security:
      - apiKey: []
        bearerAuth: []
      tags:
      - get
      x-accepts:
      - application/json
  /get/id/{id}:
    get:
      description: Deprecated. Use /get/uuid instead.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: integer
          type: number
        style: simple
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkinInfo'
          description: Skin Info
      tags:
      - get
      x-accepts:
      - application/json
  /get/list/{page}:
    get:
      parameters:
      - description: "For reference pagination, the uuid of the last skin in the previous\
          \ page. For numeric pagination (deprecated), the page number or 'start'."
        explode: false
        in: path
        name: page
        required: true
        schema:
          format: integer
          type: number
        style: simple
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_get_list__page__get_200_response'
          description: Skin Info List
      tags:
      - get
      x-accepts:
      - application/json
  /get/uuid/{uuid}:
    get:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkinInfo'
          description: Skin Info
      tags:
      - get
      x-accepts:
      - application/json
  /validate/name/{name}:
    get:
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserValidation'
          description: Validation info about the requested user
      tags:
      - util
      x-accepts:
      - application/json
  /validate/uuid/{uuid}:
    get:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
          \ for implementation examples"
        example: ExampleApp/v1.0
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserValidation'
          description: Validation info about the requested user
      tags:
      - util
      x-accepts:
      - application/json
components:
  parameters:
    userAgent:
      description: "Custom User-Agent for your application, see [user-agent.dev](https://user-agent.dev/)\
        \ for implementation examples"
      example: ExampleApp/v1.0
      explode: false
      in: header
      name: User-Agent
      required: true
      schema:
        type: string
      style: simple
  responses:
    DelayInfo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_get_delay_get_200_response'
      description: Delay info for the requesting client
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_generate_upload_post_400_response'
      description: Response if an error occured
    GeneratedSkin:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_generate_upload_post_200_response'
      description: Successfully generated skin info
    RateLimitResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_generate_upload_post_429_response'
      description: Response if the client sent a request too soon
  schemas:
    GenerateOptions:
      properties:
        model:
          default: steve
          deprecated: true
          enum:
          - steve
          - slim
          type: string
        name:
          maxLength: 20
          type: string
        variant:
          description: Skin variant - automatically determined based on the image
            if not specified
          enum:
          - classic
          - slim
          type: string
        visibility:
          default: 0
          description: "Visibility of the generated skin. 0 for public, 1 for private"
          enum:
          - 0
          - 1
          type: integer
      type: object
    PartialSkinInfo:
      example:
        name: name
        id: 5
        time: 5
        url: url
      properties:
        id:
          type: integer
        name:
          type: string
        time:
          type: integer
        url:
          type: string
      required:
      - id
      - name
      - time
      - url
      type: object
    SkinData:
      example:
        texture:
          signature: signature
          value: value
          url: url
        uuid: uuid
      properties:
        texture:
          $ref: '#/components/schemas/TextureInfo'
        uuid:
          type: string
      type: object
    SkinInfo:
      example:
        idStr: idStr
        server: server
        private: true
        data:
          texture:
            signature: signature
            value: value
            url: url
          uuid: uuid
        uuid: uuid
        duration: 1.4658129805029452
        accountId: 6
        name: name
        variant: classic
        model: slim
        id: 5
        account: 0
        views: 2.3021358869347655
        timestamp: 5.637376656633329
      properties:
        account:
          type: integer
        accountId:
          deprecated: true
          type: integer
        data:
          $ref: '#/components/schemas/SkinData'
        duration:
          type: number
        id:
          type: integer
        idStr:
          type: string
        model:
          deprecated: true
          enum:
          - slim
          - steve
          - unknown
          type: string
        name:
          type: string
        private:
          type: boolean
        server:
          type: string
        timestamp:
          type: number
        uuid:
          type: string
        variant:
          enum:
          - classic
          - slim
          type: string
        views:
          type: number
      required:
      - data
      - id
      - model
      type: object
    Stats:
      properties:
        delay:
          type: number
        server:
          type: string
      type: object
    TextureInfo:
      example:
        signature: signature
        value: value
        url: url
      properties:
        signature:
          type: string
        url:
          type: string
        value:
          type: string
      type: object
    UserValidation:
      example:
        valid: true
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
        valid:
          type: boolean
      required:
      - valid
      type: object
    _generate_upload_post_request:
      allOf:
      - $ref: '#/components/schemas/GenerateOptions'
      - properties:
          file:
            format: binary
            type: string
    _generate_upload_post_200_response:
      allOf:
      - $ref: '#/components/schemas/SkinInfo'
      - properties:
          duplicate:
            type: boolean
          nextRequest:
            type: integer
      example:
        idStr: idStr
        server: server
        private: true
        data:
          texture:
            signature: signature
            value: value
            url: url
          uuid: uuid
        duplicate: true
        uuid: uuid
        duration: 1.4658129805029452
        accountId: 6
        name: name
        variant: classic
        model: slim
        id: 5
        account: 0
        views: 2.3021358869347655
        nextRequest: 7
        timestamp: 5.637376656633329
    _generate_upload_post_400_response:
      example:
        errorCode: errorCode
        error: error
      properties:
        error:
          description: Error message
          type: string
        errorCode:
          description: "Consistent error code, see [AuthError](https://github.com/MineSkin/api.mineskin.org/blob/793a926cbe4b90887ed8164c9eccfcb542fdeadb/src/generator/Authentication.ts#L580)\
            \ & [GenError](https://github.com/MineSkin/api.mineskin.org/blob/47a5f51dc664e0f730b0073f70b2fc295e14ca3b/src/generator/Generator.ts#L1093)"
          type: string
      required:
      - error
    _generate_upload_post_429_response:
      example:
        delay: 9
        error: error
        nextRequest: 3
      properties:
        delay:
          description: The API's current delay in seconds
          type: integer
        error:
          description: Error message
          type: string
        nextRequest:
          description: Unix timestamp when the next request is allowed
          type: integer
      required:
      - error
    _generate_url_post_request:
      allOf:
      - $ref: '#/components/schemas/GenerateOptions'
      - properties:
          url:
            type: string
    _generate_user_post_request:
      allOf:
      - $ref: '#/components/schemas/GenerateOptions'
      - properties:
          uuid:
            maxLength: 36
            minLength: 32
            type: string
    _get_delay_get_200_response:
      example:
        next: 6
        nextRelative: 1
        delay: 0
      properties:
        delay:
          type: integer
        next:
          type: integer
        nextRelative:
          type: integer
    _get_list__page__get_200_response_page:
      example:
        amount: 0
        total: 1
        index: 6
      properties:
        amount:
          type: integer
        index:
          type: integer
        total:
          type: integer
      type: object
    _get_list__page__get_200_response:
      example:
        filter: filter
        skins:
        - name: name
          id: 5
          time: 5
          url: url
        - name: name
          id: 5
          time: 5
          url: url
        page:
          amount: 0
          total: 1
          index: 6
      properties:
        filter:
          type: string
        page:
          $ref: '#/components/schemas/_get_list__page__get_200_response_page'
        skins:
          items:
            $ref: '#/components/schemas/PartialSkinInfo'
          type: array
      required:
      - page
      - skins
  securitySchemes:
    apiKey:
      description: Get your key from https://mineskin.org/apikey
      in: query
      name: key
      type: apiKey
    bearerAuth:
      description: Get your key from https://mineskin.org/apikey
      scheme: bearer
      type: http

