openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/azureFirewall.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-azureFirewall
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewalls:
    get:
      description: Gets all the Azure Firewalls in a subscription.
      operationId: azure_firewalls_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewallListResult'
          description: Success. The operation returns a list of AzureFirewall resources.
      tags:
      - AzureFirewalls
      x-ms-examples:
        List all Azure Firewalls for a given subscription:
          parameters:
            api-version: 2018-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  location: West US
                  name: azurefirewall
                  properties:
                    applicationRuleCollections:
                    - name: apprulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 110
                        rules:
                        - description: Deny inbound rule
                          name: rule1
                          protocols:
                          - port: 443
                            protocolType: Https
                          sourceAddresses:
                          - 216.58.216.164
                          - 10.0.0.0/24
                          targetUrls:
                          - www.test.com
                    ipConfigurations:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                      name: azureFirewallIpConfiguration
                      properties:
                        privateIPAddress: 10.0.0.0
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                    networkRuleCollections:
                    - name: netrulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 112
                        rules:
                        - description: D-NAT all outbound web traffic for inspection
                          destinationAddresses:
                          - '*'
                          destinationPorts:
                          - 443-444
                          - "8443"
                          name: D-NAT-web-traffic
                          protocols:
                          - TCP
                          - ICMP
                          sourceAddresses:
                          - 192.168.1.1-192.168.1.12
                          - 10.1.4.12-10.1.4.255
                    provisioningState: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.Network/azureFirewalls
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls:
    get:
      description: Lists all Azure Firewalls in a resource group.
      operationId: azure_firewalls_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewallListResult'
          description: Success. The operation returns a list of AzureFirewall resources.
      tags:
      - AzureFirewalls
      x-ms-examples:
        List all Azure Firewalls for a given resource group:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  location: West US
                  name: azurefirewall
                  properties:
                    applicationRuleCollections:
                    - name: apprulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 110
                        rules:
                        - description: Deny inbound rule
                          name: rule1
                          protocols:
                          - port: 443
                            protocolType: Https
                          sourceAddresses:
                          - 216.58.216.164
                          - 10.0.0.0/24
                          targetUrls:
                          - www.test.com
                    ipConfigurations:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                      name: azureFirewallIpConfiguration
                      properties:
                        privateIPAddress: 10.0.0.0
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                    networkRuleCollections:
                    - name: netrulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 112
                        rules:
                        - description: D-NAT all outbound web traffic for inspection
                          destinationAddresses:
                          - '*'
                          destinationPorts:
                          - 443-444
                          - "8443"
                          name: D-NAT-web-traffic
                          protocols:
                          - TCP
                          - ICMP
                          sourceAddresses:
                          - 192.168.1.1-192.168.1.12
                          - 10.1.4.12-10.1.4.255
                    provisioningState: Succeeded
                  tags:
                    key1: value1
                  type: Microsoft.Network/azureFirewalls
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}
  : delete:
      description: Deletes the specified Azure Firewall.
      operationId: azure_firewalls_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist
      tags:
      - AzureFirewalls
      x-ms-examples:
        Delete Azure Firewall:
          parameters:
            api-version: 2018-04-01
            azureFirewallName: azurefirewall
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
    get:
      description: Gets the specified Azure Firewall.
      operationId: azure_firewalls_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Request successful. The operation returns a AzureFirewall resource.
      tags:
      - AzureFirewalls
      x-ms-examples:
        Get Azure Firewall:
          parameters:
            api-version: 2018-04-01
            azureFirewallName: azurefirewall
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetUrls:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: D-NAT-web-traffic
                        protocols:
                        - TCP
                        - ICMP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
    put:
      description: Creates or updates the specified Azure Firewall.
      operationId: azure_firewalls_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureFirewall'
        description: Parameters supplied to the create or update Azure Firewall operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Update successful. The operation returns the resulting AzureFirewall
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Create successful. The operation returns the resulting AzureFirewall
            resource.
      tags:
      - AzureFirewalls
      x-ms-examples:
        Create Azure Firewall:
          parameters:
            api-version: 2018-04-01
            azureFirewallName: azurefirewall
            parameters:
              properties:
                applicationRuleCollections:
                - name: apprulecoll
                  properties:
                    action:
                      type: Deny
                    priority: 110
                    rules:
                    - description: Deny inbound rule
                      name: rule1
                      protocols:
                      - port: 443
                        protocolType: Https
                      sourceAddresses:
                      - 216.58.216.164
                      - 10.0.0.0/24
                      targetUrls:
                      - www.test.com
                ipConfigurations:
                - name: azureFirewallIpConfiguration
                  properties:
                    internalPublicIpAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                networkRuleCollections:
                - name: netrulecoll
                  properties:
                    action:
                      type: Deny
                    priority: 112
                    rules:
                    - description: D-NAT all outbound web traffic for inspection
                      destinationAddresses:
                      - '*'
                      destinationPorts:
                      - 443-444
                      - "8443"
                      name: D-NAT-web-traffic
                      protocols:
                      - TCP
                      - ICMP
                      sourceAddresses:
                      - 192.168.1.1-192.168.1.12
                      - 10.1.4.12-10.1.4.255
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetUrls:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: D-NAT-web-traffic
                        protocols:
                        - TCP
                        - ICMP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetUrls:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: D-NAT-web-traffic
                        protocols:
                        - TCP
                        - ICMP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
components:
  schemas:
    AzureFirewall:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Azure Firewall resource
      example:
        etag: etag
        properties:
          ipConfigurations:
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAddress: privateIPAddress
              internalPublicIpAddress:
                id: id
              provisioningState: null
              publicIPAddress:
                id: id
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAddress: privateIPAddress
              internalPublicIpAddress:
                id: id
              provisioningState: null
              publicIPAddress:
                id: id
          networkRuleCollections:
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - TCP
                - TCP
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - TCP
                - TCP
              provisioningState: null
              priority: 9613
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - TCP
                - TCP
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - TCP
                - TCP
              provisioningState: null
              priority: 9613
          applicationRuleCollections:
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetUrls:
                - targetUrls
                - targetUrls
                name: name
                description: description
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetUrls:
                - targetUrls
                - targetUrls
                name: name
                description: description
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              provisioningState: Succeeded
              priority: 5297
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetUrls:
                - targetUrls
                - targetUrls
                name: name
                description: description
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetUrls:
                - targetUrls
                - targetUrls
                name: name
                description: description
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              provisioningState: Succeeded
              priority: 5297
          provisioningState: null
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallPropertiesFormat'
      title: AzureFirewall
    AzureFirewallApplicationRule:
      description: Properties of an application rule.
      example:
        sourceAddresses:
        - sourceAddresses
        - sourceAddresses
        targetUrls:
        - targetUrls
        - targetUrls
        name: name
        description: description
        protocols:
        - port: 38575
          protocolType: Http
        - port: 38575
          protocolType: Http
      properties:
        description:
          description: Description of the rule.
          title: description
          type: string
        name:
          description: Name of the application rule.
          title: name
          type: string
        protocols:
          description: Array of ApplicationRuleProtocols.
          items:
            $ref: '#/components/schemas/AzureFirewallApplicationRuleProtocol'
          title: protocols
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          title: sourceAddresses
          type: array
        targetUrls:
          description: List of URLs for this rule.
          items:
            type: string
          title: targetUrls
          type: array
      title: AzureFirewallApplicationRule
      type: object
    AzureFirewallApplicationRuleCollection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Application rule collection resource
      example:
        name: name
        etag: etag
        properties:
          action:
            type: Allow
          rules:
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            targetUrls:
            - targetUrls
            - targetUrls
            name: name
            description: description
            protocols:
            - port: 38575
              protocolType: Http
            - port: 38575
              protocolType: Http
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            targetUrls:
            - targetUrls
            - targetUrls
            name: name
            description: description
            protocols:
            - port: 38575
              protocolType: Http
            - port: 38575
              protocolType: Http
          provisioningState: Succeeded
          priority: 5297
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallApplicationRuleCollectionPropertiesFormat'
      title: AzureFirewallApplicationRuleCollection
    AzureFirewallApplicationRuleCollectionPropertiesFormat:
      description: Properties of the application rule collection.
      example:
        action:
          type: Allow
        rules:
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          targetUrls:
          - targetUrls
          - targetUrls
          name: name
          description: description
          protocols:
          - port: 38575
            protocolType: Http
          - port: 38575
            protocolType: Http
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          targetUrls:
          - targetUrls
          - targetUrls
          name: name
          description: description
          protocols:
          - port: 38575
            protocolType: Http
          - port: 38575
            protocolType: Http
        provisioningState: Succeeded
        priority: 5297
      properties:
        action:
          $ref: '#/components/schemas/AzureFirewallRCAction'
        priority:
          description: Priority of the application rule collection resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        rules:
          description: Collection of rules used by a application rule collection.
          items:
            $ref: '#/components/schemas/AzureFirewallApplicationRule'
          title: rules
          type: array
      title: AzureFirewallApplicationRuleCollectionPropertiesFormat
      type: object
    AzureFirewallApplicationRuleProtocol:
      description: Properties of the application rule protocol.
      example:
        port: 38575
        protocolType: Http
      properties:
        port:
          description: "Port number for the protocol, cannot be greater than 64000.\
            \ This field is optional."
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 64000
          minimum: 0
          title: port
          type: integer
        protocolType:
          $ref: '#/components/schemas/AzureFirewallApplicationRuleProtocolType'
      title: AzureFirewallApplicationRuleProtocol
      type: object
    AzureFirewallApplicationRuleProtocolType:
      description: The protocol type of a Application Rule resource
      enum:
      - Http
      - Https
      title: AzureFirewallApplicationRuleProtocolType
      type: string
      x-ms-enum:
        modelAsString: true
        name: AzureFirewallApplicationRuleProtocolType
    AzureFirewallIPConfiguration:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: IP configuration of an Azure Firewall.
      example:
        name: name
        etag: etag
        properties:
          subnet:
            id: id
          privateIPAddress: privateIPAddress
          internalPublicIpAddress:
            id: id
          provisioningState: null
          publicIPAddress:
            id: id
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: Name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat'
      title: AzureFirewallIPConfiguration
    AzureFirewallIPConfigurationPropertiesFormat:
      description: Properties of IP configuration of an Azure Firewall.
      example:
        subnet:
          id: id
        privateIPAddress: privateIPAddress
        internalPublicIpAddress:
          id: id
        provisioningState: null
        publicIPAddress:
          id: id
      properties:
        internalPublicIpAddress:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat_internalPublicIpAddress'
        privateIPAddress:
          description: The Firewall Internal Load Balancer IP to be used as the next
            hop in User Defined Routes.
          title: privateIPAddress
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        publicIPAddress:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat_internalPublicIpAddress'
        subnet:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat_internalPublicIpAddress'
      title: AzureFirewallIPConfigurationPropertiesFormat
      type: object
    AzureFirewallListResult:
      description: Response for ListAzureFirewalls API service call.
      example:
        value:
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                internalPublicIpAddress:
                  id: id
                provisioningState: null
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                internalPublicIpAddress:
                  id: id
                provisioningState: null
                publicIPAddress:
                  id: id
            networkRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                provisioningState: null
                priority: 9613
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                provisioningState: null
                priority: 9613
            applicationRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            provisioningState: null
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                internalPublicIpAddress:
                  id: id
                provisioningState: null
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                internalPublicIpAddress:
                  id: id
                provisioningState: null
                publicIPAddress:
                  id: id
            networkRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                provisioningState: null
                priority: 9613
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - TCP
                  - TCP
                provisioningState: null
                priority: 9613
            applicationRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetUrls:
                  - targetUrls
                  - targetUrls
                  name: name
                  description: description
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            provisioningState: null
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of a Azure Firewalls in a resource group.
          items:
            $ref: '#/components/schemas/AzureFirewall'
          title: value
          type: array
      title: AzureFirewallListResult
      type: object
    AzureFirewallNetworkRule:
      description: Properties of the network rule.
      example:
        sourceAddresses:
        - sourceAddresses
        - sourceAddresses
        destinationPorts:
        - destinationPorts
        - destinationPorts
        name: name
        description: description
        destinationAddresses:
        - destinationAddresses
        - destinationAddresses
        protocols:
        - TCP
        - TCP
      properties:
        description:
          description: Description of the rule.
          title: description
          type: string
        destinationAddresses:
          description: List of destination IP addresses.
          items:
            type: string
          title: destinationAddresses
          type: array
        destinationPorts:
          description: List of destination ports.
          items:
            type: string
          title: destinationPorts
          type: array
        name:
          description: Name of the network rule.
          title: name
          type: string
        protocols:
          description: Array of AzureFirewallNetworkRuleProtocols.
          items:
            $ref: '#/components/schemas/AzureFirewallNetworkRuleProtocol'
          title: protocols
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          title: sourceAddresses
          type: array
      title: AzureFirewallNetworkRule
      type: object
    AzureFirewallNetworkRuleCollection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Network rule collection resource
      example:
        name: name
        etag: etag
        properties:
          action:
            type: Allow
          rules:
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            destinationPorts:
            - destinationPorts
            - destinationPorts
            name: name
            description: description
            destinationAddresses:
            - destinationAddresses
            - destinationAddresses
            protocols:
            - TCP
            - TCP
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            destinationPorts:
            - destinationPorts
            - destinationPorts
            name: name
            description: description
            destinationAddresses:
            - destinationAddresses
            - destinationAddresses
            protocols:
            - TCP
            - TCP
          provisioningState: null
          priority: 9613
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallNetworkRuleCollectionPropertiesFormat'
      title: AzureFirewallNetworkRuleCollection
    AzureFirewallNetworkRuleCollectionPropertiesFormat:
      description: Properties of the network rule collection.
      example:
        action:
          type: Allow
        rules:
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          destinationPorts:
          - destinationPorts
          - destinationPorts
          name: name
          description: description
          destinationAddresses:
          - destinationAddresses
          - destinationAddresses
          protocols:
          - TCP
          - TCP
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          destinationPorts:
          - destinationPorts
          - destinationPorts
          name: name
          description: description
          destinationAddresses:
          - destinationAddresses
          - destinationAddresses
          protocols:
          - TCP
          - TCP
        provisioningState: null
        priority: 9613
      properties:
        action:
          $ref: '#/components/schemas/AzureFirewallRCAction'
        priority:
          description: Priority of the network rule collection resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        rules:
          description: Collection of rules used by a network rule collection.
          items:
            $ref: '#/components/schemas/AzureFirewallNetworkRule'
          title: rules
          type: array
      title: AzureFirewallNetworkRuleCollectionPropertiesFormat
      type: object
    AzureFirewallNetworkRuleProtocol:
      description: The protocol of a Network Rule resource
      enum:
      - TCP
      - UDP
      - Any
      - ICMP
      title: AzureFirewallNetworkRuleProtocol
      type: string
      x-ms-enum:
        modelAsString: true
        name: AzureFirewallNetworkRuleProtocol
    AzureFirewallPropertiesFormat:
      description: Properties of the Azure Firewall.
      example:
        ipConfigurations:
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAddress: privateIPAddress
            internalPublicIpAddress:
              id: id
            provisioningState: null
            publicIPAddress:
              id: id
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAddress: privateIPAddress
            internalPublicIpAddress:
              id: id
            provisioningState: null
            publicIPAddress:
              id: id
        networkRuleCollections:
        - name: name
          etag: etag
          properties:
            action:
              type: Allow
            rules:
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              destinationPorts:
              - destinationPorts
              - destinationPorts
              name: name
              description: description
              destinationAddresses:
              - destinationAddresses
              - destinationAddresses
              protocols:
              - TCP
              - TCP
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              destinationPorts:
              - destinationPorts
              - destinationPorts
              name: name
              description: description
              destinationAddresses:
              - destinationAddresses
              - destinationAddresses
              protocols:
              - TCP
              - TCP
            provisioningState: null
            priority: 9613
        - name: name
          etag: etag
          properties:
            action:
              type: Allow
            rules:
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              destinationPorts:
              - destinationPorts
              - destinationPorts
              name: name
              description: description
              destinationAddresses:
              - destinationAddresses
              - destinationAddresses
              protocols:
              - TCP
              - TCP
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              destinationPorts:
              - destinationPorts
              - destinationPorts
              name: name
              description: description
              destinationAddresses:
              - destinationAddresses
              - destinationAddresses
              protocols:
              - TCP
              - TCP
            provisioningState: null
            priority: 9613
        applicationRuleCollections:
        - name: name
          etag: etag
          properties:
            action:
              type: Allow
            rules:
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              targetUrls:
              - targetUrls
              - targetUrls
              name: name
              description: description
              protocols:
              - port: 38575
                protocolType: Http
              - port: 38575
                protocolType: Http
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              targetUrls:
              - targetUrls
              - targetUrls
              name: name
              description: description
              protocols:
              - port: 38575
                protocolType: Http
              - port: 38575
                protocolType: Http
            provisioningState: Succeeded
            priority: 5297
        - name: name
          etag: etag
          properties:
            action:
              type: Allow
            rules:
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              targetUrls:
              - targetUrls
              - targetUrls
              name: name
              description: description
              protocols:
              - port: 38575
                protocolType: Http
              - port: 38575
                protocolType: Http
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              targetUrls:
              - targetUrls
              - targetUrls
              name: name
              description: description
              protocols:
              - port: 38575
                protocolType: Http
              - port: 38575
                protocolType: Http
            provisioningState: Succeeded
            priority: 5297
        provisioningState: null
      properties:
        applicationRuleCollections:
          description: Collection of application rule collections used by a Azure
            Firewall.
          items:
            $ref: '#/components/schemas/AzureFirewallApplicationRuleCollection'
          title: applicationRuleCollections
          type: array
        ipConfigurations:
          description: IP configuration of the Azure Firewall resource.
          items:
            $ref: '#/components/schemas/AzureFirewallIPConfiguration'
          title: ipConfigurations
          type: array
        networkRuleCollections:
          description: Collection of network rule collections used by a Azure Firewall.
          items:
            $ref: '#/components/schemas/AzureFirewallNetworkRuleCollection'
          title: networkRuleCollections
          type: array
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
      title: AzureFirewallPropertiesFormat
      type: object
    AzureFirewallRCAction:
      description: Properties of the AzureFirewallRCAction.
      example:
        type: Allow
      properties:
        type:
          $ref: '#/components/schemas/AzureFirewallRCActionType'
      title: AzureFirewallRCAction
      type: object
    AzureFirewallRCActionType:
      description: The action type of a rule collection
      enum:
      - Allow
      - Deny
      title: AzureFirewallRCActionType
      type: string
      x-ms-enum:
        modelAsString: true
        name: AzureFirewallRCActionType
    ProvisioningState:
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      title: ProvisioningState
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    AzureFirewallIPConfigurationPropertiesFormat_internalPublicIpAddress:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: AzureFirewallIPConfigurationPropertiesFormat_internalPublicIpAddress
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
