openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
  description: Accesses Android application developers' Google Play accounts.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Developer
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://www.gstatic.com/android/market_images/web/play_logo_x2.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/androidpublisher/v1/rest
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: https://developers.google.com/android-publisher
servers:
- url: https://www.googleapis.com/androidpublisher/v1/applications
tags:
- name: purchases
paths:
  /{packageName}/subscriptions/{subscriptionId}/purchases/{token}:
    get:
      description: Checks whether a user's subscription purchase is valid and returns
        its expiry time.
      operationId: androidpublisher_purchases_get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "The package name of the application for which this subscription\
          \ was purchased (for example, 'com.some.thing')."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: "The purchased subscription ID (for example, 'monthly001')."
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: The token provided to the user's device when the subscription
          was purchased.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionPurchase'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
  /{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel:
    post:
      description: Cancels a user's subscription purchase. The subscription remains
        valid until its expiration time.
      operationId: androidpublisher_purchases_cancel
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "The package name of the application for which this subscription\
          \ was purchased (for example, 'com.some.thing')."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: "The purchased subscription ID (for example, 'monthly001')."
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: The token provided to the user's device when the subscription
          was purchased.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
components:
  parameters:
    alt:
      description: Data format for the response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        default: json
        enum:
        - json
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        default: true
        type: boolean
      style: form
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    userIp:
      description: Deprecated. Please use quotaUser instead.
      explode: true
      in: query
      name: userIp
      required: false
      schema:
        type: string
      style: form
  schemas:
    SubscriptionPurchase:
      description: A SubscriptionPurchase resource indicates the status of a user's
        subscription purchase.
      example:
        validUntilTimestampMsec: validUntilTimestampMsec
        initiationTimestampMsec: initiationTimestampMsec
        kind: androidpublisher#subscriptionPurchase
        autoRenewing: true
      properties:
        autoRenewing:
          description: Whether the subscription will automatically be renewed when
            it reaches its current expiry time.
          title: autoRenewing
          type: boolean
        initiationTimestampMsec:
          description: "Time at which the subscription was granted, in milliseconds\
            \ since the Epoch."
          format: int64
          title: initiationTimestampMsec
          type: string
        kind:
          default: androidpublisher#subscriptionPurchase
          description: This kind represents a subscriptionPurchase object in the androidpublisher
            service.
          title: kind
          type: string
        validUntilTimestampMsec:
          description: "Time at which the subscription will expire, in milliseconds\
            \ since the Epoch."
          format: int64
          title: validUntilTimestampMsec
          type: string
      title: SubscriptionPurchase
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/androidpublisher: View and manage your
              Google Play Developer account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/androidpublisher: View and manage your
              Google Play Developer account
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
