openapi: 3.0.1
info:
  description: "To manage and control access to your resources, you can define customized\
    \ policies and assign them at a scope."
  title: PolicyClient
  version: 2017-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/preview/2017-06-01-preview/policyAssignments.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-policyAssignments
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyAssignments:
    get:
      description: Gets all the policy assignments for a subscription.
      operationId: policy_assignments_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicyAssignments
      x-ms-examples:
        List policy assignments:
          parameters:
            $filter: atScope()
            api-version: 2017-06-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/costManagement
                  name: costManagement
                  properties:
                    description: Policies required to minimize the risk of accidental
                      cost overruns
                    displayName: Storage Cost Management
                    metadata:
                      category: Cost Management
                    notScopes:
                    - /subscriptions/subId/resourcegroups/testingResourceGroup
                    parameters:
                      allowedSkus:
                        type: Array
                    policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                    scope: /subscriptions/subId
                  sku:
                    name: A0
                    tier: Free
                  type: Microsoft.Authorization/policyAssignments
                - id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/tagEnforcement
                  name: tagEnforcement
                  properties:
                    description: Policy that ensures a given tag key and value are
                      present on all resources
                    displayName: Enforces a tag key and value
                    policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/tagKeyValue
                    scope: /subscriptions/subId
                  sku:
                    name: A0
                    tier: Free
                  type: Microsoft.Authorization/policyAssignments
              headers: {}
      x-ms-odata: '#/definitions/PolicyAssignment'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments:
    get:
      description: Gets policy assignments for the resource group.
      operationId: policy_assignments_list_for_resource_group
      parameters:
      - description: The name of the resource group that contains policy assignments.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyAssignments
  : get:
      deprecated: true
      description: Gets policy assignments for a resource.
      operationId: policy_assignments_list_for_resource
      parameters:
      - description: The name of the resource group containing the resource. The name
          is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource path.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource with policy assignments.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicyAssignments
      x-ms-odata: '#/definitions/PolicyAssignment'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  /{policyAssignmentId}:
    delete:
      description: "When providing a scope for the assignment, use '/subscriptions/{subscription-id}/'\
        \ for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
        \ for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'\
        \ for resources."
      operationId: policy_assignments_delete_by_id
      parameters:
      - description: "The ID of the policy assignment to delete. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'."
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Deletes a policy assignment by ID.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    get:
      description: "When providing a scope for the assignment, use '/subscriptions/{subscription-id}/'\
        \ for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
        \ for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'\
        \ for resources."
      operationId: policy_assignments_get_by_id
      parameters:
      - description: "The ID of the policy assignment to get. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'."
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a policy assignment by ID.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    put:
      description: "Policy assignments are inherited by child resources. For example,\
        \ when you apply a policy to a resource group that policy is assigned to all\
        \ resources in the group. When providing a scope for the assignment, use '/subscriptions/{subscription-id}/'\
        \ for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
        \ for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'\
        \ for resources."
      operationId: policy_assignments_create_by_id
      parameters:
      - description: "The ID of the policy assignment to create. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'."
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Parameters for policy assignment.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: Created - Returns information about the policy assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Creates a policy assignment by ID.
      tags:
      - PolicyAssignments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  /{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}:
    delete:
      description: Deletes a policy assignment.
      operationId: policy_assignments_delete
      parameters:
      - description: The scope of the policy assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the policy assignment to delete.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the deleted assignment.
        "204":
          content: {}
          description: No Content - the policy assignment doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    get:
      description: Gets a policy assignment.
      operationId: policy_assignments_get
      parameters:
      - description: The scope of the policy assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the policy assignment to get.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PolicyAssignments
      x-ms-examples:
        Get a policy assignment:
          parameters:
            api-version: 2017-06-01-preview
            policyAssignmentName: costManagement
            scope: subscriptions/subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: Storage Cost Management
                  metadata:
                    category: Cost Management
                  notScopes:
                  - /subscriptions/subId/resourcegroups/testingResourceGroup
                  parameters:
                    allowedSkus:
                      type: Array
                  policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  scope: /subscriptions/subId
                sku:
                  name: A0
                  tier: Free
                type: Microsoft.Authorization/policyAssignments
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    put:
      description: "Policy assignments are inherited by child resources. For example,\
        \ when you apply a policy to a resource group that policy is assigned to all\
        \ resources in the group."
      operationId: policy_assignments_create
      parameters:
      - description: The scope of the policy assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the policy assignment.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Parameters for the policy assignment.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: Created - Returns information about the new policy assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Creates a policy assignment.
      tags:
      - PolicyAssignments
      x-ms-examples:
        Put a policy assignment:
          parameters:
            api-version: 2017-06-01-preview
            parameters:
              properties:
                description: Policies required to minimize the risk of accidental
                  cost overruns
                displayName: Storage Cost Management
                metadata:
                  category: Cost Management
                notScopes:
                - /subscriptions/subId/resourcegroups/testingResourceGroup
                parameters:
                  allowedSkus:
                    type: Array
                policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
              sku:
                name: A0
                tier: Free
            policyAssignmentName: costManagement
            scope: subscriptions/subId
          responses:
            "201":
              body:
                id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental
                    cost overruns
                  displayName: Storage Cost Management
                  metadata:
                    category: Cost Management
                  notScopes:
                  - /subscriptions/subId/resourcegroups/testingResourceGroup
                  parameters:
                    allowedSkus:
                      type: Array
                  policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  scope: /subscriptions/subId
                sku:
                  name: A0
                  tier: Free
                type: Microsoft.Authorization/policyAssignments
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Error response indicates ARM is not able to process the incoming
        request. The reason is provided in the error message.
      example:
        httpStatus: httpStatus
        errorMessage: errorMessage
        errorCode: errorCode
      properties:
        errorCode:
          description: Error code.
          title: errorCode
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          title: errorMessage
          type: string
        httpStatus:
          description: Http status code.
          title: httpStatus
          type: string
      title: ErrorResponse
      type: object
    PolicyAssignment:
      description: The policy assignment.
      example:
        name: name
        id: id
        sku:
          tier: tier
          name: name
        type: type
        properties:
          policyDefinitionId: policyDefinitionId
          metadata: "{}"
          notScopes:
          - notScopes
          - notScopes
          displayName: displayName
          scope: scope
          description: description
          parameters: "{}"
      properties:
        id:
          description: The ID of the policy assignment.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the policy assignment.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/PolicyAssignmentProperties'
        sku:
          $ref: '#/components/schemas/PolicySku'
        type:
          description: The type of the policy assignment.
          readOnly: true
          title: type
          type: string
      title: PolicyAssignment
      type: object
      x-ms-azure-resource: true
    PolicyAssignmentListResult:
      description: List of policy assignments.
      example:
        value:
        - name: name
          id: id
          sku:
            tier: tier
            name: name
          type: type
          properties:
            policyDefinitionId: policyDefinitionId
            metadata: "{}"
            notScopes:
            - notScopes
            - notScopes
            displayName: displayName
            scope: scope
            description: description
            parameters: "{}"
        - name: name
          id: id
          sku:
            tier: tier
            name: name
          type: type
          properties:
            policyDefinitionId: policyDefinitionId
            metadata: "{}"
            notScopes:
            - notScopes
            - notScopes
            displayName: displayName
            scope: scope
            description: description
            parameters: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: An array of policy assignments.
          items:
            $ref: '#/components/schemas/PolicyAssignment'
          title: value
          type: array
      title: PolicyAssignmentListResult
      type: object
    PolicyAssignmentProperties:
      description: The policy assignment properties.
      example:
        policyDefinitionId: policyDefinitionId
        metadata: "{}"
        notScopes:
        - notScopes
        - notScopes
        displayName: displayName
        scope: scope
        description: description
        parameters: "{}"
      properties:
        description:
          description: This message will be part of response in case of policy violation.
          title: description
          type: string
        displayName:
          description: The display name of the policy assignment.
          title: displayName
          type: string
        metadata:
          description: The policy assignment metadata.
          properties: {}
          title: metadata
          type: object
        notScopes:
          description: The policy's excluded scopes.
          items:
            type: string
          title: notScopes
          type: array
        parameters:
          description: Required if a parameter is used in policy rule.
          properties: {}
          title: parameters
          type: object
        policyDefinitionId:
          description: The ID of the policy definition.
          title: policyDefinitionId
          type: string
        scope:
          description: The scope for the policy assignment.
          title: scope
          type: string
      title: PolicyAssignmentProperties
      type: object
    PolicySku:
      description: The policy sku.
      example:
        tier: tier
        name: name
      properties:
        name:
          description: The name of the policy sku. Possible values are A0 and A1.
          title: name
          type: string
        tier:
          description: The policy sku tier. Possible values are Free and Standard.
          title: tier
          type: string
      required:
      - name
      title: PolicySku
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
