openapi: 3.0.1
info:
  contact:
    email: support@stormglass.io
  description: Global marine weather data from multiple sources in one single API
    with hourly resolution. Get your API key by visiting the Storm Glass web site.
  termsOfService: https://stormglass.io
  title: Storm Glass Marine Weather
  version: 1.0.1
  x-apisguru-categories:
  - location
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://stormglass.io/wp-content/uploads/2019/05/Stormglass-Blue-circled-5.svg
  x-origin:
  - format: swagger
    url: https://www.stormglass.io/specifications/api-specifications.yaml
    version: "2.0"
  x-providerName: stormglass.io
servers:
- url: https://api.stormglass.io/
tags:
- description: Get forecast for coordinates
  externalDocs:
    description: Find out more
    url: https://stormglass.io
  name: forecast
paths:
  /forecast:
    get:
      description: "Get forecast info for the given coordinates. For every hour and\
        \ property, you will get a list of weather sources and their values."
      operationId: getForecast
      parameters:
      - description: The latitude for a location. Valid input is a number between
          -90 and 90.
        in: query
        name: lat
        required: true
        schema:
          type: number
      - description: The longitude for a location. Valid input is a number between
          -180 and 180.
        in: query
        name: lng
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forecast'
          description: Successful request
        "403":
          content: {}
          description: Unauthorized or API key is invalid
        "422":
          content: {}
          description: Invalid or missing coordinates
      security:
      - authenticationToken: []
      summary: Get hourly forecasts by coordinates
      tags:
      - forecast
      x-accepts:
      - application/json
components:
  schemas:
    Forecast:
      example:
        hours:
        - wavePeriod:
          - source: fcoo
            value: "3.63850457084894"
          - source: fcoo
            value: "3.63850457084894"
          airTemperature:
          - source: smhi
            value: "-2.6"
          - source: smhi
            value: "-2.6"
          swellHeight:
          - source: nooa
            value: "2.94"
          - source: nooa
            value: "2.94"
          swellPeriod:
          - source: nooa
            value: "15.88"
          - source: nooa
            value: "15.88"
          swellDirection:
          - source: nooa
            value: "164.35"
          - source: nooa
            value: "164.35"
          waterTemperature:
          - source: fcoo
            value: "9"
          - source: fcoo
            value: "9"
          time: 2018-01-19T17:00:00+00:00
          waveDirection:
          - source: fcoo
            value: 121.35698599493828
          - source: fcoo
            value: 121.35698599493828
          windDirection:
          - source: smhi
            value: "36.0"
          - source: smhi
            value: "36.0"
          windSpeed:
          - source: smhi
            value: "36.0"
          - source: smhi
            value: "36.0"
          waveHeight:
          - source: fmi
            value: "0.5969999991357327"
          - source: fmi
            value: "0.5969999991357327"
        - wavePeriod:
          - source: fcoo
            value: "3.63850457084894"
          - source: fcoo
            value: "3.63850457084894"
          airTemperature:
          - source: smhi
            value: "-2.6"
          - source: smhi
            value: "-2.6"
          swellHeight:
          - source: nooa
            value: "2.94"
          - source: nooa
            value: "2.94"
          swellPeriod:
          - source: nooa
            value: "15.88"
          - source: nooa
            value: "15.88"
          swellDirection:
          - source: nooa
            value: "164.35"
          - source: nooa
            value: "164.35"
          waterTemperature:
          - source: fcoo
            value: "9"
          - source: fcoo
            value: "9"
          time: 2018-01-19T17:00:00+00:00
          waveDirection:
          - source: fcoo
            value: 121.35698599493828
          - source: fcoo
            value: 121.35698599493828
          windDirection:
          - source: smhi
            value: "36.0"
          - source: smhi
            value: "36.0"
          windSpeed:
          - source: smhi
            value: "36.0"
          - source: smhi
            value: "36.0"
          waveHeight:
          - source: fmi
            value: "0.5969999991357327"
          - source: fmi
            value: "0.5969999991357327"
        meta:
          requestCount: 5
          lng: 17.80814
          dailyQuota: 100
          lat: 58.7984
      properties:
        hours:
          description: Every hour with forecast data is represented with an object
            in this array
          items:
            $ref: '#/components/schemas/Forecast_hours_inner'
          type: array
        meta:
          $ref: '#/components/schemas/Forecast_meta'
      type: object
    Forecast_hours_inner_airTemperature_inner:
      description: Air temperature given in celsius
      example:
        source: smhi
        value: "-2.6"
      properties:
        source:
          example: smhi
          type: string
        value:
          example: "-2.6"
          type: string
      type: object
    Forecast_hours_inner_swellDirection_inner:
      description: Direction given in degrees where 0 goes from North to South
      example:
        source: nooa
        value: "164.35"
      properties:
        source:
          example: nooa
          type: string
        value:
          example: "164.35"
          type: string
      type: object
    Forecast_hours_inner_swellHeight_inner:
      description: Swell height given in meters
      example:
        source: nooa
        value: "2.94"
      properties:
        source:
          example: nooa
          type: string
        value:
          example: "2.94"
          type: string
      type: object
    Forecast_hours_inner_swellPeriod_inner:
      description: Swell period given in seconds
      example:
        source: nooa
        value: "15.88"
      properties:
        source:
          example: nooa
          type: string
        value:
          example: "15.88"
          type: string
      type: object
    Forecast_hours_inner_waterTemperature_inner:
      description: Water temperature given in celsius
      example:
        source: fcoo
        value: "9"
      properties:
        source:
          example: fcoo
          type: string
        value:
          example: "9"
          type: string
      type: object
    Forecast_hours_inner_waveDirection_inner:
      description: Direction given in degrees where 0 goes from North to South
      example:
        source: fcoo
        value: 121.35698599493828
      properties:
        source:
          example: fcoo
          type: string
        value:
          example: 121.35698599493828
          type: number
      type: object
    Forecast_hours_inner_waveHeight_inner:
      description: Wave height given in metres
      example:
        source: fmi
        value: "0.5969999991357327"
      properties:
        source:
          example: fmi
          type: string
        value:
          example: "0.5969999991357327"
          type: string
      type: object
    Forecast_hours_inner_wavePeriod_inner:
      example:
        source: fcoo
        value: "3.63850457084894"
      properties:
        source:
          example: fcoo
          type: string
        value:
          example: "3.63850457084894"
          type: string
      type: object
    Forecast_hours_inner_windDirection_inner:
      description: Wind direction given in degrees where 0 goes from North to South
      example:
        source: smhi
        value: "36.0"
      properties:
        source:
          example: smhi
          type: string
        value:
          example: "36.0"
          type: string
      type: object
    Forecast_hours_inner_windSpeed_inner:
      description: Wind speed given in meters per second
      example:
        source: smhi
        value: "36.0"
      properties:
        source:
          example: smhi
          type: string
        value:
          example: "36.0"
          type: string
      type: object
    Forecast_hours_inner:
      description: Hourly forecast information
      example:
        wavePeriod:
        - source: fcoo
          value: "3.63850457084894"
        - source: fcoo
          value: "3.63850457084894"
        airTemperature:
        - source: smhi
          value: "-2.6"
        - source: smhi
          value: "-2.6"
        swellHeight:
        - source: nooa
          value: "2.94"
        - source: nooa
          value: "2.94"
        swellPeriod:
        - source: nooa
          value: "15.88"
        - source: nooa
          value: "15.88"
        swellDirection:
        - source: nooa
          value: "164.35"
        - source: nooa
          value: "164.35"
        waterTemperature:
        - source: fcoo
          value: "9"
        - source: fcoo
          value: "9"
        time: 2018-01-19T17:00:00+00:00
        waveDirection:
        - source: fcoo
          value: 121.35698599493828
        - source: fcoo
          value: 121.35698599493828
        windDirection:
        - source: smhi
          value: "36.0"
        - source: smhi
          value: "36.0"
        windSpeed:
        - source: smhi
          value: "36.0"
        - source: smhi
          value: "36.0"
        waveHeight:
        - source: fmi
          value: "0.5969999991357327"
        - source: fmi
          value: "0.5969999991357327"
      properties:
        airTemperature:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_airTemperature_inner'
          type: array
        swellDirection:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_swellDirection_inner'
          type: array
        swellHeight:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_swellHeight_inner'
          type: array
        swellPeriod:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_swellPeriod_inner'
          type: array
        time:
          description: Timestamp in utc for the hour represented
          example: 2018-01-19T17:00:00+00:00
          type: string
        waterTemperature:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_waterTemperature_inner'
          type: array
        waveDirection:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_waveDirection_inner'
          type: array
        waveHeight:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_waveHeight_inner'
          type: array
        wavePeriod:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_wavePeriod_inner'
          type: array
        windDirection:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_windDirection_inner'
          type: array
        windSpeed:
          items:
            $ref: '#/components/schemas/Forecast_hours_inner_windSpeed_inner'
          type: array
      type: object
    Forecast_meta:
      example:
        requestCount: 5
        lng: 17.80814
        dailyQuota: 100
        lat: 58.7984
      properties:
        dailyQuota:
          description: The number of successful requests you can do on one day
          example: 100
          type: integer
        lat:
          description: The latitude the response is showing forecast data for
          example: 58.7984
          type: number
        lng:
          description: The longitude the response is showing forecast data for
          example: 17.80814
          type: number
        requestCount:
          description: The number of successful requests made this day.
          example: 5
          type: integer
      type: object
  securitySchemes:
    authenticationToken:
      in: header
      name: Authentication-Token
      type: apiKey
x-original-swagger-version: "2.0"

