openapi: 3.0.0
info:
  description: "Driving License (DL) and Vehicle Registration Certificate (RC) of\
    \ the State, as available on Parivahan Sewa (http://parivahan.co.in/) of Ministry\
    \ of Road Transport and Highways, are available on DigiLocker. Citizens can pull\
    \ these documents into their DigiLocker accounts."
  termsOfService: https://apisetu.gov.in/terms.php
  title: "Transport Department, Uttarakhand"
  version: 3.0.0
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://apisetu.gov.in/api_specification_v8/transportuk.yaml
    version: "3.0"
  x-providerName: apisetu.gov.in
  x-serviceName: transportuk
servers:
- url: https://apisetu.gov.in/transportuk/v3
paths:
  /drvlc/certificate:
    post:
      description: API to verify Driving License.
      operationId: drvlc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/drvlc_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
            application/xml:
              schema:
                $ref: '#/components/schemas/DrivingLicenseSchema'
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Driving License
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
      - application/xml
  /rvcer/certificate:
    post:
      description: API to verify Registration of Vehicles.
      operationId: rvcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rvcer_request'
        description: Request format
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
            application/xml:
              schema:
                $ref: '#/components/schemas/VehicleRegistrationSchema'
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drvlc_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Registration of Vehicles
      tags:
      - APIs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
      - application/xml
components:
  responses:
    "400Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_400_response'
      description: Bad request
    "401Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_401_response'
      description: Unauthorized access
    "404Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_404_response'
      description: No record found
    "500Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_500_response'
      description: Internal server error
    "502Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_502_response'
      description: Bad gateway
    "503Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_503_response'
      description: Service unavailable
    "504Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/drvlc_504_response'
      description: Gateway timeout
  schemas:
    AcademicCertificateSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo'
        issueDate:
          example: ' '
          type: string
          xml:
            attribute: true
        issuedAt:
          example: ""
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: Secondary School Certificate
          minLength: 1
          type: string
          xml:
            attribute: true
        number:
          example: 1100044
          minLength: 1
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          type: string
          xml:
            attribute: true
        type:
          example: SSCER
          type: string
          xml:
            attribute: true
        validFromDate:
          example: ' '
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      type: object
      xml:
        name: Certificate
    ConsentArtifactSchema:
      properties:
        consent:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent'
        signature:
          $ref: '#/components/schemas/ConsentArtifactSchema_signature'
      required:
      - consent
      - signature
    DrivingLicenseSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/DrivingLicenseSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedTo'
        expiryDate:
          example: 31-12-2010
          type: string
          xml:
            attribute: true
        issueDate:
          example: 01-01-1990
          type: string
          xml:
            attribute: true
        issuedAt:
          example: New Delhi
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: Driving License
          minLength: 1
          type: string
          xml:
            attribute: true
        number:
          minLength: 1
          type: integer
          xml:
            attribute: true
        prevNumber:
          example: 1234
          minLength: 1
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          type: string
          xml:
            attribute: true
        type:
          example: DRVLC
          type: string
          xml:
            attribute: true
        validFromDate:
          example: 01-01-1990
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      type: object
      xml:
        name: Certificate
    VehicleRegistrationSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedTo'
        expiryDate:
          example: ' '
          type: string
          xml:
            attribute: true
        issueDate:
          example: 01-01-1980
          type: string
          xml:
            attribute: true
        issuedAt:
          example: New Delhi
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: Vehicle Registration
          minLength: 1
          type: string
          xml:
            attribute: true
        number:
          minLength: 1
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          type: string
          xml:
            attribute: true
        type:
          example: RVCER
          type: string
          xml:
            attribute: true
        validFromDate:
          example: ' '
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      type: object
      xml:
        name: Certificate
    drvlc_request_certificateParameters:
      properties:
        DOB:
          description: Date of birth in DD-MM-YYYY format
          example: 31-12-1980
          type: string
        FullName:
          description: Full name
          example: Sunil Kumar
          type: string
        UID:
          description: Aadhaar number
          example: "123412341234"
          type: string
        dlno:
          description: DL No
          example: DL01/2009/236543
          type: string
      required:
      - DOB
      - FullName
      - UID
      - dlno
      type: object
    drvlc_request:
      properties:
        certificateParameters:
          $ref: '#/components/schemas/drvlc_request_certificateParameters'
        consentArtifact:
          $ref: '#/components/schemas/ConsentArtifactSchema'
        format:
          description: The format of the certificate in response.
          enum:
          - xml
          - pdf
          type: string
        txnId:
          description: A unique transaction id for this request in UUID format. It
            is used for tracking the request.
          example: f7f1469c-29b0-4325-9dfc-c567200a70f7
          format: uuid
          type: string
      required:
      - format
      - txnId
      type: object
    drvlc_400_response:
      example:
        errorDescription: Please provide all mandatory parameters
        error: missing_parameter
      properties:
        error:
          enum:
          - missing_parameter
          - invalid_parameter
          - invalid_format
          - invalid_txnid
          - invalid_consentid
          type: string
        errorDescription:
          enum:
          - Please provide all mandatory parameters
          - Bad request
          - The format parameter is invalid
          - The txnId parameter must be in UUID format
          - The consentId parameter must be in UUID format
          type: string
      type: object
    drvlc_401_response:
      example:
        errorDescription: Authentication failed
        error: invalid_authentication
      properties:
        error:
          enum:
          - invalid_authentication
          - invalid_authorization
          type: string
        errorDescription:
          enum:
          - Authentication failed
          - You are not authorized to use this API
          type: string
      type: object
    drvlc_404_response:
      example:
        errorDescription: No record found
        error: record_not_found
      properties:
        error:
          enum:
          - record_not_found
          - url_not_found
          type: string
        errorDescription:
          enum:
          - No record found
          - Your API url or path is incorrect
          type: string
      type: object
    drvlc_500_response:
      example:
        errorDescription: Internal server error
        error: internal_server_error
      properties:
        error:
          enum:
          - internal_server_error
          type: string
        errorDescription:
          enum:
          - Internal server error
          type: string
      type: object
    drvlc_502_response:
      example:
        errorDescription: Publisher service returned an invalid response
        error: bad_gatewy
      properties:
        error:
          enum:
          - bad_gatewy
          type: string
        errorDescription:
          enum:
          - Publisher service returned an invalid response
          type: string
      type: object
    drvlc_503_response:
      example:
        errorDescription: Publisher service is temporarily unavailable
        error: service_unavailable
      properties:
        error:
          enum:
          - service_unavailable
          type: string
        errorDescription:
          enum:
          - Publisher service is temporarily unavailable
          type: string
      type: object
    drvlc_504_response:
      example:
        errorDescription: Publisher service did not respond in time
        error: gateway_timeout
      properties:
        error:
          enum:
          - gateway_timeout
          type: string
        errorDescription:
          enum:
          - Publisher service did not respond in time
          type: string
      type: object
    rvcer_request_certificateParameters:
      properties:
        FullName:
          description: Full name
          example: Sunil Kumar
          type: string
        UID:
          description: Aadhaar number
          example: "123412341234"
          type: string
        chasis_no:
          description: Chassis No
          example: MBLKC12EFBGJ08420
          type: string
        reg_no:
          description: Vehicle Registration No
          example: DL01AA0101 As per your Vehicle Registration Certificate
          type: string
      required:
      - FullName
      - UID
      - chasis_no
      - reg_no
      type: object
    rvcer_request:
      properties:
        certificateParameters:
          $ref: '#/components/schemas/rvcer_request_certificateParameters'
        consentArtifact:
          $ref: '#/components/schemas/ConsentArtifactSchema'
        format:
          description: The format of the certificate in response.
          enum:
          - xml
          - pdf
          type: string
        txnId:
          description: A unique transaction id for this request in UUID format. It
            is used for tracking the request.
          example: f7f1469c-29b0-4325-9dfc-c567200a70f7
          format: uuid
          type: string
      required:
      - format
      - txnId
      type: object
    AcademicCertificateSchema_CertificateData_Examination:
      properties:
        month:
          example: MARCH
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: SENION SCHOOL CERTIFICATE EXAMINATION
          minLength: 1
          type: string
          xml:
            attribute: true
        year:
          example: "2019"
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - month
      - name
      - year
      type: object
    AcademicCertificateSchema_CertificateData_Performance_Subjects_inner:
      properties:
        code:
          example: "30"
          minLength: 1
          type: string
          xml:
            attribute: true
        gp:
          example: ""
          type: string
          xml:
            attribute: true
        gpMax:
          example: ""
          type: string
          xml:
            attribute: true
        grade:
          example: A2
          minLength: 1
          type: string
          xml:
            attribute: true
        marksMax:
          type: integer
          xml:
            attribute: true
        marksMaxPractical:
          type: integer
          xml:
            attribute: true
        marksMaxTheory:
          type: integer
          xml:
            attribute: true
        marksPractical:
          example: 17
          type: integer
          xml:
            attribute: true
        marksTheory:
          example: 70
          minLength: 1
          type: integer
          xml:
            attribute: true
        marksTotal:
          example: 87
          minLength: 1
          type: integer
          xml:
            attribute: true
        name:
          example: ECONOMICS
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - code
      - gp
      - gpMax
      - grade
      - marksMax
      - marksMaxPractical
      - marksMaxTheory
      - marksPractical
      - marksTheory
      - marksTotal
      - name
      type: object
      xml:
        name: Subject
    AcademicCertificateSchema_CertificateData_Performance:
      properties:
        Subjects:
          items:
            $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance_Subjects_inner'
          type: array
          xml:
            name: Subjects
            wrapped: true
        cgpa:
          example: ""
          type: string
          xml:
            attribute: true
        cgpaMax:
          example: ""
          type: string
          xml:
            attribute: true
        grade:
          example: ""
          type: string
          xml:
            attribute: true
        marksMax:
          example: ""
          type: string
          xml:
            attribute: true
        marksTotal:
          example: ""
          type: string
          xml:
            attribute: true
        percentage:
          example: ""
          type: string
          xml:
            attribute: true
        result:
          example: PASS
          minLength: 1
          type: string
          xml:
            attribute: true
        resultDate:
          example: 02-05-2019
          minLength: 1
          type: string
          xml:
            attribute: true
        updateDate:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Subjects
      - cgpa
      - cgpaMax
      - grade
      - marksMax
      - marksTotal
      - percentage
      - result
      - resultDate
      - updateDate
      type: object
    AcademicCertificateSchema_CertificateData_School:
      properties:
        code:
          example: "20020"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: DELHI PUBLIC SCHOOL GURGAON
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - code
      - name
      type: object
    AcademicCertificateSchema_CertificateData:
      properties:
        Examination:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Examination'
        Performance:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance'
        School:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_School'
      required:
      - Examination
      - Performance
      - School
      type: object
    AcademicCertificateSchema_IssuedBy_Organization_Address:
      properties:
        country:
          example: IN
          minLength: 1
          type: string
          xml:
            attribute: true
        district:
          example: ""
          type: string
          xml:
            attribute: true
        house:
          example: ""
          type: string
          xml:
            attribute: true
        landmark:
          example: ""
          type: string
          xml:
            attribute: true
        line1:
          example: ""
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          type: string
          xml:
            attribute: true
        state:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: ""
          type: string
          xml:
            attribute: true
        vtc:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      type: object
    AcademicCertificateSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          type: string
          xml:
            attribute: true
        name:
          example: Central Board of Secondary Education
          minLength: 1
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      type: object
    AcademicCertificateSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization'
      required:
      - Organization
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Address:
      properties:
        country:
          example: IN
          minLength: 1
          type: string
          xml:
            attribute: true
        district:
          example: ""
          type: string
          xml:
            attribute: true
        house:
          example: ""
          type: string
          xml:
            attribute: true
        landmark:
          type: string
          xml:
            attribute: true
          example: null
        line1:
          example: ""
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          type: string
          xml:
            attribute: true
        state:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: permanent
          minLength: 1
          type: string
        vtc:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Photo:
      properties:
        format:
          type: string
          xml:
            attribute: true
      required:
      - format
      type: object
    AcademicCertificateSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        category:
          example: SC
          minLength: 1
          type: string
          xml:
            attribute: true
        disabilityStatus:
          example: ""
          type: string
          xml:
            attribute: true
        dob:
          example: 01-10-1988
          minLength: 1
          type: string
          xml:
            attribute: true
        email:
          example: ""
          type: string
          xml:
            attribute: true
        gender:
          example: ""
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          type: string
          xml:
            attribute: true
        motherName:
          example: SUNITA DEVI
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          type: string
          xml:
            attribute: true
        title:
          example: ""
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      type: object
    AcademicCertificateSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person'
      required:
      - Person
      type: object
    ConsentArtifactSchema_consent_data:
      properties:
        id:
          minLength: 1
          type: string
      required:
      - id
      type: object
    ConsentArtifactSchema_consent_permission_dateRange:
      properties:
        from:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          type: string
        to:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          type: string
      required:
      - from
      - to
      type: object
    ConsentArtifactSchema_consent_permission_frequency:
      properties:
        repeats:
          type: number
        unit:
          minLength: 1
          type: string
        value:
          type: number
      required:
      - repeats
      - unit
      - value
      type: object
    ConsentArtifactSchema_consent_permission:
      properties:
        access:
          minLength: 1
          type: string
        dateRange:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_dateRange'
        frequency:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_frequency'
      required:
      - access
      - dateRange
      - frequency
      type: object
    ConsentArtifactSchema_consent_purpose:
      properties:
        description:
          minLength: 1
          type: string
      required:
      - description
      type: object
    ConsentArtifactSchema_consent_user:
      properties:
        email:
          minLength: 1
          type: string
        idNumber:
          minLength: 1
          type: string
        idType:
          minLength: 1
          type: string
        mobile:
          minLength: 1
          type: string
      required:
      - email
      - idNumber
      - idType
      - mobile
      type: object
    ConsentArtifactSchema_consent:
      properties:
        consentId:
          description: A unique consent id in UUID format.
          example: ea9c43aa-7f5a-4bf3-a0be-e1caa24737ba
          format: uuid
          minLength: 1
          type: string
        data:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataConsumer:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataProvider:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        permission:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission'
        purpose:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_purpose'
        timestamp:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          type: string
        user:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_user'
      required:
      - consentId
      - data
      - dataConsumer
      - dataProvider
      - permission
      - purpose
      - timestamp
      - user
      type: object
    ConsentArtifactSchema_signature:
      properties:
        signature:
          type: string
      required:
      - signature
      type: object
    DrivingLicenseSchema_CertificateData_DrivingLicense:
      properties:
        abbreviation:
          example: MCWG
          type: string
          xml:
            attribute: true
        code:
          example: NT
          minLength: 1
          type: string
          xml:
            attribute: true
        description:
          example: Motor Cycle with Gear(Non Transport)
          type: string
          xml:
            attribute: true
        endorseDate:
          example: 01-01-1990
          type: string
          xml:
            attribute: true
        issueDate:
          type: string
          xml:
            attribute: true
      required:
      - abbreviation
      - code
      - description
      - endorseDate
      - issueDate
      type: object
    DrivingLicenseSchema_CertificateData:
      properties:
        DrivingLicense:
          $ref: '#/components/schemas/DrivingLicenseSchema_CertificateData_DrivingLicense'
      type: object
    DrivingLicenseSchema_IssuedBy_Organization_Address:
      properties:
        country:
          example: IN
          minLength: 1
          type: string
          xml:
            attribute: true
        district:
          example: ""
          type: string
          xml:
            attribute: true
        house:
          example: ""
          type: string
          xml:
            attribute: true
        landmark:
          example: ""
          type: string
          xml:
            attribute: true
        line1:
          example: ""
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          type: string
          xml:
            attribute: true
        state:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: present
          type: string
          xml:
            attribute: true
        vtc:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      type: object
    DrivingLicenseSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          type: string
          xml:
            attribute: true
        name:
          example: ""
          minLength: 1
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      type: object
    DrivingLicenseSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedBy_Organization'
      required:
      - Organization
      type: object
    DrivingLicenseSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        dob:
          example: 01-10-1988
          minLength: 1
          type: string
          xml:
            attribute: true
        email:
          example: ""
          type: string
          xml:
            attribute: true
        gender:
          example: M
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          type: string
          xml:
            attribute: true
        title:
          example: ""
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      type: object
    DrivingLicenseSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/DrivingLicenseSchema_IssuedTo_Person'
      required:
      - Person
      type: object
    VehicleRegistrationSchema_CertificateData_VehicleRegistration_Insurance:
      properties:
        companyName:
          example: ""
          type: string
          xml:
            attribute: true
        policyNo:
          minLength: 1
          type: string
          xml:
            attribute: true
        validTill:
          example: ""
          type: string
          xml:
            attribute: true
      type: object
    VehicleRegistrationSchema_CertificateData_VehicleRegistration_Vehicle:
      properties:
        chasisNo:
          minLength: 1
          type: string
          xml:
            attribute: true
        class:
          type: object
          xml:
            attribute: true
        color:
          example: ""
          type: string
          xml:
            attribute: true
        cubicCapacity:
          type: object
          xml:
            attribute: true
        cylinder:
          type: object
          xml:
            attribute: true
        engineNo:
          example: ""
          type: string
          xml:
            attribute: true
        fitTill:
          type: object
          xml:
            attribute: true
        fuelDesc:
          type: object
          xml:
            attribute: true
        make:
          type: object
          xml:
            attribute: true
        mfgDate:
          type: object
          xml:
            attribute: true
        model:
          minLength: 1
          type: string
          xml:
            attribute: true
        seatCapacity:
          minLength: 1
          type: string
          xml:
            attribute: true
        sleeperCapacity:
          minLength: 1
          type: string
          xml:
            attribute: true
        standingCapacity:
          type: object
          xml:
            attribute: true
        unladenWeight:
          minLength: 1
          type: string
          xml:
            attribute: true
        wheelbase:
          type: object
          xml:
            attribute: true
      type: object
    VehicleRegistrationSchema_CertificateData_VehicleRegistration:
      properties:
        Insurance:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData_VehicleRegistration_Insurance'
        Vehicle:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData_VehicleRegistration_Vehicle'
        financer:
          minLength: 1
          type: string
          xml:
            attribute: true
        normsDesc:
          example: SSCER
          type: string
          xml:
            attribute: true
        statusDate:
          minLength: 1
          type: string
          xml:
            attribute: true
      required:
      - financer
      - normsDesc
      - statusDate
      type: object
    VehicleRegistrationSchema_CertificateData:
      properties:
        VehicleRegistration:
          $ref: '#/components/schemas/VehicleRegistrationSchema_CertificateData_VehicleRegistration'
      type: object
    VehicleRegistrationSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          type: string
          xml:
            attribute: true
        name:
          example: ""
          minLength: 1
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      type: object
    VehicleRegistrationSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedBy_Organization'
      required:
      - Organization
      type: object
    VehicleRegistrationSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        dob:
          example: 01-10-1988
          minLength: 1
          type: string
          xml:
            attribute: true
        email:
          example: ""
          type: string
          xml:
            attribute: true
        gender:
          example: ""
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          type: string
          xml:
            attribute: true
        title:
          example: ""
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      type: object
    VehicleRegistrationSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/VehicleRegistrationSchema_IssuedTo_Person'
      required:
      - Person
      type: object
  securitySchemes:
    apiKey:
      in: header
      name: X-APISETU-APIKEY
      type: apiKey
    clientId:
      in: header
      name: X-APISETU-CLIENTID
      type: apiKey

