openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: NFL play-by-play API.
  title: NFL v3 Play-by-Play
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-play-by-play.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-play-by-play
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/pbp
- url: https://azure-api.sportsdata.io/v3/nfl/pbp
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/PlayByPlay/{season}/{week}/{hometeam}:
    get:
      operationId: PlayByPlay
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Abbreviation of the home team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: hometeam
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayByPlay'
          description: ""
      summary: Play By Play
      x-accepts:
      - application/json
  /{format}/PlayByPlayDelta/{season}/{week}/{minutes}:
    get:
      operationId: PlayByPlayDelta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Delta
      x-accepts:
      - application/json
  /{format}/SimulatedPlayByPlay/{numberofplays}:
    get:
      description: "Gets simulated live play-by-play of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: PlayByPlaySimulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Simulation
      x-accepts:
      - application/json
components:
  schemas:
    Play:
      example:
        QuarterID: 6
        Down: 6
        Description: Description
        IsScoringPlay: true
        Updated: Updated
        TimeRemainingMinutes: 5
        YardsToEndZone: 3
        YardLineTerritory: YardLineTerritory
        PlayStats:
        - BlockedKicks: 9
          PlayerID: 3
          Safeties: 4
          FumblesRecovered: 8
          RushingTouchdowns: 9
          ReceivingTouchdowns: 4
          Receptions: 9
          FieldGoalReturns: 1
          TwoPointConversionReturns: 1
          PenaltyYards: 8
          Name: Name
          Penalties: 4
          ReceivingTargets: 1
          RushingAttempts: 0
          TwoPointConversionAttempts: 3
          FieldGoalReturnTouchdowns: 7
          KickReturns: 2
          AssistedTackles: 5
          Fumbles: 9
          InterceptionReturnTouchdowns: 9
          Kickoffs: 5
          Updated: Updated
          FumblesForced: 9
          TacklesForLoss: 4
          KickoffTouchbacks: 6
          PassingAttempts: 3
          PassingTouchdowns: 6
          Sequence: 6
          FieldGoalsHadBlocked: 6
          FieldGoalsYards: 1
          KickReturnTouchdowns: 6
          PassingInterceptions: 7
          PuntYards: 0
          PuntReturns: 3
          Punts: 6
          TwoPointConversionPasses: 0
          TwoPointConversionReceptions: 2
          ExtraPointsMade: 4
          FieldGoalReturnYards: 1
          BlockedKickReturnYards: 2
          BlockedKickReturns: 7
          PassesDefended: 6
          InterceptionReturnYards: 6
          KickReturnYards: 1
          FumbleReturnTouchdowns: 4
          PuntReturnTouchdowns: 7
          PassingSackYards: 0
          PlayStatID: 3
          PlayID: 7
          Direction: Direction
          TwoPointConversionRuns: 8
          ExtraPointsAttempted: 3
          PuntReturnYards: 5
          Created: Created
          SoloTackles: 8
          BlockedKickReturnTouchdowns: 5
          FieldGoalsAttempted: 1
          Opponent: Opponent
          PuntsHadBlocked: 4
          Team: Team
          PassingSacks: 7
          Sacks: 5.507386964179881
          ExtraPointsHadBlocked: 2
          KickoffYards: 6
          ReceivingYards: 7
          HomeOrAway: HomeOrAway
          FumbleReturnYards: 5
          Interceptions: 3
          PassingYards: 0
          PuntTouchbacks: 4
          SackYards: 7.933506881737151
          PassingCompletions: 3
          RushingYards: 0
          FieldGoalsMade: 7
          FumblesLost: 6
        - BlockedKicks: 9
          PlayerID: 3
          Safeties: 4
          FumblesRecovered: 8
          RushingTouchdowns: 9
          ReceivingTouchdowns: 4
          Receptions: 9
          FieldGoalReturns: 1
          TwoPointConversionReturns: 1
          PenaltyYards: 8
          Name: Name
          Penalties: 4
          ReceivingTargets: 1
          RushingAttempts: 0
          TwoPointConversionAttempts: 3
          FieldGoalReturnTouchdowns: 7
          KickReturns: 2
          AssistedTackles: 5
          Fumbles: 9
          InterceptionReturnTouchdowns: 9
          Kickoffs: 5
          Updated: Updated
          FumblesForced: 9
          TacklesForLoss: 4
          KickoffTouchbacks: 6
          PassingAttempts: 3
          PassingTouchdowns: 6
          Sequence: 6
          FieldGoalsHadBlocked: 6
          FieldGoalsYards: 1
          KickReturnTouchdowns: 6
          PassingInterceptions: 7
          PuntYards: 0
          PuntReturns: 3
          Punts: 6
          TwoPointConversionPasses: 0
          TwoPointConversionReceptions: 2
          ExtraPointsMade: 4
          FieldGoalReturnYards: 1
          BlockedKickReturnYards: 2
          BlockedKickReturns: 7
          PassesDefended: 6
          InterceptionReturnYards: 6
          KickReturnYards: 1
          FumbleReturnTouchdowns: 4
          PuntReturnTouchdowns: 7
          PassingSackYards: 0
          PlayStatID: 3
          PlayID: 7
          Direction: Direction
          TwoPointConversionRuns: 8
          ExtraPointsAttempted: 3
          PuntReturnYards: 5
          Created: Created
          SoloTackles: 8
          BlockedKickReturnTouchdowns: 5
          FieldGoalsAttempted: 1
          Opponent: Opponent
          PuntsHadBlocked: 4
          Team: Team
          PassingSacks: 7
          Sacks: 5.507386964179881
          ExtraPointsHadBlocked: 2
          KickoffYards: 6
          ReceivingYards: 7
          HomeOrAway: HomeOrAway
          FumbleReturnYards: 5
          Interceptions: 3
          PassingYards: 0
          PuntTouchbacks: 4
          SackYards: 7.933506881737151
          PassingCompletions: 3
          RushingYards: 0
          FieldGoalsMade: 7
          FumblesLost: 6
        Sequence: 5
        PlayID: 1
        QuarterName: QuarterName
        Created: Created
        ScoringPlay:
          Quarter: Quarter
          GameKey: GameKey
          AwayTeam: AwayTeam
          HomeTeam: HomeTeam
          AwayScore: 4
          ScoreID: 9
          Sequence: 8
          Date: Date
          HomeScore: 8
          SeasonType: 9
          PlayDescription: PlayDescription
          TimeRemaining: TimeRemaining
          ScoringPlayID: 1
          Team: Team
          Season: 3
          Week: 0
        TimeRemainingSeconds: 8
        Type: Type
        PlayTime: PlayTime
        YardsGained: 3
        Opponent: Opponent
        Team: Team
        YardLine: 7
        Distance: 0
      properties:
        Created:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        Distance:
          nullable: true
          type: integer
        Down:
          nullable: true
          type: integer
        IsScoringPlay:
          nullable: true
          type: boolean
        Opponent:
          nullable: true
          type: string
        PlayID:
          nullable: false
          type: integer
        PlayStats:
          items:
            $ref: '#/components/schemas/PlayStat'
          type: array
        PlayTime:
          nullable: true
          type: string
        QuarterID:
          nullable: false
          type: integer
        QuarterName:
          nullable: true
          type: string
        ScoringPlay:
          $ref: '#/components/schemas/ScoringPlay'
        Sequence:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        Type:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        YardLine:
          nullable: true
          type: integer
        YardLineTerritory:
          nullable: true
          type: string
        YardsGained:
          nullable: true
          type: integer
        YardsToEndZone:
          nullable: true
          type: integer
    PlayByPlay:
      example:
        Score:
          AwayScoreOvertime: 4
          HomeScoreQuarter2: 1
          Quarter: Quarter
          HomeScoreQuarter1: 3
          HomeScoreQuarter4: 9
          AwayTeam: AwayTeam
          HomeScoreQuarter3: 3
          Has3rdQuarterStarted: true
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 7
          HomeTeamID: 7
          ForecastTempHigh: 6
          DateTime: DateTime
          Has2ndQuarterStarted: true
          Has1stQuarterStarted: true
          LastUpdated: LastUpdated
          Distance: Distance
          ForecastWindSpeed: 9
          OverPayout: 9
          Status: Status
          AwayScoreQuarter4: 4
          HomeTeam: HomeTeam
          AwayScoreQuarter1: 0
          AwayScoreQuarter3: 7
          AwayScore: 8
          AwayScoreQuarter2: 0
          Channel: Channel
          HomeTimeouts: 7
          IsOvertime: true
          NeutralVenue: true
          StadiumID: 6
          IsInProgress: true
          IsOver: true
          AwayRotationNumber: 3
          PointSpreadAwayTeamMoneyLine: 3
          GeoLong: 1.2555055362323109
          GlobalAwayTeamID: 3
          DateTimeUTC: DateTimeUTC
          Canceled: true
          AwayTeamMoneyLine: 9
          Week: 2
          GameEndDateTime: GameEndDateTime
          GeoLat: 1.3949519358941398
          HomeRotationNumber: 4
          HasStarted: true
          YardLineTerritory: YardLineTerritory
          AwayTeamID: 2
          AwayTimeouts: 0
          HomeScore: 5
          LastPlay: LastPlay
          RefereeID: 2
          ForecastWindChill: 6
          UnderPayout: 0
          GlobalHomeTeamID: 1
          Season: 4
          YardLine: 5
          DownAndDistance: DownAndDistance
          GlobalGameID: 5
          Attendance: 2
          QuarterDescription: QuarterDescription
          StadiumDetails:
            Type: Type
            GeoLat: 4.141296055235948
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 8.910869026866926
            City: City
            Name: Name
            PlayingSurface: PlayingSurface
            StadiumID: 2
          Down: 2
          GameKey: GameKey
          HomeScoreOvertime: 5
          ScoreID: 9
          OverUnder: 1.7045651386993
          Date: Date
          SeasonType: 8
          PointSpread: 4.4935252719377825
          Possession: Possession
          Closed: true
          TimeRemaining: TimeRemaining
          ForecastTempLow: 4
          RedZone: RedZone
          Has4thQuarterStarted: true
          PointSpreadHomeTeamMoneyLine: 8
          Day: Day
        Plays:
        - QuarterID: 6
          Down: 6
          Description: Description
          IsScoringPlay: true
          Updated: Updated
          TimeRemainingMinutes: 5
          YardsToEndZone: 3
          YardLineTerritory: YardLineTerritory
          PlayStats:
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          Sequence: 5
          PlayID: 1
          QuarterName: QuarterName
          Created: Created
          ScoringPlay:
            Quarter: Quarter
            GameKey: GameKey
            AwayTeam: AwayTeam
            HomeTeam: HomeTeam
            AwayScore: 4
            ScoreID: 9
            Sequence: 8
            Date: Date
            HomeScore: 8
            SeasonType: 9
            PlayDescription: PlayDescription
            TimeRemaining: TimeRemaining
            ScoringPlayID: 1
            Team: Team
            Season: 3
            Week: 0
          TimeRemainingSeconds: 8
          Type: Type
          PlayTime: PlayTime
          YardsGained: 3
          Opponent: Opponent
          Team: Team
          YardLine: 7
          Distance: 0
        - QuarterID: 6
          Down: 6
          Description: Description
          IsScoringPlay: true
          Updated: Updated
          TimeRemainingMinutes: 5
          YardsToEndZone: 3
          YardLineTerritory: YardLineTerritory
          PlayStats:
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          - BlockedKicks: 9
            PlayerID: 3
            Safeties: 4
            FumblesRecovered: 8
            RushingTouchdowns: 9
            ReceivingTouchdowns: 4
            Receptions: 9
            FieldGoalReturns: 1
            TwoPointConversionReturns: 1
            PenaltyYards: 8
            Name: Name
            Penalties: 4
            ReceivingTargets: 1
            RushingAttempts: 0
            TwoPointConversionAttempts: 3
            FieldGoalReturnTouchdowns: 7
            KickReturns: 2
            AssistedTackles: 5
            Fumbles: 9
            InterceptionReturnTouchdowns: 9
            Kickoffs: 5
            Updated: Updated
            FumblesForced: 9
            TacklesForLoss: 4
            KickoffTouchbacks: 6
            PassingAttempts: 3
            PassingTouchdowns: 6
            Sequence: 6
            FieldGoalsHadBlocked: 6
            FieldGoalsYards: 1
            KickReturnTouchdowns: 6
            PassingInterceptions: 7
            PuntYards: 0
            PuntReturns: 3
            Punts: 6
            TwoPointConversionPasses: 0
            TwoPointConversionReceptions: 2
            ExtraPointsMade: 4
            FieldGoalReturnYards: 1
            BlockedKickReturnYards: 2
            BlockedKickReturns: 7
            PassesDefended: 6
            InterceptionReturnYards: 6
            KickReturnYards: 1
            FumbleReturnTouchdowns: 4
            PuntReturnTouchdowns: 7
            PassingSackYards: 0
            PlayStatID: 3
            PlayID: 7
            Direction: Direction
            TwoPointConversionRuns: 8
            ExtraPointsAttempted: 3
            PuntReturnYards: 5
            Created: Created
            SoloTackles: 8
            BlockedKickReturnTouchdowns: 5
            FieldGoalsAttempted: 1
            Opponent: Opponent
            PuntsHadBlocked: 4
            Team: Team
            PassingSacks: 7
            Sacks: 5.507386964179881
            ExtraPointsHadBlocked: 2
            KickoffYards: 6
            ReceivingYards: 7
            HomeOrAway: HomeOrAway
            FumbleReturnYards: 5
            Interceptions: 3
            PassingYards: 0
            PuntTouchbacks: 4
            SackYards: 7.933506881737151
            PassingCompletions: 3
            RushingYards: 0
            FieldGoalsMade: 7
            FumblesLost: 6
          Sequence: 5
          PlayID: 1
          QuarterName: QuarterName
          Created: Created
          ScoringPlay:
            Quarter: Quarter
            GameKey: GameKey
            AwayTeam: AwayTeam
            HomeTeam: HomeTeam
            AwayScore: 4
            ScoreID: 9
            Sequence: 8
            Date: Date
            HomeScore: 8
            SeasonType: 9
            PlayDescription: PlayDescription
            TimeRemaining: TimeRemaining
            ScoringPlayID: 1
            Team: Team
            Season: 3
            Week: 0
          TimeRemainingSeconds: 8
          Type: Type
          PlayTime: PlayTime
          YardsGained: 3
          Opponent: Opponent
          Team: Team
          YardLine: 7
          Distance: 0
        Quarters:
        - QuarterID: 0
          Description: Description
          HomeTeamScore: 5
          Number: 7
          Updated: Updated
          AwayTeamScore: 9
          ScoreID: 3
          Created: Created
          Name: Name
        - QuarterID: 0
          Description: Description
          HomeTeamScore: 5
          Number: 7
          Updated: Updated
          AwayTeamScore: 9
          ScoreID: 3
          Created: Created
          Name: Name
      properties:
        Plays:
          items:
            $ref: '#/components/schemas/Play'
          type: array
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          type: array
        Score:
          $ref: '#/components/schemas/Score'
    PlayStat:
      example:
        BlockedKicks: 9
        PlayerID: 3
        Safeties: 4
        FumblesRecovered: 8
        RushingTouchdowns: 9
        ReceivingTouchdowns: 4
        Receptions: 9
        FieldGoalReturns: 1
        TwoPointConversionReturns: 1
        PenaltyYards: 8
        Name: Name
        Penalties: 4
        ReceivingTargets: 1
        RushingAttempts: 0
        TwoPointConversionAttempts: 3
        FieldGoalReturnTouchdowns: 7
        KickReturns: 2
        AssistedTackles: 5
        Fumbles: 9
        InterceptionReturnTouchdowns: 9
        Kickoffs: 5
        Updated: Updated
        FumblesForced: 9
        TacklesForLoss: 4
        KickoffTouchbacks: 6
        PassingAttempts: 3
        PassingTouchdowns: 6
        Sequence: 6
        FieldGoalsHadBlocked: 6
        FieldGoalsYards: 1
        KickReturnTouchdowns: 6
        PassingInterceptions: 7
        PuntYards: 0
        PuntReturns: 3
        Punts: 6
        TwoPointConversionPasses: 0
        TwoPointConversionReceptions: 2
        ExtraPointsMade: 4
        FieldGoalReturnYards: 1
        BlockedKickReturnYards: 2
        BlockedKickReturns: 7
        PassesDefended: 6
        InterceptionReturnYards: 6
        KickReturnYards: 1
        FumbleReturnTouchdowns: 4
        PuntReturnTouchdowns: 7
        PassingSackYards: 0
        PlayStatID: 3
        PlayID: 7
        Direction: Direction
        TwoPointConversionRuns: 8
        ExtraPointsAttempted: 3
        PuntReturnYards: 5
        Created: Created
        SoloTackles: 8
        BlockedKickReturnTouchdowns: 5
        FieldGoalsAttempted: 1
        Opponent: Opponent
        PuntsHadBlocked: 4
        Team: Team
        PassingSacks: 7
        Sacks: 5.507386964179881
        ExtraPointsHadBlocked: 2
        KickoffYards: 6
        ReceivingYards: 7
        HomeOrAway: HomeOrAway
        FumbleReturnYards: 5
        Interceptions: 3
        PassingYards: 0
        PuntTouchbacks: 4
        SackYards: 7.933506881737151
        PassingCompletions: 3
        RushingYards: 0
        FieldGoalsMade: 7
        FumblesLost: 6
      properties:
        AssistedTackles:
          nullable: true
          type: integer
        BlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        BlockedKickReturnYards:
          nullable: true
          type: integer
        BlockedKickReturns:
          nullable: true
          type: integer
        BlockedKicks:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        Direction:
          nullable: true
          type: string
        ExtraPointsAttempted:
          nullable: true
          type: integer
        ExtraPointsHadBlocked:
          nullable: true
          type: integer
        ExtraPointsMade:
          nullable: true
          type: integer
        FieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        FieldGoalReturnYards:
          nullable: true
          type: integer
        FieldGoalReturns:
          nullable: true
          type: integer
        FieldGoalsAttempted:
          nullable: true
          type: integer
        FieldGoalsHadBlocked:
          nullable: true
          type: integer
        FieldGoalsMade:
          nullable: true
          type: integer
        FieldGoalsYards:
          nullable: true
          type: integer
        FumbleReturnTouchdowns:
          nullable: true
          type: integer
        FumbleReturnYards:
          nullable: true
          type: integer
        Fumbles:
          nullable: true
          type: integer
        FumblesForced:
          nullable: true
          type: integer
        FumblesLost:
          nullable: true
          type: integer
        FumblesRecovered:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        InterceptionReturnTouchdowns:
          nullable: true
          type: integer
        InterceptionReturnYards:
          nullable: true
          type: integer
        Interceptions:
          nullable: true
          type: integer
        KickReturnTouchdowns:
          nullable: true
          type: integer
        KickReturnYards:
          nullable: true
          type: integer
        KickReturns:
          nullable: true
          type: integer
        KickoffTouchbacks:
          nullable: true
          type: integer
        KickoffYards:
          nullable: true
          type: integer
        Kickoffs:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Opponent:
          nullable: true
          type: string
        PassesDefended:
          nullable: true
          type: integer
        PassingAttempts:
          nullable: true
          type: integer
        PassingCompletions:
          nullable: true
          type: integer
        PassingInterceptions:
          nullable: true
          type: integer
        PassingSackYards:
          nullable: true
          type: integer
        PassingSacks:
          nullable: true
          type: integer
        PassingTouchdowns:
          nullable: true
          type: integer
        PassingYards:
          nullable: true
          type: integer
        Penalties:
          nullable: true
          type: integer
        PenaltyYards:
          nullable: true
          type: integer
        PlayID:
          nullable: false
          type: integer
        PlayStatID:
          nullable: false
          type: integer
        PlayerID:
          nullable: false
          type: integer
        PuntReturnTouchdowns:
          nullable: true
          type: integer
        PuntReturnYards:
          nullable: true
          type: integer
        PuntReturns:
          nullable: true
          type: integer
        PuntTouchbacks:
          nullable: true
          type: integer
        PuntYards:
          nullable: true
          type: integer
        Punts:
          nullable: true
          type: integer
        PuntsHadBlocked:
          nullable: true
          type: integer
        ReceivingTargets:
          nullable: true
          type: integer
        ReceivingTouchdowns:
          nullable: true
          type: integer
        ReceivingYards:
          nullable: true
          type: integer
        Receptions:
          nullable: true
          type: integer
        RushingAttempts:
          nullable: true
          type: integer
        RushingTouchdowns:
          nullable: true
          type: integer
        RushingYards:
          nullable: true
          type: integer
        SackYards:
          nullable: true
          type: number
        Sacks:
          nullable: true
          type: number
        Safeties:
          nullable: true
          type: integer
        Sequence:
          nullable: false
          type: integer
        SoloTackles:
          nullable: true
          type: integer
        TacklesForLoss:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TwoPointConversionAttempts:
          nullable: true
          type: integer
        TwoPointConversionPasses:
          nullable: true
          type: integer
        TwoPointConversionReceptions:
          nullable: true
          type: integer
        TwoPointConversionReturns:
          nullable: true
          type: integer
        TwoPointConversionRuns:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Quarter:
      example:
        QuarterID: 0
        Description: Description
        HomeTeamScore: 5
        Number: 7
        Updated: Updated
        AwayTeamScore: 9
        ScoreID: 3
        Created: Created
        Name: Name
      properties:
        AwayTeamScore:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        HomeTeamScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        QuarterID:
          nullable: false
          type: integer
        ScoreID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
    Score:
      example:
        AwayScoreOvertime: 4
        HomeScoreQuarter2: 1
        Quarter: Quarter
        HomeScoreQuarter1: 3
        HomeScoreQuarter4: 9
        AwayTeam: AwayTeam
        HomeScoreQuarter3: 3
        Has3rdQuarterStarted: true
        ForecastDescription: ForecastDescription
        HomeTeamMoneyLine: 7
        HomeTeamID: 7
        ForecastTempHigh: 6
        DateTime: DateTime
        Has2ndQuarterStarted: true
        Has1stQuarterStarted: true
        LastUpdated: LastUpdated
        Distance: Distance
        ForecastWindSpeed: 9
        OverPayout: 9
        Status: Status
        AwayScoreQuarter4: 4
        HomeTeam: HomeTeam
        AwayScoreQuarter1: 0
        AwayScoreQuarter3: 7
        AwayScore: 8
        AwayScoreQuarter2: 0
        Channel: Channel
        HomeTimeouts: 7
        IsOvertime: true
        NeutralVenue: true
        StadiumID: 6
        IsInProgress: true
        IsOver: true
        AwayRotationNumber: 3
        PointSpreadAwayTeamMoneyLine: 3
        GeoLong: 1.2555055362323109
        GlobalAwayTeamID: 3
        DateTimeUTC: DateTimeUTC
        Canceled: true
        AwayTeamMoneyLine: 9
        Week: 2
        GameEndDateTime: GameEndDateTime
        GeoLat: 1.3949519358941398
        HomeRotationNumber: 4
        HasStarted: true
        YardLineTerritory: YardLineTerritory
        AwayTeamID: 2
        AwayTimeouts: 0
        HomeScore: 5
        LastPlay: LastPlay
        RefereeID: 2
        ForecastWindChill: 6
        UnderPayout: 0
        GlobalHomeTeamID: 1
        Season: 4
        YardLine: 5
        DownAndDistance: DownAndDistance
        GlobalGameID: 5
        Attendance: 2
        QuarterDescription: QuarterDescription
        StadiumDetails:
          Type: Type
          GeoLat: 4.141296055235948
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 8.910869026866926
          City: City
          Name: Name
          PlayingSurface: PlayingSurface
          StadiumID: 2
        Down: 2
        GameKey: GameKey
        HomeScoreOvertime: 5
        ScoreID: 9
        OverUnder: 1.7045651386993
        Date: Date
        SeasonType: 8
        PointSpread: 4.4935252719377825
        Possession: Possession
        Closed: true
        TimeRemaining: TimeRemaining
        ForecastTempLow: 4
        RedZone: RedZone
        Has4thQuarterStarted: true
        PointSpreadHomeTeamMoneyLine: 8
        Day: Day
      properties:
        Attendance:
          nullable: false
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayScore:
          nullable: true
          type: integer
        AwayScoreOvertime:
          nullable: true
          type: integer
        AwayScoreQuarter1:
          nullable: true
          type: integer
        AwayScoreQuarter2:
          nullable: true
          type: integer
        AwayScoreQuarter3:
          nullable: true
          type: integer
        AwayScoreQuarter4:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTimeouts:
          nullable: true
          type: integer
        Canceled:
          nullable: true
          type: boolean
        Channel:
          nullable: true
          type: string
        Closed:
          nullable: true
          type: boolean
        Date:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        Distance:
          nullable: true
          type: string
        Down:
          nullable: true
          type: integer
        DownAndDistance:
          nullable: true
          type: string
        ForecastDescription:
          nullable: true
          type: string
        ForecastTempHigh:
          nullable: true
          type: integer
        ForecastTempLow:
          nullable: true
          type: integer
        ForecastWindChill:
          nullable: true
          type: integer
        ForecastWindSpeed:
          nullable: true
          type: integer
        GameEndDateTime:
          nullable: true
          type: string
        GameKey:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        GlobalAwayTeamID:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalHomeTeamID:
          nullable: true
          type: integer
        Has1stQuarterStarted:
          nullable: false
          type: boolean
        Has2ndQuarterStarted:
          nullable: false
          type: boolean
        Has3rdQuarterStarted:
          nullable: false
          type: boolean
        Has4thQuarterStarted:
          nullable: false
          type: boolean
        HasStarted:
          nullable: false
          type: boolean
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeScore:
          nullable: true
          type: integer
        HomeScoreOvertime:
          nullable: true
          type: integer
        HomeScoreQuarter1:
          nullable: true
          type: integer
        HomeScoreQuarter2:
          nullable: true
          type: integer
        HomeScoreQuarter3:
          nullable: true
          type: integer
        HomeScoreQuarter4:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTimeouts:
          nullable: true
          type: integer
        IsInProgress:
          nullable: false
          type: boolean
        IsOver:
          nullable: false
          type: boolean
        IsOvertime:
          nullable: false
          type: boolean
        LastPlay:
          nullable: true
          type: string
        LastUpdated:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Possession:
          nullable: true
          type: string
        Quarter:
          nullable: true
          type: string
        QuarterDescription:
          nullable: true
          type: string
        RedZone:
          nullable: true
          type: string
        RefereeID:
          nullable: true
          type: integer
        ScoreID:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        StadiumDetails:
          $ref: '#/components/schemas/Stadium'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemaining:
          nullable: true
          type: string
        UnderPayout:
          nullable: true
          type: integer
        Week:
          nullable: false
          type: integer
        YardLine:
          nullable: true
          type: integer
        YardLineTerritory:
          nullable: true
          type: string
    ScoringPlay:
      example:
        Quarter: Quarter
        GameKey: GameKey
        AwayTeam: AwayTeam
        HomeTeam: HomeTeam
        AwayScore: 4
        ScoreID: 9
        Sequence: 8
        Date: Date
        HomeScore: 8
        SeasonType: 9
        PlayDescription: PlayDescription
        TimeRemaining: TimeRemaining
        ScoringPlayID: 1
        Team: Team
        Season: 3
        Week: 0
      properties:
        AwayScore:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        Date:
          nullable: true
          type: string
        GameKey:
          nullable: true
          type: string
        HomeScore:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        PlayDescription:
          nullable: true
          type: string
        Quarter:
          nullable: true
          type: string
        ScoreID:
          nullable: false
          type: integer
        ScoringPlayID:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TimeRemaining:
          nullable: true
          type: string
        Week:
          nullable: false
          type: integer
    Stadium:
      example:
        Type: Type
        GeoLat: 4.141296055235948
        Capacity: 6
        State: State
        Country: Country
        GeoLong: 8.910869026866926
        City: City
        Name: Name
        PlayingSurface: PlayingSurface
        StadiumID: 2
      properties:
        Capacity:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        PlayingSurface:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        State:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

