openapi: 3.0.1
info:
  title: AppServiceCertificateOrders API Client
  version: 2015-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2015-08-01/AppServiceCertificateOrders.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-AppServiceCertificateOrders
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      description: List all certificate orders in a subscription.
      operationId: AppServiceCertificateOrders_List
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrderCollection'
          description: OK
      summary: List all certificate orders in a subscription.
      tags:
      - AppServiceCertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation:
    post:
      description: Validate information for a certificate order.
      operationId: AppServiceCertificateOrders_ValidatePurchaseInformation
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrder'
        description: Information for a certificate order.
        required: true
      responses:
        "204":
          content: {}
          description: No Content
      summary: Validate information for a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: appServiceCertificateOrder
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders
  : get:
      description: Get certificate orders in a resource group.
      operationId: AppServiceCertificateOrders_ListByResourceGroup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrderCollection'
          description: OK
      summary: Get certificate orders in a resource group.
      tags:
      - AppServiceCertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}
  : delete:
      description: Delete an existing certificate order.
      operationId: AppServiceCertificateOrders_Delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted certificate order.
        "204":
          content: {}
          description: Certificate order does not exist.
      summary: Delete an existing certificate order.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
    get:
      description: Get a certificate order.
      operationId: AppServiceCertificateOrders_Get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order..
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: OK
      summary: Get a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
    patch:
      description: Create or update a certificate purchase order.
      operationId: AppServiceCertificateOrders_Update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrderPatchResource'
        description: Distinguished name to use for the certificate order.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order creation operation is in progress
      summary: Create or update a certificate purchase order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: certificateDistinguishedName
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a certificate purchase order.
      operationId: AppServiceCertificateOrders_CreateOrUpdate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrder'
        description: Distinguished name to use for the certificate order.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order creation operation is in progress
      summary: Create or update a certificate purchase order.
      tags:
      - AppServiceCertificateOrders
      x-ms-long-running-operation: true
      x-codegen-request-body-name: certificateDistinguishedName
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates
  : get:
      description: List all certificates associated with a certificate order.
      operationId: AppServiceCertificateOrders_ListCertificates
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateCollection'
          description: OK
      summary: List all certificates associated with a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}
  : delete:
      description: Delete the certificate associated with a certificate order.
      operationId: AppServiceCertificateOrders_DeleteCertificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted certificate.
        "204":
          content: {}
          description: Certificate does not exist.
      summary: Delete the certificate associated with a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
    get:
      description: Get the certificate associated with a certificate order.
      operationId: AppServiceCertificateOrders_GetCertificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: OK
      summary: Get the certificate associated with a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
    patch:
      description: Creates or updates a certificate and associates with key vault
        secret.
      operationId: AppServiceCertificateOrders_UpdateCertificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificatePatchResource'
        description: Key vault certificate resource Id.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate creation operation is in progress
      summary: Creates or updates a certificate and associates with key vault secret.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: keyVaultCertificate
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a certificate and associates with key vault
        secret.
      operationId: AppServiceCertificateOrders_CreateOrUpdateCertificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateResource'
        description: Key vault certificate resource Id.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate creation operation is in progress
      summary: Creates or updates a certificate and associates with key vault secret.
      tags:
      - AppServiceCertificateOrders
      x-ms-long-running-operation: true
      x-codegen-request-body-name: keyVaultCertificate
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/reissue
  : post:
      description: Reissue an existing certificate order.
      operationId: AppServiceCertificateOrders_Reissue
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
        description: Parameters for the reissue.
        required: true
      responses:
        "204":
          content: {}
          description: No Content
      summary: Reissue an existing certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: reissueCertificateOrderRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/renew
  : post:
      description: Renew an existing certificate order.
      operationId: AppServiceCertificateOrders_Renew
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
        description: Renew parameters
        required: true
      responses:
        "204":
          content: {}
          description: No Content
      summary: Renew an existing certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: renewCertificateOrderRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendEmail
  : post:
      description: Resend certificate email.
      operationId: AppServiceCertificateOrders_ResendEmail
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Resend certificate email.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendRequestEmails
  : post:
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_ResendRequestEmails
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrders_ResendRequestEmails_request'
        description: Email address
        required: true
      responses:
        "204":
          content: {}
          description: No Content
      summary: Verify domain ownership for this certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: nameIdentifier
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/retrieveSiteSeal
  : post:
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_RetrieveSiteSeal
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteSealRequest'
        description: Site seal request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteSeal'
          description: OK
      summary: Verify domain ownership for this certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: siteSealRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/verifyDomainOwnership
  : post:
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_VerifyDomainOwnership
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Verify domain ownership for this certificate order.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions
  : post:
      description: Retrieve the list of certificate actions.
      operationId: AppServiceCertificateOrders_RetrieveCertificateActions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
          description: OK
      summary: Retrieve the list of certificate actions.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory
  : post:
      description: Retrieve email history.
      operationId: AppServiceCertificateOrders_RetrieveCertificateEmailHistory
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
          description: OK
      summary: Retrieve email history.
      tags:
      - AppServiceCertificateOrders
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AppServiceCertificate:
      description: Key Vault container for a certificate that is purchased through
        Azure.
      example:
        keyVaultSecretName: keyVaultSecretName
        provisioningState: Initialized
        keyVaultId: keyVaultId
      properties:
        keyVaultId:
          description: Key Vault resource Id.
          type: string
        keyVaultSecretName:
          description: Key Vault secret name.
          type: string
        provisioningState:
          description: Status of the Key Vault secret.
          enum:
          - Initialized
          - WaitingOnCertificateOrder
          - Succeeded
          - CertificateOrderFailed
          - OperationNotPermittedOnKeyVault
          - AzureServiceUnauthorizedToAccessKeyVault
          - KeyVaultDoesNotExist
          - KeyVaultSecretDoesNotExist
          - UnknownError
          - ExternalPrivateKey
          - Unknown
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: KeyVaultSecretStatus
      type: object
    AppServiceCertificateCollection:
      description: Collection of certificate order certificates.
      example:
        value:
        - properties:
            keyVaultSecretName: keyVaultSecretName
            provisioningState: Initialized
            keyVaultId: keyVaultId
        - properties:
            keyVaultSecretName: keyVaultSecretName
            provisioningState: Initialized
            keyVaultId: keyVaultId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceCertificateResource'
          type: array
      required:
      - value
      type: object
    AppServiceCertificateOrder:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: SSL certificate purchase order.
      example:
        properties: "{}"
      properties:
        properties:
          description: AppServiceCertificateOrder resource specific properties
          properties:
            appServiceCertificateNotRenewableReasons:
              description: Reasons why App Service Certificate is not renewable at
                the current moment.
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
              readOnly: true
              type: array
            autoRenew:
              default: true
              description: "<code>true</code> if the certificate should be automatically\
                \ renewed when it expires; otherwise, <code>false</code>."
              type: boolean
            certificates:
              additionalProperties:
                $ref: '#/components/schemas/AppServiceCertificate'
              description: State of the Key Vault secret.
              type: object
            csr:
              description: Last CSR that was created for this order.
              type: string
              x-ms-mutability:
              - create
              - read
            distinguishedName:
              description: Certificate distinguished name.
              type: string
              x-ms-mutability:
              - create
              - read
            domainVerificationToken:
              description: Domain verification token.
              readOnly: true
              type: string
            expirationTime:
              description: Certificate expiration time.
              format: date-time
              readOnly: true
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
            isPrivateKeyExternal:
              description: "<code>true</code> if private key is external; otherwise,\
                \ <code>false</code>."
              readOnly: true
              type: boolean
            keySize:
              default: 2048
              description: Certificate key size.
              format: int32
              type: integer
              x-ms-mutability:
              - create
              - read
            lastCertificateIssuanceTime:
              description: Certificate last issuance time.
              format: date-time
              readOnly: true
              type: string
            nextAutoRenewalTimeStamp:
              description: Time stamp when the certificate would be auto renewed next
              format: date-time
              readOnly: true
              type: string
            productType:
              description: Certificate product type.
              enum:
              - StandardDomainValidatedSsl
              - StandardDomainValidatedWildCardSsl
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateProductType
              x-ms-mutability:
              - create
              - read
            provisioningState:
              description: Status of certificate order.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            root:
              $ref: '#/components/schemas/CertificateDetails'
            serialNumber:
              description: Current serial number of the certificate.
              readOnly: true
              type: string
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
            status:
              description: Current order status.
              enum:
              - Pendingissuance
              - Issued
              - Revoked
              - Canceled
              - Denied
              - Pendingrevocation
              - PendingRekey
              - Unused
              - Expired
              - NotSubmitted
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderStatus
            validityInYears:
              default: 1
              description: Duration in years (must be between 1 and 3).
              format: int32
              maximum: 3
              minimum: 1
              type: integer
              x-ms-mutability:
              - create
              - read
          required:
          - productType
          type: object
          x-ms-client-flatten: true
    AppServiceCertificateOrderCollection:
      description: Collection of certificate orders.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceCertificateOrder'
          type: array
      required:
      - value
      type: object
    AppServiceCertificateOrderPatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a certificate order that is purchased through
        Azure.
      example:
        properties: "{}"
      properties:
        properties:
          description: AppServiceCertificateOrderPatchResource resource specific properties
          properties:
            appServiceCertificateNotRenewableReasons:
              description: Reasons why App Service Certificate is not renewable at
                the current moment.
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
              readOnly: true
              type: array
            autoRenew:
              default: true
              description: "<code>true</code> if the certificate should be automatically\
                \ renewed when it expires; otherwise, <code>false</code>."
              type: boolean
            certificates:
              additionalProperties:
                $ref: '#/components/schemas/AppServiceCertificate'
              description: State of the Key Vault secret.
              type: object
            csr:
              description: Last CSR that was created for this order.
              type: string
              x-ms-mutability:
              - create
              - read
            distinguishedName:
              description: Certificate distinguished name.
              type: string
              x-ms-mutability:
              - create
              - read
            domainVerificationToken:
              description: Domain verification token.
              readOnly: true
              type: string
            expirationTime:
              description: Certificate expiration time.
              format: date-time
              readOnly: true
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
            isPrivateKeyExternal:
              description: "<code>true</code> if private key is external; otherwise,\
                \ <code>false</code>."
              readOnly: true
              type: boolean
            keySize:
              default: 2048
              description: Certificate key size.
              format: int32
              type: integer
              x-ms-mutability:
              - create
              - read
            lastCertificateIssuanceTime:
              description: Certificate last issuance time.
              format: date-time
              readOnly: true
              type: string
            nextAutoRenewalTimeStamp:
              description: Time stamp when the certificate would be auto renewed next
              format: date-time
              readOnly: true
              type: string
            productType:
              description: Certificate product type.
              enum:
              - StandardDomainValidatedSsl
              - StandardDomainValidatedWildCardSsl
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateProductType
              x-ms-mutability:
              - create
              - read
            provisioningState:
              description: Status of certificate order.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            root:
              $ref: '#/components/schemas/CertificateDetails'
            serialNumber:
              description: Current serial number of the certificate.
              readOnly: true
              type: string
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
            status:
              description: Current order status.
              enum:
              - Pendingissuance
              - Issued
              - Revoked
              - Canceled
              - Denied
              - Pendingrevocation
              - PendingRekey
              - Unused
              - Expired
              - NotSubmitted
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderStatus
            validityInYears:
              default: 1
              description: Duration in years (must be between 1 and 3).
              format: int32
              maximum: 3
              minimum: 1
              type: integer
              x-ms-mutability:
              - create
              - read
          required:
          - productType
          type: object
          x-ms-client-flatten: true
    AppServiceCertificatePatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Key Vault container ARM resource for a certificate that is purchased
        through Azure.
      example:
        properties:
          keyVaultSecretName: keyVaultSecretName
          provisioningState: Initialized
          keyVaultId: keyVaultId
      properties:
        properties:
          $ref: '#/components/schemas/AppServiceCertificate'
    AppServiceCertificateResource:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: Key Vault container ARM resource for a certificate that is purchased
        through Azure.
      example:
        properties:
          keyVaultSecretName: keyVaultSecretName
          provisioningState: Initialized
          keyVaultId: keyVaultId
      properties:
        properties:
          $ref: '#/components/schemas/AppServiceCertificate'
    CertificateDetails:
      description: SSL certificate details.
      properties:
        issuer:
          description: Certificate Issuer.
          readOnly: true
          type: string
        notAfter:
          description: Date Certificate is valid to.
          format: date-time
          readOnly: true
          type: string
        notBefore:
          description: Date Certificate is valid from.
          format: date-time
          readOnly: true
          type: string
        rawData:
          description: Raw certificate data.
          readOnly: true
          type: string
        serialNumber:
          description: Certificate Serial Number.
          readOnly: true
          type: string
        signatureAlgorithm:
          description: Certificate Signature algorithm.
          readOnly: true
          type: string
        subject:
          description: Certificate Subject.
          readOnly: true
          type: string
        thumbprint:
          description: Certificate Thumbprint.
          readOnly: true
          type: string
        version:
          description: Certificate Version.
          format: int32
          readOnly: true
          type: integer
      type: object
    CertificateEmail:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: SSL certificate email.
      example:
        properties: "{}"
      properties:
        properties:
          description: CertificateEmail resource specific properties
          properties:
            emailId:
              description: Email id.
              type: string
            timeStamp:
              description: Time stamp.
              format: date-time
              type: string
          type: object
          x-ms-client-flatten: true
    CertificateOrderAction:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Certificate order action.
      example:
        properties: "{}"
      properties:
        properties:
          description: CertificateOrderAction resource specific properties
          properties:
            createdAt:
              description: Time at which the certificate action was performed.
              format: date-time
              type: string
            type:
              description: Action type.
              enum:
              - CertificateIssued
              - CertificateOrderCanceled
              - CertificateOrderCreated
              - CertificateRevoked
              - DomainValidationComplete
              - FraudDetected
              - OrgNameChange
              - OrgValidationComplete
              - SanDrop
              - FraudCleared
              - CertificateExpired
              - CertificateExpirationWarning
              - FraudDocumentationRequired
              - Unknown
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderActionType
          type: object
          x-ms-client-flatten: true
    ReissueCertificateOrderRequest:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing certificate reissue request.
      example:
        properties: "{}"
      properties:
        properties:
          description: ReissueCertificateOrderRequest resource specific properties
          properties:
            csr:
              description: Csr to be used for re-key operation.
              type: string
            delayExistingRevokeInHours:
              description: Delay in hours to revoke existing certificate after the
                new certificate is issued.
              format: int32
              type: integer
            isPrivateKeyExternal:
              description: Should we change the ASC type (from managed private key
                to external private key and vice versa).
              type: boolean
            keySize:
              description: Certificate Key Size.
              format: int32
              type: integer
          type: object
          x-ms-client-flatten: true
    RenewCertificateOrderRequest:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing certificate renew request.
      example:
        properties: "{}"
      properties:
        properties:
          description: RenewCertificateOrderRequest resource specific properties
          properties:
            csr:
              description: Csr to be used for re-key operation.
              type: string
            isPrivateKeyExternal:
              description: Should we change the ASC type (from managed private key
                to external private key and vice versa).
              type: boolean
            keySize:
              description: Certificate Key Size.
              format: int32
              type: integer
          type: object
          x-ms-client-flatten: true
    SiteSeal:
      description: Site seal
      example:
        html: html
      properties:
        html:
          description: HTML snippet
          type: string
          x-ms-client-flatten: true
      required:
      - html
      type: object
    SiteSealRequest:
      description: Site seal request.
      example:
        lightTheme: true
        locale: locale
      properties:
        lightTheme:
          description: "If <code>true</code> use the light color theme for site seal;\
            \ otherwise, use the default color theme."
          type: boolean
        locale:
          description: Locale of site seal.
          type: string
      type: object
    AppServiceCertificateOrders_ResendRequestEmails_request:
      description: Identifies an object.
      properties:
        name:
          description: Name of the object.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

