openapi: 3.0.1
info:
  contact:
    email: NPROneEnterprise@npr.org
    name: NPR One Enterprise Team
    url: https://dev.npr.org
  description: Audio recommendations tailored to a user's preferences
  termsOfService: https://dev.npr.org/guide/prerequisites/terms-of-use
  title: NPR Listening Service
  version: "2"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/NPR/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://listening.api.npr.org/v2/swagger.json
    version: "2.0"
  x-providerName: npr.org
  x-serviceName: listening
externalDocs:
  description: Learn more at the NPR One Developer Center
  url: https://dev.npr.org/guide/services/listening
servers:
- url: https://listening.api.npr.org/
paths:
  /v2/aggregation/{aggId}/recommendations:
    get:
      description: This endpoint provides a list of recent audio items associated
        with the aggregation along with metadata about the aggregation.
      operationId: getAggRecommendations
      parameters:
      - description: "ID of an aggregation such as a program or podcast. If the specified\
          \ ID is a program that publishes rundowns, the latest rundown will be returned."
        in: path
        name: aggId
        required: true
        schema:
          format: int64
          type: integer
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "The result to start with. Allows paging through the episodes\
          \ of a podcast or program, with the default, `startNum=0`, being the most\
          \ recent episode. Ignored for programs that publish a rundown."
        in: query
        name: startNum
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationAudioItemListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/AggregationAudioItemListDocument'
          description: A list of audio items from the specified aggregation
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The resource with the requested ID could not be found, and\
            \ the server was unable to complete the request."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get a set of recommendations for an aggregation independent of the
        user's listening history
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/channels:
    get:
      description: These channels allow the user to specify a focus for the content
        returned in the recommendations endpoint.
      operationId: getChannels
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "If set to `true`, this call will return only channels that should\
          \ be shown in the client's `Explore` view"
        in: query
        name: exploreOnly
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ChannelsDocument'
          description: A list of channels
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get the list of available channels
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/history:
    get:
      description: "This endpoint provides the list of recently-rated audio recommendations\
        \ that the logged-in user has consumed. Some rated recommendations are filtered,\
        \ such as sponsorship and donation."
      operationId: getHistory
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
          description: A list of audio items (recommendations)
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get recent ratings the logged-in user has submitted
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/organizations/{orgId}/categories/{category}/recommendations:
    get:
      description: This endpoint provides a list of recommendations from a category
        of content from  an organization.
      operationId: getOrganizationCategory
      parameters:
      - description: "ID of an organization, such as an NPR One station"
        in: path
        name: orgId
        required: true
        schema:
          format: int64
          type: integer
      - description: "One of the three categories of content - newscast, story, or\
          \ podcast"
        in: path
        name: category
        required: true
        schema:
          default: story
          enum:
          - newscast
          - story
          - podcast
          type: string
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCategoryAudioListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/OrganizationCategoryAudioListDocument'
          description: A list of audio items from a category of content from an organization
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The resource with the requested ID could not be found, and\
            \ the server was unable to complete the request."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get a list of recommendations from a category of content from an organization
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/organizations/{orgId}/recommendations:
    get:
      description: This endpoint provides a variety of details about an organization
        including various lists of recent audio items.
      operationId: getOrganizationOverview
      parameters:
      - description: "ID of an organization, such as an NPR One station"
        in: path
        name: orgId
        required: true
        schema:
          format: int64
          type: integer
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationOverviewDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/OrganizationOverviewDocument'
          description: A list of up to four different categories of audio items from
            a specific organization
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The resource with the requested ID could not be found, and\
            \ the server was unable to complete the request."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get a variety of details about an organization including various lists
        of recent audio items
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/promo/recommendations:
    get:
      description: Gets the most recently played promo for which the user has neither
        tapped through the promo or listened to the target story.
      operationId: getPromo
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
          description: A list of audio items (recommendations)
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Retrieve the most recent promo audio heard by the logged-in user
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/ratings:
    post:
      description: |-
        This endpoint is the main mechanism for providing feedback from the user to NPR about the recommendations that are obtained from `GET /listening/v2/recommendations`.

        A fully-populated link to this endpoint is returned with each individual recommendation and is located in the AudioItemDocument under the `links['recommendations']` object. The query parameters in this link should not be modified.
        Be sure to copy and send back the entire ratings object (RatingData), as new fields may be added to it in the future.

        This endpoint can return a blank JSON.doc or AudioItemDocument depending on the `recommend=true|false` parameter. The `recommend=true` flag allows this endpoint to both receive ratings and send back recommendations in the same call.
      operationId: postRating
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "A device-specific advertising identifier, if possible. Apple's\
          \ IDFA is an example."
        in: header
        name: X-Advertising-ID
        schema:
          type: string
      - description: Determines the focus of the recommendations returned. Channel
          `npr` is recommended for most use cases.
        in: query
        name: channel
        schema:
          default: npr
          enum:
          - npr
          - followed
          - recommended
          - emailstories
          - emailprograms
          - lapsedusersemail
          - ongoing email
          - newscasts
          - shows
          type: string
      - description: "If set to `false`, this call will return a blank document; otherwise\
          \ it will return a new recommendation object"
        in: query
        name: recommend
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/RatingData'
              type: array
        description: "A list of RatingData objects which contains data about ratings\
          \ such as the id of the content, the rating value, elapsed time and more."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
          description: "If the `recommend` param was set to `true`, this returns a\
            \ list of audio items; otherwise, a blank document is returned."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "A bad request; generally, one or more parameters passed in\
            \ were incorrect or missing"
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.write
      summary: Collect new ratings for media previously recommended to the logged-in
        user
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/recommendations:
    get:
      description: |-
        This endpoint returns a list of audio recommendations. It is designed to be used for an initial list of recommendations, and then `POST /v2/ratings?recommend=true` should be used for subsequent requests for recommendations.

        A fully-populated link to the ratings endpoint is returned with each individual recommendation and is located in the AudioItemDocument under the `links['recommendations']` object. The query parameters in this link should not be modified.
        Be sure to copy and send back the entire ratings object (RatingData), as new fields may be added to it in the future.

        A 500 will be returned if there are no eligible remaining recommendations.
      operationId: getRecommendations
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "A device-specific advertising identifier, if possible. Apple's\
          \ IDFA is an example."
        in: header
        name: X-Advertising-ID
        schema:
          type: string
      - description: Determines the focus of the recommendations returned. Channel
          `npr` is recommended for most use cases.
        in: query
        name: channel
        schema:
          default: npr
          enum:
          - npr
          - followed
          - recommended
          - emailstories
          - emailprograms
          - lapsedusersemail
          - ongoing email
          - newscasts
          - shows
          type: string
      - description: "This media was shared directly with the user; if provided, the\
          \ service will add this recommendation to the top of the list"
        in: query
        name: sharedMediaId
        schema:
          type: string
      - description: "The user received a push notification about this media; if provided,\
          \ the service will add this recommendation to the top of the list"
        in: query
        name: notifiedMediaId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/AudioItemListDocument'
          description: A list of audio items (recommendations)
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "A bad request; generally, one or more parameters passed in\
            \ were incorrect or missing"
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get a list of media for the logged-in user from NPR's recommendation
        engine
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
  /v2/search/recommendations:
    get:
      description: "In the schema shown below, SearchItemDocument is not an actual\
        \ type of returned object; the object returned by a search will be either\
        \ an AggregationAudioItemListDocument or an AudioItemDocument."
      operationId: getSearchRecommendations
      parameters:
      - description: "Your access token from the Authorization Service. Should start\
          \ with `Bearer`, followed by a space, followed by the token."
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Search terms to search on; can include URL-encoded punctuation
        in: query
        name: searchTerms
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchListDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/SearchListDocument'
          description: A list of audio and aggregation items matching the search query
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The client is not authorized to complete this request. Check
            to ensure a valid access token was passed in the headers.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "The client has exceeded the number of daily calls as per their\
            \ rate limit. For now, this only applies to prototype applications and\
            \ untrusted clients. Trusted clients will never be rate-limited, nor will\
            \ any production apps."
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: A server error
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
            application/vnd.collection.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: The system is undergoing maintenance and we are unable to fulfill
            this request. Look for a `Retry-After` header to see the predicted time
            the system will be back up.
          headers:
            Retry-After:
              description: The predicted time the system will be back up
              schema:
                format: date-time
                type: string
      security:
      - oauth2:
        - listening.readonly
      summary: Get a list of recent audio and aggregation items associated with search
        terms
      x-accepts:
      - application/json
      - application/vnd.collection.doc+json
components:
  parameters:
    Authorization:
      description: "Your access token from the Authorization Service. Should start\
        \ with `Bearer`, followed by a space, followed by the token."
      in: header
      name: Authorization
      required: true
      schema:
        type: string
    X-Advertising-ID:
      description: "A device-specific advertising identifier, if possible. Apple's\
        \ IDFA is an example."
      in: header
      name: X-Advertising-ID
      schema:
        type: string
    channel:
      description: Determines the focus of the recommendations returned. Channel `npr`
        is recommended for most use cases.
      in: query
      name: channel
      schema:
        default: npr
        enum:
        - npr
        - followed
        - recommended
        - emailstories
        - emailprograms
        - lapsedusersemail
        - ongoing email
        - newscasts
        - shows
        type: string
  responses:
    "400WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: "A bad request; generally, one or more parameters passed in were\
        \ incorrect or missing"
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "401WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: The client is not authorized to complete this request. Check to
        ensure a valid access token was passed in the headers.
    "404WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: "The resource with the requested ID could not be found, and the\
        \ server was unable to complete the request."
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "429WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: "The client has exceeded the number of daily calls as per their\
        \ rate limit. For now, this only applies to prototype applications and untrusted\
        \ clients. Trusted clients will never be rate-limited, nor will any production\
        \ apps."
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "500WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: A server error
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
    "503WithDocument":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: The system is undergoing maintenance and we are unable to fulfill
        this request. Look for a `Retry-After` header to see the predicted time the
        system will be back up.
      headers:
        Retry-After:
          description: The predicted time the system will be back up
          schema:
            format: date-time
            type: string
    ListeningSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AudioItemListDocument'
        application/vnd.collection.doc+json:
          schema:
            $ref: '#/components/schemas/AudioItemListDocument'
      description: A list of audio items (recommendations)
      headers:
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The number of seconds left in the current period
          schema:
            type: integer
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period
          schema:
            type: integer
  schemas:
    AbstractCDocLink:
      allOf:
      - $ref: '#/components/schemas/AbstractLink'
      - properties:
          content-type:
            description: The MIME type of the response of this link
            type: string
        required:
        - content-type
        type: object
    AbstractLink:
      properties:
        href:
          description: The link to be followed
          format: uri
          type: string
      required:
      - href
      type: object
    Affiliation:
      description: A program (aggregation) that a given user has shown an affiliation
        with
      example:
        notif_rated:
        - notif_rated
        - notif_rated
        following: false
        notif_following:
        - notif_following
        - notif_following
        rating: 1.4658129
        href: href
        id: 6
        title: title
        daysSinceLastListen: 0
      properties:
        daysSinceLastListen:
          description: The number of days since a user last listened to a story from
            this aggregation. Absent if user never listened to the aggregation.
          format: int32
          type: integer
        following:
          default: false
          description: "Whether or not the user is following the aggregation. When\
            \ changing affiliation status, the client is expected to toggle this value\
            \ and then send the entire object back."
          type: boolean
        href:
          description: A link to more details about the program from the NPR Story
            API
          type: string
        id:
          description: A unique identifier for the aggregation (program)
          format: int64
          type: integer
        notif_following:
          description: The topic in Firebase Cloud Messaging to which the device should
            subscribe if it supports notifications and the user wants notifications
            about the podcasts they follow.
          items:
            type: string
          type: array
        notif_rated:
          description: The topic in Firebase Cloud Messaging to which the device should
            subscribe if it supports notifications and the user wants notifications
            about the podcasts they have highly rated.
          items:
            type: string
          type: array
        rating:
          description: The user's average rating for this affiliation on a scale of
            0-1. Absent if user never listened to the aggregation.
          format: float
          type: number
        title:
          description: The title for the aggregation (program)
          type: string
      required:
      - following
      - href
      - id
      type: object
    AggregationAudioItemListDocument:
      allOf:
      - $ref: '#/components/schemas/CollectionDocument'
      - properties:
          attributes:
            $ref: '#/components/schemas/AggregationData'
          items:
            description: An array of Audio Items (recommendations)
            items:
              $ref: '#/components/schemas/AudioItemDocument'
            type: array
          links:
            $ref: '#/components/schemas/AggregationLinks'
        type: object
      description: An array of audio recommendations with additional metadata about
        the aggregation they are associated with
      example:
        attributes:
          affiliation: affiliation
          provider: NPR
          station: NPR
          description: description
          affiliationMeta:
            notif_rated:
            - notif_rated
            - notif_rated
            following: false
            notif_following:
            - notif_following
            - notif_following
            rating: 1.4658129
            href: href
            id: 6
            title: title
            daysSinceLastListen: 0
          title: title
          type: aggregation
        links:
          image:
          - image: image
            provider: provider
            rel: logo_square
            caption: caption
            producer: producer
            content-type: image/jpeg
            href: https://openapi-generator.tech
          - image: image
            provider: provider
            rel: logo_square
            caption: caption
            producer: producer
            content-type: image/jpeg
            href: https://openapi-generator.tech
          binge:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          web:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          more:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
        href: href
        items:
        - attributes:
            date: 2000-01-23T04:56:07.000+00:00
            expires: 2000-01-23T04:56:07.000+00:00
            artist: artist
            rating:
              duration: 5636
              elapsed: 2301
              origin: origin
              channel: npr
              rating: rating
              affiliations:
              - "{}"
              - "{}"
              cohort: cohort
              mediaId: mediaId
              timestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            program: program
            title: title
            type: audio
            button: button
            duration: 5961
            uid: uid
            provider: NPR
            audioTitle: audioTitle
            slug: slug
            song: song
            geofence:
              restricted: false
              countries:
              - countries
              - countries
            unavailableText: unavailableText
            album: album
            streamGuid: streamGuid
            label: label
            skippable: true
            rationale: rationale
            inFlow: true
            organization:
              donateUrl: donateUrl
              homepageUrl: homepageUrl
              name: name
              logoUrl: logoUrl
            bingeAggId: bingeAggId
            primary: true
          links:
            image:
            - image: image
              provider: provider
              rel: logo_square
              caption: caption
              producer: producer
              content-type: image/jpeg
              href: https://openapi-generator.tech
            - image: image
              provider: provider
              rel: logo_square
              caption: caption
              producer: producer
              content-type: image/jpeg
              href: https://openapi-generator.tech
            binge:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            web:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            ratings:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            action:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            audio:
            - content-type: audio/aac
              href: https://openapi-generator.tech
            - content-type: audio/aac
              href: https://openapi-generator.tech
            up:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            recommendations:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            stream-metadata:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            onramps:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
          href: href
          items:
          - "{}"
          - "{}"
          version: "1.0"
          errors:
          - "{}"
          - "{}"
        - attributes:
            date: 2000-01-23T04:56:07.000+00:00
            expires: 2000-01-23T04:56:07.000+00:00
            artist: artist
            rating:
              duration: 5636
              elapsed: 2301
              origin: origin
              channel: npr
              rating: rating
              affiliations:
              - "{}"
              - "{}"
              cohort: cohort
              mediaId: mediaId
              timestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            program: program
            title: title
            type: audio
            button: button
            duration: 5961
            uid: uid
            provider: NPR
            audioTitle: audioTitle
            slug: slug
            song: song
            geofence:
              restricted: false
              countries:
              - countries
              - countries
            unavailableText: unavailableText
            album: album
            streamGuid: streamGuid
            label: label
            skippable: true
            rationale: rationale
            inFlow: true
            organization:
              donateUrl: donateUrl
              homepageUrl: homepageUrl
              name: name
              logoUrl: logoUrl
            bingeAggId: bingeAggId
            primary: true
          links:
            image:
            - image: image
              provider: provider
              rel: logo_square
              caption: caption
              producer: producer
              content-type: image/jpeg
              href: https://openapi-generator.tech
            - image: image
              provider: provider
              rel: logo_square
              caption: caption
              producer: producer
              content-type: image/jpeg
              href: https://openapi-generator.tech
            binge:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            web:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            ratings:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            action:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            audio:
            - content-type: audio/aac
              href: https://openapi-generator.tech
            - content-type: audio/aac
              href: https://openapi-generator.tech
            up:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            recommendations:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            stream-metadata:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            onramps:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
          href: href
          items:
          - "{}"
          - "{}"
          version: "1.0"
          errors:
          - "{}"
          - "{}"
        version: "1.0"
        errors:
        - "{}"
        - "{}"
    AggregationData:
      example:
        affiliation: affiliation
        provider: NPR
        station: NPR
        description: description
        affiliationMeta:
          notif_rated:
          - notif_rated
          - notif_rated
          following: false
          notif_following:
          - notif_following
          - notif_following
          rating: 1.4658129
          href: href
          id: 6
          title: title
          daysSinceLastListen: 0
        title: title
        type: aggregation
      properties:
        affiliation:
          description: A unique identifier for the aggregation
          type: string
        affiliationMeta:
          $ref: '#/components/schemas/Affiliation'
        description:
          description: A short description or teaser
          type: string
        provider:
          default: NPR
          description: The producer of this aggregation
          type: string
        station:
          default: NPR
          description: Deprecated - clients should switch to use provider.
          type: string
        title:
          description: The title of this aggregation
          type: string
        type:
          default: aggregation
          description: The type of list returned; will always be `aggregation`; useful
            for parsing search results
          enum:
          - aggregation
          type: string
      required:
      - affiliation
      - title
      - type
      type: object
    AggregationLinks:
      example:
        image:
        - image: image
          provider: provider
          rel: logo_square
          caption: caption
          producer: producer
          content-type: image/jpeg
          href: https://openapi-generator.tech
        - image: image
          provider: provider
          rel: logo_square
          caption: caption
          producer: producer
          content-type: image/jpeg
          href: https://openapi-generator.tech
        binge:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        web:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        more:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
      properties:
        binge:
          description: One or more links to more unrated / unheard recommendations
            from this aggregation
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        image:
          description: "One or more links to an image, along with metadata for display"
          items:
            $ref: '#/components/schemas/ImageLink'
          type: array
        more:
          description: One or more links to more episodes for the aggregation
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        web:
          description: One or more links to a web page for the item
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
      type: object
    AudioItemData:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        expires: 2000-01-23T04:56:07.000+00:00
        artist: artist
        rating:
          duration: 5636
          elapsed: 2301
          origin: origin
          channel: npr
          rating: rating
          affiliations:
          - "{}"
          - "{}"
          cohort: cohort
          mediaId: mediaId
          timestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        program: program
        title: title
        type: audio
        button: button
        duration: 5961
        uid: uid
        provider: NPR
        audioTitle: audioTitle
        slug: slug
        song: song
        geofence:
          restricted: false
          countries:
          - countries
          - countries
        unavailableText: unavailableText
        album: album
        streamGuid: streamGuid
        label: label
        skippable: true
        rationale: rationale
        inFlow: true
        organization:
          donateUrl: donateUrl
          homepageUrl: homepageUrl
          name: name
          logoUrl: logoUrl
        bingeAggId: bingeAggId
        primary: true
      properties:
        album:
          description: Album information associated with the media
          type: string
        artist:
          description: The artist associated with the media
          type: string
        audioTitle:
          description: For first-party client use only
          type: string
        bingeAggId:
          description: Indicates which aggregration ID this recommendation was binged
            from
          type: string
        button:
          description: The text contents of an action button displayed on the client
          type: string
        date:
          description: The publication date in ISO-8601 format
          format: date-time
          type: string
        description:
          description: A short description or teaser
          type: string
        duration:
          description: The length of the audio content in seconds
          format: int32
          maximum: 9999
          minimum: 0
          type: integer
        expires:
          description: The media's expiration date in ISO-8601 format
          format: date-time
          type: string
        geofence:
          $ref: '#/components/schemas/Geofence'
        inFlow:
          description: "Indicates the likelihood of being within a flow, useful for\
            \ stateful playback buttons"
          type: boolean
        label:
          description: The record label associated with the media
          type: string
        organization:
          $ref: '#/components/schemas/RecommendationOrganization'
        primary:
          description: Whether the audio is the primary audio of the story to which
            it is associated
          type: boolean
        program:
          description: The program associated with this media
          type: string
        provider:
          default: NPR
          description: The name of the organization providing this media
          type: string
        rating:
          $ref: '#/components/schemas/RatingData'
        rationale:
          description: A short summary of why this content was recommended
          type: string
        skippable:
          default: true
          description: Whether the client should allow this content to be skipped
          type: boolean
        slug:
          description: A tag or category for this media
          type: string
        song:
          description: The song title associated with the media
          type: string
        streamGuid:
          description: The full GUID of the live stream returned within the recommendation
          type: string
        title:
          description: The title of this media
          type: string
        type:
          default: audio
          description: "Help determine how content is displayed; for more information,\
            \ see <a href='https://dev.npr.org/design/general-specifications/playing-audio/'>our\
            \ design guidelines</a>"
          enum:
          - audio
          - sponsorship
          - stationId
          - intro
          - donate
          - featureCardInformational
          - featureCardNotification
          - featureCardPromotion
          - featureCardExternalLink
          - featureCardAsyncRequest
          type: string
        uid:
          description: The media ID (for use in ratings objects)
          pattern: "^\\d{3,}:[\\w-]{5,}$"
          type: string
        unavailableText:
          description: The text contents to be displayed on the client if no media
            URLs are available
          type: string
      required:
      - rating
      - rationale
      - skippable
      - title
      - type
      - uid
      type: object
    AudioItemDocument:
      allOf:
      - $ref: '#/components/schemas/CollectionDocument'
      - properties:
          attributes:
            $ref: '#/components/schemas/AudioItemData'
          items:
            description: Not used
            items:
              properties: {}
              type: object
            type: array
          links:
            $ref: '#/components/schemas/AudioItemLinks'
        type: object
      example:
        attributes:
          date: 2000-01-23T04:56:07.000+00:00
          expires: 2000-01-23T04:56:07.000+00:00
          artist: artist
          rating:
            duration: 5636
            elapsed: 2301
            origin: origin
            channel: npr
            rating: rating
            affiliations:
            - "{}"
            - "{}"
            cohort: cohort
            mediaId: mediaId
            timestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          program: program
          title: title
          type: audio
          button: button
          duration: 5961
          uid: uid
          provider: NPR
          audioTitle: audioTitle
          slug: slug
          song: song
          geofence:
            restricted: false
            countries:
            - countries
            - countries
          unavailableText: unavailableText
          album: album
          streamGuid: streamGuid
          label: label
          skippable: true
          rationale: rationale
          inFlow: true
          organization:
            donateUrl: donateUrl
            homepageUrl: homepageUrl
            name: name
            logoUrl: logoUrl
          bingeAggId: bingeAggId
          primary: true
        links:
          image:
          - image: image
            provider: provider
            rel: logo_square
            caption: caption
            producer: producer
            content-type: image/jpeg
            href: https://openapi-generator.tech
          - image: image
            provider: provider
            rel: logo_square
            caption: caption
            producer: producer
            content-type: image/jpeg
            href: https://openapi-generator.tech
          binge:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          web:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          ratings:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          action:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          audio:
          - content-type: audio/aac
            href: https://openapi-generator.tech
          - content-type: audio/aac
            href: https://openapi-generator.tech
          up:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          recommendations:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          stream-metadata:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          onramps:
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
          - pollInterval: 7
            content-type: application/json
            linkText: linkText
            href: https://openapi-generator.tech
        href: href
        items:
        - "{}"
        - "{}"
        version: "1.0"
        errors:
        - "{}"
        - "{}"
    AudioItemLinks:
      example:
        image:
        - image: image
          provider: provider
          rel: logo_square
          caption: caption
          producer: producer
          content-type: image/jpeg
          href: https://openapi-generator.tech
        - image: image
          provider: provider
          rel: logo_square
          caption: caption
          producer: producer
          content-type: image/jpeg
          href: https://openapi-generator.tech
        binge:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        web:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        ratings:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        action:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        audio:
        - content-type: audio/aac
          href: https://openapi-generator.tech
        - content-type: audio/aac
          href: https://openapi-generator.tech
        up:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        recommendations:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        stream-metadata:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        onramps:
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
        - pollInterval: 7
          content-type: application/json
          linkText: linkText
          href: https://openapi-generator.tech
      properties:
        action:
          description: "One or more links to be trigged by user actions, usually when\
            \ a button is clicked"
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        audio:
          description: One or more links to audio files for the item
          items:
            $ref: '#/components/schemas/AudioLink'
          type: array
        binge:
          description: One or more links that start a flow-based experience focused
            on the aggregation
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        image:
          description: "One or more links to an image, along with metadata for display"
          items:
            $ref: '#/components/schemas/ImageLink'
          type: array
        onramps:
          description: One or more shareable links for the item
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        ratings:
          description: This is an alternate URL to use to POST the ratings JSON. Difference
            between this and 'recommendations' is that 'ratings' will NOT return back
            recommendations of audio to play next.
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        recommendations:
          description: This is the URL that should be POSTed with the ratings JSON
            when this audio starts to play
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        stream-metadata:
          description: Links that can be polled to retreive current program metadata
            for a given stream
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        up:
          description: One or more links to more details about the program or podcast
            with which this item is associated
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
        web:
          description: One or more links to a web page for the item
          items:
            $ref: '#/components/schemas/OtherLink'
          type: array
      type: object
    AudioItemListDocument:
      allOf:
      - $ref: '#/components/schemas/CollectionDocument'
      - properties:
          attributes:
            $ref: '#/components/schemas/AudioItemListDocument_allOf_attributes'
          items:
            description: An array of Audio Items (recommendations)
            items:
              $ref: '#/components/schemas/AudioItemDocument'
            type: array
          links:
            $ref: '#/components/schemas/AudioItemListDocument_allOf_attributes'
        type: object
      example:
        attributes: {}
        links: {}
        href: href
        items:
        - attributes:
            date: 2000-01-23T04:56:07.000+00:00
            expires: 2000-01-23T04:56:07.000+00:00
            artist: artist
            rating:
              duration: 5636
              elapsed: 2301
              origin: origin
              channel: npr
              rating: rating
              affiliations:
              - "{}"
              - "{}"
              cohort: cohort
              mediaId: mediaId
              timestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            program: program
            title: title
            type: audio
            button: button
            duration: 5961
            uid: uid
            provider: NPR
            audioTitle: audioTitle
            slug: slug
            song: song
            geofence:
              restricted: false
              countries:
              - countries
              - countries
            unavailableText: unavailableText
            album: album
            streamGuid: streamGuid
            label: label
            skippable: true
            rationale: rationale
            inFlow: true
            organization:
              donateUrl: donateUrl
              homepageUrl: homepageUrl
              name: name
              logoUrl: logoUrl
            bingeAggId: bingeAggId
            primary: true
          links:
            image:
            - image: image
              provider: provider
              rel: logo_square
              caption: caption
              producer: producer
              content-type: image/jpeg
              href: https://openapi-generator.tech
            - image: image
              provider: provider
              rel: logo_square
              caption: caption
              producer: producer
              content-type: image/jpeg
              href: https://openapi-generator.tech
            binge:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            web:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            ratings:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            action:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            audio:
            - content-type: audio/aac
              href: https://openapi-generator.tech
            - content-type: audio/aac
              href: https://openapi-generator.tech
            up:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            recommendations:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            stream-metadata:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            onramps:
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
            - pollInterval: 7
              content-type: application/json
              linkText: linkText
              href: https://openapi-generator.tech
          href: href
          items:
          - "{}"
          - "{}"
          version: "1.0"
          errors:
          - "{}"
          - "{}"
        - attributes:
            date: 2000-01-23T04:56:07.000+00:00
            expires: 2000-01-23T04:56:07.000+00:00
            artist: artist
            rating:
              duration: 5636
              elapsed: 2301
              origin: origin
              channel: npr
              rating: rating
              affiliations:
              - "{}"
              - "{}"
              cohort: cohort
              mediaId: mediaId
              timestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            program: program
            title: title
            type: audio
            button: button
            duration: 5961
            uid: uid
            provider: NPR
            audioTitle: audioTitle
            slug: slug
            song: song
            geofence:
              restricted: false
              countries:
              - countries
              - countries
            unavailableText: unavailableText
            album: album
            streamGuid: streamGuid
            label: label
            skippable: true
            rationale: rationale
            inFlow: true
            organization:
              donateUrl: donateUrl
              homepageUrl: homepageUrl
              name: name
              logoUrl: logoUrl
            bingeAggId: bingeAggId
            primary: true
          links:
            image:
            - image: image
              provider: provider
              rel: logo_square
[...]
