openapi: 3.0.0
info:
  contact:
    x-twitter: microsoft
  title: PredictionEndpoint
  version: "1.1"
  x-apisguru-categories:
  - developer_tools
  - cloud
  x-logo:
    url: https://twitter.com/microsoft/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v1.1/Prediction.json
    version: "3.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Prediction
  x-tags:
  - Microsoft
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction
paths:
  /{projectId}/image:
    post:
      operationId: predict_image
      parameters:
      - description: The project id
        examples:
          Successful Prediction with Image request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        examples:
          Successful Prediction with Image request:
            value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful Prediction with Image request:
            value: "{API Key}"
          Successful Prediction with Url request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/PredictImage'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful Prediction with Image request:
                  $ref: '#/components/examples/Successful_Prediction_with_Image_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              examples:
                Successful Prediction with Image request:
                  $ref: '#/components/examples/Successful_Prediction_with_Image_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              examples:
                Successful Prediction with Image request:
                  $ref: '#/components/examples/Successful_Prediction_with_Image_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              examples:
                Successful Prediction with Image request:
                  $ref: '#/components/examples/Successful_Prediction_with_Image_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
          description: OK
      summary: Predict an image and saves the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
  /{projectId}/image/nostore:
    post:
      operationId: predict_image_with_no_store
      parameters:
      - description: The project id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful Prediction with Image request:
            value: "{API Key}"
          Successful Prediction with Url request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/PredictImage'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
          description: OK
      summary: Predict an image without saving the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
  /{projectId}/url:
    post:
      operationId: predict_image_url
      parameters:
      - description: The project id
        examples:
          Successful Prediction with Url request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        examples:
          Successful Prediction with Url request:
            value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful Prediction with Image request:
            value: "{API Key}"
          Successful Prediction with Url request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/ImageUrl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful Prediction with Url request:
                  $ref: '#/components/examples/Successful_Prediction_with_Url_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              examples:
                Successful Prediction with Url request:
                  $ref: '#/components/examples/Successful_Prediction_with_Url_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              examples:
                Successful Prediction with Url request:
                  $ref: '#/components/examples/Successful_Prediction_with_Url_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              examples:
                Successful Prediction with Url request:
                  $ref: '#/components/examples/Successful_Prediction_with_Url_request'
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
          description: OK
      summary: Predict an image url and saves the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
  /{projectId}/url/nostore:
    post:
      operationId: predict_image_url_with_no_store
      parameters:
      - description: The project id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful Prediction with Image request:
            value: "{API Key}"
          Successful Prediction with Url request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/ImageUrl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
          description: OK
      summary: Predict an image url without saving the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
components:
  examples:
    Successful_Prediction_with_Image_request:
      value:
        Created: 2017-12-19T14:21:41.6789561Z
        Id: 951098b2-9b69-427b-bddb-d5cb618874e3
        Iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        Predictions:
        - Probability: 0.05149666
          Tag: Hemlock
          TagId: e31ff107-5505-4753-be42-b369b21b026c
        - Probability: 0
          Tag: Japanese Cherry
          TagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
        Project: 64b822c5-8082-4b36-a426-27225f4aa18c
    Successful_Prediction_with_Url_request:
      value:
        Created: 2017-12-19T14:21:41.6789561Z
        Id: 951098b2-9b69-427b-bddb-d5cb618874e3
        Iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        Predictions:
        - Probability: 0.05149666
          Tag: Hemlock
          TagId: e31ff107-5505-4753-be42-b369b21b026c
        - Probability: 1.93528482E-4
          Tag: Japanese Cherry
          TagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
        Project: 64b822c5-8082-4b36-a426-27225f4aa18c
  parameters:
    ApiKey:
      examples:
        Successful Prediction with Image request:
          value: "{API Key}"
        Successful Prediction with Url request:
          value: "{API Key}"
      explode: false
      in: header
      name: Prediction-Key
      required: true
      schema:
        type: string
      style: simple
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
  requestBodies:
    ImageUrl:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        application/xml:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        text/json:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        text/xml:
          schema:
            $ref: '#/components/schemas/ImageUrl'
      description: "An {Iris.Web.Api.Models.ImageUrl} that contains the url of the\
        \ image to be evaluated"
      required: true
    PredictImage:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PredictImage_request'
      required: true
  schemas:
    ImagePredictionResultModel:
      description: result of an image prediction request
      example:
        Project: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Predictions:
        - Probability: 0.8008282
          TagId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Tag: Tag
        - Probability: 0.8008282
          TagId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Tag: Tag
        Iteration: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Created: 2000-01-23T04:56:07.000+00:00
      nullable: true
      properties:
        Created:
          format: date-time
          nullable: false
          readOnly: true
          title: Created
          type: string
        Id:
          format: uuid
          nullable: false
          readOnly: true
          title: Id
          type: string
        Iteration:
          format: uuid
          nullable: false
          readOnly: true
          title: Iteration
          type: string
        Predictions:
          items:
            $ref: '#/components/schemas/ImageTagPredictionModel'
          nullable: true
          readOnly: true
          title: Predictions
          type: array
        Project:
          format: uuid
          nullable: false
          readOnly: true
          title: Project
          type: string
      title: ImagePredictionResultModel
      type: object
    ImageTagPredictionModel:
      example:
        Probability: 0.8008282
        TagId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Tag: Tag
      nullable: true
      properties:
        Probability:
          format: float
          nullable: false
          readOnly: true
          title: Probability
          type: number
        Tag:
          nullable: true
          readOnly: true
          title: Tag
          type: string
        TagId:
          format: uuid
          nullable: false
          readOnly: true
          title: TagId
          type: string
      title: ImageTagPredictionModel
      type: object
    ImageUrl:
      example:
        Url: Url
      nullable: true
      properties:
        Url:
          nullable: true
          title: Url
          type: string
      title: ImageUrl
      type: object
    PredictImage_request:
      properties:
        imageData:
          format: binary
          type: string
      required:
      - imageData
      type: object
