openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Allows developers to run automated tests for their mobile applications
    on Google infrastructure.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Testing API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://testing.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: testing
externalDocs:
  url: https://developers.google.com/cloud-test-lab/
servers:
- url: https://testing.googleapis.com/
tags:
- name: applicationDetailService
- name: projects
- name: testEnvironmentCatalog
paths:
  /v1/applicationDetailService/getApkDetails:
    post:
      description: Gets the details of an Android application APK.
      operationId: testing_application_detail_service_get_apk_details
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk\
          \ These paths are expected to be url encoded (percent encoding)"
        explode: true
        in: query
        name: bundleLocation.gcsPath
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileReference'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApkDetailsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - applicationDetailService
      x-openapi-router-controller: openapi_server.controllers.application_detail_service_controller
      x-codegen-request-body-name: body
  /v1/projects/{projectId}/testMatrices:
    post:
      description: "Creates and runs a matrix of tests according to the given specifications.\
        \ Unsupported environments will be returned in the state UNSUPPORTED. A test\
        \ matrix is limited to use at most 2000 devices in parallel. The returned\
        \ matrix will not yet contain the executions that will be created for this\
        \ matrix. Execution creation happens later on and will require a call to GetTestMatrix.\
        \ May return any of the following canonical error codes: - PERMISSION_DENIED\
        \ - if the user is not authorized to write to project - INVALID_ARGUMENT -\
        \ if the request is malformed or if the matrix tries to use too many simultaneous\
        \ devices."
      operationId: testing_projects_test_matrices_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The GCE project under which this job will run.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: "A string id used to detect duplicated requests. Ids are automatically\
          \ scoped to a project, so users should ensure the ID is unique per-project.\
          \ A UUID is recommended. Optional, but strongly recommended."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestMatrix'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMatrix'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/projects/{projectId}/testMatrices/{testMatrixId}:
    get:
      description: "Checks the status of a test matrix and the executions once they\
        \ are created. The test matrix will contain the list of test executions to\
        \ run if and only if the resultStorage.toolResultsExecution fields have been\
        \ populated. Note: Flaky test executions may be added to the matrix at a later\
        \ stage. May return any of the following canonical error codes: - PERMISSION_DENIED\
        \ - if the user is not authorized to read project - INVALID_ARGUMENT - if\
        \ the request is malformed - NOT_FOUND - if the Test Matrix does not exist"
      operationId: testing_projects_test_matrices_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Cloud project that owns the test matrix.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: Unique test matrix id which was assigned by the service.
        explode: false
        in: path
        name: testMatrixId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMatrix'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel:
    post:
      description: "Cancels unfinished test executions in a test matrix. This call\
        \ returns immediately and cancellation proceeds asynchronously. If the matrix\
        \ is already final, this operation will have no effect. May return any of\
        \ the following canonical error codes: - PERMISSION_DENIED - if the user is\
        \ not authorized to read project - INVALID_ARGUMENT - if the request is malformed\
        \ - NOT_FOUND - if the Test Matrix does not exist"
      operationId: testing_projects_test_matrices_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Cloud project that owns the test.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: Test matrix that will be canceled.
        explode: false
        in: path
        name: testMatrixId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelTestMatrixResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/testEnvironmentCatalog/{environmentType}:
    get:
      description: "Gets the catalog of supported test environments. May return any\
        \ of the following canonical error codes: - INVALID_ARGUMENT - if the request\
        \ is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL\
        \ - if an internal error occurred"
      operationId: testing_test_environment_catalog_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The type of environment that should be listed.
        explode: false
        in: path
        name: environmentType
        required: true
        schema:
          enum:
          - ENVIRONMENT_TYPE_UNSPECIFIED
          - ANDROID
          - IOS
          - NETWORK_CONFIGURATION
          - PROVIDED_SOFTWARE
          - DEVICE_IP_BLOCKS
          type: string
        style: simple
      - description: "For authorization, the cloud project requesting the TestEnvironmentCatalog."
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestEnvironmentCatalog'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - testEnvironmentCatalog
      x-openapi-router-controller: openapi_server.controllers.test_environment_catalog_controller
  /v1/{name}:
    get:
      description: "GET /v1/projects/{project_id}/deviceSessions/{device_session_id}\
        \ Return a DeviceSession, which documents the allocation status and whether\
        \ the device is allocated. Clients making requests from this API must poll\
        \ GetDeviceSession."
      operationId: testing_projects_device_sessions_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "PATCH /v1/projects/{projectId}/deviceSessions/deviceSessionId}:updateDeviceSession\
        \ Updates the current device session to the fields described by the update_mask."
      operationId: testing_projects_device_sessions_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The list of fields to update.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSession'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:cancel:
    post:
      description: "POST /v1/projects/{project_id}/deviceSessions/{device_session_id}:cancel\
        \ Changes the DeviceSession to state FINISHED and terminates all connections.\
        \ Canceled sessions are not deleted and can be retrieved or listed by the\
        \ user until they expire based on the 28 day deletion policy."
      operationId: testing_projects_device_sessions_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelDeviceSessionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/deviceSessions:
    get:
      description: "GET /v1/projects/{project_id}/deviceSessions Lists device Sessions\
        \ owned by the project user."
      operationId: testing_projects_device_sessions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the parent to request, e.g. \"projects/{project_id}\""
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. If specified, responses will be filtered by the given\
          \ filter. Allowed fields are: session_state."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The maximum number of DeviceSessions to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. A continuation token for paging.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceSessionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "POST /v1/projects/{project_id}/deviceSessions"
      operationId: testing_projects_device_sessions_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The Compute Engine project under which this device\
          \ will be allocated. \"projects/{project_id}\""
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSession'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Account:
      description: Identifies an account and how to log into it.
      example:
        googleAuto: "{}"
      properties:
        googleAuto:
          description: "Enables automatic Google account login. If set, the service\
            \ automatically generates a Google test account and adds it to the device,\
            \ before executing the test. Note that test accounts might be reused.\
            \ Many applications show their full set of functionalities when an account\
            \ is present on the device. Logging into the device with these generated\
            \ accounts allows testing more functionalities."
          properties: {}
          title: googleAuto
          type: object
      title: Account
      type: object
    AndroidDevice:
      description: A single Android device.
      example:
        orientation: orientation
        androidVersionId: androidVersionId
        locale: locale
        androidModelId: androidModelId
      properties:
        androidModelId:
          description: Required. The id of the Android device to be used. Use the
            TestEnvironmentDiscoveryService to get supported options.
          title: androidModelId
          type: string
        androidVersionId:
          description: Required. The id of the Android OS version to be used. Use
            the TestEnvironmentDiscoveryService to get supported options.
          title: androidVersionId
          type: string
        locale:
          description: Required. The locale the test device used for testing. Use
            the TestEnvironmentDiscoveryService to get supported options.
          title: locale
          type: string
        orientation:
          description: Required. How the device is oriented during the test. Use the
            TestEnvironmentDiscoveryService to get supported options.
          title: orientation
          type: string
      title: AndroidDevice
      type: object
    AndroidDeviceCatalog:
      description: The currently supported Android devices.
      example:
        models:
        - supportedAbis:
          - supportedAbis
          - supportedAbis
          perVersionInfo:
          - versionId: versionId
            interactiveDeviceAvailabilityEstimate: interactiveDeviceAvailabilityEstimate
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
            directAccessVersionInfo:
              directAccessSupported: true
              minimumAndroidStudioVersion: minimumAndroidStudioVersion
          - versionId: versionId
            interactiveDeviceAvailabilityEstimate: interactiveDeviceAvailabilityEstimate
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
            directAccessVersionInfo:
              directAccessSupported: true
              minimumAndroidStudioVersion: minimumAndroidStudioVersion
          formFactor: DEVICE_FORM_FACTOR_UNSPECIFIED
          lowFpsVideoRecording: true
          supportedVersionIds:
          - supportedVersionIds
          - supportedVersionIds
          manufacturer: manufacturer
          tags:
          - tags
          - tags
          form: DEVICE_FORM_UNSPECIFIED
          codename: codename
          name: name
          screenDensity: 0
          id: id
          brand: brand
          screenX: 6
          screenY: 1
          thumbnailUrl: thumbnailUrl
        - supportedAbis:
          - supportedAbis
          - supportedAbis
          perVersionInfo:
          - versionId: versionId
            interactiveDeviceAvailabilityEstimate: interactiveDeviceAvailabilityEstimate
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
            directAccessVersionInfo:
              directAccessSupported: true
              minimumAndroidStudioVersion: minimumAndroidStudioVersion
          - versionId: versionId
            interactiveDeviceAvailabilityEstimate: interactiveDeviceAvailabilityEstimate
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
            directAccessVersionInfo:
              directAccessSupported: true
              minimumAndroidStudioVersion: minimumAndroidStudioVersion
          formFactor: DEVICE_FORM_FACTOR_UNSPECIFIED
          lowFpsVideoRecording: true
          supportedVersionIds:
          - supportedVersionIds
          - supportedVersionIds
          manufacturer: manufacturer
          tags:
          - tags
          - tags
          form: DEVICE_FORM_UNSPECIFIED
          codename: codename
          name: name
          screenDensity: 0
          id: id
          brand: brand
          screenX: 6
          screenY: 1
          thumbnailUrl: thumbnailUrl
        runtimeConfiguration:
          locales:
          - name: name
            id: id
            region: region
            tags:
            - tags
            - tags
          - name: name
            id: id
            region: region
            tags:
            - tags
            - tags
          orientations:
          - name: name
            id: id
            tags:
            - tags
            - tags
          - name: name
            id: id
            tags:
            - tags
            - tags
        versions:
        - releaseDate:
            month: 7
            year: 9
            day: 2
          versionString: versionString
          codeName: codeName
          id: id
          distribution:
            marketShare: 5.637376656633329
            measurementTime: measurementTime
          apiLevel: 5
          tags:
          - tags
          - tags
        - releaseDate:
            month: 7
            year: 9
            day: 2
          versionString: versionString
          codeName: codeName
          id: id
          distribution:
            marketShare: 5.637376656633329
            measurementTime: measurementTime
          apiLevel: 5
          tags:
          - tags
          - tags
      properties:
        models:
          description: The set of supported Android device models.
          items:
            $ref: '#/components/schemas/AndroidModel'
          title: models
          type: array
        runtimeConfiguration:
          $ref: '#/components/schemas/AndroidRuntimeConfiguration'
        versions:
          description: The set of supported Android OS versions.
          items:
            $ref: '#/components/schemas/AndroidVersion'
          title: versions
          type: array
      title: AndroidDeviceCatalog
      type: object
    AndroidDeviceList:
      description: A list of Android device configurations in which the test is to
        be executed.
      example:
        androidDevices:
        - orientation: orientation
          androidVersionId: androidVersionId
          locale: locale
          androidModelId: androidModelId
        - orientation: orientation
          androidVersionId: androidVersionId
          locale: locale
          androidModelId: androidModelId
      properties:
        androidDevices:
          description: Required. A list of Android devices.
          items:
            $ref: '#/components/schemas/AndroidDevice'
          title: androidDevices
          type: array
      title: AndroidDeviceList
      type: object
    AndroidInstrumentationTest:
      description: "A test of an Android application that can control an Android component\
        \ independently of its normal lifecycle. Android instrumentation tests run\
        \ an application APK and test APK inside the same process on a virtual or\
        \ physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner,\
        \ which can vary on the specific instrumentation framework chosen. See for\
        \ more information on types of Android tests."
      example:
        testRunnerClass: testRunnerClass
        testTargets:
        - testTargets
        - testTargets
        appPackageId: appPackageId
        testPackageId: testPackageId
        appBundle:
          bundleLocation:
            gcsPath: gcsPath
        orchestratorOption: ORCHESTRATOR_OPTION_UNSPECIFIED
        testApk:
          gcsPath: gcsPath
        shardingOption:
          uniformSharding:
            numShards: 5
          manualSharding:
            testTargetsForShard:
            - testTargets:
              - testTargets
              - testTargets
            - testTargets:
              - testTargets
              - testTargets
          smartSharding:
            targetedShardDuration: targetedShardDuration
        appApk:
          gcsPath: gcsPath
      properties:
        appApk:
          $ref: '#/components/schemas/FileReference'
        appBundle:
          $ref: '#/components/schemas/AppBundle'
        appPackageId:
          description: The java package for the application under test. The default
            value is determined by examining the application's manifest.
          title: appPackageId
          type: string
        orchestratorOption:
          description: "The option of whether running each test within its own invocation\
            \ of instrumentation with Android Test Orchestrator or not. ** Orchestrator\
            \ is only compatible with AndroidJUnitRunner version 1.1 or higher! **\
            \ Orchestrator offers the following benefits: - No shared state - Crashes\
            \ are isolated - Logs are scoped per test See for more information about\
            \ Android Test Orchestrator. If not set, the test will be run without\
            \ the orchestrator."
          enum:
          - ORCHESTRATOR_OPTION_UNSPECIFIED
          - USE_ORCHESTRATOR
          - DO_NOT_USE_ORCHESTRATOR
          title: orchestratorOption
          type: string
        shardingOption:
          $ref: '#/components/schemas/ShardingOption'
        testApk:
          $ref: '#/components/schemas/FileReference'
        testPackageId:
          description: The java package for the test to be executed. The default value
            is determined by examining the application's manifest.
          title: testPackageId
          type: string
        testRunnerClass:
          description: The InstrumentationTestRunner class. The default value is determined
            by examining the application's manifest.
          title: testRunnerClass
          type: string
        testTargets:
          description: "Each target must be fully qualified with the package name\
            \ or class name, in one of these formats: - \"package package_name\" -\
            \ \"class package_name.class_name\" - \"class package_name.class_name#method_name\"\
            \ If empty, all targets in the module will be run."
          items:
            type: string
          title: testTargets
          type: array
      title: AndroidInstrumentationTest
      type: object
    AndroidMatrix:
      description: "A set of Android device configuration permutations is defined\
        \ by the the cross-product of the given axes. Internally, the given AndroidMatrix\
        \ will be expanded into a set of AndroidDevices. Only supported permutations\
        \ will be instantiated. Invalid permutations (e.g., incompatible models/versions)\
        \ are ignored."
      example:
        locales:
        - locales
        - locales
        orientations:
        - orientations
        - orientations
        androidModelIds:
        - androidModelIds
        - androidModelIds
        androidVersionIds:
        - androidVersionIds
        - androidVersionIds
      properties:
        androidModelIds:
          description: Required. The ids of the set of Android device to be used.
            Use the TestEnvironmentDiscoveryService to get supported options.
          items:
            type: string
          title: androidModelIds
          type: array
        androidVersionIds:
          description: Required. The ids of the set of Android OS version to be used.
            Use the TestEnvironmentDiscoveryService to get supported options.
          items:
            type: string
          title: androidVersionIds
          type: array
        locales:
          description: Required. The set of locales the test device will enable for
            testing. Use the TestEnvironmentDiscoveryService to get supported options.
          items:
            type: string
          title: locales
          type: array
        orientations:
          description: Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService
            to get supported options.
          items:
            type: string
          title: orientations
          type: array
      title: AndroidMatrix
      type: object
    AndroidModel:
      description: A description of an Android device tests may be run on.
      example:
        supportedAbis:
        - supportedAbis
        - supportedAbis
        perVersionInfo:
        - versionId: versionId
          interactiveDeviceAvailabilityEstimate: interactiveDeviceAvailabilityEstimate
          deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
          directAccessVersionInfo:
            directAccessSupported: true
            minimumAndroidStudioVersion: minimumAndroidStudioVersion
        - versionId: versionId
          interactiveDeviceAvailabilityEstimate: interactiveDeviceAvailabilityEstimate
          deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
          directAccessVersionInfo:
            directAccessSupported: true
            minimumAndroidStudioVersion: minimumAndroidStudioVersion
        formFactor: DEVICE_FORM_FACTOR_UNSPECIFIED
        lowFpsVideoRecording: true
        supportedVersionIds:
        - supportedVersionIds
        - supportedVersionIds
        manufacturer: manufacturer
        tags:
        - tags
        - tags
        form: DEVICE_FORM_UNSPECIFIED
        codename: codename
        name: name
        screenDensity: 0
        id: id
        brand: brand
        screenX: 6
        screenY: 1
        thumbnailUrl: thumbnailUrl
      properties:
        brand:
          description: "The company that this device is branded with. Example: \"\
            Google\", \"Samsung\"."
          title: brand
          type: string
        codename:
          description: The name of the industrial design. This corresponds to android.os.Build.DEVICE.
          title: codename
          type: string
        form:
          description: Whether this device is virtual or physical.
          enum:
          - DEVICE_FORM_UNSPECIFIED
          - VIRTUAL
          - PHYSICAL
          - EMULATOR
          title: form
          type: string
        formFactor:
          description: "Whether this device is a phone, tablet, wearable, etc."
          enum:
          - DEVICE_FORM_FACTOR_UNSPECIFIED
          - PHONE
          - TABLET
          - WEARABLE
          title: formFactor
          type: string
        id:
          description: The unique opaque id for this model. Use this for invoking
            the TestExecutionService.
          title: id
          type: string
        lowFpsVideoRecording:
          description: True if and only if tests with this model are recorded by stitching
            together screenshots. See use_low_spec_video_recording in device config.
          title: lowFpsVideoRecording
          type: boolean
        manufacturer:
          description: The manufacturer of this device.
          title: manufacturer
          type: string
        name:
          description: "The human-readable marketing name for this device model. Examples:\
            \ \"Nexus 5\", \"Galaxy S5\"."
          title: name
          type: string
        perVersionInfo:
          description: Version-specific information of an Android model.
          items:
            $ref: '#/components/schemas/PerAndroidVersionInfo'
          title: perVersionInfo
          type: array
        screenDensity:
          description: Screen density in DPI. This corresponds to ro.sf.lcd_density
          format: int32
          title: screenDensity
          type: integer
        screenX:
          description: Screen size in the horizontal (X) dimension measured in pixels.
          format: int32
          title: screenX
          type: integer
        screenY:
          description: Screen size in the vertical (Y) dimension measured in pixels.
          format: int32
          title: screenY
          type: integer
        supportedAbis:
          description: "The list of supported ABIs for this device. This corresponds\
            \ to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above)\
            \ or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the\
            \ first element in the list. Elements are optionally prefixed by \"version_id:\"\
            \ (where version_id is the id of an AndroidVersion), denoting an ABI that\
            \ is supported only on a particular version."
          items:
            type: string
          title: supportedAbis
          type: array
        supportedVersionIds:
          description: The set of Android versions this device supports.
          items:
            type: string
          title: supportedVersionIds
          type: array
        tags:
          description: "Tags for this dimension. Examples: \"default\", \"preview\"\
            , \"deprecated\"."
          items:
            type: string
          title: tags
          type: array
        thumbnailUrl:
          description: URL of a thumbnail image (photo) of the device.
          title: thumbnailUrl
          type: string
      title: AndroidModel
      type: object
    AndroidRoboTest:
      description: "A test of an android application that explores the application\
        \ on a virtual or physical Android Device, finding culprits and crashes as\
        \ it goes."
      example:
        maxDepth: 5
        roboScript:
          gcsPath: gcsPath
        startingIntents:
        - noActivity: "{}"
          launcherActivity: "{}"
          startActivity:
            action: action
            categories:
            - categories
            - categories
            uri: uri
          timeout: timeout
        - noActivity: "{}"
          launcherActivity: "{}"
          startActivity:
            action: action
            categories:
            - categories
            - categories
            uri: uri
          timeout: timeout
        roboMode: ROBO_MODE_UNSPECIFIED
        appPackageId: appPackageId
        maxSteps: 2
        appInitialActivity: appInitialActivity
        appBundle:
          bundleLocation:
            gcsPath: gcsPath
        appApk:
          gcsPath: gcsPath
        roboDirectives:
        - actionType: ACTION_TYPE_UNSPECIFIED
          inputText: inputText
          resourceName: resourceName
        - actionType: ACTION_TYPE_UNSPECIFIED
          inputText: inputText
          resourceName: resourceName
      properties:
        appApk:
          $ref: '#/components/schemas/FileReference'
        appBundle:
          $ref: '#/components/schemas/AppBundle'
        appInitialActivity:
          description: The initial activity that should be used to start the app.
          title: appInitialActivity
          type: string
        appPackageId:
          description: The java package for the application under test. The default
            value is determined by examining the application's manifest.
          title: appPackageId
          type: string
        maxDepth:
          deprecated: true
          description: The max depth of the traversal stack Robo can explore. Needs
            to be at least 2 to make Robo explore the app beyond the first activity.
            Default is 50.
          format: int32
          title: maxDepth
          type: integer
        maxSteps:
          deprecated: true
          description: The max number of steps Robo can execute. Default is no limit.
          format: int32
          title: maxSteps
          type: integer
        roboDirectives:
          description: "A set of directives Robo should apply during the crawl. This\
            \ allows users to customize the crawl. For example, the username and password\
            \ for a test account can be provided."
          items:
            $ref: '#/components/schemas/RoboDirective'
          title: roboDirectives
          type: array
        roboMode:
          description: The mode in which Robo should run. Most clients should allow
            the server to populate this field automatically.
          enum:
          - ROBO_MODE_UNSPECIFIED
          - ROBO_VERSION_1
          - ROBO_VERSION_2
          title: roboMode
          type: string
        roboScript:
          $ref: '#/components/schemas/FileReference'
        startingIntents:
          description: "The intents used to launch the app for the crawl. If none\
            \ are provided, then the main launcher activity is launched. If some are\
            \ provided, then only those provided are launched (the main launcher activity\
            \ must be provided explicitly)."
          items:
            $ref: '#/components/schemas/RoboStartingIntent'
          title: startingIntents
          type: array
      title: AndroidRoboTest
      type: object
    AndroidRuntimeConfiguration:
      description: Android configuration that can be selected at the time a test is
        run.
      example:
        locales:
        - name: name
          id: id
          region: region
          tags:
          - tags
          - tags
        - name: name
          id: id
          region: region
          tags:
          - tags
          - tags
        orientations:
        - name: name
          id: id
          tags:
          - tags
          - tags
        - name: name
          id: id
          tags:
          - tags
          - tags
      properties:
        locales:
          description: The set of available locales.
          items:
            $ref: '#/components/schemas/Locale'
          title: locales
          type: array
        orientations:
          description: The set of available orientations.
          items:
            $ref: '#/components/schemas/Orientation'
          title: orientations
          type: array
      title: AndroidRuntimeConfiguration
      type: object
    AndroidTestLoop:
      description: "A test of an Android Application with a Test Loop. The intent\
        \ \\ will be implicitly added, since Games is the only user of this api, for\
        \ the time being."
      example:
        scenarioLabels:
        - scenarioLabels
        - scenarioLabels
        appPackageId: appPackageId
        scenarios:
        - 7
        - 7
        appBundle:
          bundleLocation:
            gcsPath: gcsPath
        appApk:
          gcsPath: gcsPath
      properties:
        appApk:
          $ref: '#/components/schemas/FileReference'
        appBundle:
          $ref: '#/components/schemas/AppBundle'
        appPackageId:
          description: The java package for the application under test. The default
            is determined by examining the application's manifest.
          title: appPackageId
          type: string
        scenarioLabels:
          description: "The list of scenario labels that should be run during the\
            \ test. The scenario labels should map to labels defined in the application's\
            \ manifest. For example, player_experience and com.google.test.loops.player_experience\
            \ add all of the loops labeled in the manifest with the com.google.test.loops.player_experience\
            \ name to the execution. Scenarios can also be specified in the scenarios\
            \ field."
          items:
            type: string
          title: scenarioLabels
          type: array
        scenarios:
          description: "The list of scenarios that should be run during the test.\
            \ The default is all test loops, derived from the application's manifest."
          items:
            format: int32
            type: integer
          title: scenarios
          type: array
      title: AndroidTestLoop
      type: object
    AndroidVersion:
      description: A version of the Android OS.
      example:
        releaseDate:
          month: 7
          year: 9
          day: 2
        versionString: versionString
        codeName: codeName
        id: id
        distribution:
          marketShare: 5.637376656633329
          measurementTime: measurementTime
        apiLevel: 5
        tags:
        - tags
        - tags
      properties:
        apiLevel:
          description: "The API level for this Android version. Examples: 18, 19."
          format: int32
          title: apiLevel
          type: integer
        codeName:
          description: "The code name for this Android version. Examples: \"JellyBean\"\
            , \"KitKat\"."
          title: codeName
          type: string
        distribution:
          $ref: '#/components/schemas/Distribution'
        id:
          description: An opaque id for this Android version. Use this id to invoke
            the TestExecutionService.
          title: id
          type: string
        releaseDate:
          $ref: '#/components/schemas/Date'
        tags:
          description: "Tags for this dimension. Examples: \"default\", \"preview\"\
            , \"deprecated\"."
          items:
            type: string
          title: tags
          type: array
        versionString:
          description: "A string representing this version of the Android OS. Examples:\
            \ \"4.3\", \"4.4\"."
          title: versionString
          type: string
      title: AndroidVersion
      type: object
    Apk:
      description: An Android package file to install.
      example:
        location:
          gcsPath: gcsPath
        packageName: packageName
      properties:
        location:
          $ref: '#/components/schemas/FileReference'
        packageName:
          description: The java package for the APK to be installed. Value is determined
            by examining the application's manifest.
          title: packageName
          type: string
      title: Apk
      type: object
    ApkDetail:
      description: Android application details based on application manifest and archive
        contents.
      example:
        apkManifest:
          maxSdkVersion: 0
          minSdkVersion: 6
          metadata:
          - name: name
            value: value
          - name: name
            value: value
          applicationLabel: applicationLabel
          usesPermission:
          - usesPermission
          - usesPermission
          intentFilters:
          - categoryNames:
            - categoryNames
            - categoryNames
            mimeType: mimeType
            actionNames:
            - actionNames
            - actionNames
          - categoryNames:
            - categoryNames
            - categoryNames
            mimeType: mimeType
            actionNames:
            - actionNames
            - actionNames
          packageName: packageName
          services:
          - name: name
            intentFilter:
            - categoryNames:
              - categoryNames
              - categoryNames
              mimeType: mimeType
              actionNames:
              - actionNames
              - actionNames
            - categoryNames:
              - categoryNames
              - categoryNames
              mimeType: mimeType
              actionNames:
              - actionNames
              - actionNames
          - name: name
            intentFilter:
            - categoryNames:
              - categoryNames
              - categoryNames
              mimeType: mimeType
              actionNames:
              - actionNames
              - actionNames
            - categoryNames:
              - categoryNames
              - categoryNames
              mimeType: mimeType
              actionNames:
              - actionNames
              - actionNames
          targetSdkVersion: 1
          versionName: versionName
          versionCode: versionCode
          usesFeature:
          - isRequired: true
            name: name
          - isRequired: true
            name: name
      properties:
        apkManifest:
          $ref: '#/components/schemas/ApkManifest'
      title: ApkDetail
      type: object
    ApkManifest:
      description: An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html
      example:
        maxSdkVersion: 0
        minSdkVersion: 6
        metadata:
        - name: name
          value: value
        - name: name
          value: value
        applicationLabel: applicationLabel
        usesPermission:
        - usesPermission
        - usesPermission
        intentFilters:
        - categoryNames:
          - categoryNames
          - categoryNames
          mimeType: mimeType
          actionNames:
          - actionNames
          - actionNames
        - categoryNames:
          - categoryNames
          - categoryNames
          mimeType: mimeType
          actionNames:
          - actionNames
          - actionNames
        packageName: packageName
        services:
        - name: name
          intentFilter:
          - categoryNames:
            - categoryNames
            - categoryNames
            mimeType: mimeType
            actionNames:
            - actionNames
            - actionNames
          - categoryNames:
            - categoryNames
            - categoryNames
            mimeType: mimeType
            actionNames:
            - actionNames
            - actionNames
        - name: name
          intentFilter:
          - categoryNames:
            - categoryNames
            - categoryNames
            mimeType: mimeType
            actionNames:
            - actionNames
            - actionNames
          - categoryNames:
            - categoryNames
            - categoryNames
            mimeType: mimeType
            actionNames:
            - actionNames
            - actionNames
        targetSdkVersion: 1
        versionName: versionName
        versionCode: versionCode
        usesFeature:
        - isRequired: true
          name: name
        - isRequired: true
          name: name
      properties:
        applicationLabel:
          description: User-readable name for the application.
          title: applicationLabel
          type: string
        intentFilters:
          items:
            $ref: '#/components/schemas/IntentFilter'
          title: intentFilters
          type: array
        maxSdkVersion:
          description: Maximum API level on which the application is designed to run.
          format: int32
          title: maxSdkVersion
          type: integer
        metadata:
          description: Meta-data tags defined in the manifest.
          items:
            $ref: '#/components/schemas/Metadata'
          title: metadata
          type: array
        minSdkVersion:
          description: Minimum API level required for the application to run.
          format: int32
          title: minSdkVersion
          type: integer
        packageName:
          description: "Full Java-style package name for this application, e.g. \"\
            com.example.foo\"."
          title: packageName
          type: string
        services:
          description: Services contained in the tag.
          items:
            $ref: '#/components/schemas/Service'
          title: services
          type: array
        targetSdkVersion:
          description: Specifies the API Level on which the application is designed
            to run.
          format: int32
          title: targetSdkVersion
          type: integer
        usesFeature:
          description: Feature usage tags defined in the manifest.
          items:
            $ref: '#/components/schemas/UsesFeature'
          title: usesFeature
          type: array
        usesPermission:
          description: Permissions declared to be used by the application
          items:
            type: string
          title: usesPermission
          type: array
        versionCode:
          description: Version number used internally by the app.
          format: int64
          title: versionCode
          type: string
        versionName:
          description: Version number shown to users.
          title: versionName
          type: string
      title: ApkManifest
      type: object
    AppBundle:
      description: "An Android App Bundle file format, containing a BundleConfig.pb\
        \ file, a base module directory, zero or more dynamic feature module directories.\
        \ See https://developer.android.com/guide/app-bundle/build for guidance on\
        \ building App Bundles."
      example:
        bundleLocation:
          gcsPath: gcsPath
      properties:
        bundleLocation:
          $ref: '#/components/schemas/FileReference'
      title: AppBundle
      type: object
    CancelDeviceSessionRequest:
      description: The request object for cancelling a Device Session.
      properties: {}
      type: object
    CancelTestMatrixResponse:
      description: Response containing the current state of the specified test matrix.
      example:
        testState: TEST_STATE_UNSPECIFIED
      properties:
        testState:
          description: "The current rolled-up state of the test matrix. If this state\
            \ is already final, then the cancelation request will have no effect."
          enum:
          - TEST_STATE_UNSPECIFIED
          - VALIDATING
          - PENDING
          - RUNNING
          - FINISHED
          - ERROR
          - UNSUPPORTED_ENVIRONMENT
          - INCOMPATIBLE_ENVIRONMENT
          - INCOMPATIBLE_ARCHITECTURE
          - CANCELLED
          - INVALID
          title: testState
          type: string
      title: CancelTestMatrixResponse
      type: object
    ClientInfo:
      description: Information about the client which invoked the test.
      example:
        name: name
        clientInfoDetails:
        - value: value
          key: key
        - value: value
          key: key
      properties:
        clientInfoDetails:
          description: The list of detailed information about client.
          items:
            $ref: '#/components/schemas/ClientInfoDetail'
          title: clientInfoDetails
          type: array
        name:
          description: "Required. Client name, such as gcloud."
          title: name
          type: string
      title: ClientInfo
      type: object
    ClientInfoDetail:
      description: "Key-value pair of detailed information about the client which\
        \ invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}."
      example:
        value: value
        key: key
      properties:
        key:
          description: Required. The key of detailed client information.
          title: key
          type: string
        value:
          description: Required. The value of detailed client information.
          title: value
          type: string
      title: ClientInfoDetail
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 7
        year: 9
        day: 2
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          title: day
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          title: month
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          title: year
          type: integer
      title: Date
      type: object
    DeviceFile:
      description: A single device file description.
      example:
        regularFile:
          devicePath: devicePath
          content:
            gcsPath: gcsPath
        obbFile:
          obb:
            gcsPath: gcsPath
          obbFileName: obbFileName
      properties:
        obbFile:
          $ref: '#/components/schemas/ObbFile'
        regularFile:
          $ref: '#/components/schemas/RegularFile'
      title: DeviceFile
      type: object
    DeviceIpBlock:
      description: A single device IP block
      example:
        addedDate:
          month: 7
          year: 9
          day: 2
        form: DEVICE_FORM_UNSPECIFIED
        block: block
      properties:
        addedDate:
          $ref: '#/components/schemas/Date'
        block:
          description: "An IP address block in CIDR notation eg: 34.68.194.64/29"
          title: block
          type: string
        form:
          description: Whether this block is used by physical or virtual devices
          enum:
          - DEVICE_FORM_UNSPECIFIED
          - VIRTUAL
          - PHYSICAL
          - EMULATOR
          title: form
          type: string
      title: DeviceIpBlock
      type: object
    DeviceIpBlockCatalog:
      description: List of IP blocks used by the Firebase Test Lab
      example:
        ipBlocks:
        - addedDate:
            month: 7
            year: 9
            day: 2
          form: DEVICE_FORM_UNSPECIFIED
          block: block
        - addedDate:
            month: 7
            year: 9
            day: 2
          form: DEVICE_FORM_UNSPECIFIED
          block: block
      properties:
        ipBlocks:
          description: The device IP blocks used by Firebase Test Lab
          items:
            $ref: '#/components/schemas/DeviceIpBlock'
          title: ipBlocks
          type: array
      title: DeviceIpBlockCatalog
      type: object
    DeviceSession:
      description: "Protobuf message describing the device message, used from several\
        \ RPCs."
      example:
        inactivityTimeout: inactivityTimeout
        expireTime: expireTime
        stateHistories:
        - sessionState: SESSION_STATE_UNSPECIFIED
          eventTime: eventTime
          stateMessage: stateMessage
        - sessionState: SESSION_STATE_UNSPECIFIED
          eventTime: eventTime
          stateMessage: stateMessage
        createTime: createTime
        activeStartTime: activeStartTime
        displayName: displayName
        name: name
        state: SESSION_STATE_UNSPECIFIED
        ttl: ttl
        androidDevice:
          orientation: orientation
          androidVersionId: androidVersionId
          locale: locale
          androidModelId: androidModelId
      properties:
        activeStartTime:
          description: Output only. The timestamp that the session first became ACTIVE.
          format: google-datetime
          readOnly: true
          title: activeStartTime
          type: string
        androidDevice:
          $ref: '#/components/schemas/AndroidDevice'
        createTime:
          description: Output only. The time that the Session was created.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        displayName:
          description: Output only. The title of the DeviceSession to be presented
            in the UI.
          readOnly: true
          title: displayName
          type: string
        expireTime:
          description: "Optional. If the device is still in use at this time, any\
            \ connections will be ended and the SessionState will transition from\
            \ ACTIVE to FINISHED."
          format: google-datetime
          title: expireTime
          type: string
        inactivityTimeout:
          description: Output only. The interval of time that this device must be
            interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.
          format: google-duration
          readOnly: true
          title: inactivityTimeout
          type: string
        name:
          description: "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
          title: name
          type: string
        state:
          description: Output only. Current state of the DeviceSession.
          enum:
          - SESSION_STATE_UNSPECIFIED
          - REQUESTED
          - PENDING
          - ACTIVE
          - EXPIRED
          - FINISHED
          - UNAVAILABLE
          - ERROR
          readOnly: true
          title: state
          type: string
        stateHistories:
          description: Output only. The historical state transitions of the session_state
            message including the current session state.
          items:
            $ref: '#/components/schemas/SessionStateEvent'
          readOnly: true
          title: stateHistories
          type: array
        ttl:
          description: "Optional. The amount of time that a device will be initially\
            \ allocated for. This can eventually be extended with the UpdateDeviceSession\
            \ RPC. Default: 30 minutes."
          format: google-duration
          title: ttl
          type: string
      title: DeviceSession
      type: object
    DirectAccessVersionInfo:
      description: "Denotes whether Direct Access is supported, and by which client\
        \ versions. DirectAccessService is currently available as a preview to select\
        \ developers. You can register today on behalf of you and your team at https://developer.android.com/studio/preview/android-device-streaming"
      example:
        directAccessSupported: true
        minimumAndroidStudioVersion: minimumAndroidStudioVersion
      properties:
        directAccessSupported:
          description: Whether direct access is supported at all. Clients are expected
            to filter down the device list to only android models and versions which
            support Direct Access when that is the user intent.
          title: directAccessSupported
          type: boolean
        minimumAndroidStudioVersion:
          description: "Output only. Indicates client-device compatibility, where\
            \ a device is known to work only with certain workarounds implemented\
            \ in the Android Studio client. Expected format \"major.minor.micro.patch\"\
            , e.g. \"5921.22.2211.8881706\"."
          title: minimumAndroidStudioVersion
          type: string
      title: DirectAccessVersionInfo
      type: object
    Distribution:
      description: Data about the relative number of devices running a given configuration
        of the Android platform.
      example:
        marketShare: 5.637376656633329
        measurementTime: measurementTime
      properties:
        marketShare:
          description: Output only. The estimated fraction (0-1) of the total market
            with this configuration.
          format: double
          title: marketShare
          type: number
        measurementTime:
          description: Output only. The time this distribution was measured.
          format: google-datetime
          title: measurementTime
          type: string
      title: Distribution
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Environment:
      description: The environment in which the test is run.
      example:
        iosDevice:
          iosVersionId: iosVersionId
          orientation: orientation
          iosModelId: iosModelId
          locale: locale
        androidDevice:
          orientation: orientation
          androidVersionId: androidVersionId
          locale: locale
          androidModelId: androidModelId
      properties:
        androidDevice:
          $ref: '#/components/schemas/AndroidDevice'
        iosDevice:
          $ref: '#/components/schemas/IosDevice'
      title: Environment
      type: object
    EnvironmentMatrix:
      description: The matrix of environments in which the test is to be executed.
      example:
        androidDeviceList:
          androidDevices:
          - orientation: orientation
            androidVersionId: androidVersionId
            locale: locale
            androidModelId: androidModelId
          - orientation: orientation
            androidVersionId: androidVersionId
            locale: locale
            androidModelId: androidModelId
        androidMatrix:
          locales:
          - locales
          - locales
          orientations:
          - orientations
          - orientations
          androidModelIds:
          - androidModelIds
          - androidModelIds
          androidVersionIds:
          - androidVersionIds
          - androidVersionIds
        iosDeviceList:
          iosDevices:
          - iosVersionId: iosVersionId
            orientation: orientation
            iosModelId: iosModelId
            locale: locale
          - iosVersionId: iosVersionId
            orientation: orientation
            iosModelId: iosModelId
            locale: locale
      properties:
        androidDeviceList:
          $ref: '#/components/schemas/AndroidDeviceList'
        androidMatrix:
          $ref: '#/components/schemas/AndroidMatrix'
        iosDeviceList:
          $ref: '#/components/schemas/IosDeviceList'
      title: EnvironmentMatrix
      type: object
    EnvironmentVariable:
      description: A key-value pair passed as an environment variable to the test.
      example:
        value: value
        key: key
      properties:
        key:
          description: Key for the environment variable.
          title: key
          type: string
        value:
          description: Value for the environment variable.
          title: value
          type: string
      title: EnvironmentVariable
      type: object
    FileReference:
      description: "A reference to a file, used for user inputs."
      example:
        gcsPath: gcsPath
      properties:
        gcsPath:
          description: "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk\
            \ These paths are expected to be url encoded (percent encoding)"
          title: gcsPath
          type: string
      title: FileReference
      type: object
    GetApkDetailsResponse:
      description: Response containing the details of the specified Android application.
      example:
        apkDetail:
          apkManifest:
            maxSdkVersion: 0
            minSdkVersion: 6
            metadata:
            - name: name
              value: value
            - name: name
              value: value
            applicationLabel: applicationLabel
            usesPermission:
            - usesPermission
            - usesPermission
            intentFilters:
            - categoryNames:
              - categoryNames
              - categoryNames
              mimeType: mimeType
              actionNames:
              - actionNames
              - actionNames
            - categoryNames:
              - categoryNames
              - categoryNames
              mimeType: mimeType
              actionNames:
              - actionNames
              - actionNames
            packageName: packageName
            services:
            - name: name
              intentFilter:
              - categoryNames:
                - categoryNames
                - categoryNames
                mimeType: mimeType
                actionNames:
                - actionNames
                - actionNames
              - categoryNames:
                - categoryNames
                - categoryNames
                mimeType: mimeType
                actionNames:
                - actionNames
                - actionNames
            - name: name
              intentFilter:
              - categoryNames:
                - categoryNames
                - categoryNames
                mimeType: mimeType
                actionNames:
                - actionNames
                - actionNames
              - categoryNames:
                - categoryNames
                - categoryNames
                mimeType: mimeType
                actionNames:
                - actionNames
                - actionNames
            targetSdkVersion: 1
            versionName: versionName
            versionCode: versionCode
            usesFeature:
            - isRequired: true
              name: name
            - isRequired: true
              name: name
      properties:
        apkDetail:
          $ref: '#/components/schemas/ApkDetail'
      title: GetApkDetailsResponse
      type: object
    GoogleAuto:
      description: "Enables automatic Google account login. If set, the service automatically\
        \ generates a Google test account and adds it to the device, before executing\
        \ the test. Note that test accounts might be reused. Many applications show\
        \ their full set of functionalities when an account is present on the device.\
        \ Logging into the device with these generated accounts allows testing more\
        \ functionalities."
      properties: {}
      title: googleAuto
      type: object
    GoogleCloudStorage:
      description: A storage location within Google cloud storage (GCS).
      example:
        gcsPath: gcsPath
      properties:
        gcsPath:
          description: Required. The path to a directory in GCS that will eventually
            contain the results for this test. The requesting user must have write
            access on the bucket in the supplied path.
          title: gcsPath
          type: string
      title: GoogleCloudStorage
      type: object
    IntentFilter:
      description: The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html
      example:
        categoryNames:
        - categoryNames
        - categoryNames
        mimeType: mimeType
        actionNames:
        - actionNames
        - actionNames
      properties:
        actionNames:
          description: The android:name value of the tag.
          items:
            type: string
          title: actionNames
          type: array
        categoryNames:
          description: The android:name value of the tag.
          items:
            type: string
          title: categoryNames
          type: array
        mimeType:
          description: The android:mimeType value of the tag.
          title: mimeType
          type: string
      title: IntentFilter
      type: object
    IosDevice:
      description: A single iOS device.
      example:
        iosVersionId: iosVersionId
        orientation: orientation
        iosModelId: iosModelId
        locale: locale
      properties:
        iosModelId:
          description: Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService
            to get supported options.
          title: iosModelId
          type: string
        iosVersionId:
          description: Required. The id of the iOS major software version to be used.
            Use the TestEnvironmentDiscoveryService to get supported options.
          title: iosVersionId
          type: string
        locale:
          description: Required. The locale the test device used for testing. Use
            the TestEnvironmentDiscoveryService to get supported options.
          title: locale
          type: string
        orientation:
          description: Required. How the device is oriented during the test. Use the
            TestEnvironmentDiscoveryService to get supported options.
          title: orientation
          type: string
      title: IosDevice
      type: object
    IosDeviceCatalog:
      description: The currently supported iOS devices.
      example:
        xcodeVersions:
        - version: version
          tags:
          - tags
          - tags
        - version: version
          tags:
          - tags
          - tags
        models:
        - perVersionInfo:
          - versionId: versionId
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
          - versionId: versionId
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
          formFactor: DEVICE_FORM_FACTOR_UNSPECIFIED
          name: name
          screenDensity: 3
          supportedVersionIds:
          - supportedVersionIds
          - supportedVersionIds
          id: id
          deviceCapabilities:
          - deviceCapabilities
          - deviceCapabilities
          screenX: 2
          screenY: 4
          tags:
          - tags
          - tags
        - perVersionInfo:
          - versionId: versionId
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
          - versionId: versionId
            deviceCapacity: DEVICE_CAPACITY_UNSPECIFIED
          formFactor: DEVICE_FORM_FACTOR_UNSPECIFIED
          name: name
          screenDensity: 3
          supportedVersionIds:
          - supportedVersionIds
[...]
