openapi: 3.0.1
info:
  description: Azure Blueprint Client.
  title: BlueprintClient
  version: 2017-11-11-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/blueprintAssignment.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: blueprint-blueprintAssignment
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Blueprint/blueprintAssignments:
    get:
      description: List Blueprint assignments within a subscription.
      operationId: Assignments_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "azure subscriptionId, which we assign the blueprint to."
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentList'
          description: OK - all Blueprint assignment retrieved.
      tags:
      - Assignment
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2017-11-11-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                  identity:
                    principalId: 00000000-0000-0000-0000-000000000000
                    tenantId: 00000000-0000-0000-0000-000000000000
                    type: SystemAssigned
                  location: eastus
                  name: assignSimpleBlueprint
                  properties:
                    blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                    description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                      subscription.
                    parameters:
                      costCenter:
                        value: Contoso/Online/Shopping/Production
                      owners:
                        value:
                        - johnDoe@contoso.com
                        - johnsteam@contoso.com
                      storageAccountType:
                        value: Standard_LRS
                    provisioningState: failed
                    resourceGroups:
                      storageRG:
                        location: eastus
                        name: defaultRG
                  type: Microsoft.Blueprint/Assignment
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}:
    delete:
      description: Delete a Blueprint assignment.
      operationId: Assignments_Delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "azure subscriptionId, which we assign the blueprint to."
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK - Blueprint assignment deleted.
        "204":
          content: {}
          description: no content
      tags:
      - Assignment
      x-ms-examples:
        Assignment_Delete:
          parameters:
            api-version: 2017-11-11-preview
            assignmentName: assignSimpleBlueprint
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  principalId: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: SystemAssigned
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: deleting
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a Blueprint assignment.
      operationId: Assignments_Get
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "azure subscriptionId, which we assign the blueprint to."
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK - Blueprint assignment retrieved.
      tags:
      - Assignment
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2017-11-11-preview
            assignmentName: assignSimpleBlueprint
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  principalId: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: SystemAssigned
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: succeed
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
      x-accepts:
      - application/json
    put:
      description: Create or update a Blueprint assignment.
      operationId: Assignments_CreateOrUpdate
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "azure subscriptionId, which we assign the blueprint to."
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
        description: assignment object to save.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: Created - Blueprint assignment saved
      tags:
      - Assignment
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2017-11-11-preview
            assignment:
              identity:
                type: SystemAssigned
              location: eastus
              properties:
                blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                  subscription.
                parameters:
                  costCenter:
                    value: Contoso/Online/Shopping/Production
                  owners:
                    value:
                    - johnDoe@contoso.com
                    - johnsteam@contoso.com
                  storageAccountType:
                    value: Standard_LRS
                resourceGroups:
                  storageRG:
                    location: eastus
                    name: defaultRG
            assignmentName: assignSimpleBlueprint
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  principalId: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: SystemAssigned
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: creating
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
      x-codegen-request-body-name: assignment
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    AssignmentNameParameter:
      description: name of the assignment.
      in: path
      name: assignmentName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: "azure subscriptionId, which we assign the blueprint to."
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Assignment:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Represents a Blueprint assignment.
      example:
        identity:
          tenantId: tenantId
          principalId: principalId
          type: None
        properties:
          resourceGroups:
            key:
              name: name
              location: location
          provisioningState: creating
          blueprintId: blueprintId
          locks:
            mode: None
          parameters:
            key:
              description: description
          status:
            timeCreated: timeCreated
            lastModified: lastModified
      properties:
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
        properties:
          $ref: '#/components/schemas/AssignmentProperties'
      required:
      - identity
      - properties
    AssignmentList:
      description: List of Blueprint assignments
      example:
        value:
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: None
          properties:
            resourceGroups:
              key:
                name: name
                location: location
            provisioningState: creating
            blueprintId: blueprintId
            locks:
              mode: None
            parameters:
              key:
                description: description
            status:
              timeCreated: timeCreated
              lastModified: lastModified
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: None
          properties:
            resourceGroups:
              key:
                name: name
                location: location
            provisioningState: creating
            blueprintId: blueprintId
            locks:
              mode: None
            parameters:
              key:
                description: description
            status:
              timeCreated: timeCreated
              lastModified: lastModified
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of Blueprint assignments.
          items:
            $ref: '#/components/schemas/Assignment'
          type: array
      type: object
    AssignmentLockSettings:
      description: Defines how Blueprint-managed resources will be locked.
      example:
        mode: None
      properties:
        mode:
          description: Lock mode.
          enum:
          - None
          - AllResources
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentLockMode
      type: object
    AssignmentProperties:
      allOf:
      - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
      description: Detailed properties for Assignment.
      example:
        resourceGroups:
          key:
            name: name
            location: location
        provisioningState: creating
        blueprintId: blueprintId
        locks:
          mode: None
        parameters:
          key:
            description: description
        status:
          timeCreated: timeCreated
          lastModified: lastModified
      properties:
        blueprintId:
          description: ID of the Blueprint definition resource.
          type: string
        locks:
          $ref: '#/components/schemas/AssignmentLockSettings'
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/ParameterValueBase'
          description: A dictionary for parameters and their corresponding values.
          type: object
        provisioningState:
          description: State of the assignment.
          enum:
          - creating
          - validating
          - waiting
          - deploying
          - cancelling
          - locking
          - succeeded
          - failed
          - canceled
          - deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentProvisioningState
        resourceGroups:
          additionalProperties:
            $ref: '#/components/schemas/ResourceGroupValue'
          description: A dictionary which maps resource group placeholders to the
            resource groups which will be created.
          type: object
        status:
          $ref: '#/components/schemas/AssignmentStatus'
      required:
      - parameters
      - resourceGroups
    AssignmentStatus:
      allOf:
      - $ref: '#/components/schemas/BlueprintResourceStatusBase'
      description: The status of Blueprint assignment. This field is readonly.
      example:
        timeCreated: timeCreated
        lastModified: lastModified
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    BlueprintResourcePropertiesBase:
      description: Shared properties between all Blueprint resources.
      properties:
        description:
          description: Multi-line explain this resource.
          maxLength: 500
          type: string
        displayName:
          description: One-liner string explain this resource.
          maxLength: 256
          type: string
      type: object
      x-ms-external: true
    BlueprintResourceStatusBase:
      description: Shared status properties between all Blueprint resources.
      properties:
        lastModified:
          description: Last modified time of this blueprint.
          readOnly: true
          type: string
        timeCreated:
          description: Creation time of this blueprint.
          readOnly: true
          type: string
      type: object
    ManagedServiceIdentity:
      description: Managed Service Identity
      example:
        tenantId: tenantId
        principalId: principalId
        type: None
      properties:
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
        tenantId:
          description: ID of the Azure Active Directory.
          type: string
        type:
          description: Type of the Managed Service Identity.
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServiceIdentityType
      required:
      - type
      type: object
    ParameterValue:
      allOf:
      - $ref: '#/components/schemas/ParameterValueBase'
      description: Value for the specified parameter.
      properties:
        value:
          description: actual value.
          type: object
      required:
      - value
    ParameterValueBase:
      description: Base class for ParameterValue.
      example:
        description: description
      properties:
        description:
          description: "Optional property, just to establish ParameterValueBase as\
            \ a BaseClass."
          type: string
      type: object
    ParameterValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ParameterValueBase'
      description: A dictionary for parameters and their corresponding values.
      type: object
    ResourceGroupValue:
      description: Represents an Azure resource group.
      example:
        name: name
        location: location
      properties:
        location:
          description: Location of the resource group
          type: string
        name:
          description: Name of the resource group
          maxLength: 90
          minLength: 1
          type: string
      type: object
    ResourceGroupValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ResourceGroupValue'
      description: A dictionary which maps resource group placeholders to the resource
        groups which will be created.
      type: object
    SecretReferenceParameterValue:
      allOf:
      - $ref: '#/components/schemas/ParameterValueBase'
      description: "The reference to a secret, if the parameter should be protected."
      properties:
        reference:
          $ref: '#/components/schemas/SecretValueReference'
      required:
      - reference
    SecretValueReference:
      description: Reference to a KeyVault secret.
      properties:
        keyVault:
          $ref: '#/components/schemas/keyVaultReference'
        secretName:
          description: Name of the secret.
          type: string
        secretVersion:
          description: "Version of the secret, (if there are multiple versions)"
          type: string
      required:
      - keyVault
      - secretName
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: Common properties for all Azure tracked resources.
      properties:
        location:
          description: The location of this Blueprint assignment.
          type: string
          x-ms-mutability:
          - read
          - create
      required:
      - location
    keyVaultReference:
      description: Specifies the link to a KeyVault.
      properties:
        id:
          description: Azure resource ID of the KeyVault.
          type: string
      required:
      - id
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

