openapi: 3.0.1
info:
  description: Microsoft.Intune Resource provider Api features in the swagger-2.0
    specification
  title: IntuneResourceManagementClient
  version: 2015-01-14-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/intune/resource-manager/Microsoft.Intune/preview/2015-01-14-preview/intune.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: intune
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Intune/locations:
    get:
      description: Returns location for user tenant.
      operationId: GetLocations
      parameters:
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollection'
          description: location response as a collection
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/hostName:
    get:
      description: Returns location for given tenant.
      operationId: GetLocationByHostName
      parameters:
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: single location response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps:
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: Android_GetAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies:
    get:
      description: Returns Intune Android policies.
      operationId: Android_GetMAMPolicies
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicyCollection'
          description: android Policies response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}:
    delete:
      description: Delete Android Policy
      operationId: Android_DeleteMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: Android_GetMAMPolicyByName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: Android_PatchMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
          description: android entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: Android_CreateOrUpdateMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
          description: android entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}:
    delete:
      description: Delete App for Android Policy
      operationId: Android_DeleteAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: Android_AddAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: Android_GetGroupsForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: policy name for the tenant
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
          description: groups as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}:
    delete:
      description: Delete Group for Android Policy
      operationId: Android_DeleteGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    put:
      description: Add group to an AndroidMAMPolicy.
      operationId: Android_AddGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: group Id
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/apps:
    get:
      description: Returns Intune Manageable apps.
      operationId: GetApps
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers:
    get:
      description: Returns Intune flagged user collection
      operationId: GetMAMFlaggedUsers
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUserCollection'
          description: Flagged users as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}:
    get:
      description: Returns Intune flagged user details
      operationId: GetMAMFlaggedUserByName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Flagged userName
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUser'
          description: Flagged user details in response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps:
    get:
      description: Returns Intune flagged enrolled app collection for the User
      operationId: GetMAMUserFlaggedEnrolledApps
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: User name for the tenant
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedEnrolledAppCollection'
          description: Flagged enrolled Apps as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies:
    get:
      description: Returns Intune iOSPolicies.
      operationId: Ios_GetMAMPolicies
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IOSMAMPolicyCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}:
    delete:
      description: Delete Ios Policy
      operationId: Ios_DeleteMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    get:
      description: Returns Intune iOS policies.
      operationId: Ios_GetMAMPolicyByName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: Ios_PatchMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: Ios_CreateOrUpdateMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
          description: iOSMAMPolicy entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps:
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: Ios_GetAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}:
    delete:
      description: Delete App for Ios Policy
      operationId: Ios_DeleteAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: Ios_AddAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to add an app to an ios policy.
        required: true
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: Ios_GetGroupsForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: policy name for the tenant
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
          description: groups as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}:
    delete:
      description: Delete Group for iOS Policy
      operationId: Ios_DeleteGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: application unique Name
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: Ios_AddGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: group Id
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
      responses:
        "200":
          content: {}
          description: No-Content.
        "204":
          content: {}
          description: No-Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/operationResults:
    get:
      description: Returns operationResults.
      operationId: GetOperationResults
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultCollection'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/statuses/default:
    get:
      description: Returns Intune Tenant level statuses.
      operationId: GetMAMStatuses
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusesDefault'
          description: applications as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices:
    get:
      description: Get devices for a user.
      operationId: GetMAMUserDevices
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: user unique Name
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCollection'
          description: devices as collection response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-ms-pageable:
        nextLinkName: nextlink
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}:
    get:
      description: Get a unique device for a user.
      operationId: GetMAMUserDeviceByDeviceName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: unique user name
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: device name
        in: path
        name: deviceName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: select specific fields in entity.
        in: query
        name: $select
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: Device entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe:
    post:
      description: Wipe a device for a user.
      operationId: WipeMAMUserDevice
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: unique user name
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: device name
        in: path
        name: deviceName
        required: true
        schema:
          type: string
      - description: Service Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeDeviceOperationResult'
          description: Wipe operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Service Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    AndroidMAMPolicy:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Android Policy entity for Intune MAM.
      example:
        properties:
          screenCapture: allow
          fileEncryption: required
      properties:
        properties:
          $ref: '#/components/schemas/AndroidMAMPolicyProperties'
    AndroidMAMPolicyCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            screenCapture: allow
            fileEncryption: required
        - properties:
            screenCapture: allow
            fileEncryption: required
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/AndroidMAMPolicy'
          type: array
      required:
      - value
      type: object
    AndroidMAMPolicyProperties:
      allOf:
      - $ref: '#/components/schemas/MAMPolicyProperties'
      description: Intune MAM iOS Policy Properties.
      example:
        screenCapture: allow
        fileEncryption: required
      properties:
        fileEncryption:
          default: required
          enum:
          - required
          - notRequired
          type: string
        screenCapture:
          default: allow
          enum:
          - allow
          - block
          type: string
    Application:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Application entity for Intune MAM.
      example:
        properties:
          appId: appId
          friendlyName: friendlyName
          platform: ios
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
    ApplicationCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            appId: appId
            friendlyName: friendlyName
            platform: ios
        - properties:
            appId: appId
            friendlyName: friendlyName
            platform: ios
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Application'
          type: array
      required:
      - value
      type: object
    ApplicationProperties:
      example:
        appId: appId
        friendlyName: friendlyName
        platform: ios
      properties:
        appId:
          type: string
        friendlyName:
          type: string
        platform:
          default: ios
          enum:
          - ios
          - android
          - windows
          type: string
      required:
      - friendlyName
      - platform
      type: object
    Device:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
      example:
        properties:
          deviceType: deviceType
          platformVersion: platformVersion
          userId: userId
          friendlyName: friendlyName
          platform: platform
      properties:
        properties:
          $ref: '#/components/schemas/DeviceProperties'
    DeviceCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            deviceType: deviceType
            platformVersion: platformVersion
            userId: userId
            friendlyName: friendlyName
            platform: platform
        - properties:
            deviceType: deviceType
            platformVersion: platformVersion
            userId: userId
            friendlyName: friendlyName
            platform: platform
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Device'
          type: array
      required:
      - value
      type: object
    DeviceProperties:
      example:
        deviceType: deviceType
        platformVersion: platformVersion
        userId: userId
        friendlyName: friendlyName
        platform: platform
      properties:
        deviceType:
          type: string
        friendlyName:
          type: string
        platform:
          type: string
        platformVersion:
          type: string
        userId:
          type: string
      required:
      - deviceType
      - friendlyName
      - platform
      - platformVersion
      - userId
      type: object
    Error:
      example:
        code: code
        message: message
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      type: object
    FlaggedEnrolledApp:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Flagged Enrolled App for the given tenant.
      example:
        properties:
          deviceType: deviceType
          lastModifiedTime: lastModifiedTime
          errors:
          - severity: severity
            errorCode: errorCode
          - severity: severity
            errorCode: errorCode
          friendlyName: friendlyName
          platform: platform
      properties:
        properties:
          $ref: '#/components/schemas/FlaggedEnrolledAppProperties'
    FlaggedEnrolledAppCollection:
      description: Flagged Enrolled App collection for the given tenant.
      example:
        nextlink: nextlink
        value:
        - properties:
            deviceType: deviceType
            lastModifiedTime: lastModifiedTime
            errors:
            - severity: severity
              errorCode: errorCode
            - severity: severity
              errorCode: errorCode
            friendlyName: friendlyName
            platform: platform
        - properties:
            deviceType: deviceType
            lastModifiedTime: lastModifiedTime
            errors:
            - severity: severity
              errorCode: errorCode
            - severity: severity
              errorCode: errorCode
            friendlyName: friendlyName
            platform: platform
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/FlaggedEnrolledApp'
          type: array
      required:
      - value
      type: object
    FlaggedEnrolledAppError:
      example:
        severity: severity
        errorCode: errorCode
      properties:
        errorCode:
          readOnly: true
          type: string
        severity:
          readOnly: true
          type: string
      type: object
    FlaggedEnrolledAppProperties:
      example:
        deviceType: deviceType
        lastModifiedTime: lastModifiedTime
        errors:
        - severity: severity
          errorCode: errorCode
        - severity: severity
          errorCode: errorCode
        friendlyName: friendlyName
        platform: platform
      properties:
        deviceType:
          readOnly: true
          type: string
        errors:
          items:
            $ref: '#/components/schemas/FlaggedEnrolledAppError'
          type: array
        friendlyName:
          readOnly: true
          type: string
        lastModifiedTime:
          readOnly: true
          type: string
        platform:
          readOnly: true
          type: string
      type: object
    FlaggedUser:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Flagged user for the given tenant.
      example:
        properties:
          errorCount: 0
          friendlyName: friendlyName
      properties:
        properties:
          $ref: '#/components/schemas/FlaggedUserProperties'
    FlaggedUserCollection:
      description: Flagged user collection for the given tenant.
      example:
        nextlink: nextlink
        value:
        - properties:
            errorCount: 0
            friendlyName: friendlyName
        - properties:
            errorCount: 0
            friendlyName: friendlyName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/FlaggedUser'
          type: array
      required:
      - value
      type: object
    FlaggedUserProperties:
      example:
        errorCount: 0
        friendlyName: friendlyName
      properties:
        errorCount:
          readOnly: true
          type: integer
        friendlyName:
          readOnly: true
          type: string
      type: object
    GroupItem:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Group entity for Intune MAM.
      example:
        properties:
          friendlyName: friendlyName
      properties:
        properties:
          $ref: '#/components/schemas/GroupProperties'
    GroupProperties:
      example:
        friendlyName: friendlyName
      properties:
        friendlyName:
          type: string
      required:
      - friendlyName
      type: object
    GroupsCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            friendlyName: friendlyName
        - properties:
            friendlyName: friendlyName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/GroupItem'
          type: array
      required:
      - value
      type: object
    IOSMAMPolicyCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            fileEncryptionLevel: deviceLocked
            touchId: enable
        - properties:
            fileEncryptionLevel: deviceLocked
            touchId: enable
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/iOSMAMPolicy'
          type: array
      required:
      - value
      type: object
    Location:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Location entity for given tenant.
      example:
        properties:
          hostName: hostName
      properties:
        properties:
          $ref: '#/components/schemas/LocationProperties'
    LocationCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            hostName: hostName
        - properties:
            hostName: hostName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Location'
          type: array
      required:
      - value
      type: object
    LocationProperties:
      example:
        hostName: hostName
      properties:
        hostName:
          type: string
      required:
      - hostName
      type: object
    MAMPolicyAppIdOrGroupIdPayload:
      description: MAM Policy request body for properties Intune MAM.
      example:
        properties:
          url: url
      properties:
        properties:
          $ref: '#/components/schemas/MAMPolicyAppOrGroupIdProperties'
      type: object
    MAMPolicyAppOrGroupIdProperties:
      description: Android Policy request body for Intune MAM.
      example:
        url: url
      properties:
        url:
          type: string
      required:
      - url
      type: object
    MAMPolicyProperties:
      properties:
        accessRecheckOfflineTimeout:
          format: duration
          type: string
        accessRecheckOnlineTimeout:
          format: duration
          type: string
        appSharingFromLevel:
          default: none
          enum:
          - none
          - policyManagedApps
          - allApps
          type: string
        appSharingToLevel:
          default: none
          enum:
          - none
          - policyManagedApps
          - allApps
          type: string
        authentication:
          default: required
          enum:
          - required
          - notRequired
          type: string
        clipboardSharingLevel:
          default: blocked
          enum:
          - blocked
          - policyManagedApps
          - policyManagedAppsWithPasteIn
          - allApps
          type: string
        dataBackup:
          default: allow
          enum:
          - allow
          - block
          type: string
        description:
          type: string
        deviceCompliance:
          default: enable
          enum:
          - enable
          - disable
          type: string
        fileSharingSaveAs:
          default: allow
          enum:
          - allow
          - block
          type: string
        friendlyName:
          type: string
        groupStatus:
          default: notTargeted
          enum:
          - notTargeted
          - targeted
          readOnly: true
          type: string
        lastModifiedTime:
          format: date-time
          readOnly: true
          type: string
        managedBrowser:
          default: required
          enum:
          - required
          - notRequired
          type: string
        numOfApps:
          readOnly: true
          type: integer
        offlineWipeTimeout:
          format: duration
          type: string
        pin:
          default: required
          enum:
          - required
          - notRequired
          type: string
        pinNumRetry:
          type: integer
      required:
      - friendlyName
      type: object
    OperationResult:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: OperationResult entity for Intune.
      example:
        properties:
          operationMetadata:
          - name: name
            value: value
          - name: name
            value: value
          lastModifiedTime: lastModifiedTime
          state: state
          category: category
          friendlyName: friendlyName
      properties:
        properties:
          $ref: '#/components/schemas/OperationResultProperties'
    OperationResultCollection:
      example:
        nextlink: nextlink
        value:
        - properties:
            operationMetadata:
            - name: name
              value: value
            - name: name
              value: value
            lastModifiedTime: lastModifiedTime
            state: state
            category: category
            friendlyName: friendlyName
        - properties:
            operationMetadata:
            - name: name
              value: value
            - name: name
              value: value
            lastModifiedTime: lastModifiedTime
            state: state
            category: category
            friendlyName: friendlyName
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/OperationResult'
          type: array
      required:
      - value
      type: object
    OperationResultProperties:
      example:
        operationMetadata:
        - name: name
          value: value
        - name: name
          value: value
        lastModifiedTime: lastModifiedTime
        state: state
        category: category
        friendlyName: friendlyName
      properties:
        category:
          type: string
        friendlyName:
          type: string
        lastModifiedTime:
          type: string
        operationMetadata:
          items:
            $ref: '#/components/schemas/operationMetadataProperties'
          type: array
        state:
          type: string
      required:
      - friendlyName
      - operationMetadata
      type: object
    Resource:
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource Location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource Tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    StatusesDefault:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Default Statuses entity for the given tenant.
      example:
        nextlink: nextlink
        properties:
          wipeSucceededApps: 7
          enrolledUsers: 6
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          deployedPolicies: 0
          wipeFailedApps: 5
          flaggedUsers: 1
          wipePendingApps: 2
          policyAppliedUsers: 5
          status: status
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/StatusesProperties'
    StatusesProperties:
      example:
        wipeSucceededApps: 7
        enrolledUsers: 6
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        deployedPolicies: 0
        wipeFailedApps: 5
        flaggedUsers: 1
        wipePendingApps: 2
        policyAppliedUsers: 5
        status: status
      properties:
        deployedPolicies:
          readOnly: true
          type: integer
        enrolledUsers:
          readOnly: true
          type: integer
        flaggedUsers:
          readOnly: true
          type: integer
        lastModifiedTime:
          format: date-time
          readOnly: true
          type: string
        policyAppliedUsers:
          readOnly: true
          type: integer
        status:
          readOnly: true
          type: string
        wipeFailedApps:
          readOnly: true
          type: integer
        wipePendingApps:
          readOnly: true
          type: integer
        wipeSucceededApps:
          readOnly: true
          type: integer
      type: object
    WipeDeviceOperationResult:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
      example:
        properties:
          value: value
      properties:
        properties:
          $ref: '#/components/schemas/WipeDeviceOperationResultProperties'
    WipeDeviceOperationResultProperties:
      example:
        value: value
      properties:
        value:
          type: string
      required:
      - value
      type: object
    iOSMAMPolicy:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: iOS Policy entity for Intune MAM.
      example:
        properties:
          fileEncryptionLevel: deviceLocked
          touchId: enable
      properties:
        properties:
          $ref: '#/components/schemas/iOSMAMPolicyProperties'
    iOSMAMPolicyProperties:
      allOf:
      - $ref: '#/components/schemas/MAMPolicyProperties'
      description: Intune MAM iOS Policy Properties.
      example:
        fileEncryptionLevel: deviceLocked
        touchId: enable
      properties:
        fileEncryptionLevel:
          default: deviceLocked
          enum:
          - deviceLocked
          - deviceLockedExceptFilesOpen
          - afterDeviceRestart
          - useDeviceSettings
          type: string
        touchId:
          default: enable
          enum:
          - enable
          - disable
          type: string
    operationMetadataProperties:
      example:
        name: name
        value: value
      properties:
        name:
          type: string
        value:
          type: string
      required:
      - name
      - value
      type: object
x-original-swagger-version: "2.0"

