openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Accesses Analytics report data.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Analytics Reporting API
  version: v4
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://analyticsreporting.googleapis.com/$discovery/rest?version=v4
    version: v1
  x-providerName: googleapis.com
  x-serviceName: analyticsreporting
externalDocs:
  url: https://developers.google.com/analytics/devguides/reporting/core/v4/
servers:
- url: https://analyticsreporting.googleapis.com/
tags:
- name: reports
- name: userActivity
paths:
  /v4/reports:batchGet:
    post:
      description: Returns the Analytics data.
      operationId: analyticsreporting_reports_batch_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetReportsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
      x-codegen-request-body-name: body
  /v4/userActivity:search:
    post:
      description: Returns User Activity data.
      operationId: analyticsreporting_user_activity_search
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchUserActivityRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUserActivityResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - userActivity
      x-openapi-router-controller: openapi_server.controllers.user_activity_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Activity:
      description: "An Activity represents data for an activity of a user. Note that\
        \ an Activity is different from a hit. A hit might result in multiple Activity's.\
        \ For example, if a hit includes a transaction and a goal completion, there\
        \ will be two Activity protos for this hit, one for ECOMMERCE and one for\
        \ GOAL. Conversely, multiple hits can also construct one Activity. In classic\
        \ e-commerce, data for one transaction might be sent through multiple hits.\
        \ These hits will be merged into one ECOMMERCE Activity."
      example:
        activityTime: activityTime
        landingPagePath: landingPagePath
        medium: medium
        source: source
        channelGrouping: channelGrouping
        hostname: hostname
        ecommerce:
          ecommerceType: ECOMMERCE_TYPE_UNSPECIFIED
          actionType: UNKNOWN
          transaction:
            transactionShipping: 5.637376656633329
            transactionTax: 2.3021358869347655
            transactionRevenue: 5.962133916683182
            transactionId: transactionId
          products:
          - itemRevenue: 1.4658129805029452
            productQuantity: productQuantity
            productSku: productSku
            productName: productName
          - itemRevenue: 1.4658129805029452
            productQuantity: productQuantity
            productSku: productSku
            productName: productName
        campaign: campaign
        appview:
          mobileDeviceBranding: mobileDeviceBranding
          appName: appName
          mobileDeviceModel: mobileDeviceModel
          screenName: screenName
        customDimension:
        - index: 6
          value: value
        - index: 6
          value: value
        activityType: ACTIVITY_TYPE_UNSPECIFIED
        event:
          eventValue: eventValue
          eventCategory: eventCategory
          eventCount: eventCount
          eventAction: eventAction
          eventLabel: eventLabel
        keyword: keyword
        pageview:
          pageTitle: pageTitle
          pagePath: pagePath
        goals:
          goals:
          - goalValue: 9.301444243932576
            goalIndex: 7
            goalCompletions: goalCompletions
            goalName: goalName
            goalCompletionLocation: goalCompletionLocation
            goalPreviousStep1: goalPreviousStep1
            goalPreviousStep2: goalPreviousStep2
            goalPreviousStep3: goalPreviousStep3
          - goalValue: 9.301444243932576
            goalIndex: 7
            goalCompletions: goalCompletions
            goalName: goalName
            goalCompletionLocation: goalCompletionLocation
            goalPreviousStep1: goalPreviousStep1
            goalPreviousStep2: goalPreviousStep2
            goalPreviousStep3: goalPreviousStep3
      properties:
        activityTime:
          description: "Timestamp of the activity. If activities for a visit cross\
            \ midnight and occur in two separate dates, then two sessions (one per\
            \ date) share the session identifier. For example, say session ID 113472\
            \ has activity within 2019-08-20, and session ID 243742 has activity within\
            \ 2019-08-25 and 2019-08-26. Session ID 113472 is one session, and session\
            \ ID 243742 is two sessions."
          format: google-datetime
          title: activityTime
          type: string
        activityType:
          description: Type of this activity.
          enum:
          - ACTIVITY_TYPE_UNSPECIFIED
          - PAGEVIEW
          - SCREENVIEW
          - GOAL
          - ECOMMERCE
          - EVENT
          title: activityType
          type: string
        appview:
          $ref: '#/components/schemas/ScreenviewData'
        campaign:
          description: "For manual campaign tracking, it is the value of the utm_campaign\
            \ campaign tracking parameter. For AdWords autotagging, it is the name(s)\
            \ of the online ad campaign(s) you use for the property. If you use neither,\
            \ its value is (not set)."
          title: campaign
          type: string
        channelGrouping:
          description: The Channel Group associated with an end user's session for
            this View (defined by the View's Channel Groupings).
          title: channelGrouping
          type: string
        customDimension:
          description: A list of all custom dimensions associated with this activity.
          items:
            $ref: '#/components/schemas/CustomDimension'
          title: customDimension
          type: array
        ecommerce:
          $ref: '#/components/schemas/EcommerceData'
        event:
          $ref: '#/components/schemas/EventData'
        goals:
          $ref: '#/components/schemas/GoalSetData'
        hostname:
          description: The hostname from which the tracking request was made.
          title: hostname
          type: string
        keyword:
          description: "For manual campaign tracking, it is the value of the utm_term\
            \ campaign tracking parameter. For AdWords traffic, it contains the best\
            \ matching targeting criteria. For the display network, where multiple\
            \ targeting criteria could have caused the ad to show up, it returns the\
            \ best matching targeting criteria as selected by Ads. This could be display_keyword,\
            \ site placement, boomuserlist, user_interest, age, or gender. Otherwise\
            \ its value is (not set)."
          title: keyword
          type: string
        landingPagePath:
          description: "The first page in users' sessions, or the landing page."
          title: landingPagePath
          type: string
        medium:
          description: "The type of referrals. For manual campaign tracking, it is\
            \ the value of the utm_medium campaign tracking parameter. For AdWords\
            \ autotagging, it is cpc. If users came from a search engine detected\
            \ by Google Analytics, it is organic. If the referrer is not a search\
            \ engine, it is referral. If users came directly to the property and document.referrer\
            \ is empty, its value is (none)."
          title: medium
          type: string
        pageview:
          $ref: '#/components/schemas/PageviewData'
        source:
          description: "The source of referrals. For manual campaign tracking, it\
            \ is the value of the utm_source campaign tracking parameter. For AdWords\
            \ autotagging, it is google. If you use neither, it is the domain of the\
            \ source (e.g., document.referrer) referring the users. It may also contain\
            \ a port address. If users arrived without a referrer, its value is (direct)."
          title: source
          type: string
      title: Activity
      type: object
    Cohort:
      description: "Defines a cohort. A cohort is a group of users who share a common\
        \ characteristic. For example, all users with the same acquisition date belong\
        \ to the same cohort."
      example:
        dateRange:
          endDate: endDate
          startDate: startDate
        name: name
        type: UNSPECIFIED_COHORT_TYPE
      properties:
        dateRange:
          $ref: '#/components/schemas/DateRange'
        name:
          description: "A unique name for the cohort. If not defined name will be\
            \ auto-generated with values cohort_[1234...]."
          title: name
          type: string
        type:
          description: Type of the cohort. The only supported type as of now is `FIRST_VISIT_DATE`.
            If this field is unspecified the cohort is treated as `FIRST_VISIT_DATE`
            type cohort.
          enum:
          - UNSPECIFIED_COHORT_TYPE
          - FIRST_VISIT_DATE
          title: type
          type: string
      title: Cohort
      type: object
    CohortGroup:
      description: "Defines a cohort group. For example: \"cohortGroup\": { \"cohorts\"\
        : [{ \"name\": \"cohort 1\", \"type\": \"FIRST_VISIT_DATE\", \"dateRange\"\
        : { \"startDate\": \"2015-08-01\", \"endDate\": \"2015-08-01\" } },{ \"name\"\
        : \"cohort 2\" \"type\": \"FIRST_VISIT_DATE\" \"dateRange\": { \"startDate\"\
        : \"2015-07-01\", \"endDate\": \"2015-07-01\" } }] }"
      example:
        lifetimeValue: true
        cohorts:
        - dateRange:
            endDate: endDate
            startDate: startDate
          name: name
          type: UNSPECIFIED_COHORT_TYPE
        - dateRange:
            endDate: endDate
            startDate: startDate
          name: name
          type: UNSPECIFIED_COHORT_TYPE
      properties:
        cohorts:
          description: The definition for the cohort.
          items:
            $ref: '#/components/schemas/Cohort'
          title: cohorts
          type: array
        lifetimeValue:
          description: "Enable Life Time Value (LTV). LTV measures lifetime value\
            \ for users acquired through different channels. Please see: [Cohort Analysis](https://support.google.com/analytics/answer/6074676)\
            \ and [Lifetime Value](https://support.google.com/analytics/answer/6182550)\
            \ If the value of lifetimeValue is false: - The metric values are similar\
            \ to the values in the web interface cohort report. - The cohort definition\
            \ date ranges must be aligned to the calendar week and month. i.e. while\
            \ requesting `ga:cohortNthWeek` the `startDate` in the cohort definition\
            \ should be a Sunday and the `endDate` should be the following Saturday,\
            \ and for `ga:cohortNthMonth`, the `startDate` should be the 1st of the\
            \ month and `endDate` should be the last day of the month. When the lifetimeValue\
            \ is true: - The metric values will correspond to the values in the web\
            \ interface LifeTime value report. - The Lifetime Value report shows you\
            \ how user value (Revenue) and engagement (Appviews, Goal Completions,\
            \ Sessions, and Session Duration) grow during the 90 days after a user\
            \ is acquired. - The metrics are calculated as a cumulative average per\
            \ user per the time increment. - The cohort definition date ranges need\
            \ not be aligned to the calendar week and month boundaries. - The `viewId`\
            \ must be an [app view ID](https://support.google.com/analytics/answer/2649553#WebVersusAppViews)"
          title: lifetimeValue
          type: boolean
      title: CohortGroup
      type: object
    ColumnHeader:
      description: Column headers.
      example:
        metricHeader:
          metricHeaderEntries:
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          pivotHeaders:
          - pivotHeaderEntries:
            - dimensionValues:
              - dimensionValues
              - dimensionValues
              dimensionNames:
              - dimensionNames
              - dimensionNames
              metric:
                name: name
                type: METRIC_TYPE_UNSPECIFIED
            - dimensionValues:
              - dimensionValues
              - dimensionValues
              dimensionNames:
              - dimensionNames
              - dimensionNames
              metric:
                name: name
                type: METRIC_TYPE_UNSPECIFIED
            totalPivotGroupsCount: 6
          - pivotHeaderEntries:
            - dimensionValues:
              - dimensionValues
              - dimensionValues
              dimensionNames:
              - dimensionNames
              - dimensionNames
              metric:
                name: name
                type: METRIC_TYPE_UNSPECIFIED
            - dimensionValues:
              - dimensionValues
              - dimensionValues
              dimensionNames:
              - dimensionNames
              - dimensionNames
              metric:
                name: name
                type: METRIC_TYPE_UNSPECIFIED
            totalPivotGroupsCount: 6
        dimensions:
        - dimensions
        - dimensions
      properties:
        dimensions:
          description: The dimension names in the response.
          items:
            type: string
          title: dimensions
          type: array
        metricHeader:
          $ref: '#/components/schemas/MetricHeader'
      title: ColumnHeader
      type: object
    CustomDimension:
      description: Custom dimension.
      example:
        index: 6
        value: value
      properties:
        index:
          description: Slot number of custom dimension.
          format: int32
          title: index
          type: integer
        value:
          description: Value of the custom dimension. Default value (i.e. empty string)
            indicates clearing sesion/visitor scope custom dimension value.
          title: value
          type: string
      title: CustomDimension
      type: object
    DateRange:
      description: "A contiguous set of days: startDate, startDate + 1 day, ..., endDate.\
        \ The start and end dates are specified in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601)\
        \ date format `YYYY-MM-DD`."
      example:
        endDate: endDate
        startDate: startDate
      properties:
        endDate:
          description: The end date for the query in the format `YYYY-MM-DD`.
          title: endDate
          type: string
        startDate:
          description: The start date for the query in the format `YYYY-MM-DD`.
          title: startDate
          type: string
      title: DateRange
      type: object
    DateRangeValues:
      description: Used to return a list of metrics for a single DateRange / dimension
        combination
      example:
        pivotValueRegions:
        - values:
          - values
          - values
        - values:
          - values
          - values
        values:
        - values
        - values
      properties:
        pivotValueRegions:
          description: The values of each pivot region.
          items:
            $ref: '#/components/schemas/PivotValueRegion'
          title: pivotValueRegions
          type: array
        values:
          description: Each value corresponds to each Metric in the request.
          items:
            type: string
          title: values
          type: array
      title: DateRangeValues
      type: object
    Dimension:
      description: "[Dimensions](https://support.google.com/analytics/answer/1033861)\
        \ are attributes of your data. For example, the dimension `ga:city` indicates\
        \ the city, for example, \"Paris\" or \"New York\", from which a session originates."
      example:
        histogramBuckets:
        - histogramBuckets
        - histogramBuckets
        name: name
      properties:
        histogramBuckets:
          description: "If non-empty, we place dimension values into buckets after\
            \ string to int64. Dimension values that are not the string representation\
            \ of an integral value will be converted to zero. The bucket values have\
            \ to be in increasing order. Each bucket is closed on the lower end, and\
            \ open on the upper end. The \"first\" bucket includes all values less\
            \ than the first boundary, the \"last\" bucket includes all values up\
            \ to infinity. Dimension values that fall in a bucket get transformed\
            \ to a new dimension value. For example, if one gives a list of \"0, 1,\
            \ 3, 4, 7\", then we return the following buckets: - bucket #1: values\
            \ < 0, dimension value \"<0\" - bucket #2: values in [0,1), dimension\
            \ value \"0\" - bucket #3: values in [1,3), dimension value \"1-2\" -\
            \ bucket #4: values in [3,4), dimension value \"3\" - bucket #5: values\
            \ in [4,7), dimension value \"4-6\" - bucket #6: values >= 7, dimension\
            \ value \"7+\" NOTE: If you are applying histogram mutation on any dimension,\
            \ and using that dimension in sort, you will want to use the sort type\
            \ `HISTOGRAM_BUCKET` for that purpose. Without that the dimension values\
            \ will be sorted according to dictionary (lexicographic) order. For example\
            \ the ascending dictionary order is: \"<50\", \"1001+\", \"121-1000\"\
            , \"50-120\" And the ascending `HISTOGRAM_BUCKET` order is: \"<50\", \"\
            50-120\", \"121-1000\", \"1001+\" The client has to explicitly request\
            \ `\"orderType\": \"HISTOGRAM_BUCKET\"` for a histogram-mutated dimension."
          items:
            format: int64
            type: string
          title: histogramBuckets
          type: array
        name:
          description: "Name of the dimension to fetch, for example `ga:browser`."
          title: name
          type: string
      title: Dimension
      type: object
    DimensionFilter:
      description: Dimension filter specifies the filtering options on a dimension.
      example:
        not: true
        caseSensitive: true
        expressions:
        - expressions
        - expressions
        dimensionName: dimensionName
        operator: OPERATOR_UNSPECIFIED
      properties:
        caseSensitive:
          description: Should the match be case sensitive? Default is false.
          title: caseSensitive
          type: boolean
        dimensionName:
          description: The dimension to filter on. A DimensionFilter must contain
            a dimension.
          title: dimensionName
          type: string
        expressions:
          description: "Strings or regular expression to match against. Only the first\
            \ value of the list is used for comparison unless the operator is `IN_LIST`.\
            \ If `IN_LIST` operator, then the entire list is used to filter the dimensions\
            \ as explained in the description of the `IN_LIST` operator."
          items:
            type: string
          title: expressions
          type: array
        not:
          description: "Logical `NOT` operator. If this boolean is set to true, then\
            \ the matching dimension values will be excluded in the report. The default\
            \ is false."
          title: not
          type: boolean
        operator:
          description: How to match the dimension to the expression. The default is
            REGEXP.
          enum:
          - OPERATOR_UNSPECIFIED
          - REGEXP
          - BEGINS_WITH
          - ENDS_WITH
          - PARTIAL
          - EXACT
          - NUMERIC_EQUAL
          - NUMERIC_GREATER_THAN
          - NUMERIC_LESS_THAN
          - IN_LIST
          title: operator
          type: string
      title: DimensionFilter
      type: object
    DimensionFilterClause:
      description: A group of dimension filters. Set the operator value to specify
        how the filters are logically combined.
      example:
        filters:
        - not: true
          caseSensitive: true
          expressions:
          - expressions
          - expressions
          dimensionName: dimensionName
          operator: OPERATOR_UNSPECIFIED
        - not: true
          caseSensitive: true
          expressions:
          - expressions
          - expressions
          dimensionName: dimensionName
          operator: OPERATOR_UNSPECIFIED
        operator: OPERATOR_UNSPECIFIED
      properties:
        filters:
          description: The repeated set of filters. They are logically combined based
            on the operator specified.
          items:
            $ref: '#/components/schemas/DimensionFilter'
          title: filters
          type: array
        operator:
          description: "The operator for combining multiple dimension filters. If\
            \ unspecified, it is treated as an `OR`."
          enum:
          - OPERATOR_UNSPECIFIED
          - OR
          - AND
          title: operator
          type: string
      title: DimensionFilterClause
      type: object
    DynamicSegment:
      description: "Dynamic segment definition for defining the segment within the\
        \ request. A segment can select users, sessions or both."
      example:
        name: name
        sessionSegment:
          segmentFilters:
          - not: true
            sequenceSegment:
              segmentSequenceSteps:
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              firstStepShouldMatchFirstHit: true
            simpleSegment:
              orFiltersForSegment:
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
          - not: true
            sequenceSegment:
              segmentSequenceSteps:
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              firstStepShouldMatchFirstHit: true
            simpleSegment:
              orFiltersForSegment:
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
        userSegment:
          segmentFilters:
          - not: true
            sequenceSegment:
              segmentSequenceSteps:
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              firstStepShouldMatchFirstHit: true
            simpleSegment:
              orFiltersForSegment:
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
          - not: true
            sequenceSegment:
              segmentSequenceSteps:
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              - matchType: UNSPECIFIED_MATCH_TYPE
                orFiltersForSegment:
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                - segmentFilterClauses:
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
                  - dimensionFilter:
                      minComparisonValue: minComparisonValue
                      caseSensitive: true
                      expressions:
                      - expressions
                      - expressions
                      dimensionName: dimensionName
                      maxComparisonValue: maxComparisonValue
                      operator: OPERATOR_UNSPECIFIED
                    not: true
                    metricFilter:
                      metricName: metricName
                      comparisonValue: comparisonValue
                      scope: UNSPECIFIED_SCOPE
                      maxComparisonValue: maxComparisonValue
                      operator: UNSPECIFIED_OPERATOR
              firstStepShouldMatchFirstHit: true
            simpleSegment:
              orFiltersForSegment:
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
              - segmentFilterClauses:
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
                - dimensionFilter:
                    minComparisonValue: minComparisonValue
                    caseSensitive: true
                    expressions:
                    - expressions
                    - expressions
                    dimensionName: dimensionName
                    maxComparisonValue: maxComparisonValue
                    operator: OPERATOR_UNSPECIFIED
                  not: true
                  metricFilter:
                    metricName: metricName
                    comparisonValue: comparisonValue
                    scope: UNSPECIFIED_SCOPE
                    maxComparisonValue: maxComparisonValue
                    operator: UNSPECIFIED_OPERATOR
      properties:
        name:
          description: The name of the dynamic segment.
          title: name
          type: string
        sessionSegment:
          $ref: '#/components/schemas/SegmentDefinition'
        userSegment:
          $ref: '#/components/schemas/SegmentDefinition'
      title: DynamicSegment
      type: object
    EcommerceData:
      description: E-commerce details associated with the user activity.
      example:
        ecommerceType: ECOMMERCE_TYPE_UNSPECIFIED
        actionType: UNKNOWN
        transaction:
          transactionShipping: 5.637376656633329
          transactionTax: 2.3021358869347655
          transactionRevenue: 5.962133916683182
          transactionId: transactionId
        products:
        - itemRevenue: 1.4658129805029452
          productQuantity: productQuantity
          productSku: productSku
          productName: productName
        - itemRevenue: 1.4658129805029452
          productQuantity: productQuantity
          productSku: productSku
          productName: productName
      properties:
        actionType:
          description: Action associated with this e-commerce action.
          enum:
          - UNKNOWN
          - CLICK
          - DETAILS_VIEW
          - ADD_TO_CART
          - REMOVE_FROM_CART
          - CHECKOUT
          - PAYMENT
          - REFUND
          - CHECKOUT_OPTION
          title: actionType
          type: string
        ecommerceType:
          description: The type of this e-commerce activity.
          enum:
          - ECOMMERCE_TYPE_UNSPECIFIED
          - CLASSIC
          - ENHANCED
          title: ecommerceType
          type: string
        products:
          description: Details of the products in this transaction.
          items:
            $ref: '#/components/schemas/ProductData'
          title: products
          type: array
        transaction:
          $ref: '#/components/schemas/TransactionData'
      title: EcommerceData
      type: object
    EventData:
      description: Represents all the details pertaining to an event.
      example:
        eventValue: eventValue
        eventCategory: eventCategory
        eventCount: eventCount
        eventAction: eventAction
        eventLabel: eventLabel
      properties:
        eventAction:
          description: "Type of interaction with the object. Eg: 'play'."
          title: eventAction
          type: string
        eventCategory:
          description: "The object on the page that was interacted with. Eg: 'Video'."
          title: eventCategory
          type: string
        eventCount:
          description: Number of such events in this activity.
          format: int64
          title: eventCount
          type: string
        eventLabel:
          description: Label attached with the event.
          title: eventLabel
          type: string
        eventValue:
          description: Numeric value associated with the event.
          format: int64
          title: eventValue
          type: string
      title: EventData
      type: object
    GetReportsRequest:
      description: The batch request containing multiple report request.
      example:
        useResourceQuotas: true
        reportRequests:
        - metricFilterClauses:
          - filters:
            - not: true
              metricName: metricName
              comparisonValue: comparisonValue
              operator: OPERATOR_UNSPECIFIED
            - not: true
              metricName: metricName
              comparisonValue: comparisonValue
              operator: OPERATOR_UNSPECIFIED
            operator: OPERATOR_UNSPECIFIED
          - filters:
            - not: true
              metricName: metricName
              comparisonValue: comparisonValue
              operator: OPERATOR_UNSPECIFIED
            - not: true
              metricName: metricName
              comparisonValue: comparisonValue
              operator: OPERATOR_UNSPECIFIED
            operator: OPERATOR_UNSPECIFIED
          cohortGroup:
            lifetimeValue: true
            cohorts:
            - dateRange:
                endDate: endDate
                startDate: startDate
              name: name
              type: UNSPECIFIED_COHORT_TYPE
            - dateRange:
                endDate: endDate
                startDate: startDate
              name: name
              type: UNSPECIFIED_COHORT_TYPE
          dimensionFilterClauses:
          - filters:
            - not: true
              caseSensitive: true
              expressions:
              - expressions
              - expressions
              dimensionName: dimensionName
              operator: OPERATOR_UNSPECIFIED
            - not: true
              caseSensitive: true
              expressions:
              - expressions
              - expressions
              dimensionName: dimensionName
              operator: OPERATOR_UNSPECIFIED
            operator: OPERATOR_UNSPECIFIED
          - filters:
            - not: true
              caseSensitive: true
              expressions:
              - expressions
              - expressions
              dimensionName: dimensionName
              operator: OPERATOR_UNSPECIFIED
            - not: true
              caseSensitive: true
              expressions:
              - expressions
              - expressions
              dimensionName: dimensionName
              operator: OPERATOR_UNSPECIFIED
            operator: OPERATOR_UNSPECIFIED
          pageSize: 0
          hideTotals: true
          includeEmptyRows: true
          samplingLevel: SAMPLING_UNSPECIFIED
          pivots:
          - startGroup: 1
            maxGroupCount: 6
            dimensionFilterClauses:
            - filters:
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              operator: OPERATOR_UNSPECIFIED
            - filters:
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              operator: OPERATOR_UNSPECIFIED
            metrics:
            - formattingType: METRIC_TYPE_UNSPECIFIED
              expression: expression
              alias: alias
            - formattingType: METRIC_TYPE_UNSPECIFIED
              expression: expression
              alias: alias
            dimensions:
            - histogramBuckets:
              - histogramBuckets
              - histogramBuckets
              name: name
            - histogramBuckets:
              - histogramBuckets
              - histogramBuckets
              name: name
          - startGroup: 1
            maxGroupCount: 6
            dimensionFilterClauses:
            - filters:
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              operator: OPERATOR_UNSPECIFIED
            - filters:
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              - not: true
                caseSensitive: true
                expressions:
                - expressions
                - expressions
                dimensionName: dimensionName
                operator: OPERATOR_UNSPECIFIED
              operator: OPERATOR_UNSPECIFIED
            metrics:
            - formattingType: METRIC_TYPE_UNSPECIFIED
              expression: expression
              alias: alias
            - formattingType: METRIC_TYPE_UNSPECIFIED
              expression: expression
              alias: alias
            dimensions:
            - histogramBuckets:
              - histogramBuckets
              - histogramBuckets
              name: name
            - histogramBuckets:
              - histogramBuckets
              - histogramBuckets
              name: name
          segments:
          - dynamicSegment:
              name: name
              sessionSegment:
                segmentFilters:
                - not: true
                  sequenceSegment:
                    segmentSequenceSteps:
                    - matchType: UNSPECIFIED_MATCH_TYPE
                      orFiltersForSegment:
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                    - matchType: UNSPECIFIED_MATCH_TYPE
                      orFiltersForSegment:
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                    firstStepShouldMatchFirstHit: true
                  simpleSegment:
                    orFiltersForSegment:
                    - segmentFilterClauses:
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                    - segmentFilterClauses:
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                - not: true
                  sequenceSegment:
                    segmentSequenceSteps:
                    - matchType: UNSPECIFIED_MATCH_TYPE
                      orFiltersForSegment:
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                    - matchType: UNSPECIFIED_MATCH_TYPE
                      orFiltersForSegment:
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
                            maxComparisonValue: maxComparisonValue
                            operator: OPERATOR_UNSPECIFIED
                          not: true
                          metricFilter:
                            metricName: metricName
                            comparisonValue: comparisonValue
                            scope: UNSPECIFIED_SCOPE
                            maxComparisonValue: maxComparisonValue
                            operator: UNSPECIFIED_OPERATOR
                    firstStepShouldMatchFirstHit: true
                  simpleSegment:
                    orFiltersForSegment:
                    - segmentFilterClauses:
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                    - segmentFilterClauses:
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
                      - dimensionFilter:
                          minComparisonValue: minComparisonValue
                          caseSensitive: true
                          expressions:
                          - expressions
                          - expressions
                          dimensionName: dimensionName
                          maxComparisonValue: maxComparisonValue
                          operator: OPERATOR_UNSPECIFIED
                        not: true
                        metricFilter:
                          metricName: metricName
                          comparisonValue: comparisonValue
                          scope: UNSPECIFIED_SCOPE
                          maxComparisonValue: maxComparisonValue
                          operator: UNSPECIFIED_OPERATOR
              userSegment:
                segmentFilters:
                - not: true
                  sequenceSegment:
                    segmentSequenceSteps:
                    - matchType: UNSPECIFIED_MATCH_TYPE
                      orFiltersForSegment:
                      - segmentFilterClauses:
                        - dimensionFilter:
                            minComparisonValue: minComparisonValue
                            caseSensitive: true
                            expressions:
                            - expressions
                            - expressions
                            dimensionName: dimensionName
[...]
