openapi: 3.0.1
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ProductDeployment.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ProductDeployment
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments:
    get:
      description: Invokes bootstrap action on the product deployment
      operationId: product_deployments_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDeploymentsList'
          description: Ok
      tags:
      - ProductDeployments
      x-ms-examples:
        List the product deployments:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
              - id: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/microsoft.iothubpreview
                name: global/microsoft.iothubpreview
                properties:
                  provisioningState: Succeeded
                  status: None
                type: Microsoft.Deployment.Admin/locations/productDeployments
              - id: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/microsoft.eventhubstaging
                name: global/microsoft.eventhubstaging
                properties:
                  deployment:
                    actionPlanInstanceResourceId: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/actionplans/33a10be1-2365-44a9-8c69-c8a06e8fd81c
                    parameters: {}
                    version: 1.3.1
                  lastSuccessfulDeployment:
                    actionPlanInstanceResourceId: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/actionplans/33a10be1-2365-44a9-8c69-c8a06e8fd81c
                    parameters: {}
                    version: 1.3.1
                  provisioningState: Succeeded
                  status: DeploymentSucceeded
                  subscriptionId: bc070a98-3728-476c-aeb0-8957e067c29d
                type: Microsoft.Deployment.Admin/locations/productDeployments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}:
    get:
      description: Invokes bootstrap action on the product deployment
      operationId: product_deployments_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDeploymentResourceEntity'
          description: Ok
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - ProductDeployments
      x-ms-examples:
        Gets the specified product deployment:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/microsoft.iothubpreview
                name: global/microsoft.iothubpreview
                properties:
                  provisioningState: Succeeded
                  status: BootstrapSucceeded
                  subscriptionId: c487a9cf-9841-44fa-9370-7b9e094db57e
                type: Microsoft.Deployment.Admin/locations/productDeployments
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap:
    post:
      description: Invokes bootstrap action on the product deployment
      operationId: product_deployments_boot_strap
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDeployments_BootStrap_request'
        description: Represents bootstrap action parameter
        required: true
        x-ms-parameter-location: method
        x-body-name: bootstrapActionParameter
      responses:
        "200":
          content: {}
          description: Ok
        "202":
          content: {}
          description: ACCEPTED
      tags:
      - ProductDeployments
      x-ms-examples:
        Invokes bootstrap action on the product deployment:
          parameters:
            api-version: 2019-01-01
            bootstrapActionParameter:
              version: 1.0.2
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: bootstrapActionParameter
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy:
    post:
      description: Invokes deploy action on the product
      operationId: product_deployments_deploy
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDeployments_Deploy_request'
        description: Represents bootstrap action parameter
        required: true
        x-ms-parameter-location: method
        x-body-name: deployActionParameter
      responses:
        "200":
          content: {}
          description: Ok
        "202":
          content: {}
          description: ACCEPTED
      tags:
      - ProductDeployments
      x-ms-examples:
        Invokes deploy action on the product:
          parameters:
            api-version: 2019-01-01
            deployActionParameter:
              version: 1.0.2
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: deployActionParameter
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/lock:
    post:
      description: locks the product subscription
      operationId: product_deployments_lock
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - ProductDeployments
      x-ms-examples:
        locks the product subscription:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove:
    post:
      description: Invokes remove action on the product deployment
      operationId: product_deployments_remove
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content: {}
          description: Ok
        "202":
          content: {}
          description: ACCEPTED
      tags:
      - ProductDeployments
      x-ms-examples:
        Invokes remove action on the product deployment:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets
  : post:
      description: Invokes rotate secrets action on the product deployment
      operationId: product_deployments_rotate_secrets
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: ACCEPTED
      tags:
      - ProductDeployments
      x-ms-examples:
        Invokes rotate secrets action on the product deployment:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/unlock:
    post:
      description: Unlocks the product subscription
      operationId: product_deployments_unlock
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The product identifier.
        in: path
        name: productId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDeployments_Unlock_request'
        description: Represents bootstrap action parameter
        required: true
        x-ms-parameter-location: method
        x-body-name: unlockActionParameter
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - ProductDeployments
      x-ms-examples:
        Unlocks the product subscription:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            unlockActionParameter:
              duration: P5D
          responses:
            "200": {}
      x-codegen-request-body-name: unlockActionParameter
      x-openapi-router-controller: openapi_server.controllers.product_deployments_controller
components:
  parameters:
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      in: path
      name: resourceGroup
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    BootstrapActionParameter:
      content:
        application/json:
          schema:
            description: Parameters for bootstrap action
            properties:
              version:
                description: Generic Version object
                type: string
            type: object
      description: Represents bootstrap action parameter
      required: true
      x-ms-parameter-location: method
    DeployActionParameter:
      content:
        application/json:
          schema:
            description: Parameters for deploy action
            properties:
              parameters:
                description: "Deployment parameters, value in JToken"
                type: string
              version:
                description: Generic Version object
                type: string
            type: object
      description: Represents bootstrap action parameter
      required: true
      x-ms-parameter-location: method
    UnlockActionParameter:
      content:
        application/json:
          schema:
            description: Parameters for bootstrap action
            properties:
              duration:
                description: Duration in TimeSpan format(Define which ISO format)
                type: string
            type: object
      description: Represents bootstrap action parameter
      required: true
      x-ms-parameter-location: method
  schemas:
    BootStrapActionParameters:
      description: Parameters for bootstrap action
      properties:
        version:
          description: Generic Version object
          type: string
      type: object
    DeployActionParameters:
      description: Parameters for deploy action
      properties:
        parameters:
          description: "Deployment parameters, value in JToken"
          type: string
        version:
          description: Generic Version object
          type: string
      type: object
    DeploymentInfo:
      description: Resource provider deployment information
      example:
        actionPlanInstanceResourceId: actionPlanInstanceResourceId
        eTag: eTag
        parameters: parameters
        version: version
      properties:
        actionPlanInstanceResourceId:
          description: The identifier of the latest action plan instance resource.
          title: actionPlanInstanceResourceId
          type: string
        eTag:
          description: entity tag
          title: eTag
          type: string
        parameters:
          description: The latest deployment parameters as JToken
          title: parameters
          type: string
        version:
          description: The product version
          title: version
          type: string
      title: DeploymentInfo
      type: object
    DeploymentStatus:
      description: Status of an operation.
      enum:
      - None
      - Bootstrapping
      - BootstrapSucceeded
      - BootstrapFailed
      - Deploying
      - DeploymentSucceeded
      - DeploymentFailed
      - Updating
      - UpdateSucceeded
      - UpdateFailed
      - Removing
      - RemoveFailed
      - SecretRotationInProgress
      - SecretRotationSucceeded
      - SecretRotationFailed
      - Migrated
      title: DeploymentStatus
      type: string
      x-ms-enum:
        modelAsString: true
        name: DeploymentStatus
    ExtendedErrorInfo:
      title: ExtendedErrorInfo
      type: object
    ExternalAccessInfo:
      description: Resource provider deployment information
      example:
        expirationTime: 2000-01-23T04:56:07.000+00:00
        principalId: principalId
      properties:
        expirationTime:
          description: The deployment start time
          format: date-time
          title: expirationTime
          type: string
        principalId:
          description: "The object identifier of the user, group or service principal\
            \ that have access to resource provider subscription."
          title: principalId
          type: string
      title: ExternalAccessInfo
      type: object
    ProductDeploymentResourceEntity:
      allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Product deployment entity
      example:
        eTag: eTag
        properties:
          internalState:
            intermediateVaultUri: intermediateVaultUri
            jobId: jobId
            intermediateVaultId: intermediateVaultId
            externalAccessRoleAssignmentId: externalAccessRoleAssignmentId
          secretRotation:
            secretRotationPlanInstanceResourceId: secretRotationPlanInstanceResourceId
          productId: productId
          lastSuccessfulDeployment:
            actionPlanInstanceResourceId: actionPlanInstanceResourceId
            eTag: eTag
            parameters: parameters
            version: version
          provisioningState: provisioningState
          error:
            code: code
            details: "{}"
            message: message
          subscriptionId: subscriptionId
          deployment:
            actionPlanInstanceResourceId: actionPlanInstanceResourceId
            eTag: eTag
            parameters: parameters
            version: version
          externalAccess:
            expirationTime: 2000-01-23T04:56:07.000+00:00
            principalId: principalId
          status: None
      properties:
        eTag:
          description: entity tag
          title: eTag
          type: string
        properties:
          $ref: '#/components/schemas/ProductDeploymentsProperties'
      title: ProductDeploymentResourceEntity
    ProductDeploymentsInternalState:
      description: Resource type internal state
      example:
        intermediateVaultUri: intermediateVaultUri
        jobId: jobId
        intermediateVaultId: intermediateVaultId
        externalAccessRoleAssignmentId: externalAccessRoleAssignmentId
      properties:
        externalAccessRoleAssignmentId:
          description: The current external access role assignment identifier
          title: externalAccessRoleAssignmentId
          type: string
        intermediateVaultId:
          description: The intermediate vault resource identifier
          title: intermediateVaultId
          type: string
        intermediateVaultUri:
          description: The intermediate vault Uri.
          title: intermediateVaultUri
          type: string
        jobId:
          description: The latest deployment job identifier
          title: jobId
          type: string
      title: ProductDeploymentsInternalState
      type: object
    ProductDeploymentsList:
      description: List of Product Deployments.
      example:
        value:
        - eTag: eTag
          properties:
            internalState:
              intermediateVaultUri: intermediateVaultUri
              jobId: jobId
              intermediateVaultId: intermediateVaultId
              externalAccessRoleAssignmentId: externalAccessRoleAssignmentId
            secretRotation:
              secretRotationPlanInstanceResourceId: secretRotationPlanInstanceResourceId
            productId: productId
            lastSuccessfulDeployment:
              actionPlanInstanceResourceId: actionPlanInstanceResourceId
              eTag: eTag
              parameters: parameters
              version: version
            provisioningState: provisioningState
            error:
              code: code
              details: "{}"
              message: message
            subscriptionId: subscriptionId
            deployment:
              actionPlanInstanceResourceId: actionPlanInstanceResourceId
              eTag: eTag
              parameters: parameters
              version: version
            externalAccess:
              expirationTime: 2000-01-23T04:56:07.000+00:00
              principalId: principalId
            status: None
        - eTag: eTag
          properties:
            internalState:
              intermediateVaultUri: intermediateVaultUri
              jobId: jobId
              intermediateVaultId: intermediateVaultId
              externalAccessRoleAssignmentId: externalAccessRoleAssignmentId
            secretRotation:
              secretRotationPlanInstanceResourceId: secretRotationPlanInstanceResourceId
            productId: productId
            lastSuccessfulDeployment:
              actionPlanInstanceResourceId: actionPlanInstanceResourceId
              eTag: eTag
              parameters: parameters
              version: version
            provisioningState: provisioningState
            error:
              code: code
              details: "{}"
              message: message
            subscriptionId: subscriptionId
            deployment:
              actionPlanInstanceResourceId: actionPlanInstanceResourceId
              eTag: eTag
              parameters: parameters
              version: version
            externalAccess:
              expirationTime: 2000-01-23T04:56:07.000+00:00
              principalId: principalId
            status: None
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of Product Deployments.
          items:
            $ref: '#/components/schemas/ProductDeploymentResourceEntity'
          title: value
          type: array
      title: ProductDeploymentsList
      type: object
    ProductDeploymentsProperties:
      description: Product deployment resource properties
      example:
        internalState:
          intermediateVaultUri: intermediateVaultUri
          jobId: jobId
          intermediateVaultId: intermediateVaultId
          externalAccessRoleAssignmentId: externalAccessRoleAssignmentId
        secretRotation:
          secretRotationPlanInstanceResourceId: secretRotationPlanInstanceResourceId
        productId: productId
        lastSuccessfulDeployment:
          actionPlanInstanceResourceId: actionPlanInstanceResourceId
          eTag: eTag
          parameters: parameters
          version: version
        provisioningState: provisioningState
        error:
          code: code
          details: "{}"
          message: message
        subscriptionId: subscriptionId
        deployment:
          actionPlanInstanceResourceId: actionPlanInstanceResourceId
          eTag: eTag
          parameters: parameters
          version: version
        externalAccess:
          expirationTime: 2000-01-23T04:56:07.000+00:00
          principalId: principalId
        status: None
      properties:
        deployment:
          $ref: '#/components/schemas/DeploymentInfo'
        error:
          $ref: '#/components/schemas/ProductDeploymentsProperties_error'
        externalAccess:
          $ref: '#/components/schemas/ExternalAccessInfo'
        internalState:
          $ref: '#/components/schemas/ProductDeploymentsInternalState'
        lastSuccessfulDeployment:
          $ref: '#/components/schemas/DeploymentInfo'
        productId:
          description: The product identifier
          title: productId
          type: string
        provisioningState:
          description: The provisioning state
          title: provisioningState
          type: string
        secretRotation:
          $ref: '#/components/schemas/SecretRotationInfo'
        status:
          $ref: '#/components/schemas/DeploymentStatus'
        subscriptionId:
          description: The product subscription identifier
          title: subscriptionId
          type: string
      title: ProductDeploymentsProperties
      type: object
    SecretRotationInfo:
      description: Resource provider deployment information
      example:
        secretRotationPlanInstanceResourceId: secretRotationPlanInstanceResourceId
      properties:
        secretRotationPlanInstanceResourceId:
          description: The identifier of the latest secret rotation plan instance
            resource.
          title: secretRotationPlanInstanceResourceId
          type: string
      title: SecretRotationInfo
      type: object
    UnlockActionParameters:
      description: Parameters for bootstrap action
      properties:
        duration:
          description: Duration in TimeSpan format(Define which ISO format)
          type: string
      type: object
    ProductDeployments_BootStrap_request:
      description: Parameters for bootstrap action
      properties:
        version:
          description: Generic Version object
          title: version
          type: string
      title: ProductDeployments_BootStrap_request
      type: object
    ProductDeployments_Deploy_request:
      description: Parameters for deploy action
      properties:
        parameters:
          description: "Deployment parameters, value in JToken"
          title: parameters
          type: string
        version:
          description: Generic Version object
          title: version
          type: string
      title: ProductDeployments_Deploy_request
      type: object
    ProductDeployments_Unlock_request:
      description: Parameters for bootstrap action
      properties:
        duration:
          description: Duration in TimeSpan format(Define which ISO format)
          title: duration
          type: string
      title: ProductDeployments_Unlock_request
      type: object
    ProductDeploymentsProperties_error:
      description: Error information
      example:
        code: code
        details: "{}"
        message: message
      properties:
        code:
          description: Error Code
          title: code
          type: string
        details:
          title: ExtendedErrorInfo
          type: object
        message:
          description: Error Message
          title: message
          type: string
      title: ProductDeploymentsProperties_error
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
