openapi: 3.0.1
info:
  contact:
    x-twitter: MailBoxV
  description: The Single Validation API does validation on a single email address
    and returns all the validation results in either JSON or XML format. Refer to
    https://www.mailboxvalidator.com for further information.
  title: MailboxValidator Email Validation
  version: "0.1"
  x-apisguru-categories:
  - email
  x-logo:
    url: https://twitter.com/MailBoxV/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Email-Validation/0.1
    version: "3.0"
  x-providerName: mailboxvalidator.com
  x-serviceName: validation
servers:
- url: https://api.mailboxvalidator.com
paths:
  /v1/validation/single:
    get:
      description: The Single Validation API does validation on a single email address
        and returns all the validation results in either JSON or XML format.
      operationId: v1_validation_single_get
      parameters:
      - description: Return the result in json (default) or xml format.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      - description: The email address to be validated.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      - description: API key.
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: "{\"email_address\":\"\",\"domain\":\"\",\"is_free\":\"\"\
                    ,\"is_syntax\":\"\",\"is_domain\":\"\",\"is_smtp\":\"\",\"is_verified\"\
                    :\"\",\"is_server_down\":\"\",\"is_greylisted\":\"\",\"is_disposable\"\
                    :\"\",\"is_suppressed\":\"\",\"is_role\":\"\",\"is_high_risk\"\
                    :\"\",\"is_catchall\":\"\",\"mailboxvalidator_score\":\"\",\"\
                    time_taken\":0,\"status\":\"\",\"credits_available\":\"\",\"error_code\"\
                    :\"100\",\"error_message\":\"Missing parameter.\"}"
              schema:
                type: string
          description: single email validation response
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas: {}
