# Swagger2OpenApiConverter.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**openapi** | **String** |  | 


