openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The My Business Business Information API provides an interface for\
    \ managing business information. Note - If you have a quota of 0 after enabling\
    \ the API, please request for GBP API access."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: My Business Business Information API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://mybusinessbusinessinformation.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: mybusinessbusinessinformation
externalDocs:
  url: https://developers.google.com/my-business/
servers:
- url: https://mybusinessbusinessinformation.googleapis.com/
tags:
- name: accounts
- name: attributes
- name: categories
- name: chains
- name: googleLocations
- name: locations
paths:
  /v1/attributes:
    get:
      description: Returns the list of attributes that would be available for a location
        with the given primary category and country.
      operationId: mybusinessbusinessinformation_attributes_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The primary category stable ID to find available attributes.\
          \ Must be of the format categories/{category_id}."
        explode: true
        in: query
        name: categoryName
        required: false
        schema:
          type: string
        style: form
      - description: "The BCP 47 code of language to get attribute display names in.\
          \ If this language is not available, they will be provided in English."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: "How many attributes to include per page. Default is 200, minimum\
          \ is 1."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "If specified, the next page of attribute metadata is retrieved."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Resource name of the location to look up available attributes.\
          \ If this field is set, category_name, region_code, language_code and show_all\
          \ are not required and must not be set."
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code to find available attributes.
        explode: true
        in: query
        name: regionCode
        required: false
        schema:
          type: string
        style: form
      - description: "Metadata for all available attributes are returned when this\
          \ field is set to true, disregarding parent and category_name fields. language_code\
          \ and region_code are required when show_all is set to true."
        explode: true
        in: query
        name: showAll
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttributeMetadataResponse'
          description: Successful response
      tags:
      - attributes
      x-openapi-router-controller: openapi_server.controllers.attributes_controller
  /v1/categories:
    get:
      description: "Returns a list of business categories. Search will match the category\
        \ name but not the category ID. Search only matches the front of a category\
        \ name (that is, 'food' may return 'Food Court' but not 'Fast Food Restaurant')."
      operationId: mybusinessbusinessinformation_categories_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Filter string from user. The only field that supported\
          \ is `displayName`. Eg: `filter=displayName=foo`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Required. The BCP 47 code of language.
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. How many categories to fetch per page. Default is\
          \ 100, minimum is 1, and maximum page size is 100."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. If specified, the next page of categories will be\
          \ fetched."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: regionCode
        required: false
        schema:
          type: string
        style: form
      - description: Required. Specifies which parts to the Category resource should
          be returned in the response.
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - CATEGORY_VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCategoriesResponse'
          description: Successful response
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /v1/categories:batchGet:
    get:
      description: Returns a list of business categories for the provided language
        and GConcept ids.
      operationId: mybusinessbusinessinformation_categories_batch_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The BCP 47 code of language that the category names
          should be returned in.
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: "Required. At least one name must be set. The GConcept ids the\
          \ localized category names should be returned for. To return details for\
          \ more than one category, repeat this parameter in the request."
        explode: true
        in: query
        name: names
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional. The ISO 3166-1 alpha-2 country code used to infer non-standard
          language.
        explode: true
        in: query
        name: regionCode
        required: false
        schema:
          type: string
        style: form
      - description: Required. Specifies which parts to the Category resource should
          be returned in the response.
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - CATEGORY_VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetCategoriesResponse'
          description: Successful response
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /v1/chains:search:
    get:
      description: Searches the chain based on chain name.
      operationId: mybusinessbusinessinformation_chains_search
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Search for a chain by its name. Exact/partial/fuzzy/related\
          \ queries are supported. Examples: \"walmart\", \"wal-mart\", \"walmmmart\"\
          , \"沃尔玛\""
        explode: true
        in: query
        name: chainName
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of matched chains to return from this query.
          The default is 10. The maximum possible value is 500.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchChainsResponse'
          description: Successful response
      tags:
      - chains
      x-openapi-router-controller: openapi_server.controllers.chains_controller
  /v1/googleLocations:search:
    post:
      description: Search all of the possible locations that are a match to the specified
        request.
      operationId: mybusinessbusinessinformation_google_locations_search
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchGoogleLocationsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchGoogleLocationsResponse'
          description: Successful response
      tags:
      - googleLocations
      x-openapi-router-controller: openapi_server.controllers.google_locations_controller
      x-codegen-request-body-name: body
  /v1/{name}:
    delete:
      description: "Deletes a location. If this location cannot be deleted using the\
        \ API and it is marked so in the `google.mybusiness.businessinformation.v1.LocationState`,\
        \ use the [Google Business Profile](https://business.google.com/manage/) website."
      operationId: mybusinessbusinessinformation_locations_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the location to delete.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    get:
      description: Looks up all the attributes set for a given location.
      operationId: mybusinessbusinessinformation_locations_get_attributes
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Google identifier for this location in the form of\
          \ `locations/{location_id}/attributes`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    patch:
      description: Update attributes for a given location.
      operationId: mybusinessbusinessinformation_locations_update_attributes
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Google identifier for this location in the form of\
          \ `locations/{location_id}/attributes`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Attribute name of attributes that you'd like to update.\
          \ Represented by `attributes/{attribute}`. Updates: All attributes provided\
          \ in the attributes field that you would like to update must be set in the\
          \ `attribute_mask`. Attributes set in the above list but not in the `attribute_mask`\
          \ will be ignored. Deletes: If you'd like to delete certain attributes,\
          \ they must be specified in the `attribute_mask` with no matching entry\
          \ in the attributes list. If you'd like to delete all attributes set on\
          \ a location, you should look up all the applicable attributes for the location\
          \ and then add them to the `attribute_mask` with an empty attributes field."
        explode: true
        in: query
        name: attributeMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attributes'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /v1/{name}:getGoogleUpdated:
    get:
      description: Gets the Google-updated version of the specified location.
      operationId: mybusinessbusinessinformation_locations_attributes_get_google_updated
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Google identifier for this location in the form of\
          \ `locations/{location_id}/attributes`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Required. Read mask to specify what fields will be returned in
          the response.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes'
          description: Successful response
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /v1/{parent}/locations:
    get:
      description: Lists the locations for the specified account.
      operationId: mybusinessbusinessinformation_accounts_locations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the account to fetch locations from. If\
          \ the parent Account is of AccountType PERSONAL, only Locations that are\
          \ directly owned by the Account are returned, otherwise it will return all\
          \ accessible locations from the Account, either directly or indirectly."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. A filter constraining the locations to return. The\
          \ response includes only entries that match the filter. If `filter` is empty,\
          \ then constraints are applied and all locations (paginated) are retrieved\
          \ for the requested account. For more information about valid fields and\
          \ example usage, see [Work with Location Data Guide](https://developers.google.com/my-business/content/location-data#filter_results_when_you_list_locations)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Sorting order for the request. Multiple fields should\
          \ be comma-separated, following SQL syntax. The default sorting order is\
          \ ascending. To specify descending order, a suffix \" desc\" should be added.\
          \ Valid fields to order_by are title and store_code. For example: \"title,\
          \ store_code desc\" or \"title\" or \"store_code desc\""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. How many locations to fetch per page. Default value\
          \ is 10 if not set. Minimum is 1, and maximum page size is 100."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. If specified, it fetches the next `page` of locations.\
          \ The page token is returned by previous calls to `ListLocations` when there\
          \ were more locations than could fit in the requested page size."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Required. Read mask to specify what fields will be returned in
          the response.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    post:
      description: Creates a new Location that will be owned by the logged in user.
      operationId: mybusinessbusinessinformation_accounts_locations_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The name of the account in which to create this location.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. A unique request ID for the server to detect duplicated
          requests. We recommend using UUIDs. Max length is 50 characters.
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If true, the request is validated without actually\
          \ creating the location."
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Successful response
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AdWordsLocationExtensions:
      description: Additional information that is surfaced in AdWords.
      example:
        adPhone: adPhone
      properties:
        adPhone:
          description: Required. An alternate phone number to display on AdWords location
            extensions instead of the location's primary phone number.
          title: adPhone
          type: string
      title: AdWordsLocationExtensions
      type: object
    Attribute:
      description: "A location attribute. Attributes provide additional information\
        \ about a location. The attributes that can be set on a location may vary\
        \ based on the properties of that location (for example, category). Available\
        \ attributes are determined by Google and may be added and removed without\
        \ API changes."
      example:
        repeatedEnumValue:
          setValues:
          - setValues
          - setValues
          unsetValues:
          - unsetValues
          - unsetValues
        valueType: ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
        values:
        - ""
        - ""
        name: name
        uriValues:
        - uri: uri
        - uri: uri
      properties:
        name:
          description: Required. The resource name for this attribute.
          title: name
          type: string
        repeatedEnumValue:
          $ref: '#/components/schemas/RepeatedEnumAttributeValue'
        uriValues:
          description: "When the attribute value type is URL, this field contains\
            \ the value(s) for this attribute, and the other values fields must be\
            \ empty."
          items:
            $ref: '#/components/schemas/UriAttributeValue'
          title: uriValues
          type: array
        valueType:
          description: Output only. The type of value that this attribute contains.
            This should be used to determine how to interpret the value.
          enum:
          - ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
          - BOOL
          - ENUM
          - URL
          - REPEATED_ENUM
          readOnly: true
          title: valueType
          type: string
        values:
          description: The values for this attribute. The type of the values supplied
            must match that expected for that attribute. This is a repeated field
            where multiple attribute values may be provided. Attribute types only
            support one value.
          items: {}
          title: values
          type: array
      title: Attribute
      type: object
    AttributeMetadata:
      description: "Metadata for an attribute. Contains display information for the\
        \ attribute, including a localized name and a heading for grouping related\
        \ attributes together."
      example:
        groupDisplayName: groupDisplayName
        parent: parent
        displayName: displayName
        repeatable: true
        deprecated: true
        valueType: ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
        valueMetadata:
        - displayName: displayName
          value: ""
        - displayName: displayName
          value: ""
      properties:
        deprecated:
          description: "If true, the attribute is deprecated and should no longer\
            \ be used. If deprecated, updating this attribute will not result in an\
            \ error, but updates will not be saved. At some point after being deprecated,\
            \ the attribute will be removed entirely and it will become an error."
          title: deprecated
          type: boolean
        displayName:
          description: "The localized display name for the attribute, if available;\
            \ otherwise, the English display name."
          title: displayName
          type: string
        groupDisplayName:
          description: "The localized display name of the group that contains this\
            \ attribute, if available; otherwise, the English group name. Related\
            \ attributes are collected into a group and should be displayed together\
            \ under the heading given here."
          title: groupDisplayName
          type: string
        parent:
          description: The unique identifier for the attribute.
          title: parent
          type: string
        repeatable:
          description: "If true, the attribute supports multiple values. If false,\
            \ only a single value should be provided."
          title: repeatable
          type: boolean
        valueMetadata:
          description: "For some types of attributes (for example, enums), a list\
            \ of supported values and corresponding display names for those values\
            \ is provided."
          items:
            $ref: '#/components/schemas/AttributeValueMetadata'
          title: valueMetadata
          type: array
        valueType:
          description: The value type for the attribute. Values set and retrieved
            should be expected to be of this type.
          enum:
          - ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
          - BOOL
          - ENUM
          - URL
          - REPEATED_ENUM
          title: valueType
          type: string
      title: AttributeMetadata
      type: object
    AttributeValueMetadata:
      description: Metadata for supported attribute values.
      example:
        displayName: displayName
        value: ""
      properties:
        displayName:
          description: "The display name for this value, localized where available;\
            \ otherwise, in English. The value display name is intended to be used\
            \ in context with the attribute display name. For example, for a \"WiFi\"\
            \ enum attribute, this could contain \"Paid\" to represent paid Wi-Fi."
          title: displayName
          type: string
        value:
          description: The attribute value.
          title: value
      title: AttributeValueMetadata
      type: object
    Attributes:
      description: A container for all the attributes for a given location.
      example:
        name: name
        attributes:
        - repeatedEnumValue:
            setValues:
            - setValues
            - setValues
            unsetValues:
            - unsetValues
            - unsetValues
          valueType: ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
          values:
          - ""
          - ""
          name: name
          uriValues:
          - uri: uri
          - uri: uri
        - repeatedEnumValue:
            setValues:
            - setValues
            - setValues
            unsetValues:
            - unsetValues
            - unsetValues
          valueType: ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
          values:
          - ""
          - ""
          name: name
          uriValues:
          - uri: uri
          - uri: uri
      properties:
        attributes:
          description: A collection of attributes that need to be updated.
          items:
            $ref: '#/components/schemas/Attribute'
          title: attributes
          type: array
        name:
          description: "Required. Google identifier for this location in the form\
            \ of `locations/{location_id}/attributes`."
          title: name
          type: string
      title: Attributes
      type: object
    BatchGetCategoriesResponse:
      description: Response message for BusinessCategories.BatchGetBusinessCategories.
      example:
        categories:
        - moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
        - moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
      properties:
        categories:
          description: Categories that match the GConcept ids provided in the request.
            They will not come in the same order as category ids in the request.
          items:
            $ref: '#/components/schemas/Category'
          title: categories
          type: array
      title: BatchGetCategoriesResponse
      type: object
    BusinessHours:
      description: Represents the time periods that this location is open for business.
        Holds a collection of TimePeriod instances.
      example:
        periods:
        - closeDay: DAY_OF_WEEK_UNSPECIFIED
          openDay: DAY_OF_WEEK_UNSPECIFIED
          closeTime:
            hours: 1
            seconds: 2
            nanos: 5
            minutes: 5
          openTime:
            hours: 1
            seconds: 2
            nanos: 5
            minutes: 5
        - closeDay: DAY_OF_WEEK_UNSPECIFIED
          openDay: DAY_OF_WEEK_UNSPECIFIED
          closeTime:
            hours: 1
            seconds: 2
            nanos: 5
            minutes: 5
          openTime:
            hours: 1
            seconds: 2
            nanos: 5
            minutes: 5
      properties:
        periods:
          description: Required. A collection of times that this location is open
            for business. Each period represents a range of hours when the location
            is open during the week.
          items:
            $ref: '#/components/schemas/TimePeriod'
          title: periods
          type: array
      title: BusinessHours
      type: object
    Categories:
      description: "A collection of categories that describes the business. During\
        \ updates, both fields must be set. Clients are prohibited from individually\
        \ updating the primary or additional categories using the update mask."
      example:
        primaryCategory:
          moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
        additionalCategories:
        - moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
        - moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
      properties:
        additionalCategories:
          description: "Optional. Additional categories to describe your business.\
            \ Categories help your customers find accurate, specific results for services\
            \ they're interested in. To keep your business information accurate and\
            \ live, make sure that you use as few categories as possible to describe\
            \ your overall core business. Choose categories that are as specific as\
            \ possible, but representative of your main business."
          items:
            $ref: '#/components/schemas/Category'
          title: additionalCategories
          type: array
        primaryCategory:
          $ref: '#/components/schemas/Category'
      title: Categories
      type: object
    Category:
      description: "A category describing what this business is (not what it does).\
        \ For a list of valid category IDs, and the mappings to their human-readable\
        \ names, see `categories.list`."
      example:
        moreHoursTypes:
        - displayName: displayName
          localizedDisplayName: localizedDisplayName
          hoursTypeId: hoursTypeId
        - displayName: displayName
          localizedDisplayName: localizedDisplayName
          hoursTypeId: hoursTypeId
        displayName: displayName
        name: name
        serviceTypes:
        - displayName: displayName
          serviceTypeId: serviceTypeId
        - displayName: displayName
          serviceTypeId: serviceTypeId
      properties:
        displayName:
          description: "Output only. The human-readable name of the category. This\
            \ is set when reading the location. When modifying the location, `category_id`\
            \ must be set."
          readOnly: true
          title: displayName
          type: string
        moreHoursTypes:
          description: Output only. More hours types that are available for this business
            category.
          items:
            $ref: '#/components/schemas/MoreHoursType'
          readOnly: true
          title: moreHoursTypes
          type: array
        name:
          description: Required. A stable ID (provided by Google) for this category.
            The value must be specified when modifying the category (when creating
            or updating a location).
          title: name
          type: string
        serviceTypes:
          description: Output only. A list of all the service types that are available
            for this business category.
          items:
            $ref: '#/components/schemas/ServiceType'
          readOnly: true
          title: serviceTypes
          type: array
      title: Category
      type: object
    Chain:
      description: A chain is a brand that your business's locations can be affiliated
        with.
      example:
        chainNames:
        - displayName: displayName
          languageCode: languageCode
        - displayName: displayName
          languageCode: languageCode
        locationCount: 0
        name: name
        websites:
        - uri: uri
        - uri: uri
      properties:
        chainNames:
          description: Names of the chain.
          items:
            $ref: '#/components/schemas/ChainName'
          title: chainNames
          type: array
        locationCount:
          description: Number of locations that are part of this chain.
          format: int32
          title: locationCount
          type: integer
        name:
          description: "Required. The chain's resource name, in the format `chains/{chain_id}`."
          title: name
          type: string
        websites:
          description: Websites of the chain.
          items:
            $ref: '#/components/schemas/ChainUri'
          title: websites
          type: array
      title: Chain
      type: object
    ChainName:
      description: Name to be used when displaying the chain.
      example:
        displayName: displayName
        languageCode: languageCode
      properties:
        displayName:
          description: The display name for this chain.
          title: displayName
          type: string
        languageCode:
          description: The BCP 47 code of language of the name.
          title: languageCode
          type: string
      title: ChainName
      type: object
    ChainUri:
      description: Url to be used when displaying the chain.
      example:
        uri: uri
      properties:
        uri:
          description: The uri for this chain.
          title: uri
          type: string
      title: ChainUri
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 9
        year: 3
        day: 7
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          title: day
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          title: month
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          title: year
          type: integer
      title: Date
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    FreeFormServiceItem:
      description: Represents a free-form service offered by the merchant. These are
        services that are not exposed as part of our structure service data. The merchant
        manually enters the names for of such services via a geomerchant surface.
      example:
        label:
          displayName: displayName
          description: description
          languageCode: languageCode
        category: category
      properties:
        category:
          description: Required. This field represents the category name (i.e. the
            category's stable ID). The `category` and `service_type_id` should match
            the possible combinations provided in the `Category` message.
          title: category
          type: string
        label:
          $ref: '#/components/schemas/Label'
      title: FreeFormServiceItem
      type: object
    GoogleLocation:
      description: "Represents a Location that is present on Google. This can be a\
        \ location that has been claimed by the user, someone else, or could be unclaimed."
      example:
        requestAdminRightsUri: requestAdminRightsUri
        name: name
        location:
          metadata:
            canHaveBusinessCalls: true
            hasGoogleUpdated: true
            placeId: placeId
            hasVoiceOfMerchant: true
            canModifyServiceList: true
            canOperateLocalPost: true
            canOperateHealthData: true
            canOperateLodgingData: true
            hasPendingEdits: true
            mapsUri: mapsUri
            canDelete: true
            newReviewUri: newReviewUri
            canHaveFoodMenus: true
            duplicateLocation: duplicateLocation
          serviceArea:
            places:
              placeInfos:
              - placeId: placeId
                placeName: placeName
              - placeId: placeId
                placeName: placeName
            regionCode: regionCode
            businessType: BUSINESS_TYPE_UNSPECIFIED
          profile:
            description: description
          moreHours:
          - periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            hoursTypeId: hoursTypeId
          - periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            hoursTypeId: hoursTypeId
          regularHours:
            periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
          serviceItems:
          - structuredServiceItem:
              description: description
              serviceTypeId: serviceTypeId
            price:
              nanos: 2
              units: units
              currencyCode: currencyCode
            freeFormServiceItem:
              label:
                displayName: displayName
                description: description
                languageCode: languageCode
              category: category
          - structuredServiceItem:
              description: description
              serviceTypeId: serviceTypeId
            price:
              nanos: 2
              units: units
              currencyCode: currencyCode
            freeFormServiceItem:
              label:
                displayName: displayName
                description: description
                languageCode: languageCode
              category: category
          languageCode: languageCode
          relationshipData:
            parentLocation:
              relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            childrenLocations:
            - relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            - relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            parentChain: parentChain
          specialHours:
            specialHourPeriods:
            - endDate:
                month: 9
                year: 3
                day: 7
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              closed: true
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              startDate:
                month: 9
                year: 3
                day: 7
            - endDate:
                month: 9
                year: 3
                day: 7
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              closed: true
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              startDate:
                month: 9
                year: 3
                day: 7
          title: title
          adWordsLocationExtensions:
            adPhone: adPhone
          phoneNumbers:
            primaryPhone: primaryPhone
            additionalPhones:
            - additionalPhones
            - additionalPhones
          labels:
          - labels
          - labels
          websiteUri: websiteUri
          name: name
          categories:
            primaryCategory:
              moreHoursTypes:
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              displayName: displayName
              name: name
              serviceTypes:
              - displayName: displayName
                serviceTypeId: serviceTypeId
              - displayName: displayName
                serviceTypeId: serviceTypeId
            additionalCategories:
            - moreHoursTypes:
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              displayName: displayName
              name: name
              serviceTypes:
              - displayName: displayName
                serviceTypeId: serviceTypeId
              - displayName: displayName
                serviceTypeId: serviceTypeId
            - moreHoursTypes:
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              displayName: displayName
              name: name
              serviceTypes:
              - displayName: displayName
                serviceTypeId: serviceTypeId
              - displayName: displayName
                serviceTypeId: serviceTypeId
          storefrontAddress:
            regionCode: regionCode
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            addressLines:
            - addressLines
            - addressLines
            administrativeArea: administrativeArea
            languageCode: languageCode
            revision: 4
          latlng:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          openInfo:
            canReopen: true
            openingDate:
              month: 9
              year: 3
              day: 7
            status: OPEN_FOR_BUSINESS_UNSPECIFIED
          storeCode: storeCode
      properties:
        location:
          $ref: '#/components/schemas/Location'
        name:
          description: "Resource name of this GoogleLocation, in the format `googleLocations/{googleLocationId}`."
          title: name
          type: string
        requestAdminRightsUri:
          description: "A URL that will redirect the user to the request admin rights\
            \ UI. This field is only present if the location has already been claimed\
            \ by any user, including the current user."
          title: requestAdminRightsUri
          type: string
      title: GoogleLocation
      type: object
    GoogleUpdatedLocation:
      description: Represents a location that was modified by Google.
      properties:
        diffMask:
          description: The fields that Google updated.
          format: google-fieldmask
          type: string
        location:
          $ref: '#/components/schemas/Location'
        pendingMask:
          description: The fields that have pending edits that haven't yet been pushed
            to Maps and Search.
          format: google-fieldmask
          type: string
      type: object
    Label:
      description: "Label to be used when displaying the price list, section, or item."
      example:
        displayName: displayName
        description: description
        languageCode: languageCode
      properties:
        description:
          description: "Optional. Description of the price list, section, or item."
          title: description
          type: string
        displayName:
          description: "Required. Display name for the price list, section, or item."
          title: displayName
          type: string
        languageCode:
          description: Optional. The BCP-47 language code that these strings apply
            for. Only one set of labels may be set per language.
          title: languageCode
          type: string
      title: Label
      type: object
    LatLng:
      description: "An object that represents a latitude/longitude pair. This is expressed\
        \ as a pair of doubles to represent degrees latitude and degrees longitude.\
        \ Unless specified otherwise, this object must conform to the WGS84 standard.\
        \ Values must be within normalized ranges."
      example:
        latitude: 0.8008281904610115
        longitude: 6.027456183070403
      properties:
        latitude:
          description: "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          format: double
          title: latitude
          type: number
        longitude:
          description: "The longitude in degrees. It must be in the range [-180.0,\
            \ +180.0]."
          format: double
          title: longitude
          type: number
      title: LatLng
      type: object
    ListAttributeMetadataResponse:
      description: Response for AttributesService.ListAttributeMetadata.
      example:
        attributeMetadata:
        - groupDisplayName: groupDisplayName
          parent: parent
          displayName: displayName
          repeatable: true
          deprecated: true
          valueType: ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
          valueMetadata:
          - displayName: displayName
            value: ""
          - displayName: displayName
            value: ""
        - groupDisplayName: groupDisplayName
          parent: parent
          displayName: displayName
          repeatable: true
          deprecated: true
          valueType: ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
          valueMetadata:
          - displayName: displayName
            value: ""
          - displayName: displayName
            value: ""
        nextPageToken: nextPageToken
      properties:
        attributeMetadata:
          description: A collection of attribute metadata for the available attributes.
          items:
            $ref: '#/components/schemas/AttributeMetadata'
          title: attributeMetadata
          type: array
        nextPageToken:
          description: "If the number of attributes exceeded the requested page size,\
            \ this field will be populated with a token to fetch the next page of\
            \ attributes on a subsequent call to `attributes.list`. If there are no\
            \ more attributes, this field will not be present in the response."
          title: nextPageToken
          type: string
      title: ListAttributeMetadataResponse
      type: object
    ListCategoriesResponse:
      description: Response message for BusinessCategories.ListCategories.
      example:
        nextPageToken: nextPageToken
        categories:
        - moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
        - moreHoursTypes:
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          - displayName: displayName
            localizedDisplayName: localizedDisplayName
            hoursTypeId: hoursTypeId
          displayName: displayName
          name: name
          serviceTypes:
          - displayName: displayName
            serviceTypeId: serviceTypeId
          - displayName: displayName
            serviceTypeId: serviceTypeId
      properties:
        categories:
          description: The matching categories based on the requested parameters.
          items:
            $ref: '#/components/schemas/Category'
          title: categories
          type: array
        nextPageToken:
          description: "If the number of categories exceeded the requested page size,\
            \ this field will be populated with a token to fetch the next page of\
            \ categories on a subsequent call to `ListCategories`."
          title: nextPageToken
          type: string
      title: ListCategoriesResponse
      type: object
    ListLocationsResponse:
      description: Response message for Locations.ListLocations.
      example:
        totalSize: 0
        nextPageToken: nextPageToken
        locations:
        - metadata:
            canHaveBusinessCalls: true
            hasGoogleUpdated: true
            placeId: placeId
            hasVoiceOfMerchant: true
            canModifyServiceList: true
            canOperateLocalPost: true
            canOperateHealthData: true
            canOperateLodgingData: true
            hasPendingEdits: true
            mapsUri: mapsUri
            canDelete: true
            newReviewUri: newReviewUri
            canHaveFoodMenus: true
            duplicateLocation: duplicateLocation
          serviceArea:
            places:
              placeInfos:
              - placeId: placeId
                placeName: placeName
              - placeId: placeId
                placeName: placeName
            regionCode: regionCode
            businessType: BUSINESS_TYPE_UNSPECIFIED
          profile:
            description: description
          moreHours:
          - periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            hoursTypeId: hoursTypeId
          - periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            hoursTypeId: hoursTypeId
          regularHours:
            periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
          serviceItems:
          - structuredServiceItem:
              description: description
              serviceTypeId: serviceTypeId
            price:
              nanos: 2
              units: units
              currencyCode: currencyCode
            freeFormServiceItem:
              label:
                displayName: displayName
                description: description
                languageCode: languageCode
              category: category
          - structuredServiceItem:
              description: description
              serviceTypeId: serviceTypeId
            price:
              nanos: 2
              units: units
              currencyCode: currencyCode
            freeFormServiceItem:
              label:
                displayName: displayName
                description: description
                languageCode: languageCode
              category: category
          languageCode: languageCode
          relationshipData:
            parentLocation:
              relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            childrenLocations:
            - relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            - relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            parentChain: parentChain
          specialHours:
            specialHourPeriods:
            - endDate:
                month: 9
                year: 3
                day: 7
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              closed: true
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              startDate:
                month: 9
                year: 3
                day: 7
            - endDate:
                month: 9
                year: 3
                day: 7
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              closed: true
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              startDate:
                month: 9
                year: 3
                day: 7
          title: title
          adWordsLocationExtensions:
            adPhone: adPhone
          phoneNumbers:
            primaryPhone: primaryPhone
            additionalPhones:
            - additionalPhones
            - additionalPhones
          labels:
          - labels
          - labels
          websiteUri: websiteUri
          name: name
          categories:
            primaryCategory:
              moreHoursTypes:
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              displayName: displayName
              name: name
              serviceTypes:
              - displayName: displayName
                serviceTypeId: serviceTypeId
              - displayName: displayName
                serviceTypeId: serviceTypeId
            additionalCategories:
            - moreHoursTypes:
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              displayName: displayName
              name: name
              serviceTypes:
              - displayName: displayName
                serviceTypeId: serviceTypeId
              - displayName: displayName
                serviceTypeId: serviceTypeId
            - moreHoursTypes:
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              - displayName: displayName
                localizedDisplayName: localizedDisplayName
                hoursTypeId: hoursTypeId
              displayName: displayName
              name: name
              serviceTypes:
              - displayName: displayName
                serviceTypeId: serviceTypeId
              - displayName: displayName
                serviceTypeId: serviceTypeId
          storefrontAddress:
            regionCode: regionCode
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            addressLines:
            - addressLines
            - addressLines
            administrativeArea: administrativeArea
            languageCode: languageCode
            revision: 4
          latlng:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          openInfo:
            canReopen: true
            openingDate:
              month: 9
              year: 3
              day: 7
            status: OPEN_FOR_BUSINESS_UNSPECIFIED
          storeCode: storeCode
        - metadata:
            canHaveBusinessCalls: true
            hasGoogleUpdated: true
            placeId: placeId
            hasVoiceOfMerchant: true
            canModifyServiceList: true
            canOperateLocalPost: true
            canOperateHealthData: true
            canOperateLodgingData: true
            hasPendingEdits: true
            mapsUri: mapsUri
            canDelete: true
            newReviewUri: newReviewUri
            canHaveFoodMenus: true
            duplicateLocation: duplicateLocation
          serviceArea:
            places:
              placeInfos:
              - placeId: placeId
                placeName: placeName
              - placeId: placeId
                placeName: placeName
            regionCode: regionCode
            businessType: BUSINESS_TYPE_UNSPECIFIED
          profile:
            description: description
          moreHours:
          - periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            hoursTypeId: hoursTypeId
          - periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            hoursTypeId: hoursTypeId
          regularHours:
            periods:
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
            - closeDay: DAY_OF_WEEK_UNSPECIFIED
              openDay: DAY_OF_WEEK_UNSPECIFIED
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
          serviceItems:
          - structuredServiceItem:
              description: description
              serviceTypeId: serviceTypeId
            price:
              nanos: 2
              units: units
              currencyCode: currencyCode
            freeFormServiceItem:
              label:
                displayName: displayName
                description: description
                languageCode: languageCode
              category: category
          - structuredServiceItem:
              description: description
              serviceTypeId: serviceTypeId
            price:
              nanos: 2
              units: units
              currencyCode: currencyCode
            freeFormServiceItem:
              label:
                displayName: displayName
                description: description
                languageCode: languageCode
              category: category
          languageCode: languageCode
          relationshipData:
            parentLocation:
              relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            childrenLocations:
            - relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            - relationType: RELATION_TYPE_UNSPECIFIED
              placeId: placeId
            parentChain: parentChain
          specialHours:
            specialHourPeriods:
            - endDate:
                month: 9
                year: 3
                day: 7
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              closed: true
              openTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              startDate:
                month: 9
                year: 3
                day: 7
            - endDate:
                month: 9
                year: 3
                day: 7
              closeTime:
                hours: 1
                seconds: 2
                nanos: 5
                minutes: 5
              closed: true
              openTime:
                hours: 1
[...]
