openapi: 3.0.0
info:
  contact:
    x-twitter: Hackathonwatch
  title: HackathonWatch
  version: "0.1"
  x-apisguru-categories:
  - social
  x-logo:
    url: https://twitter.com/Hackathonwatch/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: http://www.hackathonwatch.com/api/swagger_doc
    version: "1.2"
  x-providerName: hackathonwatch.com
servers:
- url: http://www.hackathonwatch.com/api/
tags:
- description: Operations about hackathons
  name: hackathons
- description: Operations about swagger_docs
  name: swagger_doc
paths:
  /hackathons/coming.json:
    get:
      operationId: g_et_hackathons_coming_format
      parameters:
      - description: Specify the page of coming hackathons.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Return a list of coming hackathons
      tags:
      - hackathons
      x-openapi-router-controller: openapi_server.controllers.hackathons_controller
  /hackathons/{id}.json:
    get:
      operationId: g_et_hackathons_id_format
      parameters:
      - description: ID of the hackathon for detail information
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          description: No response was specified
      summary: Return the detail of a given hackathon
      tags:
      - hackathons
      x-openapi-router-controller: openapi_server.controllers.hackathons_controller
  /swagger_doc.json:
    get:
      operationId: g_et_swagger_doc_format
      responses:
        "200":
          description: No response was specified
      summary: Swagger compatible API description
      tags:
      - swagger_doc
      x-openapi-router-controller: openapi_server.controllers.swagger_doc_controller
  /swagger_doc/{name}.json:
    get:
      operationId: g_et_swagger_doc_name_format
      parameters:
      - description: Resource name of mounted API
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
      summary: Swagger compatible API description for specific API
      tags:
      - swagger_doc
      x-openapi-router-controller: openapi_server.controllers.swagger_doc_controller
components:
  schemas: {}
