openapi: 3.0.1
info:
  title: Azure Stack Azure Bridge Client
  version: 2017-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azurestack-Registration
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations:
    get:
      description: Returns a list of all registrations.
      operationId: registrations_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registrations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Registrations
      x-ms-examples:
        Returns a list of all registrations.:
          parameters:
            api-version: 2017-06-01
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200":
              body:
                value:
                - etag: 0d00527e-0000-0000-0000-5a81ebdf0000
                  id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration
                  location: global
                  name: testregistration
                  properties:
                    billingModel: Development
                    objectId: 9e9704ab-561a-4498-ac60-64b2314456ee
                  type: Microsoft.AzureStack/registrations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.registrations_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}:
    delete:
      description: Delete the requested Azure Stack registration.
      operationId: registrations_delete
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NO CONTENT
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registrations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Registrations
      x-ms-examples:
        Delete the requested Azure Stack registration.:
          parameters:
            api-version: 2017-06-01
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.registrations_controller
    get:
      description: Returns the properties of an Azure Stack registration.
      operationId: registrations_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registrations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Registrations
      x-ms-examples:
        Returns the properties of an Azure Stack registration.:
          parameters:
            api-version: 2017-06-01
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200":
              body:
                etag: 0d00527e-0000-0000-0000-5a81ebdf0000
                id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration
                location: global
                name: azurestack
                properties:
                  billingModel: Development
                  objectId: 9e9704ab-561a-4498-ac60-64b2314456ee
                type: Microsoft.AzureStack/registrations
      x-openapi-router-controller: openapi_server.controllers.registrations_controller
    patch:
      description: Patch an Azure Stack registration.
      operationId: registrations_update
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationParameter'
        description: Registration token
        required: true
        x-ms-parameter-location: method
        x-body-name: token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registrations_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Registrations
      x-ms-examples:
        Patch an Azure Stack registration.:
          parameters:
            api-version: 2017-06-01
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
            token:
              location: global
              properties:
                registrationToken: EyjIAWXSAw5nTw9KZWWiOiJeZxZlbg9wBwvUdCiSIM9iaMVjdeLkijoinwIzyJa2Ytgtowm2yy00OdG4lTlLyJmtztHjZGfJZTC0NZK1iIWiY2XvdWRJzCi6iJy5nDy0oDk1LTNHmWeTnDUwyS05oDI0LTrINzYwoGq5mjAzziIsim1HCmtldHBsYwnLu3LuZGljYXrpB25FBmfIbgVkIJp0CNvLLCJOYXJkd2FYzuLUZM8iOlt7IM51bunvcMVZiJoYlCjcaw9ZiJPBIjNkzDJHmda3yte5ndqZMdq4YmZkZmi5oDM3OTY3ZwNMIL0SIM5PyYI6WyJLZTy0ztJJMwZKy2m0OWNLODDLMwm2zTm0ymzKyjmWySisiJA3njlHmtdlY2q4NjRjnwFIZtC1YZi5ZGyZodM3Y2vjIl0siMnwDsi6wyi2oDUZoTbiY2RhNDa0ymrKoWe4YtK5otblzWrJzGyzNCISIjmYnzC4M2vmnZdIoDRKM2i5ytfkmJlhnDc1zdhLzWm1il0sim5HBwuiOijIqzF1MTvhmDIXmIIsimrpc2SiolsioWNlZjVhnZM1otQ0nDu3NmjlN2M3zmfjzmyZMTJhZtiiLcjLZjLmmZJhmWVhytG0NTu0OTqZNWu1Mda0MZbIYtfjyijdLCj1DWlKijoinwM5Mwu3NjytMju5Os00oTIwlWi0OdmTnGzHotiWm2RjyTCxIIwiBWvTb3J5ijPbijAYZDA3M2fjNzu0YTRMZTfhodkxzDnkogY5ZtAWzdyXIiwINZcWzThLnDQ4otrJndAzZGI5MGzlYtY1ZJA5ZdfiNMQIXX1DlcJpC3n1zxiiOijZb21lB25LIIWIdmVyC2LVbiI6IJeuMcJ9
          responses:
            "200":
              body:
                etag: '"0e00ab2b-0000-0000-0000-5a82517f0000"'
                id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration
                location: global
                name: testregistration
                properties:
                  billingModel: Development
                  cloudId: 5bf881b2-6be7-42a1-9f47-d6fcb6737747
                  objectId: 2dbdd5f4-daf3-442a-be35-b71c3debee5a
                tags:
                  key1: value1
                type: Microsoft.AzureStack/registrations
      x-codegen-request-body-name: token
      x-openapi-router-controller: openapi_server.controllers.registrations_controller
    put:
      description: Create or update an Azure Stack registration.
      operationId: registrations_create_or_update
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationParameter'
        description: Registration token
        required: true
        x-ms-parameter-location: method
        x-body-name: token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
          description: CREATED
      tags:
      - Registrations
      x-ms-examples:
        Create or update an Azure Stack registration.:
          parameters:
            api-version: 2017-06-01
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
            token:
              location: global
              properties:
                registrationToken: EyjIAWXSAw5nTw9KZWWiOiJeZxZlbg9wBwvUdCiSIM9iaMVjdeLkijoinwIzyJa2Ytgtowm2yy00OdG4lTlLyJmtztHjZGfJZTC0NZK1iIWiY2XvdWRJzCi6iJy5nDy0oDk1LTNHmWeTnDUwyS05oDI0LTrINzYwoGq5mjAzziIsim1HCmtldHBsYwnLu3LuZGljYXrpB25FBmfIbgVkIJp0CNvLLCJOYXJkd2FYzuLUZM8iOlt7IM51bunvcMVZiJoYlCjcaw9ZiJPBIjNkzDJHmda3yte5ndqZMdq4YmZkZmi5oDM3OTY3ZwNMIL0SIM5PyYI6WyJLZTy0ztJJMwZKy2m0OWNLODDLMwm2zTm0ymzKyjmWySisiJA3njlHmtdlY2q4NjRjnwFIZtC1YZi5ZGyZodM3Y2vjIl0siMnwDsi6wyi2oDUZoTbiY2RhNDa0ymrKoWe4YtK5otblzWrJzGyzNCISIjmYnzC4M2vmnZdIoDRKM2i5ytfkmJlhnDc1zdhLzWm1il0sim5HBwuiOijIqzF1MTvhmDIXmIIsimrpc2SiolsioWNlZjVhnZM1otQ0nDu3NmjlN2M3zmfjzmyZMTJhZtiiLcjLZjLmmZJhmWVhytG0NTu0OTqZNWu1Mda0MZbIYtfjyijdLCj1DWlKijoinwM5Mwu3NjytMju5Os00oTIwlWi0OdmTnGzHotiWm2RjyTCxIIwiBWvTb3J5ijPbijAYZDA3M2fjNzu0YTRMZTfhodkxzDnkogY5ZtAWzdyXIiwINZcWzThLnDQ4otrJndAzZGI5MGzlYtY1ZJA5ZdfiNMQIXX1DlcJpC3n1zxiiOijZb21lB25LIIWIdmVyC2LVbiI6IJeuMcJ9
          responses:
            "200":
              body:
                etag: '"0e00ab2b-0000-0000-0000-5a82517f0000"'
                id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration
                location: global
                name: testregistration
                properties:
                  billingModel: Development
                  cloudId: 5bf881b2-6be7-42a1-9f47-d6fcb6737747
                  objectId: 2dbdd5f4-daf3-442a-be35-b71c3debee5a
                type: Microsoft.AzureStack/registrations
            "201":
              body:
                etag: '"0e00ab2b-0000-0000-0000-5a82517f0000"'
                id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration
                location: global
                name: testregistration
                properties:
                  billingModel: Development
                  cloudId: 5bf881b2-6be7-42a1-9f47-d6fcb6737747
                  objectId: 2dbdd5f4-daf3-442a-be35-b71c3debee5a
                type: Microsoft.AzureStack/registrations
      x-codegen-request-body-name: token
      x-openapi-router-controller: openapi_server.controllers.registrations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/getactivationkey
  : post:
      description: Returns Azure Stack Activation Key.
      operationId: registrations_get_activation_key
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-06-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationKeyResult'
          description: OK
      tags:
      - Registrations
      x-ms-examples:
        Returns Azure Stack Activation Key.:
          parameters:
            api-version: 2017-06-01
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            "200":
              body:
                activationKey: EYJRawQioiIzyzkYoDA2zJRJotc0Odg1oDHLM2zIYJfJmTzkYmQ2yYISiCjHbgCIoIjsuZi1niJ9.EyjZDWjzy3JPchrpB25JzcI6iJKWmdfmMZZLltqXzguTngVKYi05oTEZLTc4MGZhnWQWnMiZnIIsiNJLC291CMNLR3JVdXBOyw1LijoiDgVzDciSinjLZ2lZdHJHDGLvbK5hBwuIoijheNN0zxN0czU2mTyilCJjzXJ0UglUbmLuz1JvB3RtDWjqZWn0CyI6WYJDtj1cywx0Aw1vCMugq3liZXJucNvZDCBSB290LCbpVT1dEWJlCLrYdXn0LCbPpuJhBHRPBw9yzSwGqz1JrsJdlcJJZXJ0UglUBMlUZ0ludGvYBwvKawf0zvroDw1iChJPbnRziJpbiJQxN0uYmjUWmZDgQKZBqtrgOTU3NjFeNUfFnzi5RTfBRue3rTNBndiIlCi1neq5rdIWmJM5MdGwqzMYmzE2RuQ5RKY5oDbbnDg5ODHgNeFERjjEiIwiOEEzodc1nuqWotK2ODizRKU4RKezMtE2QtI3N0nfnDQ2rUfdnEu5osisiKFeodk4Qum3M0RgMZMZRUi2mEfDMUy1rKm2QZRcmjiXoUrEQjc5qJCILCI5n0vgrJMWmjg2NZC4oTrcREq0RjLbQzUzrjC4ouJfrTvErJrBrdg2IIWIOTq4rTe2ntI1odYyNdbEndUZMJG3Qui2OuNBrUi4RjJgNEyWmJExnYjdLCJ1c2FnzuVuZhbVaW50IjoIAhr0Chm6Ly9HEnn0DxnndgvzDHdJDtaWMs50cMFMzmLjbwFUywdlCI5UZxQilcjtYxjRZXRwbgFJzUvUzhBVAw50IJoiahR0chm6Ly9tyw5hZ2vTZw50LMf6dxJllMNVBsIsiNVzywdLUMvzb3VyY2VVcmKioIJODHRWczoVl3VzYWDllM1pY3jVC29MdGF6dXJLC3rhy2sUy29tiIwIbwfya2v0cgxhy2vsZxnvdxjJzvvYaSI6imh0dHbzOI8vBWfya2V0CgXhy2uubWLjCm9zb2z0YXp1CmVZdgFjAY5JB20IlcJleHBpCMvzIjoioTk5oS0xMi0zmFQyMzo1OTo1OS45OtK5OTk5wiiSiMNsB3vKswQIoIi2otQ2NDg5ns0ZYTfHLtQ1mgeTotGyNC00yjc2mdhKoTIWM2YIlcJvYMplY3RjzcI6IjvIM2iWNMe4lTljnmmTNdG4OC05ZWiZlWU4y2Rhy2U3NdC5NSisimJPBGxPBmDnb2rlBcI6IKrLdmvsB3btZW50iiWIAGFyzHDHcmvjbMZvijPbEYJUYW1LijoISEMxDTe1YTAYmTIilcj1dwLKiJOINWM5mwu3njyTmjU5Os00oTiwLwi0oDmTNgzhoTiwM2rJYtcxIIWIbnVtq29YZxMIOJISImJpb3MioLsiM2RKMMEwmDDHmtk0nDMwNDhiZmRMyJK4MzC5NjdlY2YiXswibmljIJPBIMvlnjrlmMmXzMRjyzQ5Y2u4n2UXYZzlMZrIzmrimzBhiiwImdc2oWexn2vjzdg2ngM1YwjlnzVJmjLKZjM4mzdjzwMIXSWIy3b1iJpbIjy4Ntm5mgJJzGE0mDRiZgq5ytHhOtK5MGvLZgNkzjM0iiwiMzi3nzGzzWy3n2I4NgqzyJLhmWqYOwe0NzvKOGvLyzuixsWizglzayI6WYI5y2VmNwe3MZU5nDQ0nTc2ymu3yzdmYwnmzJmXmmflmiiSIMvmowyZmMEXZwfhodQ1ntq5ndM1zTUwmDqZMGJhmwnIIL0sIm1LBW9YesI6wyIwMMQwnznHYZC1NGE0ZmuxYTG5mwqzZDhMoWUWMgq2MSISijC3MGU4ZTQ0ODk0YZQwM2RiOTBMZWE2nWYWOwqxyjZkiL19XswidXNhz2vSZXbvCnrpBMDFbMFibGVKijPmyWxzzSwIBWfYa2V0CgXhy2VTEW5KAWNhdgLVBKvuywjszwqIOnryDwUsiMLZC3vlCii6INnvBwvvbMUILcJ2ZXJzaw9uIJOims4WIn0.NkqXrYRthQij4vCeR06SRCIkl44HIRzH8SyOH7za8cm_ObTWk4ZPls_SPYDqQXsOC-SdWUFf1-zbYLbXHSNWpIM_Z6NF2WgMceW78ynPf96sxX9o2R8zcUFf16O0IFqb4SJAlD_JZAsQrdQuC4JkA1AjLFjE4NkTVdxAumK61Ie31C91Nlkqzqyv6cjzoFaj9ybrBu_lTR9-7GR8RxPfpwgNdScRo6VbDQcne8y45PEujA0x-vugmoXjCA7ONM1Z5A2iidzzLEXpHjGHZ5qLMkaQkaN0DimgXw19GlWTFUjDY4JhfEptLdIRlOEpJGn4pmyIYktvHO2W2u5SLcIWha
      x-openapi-router-controller: openapi_server.controllers.registrations_controller
components:
  requestBodies:
    NewRegistrationParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistrationParameter'
      description: Registration token
      required: true
      x-ms-parameter-location: method
      x-body-name: token
  schemas:
    ActivationKeyResult:
      description: The resource containing the Azure Stack activation key.
      example:
        activationKey: activationKey
      properties:
        activationKey:
          description: Azure Stack activation key.
          title: activationKey
          type: string
      title: ActivationKeyResult
      type: object
    Registration:
      allOf:
      - description: Base resource object.
        properties:
          etag:
            description: The entity tag used for optimistic concurrency when modifying
              the resource.
            type: string
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            enum:
            - global
            type: string
            x-ms-enum:
              modelAsString: true
              name: Location
            x-ms-mutability:
            - create
            - read
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Custom tags for the resource.
            type: object
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: Registration information.
      example:
        properties:
          cloudId: cloudId
          billingModel: billingModel
          objectId: objectId
      properties:
        properties:
          $ref: '#/components/schemas/RegistrationProperties'
      title: Registration
    RegistrationList:
      description: Pageable list of registrations.
      example:
        value:
        - properties:
            cloudId: cloudId
            billingModel: billingModel
            objectId: objectId
        - properties:
            cloudId: cloudId
            billingModel: billingModel
            objectId: objectId
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of Registrations
          items:
            $ref: '#/components/schemas/Registration'
          title: value
          type: array
      title: RegistrationList
      type: object
    RegistrationParameter:
      description: Registration resource
      example:
        location: global
        properties:
          registrationToken: registrationToken
      properties:
        location:
          description: Location of the resource.
          enum:
          - global
          title: location
          type: string
          x-ms-enum:
            modelAsString: true
            name: Location
          x-ms-mutability:
          - create
          - read
        properties:
          $ref: '#/components/schemas/RegistrationParameterProperties'
      title: RegistrationParameter
      type: object
    RegistrationParameterProperties:
      description: Properties of the Azure Stack registration resource
      example:
        registrationToken: registrationToken
      properties:
        registrationToken:
          description: The token identifying registered Azure Stack
          title: registrationToken
          type: string
      required:
      - registrationToken
      title: RegistrationParameterProperties
      type: object
    RegistrationProperties:
      description: Properties portion of the registration resource.
      example:
        cloudId: cloudId
        billingModel: billingModel
        objectId: objectId
      properties:
        billingModel:
          description: Specifies the billing mode for the Azure Stack registration.
          title: billingModel
          type: string
        cloudId:
          description: The identifier of the registered Azure Stack.
          title: cloudId
          type: string
        objectId:
          description: The object identifier associated with the Azure Stack connecting
            to Azure.
          title: objectId
          type: string
      title: RegistrationProperties
      type: object
    Registrations_List_default_response_error:
      description: The details of the error.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          title: target
          type: string
      title: Registrations_List_default_response_error
      type: object
    Registrations_List_default_response:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/Registrations_List_default_response_error'
      title: Registrations_List_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
