openapi: 3.0.1
info:
  description: "To manage and control access to your resources, you can define customized\
    \ policies and assign them at a scope."
  title: PolicyClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2019-01-01/policyDefinitions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-policyDefinitions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/policyDefinitions:
    get:
      description: This operation retrieves a list of all the built-in policy definitions.
      operationId: policy_definitions_list_built_in
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
          description: OK - Returns an array of built-in policy definitions.
      summary: Retrieve built-in policy definitions
      tags:
      - PolicyDefinitions
      x-ms-examples:
        List built-in policy definitions:
          parameters:
            api-version: 2019-01-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a12
                  name: 06a78e20-9358-41c9-923c-fb736d382a12
                  properties:
                    description: Audit DB level audit setting for SQL databases
                    displayName: Audit SQL DB Level Audit Setting
                    mode: All
                    parameters:
                      setting:
                        allowedValues:
                        - enabled
                        - disabled
                        metadata:
                          displayName: Audit Setting
                        type: String
                    policyRule:
                      if:
                        equals: Microsoft.Sql/servers/databases
                        field: type
                      then:
                        details:
                          existenceCondition:
                            allOf:
                            - equals: "[parameters('setting')]"
                              field: Microsoft.Sql/auditingSettings.state
                          name: default
                          type: Microsoft.Sql/servers/databases/auditingSettings
                        effect: AuditIfNotExists
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policyDefinitions
                - id: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  name: 7433c107-6db4-4ad1-b57a-a76dce0154a1
                  properties:
                    description: This policy enables you to specify a set of storage
                      account SKUs that your organization can deploy.
                    displayName: Allowed storage account SKUs
                    mode: All
                    parameters:
                      listOfAllowedSKUs:
                        metadata:
                          description: The list of SKUs that can be specified for
                            storage accounts.
                          displayName: Allowed SKUs
                          strongType: StorageSKUs
                        type: Array
                    policyRule:
                      if:
                        allOf:
                        - equals: Microsoft.Storage/storageAccounts
                          field: type
                        - not:
                            field: Microsoft.Storage/storageAccounts/sku.name
                            in: "[parameters('listOfAllowedSKUs')]"
                      then:
                        effect: Deny
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policyDefinitions
                - id: /providers/Microsoft.Authorization/policyDefinitions/abeed54a-73c5-441d-8a8c-6b5e7a0c299e
                  name: abeed54a-73c5-441d-8a8c-6b5e7a0c299e
                  properties:
                    description: "Audit certificates that are stored in Azure Key\
                      \ Vault, that expire within 'X' number of days."
                    displayName: Audit KeyVault certificates that expire within specified
                      number of days
                    metadata:
                      category: KeyVault DataPlane
                    mode: Microsoft.KeyVault.Data
                    parameters:
                      daysToExpire:
                        metadata:
                          description: The number of days for a certificate to expire.
                          displayName: Days to expire
                        type: Integer
                    policyRule:
                      if:
                        field: Microsoft.KeyVault.Data/vaults/certificates/attributes/expiresOn
                        lessOrEquals: "[addDays(utcNow(), parameters('daysToExpire'))]"
                      then:
                        effect: audit
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  /providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}:
    get:
      description: This operation retrieves the built-in policy definition with the
        given name.
      operationId: policy_definitions_get_built_in
      parameters:
      - description: The name of the built-in policy definition to get.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: OK - Returns information about the built-in policy definition.
      summary: Retrieves a built-in policy definition.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Retrieve a built-in policy definition:
          parameters:
            api-version: 2019-01-01
            policyDefinitionName: 7433c107-6db4-4ad1-b57a-a76dce0154a1
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                id: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                name: 7433c107-6db4-4ad1-b57a-a76dce0154a1
                properties:
                  description: This policy enables you to specify a set of storage
                    account SKUs that your organization can deploy.
                  displayName: Allowed storage account SKUs
                  mode: All
                  parameters:
                    listOfAllowedSKUs:
                      metadata:
                        description: The list of SKUs that can be specified for storage
                          accounts.
                        displayName: Allowed SKUs
                        strongType: StorageSKUs
                      type: Array
                  policyRule:
                    if:
                      allOf:
                      - equals: Microsoft.Storage/storageAccounts
                        field: type
                      - not:
                          field: Microsoft.Storage/storageAccounts/sku.name
                          in: "[parameters('listOfAllowedSKUs')]"
                    then:
                      effect: Deny
                  policyType: BuiltIn
                type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  /providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions:
    get:
      description: This operation retrieves a list of all the policy definitions in
        a given management group.
      operationId: policy_definitions_list_by_management_group
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
          description: OK - Returns an array of policy definitions.
      summary: Retrieve policy definitions in a management group
      tags:
      - PolicyDefinitions
      x-ms-examples:
        List policy definitions by management group:
          parameters:
            api-version: 2019-01-01
            managementGroupId: MyManagementGroup
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  name: 7433c107-6db4-4ad1-b57a-a76dce0154a1
                  properties:
                    description: This policy enables you to specify a set of storage
                      account SKUs that your organization can deploy.
                    displayName: Allowed storage account SKUs
                    mode: All
                    parameters:
                      listOfAllowedSKUs:
                        metadata:
                          description: The list of SKUs that can be specified for
                            storage accounts.
                          displayName: Allowed SKUs
                          strongType: StorageSKUs
                        type: Array
                    policyRule:
                      if:
                        allOf:
                        - equals: Microsoft.Storage/storageAccounts
                          field: type
                        - not:
                            field: Microsoft.Storage/storageAccounts/sku.name
                            in: "[parameters('listOfAllowedSKUs')]"
                      then:
                        effect: Deny
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policyDefinitions
                - id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                  name: ResourceNaming
                  properties:
                    description: Force resource names to begin with 'prefix' and end
                      with 'suffix'
                    displayName: Naming Convention
                    metadata:
                      category: Naming
                    mode: All
                    parameters:
                      prefix:
                        metadata:
                          description: Resource name prefix
                          displayName: Prefix
                        type: String
                      suffix:
                        metadata:
                          description: Resource name suffix
                          displayName: Suffix
                        type: String
                    policyRule:
                      if:
                        not:
                          field: name
                          like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                      then:
                        effect: deny
                    policyType: Custom
                  type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  ? /providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}
  : delete:
      description: This operation deletes the policy definition in the given management
        group with the given name.
      operationId: policy_definitions_delete_at_management_group
      parameters:
      - description: The name of the policy definition to delete.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: management_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      summary: Deletes a policy definition in a management group.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Delete a policy definition at management group level:
          parameters:
            api-version: 2019-01-01
            managementGroupId: MyManagementGroup
            policyDefinitionName: ResourceNaming
          responses:
            "200":
              headers: {}
            "204":
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
    get:
      description: This operation retrieves the policy definition in the given management
        group with the given name.
      operationId: policy_definitions_get_at_management_group
      parameters:
      - description: The name of the policy definition to get.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: management_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: OK - Returns information about the policy definition.
      summary: Retrieve a policy definition in a management group.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Retrieve a policy definition at management group level:
          parameters:
            api-version: 2019-01-01
            managementGroupId: MyManagementGroup
            policyDefinitionName: ResourceNaming
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                name: ResourceNaming
                properties:
                  description: Force resource names to begin with 'prefix' and end
                    with 'suffix'
                  displayName: Naming Convention
                  metadata:
                    category: Naming
                  mode: All
                  parameters:
                    prefix:
                      metadata:
                        description: Resource name prefix
                        displayName: Prefix
                      type: String
                    suffix:
                      metadata:
                        description: Resource name suffix
                        displayName: Suffix
                      type: String
                  policyRule:
                    if:
                      not:
                        field: name
                        like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                    then:
                      effect: deny
                  policyType: Custom
                type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
    put:
      description: This operation creates or updates a policy definition in the given
        management group with the given name.
      operationId: policy_definitions_create_or_update_at_management_group
      parameters:
      - description: The name of the policy definition to create.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: management_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
        description: The policy definition properties.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: Created - Returns information about the policy definition.
      summary: Creates or updates a policy definition in a management group.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Create or update a policy definition at management group level:
          parameters:
            api-version: 2019-01-01
            managementGroupId: MyManagementGroup
            parameters:
              properties:
                description: Force resource names to begin with given 'prefix' and/or
                  end with given 'suffix'
                displayName: Enforce resource naming convention
                metadata:
                  category: Naming
                mode: All
                parameters:
                  prefix:
                    metadata:
                      description: Resource name prefix
                      displayName: Prefix
                    type: String
                  suffix:
                    metadata:
                      description: Resource name suffix
                      displayName: Suffix
                    type: String
                policyRule:
                  if:
                    not:
                      field: name
                      like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                  then:
                    effect: deny
            policyDefinitionName: ResourceNaming
          responses:
            "201":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                name: ResourceNaming
                properties:
                  description: Force resource names to begin with 'prefix' and end
                    with 'suffix'
                  displayName: Naming Convention
                  metadata:
                    category: Naming
                  mode: All
                  parameters:
                    prefix:
                      metadata:
                        description: Resource name prefix
                        displayName: Prefix
                      type: String
                    suffix:
                      metadata:
                        description: Resource name suffix
                        displayName: Suffix
                      type: String
                  policyRule:
                    if:
                      not:
                        field: name
                        like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                    then:
                      effect: deny
                  policyType: Custom
                type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions:
    get:
      description: This operation retrieves a list of all the policy definitions in
        a given subscription.
      operationId: policy_definitions_list
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
          description: OK - Returns an array of policy definitions.
      summary: Retrieves policy definitions in a subscription
      tags:
      - PolicyDefinitions
      x-ms-examples:
        List policy definitions by subscription:
          parameters:
            api-version: 2019-01-01
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  name: 7433c107-6db4-4ad1-b57a-a76dce0154a1
                  properties:
                    description: This policy enables you to specify a set of storage
                      account SKUs that your organization can deploy.
                    displayName: Allowed storage account SKUs
                    mode: All
                    parameters:
                      listOfAllowedSKUs:
                        metadata:
                          description: The list of SKUs that can be specified for
                            storage accounts.
                          displayName: Allowed SKUs
                          strongType: StorageSKUs
                        type: Array
                    policyRule:
                      if:
                        allOf:
                        - equals: Microsoft.Storage/storageAccounts
                          field: type
                        - not:
                            field: Microsoft.Storage/storageAccounts/sku.name
                            in: "[parameters('listOfAllowedSKUs')]"
                      then:
                        effect: Deny
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policyDefinitions
                - id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                  name: ResourceNaming
                  properties:
                    description: Force resource names to begin with 'prefix' and end
                      with 'suffix'
                    displayName: Naming Convention
                    metadata:
                      category: Naming
                    mode: All
                    parameters:
                      prefix:
                        metadata:
                          description: Resource name prefix
                          displayName: Prefix
                        type: String
                      suffix:
                        metadata:
                          description: Resource name suffix
                          displayName: Suffix
                        type: String
                    policyRule:
                      if:
                        not:
                          field: name
                          like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                      then:
                        effect: deny
                    policyType: Custom
                  type: Microsoft.Authorization/policyDefinitions
                - id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/AuditSoonToExpireCerts
                  name: AuditSoonToExpireCerts
                  properties:
                    description: "Audit certificates that are stored in Azure Key\
                      \ Vault, that expire within 'X' number of days."
                    displayName: Audit KeyVault certificates that expire within specified
                      number of days
                    metadata:
                      category: KeyVault DataPlane
                    mode: Microsoft.KeyVault.Data
                    parameters:
                      daysToExpire:
                        metadata:
                          description: The number of days for a certificate to expire.
                          displayName: Days to expire
                        type: Integer
                    policyRule:
                      if:
                        field: Microsoft.KeyVault.Data/vaults/certificates/attributes/expiresOn
                        lessOrEquals: "[addDays(utcNow(), parameters('daysToExpire'))]"
                      then:
                        effect: audit
                    policyType: Custom
                  type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}:
    delete:
      description: This operation deletes the policy definition in the given subscription
        with the given name.
      operationId: policy_definitions_delete
      parameters:
      - description: The name of the policy definition to delete.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      summary: Deletes a policy definition in a subscription.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Delete a policy definition:
          parameters:
            api-version: 2019-01-01
            policyDefinitionName: ResourceNaming
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              headers: {}
            "204":
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
    get:
      description: This operation retrieves the policy definition in the given subscription
        with the given name.
      operationId: policy_definitions_get
      parameters:
      - description: The name of the policy definition to get.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: OK - Returns information about the policy definition.
      summary: Retrieves a policy definition in a subscription.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Retrieve a policy definition:
          parameters:
            api-version: 2019-01-01
            policyDefinitionName: ResourceNaming
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                name: ResourceNaming
                properties:
                  description: Force resource names to begin with 'prefix' and end
                    with 'suffix'
                  displayName: Naming Convention
                  metadata:
                    category: Naming
                  mode: All
                  parameters:
                    prefix:
                      metadata:
                        description: Resource name prefix
                        displayName: Prefix
                      type: String
                    suffix:
                      metadata:
                        description: Resource name suffix
                        displayName: Suffix
                      type: String
                  policyRule:
                    if:
                      not:
                        field: name
                        like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                    then:
                      effect: deny
                  policyType: Custom
                type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
    put:
      description: This operation creates or updates a policy definition in the given
        subscription with the given name.
      operationId: policy_definitions_create_or_update
      parameters:
      - description: The name of the policy definition to create.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
        description: The policy definition properties.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: Created - Returns information about the policy definition.
      summary: Creates or updates a policy definition in a subscription.
      tags:
      - PolicyDefinitions
      x-ms-examples:
        Create or update a policy definition:
          parameters:
            api-version: 2019-01-01
            parameters:
              properties:
                description: Force resource names to begin with given 'prefix' and/or
                  end with given 'suffix'
                displayName: Enforce resource naming convention
                metadata:
                  category: Naming
                mode: All
                parameters:
                  prefix:
                    metadata:
                      description: Resource name prefix
                      displayName: Prefix
                    type: String
                  suffix:
                    metadata:
                      description: Resource name suffix
                      displayName: Suffix
                    type: String
                policyRule:
                  if:
                    not:
                      field: name
                      like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                  then:
                    effect: deny
            policyDefinitionName: ResourceNaming
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "201":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                name: ResourceNaming
                properties:
                  description: Force resource names to begin with 'prefix' and end
                    with 'suffix'
                  displayName: Naming Convention
                  metadata:
                    category: Naming
                  mode: All
                  parameters:
                    prefix:
                      metadata:
                        description: Resource name prefix
                        displayName: Prefix
                      type: String
                    suffix:
                      metadata:
                        description: Resource name suffix
                        displayName: Suffix
                      type: String
                  policyRule:
                    if:
                      not:
                        field: name
                        like: "[concat(parameters('prefix'), '*', parameters('suffix'))]"
                    then:
                      effect: deny
                  policyType: Custom
                type: Microsoft.Authorization/policyDefinitions
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ManagementGroupIdParameter:
      description: The ID of the management group.
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    PolicyDefinition:
      description: The policy definition.
      example:
        name: name
        id: id
        type: type
        properties:
          mode: mode
          metadata: "{}"
          policyRule: "{}"
          displayName: displayName
          policyType: NotSpecified
          description: description
          parameters: "{}"
      properties:
        id:
          description: The ID of the policy definition.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the policy definition.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/PolicyDefinitionProperties'
        type:
          description: The type of the resource (Microsoft.Authorization/policyDefinitions).
          readOnly: true
          title: type
          type: string
      title: PolicyDefinition
      type: object
      x-ms-azure-resource: true
    PolicyDefinitionListResult:
      description: List of policy definitions.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            mode: mode
            metadata: "{}"
            policyRule: "{}"
            displayName: displayName
            policyType: NotSpecified
            description: description
            parameters: "{}"
        - name: name
          id: id
          type: type
          properties:
            mode: mode
            metadata: "{}"
            policyRule: "{}"
            displayName: displayName
            policyType: NotSpecified
            description: description
            parameters: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: An array of policy definitions.
          items:
            $ref: '#/components/schemas/PolicyDefinition'
          title: value
          type: array
      title: PolicyDefinitionListResult
      type: object
    PolicyDefinitionProperties:
      description: The policy definition properties.
      example:
        mode: mode
        metadata: "{}"
        policyRule: "{}"
        displayName: displayName
        policyType: NotSpecified
        description: description
        parameters: "{}"
      properties:
        description:
          description: The policy definition description.
          title: description
          type: string
        displayName:
          description: The display name of the policy definition.
          title: displayName
          type: string
        metadata:
          description: The policy definition metadata.
          properties: {}
          title: metadata
          type: object
        mode:
          description: "The policy definition mode. Some examples are All, Indexed,\
            \ Microsoft.KeyVault.Data."
          title: mode
          type: string
        parameters:
          description: Required if a parameter is used in policy rule.
          properties: {}
          title: parameters
          type: object
        policyRule:
          description: The policy rule.
          properties: {}
          title: policyRule
          type: object
        policyType:
          description: "The type of policy definition. Possible values are NotSpecified,\
            \ BuiltIn, and Custom."
          enum:
          - NotSpecified
          - BuiltIn
          - Custom
          title: policyType
          type: string
          x-ms-enum:
            modelAsString: true
            name: policyType
      title: PolicyDefinitionProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
