openapi: 3.0.1
info:
  contact:
    email: contact@tinyuid.com
    name: TinyUID
    url: https://tinyuid.com/feedback
  description: Paste a Long URL link to shorten it
  title: TinyUID.com
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-origin:
  - format: swagger
    url: https://tinyuid.com/tinyuid-swagger.yaml
    version: "2.0"
  x-providerName: tinyuid.com
externalDocs:
  url: https://tinyuid.com/docs
servers:
- url: https://tinyuid.com/api/
paths:
  /v1/shorten:
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_v1_shorten_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_v1_shorten_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_shorten_post_200_response'
          description: OK
      summary: Create short link
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
components:
  schemas:
    _v1_shorten_post_request:
      properties:
        url:
          description: Link
          format: url
          type: string
      required:
      - url
      type: object
    _v1_shorten_post_200_response:
      example:
        result_url: http://example.com/aeiou
      properties:
        result_url:
          description: Short link
          format: url
          type: string
      required:
      - result_url
      type: object
x-original-swagger-version: "2.0"

