openapi: 3.0.1
info:
  description: Shared Image Gallery Service Client.
  title: SharedImageGalleryServiceClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/gallery.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: compute-gallery
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries:
    get:
      description: List galleries under a subscription.
      operationId: galleries_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        List galleries in a subscription.:
          parameters:
            api-version: 2019-07-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName"
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName"
                  location: West US
                  name: myGalleryName
                  properties:
                    description: This is the gallery description.
                    identifier:
                      uniqueName: "{subscription-id}-MYGALLERYNAME"
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries:
    get:
      description: List galleries under a resource group.
      operationId: galleries_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        List galleries in a resource group.:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName"
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName"
                  location: West US
                  name: myGalleryName
                  properties:
                    description: This is the gallery description.
                    identifier:
                      uniqueName: "{subscription-id}-MYGALLERYNAME"
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}:
    delete:
      description: Delete a Shared Image Gallery.
      operationId: galleries_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery to be deleted.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Delete a gallery.:
          parameters:
            api-version: 2019-07-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
    get:
      description: Retrieves information about a Shared Image Gallery.
      operationId: galleries_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Get a gallery.:
          parameters:
            api-version: 2019-07-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
    patch:
      description: Update a Shared Image Gallery.
      operationId: galleries_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery. The allowed characters
          are alphabets and numbers with dots and periods allowed in the middle. The
          maximum length is 80 characters.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryUpdate'
        description: Parameters supplied to the update Shared Image Gallery operation.
        required: true
        x-body-name: gallery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Update a simple gallery.:
          parameters:
            api-version: 2019-07-01
            gallery:
              properties:
                description: This is the gallery description.
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: gallery
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
    put:
      description: Create or update a Shared Image Gallery.
      operationId: galleries_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery. The allowed characters
          are alphabets and numbers with dots and periods allowed in the middle. The
          maximum length is 80 characters.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gallery'
        description: Parameters supplied to the create or update Shared Image Gallery
          operation.
        required: true
        x-body-name: gallery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Galleries
      x-ms-examples:
        Create or update a simple gallery.:
          parameters:
            api-version: 2019-07-01
            gallery:
              location: West US
              properties:
                description: This is the gallery description.
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Updating
            "201":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Creating
            "202":
              body:
                location: West US
                name: myGalleryName
                properties:
                  description: This is the gallery description.
                  identifier:
                    uniqueName: "{subscription-id}-MYGALLERYNAME"
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: gallery
      x-openapi-router-controller: openapi_server.controllers.galleries_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications
  : get:
      description: List gallery Application Definitions in a gallery.
      operationId: gallery_applications_list_by_gallery
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery from which Application
          Definitions are to be listed.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplications
      x-ms-examples:
        List gallery Applications in a gallery.:
          parameters:
            api-version: 2019-07-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/applications?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName/applications/myGalleryApplicationName"
                value:
                - location: West US
                  name: myGalleryApplicationName
                  properties:
                    description: This is the gallery application description.
                    eula: This is the gallery application EULA.
                    privacyStatementUri: "myPrivacyStatementUri}"
                    releaseNoteUri: myReleaseNoteUri
                    supportedOSType: Windows
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_applications_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}
  : delete:
      description: Delete a gallery Application.
      operationId: gallery_applications_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition is to be deleted.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Definition to be deleted.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplications
      x-ms-examples:
        Delete a gallery Application.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.gallery_applications_controller
    get:
      description: Retrieves information about a gallery Application Definition.
      operationId: gallery_applications_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery from which the Application
          Definitions are to be retrieved.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Definition to be retrieved.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplication'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplications
      x-ms-examples:
        Get a gallery Application.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryApplicationName
                properties:
                  description: This is the gallery application description.
                  eula: This is the gallery application EULA.
                  privacyStatementUri: "myPrivacyStatementUri}"
                  releaseNoteUri: myReleaseNoteUri
                  supportedOSType: Windows
      x-openapi-router-controller: openapi_server.controllers.gallery_applications_controller
    patch:
      description: Update a gallery Application Definition.
      operationId: gallery_applications_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition is to be updated.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Application Definition to be updated.\
          \ The allowed characters are alphabets and numbers with dots, dashes, and\
          \ periods allowed in the middle. The maximum length is 80 characters."
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryApplicationUpdate'
        description: Parameters supplied to the update gallery Application operation.
        required: true
        x-body-name: galleryApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplication'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplications
      x-ms-examples:
        Update a simple gallery Application.:
          parameters:
            api-version: 2019-07-01
            galleryApplication:
              properties:
                description: This is the gallery application description.
                eula: This is the gallery application EULA.
                privacyStatementUri: "myPrivacyStatementUri}"
                releaseNoteUri: myReleaseNoteUri
                supportedOSType: Windows
            galleryApplicationName: myGalleryApplicationName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/applications/myGalleryApplicationName"
                location: West US
                name: myGalleryApplicationName
                properties:
                  description: This is the gallery application description.
                  eula: This is the gallery application EULA.
                  privacyStatementUri: "myPrivacyStatementUri}"
                  releaseNoteUri: myReleaseNoteUri
                  supportedOSType: Windows
                type: Microsoft.Compute/galleries
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryApplication
      x-openapi-router-controller: openapi_server.controllers.gallery_applications_controller
    put:
      description: Create or update a gallery Application Definition.
      operationId: gallery_applications_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition is to be created.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Application Definition to be created\
          \ or updated. The allowed characters are alphabets and numbers with dots,\
          \ dashes, and periods allowed in the middle. The maximum length is 80 characters."
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryApplication'
        description: Parameters supplied to the create or update gallery Application
          operation.
        required: true
        x-body-name: galleryApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplication'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplication'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplication'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplications
      x-ms-examples:
        Create or update a simple gallery Application.:
          parameters:
            api-version: 2019-07-01
            galleryApplication:
              location: West US
              properties:
                description: This is the gallery application description.
                eula: This is the gallery application EULA.
                privacyStatementUri: "myPrivacyStatementUri}"
                releaseNoteUri: myReleaseNoteUri
                supportedOSType: Windows
            galleryApplicationName: myGalleryApplicationName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/applications/myGalleryApplicationName"
                location: West US
                name: myGalleryApplicationName
                properties:
                  description: This is the gallery application description.
                  eula: This is the gallery application EULA.
                  privacyStatementUri: "myPrivacyStatementUri}"
                  releaseNoteUri: myReleaseNoteUri
                  supportedOSType: Windows
                type: Microsoft.Compute/galleries
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/applications/myGalleryApplicationName"
                location: West US
                name: myGalleryApplicationName
                properties:
                  description: This is the gallery application description.
                  eula: This is the gallery application EULA.
                  privacyStatementUri: "myPrivacyStatementUri}"
                  releaseNoteUri: myReleaseNoteUri
                  supportedOSType: Windows
                type: Microsoft.Compute/galleries
            "202":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/applications/myGalleryApplicationName"
                location: West US
                name: myGalleryApplicationName
                properties:
                  description: This is the gallery application description.
                  eula: This is the gallery application EULA.
                  privacyStatementUri: "myPrivacyStatementUri}"
                  releaseNoteUri: myReleaseNoteUri
                  supportedOSType: Windows
                type: Microsoft.Compute/galleries
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryApplication
      x-openapi-router-controller: openapi_server.controllers.gallery_applications_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions
  : get:
      description: List gallery Application Versions in a gallery Application Definition.
      operationId: gallery_application_versions_list_by_gallery_application
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the Shared Application Gallery Application Definition
          from which the Application Versions are to be listed.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationVersionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplicationVersions
      x-ms-examples:
        List gallery Application Versions in a gallery Application Definition.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/applications/myGalleryApplicationName/versions?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName/applications/myGalleryApplicationName/versions/myGalleryApplicationVersionName"
                value:
                - id: /subscriptions/01523d7c-60da-455e-adef-521b547922c4/resourceGroups/galleryPsTestRg98/providers/Microsoft.Compute/galleries/galleryPsTestGallery6165/applications/galleryPsTestGalleryApplication7825/versions/1.0.0
                  location: West US
                  name: 1.0.0
                  properties:
                    provisioningState: Succeeded
                    publishingProfile:
                      enableHealthCheck: false
                      endOfLifeDate: 2019-07-01T07:00:00+00:00
                      excludeFromLatest: false
                      publishedDate: 2019-06-21T17:13:57.5972568+00:00
                      replicaCount: 1
                      source:
                        fileName: package.zip
                        mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                      storageAccountType: Standard_LRS
                      targetRegions:
                      - name: West US
                        regionalReplicaCount: 1
                        storageAccountType: Standard_LRS
                  type: Microsoft.Compute/galleries/applications/versions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_application_versions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions/{galleryApplicationVersionName}
  : delete:
      description: Delete a gallery Application Version.
      operationId: gallery_application_versions_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Definition in which the Application
          Version resides.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Version to be deleted.
        in: path
        name: galleryApplicationVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplicationVersions
      x-ms-examples:
        Delete a gallery Application Version.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryApplicationVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.gallery_application_versions_controller
    get:
      description: Retrieves information about a gallery Application Version.
      operationId: gallery_application_versions_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Definition in which the Application
          Version resides.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Version to be retrieved.
        in: path
        name: galleryApplicationVersionName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          enum:
          - ReplicationStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReplicationStatusTypes
        x-ms-enum:
          modelAsString: true
          name: ReplicationStatusTypes
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationVersion'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplicationVersions
      x-ms-examples:
        Get a gallery Application Version with replication status.:
          parameters:
            $expand: ReplicationStatus
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryApplicationVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    enableHealthCheck: false
                    endOfLifeDate: 2019-07-01T07:00:00+00:00
                    excludeFromLatest: false
                    publishedDate: 2019-06-21T17:13:57.5972568+00:00
                    replicaCount: 1
                    source:
                      fileName: package.zip
                      mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                  replicationStatus:
                    aggregatedState: Completed
                    summary:
                    - details: ""
                      progress: 100
                      region: West US
                      state: Completed
        Get a gallery Application Version.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryApplicationVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/01523d7c-60da-455e-adef-521b547922c4/resourceGroups/galleryPsTestRg98/providers/Microsoft.Compute/galleries/galleryPsTestGallery6165/applications/galleryPsTestGalleryApplication7825/versions/1.0.0
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    enableHealthCheck: false
                    endOfLifeDate: 2019-07-01T07:00:00+00:00
                    excludeFromLatest: false
                    publishedDate: 2019-06-21T17:13:57.5972568+00:00
                    replicaCount: 1
                    source:
                      fileName: package.zip
                      mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/galleries/applications/versions
      x-openapi-router-controller: openapi_server.controllers.gallery_application_versions_controller
    patch:
      description: Update a gallery Application Version.
      operationId: gallery_application_versions_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Definition in which the Application
          Version is to be updated.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Application Version to be updated. Needs\
          \ to follow semantic version name pattern: The allowed characters are digit\
          \ and period. Digits must be within the range of a 32-bit integer. Format:\
          \ <MajorVersion>.<MinorVersion>.<Patch>"
        in: path
        name: galleryApplicationVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryApplicationVersionUpdate'
        description: Parameters supplied to the update gallery Application Version
          operation.
        required: true
        x-body-name: galleryApplicationVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationVersion'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplicationVersions
      x-ms-examples:
        Update a simple gallery Application Version.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryApplicationVersion:
              properties:
                publishingProfile:
                  endOfLifeDate: 2019-07-01T07:00:00Z
                  replicaCount: 1
                  source:
                    fileName: package.zip
                    mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                  storageAccountType: Standard_LRS
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                    storageAccountType: Standard_LRS
            galleryApplicationVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/01523d7c-60da-455e-adef-521b547922c4/resourceGroups/galleryPsTestRg98/providers/Microsoft.Compute/galleries/galleryPsTestGallery6165/applications/galleryPsTestGalleryApplication7825/versions/1.0.0
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    enableHealthCheck: false
                    endOfLifeDate: 2019-07-01T07:00:00+00:00
                    excludeFromLatest: false
                    publishedDate: 2019-06-21T17:13:57.5972568+00:00
                    replicaCount: 1
                    source:
                      fileName: package.zip
                      mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/galleries/applications/versions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryApplicationVersion
      x-openapi-router-controller: openapi_server.controllers.gallery_application_versions_controller
    put:
      description: Create or update a gallery Application Version.
      operationId: gallery_application_versions_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Application Gallery in which the Application
          Definition resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Application Definition in which the Application
          Version is to be created.
        in: path
        name: galleryApplicationName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Application Version to be created. Needs\
          \ to follow semantic version name pattern: The allowed characters are digit\
          \ and period. Digits must be within the range of a 32-bit integer. Format:\
          \ <MajorVersion>.<MinorVersion>.<Patch>"
        in: path
        name: galleryApplicationVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryApplicationVersion'
        description: Parameters supplied to the create or update gallery Application
          Version operation.
        required: true
        x-body-name: galleryApplicationVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationVersion'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationVersion'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryApplicationVersion'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryApplicationVersions
      x-ms-examples:
        Create or update a simple gallery Application Version.:
          parameters:
            api-version: 2019-07-01
            galleryApplicationName: myGalleryApplicationName
            galleryApplicationVersion:
              location: West US
              properties:
                publishingProfile:
                  endOfLifeDate: 2019-07-01T07:00:00Z
                  replicaCount: 1
                  source:
                    fileName: package.zip
                    mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                  storageAccountType: Standard_LRS
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                    storageAccountType: Standard_LRS
            galleryApplicationVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/01523d7c-60da-455e-adef-521b547922c4/resourceGroups/galleryPsTestRg98/providers/Microsoft.Compute/galleries/galleryPsTestGallery6165/applications/galleryPsTestGalleryApplication7825/versions/1.0.0
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    enableHealthCheck: false
                    endOfLifeDate: 2019-07-01T07:00:00+00:00
                    excludeFromLatest: false
                    publishedDate: 2019-06-21T17:13:57.5972568+00:00
                    replicaCount: 1
                    source:
                      fileName: package.zip
                      mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/galleries/applications/versions
            "201":
              body:
                id: /subscriptions/01523d7c-60da-455e-adef-521b547922c4/resourceGroups/galleryPsTestRg98/providers/Microsoft.Compute/galleries/galleryPsTestGallery6165/applications/galleryPsTestGalleryApplication7825/versions/1.0.0
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Creating
                  publishingProfile:
                    enableHealthCheck: false
                    endOfLifeDate: 2019-07-01T07:00:00+00:00
                    excludeFromLatest: false
                    publishedDate: 2019-06-21T17:13:57.5972568+00:00
                    replicaCount: 1
                    source:
                      fileName: package.zip
                      mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/galleries/applications/versions
            "202":
              body:
                id: /subscriptions/01523d7c-60da-455e-adef-521b547922c4/resourceGroups/galleryPsTestRg98/providers/Microsoft.Compute/galleries/galleryPsTestGallery6165/applications/galleryPsTestGalleryApplication7825/versions/1.0.0
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    enableHealthCheck: false
                    endOfLifeDate: 2019-07-01T07:00:00+00:00
                    excludeFromLatest: false
                    publishedDate: 2019-06-21T17:13:57.5972568+00:00
                    replicaCount: 1
                    source:
                      fileName: package.zip
                      mediaLink: "https://mystorageaccount.blob.core.windows.net/mycontainer/package.zip?{sasKey}"
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/galleries/applications/versions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryApplicationVersion
      x-openapi-router-controller: openapi_server.controllers.gallery_application_versions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images:
    get:
      description: List gallery Image Definitions in a gallery.
      operationId: gallery_images_list_by_gallery
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery from which Image Definitions
          are to be listed.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        List gallery images in a gallery.:
          parameters:
            api-version: 2019-07-01
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/images?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName/images/myGalleryImageName"
                value:
                - location: West US
                  name: myGalleryImageName
                  properties:
                    hyperVGeneration: V1
                    identifier:
                      offer: myOfferName
                      publisher: myPublisherName
                      sku: mySkuName
                    osState: Generalized
                    osType: Windows
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}
  : delete:
      description: Delete a gallery image.
      operationId: gallery_images_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          is to be deleted.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition to be deleted.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Delete a gallery image.:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    get:
      description: Retrieves information about a gallery Image Definition.
      operationId: gallery_images_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery from which the Image Definitions
          are to be retrieved.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition to be retrieved.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Get a gallery image.:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  hyperVGeneration: V1
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    patch:
      description: Update a gallery Image Definition.
      operationId: gallery_images_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          is to be updated.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Image Definition to be updated. The\
          \ allowed characters are alphabets and numbers with dots, dashes, and periods\
          \ allowed in the middle. The maximum length is 80 characters."
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageUpdate'
        description: Parameters supplied to the update gallery image operation.
        required: true
        x-body-name: galleryImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Update a simple gallery image.:
          parameters:
            api-version: 2019-07-01
            galleryImage:
              properties:
                hyperVGeneration: V1
                identifier:
                  offer: myOfferName
                  publisher: myPublisherName
                  sku: mySkuName
                osState: Generalized
                osType: Windows
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  hyperVGeneration: V1
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryImage
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    put:
      description: Create or update a gallery Image Definition.
      operationId: gallery_images_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          is to be created.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Image Definition to be created or updated.\
          \ The allowed characters are alphabets and numbers with dots, dashes, and\
          \ periods allowed in the middle. The maximum length is 80 characters."
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImage'
        description: Parameters supplied to the create or update gallery image operation.
        required: true
        x-body-name: galleryImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImages
      x-ms-examples:
        Create or update a simple gallery image.:
          parameters:
            api-version: 2019-07-01
            galleryImage:
              location: West US
              properties:
                hyperVGeneration: V1
                identifier:
                  offer: myOfferName
                  publisher: myPublisherName
                  sku: mySkuName
                osState: Generalized
                osType: Windows
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  hyperVGeneration: V1
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Updating
            "201":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  hyperVGeneration: V1
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Creating
            "202":
              body:
                location: West US
                name: myGalleryImageName
                properties:
                  hyperVGeneration: V1
                  identifier:
                    offer: myOfferName
                    publisher: myPublisherName
                    sku: mySkuName
                  osState: Generalized
                  osType: Windows
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryImage
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions
  : get:
      description: List gallery Image Versions in a gallery Image Definition.
      operationId: gallery_image_versions_list_by_gallery_image
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the Shared Image Gallery Image Definition from which
          the Image Versions are to be listed.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        List gallery Image Versions in a gallery Image Definition.:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://svchost:99/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/galleries/myGalleryName/images/myGalleryImageName/versions?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/galleries/myGalleryName/images/myGalleryImageName/versions/myGalleryImageVersionName"
                value:
                - location: West US
                  name: 1.0.0
                  properties:
                    provisioningState: Succeeded
                    publishingProfile:
                      publishedDate: 2018-01-01T00:00:00Z
                      replicaCount: 1
                      storageAccountType: Standard_LRS
                      targetRegions:
                      - name: West US
                        regionalReplicaCount: 1
                        storageAccountType: Standard_LRS
                      - name: East US
                        regionalReplicaCount: 2
                        storageAccountType: Standard_LRS
                    storageProfile:
                      dataDiskImages:
                      - hostCaching: None
                        lun: 1
                        sizeInGB: 10
                      osDiskImage:
                        hostCaching: ReadOnly
                        sizeInGB: 10
                      source:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}
  : delete:
      description: Delete a gallery Image Version.
      operationId: gallery_image_versions_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          resides.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Version to be deleted.
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Delete a gallery Image Version.:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
    get:
      description: Retrieves information about a gallery Image Version.
      operationId: gallery_image_versions_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          resides.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Version to be retrieved.
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          enum:
          - ReplicationStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReplicationStatusTypes
        x-ms-enum:
          modelAsString: true
          name: ReplicationStatusTypes
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Get a gallery Image Version with replication status.:
          parameters:
            $expand: ReplicationStatus
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
                storageProfile:
                  source:
                    id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                    - name: East US
                      regionalReplicaCount: 2
                      storageAccountType: Standard_LRS
                  replicationStatus:
                    aggregatedState: Completed
                    summary:
                    - details: ""
                      progress: 100
                      region: West US
                      state: Completed
                    - details: ""
                      progress: 100
                      region: East US
                      state: Completed
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
                    source:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
        Get a gallery Image Version with snapshots as a source.:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
              storageProfile:
                dataDiskImages:
                - hostCaching: None
                  lun: 1
                  source: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/snapshots/{diskSnapshotName}"
                osDiskImage:
                  hostCaching: ReadOnly
                  source: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/snapshots/{snapshotName}"
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                    - name: East US
                      regionalReplicaCount: 2
                      storageAccountType: Standard_LRS
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                      source: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/snapshots/{diskSnapshotName}"
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
                      source: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/snapshots/{snapshotName}"
        Get a gallery Image Version.:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
              storageProfile:
                source:
                  id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Succeeded
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                    - name: East US
                      regionalReplicaCount: 2
                      storageAccountType: Standard_LRS
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
                    source:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
    patch:
      description: Update a gallery Image Version.
      operationId: gallery_image_versions_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          is to be updated.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Image Version to be updated. Needs to\
          \ follow semantic version name pattern: The allowed characters are digit\
          \ and period. Digits must be within the range of a 32-bit integer. Format:\
          \ <MajorVersion>.<MinorVersion>.<Patch>"
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageVersionUpdate'
        description: Parameters supplied to the update gallery Image Version operation.
        required: true
        x-body-name: galleryImageVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Update a simple Gallery Image Version (Managed Image as source).:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              properties:
                publishingProfile:
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
                    storageAccountType: Standard_ZRS
                storageProfile:
                  source:
                    id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                    - name: East US
                      regionalReplicaCount: 2
                      storageAccountType: Standard_ZRS
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
                    source:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: galleryImageVersion
      x-openapi-router-controller: openapi_server.controllers.gallery_image_versions_controller
    put:
      description: Create or update a gallery Image Version.
      operationId: gallery_image_versions_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Shared Image Gallery in which the Image Definition
          resides.
        in: path
        name: galleryName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image Definition in which the Image Version
          is to be created.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: "The name of the gallery Image Version to be created. Needs to\
          \ follow semantic version name pattern: The allowed characters are digit\
          \ and period. Digits must be within the range of a 32-bit integer. Format:\
          \ <MajorVersion>.<MinorVersion>.<Patch>"
        in: path
        name: galleryImageVersionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageVersion'
        description: Parameters supplied to the create or update gallery Image Version
          operation.
        required: true
        x-body-name: galleryImageVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - GalleryImageVersions
      x-ms-examples:
        Create or update a simple Gallery Image Version (Managed Image as source).:
          parameters:
            api-version: 2019-07-01
            galleryImageName: myGalleryImageName
            galleryImageVersion:
              location: West US
              properties:
                publishingProfile:
                  targetRegions:
                  - name: West US
                    regionalReplicaCount: 1
                  - name: East US
                    regionalReplicaCount: 2
                    storageAccountType: Standard_ZRS
                storageProfile:
                  source:
                    id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
            galleryImageVersionName: 1.0.0
            galleryName: myGalleryName
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Updating
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    storageAccountType: Standard_LRS
                    targetRegions:
                    - name: West US
                      regionalReplicaCount: 1
                      storageAccountType: Standard_LRS
                    - name: East US
                      regionalReplicaCount: 2
                      storageAccountType: Standard_ZRS
                  storageProfile:
                    dataDiskImages:
                    - hostCaching: None
                      lun: 1
                      sizeInGB: 10
                    osDiskImage:
                      hostCaching: ReadOnly
                      sizeInGB: 10
                    source:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}"
            "201":
              body:
                location: West US
                name: 1.0.0
                properties:
                  provisioningState: Creating
                  publishingProfile:
                    publishedDate: 2018-01-01T00:00:00Z
                    replicaCount: 1
                    storageAccountType: Standard_LRS
[...]
