openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/virtualclusters.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-virtualclusters
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/virtualClusters:
    get:
      description: Gets a list of all virtualClusters in the subscription.
      operationId: virtual_clusters_list
      parameters:
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualClusterListResult'
          description: Successfully retrieved the list of virtual clusters.
        default:
          content: {}
          description: "*** Error Responses: ***"
      tags:
      - VirtualClusters
      x-ms-examples:
        List virtualClusters:
          parameters:
            api-version: 2015-05-01-preview
            subscriptionId: 20d7082a-0fc7-4468-82bd-542694d5042b
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/virtualClusters/vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                  location: westeurope
                  name: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                  properties:
                    childResources:
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance1
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance2
                    family: Gen4
                    subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  type: Microsoft.Sql/virtualClusters
                - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/virtualClusters/vc-subnet2-14b795bd-9c8f-46ec-adb8-2b8eff56ac16
                  location: westeurope
                  name: vc-subnet1-14b795bd-9c8f-46ec-adb8-2b8eff56ac16
                  properties:
                    childResources:
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance3
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance4
                    family: Gen5
                    subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/subnet2
                  type: Microsoft.Sql/virtualClusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_clusters_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/virtualClusters:
    get:
      description: Gets a list of virtual clusters in a resource group.
      operationId: virtual_clusters_list_by_resource_group
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualClusterListResult'
          description: Successfully retrieved the list of virtual clusters.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ResourceDoesNotExist - Resource with the name '{0}' does not exist. To continue, specify a valid resource name.

             * 404 VirtualClusterNotInSubscriptionResourceGroup - specified virtual cluster does not exist in the specified resource group and subscription.

             * 404 SubscriptionDoesNotHaveVirtualCluster - The requested virtual cluster was not found

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingVirtualClusterOperation - An operation is currently in progress for the virtual cluster.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.
      tags:
      - VirtualClusters
      x-ms-examples:
        List virtual clusters by resource group:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: testrg
            subscriptionId: 20d7082a-0fc7-4468-82bd-542694d5042b
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/virtualClusters/vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                  location: westeurope
                  name: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                  properties:
                    childResources:
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance1
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance2
                    family: Gen4
                    subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  type: Microsoft.Sql/virtualClusters
                - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/virtualClusters/vc-subnet2-14b795bd-9c8f-46ec-adb8-2b8eff56ac16
                  location: westeurope
                  name: vc-subnet1-14b795bd-9c8f-46ec-adb8-2b8eff56ac16
                  properties:
                    childResources:
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance3
                    - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance4
                    family: Gen4
                    subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/subnet2
                  type: Microsoft.Sql/virtualClusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_clusters_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/virtualClusters/{virtualClusterName}:
    delete:
      description: Deletes a virtual cluster.
      operationId: virtual_clusters_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the virtual cluster.
        in: path
        name: virtual_cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the virtual cluster.
        "202":
          content: {}
          description: Deleting the virtual cluster is in progress.
        "204":
          content: {}
          description: The specified virtual cluster does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ResourceDoesNotExist - Resource with the name '{0}' does not exist. To continue, specify a valid resource name.

             * 404 VirtualClusterNotInSubscriptionResourceGroup - specified virtual cluster does not exist in the specified resource group and subscription.

             * 404 SubscriptionDoesNotHaveVirtualCluster - The requested virtual cluster was not found

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingVirtualClusterOperation - An operation is currently in progress for the virtual cluster.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
      - VirtualClusters
      x-ms-examples:
        Delete virtual cluster:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: testrg
            subscriptionId: 20d7082a-0fc7-4468-82bd-542694d5042b
            virtualClusterName: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_clusters_controller
    get:
      description: Gets a virtual cluster.
      operationId: virtual_clusters_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the virtual cluster.
        in: path
        name: virtualClusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
          description: Successfully retrieved the specified virtual cluster.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ResourceDoesNotExist - Resource with the name '{0}' does not exist. To continue, specify a valid resource name.

             * 404 VirtualClusterNotInSubscriptionResourceGroup - specified virtual cluster does not exist in the specified resource group and subscription.

             * 404 SubscriptionDoesNotHaveVirtualCluster - The requested virtual cluster was not found

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingVirtualClusterOperation - An operation is currently in progress for the virtual cluster.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.
      tags:
      - VirtualClusters
      x-ms-examples:
        Get virtual cluster:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: testrg
            subscriptionId: 20d7082a-0fc7-4468-82bd-542694d5042b
            virtualClusterName: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
          responses:
            "200":
              body:
                id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/virtualClusters/vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                location: westeurope
                name: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                properties:
                  childResources:
                  - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance1
                  - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance2
                  family: Gen4
                  subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                type: Microsoft.Sql/virtualClusters
      x-openapi-router-controller: openapi_server.controllers.virtual_clusters_controller
    patch:
      description: Updates a virtual cluster.
      operationId: virtual_clusters_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the virtual cluster.
        in: path
        name: virtual_cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualClusterUpdate'
        description: The requested managed instance resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
          description: Successfully updated the virtual cluster.
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ResourceDoesNotExist - Resource with the name '{0}' does not exist. To continue, specify a valid resource name.

             * 404 VirtualClusterNotInSubscriptionResourceGroup - specified virtual cluster does not exist in the specified resource group and subscription.

             * 404 SubscriptionDoesNotHaveVirtualCluster - The requested virtual cluster was not found

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingVirtualClusterOperation - An operation is currently in progress for the virtual cluster.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.
      tags:
      - VirtualClusters
      x-ms-examples:
        Update virtual cluster with tags:
          parameters:
            api-version: 2015-05-01-preview
            parameters:
              tags:
                tagKey1: TagValue1
            resourceGroupName: testrg
            subscriptionId: 20d7082a-0fc7-4468-82bd-542694d5042b
            virtualClusterName: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
          responses:
            "200":
              body:
                id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/virtualClusters/vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                location: westeurope
                name: vc-subnet1-f769ed71-b3ad-491a-a9d5-26eeceaa6be2
                properties:
                  childResources:
                  - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance1
                  - /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance2
                  subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/virtualClusters
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_clusters_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: ARM tracked top level resource.
      properties:
        location:
          description: Resource location.
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      required:
      - location
      title: TrackedResource
    VirtualCluster:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: An Azure SQL virtual cluster.
      example:
        properties:
          subnetId: subnetId
          family: family
          childResources:
          - childResources
          - childResources
      properties:
        properties:
          $ref: '#/components/schemas/VirtualClusterProperties'
      title: VirtualCluster
    VirtualClusterListResult:
      description: A list of virtual clusters.
      example:
        value:
        - properties:
            subnetId: subnetId
            family: family
            childResources:
            - childResources
            - childResources
        - properties:
            subnetId: subnetId
            family: family
            childResources:
            - childResources
            - childResources
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/VirtualCluster'
          readOnly: true
          title: value
          type: array
      title: VirtualClusterListResult
      type: object
    VirtualClusterProperties:
      description: The properties of a virtual cluster.
      example:
        subnetId: subnetId
        family: family
        childResources:
        - childResources
        - childResources
      properties:
        childResources:
          description: List of resources in this virtual cluster.
          items:
            type: string
          readOnly: true
          title: childResources
          type: array
        family:
          description: "If the service has different generations of hardware, for\
            \ the same SKU, then that can be captured here."
          title: family
          type: string
        subnetId:
          description: Subnet resource ID for the virtual cluster.
          readOnly: true
          title: subnetId
          type: string
      title: VirtualClusterProperties
      type: object
    VirtualClusterUpdate:
      description: An update request for an Azure SQL Database virtual cluster.
      example:
        properties:
          subnetId: subnetId
          family: family
          childResources:
          - childResources
          - childResources
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/VirtualClusterProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: VirtualClusterUpdate
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
