openapi: 3.0.1
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: 2016-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/DownloadedProduct.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-DownloadedProduct
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts
  : get:
      description: Get a list of downloaded products.
      operationId: downloaded_products_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the activation.
        in: path
        name: activationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadedProductResourcesPage'
          description: OK
      tags:
      - DownloadedProducts
      x-ms-examples:
        Get a list of downloaded products.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                  name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                  properties:
                    billingPartNumber: ""
                    description: "Ubuntu Server 17.10 amd64 20180109 Public Azure,\
                      \ 20180109 Azure China, 20180109 Azure Germany. Ubuntu Server\
                      \ is the world's most popular Linux for cloud environments.\
                      \ Updates and patches for Ubuntu 17.10 will be available until\
                      \ July 2018.  Ubuntu Server is the perfect virtual machine (VM)\
                      \ platform for all workloads from web applications to NoSQL\
                      \ databases and Hadoop. For more information see <a href='http://partners.ubuntu.com/microsoft'\
                      \ target='_blank'>Ubuntu on Azure</a> and <a href='http://juju.ubuntu.com'\
                      \ target='_blank'>using Juju to deploy your workloads</a>.<p><h3\
                      \ class='msportalfx-text-header'>Legal Terms</h3></p><p>By clicking\
                      \ the Create button, I acknowledge that I am getting this software\
                      \ from Canonical and that the <a href='http://www.ubuntu.com/project/about-ubuntu/licensing'\
                      \ target='_blank'>legal terms</a> of Canonical apply to it.\
                      \ Microsoft does not provide rights for third-party software.\
                      \ Also see the <a href='http://www.ubuntu.com/aboutus/privacypolicy'\
                      \ target='_blank'>privacy statement</a> from Canonical.</p>"
                    displayName: Ubuntu Server 17.10
                    galleryItemIdentity: Canonical.UbuntuServer1710-ARM.1.0.6
                    iconUris:
                      large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png
                      medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png
                      small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png
                      wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png
                    legalTerms: http://www.ubuntu.com/project/about-ubuntu/licensing
                    links:
                    - displayName: Linux VM Documentation
                      uri: https://docs.microsoft.com/azure/virtual-machines/linux/
                    - displayName: Ubuntu Documentation
                      uri: https://help.ubuntu.com/17.10/index.html
                    - displayName: FAQ
                      uri: https://help.ubuntu.com/community/ServerFaq
                    - displayName: Pricing details
                      uri: http://azure.microsoft.com/en-us/pricing/details/virtual-machines/#linux
                    offer: UbuntuServer
                    offerVersion: 1.0.6
                    payloadLength: 32212288186
                    privacyPolicy: http://www.ubuntu.com/aboutus/privacypolicy
                    productKind: VirtualMachine
                    productProperties:
                      version: 17.10.201801090
                    provisioningState: Downloading
                    publisherDisplayName: Canonical
                    publisherIdentifier: Canonical
                    sku: "17.10"
                  type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.downloaded_products_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}
  : delete:
      description: Delete a downloaded product.
      operationId: downloaded_products_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the activation.
        in: path
        name: activationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the product.
        in: path
        name: productName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadedProducts_Get_200_response'
          description: Accepted
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadedProducts_Get_200_response'
          description: Accepted
        "404":
          content: {}
          description: Not Found
      tags:
      - DownloadedProducts
      x-ms-examples:
        Deletes the specified downloaded product.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            productName: Canonical.UbuntuServer1710-ARM.1.0.6
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body: {}
            "202":
              body: {}
            "404": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.downloaded_products_controller
    get:
      description: Get a downloaded product.
      operationId: downloaded_products_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the activation.
        in: path
        name: activationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the product.
        in: path
        name: productName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadedProducts_Get_200_response'
          description: OK
        "404":
          content: {}
          description: Not Found
      tags:
      - DownloadedProducts
      x-ms-examples:
        Gets the specified downloaded product.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            productName: Canonical.UbuntuServer1710-ARM.1.0.6
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                properties:
                  billingPartNumber: ""
                  description: "Ubuntu Server 17.10 amd64 20180109 Public Azure, 20180109\
                    \ Azure China, 20180109 Azure Germany. Ubuntu Server is the world's\
                    \ most popular Linux for cloud environments. Updates and patches\
                    \ for Ubuntu 17.10 will be available until July 2018.  Ubuntu\
                    \ Server is the perfect virtual machine (VM) platform for all\
                    \ workloads from web applications to NoSQL databases and Hadoop.\
                    \ For more information see <a href='http://partners.ubuntu.com/microsoft'\
                    \ target='_blank'>Ubuntu on Azure</a> and <a href='http://juju.ubuntu.com'\
                    \ target='_blank'>using Juju to deploy your workloads</a>.<p><h3\
                    \ class='msportalfx-text-header'>Legal Terms</h3></p><p>By clicking\
                    \ the Create button, I acknowledge that I am getting this software\
                    \ from Canonical and that the <a href='http://www.ubuntu.com/project/about-ubuntu/licensing'\
                    \ target='_blank'>legal terms</a> of Canonical apply to it. Microsoft\
                    \ does not provide rights for third-party software. Also see the\
                    \ <a href='http://www.ubuntu.com/aboutus/privacypolicy' target='_blank'>privacy\
                    \ statement</a> from Canonical.</p>"
                  displayName: Ubuntu Server 17.10
                  galleryItemIdentity: Canonical.UbuntuServer1710-ARM.1.0.6
                  iconUris:
                    large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png
                    medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png
                    small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png
                    wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png
                  legalTerms: http://www.ubuntu.com/project/about-ubuntu/licensing
                  links:
                  - displayName: Linux VM Documentation
                    uri: https://docs.microsoft.com/azure/virtual-machines/linux/
                  - displayName: Ubuntu Documentation
                    uri: https://help.ubuntu.com/17.10/index.html
                  - displayName: FAQ
                    uri: https://help.ubuntu.com/community/ServerFaq
                  - displayName: Pricing details
                    uri: http://azure.microsoft.com/en-us/pricing/details/virtual-machines/#linux
                  offer: UbuntuServer
                  offerVersion: 1.0.6
                  payloadLength: 32212288186
                  privacyPolicy: http://www.ubuntu.com/aboutus/privacypolicy
                  productKind: VirtualMachine
                  productProperties:
                    version: 17.10.201801090
                  provisioningState: Downloading
                  publisherDisplayName: Canonical
                  publisherIdentifier: Canonical
                  sku: "17.10"
                type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.downloaded_products_controller
    put:
      description: Creates a downloaded product.
      operationId: downloaded_products_create
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the activation.
        in: path
        name: activationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the product.
        in: path
        name: productName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-01-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadedProducts_Get_200_response'
        description: Downloaded product resource definition.
        required: true
        x-ms-parameter-location: method
        x-body-name: downloadedProduct
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadedProducts_Get_200_response'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadedProducts_Get_200_response'
          description: Accepted
      tags:
      - DownloadedProducts
      x-ms-examples:
        Puts the specified downloaded product.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            downloadedProduct:
              id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
              name: default/Canonical.UbuntuServer1710-ARM.1.0.6
              properties:
                galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                productDetailsProperties:
                  computeRole: IaaS
                  isSystemExtension: false
                  sourceBlob:
                    uri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  supportMultipleExtensions: false
                  version: 1.0.6
                  vmOsType: Linux
                  vmScaleSetEnabled: false
                productKind: virtualMachineExtension
              type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
            location: local
            productName: Canonical.UbuntuServer1710-ARM.1.0.6
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                properties:
                  galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  productDetailsProperties:
                    computeRole: IaaS
                    isSystemExtension: false
                    sourceBlob:
                      uri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                    supportMultipleExtensions: false
                    version: 1.0.6
                    vmOsType: Linux
                    vmScaleSetEnabled: false
                  productKind: virtualMachineExtension
                type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
            "202":
              body:
                id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                properties:
                  galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  productDetailsProperties:
                    computeRole: IaaS
                    isSystemExtension: false
                    sourceBlob:
                      uri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                    supportMultipleExtensions: false
                    version: 1.0.6
                    vmOsType: Linux
                    vmScaleSetEnabled: false
                  productKind: virtualMachineExtension
                type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: downloadedProduct
      x-openapi-router-controller: openapi_server.controllers.downloaded_products_controller
components:
  requestBodies:
    DownloadedProductParameter:
      content:
        application/json:
          schema:
            allOf:
            - description: Base Resource Object
              properties:
                id:
                  description: URI of the resource.
                  readOnly: true
                  type: string
                location:
                  description: Location of the resource
                  readOnly: true
                  type: string
                name:
                  description: Name of the resource.
                  readOnly: true
                  type: string
                tags:
                  additionalProperties:
                    type: string
                  description: List of key value pairs.
                  readOnly: true
                  type: object
                type:
                  description: Type of resource.
                  readOnly: true
                  type: string
              type: object
              x-ms-azure-resource: true
            description: Downloaded product resource.
            properties:
              properties:
                description: Properties for aggregate usage.
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information
                      required for showing product in the gallery.
                    readOnly: true
                    type: string
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  links:
                    description: List of product links.
                    items:
                      description: Link to a product.
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                      type: object
                    type: array
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  productDetailsProperties:
                    description: Product information.
                    properties: {}
                    type: object
                  provisioningState:
                    description: The provisioning state of the resource.
                    enum:
                    - Stopped
                    - Starting
                    - Running
                    - Stopping
                    - Succeeded
                    - Downloading
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                type: object
      description: Downloaded product resource definition.
      required: true
      x-ms-parameter-location: method
      x-body-name: downloadedProduct
  schemas:
    DownloadedProductResourcesPage:
      description: Holds an array of downloaded products and the URI to the next page.
      example:
        value:
        - properties:
            legalTerms: legalTerms
            galleryPackageBlobSasUri: galleryPackageBlobSasUri
            privacyPolicy: privacyPolicy
            productDetailsProperties: "{}"
            links:
            - displayName: displayName
              uri: uri
            - displayName: displayName
              uri: uri
            provisioningState: Stopped
            vmExtensionType: vmExtensionType
        - properties:
            legalTerms: legalTerms
            galleryPackageBlobSasUri: galleryPackageBlobSasUri
            privacyPolicy: privacyPolicy
            productDetailsProperties: "{}"
            links:
            - displayName: displayName
              uri: uri
            - displayName: displayName
              uri: uri
            provisioningState: Stopped
            vmExtensionType: vmExtensionType
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to next page.
          title: nextLink
          type: string
        value:
          description: Array of downloaded products.
          items:
            $ref: '#/components/schemas/DownloadedProductResourcesPage_value_inner'
          title: value
          type: array
      title: DownloadedProductResourcesPage
      type: object
    DownloadedProducts_Get_200_response_properties_links_inner:
      description: Link to a product.
      example:
        displayName: displayName
        uri: uri
      properties:
        displayName:
          description: Displayed name of product.
          title: displayName
          type: string
        uri:
          description: URI to product.
          title: uri
          type: string
      title: DownloadedProducts_Get_200_response_properties_links_inner
      type: object
    DownloadedProducts_Get_200_response_properties:
      description: Properties for aggregate usage.
      example:
        legalTerms: legalTerms
        galleryPackageBlobSasUri: galleryPackageBlobSasUri
        privacyPolicy: privacyPolicy
        productDetailsProperties: "{}"
        links:
        - displayName: displayName
          uri: uri
        - displayName: displayName
          uri: uri
        provisioningState: Stopped
        vmExtensionType: vmExtensionType
      properties:
        galleryPackageBlobSasUri:
          description: The URI to the .azpkg file that provides information required
            for showing product in the gallery.
          readOnly: true
          title: galleryPackageBlobSasUri
          type: string
        legalTerms:
          description: Legal terms for the product.
          title: legalTerms
          type: string
        links:
          description: List of product links.
          items:
            $ref: '#/components/schemas/DownloadedProducts_Get_200_response_properties_links_inner'
          title: links
          type: array
        privacyPolicy:
          description: Privacy policy of the product.
          title: privacyPolicy
          type: string
        productDetailsProperties:
          description: Product information.
          properties: {}
          title: productDetailsProperties
          type: object
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Succeeded
          - Downloading
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        vmExtensionType:
          description: Extension type of the VM.
          title: vmExtensionType
          type: string
      title: DownloadedProducts_Get_200_response_properties
      type: object
    DownloadedProducts_Get_200_response:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Downloaded product resource.
      example:
        properties:
          legalTerms: legalTerms
          galleryPackageBlobSasUri: galleryPackageBlobSasUri
          privacyPolicy: privacyPolicy
          productDetailsProperties: "{}"
          links:
          - displayName: displayName
            uri: uri
          - displayName: displayName
            uri: uri
          provisioningState: Stopped
          vmExtensionType: vmExtensionType
      properties:
        properties:
          $ref: '#/components/schemas/DownloadedProducts_Get_200_response_properties'
      title: DownloadedProducts_Get_200_response
    DownloadedProductResourcesPage_value_inner:
      description: Downloaded product resource.
      example:
        properties:
          legalTerms: legalTerms
          galleryPackageBlobSasUri: galleryPackageBlobSasUri
          privacyPolicy: privacyPolicy
          productDetailsProperties: "{}"
          links:
          - displayName: displayName
            uri: uri
          - displayName: displayName
            uri: uri
          provisioningState: Stopped
          vmExtensionType: vmExtensionType
      properties:
        properties:
          $ref: '#/components/schemas/DownloadedProducts_Get_200_response_properties'
      title: DownloadedProductResourcesPage_value_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
