openapi: 3.0.1
info:
  description: The Resource Health Client.
  title: Microsoft.ResourceHealth
  version: 2018-07-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/ResourceHealth.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: resourcehealth-ResourceHealth
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ResourceHealth/emergingIssues:
    get:
      description: Lists Azure services' emerging issues.
      operationId: emerging_issues_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emergingIssueListResult'
          description: The body contains a list of azure emerging issues.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - EmergingIssues
      x-ms-examples:
        GetEmergingIssues:
          parameters:
            api-version: 2018-07-01-preview
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: /providers/Microsoft.ResourceHealth/emergingissues/default
                  name: default
                  properties:
                    refreshTimestamp: 2019-12-17T09:12:00Z
                    statusActiveEvents:
                    - cloud: Public
                      description: Virtual Machines case
                      impacts:
                      - id: virtual-machines
                        name: Virtual Machines
                        regions:
                        - id: us-central
                          name: Central US
                        - id: us-east
                          name: East US
                      lastModifiedTime: 2019-12-15T08:10:00Z
                      published: true
                      severity: Information
                      stage: Active
                      startTime: 2019-12-15T08:06:00Z
                      title: Automatic updates to the dial tone page from ACM - SHD
                        event
                      trackingId: KTTK-TZ8
                    - cloud: Public
                      description: "All Azure SQL service management requests (create,\
                        \ update, delete, etc.) are serviced through the SQL Control\
                        \ Plane infrastructure. Engineers determined that during this\
                        \ issue, the control plane service became unhealthy after\
                        \ receiving a significant increase in internally generated\
                        \ operations and reaching an operational threshold. This led\
                        \ to service management requests becoming unable to complete,\
                        \ which in-turn resulted in timeouts and throttling. Subsequent\
                        \ investigation by engineers determined this issue was due\
                        \ service requests from an internal Azure group that triggered\
                        \ a bug which caused an excessive number of internally generated\
                        \ operations."
                      impacts:
                      - id: sql-database
                        name: SQL Database
                        regions:
                        - id: europe-west
                          name: West Europe
                      lastModifiedTime: 2019-12-16T05:11:00Z
                      published: true
                      severity: Error
                      stage: Active
                      startTime: 2019-12-16T05:11:00Z
                      title: Azure SQL Database - West Europe
                      trackingId: 4KHK-LS8
                    statusBanners:
                    - cloud: Public
                      lastModifiedTime: 2019-12-15T08:04:00Z
                      message: Testing backup site
                      title: Automatic updates to the dial tone page from ACM - banner
                    - cloud: Public
                      lastModifiedTime: 2019-12-15T10:15:00Z
                      message: "<span style=\"color: #323237; font-family: &quot;Segoe\
                        \ UI&quot;, SegoeUI, &quot;Segoe WP&quot;, Tahoma, Arial,\
                        \ sans-serif; font-size: 16px; background-color: #ffffff\"\
                        >A subset of customers using Storage in West Europe experienced\
                        \ service availability issues. In addition, resources with\
                        \ dependencies on the impacted storage scale units may have\
                        \ experienced downstream impact in the form of availability\
                        \ issues, connection failures, or high latency. Engineers\
                        \ are investigating the root cause.</span>"
                      title: Storage - West Europe
                  type: /providers/Microsoft.ResourceHealth/emergingissues
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.emerging_issues_controller
  /providers/Microsoft.ResourceHealth/emergingIssues/{issueName}:
    get:
      description: Gets Azure services' emerging issues.
      operationId: emerging_issues_get
      parameters:
      - description: The name of the emerging issue.
        in: path
        name: issueName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emergingIssuesGetResult'
          description: "The body contains properties of azure emerging issues, which\
            \ includes a list of status banner and status active events."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - EmergingIssues
      x-ms-examples:
        GetEmergingIssues:
          parameters:
            api-version: 2018-07-01-preview
            issueName: default
          responses:
            "200":
              body:
                id: /providers/Microsoft.ResourceHealth/emergingissues/default
                name: default
                properties:
                  refreshTimestamp: 2019-12-17T09:12:00Z
                  statusActiveEvents:
                  - cloud: Public
                    description: Virtual Machines case
                    impacts:
                    - id: virtual-machines
                      name: Virtual Machines
                      regions:
                      - id: us-central
                        name: Central US
                      - id: us-east
                        name: East US
                    lastModifiedTime: 2019-12-15T08:10:00Z
                    published: true
                    severity: Information
                    stage: Active
                    startTime: 2019-12-15T08:06:00Z
                    title: Automatic updates to the dial tone page from ACM - SHD
                      event
                    trackingId: KTTK-TZ8
                  - cloud: Public
                    description: "All Azure SQL service management requests (create,\
                      \ update, delete, etc.) are serviced through the SQL Control\
                      \ Plane infrastructure. Engineers determined that during this\
                      \ issue, the control plane service became unhealthy after receiving\
                      \ a significant increase in internally generated operations\
                      \ and reaching an operational threshold. This led to service\
                      \ management requests becoming unable to complete, which in-turn\
                      \ resulted in timeouts and throttling. Subsequent investigation\
                      \ by engineers determined this issue was due service requests\
                      \ from an internal Azure group that triggered a bug which caused\
                      \ an excessive number of internally generated operations."
                    impacts:
                    - id: sql-database
                      name: SQL Database
                      regions:
                      - id: europe-west
                        name: West Europe
                    lastModifiedTime: 2019-12-16T05:11:00Z
                    published: true
                    severity: Error
                    stage: Active
                    startTime: 2019-12-16T05:11:00Z
                    title: Azure SQL Database - West Europe
                    trackingId: 4KHK-LS8
                  statusBanners:
                  - cloud: Public
                    lastModifiedTime: 2019-12-15T08:04:00Z
                    message: Testing backup site
                    title: Automatic updates to the dial tone page from ACM - banner
                  - cloud: Public
                    lastModifiedTime: 2019-12-15T10:15:00Z
                    message: "<span style=\"color: #323237; font-family: &quot;Segoe\
                      \ UI&quot;, SegoeUI, &quot;Segoe WP&quot;, Tahoma, Arial, sans-serif;\
                      \ font-size: 16px; background-color: #ffffff\">A subset of customers\
                      \ using Storage in West Europe experienced service availability\
                      \ issues. In addition, resources with dependencies on the impacted\
                      \ storage scale units may have experienced downstream impact\
                      \ in the form of availability issues, connection failures, or\
                      \ high latency. Engineers are investigating the root cause.</span>"
                    title: Storage - West Europe
                type: /providers/Microsoft.ResourceHealth/emergingissues
      x-openapi-router-controller: openapi_server.controllers.emerging_issues_controller
  /providers/Microsoft.ResourceHealth/metadata:
    get:
      deprecated: false
      operationId: metadata_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataEntityListResult'
          description: OK. Successfully retrieved metadata entities
      summary: Gets the list of metadata entities.
      tags:
      - Metadata
      x-ms-examples:
        GetMetadata:
          parameters:
            api-version: 2017-07-01
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: providers/Microsoft.ResourceHealth/metadata/status
                  name: status
                  properties:
                    applicableScenarios:
                    - Alerts
                    displayName: Status
                    supportedValues:
                    - displayName: Active
                      id: Active
                    - displayName: Resolved
                      id: Resolved
                    - displayName: InProgress
                      id: InProgress
                    - displayName: Updated
                      id: Updated
                  type: Microsoft.ResourceHealth/metadata
                - id: providers/Microsoft.ResourceHealth/metadata/cause
                  name: cause
                  properties:
                    applicableScenarios:
                    - Alerts
                    displayName: cause
                    supportedValues:
                    - displayName: PlatformInitiated
                      id: PlatformInitiated
                    - displayName: UserInitiated
                      id: UserInitiated
                  type: Microsoft.ResourceHealth/metadata
                - id: providers/Microsoft.ResourceHealth/metadata/previousHealthStatus
                  name: previousHealthStatus
                  properties:
                    applicableScenarios:
                    - Alerts
                    displayName: Previous Health Status
                    supportedValues:
                    - displayName: Available
                      id: Available
                    - displayName: Unavailable
                      id: Unavailable
                    - displayName: Degraded
                      id: Degraded
                  type: Microsoft.ResourceHealth/metadata
                - id: providers/Microsoft.ResourceHealth/metadata/currentHealthStatus
                  name: currentHealthStatus
                  properties:
                    displayName: Current Health Status
                    supportedValues:
                    - displayName: Available
                      id: Available
                    - displayName: Unavailable
                      id: Unavailable
                    - displayName: Degraded
                      id: Degraded
                  type: Microsoft.ResourceHealth/metadata
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
  /providers/Microsoft.ResourceHealth/metadata/{name}:
    get:
      deprecated: false
      operationId: metadata_get
      parameters:
      - description: Name of metadata entity.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataEntity'
          description: OK. Successfully retrieved metadata entities
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client sent unknown metadata name
      summary: Gets the metadata entity.
      tags:
      - Metadata
      x-ms-examples:
        GetMetadata:
          parameters:
            api-version: 2017-07-01
            name: types
          responses:
            "200":
              body:
                id: providers/Microsoft.ResourceHealth/metadata/status
                name: types
                properties:
                  applicableScenarios:
                  - Alerts
                  displayName: <Localized string>
                  supportedValues:
                  - displayName: Active
                    id: Active
                  - displayName: Resolved
                    id: Resolved
                  - displayName: InProgress
                    id: InProgress
                  - displayName: Updated
                    id: Updated
                type: Microsoft.ResourceHealth/metadata
            "404":
              body:
                code: NotFound
                message: Unknown metadata name
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
  /providers/Microsoft.ResourceHealth/operations:
    get:
      description: Lists available operations for the resourcehealth resource provider
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationListResult'
          description: The list of available operations for the resourcehealth resource
            provider
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/availabilityStatuses:
    get:
      description: Lists the current availability status for all the resources in
        the subscription.
      operationId: availability_statuses_list_by_subscription_id
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Setting $expand=recommendedactions in url query expands the recommendedactions
          in the response.
        in: query
        name: $expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/availabilityStatusListResult'
          description: The list of current availability status for all the resources
            in the subscription
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        ListHealthBySubscriptionId:
          parameters:
            $expand: recommendedactions
            api-version: 2015-01-01
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: "{originalRequestUrl}?$skipToken={OpaquePageNumber}"
                value:
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    availabilityState: Available
                    detailedStatus: We have not seen any issues with your virtual
                      machine
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    recentlyResolved:
                      resolvedTime: 2017-02-28T00:49:00Z
                      unavailabilitySummary: We are sorry your SQL database is unavailable
                      unavailableOccurredTime: 2017-02-28T00:48:00Z
                    recommendedActions:
                    - action: "To start this virtualmachine, open the resource blade\
                        \ and click Start"
                      actionUrl: <#ResourceBlade>
                      actionUrlText: resourceblade
                    reportedTime: 2016-05-04T14:11:29.7598931Z
                    summary: Vm is available
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    availabilityState: Unavailable
                    detailedStatus: Diskproblemsarepreventingusfromautomaticallyrecoveringyourvirtualmachine
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    recommendedActions:
                    - action: "To start this virtualmachine, open the resource blade"
                      actionUrl: <#ResourceBlade>
                      actionUrlText: resourceblade
                    - action: "If you are experiencing problems you believe are caused\
                        \ by Azure, contact support"
                      actionUrl: <#SupportCase>
                      actionUrlText: contactsupport
                    reportedTime: 2016-05-04T14:11:29.7598931Z
                    resolutionETA: 2016-03-29T09:37:00Z
                    rootCauseAttributionTime: 2016-03-29T09:13:00Z
                    summary: "We are sorry, we couldn't automatically recovery our\
                      \ virtualmachine"
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_statuses_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events:
    get:
      description: Lists current service health events in the subscription.
      operationId: events_list_by_subscription_id
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
          description: The list of current service health events in the subscription
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - Events
      x-ms-examples:
        ListEventsBySubscriptionId:
          parameters:
            $filter: service eq 'Virtual Machines' or region eq 'West US'
            api-version: 2018-07-01-preview
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: "{originalRequestUrl}?$skipToken={OpaquePageNumber}"
                value:
                - id: /providers/Microsoft.ResourceHealth/events/BC_1-FXZ
                  name: BC_1-FXZ
                  properties:
                    article:
                      articleContent: <html>An outage alert is being investigated.
                        More information will be provided as it is known</html>
                    enableChatWithUs: false
                    enableMicrosoftSupport: true
                    eventLevel: Informational
                    eventSource: ResourceHealth
                    eventType: ServiceIssue
                    faqs:
                    - answer: This is an answer
                      localeCode: en
                      question: This is a question
                    header: Your service might have been impacted by an Azure service
                      issue
                    hirStage: resolved
                    impact:
                    - impactedRegions:
                      - impactedRegion: West US
                        impactedSubscriptions:
                        - "{subscriptionId}"
                        lastUpdateTime: 2017-12-05T21:05:00Z
                        status: Active
                      impactedService: Virtual Machines
                    impactMitigationTime: 2018-11-08T00:00:00Z
                    impactStartTime: 2018-11-07T00:00:00Z
                    isHIR: false
                    lastUpdateTime: 2018-11-08T00:00:00Z
                    level: Warning
                    links:
                    - bladeName: RequestRCABlade
                      displayText:
                        localizedValue: Request RCA
                        value: Request RCA
                      extensionName: Microsoft_Azure_Health
                      parameters:
                        rcaRequested: "False"
                        trackingId: BC_1-FXZ
                      type: Hyperlink
                    - bladeName: AzureHealthBrowseBlade
                      displayText:
                        localizedValue: Sign up for updates
                        value: Sign up for updates
                      extensionName: Microsoft_Azure_Health
                      parameters:
                        trackingId: BC_1-FXZ
                      type: Button
                    priority: 2
                    recommendedActions:
                      actions:
                      - actionText: action 1
                        groupId: 23243
                      - actionText: action 2
                        groupId: 23432
                      localeCode: en
                      message: Recommended actions title
                    status: Active
                    summary: An outage alert is being investigated. More information
                      will be provided as it is known.
                    title: "ACTIVE: Virtual machines in West US"
                  type: /providers/Microsoft.ResourceHealth/events
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/impactedResources:
    get:
      description: Lists the current availability status for impacted resources in
        the subscription.
      operationId: impacted_resources_list_by_subscription_id
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impactedResourceListResult'
          description: The list of current availability status for impacted resources
            in the subscription
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - ImpactedResources
      x-ms-examples:
        ListHealthBySubscriptionId:
          parameters:
            $filter: service eq 'Virtual Machines' or region eq 'West US'
            api-version: 2018-07-01-preview
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: "{originalRequestUrl}?$skipToken={OpaquePageNumber}"
                value:
                - id: <resourceId>/providers/Microsoft.ResourceHealth/impactedResources/current
                  name: current
                  properties:
                    availabilityState: Available
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonType: Unplanned
                    summary: Vm is available
                  type: Microsoft.ResourceHealth/impactedResources
                - id: <resourceId>/providers/Microsoft.ResourceHealth/impactedResources/current
                  name: current
                  properties:
                    availabilityState: Unavailable
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonType: Unplanned
                    summary: "We are sorry, we couldn't automatically recovery our\
                      \ virtualmachine"
                  type: Microsoft.ResourceHealth/impactedResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.impacted_resources_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceHealth/availabilityStatuses:
    get:
      description: Lists the current availability status for all the resources in
        the resource group.
      operationId: availability_statuses_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Setting $expand=recommendedactions in url query expands the recommendedactions
          in the response.
        in: query
        name: expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/availabilityStatusListResult'
          description: The list of current availability status for all the resources
            in the resource group
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        ListByResourceGroup:
          parameters:
            $expand: recommendedactions
            api-version: 2015-01-01
            resourceGroupName: resourceGroupName
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: "{originalRequestUrl}?$skipToken={OpaquePageNumber}"
                value:
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    availabilityState: Available
                    detailedStatus: We have not seen any issues with your virtual
                      machine
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    recentlyResolved:
                      resolvedTime: 2017-02-28T00:49:00Z
                      unavailabilitySummary: We are sorry your SQL database is unavailable
                      unavailableOccurredTime: 2017-02-28T00:48:00Z
                    recommendedActions:
                    - action: "To start this virtualmachine, open the resource blade\
                        \ and click Start"
                      actionUrl: <#ResourceBlade>
                      actionUrlText: resourceblade
                    reportedTime: 2016-05-04T14:11:29.7598931Z
                    summary: Vm is available
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    availabilityState: Unavailable
                    detailedStatus: Diskproblemsarepreventingusfromautomaticallyrecoveringyourvirtualmachine
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    recommendedActions:
                    - action: "To start this virtualmachine, open the resource blade"
                      actionUrl: <#ResourceBlade>
                      actionUrlText: resourceblade
                    - action: "If you are experiencing problems you believe are caused\
                        \ by Azure, contact support"
                      actionUrl: <#SupportCase>
                      actionUrlText: contactsupport
                    reportedTime: 2016-05-04T14:11:29.7598931Z
                    resolutionETA: 2016-03-29T09:37:00Z
                    rootCauseAttributionTime: 2016-03-29T09:13:00Z
                    summary: "We are sorry, we couldn't automatically recovery our\
                      \ virtualmachine"
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_statuses_controller
  /{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses:
    get:
      description: Lists all historical availability transitions and impacting events
        for a single resource.
      operationId: availability_statuses_list
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type. Currently the API support not nested and one nesting\
          \ level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name}\
          \ and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}"
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Setting $expand=recommendedactions in url query expands the recommendedactions
          in the response.
        in: query
        name: expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/availabilityStatusListResult'
          description: The list of historical availability statuses for a single resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        GetHealthHistoryByResource:
          parameters:
            api-version: 2015-01-01
            resourceUri: resourceUri
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines/rhctes
                    tenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/current
                  location: eastus
                  name: current
                  properties:
                    availabilityState: Unavailable
                    detailedStatus: Disk problems are preventing us from automatically
                      recovering your virtual machine
                    occuredTime: 2016-03-29T09:12:00Z
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    reportedTime: 2016-05-04T14:11:29.7598931Z
                    resolutionETA: 2016-03-29T09:37:00Z
                    rootCauseAttributionTime: 2016-03-29T09:13:00Z
                    serviceImpactingEvents:
                    - correlationId: b56d0180-2d6c-4f7b-b750-c1eca681874c
                      eventStartTime: 2016-05-02T19:23:13.7115125Z
                      eventStatusLastModifiedTime: 2016-05-02T19:27:04.9543491Z
                      incidentProperties:
                        incidentType: outage
                        region: East US
                        service: Virtual Machines
                        title: "Virtual Machines - West Europe [West Europe]"
                      status:
                        value: Resolved
                    summary: "We're sorry, we couldn't automatically recover your\
                      \ virtual machine"
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
                - id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines/rhctes
                    tenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/2016-03-28+16%3a23%3a00Z
                  location: eastus
                  name: 2016-03-28+16%3a23%3a00Z
                  properties:
                    availabilityState: Available
                    detailedStatus: There aren’t any known Azure platform problems
                      affecting this virtual machine
                    occuredTime: 2016-03-28T16:23:00Z
                    reasonChronicity: Persistent
                    summary: This virtual machine is running normally
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_statuses_controller
  /{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses/current:
    get:
      description: Gets current availability status for a single resource
      operationId: availability_statuses_get_by_resource
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type. Currently the API support not nested and one nesting\
          \ level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name}\
          \ and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}"
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Setting $expand=recommendedactions in url query expands the recommendedactions
          in the response.
        in: query
        name: expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/availabilityStatus'
          description: The current availability status for a single resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        GetCurrentHealthByResource:
          parameters:
            $expand: recommendedactions
            api-version: 2015-01-01
            resourceUri: resourceUri
          responses:
            "200":
              body:
                id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines
                  /rhctestenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/current
                location: eastus
                name: current
                properties:
                  availabilityState: Unavailable
                  detailedStatus: Disk problems are preventing us from automatically
                    recovering your virtual machine
                  occuredTime: 2016-03-29T09:12:00Z
                  reasonChronicity: Persistent
                  reasonType: Unplanned
                  recommendedActions:
                  - action: "To start this virtual machine, open the resource blade\
                      \ and click Start"
                    actionUrl: <#ResourceBlade>
                    actionUrlText: resource blade
                  - action: "If you are experiencing problems you believe are caused\
                      \ by Azure, contact support"
                    actionUrl: <#SupportCase>
                    actionUrlText: contact support
                  reportedTime: 2016-05-04T14:11:29.7598931Z
                  resolutionETA: 2016-03-29T09:37:00Z
                  rootCauseAttributionTime: 2016-03-29T09:13:00Z
                  summary: "We're sorry, we couldn't automatically recover your virtual\
                    \ machine"
                type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-openapi-router-controller: openapi_server.controllers.availability_statuses_controller
  /{resourceUri}/providers/Microsoft.ResourceHealth/events:
    get:
      description: Lists current service health events for given resource.
      operationId: events_list_by_single_resource
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type. Currently the API support not nested and one nesting\
          \ level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name}\
          \ and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}"
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
          description: The list of current service health events for given resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: DefaultErrorResponse
      tags:
      - Events
      x-ms-examples:
        ListEventsBySingleResource:
          parameters:
            api-version: 2018-07-01-preview
            resourceUri: subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.Compute/virtualMachines/rhctestenvV1PI
          responses:
            "200":
              body:
                nextLink: "{originalRequestUrl}?$skipToken={OpaquePageNumber}"
                value:
                - id: /providers/Microsoft.ResourceHealth/events/BC_1-FXZ
                  name: BC_1-FXZ
                  properties:
                    article:
                      articleContent: <html>An outage alert is being investigated.
                        More information will be provided as it is known</html>
                    enableChatWithUs: false
                    enableMicrosoftSupport: true
                    eventLevel: Informational
                    eventSource: ResourceHealth
                    eventType: ServiceIssue
                    faqs:
                    - answer: This is an answer
                      localeCode: en
                      question: This is a question
                    header: Your service might have been impacted by an Azure service
                      issue
                    hirStage: active
                    impact:
                    - impactedRegions:
                      - impactedRegion: West US
                        impactedSubscriptions:
                        - "{subscriptionId}"
                        lastUpdateTime: 2017-12-05T21:05:00Z
                        status: Active
                      impactedService: Virtual Machines
                    impactMitigationTime: 2018-11-08T00:00:00Z
                    impactStartTime: 2018-11-07T00:00:00Z
                    isHIR: false
                    lastUpdateTime: 2018-11-08T00:00:00Z
                    level: Warning
                    links:
                    - bladeName: RequestRCABlade
                      displayText:
                        localizedValue: Request RCA
                        value: Request RCA
                      extensionName: Microsoft_Azure_Health
                      parameters:
                        rcaRequested: "False"
                        trackingId: BC_1-FXZ
                      type: Hyperlink
                    - bladeName: AzureHealthBrowseBlade
                      displayText:
                        localizedValue: Sign up for updates
                        value: Sign up for updates
                      extensionName: Microsoft_Azure_Health
                      parameters:
                        trackingId: BC_1-FXZ
                      type: Button
                    priority: 2
                    recommendedActions:
                      actions:
                      - actionText: action 1
                        groupId: 23243
                      - actionText: action 2
                        groupId: 23432
                      localeCode: en
                      message: Recommended actions title
                    status: Active
                    summary: An outage alert is being investigated. More information
                      will be provided as it is known.
                    title: "ACTIVE: Virtual machines in West US"
                  type: /providers/Microsoft.ResourceHealth/events
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.events_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    EventIdParameter:
      description: EventId for the Service health event
      in: path
      name: eventId
      required: true
      schema:
        type: string
    ExpandParameter:
      description: Setting $expand=recommendedactions in url query expands the recommendedactions
        in the response.
      in: query
      name: $expand
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    FilterParameter:
      description: The filter to apply on the operation. For more information please
        see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    IssueNameParameter:
      description: The name of the emerging issue.
      in: path
      name: issueName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Error details.
      example:
        code: code
        details: details
        message: message
      properties:
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        details:
          description: The error details.
          readOnly: true
          title: details
          type: string
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    MetadataEntity:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The metadata entity contract.
      example:
        properties:
          applicableScenarios:
          - Alerts
          - Alerts
          dependsOn:
          - dependsOn
          - dependsOn
          displayName: displayName
          supportedValues:
          - displayName: displayName
            id: id
          - displayName: displayName
            id: id
      properties:
        properties:
          $ref: '#/components/schemas/MetadataEntityProperties'
      title: MetadataEntity
    MetadataEntityListResult:
      description: The list of metadata entities
      example:
        value:
        - properties:
            applicableScenarios:
            - Alerts
            - Alerts
            dependsOn:
            - dependsOn
            - dependsOn
            displayName: displayName
            supportedValues:
            - displayName: displayName
              id: id
            - displayName: displayName
              id: id
        - properties:
            applicableScenarios:
            - Alerts
            - Alerts
            dependsOn:
            - dependsOn
            - dependsOn
            displayName: displayName
            supportedValues:
            - displayName: displayName
              id: id
            - displayName: displayName
              id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of metadata.
          title: nextLink
          type: string
        value:
          description: The list of metadata entities.
          items:
            $ref: '#/components/schemas/MetadataEntity'
          title: value
          type: array
      title: MetadataEntityListResult
      type: object
    MetadataEntityProperties:
      description: The metadata entity properties
      example:
        applicableScenarios:
        - Alerts
        - Alerts
        dependsOn:
        - dependsOn
        - dependsOn
        displayName: displayName
        supportedValues:
        - displayName: displayName
          id: id
        - displayName: displayName
          id: id
      properties:
        applicableScenarios:
          description: The list of scenarios applicable to this metadata entity.
          items:
            enum:
            - Alerts
            type: string
            x-ms-enum:
              modelAsString: true
              name: Scenario
          title: applicableScenarios
          type: array
        dependsOn:
          description: The list of keys on which this entity depends on.
          items:
            type: string
          title: dependsOn
          type: array
        displayName:
          description: The display name.
          title: displayName
          type: string
        supportedValues:
          description: The list of supported values.
          items:
            $ref: '#/components/schemas/MetadataSupportedValueDetail'
          title: supportedValues
          type: array
      title: MetadataEntityProperties
      type: object
    MetadataSupportedValueDetail:
      description: The metadata supported value detail.
      example:
        displayName: displayName
        id: id
      properties:
        displayName:
          description: The display name.
          title: displayName
          type: string
        id:
          description: The id.
          title: id
          type: string
      title: MetadataSupportedValueDetail
      type: object
    availabilityStatus:
      description: availabilityStatus of a resource.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          summary: summary
          occuredTime: 2000-01-23T04:56:07.000+00:00
          rootCauseAttributionTime: 2000-01-23T04:56:07.000+00:00
          healthEventId: healthEventId
          recentlyResolved:
            unavailableOccurredTime: 2000-01-23T04:56:07.000+00:00
            resolvedTime: 2000-01-23T04:56:07.000+00:00
            unavailabilitySummary: unavailabilitySummary
          reasonType: reasonType
          reasonChronicity: Transient
          healthEventCategory: healthEventCategory
          availabilityState: Available
          detailedStatus: detailedStatus
          serviceImpactingEvents:
          - incidentProperties:
              service: service
              incidentType: incidentType
              region: region
              title: title
            eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
            correlationId: correlationId
            eventStartTime: 2000-01-23T04:56:07.000+00:00
            status:
              value: value
          - incidentProperties:
              service: service
              incidentType: incidentType
              region: region
              title: title
            eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
            correlationId: correlationId
            eventStartTime: 2000-01-23T04:56:07.000+00:00
            status:
              value: value
          healthEventType: healthEventType
          recommendedActions:
          - actionUrl: actionUrl
            action: action
            actionUrlText: actionUrlText
          - actionUrl: actionUrl
            action: action
            actionUrlText: actionUrlText
          resolutionETA: 2000-01-23T04:56:07.000+00:00
          healthEventCause: healthEventCause
          reportedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Azure Resource Manager Identity for the availabilityStatuses
            resource.
          title: id
          type: string
        location:
          description: Azure Resource Manager geo location of the resource.
          title: location
          type: string
        name:
          description: current.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/availabilityStatus_properties'
        type:
          description: Microsoft.ResourceHealth/AvailabilityStatuses.
          title: type
          type: string
      title: availabilityStatus
      type: object
    availabilityStatusListResult:
      description: The List availabilityStatus operation response.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            summary: summary
            occuredTime: 2000-01-23T04:56:07.000+00:00
            rootCauseAttributionTime: 2000-01-23T04:56:07.000+00:00
            healthEventId: healthEventId
            recentlyResolved:
              unavailableOccurredTime: 2000-01-23T04:56:07.000+00:00
              resolvedTime: 2000-01-23T04:56:07.000+00:00
              unavailabilitySummary: unavailabilitySummary
            reasonType: reasonType
            reasonChronicity: Transient
            healthEventCategory: healthEventCategory
            availabilityState: Available
            detailedStatus: detailedStatus
            serviceImpactingEvents:
            - incidentProperties:
                service: service
                incidentType: incidentType
                region: region
                title: title
              eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
              correlationId: correlationId
              eventStartTime: 2000-01-23T04:56:07.000+00:00
              status:
                value: value
            - incidentProperties:
                service: service
                incidentType: incidentType
                region: region
                title: title
              eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
              correlationId: correlationId
              eventStartTime: 2000-01-23T04:56:07.000+00:00
              status:
                value: value
            healthEventType: healthEventType
            recommendedActions:
            - actionUrl: actionUrl
              action: action
              actionUrlText: actionUrlText
            - actionUrl: actionUrl
              action: action
              actionUrlText: actionUrlText
            resolutionETA: 2000-01-23T04:56:07.000+00:00
            healthEventCause: healthEventCause
            reportedTime: 2000-01-23T04:56:07.000+00:00
        - name: name
          location: location
          id: id
          type: type
          properties:
            summary: summary
            occuredTime: 2000-01-23T04:56:07.000+00:00
            rootCauseAttributionTime: 2000-01-23T04:56:07.000+00:00
            healthEventId: healthEventId
            recentlyResolved:
              unavailableOccurredTime: 2000-01-23T04:56:07.000+00:00
              resolvedTime: 2000-01-23T04:56:07.000+00:00
              unavailabilitySummary: unavailabilitySummary
            reasonType: reasonType
            reasonChronicity: Transient
            healthEventCategory: healthEventCategory
            availabilityState: Available
            detailedStatus: detailedStatus
            serviceImpactingEvents:
            - incidentProperties:
                service: service
                incidentType: incidentType
                region: region
                title: title
              eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
              correlationId: correlationId
              eventStartTime: 2000-01-23T04:56:07.000+00:00
              status:
                value: value
            - incidentProperties:
                service: service
                incidentType: incidentType
                region: region
                title: title
              eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
              correlationId: correlationId
              eventStartTime: 2000-01-23T04:56:07.000+00:00
              status:
                value: value
            healthEventType: healthEventType
            recommendedActions:
            - actionUrl: actionUrl
              action: action
              actionUrlText: actionUrlText
            - actionUrl: actionUrl
              action: action
              actionUrlText: actionUrlText
            resolutionETA: 2000-01-23T04:56:07.000+00:00
            healthEventCause: healthEventCause
            reportedTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of availabilityStatuses. Call
            ListNext() with this URI to fetch the next page of availabilityStatuses.
          title: nextLink
          type: string
        value:
          description: The list of availabilityStatuses.
          items:
            $ref: '#/components/schemas/availabilityStatus'
          title: value
          type: array
      required:
      - value
      title: availabilityStatusListResult
      type: object
    emergingIssue:
      description: On-going emerging issue from azure status.
      example:
        refreshTimestamp: 2000-01-23T04:56:07.000+00:00
        statusActiveEvents:
        - cloud: cloud
          severity: Information
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          stage: Active
          description: description
          startTime: 2000-01-23T04:56:07.000+00:00
          impacts:
          - regions:
            - name: name
              id: id
            - name: name
              id: id
            name: name
            id: id
          - regions:
            - name: name
              id: id
            - name: name
              id: id
            name: name
            id: id
          published: true
          title: title
          trackingId: trackingId
        - cloud: cloud
          severity: Information
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          stage: Active
          description: description
          startTime: 2000-01-23T04:56:07.000+00:00
          impacts:
          - regions:
            - name: name
              id: id
            - name: name
              id: id
            name: name
            id: id
          - regions:
            - name: name
              id: id
            - name: name
              id: id
            name: name
            id: id
          published: true
          title: title
          trackingId: trackingId
        statusBanners:
        - cloud: cloud
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          message: message
          title: title
        - cloud: cloud
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          message: message
          title: title
      properties:
        refreshTimestamp:
          description: Timestamp for when last time refreshed for ongoing emerging
            issue.
          format: date-time
          title: refreshTimestamp
          type: string
        statusActiveEvents:
          description: The list of emerging issues of active event type.
          items:
            $ref: '#/components/schemas/statusActiveEvent'
          title: statusActiveEvents
          type: array
        statusBanners:
          description: The list of emerging issues of banner type.
          items:
            $ref: '#/components/schemas/statusBanner'
          title: statusBanners
          type: array
      title: emergingIssue
      type: object
    emergingIssueImpact:
      description: Object of the emerging issue impact on services and regions.
      example:
        regions:
        - name: name
          id: id
        - name: name
          id: id
        name: name
        id: id
      properties:
        id:
          description: The impacted service id.
          title: id
          type: string
        name:
          description: The impacted service name.
          title: name
          type: string
        regions:
          description: The list of impacted regions for corresponding emerging issues.
          items:
            $ref: '#/components/schemas/impactedRegion'
          title: regions
          type: array
      title: emergingIssueImpact
      type: object
    emergingIssueListResult:
      description: The list of emerging issues.
      example:
        value:
        - properties:
            refreshTimestamp: 2000-01-23T04:56:07.000+00:00
            statusActiveEvents:
            - cloud: cloud
              severity: Information
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              stage: Active
              description: description
              startTime: 2000-01-23T04:56:07.000+00:00
              impacts:
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              published: true
              title: title
              trackingId: trackingId
            - cloud: cloud
              severity: Information
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              stage: Active
              description: description
              startTime: 2000-01-23T04:56:07.000+00:00
              impacts:
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              published: true
              title: title
              trackingId: trackingId
            statusBanners:
            - cloud: cloud
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              message: message
              title: title
            - cloud: cloud
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              message: message
              title: title
        - properties:
            refreshTimestamp: 2000-01-23T04:56:07.000+00:00
            statusActiveEvents:
            - cloud: cloud
              severity: Information
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              stage: Active
              description: description
              startTime: 2000-01-23T04:56:07.000+00:00
              impacts:
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              published: true
              title: title
              trackingId: trackingId
            - cloud: cloud
              severity: Information
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              stage: Active
              description: description
              startTime: 2000-01-23T04:56:07.000+00:00
              impacts:
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              - regions:
                - name: name
                  id: id
                - name: name
                  id: id
                name: name
                id: id
              published: true
              title: title
              trackingId: trackingId
            statusBanners:
            - cloud: cloud
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              message: message
              title: title
            - cloud: cloud
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              message: message
              title: title
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of emerging issues.
          title: nextLink
          type: string
        value:
          description: The list of emerging issues.
          items:
            $ref: '#/components/schemas/emergingIssuesGetResult'
          title: value
          type: array
      title: emergingIssueListResult
      type: object
    emergingIssuesGetResult:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The Get EmergingIssues operation response.
      example:
        properties:
          refreshTimestamp: 2000-01-23T04:56:07.000+00:00
          statusActiveEvents:
          - cloud: cloud
            severity: Information
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            stage: Active
            description: description
            startTime: 2000-01-23T04:56:07.000+00:00
            impacts:
            - regions:
              - name: name
                id: id
              - name: name
                id: id
              name: name
              id: id
            - regions:
              - name: name
                id: id
              - name: name
                id: id
              name: name
              id: id
            published: true
            title: title
            trackingId: trackingId
          - cloud: cloud
            severity: Information
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            stage: Active
            description: description
            startTime: 2000-01-23T04:56:07.000+00:00
            impacts:
            - regions:
              - name: name
                id: id
              - name: name
                id: id
              name: name
              id: id
            - regions:
              - name: name
                id: id
              - name: name
                id: id
              name: name
              id: id
            published: true
            title: title
            trackingId: trackingId
          statusBanners:
          - cloud: cloud
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            message: message
            title: title
          - cloud: cloud
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            message: message
            title: title
      properties:
        properties:
          $ref: '#/components/schemas/emergingIssue'
      title: emergingIssuesGetResult
    event:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Service health event
      example:
        properties: "{}"
      properties:
        properties:
          description: Properties of event.
          properties:
            article:
              description: Article of event.
              properties:
                articleContent:
                  description: Article content of event.
                  title: articleContent
                  type: string
              title: article
              type: object
            enableChatWithUs:
              description: Tells if we want to enable or disable Microsoft Support
                for this event.
              title: enableChatWithUs
              type: boolean
            enableMicrosoftSupport:
              description: Tells if we want to enable or disable Microsoft Support
                for this event.
              title: enableMicrosoftSupport
              type: boolean
            eventLevel:
              description: Level of event.
              enum:
              - Critical
              - Warning
              - Informational
              title: eventLevel
              type: string
              x-ms-enum:
                modelAsString: true
                name: EventLevelValues
            eventSource:
              description: Source of event.
              enum:
              - ResourceHealth
              - ServiceHealth
              title: eventSource
              type: string
              x-ms-enum:
                modelAsString: true
                name: EventSourceValues
            eventType:
              description: Type of event.
              enum:
              - ServiceIssue
              - PlannedMaintenance
              - HealthAdvisory
              - RCA
              title: eventType
              type: string
              x-ms-enum:
                modelAsString: true
                name: EventTypeValues
            faqs:
              description: Frequently asked questions for the service health event.
              items:
                $ref: '#/components/schemas/faq'
              title: faqs
              type: array
            header:
              description: Header text of event.
              title: header
              type: string
            hirStage:
              description: Stage for HIR Document
              title: hirStage
              type: string
            impact:
              description: List services impacted by the service health event.
              items:
                $ref: '#/components/schemas/impact'
              title: impact
              type: array
            impactMitigationTime:
              description: It provides the Timestamp for when the health impacting
                event resolved.
              format: date-time
              title: impactMitigationTime
              type: string
            impactStartTime:
              description: It provides the Timestamp for when the health impacting
                event started.
              format: date-time
              title: impactStartTime
              type: string
            isHIR:
              description: It provides information if the event is High incident rate
                event or not.
              title: isHIR
              type: boolean
            lastUpdateTime:
              description: It provides the Timestamp for when the health impacting
                event was last updated.
              format: date-time
              title: lastUpdateTime
              type: string
            level:
              description: Level of insight.
              enum:
              - Critical
              - Warning
              title: level
              type: string
              x-ms-enum:
                modelAsString: true
                name: LevelValues
            links:
              description: Useful links of event.
              items:
                $ref: '#/components/schemas/link'
              title: links
              type: array
            priority:
              description: Priority level of the event.
              title: priority
              type: integer
            recommendedActions:
              description: Recommended actions of event.
              properties:
                actions:
                  description: Recommended actions for the service health event.
                  items:
                    description: Recommended action for the service health event.
                    properties:
                      actionText:
                        description: Recommended action text
                        type: string
                      groupId:
                        description: Recommended action group Id for the service health
                          event.
                        type: integer
                    type: object
                  title: actions
                  type: array
                localeCode:
                  description: Recommended action locale for the service health event.
                  title: localeCode
                  type: string
                message:
                  description: Recommended action title for the service health event.
                  title: message
                  type: string
              title: recommendedActions
              type: object
            status:
              description: Current status of event.
              enum:
              - Active
              - Resolved
              title: status
              type: string
              x-ms-enum:
                modelAsString: true
                name: EventStatusValues
            summary:
              description: Summary text of event.
              title: summary
              type: string
            title:
              description: Title text of event.
              title: title
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: event
    events:
      description: The List events operation response.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of events. Call ListNext() with
            this URI to fetch the next page of events.
          title: nextLink
          type: string
        value:
          description: The list of event.
          items:
            $ref: '#/components/schemas/event'
          title: value
          type: array
      required:
      - value
      title: events
      type: object
    faq:
      description: Frequently asked question for the service health event
      properties:
        answer:
          description: FAQ answer for the service health event.
          title: answer
          type: string
        localeCode:
          description: FAQ locale for the service health event.
          title: localeCode
          type: string
        question:
          description: FAQ question for the service health event.
          title: question
          type: string
      title: faq
      type: object
    impact:
      description: Azure service impacted by the service health event.
      properties:
        impactedRegions:
          description: List regions impacted by the service health event.
          items:
            $ref: '#/components/schemas/impactedServiceRegion'
          title: impactedRegions
          type: array
        impactedService:
          description: Impacted service name.
          title: impactedService
          type: string
      title: impact
      type: object
    impactedRegion:
      description: Object of impacted region.
      example:
        name: name
        id: id
      properties:
        id:
          description: The impacted region id.
          title: id
          type: string
        name:
          description: The impacted region name.
          title: name
          type: string
      title: impactedRegion
      type: object
    impactedResourceListResult:
      description: The List impactedResourceStatus operation response.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of impactedResourceStatus.
          title: nextLink
          type: string
        value:
          description: The list of impactedResourceStatus.
          items:
            $ref: '#/components/schemas/impactedResourceStatus'
          title: value
          type: array
      required:
      - value
      title: impactedResourceListResult
      type: object
    impactedResourceStatus:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: impactedResource with health status
      example:
        properties: "{}"
      properties:
        properties:
          description: Properties of impacted resource status.
          properties:
            availabilityState:
              description: Impacted resource status of the resource.
              enum:
              - Available
              - Unavailable
              - Degraded
              - Unknown
              title: availabilityState
              type: string
              x-ms-enum:
                modelAsString: true
                name: AvailabilityStateValues
            occuredTime:
              description: Timestamp for when last change in health status occurred.
              format: date-time
              title: occuredTime
              type: string
            reasonType:
              description: "When the resource's availabilityState is Unavailable,\
                \ it describes where the health impacting event was originated."
              enum:
              - Unplanned
              - Planned
              - UserInitiated
              title: reasonType
              type: string
              x-ms-enum:
                modelAsString: true
                name: ReasonTypeValues
            summary:
              description: Summary description of the impacted resource status.
              title: summary
              type: string
            title:
              description: Title description of the impacted resource status.
              title: title
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: impactedResourceStatus
    impactedServiceRegion:
      description: Azure region impacted by the service health event.
      properties:
        impactedRegion:
          description: Impacted region name.
          title: impactedRegion
          type: string
        impactedSubscriptions:
          description: List subscription impacted by the service health event.
          items:
            description: Subscription impacted by the service health event.
            type: string
          title: impactedSubscriptions
          type: array
        lastUpdateTime:
          description: It provides the Timestamp for when the last update for the
            service health event.
          format: date-time
          title: lastUpdateTime
          type: string
        status:
          description: Current status of event in the region.
          enum:
          - Active
          - Resolved
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventStatusValues
        updates:
          description: List of updates for given service health event.
          items:
            $ref: '#/components/schemas/update'
          title: updates
          type: array
      title: impactedServiceRegion
      type: object
    link:
      description: Useful links for service health event.
      properties:
        bladeName:
          description: It provides the name of portal extension blade to produce link
            for given service health event.
          title: bladeName
          type: string
        displayText:
          $ref: '#/components/schemas/link_displayText'
        extensionName:
          description: It provides the name of portal extension to produce link for
            given service health event.
          title: extensionName
          type: string
        parameters:
          description: It provides a map of parameter name and value for portal extension
            blade to produce lik for given service health event.
          properties: {}
          title: parameters
          type: object
        type:
          description: Type of link.
          enum:
          - Button
          - Hyperlink
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: LinkTypeValues
      title: link
      type: object
    operation:
      description: Operation available in the resourcehealth resource provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/operation_display'
        name:
          description: Name of the operation.
          title: name
          type: string
      title: operation
      type: object
    operationListResult:
      description: Lists the operations response.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: List of operations available in the resourcehealth resource
            provider.
          items:
            $ref: '#/components/schemas/operation'
          title: value
          type: array
      required:
      - value
      title: operationListResult
      type: object
    recommendedAction:
      description: Lists actions the user can take based on the current availabilityState
        of the resource.
      example:
        actionUrl: actionUrl
        action: action
        actionUrlText: actionUrlText
      properties:
        action:
          description: Recommended action.
          title: action
          type: string
        actionUrl:
          description: Link to the action
          title: actionUrl
          type: string
        actionUrlText:
          description: "Substring of action, it describes which text should host the\
            \ action url."
          title: actionUrlText
          type: string
      title: recommendedAction
      type: object
    serviceImpactingEvent:
      description: Lists the service impacting events that may be affecting the health
        of the resource.
      example:
        incidentProperties:
          service: service
          incidentType: incidentType
          region: region
          title: title
        eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
        correlationId: correlationId
        eventStartTime: 2000-01-23T04:56:07.000+00:00
        status:
          value: value
      properties:
        correlationId:
          description: Correlation id for the event
          title: correlationId
          type: string
        eventStartTime:
          description: Timestamp for when the event started.
          format: date-time
          title: eventStartTime
          type: string
        eventStatusLastModifiedTime:
          description: Timestamp for when event was submitted/detected.
          format: date-time
          title: eventStatusLastModifiedTime
          type: string
        incidentProperties:
          $ref: '#/components/schemas/serviceImpactingEvent_incidentProperties'
        status:
          $ref: '#/components/schemas/serviceImpactingEvent_status'
      title: serviceImpactingEvent
      type: object
    statusActiveEvent:
      description: Active event type of emerging issue.
      example:
        cloud: cloud
        severity: Information
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        stage: Active
        description: description
        startTime: 2000-01-23T04:56:07.000+00:00
        impacts:
        - regions:
          - name: name
            id: id
          - name: name
            id: id
          name: name
          id: id
        - regions:
          - name: name
            id: id
          - name: name
            id: id
          name: name
          id: id
        published: true
        title: title
        trackingId: trackingId
      properties:
        cloud:
          description: The cloud type of this active event.
          title: cloud
          type: string
        description:
          description: The details of active event.
          title: description
          type: string
        impacts:
          description: The list of emerging issues impacts.
          items:
            $ref: '#/components/schemas/emergingIssueImpact'
          title: impacts
          type: array
        lastModifiedTime:
          description: The last time modified on this banner.
          format: date-time
          title: lastModifiedTime
          type: string
        published:
          description: The boolean value of this active event if published or not.
          title: published
          type: boolean
        severity:
          description: The severity level of this active event.
          enum:
          - Information
          - Warning
          - Error
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: SeverityValues
        stage:
          description: The stage of this active event.
          enum:
          - Active
          - Resolve
          - Archived
          title: stage
          type: string
          x-ms-enum:
            modelAsString: true
            name: StageValues
        startTime:
          description: The impact start time on this active event.
          format: date-time
          title: startTime
          type: string
        title:
          description: The active event title.
          title: title
          type: string
        trackingId:
          description: The tracking id of this active event.
          title: trackingId
          type: string
      title: statusActiveEvent
      type: object
    statusBanner:
      description: Banner type of emerging issue.
      example:
        cloud: cloud
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        message: message
        title: title
      properties:
        cloud:
          description: The cloud type of this banner.
          title: cloud
          type: string
        lastModifiedTime:
          description: The last time modified on this banner.
          format: date-time
          title: lastModifiedTime
          type: string
        message:
          description: The details of banner.
          title: message
          type: string
        title:
          description: The banner title.
          title: title
          type: string
      title: statusBanner
      type: object
    update:
      description: Update for service health event.
      properties:
        summary:
          description: Summary text for the given update for the service health event.
          title: summary
          type: string
        updateDateTime:
          description: It provides the Timestamp for the given update for the service
            health event.
          format: date-time
          title: updateDateTime
          type: string
      title: update
      type: object
    availabilityStatus_properties_recentlyResolved:
      description: An annotation describing a change in the availabilityState to Available
        from Unavailable with a reasonType of type Unplanned
      example:
        unavailableOccurredTime: 2000-01-23T04:56:07.000+00:00
        resolvedTime: 2000-01-23T04:56:07.000+00:00
        unavailabilitySummary: unavailabilitySummary
      properties:
        resolvedTime:
          description: Timestamp when the availabilityState changes to Available.
          format: date-time
          title: resolvedTime
          type: string
        unavailabilitySummary:
          description: Brief description of cause of the resource becoming unavailable.
          title: unavailabilitySummary
          type: string
        unavailableOccurredTime:
          description: Timestamp for when the availabilityState changed to Unavailable
          format: date-time
          title: unavailableOccurredTime
          type: string
      title: availabilityStatus_properties_recentlyResolved
      type: object
    availabilityStatus_properties:
      description: Properties of availability state.
      example:
        summary: summary
        occuredTime: 2000-01-23T04:56:07.000+00:00
        rootCauseAttributionTime: 2000-01-23T04:56:07.000+00:00
        healthEventId: healthEventId
        recentlyResolved:
          unavailableOccurredTime: 2000-01-23T04:56:07.000+00:00
          resolvedTime: 2000-01-23T04:56:07.000+00:00
          unavailabilitySummary: unavailabilitySummary
        reasonType: reasonType
        reasonChronicity: Transient
        healthEventCategory: healthEventCategory
        availabilityState: Available
        detailedStatus: detailedStatus
        serviceImpactingEvents:
        - incidentProperties:
            service: service
            incidentType: incidentType
            region: region
            title: title
          eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
          correlationId: correlationId
          eventStartTime: 2000-01-23T04:56:07.000+00:00
          status:
            value: value
        - incidentProperties:
            service: service
            incidentType: incidentType
            region: region
            title: title
          eventStatusLastModifiedTime: 2000-01-23T04:56:07.000+00:00
          correlationId: correlationId
          eventStartTime: 2000-01-23T04:56:07.000+00:00
          status:
            value: value
        healthEventType: healthEventType
        recommendedActions:
        - actionUrl: actionUrl
          action: action
          actionUrlText: actionUrlText
        - actionUrl: actionUrl
          action: action
          actionUrlText: actionUrlText
        resolutionETA: 2000-01-23T04:56:07.000+00:00
        healthEventCause: healthEventCause
        reportedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        availabilityState:
          description: "Availability status of the resource. When it is null, this\
            \ availabilityStatus object represents an availability impacting event"
          enum:
          - Available
          - Unavailable
          - Degraded
          - Unknown
          title: availabilityState
          type: string
          x-ms-enum:
            modelAsString: true
            name: AvailabilityStateValues
        detailedStatus:
          description: Details of the availability status.
          title: detailedStatus
          type: string
        healthEventCategory:
          description: "In case of an availability impacting event, it describes the\
            \ category of a PlatformInitiated health impacting event. Examples are\
            \ Planned, Unplanned etc."
          title: healthEventCategory
          type: string
        healthEventCause:
          description: "In case of an availability impacting event, it describes where\
            \ the health impacting event was originated. Examples are PlatformInitiated,\
            \ UserInitiated etc."
          title: healthEventCause
          type: string
        healthEventId:
          description: It is a unique Id that identifies the event
          title: healthEventId
          type: string
        healthEventType:
          description: "In case of an availability impacting event, it describes when\
            \ the health impacting event was originated. Examples are Lifecycle, Downtime,\
[...]
