openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Converts audio to text by applying powerful neural network models.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Speech-to-Text API
  version: v1p1beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://speech.googleapis.com/$discovery/rest?version=v1p1beta1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: speech
externalDocs:
  url: https://cloud.google.com/speech-to-text/docs/quickstart-protocol
servers:
- url: https://speech.googleapis.com/
tags:
- name: operations
- name: projects
- name: speech
paths:
  /v1p1beta1/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: speech_operations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /v1p1beta1/operations/{name}:
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: speech_operations_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /v1p1beta1/speech:longrunningrecognize:
    post:
      description: "Performs asynchronous speech recognition: receive results via\
        \ the google.longrunning.Operations interface. Returns either an `Operation.error`\
        \ or an `Operation.response` which contains a `LongRunningRecognizeResponse`\
        \ message. For more information on asynchronous speech recognition, see the\
        \ [how-to](https://cloud.google.com/speech-to-text/docs/async-recognize)."
      operationId: speech_speech_longrunningrecognize
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LongRunningRecognizeRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - speech
      x-openapi-router-controller: openapi_server.controllers.speech_controller
      x-codegen-request-body-name: body
  /v1p1beta1/speech:recognize:
    post:
      description: "Performs synchronous speech recognition: receive results after\
        \ all audio has been sent and processed."
      operationId: speech_speech_recognize
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecognizeRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognizeResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - speech
      x-openapi-router-controller: openapi_server.controllers.speech_controller
      x-codegen-request-body-name: body
  /v1p1beta1/{name}:
    delete:
      description: Delete a phrase set.
      operationId: speech_projects_locations_phrase_sets_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the phrase set to delete. Format: `projects/{project}/locations/{location}/phraseSets/{phrase_set}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Get a phrase set.
      operationId: speech_projects_locations_phrase_sets_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the phrase set to retrieve. Format: `projects/{project}/locations/{location}/phraseSets/{phrase_set}`\
          \ Speech-to-Text supports three locations: `global`, `us` (US North America),\
          \ and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint,\
          \ use the `global` location. To specify a region, use a [regional endpoint](https://cloud.google.com/speech-to-text/docs/endpoints)\
          \ with matching `us` or `eu` location value."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhraseSet'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: Update a phrase set.
      operationId: speech_projects_locations_phrase_sets_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The resource name of the phrase set.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The list of fields to be updated.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhraseSet'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhraseSet'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1p1beta1/{parent}/customClasses:
    get:
      description: List custom classes.
      operationId: speech_projects_locations_custom_classes_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent, which owns this collection of custom classes.\
          \ Format: `projects/{project}/locations/{location}/customClasses` Speech-to-Text\
          \ supports three locations: `global`, `us` (US North America), and `eu`\
          \ (Europe). If you are calling the `speech.googleapis.com` endpoint, use\
          \ the `global` location. To specify a region, use a [regional endpoint](https://cloud.google.com/speech-to-text/docs/endpoints)\
          \ with matching `us` or `eu` location value."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of custom classes to return. The service\
          \ may return fewer than this value. If unspecified, at most 50 custom classes\
          \ will be returned. The maximum value is 1000; values above 1000 will be\
          \ coerced to 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListCustomClass` call.\
          \ Provide this to retrieve the subsequent page. When paginating, all other\
          \ parameters provided to `ListCustomClass` must match the call that provided\
          \ the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomClassesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Create a custom class.
      operationId: speech_projects_locations_custom_classes_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource where this custom class will be\
          \ created. Format: `projects/{project}/locations/{location}/customClasses`\
          \ Speech-to-Text supports three locations: `global`, `us` (US North America),\
          \ and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint,\
          \ use the `global` location. To specify a region, use a [regional endpoint](https://cloud.google.com/speech-to-text/docs/endpoints)\
          \ with matching `us` or `eu` location value."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomClassRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomClass'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1p1beta1/{parent}/phraseSets:
    get:
      description: List phrase sets.
      operationId: speech_projects_locations_phrase_sets_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent, which owns this collection of phrase set.\
          \ Format: `projects/{project}/locations/{location}` Speech-to-Text supports\
          \ three locations: `global`, `us` (US North America), and `eu` (Europe).\
          \ If you are calling the `speech.googleapis.com` endpoint, use the `global`\
          \ location. To specify a region, use a [regional endpoint](https://cloud.google.com/speech-to-text/docs/endpoints)\
          \ with matching `us` or `eu` location value."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of phrase sets to return. The service may\
          \ return fewer than this value. If unspecified, at most 50 phrase sets will\
          \ be returned. The maximum value is 1000; values above 1000 will be coerced\
          \ to 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListPhraseSet` call.\
          \ Provide this to retrieve the subsequent page. When paginating, all other\
          \ parameters provided to `ListPhraseSet` must match the call that provided\
          \ the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPhraseSetResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Create a set of phrase hints. Each item in the set can be a single
        word or a multi-word phrase. The items in the PhraseSet are favored by the
        recognition model when you send a call that includes the PhraseSet.
      operationId: speech_projects_locations_phrase_sets_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource where this phrase set will be\
          \ created. Format: `projects/{project}/locations/{location}` Speech-to-Text\
          \ supports three locations: `global`, `us` (US North America), and `eu`\
          \ (Europe). If you are calling the `speech.googleapis.com` endpoint, use\
          \ the `global` location. To specify a region, use a [regional endpoint](https://cloud.google.com/speech-to-text/docs/endpoints)\
          \ with matching `us` or `eu` location value."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePhraseSetRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhraseSet'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    ABNFGrammar:
      example:
        abnfStrings:
        - abnfStrings
        - abnfStrings
      properties:
        abnfStrings:
          description: All declarations and rules of an ABNF grammar broken up into
            multiple strings that will end up concatenated.
          items:
            type: string
          title: abnfStrings
          type: array
      title: ABNFGrammar
      type: object
    ClassItem:
      description: An item of the class.
      example:
        value: value
      properties:
        value:
          description: The class item's value.
          title: value
          type: string
      title: ClassItem
      type: object
    CreateCustomClassRequest:
      description: Message sent by the client for the `CreateCustomClass` method.
      example:
        customClassId: customClassId
        customClass:
          displayName: displayName
          customClassId: customClassId
          annotations:
            key: annotations
          reconciling: true
          kmsKeyName: kmsKeyName
          uid: uid
          expireTime: expireTime
          deleteTime: deleteTime
          name: name
          etag: etag
          state: STATE_UNSPECIFIED
          items:
          - value: value
          - value: value
          kmsKeyVersionName: kmsKeyVersionName
      properties:
        customClass:
          $ref: '#/components/schemas/CustomClass'
        customClassId:
          description: "Required. The ID to use for the custom class, which will become\
            \ the final component of the custom class' resource name. This value should\
            \ restrict to letters, numbers, and hyphens, with the first character\
            \ a letter, the last a letter or a number, and be 4-63 characters."
          title: customClassId
          type: string
      title: CreateCustomClassRequest
      type: object
    CreatePhraseSetRequest:
      description: Message sent by the client for the `CreatePhraseSet` method.
      example:
        phraseSetId: phraseSetId
        phraseSet:
          displayName: displayName
          annotations:
            key: annotations
          reconciling: true
          kmsKeyName: kmsKeyName
          uid: uid
          expireTime: expireTime
          deleteTime: deleteTime
          name: name
          boost: 0.8008282
          etag: etag
          state: STATE_UNSPECIFIED
          phrases:
          - boost: 6.0274563
            value: value
          - boost: 6.0274563
            value: value
          kmsKeyVersionName: kmsKeyVersionName
      properties:
        phraseSet:
          $ref: '#/components/schemas/PhraseSet'
        phraseSetId:
          description: "Required. The ID to use for the phrase set, which will become\
            \ the final component of the phrase set's resource name. This value should\
            \ restrict to letters, numbers, and hyphens, with the first character\
            \ a letter, the last a letter or a number, and be 4-63 characters."
          title: phraseSetId
          type: string
      title: CreatePhraseSetRequest
      type: object
    CustomClass:
      description: "A set of words or phrases that represents a common concept likely\
        \ to appear in your audio, for example a list of passenger ship names. CustomClass\
        \ items can be substituted into placeholders that you set in PhraseSet phrases."
      example:
        displayName: displayName
        customClassId: customClassId
        annotations:
          key: annotations
        reconciling: true
        kmsKeyName: kmsKeyName
        uid: uid
        expireTime: expireTime
        deleteTime: deleteTime
        name: name
        etag: etag
        state: STATE_UNSPECIFIED
        items:
        - value: value
        - value: value
        kmsKeyVersionName: kmsKeyVersionName
      properties:
        annotations:
          additionalProperties:
            type: string
          description: Output only. Allows users to store small amounts of arbitrary
            data. Both the key and the value must be 63 characters or less each. At
            most 100 annotations. This field is not used.
          readOnly: true
          title: annotations
          type: object
        customClassId:
          description: "If this custom class is a resource, the custom_class_id is\
            \ the resource id of the CustomClass. Case sensitive."
          title: customClassId
          type: string
        deleteTime:
          description: Output only. The time at which this resource was requested
            for deletion. This field is not used.
          format: google-datetime
          readOnly: true
          title: deleteTime
          type: string
        displayName:
          description: "Output only. User-settable, human-readable name for the CustomClass.\
            \ Must be 63 characters or less. This field is not used."
          readOnly: true
          title: displayName
          type: string
        etag:
          description: "Output only. This checksum is computed by the server based\
            \ on the value of other fields. This may be sent on update, undelete,\
            \ and delete requests to ensure the client has an up-to-date value before\
            \ proceeding. This field is not used."
          readOnly: true
          title: etag
          type: string
        expireTime:
          description: Output only. The time at which this resource will be purged.
            This field is not used.
          format: google-datetime
          readOnly: true
          title: expireTime
          type: string
        items:
          description: A collection of class items.
          items:
            $ref: '#/components/schemas/ClassItem'
          title: items
          type: array
        kmsKeyName:
          description: "Output only. The [KMS key name](https://cloud.google.com/kms/docs/resource-hierarchy#keys)\
            \ with which the content of the ClassItem is encrypted. The expected format\
            \ is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
          readOnly: true
          title: kmsKeyName
          type: string
        kmsKeyVersionName:
          description: "Output only. The [KMS key version name](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions)\
            \ with which content of the ClassItem is encrypted. The expected format\
            \ is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`."
          readOnly: true
          title: kmsKeyVersionName
          type: string
        name:
          description: The resource name of the custom class.
          title: name
          type: string
        reconciling:
          description: Output only. Whether or not this CustomClass is in the process
            of being updated. This field is not used.
          readOnly: true
          title: reconciling
          type: boolean
        state:
          description: Output only. The CustomClass lifecycle state. This field is
            not used.
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          - DELETED
          readOnly: true
          title: state
          type: string
        uid:
          description: Output only. System-assigned unique identifier for the CustomClass.
            This field is not used.
          readOnly: true
          title: uid
          type: string
      title: CustomClass
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Entry:
      description: A single replacement configuration.
      example:
        search: search
        caseSensitive: true
        replace: replace
      properties:
        caseSensitive:
          description: Whether the search is case sensitive.
          title: caseSensitive
          type: boolean
        replace:
          description: What to replace with. Max length is 100 characters.
          title: replace
          type: string
        search:
          description: What to replace. Max length is 100 characters.
          title: search
          type: string
      title: Entry
      type: object
    ListCustomClassesResponse:
      description: Message returned to the client by the `ListCustomClasses` method.
      example:
        customClasses:
        - displayName: displayName
          customClassId: customClassId
          annotations:
            key: annotations
          reconciling: true
          kmsKeyName: kmsKeyName
          uid: uid
          expireTime: expireTime
          deleteTime: deleteTime
          name: name
          etag: etag
          state: STATE_UNSPECIFIED
          items:
          - value: value
          - value: value
          kmsKeyVersionName: kmsKeyVersionName
        - displayName: displayName
          customClassId: customClassId
          annotations:
            key: annotations
          reconciling: true
          kmsKeyName: kmsKeyName
          uid: uid
          expireTime: expireTime
          deleteTime: deleteTime
          name: name
          etag: etag
          state: STATE_UNSPECIFIED
          items:
          - value: value
          - value: value
          kmsKeyVersionName: kmsKeyVersionName
        nextPageToken: nextPageToken
      properties:
        customClasses:
          description: The custom classes.
          items:
            $ref: '#/components/schemas/CustomClass'
          title: customClasses
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
      title: ListCustomClassesResponse
      type: object
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      example:
        operations:
        - metadata:
            key: ""
          response:
            key: ""
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
        - metadata:
            key: ""
          response:
            key: ""
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: The standard List next-page token.
          title: nextPageToken
          type: string
        operations:
          description: A list of operations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/Operation'
          title: operations
          type: array
      title: ListOperationsResponse
      type: object
    ListPhraseSetResponse:
      description: Message returned to the client by the `ListPhraseSet` method.
      example:
        nextPageToken: nextPageToken
        phraseSets:
        - displayName: displayName
          annotations:
            key: annotations
          reconciling: true
          kmsKeyName: kmsKeyName
          uid: uid
          expireTime: expireTime
          deleteTime: deleteTime
          name: name
          boost: 0.8008282
          etag: etag
          state: STATE_UNSPECIFIED
          phrases:
          - boost: 6.0274563
            value: value
          - boost: 6.0274563
            value: value
          kmsKeyVersionName: kmsKeyVersionName
        - displayName: displayName
          annotations:
            key: annotations
          reconciling: true
          kmsKeyName: kmsKeyName
          uid: uid
          expireTime: expireTime
          deleteTime: deleteTime
          name: name
          boost: 0.8008282
          etag: etag
          state: STATE_UNSPECIFIED
          phrases:
          - boost: 6.0274563
            value: value
          - boost: 6.0274563
            value: value
          kmsKeyVersionName: kmsKeyVersionName
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
        phraseSets:
          description: The phrase set.
          items:
            $ref: '#/components/schemas/PhraseSet'
          title: phraseSets
          type: array
      title: ListPhraseSetResponse
      type: object
    LongRunningRecognizeMetadata:
      description: Describes the progress of a long-running `LongRunningRecognize`
        call. It is included in the `metadata` field of the `Operation` returned by
        the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        lastUpdateTime:
          description: Time of the most recent processing update.
          format: google-datetime
          type: string
        outputConfig:
          $ref: '#/components/schemas/TranscriptOutputConfig'
        progressPercent:
          description: Approximate percentage of audio processed thus far. Guaranteed
            to be 100 when the audio is fully processed and the results are available.
          format: int32
          type: integer
        startTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        uri:
          description: Output only. The URI of the audio file being transcribed. Empty
            if the audio was sent as byte content.
          readOnly: true
          type: string
      type: object
    LongRunningRecognizeRequest:
      description: The top-level message sent by the client for the `LongRunningRecognize`
        method.
      example:
        outputConfig:
          gcsUri: gcsUri
        audio:
          uri: uri
          content: content
        config:
          enableWordConfidence: true
          diarizationConfig:
            enableSpeakerDiarization: true
            speakerTag: 2
            maxSpeakerCount: 5
            minSpeakerCount: 5
          maxAlternatives: 9
          metadata:
            audioTopic: audioTopic
            interactionType: INTERACTION_TYPE_UNSPECIFIED
            originalMimeType: originalMimeType
            recordingDeviceName: recordingDeviceName
            industryNaicsCodeOfAudio: 3
            obfuscatedId: obfuscatedId
            microphoneDistance: MICROPHONE_DISTANCE_UNSPECIFIED
            originalMediaType: ORIGINAL_MEDIA_TYPE_UNSPECIFIED
            recordingDeviceType: RECORDING_DEVICE_TYPE_UNSPECIFIED
          enableSpeakerDiarization: true
          speechContexts:
          - boost: 4.145608
            phrases:
            - phrases
            - phrases
          - boost: 4.145608
            phrases:
            - phrases
            - phrases
          adaptation:
            customClasses:
            - displayName: displayName
              customClassId: customClassId
              annotations:
                key: annotations
              reconciling: true
              kmsKeyName: kmsKeyName
              uid: uid
              expireTime: expireTime
              deleteTime: deleteTime
              name: name
              etag: etag
              state: STATE_UNSPECIFIED
              items:
              - value: value
              - value: value
              kmsKeyVersionName: kmsKeyVersionName
            - displayName: displayName
              customClassId: customClassId
              annotations:
                key: annotations
              reconciling: true
              kmsKeyName: kmsKeyName
              uid: uid
              expireTime: expireTime
              deleteTime: deleteTime
              name: name
              etag: etag
              state: STATE_UNSPECIFIED
              items:
              - value: value
              - value: value
              kmsKeyVersionName: kmsKeyVersionName
            phraseSetReferences:
            - phraseSetReferences
            - phraseSetReferences
            phraseSets:
            - displayName: displayName
              annotations:
                key: annotations
              reconciling: true
              kmsKeyName: kmsKeyName
              uid: uid
              expireTime: expireTime
              deleteTime: deleteTime
              name: name
              boost: 0.8008282
              etag: etag
              state: STATE_UNSPECIFIED
              phrases:
              - boost: 6.0274563
                value: value
              - boost: 6.0274563
                value: value
              kmsKeyVersionName: kmsKeyVersionName
            - displayName: displayName
              annotations:
                key: annotations
              reconciling: true
              kmsKeyName: kmsKeyName
              uid: uid
              expireTime: expireTime
              deleteTime: deleteTime
              name: name
              boost: 0.8008282
              etag: etag
              state: STATE_UNSPECIFIED
              phrases:
              - boost: 6.0274563
                value: value
              - boost: 6.0274563
                value: value
              kmsKeyVersionName: kmsKeyVersionName
            abnfGrammar:
              abnfStrings:
              - abnfStrings
              - abnfStrings
          profanityFilter: true
          encoding: ENCODING_UNSPECIFIED
          languageCode: languageCode
          enableWordTimeOffsets: true
          audioChannelCount: 1
          sampleRateHertz: 2
          transcriptNormalization:
            entries:
            - search: search
              caseSensitive: true
              replace: replace
            - search: search
              caseSensitive: true
              replace: replace
          alternativeLanguageCodes:
          - alternativeLanguageCodes
          - alternativeLanguageCodes
          enableSpokenEmojis: true
          enableSeparateRecognitionPerChannel: true
          enableSpokenPunctuation: true
          useEnhanced: true
          enableAutomaticPunctuation: true
          model: model
          diarizationSpeakerCount: 7
      properties:
        audio:
          $ref: '#/components/schemas/RecognitionAudio'
        config:
          $ref: '#/components/schemas/RecognitionConfig'
        outputConfig:
          $ref: '#/components/schemas/TranscriptOutputConfig'
      title: LongRunningRecognizeRequest
      type: object
    LongRunningRecognizeResponse:
      description: The only message returned to the client by the `LongRunningRecognize`
        method. It contains the result as zero or more sequential `SpeechRecognitionResult`
        messages. It is included in the `result.response` field of the `Operation`
        returned by the `GetOperation` call of the `google::longrunning::Operations`
        service.
      properties:
        outputConfig:
          $ref: '#/components/schemas/TranscriptOutputConfig'
        outputError:
          $ref: '#/components/schemas/Status'
        requestId:
          description: The ID associated with the request. This is a unique ID specific
            only to the given request.
          format: int64
          type: string
        results:
          description: Sequential list of transcription results corresponding to sequential
            portions of audio.
          items:
            $ref: '#/components/schemas/SpeechRecognitionResult'
          type: array
        speechAdaptationInfo:
          $ref: '#/components/schemas/SpeechAdaptationInfo'
        totalBilledTime:
          description: "When available, billed audio seconds for the corresponding\
            \ request."
          format: google-duration
          type: string
      type: object
    Operation:
      description: This resource represents a long-running operation that is the result
        of a network API call.
      example:
        metadata:
          key: ""
        response:
          key: ""
        name: name
        error:
          code: 0
          details:
          - key: ""
          - key: ""
          message: message
        done: true
      properties:
        done:
          description: "If the value is `false`, it means the operation is still in\
            \ progress. If `true`, the operation is completed, and either `error`\
            \ or `response` is available."
          title: done
          type: boolean
        error:
          $ref: '#/components/schemas/Status'
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "Service-specific metadata associated with the operation. It\
            \ typically contains progress information and common metadata such as\
            \ create time. Some services might not provide such metadata. Any method\
            \ that returns a long-running operation should document the metadata type,\
            \ if any."
          title: metadata
          type: object
        name:
          description: "The server-assigned name, which is only unique within the\
            \ same service that originally returns it. If you use the default HTTP\
            \ mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          title: name
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "The normal, successful response of the operation. If the original\
            \ method returns no data on success, such as `Delete`, the response is\
            \ `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`,\
            \ the response should be the resource. For other methods, the response\
            \ should have the type `XxxResponse`, where `Xxx` is the original method\
            \ name. For example, if the original method name is `TakeSnapshot()`,\
            \ the inferred response type is `TakeSnapshotResponse`."
          title: response
          type: object
      title: Operation
      type: object
    Phrase:
      description: "A phrases containing words and phrase \"hints\" so that the speech\
        \ recognition is more likely to recognize them. This can be used to improve\
        \ the accuracy for specific words and phrases, for example, if specific commands\
        \ are typically spoken by the user. This can also be used to add additional\
        \ words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech-to-text/quotas#content).\
        \ List items can also include pre-built or custom classes containing groups\
        \ of words that represent common concepts that occur in natural language.\
        \ For example, rather than providing a phrase hint for every month of the\
        \ year (e.g. \"i was born in january\", \"i was born in febuary\", ...), use\
        \ the pre-built `$MONTH` class improves the likelihood of correctly transcribing\
        \ audio that includes months (e.g. \"i was born in $month\"). To refer to\
        \ pre-built classes, use the class' symbol prepended with `$` e.g. `$MONTH`.\
        \ To refer to custom classes that were defined inline in the request, set\
        \ the class's `custom_class_id` to a string unique to all class resources\
        \ and inline classes. Then use the class' id wrapped in $`{...}` e.g. \"${my-months}\"\
        . To refer to custom classes resources, use the class' id wrapped in `${}`\
        \ (e.g. `${my-months}`). Speech-to-Text supports three locations: `global`,\
        \ `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com`\
        \ endpoint, use the `global` location. To specify a region, use a [regional\
        \ endpoint](https://cloud.google.com/speech-to-text/docs/endpoints) with matching\
        \ `us` or `eu` location value."
      example:
        boost: 6.0274563
        value: value
      properties:
        boost:
          description: "Hint Boost. Overrides the boost set at the phrase set level.\
            \ Positive value will increase the probability that a specific phrase\
            \ will be recognized over other similar sounding phrases. The higher the\
            \ boost, the higher the chance of false positive recognition as well.\
            \ Negative boost will simply be ignored. Though `boost` can accept a wide\
            \ range of positive values, most use cases are best served with values\
            \ between 0 and 20. We recommend using a binary search approach to finding\
            \ the optimal value for your use case as well as adding phrases both with\
            \ and without boost to your requests."
          format: float
          title: boost
          type: number
        value:
          description: The phrase itself.
          title: value
          type: string
      title: Phrase
      type: object
    PhraseSet:
      description: Provides "hints" to the speech recognizer to favor specific words
        and phrases in the results.
      example:
        displayName: displayName
        annotations:
          key: annotations
        reconciling: true
        kmsKeyName: kmsKeyName
        uid: uid
        expireTime: expireTime
        deleteTime: deleteTime
        name: name
        boost: 0.8008282
        etag: etag
        state: STATE_UNSPECIFIED
        phrases:
        - boost: 6.0274563
          value: value
        - boost: 6.0274563
          value: value
        kmsKeyVersionName: kmsKeyVersionName
      properties:
        annotations:
          additionalProperties:
            type: string
          description: Output only. Allows users to store small amounts of arbitrary
            data. Both the key and the value must be 63 characters or less each. At
            most 100 annotations. This field is not used.
          readOnly: true
          title: annotations
          type: object
        boost:
          description: "Hint Boost. Positive value will increase the probability that\
            \ a specific phrase will be recognized over other similar sounding phrases.\
            \ The higher the boost, the higher the chance of false positive recognition\
            \ as well. Negative boost values would correspond to anti-biasing. Anti-biasing\
            \ is not enabled, so negative boost will simply be ignored. Though `boost`\
            \ can accept a wide range of positive values, most use cases are best\
            \ served with values between 0 (exclusive) and 20. We recommend using\
            \ a binary search approach to finding the optimal value for your use case\
            \ as well as adding phrases both with and without boost to your requests."
          format: float
          title: boost
          type: number
        deleteTime:
          description: Output only. The time at which this resource was requested
            for deletion. This field is not used.
          format: google-datetime
          readOnly: true
          title: deleteTime
          type: string
        displayName:
          description: "Output only. User-settable, human-readable name for the PhraseSet.\
            \ Must be 63 characters or less. This field is not used."
          readOnly: true
          title: displayName
          type: string
        etag:
          description: "Output only. This checksum is computed by the server based\
            \ on the value of other fields. This may be sent on update, undelete,\
            \ and delete requests to ensure the client has an up-to-date value before\
            \ proceeding. This field is not used."
          readOnly: true
          title: etag
          type: string
        expireTime:
          description: Output only. The time at which this resource will be purged.
            This field is not used.
          format: google-datetime
          readOnly: true
          title: expireTime
          type: string
        kmsKeyName:
          description: "Output only. The [KMS key name](https://cloud.google.com/kms/docs/resource-hierarchy#keys)\
            \ with which the content of the PhraseSet is encrypted. The expected format\
            \ is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
          readOnly: true
          title: kmsKeyName
          type: string
        kmsKeyVersionName:
          description: "Output only. The [KMS key version name](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions)\
            \ with which content of the PhraseSet is encrypted. The expected format\
            \ is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`."
          readOnly: true
          title: kmsKeyVersionName
          type: string
        name:
          description: The resource name of the phrase set.
          title: name
          type: string
        phrases:
          description: A list of word and phrases.
          items:
            $ref: '#/components/schemas/Phrase'
          title: phrases
          type: array
        reconciling:
          description: Output only. Whether or not this PhraseSet is in the process
            of being updated. This field is not used.
          readOnly: true
          title: reconciling
          type: boolean
        state:
          description: Output only. The CustomClass lifecycle state. This field is
            not used.
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          - DELETED
          readOnly: true
          title: state
          type: string
        uid:
          description: Output only. System-assigned unique identifier for the PhraseSet.
            This field is not used.
          readOnly: true
          title: uid
          type: string
      title: PhraseSet
      type: object
    RecognitionAudio:
      description: "Contains audio data in the encoding specified in the `RecognitionConfig`.\
        \ Either `content` or `uri` must be supplied. Supplying both or neither returns\
        \ google.rpc.Code.INVALID_ARGUMENT. See [content limits](https://cloud.google.com/speech-to-text/quotas#content)."
      example:
        uri: uri
        content: content
      properties:
        content:
          description: "The audio data bytes encoded as specified in `RecognitionConfig`.\
            \ Note: as with all bytes fields, proto buffers use a pure binary representation,\
            \ whereas JSON representations use base64."
          format: byte
          title: content
          type: string
        uri:
          description: "URI that points to a file that contains audio data bytes as\
            \ specified in `RecognitionConfig`. The file must not be compressed (for\
            \ example, gzip). Currently, only Google Cloud Storage URIs are supported,\
            \ which must be specified in the following format: `gs://bucket_name/object_name`\
            \ (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more\
            \ information, see [Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
          title: uri
          type: string
      title: RecognitionAudio
      type: object
    RecognitionConfig:
      description: Provides information to the recognizer that specifies how to process
        the request.
      example:
        enableWordConfidence: true
        diarizationConfig:
          enableSpeakerDiarization: true
          speakerTag: 2
          maxSpeakerCount: 5
          minSpeakerCount: 5
        maxAlternatives: 9
        metadata:
          audioTopic: audioTopic
          interactionType: INTERACTION_TYPE_UNSPECIFIED
          originalMimeType: originalMimeType
          recordingDeviceName: recordingDeviceName
          industryNaicsCodeOfAudio: 3
          obfuscatedId: obfuscatedId
          microphoneDistance: MICROPHONE_DISTANCE_UNSPECIFIED
          originalMediaType: ORIGINAL_MEDIA_TYPE_UNSPECIFIED
          recordingDeviceType: RECORDING_DEVICE_TYPE_UNSPECIFIED
        enableSpeakerDiarization: true
        speechContexts:
        - boost: 4.145608
          phrases:
          - phrases
          - phrases
        - boost: 4.145608
          phrases:
          - phrases
          - phrases
        adaptation:
          customClasses:
          - displayName: displayName
            customClassId: customClassId
            annotations:
              key: annotations
            reconciling: true
            kmsKeyName: kmsKeyName
            uid: uid
            expireTime: expireTime
            deleteTime: deleteTime
            name: name
            etag: etag
            state: STATE_UNSPECIFIED
            items:
            - value: value
            - value: value
            kmsKeyVersionName: kmsKeyVersionName
          - displayName: displayName
            customClassId: customClassId
            annotations:
              key: annotations
            reconciling: true
            kmsKeyName: kmsKeyName
            uid: uid
            expireTime: expireTime
            deleteTime: deleteTime
            name: name
            etag: etag
            state: STATE_UNSPECIFIED
            items:
            - value: value
            - value: value
            kmsKeyVersionName: kmsKeyVersionName
          phraseSetReferences:
          - phraseSetReferences
          - phraseSetReferences
          phraseSets:
          - displayName: displayName
            annotations:
              key: annotations
            reconciling: true
            kmsKeyName: kmsKeyName
            uid: uid
            expireTime: expireTime
            deleteTime: deleteTime
            name: name
            boost: 0.8008282
            etag: etag
            state: STATE_UNSPECIFIED
            phrases:
            - boost: 6.0274563
              value: value
            - boost: 6.0274563
              value: value
            kmsKeyVersionName: kmsKeyVersionName
          - displayName: displayName
            annotations:
              key: annotations
            reconciling: true
            kmsKeyName: kmsKeyName
            uid: uid
            expireTime: expireTime
            deleteTime: deleteTime
            name: name
            boost: 0.8008282
            etag: etag
            state: STATE_UNSPECIFIED
            phrases:
            - boost: 6.0274563
              value: value
            - boost: 6.0274563
              value: value
            kmsKeyVersionName: kmsKeyVersionName
          abnfGrammar:
            abnfStrings:
            - abnfStrings
            - abnfStrings
        profanityFilter: true
        encoding: ENCODING_UNSPECIFIED
        languageCode: languageCode
        enableWordTimeOffsets: true
        audioChannelCount: 1
        sampleRateHertz: 2
        transcriptNormalization:
          entries:
          - search: search
            caseSensitive: true
            replace: replace
          - search: search
            caseSensitive: true
            replace: replace
        alternativeLanguageCodes:
        - alternativeLanguageCodes
        - alternativeLanguageCodes
        enableSpokenEmojis: true
        enableSeparateRecognitionPerChannel: true
        enableSpokenPunctuation: true
        useEnhanced: true
        enableAutomaticPunctuation: true
        model: model
        diarizationSpeakerCount: 7
      properties:
        adaptation:
          $ref: '#/components/schemas/SpeechAdaptation'
        alternativeLanguageCodes:
          description: "A list of up to 3 additional [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\
            \ language tags, listing possible alternative languages of the supplied\
            \ audio. See [Language Support](https://cloud.google.com/speech-to-text/docs/languages)\
            \ for a list of the currently supported language codes. If alternative\
            \ languages are listed, recognition result will contain recognition in\
            \ the most likely language detected including the main language_code.\
            \ The recognition result will include the language tag of the language\
            \ detected in the audio. Note: This feature is only supported for Voice\
            \ Command and Voice Search use cases and performance may vary for other\
            \ use cases (e.g., phone call transcription)."
          items:
            type: string
          title: alternativeLanguageCodes
          type: array
        audioChannelCount:
          description: "The number of channels in the input audio data. ONLY set this\
            \ for MULTI-CHANNEL recognition. Valid values for LINEAR16, OGG_OPUS and\
            \ FLAC are `1`-`8`. Valid value for MULAW, AMR, AMR_WB and SPEEX_WITH_HEADER_BYTE\
            \ is only `1`. If `0` or omitted, defaults to one channel (mono). Note:\
            \ We only recognize the first channel by default. To perform independent\
            \ recognition on each channel set `enable_separate_recognition_per_channel`\
            \ to 'true'."
          format: int32
          title: audioChannelCount
          type: integer
        diarizationConfig:
          $ref: '#/components/schemas/SpeakerDiarizationConfig'
        diarizationSpeakerCount:
          deprecated: true
          description: "If set, specifies the estimated number of speakers in the\
            \ conversation. Defaults to '2'. Ignored unless enable_speaker_diarization\
            \ is set to true. Note: Use diarization_config instead."
          format: int32
          title: diarizationSpeakerCount
          type: integer
        enableAutomaticPunctuation:
          description: "If 'true', adds punctuation to recognition result hypotheses.\
            \ This feature is only available in select languages. Setting this for\
            \ requests in other languages has no effect at all. The default 'false'\
            \ value does not add punctuation to result hypotheses."
          title: enableAutomaticPunctuation
          type: boolean
        enableSeparateRecognitionPerChannel:
          description: "This needs to be set to `true` explicitly and `audio_channel_count`\
            \ > 1 to get each channel recognized separately. The recognition result\
            \ will contain a `channel_tag` field to state which channel that result\
            \ belongs to. If this is not true, we will only recognize the first channel.\
            \ The request is billed cumulatively for all channels recognized: `audio_channel_count`\
            \ multiplied by the length of the audio."
          title: enableSeparateRecognitionPerChannel
          type: boolean
        enableSpeakerDiarization:
          deprecated: true
          description: "If 'true', enables speaker detection for each recognized word\
            \ in the top alternative of the recognition result using a speaker_label\
            \ provided in the WordInfo. Note: Use diarization_config instead."
          title: enableSpeakerDiarization
          type: boolean
        enableSpokenEmojis:
          description: "The spoken emoji behavior for the call If not set, uses default\
            \ behavior based on model of choice If 'true', adds spoken emoji formatting\
            \ for the request. This will replace spoken emojis with the corresponding\
            \ Unicode symbols in the final transcript. If 'false', spoken emojis are\
            \ not replaced."
          title: enableSpokenEmojis
          type: boolean
        enableSpokenPunctuation:
          description: "The spoken punctuation behavior for the call If not set, uses\
            \ default behavior based on model of choice e.g. command_and_search will\
            \ enable spoken punctuation by default If 'true', replaces spoken punctuation\
            \ with the corresponding symbols in the request. For example, \"how are\
            \ you question mark\" becomes \"how are you?\". See https://cloud.google.com/speech-to-text/docs/spoken-punctuation\
            \ for support. If 'false', spoken punctuation is not replaced."
          title: enableSpokenPunctuation
          type: boolean
        enableWordConfidence:
          description: "If `true`, the top result includes a list of words and the\
            \ confidence for those words. If `false`, no word-level confidence information\
            \ is returned. The default is `false`."
          title: enableWordConfidence
          type: boolean
        enableWordTimeOffsets:
          description: "If `true`, the top result includes a list of words and the\
            \ start and end time offsets (timestamps) for those words. If `false`,\
            \ no word-level time offset information is returned. The default is `false`."
          title: enableWordTimeOffsets
          type: boolean
        encoding:
          description: "Encoding of audio data sent in all `RecognitionAudio` messages.\
            \ This field is optional for `FLAC` and `WAV` audio files and required\
            \ for all other audio formats. For details, see AudioEncoding."
          enum:
          - ENCODING_UNSPECIFIED
          - LINEAR16
          - FLAC
          - MULAW
          - AMR
          - AMR_WB
          - OGG_OPUS
          - SPEEX_WITH_HEADER_BYTE
          - MP3
          - WEBM_OPUS
          title: encoding
          type: string
        languageCode:
          description: "Required. The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\
            \ language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech-to-text/docs/languages)\
            \ for a list of the currently supported language codes."
          title: languageCode
          type: string
        maxAlternatives:
          description: "Maximum number of recognition hypotheses to be returned. Specifically,\
            \ the maximum number of `SpeechRecognitionAlternative` messages within\
            \ each `SpeechRecognitionResult`. The server may return fewer than `max_alternatives`.\
            \ Valid values are `0`-`30`. A value of `0` or `1` will return a maximum\
            \ of one. If omitted, will return a maximum of one."
          format: int32
          title: maxAlternatives
          type: integer
        metadata:
          $ref: '#/components/schemas/RecognitionMetadata'
        model:
          description: "Which model to select for the given request. Select the model\
            \ best suited to your domain to get best results. If a model is not explicitly\
            \ specified, then we auto-select a model based on the parameters in the\
            \ RecognitionConfig. *Model* *Description* latest_long Best for long form\
            \ content like media or conversation. latest_short Best for short form\
            \ content like commands or single shot directed speech. command_and_search\
            \ Best for short queries such as voice commands or voice search. phone_call\
            \ Best for audio that originated from a phone call (typically recorded\
            \ at an 8khz sampling rate). video Best for audio that originated from\
            \ video or includes multiple speakers. Ideally the audio is recorded at\
            \ a 16khz or greater sampling rate. This is a premium model that costs\
            \ more than the standard rate. default Best for audio that is not one\
            \ of the specific audio models. For example, long-form audio. Ideally\
            \ the audio is high-fidelity, recorded at a 16khz or greater sampling\
            \ rate. medical_conversation Best for audio that originated from a conversation\
            \ between a medical provider and patient. medical_dictation Best for audio\
            \ that originated from dictation notes by a medical provider. "
          title: model
          type: string
        profanityFilter:
          description: "If set to `true`, the server will attempt to filter out profanities,\
            \ replacing all but the initial character in each filtered word with asterisks,\
            \ e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered\
            \ out."
          title: profanityFilter
          type: boolean
        sampleRateHertz:
          description: "Sample rate in Hertz of the audio data sent in all `RecognitionAudio`\
            \ messages. Valid values are: 8000-48000. 16000 is optimal. For best results,\
            \ set the sampling rate of the audio source to 16000 Hz. If that's not\
            \ possible, use the native sample rate of the audio source (instead of\
            \ re-sampling). This field is optional for FLAC and WAV audio files, but\
            \ is required for all other audio formats. For details, see AudioEncoding."
          format: int32
          title: sampleRateHertz
          type: integer
        speechContexts:
          description: "Array of SpeechContext. A means to provide context to assist\
            \ the speech recognition. For more information, see [speech adaptation](https://cloud.google.com/speech-to-text/docs/adaptation)."
          items:
            $ref: '#/components/schemas/SpeechContext'
          title: speechContexts
          type: array
        transcriptNormalization:
          $ref: '#/components/schemas/TranscriptNormalization'
        useEnhanced:
          description: "Set to true to use an enhanced model for speech recognition.\
            \ If `use_enhanced` is set to true and the `model` field is not set, then\
            \ an appropriate enhanced model is chosen if an enhanced model exists\
            \ for the audio. If `use_enhanced` is true and an enhanced version of\
            \ the specified model does not exist, then the speech is recognized using\
            \ the standard version of the specified model."
          title: useEnhanced
          type: boolean
      title: RecognitionConfig
      type: object
    RecognitionMetadata:
      deprecated: true
      description: Description of audio data to be recognized.
      example:
        audioTopic: audioTopic
        interactionType: INTERACTION_TYPE_UNSPECIFIED
        originalMimeType: originalMimeType
        recordingDeviceName: recordingDeviceName
        industryNaicsCodeOfAudio: 3
        obfuscatedId: obfuscatedId
        microphoneDistance: MICROPHONE_DISTANCE_UNSPECIFIED
        originalMediaType: ORIGINAL_MEDIA_TYPE_UNSPECIFIED
        recordingDeviceType: RECORDING_DEVICE_TYPE_UNSPECIFIED
      properties:
        audioTopic:
          description: Description of the content. Eg. "Recordings of federal supreme
            court hearings from 2012".
          title: audioTopic
          type: string
        industryNaicsCodeOfAudio:
          description: The industry vertical to which this speech recognition request
            most closely applies. This is most indicative of the topics contained
            in the audio. Use the 6-digit NAICS code to identify the industry vertical
            - see https://www.naics.com/search/.
          format: uint32
          title: industryNaicsCodeOfAudio
          type: integer
        interactionType:
          description: The use case most closely describing the audio content to be
            recognized.
          enum:
          - INTERACTION_TYPE_UNSPECIFIED
          - DISCUSSION
          - PRESENTATION
          - PHONE_CALL
          - VOICEMAIL
          - PROFESSIONALLY_PRODUCED
          - VOICE_SEARCH
          - VOICE_COMMAND
          - DICTATION
          title: interactionType
          type: string
        microphoneDistance:
          description: The audio type that most closely describes the audio being
            recognized.
          enum:
          - MICROPHONE_DISTANCE_UNSPECIFIED
          - NEARFIELD
          - MIDFIELD
          - FARFIELD
          title: microphoneDistance
          type: string
        obfuscatedId:
          deprecated: true
          description: "Obfuscated (privacy-protected) ID of the user, to identify\
            \ number of unique users using the service."
          format: int64
          title: obfuscatedId
          type: string
        originalMediaType:
          description: The original media the speech was recorded on.
          enum:
          - ORIGINAL_MEDIA_TYPE_UNSPECIFIED
          - AUDIO
          - VIDEO
          title: originalMediaType
          type: string
        originalMimeType:
          description: "Mime type of the original audio file. For example `audio/m4a`,\
            \ `audio/x-alaw-basic`, `audio/mp3`, `audio/3gpp`. A list of possible\
            \ audio mime types is maintained at http://www.iana.org/assignments/media-types/media-types.xhtml#audio"
          title: originalMimeType
          type: string
        recordingDeviceName:
          description: The device used to make the recording. Examples 'Nexus 5X'
            or 'Polycom SoundStation IP 6000' or 'POTS' or 'VoIP' or 'Cardioid Microphone'.
          title: recordingDeviceName
          type: string
        recordingDeviceType:
          description: The type of device the speech was recorded with.
          enum:
          - RECORDING_DEVICE_TYPE_UNSPECIFIED
          - SMARTPHONE
          - PC
          - PHONE_LINE
          - VEHICLE
          - OTHER_OUTDOOR_DEVICE
          - OTHER_INDOOR_DEVICE
          title: recordingDeviceType
          type: string
      title: RecognitionMetadata
      type: object
    RecognizeRequest:
      description: The top-level message sent by the client for the `Recognize` method.
      example:
        audio:
          uri: uri
          content: content
        config:
          enableWordConfidence: true
          diarizationConfig:
            enableSpeakerDiarization: true
            speakerTag: 2
            maxSpeakerCount: 5
            minSpeakerCount: 5
          maxAlternatives: 9
          metadata:
            audioTopic: audioTopic
            interactionType: INTERACTION_TYPE_UNSPECIFIED
            originalMimeType: originalMimeType
            recordingDeviceName: recordingDeviceName
[...]
