openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/expressRouteCircuit.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-expressRouteCircuit
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: Gets all the express route circuits in a subscription.
      operationId: express_route_circuits_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
          description: Request successful. The operation returns a list of ExpressRouteCircuit
            resources.
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders:
    get:
      description: Gets all the available express route service providers.
      operationId: express_route_service_providers_list
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
          description: Request successful. The operation returns a list of ExpressRouteServiceProvider
            resources.
      tags:
      - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_service_providers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: Gets all the express route circuits in a resource group.
      operationId: express_route_circuits_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization
            resource.
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}
  : delete:
      description: Deletes the specified express route circuit.
      operationId: express_route_circuits_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted. Sets 'Disabling' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
    get:
      description: Gets information about the specified express route circuit.
      operationId: express_route_circuits_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: Request successful. The operation returns the resulting ExpressRouteCircuit
            resource.
      tags:
      - ExpressRouteCircuits
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
    put:
      description: Creates or updates an express route circuit.
      operationId: express_route_circuits_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
        description: Parameters supplied to the create or update express route circuit
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: Update successful. The operation returns the resulting ExpressRouteCircuit
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: Create successful. The operation returns the resulting ExpressRouteCircuit
            resource.
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.express_route_circuits_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations
  : get:
      description: Gets all authorizations in an express route circuit.
      operationId: express_route_circuit_authorizations_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
          description: Request successful. The operation returns a list of ExpressRouteCircuitAuthorization
            resources.
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}
  : delete:
      description: Deletes the specified authorization from the specified express
        route circuit.
      operationId: express_route_circuit_authorizations_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
    get:
      description: Gets the specified authorization from the specified express route
        circuit.
      operationId: express_route_circuit_authorizations_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: Request successful. The operation returns the ExpressRouteCircuitAuthorization
            resource.
      tags:
      - ExpressRouteCircuitAuthorizations
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
    put:
      description: Creates or updates an authorization in the specified express route
        circuit.
      operationId: express_route_circuit_authorizations_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
        description: Parameters supplied to the create or update express route circuit
          authorization operation.
        required: true
        x-body-name: authorizationParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization
            resource.
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
      x-codegen-request-body-name: authorizationParameters
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_authorizations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings
  : get:
      description: Gets all peerings in a specified express route circuit.
      operationId: express_route_circuit_peerings_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeeringListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeeringListResult'
          description: Request successful. The operation returns a list of ExpressRouteCircuitPeering
            resources.
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}
  : delete:
      description: Deletes the specified peering from the specified express route
        circuit.
      operationId: express_route_circuit_peerings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
    get:
      description: Gets the specified authorization from the specified express route
        circuit.
      operationId: express_route_circuit_peerings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitPeering
            resource.
      tags:
      - ExpressRouteCircuitPeerings
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
    put:
      description: Creates or updates a peering in the specified express route circuits.
      operationId: express_route_circuit_peerings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitPeering'
        description: Parameters supplied to the create or update express route circuit
          peering operation.
        required: true
        x-body-name: peeringParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: Update successful. The operation returns the resulting ExpressRouteCircuitPeering
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: Create successful. The operation returns the resulting ExpressRouteCircuitPeering
            resource.
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
      x-codegen-request-body-name: peeringParameters
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_peerings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}
  : post:
      description: Gets the currently advertised ARP table associated with the express
        route circuit in a resource group.
      operationId: express_route_circuits_list_arp_table
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCircuitArpTable
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_arp_table_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}
  : post:
      description: Gets the currently advertised routes table associated with the
        express route circuit in a resource group.
      operationId: express_route_circuits_list_routes_table
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCircuitRoutesTable
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_routes_table_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}
  : post:
      description: Gets the currently advertised routes table summary associated with
        the express route circuit in a resource group.
      operationId: express_route_circuits_list_routes_table_summary
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableSummaryListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableSummaryListResult'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCircuitRoutesTableSummary
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_routes_table_summary_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats
  : get:
      description: Gets all stats from an express route circuit in a resource group.
      operationId: express_route_circuits_get_peering_stats
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitStats'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitStats'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats
            resource.
      tags:
      - ExpressRouteCircuitStats
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_stats_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats
  : get:
      description: Gets all the stats from an express route circuit in a resource
        group.
      operationId: express_route_circuits_get_stats
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitStats'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitStats'
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats
            resource.
      tags:
      - ExpressRouteCircuitStats
      x-openapi-router-controller: openapi_server.controllers.express_route_circuit_stats_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AuthorizationListResult:
      description: Response for ListAuthorizations API service call retrieves all
        authorizations that belongs to an ExpressRouteCircuit.
      example:
        value:
        - name: name
          etag: etag
          properties:
            authorizationUseStatus: Available
            authorizationKey: authorizationKey
            provisioningState: provisioningState
        - name: name
          etag: etag
          properties:
            authorizationUseStatus: Available
            authorizationKey: authorizationKey
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The authorizations in an ExpressRoute Circuit.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          title: value
          type: array
      title: AuthorizationListResult
      type: object
    AuthorizationPropertiesFormat:
      example:
        authorizationUseStatus: Available
        authorizationKey: authorizationKey
        provisioningState: provisioningState
      properties:
        authorizationKey:
          description: The authorization key.
          title: authorizationKey
          type: string
        authorizationUseStatus:
          description: "AuthorizationUseStatus. Possible values are: 'Available' and\
            \ 'InUse'."
          enum:
          - Available
          - InUse
          title: authorizationUseStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: AuthorizationUseStatus
        provisioningState:
          description: "Gets the provisioning state of the public IP resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
      title: AuthorizationPropertiesFormat
      type: object
    ExpressRouteCircuit:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ExpressRouteCircuit resource
      example:
        etag: etag
        sku:
          tier: Standard
          name: name
          family: UnlimitedData
        properties:
          circuitProvisioningState: circuitProvisioningState
          gatewayManagerEtag: gatewayManagerEtag
          authorizations:
          - name: name
            etag: etag
            properties:
              authorizationUseStatus: Available
              authorizationKey: authorizationKey
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              authorizationUseStatus: Available
              authorizationKey: authorizationKey
              provisioningState: provisioningState
          serviceProviderNotes: serviceProviderNotes
          peerings:
          - name: name
            etag: etag
            properties:
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              secondaryAzurePort: secondaryAzurePort
              vlanId: 9
              lastModifiedBy: lastModifiedBy
              azureASN: 0
              provisioningState: provisioningState
              peerASN: 1
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 5
                primarybytesIn: 5
                secondarybytesOut: 7
                secondarybytesIn: 2
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                routingRegistryName: routingRegistryName
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              peeringType: AzurePublicPeering
          - name: name
            etag: etag
            properties:
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              secondaryAzurePort: secondaryAzurePort
              vlanId: 9
              lastModifiedBy: lastModifiedBy
              azureASN: 0
              provisioningState: provisioningState
              peerASN: 1
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              stats:
                primarybytesOut: 5
                primarybytesIn: 5
                secondarybytesOut: 7
                secondarybytesIn: 2
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                routingRegistryName: routingRegistryName
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 6
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              peeringType: AzurePublicPeering
          provisioningState: provisioningState
          serviceKey: serviceKey
          serviceProviderProvisioningState: NotProvisioned
          allowClassicOperations: true
          serviceProviderProperties:
            bandwidthInMbps: 3
            serviceProviderName: serviceProviderName
            peeringLocation: peeringLocation
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteCircuitPropertiesFormat'
        sku:
          $ref: '#/components/schemas/ExpressRouteCircuitSku'
      title: ExpressRouteCircuit
    ExpressRouteCircuitArpTable:
      description: The ARP table associated with the ExpressRouteCircuit.
      example:
        macAddress: macAddress
        ipAddress: ipAddress
        interface: interface
        age: 0
      properties:
        age:
          description: Age
          format: int32
          title: age
          type: integer
        interface:
          description: Interface
          title: interface
          type: string
        ipAddress:
          description: The IP address.
          title: ipAddress
          type: string
        macAddress:
          description: The MAC address.
          title: macAddress
          type: string
      title: ExpressRouteCircuitArpTable
      type: object
    ExpressRouteCircuitAuthorization:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Authorization in an ExpressRouteCircuit resource.
      example:
        name: name
        etag: etag
        properties:
          authorizationUseStatus: Available
          authorizationKey: authorizationKey
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AuthorizationPropertiesFormat'
      title: ExpressRouteCircuitAuthorization
    ExpressRouteCircuitListResult:
      description: Response for ListExpressRouteCircuit API service call.
      example:
        value:
        - etag: etag
          sku:
            tier: Standard
            name: name
            family: UnlimitedData
          properties:
            circuitProvisioningState: circuitProvisioningState
            gatewayManagerEtag: gatewayManagerEtag
            authorizations:
            - name: name
              etag: etag
              properties:
                authorizationUseStatus: Available
                authorizationKey: authorizationKey
                provisioningState: provisioningState
            - name: name
              etag: etag
              properties:
                authorizationUseStatus: Available
                authorizationKey: authorizationKey
                provisioningState: provisioningState
            serviceProviderNotes: serviceProviderNotes
            peerings:
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                secondaryAzurePort: secondaryAzurePort
                vlanId: 9
                lastModifiedBy: lastModifiedBy
                azureASN: 0
                provisioningState: provisioningState
                peerASN: 1
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 5
                  primarybytesIn: 5
                  secondarybytesOut: 7
                  secondarybytesIn: 2
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  routingRegistryName: routingRegistryName
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                secondaryAzurePort: secondaryAzurePort
                vlanId: 9
                lastModifiedBy: lastModifiedBy
                azureASN: 0
                provisioningState: provisioningState
                peerASN: 1
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 5
                  primarybytesIn: 5
                  secondarybytesOut: 7
                  secondarybytesIn: 2
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  routingRegistryName: routingRegistryName
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            provisioningState: provisioningState
            serviceKey: serviceKey
            serviceProviderProvisioningState: NotProvisioned
            allowClassicOperations: true
            serviceProviderProperties:
              bandwidthInMbps: 3
              serviceProviderName: serviceProviderName
              peeringLocation: peeringLocation
        - etag: etag
          sku:
            tier: Standard
            name: name
            family: UnlimitedData
          properties:
            circuitProvisioningState: circuitProvisioningState
            gatewayManagerEtag: gatewayManagerEtag
            authorizations:
            - name: name
              etag: etag
              properties:
                authorizationUseStatus: Available
                authorizationKey: authorizationKey
                provisioningState: provisioningState
            - name: name
              etag: etag
              properties:
                authorizationUseStatus: Available
                authorizationKey: authorizationKey
                provisioningState: provisioningState
            serviceProviderNotes: serviceProviderNotes
            peerings:
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                secondaryAzurePort: secondaryAzurePort
                vlanId: 9
                lastModifiedBy: lastModifiedBy
                azureASN: 0
                provisioningState: provisioningState
                peerASN: 1
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 5
                  primarybytesIn: 5
                  secondarybytesOut: 7
                  secondarybytesIn: 2
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  routingRegistryName: routingRegistryName
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                secondaryAzurePort: secondaryAzurePort
                vlanId: 9
                lastModifiedBy: lastModifiedBy
                azureASN: 0
                provisioningState: provisioningState
                peerASN: 1
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                stats:
                  primarybytesOut: 5
                  primarybytesIn: 5
                  secondarybytesOut: 7
                  secondarybytesIn: 2
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  routingRegistryName: routingRegistryName
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 6
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            provisioningState: provisioningState
            serviceKey: serviceKey
            serviceProviderProvisioningState: NotProvisioned
            allowClassicOperations: true
            serviceProviderProperties:
              bandwidthInMbps: 3
              serviceProviderName: serviceProviderName
              peeringLocation: peeringLocation
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of ExpressRouteCircuits in a resource group.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuit'
          title: value
          type: array
      title: ExpressRouteCircuitListResult
      type: object
    ExpressRouteCircuitPeering:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Peering in an ExpressRouteCircuit resource.
      example:
        name: name
        etag: etag
        properties:
          sharedKey: sharedKey
          primaryAzurePort: primaryAzurePort
          secondaryAzurePort: secondaryAzurePort
          vlanId: 9
          lastModifiedBy: lastModifiedBy
          azureASN: 0
          provisioningState: provisioningState
          peerASN: 1
          secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
          stats:
            primarybytesOut: 5
            primarybytesIn: 5
            secondarybytesOut: 7
            secondarybytesIn: 2
          gatewayManagerEtag: gatewayManagerEtag
          microsoftPeeringConfig:
            routingRegistryName: routingRegistryName
            advertisedPublicPrefixes:
            - advertisedPublicPrefixes
            - advertisedPublicPrefixes
            advertisedPublicPrefixesState: NotConfigured
            customerASN: 6
          primaryPeerAddressPrefix: primaryPeerAddressPrefix
          state: Disabled
          peeringType: AzurePublicPeering
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringPropertiesFormat'
      title: ExpressRouteCircuitPeering
    ExpressRouteCircuitPeeringConfig:
      description: Specifies the peering configuration.
      example:
        routingRegistryName: routingRegistryName
        advertisedPublicPrefixes:
        - advertisedPublicPrefixes
        - advertisedPublicPrefixes
        advertisedPublicPrefixesState: NotConfigured
        customerASN: 6
      properties:
        advertisedPublicPrefixes:
          description: The reference of AdvertisedPublicPrefixes.
          items:
            type: string
          title: advertisedPublicPrefixes
          type: array
        advertisedPublicPrefixesState:
          description: "AdvertisedPublicPrefixState of the Peering resource. Possible\
            \ values are 'NotConfigured', 'Configuring', 'Configured', and 'ValidationNeeded'."
          enum:
          - NotConfigured
          - Configuring
          - Configured
          - ValidationNeeded
          title: advertisedPublicPrefixesState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
        customerASN:
          description: The CustomerASN of the peering.
          format: int32
          title: customerASN
          type: integer
        routingRegistryName:
          description: The RoutingRegistryName of the configuration.
          title: routingRegistryName
          type: string
      title: ExpressRouteCircuitPeeringConfig
      type: object
    ExpressRouteCircuitPeeringListResult:
      description: Response for ListPeering API service call retrieves all peerings
        that belong to an ExpressRouteCircuit.
      example:
        value:
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            secondaryAzurePort: secondaryAzurePort
            vlanId: 9
            lastModifiedBy: lastModifiedBy
            azureASN: 0
            provisioningState: provisioningState
            peerASN: 1
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            stats:
              primarybytesOut: 5
              primarybytesIn: 5
              secondarybytesOut: 7
              secondarybytesIn: 2
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              routingRegistryName: routingRegistryName
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 6
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            secondaryAzurePort: secondaryAzurePort
            vlanId: 9
            lastModifiedBy: lastModifiedBy
            azureASN: 0
            provisioningState: provisioningState
            peerASN: 1
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            stats:
              primarybytesOut: 5
              primarybytesIn: 5
              secondarybytesOut: 7
              secondarybytesIn: 2
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              routingRegistryName: routingRegistryName
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 6
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The peerings in an express route circuit.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          title: value
          type: array
      title: ExpressRouteCircuitPeeringListResult
      type: object
    ExpressRouteCircuitPeeringPropertiesFormat:
      example:
        sharedKey: sharedKey
        primaryAzurePort: primaryAzurePort
        secondaryAzurePort: secondaryAzurePort
        vlanId: 9
        lastModifiedBy: lastModifiedBy
        azureASN: 0
        provisioningState: provisioningState
        peerASN: 1
        secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
        stats:
          primarybytesOut: 5
          primarybytesIn: 5
          secondarybytesOut: 7
          secondarybytesIn: 2
        gatewayManagerEtag: gatewayManagerEtag
        microsoftPeeringConfig:
          routingRegistryName: routingRegistryName
          advertisedPublicPrefixes:
          - advertisedPublicPrefixes
          - advertisedPublicPrefixes
          advertisedPublicPrefixesState: NotConfigured
          customerASN: 6
        primaryPeerAddressPrefix: primaryPeerAddressPrefix
        state: Disabled
        peeringType: AzurePublicPeering
      properties:
        azureASN:
          description: The Azure ASN.
          format: int32
          title: azureASN
          type: integer
        gatewayManagerEtag:
          description: The GatewayManager Etag.
          title: gatewayManagerEtag
          type: string
        lastModifiedBy:
          description: Gets whether the provider or the customer last modified the
            peering.
          title: lastModifiedBy
          type: string
        microsoftPeeringConfig:
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringConfig'
        peerASN:
          description: The peer ASN.
          format: int32
          title: peerASN
          type: integer
        peeringType:
          description: "The PeeringType. Possible values are: 'AzurePublicPeering',\
            \ 'AzurePrivatePeering', and 'MicrosoftPeering'."
          enum:
          - AzurePublicPeering
          - AzurePrivatePeering
          - MicrosoftPeering
          title: peeringType
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitPeeringType
        primaryAzurePort:
          description: The primary port.
          title: primaryAzurePort
          type: string
        primaryPeerAddressPrefix:
          description: The primary address prefix.
          title: primaryPeerAddressPrefix
          type: string
        provisioningState:
          description: "Gets the provisioning state of the public IP resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        secondaryAzurePort:
          description: The secondary port.
          title: secondaryAzurePort
          type: string
        secondaryPeerAddressPrefix:
          description: The secondary address prefix.
          title: secondaryPeerAddressPrefix
          type: string
        sharedKey:
          description: The shared key.
          title: sharedKey
          type: string
        state:
          description: "The state of peering. Possible values are: 'Disabled' and\
            \ 'Enabled'"
          enum:
          - Disabled
          - Enabled
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitPeeringState
        stats:
          $ref: '#/components/schemas/ExpressRouteCircuitStats'
        vlanId:
          description: The VLAN ID.
          format: int32
          title: vlanId
          type: integer
      title: ExpressRouteCircuitPeeringPropertiesFormat
      type: object
    ExpressRouteCircuitPropertiesFormat:
      description: Properties of ExpressRouteCircuit.
      example:
        circuitProvisioningState: circuitProvisioningState
        gatewayManagerEtag: gatewayManagerEtag
        authorizations:
        - name: name
          etag: etag
          properties:
            authorizationUseStatus: Available
            authorizationKey: authorizationKey
            provisioningState: provisioningState
        - name: name
          etag: etag
          properties:
            authorizationUseStatus: Available
            authorizationKey: authorizationKey
            provisioningState: provisioningState
        serviceProviderNotes: serviceProviderNotes
        peerings:
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            secondaryAzurePort: secondaryAzurePort
            vlanId: 9
            lastModifiedBy: lastModifiedBy
            azureASN: 0
            provisioningState: provisioningState
            peerASN: 1
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            stats:
              primarybytesOut: 5
              primarybytesIn: 5
              secondarybytesOut: 7
              secondarybytesIn: 2
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              routingRegistryName: routingRegistryName
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 6
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            secondaryAzurePort: secondaryAzurePort
            vlanId: 9
            lastModifiedBy: lastModifiedBy
            azureASN: 0
            provisioningState: provisioningState
            peerASN: 1
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            stats:
              primarybytesOut: 5
              primarybytesIn: 5
              secondarybytesOut: 7
              secondarybytesIn: 2
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              routingRegistryName: routingRegistryName
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 6
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        provisioningState: provisioningState
        serviceKey: serviceKey
        serviceProviderProvisioningState: NotProvisioned
        allowClassicOperations: true
        serviceProviderProperties:
          bandwidthInMbps: 3
          serviceProviderName: serviceProviderName
          peeringLocation: peeringLocation
      properties:
        allowClassicOperations:
          description: Allow classic operations
          title: allowClassicOperations
          type: boolean
        authorizations:
          description: The list of authorizations.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          title: authorizations
          type: array
        circuitProvisioningState:
          description: The CircuitProvisioningState state of the resource.
          title: circuitProvisioningState
          type: string
        gatewayManagerEtag:
          description: The GatewayManager Etag.
          title: gatewayManagerEtag
          type: string
        peerings:
          description: The list of peerings.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          title: peerings
          type: array
        provisioningState:
          description: "Gets the provisioning state of the public IP resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        serviceKey:
          description: The ServiceKey.
          title: serviceKey
          type: string
        serviceProviderNotes:
          description: The ServiceProviderNotes.
          title: serviceProviderNotes
          type: string
        serviceProviderProperties:
          $ref: '#/components/schemas/ExpressRouteCircuitServiceProviderProperties'
        serviceProviderProvisioningState:
          description: "The ServiceProviderProvisioningState state of the resource.\
            \ Possible values are 'NotProvisioned', 'Provisioning', 'Provisioned',\
            \ and 'Deprovisioning'."
          enum:
          - NotProvisioned
          - Provisioning
          - Provisioned
          - Deprovisioning
          title: serviceProviderProvisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceProviderProvisioningState
      title: ExpressRouteCircuitPropertiesFormat
      type: object
    ExpressRouteCircuitRoutesTable:
      description: The routes table associated with the ExpressRouteCircuit
      example:
        locPrf: locPrf
        nextHop: nextHop
        path: path
        weight: 0
        network: network
      properties:
        locPrf:
          description: locPrf
          title: locPrf
          type: string
        network:
          description: network
          title: network
          type: string
        nextHop:
          description: nextHop
          title: nextHop
          type: string
        path:
          description: path
          title: path
          type: string
        weight:
          description: weight.
          format: int32
          title: weight
          type: integer
      title: ExpressRouteCircuitRoutesTable
      type: object
    ExpressRouteCircuitRoutesTableSummary:
      description: The routes table associated with the ExpressRouteCircuit.
      example:
        as: 0
        v: 6
        statePfxRcd: statePfxRcd
        upDown: upDown
        neighbor: neighbor
      properties:
        as:
          description: Autonomous system number.
          format: int32
          title: as
          type: integer
        neighbor:
          description: Neighbor
          title: neighbor
          type: string
        statePfxRcd:
          description: "Current state of the BGP session, and the number of prefixes\
            \ that have been received from a neighbor or peer group."
          title: statePfxRcd
          type: string
        upDown:
          description: "The length of time that the BGP session has been in the Established\
            \ state, or the current status if not in the Established state."
          title: upDown
          type: string
        v:
          description: BGP version number spoken to the neighbor.
          format: int32
          title: v
          type: integer
      title: ExpressRouteCircuitRoutesTableSummary
      type: object
    ExpressRouteCircuitServiceProviderProperties:
      description: Contains ServiceProviderProperties in an ExpressRouteCircuit.
      example:
        bandwidthInMbps: 3
        serviceProviderName: serviceProviderName
        peeringLocation: peeringLocation
      properties:
        bandwidthInMbps:
          description: The BandwidthInMbps.
          format: int32
          title: bandwidthInMbps
          type: integer
        peeringLocation:
          description: The peering location.
          title: peeringLocation
          type: string
        serviceProviderName:
          description: The serviceProviderName.
          title: serviceProviderName
          type: string
      title: ExpressRouteCircuitServiceProviderProperties
      type: object
    ExpressRouteCircuitSku:
      description: Contains SKU in an ExpressRouteCircuit.
      example:
        tier: Standard
        name: name
        family: UnlimitedData
      properties:
        family:
          description: "The family of the SKU. Possible values are: 'UnlimitedData'\
            \ and 'MeteredData'."
          enum:
          - UnlimitedData
          - MeteredData
          title: family
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitSkuFamily
        name:
          description: The name of the SKU.
          title: name
          type: string
        tier:
          description: The tier of the SKU. Possible values are 'Standard' and 'Premium'.
          enum:
          - Standard
          - Premium
          title: tier
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitSkuTier
      title: ExpressRouteCircuitSku
      type: object
    ExpressRouteCircuitStats:
      description: Contains stats associated with the peering.
      example:
        primarybytesOut: 5
        primarybytesIn: 5
        secondarybytesOut: 7
        secondarybytesIn: 2
      properties:
        primarybytesIn:
          description: Gets BytesIn of the peering.
          format: int64
          title: primarybytesIn
          type: integer
        primarybytesOut:
          description: Gets BytesOut of the peering.
          format: int64
          title: primarybytesOut
          type: integer
        secondarybytesIn:
          description: Gets BytesIn of the peering.
          format: int64
          title: secondarybytesIn
          type: integer
        secondarybytesOut:
          description: Gets BytesOut of the peering.
          format: int64
          title: secondarybytesOut
          type: integer
      title: ExpressRouteCircuitStats
      type: object
    ExpressRouteCircuitsArpTableListResult:
      description: Response for ListArpTable associated with the Express Route Circuits
        API.
      example:
        value:
        - macAddress: macAddress
          ipAddress: ipAddress
          interface: interface
          age: 0
        - macAddress: macAddress
          ipAddress: ipAddress
          interface: interface
          age: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: Gets list of the ARP table.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitArpTable'
          title: value
          type: array
      title: ExpressRouteCircuitsArpTableListResult
      type: object
    ExpressRouteCircuitsRoutesTableListResult:
      description: Response for ListRoutesTable associated with the Express Route
        Circuits API.
      example:
        value:
        - locPrf: locPrf
          nextHop: nextHop
          path: path
          weight: 0
          network: network
        - locPrf: locPrf
          nextHop: nextHop
          path: path
          weight: 0
          network: network
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The list of routes table.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitRoutesTable'
          title: value
          type: array
      title: ExpressRouteCircuitsRoutesTableListResult
      type: object
    ExpressRouteCircuitsRoutesTableSummaryListResult:
      description: Response for ListRoutesTable associated with the Express Route
        Circuits API.
      example:
        value:
        - as: 0
          v: 6
          statePfxRcd: statePfxRcd
          upDown: upDown
          neighbor: neighbor
        - as: 0
          v: 6
          statePfxRcd: statePfxRcd
          upDown: upDown
          neighbor: neighbor
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of the routes table.
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitRoutesTableSummary'
          title: value
          type: array
      title: ExpressRouteCircuitsRoutesTableSummaryListResult
      type: object
    ExpressRouteServiceProvider:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A ExpressRouteResourceProvider object.
      example:
        properties:
          provisioningState: provisioningState
          bandwidthsOffered:
          - offerName: offerName
            valueInMbps: 0
          - offerName: offerName
            valueInMbps: 0
          peeringLocations:
          - peeringLocations
          - peeringLocations
      properties:
        properties:
          $ref: '#/components/schemas/ExpressRouteServiceProviderPropertiesFormat'
      title: ExpressRouteServiceProvider
    ExpressRouteServiceProviderBandwidthsOffered:
      description: Contains bandwidths offered in ExpressRouteServiceProvider resources.
      example:
        offerName: offerName
        valueInMbps: 0
      properties:
        offerName:
          description: The OfferName.
          title: offerName
          type: string
        valueInMbps:
          description: The ValueInMbps.
          format: int32
          title: valueInMbps
          type: integer
      title: ExpressRouteServiceProviderBandwidthsOffered
      type: object
    ExpressRouteServiceProviderListResult:
      description: Response for the ListExpressRouteServiceProvider API service call.
      example:
        value:
        - properties:
            provisioningState: provisioningState
            bandwidthsOffered:
            - offerName: offerName
              valueInMbps: 0
            - offerName: offerName
              valueInMbps: 0
            peeringLocations:
            - peeringLocations
            - peeringLocations
        - properties:
            provisioningState: provisioningState
            bandwidthsOffered:
            - offerName: offerName
              valueInMbps: 0
            - offerName: offerName
              valueInMbps: 0
            peeringLocations:
            - peeringLocations
            - peeringLocations
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of ExpressRouteResourceProvider resources.
          items:
            $ref: '#/components/schemas/ExpressRouteServiceProvider'
          title: value
          type: array
      title: ExpressRouteServiceProviderListResult
      type: object
    ExpressRouteServiceProviderPropertiesFormat:
      description: Properties of ExpressRouteServiceProvider.
      example:
        provisioningState: provisioningState
        bandwidthsOffered:
        - offerName: offerName
          valueInMbps: 0
        - offerName: offerName
          valueInMbps: 0
        peeringLocations:
        - peeringLocations
        - peeringLocations
      properties:
        bandwidthsOffered:
          description: Gets bandwidths offered.
          items:
            $ref: '#/components/schemas/ExpressRouteServiceProviderBandwidthsOffered'
          title: bandwidthsOffered
          type: array
        peeringLocations:
          description: Get a list of peering locations.
          items:
            type: string
          title: peeringLocations
          type: array
        provisioningState:
          description: Gets the provisioning state of the resource.
          title: provisioningState
          type: string
      title: ExpressRouteServiceProviderPropertiesFormat
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
