openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: This API provides area code information for a given telephone area
    code.
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Area Code API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/lookupareacode.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: lookupareacode
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/lookupareacode
servers:
- url: https://api.interzoid.com
paths:
  /getareacode:
    get:
      description: Gets telephone area code information for a given area code.
      operationId: getareacode
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Telephone area code to retrieve area code information
        explode: true
        in: query
        name: areacode
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getareacode_200_response'
          description: Telephone area code information
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: area code not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets telephone area code information
      tags:
      - Area Code Information
      x-openapi-router-controller: openapi_server.controllers.area_code_information_controller
components:
  schemas:
    getareacode_200_response:
      example:
        Abbreviation: Abbreviation
        Locale: Locale
        Credits: Credits
        PrimaryCity: PrimaryCity
        AreaCode: AreaCode
        Code: Code
      properties:
        Abbreviation:
          title: Abbreviation
          type: string
        AreaCode:
          title: AreaCode
          type: string
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        Locale:
          title: Locale
          type: string
        PrimaryCity:
          title: PrimaryCity
          type: string
      title: getareacode_200_response
      type: object
