openapi: 3.0.1
info:
  description: Use these REST APIs to manage Azure API Management deployment.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimdeployment.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimdeployment
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ApiManagement/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.ApiManagement
        provider.
      operationId: api_management_operations_list
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: Success. The response describes the list of operations.
      tags:
      - ApiManagementOperations
      x-ms-examples:
        ApiManagementListOperations:
          parameters:
            api-version: 2017-03-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Create a new instance of API Management Service
                    operation: Create a new instance of API Management Service
                    provider: Microsoft API Management
                    resource: Service
                  name: Microsoft.ApiManagement/service/write
                - display:
                    description: Read metadata for an API Management Service instance
                    operation: Read metadata for an API Management Service instance
                    provider: Microsoft API Management
                    resource: Service
                  name: Microsoft.ApiManagement/service/read
                - display:
                    description: Delete API Management Service instance
                    operation: Delete API Management Service instance
                    provider: Microsoft API Management
                    resource: Service
                  name: Microsoft.ApiManagement/service/delete
                - display:
                    description: Creates or updates the diagnostic setting for API
                      Management service
                    operation: Write diagnostic setting
                    provider: Microsoft API Management
                    resource: Service
                  name: Microsoft.ApiManagement/service/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of operation results or Get result of a
                      specific operation
                    operation: Get operation results or Get operation result
                    provider: Microsoft API Management
                    resource: Results of async operations
                  name: Microsoft.ApiManagement/service/tenant/operationResults/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_management_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability:
    post:
      description: Checks availability and correctness of a name for an API Management
        service.
      operationId: api_management_service_check_name_availability
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceCheckNameAvailabilityParameters'
        description: Parameters supplied to the CheckNameAvailability operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceNameAvailabilityResult'
          description: The result of check name availability.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementServiceCheckNameAvailability:
          parameters:
            api-version: 2017-03-01
            parameters:
              name: apimService1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: Valid
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service:
    get:
      description: Lists all API Management services within an Azure subscription.
      operationId: api_management_service_list
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceListResult'
          description: The API Management service list.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementListServiceBySubscription:
          parameters:
            api-version: 2017-03-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: AAAAAAAXXAQ=
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3
                  location: West US
                  name: apimService3
                  properties:
                    additionalLocations:
                    - location: West Europe
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                      - 52.233.184.197
                    createdAtUtc: 2017-05-27T15:33:55.5426123Z
                    gatewayUrl: https://apimService3.azure-api.net
                    hostnameConfigurations: []
                    managementApiUrl: https://apimService3.management.azure-api.net
                    notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                    portalUrl: https://apimService3.portal.azure-api.net
                    provisioningState: Succeeded
                    publisherEmail: admin@live.com
                    publisherName: contoso
                    scmUrl: https://apimService3.scm.azure-api.net
                    staticIps:
                    - 13.88.16.64
                    targetProvisioningState: ""
                    virtualNetworkType: None
                  sku:
                    capacity: 1
                    name: Premium
                  tags: {}
                  type: Microsoft.ApiManagement/service
                - etag: AAAAAAAXW4U=
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.ApiManagement/service/apimService2
                  location: West US
                  name: apimService2
                  properties:
                    createdAtUtc: 2017-05-26T23:55:31.1405115Z
                    gatewayUrl: https://apimService2.azure-api.net
                    hostnameConfigurations: []
                    managementApiUrl: https://apimService2.management.azure-api.net
                    notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                    portalUrl: https://apimService2.portal.azure-api.net
                    provisioningState: Succeeded
                    publisherEmail: admin@live.com
                    publisherName: MS
                    scmUrl: https://apimService2.scm.azure-api.net
                    staticIps:
                    - 13.64.237.151
                    targetProvisioningState: ""
                    virtualNetworkType: None
                  sku:
                    capacity: 1
                    name: Developer
                  tags: {}
                  type: Microsoft.ApiManagement/service
                - etag: AAAAAAAXW5c=
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5
                  location: West US
                  name: apimService5
                  properties:
                    createdAtUtc: 2017-05-26T18:13:02.0196315Z
                    gatewayUrl: https://apimService5.azure-api.net
                    hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname1.contoso.com
                        thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                      hostName: proxytemplatehostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname2.contoso.com
                        thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                      hostName: proxytemplatehostname2.contoso.com
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname3.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxytemplatehostname3.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname4.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxytemplatehostname4.azure-api.net
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=portaltemplatehostname1.contoso.com
                        thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                      hostName: portaltemplatehostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Portal
                    managementApiUrl: https://apimService5.management.azure-api.net
                    notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                    portalUrl: https://apimService5.portal.azure-api.net
                    provisioningState: Succeeded
                    publisherEmail: admin@live.com
                    publisherName: contoso
                    scmUrl: https://apimService5.scm.azure-api.net
                    staticIps:
                    - 13.93.167.166
                    targetProvisioningState: ""
                    virtualNetworkType: None
                  sku:
                    capacity: 1
                    name: Premium
                  tags: {}
                  type: Microsoft.ApiManagement/service
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service:
    get:
      description: List all API Management services within a resource group.
      operationId: api_management_service_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceListResult'
          description: The API Management service list.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementListServiceBySubscriptionAndResourceGroup:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: AAAAAAAXXAQ=
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3
                  location: West US
                  name: apimService3
                  properties:
                    additionalLocations:
                    - location: West Europe
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                      - 52.233.184.197
                    createdAtUtc: 2017-05-27T15:33:55.5426123Z
                    gatewayUrl: https://apimService3.azure-api.net
                    hostnameConfigurations: []
                    managementApiUrl: https://apimService3.management.azure-api.net
                    portalUrl: https://apimService3.portal.azure-api.net
                    provisioningState: Succeeded
                    publisherEmail: admin@live.com
                    publisherName: contoso
                    scmUrl: https://apimService3.scm.azure-api.net
                    staticIps:
                    - 13.88.16.64
                    targetProvisioningState: ""
                    virtualNetworkType: None
                  sku:
                    capacity: 1
                    name: Premium
                  tags: {}
                  type: Microsoft.ApiManagement/service
                - etag: AAAAAAAXW4U=
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService2
                  location: West US
                  name: apimService2
                  properties:
                    createdAtUtc: 2017-05-26T23:55:31.1405115Z
                    gatewayUrl: https://apimService2.azure-api.net
                    hostnameConfigurations: []
                    managementApiUrl: https://apimService2.management.azure-api.net
                    portalUrl: https://apimService2.portal.azure-api.net
                    provisioningState: Succeeded
                    publisherEmail: admin@live.com
                    publisherName: MS
                    scmUrl: https://apimService2.scm.azure-api.net
                    staticIps:
                    - 13.64.237.151
                    targetProvisioningState: ""
                    virtualNetworkType: None
                  sku:
                    capacity: 1
                    name: Developer
                  tags: {}
                  type: Microsoft.ApiManagement/service
                - etag: AAAAAAAXW5c=
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5
                  location: West US
                  name: apimService5
                  properties:
                    createdAtUtc: 2017-05-26T18:13:02.0196315Z
                    gatewayUrl: https://apimService5.azure-api.net
                    hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname1.contoso.com
                        thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                      hostName: proxytemplatehostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname2.contoso.com
                        thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                      hostName: proxytemplatehostname2.contoso.com
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname3.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxytemplatehostname3.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxytemplatehostname4.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxytemplatehostname4.azure-api.net
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=portaltemplatehostname1.contoso.com
                        thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                      hostName: portaltemplatehostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Portal
                    managementApiUrl: https://apimService5.management.azure-api.net
                    portalUrl: https://apimService5.portal.azure-api.net
                    provisioningState: Succeeded
                    publisherEmail: admin@live.com
                    publisherName: contoso
                    scmUrl: https://apimService5.scm.azure-api.net
                    staticIps:
                    - 13.93.167.166
                    targetProvisioningState: ""
                    virtualNetworkType: None
                  sku:
                    capacity: 1
                    name: Premium
                  tags: {}
                  type: Microsoft.ApiManagement/service
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}:
    delete:
      description: Deletes an existing API Management service.
      operationId: api_management_service_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Service was successfully deleted.
        "204":
          content: {}
          description: Service is already deleted.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementServiceDeleteService:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
    get:
      description: Gets an API Management service resource description.
      operationId: api_management_service_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Successfully got the API Management Service Resource.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementServiceGetService:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYP5M=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                  - gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                    location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    staticIps:
                    - 40.78.99.244
                  createdAtUtc: 2017-06-28T23:01:33.0667959Z
                  gatewayRegionalUrl: https://apimService1-centralus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    defaultSslBinding: true
                    hostName: proxyhostname4.contoso.net
                    negotiateClientCertificate: false
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    defaultSslBinding: true
                    hostName: proxyhostname9.contoso.net
                    negotiateClientCertificate: false
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    defaultSslBinding: false
                    hostName: portalhostname2.contoso.net
                    negotiateClientCertificate: false
                    type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: contoso@live.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: contoso@microsoft.com
                  publisherName: admin
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 52.173.22.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementServiceGetServiceHavingMsi:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAC2jkE=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: ae7d906a-xxx-408a-xxxx-6b9d60e5756b
                  tenantId: 72f988bf-xxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-13T16:56:47.0174063Z
                  gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                  - certificate:
                      expiry: 2036-01-01T07:00:00+00:00
                      subject: CN=*.msitesting.net
                      thumbprint: 8E98XXX52CAXXXXXXX2C91F1D174FDB3A2
                    defaultSslBinding: true
                    hostName: foobar.msitesting.net
                    keyVaultId: https://constoso-msi-keyvault.vault.azure.net/secrets/msitestingCert
                    negotiateClientCertificate: false
                    type: Proxy
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@contoso.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 13.xx.76.xxx
                sku:
                  capacity: 1
                  name: Developer
                tags: {}
                type: Microsoft.ApiManagement/service
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
    patch:
      description: Updates an existing API Management service.
      operationId: api_management_service_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceUpdateParameters'
        description: Parameters supplied to the CreateOrUpdate API Management service
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: The service was successfully updated.
        "202":
          content: {}
          description: The service update request was Accepted.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementUpdateServiceDisableTls10:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "false"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYRPs=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-06-29T17:50:42.3191122Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 40.86.176.232
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Standard
                tags:
                  Owner: sasolank
                  Pool: Manual
                  Reserved: ""
                  TestExpiration: "Thu, 29 Jun 2017 18:50:40 GMT"
                  TestSuiteExpiration: "Thu, 29 Jun 2017 18:51:46 GMT"
                  UID: 4f5025fe-0669-4e2e-8320-5199466e5eb3
                type: Microsoft.ApiManagement/service
            "202":
              etag: AAAAAAAYRPs=
              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
              location: West US
              name: apimService1
              properties:
                createdAtUtc: 2017-06-29T17:50:42.3191122Z
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                gatewayUrl: https://apimService1.azure-api.net
                hostnameConfigurations: []
                managementApiUrl: https://apimService1.management.azure-api.net
                notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                portalUrl: https://apimService1.portal.azure-api.net
                provisioningState: Succeeded
                publisherEmail: admin@live.com
                publisherName: Contoso
                scmUrl: https://apimService1.scm.azure-api.net
                staticIps:
                - 40.86.176.232
                targetProvisioningState: ""
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Standard
              tags:
                TestExpiration: "Thu, 29 Jun 2017 18:50:40 GMT"
              type: Microsoft.ApiManagement/service
        ApiManagementUpdateServicePublisherDetails:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                publisherEmail: foobar@live.com
                publisherName: Contoso Vnext
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYRPs=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-06-29T17:50:42.3191122Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: foobar@live.com
                  publisherName: Contoso Vnext
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 40.86.176.232
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Standard
                tags:
                  Owner: sasolank
                  Pool: Manual
                  Reserved: ""
                  TestExpiration: "Thu, 29 Jun 2017 18:50:40 GMT"
                  TestSuiteExpiration: "Thu, 29 Jun 2017 18:51:46 GMT"
                  UID: 4f5025fe-0669-4e2e-8320-5199466e5eb3
                type: Microsoft.ApiManagement/service
            "202":
              etag: AAAAAAAYRPs=
              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
              location: West US
              name: apimService1
              properties:
                createdAtUtc: 2017-06-29T17:50:42.3191122Z
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                gatewayUrl: https://apimService1.azure-api.net
                hostnameConfigurations: []
                managementApiUrl: https://apimService1.management.azure-api.net
                notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                portalUrl: https://apimService1.portal.azure-api.net
                provisioningState: Succeeded
                publisherEmail: admin@live.com
                publisherName: Contoso
                scmUrl: https://apimService1.scm.azure-api.net
                staticIps:
                - 40.86.176.232
                targetProvisioningState: ""
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Standard
              tags:
                TestExpiration: "Thu, 29 Jun 2017 18:50:40 GMT"
              type: Microsoft.ApiManagement/service
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
    put:
      description: Creates or updates an API Management service. This is long running
        operation and could take several minutes to complete.
      operationId: api_management_service_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceResource'
        description: Parameters supplied to the CreateOrUpdate API Management service
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: The service was successfully set up.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Accepted
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementCreateMultiRegionServiceWithCustomHostname:
          parameters:
            api-version: 2017-03-01
            parameters:
              location: Central US
              properties:
                additionalLocations:
                - location: West US
                  sku:
                    capacity: 1
                    name: Premium
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                hostnameConfigurations:
                - certificatePassword: '**************Password of the Certificate************************************************'
                  encodedCertificate: '************Base 64 Encoded Pfx Certificate************************'
                  hostName: proxyhostname1.contoso.com
                  type: Proxy
                - certificatePassword: '**************Password of the Certificate************************************************'
                  encodedCertificate: '************Base 64 Encoded Pfx Certificate************************'
                  hostName: proxyhostname2.contoso.com
                  negotiateClientCertificate: true
                  type: Proxy
                - certificatePassword: '**************Password of the Certificate************************************************'
                  encodedCertificate: '************Base 64 Encoded Pfx Certificate************************'
                  hostName: portalhostname1.contoso.com
                  type: Portal
                publisherEmail: admin@live.com
                publisherName: contoso
                virtualNetworkConfiguration:
                  subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                virtualNetworkType: External
              sku:
                capacity: 1
                name: Premium
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXXwI=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                  - location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    staticIps:
                    - 104.210.41.234
                    virtualNetworkConfiguration:
                      subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                  createdAtUtc: 2017-05-30T19:00:47.1121713Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=proxyhostname1.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: proxyhostname1.contoso.com
                    negotiateClientCertificate: false
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=proxyhostname2.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: proxyhostname2.contoso.com
                    negotiateClientCertificate: true
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=portalhostname1.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: portalhostname1.contoso.com
                    negotiateClientCertificate: false
                    type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 52.173.193.207
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAXXpw=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                  - location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    staticIps: []
                    virtualNetworkConfiguration:
                      subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                  createdAtUtc: 2017-05-30T18:06:23.0096164Z
                  hostnameConfigurations:
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=proxyhostname1.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: proxyhostname1.contoso.com
                    negotiateClientCertificate: false
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=proxyhostname2.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: proxyhostname2.contoso.com
                    negotiateClientCertificate: true
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=portalhostname1.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: portalhostname1.contoso.com
                    negotiateClientCertificate: false
                    type: Portal
                  provisioningState: Created
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  staticIps: []
                  targetProvisioningState: Activating
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2017-03-01
            "202":
              body:
                etag: AAAAAAAXXwI=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                  - location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    staticIps:
                    - 104.210.41.234
                    virtualNetworkConfiguration:
                      subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                  createdAtUtc: 2017-05-30T19:00:47.1121713Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=proxyhostname1.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: proxyhostname1.contoso.com
                    negotiateClientCertificate: false
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=proxyhostname2.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: proxyhostname2.contoso.com
                    negotiateClientCertificate: true
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=portalhostname1.contoso.com
                      thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                    hostName: portalhostname1.contoso.com
                    negotiateClientCertificate: false
                    type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 52.173.193.207
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementCreateService:
          parameters:
            api-version: 2017-03-01
            parameters:
              location: West US
              properties:
                publisherEmail: admin@live.com
                publisherName: contoso
              sku:
                capacity: 1
                name: Premium
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAV8XM=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:52:02.4307221Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - xx.xx.250.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAXXr0=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-05-30T18:35:50.7228425Z
                  hostnameConfigurations: []
                  provisioningState: Created
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  staticIps: []
                  targetProvisioningState: Activating
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
            "202":
              body:
                etag: AAAAAAAV8XM=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:52:02.4307221Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - xx.xx.250.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementCreateServiceHavingMsi:
          parameters:
            api-version: 2017-03-01
            parameters:
              identity:
                type: SystemAssigned
              location: Japan East
              properties:
                publisherEmail: admin@contoso.com
                publisherName: Contoso
              sku:
                name: Developer
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAC268s=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: f4b0f1c2-xxxx-43db-xxxx-ccd99e1afd22
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: Japan East
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-28T01:52:02.4307221Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - xx.xx.250.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Developer
                tags: {}
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAC268k=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: f4b0f1c2-xxxx-43db-xxxx-ccd99e1afd22
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: Japan East
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-27T23:41:41.7231779Z
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: admin@contoso.com
                  publisherName: Contoso
                  targetProvisioningState: Activating
                sku:
                  capacity: 1
                  name: Developer
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
            "202":
              body:
                etag: AAAAAAC268k=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: f4b0f1c2-xxxx-43db-xxxx-ccd99e1afd22
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: Japan East
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-27T23:41:41.7231779Z
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: admin@contoso.com
                  publisherName: Contoso
                  targetProvisioningState: Activating
                sku:
                  capacity: 1
                  name: Developer
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates
  : post:
      description: Updates the Microsoft.ApiManagement resource running in the Virtual
        network to pick the updated network settings.
      operationId: api_management_service_apply_network_configuration_updates
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceApplyNetworkConfigurationParameters'
        description: "Parameters supplied to the Apply Network Configuration operation.\
          \ If the parameters are empty, all the regions in which the Api Management\
          \ service is deployed will be updated sequentially without incurring downtime\
          \ in the region."
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Network configuration updates were successfully applied on
            the Api Management service.
        "202":
          content: {}
          description: "Accepted: Location header contains the URL where the status\
            \ of the long running operation can be checked."
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementApplyNetworkConfigurationUpdates:
          parameters:
            api-version: 2017-03-01
            parameters:
              location: west us
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 207.46.155.24
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/eastUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup
  : post:
      description: Creates a backup of the API Management service to the given Azure
        Storage Account. This is long running operation and could take several minutes
        to complete.
      operationId: api_management_service_backup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceBackupRestoreParameters'
        description: Parameters supplied to the ApiManagementService_Backup operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Successfully backed up the API Management service to the storage
            account.
        "202":
          content: {}
          description: "Accepted: Location header contains the URL where the status\
            \ of the long running operation can be checked."
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementCreateBackup:
          parameters:
            api-version: 2017-03-01
            parameters:
              accessKey: '**************************************************'
              backupName: apimService1backup_2017_03_19
              containerName: backupContainer
              storageAccount: teststorageaccount
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 207.46.155.24
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken
  : post:
      description: Gets the Single-Sign-On token for the API Management Service which
        is valid for 5 Minutes.
      operationId: api_management_service_get_sso_token
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceGetSsoTokenResult'
          description: OK if successful with the SSO Redirect URI.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementServiceGetSsoToken:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                redirectUri: https://apimService1.portal.azure-api.net:443/signin-sso?token=1%26201705301929%26eIkr3%2fnfaLs1GVJ0OVbzkJjAcwPFkEZAPM8VUXvXPf7cJ6lWsB9oUwsk2zln9x0KLkn21txCPJWWheSPq7SNeA%3d%3d
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore
  : post:
      description: Restores a backup of an API Management service created using the
        ApiManagementService_Backup operation on the current service. This is a long
        running operation and could take several minutes to complete.
      operationId: api_management_service_restore
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceBackupRestoreParameters'
        description: Parameters supplied to the Restore API Management service from
          backup operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Successfully restored the backup onto the API Management service.
        "202":
          content: {}
          description: "Accepted: Location header contains the URL where the status\
            \ of the long running operation can be checked."
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementRestoreService:
          parameters:
            api-version: 2017-03-01
            parameters:
              accessKey: '**************************************************'
              backupName: apimService1backup_2017_03_19
              containerName: backupContainer
              storageAccount: teststorageaccount
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 207.46.155.24
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/updatehostname
  : post:
      description: "Creates, updates, or deletes the custom hostnames for an API Management\
        \ service. The custom hostname can be applied to the Proxy and Portal endpoint.\
        \ This is a long running operation and could take several minutes to complete.\
        \ This operation will be deprecated in the next version update."
      operationId: api_management_service_update_hostname
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceUpdateHostnameParameters'
        description: Parameters supplied to the UpdateHostname operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Service was successfully updated with desired hostnames.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagementServiceResource'
          description: Accepted. The location header contains the URL where the status
            of the long running operation can be checked. The response also includes
            the unmodified ApiManagementServiceResource.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementServiceUpdateHostName:
          parameters:
            api-version: 2017-03-01
            parameters:
              update:
              - certificate:
                  expiry: 2018-03-17T21:55:07+00:00
                  subject: CN=*.contoso.com
                  thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                hostname: internalproxy2.contoso.com
                type: Proxy
              - certificate:
                  expiry: 2018-03-17T21:55:07+00:00
                  subject: CN=*.contoso.com
                  thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                hostname: internalportal2.contoso.com
                type: Portal
              - certificate:
                  expiry: 2018-03-17T21:55:07+00:00
                  subject: CN=*.contoso.com
                  thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                hostname: internalmgmt2.contoso.com
                type: Management
              - certificate:
                  expiry: 2018-03-17T21:55:07+00:00
                  subject: CN=*.contoso.com
                  thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                hostname: internalscm2.contoso.com
                type: Scm
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYP5M=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                  - location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    staticIps:
                    - 40.78.99.244
                  createdAtUtc: 2017-06-28T23:01:33.0667959Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    defaultSslBinding: true
                    hostName: internalproxy2.contoso.net
                    negotiateClientCertificate: false
                    type: Proxy
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    defaultSslBinding: false
                    hostName: internalportal2.contoso.net
                    negotiateClientCertificate: false
                    type: Portal
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    defaultSslBinding: false
                    hostName: internalmgmt2.contoso.net
                    negotiateClientCertificate: false
                    type: Management
                  - certificate:
                      expiry: 2018-03-17T21:55:07+00:00
                      subject: CN=*.contoso.net
                      thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    defaultSslBinding: false
                    hostName: internalscm2.contoso.net
                    negotiateClientCertificate: false
                    type: Scm
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: contoso@live.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: contoso@microsoft.com
                  publisherName: admin
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 52.173.22.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
            "202":
              body:
                etag: AAAAAAAYP5M=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                  - location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    staticIps:
                    - 40.78.99.244
                  createdAtUtc: 2017-06-28T23:01:33.0667959Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: contoso@live.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: contoso@microsoft.com
                  publisherName: admin
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                  - 52.173.22.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/uploadcertificate
  : post:
      description: Upload Custom Domain SSL certificate for an API Management service.
        This operation will be deprecated in future releases.
      operationId: api_management_service_upload_certificate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagementServiceUploadCertificateParameters'
        description: Parameters supplied to the Upload SSL certificate for an API
          Management service operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateInformation'
          description: Successfully uploaded certificate to the API Management Service.
      tags:
      - ApiManagementService
      x-ms-examples:
        ApiManagementServiceUploadProxyCertificate:
          parameters:
            api-version: 2016-10-10
            parameters:
              certificate: MIIZ7wI************************************************************
              certificate_password: '******'
              type: Proxy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                expiry: 2018-03-17T21:55:07+00:00
                subject: CN=*.contoso.com
                thumbprint: DE57B************************
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_management_service_controller
components:
  schemas:
    AdditionalLocation:
      description: Description of an additional API Management resource location.
      properties:
        gatewayRegionalUrl:
          description: Gateway URL of the API Management service in the Region.
          readOnly: true
          title: gatewayRegionalUrl
          type: string
        location:
          description: The location name of the additional region among Azure Data
            center regions.
          title: location
          type: string
        sku:
          $ref: '#/components/schemas/ApiManagementServiceSkuProperties'
        staticIps:
          description: Static IP addresses of the location's virtual machines.
          items:
            type: string
          readOnly: true
          title: staticIps
          type: array
        virtualNetworkConfiguration:
          $ref: '#/components/schemas/VirtualNetworkConfiguration'
      required:
      - location
      - sku
      title: AdditionalLocation
      type: object
    ApiManagementServiceApplyNetworkConfigurationParameters:
      description: Parameter supplied to the Apply Network configuration operation.
      example:
        location: location
      properties:
        location:
          description: "Location of the Api Management service to update for a multi-region\
            \ service. For a service deployed in a single region, this parameter is\
            \ not required."
          title: location
          type: string
      title: ApiManagementServiceApplyNetworkConfigurationParameters
      type: object
    ApiManagementServiceBackupRestoreParameters:
      description: Parameters supplied to the Backup/Restore of an API Management
        service operation.
      example:
        accessKey: accessKey
        containerName: containerName
        storageAccount: storageAccount
        backupName: backupName
      properties:
        accessKey:
          description: Azure Cloud Storage account (used to place/retrieve the backup)
            access key.
          title: accessKey
          type: string
        backupName:
          description: The name of the backup file to create.
          title: backupName
          type: string
        containerName:
          description: Azure Cloud Storage blob container name used to place/retrieve
            the backup.
          title: containerName
          type: string
        storageAccount:
          description: Azure Cloud Storage account (used to place/retrieve the backup)
            name.
          title: storageAccount
          type: string
      required:
      - accessKey
      - backupName
      - containerName
      - storageAccount
      title: ApiManagementServiceBackupRestoreParameters
      type: object
    ApiManagementServiceBaseProperties:
      description: Base Properties of an API Management service resource description.
      properties:
        additionalLocations:
          description: Additional datacenter locations of the API Management service.
          items:
            $ref: '#/components/schemas/AdditionalLocation'
          title: additionalLocations
          type: array
        certificates:
          description: List of Certificates that need to be installed in the API Management
            service. Max supported certificates that can be installed is 10.
          items:
            $ref: '#/components/schemas/CertificateConfiguration'
          title: certificates
          type: array
        createdAtUtc:
          description: "Creation UTC date of the API Management service.The date conforms\
            \ to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the\
            \ ISO 8601 standard."
          format: date-time
          readOnly: true
          title: createdAtUtc
          type: string
        customProperties:
          additionalProperties:
            type: string
          description: "Custom properties of the API Management service. Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168`\
            \ will disable the cipher TLS_RSA_WITH_3DES_EDE_CBC_SHA for all TLS(1.0,\
            \ 1.1 and 1.2). Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11`\
            \ can be used to disable just TLS 1.1 and setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10`\
            \ can be used to disable TLS 1.0 on an API Management service."
          title: customProperties
          type: object
        gatewayRegionalUrl:
          description: Gateway URL of the API Management service in the Default Region.
          readOnly: true
          title: gatewayRegionalUrl
          type: string
        gatewayUrl:
          description: Gateway URL of the API Management service.
          readOnly: true
          title: gatewayUrl
          type: string
        hostnameConfigurations:
          description: Custom hostname configuration of the API Management service.
          items:
            $ref: '#/components/schemas/HostnameConfiguration'
          title: hostnameConfigurations
          type: array
        managementApiUrl:
          description: Management API endpoint URL of the API Management service.
          readOnly: true
          title: managementApiUrl
          type: string
        notificationSenderEmail:
          description: Email address from which the notification will be sent.
          maxLength: 100
          title: notificationSenderEmail
          type: string
        portalUrl:
          description: Publisher portal endpoint Url of the API Management service.
          readOnly: true
          title: portalUrl
          type: string
        provisioningState:
          description: "The current provisioning state of the API Management service\
            \ which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted."
          readOnly: true
          title: provisioningState
          type: string
        scmUrl:
          description: SCM endpoint URL of the API Management service.
          readOnly: true
          title: scmUrl
          type: string
        staticIps:
          description: Static IP addresses of the API Management service virtual machines.
            Available only for Standard and Premium SKU.
          items:
            type: string
          readOnly: true
          title: staticIps
          type: array
        targetProvisioningState:
          description: "The provisioning state of the API Management service, which\
            \ is targeted by the long running operation started on the service."
          readOnly: true
          title: targetProvisioningState
          type: string
        virtualNetworkConfiguration:
          $ref: '#/components/schemas/VirtualNetworkConfiguration'
        virtualNetworkType:
          default: None
          description: "The type of VPN in which API Management service needs to be\
            \ configured in. None (Default Value) means the API Management service\
            \ is not part of any Virtual Network, External means the API Management\
            \ deployment is set up inside a Virtual Network having an Internet Facing\
            \ Endpoint, and Internal means that API Management deployment is setup\
            \ inside a Virtual Network having an Intranet Facing Endpoint only."
          enum:
          - None
          - External
          - Internal
          title: virtualNetworkType
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkType
            values:
            - description: The service is not part of any Virtual Network.
              value: None
            - description: The service is part of Virtual Network and it is accessible
                from Internet.
              value: External
            - description: The service is part of Virtual Network and it is only accessible
                from within the virtual network.
              value: Internal
      title: ApiManagementServiceBaseProperties
      type: object
    ApiManagementServiceCheckNameAvailabilityParameters:
      description: Parameters supplied to the CheckNameAvailability operation.
      example:
        name: name
      properties:
        name:
          description: The name to check for availability.
          title: name
          type: string
      required:
      - name
      title: ApiManagementServiceCheckNameAvailabilityParameters
      type: object
    ApiManagementServiceGetSsoTokenResult:
      description: The response of the GetSsoToken operation.
      example:
        redirectUri: redirectUri
      properties:
        redirectUri:
          description: Redirect URL to the Publisher Portal containing the SSO token.
          title: redirectUri
          type: string
      title: ApiManagementServiceGetSsoTokenResult
      type: object
    ApiManagementServiceIdentity:
      description: Identity properties of the Api Management service resource.
      example:
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: SystemAssigned
      properties:
        principalId:
          description: The principal id of the identity.
          format: uuid
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The client tenant id of the identity.
          format: uuid
          readOnly: true
          title: tenantId
          type: string
        type:
          description: The identity type. Currently the only supported type is 'SystemAssigned'.
          enum:
          - SystemAssigned
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApimIdentityType
      required:
      - type
      title: ApiManagementServiceIdentity
      type: object
    ApiManagementServiceListResult:
      description: The response of the List API Management services operation.
      example:
        value:
        - identity:
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: SystemAssigned
          etag: etag
          location: location
          sku:
            name: Developer
            capacity: 0
          properties:
            publisherName: publisherName
            publisherEmail: publisherEmail
        - identity:
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: SystemAssigned
          etag: etag
          location: location
          sku:
            name: Developer
            capacity: 0
          properties:
            publisherName: publisherName
            publisherEmail: publisherEmail
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of API Management services.
          title: nextLink
          type: string
        value:
          description: Result of the List API Management services operation.
          items:
            $ref: '#/components/schemas/ApiManagementServiceResource'
          title: value
          type: array
      required:
      - value
      title: ApiManagementServiceListResult
      type: object
    ApiManagementServiceNameAvailabilityResult:
      description: Response of the CheckNameAvailability operation.
      example:
        reason: Valid
        nameAvailable: true
        message: message
      properties:
        message:
          description: "If reason == invalid, provide the user with the reason why\
            \ the given name is invalid, and provide the resource naming requirements\
            \ so that the user can select a valid name. If reason == AlreadyExists,\
            \ explain that <resourceName> is already in use, and direct them to select\
            \ a different name."
          readOnly: true
          title: message
          type: string
        nameAvailable:
          description: True if the name is available and can be used to create a new
            API Management service; otherwise false.
          readOnly: true
          title: nameAvailable
          type: boolean
        reason:
          description: "Invalid indicates the name provided does not match the resource\
            \ provider’s naming requirements (incorrect length, unsupported characters,\
            \ etc.)  AlreadyExists indicates that the name is already in use and is\
            \ therefore unavailable."
          enum:
          - Valid
          - Invalid
          - AlreadyExists
          title: reason
          type: string
          x-ms-enum:
            modelAsString: false
            name: NameAvailabilityReason
      title: ApiManagementServiceNameAvailabilityResult
      type: object
    ApiManagementServiceProperties:
      allOf:
      - $ref: '#/components/schemas/ApiManagementServiceBaseProperties'
[...]
