openapi: 3.0.1
info:
  contact: {}
  description: Returns all airports
  title: Airports API v2
  version: "1.0"
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/transavia/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.transavia.com/docs/services/58d8bca5a9e6241bac7e89d8/export?DocumentFormat=Swagger
    version: "2.0"
  x-providerName: transavia.com
servers:
- url: https://api.transavia.com/v2/airports
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags: []
paths:
  /:
    get:
      description: Retrieve all airports.
      operationId: call_58d8bcb7a9e6240e200cff24
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AirportDtoArray'
            application/json:
              schema:
                $ref: '#/components/schemas/AirportDtoArray'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportDtoArray'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: BadRequest
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: InternalServerError
      summary: All airports
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /countrycode/{countryCode}:
    get:
      description: Retrieve airports by country code.
      operationId: call_58d8bcb8a9e6240e200cff26
      parameters:
      - description: Comma-separated list of country codes (2-character ISO 3166-1).
          More than 3 country codes is not allowed.
        in: path
        name: countryCode
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AirportDtoArray'
            application/json:
              schema:
                $ref: '#/components/schemas/AirportDtoArray'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportDtoArray'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: BadRequest
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: InternalServerError
      summary: Airport(s) by country code.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nearest:
    get:
      description: Retrieve nearest airports by geo coordinates (latitude/longitude).
      operationId: call_58d8bcb8a9e6240e200cff27
      parameters:
      - description: "Latitude in decimals, lower than -90.0 and higher than 90.0\
          \ is not allowed."
        in: query
        name: latitude
        schema:
          type: string
      - description: "Longitude in decimals, lower than -180.0 and higher than 180.0\
          \ is not allowed."
        in: query
        name: longitude
        schema:
          type: string
      - description: "Maximum distance in kilometers, lower than 1 and higher than\
          \ 500 is not allowed. If not set, max value is applied."
        in: query
        name: maxDistanceInKm
        schema:
          type: string
      - description: "Limits the result, lower than 0 is not allowed. If not set,\
          \ the result is not limited."
        in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NearestAirportDtoArray'
            application/json:
              schema:
                $ref: '#/components/schemas/NearestAirportDtoArray'
            text/json:
              schema:
                $ref: '#/components/schemas/NearestAirportDtoArray'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: BadRequest
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: InternalServerError
      summary: Nearest airport(s) by geo coordinates.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nearest/{id}:
    get:
      description: Retrieve nearest airports by station id.
      operationId: call_58d8bcb8a9e6240e200cff28
      parameters:
      - description: Airport (IATA code) to search nearest airports for.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Maximum distance in kilometers, lower than 1 and higher than\
          \ 500 is not allowed. If not set, max value is applied."
        in: query
        name: maxDistanceInKm
        schema:
          type: string
      - description: "Limits the result, lower than 0 is not allowed. If not set,\
          \ the result is not limited."
        in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NearestAirportDtoArray'
            application/json:
              schema:
                $ref: '#/components/schemas/NearestAirportDtoArray'
            text/json:
              schema:
                $ref: '#/components/schemas/NearestAirportDtoArray'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: BadRequest
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: InternalServerError
      summary: Nearest airport(s) by airport id.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{id}:
    get:
      description: Retrieve airport by id.
      operationId: call_58d8bcb7a9e6240e200cff25
      parameters:
      - description: Airport code (3-character IATA code).
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AirportDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AirportDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportDetailsDto'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: BadRequest
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: InternalServerError
      summary: Airport by id.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    AirportDetailsDto:
      example:
        country:
          code: code
          name: name
        city: city
        name: name
        geoCoordinates:
          latitude: 0.8008281904610115
          longitude: 6.027456183070403
        id: id
        inboundRoutes:
          href: href
        outboundRoutes:
          href: href
      properties:
        city:
          description: City where the airport is located.
          title: city
          type: string
        country:
          $ref: '#/components/schemas/Country'
        geoCoordinates:
          $ref: '#/components/schemas/GeoCoordinates'
        id:
          description: Unique identifier.
          title: id
          type: string
        inboundRoutes:
          $ref: '#/components/schemas/Link'
        name:
          description: Name of the airport.
          title: name
          type: string
        outboundRoutes:
          $ref: '#/components/schemas/Link'
      title: AirportDetailsDto
      type: object
    AirportDto:
      description: ""
      example:
        country:
          code: code
          name: name
        city: city
        name: name
        self:
          href: href
        geoCoordinates:
          latitude: 0.8008281904610115
          longitude: 6.027456183070403
        id: id
      properties:
        city:
          description: City where the airport is located.
          title: city
          type: string
        country:
          $ref: '#/components/schemas/Country'
        geoCoordinates:
          $ref: '#/components/schemas/GeoCoordinates'
        id:
          description: Unique identifier.
          title: id
          type: string
        name:
          description: Name of the airport.
          title: name
          type: string
        self:
          $ref: '#/components/schemas/Link'
      title: AirportDto
      type: object
    AirportDtoArray:
      items:
        $ref: '#/components/schemas/AirportDto'
      type: array
    BadRequestResponse:
      example:
        errorMessages:
        - errorMessages
        - errorMessages
      properties:
        errorMessages:
          items:
            type: string
          title: errorMessages
          type: array
      title: BadRequestResponse
      type: object
    Country:
      example:
        code: code
        name: name
      properties:
        code:
          title: code
          type: string
        name:
          title: name
          type: string
      title: Country
      type: object
    GeoCoordinates:
      example:
        latitude: 0.8008281904610115
        longitude: 6.027456183070403
      properties:
        latitude:
          format: double
          title: latitude
          type: number
        longitude:
          format: double
          title: longitude
          type: number
      title: GeoCoordinates
      type: object
    InternalServerErrorResponse:
      example:
        errorMessage: errorMessage
        referenceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        errorMessage:
          title: errorMessage
          type: string
        referenceId:
          format: uuid
          title: referenceId
          type: string
      title: InternalServerErrorResponse
      type: object
    Link:
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: Link
      type: object
    NearestAirportDto:
      description: ""
      example:
        country:
          code: code
          name: name
        city: city
        name: name
        self:
          href: href
        geoCoordinates:
          latitude: 0.8008281904610115
          longitude: 6.027456183070403
        id: id
        distanceInKm: 0
      properties:
        city:
          description: City where the airport is located.
          title: city
          type: string
        country:
          $ref: '#/components/schemas/Country'
        distanceInKm:
          description: Distance in kilometers.
          format: int32
          title: distanceInKm
          type: integer
        geoCoordinates:
          $ref: '#/components/schemas/GeoCoordinates'
        id:
          description: Unique identifier.
          title: id
          type: string
        name:
          description: Name of the airport.
          title: name
          type: string
        self:
          $ref: '#/components/schemas/Link'
      title: NearestAirportDto
      type: object
    NearestAirportDtoArray:
      items:
        $ref: '#/components/schemas/NearestAirportDto'
      type: array
  securitySchemes:
    apiKeyHeader:
      in: header
      name: apikey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: subscription-key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
x-original-swagger-version: "2.0"
