openapi: 3.0.0
info:
  contact:
    x-twitter: contribly
  title: Contribly
  version: 1.0.0
  x-apisguru-categories:
  - social
  x-logo:
    url: https://twitter.com/contribly/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.contribly.com/1/swagger.json
    version: "3.0"
  x-providerName: contribly.com
servers:
- url: https://api.contribly.com/1
tags:
- description: Create and list assignments
  name: assignment
- description: "Submit, moderate and retrieve user contributions"
  name: contribution
- description: Create and edit forms
  name: form
- description: Submit media
  name: media
- description: Notifications are templated email messages which can be sent to contributors.
    A notification might be used to request further information from a contributor
    or inform them when their contribution has been published.
  name: notifications
- description: Subscribe to be alerted when events occur. For example receive email
    notification when a contribution is flagged.
  name: subscriptions
- description: Create and list tags and tag sets
  name: tag
- description: Manage users
  name: user
- description: Authentication related
  name: auth
paths:
  /artifact-formats:
    get:
      description: List the available artifact formats
      operationId: artifact_formats_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactFormats'
          description: A list of artifact formats
      summary: Artifact formats
      tags:
      - info
      x-openapi-router-controller: openapi_server.controllers.info_controller
  /assignments:
    get:
      operationId: assignments_get
      parameters:
      - description: Restrict results to assignments owned by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Pagination page
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Pagination page size
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Restrict results to assignments whose name or description matches
          this keyword.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Select an assignment by urlWords.
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      - description: Select open or closed assignments
        explode: true
        in: query
        name: open
        required: false
        schema:
          type: boolean
        style: form
      - description: Select assignments with no closing date.
        explode: true
        in: query
        name: alwaysOpen
        required: false
        schema:
          type: boolean
        style: form
      - description: Restrict results to assignments which are tagged with this tag.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to the assignment (or potentially assignments)
          with this exact name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Assignment'
                type: array
          description: A list of assignments
          headers:
            X-total-count:
              description: Total number of matching contributions
              explode: false
              schema:
                type: number
              style: simple
      summary: List assignments
      tags:
      - assignment
      x-openapi-router-controller: openapi_server.controllers.assignment_controller
    post:
      operationId: assignments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentSubmission'
        description: Assignment object to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: Assignment created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The new assignment vailed to validate. Check the response body
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failed to create the new assignment due to an unexpected error.
      summary: Create a new assignment
      tags:
      - assignment
      x-openapi-router-controller: openapi_server.controllers.assignment_controller
      x-codegen-request-body-name: body
  /assignments/{id}:
    delete:
      operationId: assignments_id_delete
      parameters:
      - description: Id of the assignment to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Assignment deleted
        "403":
          description: Not permitted to delete this assignment.
        "404":
          description: Not found
      summary: Delete this assignment and all of it's contributions
      tags:
      - assignment
      x-openapi-router-controller: openapi_server.controllers.assignment_controller
    get:
      operationId: assignments_id_get
      parameters:
      - description: Id of the assignment to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: Assignment found
        "404":
          description: Not found
      summary: Get a single assigment by id
      tags:
      - assignment
      x-openapi-router-controller: openapi_server.controllers.assignment_controller
  /change-log:
    get:
      description: The Contribly change log.
      operationId: change_log_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChangeLogItem'
                type: array
          description: A list of change log items
      summary: Recent changes
      tags:
      - info
      x-openapi-router-controller: openapi_server.controllers.info_controller
  /contribution-refinement-types:
    get:
      operationId: contribution_refinement_types_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: An array of refinement types. These are the possible values
            of the get contribution refinements parameter.
      summary: List valid contribution refinement types
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /contribution-refinements:
    get:
      description: Given a contribution list query determine the available filter
        options. Can be used to generate the UI to refinement a filter.
      operationId: contribution_refinements_get
      parameters:
      - description: Restrict results to contributions submitted to this assignment.
        explode: true
        in: query
        name: assignment
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions which have a publicly visible
          location within the given country (specified by two letter country code).
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions created before this date time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit results to contributions created after this date time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Restrict results to contributions which have specified a location
          which falls within this geohash (or comma seperated list of multiple geohashes)
        explode: true
        in: query
        name: geohash
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which have a publicly visible
          location.
        explode: true
        in: query
        name: hasLocation
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit results to contributions with location near this latitude
          and longitude (comma seperated lat/long pair). Also see radius
        explode: true
        in: query
        name: latLong
        required: false
        schema:
          type: string
        style: form
      - description: "When limiting result by location with the latLong parameter,\
          \ specify the radius in kilometers."
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Restrict results to contributions which include a media file
          of the given type (ie. image / video)
        explode: true
        in: query
        name: mediaType
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which are fall under the jurisdiction
          by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions whose headline text matches
          this keyword.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Locate a specific contribution by URL words
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions by this user identified by
          id.
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      - description: Comma seperated list of refinement names.
        explode: true
        in: query
        name: refinements
        required: false
        schema:
          type: string
        style: form
      - description: Number of refinement options to return.
        explode: true
        in: query
        name: refinementSize
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: A map of refinement names to lists of options
      summary: List contribution refinement options
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /contributions:
    get:
      description: Retrieve contributions.
      operationId: contributions_get
      parameters:
      - description: Restrict results to contributions submitted to this assignment.
        explode: true
        in: query
        name: assignment
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions which have a publicly visible
          location within the given country (specified by two letter country code).
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions created before this date time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit results to contributions created after this date time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit results to contributions created on this day.
        explode: true
        in: query
        name: createdDay
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Limit results to contributions created during this month.
        explode: true
        in: query
        name: createdMonth
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which have specified a location
          which falls within this geohash (or comma seperated list of multiple geohashes)
        explode: true
        in: query
        name: geohash
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which have a publicly visible
          location.
        explode: true
        in: query
        name: hasLocation
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit results to contributions with location near this latitude
          and longitude (comma seperated lat/long pair). Also see radius
        explode: true
        in: query
        name: latLong
        required: false
        schema:
          type: string
        style: form
      - description: "When limiting result by location with the latLong parameter,\
          \ specify the radius in kilometers."
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Restrict results to contributions which include a media file
          of the given type (ie. image / video)
        explode: true
        in: query
        name: mediaType
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which are fall under the jurisdiction
          by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions whose headline text matches
          this keyword.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Locate a specific contribution by URL words
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions by this user identified by
          id.
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to a list of specific contributions identified
          by a comma seperated list of ids.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Select output format. 'json' or 'rss'. Defaults to JSON.
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contribution'
                type: array
          description: A list of contributions
      summary: List contributions
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
    post:
      operationId: contributions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contribution'
        description: Contribution object to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contribution'
          description: Contribution created
      security:
      - oauth:
        - full
      summary: Create a new contribution
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
      x-codegen-request-body-name: body
  /contributions/{id}:
    delete:
      operationId: contributions_id_delete
      parameters:
      - description: Id of the contribution to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contribution'
          description: The deletion request has been accepted and will be processed
            in the background.
        "403":
          description: The currently authorised user is not allowed to delete this
            contribution.
        "404":
          description: Not found
      summary: Delete this contribution
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
    get:
      operationId: contributions_id_get
      parameters:
      - description: Id of the contribution to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contribution'
          description: Successful
        "404":
          description: Not found
      summary: Get a single contribution by id
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /contributions/{id}/flag:
    post:
      description: Allows end users to bring potential issues with publicly visible
        content to the attention of moderators.
      operationId: contributions_id_flag_post
      parameters:
      - description: Id of the contribution to flag
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flag'
        description: Flag to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flag'
          description: Flag created
      summary: Raise a flag against this contribution
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
      x-codegen-request-body-name: body
  /contributions/{id}/like:
    post:
      operationId: contributions_id_like_post
      parameters:
      - description: Id of the contribution
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: The updated like count for this contribution.
      summary: Allows a user to mark a contribution as liked
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /contributions/{id}/likes:
    get:
      description: Returns a list of user ids of users who have liked this conribution
      operationId: contributions_id_likes_get
      parameters:
      - description: Id of the contribution
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: A list of user ids.
      summary: List users who have liked this contributions
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /contributions/{id}/moderate:
    post:
      description: Allows the contribution to approved of rejected.
      operationId: contributions_id_moderate_post
      parameters:
      - description: Id of the contribution to moderate
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationHistoryItemSubmission'
        description: A moderation action
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The moderation action was successfully applied
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The submission falied to validate. Check the response body
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was not correctly authorised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: You do not have permission to perform this moderation action.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred.
      summary: Perform a moderation action on this contribution
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
      x-codegen-request-body-name: body
  /credentials:
    get:
      operationId: credentials_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Credential'
                type: array
          description: A list of credentials associated with this user.
        "401":
          description: Not authorised
      summary: List the credentials associated with the authenticated user.
      tags:
      - auth
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /event-types:
    get:
      description: List available notification event types
      operationId: event_types_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EventType'
                type: array
          description: A list of event types
      summary: Event types
      tags:
      - info
      x-openapi-router-controller: openapi_server.controllers.info_controller
  /export:
    post:
      description: Begin an export job. Returns a export job which can be polled to
        follow the progress of an export.
      operationId: export_post
      parameters:
      - description: Restrict results to contributions submitted to this assignment.
        explode: true
        in: query
        name: assignment
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions which have a publicly visible
          location within the given country (specified by two letter country code).
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions created before this date time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit results to contributions created after this date time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Restrict results to contributions which have specified a location
          which falls within this geohash (or comma seperated list of multiple geohashes)
        explode: true
        in: query
        name: geohash
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which have a publicly visible
          location.
        explode: true
        in: query
        name: hasLocation
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit results to contributions with location near this latitude
          and longitude (comma seperated lat/long pair). Also see radius
        explode: true
        in: query
        name: latLong
        required: false
        schema:
          type: string
        style: form
      - description: "When limiting result by location with the latLong parameter,\
          \ specify the radius in kilometers."
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Restrict results to contributions which include a media file
          of the given type (ie. image / video)
        explode: true
        in: query
        name: mediaType
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which are fall under the jurisdiction
          by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions whose headline text matches
          this keyword.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Locate a specific contribution by URL words
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions by this user identified by
          id.
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      - description: Should exported media files be tagged with metadata. Deprecated;
          use format instead.
        explode: true
        in: query
        name: tagged
        required: false
        schema:
          type: boolean
        style: form
      - description: Included a combined file with all contribution text.
        explode: true
        in: query
        name: combined
        required: false
        schema:
          type: boolean
        style: form
      - description: Include individual text files for each contribution.
        explode: true
        in: query
        name: individual
        required: false
        schema:
          type: boolean
        style: form
      - description: "Media format to export; none, fullsize, tagged or original."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: Include raw JSON for each contribution.
        explode: true
        in: query
        name: json
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: An export job describing the state of an export job.
      summary: Export contributions.
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /export-summary:
    post:
      description: Provide a preflight summary of an export request.
      operationId: export_summary_post
      parameters:
      - description: Restrict results to contributions submitted to this assignment.
        explode: true
        in: query
        name: assignment
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions which have a publicly visible
          location within the given country (specified by two letter country code).
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to contributions created before this date time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit results to contributions created after this date time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Restrict results to contributions which have specified a location
          which falls within this geohash (or comma seperated list of multiple geohashes)
        explode: true
        in: query
        name: geohash
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which have a publicly visible
          location.
        explode: true
        in: query
        name: hasLocation
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit results to contributions with location near this latitude
          and longitude (comma seperated lat/long pair). Also see radius
        explode: true
        in: query
        name: latLong
        required: false
        schema:
          type: string
        style: form
      - description: "When limiting result by location with the latLong parameter,\
          \ specify the radius in kilometers."
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Restrict results to contributions which include a media file
          of the given type (ie. image / video)
        explode: true
        in: query
        name: mediaType
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions which are fall under the jurisdiction
          by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions whose headline text matches
          this keyword.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Locate a specific contribution by URL words
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to contributions by this user identified by
          id.
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportSummary'
          description: "A summary of the number of contributions, media files and\
            \ approximate total size of media files."
      summary: Export contributions preflight summary.
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /exports/{id}:
    get:
      operationId: exports_id_get
      parameters:
      - description: Id of the export job to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: Successful
        "404":
          description: Not found
      summary: Get a single export job; poll to follow export progress.
      tags:
      - contribution
      x-openapi-router-controller: openapi_server.controllers.contribution_controller
  /form-responses:
    get:
      operationId: form_responses_get
      parameters:
      - description: Restrict results to responses submitted by this user.
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to responses submitted to this form.
        explode: true
        in: query
        name: form
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to responses relating to this contribution.
        explode: true
        in: query
        name: contribution
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FormResponse'
                type: array
          description: A list of form responses
          headers:
            X-total-count:
              description: Total number of matching form responses
              explode: false
              schema:
                type: number
              style: simple
      summary: List form responses
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
    post:
      operationId: form_responses_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormResponseSubmission'
        description: Form response
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
          description: Form response saved
      summary: Submit a response to a form
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
      x-codegen-request-body-name: body
  /form-responses/{id}:
    get:
      operationId: form_responses_id_get
      parameters:
      - description: Id of the assignment to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
          description: Form response found
        "404":
          description: Not found
      summary: Get a single form response by id
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
  /forms:
    get:
      operationId: forms_get
      parameters:
      - description: Restrict results to forms owned by this user.
        explode: true
        in: query
        name: ownedBy
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Form'
                type: array
          description: A list of forms
          headers:
            X-total-count:
              description: Total number of matching forms
              explode: false
              schema:
                type: number
              style: simple
      summary: List forms
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
    post:
      operationId: forms_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSubmission'
        description: Form object to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
          description: Form created
      summary: Create a form
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
      x-codegen-request-body-name: body
  /forms/{id}:
    delete:
      operationId: forms_id_delete
      parameters:
      - description: Id of the form to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Form deleted
        "404":
          description: Not found
      summary: Delete this form and all of it's responses.
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
    get:
      operationId: forms_id_get
      parameters:
      - description: Id of the form to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
          description: Form found
        "404":
          description: Not found
      summary: Get a single form by id
      tags:
      - form
      x-openapi-router-controller: openapi_server.controllers.form_controller
  /media:
    post:
      operationId: media_post
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
        description: Binary media file
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
          description: Media created
      security:
      - oauth:
        - full
      summary: Submit a new media file
      tags:
      - media
      x-openapi-router-controller: openapi_server.controllers.media_controller
      x-codegen-request-body-name: body
  /notifications/contributions/{id}/preview:
    get:
      operationId: notifications_contributions_id_preview_get
      parameters:
      - description: Id of the contribution to preview a notification for
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Type of message to preview.
        explode: true
        in: query
        name: message
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreview'
          description: Notification preview
      tags:
      - notifications
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
  /scopes:
    get:
      description: List available token scopes
      operationId: scopes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: A list of scopes
      summary: Scopes
      tags:
      - auth
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /subscription-types:
    get:
      description: List available subscription types
      operationId: subscription_types_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SubscriptionType'
                type: array
          description: A list of subscription event types
      summary: Subscription types
      tags:
      - subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
  /subscriptions:
    get:
      operationId: subscriptions_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionSubmission'
        description: Subscription to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
          description: A list of notification subscriptions
          headers:
            X-total-count:
              description: Total number of matching subscriptions
              explode: false
              schema:
                type: number
              style: simple
      summary: List subscriptions for the authorised user.
      tags:
      - subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
      x-codegen-request-body-name: body
  /subscriptions/{id}:
    delete:
      operationId: subscriptions_id_delete
      parameters:
      - description: Id of the subscription to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The subscription has been successfully deleted.
      summary: Delete a subscription.
      tags:
      - subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
  /tags:
    get:
      description: Retrieve tags.
      operationId: tags_get
      parameters:
      - description: Restrict results to those owned by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to tags belonging to this tag set.
        explode: true
        in: query
        name: tagSet
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results by urlWords. Should be used with ownedBy when
          searching for one of your own tags.
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tag'
                type: array
          description: A list of tags
          headers:
            X-total-count:
              description: Total number of matching tags
              explode: false
              schema:
                type: number
              style: simple
      summary: List tags
      tags:
      - tag
      x-openapi-router-controller: openapi_server.controllers.tag_controller
    post:
      operationId: tags_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagSubmission'
        description: Tag object to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
          description: Tag created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The new tag submission failed to validate. Check the response
            body for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failed to create the new tag due to an unexcepted error.
      summary: Create a new tag
      tags:
      - tag
      x-openapi-router-controller: openapi_server.controllers.tag_controller
      x-codegen-request-body-name: body
  /tags/{id}:
    get:
      operationId: tags_id_get
      parameters:
      - description: Id of the tag to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
          description: The tag
        "404":
          description: Not found
      summary: Retrieve a single tag by id
      tags:
      - tag
      x-openapi-router-controller: openapi_server.controllers.tag_controller
  /tagsets:
    get:
      description: Retrieve tag sets.
      operationId: tagsets_get
      parameters:
      - description: Restrict results to those owned by this user.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results by urlWords. Should be used with ownedBy when
          searching for one of your own tag sets.
        explode: true
        in: query
        name: urlWords
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TagSet'
                type: array
          description: A list of tag sets
          headers:
            X-total-count:
              description: Total number of matching tag sets
              explode: false
              schema:
                type: number
              style: simple
      summary: List tag sets
      tags:
      - tag
      x-openapi-router-controller: openapi_server.controllers.tag_controller
    post:
      operationId: tagsets_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagSetSubmission'
        description: Tag set to be created
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagSet'
          description: Tagset created
      summary: Create a new tag set
      tags:
      - tag
      x-openapi-router-controller: openapi_server.controllers.tag_controller
      x-codegen-request-body-name: body
  /tagsets/{id}:
    get:
      operationId: tagsets_id_get
      parameters:
      - description: Id of the tag set to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagSet'
          description: The tag set
        "404":
          description: Not found
      summary: Retrieve a single tag set by id
      tags:
      - tag
      x-openapi-router-controller: openapi_server.controllers.tag_controller
  /users:
    get:
      operationId: users_get
      parameters:
      - description: Restrict results to the users who have contributed to this assignment.
        explode: true
        in: query
        name: assignment
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to the users who have submitted a contribution
          with a public location located within this country.
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to the users who have submitted at least this
          many contributions.
        explode: true
        in: query
        name: minimumContributions
        required: false
        schema:
          type: number
        style: form
      - description: Restrict results to the users who a linked profile of this type.
        explode: true
        in: query
        name: linkedProfile
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to the users who are owned by of this owner.
        explode: true
        in: query
        name: ownedBy
        required: false
        schema:
          type: string
        style: form
      - description: Limit results to users who have submitted at least one contribution
          before this date time.
        explode: true
        in: query
        name: submittedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit results to users who have submitted at least one contribution
          after this date time.
        explode: true
        in: query
        name: submittedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Restrict results to the user with this username.
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: A list of users
          headers:
            X-total-count:
              description: Total number of matching users
              explode: false
              schema:
                type: number
              style: simple
      summary: List users
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /users/{id}:
    get:
      operationId: users_id_get
      parameters:
      - description: Id of the user to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successful
        "404":
          description: Not found
      summary: Retrieve a single user by id
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /users/{id}/linked/{type}:
    get:
      operationId: users_id_linked_type_get
      parameters:
      - description: Id of the user to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the linked profile to fetch
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedProfile'
          description: Successful
        "404":
          description: Not found
      summary: Retrieve a users linked profile by type
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /verify:
    post:
      operationId: verify_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authority'
          description: Token is valid
      security:
      - oauth:
        - full
      summary: Verify token and return details of the owning user
      tags:
      - auth
      x-openapi-router-controller: openapi_server.controllers.auth_controller
components:
  schemas:
    Artifact:
      example:
        width: 1.4658129805029452
        contentLength: 0.8008281904610115
        label: label
        contentType: contentType
        url: url
        height: 6.027456183070403
      properties:
        contentLength:
          title: contentLength
          type: number
        contentType:
          title: contentType
          type: string
        height:
          title: height
          type: number
        label:
          title: label
          type: string
        url:
          title: url
          type: string
        width:
          title: width
          type: number
      title: Artifact
      type: object
    ArtifactFormat:
      example:
        public: true
        fileExtension: fileExtension
        upscaleAllowed: true
        preserveAspectRatio: true
        forContentType: forContentType
        label: label
        contentType: contentType
      properties:
        contentType:
          title: contentType
          type: string
        fileExtension:
          title: fileExtension
          type: string
        forContentType:
          title: forContentType
          type: string
        label:
          title: label
          type: string
        preserveAspectRatio:
          title: preserveAspectRatio
          type: boolean
        public:
          title: public
          type: boolean
        upscaleAllowed:
          title: upscaleAllowed
          type: boolean
      title: ArtifactFormat
      type: object
    ArtifactFormats:
      example:
        cover:
        - public: true
          fileExtension: fileExtension
          upscaleAllowed: true
          preserveAspectRatio: true
          forContentType: forContentType
          label: label
          contentType: contentType
        - public: true
          fileExtension: fileExtension
          upscaleAllowed: true
          preserveAspectRatio: true
          forContentType: forContentType
          label: label
          contentType: contentType
        contribution:
        - public: true
          fileExtension: fileExtension
          upscaleAllowed: true
          preserveAspectRatio: true
          forContentType: forContentType
          label: label
          contentType: contentType
        - public: true
          fileExtension: fileExtension
          upscaleAllowed: true
          preserveAspectRatio: true
          forContentType: forContentType
          label: label
          contentType: contentType
        profileImage:
        - public: true
          fileExtension: fileExtension
          upscaleAllowed: true
          preserveAspectRatio: true
          forContentType: forContentType
          label: label
          contentType: contentType
        - public: true
          fileExtension: fileExtension
          upscaleAllowed: true
          preserveAspectRatio: true
          forContentType: forContentType
          label: label
          contentType: contentType
      properties:
        contribution:
          items:
            $ref: '#/components/schemas/ArtifactFormat'
          title: contribution
          type: array
        cover:
          items:
            $ref: '#/components/schemas/ArtifactFormat'
          title: cover
          type: array
        profileImage:
          items:
            $ref: '#/components/schemas/ArtifactFormat'
          title: profileImage
          type: array
      title: ArtifactFormats
      type: object
    Assignment:
      example:
        featured: true
        urlWords: urlWords
        created: 2000-01-23T04:56:07.000+00:00
        moderator: moderator
        description: description
        mediaRequired: true
        callToAction: callToAction
        tags:
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
        cover:
          id: id
          media:
            duration: 5.962133916683182
            id: id
            place:
              country: country
              latLong:
                latitude: 5.637376656633329
                longitude: 2.3021358869347655
              geohash: geohash
              name: name
              osm:
                osmId: 7.061401241503109
                osmType: osmType
              google: google
            type: type
          artifacts:
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
        receiptMessage: receiptMessage
        webUrl: webUrl
        ends: 2000-01-23T04:56:07.000+00:00
        allowsAnonymousContributions: true
        name: name
        embargo: 2000-01-23T04:56:07.000+00:00
        id: id
        starts: 2000-01-23T04:56:07.000+00:00
        open: true
      properties:
        allowsAnonymousContributions:
          title: allowsAnonymousContributions
          type: boolean
        callToAction:
          description: An optional call to action specific to this assignment. ie.
            Submit your snow pictures.
          title: callToAction
          type: string
        cover:
          $ref: '#/components/schemas/MediaUsage'
        created:
          format: date-time
          title: created
          type: string
        description:
          title: description
          type: string
        embargo:
          format: date-time
          title: embargo
          type: string
        ends:
          format: date-time
          title: ends
          type: string
        featured:
          title: featured
          type: boolean
        id:
          title: id
          type: string
        mediaRequired:
          title: mediaRequired
          type: boolean
        moderator:
          description: Optional credential id of the moderator who owns this particular
            assignment.
          title: moderator
          type: string
        name:
          title: name
          type: string
        open:
          description: Helper value. Is this assignment currently open? Based on the
            value of the ends field.
          title: open
          type: boolean
        receiptMessage:
          description: "An optional assignment specific message to be displayed on\
            \ successful contribution submission. For example, this might be used\
            \ to inform contributors of assignment specific moderation time frames."
          title: receiptMessage
          type: string
        starts:
          format: date-time
          title: starts
          type: string
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          title: tags
          type: array
        urlWords:
          title: urlWords
          type: string
        webUrl:
          title: webUrl
          type: string
      title: Assignment
      type: object
    AssignmentSubmission:
      example:
        featured: true
        urlWords: urlWords
        moderator: moderator
        description: description
        mediaRequired: true
        tags:
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
        cover:
          id: id
          media:
            duration: 5.962133916683182
            id: id
            place:
              country: country
              latLong:
                latitude: 5.637376656633329
                longitude: 2.3021358869347655
              geohash: geohash
              name: name
              osm:
                osmId: 7.061401241503109
                osmType: osmType
              google: google
            type: type
          artifacts:
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
        receiptMessage: receiptMessage
        ends: 2000-01-23T04:56:07.000+00:00
        allowsAnonymousContributions: true
        name: name
        embargo: 2000-01-23T04:56:07.000+00:00
        id: id
        starts: 2000-01-23T04:56:07.000+00:00
      properties:
        allowsAnonymousContributions:
          title: allowsAnonymousContributions
          type: boolean
        cover:
          $ref: '#/components/schemas/MediaUsage'
        description:
          title: description
          type: string
        embargo:
          format: date-time
          title: embargo
          type: string
        ends:
          format: date-time
          title: ends
          type: string
        featured:
          title: featured
          type: boolean
        id:
          title: id
          type: string
        mediaRequired:
          title: mediaRequired
          type: boolean
        moderator:
          description: Optional credential id of the login which will moderator this
            assignment.
          title: moderator
          type: string
        name:
          title: name
          type: string
        receiptMessage:
          description: "An optional assignment specific message to be displayed on\
            \ successful contribution submission. For example, this might be used\
            \ to inform contributors of assignment specific moderation time frames."
          title: receiptMessage
          type: string
        starts:
          format: date-time
          title: starts
          type: string
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          title: tags
          type: array
        urlWords:
          title: urlWords
          type: string
      required:
      - name
      title: AssignmentSubmission
      type: object
    Authority:
      example:
        client:
          name: name
          id: id
        id: id
        user:
          displayName: displayName
          bio: bio
          registered: 2000-01-23T04:56:07.000+00:00
          id: id
          username: username
      properties:
        client:
          $ref: '#/components/schemas/Client'
        id:
          title: id
          type: string
        user:
          $ref: '#/components/schemas/User'
      title: Authority
      type: object
    ChangeLogItem:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        description: description
        title: title
      properties:
        date:
          format: date-time
          title: date
          type: string
        description:
          title: description
          type: string
        title:
          title: title
          type: string
      required:
      - date
      - title
      title: ChangeLogItem
      type: object
    Client:
      example:
        name: name
        id: id
      properties:
        id:
          title: id
          type: string
        name:
          title: name
          type: string
      title: Client
      type: object
    Contribution:
      example:
        urlWords: urlWords
        assignment:
          featured: true
          urlWords: urlWords
          created: 2000-01-23T04:56:07.000+00:00
          moderator: moderator
          description: description
          mediaRequired: true
          callToAction: callToAction
          tags:
          - tagSet:
              name: name
              id: id
            colour: '#0061a6'
            urlWords: urlWords
            name: name
            id: id
          - tagSet:
              name: name
              id: id
            colour: '#0061a6'
            urlWords: urlWords
            name: name
            id: id
          cover:
            id: id
            media:
              duration: 5.962133916683182
              id: id
              place:
                country: country
                latLong:
                  latitude: 5.637376656633329
                  longitude: 2.3021358869347655
                geohash: geohash
                name: name
                osm:
                  osmId: 7.061401241503109
                  osmType: osmType
                google: google
              type: type
            artifacts:
            - width: 1.4658129805029452
              contentLength: 0.8008281904610115
              label: label
              contentType: contentType
              url: url
              height: 6.027456183070403
            - width: 1.4658129805029452
              contentLength: 0.8008281904610115
              label: label
              contentType: contentType
              url: url
              height: 6.027456183070403
          receiptMessage: receiptMessage
          webUrl: webUrl
          ends: 2000-01-23T04:56:07.000+00:00
          allowsAnonymousContributions: true
          name: name
          embargo: 2000-01-23T04:56:07.000+00:00
          id: id
          starts: 2000-01-23T04:56:07.000+00:00
          open: true
        created: 2000-01-23T04:56:07.000+00:00
        attribution: attribution
        moderationHistory:
        - date: 2000-01-23T04:56:07.000+00:00
          notes: notes
          action:
            resultingState:
              public: true
              id: id
              label: label
            id: id
            label: label
        - date: 2000-01-23T04:56:07.000+00:00
          notes: notes
          action:
            resultingState:
              public: true
              id: id
              label: label
            id: id
            label: label
        id: id
        place:
          country: country
          latLong:
            latitude: 5.637376656633329
            longitude: 2.3021358869347655
          geohash: geohash
          name: name
          osm:
            osmId: 7.061401241503109
            osmType: osmType
          google: google
        body: body
        headline: headline
        mediaUsages:
        - id: id
          media:
            duration: 5.962133916683182
            id: id
            place:
              country: country
              latLong:
                latitude: 5.637376656633329
                longitude: 2.3021358869347655
              geohash: geohash
              name: name
              osm:
                osmId: 7.061401241503109
                osmType: osmType
              google: google
            type: type
          artifacts:
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
        - id: id
          media:
            duration: 5.962133916683182
            id: id
            place:
              country: country
              latLong:
                latitude: 5.637376656633329
                longitude: 2.3021358869347655
              geohash: geohash
              name: name
              osm:
                osmId: 7.061401241503109
                osmType: osmType
              google: google
            type: type
          artifacts:
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
          - width: 1.4658129805029452
            contentLength: 0.8008281904610115
            label: label
            contentType: contentType
            url: url
            height: 6.027456183070403
        via:
          ipAddressPlace:
            country: country
            latLong:
              latitude: 5.637376656633329
              longitude: 2.3021358869347655
            geohash: geohash
            name: name
            osm:
              osmId: 7.061401241503109
              osmType: osmType
            google: google
          authority:
            client:
              name: name
              id: id
            id: id
            user:
              displayName: displayName
              bio: bio
              registered: 2000-01-23T04:56:07.000+00:00
              id: id
              username: username
          ipAddress: ipAddress
      properties:
        assignment:
          $ref: '#/components/schemas/Assignment'
        attribution:
          description: The public attribution for this contribution. This will be
            the display name of the registered user or the contributor's first and
            last name if they provided them while making a non authenticated contribution.
            A blank attribution field indicates and anonymous contribution.
          title: attribution
          type: string
        body:
          title: body
          type: string
        created:
          format: date-time
          title: created
          type: string
        headline:
          title: headline
          type: string
        id:
          title: id
          type: string
        mediaUsages:
          items:
            $ref: '#/components/schemas/MediaUsage'
          title: mediaUsages
          type: array
        moderationHistory:
          items:
            $ref: '#/components/schemas/ModerationHistoryItem'
          title: moderationHistory
          type: array
        place:
          $ref: '#/components/schemas/Place'
        urlWords:
          title: urlWords
          type: string
        via:
          $ref: '#/components/schemas/Via'
      title: Contribution
      type: object
    Credential:
      example:
        scopes:
        - scopes
        - scopes
        type: type
        user: user
        value: value
      properties:
        scopes:
          items:
            type: string
          title: scopes
          type: array
        type:
          title: type
          type: string
        user:
          title: user
          type: string
        value:
          title: value
          type: string
      title: Credential
      type: object
    ErrorField:
      example:
        name: name
        message: message
      properties:
        message:
          title: message
          type: string
        name:
          title: name
          type: string
      required:
      - name
      title: ErrorField
      type: object
    ErrorResponse:
      example:
        fields:
        - name: name
          message: message
        - name: name
          message: message
        message: message
      properties:
        fields:
          items:
            $ref: '#/components/schemas/ErrorField'
          title: fields
          type: array
        message:
          title: message
          type: string
      title: ErrorResponse
      type: object
    EventType:
      example:
        name: name
        id: id
      properties:
        id:
          title: id
          type: string
        name:
          title: name
          type: string
      required:
      - id
      - name
      title: EventType
      type: object
    Export:
      example:
        owner: owner
        downloadUrl: downloadUrl
        progress: 0.8008281904610115
        finished: 2000-01-23T04:56:07.000+00:00
        started: 2000-01-23T04:56:07.000+00:00
        step: step
        id: id
      properties:
        downloadUrl:
          title: downloadUrl
          type: string
        finished:
          format: date-time
          title: finished
          type: string
        id:
          title: id
          type: string
        owner:
          title: owner
          type: string
        progress:
          title: progress
          type: number
        started:
          format: date-time
          title: started
          type: string
        step:
          title: step
          type: string
      required:
      - id
      - owner
      - started
      title: Export
      type: object
    ExportSummary:
      example:
        contributions: 0.8008281904610115
        estimatedSize: estimatedSize
        totalMediaSize: 1.4658129805029452
        media: 6.027456183070403
      properties:
        contributions:
          description: The number of contributions selected for export.
          title: contributions
          type: number
        estimatedSize:
          description: Human readable estimate of the export size. ie. '10MB'.
          title: estimatedSize
          type: string
        media:
          description: The number of media files included in this export.
          title: media
          type: number
        totalMediaSize:
          description: The expected total size of the media files to be exported.
          title: totalMediaSize
          type: number
      required:
      - contributions
      - media
      - totalMediaSize
      title: ExportSummary
      type: object
    Flag:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        notes: notes
        id: id
        type: type
        email: email
      properties:
        date:
          format: date-time
          title: date
          type: string
        email:
          title: email
          type: string
        id:
          title: id
          type: string
        notes:
          title: notes
          type: string
        type:
          title: type
          type: string
      title: Flag
      type: object
    Form:
      example:
        noCss: true
        cssUrl: cssUrl
        heading: heading
        name: name
        id: id
        fields:
        - public: true
          name: name
          options:
          - options
          - options
          description: description
          label: label
          type: type
          required: true
        - public: true
          name: name
          options:
          - options
          - options
          description: description
          label: label
          type: type
          required: true
        ownedBy: ownedBy
        callToAction: callToAction
        tags:
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
      properties:
        callToAction:
          title: callToAction
          type: string
        cssUrl:
          title: cssUrl
          type: string
        fields:
          items:
            $ref: '#/components/schemas/FormField'
          title: fields
          type: array
        heading:
          title: heading
          type: string
        id:
          title: id
          type: string
        name:
          title: name
          type: string
        noCss:
          title: noCss
          type: boolean
        ownedBy:
          title: ownedBy
          type: string
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          title: tags
          type: array
      title: Form
      type: object
    FormField:
      example:
        public: true
        name: name
        options:
        - options
        - options
        description: description
        label: label
        type: type
        required: true
      properties:
        description:
          title: description
          type: string
        label:
          title: label
          type: string
        name:
          title: name
          type: string
        options:
          items:
            type: string
          title: options
          type: array
        public:
          title: public
          type: boolean
        required:
          title: required
          type: boolean
        type:
          title: type
          type: string
      title: FormField
      type: object
    FormResponse:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        contribution: contribution
        form: form
        responses:
          key: responses
        id: id
        user: user
      properties:
        contribution:
          title: contribution
          type: string
        date:
          format: date-time
          title: date
          type: string
        form:
          title: form
          type: string
        id:
          title: id
          type: string
        responses:
          additionalProperties:
            type: string
          title: responses
          type: object
        user:
          title: user
          type: string
      title: FormResponse
      type: object
    FormResponseSubmission:
      example:
        contribution: contribution
        form: form
        responses:
          key: responses
      properties:
        contribution:
          title: contribution
          type: string
        form:
          title: form
          type: string
        responses:
          additionalProperties:
            type: string
          title: responses
          type: object
      title: FormResponseSubmission
      type: object
    FormSubmission:
      example:
        noCss: true
        cssUrl: cssUrl
        heading: heading
        name: name
        fields:
        - public: true
          name: name
          options:
          - options
          - options
          description: description
          label: label
          type: type
          required: true
        - public: true
          name: name
          options:
          - options
          - options
          description: description
          label: label
          type: type
          required: true
        callToAction: callToAction
        tags:
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
        - tagSet:
            name: name
            id: id
          colour: '#0061a6'
          urlWords: urlWords
          name: name
          id: id
      properties:
        callToAction:
          title: callToAction
          type: string
        cssUrl:
          title: cssUrl
          type: string
        fields:
          items:
            $ref: '#/components/schemas/FormField'
          title: fields
          type: array
        heading:
          title: heading
          type: string
        name:
          title: name
          type: string
        noCss:
          title: noCss
          type: boolean
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          title: tags
          type: array
      title: FormSubmission
      type: object
    Group:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    LatLong:
      example:
        latitude: 5.637376656633329
        longitude: 2.3021358869347655
      properties:
        latitude:
          format: double
          title: latitude
          type: number
        longitude:
          format: double
          title: longitude
          type: number
      title: LatLong
      type: object
    LinkedProfile:
      example:
        profile: profile
        name: name
        bio: bio
        registered: 2000-01-23T04:56:07.000+00:00
        id: id
        email: email
        picture: picture
      properties:
        bio:
          title: bio
          type: string
        email:
          title: email
          type: string
        id:
          title: id
          type: string
        name:
          title: name
          type: string
        picture:
          title: picture
          type: string
        profile:
          title: profile
          type: string
        registered:
          format: date-time
          title: registered
          type: string
      title: LinkedProfile
      type: object
    Media:
      example:
        duration: 5.962133916683182
        id: id
        place:
          country: country
          latLong:
            latitude: 5.637376656633329
            longitude: 2.3021358869347655
          geohash: geohash
          name: name
          osm:
            osmId: 7.061401241503109
            osmType: osmType
          google: google
        type: type
      properties:
        duration:
          title: duration
          type: number
        id:
          title: id
          type: string
        place:
          $ref: '#/components/schemas/Place'
        type:
          title: type
          type: string
      title: Media
      type: object
    MediaUsage:
      example:
        id: id
        media:
          duration: 5.962133916683182
          id: id
          place:
            country: country
            latLong:
              latitude: 5.637376656633329
              longitude: 2.3021358869347655
            geohash: geohash
            name: name
            osm:
              osmId: 7.061401241503109
              osmType: osmType
            google: google
          type: type
        artifacts:
        - width: 1.4658129805029452
          contentLength: 0.8008281904610115
          label: label
          contentType: contentType
          url: url
          height: 6.027456183070403
        - width: 1.4658129805029452
          contentLength: 0.8008281904610115
          label: label
          contentType: contentType
          url: url
          height: 6.027456183070403
      properties:
        artifacts:
          items:
            $ref: '#/components/schemas/Artifact'
          title: artifacts
          type: array
        id:
          title: id
          type: string
        media:
          $ref: '#/components/schemas/Media'
      title: MediaUsage
      type: object
    ModerationAction:
      example:
        resultingState:
          public: true
          id: id
          label: label
        id: id
        label: label
      properties:
        id:
          title: id
          type: string
        label:
          title: label
          type: string
        resultingState:
          $ref: '#/components/schemas/ModerationState'
      required:
      - id
      - label
      - resultingState
      title: ModerationAction
      type: object
    ModerationHistoryItem:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        notes: notes
        action:
          resultingState:
            public: true
            id: id
            label: label
          id: id
          label: label
      properties:
        action:
          $ref: '#/components/schemas/ModerationAction'
        date:
          format: date-time
          title: date
          type: string
        notes:
          title: notes
          type: string
      required:
      - date
      title: ModerationHistoryItem
      type: object
    ModerationHistoryItemSubmission:
      example:
        notes: notes
        action:
          resultingState:
            public: true
            id: id
            label: label
          id: id
          label: label
      properties:
        action:
          $ref: '#/components/schemas/ModerationAction'
        notes:
          title: notes
          type: string
      title: ModerationHistoryItemSubmission
      type: object
    ModerationState:
      example:
        public: true
        id: id
        label: label
      properties:
        id:
          title: id
          type: string
        label:
          title: label
          type: string
        public:
          title: public
          type: boolean
      required:
      - id
      - label
      - public
      title: ModerationState
      type: object
    NotificationPreview:
      example:
        subject: subject
        html: html
        email: email
      properties:
        email:
          title: email
          type: string
        html:
          title: html
          type: string
        subject:
          title: subject
          type: string
      title: NotificationPreview
      type: object
    OsmId:
      example:
        osmId: 7.061401241503109
        osmType: osmType
      properties:
        osmId:
          title: osmId
          type: number
        osmType:
          title: osmType
          type: string
      title: OsmId
      type: object
    Place:
      example:
        country: country
        latLong:
          latitude: 5.637376656633329
          longitude: 2.3021358869347655
        geohash: geohash
        name: name
        osm:
          osmId: 7.061401241503109
          osmType: osmType
        google: google
      properties:
        country:
          title: country
          type: string
        geohash:
          title: geohash
          type: string
        google:
          title: google
          type: string
        latLong:
          $ref: '#/components/schemas/LatLong'
        name:
          title: name
          type: string
        osm:
          $ref: '#/components/schemas/OsmId'
      title: Place
      type: object
    Subscription:
      example:
        types:
        - types
        - types
        includeBody: true
        assignment: assignment
        slackChannel: slackChannel
        includeThumbenail: true
        id: id
        user: user
        email: email
        token: token
      properties:
        assignment:
          title: assignment
          type: string
        email:
          title: email
          type: string
        id:
          title: id
          type: string
        includeBody:
          title: includeBody
          type: boolean
        includeThumbenail:
          title: includeThumbenail
          type: boolean
        slackChannel:
          title: slackChannel
          type: string
        token:
          title: token
          type: string
        types:
          items:
            type: string
          title: types
          type: array
        user:
          title: user
          type: string
      required:
      - id
      - includeBody
      - includeThumbnail
      - token
      - types
      - user
      title: Subscription
      type: object
    SubscriptionSubmission:
      example:
        types:
        - types
        - types
        includeBody: true
        assignment: assignment
        slackChannel: slackChannel
        includeThumbenail: true
        email: email
      properties:
        assignment:
          title: assignment
          type: string
        email:
          title: email
          type: string
        includeBody:
          title: includeBody
          type: boolean
        includeThumbenail:
          title: includeThumbenail
          type: boolean
        slackChannel:
          title: slackChannel
          type: string
        types:
          items:
            type: string
          title: types
          type: array
      required:
      - includeBody
      - includeThumbnail
      - types
      title: SubscriptionSubmission
      type: object
    SubscriptionType:
      example:
        name: name
        id: id
      properties:
        id:
          title: id
          type: string
        name:
          title: name
          type: string
      required:
      - id
      - name
      title: SubscriptionType
      type: object
    Tag:
      example:
        tagSet:
          name: name
          id: id
        colour: '#0061a6'
        urlWords: urlWords
        name: name
        id: id
      properties:
        colour:
          description: Optional HTML hexcode colour
          example: '#0061a6'
          title: colour
          type: string
        id:
          title: id
          type: string
        name:
          title: name
          type: string
        tagSet:
          $ref: '#/components/schemas/TagSet'
        urlWords:
          title: urlWords
          type: string
      required:
      - id
      - name
      title: Tag
      type: object
    TagSet:
      example:
        name: name
        id: id
      properties:
        id:
          title: id
          type: string
        name:
          title: name
          type: string
      required:
      - id
      - name
      title: TagSet
      type: object
    TagSetSubmission:
      example:
        urlWords: urlWords
        name: name
      properties:
        name:
          title: name
          type: string
        urlWords:
          title: urlWords
          type: string
      required:
      - name
      - urlWords
      title: TagSetSubmission
      type: object
    TagSubmission:
      example:
        tagSet:
          name: name
          id: id
        colour: colour
        urlWords: urlWords
        name: name
      properties:
        colour:
          title: colour
          type: string
        name:
          title: name
          type: string
        tagSet:
          $ref: '#/components/schemas/TagSet'
        urlWords:
          title: urlWords
          type: string
      required:
      - name
      title: TagSubmission
      type: object
    User:
      example:
        displayName: displayName
        bio: bio
        registered: 2000-01-23T04:56:07.000+00:00
        id: id
        username: username
      properties:
        bio:
          title: bio
          type: string
        displayName:
          title: displayName
          type: string
        id:
          title: id
          type: string
        registered:
          format: date-time
          title: registered
          type: string
        username:
          title: username
          type: string
      title: User
      type: object
    Via:
      example:
        ipAddressPlace:
          country: country
          latLong:
            latitude: 5.637376656633329
            longitude: 2.3021358869347655
          geohash: geohash
          name: name
          osm:
            osmId: 7.061401241503109
            osmType: osmType
          google: google
        authority:
          client:
            name: name
            id: id
          id: id
          user:
            displayName: displayName
            bio: bio
            registered: 2000-01-23T04:56:07.000+00:00
            id: id
            username: username
        ipAddress: ipAddress
      properties:
        authority:
          $ref: '#/components/schemas/Authority'
        ipAddress:
          title: ipAddress
          type: string
        ipAddressPlace:
          $ref: '#/components/schemas/Place'
      title: Via
      type: object
  securitySchemes:
    oauth:
      flows:
        password:
          scopes:
            full: Full access
          tokenUrl: https://api.contriby.com/1/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth
