openapi: 3.0.1
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: 2016-03-30
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2016-03-30/compute.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets:
    get:
      description: Lists all availability sets in a subscription.
      operationId: availability_sets_list_by_subscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The expand expression to apply to the operation.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySetListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers:
    get:
      description: Gets a list of virtual machine image publishers for the specified
        Azure location.
      operationId: virtual_machine_images_list_publishers
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types
  : get:
      description: Gets a list of virtual machine extension image types.
      operationId: virtual_machine_extension_images_list_types
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineExtensionImage'
                type: array
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extension_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions
  : get:
      description: Gets a list of virtual machine extension image versions.
      operationId: virtual_machine_extension_images_list_versions
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - in: path
        name: type
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderby
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineExtensionImage'
                type: array
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-ms-odata: '#/definitions/VirtualMachineExtensionImage'
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extension_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}
  : get:
      description: Gets a virtual machine extension image.
      operationId: virtual_machine_extension_images_get
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - in: path
        name: type
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtensionImage'
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extension_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers
  : get:
      description: Gets a list of virtual machine image offers for the specified location
        and publisher.
      operationId: virtual_machine_images_list_offers
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus
  : get:
      description: "Gets a list of virtual machine image SKUs for the specified location,\
        \ publisher, and offer."
      operationId: virtual_machine_images_list_skus
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions
  : get:
      description: "Gets a list of all virtual machine image versions for the specified\
        \ location, publisher, offer, and SKU."
      operationId: virtual_machine_images_list
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: A valid image SKU.
        in: path
        name: skus
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderby
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-ms-odata: '#/definitions/VirtualMachineImageResource'
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}
  : get:
      description: Gets a virtual machine image.
      operationId: virtual_machine_images_get
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: A valid image SKU.
        in: path
        name: skus
        required: true
        schema:
          type: string
      - description: A valid image SKU version.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineImage'
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages:
    get:
      description: "Gets, for the specified location, the current compute resource\
        \ usage information as well as the limits for compute resources under the\
        \ subscription."
      operationId: usage_list
      parameters:
      - description: The location for which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsagesResult'
          description: OK
      tags:
      - Usage
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes:
    get:
      description: Lists all available virtual machine sizes for a subscription in
        a location.
      operationId: virtual_machine_sizes_list
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - VirtualMachineSizes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_sizes_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets:
    get:
      description: "Gets a list of all VM Scale Sets in the subscription, regardless\
        \ of the associated resource group. Use nextLink property in the response\
        \ to get the next page of VM Scale Sets. Do this till nextLink is null to\
        \ fetch all the VM Scale Sets."
      operationId: virtual_machine_scale_sets_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetListWithLinkResult'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines:
    get:
      description: Lists all of the virtual machines in the specified subscription.
        Use the nextLink property in the response to get the next page of virtual
        machines.
      operationId: virtual_machines_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets:
    get:
      description: Lists all availability sets in a resource group.
      operationId: availability_sets_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySetListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
  : delete:
      description: Delete an availability set.
      operationId: availability_sets_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - AvailabilitySets
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
    get:
      description: Retrieves information about an availability set.
      operationId: availability_sets_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
    put:
      description: Create or update an availability set.
      operationId: availability_sets_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
          x-ms-client-name: name
        x-ms-client-name: name
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilitySet'
        description: Parameters supplied to the Create Availability Set operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes
  : get:
      description: Lists all available virtual machine sizes that can be used to create
        a new virtual machine in an existing availability set.
      operationId: availability_sets_list_available_sizes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets:
    get:
      description: Gets a list of all VM scale sets under a resource group.
      operationId: virtual_machine_scale_sets_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetListResult'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines
  : get:
      description: Gets a list of all virtual machines in a VM scale sets.
      operationId: virtual_machine_scale_set_vms_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The list parameters.
        in: query
        name: $select
        schema:
          type: string
      - description: The expand expression to apply to the operation.
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetVMListResult'
          description: OK
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-odata: '#/definitions/VirtualMachineScaleSetVM'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}
  : delete:
      description: Deletes a VM scale set.
      operationId: virtual_machine_scale_sets_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
    get:
      description: Display information about a virtual machine scale set.
      operationId: virtual_machine_scale_sets_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
    put:
      description: Create or update a VM scale set.
      operationId: virtual_machine_scale_sets_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set to create or update.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
          x-ms-client-name: name
        x-ms-client-name: name
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSet'
        description: The scale set object.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: Created
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/deallocate
  : post:
      description: Deallocates specific virtual machines in a VM scale set. Shuts
        down the virtual machines and releases the compute resources. You are not
        billed for the compute resources that this virtual machine scale set deallocates.
      operationId: virtual_machine_scale_sets_deallocate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceIDs'
        description: A list of virtual machine instance IDs from the VM scale set.
        required: false
        x-body-name: vmInstanceIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: vmInstanceIDs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/delete
  : post:
      description: Deletes virtual machines in a VM scale set.
      operationId: virtual_machine_scale_sets_delete_instances
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceRequiredIDs'
        description: A list of virtual machine instance IDs from the VM scale set.
        required: true
        x-body-name: vmInstanceIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: vmInstanceIDs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/instanceView
  : get:
      description: Gets the status of a VM scale set instance.
      operationId: virtual_machine_scale_sets_get_instance_view
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetInstanceView'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/manualupgrade
  : post:
      description: Upgrades one or more virtual machines to the latest SKU set in
        the VM scale set model.
      operationId: virtual_machine_scale_sets_update_instances
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceRequiredIDs'
        description: A list of virtual machine instance IDs from the VM scale set.
        required: true
        x-body-name: vmInstanceIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: vmInstanceIDs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/poweroff
  : post:
      description: "Power off (stop) one or more virtual machines in a VM scale set.\
        \ Note that resources are still attached and you are getting charged for the\
        \ resources. Instead, use deallocate to release resources and avoid charges."
      operationId: virtual_machine_scale_sets_power_off
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceIDs'
        description: A list of virtual machine instance IDs from the VM scale set.
        required: false
        x-body-name: vmInstanceIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: vmInstanceIDs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/reimage
  : post:
      description: Reimages (upgrade the operating system) one or more virtual machines
        in a VM scale set.
      operationId: virtual_machine_scale_sets_reimage
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/restart
  : post:
      description: Restarts one or more virtual machines in a VM scale set.
      operationId: virtual_machine_scale_sets_restart
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceIDs'
        description: A list of virtual machine instance IDs from the VM scale set.
        required: false
        x-body-name: vmInstanceIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: vmInstanceIDs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/skus
  : get:
      description: "Gets a list of SKUs available for your VM scale set, including\
        \ the minimum and maximum VM instances allowed for each SKU."
      operationId: virtual_machine_scale_sets_list_skus
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetListSkusResult'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/start
  : post:
      description: Starts one or more virtual machines in a VM scale set.
      operationId: virtual_machine_scale_sets_start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceIDs'
        description: A list of virtual machine instance IDs from the VM scale set.
        required: false
        x-body-name: vmInstanceIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: vmInstanceIDs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}
  : delete:
      description: Deletes a virtual machine from a VM scale set.
      operationId: virtual_machine_scale_set_vms_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
    get:
      description: Gets a virtual machine from a VM scale set.
      operationId: virtual_machine_scale_set_vms_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetVM'
          description: OK
      tags:
      - VirtualMachineScaleSetVMs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/deallocate
  : post:
      description: Deallocates a specific virtual machine in a VM scale set. Shuts
        down the virtual machine and releases the compute resources it uses. You are
        not billed for the compute resources of this virtual machine once it is deallocated.
      operationId: virtual_machine_scale_set_vms_deallocate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/instanceView
  : get:
      description: Gets the status of a virtual machine from a VM scale set.
      operationId: virtual_machine_scale_set_vms_get_instance_view
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetVMInstanceView'
          description: OK
      tags:
      - VirtualMachineScaleSetVMs
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/poweroff
  : post:
      description: "Power off (stop) a virtual machine in a VM scale set. Note that\
        \ resources are still attached and you are getting charged for the resources.\
        \ Instead, use deallocate to release resources and avoid charges."
      operationId: virtual_machine_scale_set_vms_power_off
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/reimage
  : post:
      description: Reimages (upgrade the operating system) a specific virtual machine
        in a VM scale set.
      operationId: virtual_machine_scale_set_vms_reimage
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/restart
  : post:
      description: Restarts a virtual machine in a VM scale set.
      operationId: virtual_machine_scale_set_vms_restart
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/start
  : post:
      description: Starts a virtual machine in a VM scale set.
      operationId: virtual_machine_scale_set_vms_start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines:
    get:
      description: Lists all of the virtual machines in the specified resource group.
        Use the nextLink property in the response to get the next page of virtual
        machines.
      operationId: virtual_machines_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}:
    delete:
      description: The operation to delete a virtual machine.
      operationId: virtual_machines_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
    get:
      description: Retrieves information about the model view or the instance view
        of a virtual machine.
      operationId: virtual_machines_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          enum:
          - instanceView
          type: string
          x-ms-enum:
            modelAsString: false
            name: InstanceViewTypes
        x-ms-enum:
          modelAsString: false
          name: InstanceViewTypes
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: OK
      tags:
      - VirtualMachines
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
    put:
      description: The operation to create or update a virtual machine.
      operationId: virtual_machines_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachine'
        description: Parameters supplied to the Create Virtual Machine operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: Created
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/capture:
    post:
      description: Captures the VM by copying virtual hard disks of the VM and outputs
        a template that can be used to create similar VMs.
      operationId: virtual_machines_capture
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineCaptureParameters'
        description: Parameters supplied to the Capture Virtual Machine operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineCaptureResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/deallocate
  : post:
      description: Shuts down the virtual machine and releases the compute resources.
        You are not billed for the compute resources that this virtual machine uses.
      operationId: virtual_machines_deallocate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions
  : get:
      description: The operation to get all extensions of a Virtual Machine.
      operationId: virtual_machines_get_extensions
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine containing the extension.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtensionsListResult'
          description: OK
      tags:
      - VirtualMachineExtensions
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extensions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions/{vmExtensionName}
  : delete:
      description: The operation to delete the extension.
      operationId: virtual_machine_extensions_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine where the extension should be
          deleted.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine extension.
        in: path
        name: vmExtensionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - VirtualMachineExtensions
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extensions_controller
    get:
      description: The operation to get the extension.
      operationId: virtual_machine_extensions_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine containing the extension.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine extension.
        in: path
        name: vmExtensionName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtension'
          description: OK
      tags:
      - VirtualMachineExtensions
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extensions_controller
    patch:
      description: The operation to update the extension.
      operationId: virtual_machine_extensions_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine where the extension should be
          updated.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine extension.
        in: path
        name: vmExtensionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineExtensionUpdate'
        description: Parameters supplied to the Update Virtual Machine Extension operation.
        required: true
        x-body-name: extensionParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtension'
          description: OK
      tags:
      - VirtualMachineExtensions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: extensionParameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extensions_controller
    put:
      description: The operation to create or update the extension.
      operationId: virtual_machine_extensions_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine where the extension should be
          created or updated.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine extension.
        in: path
        name: vmExtensionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineExtension'
        description: Parameters supplied to the Create Virtual Machine Extension operation.
        required: true
        x-body-name: extensionParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtension'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtension'
          description: Created
      tags:
      - VirtualMachineExtensions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: extensionParameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extensions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/generalize
  : post:
      description: Sets the state of the virtual machine to generalized.
      operationId: virtual_machines_generalize
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
      tags:
      - VirtualMachines
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/powerOff
  : post:
      description: The operation to power off (stop) a virtual machine. The virtual
        machine can be restarted with the same provisioned resources. You are still
        charged for this virtual machine.
      operationId: virtual_machines_power_off
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/redeploy
  : post:
      description: "Shuts down the virtual machine, moves it to a new node, and powers\
        \ it back on."
      operationId: virtual_machines_redeploy
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/restart:
    post:
      description: The operation to restart a virtual machine.
      operationId: virtual_machines_restart
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/start:
    post:
      description: The operation to start a virtual machine.
      operationId: virtual_machines_start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/vmSizes:
    get:
      description: Lists all available virtual machine sizes to which the specified
        virtual machine can be resized.
      operationId: virtual_machines_list_available_sizes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AdditionalUnattendContent:
      description: "Specifies additional XML formatted information that can be included\
        \ in the Unattend.xml file, which is used by Windows Setup. Contents are defined\
        \ by setting name, component name, and the pass in which the content is applied."
      example:
        passName: OobeSystem
        componentName: Microsoft-Windows-Shell-Setup
        content: content
        settingName: AutoLogon
      properties:
        componentName:
          description: "The component name. Currently, the only allowable value is\
            \ Microsoft-Windows-Shell-Setup."
          enum:
          - Microsoft-Windows-Shell-Setup
          title: componentName
          type: string
          x-ms-enum:
            modelAsString: false
            name: ComponentNames
        content:
          description: Specifies the XML formatted content that is added to the unattend.xml
            file for the specified path and component. The XML must be less than 4KB
            and must include the root element for the setting or feature that is being
            inserted.
          title: content
          type: string
        passName:
          description: "The pass name. Currently, the only allowable value is OobeSystem."
          enum:
          - OobeSystem
          title: passName
          type: string
          x-ms-enum:
            modelAsString: false
            name: PassNames
        settingName:
          description: "Specifies the name of the setting to which the content applies.\
            \ Possible values are: FirstLogonCommands and AutoLogon."
          enum:
          - AutoLogon
          - FirstLogonCommands
          title: settingName
          type: string
          x-ms-enum:
            modelAsString: false
            name: SettingNames
      title: AdditionalUnattendContent
      type: object
    ApiEntityReference:
      description: The API entity reference.
      example:
        id: id
      properties:
        id:
          description: "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
          title: id
          type: string
      title: ApiEntityReference
      type: object
    ApiError:
      description: Api error.
      example:
        code: code
        innererror:
          errordetail: errordetail
          exceptiontype: exceptiontype
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: The error code.
          title: code
          type: string
        details:
          description: The Api error details
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          title: details
          type: array
        innererror:
          $ref: '#/components/schemas/InnerError'
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: ApiError
      type: object
    ApiErrorBase:
      description: Api error base.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: The error code.
          title: code
          type: string
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: ApiErrorBase
      type: object
    AvailabilitySet:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: "Specifies information about the availability set that the virtual\
        \ machine should be assigned to. Virtual machines specified in the same availability\
        \ set are allocated to different nodes to maximize availability. For more\
        \ information about availability sets, see [Manage the availability of virtual\
        \ machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-manage-availability?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).\
        \ <br><br> For more information on Azure planned maintenance, see [Planned\
        \ maintenance for virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-planned-maintenance?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)\
        \ <br><br> Currently, a VM can only be added to availability set at creation\
        \ time. An existing VM cannot be added to an availability set."
      example:
        properties:
          platformFaultDomainCount: 0
          platformUpdateDomainCount: 6
          statuses:
          - code: code
[...]
