openapi: 3.0.1
info:
  description: "Turn nothing into something – make a drawing, make a mark."
  title: Moon by Ai Weiwei & Olafur Eliasson
  version: "1.0"
  x-logo:
    backgroundColor: '#000000'
    url: http://moonmoonmoonmoon.com/logo.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.11
    format: swagger
    url: http://moonmoonmoonmoon.com/api/api-docs.json
    version: "1.2"
  x-providerName: moonmoonmoonmoon.com
servers:
- url: http://moonmoonmoonmoon.com/
tags:
- description: Moon data
  name: marks
paths:
  /api/hashtags:
    get:
      description: "Search for specified tag (no pound sign necessary). If <b>tag</b>\
        \ is empty, the 50 most popular hashtags will be returned."
      operationId: marks_hashtags
      parameters:
      - description: Hashtag to search for
        in: query
        name: tag
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: Bad Request
      summary: Fetches popular hashtags or marks tagged with specified hashtag
      tags:
      - marks
      x-openapi-router-controller: openapi_server.controllers.marks_controller
  /api/marks:
    get:
      description: |-
        The main method for querying the marks database. You may use the following options:
                <ol style='list-style-type: lower-roman;'>
                <li>No parameters to retrieve all marks in descending chronological order (use <b>before</b> for pagination)</li>
                <li><b>popular</b> (and optionally <b>last_popular_id</b>) to retrieve all popular marks</li>
                <li><b>featured</b> to retrieve all featured marks</li>
                <li><b>x & y</b> to retrieve mark at specific coordinate</li>
                <li><b>user</b> to retrieve all marks created by the specified user</li>
                <li><b>collection</b> to retrieve all marks collected by the specified user</li>
                </ol>
      operationId: marks_index
      parameters:
      - description: Before ID (pagination purposes)
        in: query
        name: before
        schema:
          type: string
      - description: Popular marks
        in: query
        name: popular
        schema:
          type: boolean
      - description: Last popular ID (for pagination purposes)
        in: query
        name: last_popular_id
        schema:
          type: string
      - description: Featured marks
        in: query
        name: featured
        schema:
          type: boolean
      - description: X coordinate
        in: query
        name: x
        schema:
          type: integer
      - description: Y coordinate
        in: query
        name: "y"
        schema:
          type: integer
      - description: Created by user ID
        in: query
        name: user
        schema:
          type: string
      - description: Collection ID
        in: query
        name: collection
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: Bad Request
      summary: Fetches marks
      tags:
      - marks
      x-openapi-router-controller: openapi_server.controllers.marks_controller
components:
  schemas: {}
x-original-swagger-version: "2.0"
