openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-securityContacts
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts:
    get:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_List
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContactList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContacts_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                  name: default1
                  properties:
                    alertNotifications: "On"
                    alertsToAdmins: "On"
                    email: john@contoso.com
                    phone: (214)275-4038
                  type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                  name: default2
                  properties:
                    alertNotifications: "On"
                    alertsToAdmins: "On"
                    email: chen@contoso.com
                  type: Microsoft.Security/securityContacts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}:
    delete:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Delete
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: securityContactName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContacts_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Delete security contact data:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: securityContactName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContacts_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Get security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Get security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
      x-accepts:
      - application/json
    patch:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Update
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: securityContactName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityContact'
        description: Security contact object
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContacts_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: "On"
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: john
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "Off"
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: "On"
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "Off"
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
      x-codegen-request-body-name: securityContact
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Create
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: securityContactName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityContact'
        description: Security contact object
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContacts_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Create security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: "On"
                alertsToAdmins: "On"
                email: john@contoso.com
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Create security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: "On"
                alertsToAdmins: "On"
                email: chen@contoso.com
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
      x-codegen-request-body-name: securityContact
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    SecurityContactName:
      description: Name of the security contact object
      in: path
      name: securityContactName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    SecurityContact:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecurityContact'
      description: Security contact object
      required: true
      x-ms-parameter-location: method
  schemas:
    SecurityContact:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Contact details for security issues
      example:
        properties:
          phone: phone
          alertNotifications: "On"
          alertsToAdmins: "On"
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/SecurityContactProperties'
    SecurityContactList:
      description: List of security contacts response
      example:
        value:
        - properties:
            phone: phone
            alertNotifications: "On"
            alertsToAdmins: "On"
            email: email
        - properties:
            phone: phone
            alertNotifications: "On"
            alertsToAdmins: "On"
            email: email
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of security contacts
          items:
            $ref: '#/components/schemas/SecurityContact'
          readOnly: true
          type: array
      type: object
    SecurityContactProperties:
      description: describes security contact properties
      example:
        phone: phone
        alertNotifications: "On"
        alertsToAdmins: "On"
        email: email
      properties:
        alertNotifications:
          description: Whether to send security alerts notifications to the security
            contact
          enum:
          - "On"
          - "Off"
          type: string
          x-ms-enum:
            modelAsString: true
            name: alertNotifications
            values:
            - description: Get notifications on new alerts
              value: "On"
            - description: Don't get notifications on new alerts
              value: "Off"
        alertsToAdmins:
          description: Whether to send security alerts notifications to subscription
            admins
          enum:
          - "On"
          - "Off"
          type: string
          x-ms-enum:
            modelAsString: true
            name: alertsToAdmins
            values:
            - description: Send notification on new alerts to the subscription's admins
              value: "On"
            - description: Don't send notification on new alerts to the subscription's
                admins
              value: "Off"
        email:
          description: The email of this security contact
          format: email
          type: string
        phone:
          description: The phone number of this security contact
          type: string
      required:
      - alertNotifications
      - alertsToAdmins
      - email
      type: object
    SecurityContacts_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          type: string
      type: object
      x-ms-external: true
    SecurityContacts_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/SecurityContacts_List_default_response_error'
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

