openapi: 3.0.1
info:
  title: DataFactoryManagementClient
  version: 2017-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/datafactory.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: datafactory
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DataFactory/operations:
    get:
      description: Lists the available Azure Data Factory API operations.
      operationId: operations_list
      parameters:
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                - display:
                    description: Gets the available metrics for datafactories
                    operation: Read datafactories metric definitions
                    provider: Microsoft.DataFactory
                    resource: datafactories
                  name: Microsoft.DataFactory/datafactories/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: P1D
                          timeGrain: PT1H
                        displayDescription: Number of successful runs.
                        displayName: Successful Runs
                        name: SuccessfulRuns
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: P1D
                          timeGrain: PT1H
                        displayDescription: Number of failed runs.
                        displayName: Failed Runs
                        name: FailedRuns
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource
                    operation: Read diagnostic setting
                    provider: Microsoft.DataFactory
                    resource: datafactories
                  name: Microsoft.DataFactory/datafactories/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource
                    operation: Write diagnostic setting
                    provider: Microsoft.DataFactory
                    resource: datafactories
                  name: Microsoft.DataFactory/datafactories/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Gets the available logs for factories
                    operation: Read factories log definitions
                    provider: Microsoft.DataFactory
                    resource: The log definition of factories
                  name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/logDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      logSpecifications:
                      - blobDuration: PT1H
                        displayName: Pipeline activity runs log
                        name: ActivityRuns
                      - blobDuration: PT1H
                        displayName: Pipeline runs log
                        name: PipelineRuns
                      - blobDuration: PT1H
                        displayName: Trigger runs log
                        name: TriggerRuns
                - display:
                    description: Gets the diagnostic setting for the resource
                    operation: Read diagnostic setting
                    provider: Microsoft.DataFactory
                    resource: factories
                  name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource
                    operation: Write diagnostic setting
                    provider: Microsoft.DataFactory
                    resource: factories
                  name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Gets the available metrics for factories
                    operation: Read metric definitions
                    provider: Microsoft.DataFactory
                    resource: factories
                  name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Total
                        displayName: Failed pipeline runs metrics
                        enableRegionalMdmAccount: "false"
                        name: PipelineFailedRuns
                        sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                        sourceMdmNamespace: ADFMetrics
                        unit: Count
                      - aggregationType: Total
                        displayName: Succeeded pipeline runs metrics
                        enableRegionalMdmAccount: "false"
                        name: PipelineSucceededRuns
                        sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                        sourceMdmNamespace: ADFMetrics
                        unit: Count
                      - aggregationType: Total
                        displayName: Failed activity runs metrics
                        enableRegionalMdmAccount: "false"
                        name: ActivityFailedRuns
                        sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                        sourceMdmNamespace: ADFMetrics
                        unit: Count
                      - aggregationType: Total
                        displayName: Succeeded activity runs metrics
                        enableRegionalMdmAccount: "false"
                        name: ActivitySucceededRuns
                        sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                        sourceMdmNamespace: ADFMetrics
                        unit: Count
                      - aggregationType: Total
                        displayName: Failed trigger runs metrics
                        enableRegionalMdmAccount: "false"
                        name: TriggerFailedRuns
                        sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                        sourceMdmNamespace: ADFMetrics
                        unit: Count
                      - aggregationType: Total
                        displayName: Succeeded trigger runs metrics
                        enableRegionalMdmAccount: "false"
                        name: TriggerSucceededRuns
                        sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                        sourceMdmNamespace: ADFMetrics
                        unit: Count
              headers:
                Date: "Wed, 13 Sep 2017 18:04:32 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/factories:
    get:
      description: Lists factories under the specified subscription.
      operationId: factories_list
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactoryListResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - factories
      x-ms-examples:
        Factories_List:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                  location: East US
                  name: exampleFactoryName
                  properties:
                    createTime: 2017-09-13T17:33:54.0294655Z
                    provisioningState: Succeeded
                    version: 2017-09-01-preview
                  tags:
                    exampleTag: exampleValue
                  type: Microsoft.DataFactory/factories
                - id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/yitzhangFactoryV2
                  location: East US
                  name: yitzhangFactoryV2
                  properties:
                    createTime: 2017-05-08T21:03:32.7865115Z
                    provisioningState: Succeeded
                    version: 2017-03-01-preview
                  tags:
                    exampleTag: exampleValue
                  type: Microsoft.DataFactory/factories
              headers:
                Date: "Wed, 13 Sep 2017 17:33:56 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 471c3c55-1293-47bf-9662-33bb20f4b75c
                x-ms-ratelimit-remaining-subscription-reads: "14992"
                x-ms-request-id: 85e53e59-e56e-4878-a1ff-aaa27f52b466
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.factories_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/configureFactoryRepo:
    post:
      description: Updates a factory's repo information.
      operationId: factories_configure_factory_repo
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The location identifier.
        in: path
        name: locationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactoryRepoUpdate'
        description: Update factory repo request definition.
        required: true
        x-body-name: factoryRepoUpdate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Factory'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - configureFactoryRepo
      x-ms-examples:
        Factories_ConfigureFactoryRepo:
          parameters:
            api-version: 2017-09-01-preview
            factoryRepoUpdate:
              factoryId: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/examplefactoryname
              resourceGroupName: exampleResourceGroup
              vstsConfiguration:
                accountName: msdata
                collaborationBranch: master
                lastCommitId: ""
                projectName: datafactory
                repositoryName: exampleRepo
                rootFolder: /
                tenantId: 12f988bf-86d1-41af-91ab-2d7cd011db49
            locationId: eastus
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/examplefactoryname
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2017-09-13T17:33:54.0294655Z
                  provisioningState: Succeeded
                  version: 2017-09-01-preview
                  vstsConfiguration:
                    accountName: msdata
                    collaborationBranch: master
                    lastCommitId: ""
                    projectName: datafactory
                    repositoryName: exampleRepo
                    rootFolder: /
                    tenantId: 12f988bf-86d1-41af-91ab-2d7cd011db49
                tags: {}
                type: Microsoft.DataFactory/factories
              headers:
                Date: "Wed, 13 Sep 2017 17:33:54 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 8d66d31c-23f3-4ac1-bc8c-1b6464342ad1
                x-ms-ratelimit-remaining-subscription-writes: "1198"
                x-ms-request-id: dc1954ed-a1d3-4437-bd73-480ffdf1ea5a
      x-codegen-request-body-name: factoryRepoUpdate
      x-openapi-router-controller: openapi_server.controllers.configure_factory_repo_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories:
    get:
      description: Lists factories.
      operationId: factories_list_by_resource_group
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactoryListResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - factories
      x-ms-examples:
        Factories_ListByResourceGroup:
          parameters:
            api-version: 2017-09-01-preview
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                  location: East US
                  name: exampleFactoryName
                  properties:
                    createTime: 2017-09-13T17:33:54.0294655Z
                    provisioningState: Succeeded
                    version: 2017-09-01-preview
                  tags:
                    exampleTag: exampleValue
                  type: Microsoft.DataFactory/factories
                - id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/yitzhangFactoryV2
                  location: East US
                  name: yitzhangFactoryV2
                  properties:
                    createTime: 2017-05-08T21:03:32.7865115Z
                    provisioningState: Succeeded
                    version: 2017-03-01-preview
                  tags:
                    exampleTag: exampleValue
                  type: Microsoft.DataFactory/factories
              headers:
                Date: "Wed, 13 Sep 2017 17:33:56 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 471c3c55-1293-47bf-9662-33bb20f4b75c
                x-ms-ratelimit-remaining-subscription-reads: "14992"
                x-ms-request-id: 85e53e59-e56e-4878-a1ff-aaa27f52b466
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.factories_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}:
    delete:
      description: Deletes a factory.
      operationId: factories_delete
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "204":
          content: {}
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - factories
      x-ms-examples:
        Factories_Delete:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.factories_controller
    get:
      description: Gets a factory.
      operationId: factories_get
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factoryName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Factory'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - factories
      x-ms-examples:
        Factories_Get:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2017-09-13T17:33:54.0294655Z
                  provisioningState: Succeeded
                  version: 2017-09-01-preview
                tags:
                  exampleTag: exampleValue
                type: Microsoft.DataFactory/factories
              headers:
                Date: "Wed, 13 Sep 2017 17:33:55 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-openapi-router-controller: openapi_server.controllers.factories_controller
    patch:
      description: Updates a factory.
      operationId: factories_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactoryUpdateParameters'
        description: The parameters for updating a factory.
        required: true
        x-body-name: factoryUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Factory'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - factories
      x-ms-examples:
        Factories_Update:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            factoryUpdateParameters:
              tags:
                exampleTag: exampleValue
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2017-09-13T17:33:54.0294655Z
                  provisioningState: Succeeded
                  version: 2017-09-01-preview
                tags:
                  exampleTag: exampleValue
                type: Microsoft.DataFactory/factories
              headers:
                Date: "Wed, 13 Sep 2017 17:33:55 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: ec4ce622-a1dd-4c49-a324-17e8d4d1fe83
                x-ms-ratelimit-remaining-subscription-writes: "1197"
                x-ms-request-id: 3223701f-ce33-4a58-bb14-d3d53569d4f0
      x-codegen-request-body-name: factoryUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.factories_controller
    put:
      description: Creates or updates a factory.
      operationId: factories_create_or_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Factory'
        description: Factory resource definition.
        required: true
        x-body-name: factory
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Factory'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - factories
      x-ms-examples:
        Factories_CreateOrUpdate:
          parameters:
            api-version: 2017-09-01-preview
            factory:
              location: East US
              properties:
                vstsConfiguration:
                  accountName: msdata
                  collaborationBranch: master
                  lastCommitId: ""
                  projectName: datafactory
                  repositoryName: exampleRepo
                  rootFolder: /
                  tenantId: 12f988bf-86d1-41af-91ab-2d7cd011db49
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleresourcegroup/providers/Microsoft.DataFactory/factories/examplefactoryname
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2017-09-13T17:33:54.0294655Z
                  provisioningState: Succeeded
                  version: 2017-09-01-preview
                  vstsConfiguration:
                    accountName: msdata
                    collaborationBranch: master
                    lastCommitId: ""
                    projectName: datafactory
                    repositoryName: exampleRepo
                    rootFolder: /
                    tenantId: 12f988bf-86d1-41af-91ab-2d7cd011db49
                tags: {}
                type: Microsoft.DataFactory/factories
              headers:
                Date: "Wed, 13 Sep 2017 17:33:54 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 8d66d31c-23f3-4ac1-bc8c-1b6464342ad1
                x-ms-ratelimit-remaining-subscription-writes: "1198"
                x-ms-request-id: dc1954ed-a1d3-4437-bd73-480ffdf1ea5a
      x-codegen-request-body-name: factory
      x-openapi-router-controller: openapi_server.controllers.factories_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/cancelpipelinerun/{runId}
  : post:
      description: Cancel a pipeline run by its run ID.
      operationId: factories_cancel_pipeline_run
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The pipeline run identifier.
        in: path
        name: runId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 'Pipeline run has been canceled successfully. '
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - pipelineruns
      x-ms-examples:
        Factories_CancelPipelineRun:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            runId: 39692ed9-c722-4d33-b8e1-1f4a9deac57f
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.pipelineruns_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets
  : get:
      description: Lists datasets.
      operationId: datasets_list_by_factory
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetListResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - datasets
      x-ms-examples:
        Datasets_ListByFactory:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                - etag: 280320a7-0000-0000-0000-59b9712a0000
                  id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                  name: exampleDataset
                  properties:
                    description: Example description
                    linkedServiceName:
                      referenceName: exampleLinkedService
                      type: LinkedServiceReference
                    parameters:
                      MyFileName:
                        type: String
                      MyFolderPath:
                        type: String
                    type: AzureBlob
                    typeProperties:
                      fileName:
                        type: Expression
                        value: '@dataset().MyFileName'
                      folderPath:
                        type: Expression
                        value: '@dataset().MyFolderPath'
                      format:
                        type: TextFormat
              headers:
                Date: "Wed, 13 Sep 2017 17:55:55 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: babd0c35-621b-4c3e-bc19-7e84ff1153e7
                x-ms-ratelimit-remaining-subscription-reads: "14911"
                x-ms-request-id: 624b9e0f-5b8e-4a08-8ff3-ead24e96658f
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.datasets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}
  : delete:
      description: Deletes a dataset.
      operationId: datasets_delete
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The dataset name.
        in: path
        name: dataset_name
        required: true
        schema:
          maxLength: 260
          minLength: 1
          pattern: "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "204":
          content: {}
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - datasets
      x-ms-examples:
        Datasets_Delete:
          parameters:
            api-version: 2017-09-01-preview
            datasetName: exampleDataset
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.datasets_controller
    get:
      description: Gets a dataset.
      operationId: datasets_get
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The dataset name.
        in: path
        name: datasetName
        required: true
        schema:
          maxLength: 260
          minLength: 1
          pattern: "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - datasets
      x-ms-examples:
        Datasets_Get:
          parameters:
            api-version: 2017-09-01-preview
            datasetName: exampleDataset
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 280320a7-0000-0000-0000-59b9712a0000
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                name: exampleDataset
                properties:
                  description: Example description
                  linkedServiceName:
                    referenceName: exampleLinkedService
                    type: LinkedServiceReference
                  parameters:
                    MyFileName:
                      type: String
                    MyFolderPath:
                      type: String
                  type: AzureBlob
                  typeProperties:
                    fileName:
                      type: Expression
                      value: '@dataset().MyFileName'
                    folderPath:
                      type: Expression
                      value: '@dataset().MyFolderPath'
                    format:
                      type: TextFormat
              headers:
                Date: "Wed, 13 Sep 2017 17:55:55 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 949f7936-4ad4-49bc-8d2a-5f56a8938fba
                x-ms-ratelimit-remaining-subscription-reads: "14912"
                x-ms-request-id: a60fc528-1652-4619-9477-f00ab05e9a24
      x-openapi-router-controller: openapi_server.controllers.datasets_controller
    put:
      description: Creates or updates a dataset.
      operationId: datasets_create_or_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The dataset name.
        in: path
        name: dataset_name
        required: true
        schema:
          maxLength: 260
          minLength: 1
          pattern: "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "ETag of the dataset entity.  Should only be specified for update,\
          \ for which it should match existing entity or can be * for unconditional\
          \ update."
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetResource'
        description: Dataset resource definition.
        required: true
        x-body-name: dataset
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - datasets
      x-ms-examples:
        Datasets_Create:
          parameters:
            api-version: 2017-09-01-preview
            dataset:
              properties:
                linkedServiceName:
                  referenceName: exampleLinkedService
                  type: LinkedServiceReference
                parameters:
                  MyFileName:
                    type: String
                  MyFolderPath:
                    type: String
                type: AzureBlob
                typeProperties:
                  fileName:
                    type: Expression
                    value: '@dataset().MyFileName'
                  folderPath:
                    type: Expression
                    value: '@dataset().MyFolderPath'
                  format:
                    type: TextFormat
            datasetName: exampleDataset
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 28031ea7-0000-0000-0000-59b9712a0000
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                name: exampleDataset
                properties:
                  linkedServiceName:
                    referenceName: exampleLinkedService
                    type: LinkedServiceReference
                  parameters:
                    MyFileName:
                      type: String
                    MyFolderPath:
                      type: String
                  type: AzureBlob
                  typeProperties:
                    fileName:
                      type: Expression
                      value: '@dataset().MyFileName'
                    folderPath:
                      type: Expression
                      value: '@dataset().MyFolderPath'
                    format:
                      type: TextFormat
              headers:
                Date: "Wed, 13 Sep 2017 17:55:54 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: acdb3257-c6cb-44f1-8e14-afa3ebf471fa
                x-ms-ratelimit-remaining-subscription-writes: "1184"
                x-ms-request-id: a8bb197f-b00f-4add-a847-59f6aa0315ab
        Datasets_Update:
          parameters:
            api-version: 2017-09-01-preview
            dataset:
              properties:
                description: Example description
                linkedServiceName:
                  referenceName: exampleLinkedService
                  type: LinkedServiceReference
                parameters:
                  MyFileName:
                    type: String
                  MyFolderPath:
                    type: String
                type: AzureBlob
                typeProperties:
                  fileName:
                    type: Expression
                    value: '@dataset().MyFileName'
                  folderPath:
                    type: Expression
                    value: '@dataset().MyFolderPath'
                  format:
                    type: TextFormat
            datasetName: exampleDataset
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 280320a7-0000-0000-0000-59b9712a0000
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                name: exampleDataset
                properties:
                  description: Example description
                  linkedServiceName:
                    referenceName: exampleLinkedService
                    type: LinkedServiceReference
                  parameters:
                    MyFileName:
                      type: String
                    MyFolderPath:
                      type: String
                  type: AzureBlob
                  typeProperties:
                    fileName:
                      type: Expression
                      value: '@dataset().MyFileName'
                    folderPath:
                      type: Expression
                      value: '@dataset().MyFolderPath'
                    format:
                      type: TextFormat
              headers:
                Date: "Wed, 13 Sep 2017 17:55:54 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: f3e7273d-9f29-4b0c-94bd-c3d13dec47ca
                x-ms-ratelimit-remaining-subscription-writes: "1183"
                x-ms-request-id: 76cfa027-3792-424b-ae2b-ddcafe7034be
      x-codegen-request-body-name: dataset
      x-openapi-router-controller: openapi_server.controllers.datasets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes
  : get:
      description: Lists integration runtimes.
      operationId: integration_runtimes_list_by_factory
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeListResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_ListByFactory:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                - etag: 0100333d-0000-0000-0000-5a1d0ab80000
                  id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/integrationruntimes/exampleIntegrationRuntime
                  name: exampleIntegrationRuntime
                  properties:
                    description: A managed reserved integration runtime
                    state: Initial
                    type: Managed
                    typeProperties:
                      computeProperties:
                        location: West US
                        maxParallelExecutionsPerNode: 1
                        nodeSize: Standard_D1_v2
                        numberOfNodes: 1
                      ssisProperties:
                        catalogInfo:
                          catalogAdminPassword:
                            type: SecureString
                            value: '**********'
                          catalogAdminUserName: yanzhang
                          catalogPricingTier: S1
                          catalogServerEndpoint: yandongtestsvr.database.windows.net
              headers:
                Date: "Tue, 28 Nov 2017 07:05:28 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: a31dcf14-5eca-42c3-a0ac-5448c2f8b095
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}
  : delete:
      description: Deletes an integration runtime.
      operationId: integration_runtimes_delete
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "204":
          content: {}
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from DELETE integration runtime
            operation.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_Delete:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
    get:
      description: Gets an integration runtime.
      operationId: integration_runtimes_get
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integrationRuntimeName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeResource'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from GET integration runtime operation.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_Get:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 0100333d-0000-0000-0000-5a1d0ab80000
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/integrationruntimes/exampleIntegrationRuntime
                name: exampleIntegrationRuntime
                properties:
                  description: A managed reserved integration runtime
                  state: Initial
                  type: Managed
                  typeProperties:
                    computeProperties:
                      location: West US
                      maxParallelExecutionsPerNode: 1
                      nodeSize: Standard_D1_v2
                      numberOfNodes: 1
                    ssisProperties:
                      catalogInfo:
                        catalogAdminPassword:
                          type: SecureString
                          value: '**********'
                        catalogAdminUserName: yanzhang
                        catalogPricingTier: S1
                        catalogServerEndpoint: yandongtestsvr.database.windows.net
              headers:
                Date: "Tue, 28 Nov 2017 07:05:29 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: f0c62d3c-0df3-4b08-b860-d258752bdfec
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
    patch:
      description: Updates an integration runtime.
      operationId: integration_runtimes_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRuntimeRequest'
        description: The parameters for updating an integration runtime.
        required: true
        x-body-name: updateIntegrationRuntimeRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeStatusResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_Update:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
            updateIntegrationRuntimeRequest:
              autoUpdate: "Off"
              updateDelayOffset: '"PT3H"'
          responses:
            "200":
              body:
                name: exampleIntegrationRuntime
                properties:
                  state: Online
                  type: SelfHosted
                  typeProperties:
                    autoUpdate: "Off"
                    capabilities:
                      connectedToResourceManager: "True"
                      credentialInSync: "True"
                      httpsPortEnabled: "True"
                      nodeEnabled: "True"
                      serviceBusConnected: "True"
                    createTime: 2017-11-28T05:42:42.9629741Z
                    localTimeZoneOffset: PT8H
                    nodeCommunicationChannelEncryptionMode: NonEncryption
                    nodes:
                    - capabilities:
                        connectedToResourceManager: "True"
                        credentialInSync: "True"
                        httpsPortEnabled: "True"
                        nodeEnabled: "True"
                        serviceBusConnected: "True"
                      hostServiceUri: https://yanzhang-02.redmond.corp.microsoft.com:8050/HostServiceRemote.svc/
                      isActiveDispatcher: true
                      lastConnectTime: 2017-11-28T06:04:53.3204752Z
                      lastStartTime: 2017-11-28T05:55:24.1066418Z
                      lastUpdateResult: None
                      machineName: YANZHANG-02
                      maxConcurrentJobs: 48
                      nodeName: Node_1
                      registerTime: 2017-11-28T05:54:38.5305162Z
                      status: Online
                      version: 3.2.6519.3
                      versionStatus: UpToDate
                    serviceUrls:
                    - wu.frontend.int.clouddatahub-int.net
                    - '*.servicebus.windows.net'
                    state: Online
                    taskQueueId: c4f7521d-66cc-4d44-8aad-4d3679821c41
                    updateDelayOffset: PT3H
                    version: 3.2.6519.3
                    versionStatus: UpToDate
              headers:
                Date: "Tue, 28 Nov 2017 06:05:14 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: 2fcc5cb6-e236-4848-99b7-8c834a622144
      x-codegen-request-body-name: updateIntegrationRuntimeRequest
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
    put:
      description: Creates or updates an integration runtime.
      operationId: integration_runtimes_create_or_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "ETag of the integration runtime entity. Should only be specified\
          \ for update, for which it should match existing entity or can be * for\
          \ unconditional update."
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRuntimeResource'
        description: Integration runtime resource definition.
        required: true
        x-body-name: integrationRuntime
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeResource'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from PUT integration runtime operation.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_Create:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntime:
              properties:
                description: A managed reserved integration runtime
                type: Managed
                typeProperties:
                  computeProperties:
                    location: West US
                    maxParallelExecutionsPerNode: 1
                    nodeSize: Standard_D1_v2
                    numberOfNodes: 1
                  ssisProperties:
                    catalogInfo:
                      catalogAdminPassword:
                        type: SecureString
                        value: Passw0rd1
                      catalogAdminUserName: yanzhang
                      catalogPricingTier: S1
                      catalogServerEndpoint: yandongtestsvr.database.windows.net
                    licenseType: BasePrice
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 0100333d-0000-0000-0000-5a1d0ab80000
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/integrationruntimes/exampleIntegrationRuntime
                name: exampleIntegrationRuntime
                properties:
                  description: A managed reserved integration runtime
                  state: Initial
                  type: Managed
                  typeProperties:
                    computeProperties:
                      location: West US
                      maxParallelExecutionsPerNode: 1
                      nodeSize: Standard_D1_v2
                      numberOfNodes: 1
                    ssisProperties:
                      catalogInfo:
                        catalogAdminPassword:
                          type: SecureString
                          value: '**********'
                        catalogAdminUserName: yanzhang
                        catalogPricingTier: S1
                        catalogServerEndpoint: yandongtestsvr.database.windows.net
                      licenseType: BasePrice
              headers:
                Date: "Tue, 28 Nov 2017 07:05:28 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: ef607971-0494-480e-82e7-73df0c671d9e
      x-codegen-request-body-name: integrationRuntime
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getConnectionInfo
  : post:
      description: Gets the on-premises integration runtime connection information
        for encrypting the on-premises data source credentials.
      operationId: integration_runtimes_get_connection_info
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimes_GetConnectionInfo_200_response'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_GetConnectionInfo:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                isIdentityCertExprired: false
              headers:
                Date: "Wed, 13 Sep 2017 17:55:51 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 500722f2-d4e5-4d88-b2d7-5231f158857c
                x-ms-ratelimit-remaining-subscription-writes: "1190"
                x-ms-request-id: c38b64ae-4e0c-488d-8baa-6dc104cecdb2
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getStatus
  : post:
      description: Gets detailed status information for an integration runtime.
      operationId: integration_runtimes_get_status
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeStatusResponse'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_GetStatus:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                name: exampleIntegrationRuntime
                properties:
                  dataFactoryLocation: West US
                  resourceUri: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/integrationruntimes/exampleIntegrationRuntime
                  state: Initial
                  type: Managed
                  typeProperties: {}
              headers:
                Date: "Tue, 28 Nov 2017 07:05:31 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: 3a638bbf-1dfe-4def-b71d-96d121c42389
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/listAuthKeys
  : post:
      description: Retrieves the authentication keys for an integration runtime.
      operationId: integration_runtimes_list_auth_keys
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimes_ListAuthKeys_200_response'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_ListAuthKeys:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                authKey1: IR@1baad24d-93e5-4074-8eeb-cd93fbb83b42@exampleFactoryName@eu@T5VHZgY8pqkdqoxok31dk8irrVOkhdnR6Ht8if1OebY=
                authKey2: IR@1baad24d-93e5-4074-8eeb-cd93fbb83b42@exampleFactoryName@eu@W6N1MtqwVoVSSa2HYzmJrj/NArFcy0xaU392cIZX1sI=
              headers:
                Date: "Wed, 13 Sep 2017 17:55:52 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: a4a5f951-227f-4eb7-8471-a5dbe51c9b8b
                x-ms-ratelimit-remaining-subscription-writes: "1189"
                x-ms-request-id: eecbf702-ed1d-4839-b235-ede3c87e0f49
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/monitoringData
  : post:
      description: "Get the integration runtime monitoring data, which includes the\
        \ monitor data for all the nodes under this integration runtime."
      operationId: integration_runtimes_get_monitoring_data
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimes_GetMonitoringData_200_response'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimes
      x-ms-examples:
        IntegrationRuntimes_GetMonitoringData:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                name: exampleIntegrationRuntime
                nodes:
                - availableMemory: 17337
                  cpuUtilization: 9
                  limitConcurrentJobs: 28
                  nodeName: YANZHANG-DT
                  receiveBytes: 8.09395694732666
                  runningConcurrentJobs: 0
                  sendBytes: 1.8606163263320923
              headers:
                Date: "Mon, 28 Aug 2017 04:19:53 GMT"
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 33dfa003-3467-4b84-ae9b-272902990453
                x-ms-ratelimit-remaining-subscription-writes: "1198"
                x-ms-request-id: 0116dbdb-c45c-43da-b92d-a6608aece008
      x-openapi-router-controller: openapi_server.controllers.integration_runtimes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}
  : delete:
      description: Deletes a self-hosted integration runtime node.
      operationId: integration_runtime_nodes_delete
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime node name.
        in: path
        name: nodeName
        required: true
        schema:
          maxLength: 150
          minLength: 1
          pattern: "^[a-z0-9A-Z][a-z0-9A-Z_-]{0,149}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "204":
          content: {}
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimeNodes
      x-ms-examples:
        IntegrationRuntimesNodes_Delete:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            nodeName: Node_1
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.integration_runtime_nodes_controller
    patch:
      description: Updates a self-hosted integration runtime node.
      operationId: integration_runtime_nodes_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime node name.
        in: path
        name: node_name
        required: true
        schema:
          maxLength: 150
          minLength: 1
          pattern: "^[a-z0-9A-Z][a-z0-9A-Z_-]{0,149}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRuntimeNodeRequest'
        description: The parameters for updating an integration runtime node.
        required: true
        x-body-name: updateIntegrationRuntimeNodeRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeNodes_Update_200_response'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimeNodes
      x-ms-examples:
        IntegrationRuntimeNodes_Update:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            nodeName: Node_1
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
            updateIntegrationRuntimeNodeRequest:
              concurrentJobsLimit: 2
          responses:
            "200":
              body:
                body:
                  capabilities:
                    connectedToResourceManager: "True"
                    credentialInSync: "True"
                    httpsPortEnabled: "True"
                    nodeEnabled: "True"
                    serviceBusConnected: "True"
                  concurrentJobsLimit: 2
                  hostServiceUri: https://yanzhang-02.redmond.corp.microsoft.com:8050/HostServiceRemote.svc/
                  isActiveDispatcher: true
                  lastConnectTime: 2017-11-28T06:51:20.7868013Z
                  lastStartTime: 2017-11-28T06:51:20.7868013Z
                  lastUpdateResult: None
                  machineName: YANZHANG-02
                  maxConcurrentJobs: 48
                  nodeName: Node_1
                  registerTime: 2017-11-28T06:50:38.0809958Z
                  status: Online
                  version: 3.2.6519.3
                  versionStatus: UpToDate
                request:
                  content:
                    headers:
                    - key: Content-Type
                      value:
                      - application/json; charset=utf-8
                    - key: Content-Length
                      value:
                      - "32"
                  headers:
                  - key: x-ms-client-request-id
                    value:
                    - eee2dbec-ee3b-4c5c-a040-d39c88f0f82b
                  - key: accept-language
                    value:
                    - en-US
                  - key: User-Agent
                    value:
                    - Microsoft.DataTransfer.IntegrationRuntimeService.Client.IntegrationRuntimeServiceClient/0.9.0.0
                  method:
                    method: PATCH
                  properties: {}
                  requestUri: https://wu.frontend.int.clouddatahub-int.net/subscriptions/12345678-1234-1234-12345678abc/datafactories/exampleFactoryName/IntegrationRuntimes/exampleIntegrationRuntime/nodes/Node_1?api-version=1.0
                  version:
                    build: -1
                    major: 1
                    majorRevision: -1
                    minor: 1
                    minorRevision: -1
                    revision: -1
                response:
                  content:
                    headers:
                    - key: Content-Length
                      value:
                      - "607"
                    - key: Content-Type
                      value:
                      - application/json; charset=utf-8
                    - key: Expires
                      value:
                      - "-1"
                  headers:
                  - key: Pragma
                    value:
                    - no-cache
                  - key: X-Content-Type-Options
                    value:
                    - nosniff
                  - key: Cache-Control
                    value:
                    - no-cache
                  - key: Date
                    value:
                    - "Tue, 28 Nov 2017 06:51:37 GMT"
                  - key: Server
                    value:
                    - Microsoft-IIS/8.5
                  - key: X-AspNet-Version
                    value:
                    - 4.0.30319
                  isSuccessStatusCode: true
                  reasonPhrase: OK
                  requestMessage:
                    content:
                      headers:
                      - key: Content-Type
                        value:
                        - application/json; charset=utf-8
                      - key: Content-Length
                        value:
                        - "32"
                    headers:
                    - key: x-ms-client-request-id
                      value:
                      - eee2dbec-ee3b-4c5c-a040-d39c88f0f82b
                    - key: accept-language
                      value:
                      - en-US
                    - key: User-Agent
                      value:
                      - Microsoft.DataTransfer.IntegrationRuntimeService.Client.IntegrationRuntimeServiceClient/0.9.0.0
                    method:
                      method: PATCH
                    properties: {}
                    requestUri: https://wu.frontend.int.clouddatahub-int.net/subscriptions/12345678-1234-1234-12345678abc/datafactories/exampleFactoryName/IntegrationRuntimes/exampleIntegrationRuntime/nodes/Node_1?api-version=1.0
                    version:
                      build: -1
                      major: 1
                      majorRevision: -1
                      minor: 1
                      minorRevision: -1
                      revision: -1
                  statusCode: 200
                  version:
                    build: -1
                    major: 1
                    majorRevision: -1
                    minor: 1
                    minorRevision: -1
                    revision: -1
              headers:
                Date: "Tue, 28 Nov 2017 06:51:38 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: eee2dbec-ee3b-4c5c-a040-d39c88f0f82b
      x-codegen-request-body-name: updateIntegrationRuntimeNodeRequest
      x-openapi-router-controller: openapi_server.controllers.integration_runtime_nodes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}/ipAddress
  : post:
      description: Get the IP address of self-hosted integration runtime node.
      operationId: integration_runtime_nodes_get_ip_address
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime node name.
        in: path
        name: node_name
        required: true
        schema:
          maxLength: 150
          minLength: 1
          pattern: "^[a-z0-9A-Z][a-z0-9A-Z_-]{0,149}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeNodes_GetIpAddress_200_response'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error response received from the Azure Data Factory service.
      tags:
      - integrationRuntimeNodes
      x-ms-examples:
        IntegrationRuntimeNodes_GetIpAddress:
          parameters:
            api-version: 2017-09-01-preview
            factoryName: exampleFactoryName
            integrationRuntimeName: exampleIntegrationRuntime
            nodeName: YANZHANG-02
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                ipAddress: '***'
              headers:
                Date: "Tue, 14 Nov 2017 03:29:46 GMT"
                X-Content-Type-Options: nosniff
                x-ms-request-id: 6ba794e4-da5a-4760-afa8-1c68a2c9f487
      x-openapi-router-controller: openapi_server.controllers.integration_runtime_nodes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/regenerateAuthKey
  : post:
      description: Regenerates the authentication key for an integration runtime.
      operationId: integration_runtimes_regenerate_auth_key
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The factory name.
        in: path
        name: factory_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The integration runtime name.
        in: path
        name: integration_runtime_name
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRuntimes_RegenerateAuthKey_request'
        description: The parameters for regenerating integration runtime authentication
[...]
