openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "This API is a prerequisite for leveraging Artifact Analysis scanning\
    \ capabilities in both Artifact Registry and with Advanced Vulnerability Insights\
    \ (runtime scanning) in GKE. In addition, the Container Analysis API is an implementation\
    \ of the Grafeas API, which enables storing, querying, and retrieval of critical\
    \ metadata about all of your software artifacts."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Container Analysis API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://containeranalysis.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: containeranalysis
externalDocs:
  url: https://cloud.google.com/container-analysis/api/reference/rest/
servers:
- url: https://containeranalysis.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: "Deletes the specified occurrence. For example, use this method\
        \ to delete an occurrence when the occurrence is no longer applicable for\
        \ the given resource."
      operationId: containeranalysis_projects_occurrences_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the specified occurrence.
      operationId: containeranalysis_projects_occurrences_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occurrence'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: Updates the specified occurrence.
      operationId: containeranalysis_projects_occurrences_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The fields to update.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Occurrence'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occurrence'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/notes:
    get:
      description: Gets the note attached to the specified occurrence. Consumer projects
        can use this method to get a note that belongs to a provider project.
      operationId: containeranalysis_projects_occurrences_get_notes
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/occurrences:
    get:
      description: Lists occurrences referencing the specified note. Provider projects
        can use this method to get all occurrences across consumer projects referencing
        the specified note.
      operationId: containeranalysis_projects_notes_occurrences_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the note to list occurrences for in the\
          \ form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Number of occurrences to return in the list.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNoteOccurrencesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}:exportSBOM:
    post:
      description: Generates an SBOM for the given resource.
      operationId: containeranalysis_projects_resources_export_sbom
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportSBOMRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportSBOMResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/notes:
    get:
      description: Lists notes for the specified project.
      operationId: containeranalysis_projects_notes_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project to list notes for in the form\
          \ of `projects/[PROJECT_ID]`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Number of notes to return in the list. Must be positive. Max\
          \ allowed page size is 1000. If not specified, page size defaults to 20."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new note.
      operationId: containeranalysis_projects_notes_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project in the form of `projects/[PROJECT_ID]`,\
          \ under which the note is to be created."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID to use for this note.
        explode: true
        in: query
        name: noteId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/notes:batchCreate:
    post:
      description: Creates new notes in batch.
      operationId: containeranalysis_projects_notes_batch_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project in the form of `projects/[PROJECT_ID]`,\
          \ under which the notes are to be created."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateNotesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateNotesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/occurrences:
    get:
      description: Lists occurrences for the specified project.
      operationId: containeranalysis_projects_occurrences_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project to list occurrences for in\
          \ the form of `projects/[PROJECT_ID]`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Number of occurrences to return in the list. Must be positive.\
          \ Max allowed page size is 1000. If not specified, page size defaults to\
          \ 20."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to provide to skip to a particular spot in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOccurrencesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new occurrence.
      operationId: containeranalysis_projects_occurrences_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project in the form of `projects/[PROJECT_ID]`,\
          \ under which the occurrence is to be created."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Occurrence'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occurrence'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/occurrences:batchCreate:
    post:
      description: Creates new occurrences in batch.
      operationId: containeranalysis_projects_occurrences_batch_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project in the form of `projects/[PROJECT_ID]`,\
          \ under which the occurrences are to be created."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateOccurrencesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateOccurrencesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/occurrences:vulnerabilitySummary:
    get:
      description: Gets a summary of the number and severity of occurrences.
      operationId: containeranalysis_projects_occurrences_get_vulnerability_summary
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project to get a vulnerability summary\
          \ for in the form of `projects/[PROJECT_ID]`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The filter expression.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityOccurrencesSummary'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{resource}:getIamPolicy:
    post:
      description: "Gets the access control policy for a note or an occurrence resource.\
        \ Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy`\
        \ permission if the resource is a note or occurrence, respectively. The resource\
        \ takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`\
        \ for occurrences."
      operationId: containeranalysis_projects_occurrences_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{resource}:setIamPolicy:
    post:
      description: "Sets the access control policy on the specified note or occurrence.\
        \ Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy`\
        \ permission if the resource is a note or an occurrence, respectively. The\
        \ resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes\
        \ and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
      operationId: containeranalysis_projects_occurrences_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{resource}:testIamPermissions:
    post:
      description: "Returns the permissions that a caller has on the specified note\
        \ or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`).\
        \ The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for\
        \ notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
      operationId: containeranalysis_projects_occurrences_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AliasContext:
      description: An alias to a repo revision.
      example:
        kind: KIND_UNSPECIFIED
        name: name
      properties:
        kind:
          description: The alias kind.
          enum:
          - KIND_UNSPECIFIED
          - FIXED
          - MOVABLE
          - OTHER
          title: kind
          type: string
        name:
          description: The alias name.
          title: name
          type: string
      title: AliasContext
      type: object
    AnalysisCompleted:
      description: Indicates which analysis completed successfully. Multiple types
        of analysis can be performed on a single resource.
      example:
        analysisType:
        - analysisType
        - analysisType
      properties:
        analysisType:
          items:
            type: string
          title: analysisType
          type: array
      title: AnalysisCompleted
      type: object
    Artifact:
      description: Artifact describes a build product.
      example:
        names:
        - names
        - names
        checksum: checksum
        id: id
      properties:
        checksum:
          description: "Hash or checksum value of a binary, or Docker Registry 2.0\
            \ digest of a container."
          title: checksum
          type: string
        id:
          description: "Artifact ID, if any; for container images, this will be a\
            \ URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
          title: id
          type: string
        names:
          description: "Related artifact names. This may be the path to a binary or\
            \ jar file, or in the case of a container build, the name used to push\
            \ the container image to Google Container Registry, as presented to `docker\
            \ push`. Note that a single Artifact ID can have multiple names, for example\
            \ if two tags are applied to one image."
          items:
            type: string
          title: names
          type: array
      title: Artifact
      type: object
    Assessment:
      description: Assessment provides all information that is related to a single
        vulnerability for this product.
      example:
        longDescription: longDescription
        cve: cve
        vulnerabilityId: vulnerabilityId
        relatedUris:
        - label: label
          url: url
        - label: label
          url: url
        remediations:
        - remediationType: REMEDIATION_TYPE_UNSPECIFIED
          remediationUri:
            label: label
            url: url
          details: details
        - remediationType: REMEDIATION_TYPE_UNSPECIFIED
          remediationUri:
            label: label
            url: url
          details: details
        impacts:
        - impacts
        - impacts
        justification:
          justificationType: JUSTIFICATION_TYPE_UNSPECIFIED
          details: details
        shortDescription: shortDescription
        state: STATE_UNSPECIFIED
      properties:
        cve:
          deprecated: true
          description: "Holds the MITRE standard Common Vulnerabilities and Exposures\
            \ (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id\
            \ instead to denote CVEs."
          title: cve
          type: string
        impacts:
          description: "Contains information about the impact of this vulnerability,\
            \ this will change with time."
          items:
            type: string
          title: impacts
          type: array
        justification:
          $ref: '#/components/schemas/Justification'
        longDescription:
          description: A detailed description of this Vex.
          title: longDescription
          type: string
        relatedUris:
          description: Holds a list of references associated with this vulnerability
            item and assessment. These uris have additional information about the
            vulnerability and the assessment itself. E.g. Link to a document which
            details how this assessment concluded the state of this vulnerability.
          items:
            $ref: '#/components/schemas/RelatedUrl'
          title: relatedUris
          type: array
        remediations:
          description: "Specifies details on how to handle (and presumably, fix) a\
            \ vulnerability."
          items:
            $ref: '#/components/schemas/Remediation'
          title: remediations
          type: array
        shortDescription:
          description: A one sentence description of this Vex.
          title: shortDescription
          type: string
        state:
          description: Provides the state of this Vulnerability assessment.
          enum:
          - STATE_UNSPECIFIED
          - AFFECTED
          - NOT_AFFECTED
          - FIXED
          - UNDER_INVESTIGATION
          title: state
          type: string
        vulnerabilityId:
          description: "The vulnerability identifier for this Assessment. Will hold\
            \ one of common identifiers e.g. CVE, GHSA etc."
          title: vulnerabilityId
          type: string
      title: Assessment
      type: object
    AttestationNote:
      description: "Note kind that represents a logical attestation \"role\" or \"\
        authority\". For example, an organization might have one `Authority` for \"\
        QA\" and one for \"build\". This note is intended to act strictly as a grouping\
        \ mechanism for the attached occurrences (Attestations). This grouping mechanism\
        \ also provides a security boundary, since IAM ACLs gate the ability for a\
        \ principle to attach an occurrence to a given note. It also provides a single\
        \ point of lookup to find all attached attestation occurrences, even if they\
        \ don't all live in the same project."
      example:
        hint:
          humanReadableName: humanReadableName
      properties:
        hint:
          $ref: '#/components/schemas/Hint'
      title: AttestationNote
      type: object
    AttestationOccurrence:
      description: "Occurrence that represents a single \"attestation\". The authenticity\
        \ of an attestation can be verified using the attached signature. If the verifier\
        \ trusts the public key of the signer, then verifying the signature is sufficient\
        \ to establish trust. In this circumstance, the authority to which this attestation\
        \ is attached is primarily useful for lookup (how to find this attestation\
        \ if you already know the authority and artifact to be verified) and intent\
        \ (for which authority this attestation was intended to sign."
      example:
        serializedPayload: serializedPayload
        jwts:
        - compactJwt: compactJwt
        - compactJwt: compactJwt
        signatures:
        - signature: signature
          publicKeyId: publicKeyId
        - signature: signature
          publicKeyId: publicKeyId
      properties:
        jwts:
          description: "One or more JWTs encoding a self-contained attestation. Each\
            \ JWT encodes the payload that it verifies within the JWT itself. Verifier\
            \ implementation SHOULD ignore the `serialized_payload` field when verifying\
            \ these JWTs. If only JWTs are present on this AttestationOccurrence,\
            \ then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD\
            \ encode a claim specific to the `resource_uri` of this Occurrence, but\
            \ this is not validated by Grafeas metadata API implementations. The JWT\
            \ itself is opaque to Grafeas."
          items:
            $ref: '#/components/schemas/Jwt'
          title: jwts
          type: array
        serializedPayload:
          description: Required. The serialized payload that is verified by one or
            more `signatures`.
          format: byte
          title: serializedPayload
          type: string
        signatures:
          description: One or more signatures over `serialized_payload`. Verifier
            implementations should consider this attestation message verified if at
            least one `signature` verifies `serialized_payload`. See `Signature` in
            common.proto for more details on signature structure and verification.
          items:
            $ref: '#/components/schemas/Signature'
          title: signatures
          type: array
      title: AttestationOccurrence
      type: object
    BatchCreateNotesRequest:
      description: Request to create notes in batch.
      example:
        notes:
          key:
            longDescription: longDescription
            image:
              resourceUrl: resourceUrl
              fingerprint:
                v1Name: v1Name
                v2Blob:
                - v2Blob
                - v2Blob
                v2Name: v2Name
            attestation:
              hint:
                humanReadableName: humanReadableName
            package:
              license:
                comments: comments
                expression: expression
              digest:
              - digestBytes: digestBytes
                algo: algo
              - digestBytes: digestBytes
                algo: algo
              name: name
              description: description
              distribution:
              - latestVersion:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                description: description
                cpeUri: cpeUri
                maintainer: maintainer
                url: url
                architecture: ARCHITECTURE_UNSPECIFIED
              - latestVersion:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                description: description
                cpeUri: cpeUri
                maintainer: maintainer
                url: url
                architecture: ARCHITECTURE_UNSPECIFIED
              cpeUri: cpeUri
              packageType: packageType
              version:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              maintainer: maintainer
              url: url
              architecture: ARCHITECTURE_UNSPECIFIED
            upgrade:
              package: package
              version:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              distributions:
              - severity: severity
                cve:
                - cve
                - cve
                classification: classification
                cpeUri: cpeUri
              - severity: severity
                cve:
                - cve
                - cve
                classification: classification
                cpeUri: cpeUri
              windowsUpdate:
                lastPublishedTimestamp: lastPublishedTimestamp
                identity:
                  updateId: updateId
                  revision: 5
                supportUrl: supportUrl
                description: description
                kbArticleIds:
                - kbArticleIds
                - kbArticleIds
                categories:
                - name: name
                  categoryId: categoryId
                - name: name
                  categoryId: categoryId
                title: title
            kind: NOTE_KIND_UNSPECIFIED
            sbomReference:
              format: format
              version: version
            vulnerabilityAssessment:
              longDescription: longDescription
              assessment:
                longDescription: longDescription
                cve: cve
                vulnerabilityId: vulnerabilityId
                relatedUris:
                - label: label
                  url: url
                - label: label
                  url: url
                remediations:
                - remediationType: REMEDIATION_TYPE_UNSPECIFIED
                  remediationUri:
                    label: label
                    url: url
                  details: details
                - remediationType: REMEDIATION_TYPE_UNSPECIFIED
                  remediationUri:
                    label: label
                    url: url
                  details: details
                impacts:
                - impacts
                - impacts
                justification:
                  justificationType: JUSTIFICATION_TYPE_UNSPECIFIED
                  details: details
                shortDescription: shortDescription
                state: STATE_UNSPECIFIED
              product:
                genericUri: genericUri
                name: name
                id: id
              publisher:
                issuingAuthority: issuingAuthority
                name: name
                publisherNamespace: publisherNamespace
              shortDescription: shortDescription
              languageCode: languageCode
              title: title
            dsseAttestation:
              hint:
                humanReadableName: humanReadableName
            updateTime: updateTime
            shortDescription: shortDescription
            vulnerability:
              severity: SEVERITY_UNSPECIFIED
              cvssScore: 6.0274563
              cvssV3:
                exploitabilityScore: 5.962134
                confidentialityImpact: IMPACT_UNSPECIFIED
                attackComplexity: ATTACK_COMPLEXITY_UNSPECIFIED
                scope: SCOPE_UNSPECIFIED
                attackVector: ATTACK_VECTOR_UNSPECIFIED
                availabilityImpact: IMPACT_UNSPECIFIED
                integrityImpact: IMPACT_UNSPECIFIED
                baseScore: 1.4658129
                privilegesRequired: PRIVILEGES_REQUIRED_UNSPECIFIED
                impactScore: 5.637377
                userInteraction: USER_INTERACTION_UNSPECIFIED
              cvssVersion: CVSS_VERSION_UNSPECIFIED
              details:
              - fixedVersion:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                affectedPackage: affectedPackage
                fixedPackage: fixedPackage
                description: description
                sourceUpdateTime: sourceUpdateTime
                isObsolete: true
                source: source
                packageType: packageType
                fixedCpeUri: fixedCpeUri
                affectedCpeUri: affectedCpeUri
                vendor: vendor
                affectedVersionEnd:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                affectedVersionStart:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                severityName: severityName
              - fixedVersion:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                affectedPackage: affectedPackage
                fixedPackage: fixedPackage
                description: description
                sourceUpdateTime: sourceUpdateTime
                isObsolete: true
                source: source
                packageType: packageType
                fixedCpeUri: fixedCpeUri
                affectedCpeUri: affectedCpeUri
                vendor: vendor
                affectedVersionEnd:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                affectedVersionStart:
                  inclusive: true
                  kind: VERSION_KIND_UNSPECIFIED
                  name: name
                  fullName: fullName
                  epoch: 1
                  revision: revision
                severityName: severityName
              sourceUpdateTime: sourceUpdateTime
              cvssV2:
                exploitabilityScore: 7.0614014
                confidentialityImpact: IMPACT_UNSPECIFIED
                attackComplexity: ATTACK_COMPLEXITY_UNSPECIFIED
                scope: SCOPE_UNSPECIFIED
                attackVector: ATTACK_VECTOR_UNSPECIFIED
                availabilityImpact: IMPACT_UNSPECIFIED
                integrityImpact: IMPACT_UNSPECIFIED
                baseScore: 2.302136
                privilegesRequired: PRIVILEGES_REQUIRED_UNSPECIFIED
                impactScore: 9.301444
                userInteraction: USER_INTERACTION_UNSPECIFIED
                authentication: AUTHENTICATION_UNSPECIFIED
              windowsDetails:
              - name: name
                description: description
                fixingKbs:
                - name: name
                  url: url
                - name: name
                  url: url
                cpeUri: cpeUri
              - name: name
                description: description
                fixingKbs:
                - name: name
                  url: url
                - name: name
                  url: url
                cpeUri: cpeUri
            relatedNoteNames:
            - relatedNoteNames
            - relatedNoteNames
            build:
              builderVersion: builderVersion
            createTime: createTime
            compliance:
              remediation: remediation
              cisBenchmark:
                severity: SEVERITY_UNSPECIFIED
                profileLevel: 0
              scanInstructions: scanInstructions
              description: description
              title: title
              rationale: rationale
              version:
              - benchmarkDocument: benchmarkDocument
                cpeUri: cpeUri
                version: version
              - benchmarkDocument: benchmarkDocument
                cpeUri: cpeUri
                version: version
            discovery:
              analysisKind: NOTE_KIND_UNSPECIFIED
            expirationTime: expirationTime
            name: name
            relatedUrl:
            - label: label
              url: url
            - label: label
              url: url
            deployment:
              resourceUri:
              - resourceUri
              - resourceUri
      properties:
        notes:
          additionalProperties:
            $ref: '#/components/schemas/Note'
          description: Required. The notes to create. Max allowed length is 1000.
          title: notes
          type: object
      title: BatchCreateNotesRequest
      type: object
    BatchCreateNotesResponse:
      description: Response for creating notes in batch.
      example:
        notes:
        - longDescription: longDescription
          image:
            resourceUrl: resourceUrl
            fingerprint:
              v1Name: v1Name
              v2Blob:
              - v2Blob
              - v2Blob
              v2Name: v2Name
          attestation:
            hint:
              humanReadableName: humanReadableName
          package:
            license:
              comments: comments
              expression: expression
            digest:
            - digestBytes: digestBytes
              algo: algo
            - digestBytes: digestBytes
              algo: algo
            name: name
            description: description
            distribution:
            - latestVersion:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              description: description
              cpeUri: cpeUri
              maintainer: maintainer
              url: url
              architecture: ARCHITECTURE_UNSPECIFIED
            - latestVersion:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              description: description
              cpeUri: cpeUri
              maintainer: maintainer
              url: url
              architecture: ARCHITECTURE_UNSPECIFIED
            cpeUri: cpeUri
            packageType: packageType
            version:
              inclusive: true
              kind: VERSION_KIND_UNSPECIFIED
              name: name
              fullName: fullName
              epoch: 1
              revision: revision
            maintainer: maintainer
            url: url
            architecture: ARCHITECTURE_UNSPECIFIED
          upgrade:
            package: package
            version:
              inclusive: true
              kind: VERSION_KIND_UNSPECIFIED
              name: name
              fullName: fullName
              epoch: 1
              revision: revision
            distributions:
            - severity: severity
              cve:
              - cve
              - cve
              classification: classification
              cpeUri: cpeUri
            - severity: severity
              cve:
              - cve
              - cve
              classification: classification
              cpeUri: cpeUri
            windowsUpdate:
              lastPublishedTimestamp: lastPublishedTimestamp
              identity:
                updateId: updateId
                revision: 5
              supportUrl: supportUrl
              description: description
              kbArticleIds:
              - kbArticleIds
              - kbArticleIds
              categories:
              - name: name
                categoryId: categoryId
              - name: name
                categoryId: categoryId
              title: title
          kind: NOTE_KIND_UNSPECIFIED
          sbomReference:
            format: format
            version: version
          vulnerabilityAssessment:
            longDescription: longDescription
            assessment:
              longDescription: longDescription
              cve: cve
              vulnerabilityId: vulnerabilityId
              relatedUris:
              - label: label
                url: url
              - label: label
                url: url
              remediations:
              - remediationType: REMEDIATION_TYPE_UNSPECIFIED
                remediationUri:
                  label: label
                  url: url
                details: details
              - remediationType: REMEDIATION_TYPE_UNSPECIFIED
                remediationUri:
                  label: label
                  url: url
                details: details
              impacts:
              - impacts
              - impacts
              justification:
                justificationType: JUSTIFICATION_TYPE_UNSPECIFIED
                details: details
              shortDescription: shortDescription
              state: STATE_UNSPECIFIED
            product:
              genericUri: genericUri
              name: name
              id: id
            publisher:
              issuingAuthority: issuingAuthority
              name: name
              publisherNamespace: publisherNamespace
            shortDescription: shortDescription
            languageCode: languageCode
            title: title
          dsseAttestation:
            hint:
              humanReadableName: humanReadableName
          updateTime: updateTime
          shortDescription: shortDescription
          vulnerability:
            severity: SEVERITY_UNSPECIFIED
            cvssScore: 6.0274563
            cvssV3:
              exploitabilityScore: 5.962134
              confidentialityImpact: IMPACT_UNSPECIFIED
              attackComplexity: ATTACK_COMPLEXITY_UNSPECIFIED
              scope: SCOPE_UNSPECIFIED
              attackVector: ATTACK_VECTOR_UNSPECIFIED
              availabilityImpact: IMPACT_UNSPECIFIED
              integrityImpact: IMPACT_UNSPECIFIED
              baseScore: 1.4658129
              privilegesRequired: PRIVILEGES_REQUIRED_UNSPECIFIED
              impactScore: 5.637377
              userInteraction: USER_INTERACTION_UNSPECIFIED
            cvssVersion: CVSS_VERSION_UNSPECIFIED
            details:
            - fixedVersion:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              affectedPackage: affectedPackage
              fixedPackage: fixedPackage
              description: description
              sourceUpdateTime: sourceUpdateTime
              isObsolete: true
              source: source
              packageType: packageType
              fixedCpeUri: fixedCpeUri
              affectedCpeUri: affectedCpeUri
              vendor: vendor
              affectedVersionEnd:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              affectedVersionStart:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              severityName: severityName
            - fixedVersion:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              affectedPackage: affectedPackage
              fixedPackage: fixedPackage
              description: description
              sourceUpdateTime: sourceUpdateTime
              isObsolete: true
              source: source
              packageType: packageType
              fixedCpeUri: fixedCpeUri
              affectedCpeUri: affectedCpeUri
              vendor: vendor
              affectedVersionEnd:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              affectedVersionStart:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              severityName: severityName
            sourceUpdateTime: sourceUpdateTime
            cvssV2:
              exploitabilityScore: 7.0614014
              confidentialityImpact: IMPACT_UNSPECIFIED
              attackComplexity: ATTACK_COMPLEXITY_UNSPECIFIED
              scope: SCOPE_UNSPECIFIED
              attackVector: ATTACK_VECTOR_UNSPECIFIED
              availabilityImpact: IMPACT_UNSPECIFIED
              integrityImpact: IMPACT_UNSPECIFIED
              baseScore: 2.302136
              privilegesRequired: PRIVILEGES_REQUIRED_UNSPECIFIED
              impactScore: 9.301444
              userInteraction: USER_INTERACTION_UNSPECIFIED
              authentication: AUTHENTICATION_UNSPECIFIED
            windowsDetails:
            - name: name
              description: description
              fixingKbs:
              - name: name
                url: url
              - name: name
                url: url
              cpeUri: cpeUri
            - name: name
              description: description
              fixingKbs:
              - name: name
                url: url
              - name: name
                url: url
              cpeUri: cpeUri
          relatedNoteNames:
          - relatedNoteNames
          - relatedNoteNames
          build:
            builderVersion: builderVersion
          createTime: createTime
          compliance:
            remediation: remediation
            cisBenchmark:
              severity: SEVERITY_UNSPECIFIED
              profileLevel: 0
            scanInstructions: scanInstructions
            description: description
            title: title
            rationale: rationale
            version:
            - benchmarkDocument: benchmarkDocument
              cpeUri: cpeUri
              version: version
            - benchmarkDocument: benchmarkDocument
              cpeUri: cpeUri
              version: version
          discovery:
            analysisKind: NOTE_KIND_UNSPECIFIED
          expirationTime: expirationTime
          name: name
          relatedUrl:
          - label: label
            url: url
          - label: label
            url: url
          deployment:
            resourceUri:
            - resourceUri
            - resourceUri
        - longDescription: longDescription
          image:
            resourceUrl: resourceUrl
            fingerprint:
              v1Name: v1Name
              v2Blob:
              - v2Blob
              - v2Blob
              v2Name: v2Name
          attestation:
            hint:
              humanReadableName: humanReadableName
          package:
            license:
              comments: comments
              expression: expression
            digest:
            - digestBytes: digestBytes
              algo: algo
            - digestBytes: digestBytes
              algo: algo
            name: name
            description: description
            distribution:
            - latestVersion:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              description: description
              cpeUri: cpeUri
              maintainer: maintainer
              url: url
              architecture: ARCHITECTURE_UNSPECIFIED
            - latestVersion:
                inclusive: true
                kind: VERSION_KIND_UNSPECIFIED
                name: name
                fullName: fullName
                epoch: 1
                revision: revision
              description: description
              cpeUri: cpeUri
              maintainer: maintainer
              url: url
              architecture: ARCHITECTURE_UNSPECIFIED
            cpeUri: cpeUri
            packageType: packageType
            version:
              inclusive: true
              kind: VERSION_KIND_UNSPECIFIED
              name: name
              fullName: fullName
              epoch: 1
              revision: revision
            maintainer: maintainer
            url: url
            architecture: ARCHITECTURE_UNSPECIFIED
          upgrade:
            package: package
            version:
              inclusive: true
              kind: VERSION_KIND_UNSPECIFIED
              name: name
              fullName: fullName
              epoch: 1
              revision: revision
[...]
