openapi: 3.0.1
info:
  description: REST APIs for Azure Advisor
  title: AdvisorManagementClient
  version: 2020-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: advisor
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Advisor/metadata:
    get:
      operationId: recommendation_metadata_list
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataEntityListResult'
          description: OK. Successfully retrieved metadata entities
      summary: Gets the list of metadata entities.
      tags:
      - Metadata
      x-ms-examples:
        GetMetadata:
          parameters:
            api-version: 2020-01-01
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: providers/Microsoft.Advisor/metadata/recommendationType
                  name: recommendationType
                  properties:
                    applicableScenarios:
                    - Alerts
                    dependsOn:
                    - category
                    - impact
                    displayName: Recommendation Type
                    supportedValues:
                    - displayName: Upgrade your SKU or add more instances to ensure
                        fault tolerance
                      id: 6a2b1e70-bd4c-4163-86de-5243d7ac05ee
                    - displayName: Delete ExpressRoute circuits in the provider status
                        of Not Provisioned
                      id: da6630fb-4286-4996-92a3-a43f5f26dd34
                  type: Microsoft.Advisor/metadata
                - id: providers/Microsoft.Advisor/metadata/recommendationCategory
                  name: recommendationCategory
                  properties:
                    applicableScenarios:
                    - Alerts
                    displayName: Category
                    supportedValues:
                    - displayName: Cost
                      id: Cost
                    - displayName: Performance
                      id: Performance
                  type: Microsoft.Advisor/metadata
                - id: providers/Microsoft.Advisor/metadata/recommendationImpact
                  name: recommendationImpact
                  properties:
                    displayName: Impact
                    supportedValues:
                    - displayName: High
                      id: High
                    - displayName: Medium
                      id: Medium
                    - displayName: Low
                      id: Low
                  type: Microsoft.Advisor/metadata
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
  /providers/Microsoft.Advisor/metadata/{name}:
    get:
      operationId: recommendation_metadata_get
      parameters:
      - description: Name of metadata entity.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataEntity'
          description: OK. Successfully retrieved metadata entities
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ARMErrorResponseBody'
          description: Client sent unknown metadata name
      summary: Gets the metadata entity.
      tags:
      - Metadata
      x-ms-examples:
        GetMetadata:
          parameters:
            api-version: 2020-01-01
            name: types
          responses:
            "200":
              body:
                id: providers/Microsoft.Advisor/metadata/recommendationType
                name: recommendationType
                properties:
                  applicableScenarios:
                  - Alerts
                  dependsOn:
                  - category
                  - impact
                  displayName: Recommendation Type
                  supportedValues:
                  - displayName: Upgrade your SKU or add more instances to ensure
                      fault tolerance
                    id: 6a2b1e70-bd4c-4163-86de-5243d7ac05ee
                  - displayName: Delete ExpressRoute circuits in the provider status
                      of Not Provisioned
                    id: da6630fb-4286-4996-92a3-a43f5f26dd34
                type: Microsoft.Advisor/metadata
            "404":
              body:
                code: NotFound
                message: Unknown metadata name
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
  /providers/Microsoft.Advisor/operations:
    get:
      deprecated: false
      description: Lists all the available Advisor REST API operations.
      operationId: operations_list
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
          description: OK. Successfully retrieved operation list.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations:
    get:
      deprecated: false
      description: Retrieve Azure Advisor configurations and also retrieve configurations
        of contained resource groups.
      operationId: configurations_list_by_subscription
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationListResult'
          description: OK. Successfully retrieved zero or more configurations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
          description: Error response describing why the operation failed.
      summary: Retrieve Azure Advisor configurations.
      tags:
      - Configurations
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2020-01-01
            resourceGroup: resourceGroup
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/Microsoft.Advisor/configurations/default
                  name: default
                  properties:
                    digests:
                    - actionGroupResourceId: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/microsoft.insights/actionGroups/actionGroupName
                      categories:
                      - HighAvailability
                      - Security
                      - Performance
                      - Cost
                      - OperationalExcellence
                      frequency: 30
                      language: en
                      name: digestConfigName
                      state: Active
                    exclude: false
                    lowCpuThreshold: "5"
                  type: Microsoft.Advisor/configurations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations/{configurationName}:
    put:
      deprecated: false
      description: Create/Overwrite Azure Advisor configuration and also delete all
        configurations of contained resource groups.
      operationId: configurations_create_in_subscription
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Advisor configuration name. Value must be 'default'
        in: path
        name: configurationName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConfigurationName
        x-ms-enum:
          modelAsString: true
          name: ConfigurationName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigData'
        description: The Azure Advisor configuration data structure.
        required: true
        x-body-name: configContract
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigData'
          description: Successfully created/overwrote configuration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
          description: Error response describing why the operation failed.
      summary: Create/Overwrite Azure Advisor configuration.
      tags:
      - Configurations
      x-ms-examples:
        PutConfigurations:
          parameters:
            api-version: 2020-01-01
            configContract:
              properties:
                digests:
                - actionGroupResourceId: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/microsoft.insights/actionGroups/actionGroupName
                  categories:
                  - HighAvailability
                  - Security
                  - Performance
                  - Cost
                  - OperationalExcellence
                  frequency: 30
                  language: en
                  name: digestConfigName
                  state: Active
                exclude: true
                lowCpuThreshold: "5"
            configurationName: default
            resourceGroup: resourceGroup
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/Microsoft.Advisor/configurations/default
                name: default
                properties:
                  digests:
                  - actionGroupResourceId: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/microsoft.insights/actionGroups/actionGroupName
                    categories:
                    - HighAvailability
                    - Security
                    - Performance
                    - Cost
                    - OperationalExcellence
                    frequency: 30
                    language: en
                    name: digestConfigName
                    state: Active
                  exclude: true
                  lowCpuThreshold: "5"
                type: Microsoft.Advisor/configurations
      x-codegen-request-body-name: configContract
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations:
    post:
      deprecated: false
      description: Initiates the recommendation generation or computation process
        for a subscription. This operation is asynchronous. The generated recommendations
        are stored in a cache in the Advisor service.
      operationId: recommendations_generate
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted. Recommendation generation has been accepted.
          headers:
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
            Location:
              description: The URL where the status of the asynchronous operation
                can be checked.
              schema:
                type: string
      tags:
      - GenerateRecommendations
      x-ms-examples:
        GenerateRecommendations:
          parameters:
            api-version: 2020-01-01
            subscriptionId: subscriptionId
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Microsoft.Advisor/generateRecommendations/recGUID?api-version=2020-01-01
                Retry-After: "60"
      x-openapi-router-controller: openapi_server.controllers.generate_recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}:
    get:
      deprecated: false
      description: Retrieves the status of the recommendation computation or generation
        process. Invoke this API after calling the generation recommendation. The
        URI of this API is returned in the Location field of the response header.
      operationId: recommendations_get_generate_status
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The operation ID, which can be found from the Location field\
          \ in the generate recommendation response header."
        in: path
        name: operationId
        required: true
        schema:
          format: uuid
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted. Recommendation generation is in progress.
        "204":
          content: {}
          description: NoContent. Recommendation generation has been completed.
      tags:
      - GenerateRecommendations
      x-ms-examples:
        GetGenerateStatus:
          parameters:
            api-version: 2020-01-01
            operationId: operationGUID
            subscriptionId: subscriptionId
          responses:
            "202": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.generate_recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations:
    get:
      deprecated: false
      description: Obtains cached recommendations for a subscription. The recommendations
        are generated or computed by invoking generateRecommendations.
      operationId: recommendations_list
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply to the recommendations.
        in: query
        name: $filter
        schema:
          type: string
      - description: The number of recommendations per page if a paged version of
          this API is being used.
        in: query
        name: $top
        schema:
          type: integer
      - description: The page-continuation token to use with a paged version of this
          API.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRecommendationBaseListResult'
          description: OK. Successfully obtained cached recommendations.
      tags:
      - GetRecommendations
      x-ms-examples:
        ListRecommendations:
          parameters:
            $top: 10
            api-version: 2020-01-01
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Advisor/recommendations?api-version=2020-01-01&$top=10&$skiptoken=skiptoken
                value:
                - id: /resourceUri/providers/Microsoft.Advisor/recommendations/recGUID
                  name: recGUID
                  properties:
                    category: HighAvailability
                    impact: Medium
                    impactedField: Microsoft.Compute/availabilitySets
                    impactedValue: armavset
                    lastUpdated: 2017-02-24T22:24:43.3216408Z
                    risk: Warning
                    shortDescription:
                      problem: This availability set is not configured for fault tolerance
                      solution: To ensure high availability add one or more virtual
                        machines to this availability set
                  type: Microsoft.Advisor/recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions:
    get:
      deprecated: false
      description: Retrieves the list of snoozed or dismissed suppressions for a subscription.
        The snoozed or dismissed attribute of a recommendation is referred to as a
        suppression.
      operationId: suppressions_list
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of suppressions per page if a paged version of this
          API is being used.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The page-continuation token to use with a paged version of this
          API.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContractListResult'
          description: OK. Successfully got all suppressions in a subscription.
      tags:
      - Suppressions
      x-ms-examples:
        ListSuppressions:
          parameters:
            api-version: 2020-01-01
            subscriptionId: subscriptionId1
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/3f75fdf7-977e-44ad-990d-99f14f0f299f/providers/microsoft.Advisor/suppressions?api-version=2020-01-01&$top=3&$skiptoken=skiptoken
                value:
                - id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
                  name: suppressionName1
                  properties:
                    suppressionId: suppressionId1
                    ttl: 7.00:00:00
                  type: Microsoft.Advisor/suppressions
                - id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName2
                  name: suppressionName2
                  properties:
                    suppressionId: suppressionId2
                    ttl: 7.00:00:00
                  type: Microsoft.Advisor/suppressions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations:
    get:
      deprecated: false
      operationId: configurations_list_by_resource_group
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the Azure resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationListResult'
          description: OK. Successfully retrieved zero or more configurations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
          description: Error response describing why the operation failed.
      summary: Retrieve Azure Advisor configurations.
      tags:
      - Configurations
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2020-01-01
            resourceGroup: resourceGroup
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/Microsoft.Advisor/configurations/default
                  name: default
                  properties:
                    digests:
                    - actionGroupResourceId: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/microsoft.insights/actionGroups/actionGroupName
                      categories:
                      - HighAvailability
                      - Security
                      - Performance
                      - Cost
                      - OperationalExcellence
                      frequency: 30
                      language: en
                      name: digestConfigName
                      state: Active
                    exclude: false
                    lowCpuThreshold: "5"
                  type: Microsoft.Advisor/configurations
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations/{configurationName}:
    put:
      deprecated: false
      operationId: configurations_create_in_resource_group
      parameters:
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Advisor configuration name. Value must be 'default'
        in: path
        name: configurationName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConfigurationName
        x-ms-enum:
          modelAsString: true
          name: ConfigurationName
      - description: The name of the Azure resource group.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigData'
        description: The Azure Advisor configuration data structure.
        required: true
        x-body-name: configContract
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigData'
          description: Successfully created/overwrote configuration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
          description: Error response describing why the operation failed.
      summary: Create/Overwrite Azure Advisor configuration.
      tags:
      - Configurations
      x-ms-examples:
        PutConfigurations:
          parameters:
            api-version: 2020-01-01
            configContract:
              properties:
                digests:
                - actionGroupResourceId: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/microsoft.insights/actionGroups/actionGroupName
                  categories:
                  - HighAvailability
                  - Security
                  - Performance
                  - Cost
                  - OperationalExcellence
                  frequency: 30
                  language: en
                  name: digestConfigName
                  state: Active
                exclude: true
                lowCpuThreshold: "5"
            configurationName: default
            resourceGroup: resourceGroup
            subscriptionId: subscriptionId
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/Microsoft.Advisor/configurations/default
                name: default
                properties:
                  digests:
                  - actionGroupResourceId: /subscriptions/subscriptionId/resourceGroups/resourceGroup/providers/microsoft.insights/actionGroups/actionGroupName
                    categories:
                    - HighAvailability
                    - Security
                    - Performance
                    - Cost
                    - OperationalExcellence
                    frequency: 30
                    language: en
                    name: digestConfigName
                    state: Active
                  exclude: true
                  lowCpuThreshold: "5"
                type: Microsoft.Advisor/configurations
      x-codegen-request-body-name: configContract
      x-openapi-router-controller: openapi_server.controllers.configurations_controller
  /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}:
    get:
      deprecated: false
      description: Obtains details of a cached recommendation.
      operationId: recommendations_get
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRecommendationBase'
          description: OK. Successfully got recommendation detail.
      tags:
      - GetRecommendations
      x-ms-examples:
        GetRecommendationDetail:
          parameters:
            api-version: 2020-01-01
            recommendationId: recommendationId
            resourceUri: resourceUri
          responses:
            "200":
              body:
                id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId
                name: recommendationId
                properties:
                  category: HighAvailability
                  impact: Medium
                  impactedField: Microsoft.Compute/availabilitySets
                  impactedValue: armavset
                  lastUpdated: 2017-02-24T22:24:43.3216408Z
                  risk: Warning
                  shortDescription:
                    problem: This availability set is not configured for fault tolerance
                    solution: To ensure high availability add one or more virtual
                      machines to this availability set
                type: Microsoft.Advisor/recommendations
      x-openapi-router-controller: openapi_server.controllers.get_recommendations_controller
  /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}:
    delete:
      deprecated: false
      description: Enables the activation of a snoozed or dismissed recommendation.
        The snoozed or dismissed attribute of a recommendation is referred to as a
        suppression.
      operationId: suppressions_delete
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The name of the suppression.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: NoContent. The recommendation has been activated.
      tags:
      - Suppressions
      x-ms-examples:
        DeleteSuppression:
          parameters:
            api-version: 2020-01-01
            name: suppressionName1
            recommendationId: recommendationId
            resourceUri: resourceUri
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
    get:
      deprecated: false
      description: Obtains the details of a suppression.
      operationId: suppressions_get
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The name of the suppression.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContract'
          description: OK. Successfully got suppression detail.
      tags:
      - Suppressions
      x-ms-examples:
        GetSuppressionDetail:
          parameters:
            api-version: 2020-01-01
            name: suppressionName1
            recommendationId: recommendationId
            resourceUri: resourceUri
          responses:
            "200":
              body:
                id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
                name: suppressionName1
                properties:
                  suppressionId: suppressionId1
                  ttl: 7.00:00:00
                type: Microsoft.Advisor/suppressions
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
    put:
      deprecated: false
      description: Enables the snoozed or dismissed attribute of a recommendation.
        The snoozed or dismissed attribute is referred to as a suppression. Use this
        API to create or update the snoozed or dismissed status of a recommendation.
      operationId: suppressions_create
      parameters:
      - description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
      - description: The recommendation ID.
        in: path
        name: recommendationId
        required: true
        schema:
          type: string
      - description: The name of the suppression.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressionContract'
        description: "The snoozed or dismissed attribute; for example, the snooze\
          \ duration."
        required: true
        x-body-name: suppressionContract
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContract'
          description: OK. Successfully created suppression.
      tags:
      - Suppressions
      x-ms-examples:
        CreateSuppression:
          parameters:
            api-version: 2020-01-01
            name: suppressionName1
            recommendationId: recommendationId
            resourceUri: resourceUri
            suppressionContract:
              properties:
                ttl: 07:00:00:00
          responses:
            "200":
              body:
                id: /resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1
                name: suppressionName1
                properties:
                  suppressionId: suppresionId
                  ttl: 07:00:00:00
                type: Microsoft.Advisor/suppressions
      x-codegen-request-body-name: suppressionContract
      x-openapi-router-controller: openapi_server.controllers.suppressions_controller
components:
  parameters:
    apiVersionParameter:
      description: The version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: The Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ARMErrorResponseBody:
      description: ARM error response body.
      example:
        code: code
        message: message
      properties:
        code:
          description: Gets or sets the string that can be used to programmatically
            identify the error.
          title: code
          type: string
        message:
          description: Gets or sets the string that describes the error in detail
            and provides debugging information.
          title: message
          type: string
      title: ARMErrorResponseBody
      type: object
    ArmErrorResponse:
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ARMErrorResponseBody'
      title: ArmErrorResponse
      type: object
    ConfigData:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The Advisor configuration data structure.
      example:
        properties:
          lowCpuThreshold: "5"
          digests:
          - actionGroupResourceId: actionGroupResourceId
            name: name
            language: language
            categories:
            - HighAvailability
            - HighAvailability
            state: Active
            frequency: 0
          - actionGroupResourceId: actionGroupResourceId
            name: name
            language: language
            categories:
            - HighAvailability
            - HighAvailability
            state: Active
            frequency: 0
          exclude: true
      properties:
        properties:
          $ref: '#/components/schemas/ConfigDataProperties'
      title: ConfigData
    ConfigDataProperties:
      description: Configuration data properties
      example:
        lowCpuThreshold: "5"
        digests:
        - actionGroupResourceId: actionGroupResourceId
          name: name
          language: language
          categories:
          - HighAvailability
          - HighAvailability
          state: Active
          frequency: 0
        - actionGroupResourceId: actionGroupResourceId
          name: name
          language: language
          categories:
          - HighAvailability
          - HighAvailability
          state: Active
          frequency: 0
        exclude: true
      properties:
        digests:
          description: Advisor digest configuration. Valid only for subscriptions
          items:
            $ref: '#/components/schemas/DigestConfig'
          title: digests
          type: array
        exclude:
          description: "Exclude the resource from Advisor evaluations. Valid values:\
            \ False (default) or True."
          title: exclude
          type: boolean
        lowCpuThreshold:
          description: "Minimum percentage threshold for Advisor low CPU utilization\
            \ evaluation. Valid only for subscriptions. Valid values: 5 (default),\
            \ 10, 15 or 20."
          enum:
          - "5"
          - "10"
          - "15"
          - "20"
          title: lowCpuThreshold
          type: string
          x-ms-enum:
            modelAsString: true
            name: CpuThreshold
      title: ConfigDataProperties
      type: object
    ConfigurationListResult:
      description: The list of Advisor configurations.
      example:
        value:
        - properties:
            lowCpuThreshold: "5"
            digests:
            - actionGroupResourceId: actionGroupResourceId
              name: name
              language: language
              categories:
              - HighAvailability
              - HighAvailability
              state: Active
              frequency: 0
            - actionGroupResourceId: actionGroupResourceId
              name: name
              language: language
              categories:
              - HighAvailability
              - HighAvailability
              state: Active
              frequency: 0
            exclude: true
        - properties:
            lowCpuThreshold: "5"
            digests:
            - actionGroupResourceId: actionGroupResourceId
              name: name
              language: language
              categories:
              - HighAvailability
              - HighAvailability
              state: Active
              frequency: 0
            - actionGroupResourceId: actionGroupResourceId
              name: name
              language: language
              categories:
              - HighAvailability
              - HighAvailability
              state: Active
              frequency: 0
            exclude: true
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of configurations.
          title: nextLink
          type: string
        value:
          description: The list of configurations.
          items:
            $ref: '#/components/schemas/ConfigData'
          title: value
          type: array
      title: ConfigurationListResult
      type: object
    DigestConfig:
      description: Advisor Digest configuration entity
      example:
        actionGroupResourceId: actionGroupResourceId
        name: name
        language: language
        categories:
        - HighAvailability
        - HighAvailability
        state: Active
        frequency: 0
      properties:
        actionGroupResourceId:
          description: Action group resource id used by digest.
          title: actionGroupResourceId
          type: string
        categories:
          description: "Categories to send digest for. If categories are not provided,\
            \ then digest will be sent for all categories."
          items:
            enum:
            - HighAvailability
            - Security
            - Performance
            - Cost
            - OperationalExcellence
            type: string
            x-ms-enum:
              modelAsString: true
              name: Category
          title: categories
          type: array
        frequency:
          description: "Frequency that digest will be triggered, in days. Value must\
            \ be between 7 and 30 days inclusive."
          format: int32
          title: frequency
          type: integer
        language:
          description: "Language for digest content body. Value must be ISO 639-1\
            \ code for one of Azure portal supported languages. Otherwise, it will\
            \ be converted into one. Default value is English (en)."
          title: language
          type: string
        name:
          description: Name of digest configuration. Value is case-insensitive and
            must be unique within a subscription.
          title: name
          type: string
        state:
          description: State of digest configuration.
          enum:
          - Active
          - Disabled
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: DigestConfigState
      title: DigestConfig
      type: object
    MetadataEntity:
      description: The metadata entity contract.
      example:
        name: name
        id: id
        type: type
        properties:
          applicableScenarios:
          - Alerts
          - Alerts
          dependsOn:
          - dependsOn
          - dependsOn
          displayName: displayName
          supportedValues:
          - displayName: displayName
            id: id
          - displayName: displayName
            id: id
      properties:
        id:
          description: The resource Id of the metadata entity.
          title: id
          type: string
        name:
          description: The name of the metadata entity.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/MetadataEntityProperties'
        type:
          description: The type of the metadata entity.
          title: type
          type: string
      title: MetadataEntity
      type: object
    MetadataEntityListResult:
      description: The list of metadata entities
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            applicableScenarios:
            - Alerts
            - Alerts
            dependsOn:
            - dependsOn
            - dependsOn
            displayName: displayName
            supportedValues:
            - displayName: displayName
              id: id
            - displayName: displayName
              id: id
        - name: name
          id: id
          type: type
          properties:
            applicableScenarios:
            - Alerts
            - Alerts
            dependsOn:
            - dependsOn
            - dependsOn
            displayName: displayName
            supportedValues:
            - displayName: displayName
              id: id
            - displayName: displayName
              id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of metadata.
          title: nextLink
          type: string
        value:
          description: The list of metadata entities.
          items:
            $ref: '#/components/schemas/MetadataEntity'
          title: value
          type: array
      title: MetadataEntityListResult
      type: object
    MetadataEntityProperties:
      description: The metadata entity properties
      example:
        applicableScenarios:
        - Alerts
        - Alerts
        dependsOn:
        - dependsOn
        - dependsOn
        displayName: displayName
        supportedValues:
        - displayName: displayName
          id: id
        - displayName: displayName
          id: id
      properties:
        applicableScenarios:
          description: The list of scenarios applicable to this metadata entity.
          items:
            enum:
            - Alerts
            type: string
            x-ms-enum:
              modelAsString: true
              name: Scenario
          title: applicableScenarios
          type: array
        dependsOn:
          description: The list of keys on which this entity depends on.
          items:
            type: string
          title: dependsOn
          type: array
        displayName:
          description: The display name.
          title: displayName
          type: string
        supportedValues:
          description: The list of supported values.
          items:
            $ref: '#/components/schemas/MetadataSupportedValueDetail'
          title: supportedValues
          type: array
      title: MetadataEntityProperties
      type: object
    MetadataSupportedValueDetail:
      description: The metadata supported value detail.
      example:
        displayName: displayName
        id: id
      properties:
        displayName:
          description: The display name.
          title: displayName
          type: string
        id:
          description: The id.
          title: id
          type: string
      title: MetadataSupportedValueDetail
      type: object
    OperationDisplayInfo:
      description: The operation supported by Advisor.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          title: description
          type: string
        operation:
          description: "The action that users can perform, based on their permission\
            \ level."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft Advisor."
          title: provider
          type: string
        resource:
          description: Resource on which the operation is performed.
          title: resource
          type: string
      title: OperationDisplayInfo
      type: object
    OperationEntity:
      description: The operation supported by Advisor.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          title: name
          type: string
      title: OperationEntity
      type: object
    OperationEntityListResult:
      description: The list of Advisor operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of operations.
          title: nextLink
          type: string
        value:
          description: The list of operations.
          items:
            $ref: '#/components/schemas/OperationEntity'
          title: value
          type: array
      title: OperationEntityListResult
      type: object
    RecommendationProperties:
      description: The properties of the recommendation.
      example:
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        extendedProperties:
          key: extendedProperties
        metadata:
          key: "{}"
        recommendationTypeId: recommendationTypeId
        impact: High
        impactedValue: impactedValue
        risk: Error
        shortDescription:
          problem: problem
          solution: solution
        suppressionIds:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        category: HighAvailability
        impactedField: impactedField
      properties:
        category:
          description: The category of the recommendation.
          enum:
          - HighAvailability
          - Security
          - Performance
          - Cost
          - OperationalExcellence
          title: category
          type: string
          x-ms-enum:
            modelAsString: true
            name: category
        extendedProperties:
          additionalProperties:
            type: string
          description: Extended properties
          title: extendedProperties
          type: object
        impact:
          description: The business impact of the recommendation.
          enum:
          - High
          - Medium
          - Low
          title: impact
          type: string
          x-ms-enum:
            modelAsString: true
            name: impact
        impactedField:
          description: The resource type identified by Advisor.
          title: impactedField
          type: string
        impactedValue:
          description: The resource identified by Advisor.
          title: impactedValue
          type: string
        lastUpdated:
          description: The most recent time that Advisor checked the validity of the
            recommendation.
          format: date-time
          title: lastUpdated
          type: string
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: The recommendation metadata.
          title: metadata
          type: object
        recommendationTypeId:
          description: The recommendation-type GUID.
          title: recommendationTypeId
          type: string
        risk:
          description: The potential risk of not implementing the recommendation.
          enum:
          - Error
          - Warning
          - None
          title: risk
          type: string
          x-ms-enum:
            modelAsString: true
            name: risk
        shortDescription:
          $ref: '#/components/schemas/ShortDescription'
        suppressionIds:
          description: The list of snoozed and dismissed rules for the recommendation.
          items:
            format: uuid
            type: string
          title: suppressionIds
          type: array
      title: RecommendationProperties
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          title: name
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceRecommendationBase:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Advisor Recommendation.
      example:
        properties:
          lastUpdated: 2000-01-23T04:56:07.000+00:00
          extendedProperties:
            key: extendedProperties
          metadata:
            key: "{}"
          recommendationTypeId: recommendationTypeId
          impact: High
          impactedValue: impactedValue
          risk: Error
          shortDescription:
            problem: problem
            solution: solution
          suppressionIds:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: HighAvailability
          impactedField: impactedField
      properties:
        properties:
          $ref: '#/components/schemas/RecommendationProperties'
      title: ResourceRecommendationBase
    ResourceRecommendationBaseListResult:
      description: The list of Advisor recommendations.
      example:
        value:
        - properties:
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            extendedProperties:
              key: extendedProperties
            metadata:
              key: "{}"
            recommendationTypeId: recommendationTypeId
            impact: High
            impactedValue: impactedValue
            risk: Error
            shortDescription:
              problem: problem
              solution: solution
            suppressionIds:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category: HighAvailability
            impactedField: impactedField
        - properties:
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            extendedProperties:
              key: extendedProperties
            metadata:
              key: "{}"
            recommendationTypeId: recommendationTypeId
            impact: High
            impactedValue: impactedValue
            risk: Error
            shortDescription:
              problem: problem
              solution: solution
            suppressionIds:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category: HighAvailability
            impactedField: impactedField
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of recommendations.
          title: nextLink
          type: string
        value:
          description: The list of recommendations.
          items:
            $ref: '#/components/schemas/ResourceRecommendationBase'
          title: value
          type: array
      title: ResourceRecommendationBaseListResult
      type: object
    ShortDescription:
      description: A summary of the recommendation.
      example:
        problem: problem
        solution: solution
      properties:
        problem:
          description: The issue or opportunity identified by the recommendation.
          title: problem
          type: string
        solution:
          description: The remediation action suggested by the recommendation.
          title: solution
          type: string
      title: ShortDescription
      type: object
    SuppressionContract:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: "The details of the snoozed or dismissed rule; for example, the\
        \ duration, name, and GUID associated with the rule."
      example:
        properties:
          suppressionId: suppressionId
          ttl: ttl
      properties:
        properties:
          $ref: '#/components/schemas/SuppressionProperties'
      title: SuppressionContract
    SuppressionContractListResult:
      description: The list of Advisor suppressions.
      example:
        value:
        - properties:
            suppressionId: suppressionId
            ttl: ttl
        - properties:
            suppressionId: suppressionId
            ttl: ttl
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of suppressions.
          title: nextLink
          type: string
        value:
          description: The list of suppressions.
          items:
            $ref: '#/components/schemas/SuppressionContract'
          title: value
          type: array
      title: SuppressionContractListResult
      type: object
    SuppressionProperties:
      description: The properties of the suppression.
      example:
        suppressionId: suppressionId
        ttl: ttl
      properties:
        suppressionId:
          description: The GUID of the suppression.
          title: suppressionId
          type: string
        ttl:
          description: The duration for which the suppression is valid.
          title: ttl
          type: string
      title: SuppressionProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
