openapi: 3.0.0
info:
  description: "Jaypee University Of Information Technology, Waknaghat (H. P.) (http://www.juit.ac.in/)\
    \ is issuing Degree certificates through DigiLocker. These can be pulled by students\
    \ into their DigiLocker accounts. Currently, data for the year 2019 is made available\
    \ by Jaypee University Of Information Technology."
  termsOfService: https://apisetu.gov.in/terms.php
  title: "Jaypee University Of Information Technology, Waknaghat (H. P.)"
  version: 3.0.0
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://apisetu.gov.in/api_specification_v8/juit.yaml
    version: "3.0"
  x-providerName: apisetu.gov.in
  x-serviceName: juit
servers:
- url: https://apisetu.gov.in/juit/v3
paths:
  /dgcer/certificate:
    post:
      description: API to verify Degree/ Diploma Certificate.
      operationId: dgcer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dgcer_request'
        description: Request format
        x-body-name: body
      responses:
        "200":
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
          description: "The certificate data in response body in PDF, XML or JSON\
            \ format as requested in format parameter."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_401_response'
          description: Unauthorized access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_404_response'
          description: No record found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_500_response'
          description: Internal server error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_502_response'
          description: Bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_503_response'
          description: Service unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dgcer_504_response'
          description: Gateway timeout
      security:
      - apiKey: []
        clientId: []
      summary: Degree/ Diploma Certificate
      tags:
      - APIs
      x-openapi-router-controller: openapi_server.controllers.apis_controller
      x-codegen-request-body-name: body
components:
  responses:
    "400Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_400_response'
      description: Bad request
    "401Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_401_response'
      description: Unauthorized access
    "404Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_404_response'
      description: No record found
    "500Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_500_response'
      description: Internal server error
    "502Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_502_response'
      description: Bad gateway
    "503Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_503_response'
      description: Service unavailable
    "504Error":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dgcer_504_response'
      description: Gateway timeout
  schemas:
    AcademicCertificateSchema:
      properties:
        CertificateData:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData'
        IssuedBy:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy'
        IssuedTo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo'
        issueDate:
          example: ' '
          type: string
          xml:
            attribute: true
        issuedAt:
          example: ""
          type: string
          xml:
            attribute: true
        language:
          example: "99"
          minLength: 1
          type: string
          xml:
            attribute: true
        name:
          example: Secondary School Certificate
          minLength: 1
          type: string
          xml:
            attribute: true
        number:
          example: 1100044
          minLength: 1
          type: integer
          xml:
            attribute: true
        status:
          example: A
          minLength: 1
          type: string
          xml:
            attribute: true
        type:
          example: SSCER
          type: string
          xml:
            attribute: true
        validFromDate:
          example: ' '
          type: string
          xml:
            attribute: true
      required:
      - CertificateData
      - IssuedBy
      - IssuedTo
      - issueDate
      - issuedAt
      - language
      - name
      - number
      - status
      - type
      - validFromDate
      type: object
      xml:
        name: Certificate
    ConsentArtifactSchema:
      properties:
        consent:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent'
        signature:
          $ref: '#/components/schemas/ConsentArtifactSchema_signature'
      required:
      - consent
      - signature
      title: ConsentArtifactSchema
    dgcer_request_certificateParameters:
      properties:
        CNAME:
          description: CANDIDATE NAME
          example: RAMESH KUMAR
          title: CNAME
          type: string
        REGNO:
          description: REGN NO
          example: 8/300001
          title: REGNO
          type: string
        RROLL:
          description: ROLL NO
          example: "130001"
          title: RROLL
          type: string
        YEAR:
          description: YEAR
          example: "2020"
          title: YEAR
          type: string
      required:
      - CNAME
      - REGNO
      - RROLL
      - YEAR
      title: dgcer_request_certificateParameters
      type: object
    dgcer_request:
      properties:
        certificateParameters:
          $ref: '#/components/schemas/dgcer_request_certificateParameters'
        consentArtifact:
          $ref: '#/components/schemas/ConsentArtifactSchema'
        format:
          description: The format of the certificate in response.
          enum:
          - pdf
          title: format
          type: string
        txnId:
          description: A unique transaction id for this request in UUID format. It
            is used for tracking the request.
          example: f7f1469c-29b0-4325-9dfc-c567200a70f7
          format: uuid
          title: txnId
          type: string
      required:
      - format
      - txnId
      title: dgcer_request
      type: object
    dgcer_400_response:
      example:
        errorDescription: Please provide all mandatory parameters
        error: missing_parameter
      properties:
        error:
          enum:
          - missing_parameter
          - invalid_parameter
          - invalid_format
          - invalid_txnid
          - invalid_consentid
          title: error
          type: string
        errorDescription:
          enum:
          - Please provide all mandatory parameters
          - Bad request
          - The format parameter is invalid
          - The txnId parameter must be in UUID format
          - The consentId parameter must be in UUID format
          title: errorDescription
          type: string
      title: dgcer_400_response
      type: object
    dgcer_401_response:
      example:
        errorDescription: Authentication failed
        error: invalid_authentication
      properties:
        error:
          enum:
          - invalid_authentication
          - invalid_authorization
          title: error
          type: string
        errorDescription:
          enum:
          - Authentication failed
          - You are not authorized to use this API
          title: errorDescription
          type: string
      title: dgcer_401_response
      type: object
    dgcer_404_response:
      example:
        errorDescription: No record found
        error: record_not_found
      properties:
        error:
          enum:
          - record_not_found
          - url_not_found
          title: error
          type: string
        errorDescription:
          enum:
          - No record found
          - Your API url or path is incorrect
          title: errorDescription
          type: string
      title: dgcer_404_response
      type: object
    dgcer_500_response:
      example:
        errorDescription: Internal server error
        error: internal_server_error
      properties:
        error:
          enum:
          - internal_server_error
          title: error
          type: string
        errorDescription:
          enum:
          - Internal server error
          title: errorDescription
          type: string
      title: dgcer_500_response
      type: object
    dgcer_502_response:
      example:
        errorDescription: Publisher service returned an invalid response
        error: bad_gatewy
      properties:
        error:
          enum:
          - bad_gatewy
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service returned an invalid response
          title: errorDescription
          type: string
      title: dgcer_502_response
      type: object
    dgcer_503_response:
      example:
        errorDescription: Publisher service is temporarily unavailable
        error: service_unavailable
      properties:
        error:
          enum:
          - service_unavailable
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service is temporarily unavailable
          title: errorDescription
          type: string
      title: dgcer_503_response
      type: object
    dgcer_504_response:
      example:
        errorDescription: Publisher service did not respond in time
        error: gateway_timeout
      properties:
        error:
          enum:
          - gateway_timeout
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service did not respond in time
          title: errorDescription
          type: string
      title: dgcer_504_response
      type: object
    AcademicCertificateSchema_CertificateData_Examination:
      properties:
        month:
          example: MARCH
          minLength: 1
          title: month
          type: string
          xml:
            attribute: true
        name:
          example: SENION SCHOOL CERTIFICATE EXAMINATION
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        year:
          example: "2019"
          minLength: 1
          title: year
          type: string
          xml:
            attribute: true
      required:
      - month
      - name
      - year
      title: AcademicCertificateSchema_CertificateData_Examination
      type: object
    AcademicCertificateSchema_CertificateData_Performance_Subjects_inner:
      properties:
        code:
          example: "30"
          minLength: 1
          title: code
          type: string
          xml:
            attribute: true
        gp:
          example: ""
          title: gp
          type: string
          xml:
            attribute: true
        gpMax:
          example: ""
          title: gpMax
          type: string
          xml:
            attribute: true
        grade:
          example: A2
          minLength: 1
          title: grade
          type: string
          xml:
            attribute: true
        marksMax:
          title: marksMax
          type: integer
          xml:
            attribute: true
        marksMaxPractical:
          title: marksMaxPractical
          type: integer
          xml:
            attribute: true
        marksMaxTheory:
          title: marksMaxTheory
          type: integer
          xml:
            attribute: true
        marksPractical:
          example: 17
          title: marksPractical
          type: integer
          xml:
            attribute: true
        marksTheory:
          example: 70
          minLength: 1
          title: marksTheory
          type: integer
          xml:
            attribute: true
        marksTotal:
          example: 87
          minLength: 1
          title: marksTotal
          type: integer
          xml:
            attribute: true
        name:
          example: ECONOMICS
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
      required:
      - code
      - gp
      - gpMax
      - grade
      - marksMax
      - marksMaxPractical
      - marksMaxTheory
      - marksPractical
      - marksTheory
      - marksTotal
      - name
      title: AcademicCertificateSchema_CertificateData_Performance_Subjects_inner
      type: object
      xml:
        name: Subject
    AcademicCertificateSchema_CertificateData_Performance:
      properties:
        Subjects:
          items:
            $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance_Subjects_inner'
          title: Subjects
          type: array
          xml:
            name: Subjects
            wrapped: true
        cgpa:
          example: ""
          title: cgpa
          type: string
          xml:
            attribute: true
        cgpaMax:
          example: ""
          title: cgpaMax
          type: string
          xml:
            attribute: true
        grade:
          example: ""
          title: grade
          type: string
          xml:
            attribute: true
        marksMax:
          example: ""
          title: marksMax
          type: string
          xml:
            attribute: true
        marksTotal:
          example: ""
          title: marksTotal
          type: string
          xml:
            attribute: true
        percentage:
          example: ""
          title: percentage
          type: string
          xml:
            attribute: true
        result:
          example: PASS
          minLength: 1
          title: result
          type: string
          xml:
            attribute: true
        resultDate:
          example: 02-05-2019
          minLength: 1
          title: resultDate
          type: string
          xml:
            attribute: true
        updateDate:
          example: ""
          title: updateDate
          type: string
          xml:
            attribute: true
      required:
      - Subjects
      - cgpa
      - cgpaMax
      - grade
      - marksMax
      - marksTotal
      - percentage
      - result
      - resultDate
      - updateDate
      title: AcademicCertificateSchema_CertificateData_Performance
      type: object
    AcademicCertificateSchema_CertificateData_School:
      properties:
        code:
          example: "20020"
          minLength: 1
          title: code
          type: string
          xml:
            attribute: true
        name:
          example: DELHI PUBLIC SCHOOL GURGAON
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
      required:
      - code
      - name
      title: AcademicCertificateSchema_CertificateData_School
      type: object
    AcademicCertificateSchema_CertificateData:
      properties:
        Examination:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Examination'
        Performance:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_Performance'
        School:
          $ref: '#/components/schemas/AcademicCertificateSchema_CertificateData_School'
      required:
      - Examination
      - Performance
      - School
      title: AcademicCertificateSchema_CertificateData
      type: object
    AcademicCertificateSchema_IssuedBy_Organization_Address:
      properties:
        country:
          example: IN
          minLength: 1
          title: country
          type: string
          xml:
            attribute: true
        district:
          example: ""
          title: district
          type: string
          xml:
            attribute: true
        house:
          example: ""
          title: house
          type: string
          xml:
            attribute: true
        landmark:
          example: ""
          title: landmark
          type: string
          xml:
            attribute: true
        line1:
          example: ""
          title: line1
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          title: line2
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          title: locality
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          title: pin
          type: string
          xml:
            attribute: true
        state:
          example: ""
          title: state
          type: string
          xml:
            attribute: true
        type:
          example: ""
          title: type
          type: string
          xml:
            attribute: true
        vtc:
          example: ""
          title: vtc
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      title: AcademicCertificateSchema_IssuedBy_Organization_Address
      type: object
    AcademicCertificateSchema_IssuedBy_Organization:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization_Address'
        code:
          example: ""
          title: code
          type: string
          xml:
            attribute: true
        name:
          example: Central Board of Secondary Education
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        tin:
          example: ""
          title: tin
          type: string
          xml:
            attribute: true
        type:
          example: CG
          minLength: 1
          title: type
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - code
      - name
      - tin
      - type
      - uid
      title: AcademicCertificateSchema_IssuedBy_Organization
      type: object
    AcademicCertificateSchema_IssuedBy:
      properties:
        Organization:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedBy_Organization'
      required:
      - Organization
      title: AcademicCertificateSchema_IssuedBy
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Address:
      properties:
        country:
          example: IN
          minLength: 1
          title: country
          type: string
          xml:
            attribute: true
        district:
          example: ""
          title: district
          type: string
          xml:
            attribute: true
        house:
          example: ""
          title: house
          type: string
          xml:
            attribute: true
        landmark:
          title: landmark
          type: string
          xml:
            attribute: true
          example: null
        line1:
          example: ""
          title: line1
          type: string
          xml:
            attribute: true
        line2:
          example: ""
          title: line2
          type: string
          xml:
            attribute: true
        locality:
          example: ""
          title: locality
          type: string
          xml:
            attribute: true
        pin:
          example: ""
          title: pin
          type: string
          xml:
            attribute: true
        state:
          example: ""
          title: state
          type: string
          xml:
            attribute: true
        type:
          example: permanent
          minLength: 1
          title: type
          type: string
        vtc:
          example: ""
          title: vtc
          type: string
          xml:
            attribute: true
      required:
      - country
      - district
      - house
      - landmark
      - line1
      - line2
      - locality
      - pin
      - state
      - type
      - vtc
      title: AcademicCertificateSchema_IssuedTo_Person_Address
      type: object
    AcademicCertificateSchema_IssuedTo_Person_Photo:
      properties:
        format:
          title: format
          type: string
          xml:
            attribute: true
      required:
      - format
      title: AcademicCertificateSchema_IssuedTo_Person_Photo
      type: object
    AcademicCertificateSchema_IssuedTo_Person:
      properties:
        Address:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Address'
        Photo:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person_Photo'
        category:
          example: SC
          minLength: 1
          title: category
          type: string
          xml:
            attribute: true
        disabilityStatus:
          example: ""
          title: disabilityStatus
          type: string
          xml:
            attribute: true
        dob:
          example: 01-10-1988
          minLength: 1
          title: dob
          type: string
          xml:
            attribute: true
        email:
          example: ""
          title: email
          type: string
          xml:
            attribute: true
        gender:
          example: ""
          title: gender
          type: string
          xml:
            attribute: true
        maritalStatus:
          example: ""
          title: maritalStatus
          type: string
          xml:
            attribute: true
        motherName:
          example: SUNITA DEVI
          minLength: 1
          title: motherName
          type: string
          xml:
            attribute: true
        name:
          example: ANAND KUMAR
          minLength: 1
          title: name
          type: string
          xml:
            attribute: true
        phone:
          example: ""
          title: phone
          type: string
          xml:
            attribute: true
        religion:
          example: ""
          title: religion
          type: string
          xml:
            attribute: true
        swd:
          example: PRAMOD KUMAR
          minLength: 1
          title: swd
          type: string
          xml:
            attribute: true
        swdIndicator:
          example: S
          minLength: 1
          title: swdIndicator
          type: string
          xml:
            attribute: true
        title:
          example: ""
          title: title
          type: string
          xml:
            attribute: true
        uid:
          example: ""
          title: uid
          type: string
          xml:
            attribute: true
      required:
      - Address
      - Photo
      - category
      - disabilityStatus
      - dob
      - email
      - gender
      - maritalStatus
      - motherName
      - name
      - phone
      - religion
      - swd
      - swdIndicator
      - title
      - uid
      title: AcademicCertificateSchema_IssuedTo_Person
      type: object
    AcademicCertificateSchema_IssuedTo:
      properties:
        Person:
          $ref: '#/components/schemas/AcademicCertificateSchema_IssuedTo_Person'
      required:
      - Person
      title: AcademicCertificateSchema_IssuedTo
      type: object
    ConsentArtifactSchema_consent_data:
      properties:
        id:
          minLength: 1
          title: id
          type: string
      required:
      - id
      title: ConsentArtifactSchema_consent_data
      type: object
    ConsentArtifactSchema_consent_permission_dateRange:
      properties:
        from:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          title: from
          type: string
        to:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          title: to
          type: string
      required:
      - from
      - to
      title: ConsentArtifactSchema_consent_permission_dateRange
      type: object
    ConsentArtifactSchema_consent_permission_frequency:
      properties:
        repeats:
          title: repeats
          type: number
        unit:
          minLength: 1
          title: unit
          type: string
        value:
          title: value
          type: number
      required:
      - repeats
      - unit
      - value
      title: ConsentArtifactSchema_consent_permission_frequency
      type: object
    ConsentArtifactSchema_consent_permission:
      properties:
        access:
          minLength: 1
          title: access
          type: string
        dateRange:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_dateRange'
        frequency:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission_frequency'
      required:
      - access
      - dateRange
      - frequency
      title: ConsentArtifactSchema_consent_permission
      type: object
    ConsentArtifactSchema_consent_purpose:
      properties:
        description:
          minLength: 1
          title: description
          type: string
      required:
      - description
      title: ConsentArtifactSchema_consent_purpose
      type: object
    ConsentArtifactSchema_consent_user:
      properties:
        email:
          minLength: 1
          title: email
          type: string
        idNumber:
          minLength: 1
          title: idNumber
          type: string
        idType:
          minLength: 1
          title: idType
          type: string
        mobile:
          minLength: 1
          title: mobile
          type: string
      required:
      - email
      - idNumber
      - idType
      - mobile
      title: ConsentArtifactSchema_consent_user
      type: object
    ConsentArtifactSchema_consent:
      properties:
        consentId:
          description: A unique consent id in UUID format.
          example: ea9c43aa-7f5a-4bf3-a0be-e1caa24737ba
          format: uuid
          minLength: 1
          title: consentId
          type: string
        data:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataConsumer:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        dataProvider:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_data'
        permission:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_permission'
        purpose:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_purpose'
        timestamp:
          description: "Date time format in UTC, includes miliseconds YYYY-MM-DDThh:mm:ss.vZ"
          format: date-time
          minLength: 1
          title: timestamp
          type: string
        user:
          $ref: '#/components/schemas/ConsentArtifactSchema_consent_user'
      required:
      - consentId
      - data
      - dataConsumer
      - dataProvider
      - permission
      - purpose
      - timestamp
      - user
      title: ConsentArtifactSchema_consent
      type: object
    ConsentArtifactSchema_signature:
      properties:
        signature:
          title: signature
          type: string
      required:
      - signature
      title: ConsentArtifactSchema_signature
      type: object
  securitySchemes:
    apiKey:
      in: header
      name: X-APISETU-APIKEY
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKey
    clientId:
      in: header
      name: X-APISETU-CLIENTID
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_clientId
