openapi: 3.0.1
info:
  description: Azure Monitor client to create/update/delete Scheduled Query Rules
  title: Microsoft Insights
  version: 2018-04-16
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-scheduledQueryRule_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/scheduledQueryRules:
    get:
      description: List the Log Search rules within a subscription group.
      operationId: scheduled_query_rules_list_by_subscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchRuleResourceCollection'
          description: Successful request for a list of alert rules
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - scheduledQueryRules
      x-ms-examples:
        List rules:
          parameters:
            api-version: 2018-03-01
            resourceGroupName: gigtest
            subscriptionId: 14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                  location: West US
                  name: logalertfoo
                  properties:
                    action:
                      aznsAction:
                        actionGroup: []
                        customWebhookPayload: "{}"
                        emailSubject: Email Header
                      odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                      severity: "1"
                      trigger:
                        metricTrigger:
                          metricColumn: user_Id
                          metricTriggerType: Total
                          threshold: 2
                          thresholdOperator: LessThan
                        threshold: 2
                        thresholdOperator: GreaterThan
                    description: log alert description
                    enabled: "false"
                    lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                    provisioningState: Succeeded
                    schedule:
                      frequencyInMinutes: 15
                      timeWindowInMinutes: 15
                    source:
                      dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                      query: requests
                      queryType: ResultCount
                  tags: {}
                  type: Microsoft.Insights/scheduledQueryRules
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                  location: West US
                  name: logalertfoo
                  properties:
                    action:
                      aznsAction:
                        actionGroup: []
                        customWebhookPayload: "{}"
                        emailSubject: Email Header
                      odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                      severity: "1"
                      trigger:
                        threshold: 3
                        thresholdOperator: GreaterThan
                    description: log alert description
                    enabled: "true"
                    lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                    provisioningState: Succeeded
                    schedule:
                      frequencyInMinutes: 10
                      timeWindowInMinutes: 30
                    source:
                      dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                      query: requests
                      queryType: ResultCount
                  tags: {}
                  type: Microsoft.Insights/scheduledQueryRules
              headers: {}
      x-ms-odata: '#/definitions/LogSearchRuleResource'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.scheduled_query_rules_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/scheduledQueryRules:
    get:
      description: List the Log Search rules within a resource group.
      operationId: scheduled_query_rules_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation. For more information please
          see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchRuleResourceCollection'
          description: Successful request for a list of alert rules
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - scheduledQueryRules
      x-ms-examples:
        List rules:
          parameters:
            api-version: 2018-03-01
            resourceGroupName: gigtest
            subscriptionId: 14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                  location: West US
                  name: logalertfoo
                  properties:
                    action:
                      aznsAction:
                        actionGroup: []
                        customWebhookPayload: "{}"
                        emailSubject: Email Header
                      odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                      severity: "1"
                      trigger:
                        metricTrigger:
                          metricColumn: user_Id
                          metricTriggerType: Total
                          threshold: 2
                          thresholdOperator: LessThan
                        threshold: 2
                        thresholdOperator: GreaterThan
                    description: log alert description
                    enabled: "false"
                    lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                    provisioningState: Succeeded
                    schedule:
                      frequencyInMinutes: 15
                      timeWindowInMinutes: 15
                    source:
                      dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                      query: requests
                      queryType: ResultCount
                  tags: {}
                  type: Microsoft.Insights/scheduledQueryRules
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                  location: West US
                  name: logalertfoo
                  properties:
                    action:
                      aznsAction:
                        actionGroup: []
                        customWebhookPayload: "{}"
                        emailSubject: Email Header
                      odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                      severity: "1"
                      trigger:
                        threshold: 3
                        thresholdOperator: GreaterThan
                    description: log alert description
                    enabled: "true"
                    lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                    provisioningState: Succeeded
                    schedule:
                      frequencyInMinutes: 10
                      timeWindowInMinutes: 30
                    source:
                      dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                      query: requests
                      queryType: ResultCount
                  tags: {}
                  type: Microsoft.Insights/scheduledQueryRules
              headers: {}
      x-ms-odata: '#/definitions/LogSearchRuleResource'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.scheduled_query_rules_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/scheduledQueryRules/{ruleName}:
    delete:
      description: Deletes a Log Search rule
      operationId: scheduled_query_rules_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the rule.
        in: path
        name: rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful request to delete a  Log Search rule
        "204":
          content: {}
          description: No Content. Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - scheduledQueryRules
      x-ms-examples:
        Delete rule:
          parameters:
            api-version: 2018-04-16
            resourceGroupName: Rac46PostSwapRG
            ruleName: logalertfoo
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.scheduled_query_rules_controller
    get:
      description: Gets an Log Search rule
      operationId: scheduled_query_rules_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the rule.
        in: path
        name: ruleName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchRuleResource'
          description: Successful request to get a Log Search rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - scheduledQueryRules
      x-ms-examples:
        Get rule:
          parameters:
            api-version: 2018-04-16
            resourceGroupName: Rac46PostSwapRG
            ruleName: logalertfoo
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                location: West US
                name: logalertfoo
                properties:
                  action:
                    aznsAction:
                      actionGroup: []
                      customWebhookPayload: "{}"
                      emailSubject: Email Header
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                    severity: "1"
                    trigger:
                      threshold: 3
                      thresholdOperator: GreaterThan
                  description: log alert description
                  enabled: "true"
                  lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                  provisioningState: Succeeded
                  schedule:
                    frequencyInMinutes: 15
                    timeWindowInMinutes: 15
                  source:
                    dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                    query: requests
                    queryType: ResultCount
                tags: {}
                type: Microsoft.Insights/scheduledQueryRules
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.scheduled_query_rules_controller
    patch:
      description: Update log search Rule.
      operationId: scheduled_query_rules_update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the rule.
        in: path
        name: rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogSearchRuleResourcePatch'
        description: The parameters of the rule to update.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchRuleResource'
          description: Successful request to update an Log Search rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - scheduledQueryRules
      x-ms-examples:
        Patch Log Search Rule:
          parameters:
            api-version: 2018-04-16
            parameters:
              properties:
                enabled: "true"
            resourceGroupName: my-resource-group
            ruleName: logalertfoo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                location: West US
                name: logalertfoo
                properties:
                  action:
                    aznsAction:
                      actionGroup: []
                      customWebhookPayload: "{}"
                      emailSubject: Email Header
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                    severity: "1"
                    trigger:
                      metricTrigger:
                        metricColumn: ColumnName
                        metricTriggerType: Consecutive
                        threshold: 5
                        thresholdOperator: GreaterThan
                      threshold: 3
                      thresholdOperator: GreaterThan
                  description: log alert description
                  enabled: "true"
                  lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                  provisioningState: Succeeded
                  schedule:
                    frequencyInMinutes: 15
                    timeWindowInMinutes: 15
                  source:
                    dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                    query: requests
                    queryType: ResultCount
                tags: {}
                type: Microsoft.Insights/scheduledQueryRules
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.scheduled_query_rules_controller
    put:
      description: Creates or updates an log search rule.
      operationId: scheduled_query_rules_create_or_update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the rule.
        in: path
        name: rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogSearchRuleResource'
        description: The parameters of the rule to create or update.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchRuleResource'
          description: Successful request to update an Log Search rule
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchRuleResource'
          description: Created alert rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - scheduledQueryRules
      x-ms-examples:
        Create or Update rule - AlertingAction:
          parameters:
            api-version: 2018-04-16
            parameters:
              location: eastus
              properties:
                action:
                  aznsAction:
                    actionGroup: []
                    customWebhookPayload: "{}"
                    emailSubject: Email Header
                  odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                  severity: "1"
                  trigger:
                    metricTrigger:
                      metricColumn: Computer
                      metricTriggerType: Consecutive
                      threshold: 5
                      thresholdOperator: GreaterThan
                    threshold: 3
                    thresholdOperator: GreaterThan
                description: log alert description
                enabled: "true"
                lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                provisioningState: Succeeded
                schedule:
                  frequencyInMinutes: 15
                  timeWindowInMinutes: 15
                source:
                  dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.OperationalInsights/workspaces/sampleWorkspace
                  query: "Heartbeat | summarize AggregatedValue = count() by bin(TimeGenerated,\
                    \ 5m)"
                  queryType: ResultCount
              tags: {}
            resourceGroupName: Rac46PostSwapRG
            ruleName: logalertfoo
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                location: eastus
                name: logalertfoo
                properties:
                  action:
                    aznsAction:
                      actionGroup: []
                      customWebhookPayload: "{}"
                      emailSubject: Email Header
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                    severity: "1"
                    trigger:
                      metricTrigger:
                        metricColumn: Computer
                        metricTriggerType: Consecutive
                        threshold: 5
                        thresholdOperator: GreaterThan
                      threshold: 3
                      thresholdOperator: GreaterThan
                  description: log alert description
                  enabled: "true"
                  lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                  provisioningState: Succeeded
                  schedule:
                    frequencyInMinutes: 15
                    timeWindowInMinutes: 15
                  source:
                    dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.OperationalInsights/workspaces/sampleWorkspace
                    query: "Heartbeat | summarize AggregatedValue = count() by bin(TimeGenerated,\
                      \ 5m)"
                    queryType: ResultCount
                tags: {}
                type: Microsoft.Insights/scheduledQueryRules
              headers: {}
            "201":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/logalertfoo
                location: eastus
                name: logalertfoo
                properties:
                  action:
                    aznsAction:
                      actionGroup: []
                      customWebhookPayload: "{}"
                      emailSubject: Email Header
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                    severity: "1"
                    trigger:
                      threshold: 3
                      thresholdOperator: GreaterThan
                  description: log alert description
                  enabled: "true"
                  lastUpdatedTime: 2017-06-23T21:23:52.0221265Z
                  provisioningState: Succeeded
                  schedule:
                    frequencyInMinutes: 15
                    timeWindowInMinutes: 15
                  source:
                    dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.OperationalInsights/workspaces/sampleWorkspace
                    query: Heartbeat
                    queryType: ResultCount
                tags: {}
                type: Microsoft.Insights/scheduledQueryRules
              headers: {}
        Create or Update rule - AlertingAction with Cross-Resource:
          parameters:
            api-version: 2018-04-16
            parameters:
              location: eastus
              properties:
                action:
                  aznsAction:
                    actionGroup:
                    - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/actiongroups/test-ag
                    emailSubject: Cross Resource Mail!!
                  odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                  severity: "3"
                  trigger:
                    threshold: 5000
                    thresholdOperator: GreaterThan
                description: Sample Cross Resource alert
                enabled: "true"
                schedule:
                  frequencyInMinutes: 60
                  timeWindowInMinutes: 60
                source:
                  authorizedResources:
                  - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.OperationalInsights/workspaces/sampleWorkspace
                  - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                  dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                  query: "union requests, workspace(\"sampleWorkspace\").Update"
                  queryType: ResultCount
              tags: {}
            resourceGroupName: Rac46PostSwapRG
            ruleName: SampleCrossResourceAlert
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/SampleCrossResourceAlert
                location: eastus
                name: SampleCrossResourceAlert
                properties:
                  action:
                    aznsAction:
                      actionGroup:
                      - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/actiongroups/test-ag
                      emailSubject: Cross Resource Mail!!
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                    severity: "3"
                    trigger:
                      threshold: 5000
                      thresholdOperator: GreaterThan
                  description: Sample Cross Resource alert
                  enabled: "true"
                  lastUpdatedTime: 2018-09-04T06:27:58.3892575Z
                  provisioningState: Succeeded
                  schedule:
                    frequencyInMinutes: 60
                    timeWindowInMinutes: 60
                  source:
                    authorizedResources:
                    - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.OperationalInsights/workspaces/sampleWorkspace
                    - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                    dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                    query: "union requests, workspace(\"sampleWorkspace\").Update"
                    queryType: ResultCount
                tags: {}
                type: Microsoft.Insights/scheduledQueryRules
              headers: {}
            "201":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/scheduledQueryRules/SampleCrossResourceAlert
                location: eastus
                name: SampleCrossResourceAlert
                properties:
                  action:
                    aznsAction:
                      actionGroup:
                      - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/actiongroups/test-ag
                      emailSubject: Cross Resource Mail!!
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
                    severity: "3"
                    trigger:
                      threshold: 5000
                      thresholdOperator: GreaterThan
                  description: Sample Cross Resource alert
                  enabled: "true"
                  lastUpdatedTime: 2018-09-04T06:27:58.3892575Z
                  provisioningState: Succeeded
                  schedule:
                    frequencyInMinutes: 60
                    timeWindowInMinutes: 60
                  source:
                    authorizedResources:
                    - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.OperationalInsights/workspaces/sampleWorkspace
                    - /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                    dataSourceId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/components/sampleAI
                    query: "union requests, workspace(\"sampleWorkspace\").Update"
                    queryType: ResultCount
                tags: {}
                type: Microsoft.Insights/scheduledQueryRules
              headers: {}
        Create or Update rule - LogToMetricAction:
          parameters:
            api-version: 2018-04-16
            parameters:
              location: West Europe
              properties:
                action:
                  criteria:
                  - dimensions: []
                    metricName: Average_% Idle Time
                  odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.LogToMetricAction
                description: log to metric description
                enabled: "true"
                source:
                  dataSourceId: /subscriptions/af52d502-a447-4bc6-8cb7-4780fbb00490/resourceGroups/alertsweu/providers/Microsoft.OperationalInsights/workspaces/alertsweu
              tags: {}
            resourceGroupName: alertsweu
            ruleName: logtometricfoo
            subscriptionId: af52d502-a447-4bc6-8cb7-4780fbb00490
          responses:
            "200":
              body:
                id: /subscriptions/af52d502-a447-4bc6-8cb7-4780fbb00490/resourceGroups/alertsweu/providers/microsoft.insights/scheduledqueryrules/logtometricfoo
                location: westeurope
                name: logtometricfoo
                properties:
                  action:
                    criteria:
                    - dimensions: []
                      metricName: Average_% Idle Time
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.LogToMetricAction
                  description: log to metric description
                  displayName: logtometricfoo
                  enabled: "true"
                  lastUpdatedTime: 2018-09-04T06:31:56.3737792Z
                  provisioningState: Succeeded
                  source:
                    dataSourceId: /subscriptions/af52d502-a447-4bc6-8cb7-4780fbb00490/resourceGroups/alertsweu/providers/Microsoft.OperationalInsights/workspaces/alertsweu
                tags: {}
                type: microsoft.insights/scheduledqueryrules
              headers: {}
            "201":
              body:
                id: /subscriptions/af52d502-a447-4bc6-8cb7-4780fbb00490/resourceGroups/alertsweu/providers/microsoft.insights/scheduledqueryrules/logtometricfoo
                location: westeurope
                name: logtometricfoo
                properties:
                  action:
                    criteria:
                    - dimensions: []
                      metricName: Average_% Idle Time
                    odata.type: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.LogToMetricAction
                  description: log to metric description
                  enabled: "true"
                  lastUpdatedTime: 2018-09-04T06:27:58.3892575Z
                  provisioningState: Succeeded
                  source:
                    dataSourceId: /subscriptions/af52d502-a447-4bc6-8cb7-4780fbb00490/resourceGroups/alertsweu/providers/Microsoft.OperationalInsights/workspaces/alertsweu
                tags: {}
                type: microsoft.insights/scheduledqueryrules
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.scheduled_query_rules_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    FilterParameter:
      description: The filter to apply on the operation. For more information please
        see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RuleNameParameter:
      description: The name of the rule.
      in: path
      name: ruleName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Action:
      description: Action descriptor.
      discriminator:
        propertyName: odata.type
      example:
        odata.type: odata.type
      properties:
        odata.type:
          description: "Specifies the action. Supported values - AlertingAction, LogToMetricAction"
          title: odata.type
          type: string
      required:
      - odata.type
      title: Action
      type: object
    AlertSeverity:
      description: Severity Level of Alert
      enum:
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      title: AlertSeverity
      type: string
      x-ms-enum:
        modelAsString: true
        name: AlertSeverity
    AlertingAction:
      allOf:
      - $ref: '#/components/schemas/Action'
      description: Specify action need to be taken when rule type is Alert
      properties:
        aznsAction:
          $ref: '#/components/schemas/AzNsActionGroup'
        severity:
          $ref: '#/components/schemas/AlertSeverity'
        throttlingInMin:
          description: time (in minutes) for which Alerts should be throttled or suppressed.
          format: int32
          type: integer
        trigger:
          $ref: '#/components/schemas/TriggerCondition'
      required:
      - severity
      - trigger
      x-ms-discriminator-value: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction
    AzNsActionGroup:
      description: Azure action group
      properties:
        actionGroup:
          description: Azure Action Group reference.
          items:
            type: string
          title: actionGroup
          type: array
        customWebhookPayload:
          description: Custom payload to be sent for all webhook URI in Azure action
            group
          title: customWebhookPayload
          type: string
        emailSubject:
          description: Custom subject override for all email ids in Azure action group
          title: emailSubject
          type: string
      title: AzNsActionGroup
      type: object
    ConditionalOperator:
      description: Result Condition Evaluation criteria. Supported Values - 'GreaterThan'
        or 'LessThan' or 'Equal'.
      enum:
      - GreaterThan
      - LessThan
      - Equal
      title: ConditionalOperator
      type: string
      x-ms-enum:
        modelAsString: true
        name: ConditionalOperator
    Criteria:
      description: Specifies the criteria for converting log to metric.
      properties:
        dimensions:
          description: List of Dimensions for creating metric
          items:
            $ref: '#/components/schemas/Dimension'
          title: dimensions
          type: array
        metricName:
          description: Name of the metric
          title: metricName
          type: string
      required:
      - metricName
      title: Criteria
      type: object
    Dimension:
      description: Specifies the criteria for converting log to metric.
      properties:
        name:
          description: Name of the dimension
          title: name
          type: string
        operator:
          description: Operator for dimension values
          enum:
          - Include
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: operator
        values:
          description: List of dimension values
          items:
            type: string
          title: values
          type: array
      required:
      - name
      - operator
      - values
      title: Dimension
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    LogMetricTrigger:
      description: A log metrics trigger descriptor.
      properties:
        metricColumn:
          description: Evaluation of metric on a particular column
          title: metricColumn
          type: string
        metricTriggerType:
          $ref: '#/components/schemas/MetricTriggerType'
        threshold:
          description: The threshold of the metric trigger.
          format: double
          title: threshold
          type: number
        thresholdOperator:
          $ref: '#/components/schemas/ConditionalOperator'
      title: LogMetricTrigger
      type: object
    LogSearchRule:
      description: Log Search Rule Definition
      example:
        schedule:
          frequencyInMinutes: 0
          timeWindowInMinutes: 6
        action:
          odata.type: odata.type
        description: description
        lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: Succeeded
        source:
          dataSourceId: dataSourceId
          authorizedResources:
          - authorizedResources
          - authorizedResources
          query: query
          queryType: ResultCount
        enabled: "true"
      properties:
        action:
          $ref: '#/components/schemas/Action'
        description:
          description: The description of the Log Search rule.
          title: description
          type: string
        enabled:
          description: The flag which indicates whether the Log Search rule is enabled.
            Value should be true or false
          enum:
          - "true"
          - "false"
          title: enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: enabled
        lastUpdatedTime:
          description: Last time the rule was updated in IS08601 format.
          format: date-time
          readOnly: true
          title: lastUpdatedTime
          type: string
        provisioningState:
          description: Provisioning state of the scheduled query rule
          enum:
          - Succeeded
          - Deploying
          - Canceled
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
        schedule:
          $ref: '#/components/schemas/Schedule'
        source:
          $ref: '#/components/schemas/Source'
      required:
      - action
      - source
      title: LogSearchRule
      type: object
    LogSearchRulePatch:
      description: Log Search Rule Definition for Patching
      example:
        enabled: "true"
      properties:
        enabled:
          description: The flag which indicates whether the Log Search rule is enabled.
            Value should be true or false
          enum:
          - "true"
          - "false"
          title: enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: enabled
      title: LogSearchRulePatch
      type: object
    LogSearchRuleResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The Log Search Rule resource.
      example:
        properties:
          schedule:
            frequencyInMinutes: 0
            timeWindowInMinutes: 6
          action:
            odata.type: odata.type
          description: description
          lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: Succeeded
          source:
            dataSourceId: dataSourceId
            authorizedResources:
            - authorizedResources
            - authorizedResources
            query: query
            queryType: ResultCount
          enabled: "true"
      properties:
        properties:
          $ref: '#/components/schemas/LogSearchRule'
      required:
      - properties
      title: LogSearchRuleResource
    LogSearchRuleResourceCollection:
      description: Represents a collection of Log Search rule resources.
      example:
        value:
        - properties:
            schedule:
              frequencyInMinutes: 0
              timeWindowInMinutes: 6
            action:
              odata.type: odata.type
            description: description
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Succeeded
            source:
              dataSourceId: dataSourceId
              authorizedResources:
              - authorizedResources
              - authorizedResources
              query: query
              queryType: ResultCount
            enabled: "true"
        - properties:
            schedule:
              frequencyInMinutes: 0
              timeWindowInMinutes: 6
            action:
              odata.type: odata.type
            description: description
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Succeeded
            source:
              dataSourceId: dataSourceId
              authorizedResources:
              - authorizedResources
              - authorizedResources
              query: query
              queryType: ResultCount
            enabled: "true"
      properties:
        value:
          description: The values for the Log Search Rule resources.
          items:
            $ref: '#/components/schemas/LogSearchRuleResource'
          title: value
          type: array
      title: LogSearchRuleResourceCollection
      type: object
    LogSearchRuleResourcePatch:
      description: The log search rule resource for patch operations.
      example:
        properties:
          enabled: "true"
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/LogSearchRulePatch'
        tags:
          description: Resource tags
          title: tags
          type: object
      title: LogSearchRuleResourcePatch
      type: object
    LogToMetricAction:
      allOf:
      - $ref: '#/components/schemas/Action'
      description: Specify action need to be taken when rule type is converting log
        to metric
      properties:
        criteria:
          description: Criteria of Metric
          items:
            $ref: '#/components/schemas/Criteria'
          type: array
      required:
      - criteria
      x-ms-discriminator-value: Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.LogToMetricAction
    MetricTriggerType:
      description: Metric Trigger Evaluation Type
      enum:
      - Consecutive
      - Total
      title: MetricTriggerType
      type: string
      x-ms-enum:
        modelAsString: true
        name: metricTriggerType
    QueryType:
      description: Set value to 'ResultAccount'
      enum:
      - ResultCount
      title: QueryType
      type: string
      x-ms-enum:
        modelAsString: true
        name: QueryType
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    Schedule:
      description: Defines how often to run the search and the time interval.
      example:
        frequencyInMinutes: 0
        timeWindowInMinutes: 6
      properties:
        frequencyInMinutes:
          description: frequency (in minutes) at which rule condition should be evaluated.
          format: int32
          title: frequencyInMinutes
          type: integer
        timeWindowInMinutes:
          description: Time window for which data needs to be fetched for query (should
            be greater than or equal to frequencyInMinutes).
          format: int32
          title: timeWindowInMinutes
          type: integer
      required:
      - frequencyInMinutes
      - timeWindowInMinutes
      title: Schedule
      type: object
    Source:
      description: Specifies the log search query.
      example:
        dataSourceId: dataSourceId
        authorizedResources:
        - authorizedResources
        - authorizedResources
        query: query
        queryType: ResultCount
      properties:
        authorizedResources:
          description: List of  Resource referred into query
          items:
            type: string
          title: authorizedResources
          type: array
        dataSourceId:
          description: The resource uri over which log search query is to be run.
          title: dataSourceId
          type: string
        query:
          description: Log search query. Required for action type - AlertingAction
          title: query
          type: string
        queryType:
          $ref: '#/components/schemas/QueryType'
      required:
      - dataSourceId
      title: Source
      type: object
    TriggerCondition:
      description: The condition that results in the Log Search rule.
      properties:
        metricTrigger:
          $ref: '#/components/schemas/LogMetricTrigger'
        threshold:
          description: Result or count threshold based on which rule should be triggered.
          format: double
          title: threshold
          type: number
        thresholdOperator:
          $ref: '#/components/schemas/ConditionalOperator'
      required:
      - threshold
      - thresholdOperator
      title: TriggerCondition
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
